# Ch09 Excel Automation

## Getting Started with xlwings

### Using Excel as Data Viewer

In [1]:
# First, let's import the packages that we"ll use in this chapter
import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

Rebuilding cache of generated files for COM support...
Checking 00020813-0000-0000-C000-000000000046x0x1x9
Could not add module (IID('{00020813-0000-0000-C000-000000000046}'), 0, 1, 9) - <class 'AttributeError'>: module 'win32com.gen_py.00020813-0000-0000-C000-000000000046x0x1x9' has no attribute 'CLSIDToClassMap'
Done.

In [2]:
# Let's create a DataFrame based on pseudorandom numbers and
# with enough rows that only the head and tail are shown
df = pd.DataFrame(data=np.random.randn(100, 5),
                  columns=[f"Trial {i}" for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0  -0.225002  0.851399 -0.909325  0.329495  0.728308
1  -0.911478 -1.160129  0.080315 -1.701057 -0.445500
2   1.818267  1.297671  2.155353  1.365655 -0.117336
3  -0.520013  0.933791 -0.720360 -0.671146  1.016690
4   0.414235  1.706502 -0.709179  0.605722  0.787481
..       ...       ...       ...       ...       ...
95  2.700684  0.535651 -0.577830 -0.241858  1.750179
96 -1.575480 -1.489791  1.349500 -1.583081  1.589966
97 -0.715506  0.417729  0.529776  1.053769 -0.242427
98  1.513117  0.070048  1.098649  0.265242 -0.442403
99 -0.412037 -0.792071  1.603832  1.153954 -0.528896

[100 rows x 5 columns]

In [3]:
# View the DataFrame in Excel
xw.view(df)

### The Excel Object Model

In [4]:
# Create a new empty workbook and print its name. This is the
# book we will use to run most of the code samples in this chapter.
book = xw.Book()
book.name

'Book2'

In [5]:
# Accessing the sheets collection
book.sheets

Sheets([<Sheet [Book2]Sheet1>])

In [6]:
# Get a sheet object by index or name. You will need to adjust
# "Sheet1" if your sheet is called differently.
sheet1 = book.sheets[0]
sheet1 = book.sheets["Sheet1"]

In [7]:
sheet1.range("A1")

In [8]:
# Most common tasks: write values...
sheet1.range("A1").value = [[1, 2],
                            [3, 4]]
sheet1.range("A4").value = "Hello!"

In [9]:
# ... and read values
sheet1.range("A1:B2").value

[[1.0, 2.0], [3.0, 4.0]]

In [10]:
sheet1.range("A4").value

'Hello!'

In [11]:
# Indexing
sheet1.range("A1:B2")[0, 0]

In [12]:
# Slicing
sheet1.range("A1:B2")[:, 1]

In [13]:
# Single cell: A1 notation
sheet1["A1"]

In [14]:
# Multiple cells: A1 notation
sheet1["A1:B2"]

In [15]:
# Single cell: indexing
sheet1[0, 0]

In [16]:
# Multiple cells: slicing
sheet1[:2, :2]

In [17]:
# D10 via sheet indexing
sheet1[9, 3]

In [18]:
# D10 via range object
sheet1.range((10, 4))

In [19]:
# D10:F11 via sheet slicing
sheet1[9:11, 3:6]

In [20]:
# D10:F11 via range object
sheet1.range((10, 4), (11, 6))

In [21]:
sheet1["A1"].sheet.book.app

In [22]:
# Get one app object from the open workbook
# and create an additional invisible app instance
visible_app = sheet1.book.app
invisible_app = xw.App(visible=False)

In [23]:
# List the book names that are open in each instance
# by using a list comprehension
[book.name for book in visible_app.books]

['Book1', 'Book2']

In [24]:
[book.name for book in invisible_app.books]

['Book3']

In [25]:
# An app key represents the process ID (PID)
xw.apps.keys()

[28116, 29064]

In [26]:
# It can also be accessed via the pid attribute
xw.apps.active.pid

28116

In [27]:
# Work with the book in the invisible Excel instance
invisible_book = invisible_app.books[0]
invisible_book.sheets[0]["A1"].value = "Created by an invisible app."

In [28]:
# Save the Excel workbook in the xl directory
invisible_book.save("xl/invisible.xlsx")

In [29]:
# Quit the invisible Excel instance
invisible_app.quit()

### Running VBA Code

In [30]:
vba_book = xw.Book("xl/vba.xlsm")

In [31]:
# Instantiate a macro object with the VBA function
mysum = vba_book.macro("Module1.MySum")
# Call a VBA function
mysum(5, 4)

9.0

In [32]:
# It works the same with a VBA Sub procedure
show_msgbox = vba_book.macro("Module1.ShowMsgBox")
show_msgbox("Hello xlwings!")

In [33]:
# Close the book again (make sure to close the MessageBox first)
vba_book.close()

## Converters, Options and Collections

### Working with DataFrames

In [34]:
data=[["Mark", 55, "Italy", 4.5, "Europe"],
      ["John", 33, "USA", 6.7, "America"]]
df = pd.DataFrame(data=data,
                  columns=["name", "age", "country",
                           "score", "continent"],
                  index=[1001, 1000])
df.index.name = "user_id"
df

         name  age country  score continent
user_id
1001     Mark   55   Italy    4.5    Europe
1000     John   33     USA    6.7   America

In [ ]:
sheet1["A6"].value = df

In [ ]:
sheet1["B10"].options(header=False, index=False).value = df

In [ ]:
df2 = sheet1["A6"].expand().options(pd.DataFrame).value
df2

In [ ]:
# If you want the index to be an integer index,
# you can change its data type
df2.index = df2.index.astype(int)
df2

In [ ]:
# By setting index=False, it will put all the values from Excel into
# the data part of the DataFrame and will use the default index
sheet1["A6"].expand().options(pd.DataFrame, index=False).value

### Converters and Options

In [ ]:
# Horizontal range (one-dimensional)
sheet1["A1:B1"].value

In [ ]:
# Vertical range (one-dimensional)
sheet1["A1:A2"].value

In [ ]:
# Horizontal range (two-dimensional)
sheet1["A1:B1"].options(ndim=2).value

In [ ]:
# Vertical range (two-dimensional)
sheet1["A1:A2"].options(ndim=2).value

In [ ]:
# Using the NumPy array converter behaves the same:
# vertical range leads to a one-dimensional array
sheet1["A1:A2"].options(np.array).value

In [ ]:
# Preserving the column orientation
sheet1["A1:A2"].options(np.array, ndim=2).value

In [ ]:
# If you need to write out a list vertically,
# the "transpose" option comes in handy
sheet1["D1"].options(transpose=True).value = [100, 200]

In [ ]:
# Write out some sample data
sheet1["A13"].value = [dt.datetime(2020, 1, 1), None, 1.0]

In [ ]:
# Read it back using the default options
sheet1["A13:C13"].value

In [ ]:
# Read it back using non-default options
sheet1["A13:C13"].options(empty="NA",
                          dates=dt.date,
                          numbers=int).value

### Charts, Pictures and Defined Names

In [ ]:
sheet1["A15"].value = [[None, "North", "South"],
                       ["Last Year", 2, 5],
                       ["This Year", 3, 6]]

In [ ]:
chart = sheet1.charts.add(top=sheet1["A19"].top,
                          left=sheet1["A19"].left)
chart.chart_type = "column_clustered"
chart.set_source_data(sheet1["A15"].expand())

In [ ]:
# Read in the chart data as DataFrame
df = sheet1["A15"].expand().options(pd.DataFrame).value
df

In [ ]:
# Enable Matplotlib by using the notebook magic command
# and switch to the "seaborn" style
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
# The pandas plot method returns an "axis" object from 
# where you can get the figure. "T" transposes the
# DataFrame to bring the plot into the desired orientation.
ax = df.T.plot.bar()
fig = ax.get_figure()

In [ ]:
# Send the plot to Excel
plot = sheet1.pictures.add(fig, name="SalesPlot",
                           top=sheet1["H19"].top,
                           left=sheet1["H19"].left)
# Let's scale the plot to 70%
plot.width, plot.height = plot.width * 0.7, plot.height * 0.7

In [ ]:
ax = (df + 1).T.plot.bar()
plot = plot.update(ax.get_figure())

In [ ]:
# The book scope is the default scope
sheet1["A1:B2"].name = "matrix1"

In [ ]:
# For the sheet scope, prepend the sheet name with
# an exclamation point
sheet1["B10:E11"].name = "Sheet1!matrix2"

In [ ]:
# Now you can access the range by name
sheet1["matrix1"]

In [ ]:
# If you access the names collection via the "sheet1" object,
# it contains only names with that sheet's scope
sheet1.names

In [ ]:
# If you access the names collection via the "book" object,
# it contains all names, including book and sheet scope
book.names

In [ ]:
# Names have various methods and attributes.
# You can, for example, get the respective range object.
book.names["matrix1"].refers_to_range

In [ ]:
# If you want to assign a name to a constant
# or a formula, use the "add" method
book.names.add("EURUSD", "=1.1151")

## Advanced Topics

### Performance

In [ ]:
# Add a new sheet and write 150 values
# to it to have something to work with
sheet2 = book.sheets.add()
sheet2["A1"].value = np.arange(150).reshape(30, 5)

In [ ]:
%%time
# This makes 150 cross-application calls
for cell in sheet2["A1:E30"]:
    cell.value += 1

In [ ]:
%%time
# This makes just two cross-application calls
values = sheet2["A1:E30"].options(np.array).value
sheet2["A1"].value = values + 1

In [ ]:
# With raw values, you must provide the full
# target range, sheet["A35"] doesn't work anymore
sheet1["A35:B36"].options("raw").value = [[1, 2], [3, 4]]