# List
List is mutable

In [18]:
nums= [1, 2, 3, 10, 12, 1, 2, 3] # list of numbers

print(nums)
# lists are indexed
print(nums[0])

[1, 2, 3, 10, 12, 1, 2, 3]
1

In [4]:
print(nums)
nums.append(78)
print(nums)

[1, 2, 3, 10, 12, 99]
[1, 2, 3, 10, 12, 99, 78]

In [9]:
print(nums)
nums[1] = 898
print(nums)

[1, 2, 3, 10, 12, 99, 78]
[1, 898, 3, 10, 12, 99, 78]

# Tuple

In [19]:
tup = (1, 34, 2, 78, 99, 1, 2) # tuple of numbers

In [11]:
print(tup[0])

tup.append(88) # there no function called append in tuple

1

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
print(tup)
tup[1] = 654
print(tup)

(1, 34, 2, 78, 99)

TypeError: 'tuple' object does not support item assignment

In [20]:
print(tup)

(1, 34, 2, 78, 99, 1, 2)

# Set

In [14]:
st = { 1, 3, 4, 6, 8 }

print(st)
print(st[1])

{1, 3, 4, 6, 8}

TypeError: 'set' object is not subscriptable

In [15]:
print(st)
st.add(23)
print(st)

{1, 3, 4, 6, 8}
{1, 3, 4, 6, 23, 8}

In [16]:
st1 = { 1, 2, 3, 1, 2, 3 }
print(st1)

{1, 2, 3}

# Dictionary

In [21]:
dc = {
      1 : 'abc',
      2 : 'pqr',
      3: 'lmn',
      4: 'xyz',
      5:' stu'
}

print(dc)

{1: 'abc', 2: 'pqr', 3: 'lmn', 4: 'xyz', 5: ' stu'}

In [22]:
print(dc[1]) # 1 is not the index but it is the key of dc

abc

In [23]:
dc1 = {
    'a' : 100,
    'b': 200
}

print(dc1[1])

KeyError: 1

In [26]:
print(dc1['a']) # a is key
print(dc1['b'])
print(dc1['c'])

100
200

KeyError: 'c'

In [32]:
mx_lst = ['abxc', 1, 67.89, True]
print(mx_lst)

mx_tp = 'abxc', 1, 67.89, True
print(mx_tp)

mx_st = { 1, 'abc', True, 90.90, True }
print(mx_st)

mx_dc = {
    'a' : 100,
    'b' : True,
    'c' : lambda a: a**2,
    1: 'abc'
}
print(mx_dc)

['abxc', 1, 67.89, True]
('abxc', 1, 67.89, True)
{'abc', 1, 90.9}
{'a': 100, 'b': True, 'c': <function <lambda> at 0x7c5f9961bd00>, 1: 'abc'}

In [33]:
str = 'abcdefghijk'

print(str[1])

b

# Difference

| Feature              | **List**                           | **Tuple**                          | **Set**                            | **Dictionary**                         |
|----------------------|------------------------------------|------------------------------------|------------------------------------|----------------------------------------|
| **Definition**        | Ordered, mutable collection of elements | Ordered, immutable collection of elements | Unordered, mutable collection of unique elements | Unordered, mutable collection of key-value pairs |
| **Syntax**            | `[]` or `list()`                  | `()` or `tuple()`                  | `{}` or `set()`                    | `{key: value}` or `dict()`             |
| **Order**             | Maintains insertion order         | Maintains insertion order          | Unordered                         | Maintains insertion order (since Python 3.7) |
| **Mutability**        | Mutable (can be changed)          | Immutable (cannot be changed)      | Mutable (can be changed)           | Keys are immutable, but values are mutable |
| **Duplicates**        | Allows duplicates                 | Allows duplicates                 | Does not allow duplicates          | Keys are unique, values can have duplicates |
| **Indexing**          | Supports indexing and slicing     | Supports indexing and slicing      | Does not support indexing          | Access by key (not index)              |
| **Iteration**         | Iterable                          | Iterable                          | Iterable                          | Iterable (keys, values, or items)      |
| **Operations**        | Various methods like `append()`, `pop()`, `extend()`, etc. | Limited methods like `count()`, `index()` | Set operations like `union()`, `intersection()`, `difference()`, etc. | Operations like `get()`, `keys()`, `values()`, `items()`, `update()` |
| **Use Case**          | General-purpose, ordered collection of data | Use when data should not change (e.g., coordinates, configurations) | Fast membership tests, removing duplicates | Key-value pairs for quick lookups, mappings, or association |
| **Example**           | `[1, 2, 3]`                      | `(1, 2, 3)`                       | `{1, 2, 3}`                       | `{"name": "Alice", "age": 25}`         |