 [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/01_Getting_Started.ipynb)

# Tuples

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

## Notes

* Used to store multiple items in a single variable
* It is:
  * Ordered
  * Unchangeable
* Written with `(` and `)`

## Importance

* Speed up operations because it's immutable
* Immutable sequences, often used for fixed data, like column names or coordinates in Matplotlib plots

## Examples

We're going to create a tuple of data science skills.

In [1]:
# Define a tuple of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills

('python', 'sql', 'statistics', 'tableau')


#### Get item

Getting an element from a tuple using indexing. To get the first item from a tuple we'll get it at the index of 0.

In [2]:
# Accessing an element
job_skills[0]

'python'


#### Slicing

To only get part of a the tuple we'll use slicing. To only get 'python' and 'sql' values we'll get everything before the index of 2.

In [3]:
# Define a set of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills[:2]

('python', 'sql')


#### Add Items

Since tuples are immutable (not changeable), they don't have a built-in append() method. But there are two methods:

In [4]:
job_skills.append('excel')

AttributeError: 'tuple' object has no attribute 'append'



**Method 1: Turn tuple into a list.**

   - First turn it into a list
   - Then use the append() method
   - Convert the list to a tuple

In [5]:
# Turn tuple into a list
job_skills_list = list(job_skills)

# Add skill to the list 
job_skills_list.append('excel')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_list)

job_skills_tuple

('python', 'sql', 'statistics', 'tableau', 'excel')



**Method 2: Add tuple to a tuple.**

You can add tuples to tuples, which is good if you want to add one or more items.

  -  Create a new tuple with the items
  -  Add it to the existing tuple

ðŸª² **Debugging**

**This is an intentional mistake**

This is used to demonstrate debugging.

This won't run an error but it's not returning what we intended. Remember to double check which variable you are returning.

Mistake: We are accidentally returning job_skills_new_tuple instead of the original tuple job_skills

job_skills.remove('r')

Steps to Debug:

  1.  Look at the actual error, can you tell what the problem is?
  2.  If not, then look it up:
  3.  Use a chatbot like ChatGPT or Claude
  4.  Look it up using Google

In [6]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills_new_tuple

('r', 'postgresql')

Note: To fix this just call the correct variable job_skills.

In [7]:
job_skills

('python', 'sql', 'statistics', 'tableau', 'r', 'postgresql')



If you rerun the entire cell (below) with the correct variable called at the end you will accidentally add a tuple to your tuple, and create duplicates. This is because you are adding the tuple to it again with these lines:

```python
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

In [8]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills

('python',
 'sql',
 'statistics',
 'tableau',
 'r',
 'postgresql',
 'r',
 'postgresql')


#### Join()

We already went over this for lists but remember the .join method is used for concatenating a sequence of strings together with a specified separator. You need to add a specific separator (e.g. ', ') between each element during the concatenation process.

For tuples specifically we are combining multiple strings from a tuple.

In [9]:
skills = ('Python', 'SQL', 'Excel')

In [10]:
# f-string formatting
print(f'I have these skills: {", ".join(skills)}')

I have these skills: Python, SQL, Excel


#### Remove Items

Since tuples are **unchangeable** you can't remove items for it. But you can use a similar workaround that we used for changing and adding tuple items.

In [11]:
skills.remove('Excel')

AttributeError: 'tuple' object has no attribute 'remove'


#### Remove()

Convert the tuple into a list, remove the item using remove() method, and convert it back to a tuple.

In [12]:
# Turn tuple into a list
job_skills_remove = list(job_skills)

# Remove skill from the list 
job_skills_remove.remove('tableau')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_remove)

job_skills_tuple

('python', 'sql', 'statistics', 'r', 'postgresql', 'r', 'postgresql')


Del

Or you can use the del keyword to delete the tuple completely. If we try to show the job_skills are we delete it, it will return an error.

In [13]:
del job_skills
job_skills

NameError: name 'job_skills' is not defined


#### range()

Now these 4 container data types we covered over the past few notebooks are not the only container data types.

The range() function generates a sequence of numbers. It is commonly used for looping a specific number of times in for loops.

In [14]:
range(5)

range(0, 5)

Note: range() isn't a tuple, it's its own datatype; but it's dang close and short, so we'll cover it here.

In [15]:
type(range(5))

range

But let's actually see inside of this object by converting it to a tuple.

In [16]:
tuple(range(5))

(0, 1, 2, 3, 4)



Syntax: The range() function can be called with one, two, or three arguments:

  -  range(stop): Generates numbers from 0 to stop-1 (read: stop minus 1)
  -  range(start, stop): Generates numbers from start to stop-1
  -  range(start, stop, step): Generates numbers from start to stop-1

In [17]:
list(range(2,5))

[2, 3, 4]

In [18]:
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]