In [2]:
print("Hi")

Hi

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.array([[0,1,2],[3,4,5],[6,7,8]]))

In [8]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [12]:
df.iloc[0,0:3]

0    0
1    1
2    2
Name: 0, dtype: int64

In [13]:
df.iloc[0:2,0:3]

   0  1  2
0  0  1  2
1  3  4  5

In [20]:
df.index=["row1","row2","row3"]

In [21]:
df

      0  1  2
row1  0  1  2
row2  3  4  5
row3  6  7  8

In [24]:
df.index=["row1","row2","row3"].columns=["col1","col2","col3"]

AttributeError: 'list' object has no attribute 'columns'

In [25]:
df.columns=["col1","col2","col3"]

In [27]:
df.(index=["row1","row2","row3"],columns=["col1","col2","col3"])

SyntaxError: invalid syntax (3529947566.py, line 1)

Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [28]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [29]:
exam_data

{'name': ['Anastasia',
  'Dima',
  'Katherine',
  'James',
  'Emily',
  'Michael',
  'Matthew',
  'Laura',
  'Kevin',
  'Jonas'],
 'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [34]:
df=pd.DataFrame(exam_data,columns=["name","score","attempts","qualify"],index=["a","b","c","d","e","f","g","h","i"])

ValueError: Length of values (10) does not match length of index (9)

In [35]:
df=pd.DataFrame(exam_data,columns=["name","score","attempts","qualify"],index=["a","b","c","d","e","f","g","h","i","j"])

In [37]:
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [40]:
labels=["a","b","c","d","e","f","g","h","i","j"]
df=pd.DataFrame(exam_data,columns=["name","score","attempts","qualify"],index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Trainer approach

In [41]:
labels=["a","b","c","d","e","f","g","h","i","j"]
df=pd.DataFrame(exam_data,index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [44]:
lables=[1,2,3,4,5,6,7,8,9,10]
# df.set_index(lables)
df.columns(["col1","col2","col3","col4"])

TypeError: 'Index' object is not callable

Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [55]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

lables=["a","b","c","d","e","f","g","h","i","j"]

df=pd.DataFrame(exam_data,index=lables)
print(df)
df.loc[(df['attempts'] < 2 and df['score'] > 15) ]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [58]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

lables=["a","b","c","d","e","f","g","h","i","j"]

df=pd.DataFrame(exam_data,index=lables)
print(df)
df.loc[(df['attempts'] < 2 & df['score'] > 15) ]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [59]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

lables=["a","b","c","d","e","f","g","h","i","j"]

df=pd.DataFrame(exam_data,index=lables)
print(df)
df.loc[(df['attempts'] < 2) & (df['score'] > 15) ]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [67]:
df["a":"c"][("name","qualify")]

KeyError: ('name', 'qualify')

In [68]:
df["a":"c"][["name","qualify"]]

        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes

In [70]:
df.loc[ :"name"]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Trainer approach

In [65]:
df=pd.DataFrame(exam_data,index=lables)

print(df[(df['attempts'] < 2) & (df['score'] >15)])

print(df.query('attempts <2 and score > 15'))

    name  score  attempts qualify
j  Jonas   19.0         1     yes
    name  score  attempts qualify
j  Jonas   19.0         1     yes

Exerise 3: Change the value in row 'd' to 11.5¶

In [122]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

lables=["a","b","c","d","e","f","g","h","i","j"]

df=pd.DataFrame(exam_data,index=lables)
print(df)

print(df.loc[["d"],["score"]])

df.loc[["d"],["score"]] = 11.5

print(df.loc[["d"],["score"]])

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
   score
d    NaN
   score
d   11.5
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [123]:
df["name"].head(5)

a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
Name: name, dtype: object

In [124]:
df["a":"c"][["name","score"]]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5

In [130]:
df["c":]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [98]:
df.loc[:,"name"]

a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object

In [99]:
df.loc[:,["name","score"]]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James   11.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [100]:
df.loc["a":"c",["name","score"]]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5

In [103]:
# df["a":"c"][["name","score"]]
df["b"][["name","score"]]

KeyError: 'b'

Trainer approach

In [104]:
df.loc['d','score'] = 11.5
print(df)
df.loc[3,1] = 11.5
df
df.loc["d":,[["name","score"]]]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

KeyError: "None of [Index([('name', 'score')], dtype='object')] are in the [columns]"

Exercise 4: Write a Pandas program to select examination attempts(col1) by the students with 4 attempts.

data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [118]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
d
df=pd.DataFrame(d)
print(df)
print(df.loc[df["col1"]==4])

print(df[df["col1"]==4])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
1     4     5     8
3     4     7     0
   col1  col2  col3
1     4     5     8
3     4     7     0

Exercise 5: Drop a list of specified rows(2nd and 4th) from a DataFrame

data:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [140]:
import pandas as pd
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df=pd.DataFrame(d)
print(df)
df.index[[2,4]]
df=df.drop(df.index[[2,4]])
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

Exercise 6: Check whether a given column is present in a DataFrame or not

data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [156]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df=pd.DataFrame(d)

print("Original DataFrame")
print(df)

if "col4" in df:
       print("col4 is present in DataFrame")
else:
    print("col4 is not present in DataFrame")

if "col1" in df:
    print("col1 is present in DataFrame")
else:
    print("col1 is not present in DataFrame")

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
col4 is not present in DataFrame
col1 is present in DataFrame

In [154]:
print("col4 is present in DataFrame" if "col4" in df else "col4 is not present in DataFrame")
print("col1 is present in DataFrame" if "col1" in df else "col1 is not present in DataFrame")

col4 is not present in DataFrame
col1 is present in DataFrame

Trainer approach

In [157]:
import numpy as np
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

if 'col4' in df.columns:
    print('Col4 is present in DataFrame.')
else:
    print('Col4 is not present in DataFrame.')

if 'col1' in df.columns:
    print('Col1 is present in DataFrame.')
else:
    print('Col1 is not present in DataFrame.')

Original data frame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

In [159]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

Exercise 7: Get column index from column name of a given DataFrame

data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

Hint: Try using function called get_loc()

Syntax: dataframe.columns.get_loc()

In [174]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(d)
print("Oringinal DataFrame:")
print(df)
print("\nIndex of 'col2'")
df.columns.get_loc("col2")

Oringinal DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'

1

Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.¶

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [184]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(d)

print(df)

df.loc[:,df.columns!="col3"]

df[~df.columns.isin (["col3"])]

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

ValueError: Item wrong length 3 instead of 5.

Exercise 9: Write a Pandas program to remove last n rows of a given DataFrame.

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [209]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(d)

print(df)
n=-2

# print(df.head(2))
# print(df.tail(2))


print(df.head(3))
print(df.iloc[:3])
print(df.drop(df.tail(2).index,inplace=True)) # Not Working need to check

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
None

Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

From the IMDB Dataset

In [249]:
import pandas as pd

df=pd.read_csv('/Users/bkannadasan/Downloads/IMDB-Movie-Data.csv')


df.columns
# df.info

# df.describe()

# df[(df['Runtime (Minutes)'] >=30)]

new_df = df[['Title','Runtime (Minutes)']]

new_df

new_df.loc[(new_df['Runtime (Minutes)']>120) & (new_df['Runtime (Minutes)']<123)]


df[(df['Runtime (Minutes)']>120) & (df['Runtime (Minutes)']<123)][['Title','Runtime (Minutes)']]

                                                 Title  Runtime (Minutes)
0                              Guardians of the Galaxy                121
48                                    Star Trek Beyond                122
136                             No Country for Old Men                122
149                                            Inferno                121
153                                            Sicario                121
159                                           Hot Fuzz                121
165                                           Twilight                122
301                                      Lone Survivor                121
336                            Silver Linings Playbook                122
385                                            Everest                121
392                                         Steve Jobs                122
558                            In the Heart of the Sea                122
572                                         The Intern                121
641                                   Relatos salvajes                122
689                          Tinker Tailor Soldier Spy                122
767  Indiana Jones and the Kingdom of the Crystal S...                122
867                     The Stanford Prison Experiment                122
907                                   Ocean's Thirteen                122
914                                          Notorious                122
966                                          L'odyssée                122

Trainer approach

In [1]:
import pandas as pd
df = pd.read_csv('/Users/bkannadasan/Downloads/IMDB-Movie-Data.csv')
new_df = df[['Title',  'Runtime (Minutes)']]
print(new_df[(new_df['Runtime (Minutes)']>30) & (new_df['Runtime (Minutes)']<360)])
df[(df['Runtime (Minutes)']>30) & (df['Runtime (Minutes)']<360)][['Title',  'Runtime (Minutes)']]

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]

In [2]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           /opt/anaconda3/lib/python3.11/site-packages/pandas/core/frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [3]:
import pandas as pd

In [143]:
class employee:

    def __init__ (self,input_file,output_file):
        self.input_file = input_file;
        self.output_file = output_file;
        self.data = pd.DataFrame();

    def read_csv(self):
        self.data=pd.read_csv(self.input_file);
        print("Input file:",self.input_file)

    def show_rec(self):
        print(self.data)

    def get_and_push_data(self,new_data):
        for data in new_data:
            self.add_row(data)
    
    def add_row(self,row_data):
        new_row = pd.DataFrame([row_data],columns=self.data.columns)
        self.data=pd.concat([new_row,self.data])
        self.write_csv()
        print("Newly added Data:",row_data)

    def write_csv(self):
        self.data.to_csv(self.output_file,index=False)
    
    def read_op_file(self):
        print("Data from output file:\n",pd.read_csv(self.output_file))

In [144]:
df = pd.DataFrame(columns = ["EmployeeID","Name","Department","Salary"])
df.to_csv("/Users/bkannadasan/Desktop/Mylearings/DSAI/tm_employee_input.csv",index=False)

In [145]:
input_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/tm_employee_input.csv"
output_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/tm_employee_output.csv"

new_data = [
    {"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    {"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    {"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}
]

tm = employee(input_file,output_file)

tm.read_csv()
tm.get_and_push_data(new_data)
print("Data from Memory")
tm.show_rec()
tm.read_op_file()

Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/tm_employee_input.csv
Newly added Data: {'EmployeeID': 1, 'Name': 'Amar', 'Department': 'HR', 'Salary': 60000}
Newly added Data: {'EmployeeID': 2, 'Name': 'Akbar', 'Department': 'IT', 'Salary': 80000}
Newly added Data: {'EmployeeID': 3, 'Name': 'Antony', 'Department': 'Finance', 'Salary': 75000}
Data from Memory
  EmployeeID    Name Department Salary
0          3  Antony    Finance  75000
0          2   Akbar         IT  80000
0          1    Amar         HR  60000
Data from output file:
    EmployeeID    Name Department  Salary
0           3  Antony    Finance   75000
1           2   Akbar         IT   80000
2           1    Amar         HR   60000

In [45]:
# tm.read_csv()
tm.show_rec()

  EmployeeID    Name Department Salary
0          3  Antony    Finance  75000
0          2   Akbar         IT  80000
0          1    Amar         HR  60000

In [53]:
#dummy file with column headings of Tata Consultancy Services (tcs)
df = pd.DataFrame(columns = ['EmployeeID', 'Name', 'Department', 'Salary', "EmpRef"])
df.to_csv('/Users/bkannadasan/Desktop/Mylearings/DSAI/tcs_employee_input.csv',index=False)
pd.read_csv('/Users/bkannadasan/Desktop/Mylearings/DSAI/tcs_employee_input.csv')

Empty DataFrame
Columns: [EmployeeID, Name, Department, Salary, EmpRef]
Index: []

In [54]:
input_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/tcs_employee_input.csv"
output_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/tcs_employee_output.csv"

new_data = [
    {"EmployeeID": 11, "Name": "Bheem", "Department": "HR", "Salary": 100000, "EmpRef": "Internal"},
    {"EmployeeID": 12, "Name": "Basha", "Department": "IT", "Salary": 200000, "EmpRef": "Jobsite" },
    {"EmployeeID": 13, "Name": "Benjamin", "Department": "Finance", "Salary": 350000, "EmpRef": "Outsource"}
]

tcs = employee(input_file,output_file)

tcs.read_csv()
tcs.get_and_push_data(new_data)
print("Data from Memory")
tcs.show_rec()
tcs.read_op_file()

Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/tcs_employee_input.csv
Newly added Data: {'EmployeeID': 11, 'Name': 'Bheem', 'Department': 'HR', 'Salary': 100000, 'EmpRef': 'Internal'}
Newly added Data: {'EmployeeID': 12, 'Name': 'Basha', 'Department': 'IT', 'Salary': 200000, 'EmpRef': 'Jobsite'}
Newly added Data: {'EmployeeID': 13, 'Name': 'Benjamin', 'Department': 'Finance', 'Salary': 350000, 'EmpRef': 'Outsource'}
Data from Memory
  EmployeeID      Name Department  Salary     EmpRef
0         13  Benjamin    Finance  350000  Outsource
0         12     Basha         IT  200000    Jobsite
0         11     Bheem         HR  100000   Internal
Data from output file:
    EmployeeID      Name Department  Salary     EmpRef
0          13  Benjamin    Finance  350000  Outsource
1          12     Basha         IT  200000    Jobsite
2          11     Bheem         HR  100000   Internal

In [55]:
tm.show_rec()
tcs.show_rec()

  EmployeeID    Name Department Salary
0          3  Antony    Finance  75000
0          2   Akbar         IT  80000
0          1    Amar         HR  60000
  EmployeeID      Name Department  Salary     EmpRef
0         13  Benjamin    Finance  350000  Outsource
0         12     Basha         IT  200000    Jobsite
0         11     Bheem         HR  100000   Internal

In [163]:

class emp:

    def __init__ (self,inp_file,out_file):
        self.inp_file= inp_file
        self.out_file= out_file
        self.data = pd.DataFrame()

    def inp_csv(self):
         self.data = pd.read_csv(self.inp_file)
         print("Input file:",self.inp_file)

    def out_csv(self):
        self.data.to_csv(self.out_file,index=False)

    def read_data(self,new_data):
        for row_data in new_data:
            print("Inseted record: ",row_data)
            self.add_data(row_data)

    def add_data(self,row_data):
        new_row = pd.DataFrame([row_data],columns=self.data.columns)
        print(type(new_row))
        # print("new_row:",new_row)
        # print("row_data:",row_data)
        self.data=pd.concat([new_row,self.data],ignore_index=True)
        self.out_csv()
        print("Newly added Data:",row_data)

    def show_data(self):
        print("Added Data:\n",self.data)

    def disp_output_file(self):
        print(pd.read_csv(self.out_file))

In [175]:
import pandas as pd

df = pd.DataFrame(columns=["id","name"])
df.to_csv("/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv",index=False)
df

Empty DataFrame
Columns: [id, name]
Index: []

In [140]:
df1=pd.read_csv("/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv")
df1

Empty DataFrame
Columns: [Unnamed: 0, id, name]
Index: []

In [176]:
inp_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv"
out_file = "/Users/bkannadasan/Desktop/Mylearings/DSAI/test_out.csv"

new_data=[
    {"id":1,"name":"Bala"},
    {"id":2,"name":"Meera"}
]

In [177]:
t1=emp(inp_file,out_file)
t1.inp_csv()
t1.read_data(new_data)
t1.show_data()
t1.disp_output_file()

Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv
Inseted record:  {'id': 1, 'name': 'Bala'}
<class 'pandas.core.frame.DataFrame'>
Newly added Data: {'id': 1, 'name': 'Bala'}
Inseted record:  {'id': 2, 'name': 'Meera'}
<class 'pandas.core.frame.DataFrame'>
Newly added Data: {'id': 2, 'name': 'Meera'}
Added Data:
   id   name
0  2  Meera
1  1   Bala
   id   name
0   2  Meera
1   1   Bala

In [166]:
class Employee:
    def __init__(self, input_file, output_file):
        """ constructor - initialize the variables"""
        self.input_file = input_file
        self.output_file = output_file
        self.data = pd.DataFrame()
    
    def read_csv(self):
        """ read the input csv into a dataframe """
        self.data = pd.read_csv(self.input_file)
        print("Data read from ", self.input_file) # first display
    
    def write_csv(self):
        """ write from dataframe from to output csv file"""
        self.data.to_csv(self.output_file, index=False)
        print("Data written to ", self.output_file) # second display
    
    def add_row(self, row_data):
        """ add new row to the dataframe"""
        new_row = pd.DataFrame([row_data], columns=self.data.columns)
        self.data = pd.concat([self.data, new_row])
        self.write_csv()
        print("New row added: ", row_data) # third display
        
    def get_and_push_data(self, new_data):
        """
        Signature: Get data and push by adding new rows to the dataframe.
        
        Parameters:
        new_data(list): List of dictionaries, where each dictionary represents a new row of data.
        """
        for row_data in new_data:
            self.add_row(row_data)
            
    #{"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    #{"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    #{"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}            
        
    def show_rec(self):
        """ display dataframe"""
        print(self.data)

In [173]:
df = pd.DataFrame(columns = ['EmployeeID', 'Name', 'Department', 'Salary'])
df.to_csv('tm_employee_input.csv',index=False)

In [174]:
# input an output csv file to pass parameters to class
input_file = "tm_employee_input.csv"
output_file = "tm_employee_output.csv"

# new data to push into the empty stub and store as new output file
new_data = [
    {"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    {"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    {"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}
]

# create an object for the Employee class
tm = Employee(input_file, output_file) 

# method called to read the csv 
tm.read_csv()

#pass the new_data(3 rows) to method get_and_push_data
tm.get_and_push_data(new_data)
tm.show_rec()

Data read from  tm_employee_input.csv
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 1, 'Name': 'Amar', 'Department': 'HR', 'Salary': 60000}
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 2, 'Name': 'Akbar', 'Department': 'IT', 'Salary': 80000}
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 3, 'Name': 'Antony', 'Department': 'Finance', 'Salary': 75000}
  EmployeeID    Name Department Salary
0          1    Amar         HR  60000
0          2   Akbar         IT  80000
0          3  Antony    Finance  75000

In [229]:
class family:

        def __init__ (self,input,output):
            self.input=input
            self.output=output
            self.data=pd.DataFrame()

        def read_input_csv(self):
            self.data=pd.read_csv(self.input)
            print("Input file:",self.input)
        
        def write_data_csv(self):
            self.data.to_csv(self.output,index=False)

        def read_input_data(self,new_data):
            for row_data in new_data:
                #  print(type(row_data))
                #  print(type([row_data]))
                 self.add_data(row_data)
                 
                
        def add_data(self,row_data):
             new_row=pd.DataFrame([row_data],columns=self.data.columns)
            #  new_row=pd.DataFrame(row_data)
             self.data=pd.concat([new_row,self.data])
             self.write_data_csv()
        
        def show_rec(self):
             print(self.data)

        def final_output(self):
             print(pd.read_csv(self.output))

In [199]:
df = pd.DataFrame(columns=["Name","ID","Age"])
# df.to_csv("/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv")
df.to_csv("/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv",index=False)
print("Input file:",pd.read_csv('/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv'))

df

Input file: Empty DataFrame
Columns: [Name, ID, Age]
Index: []

Empty DataFrame
Columns: [Name, ID, Age]
Index: []

In [230]:
input_file="/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv"
output_file="/Users/bkannadasan/Desktop/Mylearings/DSAI/test_out.csv"

new_data=[
    {"Name":"Bala","ID":1,"Age":35},
    {"Name":"Meera","ID":2,"Age":29},
    {"Name":"Dakshith","ID":3,"Age":5}
]

In [231]:
fam1 = family(input_file,output_file)

fam1.read_input_csv()

fam1.read_input_data(new_data)

fam1.show_rec()

fam1.final_output()

Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv
       Name ID Age
0  Dakshith  3   5
0     Meera  2  29
0      Bala  1  35
       Name  ID  Age
0  Dakshith   3    5
1     Meera   2   29
2      Bala   1   35

In [269]:
df=pd.read_csv(output_file)
print(df)
print(df[:2])

print(df[['Name','Age']])
print(df.loc[:,['Name','Age']])
print(df.loc[0:2,['ID','Name']])
print(df.loc[1,['ID','Name']])
print(df.loc[1:2,['ID','Name']])

       Name  ID  Age
0  Dakshith   3    5
1     Meera   2   29
2      Bala   1   35
       Name  ID  Age
0  Dakshith   3    5
1     Meera   2   29
       Name  Age
0  Dakshith    5
1     Meera   29
2      Bala   35
       Name  Age
0  Dakshith    5
1     Meera   29
2      Bala   35
   ID      Name
0   3  Dakshith
1   2     Meera
2   1      Bala
ID          2
Name    Meera
Name: 1, dtype: object
   ID   Name
1   2  Meera
2   1   Bala

In [303]:
class fam:

    def __init__ (self,input_file,output_file):
        self.input_file=input_file
        self.output_file = output_file
        self.data = pd.DataFrame()

    def read_input_file(self):
            self.data=pd.read_csv(self.input_file)
            print ('Input file:',self.input_file)

    def read_each_rec_data (self,new_data):
            for data in new_data:
                self.add_data(data)
    
    def add_data(self,record):
          new_rec = pd.DataFrame([record], columns=self.data.columns)
          self.data=pd.concat([new_rec,self.data])
          self.write_csv()

    def write_csv(self):
          self.data.to_csv(self.output_file,index=False)

    def show_data(self):
          print('Data from memory:\n',self.data)



    def show_output_file(self):
          df = pd.read_csv(self.output_file)
          print('Data from output file:\n',df)

In [300]:
input_file="/Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv"
output_file="/Users/bkannadasan/Desktop/Mylearings/DSAI/test_out.csv"

new_data=[
    {"Name":"Bala","ID":1,"Age":35},
    {"Name":"Meera","ID":2,"Age":29},
    {"Name":"Dakshith","ID":3,"Age":5}
]

In [301]:
columns=['Name','ID','Age']
df = pd.DataFrame(columns=columns)
df.to_csv(input_file,index=False)
df

Empty DataFrame
Columns: [Name, ID, Age]
Index: []

In [304]:
f1=fam(input_file,output_file)

f1.show_data()

f1.read_input_file()

f1.show_data()

f1.read_each_rec_data(new_data)

f1.show_data()

f1.show_output_file()

Data from memory:
 Empty DataFrame
Columns: []
Index: []
Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv
Data from memory:
 Empty DataFrame
Columns: [Name, ID, Age]
Index: []
Data from memory:
        Name ID Age
0  Dakshith  3   5
0     Meera  2  29
0      Bala  1  35
Data from output file:
        Name  ID  Age
0  Dakshith   3    5
1     Meera   2   29
2      Bala   1   35

In [306]:
columns=['Name','Age']
df = pd.DataFrame(columns=columns)
df.to_csv(input_file,index=False)
df

Empty DataFrame
Columns: [Name, Age]
Index: []

In [308]:
new_data=[
    {"Name":"Bala","Age":35},
    {"Name":"Meera","Age":29},
    {"Name":"Dakshith","Age":5}
]

In [310]:
f2=fam(input_file,output_file)

f2.show_data()

f2.read_input_file()

f2.show_data()

f2.read_each_rec_data(new_data)

f2.show_data()

f2.show_output_file()

Data from memory:
 Empty DataFrame
Columns: []
Index: []
Input file: /Users/bkannadasan/Desktop/Mylearings/DSAI/test_inp.csv
Data from memory:
 Empty DataFrame
Columns: [Name, Age]
Index: []
Data from memory:
        Name Age
0  Dakshith   5
0     Meera  29
0      Bala  35
Data from output file:
        Name  Age
0  Dakshith    5
1     Meera   29
2      Bala   35

In [311]:
f1.show_data()
f2.show_data()

Data from memory:
        Name ID Age
0  Dakshith  3   5
0     Meera  2  29
0      Bala  1  35
Data from memory:
        Name Age
0  Dakshith   5
0     Meera  29
0      Bala  35