# Python Basic Pandas Dataframes and Series

### Series is 1D
### Dataframes is 2D

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../NUS/ChallengerSales.csv')
df

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
1,6-Mar,Mon,Morning,Female,Medium,1,25.55,25.55,No,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
3,6-Mar,Mon,Afternoon,Female,Low,1,6.82,6.82,No,East
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West
...,...,...,...,...,...,...,...,...,...,...
395,25-Jun,Sat,Afternoon,Male,Medium,6,268.39,170.13,No,East
396,25-Jun,Sat,Afternoon,Female,Medium,3,169.11,80.08,No,East
397,25-Jun,Sat,Afternoon,Male,Medium,6,242.46,180.66,No,West
398,25-Jun,Sat,Afternoon,Male,Medium,4,168.64,85.79,No,East
399,25-Jun,Sat,Afternoon,Female,Low,1,107.59,107.59,No,East

In [4]:
df.head(5)

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
1,6-Mar,Mon,Morning,Female,Medium,1,25.55,25.55,No,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
3,6-Mar,Mon,Afternoon,Female,Low,1,6.82,6.82,No,East
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West

In [5]:
df.tail(5)

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
395,25-Jun,Sat,Afternoon,Male,Medium,6,268.39,170.13,No,East
396,25-Jun,Sat,Afternoon,Female,Medium,3,169.11,80.08,No,East
397,25-Jun,Sat,Afternoon,Male,Medium,6,242.46,180.66,No,West
398,25-Jun,Sat,Afternoon,Male,Medium,4,168.64,85.79,No,East
399,25-Jun,Sat,Afternoon,Female,Low,1,107.59,107.59,No,East

In [16]:
print(df.count())
print()
print(df.size)
print()
print(df.shape)

Date            400
Day             400
Time            400
Gender          400
BuyCategory     400
ItemsOrdered    400
TotalCost       400
HighItem        400
Member          400
Region          400
dtype: int64

4000

(400, 10)

In [18]:
print(df.describe())

       ItemsOrdered   TotalCost    HighItem
count    400.000000  400.000000  400.000000
mean       3.467500  153.818025  100.442625
std        2.022169   97.373038   67.051120
min        1.000000    6.820000    6.820000
25%        2.000000   83.322500   56.222500
50%        3.000000  126.720000   83.395000
75%        4.000000  205.245000  119.440000
max       11.000000  485.010000  381.330000

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          400 non-null    object
 1   Day           400 non-null    object
 2   Time          400 non-null    object
 3   Gender        400 non-null    object
 4   BuyCategory   400 non-null    object
 5   ItemsOrdered  400 non-null    int64
 6   TotalCost     400 non-null    float64
 7   HighItem      400 non-null    float64
 8   Member        400 non-null    object
 9   Region        400 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 31.4+ KB
None

In [20]:
print(df.dtypes)

Date             object
Day              object
Time             object
Gender           object
BuyCategory      object
ItemsOrdered      int64
TotalCost       float64
HighItem        float64
Member           object
Region           object
dtype: object

In [22]:
df.head(5)

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
1,6-Mar,Mon,Morning,Female,Medium,1,25.55,25.55,No,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
3,6-Mar,Mon,Afternoon,Female,Low,1,6.82,6.82,No,East
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West

In [30]:
df.max()

Date              9-May
Day                 Wed
Time            Morning
Gender             Male
BuyCategory      Medium
ItemsOrdered         11
TotalCost        485.01
HighItem         381.33
Member              Yes
Region             West
dtype: object

In [31]:
df.index

RangeIndex(start=0, stop=400, step=1)

In [32]:
df.columns

Index(['Date', 'Day', 'Time', 'Gender', 'BuyCategory', 'ItemsOrdered',
       'TotalCost', 'HighItem', 'Member', 'Region'],
      dtype='object')

In [33]:
df.values

array([['6-Mar', 'Mon', 'Morning', ..., 79.97, 'Yes', 'West'],
       ['6-Mar', 'Mon', 'Morning', ..., 25.55, 'No', 'West'],
       ['6-Mar', 'Mon', 'Afternoon', ..., 90.47, 'Yes', 'West'],
       ...,
       ['25-Jun', 'Sat', 'Afternoon', ..., 180.66, 'No', 'West'],
       ['25-Jun', 'Sat', 'Afternoon', ..., 85.79, 'No', 'East'],
       ['25-Jun', 'Sat', 'Afternoon', ..., 107.59, 'No', 'East']],
      dtype=object)

In [34]:
df.dtypes

Date             object
Day              object
Time             object
Gender           object
BuyCategory      object
ItemsOrdered      int64
TotalCost       float64
HighItem        float64
Member           object
Region           object
dtype: object

In [35]:
df.shape # 400 rows , 10 columns

(400, 10)

In [42]:
df[df['TotalCost'] > 100].head(5)

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West
5,6-Mar,Mon,Afternoon,Female,Medium,5,142.15,50.90,No,East
7,7-Mar,Tues,Evening,Male,High,4,178.34,161.93,No,South

In [43]:
df.tail()

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
395,25-Jun,Sat,Afternoon,Male,Medium,6,268.39,170.13,No,East
396,25-Jun,Sat,Afternoon,Female,Medium,3,169.11,80.08,No,East
397,25-Jun,Sat,Afternoon,Male,Medium,6,242.46,180.66,No,West
398,25-Jun,Sat,Afternoon,Male,Medium,4,168.64,85.79,No,East
399,25-Jun,Sat,Afternoon,Female,Low,1,107.59,107.59,No,East

In [44]:
df.columns

Index(['Date', 'Day', 'Time', 'Gender', 'BuyCategory', 'ItemsOrdered',
       'TotalCost', 'HighItem', 'Member', 'Region'],
      dtype='object')

In [46]:
type(df)

pandas.core.frame.DataFrame

### Series

In [48]:
total_cost = df['TotalCost']

In [49]:
total_cost.head(5)

0    136.97
1     25.55
2    113.95
3      6.82
4    147.32
Name: TotalCost, dtype: float64

In [50]:
type(total_cost)

pandas.core.series.Series

In [51]:
total_cost.columns #error here since no columns attribute with series , only dataframes

AttributeError: 'Series' object has no attribute 'columns'

In [52]:
total_cost.index

RangeIndex(start=0, stop=400, step=1)

In [53]:
total_cost.values #result is 1D numpy array

array([136.97,  25.55, 113.95,   6.82, 147.32, 142.15,  18.65, 178.34,
        25.83,  18.13,  54.52,  61.93, 147.68,  27.24,  46.18, 107.44,
        96.53,  77.44,  15.19,  45.52, 157.05,  51.95, 429.98,  33.37,
        71.84, 139.51,  78.46, 125.13,  14.76,  83.38, 104.91, 101.37,
        53.16,  40.63, 286.41,  59.39, 185.45,  35.08,  91.62, 155.5 ,
        20.89, 186.29,  42.22,  42.19,  47.86, 139.76, 186.42,  54.08,
        84.98,  27.13,  54.7 , 229.54, 124.21,  26.39, 106.97, 377.18,
        24.31,  34.47, 106.19,  55.3 ,  82.98, 101.79,  99.28, 100.09,
        88.91,  62.58,  28.87, 141.29,  66.54,  69.03,  65.51,  35.59,
       320.18, 128.57, 248.42,  50.04, 145.48, 403.6 , 284.14,  81.14,
        82.36,  32.65, 200.7 ,  99.13,  85.88, 183.52,  53.87,  44.08,
        82.34, 151.29,  87.02,  54.96,  65.11,  76.69,  48.38,  76.64,
        54.08, 130.  , 218.29,  38.1 , 100.02, 248.73,  25.8 ,  52.83,
       131.89,  82.69,  70.03, 102.86, 174.13,  49.8 ,  29.97,  82.53,
       142.76,  72.58,  55.39, 206.39, 245.67, 265.69, 124.46, 206.26,
       306.23,  48.12, 113.95, 261.44,  59.9 ,  49.73,  65.06,  97.71,
        49.84, 233.94, 370.26, 313.11, 141.77,  27.99,  81.34,  97.15,
       352.49,  88.75, 107.95, 186.22, 159.23,  82.43,  99.42,  79.32,
       160.01,  51.99, 267.67, 429.22,  46.2 , 240.02, 157.14, 140.4 ,
       204.93,  88.18,  95.47, 224.73, 344.73, 185.32, 297.31, 223.32,
       164.4 , 123.57, 236.97,  82.75, 307.75, 200.73, 242.06, 215.09,
       162.9 , 214.31,  42.07,  69.05, 148.9 , 105.74, 138.32,  61.71,
       120.11,  72.8 , 134.86,  89.75, 220.04, 168.39, 277.8 , 130.49,
        94.39, 120.48, 304.95, 389.79, 161.08,  69.61,  59.99, 120.78,
        82.3 ,  91.88,  87.1 ,  70.1 , 106.67,  34.31,  77.69,  85.31,
        65.92,  89.98, 102.07, 199.83, 134.21, 188.41, 102.72,  85.63,
       206.87, 141.22, 463.4 , 166.54, 260.62,  79.16, 320.4 ,  79.01,
       126.22, 263.45, 135.86,  98.74, 101.05, 361.6 , 120.56,  52.68,
        99.51,  85.29, 143.59, 197.13, 190.74, 111.44, 153.39,  65.4 ,
       448.2 , 123.19, 210.28, 349.46, 290.63, 103.03, 112.54, 399.36,
        68.18, 146.58, 309.5 , 177.96, 119.46, 119.66, 168.87, 192.39,
       101.73,  74.94, 291.3 , 161.  , 116.01,  74.39, 226.25, 135.19,
       126.16, 156.3 ,  73.42, 310.74, 296.26, 115.29, 212.94,  85.93,
        80.02, 286.17, 190.27, 265.24, 353.93, 314.77, 169.23, 149.71,
       105.35, 111.47, 441.16, 179.56,  83.15, 262.86,  82.51, 290.27,
       223.08, 165.77,  99.81, 158.95, 280.99, 149.89, 363.52,  93.97,
       391.97, 275.54, 115.55, 125.  , 103.15, 256.7 , 117.99,  98.55,
       112.93,  76.3 , 129.8 , 140.25, 149.79, 172.2 , 139.85,  96.46,
       127.83, 215.88, 133.49, 117.33, 107.98, 203.11, 193.33, 343.26,
       485.01, 221.93,  94.04, 113.37, 188.26, 170.19, 224.15, 352.32,
       257.18, 122.06, 239.95, 124.44, 116.58, 154.46,  76.92, 194.85,
       367.7 , 119.5 , 270.94,  94.71, 154.01, 313.3 , 217.99, 127.22,
       135.97,  87.14,  96.77,  74.74, 117.48, 132.89, 230.26, 451.03,
       153.31, 117.79, 357.32, 374.17, 122.28, 122.57, 134.59, 134.98,
       109.45, 131.52,  88.76, 174.28, 100.7 , 387.43, 160.71, 105.91,
       101.46, 271.67, 112.74,  96.42, 271.48, 156.79, 249.63, 278.62,
        84.46, 221.17, 194.79, 199.22, 141.7 , 191.15, 142.41, 134.53,
       374.37, 241.73, 278.58, 106.25, 115.71,  78.34, 216.03, 140.01,
       458.51, 210.6 , 189.49, 359.42, 132.06, 252.33, 172.05, 206.19,
       143.98, 276.67, 111.67, 268.39, 169.11, 242.46, 168.64, 107.59])

In [54]:
total_cost.shape

(400,)

In [3]:
import pandas as pd
ice_cream = ['Chcolate','Vanilla','Strawberry','Sum Rasin']
ice_cream

['Chcolate', 'Vanilla', 'Strawberry', 'Sum Rasin']

In [4]:
pd.Series(ice_cream) # object means strings as data types

0      Chcolate
1       Vanilla
2    Strawberry
3     Sum Rasin
dtype: object

In [5]:
lottery = [4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [14]:
webster = {"Aardvark" : "Animal" ,
          "Banana" : "Delicious fruit" ,
          "Cyan" : "A colour"
          }
webster

{'Aardvark': 'Animal', 'Banana': 'Delicious fruit', 'Cyan': 'A colour'}

In [15]:
type(webster)

dict

In [17]:
df_webster = pd.Series(webster)

In [18]:
type(df_webster)

pandas.core.series.Series

In [19]:
df_webster

Aardvark             Animal
Banana      Delicious fruit
Cyan               A colour
dtype: object

In [20]:
df_webster["Blue"] = "Another colour"

In [33]:
print(df_webster.index)

Index(['Aardvark', 'Banana', 'Cyan', 'Blue'], dtype='object')

### Attributes

In [24]:
about_me = ["Smart","Handsome" , "Charming","Brilliant","Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [26]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [27]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
s.dtype

dtype('O')

### Methods

In [37]:
prices = [2.99,4.45,1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [42]:
s.sum()

8.8

In [43]:
s.product()

18.095480000000006

In [44]:
s.mean()

2.9333333333333336

In [49]:
fruits = ["Apple" ,"Orange" , "Plum" , "Grape" , "Blueberry"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday"]

pd.Series(fruits , weekdays)
pd.Series(data = fruits , index = weekdays)
pd.Series(fruits , index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [50]:
fruits = ["Apple" ,"Orange" , "Plum" , "Grape" , "Blueberry" , "Watermelon"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday", "Monday"]


pd.Series(data = fruits , index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object