In [ ]:
##String
s = "Hello Word"

In [44]:
len(s)

10

In [6]:
s[0]

'H'

In [7]:
s[1:]

'ello Word'

In [8]:
s[1::]

'ello Word'

In [19]:
s[::-1]

'droW olleH'

In [ ]:
s[0] = "x"

:

In [26]:
s.upper()

'HELLO WORD'

In [27]:
s.lower()

'hello word'

In [28]:
s.split()

['Hello', 'Word']

In [37]:
s.split('o')

['Hell', ' W', 'rd']

In [39]:
print("saya sedang belajar {i}".format(i="flask"))

saya sedang belajar flask

In [40]:
print("perkenalkan nama saya {a} dan saya sedang belajar {b}".format(a="arif", b="flask"))

perkenalkan nama saya arif dan saya sedang belajar flask

In [41]:
nama = "arif"
hobi = "musik"

print(f"nama saya {nama} dan saya hobi {hobi}")

nama saya arif dan saya hobi musik

In [2]:
##list
my_list = [1, 2, 3]

In [3]:
my_list = [1, "arif", 2, 'hobi', "musik"]

In [4]:
len(my_list)

5

In [5]:
my_list[1]

'arif'

In [6]:
my_list[1:]

['arif', 2, 'hobi', 'musik']

In [7]:
my_list[1:3]

['arif', 2]

In [8]:
my_list[:3]

[1, 'arif', 2]

In [9]:
my_list[3:]

['hobi', 'musik']

In [10]:
my_list + ["makan"]

[1, 'arif', 2, 'hobi', 'musik', 'makan']

In [64]:
# Ubah kembali
# my_list = my_list + ['tambah item baru secara permanen']

In [69]:
print(my_list)

[1, 'arif', 2, 'hobi', 'musik']

In [11]:
my_list * 2

[1, 'arif', 2, 'hobi', 'musik', 1, 'arif', 2, 'hobi', 'musik']

In [12]:
my_list.append("renang")

In [13]:
print(my_list)

[1, 'arif', 2, 'hobi', 'musik', 'renang']

In [14]:
my_list.pop(1)

'arif'

In [15]:
print(my_list)

[1, 2, 'hobi', 'musik', 'renang']

In [16]:
popped_item = my_list.pop()

In [17]:
print(popped_item)

renang

In [77]:
print(my_list)

[1, 2, 'hobi', 'musik']

In [18]:
my_list[10]

IndexError: list index out of range

In [79]:
# Buat tiga list
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [80]:
metrik = [lst_1, lst_2, lst_3]

In [82]:
print(metrik)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
metrik[0]

[1, 2, 3]

In [84]:
metrik[1][1]

5

In [85]:
list_1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
    ]

In [86]:
list_1[0][1]

2

In [87]:
## dictionaries
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [88]:
my_dict['key3'][0].upper()

'ITEM0'

In [89]:
# Kurangi 123 dari nilai
my_dict['key1'] = my_dict['key1'] - 123

In [90]:
print(my_dict)

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [91]:
print(my_dict['key1'])

0

In [92]:
(my_dict['key1'])

0

In [93]:
my_dict['key1'] -= 123
my_dict['key1']

-123

In [94]:
# Buat dictionaries baru
d = {}

# Buat kunci baru melalui penugasan
d['animal'] = 'Dog'

# Dapat melakukan ini dengan objek apa pun
d['answer'] = 42

# Tampilkan
print(d)

{'animal': 'Dog', 'answer': 42}

In [96]:
# Dictionaries yang digabungkan di dalam dictionaries yang digabungkan di dalam dictionaries lainnya
d = {'key1':{'nestkey':{'subnestkey':'value'}}}


d['key1']['nestkey']['subnestkey']

'value'

In [98]:
## tuple
t = (1, 2, 3)

In [99]:
len(t)

3

In [100]:
t[1]

2

In [101]:
t[1:]

(2, 3)

In [102]:
t[-1]

3

In [103]:
t[::-1]

(3, 2, 1)

In [104]:
t[0]= 'ubah'

TypeError: 'tuple' object does not support item assignment

In [105]:
t.append('tidak')

AttributeError: 'tuple' object has no attribute 'append'

In [107]:
## set

x = set()

In [108]:
x.add(1)

In [109]:
x

{1}

In [110]:
# Tambahkan elemen yang berbeda
x.add(2)

In [111]:
x

{1, 2}

In [112]:
# Coba tambah elemen yang sama
x.add(1)

In [113]:
x

{1, 2}

In [114]:
# Buat list dengan ulangan
mylist = [1,1,2,2,3,4,5,6,1,1]

# Ubah menjadi set untuk mendapatkan elemen yang unik
set(mylist)

{1, 2, 3, 4, 5, 6}

In [121]:
##tugas 1
s = "flask"
# Gunakan indeks untuk mencetak hal berikut:
# 'f'
# 's'
# 'ask'
# 'las'
# 'k'

'f'

In [123]:
s[0]

'f'

In [122]:
s[3]

's'

In [125]:
s[2:5]

'ask'

In [126]:
s[1:4]

'las'

In [127]:
s[-1]

'k'

In [128]:
mylist = [3,7,[1,4,'hello']]

In [129]:
mylist[2][2] = "goodbye"

In [130]:
mylist

[3, 7, [1, 4, 'goodbye']]

In [131]:
# Dengan menggunakan kunci dan indeks, ambil 'hello' dari kamus-kamus berikut:
d1 = {'simple_key':'hello'}

d2 = {'k1':{'k2':'hello'}}

d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [132]:
d1["simple_key"]

'hello'

In [133]:
d2["k1"]["k2"]

'hello'

In [134]:
d3 = {
    'k1':[
        {
            'nest_key':[
                'this is deep',[
                    'hello'
                    ]
                ]
            }
        ]
    }

In [136]:
d3["k1"]

[{'nest_key': ['this is deep', ['hello']]}]

In [137]:
d3["k1"][0]

{'nest_key': ['this is deep', ['hello']]}

In [138]:
d3["k1"][0]["nest_key"]

['this is deep', ['hello']]

In [139]:
d3["k1"][0]["nest_key"][1]

['hello']

In [140]:
d3["k1"][0]["nest_key"][1][0]

'hello'

In [141]:
## Masalah 4 ##
# Gunakan set untuk menemukan nilai unik dari daftar di bawah ini:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [142]:
set(mylist)

{1, 2, 3}

In [144]:
## Masalah 5 ##
# Anda diberikan dua variabel:
age = 4
name = "Sammy"

# Gunakan format print untuk mencetak string berikut:
"Hello my dog's name is Sammy and he is 4 years old"

"Hello my dog's name is Sammy and he is 4 years old"

In [145]:
print(f"Hello my dog's name is {name} and he is {age} years old")

Hello my dog's name is Sammy and he is 4 years old

In [149]:
## Opertator logika
# DAN
(1 > 2) and (2 < 3)

False

In [150]:
# ATAU
(1 > 2) or (2 < 3)

True

In [151]:
# Beberapa operator logika
(1 == 2) or (2 == 3) or (4 == 4)

True

In [186]:
##perulangan
my_list = [1, 2, 3, 4, 5]

for item in my_list:
    print(f"ini merupakan item ke - {item}")

ini merupakan item ke - 1
ini merupakan item ke - 2
ini merupakan item ke - 3
ini merupakan item ke - 4
ini merupakan item ke - 5

In [187]:
ages = {"Sam":3,"Frank":4,"Dan":29}

for key in ages:
    print("Ini adalah kunci")
    print(key)
    print("Ini adalah nilai")
    print(ages[key])
    print("\n")

Ini adalah kunci
Sam
Ini adalah nilai
3


Ini adalah kunci
Frank
Ini adalah nilai
4


Ini adalah kunci
Dan
Ini adalah nilai
29

In [188]:
i = 1
while i < 5:
    print('i adalah: {}'.format(i))
    i = i+1

i adalah: 1
i adalah: 2
i adalah: 3
i adalah: 4

In [189]:
for i in range(5):
    print(i)

0
1
2
3
4

In [190]:
range(5)

range(0, 5)

In [191]:
result = list(range(0,10,2))
print(result)

TypeError: 'list' object is not callable

In [193]:
def greet_user():
    """Display a simple greeting."""
    print("Hello!")
greet_user()

Hello!

In [194]:
def salam():
    print("selamat pagi")

salam()

selamat pagi

In [204]:
def salam(nama, salam):
    print("selamat {salam} bapak {nama}".format(nama = nama,salam=salam))

salam('arif', 'pagi')

selamat pagi bapak arif

In [202]:
def lapor(nama):
    print("Melaporkan {}".format(nama))

lapor('Bond')

Melaporkan Bond

In [205]:
def salam(nama, salam):
    print(f"selamat {salam} bapak {nama}")

salam('arif', 'pagi')

selamat pagi bapak arif

In [208]:
def tambah(n1,n2):
    print(n1+n2)

hasil = tambah(2,3)

print(hasil)

5
None

In [217]:
def tambah(n1,n2):
    return n1+n2

hasil = tambah(2,3)
print(hasil)

5

In [220]:
def tambah(a, b):
    hasil = a + b
    print("Hasil dari {a} + {b} = {hasil}".format(a=a, b=b, hasil=hasil))

hasil = tambah(10, 5)
# print(hasil)

Hasil dari 10 + 5 = 15

In [216]:
def tambah(a, b):
    hasil = a + b
    return hasil

hasil = tambah(10, 5)
print(hasil)

15

In [4]:
##function

def salam(waktu):
    def pagi():
        return "selamat pagi"
    def malam():
        return "selamat malam"
    if(waktu=="pagi"):
        return pagi
    else:
        return malam

waktu = salam("pagi")
print(waktu())

selamat pagi

In [10]:
## tugas function
## Tugas 1
## Buat sebuah fungsi yang mengambil dua bilangan bulat dan mengembalikan
## Boolean True jika jumlahnya adalah 10, False jika jumlahnya adalah yang lain.

def cek_bilangan(a, b):
    if ((a + b) % 2 == 0 ):
        hasil = a + b
        return f"{hasil} bilangan genap"
    else:
        return f"{hasil} bilangan ganjil"

hasil = cek_bilangan(5, 11)
print(hasil)

16 bilangan genap

In [11]:
# ## Tugas 2
#
# Buat sebuah fungsi yang mengambil dua bilangan bulat dan mengembalikan True jika jumlahnya
# adalah 10, jika tidak, kembalikan nilai jumlah sebenarnya.

def cek_bilangan(a, b):
    if ((a + b) % 2 == 0 ):
        hasil = a + b
        return f"{hasil} bilangan genap"
    else:
        return f"{hasil} bilangan ganjil"

hasil = cek_bilangan(5, 11)
print(hasil)

16 bilangan genap

In [16]:

# ## Tugas 3
#
# Buat sebuah fungsi yang mengambil sebuah string dan mengembalikan karakter pertama dari string tersebut dalam huruf besar.


def pertama_besar(mystring):
    return mystring.capitalize()

hasil = pertama_besar("saya sedang belajar flask")
print(hasil)

Saya sedang belajar flask

In [19]:
# ## Tugas 4
#
# Buat sebuah fungsi yang mengambil sebuah string dan mengembalikan dua karakter terakhir.
# Jika ada kurang dari dua karakter, kembalikan string: "Error".
# Gunakan tautan ini jika Anda membutuhkan bantuan/petunjuk.
# (https://stackoverflow.com/questions/7983820/get-the-last-4-characters-of-a-string)

def dua_terkahir(mystring):
    hasil = mystring[-2:]
    if (len(hasil) < 2):
        return "Error string lebih kecil dari 2"
    else:
        return hasil
    
kalimat = dua_terkahir("s")
print(kalimat)

Error string lebih kecil dari 2

In [20]:
def dua_terakhir(mystring):
    # Kode Di Sini
    pass

In [25]:

# ## Tugas 5
#
# Diberikan sebuah daftar bilangan bulat, kembalikan True jika urutan [1,2,3] ada di mana-mana
# di dalam daftar. Petunjuk: Gunakan slicing dan for loop.



def cek_urutan(nums):
    # Melakukan iterasi dengan panjang-2, sehingga dapat menggunakan i+1 dan i+2 dalam loop
    for i in range(len(nums)-2):
        # Memeriksa dalam setiap 3 elemen jika kita memiliki 1,2,3 secara berurutan
        if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
            return True
    return False

# Memanggil fungsi dengan contoh input
# cek_urutan([1,2,3])
cek_urutan([7,7,7,1,2,7,7,7])

False

In [30]:
def bandingkan_panjang(s1,s2):
    # Menghitung perbedaan panjang antara dua string dan mengembalikan nilai absolutnya.
    return abs(len(s1)-len(s2))

# Memanggil fungsi dengan contoh input untuk menghitung perbedaan panjang antara 'aa' dan 'aa'.
# bandingkan_panjang('aa','aa')

# Memanggil fungsi dengan contoh input untuk menghitung perbedaan panjang antara 'a' dan 'bb'.
# bandingkan_panjang('a','bb')

# Memanggil fungsi dengan contoh input untuk menghitung perbedaan panjang antara 'bb' dan 'a'.
bandingkan_panjang('bb','a')

1

In [33]:


def jumlah_atau_maks(mylist):
    length = len(mylist)

    if length % 2 == 0:
        return sum(mylist)
    else:
        return max(mylist)



# jumlah_atau_maks([1,2,3])



jumlah_atau_maks([0,1,2,3])

6

In [6]:
def salam(a):
    print("nama {nama}".format(nama = a))

salam("arif")

nama arif

In [8]:
def salam(a):
    print(f"nama {a}")

salam("arif")

nama arif

In [18]:
def tambah(a, b=5):
    hasil = a + b
    print(f"hasil {hasil}")
    return hasil

hasil = tambah(10, 10)
print(hasil)

hasil 20
20

In [20]:
def hitung_luas(panjang, lebar):
    return panjang * lebar

hasil = hitung_luas(10, 8)
print(f"luas = {hasil}")

luas = 80

In [21]:
def perkenalan(nama, usia):
    print(f"Nama saya {nama} dan saya berusia {usia} tahun.")

# Argumen posisi
perkenalan("Budi", 25)

# Argumen kata kunci
perkenalan(usia=30, nama="Ani")

Nama saya Budi dan saya berusia 25 tahun.
Nama saya Ani dan saya berusia 30 tahun.

In [23]:
def tanpa_return():
     return ("Ini fungsi tanpa return.")


hasil = tanpa_return()
print(hasil)

Ini fungsi tanpa return.

In [24]:
def salam(waktu):
    def pagi():
        return "Selamat Pagi!"
    
    def malam():
        return "Selamat Malam!"
    
    if waktu == "pagi":
        return pagi
    else:
        return malam

# Memanggil fungsi
waktu_salam = salam("pagi")
print(waktu_salam())  # Output: Selamat Pagi!

<function salam.<locals>.pagi at 0x1065491c0>

In [28]:
def fungsi_luar():
    y = 20  # Variabel dalam enclosing namespace
    
    def fungsi_dalam():
        y = 30  # Variabel lokal di fungsi_dalam, tidak mengubah y di enclosing namespace
        print(y)  # Output: 30 (local y)

    fungsi_dalam()

fungsi_luar()  # Output: 30

30

In [31]:
def fungsi_luar():
    x = "enclosing variable"
    
    def fungsi_dalam():
        nonlocal x  # Mengacu pada variabel di enclosing namespace
        x = "diubah oleh fungsi_dalam"
        print(x)
    
    fungsi_dalam()
    print(x)  # Memastikan nilai 'x' di enclosing namespace telah diubah

fungsi_luar()

diubah oleh fungsi_dalam
diubah oleh fungsi_dalam

In [34]:
def cek_bilangan(n1, n2):
    cek = n1 + n2
    if cek % 2 == 0 :
        print(True)
    else :
        print(False)
    pass

cek_bilangan(7, 3)  # Output: True
cek_bilangan(5, 4)  # Output: False

True
False

In [40]:
def cek_bilangan(a, b):
    hasil = a + b
    if ((a + b) % 2 == 0 ):
        return f"{hasil} bilangan genap"
    else:
        return f"{hasil} bilangan ganjil"

hasil = cek_bilangan(5, 10)
print(hasil)

15 bilangan ganjil

In [4]:
my_tuple = (1, 2, 3)
print(my_tuple.index(2))  # Output: 1

1