In [250]:
import pickle
import pandas as pd
import requests
from bs4 import BeautifulSoup
import sys
import os
from collections import defaultdict
import re
import json
from collections import Counter
import dateutil
from dateutil import parser
from collections import defaultdict
from __future__ import division
import datetime

In [2]:
with open('movie_info_revised.p' ,'r') as picklefile:
    data = pickle.load(picklefile)

In [3]:
df = pd.DataFrame.from_dict(data, 'index')

In [85]:
df

,opening,budget,screens,genre,keywords,date
$5 a Day,N/A,Error,Error,"[Comedy, Drama]","[hustler, health inspector, erectile dysfuncti...",11 January 2009
'Round Midnight,"$25,384",Error,1,"[Drama, Music]","[musician, jazz, alcoholism, jazz music, self ...",3 October 1986
'Til There Was You,"$1,315,445",10000000,753,"[Romance, Comedy]","[alcoholic father, architect, brief encounter,...",30 May 1997
"'night, Mother",49164,Error,3,[Drama],"[punctuation in title, dialogue driven, suicid...",29 January 1987
(500) Days of Summer,3739702,7500000,817,"[Comedy, Drama, Romance]","[summer, friend, greeting card, true love, off...",7 August 2009
*batteries not included,"$3,326,530",Error,"1,328","[Comedy, Drama, Family]","[apartment, music score features saxophone, pr...",18 December 1987
...And Justice for All.,n/a,Error,n/a,"[Crime, Drama, Thriller]","[judge, corruption, attorney, rape, dilemma, l...",19 October 1979
.45,N/A,5000000,Error,"[Crime, Drama, Thriller]","[friend, rage, new york city, abuse, domestic ...",30 November 2006
.com for Murder,N/A,5000000,Error,"[Horror, Sci-Fi, Thriller]","[internet, female protagonist, lightning, inte...",21 February 2002
10,"$3,526,692",Error,706,"[Comedy, Romance]","[mexico, songwriter, rescue, midlife crisis, b...",5 October 1979
10 Items or Less,35929,Error,15,"[Comedy, Drama]","[actor, research, job interview, interview, dr...",8 February 2007
10 Things I Hate About You,"$8,330,681",16000000,"2,271","[Comedy, Drama, Romance]","[school, dating, feminist, protective male, pr...",31 March 1999
10 Years,22707,Error,3,"[Comedy, Drama, Romance]","[high school reunion, reunion, kissing while h...",5 October 2012
10 to Midnight,"$3,050,225",4520000,595,"[Crime, Drama, Thriller]","[psycho, detective, serial killer, diary, stal...",11 March 1983
"10,000 BC","$35,867,488",105000000,"3,410","[Action, Adventure, Drama]","[hunter, mammoth, captive, tribe, epic, journe...",7 March 2008
"10,000 Saints",N/A,Error,Error,"[Comedy, Drama, Music]",[],14 August 2015
100 Feet,N/A,10000000,Error,"[Horror, Mystery, Thriller]","[prison, house arrest, revenge, ankle bracelet...",24 July 2008
100 Girls,N/A,Error,Error,"[Comedy, Romance]","[promiscuous woman, push up bra, elevator, voy...",1 September 2000
101 Dalmatians,"$33,504,025",54000000,"2,794","[Adventure, Comedy, Family]","[fashion, puppy, dalmatian, designer, coat, re...",27 November 1996
11-11-11,N/A,Error,29,"[Horror, Mystery, Thriller]","[evil, support group, author, dying father, be...",3 November 2011
11/22/63,N/A,Error,Error,"[Mystery, Sci-Fi, Thriller]",[tv mini series],Error
11:14,N/A,6000000,112,"[Comedy, Crime, Drama]","[multiple perspectives, murder, deceit, punctu...",20 August 2004
12 Rounds,"$5,329,240",22000000,"2,331","[Action, Crime, Thriller]","[detective, terrorist, car, gun, game, firetru...",27 March 2009
127 Hours,264851,18000000,4,"[Adventure, Biography, Drama]","[aron ralston, based on autobiography, canyon,...",28 January 2011
13,N/A,Error,15,"[Drama, Thriller]","[flashback, new york, electrician, cell phone,...",March 2010 (New
13 Going on 30,"$21,054,283",37000000,"3,438","[Comedy, Fantasy, Romance]","[13th birthday, wish, 30 year old, 13 year old...",23 April 2004
1408,"$20,617,667",25000000,"2,678",[Horror],"[paranormal phenomena, hotel, book, debunking,...",22 June 2007
1492: Conquest of Paradise,"$3,002,680",40000000,"1,008","[Adventure, Biography, Drama]","[christopher columbus, new world, 15th century...",9 October 1992
15 Minutes,"$10,523,154",42000000,"2,337","[Action, Crime, Drama]","[homicide, criminal, fire, detective, media, t...",9 March 2001
16 Blocks,"$11,855,260",52000000,"2,706","[Action, Crime, Drama]","[detective, courthouse, alcoholic, witness, ja...",3 March 2006
...,...,...,...,...,...,...
Zambezia,N/A,20000000,,"[Animation, Adventure, Comedy]","[bird, falcon, city name in title, place name ...",28 December 2012
Zandalee,N/A,Error,Error,"[Drama, Romance, Thriller]","[pubic hair, nudity, poet, friend, male pubic ...",9 May 1991
Zandy's Bride,N/A,Error,Error,[Western],"[mail order bride, pregnant woman, pregnant, m...",19 May 1974
Zapped!,"$823,548",Error,200,"[Comedy, Sci-Fi]","[high school, nerd, baseball game, baseball, l...",23 July 1982
Zardoz,N/A,1570000,Error,"[Drama, Fantasy, Sci-Fi]","[immortal, future, stone, library, head, death...",6 February 1974
Zathura: A Space Adventure,13427872,65000000,3223,"[Action, Adventure, Comedy]","[jealousy, argument, anger, shouting, regret, ...",11 November 2005
Zelig,"$60,119",Error,6,[Comedy],"[mockumentary, newsreel, 1920s, chameleon, 193...",15 July 1983
Zero Dark Thirty,417150,40000000,5,"[Drama, History, Thriller]","[lie, al qaeda, navy seal, terrorist, cia, int...",11 January 2013
Zero Day,4499,20000,1,[Drama],"[school, high school, plan, friend, revenge, s...",23 January 2004
Zero Effect,"$434,840",5000000,100,"[Comedy, Crime, Drama]","[client, blackmail, private investigator, tyco...",30 January 1998
Zero Kelvin,"$3,740",Error,1,[Drama],"[greenland, winter, male nudity, male frontal ...",27 November 1996
Zero to Sixty,N/A,Error,Error,[Comedy],"[female nudity, teenage girl, odd couple, corp...",June 1978 (USA)\n
Zeroville,N/A,Error,Error,"[Comedy, Drama]",[based on novel],Error
Zeus and Roxanne,"$2,755,382",Error,"1,745","[Adventure, Comedy, Family]","[dolphin, dog, single parent, love, animal nam...",24 January 1997
Zodiac,"$13,395,610",65000000,"2,362","[Crime, Drama, Mystery]","[serial killer, zodiac, reporter, cartoonist, ...",2 March 2007
Zombie,N/A,410000000,Error,[Horror],"[cult film, island, boat, undead, doctor, trop...",18 July 1980
Zombie Nightmare,N/A,180000,Error,[Horror],"[teenager, revenge, voodoo, male underwear, ba...",7 March 1988
Zombie Strippers!,N/A,Error,Error,"[Comedy, Horror]","[virus, zombie, stripper, strip club, club, fu...",19 September 2008
Zombieland,"$24,733,155",23600000,"3,036","[Adventure, Comedy, Horror]","[zombie, on the road, zombie spoof, amusement ...",2 October 2009
Zookeeper,"$20,065,617",80000000,"3,482","[Comedy, Family, Romance]","[zoo, champagne bottle, red bull, jewelry box,...",8 July 2011
Zoolander,"$15,525,043",28000000,"2,507",[Comedy],"[fashion, male model, malaysia, rival, reporte...",28 September 2001
Zoom,"$4,510,408",35000000,"2,501","[Action, Adventure, Family]","[superhero, super strength, bruise, teenage su...",11 August 2006
Zootopia,n/a,Error,n/a,"[Animation, Action, Adventure]","[rabbit, fox, howling, wolf, anthropomorphism,...",4 March 2016
Zorro,N/A,Error,Error,"[Action, Adventure, Comedy]","[assassination, zorro, cult film, masked super...",June 1976 (USA)\n
Zorro: The Gay Blade,n/a,Error,n/a,"[Action, Adventure, Comedy]","[hero, mexico, gay, whip, masked hero, sword, ...",17 July 1981
Zulu Dawn,N/A,Error,Error,"[Adventure, Drama, History]","[zulu, british army, rifle, battle, africa, an...",15 May 1979
eXistenZ,"$810,262",31000000,256,"[Horror, Sci-Fi, Thriller]","[game, assassin, virtual reality, pod, game de...",23 April 1999
iSteve,N/A,Error,Error,"[Biography, Comedy]",[],15 April 2013
xXx,44506103,70000000,3374,"[Action, Adventure, Thriller]","[agent, spy, extreme sports, box office hit, b...",9 August 2002
xXx: State of the Union,"$12,712,272",87000000,"3,480","[Action, Adventure, Crime]","[washington d.c., u.s. navy, president, mutiny...",29 April 2005

In [77]:
top_key_words = []
for key in data.keys():
    for key_word in data[key]['keywords']:
        top_key_words.append(key_word)

In [78]:
count = Counter(top_key_words)

In [193]:
count['space travel']

94

In [111]:
count.most_common(2500)

[('murder', 2565),
 ('independent film', 2362),
 ('death', 2267),
 ('blood', 2084),
 ('violence', 1938),
 ('female nudity', 1861),
 ('husband wife relationship', 1845),
 ('father son relationship', 1793),
 ('flashback', 1708),
 ('title spoken by character', 1635),
 ('friendship', 1589),
 ('cult film', 1581),
 ('character name in title', 1564),
 ('cigarette smoking', 1516),
 ('mother son relationship', 1515),
 ('based on novel', 1507),
 ('bare chested male', 1479),
 ('father daughter relationship', 1410),
 ('sex', 1409),
 ('police', 1388),
 ('pistol', 1387),
 ('love', 1379),
 ('kiss', 1355),
 ('dog', 1301),
 ('family relationships', 1291),
 ('chase', 1262),
 ('surprise ending', 1226),
 ('bar', 1218),
 ('explosion', 1212),
 ('dancing', 1208),
 ('fight', 1185),
 ('mother daughter relationship', 1169),
 ('photograph', 1168),
 ('revenge', 1164),
 ('hospital', 1156),
 ('one word title', 1123),
 ('gun', 1094),
 ('restaurant', 1082),
 ('boyfriend girlfriend relationship', 1081),
 ('new york city', 1079),
 ('shootout', 1034),
 ('shot to death', 1033),
 ('knife', 1032),
 ('corpse', 1029),
 ('shot in the chest', 1026),
 ('male nudity', 1018),
 ('blood splatter', 996),
 ('drunkenness', 966),
 ('nudity', 964),
 ('beating', 960),
 ('friend', 958),
 ('punched in the face', 951),
 ('telephone call', 933),
 ('party', 917),
 ('singing', 915),
 ('drinking', 900),
 ('fire', 898),
 ('helicopter', 897),
 ('voice over narration', 894),
 ('rain', 893),
 ('marriage', 879),
 ('fistfight', 871),
 ('machine gun', 870),
 ('crying', 861),
 ('falling from height', 853),
 ('brother sister relationship', 823),
 ('shot in the head', 817),
 ('watching tv', 814),
 ('doctor', 811),
 ('female frontal nudity', 798),
 ('drink', 797),
 ('cell phone', 795),
 ('slow motion scene', 792),
 ('kidnapping', 789),
 ('shotgun', 788),
 ('sequel', 786),
 ('martial arts', 781),
 ('suicide', 771),
 ('betrayal', 767),
 ('singer', 757),
 ('face slap', 749),
 ('beach', 734),
 ('train', 732),
 ('brother brother relationship', 725),
 ('car accident', 725),
 ('held at gunpoint', 724),
 ('brawl', 721),
 ('breasts', 718),
 ('teenage girl', 713),
 ('gore', 710),
 ('hotel', 707),
 ('panties', 702),
 ('deception', 701),
 ('money', 698),
 ('underwear', 694),
 ('escape', 693),
 ('church', 693),
 ('rescue', 689),
 ('shower', 688),
 ('boy', 670),
 ('vomit', 667),
 ('two word title', 666),
 ('pregnancy', 665),
 ('tough guy', 665),
 ('showdown', 661),
 ('swimming pool', 659),
 ('gunfight', 654),
 ('airplane', 651),
 ('funeral', 648),
 ('infidelity', 645),
 ('adultery', 642),
 ('torture', 640),
 ('tears', 637),
 ('los angeles california', 628),
 ('teenage boy', 628),
 ('shot in the back', 626),
 ('male rear nudity', 624),
 ('black comedy', 623),
 ('dancer', 622),
 ('hero', 622),
 ('car chase', 619),
 ('song', 603),
 ('african american', 601),
 ('jealousy', 601),
 ('hand to hand combat', 598),
 ('teenager', 597),
 ('box office flop', 596),
 ('rifle', 595),
 ('mirror', 593),
 ('arrest', 591),
 ('cemetery', 591),
 ('horse', 590),
 ('urination', 589),
 ('motorcycle', 586),
 ('prostitute', 584),
 ('snow', 578),
 ('revolver', 566),
 ('wedding', 565),
 ('female protagonist', 565),
 ('policeman', 559),
 ('fear', 558),
 ('drugs', 557),
 ('bathtub', 556),
 ('police officer', 554),
 ('elevator', 553),
 ('prison', 551),
 ('action hero', 549),
 ('1980s', 549),
 ('teacher', 547),
 ('lawyer', 545),
 ('foot chase', 544),
 ('taxi', 540),
 ('camera', 538),
 ('airport', 534),
 ('small town', 534),
 ('number in title', 528),
 ('car crash', 525),
 ('nightclub', 524),
 ('box office hit', 523),
 ('manhattan new york city', 523),
 ('cafe', 520),
 ('extramarital affair', 517),
 ('surrealism', 514),
 ('exploding car', 513),
 ('hostage', 512),
 ('high school', 510),
 ('food', 509),
 ('computer', 508),
 ('bus', 504),
 ('1990s', 498),
 ('blockbuster', 496),
 ('female rear nudity', 495),
 ('neo noir', 494),
 ('robbery', 492),
 ('cleavage', 492),
 ('tattoo', 490),
 ('anger', 487),
 ('no opening credits', 485),
 ('dream', 474),
 ('racial slur', 473),
 ('battle', 472),
 ('soldier', 471),
 ('stabbed in the chest', 470),
 ('diner', 465),
 ('sword', 465),
 ('three word title', 465),
 ('bare butt', 464),
 ('psychopath', 463),
 ('boat', 463),
 ('death of friend', 463),
 ('investigation', 461),
 ('lie', 461),
 ('gay slur', 458),
 ('man with glasses', 457),
 ('nightmare', 454),
 ('homosexual', 454),
 ('warrior', 453),
 ('subjective camera', 452),
 ('desert', 452),
 ('detective', 452),
 ('ambush', 451),
 ('girl', 451),
 ('satire', 450),
 ('impalement', 449),
 ('nurse', 448),
 ('thief', 448),
 ('police car', 447),
 ('beer', 444),
 ('london england', 444),
 ('baby', 443),
 ('flashlight', 443),
 ('shooting', 443),
 ('christmas', 442),
 ('rape', 442),
 ('letter', 440),
 ('gangster', 440),
 ('photographer', 440),
 ('wheelchair', 439),
 ('dead body', 436),
 ('priest', 433),
 ('book', 433),
 ('blonde', 430),
 ('death of father', 429),
 ('bicycle', 428),
 ('interrogation', 427),
 ('cat', 427),
 ('f word', 425),
 ('kitchen', 424),
 ('marijuana', 424),
 ('montage', 424),
 ('masturbation', 424),
 ('forest', 423),
 ('child in peril', 421),
 ('writer', 417),
 ('cigar smoking', 416),
 ('school', 413),
 ('1970s', 413),
 ('paranoia', 413),
 ('handcuffs', 411),
 ('drug use', 408),
 ('based on true story', 407),
 ('sister sister relationship', 404),
 ('police station', 401),
 ('combat', 401),
 ('hallucination', 401),
 ('anti hero', 401),
 ('running', 401),
 ("character repeating someone else's dialogue", 401),
 ('good versus evil', 397),
 ('brutality', 397),
 ('sex scene', 397),
 ('kissing', 395),
 ('dance', 395),
 ('decapitation', 392),
 ('coming of age', 392),
 ('theft', 391),
 ('shot in the forehead', 391),
 ('suspense', 389),
 ('piano', 388),
 ('children', 388),
 ('reporter', 386),
 ('remake', 386),
 ('divorce', 386),
 ('bomb', 382),
 ('scantily clad female', 381),
 ('student', 381),
 ('male frontal nudity', 380),
 ('sunglasses', 380),
 ('person on fire', 379),
 ('rooftop', 379),
 ('undressing', 379),
 ('product placement', 378),
 ('ambulance', 378),
 ('supernatural power', 377),
 ('serial killer', 376),
 ('throat slitting', 375),
 ('limousine', 373),
 ('axe', 373),
 ('unfaithfulness', 373),
 ('bare breasts', 373),
 ('prayer', 372),
 ('disarming someone', 371),
 ('surveillance', 371),
 ('disguise', 368),
 ('lesbian', 367),
 ('dysfunctional family', 366),
 ('stabbed to death', 366),
 ('bathroom', 363),
 ('death of mother', 358),
 ('severed head', 357),
 ('interview', 357),
 ('love triangle', 357),
 ('one man army', 355),
 ('shot in the leg', 355),
 ('liar', 354),
 ('lifting someone into the air', 353),
 ('jail', 352),
 ('gay', 352),
 ('birthday', 351),
 ('motel', 350),
 ('underwater scene', 350),
 ('mansion', 349),
 ('sword fight', 349),
 ('corruption', 349),
 ('classroom', 349),
 ('religion', 347),
 ('pubic hair', 346),
 ('bridge', 346),
 ('best friend', 346),
 ('newspaper', 345),
 ('strangulation', 344),
 ('conspiracy', 343),
 ('car', 342),
 ('hit by a car', 342),
 ('interracial relationship', 341),
 ('based on book', 341),
 ('secret', 340),
 ('politics', 340),
 ('title directed by female', 340),
 ('telephone', 339),
 ('subway', 338),
 ('memory', 338),
 ('waitress', 336),
 ('eating', 332),
 ('stabbed in the back', 331),
 ('prologue', 330),
 ('stabbing', 330),
 ('hitman', 329),
 ('police detective', 329),
 ('assassin', 329),
 ('opening action scene', 327),
 ('painting', 327),
 ('musician', 325),
 ('candle', 323),
 ('pay phone', 323),
 ('kicked in the face', 319),
 ('premarital sex', 319),
 ('neighbor', 318),
 ('character says i love you', 318),
 ('security guard', 317),
 ('news report', 317),
 ('seduction', 316),
 ('apartment', 316),
 ('courtroom', 316),
 ('apology', 315),
 ('exploding body', 314),
 ('obsession', 314),
 ('bully', 314),
 ('drug dealer', 313),
 ('sniper', 313),
 ('racism', 312),
 ('redemption', 312),
 ('california', 311),
 ('mixed martial arts', 310),
 ('scientist', 310),
 ('video camera', 309),
 ('woods', 307),
 ('guilt', 307),
 ('coffin', 307),
 ('obscene finger gesture', 306),
 ('monster', 306),
 ('military', 305),
 ('shot in the shoulder', 304),
 ('1960s', 303),
 ('critically bashed', 303),
 ('swimming', 302),
 ('police officer killed', 302),
 ('nonlinear timeline', 301),
 ('bed', 296),
 ('guitar', 295),
 ('graveyard', 295),
 ('2000s', 295),
 ('cocaine', 294),
 ('wine', 293),
 ('reference to god', 292),
 ('convertible', 291),
 ('teacher student relationship', 291),
 ('white panties', 291),
 ('river', 290),
 ('single mother', 288),
 ('flash forward', 287),
 ('organized crime', 286),
 ('massacre', 285),
 ('silencer', 285),
 ('toilet', 284),
 ('fired from the job', 281),
 ('electrocution', 280),
 ('binoculars', 279),
 ('punctuation in title', 278),
 ('band', 278),
 ('scene during end credits', 277),
 ('terrorism', 277),
 ('sheriff', 276),
 ('prisoner', 276),
 ('fellatio', 276),
 ('beaten to death', 274),
 ('actor', 273),
 ('map', 273),
 ('judge', 273),
 ('little girl', 270),
 ('orphan', 270),
 ('machismo', 269),
 ('penis', 269),
 ('1950s', 269),
 ('sadism', 268),
 ('double cross', 268),
 ('truck', 268),
 ('bra', 267),
 ('marriage proposal', 266),
 ('gas station', 266),
 ('basketball', 266),
 ('false accusation', 266),
 ('oral sex', 266),
 ('femme fatale', 263),
 ('lust', 263),
 ('spy', 262),
 ('american flag', 262),
 ('college', 262),
 ('spoof', 262),
 ('subtitled scene', 260),
 ('evil man', 260),
 ('locker room', 260),
 ('microphone', 260),
 ('ship', 259),
 ('upskirt', 259),
 ('england', 259),
 ('insanity', 258),
 ('library', 257),
 ('ghost', 257),
 ('bartender', 257),
 ('self sacrifice', 257),
 ('paris france', 256),
 ('kissing while having sex', 256),
 ('actress', 256),
 ('survival', 255),
 ('catholic', 255),
 ('second part', 255),
 ('fbi', 254),
 ('little boy', 254),
 ('voyeur', 253),
 ('shot in the arm', 252),
 ('voyeurism', 252),
 ('birthday party', 252),
 ('water', 252),
 ('record player', 251),
 ('one against many', 251),
 ('lesbian kiss', 251),
 ('gambling', 250),
 ('child abuse', 250),
 ('neck breaking', 248),
 ('criminal', 248),
 ('race against time', 248),
 ('1940s', 247),
 ('psychiatrist', 246),
 ('blackmail', 246),
 ('newspaper headline', 245),
 ('terrorist', 244),
 ('black american', 244),
 ('snake', 243),
 ('loneliness', 243),
 ('exploding building', 243),
 ('severed arm', 242),
 ('on the run', 242),
 ('bound and gagged', 242),
 ('based on play', 241),
 ('knocked out', 241),
 ('humiliation', 241),
 ('topless female nudity', 241),
 ('campfire', 241),
 ('1930s', 240),
 ('urban setting', 240),
 ('lightning', 240),
 ('tragedy', 239),
 ('reading', 239),
 ('artist', 239),
 ('search', 238),
 ('mask', 238),
 ("character's point of view camera shot", 238),
 ('farm', 237),
 ('suicide attempt', 237),
 ('duel', 236),
 ('tough girl', 236),
 ('nun', 235),
 ('alien', 234),
 ('fugitive', 234),
 ('semiautomatic pistol', 233),
 ('champagne', 233),
 ('hit in the crotch', 233),
 ('confession', 232),
 ('nipples visible through clothing', 231),
 ('washington d.c.', 231),
 ('pursuit', 231),
 ('uzi', 230),
 ('widow', 230),
 ('storytelling', 230),
 ('suburb', 230),
 ('hairy chest', 230),
 ('professor', 229),
 ('jewish', 229),
 ('cruelty', 229),
 ('american abroad', 229),
 ('grief', 229),
 ('stripper', 228),
 ('drowning', 228),
 ('murder of a police officer', 228),
 ('chicago illinois', 227),
 ('what happened to epilogue', 225),
 ('teen angst', 225),
 ('threatened with a knife', 224),
 ('death of wife', 224),
 ('female removes her clothes', 224),
 ('world war two', 224),
 ('tied to a chair', 224),
 ('19th century', 223),
 ('execution', 223),
 ('wealth', 223),
 ('falling down stairs', 223),
 ('depression', 223),
 ('home invasion', 222),
 ('drawing', 221),
 ('lake', 221),
 ('dying', 220),
 ('night', 219),
 ('kung fu', 219),
 ('hypodermic needle', 219),
 ('scar', 219),
 ('dinner', 218),
 ('gang', 218),
 ('sniper rifle', 218),
 ('umbrella', 218),
 ('illness', 217),
 ('attempted murder', 217),
 ('trial', 217),
 ('suitcase', 217),
 ('hanging', 216),
 ('reference to jesus christ', 216),
 ('old man', 216),
 ('injection', 215),
 ('leg spreading', 215),
 ('cover up', 215),
 ('class differences', 215),
 ('nipples', 214),
 ('alcoholic', 213),
 ('mafia', 213),
 ('death of brother', 213),
 ('police chase', 213),
 ('fantasy sequence', 212),
 ('assassination', 212),
 ('heavy rain', 212),
 ('killing an animal', 212),
 ('girl in panties', 211),
 ('female full frontal nudity', 210),
 ('rivalry', 210),
 ('van', 210),
 ('horse riding', 210),
 ('training', 210),
 ('mental illness', 210),
 ('cave', 209),
 ('death of child', 209),
 ('skeleton', 209),
 ('undercover', 209),
 ('bedroom', 208),
 ('tape recorder', 207),
 ('baseball bat', 206),
 ('burned alive', 206),
 ('punched in the stomach', 206),
 ('magic', 206),
 ('new york', 206),
 ('screaming', 205),
 ('police brutality', 205),
 ('villain', 205),
 ('bikini', 205),
 ('general', 205),
 ('rural setting', 205),
 ('army', 204),
 ('maid', 204),
 ('alcohol', 203),
 ('laboratory', 203),
 ('strip club', 203),
 ('security camera', 203),
 ('dream sequence', 203),
 ('first part', 203),
 ('scream', 202),
 ('cross', 202),
 ('crushed to death', 202),
 ('police shootout', 201),
 ('bath', 201),
 ('greed', 201),
 ('tv news', 201),
 ('journalist', 201),
 ('radio', 201),
 ('reverse footage', 200),
 ('swat team', 200),
 ('karate', 200),
 ('gunshot', 199),
 ('freeze frame', 199),
 ('rat', 199),
 ('grave', 198),
 ('future', 197),
 ('concert', 197),
 ('island', 197),
 ('mini skirt', 197),
 ('village', 196),
 ('transformation', 196),
 ('dating', 196),
 ('head butt', 196),
 ('tunnel', 196),
 ('cowboy hat', 196),
 ('waterfall', 195),
 ('pickup truck', 194),
 ('road trip', 194),
 ('flatulence', 194),
 ('fireplace', 194),
 ('baseball', 194),
 ('pianist', 194),
 ('fictional war', 193),
 ('break up', 192),
 ('older man younger woman relationship', 192),
 ('ex husband ex wife relationship', 192),
 ('breaking the fourth wall', 192),
 ('virgin', 192),
 ('class', 192),
 ('coffee', 191),
 ('widower', 191),
 ('bird', 191),
 ('drug addict', 191),
 ('digit in title', 190),
 ('cartoon on tv', 190),
 ('writing', 190),
 ('castle', 189),
 ('electronic music score', 189),
 ('bow and arrow', 188),
 ('uncle nephew relationship', 188),
 ('severed hand', 188),
 ('ak 47', 188),
 ('on the road', 188),
 ('written and directed by cast member', 187),
 ('stylized violence', 187),
 ('loss of father', 187),
 ('pot smoking', 187),
 ('controversy', 186),
 ('robot', 186),
 ('key', 186),
 ('prostitution', 186),
 ('mission', 186),
 ('split screen', 186),
 ('dismemberment', 185),
 ('mistaken identity', 185),
 ('san francisco california', 185),
 ('childbirth', 185),
 ('assassination attempt', 185),
 ('unrequited love', 184),
 ('argument', 184),
 ('jew', 184),
 ('fish', 184),
 ('death of husband', 183),
 ('eyeglasses', 183),
 ('applause', 183),
 ('street shootout', 183),
 ('pantyhose', 182),
 ('switchblade', 182),
 ('television', 182),
 ('outer space', 182),
 ('mercenary', 182),
 ('fbi agent', 182),
 ('pain', 181),
 ('sadist', 181),
 ('fighting', 181),
 ('slasher', 181),
 ('wig', 181),
 ('battlefield', 181),
 ('railway station', 181),
 ('spear', 181),
 ('mountain', 181),
 ('crime boss', 180),
 ('thrown through a window', 180),
 ('recording', 180),
 ('jungle', 180),
 ('gash in the face', 180),
 ('animal in title', 180),
 ('shot in the stomach', 179),
 ('loss of friend', 179),
 ('bible', 179),
 ('death of son', 178),
 ('bodyguard', 178),
 ('single parent', 178),
 ('lesbianism', 178),
 ('tragic event', 178),
 ('suspicion', 178),
 ('panic', 178),
 ('public nudity', 177),
 ('male pubic hair', 177),
 ('tent', 177),
 ('typewriter', 177),
 ('slapstick comedy', 177),
 ('sexuality', 177),
 ('christmas tree', 177),
 ('native american', 176),
 ('corrupt cop', 176),
 ('flowers', 176),
 ('fishing', 176),
 ('parking garage', 175),
 ('bar fight', 175),
 ('written by director', 175),
 ('scene during opening credits', 175),
 ('walkie talkie', 175),
 ('film within a film', 175),
 ('self mutilation', 174),
 ('target practice', 174),
 ('animal attack', 174),
 ('fish out of water', 174),
 ('lingerie', 173),
 ('bank', 173),
 ('answering machine', 173),
 ('brunette', 172),
 ('jail cell', 172),
 ('nazi', 172),
 ('rainstorm', 172),
 ('shot in the face', 172),
 ('love interest', 172),
 ('black panties', 172),
 ('erection', 172),
 ('court', 172),
 ('phone booth', 172),
 ('heart attack', 172),
 ('threat', 172),
 ('die hard scenario', 171),
 ('poison', 171),
 ('child murder', 171),
 ('hand grenade', 171),
 ('breaking and entering', 171),
 ('demon', 170),
 ('ex convict', 170),
 ('lens flare', 170),
 ('arson', 169),
 ('roommate', 169),
 ('heist', 169),
 ('incest', 169),
 ('talking to the camera', 169),
 ('destiny', 168),
 ('syringe', 168),
 ('automobile', 168),
 ('sociopath', 168),
 ('farce', 168),
 ('manipulation', 168),
 ('heroin', 167),
 ('stalking', 166),
 ('statue', 165),
 ('secret agent', 165),
 ('poverty', 165),
 ('faked death', 165),
 ('shaving', 165),
 ('taxi driver', 165),
 ('vandalism', 165),
 ('directed by star', 165),
 ('loss of mother', 165),
 ('gay interest', 165),
 ('title appears in writing', 165),
 ('secretary', 164),
 ('storm', 164),
 ('stabbed in the leg', 164),
 ('casino', 164),
 ('crucifix', 164),
 ('filmmaking', 164),
 ('kicked in the stomach', 164),
 ('gay kiss', 164),
 ('witness', 163),
 ('author', 163),
 ('directorial debut', 163),
 ('old woman', 163),
 ('cancer', 163),
 ('erotica', 163),
 ('slow motion', 163),
 ('speech', 162),
 ('ex boyfriend ex girlfriend relationship', 162),
 ('pump action shotgun', 162),
 ('ring', 161),
 ('orgasm', 161),
 ('revelation', 161),
 ('cult director', 161),
 ('sexual attraction', 161),
 ('theatre audience', 161),
 ('cousin cousin relationship', 160),
 ('politician', 160),
 ('cia', 160),
 ('park', 160),
 ('cooking', 159),
 ('attempted rape', 159),
 ('king', 159),
 ('wilhelm scream', 159),
 ('jumping through a window', 159),
 ('body landing on a car', 159),
 ('texas', 159),
 ('fireworks', 159),
 ('press conference', 159),
 ('mexican standoff', 159),
 ('painter', 159),
 ('watching a movie', 158),
 ('superhero', 158),
 ('black humor', 158),
 ('courage', 158),
 ('race relations', 158),
 ('boxing', 158),
 ('basement', 158),
 ('flirting', 158),
 ('red dress', 157),
 ('fainting', 157),
 ('ocean', 157),
 ('kicked in the crotch', 157),
 ('psychotronic', 157),
 ('condom', 157),
 ('las vegas nevada', 157),
 ('jumping from height', 157),
 ('rocket launcher', 157),
 ('sex in bed', 157),
 ('mexico', 157),
 ('rage', 156),
 ('pilot', 156),
 ('creature', 156),
 ('wisecrack humor', 156),
 ('gothic', 156),
 ('stealing a car', 156),
 ('exploding helicopter', 156),
 ('trap', 156),
 ('hotel room', 155),
 ('blindness', 155),
 ('pig', 155),
 ('birthday cake', 155),
 ('based on tv series', 154),
 ('woman with glasses', 154),
 ('reference to william shakespeare', 154),
 ('pub', 154),
 ('sadness', 154),
 ('u.s. president', 153),
 ('eaten alive', 153),
 ('grenade', 153),
 ('henchman', 153),
 ('sabotage', 153),
 ('dysfunctional marriage', 152),
 ('costume', 152),
 ('loss of virginity', 152),
 ('severed finger', 152),
 ('ritual', 152),
 ('place name in title', 152),
 ('nosebleed', 151),
 ('tank', 151),
 ('tree', 151),
 ('back from the dead', 151),
 ('actor shares first name with character', 151),
 ('stabbed in the stomach', 151),
 ('raised middle finger', 151),
 ('based on comic book', 151),
 ('drug addiction', 151),
 ('vengeance', 150),
 ('competition', 150),
 ('bisexual', 150),
 ('interracial friendship', 150),
 ('college student', 150),
 ('no panties', 150),
 ('captain', 150),
 ('male underwear', 150),
 ('stabbed in the throat', 150),
 ('tied up', 149),
 ('whiskey', 149),
 ('wristwatch', 149),
 ('british', 149),
 ('employer employee relationship', 149),
 ('jeep', 149),
 ('barefoot', 149),
 ('singing in a car', 148),
 ('doll', 148),
 ('knife throwing', 148),
 ('drug overdose', 148),
 ('alcoholism', 148),
 ('supermarket', 147),
 ('woman on top', 147),
 ('masked man', 147),
 ('trust', 147),
 ('affection', 147),
 ('ethnic slur', 147),
 ('school bus', 146),

In [439]:
data['Star Wars: Episode III - Revenge of the Sith']

{'budget': 113000000,
 'date': '19 May 2005',
 'genre': ['Action', 'Adventure', 'Fantasy', 'sequel'],
 'keywords': ['elongated cry of no',
  'general',
  'chancellor',
  'vision',
  'childbirth',
  'dying in childbirth',
  'jedi knight',
  'star wars',
  'rescue',
  'lightsaber',
  'box office hit',
  'interplanetary adoption',
  'robotic midwife',
  'coughing robot',
  'political intrigue',
  'romantic balcony scene',
  'character says i have a bad feeling about this',
  'borderline personality disorder',
  'force choke',
  'murder of a child',
  'buzz droid',
  'wookiee',
  'jedi youngling',
  'force lightning',
  'kicked in the chest',
  'friends become enemies',
  'choking someone',
  'grabbed by the throat',
  'character says i love you',
  'character says i hate you',
  'twins separated at birth',
  'birth of twins',
  'father misses the birth of his child',
  'eight word title',
  'hyphen in title',
  'colon in title',
  'roman numbered sequel',
  'leitmotif',
  'symphonic music score',
  'orchestral music score',
  'death in childbirth',
  'end of trilogy',
  'kicked in the butt',
  'end of war',
  'battle',
  'kung fu',
  'kendo',
  'disarming someone',
  'laser gun',
  'laser pistol',
  'gunfight',
  'showdown',
  'opening action scene',
  'sword duel',
  'hand to hand combat',
  'combat',
  'action hero',
  'hero',
  'allegory of multiple historical events.',
  'husband wife relationship',
  'subjective camera',
  'lifting a female into the air',
  "character's point of view camera shot",
  'woman in labor',
  'dream',
  'bolt upright after nightmare',
  'punctuation in title',
  'roman numeral in title',
  'numbered sequel',
  'mechanical hand',
  'lifting someone into the air',
  'sole black character dies cliche',
  'triple child murder',
  'dead children',
  'tragic event',
  'cult figure',
  'cult film',
  'fictional war',
  'expectant mother',
  'expectant father',
  'alien race',
  'marital abuse',
  'domestic violence',
  'abusive husband',
  'man on fire',
  'funeral procession',
  'torture',
  'temptation',
  'suffering',
  'soldier',
  'marriage',
  'violence',
  'humiliation',
  'disciple',
  'compassion',
  'christ figure',
  'blood',
  'galactic war',
  'no opening credits',
  'melodrama',
  'wuxia fiction',
  'messiah',
  'spaceship',
  'space war',
  'space travel',
  'space shuttle',
  'warp speed',
  'human alien',
  'alien technology',
  'alien space craft',
  'alien language',
  'alien contact',
  'alien civilization',
  'pregnant wife',
  'giving birth',
  'fight',
  'birth',
  'space opera',
  'outer space',
  'invented language',
  'doctor',
  'disguise',
  'death star',
  'computer',
  'volcano',
  'wilhelm scream',
  'severed head',
  'monster as victim',
  'personality change',
  'destiny',
  'severed leg',
  'space battle',
  'warrior race',
  'blockbuster',
  'nightmare',
  'treason',
  'temple',
  'telekinesis',
  'shootout',
  'senate',
  'secret marriage',
  'prosthetic limb',
  'premonition',
  'murder',
  'loss of wife',
  'ledge',
  'hangar',
  'giant lizard',
  'funeral',
  'farm',
  'epic',
  'elevator',
  'elevator shaft',
  'dream sequence',
  'desert',
  'twin',
  'torso cut in half',
  'sword and sorcery',
  'surgery',
  'stabbed in chest',
  'stabbed in the back',
  'shot to death',
  'shot in the chest',
  'shot in the back',
  'shame',
  'severed hand',
  'severed arm',
  'robot vs. robot',
  'remorse',
  'person on fire',
  'mass murder',
  'loss of friend',
  'hatred',
  'falling from height',
  'exploding ship',
  'evil robot',
  'electrocution',
  'dismemberment',
  'disfigured face',
  'decapitation',
  'crushed to death',
  'burned alive',
  'adoption',
  'hologram',
  'tragic villain',
  'alien',
  'returning character killed off',
  'queen',
  'emperor',
  'spacecraft',
  'senator',
  'robot',
  'pregnancy',
  'planet',
  'mentor',
  'disfigurement',
  'armor',
  'tragedy',
  'third part',
  'lava',
  'chosen one',
  'warrior',
  'sword fight',
  'good versus evil',
  'betrayal',
  'saga',
  'sequel',
  'part computer animation',
  'moral corruption',
  'prequel',
  'downfall',
  'martial arts',
  'number in title'],
 'opening': '$108,435,841',
 'screens': '3,661'}

top_key_words_split = []
for key in data.keys():
    for key_string in data[key]['keywords']:
        split = key_string.split()
        for word in split:
            top_key_words_split.append(word)

In [53]:
count_split = Counter(top_key_words_split)

In [107]:
count_split['found']

47

In [139]:
def date_helper(date):
    try:
        date = parser.parse(date)
        return True
    except: 
        pass
    return False

In [160]:
artificial_intelligence_keys_dic = {}
artificial_intelligence_keys_dic = defaultdict(dict)
for key in data.keys():
    for key_word in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            if key_word in ai_list:
                artificial_intelligence_keys_dic['artificial intelligence'][year]= artificial_intelligence_keys_dic['artificial intelligence'].get(year, 0) + 1

In [449]:
ai_dic = defaultdict(dict)
for key in data.keys():
    if 'artificial intelligence' in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            ai_dic[year][key]= defaultdict(dict)
            ai_dic[year][key]['date']= data[key]['date']
            ai_dic[year][key]['screens']= data[key]['screens']
            ai_dic[year][key]['opening']= data[key]['opening']
                #space_dic['space'][year].append(key,)

In [451]:
frames = []
years = []
for year, movies in ai_dic.items():
    years.append(year)
    frames.append(pd.DataFrame.from_dict(movies, orient='index'))
ai_frame = pd.concat(frames, keys=years)

In [452]:
ai_frame

                                                       date screens  \
1974 Zardoz                                 6 February 1974   Error
1975 Rollerball                                25 June 1975   Error
1977 Demon Seed                           30 September 1977   Error
1979 Dark Star                              9 February 1979   Error
     Star Trek: The Motion Picture          7 December 1979     857
1980 Saturn 3                              15 February 1980     n/a
1982 Blade Runner                              25 June 1982   1,295
     TRON                                       9 July 1982
1983 Superman III                              17 June 1983   1,759
1984 2010                                   7 December 1984   1,126
     Electric Dreams                           20 July 1984     920
     Runaway                               14 December 1984     720
     The Terminator                         26 October 1984   1,005
1986 Deadly Friend                          10 October 1986   1,213
     Flight of the Navigator                   30 July 1986     952
     Short Circuit                               9 May 1986   1,033
1990 Hardware                             14 September 1990     695
     Roger Corman's Frankenstein Unbound    2 November 1990     n/a
1991 Terminator 2: Judgment Day                 3 July 1991   2,274
1992 The Lawnmower Man                         6 March 1992   1,276
1993 Fortress                              3 September 1993   1,204
1995 Johnny Mnemonic                            26 May 1995   2,030
1996 Solo                                    23 August 1996   1,230
1997 Batman  Robin                             20 June 1997   2,934
1998 Small Soldiers                            10 July 1998   2,539
1999 Bicentennial Man                      17 December 1999   2,518
     Galaxy Quest                          25 December 1999   2,412
     The Matrix                               31 March 1999   2,849
2001 A.I. Artificial Intelligence              29 June 2001   3,242
2002 Jason X                                  26 April 2002       1
...                                                     ...     ...
     Resident Evil                            15 March 2002   2,528
     The Time Machine                          8 March 2002   2,944
2003 Terminator 3: Rise of the Machines         2 July 2003   3,504
     The Animatrix                              3 June 2003   Error
     The Matrix Reloaded                        15 May 2003   3,603
     The Matrix Revolutions                 5 November 2003   3,502
2004 I, Robot                                  16 July 2004   3,420
2005 A Sound of Thunder                    2 September 2005     816
     Stealth                                   29 July 2005   3,495
2007 The Last Mimzy                           23 March 2007       1
     Transformers                               3 July 2007   4,011
2008 Babylon A.D.                            29 August 2008   3,390
     Eagle Eye                            26 September 2008   3,510
     Iron Man                                    2 May 2008   4,105
2009 Echelon Conspiracy                    27 February 2009     400
     Moon                                      10 July 2009      57
     Technotise - Edit i ja               28 September 2009   Error
     Terminator Salvation                       21 May 2009   3,530
2010 Iron Man 2                                  7 May 2010   4,380
2011 Thor                                        6 May 2011   3,955
2012 Resident Evil: Retribution           14 September 2012   3,012
2013 Elysium                                  9 August 2013   3,284
     Iron Man 3                                  3 May 2013   4,253
     Man of Steel                              14 June 2013   4,207
     Oblivion                                 19 April 2013   3,783
     Pacific Rim                               12 July 2013   3,275
2014 Interstellar                           7 November 2014    3561
2015 Avengers: Age of Ultron                     1 May 2015   4,276
     Chappie                                   6 March 2015   Error
     Terminator Genisys                         1 July 2015   3,758

                                               opening
1974 Zardoz                                        N/A
1975 Rollerball                                    N/A
1977 Demon Seed                                    N/A
1979 Dark Star                                     N/A
     Star Trek: The Motion Picture         $11,926,421
1980 Saturn 3                                      n/a
1982 Blade Runner                           $6,150,002
     TRON                                      4761795
1983 Superman III                          $13,352,357
1984 2010                                   $7,393,361
     Electric Dreams                        $1,009,586
     Runaway                                $1,198,279
     The Terminator                         $4,020,663
1986 Deadly Friend                          $3,804,429
     Flight of the Navigator                   3115097
     Short Circuit                          $5,346,808
1990 Hardware                               $2,381,285
     Roger Corman's Frankenstein Unbound           n/a
1991 Terminator 2: Judgment Day            $31,765,506
1992 The Lawnmower Man                      $7,751,971
1993 Fortress                               $4,040,711
1995 Johnny Mnemonic                        $6,033,850
1996 Solo                                   $2,228,668
1997 Batman  Robin                         $42,872,605
1998 Small Soldiers                        $14,047,592
1999 Bicentennial Man                       $8,234,926
     Galaxy Quest                           $7,012,630
     The Matrix                            $27,788,331
2001 A.I. Artificial Intelligence          $29,352,630
2002 Jason X                                    $4,323
...                                                ...
     Resident Evil                         $17,707,106
     The Time Machine                      $22,610,437
2003 Terminator 3: Rise of the Machines    $44,041,440
     The Animatrix                                 N/A
     The Matrix Reloaded                   $91,774,413
     The Matrix Revolutions                $48,475,154
2004 I, Robot                              $52,179,887
2005 A Sound of Thunder                       $917,398
     Stealth                               $13,251,545
2007 The Last Mimzy                               $336
     Transformers                          $70,502,384
2008 Babylon A.D.                           $9,484,627
     Eagle Eye                             $29,150,721
     Iron Man                              $98,618,668
2009 Echelon Conspiracy                       $500,154
     Moon                                          N/A
     Technotise - Edit i ja                        N/A
     Terminator Salvation                  $42,558,390
2010 Iron Man 2                           $128,122,480
2011 Thor                                  $65,723,338
2012 Resident Evil: Retribution            $21,052,227
2013 Elysium                               $29,807,393
     Iron Man 3                           $174,144,585
     Man of Steel                         $116,619,362
     Oblivion                              $37,054,485
     Pacific Rim                           $37,285,325
2014 Interstellar                             47510360
2015 Avengers: Age of Ultron              $191,271,109
     Chappie                                       N/A
     Terminator Genisys                    $27,018,486

[61 rows x 3 columns]

In [450]:
ai_dic

defaultdict(<type 'dict'>, {1974: {'Zardoz': defaultdict(<type 'dict'>, {'date': '6 February 1974', 'screens': 'Error', 'opening': 'N/A'})}, 1975: {'Rollerball': defaultdict(<type 'dict'>, {'date': '25 June 1975', 'screens': 'Error', 'opening': 'N/A'})}, 1977: {'Demon Seed': defaultdict(<type 'dict'>, {'date': '30 September 1977', 'screens': 'Error', 'opening': 'N/A'})}, 1979: {'Star Trek: The Motion Picture': defaultdict(<type 'dict'>, {'date': '7 December 1979', 'screens': '857', 'opening': '$11,926,421'}), 'Dark Star': defaultdict(<type 'dict'>, {'date': '9 February 1979', 'screens': 'Error', 'opening': 'N/A'})}, 1980: {'Saturn 3': defaultdict(<type 'dict'>, {'date': '15 February 1980', 'screens': 'n/a', 'opening': 'n/a'})}, 1982: {'Blade Runner': defaultdict(<type 'dict'>, {'date': '25 June 1982', 'screens': '1,295', 'opening': '$6,150,002'}), 'TRON': defaultdict(<type 'dict'>, {'date': '9 July 1982', 'screens': '', 'opening': 4761795})}, 1983: {'Superman III': defaultdict(<type 'dict'>, {'date': '17 June 1983', 'screens': '1,759', 'opening': '$13,352,357'})}, 1984: {'Electric Dreams': defaultdict(<type 'dict'>, {'date': '20 July 1984', 'screens': '920', 'opening': '$1,009,586'}), 'The Terminator': defaultdict(<type 'dict'>, {'date': '26 October 1984', 'screens': '1,005', 'opening': '$4,020,663'}), '2010': defaultdict(<type 'dict'>, {'date': '7 December 1984', 'screens': '1,126', 'opening': '$7,393,361'}), 'Runaway': defaultdict(<type 'dict'>, {'date': '14 December 1984', 'screens': '720', 'opening': '$1,198,279'})}, 1986: {'Flight of the Navigator': defaultdict(<type 'dict'>, {'date': '30 July 1986', 'screens': '952', 'opening': 3115097}), 'Deadly Friend': defaultdict(<type 'dict'>, {'date': '10 October 1986', 'screens': '1,213', 'opening': '$3,804,429'}), 'Short Circuit': defaultdict(<type 'dict'>, {'date': '9 May 1986', 'screens': '1,033', 'opening': '$5,346,808'})}, 1990: {'Hardware': defaultdict(<type 'dict'>, {'date': '14 September 1990', 'screens': '695', 'opening': '$2,381,285'}), "Roger Corman's Frankenstein Unbound": defaultdict(<type 'dict'>, {'date': '2 November 1990', 'screens': 'n/a', 'opening': 'n/a'})}, 1991: {'Terminator 2: Judgment Day': defaultdict(<type 'dict'>, {'date': '3 July 1991', 'screens': '2,274', 'opening': '$31,765,506'})}, 1992: {'The Lawnmower Man': defaultdict(<type 'dict'>, {'date': '6 March 1992', 'screens': '1,276', 'opening': '$7,751,971'})}, 1993: {'Fortress': defaultdict(<type 'dict'>, {'date': '3 September 1993', 'screens': '1,204', 'opening': '$4,040,711'})}, 1995: {'Johnny Mnemonic': defaultdict(<type 'dict'>, {'date': '26 May 1995', 'screens': '2,030', 'opening': '$6,033,850'})}, 1996: {'Solo': defaultdict(<type 'dict'>, {'date': '23 August 1996', 'screens': '1,230', 'opening': '$2,228,668'})}, 1997: {'Batman  Robin': defaultdict(<type 'dict'>, {'date': '20 June 1997', 'screens': '2,934', 'opening': '$42,872,605'})}, 1998: {'Small Soldiers': defaultdict(<type 'dict'>, {'date': '10 July 1998', 'screens': '2,539', 'opening': '$14,047,592'})}, 1999: {'Bicentennial Man': defaultdict(<type 'dict'>, {'date': '17 December 1999', 'screens': '2,518', 'opening': '$8,234,926'}), 'The Matrix': defaultdict(<type 'dict'>, {'date': '31 March 1999', 'screens': '2,849', 'opening': '$27,788,331'}), 'Galaxy Quest': defaultdict(<type 'dict'>, {'date': '25 December 1999', 'screens': '2,412', 'opening': '$7,012,630'})}, 2001: {'A.I. Artificial Intelligence': defaultdict(<type 'dict'>, {'date': '29 June 2001', 'screens': '3,242', 'opening': '$29,352,630'})}, 2002: {'Metropolis': defaultdict(<type 'dict'>, {'date': '25 January 2002', 'screens': '9', 'opening': '$84,660'}), 'Resident Evil': defaultdict(<type 'dict'>, {'date': '15 March 2002', 'screens': '2,528', 'opening': '$17,707,106'}), 'Jason X': defaultdict(<type 'dict'>, {'date': '26 April 2002', 'screens': '1', 'opening': '$4,323'}), 'The Time Machine': defaultdict(<type 'dict'>, {'date': '8 March 2002', 'screens': '2,944', 'opening': '$22,610,437'})}, 2003: {'The Matrix Reloaded': defaultdict(<type 'dict'>, {'date': '15 May 2003', 'screens': '3,603', 'opening': '$91,774,413'}), 'The Animatrix': defaultdict(<type 'dict'>, {'date': '3 June 2003', 'screens': 'Error', 'opening': 'N/A'}), 'The Matrix Revolutions': defaultdict(<type 'dict'>, {'date': '5 November 2003', 'screens': '3,502', 'opening': '$48,475,154'}), 'Terminator 3: Rise of the Machines': defaultdict(<type 'dict'>, {'date': '2 July 2003', 'screens': '3,504', 'opening': '$44,041,440'})}, 2004: {'I, Robot': defaultdict(<type 'dict'>, {'date': '16 July 2004', 'screens': '3,420', 'opening': '$52,179,887'})}, 2005: {'Stealth': defaultdict(<type 'dict'>, {'date': '29 July 2005', 'screens': '3,495', 'opening': '$13,251,545'}), 'A Sound of Thunder': defaultdict(<type 'dict'>, {'date': '2 September 2005', 'screens': '816', 'opening': '$917,398'})}, 2007: {'The Last Mimzy': defaultdict(<type 'dict'>, {'date': '23 March 2007', 'screens': '1', 'opening': '$336'}), 'Transformers': defaultdict(<type 'dict'>, {'date': '3 July 2007', 'screens': '4,011', 'opening': '$70,502,384'})}, 2008: {'Eagle Eye': defaultdict(<type 'dict'>, {'date': '26 September 2008', 'screens': '3,510', 'opening': '$29,150,721'}), 'Iron Man': defaultdict(<type 'dict'>, {'date': '2 May 2008', 'screens': '4,105', 'opening': '$98,618,668'}), 'Babylon A.D.': defaultdict(<type 'dict'>, {'date': '29 August 2008', 'screens': '3,390', 'opening': '$9,484,627'})}, 2009: {'Echelon Conspiracy': defaultdict(<type 'dict'>, {'date': '27 February 2009', 'screens': '400', 'opening': '$500,154'}), 'Technotise - Edit i ja': defaultdict(<type 'dict'>, {'date': '28 September 2009', 'screens': 'Error', 'opening': 'N/A'}), 'Terminator Salvation': defaultdict(<type 'dict'>, {'date': '21 May 2009', 'screens': '3,530', 'opening': '$42,558,390'}), 'Moon': defaultdict(<type 'dict'>, {'date': '10 July 2009', 'screens': '57', 'opening': 'N/A'})}, 2010: {'Iron Man 2': defaultdict(<type 'dict'>, {'date': '7 May 2010', 'screens': '4,380', 'opening': '$128,122,480'})}, 2011: {'Thor': defaultdict(<type 'dict'>, {'date': '6 May 2011', 'screens': '3,955', 'opening': '$65,723,338'})}, 2012: {'Resident Evil: Retribution': defaultdict(<type 'dict'>, {'date': '14 September 2012', 'screens': '3,012', 'opening': '$21,052,227'})}, 2013: {'Man of Steel': defaultdict(<type 'dict'>, {'date': '14 June 2013', 'screens': '4,207', 'opening': '$116,619,362'}), 'Oblivion': defaultdict(<type 'dict'>, {'date': '19 April 2013', 'screens': '3,783', 'opening': '$37,054,485'}), 'Iron Man 3': defaultdict(<type 'dict'>, {'date': '3 May 2013', 'screens': '4,253', 'opening': '$174,144,585'}), 'Elysium': defaultdict(<type 'dict'>, {'date': '9 August 2013', 'screens': '3,284', 'opening': '$29,807,393'}), 'Pacific Rim': defaultdict(<type 'dict'>, {'date': '12 July 2013', 'screens': '3,275', 'opening': '$37,285,325'})}, 2014: {'Interstellar': defaultdict(<type 'dict'>, {'date': '7 November 2014', 'screens': '3561', 'opening': 47510360})}, 2015: {'Avengers: Age of Ultron': defaultdict(<type 'dict'>, {'date': '1 May 2015', 'screens': '4,276', 'opening': '$191,271,109'}), 'Terminator Genisys': defaultdict(<type 'dict'>, {'date': '1 July 2015', 'screens': '3,758', 'opening': '$27,018,486'}), 'Chappie': defaultdict(<type 'dict'>, {'date': '6 March 2015', 'screens': 'Error', 'opening': 'N/A'})}})

In [117]:
ai_list = ['artificial intelligence', 'robot as pathos' 'robot human relationship' ]

In [41]:
l = 'hello do'
sp = l.split()

In [161]:
artificial_intelligence_keys_dic

{'artificial intelligence': defaultdict(<type 'dict'>, {1974: 1, 1975: 1, 1977: 1, 1979: 2, 1980: 1, 1982: 2, 1983: 1, 1984: 4, 1986: 3, 1990: 2, 1991: 1, 1992: 1, 1993: 1, 1995: 1, 1996: 1, 1997: 1, 1998: 1, 1999: 3, 2001: 1, 2002: 4, 2003: 4, 2004: 1, 2005: 2, 2007: 2, 2008: 3, 2009: 4, 2010: 1, 2011: 1, 2012: 1, 2013: 5, 2014: 1, 2015: 3})}

In [156]:
mobster_keys = ['mafia', 'gangster', 'mobster']

In [158]:
mobster_keys_dic = {}
mobster_keys_dic['mobster']= defaultdict(dict)
for key in data.keys():
    for key_word in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            if key_word in mobster_keys:
                mobster_keys_dic['mobster'][year]= mobster_keys_dic['mobster'].get(year, 0) + 1

In [159]:
mobster_keys_dic

{'mobster': defaultdict(<type 'dict'>, {1972: 4, 1973: 28, 1974: 14, 1975: 14, 1976: 14, 1977: 8, 1978: 8, 1979: 2, 1980: 5, 1981: 7, 1982: 11, 1983: 6, 1984: 19, 1985: 15, 1986: 16, 1987: 18, 1988: 10, 1989: 20, 1990: 34, 1991: 29, 1992: 21, 1993: 33, 1994: 23, 1995: 27, 1996: 31, 1997: 22, 1998: 15, 1999: 15, 2000: 22, 2001: 17, 2002: 29, 2003: 19, 2004: 15, 2005: 23, 2006: 15, 2007: 10, 2008: 19, 2009: 16, 2010: 16, 2011: 7, 2012: 22, 2013: 13, 2014: 6, 2015: 7})}

In [162]:
found_footage_dic = {}
found_footage_dic['found footage']= defaultdict(dict)
for key in data.keys():
    for key_word in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            if key_word == 'found footage':
                found_footage_dic['found footage'][year]= found_footage_dic['found footage'].get(year, 0) + 1

In [163]:
found_footage_dic

{'found footage': defaultdict(<type 'dict'>, {1985: 1, 1999: 1, 2004: 1, 2005: 1, 2007: 1, 2008: 3, 2009: 3, 2010: 2, 2011: 4, 2012: 11, 2013: 1, 2015: 4})}

In [211]:
#space_keys = ['space', 'space travel', 'outer space', 'outerspace', 'space station']
#space_keys = ['astronaut']

In [446]:
space_dic = defaultdict(dict)
for key in data.keys():
    if 'astronaut' in data[key]['keywords'] and 'space travel' in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            space_dic[year][key]= defaultdict(dict)
            space_dic[year][key]['date']= data[key]['date']
            space_dic[year][key]['screens']= data[key]['screens']
            space_dic[year][key]['opening']= data[key]['opening']
                #space_dic['space'][year].append(key,)

In [443]:
space_dic

defaultdict(<type 'dict'>, {1985: {'Lifeforce': defaultdict(<type 'dict'>, {'date': '21 June 1985', 'screens': '1,526', 'opening': '$4,209,136'})}, 1986: {'SpaceCamp': defaultdict(<type 'dict'>, {'date': '6 June 1986', 'screens': '979', 'opening': '$2,918,072'})}, 1995: {'Apollo 13': defaultdict(<type 'dict'>, {'date': '30 June 1995', 'screens': '2,197', 'opening': '$25,353,380'})}, 1997: {'Gattaca': defaultdict(<type 'dict'>, {'date': '24 October 1997', 'screens': '1,279', 'opening': '$4,320,202'})}, 1998: {'Armageddon': defaultdict(<type 'dict'>, {'date': '1 July 1998', 'screens': '3,127', 'opening': '$36,089,972'}), 'Deep Impact': defaultdict(<type 'dict'>, {'date': '8 May 1998', 'screens': '3,156', 'opening': '$41,152,375'})}, 2000: {'Red Planet': defaultdict(<type 'dict'>, {'date': '10 November 2000', 'screens': '2,703', 'opening': '$8,721,296'}), 'Space Cowboys': defaultdict(<type 'dict'>, {'date': '4 August 2000', 'screens': '2,805', 'opening': '$18,093,776'})}, 2007: {'The Astronaut Farmer': defaultdict(<type 'dict'>, {'date': '23 February 2007', 'screens': '2,155', 'opening': '$4,454,319'})}, 1978: {'Capricorn One': defaultdict(<type 'dict'>, {'date': '2 June 1978', 'screens': 'Error', 'opening': 'N/A'})}, 2011: {'Transformers: Dark of the Moon': defaultdict(<type 'dict'>, {'date': '29 June 2011', 'screens': '4,088', 'opening': '$97,852,865'})}, 2012: {'Men in Black 3': defaultdict(<type 'dict'>, {'date': '25 May 2012', 'screens': '4248', 'opening': 54592779})}, 2013: {'Oblivion': defaultdict(<type 'dict'>, {'date': '19 April 2013', 'screens': '3,783', 'opening': '$37,054,485'}), 'Gravity': defaultdict(<type 'dict'>, {'date': '4 October 2013', 'screens': '3,575', 'opening': '$55,785,112'})}, 2014: {'Interstellar': defaultdict(<type 'dict'>, {'date': '7 November 2014', 'screens': '3561', 'opening': 47510360})}})

In [351]:
space_dic = {}
space_dic['space']= defaultdict(dict)
for key in data.keys():
    for key_word in data[key]['keywords']:
        if date_helper(data[key]['date']):
            year = parser.parse(data[key]['date']).year
            if key_word == 'astronaut':
                space_dic['space'][year]= space_dic['space'].get(year, 0) + 1

In [447]:
frames = []
years = []
for year, movies in space_dic.items():
    years.append(year)
    frames.append(pd.DataFrame.from_dict(movies, orient='index'))
space_frame = pd.concat(frames, keys=years)

In [448]:
space_frame

                                                    date screens      opening
1985 Lifeforce                              21 June 1985   1,526   $4,209,136
1986 SpaceCamp                               6 June 1986     979   $2,918,072
1987 Making Mr. Right                       3 April 1987   Error          N/A
     Superman IV: The Quest for Peace       24 July 1987   1,511   $5,683,122
1995 Apollo 13                              30 June 1995   2,197  $25,353,380
1997 Gattaca                             24 October 1997   1,279   $4,320,202
1998 Armageddon                              1 July 1998   3,127  $36,089,972
     Deep Impact                              8 May 1998   3,156  $41,152,375
2000 Mission to Mars                       10 March 2000   3,054  $22,855,247
     Red Planet                         10 November 2000   2,703   $8,721,296
     Space Cowboys                         4 August 2000   2,805  $18,093,776
2002 Stranded                              12 April 2002   Error          N/A
2005 Zathura: A Space Adventure         11 November 2005    3223     13427872
2006 The Fountain                       22 November 2006   1,472   $3,768,702
2007 The Astronaut Farmer               23 February 2007   2,155   $4,454,319
2008 Space Chimps                           18 July 2008   2,511   $7,181,374
2009 Battle for Terra                         1 May 2009   1,159   $1,082,064
     Moon                                   10 July 2009      57          N/A
1978 Capricorn One                           2 June 1978   Error          N/A
2011 Green Lantern                          17 June 2011   3,816  $53,174,303
     Transformers: Dark of the Moon         29 June 2011   4,088  $97,852,865
2012 Iron Sky                               4 April 2012       2          N/A
     Men in Black 3                          25 May 2012    4248     54592779
2013 Gravity                              4 October 2013   3,575  $55,785,112
     Oblivion                              19 April 2013   3,783  $37,054,485
     The Last Days on Mars             19 September 2013       3         4608
2014 Interstellar                        7 November 2014    3561     47510360

In [414]:
space_dic

defaultdict(<type 'dict'>, {1973: {'The Exorcist': defaultdict(<type 'dict'>, {'date': '26 December 1973', 'screens': 'n/a', 'opening': 'n/a'}), 'Cops and Robbers': defaultdict(<type 'dict'>, {'date': '17 August 1973', 'screens': 'Error', 'opening': 'N/A'})}, 1977: {'Close Encounters of the Third Kind': defaultdict(<type 'dict'>, {'date': '25 December 1977', 'screens': 'Error', 'opening': 'N/A'})}, 1978: {'Capricorn One': defaultdict(<type 'dict'>, {'date': '2 June 1978', 'screens': 'Error', 'opening': 'N/A'})}, 1979: {'Meteor': defaultdict(<type 'dict'>, {'date': '19 October 1979', 'screens': '575', 'opening': '$2,250,000'}), 'Moonraker': defaultdict(<type 'dict'>, {'date': '29 June 1979', 'screens': '788', 'opening': '$7,108,344'})}, 1980: {'The Ninth Configuration': defaultdict(<type 'dict'>, {'date': '29 February 1980', 'screens': 'Error', 'opening': 'N/A'})}, 1981: {'Superman II': defaultdict(<type 'dict'>, {'date': '19 June 1981', 'screens': '1,397', 'opening': '$14,100,523'})}, 1983: {'Still Smokin': defaultdict(<type 'dict'>, {'date': '6 May 1983', 'screens': '71', 'opening': 3085000}), 'Terms of Endearment': defaultdict(<type 'dict'>, {'date': '9 December 1983', 'screens': '26', 'opening': 3498813}), 'The Right Stuff': defaultdict(<type 'dict'>, {'date': '21 October 1983', 'screens': '229', 'opening': '$1,601,167'})}, 1984: {'2010': defaultdict(<type 'dict'>, {'date': '7 December 1984', 'screens': '1,126', 'opening': '$7,393,361'}), 'Best Defense': defaultdict(<type 'dict'>, {'date': '20 July 1984', 'screens': '1,425', 'opening': '$7,872,297'})}, 1985: {'Lifeforce': defaultdict(<type 'dict'>, {'date': '21 June 1985', 'screens': '1,526', 'opening': '$4,209,136'})}, 1986: {'SpaceCamp': defaultdict(<type 'dict'>, {'date': '6 June 1986', 'screens': '979', 'opening': '$2,918,072'})}, 1987: {'Making Mr. Right': defaultdict(<type 'dict'>, {'date': '3 April 1987', 'screens': 'Error', 'opening': 'N/A'}), 'Superman IV: The Quest for Peace': defaultdict(<type 'dict'>, {'date': '24 July 1987', 'screens': '1,511', 'opening': '$5,683,122'})}, 1989: {'Moontrap': defaultdict(<type 'dict'>, {'date': '8 June 1989', 'screens': 'Error', 'opening': 'N/A'})}, 1995: {'Apollo 13': defaultdict(<type 'dict'>, {'date': '30 June 1995', 'screens': '2,197', 'opening': '$25,353,380'})}, 1997: {'Gattaca': defaultdict(<type 'dict'>, {'date': '24 October 1997', 'screens': '1,279', 'opening': '$4,320,202'})}, 1998: {'Digging to China': defaultdict(<type 'dict'>, {'date': '11 September 1998', 'screens': '10', 'opening': '$19,162'}), 'Species II': defaultdict(<type 'dict'>, {'date': '10 April 1998', 'screens': '2,510', 'opening': '$7,274,008'}), 'Deep Impact': defaultdict(<type 'dict'>, {'date': '8 May 1998', 'screens': '3,156', 'opening': '$41,152,375'}), 'Armageddon': defaultdict(<type 'dict'>, {'date': '1 July 1998', 'screens': '3,127', 'opening': '$36,089,972'})}, 1999: {"The Astronaut's Wife": defaultdict(<type 'dict'>, {'date': '27 August 1999', 'screens': '2,209', 'opening': '$4,027,003'}), 'Virus': defaultdict(<type 'dict'>, {'date': '15 January 1999', 'screens': '2,018', 'opening': '$6,013,640'}), 'A Walk on the Moon': defaultdict(<type 'dict'>, {'date': '2 April 1999', 'screens': '7', 'opening': 78709})}, 2000: {'Red Planet': defaultdict(<type 'dict'>, {'date': '10 November 2000', 'screens': '2,703', 'opening': '$8,721,296'}), 'Space Cowboys': defaultdict(<type 'dict'>, {'date': '4 August 2000', 'screens': '2,805', 'opening': '$18,093,776'}), 'Mission to Mars': defaultdict(<type 'dict'>, {'date': '10 March 2000', 'screens': '3,054', 'opening': '$22,855,247'})}, 2001: {'Planet of the Apes': defaultdict(<type 'dict'>, {'date': '27 July 2001', 'screens': '3,500', 'opening': '$68,532,960'})}, 2002: {'Thunderpants': defaultdict(<type 'dict'>, {'date': '24 May 2002', 'screens': '356', 'opening': 'N/A'}), 'Men with Brooms': defaultdict(<type 'dict'>, {'date': '22 November 2002', 'screens': '27', 'opening': 14765}), 'Stranded': defaultdict(<type 'dict'>, {'date': '12 April 2002', 'screens': 'Error', 'opening': 'N/A'})}, 2003: {'The Core': defaultdict(<type 'dict'>, {'date': '28 March 2003', 'screens': '317', 'opening': 12053131})}, 2004: {'The Day After Tomorrow': defaultdict(<type 'dict'>, {'date': '28 May 2004', 'screens': '3,425', 'opening': '$68,743,584'}), 'Thunderbirds': defaultdict(<type 'dict'>, {'date': '30 July 2004', 'screens': '2,057', 'opening': '$2,766,810'})}, 2005: {'Zathura: A Space Adventure': defaultdict(<type 'dict'>, {'date': '11 November 2005', 'screens': '3223', 'opening': 13427872})}, 2006: {'The Fountain': defaultdict(<type 'dict'>, {'date': '22 November 2006', 'screens': '1,472', 'opening': '$3,768,702'})}, 2007: {'The Astronaut Farmer': defaultdict(<type 'dict'>, {'date': '23 February 2007', 'screens': '2,155', 'opening': '$4,454,319'})}, 2008: {'Space Chimps': defaultdict(<type 'dict'>, {'date': '18 July 2008', 'screens': '2,511', 'opening': '$7,181,374'}), 'Outlander': defaultdict(<type 'dict'>, {'date': '11 July 2008', 'screens': '81', 'opening': 59581})}, 2009: {'Battle for Terra': defaultdict(<type 'dict'>, {'date': '1 May 2009', 'screens': '1,159', 'opening': '$1,082,064'}), 'Land of the Lost': defaultdict(<type 'dict'>, {'date': '5 June 2009', 'screens': '3,521', 'opening': '$18,837,350'}), 'Watchmen': defaultdict(<type 'dict'>, {'date': '6 March 2009', 'screens': '3,611', 'opening': '$55,214,334'}), 'Planet 51': defaultdict(<type 'dict'>, {'date': '20 November 2009', 'screens': '3,035', 'opening': '$12,286,129'}), 'Moon': defaultdict(<type 'dict'>, {'date': '10 July 2009', 'screens': '57', 'opening': 'N/A'})}, 2011: {'Green Lantern': defaultdict(<type 'dict'>, {'date': '17 June 2011', 'screens': '3,816', 'opening': '$53,174,303'}), 'Transformers: Dark of the Moon': defaultdict(<type 'dict'>, {'date': '29 June 2011', 'screens': '4,088', 'opening': '$97,852,865'}), 'Apollo 18': defaultdict(<type 'dict'>, {'date': '2 September 2011', 'screens': '3,328', 'opening': '$8,704,271'})}, 2012: {'Iron Sky': defaultdict(<type 'dict'>, {'date': '4 April 2012', 'screens': '2', 'opening': 'N/A'}), 'Men in Black 3': defaultdict(<type 'dict'>, {'date': '25 May 2012', 'screens': '4248', 'opening': 54592779})}, 2013: {'Oblivion': defaultdict(<type 'dict'>, {'date': '19 April 2013', 'screens': '3,783', 'opening': '$37,054,485'}), 'Gravity': defaultdict(<type 'dict'>, {'date': '4 October 2013', 'screens': '3,575', 'opening': '$55,785,112'}), 'The Last Days on Mars': defaultdict(<type 'dict'>, {'date': '19 September 2013', 'screens': '3', 'opening': 4608})}, 2014: {'Interstellar': defaultdict(<type 'dict'>, {'date': '7 November 2014', 'screens': '3561', 'opening': 47510360}), 'The Lego Movie': defaultdict(<type 'dict'>, {'date': '7 February 2014', 'screens': '3,083', 'opening': '$22,003,433'})}, 2015: {'The Martian': defaultdict(<type 'dict'>, {'date': '2 October 2015', 'screens': 'n/a', 'opening': 'n/a'})}})

In [207]:
for item, dates in space_dic.items():
    for date in dates:
        space_dic[item][date] = set(space_dic[item][date])

In [208]:
space_dic.items()

[('space',
  defaultdict(<type 'dict'>, {1973: set(['Battle for the Planet of the Apes']), 1974: set(['Flesh Gordon']), 1975: set(['The Rocky Horror Picture Show']), 1976: set(['The Man Who Fell to Earth']), 1977: set(['Star Wars', 'Close Encounters of the Third Kind', 'The War in Space']), 1978: set(['Capricorn One', 'The Cat from Outer Space', 'Superman']), 1979: set(['Star Trek: The Motion Picture', 'Starcrash', 'Life of Brian', 'Alien', 'Meteor', 'Dark Star', 'Moonraker']), 1980: set(['Altered States', 'Battle Beyond the Stars', 'Galaxina', 'Star Wars: Episode V - The Empire Strikes Back', 'Flash Gordon', 'Saturn 3']), 1981: set(['Superman II', 'Outland', 'Heavy Metal']), 1982: set(['The Thing', 'Star Trek II: The Wrath of Khan', 'E.T. the Extra-Terrestrial']), 1983: set(['The Right Stuff', 'Star Wars: Episode VI - Return of the Jedi', 'Krull', 'Metalstorm: The Destruction of Jared-Syn', 'The Meaning of Life', 'Spacehunter: Adventures in the Forbidden Zone']), 1984: set(['The Ice Pirates', 'Star Trek III: The Search for Spock', 'The Last Starfighter', 'The Adventures of Buckaroo Banzai Across the 8th Dimension', 'Starman', '2010']), 1985: set(['Enemy Mine', 'Lifeforce', 'Starchaser: The Legend of Orin', 'Morons from Outer Space', 'Cocoon', 'Explorers', 'Creature']), 1986: set(['Howard the Duck', 'SpaceCamp', 'Aliens', 'Critters', 'The Transformers: The Movie', 'Star Trek IV: The Voyage Home', 'Flight of the Navigator']), 1987: set(['Making Mr. Right', 'Real Men', 'Superman IV: The Quest for Peace', 'Spaceballs', 'Amazon Women on the Moon']), 1988: set(['My Stepmother Is an Alien', 'They Live', 'Cocoon: The Return', 'Critters 2']), 1989: set(['Star Trek V: The Final Frontier', 'Moontrap']), 1990: set(['Total Recall', 'Moon 44']), 1991: set(['Highlander II: The Quickening', 'Suburban Commando', 'Star Trek VI: The Undiscovered Country']), 1992: set(['Critters 4']), 1993: set(['Fire in the Sky', 'Coneheads', 'Loaded Weapon 1']), 1994: set(['I.Q.', 'Body Snatchers', 'Star Trek: Generations', 'Stargate']), 1995: set(['Mighty Morphin Power Rangers: The Movie', 'Apollo 13']), 1996: set(['Hellraiser: Bloodline', 'Mars Attacks!', 'Independence Day', 'Star Trek: First Contact', 'Mystery Science Theater 3000: The Movie', 'Space Jam']), 1997: set(['Gattaca', 'Event Horizon', 'Austin Powers: International Man of Mystery', 'Contact', 'Alien: Resurrection', 'The Fifth Element']), 1998: set(['Dark City', 'Star Trek: Insurrection', 'Soldier', 'Sphere', 'Star Kid', 'Armageddon', 'Deep Impact', 'Lost in Space']), 1999: set(['Galaxy Quest', 'Toy Story 2', "The Astronaut's Wife", 'Virus', 'Star Wars: Episode I - The Phantom Menace', 'Wing Commander']), 2000: set(['Pitch Black', 'Space Cowboys', 'Battlefield Earth', 'Mission to Mars', 'Titan A.E.', 'Heavy Metal 2000', 'Red Planet']), 2001: set(['Ghosts of Mars', 'Evolution', 'The Dish', 'The American Astronaut', 'K-PAX', 'Jimmy Neutron: Boy Genius', 'Planet of the Apes', 'Final Fantasy: The Spirits Within']), 2002: set(['Star Wars: Episode II - Attack of the Clones', 'Solaris', 'Thunderpants', 'Men in Black II', 'Wet Hot American Summer', 'Star Trek: Nemesis', 'Stranded', 'Jason X', 'Impostor']), 2003: set(['Good Boy!', 'Interstella 5555: The 5tory of the 5ecret 5tar 5ystem']), 2004: set(['Sky Captain and the World of Tomorrow', 'The Day After Tomorrow', 'Thunderbirds', 'The Chronicles of Riddick', "We Don't Live Here Anymore", 'Farscape: The Peacekeeper Wars']), 2005: set(['War of the Worlds', 'Star Wars: Episode III - Revenge of the Sith', 'Serenity', 'The Nomi Song', "The Hitchhiker's Guide to the Galaxy", 'Zathura: A Space Adventure', 'Doom']), 2006: set(['Deck the Halls', 'The Fountain']), 2007: set(['Southland Tales', 'The Invasion', 'Underdog', 'Fantastic 4: Rise of the Silver Surfer', 'Transformers', 'The Astronaut Farmer']), 2008: set(['Fly Me to the Moon 3D', 'Space Chimps', 'The Day the Earth Stood Still', 'Starship Troopers 3: Marauder']), 2009: set(['Planet 51', 'Transformers: Revenge of the Fallen', 'Pandorum', 'Star Trek', 'Avatar', 'Monsters vs. Aliens', 'Battle for Terra', 'Moon', 'Adam']), 2010: set(['Ultramarines: A Warhammer 40,000 Movie']), 2011: set(['Transformers: Dark of the Moon', 'Green Lantern', 'Apollo 18', 'Thor', 'The Tree of Life', 'Another Earth']), 2012: set(['John Carter', 'Battleship', 'Men in Black 3', 'Prometheus', 'Lockout', 'Starship Troopers: Invasion', 'Iron Sky', 'The Watch', 'Cloud Atlas']), 2013: set(['Riddick', 'Man of Steel', 'Pacific Rim', 'Elysium', 'Star Trek Into Darkness', 'Gravity', 'Thor: The Dark World', 'Oblivion', 'After Earth', "Ender's Game", 'The Last Days on Mars']), 2014: set(['Interstellar', 'Guardians of the Galaxy']), 2015: set(['Fantastic Four', 'Jupiter Ascending', 'The Martian', 'The Adventures of Mark Twain', 'Avengers: Age of Ultron', 'Kingsman: The Secret Service', 'Star Wars: Episode VII - The Force Awakens'])}))]

In [209]:
ai_df = pd.DataFrame.from_dict(artificial_intelligence_keys_dic, 'index')

In [247]:
count1 = 1
cumulative1 = 1
cumulative_mean = float(cumulative1 / count1)
print cumulative_mean
for item in ai_df.transpose()['artificial intelligence']: 
    count1 += 1
    cumulative1 = cumulative1 + item
    print count1
    print cumulative1
    print float(cumulative1/count1)

1.0
2
2
1.0
3
3
1.0
4
4
1.0
5
6
1.2
6
7
1.16666666667
7
9
1.28571428571
8
10
1.25
9
14
1.55555555556
10
17
1.7
11
19
1.72727272727
12
20
1.66666666667
13
21
1.61538461538
14
22
1.57142857143
15
23
1.53333333333
16
24
1.5
17
25
1.47058823529
18
26
1.44444444444
19
29
1.52631578947
20
30
1.5
21
34
1.61904761905
22
38
1.72727272727
23
39
1.69565217391
24
41
1.70833333333
25
43
1.72
26
46
1.76923076923
27
50
1.85185185185
28
51
1.82142857143
29
52
1.79310344828
30
53
1.76666666667
31
58
1.87096774194
32
59
1.84375
33
62
1.87878787879

In [246]:
count = 4
cumulative = 1
cumulative_mean = cumulative / count

In [233]:
cumulative_mean

0

In [266]:
ix = pd.date_range(start=date(1970, 1, 1), end=date(2016, 12, 1), freq='Y')
ai_df.transpose().reindex(ix)

TypeError: 'int' object is not callable

In [263]:
ai_t = ai_df.transpose()

In [298]:
ai_t.set_index()

KeyError: 1970

In [332]:
start = pd.datetime(1972, 1, 1)
end = pd.datetime(2016, 1, 1)
x = pd.date_range(start, end, freq='A').year
ai = ai_t.reindex(x)

In [305]:
x

array([1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=int32)

In [320]:
count1 = 1
cumulative1 = 1
cumulative_mean = float(cumulative1 / count1)

for item in ai_t:
    count1 += 1
    cumulative1 = cumulative1 + item
    ai_t['cumulative mean'] = float(cumulative1/count1)

KeyError: 0

In [314]:
ai_t

      artificial intelligence  cumulative mean
1974                        1         1.878788
1975                        1         1.878788
1977                        1         1.878788
1979                        2         1.878788
1980                        1         1.878788
1982                        2         1.878788
1983                        1         1.878788
1984                        4         1.878788
1986                        3         1.878788
1990                        2         1.878788
1991                        1         1.878788
1992                        1         1.878788
1993                        1         1.878788
1995                        1         1.878788
1996                        1         1.878788
1997                        1         1.878788
1998                        1         1.878788
1999                        3         1.878788
2001                        1         1.878788
2002                        4         1.878788
2003                        4         1.878788
2004                        1         1.878788
2005                        2         1.878788
2007                        2         1.878788
2008                        3         1.878788
2009                        4         1.878788
2010                        1         1.878788
2011                        1         1.878788
2012                        1         1.878788
2013                        5         1.878788
2014                        1         1.878788
2015                        3         1.878788

In [337]:
ai['cumulative mean']=ai['artificial intelligence'].cumsum()/ ai['artificial intelligence'].count().cumsum()

In [338]:
ai

      artificial intelligence  cumulative mean  cumulative
1972                      NaN              NaN         NaN
1973                      NaN              NaN         NaN
1974                        1          0.03125     0.03125
1975                        1          0.06250     0.06250
1976                      NaN              NaN         NaN
1977                        1          0.09375     0.09375
1978                      NaN              NaN         NaN
1979                        2          0.15625     0.15625
1980                        1          0.18750     0.18750
1981                      NaN              NaN         NaN
1982                        2          0.25000     0.25000
1983                        1          0.28125     0.28125
1984                        4          0.40625     0.40625
1985                      NaN              NaN         NaN
1986                        3          0.50000     0.50000
1987                      NaN              NaN         NaN
1988                      NaN              NaN         NaN
1989                      NaN              NaN         NaN
1990                        2          0.56250     0.56250
1991                        1          0.59375     0.59375
1992                        1          0.62500     0.62500
1993                        1          0.65625     0.65625
1994                      NaN              NaN         NaN
1995                        1          0.68750     0.68750
1996                        1          0.71875     0.71875
1997                        1          0.75000     0.75000
1998                        1          0.78125     0.78125
1999                        3          0.87500     0.87500
2000                      NaN              NaN         NaN
2001                        1          0.90625     0.90625
2002                        4          1.03125     1.03125
2003                        4          1.15625     1.15625
2004                        1          1.18750     1.18750
2005                        2          1.25000     1.25000
2006                      NaN              NaN         NaN
2007                        2          1.31250     1.31250
2008                        3          1.40625     1.40625
2009                        4          1.53125     1.53125
2010                        1          1.56250     1.56250
2011                        1          1.59375     1.59375
2012                        1          1.62500     1.62500
2013                        5          1.78125     1.78125
2014                        1          1.81250     1.81250
2015                        3          1.90625     1.90625

In [339]:
ai1 = ai.drop('cumulative', 1)

In [347]:
ai2 = ai1.fillna(0)

In [348]:
ai2['cumulative mean']=ai2['artificial intelligence'].cumsum()/ ai2['artificial intelligence'].count().cumsum()

In [349]:
ai2

      artificial intelligence  cumulative mean
1972                        0         0.000000
1973                        0         0.000000
1974                        1         0.022727
1975                        1         0.045455
1976                        0         0.045455
1977                        1         0.068182
1978                        0         0.068182
1979                        2         0.113636
1980                        1         0.136364
1981                        0         0.136364
1982                        2         0.181818
1983                        1         0.204545
1984                        4         0.295455
1985                        0         0.295455
1986                        3         0.363636
1987                        0         0.363636
1988                        0         0.363636
1989                        0         0.363636
1990                        2         0.409091
1991                        1         0.431818
1992                        1         0.454545
1993                        1         0.477273
1994                        0         0.477273
1995                        1         0.500000
1996                        1         0.522727
1997                        1         0.545455
1998                        1         0.568182
1999                        3         0.636364
2000                        0         0.636364
2001                        1         0.659091
2002                        4         0.750000
2003                        4         0.840909
2004                        1         0.863636
2005                        2         0.909091
2006                        0         0.909091
2007                        2         0.954545
2008                        3         1.022727
2009                        4         1.113636
2010                        1         1.136364
2011                        1         1.159091
2012                        1         1.181818
2013                        5         1.295455
2014                        1         1.318182
2015                        3         1.386364

In [412]:
space_df = pd.DataFrame.from_dict(space_dic['2002'], 'index')

TypeError: unhashable type: 'list'

In [408]:
space_df

Empty DataFrame
Columns: []
Index: []

In [371]:
space_tr = space_df.transpose()

In [387]:
spacetr = space_tr[1973]

In [394]:
spacetr

Cops and Robbers                      {u'date': u'17 August 1973', u'screens': u'Err...
Close Encounters of the Third Kind                                                  NaN
Capricorn One                                                                       NaN
Meteor                                                                              NaN
The Ninth Configuration                                                             NaN
Superman II                                                                         NaN
Terms of Endearment                                                                 NaN
Best Defense                                                                        NaN
Lifeforce                                                                           NaN
SpaceCamp                                                                           NaN
Superman IV: The Quest for Peace                                                    NaN
Moontrap                                                                            NaN
Apollo 13                                                                           NaN
Gattaca                                                                             NaN
Armageddon                                                                          NaN
The Astronaut's Wife                                                                NaN
Space Cowboys                                                                       NaN
Planet of the Apes                                                                  NaN
Stranded                                                                            NaN
The Core                                                                            NaN
Thunderbirds                                                                        NaN
Zathura: A Space Adventure                                                          NaN
The Fountain                                                                        NaN
The Astronaut Farmer                                                                NaN
Outlander                                                                           NaN
Planet 51                                                                           NaN
Apollo 18                                                                           NaN
Men in Black 3                                                                      NaN
Oblivion                                                                            NaN
Interstellar                                                                        NaN
The Martian                                                                         NaN
Name: 1973, dtype: object

In [386]:
sp = pd.DataFrame.from_dict(spacetr, 'index')

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [441]:
test = ['apple', 'red']
if 'apple' in test and 'blue' in test:
    print 'true'