<img src="https://sandeepmj.github.io/image-host/green-scrapes.png" >

# Scraping non-tabular content with ```BeautifulSoup```
### We'll learn to some basic scraping techniques using this mock site <a href="https://sandeepmj.github.io/scrape-example-page/demo-text.html">demo page</a>.

In [3]:
## create cells as necessary

In [6]:
import requests

In [12]:
## Requesting web content
url = "https://sandeepmj.github.io/scrape-example-page/demo-text.html"
##scrape url website
response = requests.get(url)

In [13]:
response.status_code
## 404 is a broken link
## no ()

200

In [14]:
type(response)

requests.models.Response

In [15]:
response

## Response codes

In [ ]:
When you scrape hundreds of pages, theres chance that one of the URLS might be a dud.
We can set up a error control to see what kind of responses we get:
    200 
    300
    403
    404
    500

## Pull out what we want using

In [16]:
## see reponse.text object
# no longer html
response.text

'<!doctype html>\n<html lang="en">\n<head>\n\t<title>title tag</title>\n\t<style>\nbody {padding: 20px; max-width: 700px; margin: 0 auto;}\n</style>\n</head>\n\n<body>\n\t<h1 class="title"><b>The title headline is Demo for BeautifulSoup</b></p></h1>\n\t<p>Learning to scrape using BeautifulSoup.</p>\n\t<div class="content article">\n\t\t<section>\n\t\t<p>Here\'s some pretty useless info:</p>\n\t</section>\n\t\t<section class="main" id="all_plants">\n\t\t\t<h2 class="subhead" id="vegitation">Plants</h2>\n\t\t\t<p class="article">Three plants that thrive in deep shade:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/plant1" class="plants life" id="plant1">Plant 1</a>: <span class="cost">$10</span></li>\n\t\t\t\t<li><a href="http://example.com/plant2" class="plants life" id="plant2">Plant 2</a>: <span class="cost">$20</span></li>\n\t\t\t\t<li><a href="http://example.com/plant3" class="plants life" id="plant3">Plant 3</a> <span class="cost">$30</span></li>\n\t\t\t</ol>\n\t\t</section>\n\n\t\t<section class="main" id="all_animals">\n\t\t\t<h2 class="subhead" id="creatures">Animals</h2>\n\n\t\t\t<p class="article"> Three animals in the barn:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/animal1" class="animals life" id="animal1">Animal 1</a>: <span class="cost">$500</span></li>\n\t\t\t\t<li><a href="http://example.com/animal2" class="animals life" id="animal2">Animal 2</a>: <span class="cost">$600</span> </li>\n\t\t\t\t<li><a href="http://example.com/animal3" class="animals life" id="animal3">Animal 3</a>: <span class="cost">$700</span></li>\n\t\t\t</ol>\n\t\t</section>\n\t\t<section>\n\t\t\t<h2 class="subhead" id="objects">Objects</h2>\n\t\t\t<p class="article"> Three shiny rocks:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/rock1" class="rock inanimate" id="rock1"><span>Rock 1</span></a></li>\n\t\t\t\t<li><a href="http://example.com/rock2" class="rock inanimate" id="rock2"><span>Rock 2</span></a></li>\n\t\t\t\t<li><a href="http://example.com/rock2" class="rock inanimate" id="rock3"><span>Rock 3</span></a></li>\n\t\t\t</ol>\n\t\t</section>\n\t\t<section>\n\t\t\t<h2>The seven classifications of animals</h2>\n\t\t\t<ul>\n\t\t\t\t<li><a class="animals" href="http://example.com/kingdom" >Kingdom</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/phylum" >Phylum</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/class" >Class</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/order" >Order</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/family" >Family</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/genus" >Genus</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/species" >Species</a></li>\n\t\t\t</ul>\n\t\t</section>\n\t</div>\n</body>\n</html>\n'

In [17]:
type(response.text)

str

In [20]:
response.content

b'<!doctype html>\n<html lang="en">\n<head>\n\t<title>title tag</title>\n\t<style>\nbody {padding: 20px; max-width: 700px; margin: 0 auto;}\n</style>\n</head>\n\n<body>\n\t<h1 class="title"><b>The title headline is Demo for BeautifulSoup</b></p></h1>\n\t<p>Learning to scrape using BeautifulSoup.</p>\n\t<div class="content article">\n\t\t<section>\n\t\t<p>Here\'s some pretty useless info:</p>\n\t</section>\n\t\t<section class="main" id="all_plants">\n\t\t\t<h2 class="subhead" id="vegitation">Plants</h2>\n\t\t\t<p class="article">Three plants that thrive in deep shade:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/plant1" class="plants life" id="plant1">Plant 1</a>: <span class="cost">$10</span></li>\n\t\t\t\t<li><a href="http://example.com/plant2" class="plants life" id="plant2">Plant 2</a>: <span class="cost">$20</span></li>\n\t\t\t\t<li><a href="http://example.com/plant3" class="plants life" id="plant3">Plant 3</a> <span class="cost">$30</span></li>\n\t\t\t</ol>\n\t\t</section>\n\n\t\t<section class="main" id="all_animals">\n\t\t\t<h2 class="subhead" id="creatures">Animals</h2>\n\n\t\t\t<p class="article"> Three animals in the barn:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/animal1" class="animals life" id="animal1">Animal 1</a>: <span class="cost">$500</span></li>\n\t\t\t\t<li><a href="http://example.com/animal2" class="animals life" id="animal2">Animal 2</a>: <span class="cost">$600</span> </li>\n\t\t\t\t<li><a href="http://example.com/animal3" class="animals life" id="animal3">Animal 3</a>: <span class="cost">$700</span></li>\n\t\t\t</ol>\n\t\t</section>\n\t\t<section>\n\t\t\t<h2 class="subhead" id="objects">Objects</h2>\n\t\t\t<p class="article"> Three shiny rocks:</p>\n\t\t\t<ol>\n\t\t\t\t<li><a href="http://example.com/rock1" class="rock inanimate" id="rock1"><span>Rock 1</span></a></li>\n\t\t\t\t<li><a href="http://example.com/rock2" class="rock inanimate" id="rock2"><span>Rock 2</span></a></li>\n\t\t\t\t<li><a href="http://example.com/rock2" class="rock inanimate" id="rock3"><span>Rock 3</span></a></li>\n\t\t\t</ol>\n\t\t</section>\n\t\t<section>\n\t\t\t<h2>The seven classifications of animals</h2>\n\t\t\t<ul>\n\t\t\t\t<li><a class="animals" href="http://example.com/kingdom" >Kingdom</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/phylum" >Phylum</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/class" >Class</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/order" >Order</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/family" >Family</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/genus" >Genus</a></li>\n\t\t\t\t<li><a class="animals" href="http://example.com/species" >Species</a></li>\n\t\t\t</ul>\n\t\t</section>\n\t</div>\n</body>\n</html>\n'

In [21]:
type(response.content)

bytes

In [22]:
## import BeautifulSoup
from bs4 import BeautifulSoup

In [23]:
soup = BeautifulSoup(response.text, "html.parser")

In [25]:
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   title tag
  </title>
  <style>
   body {padding: 20px; max-width: 700px; margin: 0 auto;}
  </style>
 </head>
 <body>
  <h1 class="title">
   <b>
    The title headline is Demo for BeautifulSoup
   </b>
  </h1>
  <p>
   Learning to scrape using BeautifulSoup.
  </p>
  <div class="content article">
   <section>
    <p>
     Here's some pretty useless info:
    </p>
   </section>
   <section class="main" id="all_plants">
    <h2 class="subhead" id="vegitation">
     Plants
    </h2>
    <p class="article">
     Three plants that thrive in deep shade:
    </p>
    <ol>
     <li>
      <a class="plants life" href="http://example.com/plant1" id="plant1">
       Plant 1
      </a>
      :
      <span class="cost">
       $10
      </span>
     </li>
     <li>
      <a class="plants life" href="http://example.com/plant2" id="plant2">
       Plant 2
      </a>
      :
      <span class="cost">
       $20
      </span>
     </li>
     <li>
      <a class="plants life" href="http://example.com/plant3" id="plant3">
       Plant 3
      </a>
      <span class="cost">
       $30
      </span>
     </li>
    </ol>
   </section>
   <section class="main" id="all_animals">
    <h2 class="subhead" id="creatures">
     Animals
    </h2>
    <p class="article">
     Three animals in the barn:
    </p>
    <ol>
     <li>
      <a class="animals life" href="http://example.com/animal1" id="animal1">
       Animal 1
      </a>
      :
      <span class="cost">
       $500
      </span>
     </li>
     <li>
      <a class="animals life" href="http://example.com/animal2" id="animal2">
       Animal 2
      </a>
      :
      <span class="cost">
       $600
      </span>
     </li>
     <li>
      <a class="animals life" href="http://example.com/animal3" id="animal3">
       Animal 3
      </a>
      :
      <span class="cost">
       $700
      </span>
     </li>
    </ol>
   </section>
   <section>
    <h2 class="subhead" id="objects">
     Objects
    </h2>
    <p class="article">
     Three shiny rocks:
    </p>
    <ol>
     <li>
      <a class="rock inanimate" href="http://example.com/rock1" id="rock1">
       <span>
        Rock 1
       </span>
      </a>
     </li>
     <li>
      <a class="rock inanimate" href="http://example.com/rock2" id="rock2">
       <span>
        Rock 2
       </span>
      </a>
     </li>
     <li>
      <a class="rock inanimate" href="http://example.com/rock2" id="rock3">
       <span>
        Rock 3
       </span>
      </a>
     </li>
    </ol>
   </section>
   <section>
    <h2>
     The seven classifications of animals
    </h2>
    <ul>
     <li>
      <a class="animals" href="http://example.com/kingdom">
       Kingdom
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/phylum">
       Phylum
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/class">
       Class
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/order">
       Order
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/family">
       Family
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/genus">
       Genus
      </a>
     </li>
     <li>
      <a class="animals" href="http://example.com/species">
       Species
      </a>
     </li>
    </ul>
   </section>
  </div>
 </body>
</html>

In [26]:
type(soup)

bs4.BeautifulSoup

In [27]:
soup.title

In [28]:
soup.h1

In [29]:
soup.h2
## only returns the first one when you call a tag

## Searching for IDs

In [33]:
soup(id="plant1")
soup(id="animal1")

## Finding Classes

In [34]:
soup.p

## Method 1. Target the tag only.
# soup.find("tag_name)

In [35]:
soup.find("p")

In [36]:
soup.find(class_="article")

<div class="content article">
<section>
<p>Here's some pretty useless info:</p>
</section>
<section class="main" id="all_plants">
<h2 class="subhead" id="vegitation">Plants</h2>
<p class="article">Three plants that thrive in deep shade:</p>
<ol>
<li><a class="plants life" href="http://example.com/plant1" id="plant1">Plant 1</a>: <span class="cost">$10</span></li>
<li><a class="plants life" href="http://example.com/plant2" id="plant2">Plant 2</a>: <span class="cost">$20</span></li>
<li><a class="plants life" href="http://example.com/plant3" id="plant3">Plant 3</a> <span class="cost">$30</span></li>
</ol>
</section>
<section class="main" id="all_animals">
<h2 class="subhead" id="creatures">Animals</h2>
<p class="article"> Three animals in the barn:</p>
<ol>
<li><a class="animals life" href="http://example.com/animal1" id="animal1">Animal 1</a>: <span class="cost">$500</span></li>
<li><a class="animals life" href="http://example.com/animal2" id="animal2">Animal 2</a>: <span class="cost">$600</span> </li>
<li><a class="animals life" href="http://example.com/animal3" id="animal3">Animal 3</a>: <span class="cost">$700</span></li>
</ol>
</section>
<section>
<h2 class="subhead" id="objects">Objects</h2>
<p class="article"> Three shiny rocks:</p>
<ol>
<li><a class="rock inanimate" href="http://example.com/rock1" id="rock1"><span>Rock 1</span></a></li>
<li><a class="rock inanimate" href="http://example.com/rock2" id="rock2"><span>Rock 2</span></a></li>
<li><a class="rock inanimate" href="http://example.com/rock2" id="rock3"><span>Rock 3</span></a></li>
</ol>
</section>
<section>
<h2>The seven classifications of animals</h2>
<ul>
<li><a class="animals" href="http://example.com/kingdom">Kingdom</a></li>
<li><a class="animals" href="http://example.com/phylum">Phylum</a></li>
<li><a class="animals" href="http://example.com/class">Class</a></li>
<li><a class="animals" href="http://example.com/order">Order</a></li>
<li><a class="animals" href="http://example.com/family">Family</a></li>
<li><a class="animals" href="http://example.com/genus">Genus</a></li>
<li><a class="animals" href="http://example.com/species">Species</a></li>
</ul>
</section>
</div>

## Method 3

In [38]:
soup.find("p", class_="article")
## find doesn't return lists

In [39]:
type(soup.p)

bs4.element.Tag

## find_all tage, classes
# returns a list
# have to iderate through
# ie can't capitalized on a list

In [40]:
##Return all p tag content with the class "article"
soup.find_all("p", class_="article")

[<p class="article">Three plants that thrive in deep shade:</p>,
 <p class="article"> Three animals in the barn:</p>,
 <p class="article"> Three shiny rocks:</p>]

In [41]:
type(soup.find_all("p", class_="article"))
## beautifulsoup term for a list

bs4.element.ResultSet

In [42]:
len(soup.find_all("p", class_="article"))

3

In [43]:
the_articles = soup.find_all("p", class_="article")
the_articles

[<p class="article">Three plants that thrive in deep shade:</p>,
 <p class="article"> Three animals in the barn:</p>,
 <p class="article"> Three shiny rocks:</p>]

In [44]:
the_articles[0]

In [45]:
type(the_articles[0])

bs4.element.Tag

## Find all life forms

In [51]:
lifeforms = soup.find_all("a", class_="life")
lifeforms

[<a class="plants life" href="http://example.com/plant1" id="plant1">Plant 1</a>,
 <a class="plants life" href="http://example.com/plant2" id="plant2">Plant 2</a>,
 <a class="plants life" href="http://example.com/plant3" id="plant3">Plant 3</a>,
 <a class="animals life" href="http://example.com/animal1" id="animal1">Animal 1</a>,
 <a class="animals life" href="http://example.com/animal2" id="animal2">Animal 2</a>,
 <a class="animals life" href="http://example.com/animal3" id="animal3">Animal 3</a>]

In [48]:
##find all plant life only
soup.find_all("a", class_="plants")

[<a class="plants life" href="http://example.com/plant1" id="plant1">Plant 1</a>,
 <a class="plants life" href="http://example.com/plant2" id="plant2">Plant 2</a>,
 <a class="plants life" href="http://example.com/plant3" id="plant3">Plant 3</a>]

## string v. get_text()

In [49]:
soup.h1.get_text()

'The title headline is Demo for BeautifulSoup'

In [50]:
soup.get_text()

"\n\n\ntitle tag\n\n\n\nThe title headline is Demo for BeautifulSoup\nLearning to scrape using BeautifulSoup.\n\n\nHere's some pretty useless info:\n\n\nPlants\nThree plants that thrive in deep shade:\n\nPlant 1: $10\nPlant 2: $20\nPlant 3 $30\n\n\n\nAnimals\n Three animals in the barn:\n\nAnimal 1: $500\nAnimal 2: $600 \nAnimal 3: $700\n\n\n\nObjects\n Three shiny rocks:\n\nRock 1\nRock 2\nRock 3\n\n\n\nThe seven classifications of animals\n\nKingdom\nPhylum\nClass\nOrder\nFamily\nGenus\nSpecies\n\n\n\n\n\n"

In [52]:
lifeforms

[<a class="plants life" href="http://example.com/plant1" id="plant1">Plant 1</a>,
 <a class="plants life" href="http://example.com/plant2" id="plant2">Plant 2</a>,
 <a class="plants life" href="http://example.com/plant3" id="plant3">Plant 3</a>,
 <a class="animals life" href="http://example.com/animal1" id="animal1">Animal 1</a>,
 <a class="animals life" href="http://example.com/animal2" id="animal2">Animal 2</a>,
 <a class="animals life" href="http://example.com/animal3" id="animal3">Animal 3</a>]

In [53]:
lifeforms.get_text()
## you cant call text from a list

AttributeError: ResultSet object has no attribute 'get_text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [54]:
for life in lifeforms:
    print(life.get_text())
    print("******")

Plant 1
******
Plant 2
******
Plant 3
******
Animal 1
******
Animal 2
******
Animal 3
******

In [55]:
lifeforms_fl =[]
for life in lifeforms:
    life = life.get_text()
    lifeforms_fl.append(life)
    
lifeforms_fl

['Plant 1', 'Plant 2', 'Plant 3', 'Animal 1', 'Animal 2', 'Animal 3']

In [58]:
#lifeforms_lc =[hold-this for single-member in iterable]
#another name for a list is an iterable

lifeforms_lc = [life.get_text() for life in lifeforms]
lifeforms_lc

['Plant 1', 'Plant 2', 'Plant 3', 'Animal 1', 'Animal 2', 'Animal 3']

In [61]:
lifeforms

[<a class="plants life" href="http://example.com/plant1" id="plant1">Plant 1</a>,
 <a class="plants life" href="http://example.com/plant2" id="plant2">Plant 2</a>,
 <a class="plants life" href="http://example.com/plant3" id="plant3">Plant 3</a>,
 <a class="animals life" href="http://example.com/animal1" id="animal1">Animal 1</a>,
 <a class="animals life" href="http://example.com/animal2" id="animal2">Animal 2</a>,
 <a class="animals life" href="http://example.com/animal3" id="animal3">Animal 3</a>]

In [62]:
lifeforms.get("href")

AttributeError: ResultSet object has no attribute 'get'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [65]:
for anything in lifeforms:
    #print(anything)
    print(anything.get("href"))

http://example.com/plant1
http://example.com/plant2
http://example.com/plant3
http://example.com/animal1
http://example.com/animal2
http://example.com/animal3

In [80]:
### sandeeps version
links_fl =[]
for anything in lifeforms:
    links_fl.append(anything.get("href"))
    
links_fl

['http://example.com/plant1',
 'http://example.com/plant2',
 'http://example.com/plant3',
 'http://example.com/animal1',
 'http://example.com/animal2',
 'http://example.com/animal3']

In [ ]:
links_fl =[]
for anything in lifeforms:
    anything = anything.get("href")
    links_fl.append(anything)
    
links_fl

In [75]:
## using list comprehension to save into links_lc

links_lc = [life.get("href") for life in lifeforms]
links_lc

['http://example.com/plant1',
 'http://example.com/plant2',
 'http://example.com/plant3',
 'http://example.com/animal1',
 'http://example.com/animal2',
 'http://example.com/animal3']

In [81]:
cost = soup.find_all("span", class_="cost")
cost

[<span class="cost">$10</span>,
 <span class="cost">$20</span>,
 <span class="cost">$30</span>,
 <span class="cost">$500</span>,
 <span class="cost">$600</span>,
 <span class="cost">$700</span>]

In [84]:
costs = soup.find_all("span", class_="cost")
costs

[<span class="cost">$10</span>,
 <span class="cost">$20</span>,
 <span class="cost">$30</span>,
 <span class="cost">$500</span>,
 <span class="cost">$600</span>,
 <span class="cost">$700</span>]

In [87]:
cost_fl =[]

cost_fl =[]
for cost in costs:
    cost_fl.append(int(cost.get_text().replace("$","")))
    #colts_fl.append(cost.get_text(.replace("$", "")))
    
cost_fl

[10, 20, 30, 500, 600, 700]

In [89]:
costs_lc = [int(cost.get_text().replace("$", "")) for cost in costs]
costs_lc

[10, 20, 30, 500, 600, 700]

### Look at solutions

In [101]:
life_list_dict = []
for (lifeforms, costs, links) in zip(lifeforms_lc, costs_lc, links_lc):
    life_list_dict.append({ 
        "product": lifeforms,
        "cost": costs,
        "links": links
    })

In [102]:
import pandas as pd

In [103]:
pd.Dataframe(life_list_dict)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [104]:
life_list = []
for my_items in zip(lifeforms_lc, costs_lc, links_lc):
    life_list.append(my_items)
life_list

[('Plant 1', 10, 'http://example.com/plant1'),
 ('Plant 2', 20, 'http://example.com/plant2'),
 ('Plant 3', 30, 'http://example.com/plant3'),
 ('Animal 1', 500, 'http://example.com/animal1'),
 ('Animal 2', 600, 'http://example.com/animal2'),
 ('Animal 3', 700, 'http://example.com/animal3')]

In [105]:
type(life_list[0])

tuple

In [108]:
df = pd.DataFrame(life_list)
df

          0    1                           2
0   Plant 1   10   http://example.com/plant1
1   Plant 2   20   http://example.com/plant2
2   Plant 3   30   http://example.com/plant3
3  Animal 1  500  http://example.com/animal1
4  Animal 2  600  http://example.com/animal2
5  Animal 3  700  http://example.com/animal3

In [109]:
df.columns = ["Product", "Cost", "More_info"]
df

    Product  Cost                   More_info
0   Plant 1    10   http://example.com/plant1
1   Plant 2    20   http://example.com/plant2
2   Plant 3    30   http://example.com/plant3
3  Animal 1   500  http://example.com/animal1
4  Animal 2   600  http://example.com/animal2
5  Animal 3   700  http://example.com/animal3