
<h1> Python Built-in Data structures and Control Structures </h1>

### Learning agenda of this notebook


- **Python Indentation**
- **Mutable vs Immutable**
- **String Data Structure**
    - Defining Strings in the Python
    - Accessing characters  of  a  String (Indexing)
    - Strings  are  immutable(Reassigning String)
    - Strings  Slicing 
    - String  Concatenation
    - Create large Strings
    - Operations on string Data structure
    - Strings method
    - String  Deletion
    - String Membership test
- **List Data Structure**
    - How to create lists?
    - Proof of concepts: Lists are heterogeneous, ordered, mutable, nested, and allow duplicate elements
    - Different ways to access list elements
    - Slicing Lists
    - List concatenation and repetition
    - Modifying/Adding elements to a List using `append()`, `extend()`, and `insert()` methods
    - Removing elements from a list using `pop()` and `remove()` methods
    - Converting string object to list and vice-versa (using type casting, `split()` and `join()`)
    - Aliasing vs Shallow Copy vs Deep Copy
    - Sorting a list and Custom sorting
- **Branching with `if`, `else`, and `elif`**
- **The `pass` statement**

#### Recap:
- **Introduction to Python(Why, and what Python)**
- **Code Editor and IDE, why jupyter Notebook?**
- **Variables in Python**
- **Datatypes**
- **Comments in Python**
- **Type Casting**
- **Operators in Python**

In [ ]:
int("20a", base=9)

## Python Expression, Statements and Indentation

> **Expressions and Statements**: An expression is some code that evaluates to a value. As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. On the contrary a statement is an instruction that can be executed. 

> **Python Indentation**:
>- Most programming languages like C, C++, Java use braces { } to define a block of code. 
>- Python use indentation to tell the interpreter that the group of statements belongs to a particular block of code. 
>- Python uses 4 spaces as indentation by default. However, the number of spaces is up to you, but a minimum of 1 space has to be used. 
>- Pressing `Tab` in a Jupyter notebook cell, will indent the code by 4 spaces, and pressing `Shift+Tab` will reduce the indentation by 4 spaces. 


<br>
<br>
<img src="images/indentation.jpg" height=700px width=700px>

In [ ]:
age = 20
if age >= 28:
    print("Voted")
else:
    print("Not Voted")
    
if age == 20:
    print("Yes")

In [ ]:
# == (Values comp) , is (Object References)

## Mutable vs Immutable
<img src="images/datatypes1.png" height=700px width=700px>

#### Numbers:
Number stores numeric values. The `integer`, `float`, and `complex` values belong to a Python `Numbers` data-type. Python provides the `type()` function to know the data-type of the variable.


<img src="images/numbers-in-python--image.webp" height=700px width=700px>




Python supports three types of numeric data.

1. **Int** - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
2. **Float** - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
3. **complex** - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.
4. **Boolean:** Also known as bool data type allows us to choose between two values: True and False. Booleans have the type bool. A Boolean is used to determine whether the logic of an expression or a comparison is correct. It plays a huge role in data comparisons.

In [ ]:
a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))

In [ ]:
# ==, != <, >, >=, <= comparsion operators

In [ ]:
result = 5 < 2
print(result)
print(type(result))

In [ ]:
# In Python, True represents the value as 1 or other than 0 and False as 0. 
print(bool(1))
print(bool(0))

print(bool(True))
print(bool(False))

print(bool(-100))
print(bool('ehtisham'))

#### **Test Yourself**
- What are the data types of the results of the division operators `/` and `//`?
- What kind of data does the Boolean data type represent?
- Which types of Python operators return booleans as a result?
- What happens if you try to use a boolean in arithmetic operation?
- How can any value in Python be covered to a boolean?

In [ ]:
# Which types of Python operators return booleans as a result?
# - Comparison Operators
# - Logical Operations
# - Membership
# - Identity

In [ ]:
# True + 100, False*100

In [ ]:
# bool('')

In [ ]:
92 + False

In [ ]:
-10 // 4

<h2  > String Data Structure </h2>


- What is Data  Structure?
- String Data Structure
- Accessing characters  of  a  String (Indexing)
- Strings  are  immutable(Reassigning String)
- Strings  Slicing 
- String  Concatenation
- Create large Strings
- Operations on string Data structure
- Strings method
    - `lower()`, `upper()`, `strip()`, `startswith()`, `endswith()`, `split()`, `join()`, `find()`, `replace()`, `format()`, `len()`, `min()`, `max()`, `sorted()`, `title()/capitalize`, `swapcase()`, `count()`, `find()`, `index()`, `isalnum() / isalpha()`, `isdigit()`, 
- String  Deletion
- String Membership test

### What is Data Structure?


- Data structure is a particular way of storing and organizing data in a computer so that it can be used efficiently. A data structure is a special format for organizing and storing data .


<img src="images/data_structure.gif" height=500px width=500px align="center">

### String Data Structure


- Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes.

<img src="images/Ways-to-declare-a-string-In-Python-1024x576.png" height=600px width=600px align ='left'>
<img src="images/string-ds.gif" height=400px width=400px right="right">

In [2]:
str1 = "Ehtisham"
str2 = 'Ehtisham'
str3 = """Ehtisham"""

In [3]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
# triple quotes string can extend multiple lines

string5 = """Hello, This is
            multi-line string"""
print(string5)

string5 = '''Hello, This is
            multi-line string'''
print(string5)

Hello, This is
            multi-line string
Hello, This is
            multi-line string

In [7]:
# Be careful with quotes!
'I' m using single quotes, but will create an error'

SyntaxError: unterminated string literal (detected at line 2) (3003668550.py, line 2)

> The reason for the error above is because the single quote in `I'm` stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [6]:
# Be careful with quotes!
"I'm using single quotes, but will create an error"

"I'm using single quotes, but will create an error"

### **Indexing**: Accessing Characters of a String

Like other languages, the indexing of the Python strings starts from 0. Since string is of type sequence, and any component within a sequence can be accessed by entrying an `index within square brackets`. So naturally this work for strings as well List.
For example, The string "HELLO" is indexed as given in the below figure.

![](images/2.png)


As shown in Python, the `slice operator []` is used to access the individual characters of the string. However, we can use the `: (colon)` operator in Python to access the substring from the given string. Consider the following example.
### Syntax:    
**str[start:end-1]**

In [8]:
string = "HELLO"  
print(len(string))

5

In [9]:
print(string[0])  
print(string[1])  
print(string[2])  
print(string[3])  
print(string[4])

H
E
L
L
O

In [10]:
# It returns the IndexError because 6th index doesn't exist  
print(string[6])
# 1-4

IndexError: string index out of range

![](images/3.png)

Here, we must notice that the upper range given in the slice operator is always exclusive i.e., if str = 'HELLO' is given, then `str[1:3]` will always include `str[1] = 'E'`, `str[2] = 'L'` and nothing else.

In [ ]:
string2 = "Dua Sadiq"  
print(len(string2))

In [ ]:
# Start Oth index to end  
print(string2[0:])  

# Starts 1th index to 4th index  
print(string2[1:5])  

# Starts 2nd index to 3rd index  
print(string2[2:4])  

# Starts 0th to 2nd index  
print(string2[:3])  

#Starts 4th to 6th index  
print(string2[4:7])

We can do the negative slicing in the string; it starts from the rightmost character, which is indicated as -1. The second rightmost index indicates -2, and so on.


![](images/4.png)

In [11]:
string3 = 'Ali Sadiq'  
print(len(string3))
print(string3[-1])  
print(string3[-3])  
print(string3[-2:])  
print(string3[-4:-1])  
print(string3[-7:-2])

9
q
d
iq
adi
i Sad

In [12]:
# Reversing the given string  
print(string3[::-1])

qidaS ilA

In [ ]:
name = "Ehtisham Sadiq"
# output: "mahsithE qidaS"

In [13]:
print(string3[-12])

IndexError: string index out of range

###  Strings are immutable/ Reassigning Strings
Updating the content of the strings is as easy as assigning it to a new string. `The string object doesn't support item assignment` i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

In [14]:
str1 = "Ayesha Sadiq"
str1[3] = "M"
print(str1)

TypeError: 'str' object does not support item assignment

In [15]:
str1.replace("s", "M")

'AyeMha Sadiq'

In [16]:
#assigning a new value is valid
print(id(str1))
str1 = 'python'
print(id(str1))

4413272496
4331471536

The object `Ayesha Sadiq` is now orphan, since there is no variable referring to it now and will be collected by Python garbage collector.

###  String Slicing
- Slicing is the process of obtaining a portion (substring) of a string by using its indices.
- Given a string, we can use the following syntax to slice it and obtain a substring:
```
string[start:end]
```
- **start** is the index from where we want the substring to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our substring to end (not inclusive in the substring). If end is not provided, slicing goes till the end of the string (includes the last character of the string).


<img src="images/Python-String.png" height=500px width=500px>

- `var[:]` -> Full string return
- `var[0:]` -> Full string return
- `var[:len(string)]` -> Full string return 
- `var[::-1]` -> Full reverse string return

In [17]:
str1 = 'Introductiontodatasciencewithusingpython'
print(len(str1))

40

In [18]:
print(str1[::])  # A default step of 1

Introductiontodatasciencewithusingpython

In [19]:
print(str1[::1])

Introductiontodatasciencewithusingpython

In [20]:
print(str1)
print(str1[::2])  # A step of 2

Introductiontodatasciencewithusingpython
Itoutotdtsineihsnpto

In [21]:
print(str1)
print(str1[10:30:3])  # A step of 2

Introductiontodatasciencewithusingpython
ootcnwh

### String Concatenation
- Two strings can be joined or concatenated using the `+` operator

### Creating large strings
- A string can be replicated/repeated using the `*` operator

In [22]:
str2 = "Ehtisham"
print(str2 * 10)

EhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtisham

###  Operations on String Data Structure 


|Operator|Description|
|--------|-----------|
|+|It is known as concatenation operator used to join the strings given either side of the operator. |
|*|It is known as repetition operator. It concatenates the multiple copies of the same string. |
|[]|It is known as slice operator. It is used to access the sub-strings of a particular string. |
|[:]|It is known as range slice operator. It is used to access the characters from the specified range. |
|in|It is known as membership operator. It returns if a particular sub-string is present in the specified string. |
|not in |It is also a membership operator and does the exact reverse of in. It returns true if a particular substring is not present in the specified string. |

### String Membership test using `in` operator

In [23]:
'a' in 'DataScience'

True

In [24]:
'thf' not in 'python'

True

### String Deletion
As we know that strings are immutable. We cannot delete or remove the characters from the string.  But we can delete the entire string using the `del` keyword.

###  Comparing two strings using `is` operator and `==` operator

In [25]:
"ali" is "ALI", "ali" == "ALI"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/qb/lf_2q09x7wj115gvfnkv6tkm0000gn/T/ipykernel_42162/2784403596.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "ali" is "ALI", "ali" == "ALI"

(False, False)

In [29]:
# # if "ali" is "ALI":
# #     print("Yes")
# # print("NO")


# else "ali" == "ALI":
#     print("Yes")
# print("NO")

In [30]:
if "ali" in "ali":
    print("Yes")
    return "Yes"
    print("NO")
else [2,3,4] in [2,4,3]:
    print("Else")

print("Done")

SyntaxError: expected ':' (3598417541.py, line 5)

In [32]:
if "ali" in "ali":
    print("Yes")
    # return "Yes"
    print("NO")
else:
    print("Else")

print("Done")

Yes
NO
Done

###  String Methods

- Now the most important part of a string is string methods which you used everywhere whenever you built any project. Now we will study all-important string methods which are frequently used.

####  The `len()`, `str.lower()`, `str.upper()` and `str.capitalize()` methods
- The `len()` is a built-in function that returns the number of items of a container data type passed as argument. We can check the length of any data types that are collections with built-in `len()` function.
It is considered a built-in function.
- The `str.lower()` method return a copy of the string converted to lowercase.
- The `str.upper()` method return a copy of the string converted to uppercase.
- The `str.capitalize()` method return a capitalized version of the string.

In [33]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [34]:
# str.

In [35]:
string1 = "introduction to Data science using python"
print('Orignial string = ', string1)

rv = len(string1)
print('len(string1) = ', rv)

Orignial string =  introduction to Data science using python
len(string1) =  41

In [ ]:
# string1.

In [36]:
rv1 = string1.lower()
print('string1.lower() = ', rv1)
      
print('string1.upper() = ', string1.upper())

string1.lower() =  introduction to data science using python
string1.upper() =  INTRODUCTION TO DATA SCIENCE USING PYTHON

####  The `str.strip()` method
- The `str.strip()` method removes whitespace characters from the beginning and end of a string.
- The `str.lstrip()` method removes whitespace characters from the beginning of a string.
- The `str.rstrip()` method removes whitespace characters from the end of a string.

In [37]:
buffer ="    hello world, this is       Ehtisham Sadiq      "
rv = buffer.strip()
print(buffer)
print(rv)

    hello world, this is       Ehtisham Sadiq
hello world, this is       Ehtisham Sadiq

In [38]:
print(buffer)
print(buffer.lstrip())
print(buffer.rstrip())

    hello world, this is       Ehtisham Sadiq
hello world, this is       Ehtisham Sadiq
    hello world, this is       Ehtisham Sadiq

#### The `str.split()` and `str.join()` method

- The `str.split()` method splits a string into a list of strings at every occurrence of space character by default. You may pass a parameter `sep='i'` to split method to split at that specific character instead.
- The `sep.join(list)` method is passed a list/iterable as parameter and is called on a separater character. It joins the strings inside the list to a single string and returns

In [39]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
rv = str1.split()
rv

['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [48]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
rv = str1.split(sep='i', maxsplit=1)
rv

['Learn', 'ng Practical Data Science with Ehtisham Sadiq']

In [41]:
# The join() method takes all items in an iterable and joins them into one string.
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

#Note the separator is space character
mystr = ' '.join(mylist)

In [42]:
mystr

'Learning Practical Data Science with Ehtisham Sadiq'

In [44]:
# You can call join() method on a separator or your choice
mylist = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', str(21), str(18)]

#Note the separator is hash character
mystr = '#'.join(mylist)

In [45]:
mystr

'Ehtisham#Ali#Ayesha#Dua#Adeen#Khubaib#21#18'

In [46]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', '21', '18'] <class 'list'>
Ehtisham#Ali#Ayesha#Dua#Adeen#Khubaib#21#18 <class 'str'>

- The `str.startswith()` method
- The `str.endsswith()` method
- The `str.find()` method
- Use `str.replace()` method to find a substring
- The `str.format()` method

#### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What are the container types available in Python?
2. What kind of data does the String data type represent?
3. What are the different ways of creating strings in Python?
4. What is the difference between strings created using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
5. How do you create multi-line strings in Python?
6. What is the newline character, `\n`?
8. How do you check the length of a string?
9. How do you convert a string into a list of characters?
10. How do you access a specific character from a string?
11. How do you access a range of characters from a string?
12. How do you check if a specific character occurs in a string?
13. How do you check if a smaller string occurs within a bigger string?
14. How do you join two or more strings?
15. What are "methods" in Python? How are they different from functions?
16. What do the `.count`, `.isalnum` and `.isalpha` methods on strings do?
17. How do you replace a specific part of a string with something else?
18. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
19. How do you remove whitespace from the beginning and end of a string?
20. What is the string `.format` method used for? Can you give an example?
21. What are the benefits of using the `.format` method instead of string concatenation?
22. How do you convert a value of another type to a string?
23. How do you check if two strings have the same value?
24. Where can you find the list of all the methods supported by strings?

In [1]:
name = "Ehtisham", "Sadiq" # packing
name

('Ehtisham', 'Sadiq')

In [2]:
first_name , last_name = name # unpacking
print(first_name)
print(last_name)

Ehtisham
Sadiq

In [7]:
name = "Ehtisham"                "Sadiq"
name

'EhtishamSadiq'

In [5]:
# str1 = "ALI"
# str1[-1:-5]
name = "Ali"
age = 20
marks = -90
print("My name is "+name+"and I'm"+str(age)+"years old."+"I have"+str(marks)+"in English")

My name is Aliand I'm20years old.I have-90in English

In [9]:
# "abcdabefabgh".find("")

-1

<h2>List Data Structure</h2>

> **A List is a `numerically ordered sequence` of elements that can store elements of `heterogeneous types`, is `iterable`, `mutable` and allows `duplicate` elements.**


* **Collections** allows us to put many values in a single variable. Lists, Sets, Tuples, and Dictionaries are some types of Python collections
* **Sequences** are collections of objects, however, each object in a sequence is assigned an index and the items of a sequence can be manipulated using its respective index. List and Tuples fall into this category.

In [ ]:
# collection -> l1=[2,3,4,5,6,7,8]
 # sequences (l1, l2, set1,set2))

### How to Create Lists?
>- **A Python List is a numerically ordered sequence of elements that can store multiple items of heterogeneous types and allows duplicate elements.**
>- **A Python List can be created by placing comma separated values in square brackets.**

In [8]:
# It allows us to store elements of different data types (number, boolean, string, list) in one container.

list1 = [1,2,3,4,5]   #list of integers
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [9]:
list2 = [3.7, 6.5, 3.8, 7.95 ]   #list of floats
print(list2)

[3.7, 6.5, 3.8, 7.95]

In [10]:
list3 = ["hello", "this", "F", "good show"]   #list of strings
print(list3)

list4 = [True, False, True]   #list of boolean
print(list4)

list5 = []   #this will create an empty list
print(list5)

['hello', 'this', 'F', 'good show']
[True, False, True]
[]

### Proof of concepts

#### a. Lists are heterogeneous
- Lists are heterogeneous, as their elements/items can be of any data type

In [14]:
list1 = ["Ehtisham", 30, 5.5, "", []]
print("list1: ", list1)
print("Ehtisham", "Sadiq")
print("Ehtisham", "Sadiq", sep="")
print("Ehtisham"+"Sadiq")

list1:  ['Ehtisham', 30, 5.5, '', []]
Ehtisham Sadiq
EhtishamSadiq
EhtishamSadiq

#### b. Lists are ordered
- Lists are ordered means every element is associated by an index
- Every time you access list elements they will show up in same sequence. 
- Moreover, `two lists having same elements in different order are not same`.

In [17]:
a = [1, 2, 3]
b = [2, 3, 1]
print(id(a), id(b), a is b, a == b, sep="\n")

4368091520
4368097408
False
False

#### c. Lists are mutable
- We have seen in previous session that Strings are **immutable**, i.e., we cannot change the contents of a string, however, we can assign an entirely new string to a variable
- List on the contrary are **mutable**, i.e., once a List object is created, you can change an element of the list using the index `[]` and assignment `=' operator

In [18]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

In [19]:
numbers[2] = 555

print("numbers: ", numbers)

numbers:  [10, 20, 555, 40, 50]

#### d. Lists can have duplicate emements

In [20]:
# lists allow duplicate elements
names = ['Ehtisham', 'Ali', 'Ayesha', 'Ehtisham', 'Ahmed']
names

['Ehtisham', 'Ali', 'Ayesha', 'Ehtisham', 'Ahmed']

In [29]:
set1 = set(names) # set does not allow duplicate elements
set1

{'Ahmed', 'Ali', 'Ayesha', 'Ehtisham'}

In [24]:
print(names)
print(set1)

['Ehtisham', 'Ali', 'Ayesha', 'Ehtisham', 'Ahmed']
{'Ali', 'Ehtisham', 'Ayesha', 'Ahmed'}

#### e. Lists can be nested to arbitrary depth
- You can have list within list and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [31]:
# A list having two sub-lists within it
a = [1,2,3,[4,5],[6,7,8,9],10,11]
print(a), len(a)

[1, 2, 3, [4, 5], [6, 7, 8, 9], 10, 11]

(None, 7)

In [32]:
# A list having a sublist, which is further having a sublist and that again having a sublist
b = [1,2,3,[4,5,[6,7,8,[9,10,11]]]]
# a, b
print(b , len(b))

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10, 11]]]] 4

#### f. Packing and Unpacking Lists

In [33]:
# you can unpack list elements
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
mylist

['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [34]:
a, b, c, d, e, f, g = mylist # the number of variables on the left must match the number of elements in the list

print (a, b,c,d, e,f,g, sep="\n")

Learning
Practical
Data
Science
with
Ehtisham
Sadiq

In [35]:
# you can pack individual elements to a list
tuple1 = a,b,c,d,e,f,g
print(tuple1)
print(type(tuple1))

('Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq')
<class 'tuple'>

In [36]:
mylist2 = list(tuple1)

In [37]:
print(mylist2)
print(type(mylist2))

['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
<class 'list'>

In [21]:
list1 = [22, 34, "Ehtisham", "Ali"]
list1[4:3] = "Ayesha"
list1

[22, 34, 'Ehtisham', 'Ali', 'A', 'y', 'e', 's', 'h', 'a']

###  `Index()` method to access elements of a list
- Since Lists like Strings are of type sequence, and any element within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Lists as well strings.
- Similarly, if we want to find out the index of a specific item/element, we can use the `index()` method of List class

In [39]:
# index(value) method is used when you know the list element and want to get its index
# index(value) method returns the index of the first matched item with its only argument
mylist = [27, 4.5, 'Ehtisham', 64, 'ali', 19, 'Ehtisham']
mylist

[27, 4.5, 'Ehtisham', 64, 'ali', 19, 'Ehtisham']

In [40]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [41]:
mylist.index('ahmed')

ValueError: 'ahmed' is not in list

In [42]:
mylist.index('Ehtisham')

2

### Slicing Lists
- Like anyother sequence object we can perform slicing with lists as well.
- Slicing is the process of obtaining a portion of a list by using its indices.
- Given a list, we can use the following template to slice it and obtain a sublist:
```
mylist[start:end:step]
```

- **start** is the index from where we want the sublist to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our sublist to end (not inclusive in the sublist). If end is not provided, slicing goes till the last element of the list.
- **step** is the step through which we want to skip elements in the list. The default step is 1, so we iterate through every element of the list.

In [43]:
list1 = ['a','b','c','d','e','f','g','h','i']
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [44]:
list1[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [45]:
list1[3:]

['d', 'e', 'f', 'g', 'h', 'i']

In [46]:
list1[2:5]

['c', 'd', 'e']

In [47]:
list1[2:7:2]

['c', 'e', 'g']

Here are some experiments you should try out:

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. **Let your curiosity run wild, discover what Python is capable of and what it isn't!**

###  List Concatenation and Repetition using `+` and `*`

### Modifying/Adding elements to a list

- We have worked on different methods of String class . Similarly there are several built-in methods of the List class. 
> **Remember, unlike String methods, most methods of List class modify the original List rather than returning a new one.**
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created list, the original list gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

- We can use a list methods to perform various tasks on a list object and modify it. 
- Some list methods that can be used to alter a list are (append, insert, extend, remove, pop, clear, index, count, sort, reverse, split and join)
- Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .

#### a. Modifying/Adding elements to a list using [ ] operator

In [48]:
mylist = ['data science', 'machine learning', 2, 5, 7]
# Let us change the second element of this list
print("Original List : ", mylist)

Original List :  ['data science', 'machine learning', 2, 5, 7]

In [49]:
mylist[1] = 'big data' #item assignment
print(len(mylist))
print("New List/ Modified List : ",mylist)

5
New List/ Modified List :  ['data science', 'big data', 2, 5, 7]

In [50]:
# We can use the slice index to modify multiple list elements in one go
mylist = ['data science', 'machine learning', 2, 5, 7]
print("Original List : ", mylist)

Original List :  ['data science', 'machine learning', 2, 5, 7]

In [51]:
mylist[0:2] = ['english', 'urdu'] # Note we are replacing two elements with two elements
print(len(mylist))
print("Modified List : ", mylist)

5
Modified List :  ['english', 'urdu', 2, 5, 7]

In [52]:
# We can replace more number of elements with lesser number of elements in a list
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist

['data science', 'machine learning', 2, 5, 7]

In [53]:
mylist[0:2] = ['BIG DATA'] # Note we are replacing two elements with one element
mylist

['BIG DATA', 2, 5, 7]

#### b. Adding elements to a list using `list.append(value)` method
- `list.append(value)` method is used when you want to add a single element at the end of the list
- It is passed one argument which is the element to be inserted and returns none/void

In [54]:
list1 = [2, 4, 6, 8]
print(list1)

[2, 4, 6, 8]

In [55]:
list1.append(4.631)

In [56]:
list1

[2, 4, 6, 8, 4.631]

In [57]:
# You cannot add multiple elements using an append
# If you try it will actually add those elements as a sub-list
list1 = [2, 4, 6, 8]
list1.append([4.631, 'hello'])

In [58]:
list1

[2, 4, 6, 8, [4.631, 'hello']]

In [27]:
list1 = ["Ali", "Ehtisham", "Ayesha", ["Dua", "Adeen",["Khubaib",22,34,"waniya"]]]
list1[3][2][0] = list1[3][2][0].upper()
list1

['Ali', 'Ehtisham', 'Ayesha', ['Dua', 'Adeen', ['KHUBAIB', 22, 34, 'waniya']]]

In [22]:
list1 = ["Ali", "Ehtisham", "Ayesha", ["Dua", "Adeen",("Khubaib",22,34,"waniya")]]
list1[3][2].append(3)

AttributeError: 'tuple' object has no attribute 'append'

#### c. Adding elements to a list using `list.extend(sublist)` method
- `list.extend(sublist)` method is used when you want to add multiple elements at the end of the list
- It is passed a list to be added at the end and returns none/void

In [28]:
list1 = [2, 4, 6, 8]
print("Original List : ", list1)
list1.extend([4.631, 'hello'])

Original List :  [2, 4, 6, 8]

In [31]:
list1

[2, 4, 6, 8, 4.631, 'hello', 'a', 'l', 'i']

In [30]:
list1.extend("ali")

In [ ]:
# list1.extend('Ali')
# list1

#### d. Adding elements to a list using `list.insert(index, value)` method
- `list.insert(index, value)` method is used when you want to add an element at a specific location in the list
- It is passed index and value and returns none/void

In [61]:
myfamily = ["Ehtisham", 'Ali', 'Ayesha']

print("\nOriginal family list: ", myfamily)

Original family list:  ['Ehtisham', 'Ali', 'Ayesha']

In [62]:
myfamily.insert(2,'Dua')
print("After insert: ", myfamily)

After insert:  ['Ehtisham', 'Ali', 'Dua', 'Ayesha']

In [63]:
myfamily.insert(3,'Adeen')
print("After insert: ", myfamily)

After insert:  ['Ehtisham', 'Ali', 'Dua', 'Adeen', 'Ayesha']

###  Removing elements from a list using `list.pop()` and `list.remove()` methods
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created list, the original list shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

#### a. Removing element from a List using `list.pop(index)` method
- The `list.pop()` method without any argument removes the last item (right most element) in the list and returns it
- If given an argument/index, will remove that item from list whose index is given and returns it

In [64]:
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
print("Original list: ", mylist)

Original list:  ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [65]:
x  = mylist.pop()
print("\nAfter pop(): ", mylist)
print("Element popped is: ", x)

After pop():  ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham']
Element popped is:  Sadiq

In [66]:
mylist.pop()

'Ehtisham'

#### b. Removing element from a list using `list.remove(val)` method
- The `list.remove(value)` method is used when you want to remove a specific element without returning it
- It is passed exactly one argument, which is the value to be removed and returns none/void
- In case of multiple occurrances, it removes the first occurrence of the element

In [67]:
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
print("\nOriginal list: ", mylist)

Original list:  ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [68]:
x = mylist.remove('Data')
print("After remove('Data'): ", mylist)
print("Return value of remove() is: ", x)

After remove('Data'):  ['Learning', 'Practical', 'Science', 'with', 'Ehtisham', 'Sadiq']
Return value of remove() is:  None

In [69]:
x = mylist.remove('Ali')

print("After remove('Data'): ", mylist)
print("Return value of remove() is: ", x)

ValueError: list.remove(x): x not in list

#### c. Using `list.clear()` method to remove all the list elements

In [ ]:
# Do by yourself

#### d. Using `del` Keyword to delete one or more list items or delete the list entirely from memory

### Converting String object to List and vice-versa (IMP)

In [ ]:
# Name of both methods

### Some Built-in Functions that can be used on Lists

In [70]:
list_num = [3, 8, 1, 6, 0, 8, 4]
list_num

[3, 8, 1, 6, 0, 8, 4]

In [71]:
print("length of list: ", len(list_num))
print("max element in list: ", max(list_num))
print("min element in list: ",min(list_num))
print("Sum of element in list: ",sum(list_num))

length of list:  7
max element in list:  8
min element in list:  0
Sum of element in list:  30

### Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

<img src="images/deep-shallow.png" height=500px width=500px>

###  Sorting a List
- You can use following three methods to sort list elements
    - The `list.sort()` method can sort the list elements (ascending + descending) on which it is called and returns None (modifies the list on which it is called).
    - The `list.reverse()` method simply reverse the list elements on which it is called and returns None (modifies the list on which it is called).
    - The `sorted(iterable)` is a built-in function, which returns a sorted version of the list, which is passed to it as parameter (list remains as it is). Limitation is it is a bit slow as it makes a copy of the list. Advantage is that it can sort any iterable.

#### a. The `list.sort()` method

In [ ]:
list_num = [3, 8, 1, 6, 0, 8, 4]
print("Original numbers list: ", list_num)

In [ ]:
list_num.sort()
print("Ascending Sort: ", list_num)

list_num.sort(reverse=True)
print("Descending Sort: ", list_num)

#### b. Custom Sorting using `list.sort()` Method
**Example 1: Suppose given a list with elements `['ccc', 'aaaaa', 'd', 'bb']` and I want to sort it by length of strings within the list so that the output list is like : `['d', 'bb', 'ccc', 'aaaaa']`**

```
    list.sort(*, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `list.sort()` method
- The `list.sort()` method will run this one argument function on all the elements of the list and return a single value, and build up a shadow list of those new values. 
- Suppose the one argument function in this case is the Python built-in function `len()`, which when called on every element of `list1` will return a shadow list containing length of every string within the original list containing `[3,4,2,1]`
- The `list1.sort()` method will then sort `list1` elements based on the values of the shadow list and generate the required sorted list :)

In [ ]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort()
list1

In [ ]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort(key=len)
list1

In [ ]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort(key=len, reverse=True)
list1

**Example 2: Suppose given a list with elements `['abcz', 'xyza', 'bas', 'Ehtisham']` and I want to sort it by last character of strings within the list so that the output list is like : `['xyza', 'Ehtisham', 'bas', 'abcz']`**

```
    list.sort(*, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `list.sort()` method
- The `list.sort()` method will run this one argument function on all the elements of the list and return a single value, and build up a shadow list of those new values. 
- This time the one argument function is a custom built function that receives a string and returns its last character. When called on every element of `list1` will return a shadow list containing only the last character of every string within the original list containing `['z', 'a', 's', 'f']`
- The `list1.sort()` method will then sort `list1` elements based on the values of the shadow list and generate the required sorted list :)

In [ ]:
def last(s):
    return s[-1] 
last("Ehtisham")

In [ ]:
list1 = ['abcz', 'xyza', 'bas', 'Ehtisham']
list1

In [ ]:
list1.sort(key=last)
list1

### More Concepts
#### a. Use of  `in` Operator on Lists
#### b. Comparing objects and values

In [ ]:
# is, ==

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a list in Python?
2. How do you create a list?
3. Can a Python list contain values of different data types?
4. Can a list contain another list as an element within it?
5. Can you create a list without any values?
6. How do you check the length of a list in Python?
7. How do you retrieve a value from a list?
8. What is the smallest and largest index you can use to access elements from a list containing five elements?
9. What happens if you try to access an index equal to or larger than the size of a list?
10. What happens if you try to access a negative index within a list?
11. How do you access a range of elements from a list?
12. How many elements does the list returned by the expression `a_list[2:5]` contain?
13. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
14. How do you change the item stored at a specific index within a list?
15. How do you insert a new item at the beginning, middle, or end of a list?
16. How do you remove an item from al list?
17. How do you remove the item at a given index from a list?
18. How do you check if a list contains a value?
19. How do you combine two or most lists to create a larger list?
20. How do you create a copy of a list?
21. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
22. How can you find the list of all the methods supported by lists?
23. Understand the difference between creating an alias of a list, and shallow copy and deep copy

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)