In [3]:
#how to replace an elements in an existing list
x=[10,20,30,40,50,60,70];
print(x);
x[2]=500
print(x)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 500, 40, 50, 60, 70]

In [7]:
#delete the last elements of list using pop()
abc=[10,20,30,40,50,60,70,80,90,120,130,140,160];
print(abc)
abc.pop()
print(abc)
abc.pop(2)
print(abc)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 120, 130, 140, 160]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 120, 130, 140]
[10, 20, 40, 50, 60, 70, 80, 90, 120, 130, 140]

In [11]:
pqr=[40,60,2,90,120,900,160];
print(pqr);
print(pqr[::-1])
print(pqr[5:2:-1])
print(pqr[5:0:-1])

[40, 60, 2, 90, 120, 900, 160]
[160, 900, 120, 90, 2, 60, 40]
[900, 120, 90]
[900, 120, 90, 2, 60]

In [13]:
x="ATGCGTAGCGATGCGATGCGATAGTTTTTTTT"
print(x)
print(x[::-1])

ATGCGTAGCGATGCGATGCGATAGTTTTTTTT
TTTTTTTTGATAGCGTAGCGTAGCGATGCGTA

In [18]:
xyz=[10,20,30,40,50,60,70,80,90]
print(xyz[-1])
print(xyz[-2])
print(xyz[-6:-1])
len(xyz)
print(xyz[-6:len(xyz)])

90
80
[40, 50, 60, 70, 80]
[40, 50, 60, 70, 80, 90]

In [20]:
#copy a list and stoe it another variable
pqr=[40,60,50,60,70,80]
lmn=pqr.copy()
#print(pqr)
print(lmn)

[40, 60, 50, 60, 70, 80]

In [23]:
pqr=[70,80,90]
print(pqr);
a1=pqr;
print(a1)
pqr=pqr+[120,140,50];
print(pqr)
print(a1)

[70, 80, 90]
[70, 80, 90]
[70, 80, 90, 120, 140, 50]
[70, 80, 90]

In [22]:
#empty a list
abc=[40,50,60,70,80,90]
print(abc)
abc.clear()
print(abc)

[40, 50, 60, 70, 80, 90]
[]

In [24]:
abc=[40,50,60,70,80,90]
print(abc.index(70))

3

In [25]:
#sum function
abc=[2,3,4,5,6]
print(sum(abc))

20

In [30]:
x="welcome to python class"
print(x)
print(x[0])
print(x[0:9])

welcome to python class
w
welcome t

In [34]:
x="happy new year"
y=2025
print(x)
print(y)
print("%s\t%d" %(x, y)) #string formatting

happy new year
2025
happy new year	2025

In [37]:
#difference between append() and join()
#join
x1=["bio","info","matics"]
x2=":"
x2.join(x1)

#append
print(x1+[x2])

['bio', 'info', 'matics', ':']

In [38]:
x="bioinformatics"
y="BIOTECHNOLOGY"
print(x.upper())
print(y.lower())

BIOINFORMATICS
biotechnology

In [45]:
#paragraph
x="""
Dear Gunjiii
this is multiple line paragrph
line one
line two
"""
print(x)
print(x[1])
print(x[0:7])

Dear Gunjiii
this is multiple line comments
line one
line two

D

Dear G

In [53]:
#tuple
#how to create a tuple
#how to fetch elements from a tuple
x=(10,20,30,40,50,60,70,80,90,120,140,160)
print(x)
print(x[0])
print(x[2])
print(x[2:7])


#tuple dont delete, remove or replace mtlb we cant modify once it is created unlike list

(10, 20, 30, 40, 50, 60, 70, 80, 90, 120, 140, 160)
10
30
(30, 40, 50, 60, 70)

In [55]:
#we can not delete elements from tuple
abc=(10,20,30,40,50,60,70,80,90,100)
print(abc)
del abc[1]

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

TypeError: 'tuple' object doesn't support item deletion

In [58]:
#we can not remove any elements from tupple
abc=(10,20,30,40,50,60,70,80,90,100)
abc.remove(40)
print(abc)

AttributeError: 'tuple' object has no attribute 'remove'

In [59]:
#we can not replace any elements from tupple
abc=(10,20,30,40,50,60,70,80,90,100)
abc[3]=600
print(abc)

TypeError: 'tuple' object does not support item assignment

In [60]:
xyz=(10,20,30,40,50,60,70)
xyz=xyz+(90,120,130)
print(xyz)

(10, 20, 30, 40, 50, 60, 70, 90, 120, 130)

In [61]:
#we can not insert any elements into an existing tuple
xyz=(10,20,30,40,50,60,70)
xyz.insert(3,50)

AttributeError: 'tuple' object has no attribute 'insert'

In [62]:
xyz=(10,20,30,40,50,60,70)
xyz.append((500,600,700))
print(xyz)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
xyz=(10,20,(120,130,140,150),30,40,50,60,70)
print(xyz)

print(xyz[2][1])

(10, 20, (120, 130, 140, 150), 30, 40, 50, 60, 70)
130

In [68]:
#we can insert list inside tuple
abc=(10,20,[120,140,(5200,5400),160,170],30,(500,600,800),40,50,(1900,[3100,3200,3300],1200,1600),60,70)
print(abc)
abc[2].insert(1,900) #here this worked because we are using insert function with list
print(abc)
abc.insert(1,800) #but here we trying to use function with tuple
print(abc)

(10, 20, [120, 140, (5200, 5400), 160, 170], 30, (500, 600, 800), 40, 50, (1900, [3100, 3200, 3300], 1200, 1600), 60, 70)
(10, 20, [120, 900, 140, (5200, 5400), 160, 170], 30, (500, 600, 800), 40, 50, (1900, [3100, 3200, 3300], 1200, 1600), 60, 70)

AttributeError: 'tuple' object has no attribute 'insert'

In [69]:
abc=(10,20,[120,140,(5200,5400),160,170],30,(500,600,800),40,50,(1900,[3100,3200,3300],1200,1600),60,70)
print(abc)
del abc[7][1][1]
print(abc)

(10, 20, [120, 140, (5200, 5400), 160, 170], 30, (500, 600, 800), 40, 50, (1900, [3100, 3200, 3300], 1200, 1600), 60, 70)
(10, 20, [120, 140, (5200, 5400), 160, 170], 30, (500, 600, 800), 40, 50, (1900, [3100, 3300], 1200, 1600), 60, 70)

In [70]:
abc=(10,20,[120,140,(5200,5400),160,170],30,(500,600,800),40,50,(1900,[3100,3200,3300],1200,1600),60,70)
print(abc.index(20))
print(abc[7][1].index(3300))

1
2