In [1]:
ls = ['vikas','loves her','Ich vermisse dich so sehr!']

In [2]:
ls

['vikas', 'loves her', 'Ich vermisse dich so sehr!']

In [3]:
print(ls)

['vikas', 'loves her', 'Ich vermisse dich so sehr!']

In [4]:
del ls

In [5]:
3+4

7

In [6]:
t = '0','1','2','3','4','5','6','7','8','9'

In [7]:
t

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [11]:
for x  in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [15]:
for i in range(10):
    print(t[i])

0
1
2
3
4
5
6
7
8
9

In [16]:
ls

 Volume in drive G is New Volume
 Volume Serial Number is 0A99-3664

 Directory of G:\PythonFunc

11/27/2018  10:29 PM    <DIR>          .
11/27/2018  10:29 PM    <DIR>          ..
11/27/2018  11:55 AM    <DIR>          .ipynb_checkpoints
10/29/2018  06:07 PM    <DIR>          __pycache__
11/27/2018  10:29 PM             3,518 Data structure practice 2.ipynb
11/27/2018  11:53 AM             8,512 Data structure practice.ipynb
10/29/2018  11:03 PM               452 first.py
11/13/2018  09:57 PM            17,527 Untitled.ipynb
               4 File(s)         30,009 bytes
               4 Dir(s)  169,608,617,984 bytes free

In [19]:
def add(a,b):
        c = a+b
        return c

In [20]:
add(55,67.32)

122.32

In [24]:
empty = ()
singleton = 'vikas',

In [25]:
len(empty)

0

In [26]:
len(singleton)

1

In [22]:
t = 9,4,4

In [23]:
t

(9, 4, 4)

In [27]:
firstSet = {'vikas'}

In [28]:
secondSet = {'jana'}

In [29]:
firstSet - secondSet

{'vikas'}

In [30]:
secondSet - firstSet

{'jana'}

In [31]:
'jana' in secondSet

True

In [32]:
'vikas' in secondSet

False

In [33]:
firstSet & secondSet

set()

In [34]:
firstSet = {'a','a','b','d'}
print(firstSet)

{'a', 'd', 'b'}

In [38]:
a

{'a', 'i', 'k', 's', 'v'}

In [39]:
del a

In [40]:
a

NameError: name 'a' is not defined

In [43]:
del b

In [46]:
remove('f')

NameError: name 'remove' is not defined

In [47]:
pop()

NameError: name 'pop' is not defined

In [48]:
a.pop()

'r'

In [49]:
a

{'d', 'f', 'g', 'h', 'u'}

In [51]:
a

{'d', 'f', 'g', 'h', 'r', 'u'}

In [52]:
a.pop()

'r'

In [53]:
a = {'ghrufd'}

In [54]:
a

{'ghrufd'}

In [55]:
a.pop()

'ghrufd'

In [59]:
b

{'f', 'j', 'k'}

In [60]:
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(a)? (<ipython-input-60-da1608c9d425>, line 1)

In [61]:
print(a)

{'j', 'k', 'f'}

In [62]:
a

{'f', 'j', 'k'}

In [63]:
b

{'f', 'j', 'k'}

In [64]:
b = set('olc')

In [65]:
print(b)

{'l', 'c', 'o'}

In [66]:
b.insert(1,f)

AttributeError: 'set' object has no attribute 'insert'

In [67]:
list =['gh','try','ruko']
'gh' in list

True

In [68]:
'jana' in list

False

In [70]:
set1[4] = 'jk'

TypeError: 'set' object does not support item assignment

In [1]:
dict = {1:'vikas',2:'ojash',3:'jana',4:'papa',5:'mama'}

In [72]:
dict

{1: 'vikas', 2: 'ojash', 3: 'jana', 4: 'papa', 5: 'mama'}

In [73]:
del dict[1]

In [74]:
dict

{2: 'ojash', 3: 'jana', 4: 'papa', 5: 'mama'}

In [75]:
dict[2] ='sister'

In [76]:
dict

{2: 'sister', 3: 'jana', 4: 'papa', 5: 'mama'}

In [77]:
dict[0] ='renu di'

In [78]:
dict

{2: 'sister', 3: 'jana', 4: 'papa', 5: 'mama', 0: 'renu di'}

In [79]:
list(dict)

TypeError: 'list' object is not callable

In [80]:
sorted(dict)

[0, 2, 3, 4, 5]

In [81]:
list(dict)

TypeError: 'list' object is not callable

In [2]:
print(dict)

{1: 'vikas', 2: 'ojash', 3: 'jana', 4: 'papa', 5: 'mama'}

In [3]:
for k,v in dict.items():
    print(k,v)

1 vikas
2 ojash
3 jana
4 papa
5 mama

In [12]:
questions = ['Who are you?','Where do you live?','What is your name?']
answers = ['Human','Earth','Vikas']
for ques, ans in zip(questions, answers):
    print('{0} {1}'.format(ques,ans))

Who are you? Human
Where do you live? Earth
What is your name? Vikas

In [1]:
hello

NameError: name 'hello' is not defined

In [2]:
'hello'

'hello'

In [3]:
4+5

9

In [4]:
for i in range(1,11):
    result = i*3
    print(result, end=" ")

Enter the number to print the table for:3
3 33 333 3333 33333 333333 3333333 33333333 333333333 3333333333