### 리스트 자료형

#### 5개의 정수를 저장하는 방법

In [1]:
a0 = 1
a1 = 2
a2 = 3
a3 = 4
a4 = 5
result = a0 + a1 + a2 + a3 + a4
print(result)

15

#### 리스트를 이용한 저장

In [2]:
a = [1, 2, 3, 4, 5]
result = 0
for data in a:
    result += data
print(result)

15

#### 리스트 만들기

In [7]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

### 리스트의 인덱싱과 슬라이싱

#### 리스트 인덱싱

In [10]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [11]:
a[0]

1

In [12]:
a[0] + a[2]

4

In [13]:
a[-1] + a[2]

8

#### 중첩 리스트 인덱싱

In [14]:
a = [1, 2, 3, ['a', 'b', 'c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [15]:
a[0]

1

In [16]:
a[-1]

['a', 'b', 'c']

In [17]:
a[-1][0]

'a'

In [18]:
a[3][-3]

'a'

In [23]:
a[-1][-3]

'a'

#### 리스트 슬라이싱

In [24]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

#### 문자열 슬라이싱

In [25]:
a = "12345"
a[0:2]

'12'

#### 다양한 슬라이싱

In [27]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

### 리스트 연산하기

#### 리스트 더하기(+)

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

#### 리스트 곱하기(*)

In [29]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트 길이 구하기

In [30]:
a = [1, 2, 3]
len(a)

3

#### 서로 다른 자료형간 합

In [31]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [34]:
a = [1, 2, 3]
a + list("hi")

[1, 2, 3, 'h', 'i']

#### 리스트에서 값 수정 하기

In [35]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

#### del 함수 사용해 리스트 요소 삭제하기

In [36]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [37]:
a = [1, 2, 3, 4, 5]
del a[:2]
a

[3, 4, 5]

### 튜플 자료형

#### 튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
* 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
* 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [52]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1)
print(t2)
print(t3)
print(type(t4))
print(t5)

()
(1,)
(1, 2, 3)
<class 'tuple'>
('a', 'b', ('ab', 'cd'))

#### 튜플은 요소의 삭제 불가

In [53]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

#### 튜플은 요소 수정 불가

In [55]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'
# t1.append('c')

AttributeError: 'tuple' object has no attribute 'append'

#### 요소 1개 튜플 정의

In [56]:
t = (1)  # 일반 정수로 인식
type(t)

int

In [57]:
t = (1,)  # 값이 하나인 Tuple은 반드시 "," 를 붙여야 함
type(t)

tuple