In [2]:
import pandas as pd
import numpy as np

In [64]:
pd.set_option('display.max_columns', 50)

In [61]:
test=pd.read_csv("./dataset_labeled/nsl_testing_labeled.csv")
tra=pd.read_csv("./dataset_labeled/nsl_training_labeled.csv")

In [6]:
test.loc[0, test.columns[3]]

'REJ'

In [5]:
test.head()

,Duration,ProtocolType,Service,Flag,SourceBytes,DestinationBytes,Land,WrongFragment,Urgent,Hot,...,DstHostSerrorRate,DstHostSrvSerrorRate,DstHostRerrorRate,DstHostSrvRerrorRate,TypeOfAttack,TimesApparead,Group,IndexAttack,IndexByGroup,IndexBinary
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.0,0.0,0.00,0.00,normal,21,normal,16,2,0
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,0.0,0.0,0.00,0.00,saint,15,probe,24,3,1
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.0,0.0,0.83,0.71,mscan,11,probe,11,3,1

In [8]:
test.index.values

array([    0,     1,     2, ..., 22540, 22541, 22542])

In [10]:
test.columns.to_series

<bound method Index.to_series of Index(['Duration', 'ProtocolType', 'Service', 'Flag', 'SourceBytes',
       'DestinationBytes', 'Land', 'WrongFragment', 'Urgent', 'Hot',
       'FailedLogins', 'LoggedIn', 'NumberOfCompromised', 'RootShell',
       'SuAttempted', 'Root', 'NumberOfFileCreations', 'NumberOfShellPrompts',
       'NumberOfAccessFiles', 'NumberOfOutbound', 'IsHotLogin', 'IsGuestLogin',
       'Count', 'SrvCount', 'SerrorRate', 'SrvSerrorRate', 'RerrorRate',
       'SrvRerrorRate', 'SameSrvRate', 'DiffSrvRate', 'SrvDiffHostRate',
       'DstHostCount', 'DstHostSrvCount', 'DstHostSameSrvRate',
       'DstHostDiffSrvRate', 'DstHostSameSrcPortRate',
       'DstHostSrvDiffHostRate', 'DstHostSerrorRate', 'DstHostSrvSerrorRate',
       'DstHostRerrorRate', 'DstHostSrvRerrorRate', 'TypeOfAttack',
       'TimesApparead', 'Group', 'IndexAttack', 'IndexByGroup', 'IndexBinary'],
      dtype='object')>

In [12]:
test.columns[0]

'Duration'

In [13]:
t2=test
t2.columns=range(0,len(test.columns))
t2.head()

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.0,0.0,0.00,0.00,normal,21,normal,16,2,0
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,0.0,0.0,0.00,0.00,saint,15,probe,24,3,1
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.0,0.0,0.83,0.71,mscan,11,probe,11,3,1

In [18]:
t2.loc[:3,:10]

   0     1         2    3      4   5   6   7   8   9   10
0   0   tcp   private  REJ      0   0   0   0   0   0   0
1   0   tcp   private  REJ      0   0   0   0   0   0   0
2   2   tcp  ftp_data   SF  12983   0   0   0   0   0   0
3   0  icmp     eco_i   SF     20   0   0   0   0   0   0

In [32]:
indice=list(range(0,len(test.columns)))

In [33]:
subindice=[4,8,12,20]

In [34]:
indice.extend(subindice)

In [35]:
indice

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 4,
 8,
 12,
 20]

In [36]:
type(indice)

list

In [38]:
serie=pd.Series(indice)

In [45]:
serie.unique

<bound method Series.unique of 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47     4
48     8
49    12
50    20
dtype: int64>

In [50]:
serie.drop_duplicates()

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
dtype: int64

In [53]:
serie

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47     4
48     8
49    12
50    20
dtype: int64

In [58]:
# seleccion de ciertas dimensiones (indices). ok

In [56]:
indice=list(range(0,len(test.columns)))
subindice=[4,8,12,20]
indice.extend(subindice)
s_indice=pd.Series(indice)
s_indice=s_indice.drop_duplicates(keep=False)

In [57]:
s_indice

0      0
1      1
2      2
3      3
5      5
6      6
7      7
9      9
10    10
11    11
13    13
14    14
15    15
16    16
17    17
18    18
19    19
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
dtype: int64

In [62]:
test.columns[2]

'Service'

In [65]:
test.describe()

,Duration,SourceBytes,DestinationBytes,Land,WrongFragment,Urgent,Hot,FailedLogins,LoggedIn,NumberOfCompromised,RootShell,SuAttempted,Root,NumberOfFileCreations,NumberOfShellPrompts,NumberOfAccessFiles,NumberOfOutbound,IsHotLogin,IsGuestLogin,Count,SrvCount,SerrorRate,SrvSerrorRate,RerrorRate,SrvRerrorRate,SameSrvRate,DiffSrvRate,SrvDiffHostRate,DstHostCount,DstHostSrvCount,DstHostSameSrvRate,DstHostDiffSrvRate,DstHostSameSrcPortRate,DstHostSrvDiffHostRate,DstHostSerrorRate,DstHostSrvSerrorRate,DstHostRerrorRate,DstHostSrvRerrorRate,TimesApparead,IndexAttack,IndexByGroup,IndexBinary
count,22543.000000,2.254300e+04,2.254300e+04,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.0,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000,22543.000000
mean,218.868784,1.039591e+04,2.056110e+03,0.000311,0.008428,0.000710,0.105399,0.021648,0.442222,0.119904,0.002440,0.000266,0.114670,0.008739,0.001153,0.003549,0.0,0.000488,0.028435,79.028035,31.125449,0.102928,0.103640,0.238474,0.235189,0.740374,0.094057,0.098115,193.866699,140.756465,0.608747,0.090519,0.132236,0.019639,0.097818,0.099430,0.233382,0.226693,18.018498,15.773943,2.047509,0.569268
std,1407.207069,4.727969e+05,2.121976e+04,0.017619,0.142602,0.036474,0.928448,0.150331,0.496661,7.269758,0.049335,0.021061,8.041792,0.676857,0.048015,0.067831,0.0,0.022085,0.166214,128.542091,89.064362,0.295373,0.298337,0.416124,0.416221,0.412482,0.259131,0.253550,94.036867,111.782902,0.435681,0.220701,0.306253,0.085396,0.273144,0.281872,0.387237,0.400881,4.269705,7.160474,1.002262,0.495190
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,121.000000,15.000000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,14.000000,1.000000,0.000000
50%,0.000000,5.400000e+01,4.600000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,8.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,255.000000,168.000000,0.920000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,16.000000,2.000000,1.000000
75%,0.000000,2.870000e+02,6.010000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,123.500000,16.000000,0.000000,0.000000,0.250000,0.075000,1.000000,0.060000,0.000000,255.000000,255.000000,1.000000,0.060000,0.030000,0.010000,0.000000,0.000000,0.360000,0.170000,21.000000,16.000000,2.000000,1.000000
max,57715.000000,6.282565e+07,1.345927e+06,1.000000,3.000000,3.000000,101.000000,4.000000,1.000000,796.000000,1.000000,2.000000,878.000000,100.000000,5.000000,4.000000,0.0,1.000000,1.000000,511.000000,511.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000,39.000000,5.000000,1.000000

In [66]:
Service=test[test.columns[2]]

In [67]:
temp = test[test.columns[2]].value_counts()

In [72]:
temp.head()

http       7853
private    4774
telnet     1626
pop_3      1019
smtp        934
Name: Service, dtype: int64

In [69]:
temp.sum()

22543

In [70]:
len(temp)

63

In [73]:
temp[0]

7853

In [ ]:
#probabilidad

In [74]:
temp[0]/temp.sum()

0.3483564742935723

In [75]:
import math

In [ ]:
#informacion

In [78]:
-1*math.log(temp[0]/temp.sum(),2)

1.521363718492482

In [80]:
#probabilidad

In [79]:
-1*temp[0]/temp.sum()*math.log(temp[0]/temp.sum(),2)

0.52997690109219986

In [120]:
def entropia_informacion(dataset,columnas=[2,3,4,7,12,21,22]):
    #cleaning the dataset
    #restando uno al subindice, ya que pandas empieza la numeracion en 0
    #volviendo un numpy array porque en las listas no hay restas
    subindice=np.asarray(columnas)-1
    #regresando a la lista
    subindice=subindice.tolist()
    indice=list(range(0,len(dataset.columns)-6))
    indice.extend(subindice)
    s_indice=pd.Series(indice)
    #eleminando los duplicados en el Series de Pandas
    s_indice=s_indice.drop_duplicates(keep=False)
    for columna in s_indice:
        #serie temporal
        st=dataset.loc[:,dataset.columns[columna]]
        print("Columna no: %d, etiquetada: %s" %(columna+1,dataset.columns[columna]))
        print("Su Promedio es: %f" %(st.mean()))
        print("Su DesviaciÃ³n Estandar es: %f" % (st.std()))
        informacion=-1*math.log(temp[0]/temp.sum(),2)
        print("Su informacion es: ")

In [ ]:
def informacion(serie):
    s_informacion=pd.Series()
    for elemento in serie:
        s_informacion=s_informacion.append(-1*math.log(serie[elemento]/serieb.sum(),2))

In [183]:
#definiendo funcion para calcular la probabilidad
s_probabilidad=None
def probabilidad(serie):
    s_probabilidad=[]
    e_agrupados = serie.value_counts()
    for elemento in e_agrupados:
        info=elemento/e_agrupados.sum()
        s_probabilidad.append(info)
    ps_probabilidad=pd.Series(s_probabilidad)
    return (ps_probabilidad,e_agrupados)

In [ ]:
#definiendo funcion para calcular la probabilidad
#es la informacion lol
s_probabilidad=None
def probabilidad(serie):
    s_probabilidad=[]
    e_agrupados = serie.value_counts()
    for elemento in e_agrupados:
        info=-1*math.log(elemento/e_agrupados.sum(),2)
        s_probabilidad.append(info)
    ps_probabilidad=pd.Series(s_probabilidad)
    return (ps_probabilidad,e_agrupados)

In [184]:
proba,e_agrupados=probabilidad(test.Duration)

In [185]:
proba.head()

0    0.843588
1    0.026039
2    0.023910
3    0.010646
4    0.009582
dtype: float64

In [186]:
e_agrupados.head()

0      19017
1        587
4        539
282      240
280      216
Name: Duration, dtype: int64

In [121]:
entropia_informacion(test)

Columna no: 1, etiquetada: Duration
Su Promedio es: 218.868784
Su DesviasciÃ³n Estandar es: 1407.207069
Columna no: 5, etiquetada: SourceBytes
Su Promedio es: 10395.911325
Su DesviasciÃ³n Estandar es: 472796.912693
Columna no: 6, etiquetada: DestinationBytes
Su Promedio es: 2056.110012
Su DesviasciÃ³n Estandar es: 21219.763847
Columna no: 8, etiquetada: WrongFragment
Su Promedio es: 0.008428
Su DesviasciÃ³n Estandar es: 0.142602
Columna no: 9, etiquetada: Urgent
Su Promedio es: 0.000710
Su DesviasciÃ³n Estandar es: 0.036474
Columna no: 10, etiquetada: Hot
Su Promedio es: 0.105399
Su DesviasciÃ³n Estandar es: 0.928448
Columna no: 11, etiquetada: FailedLogins
Su Promedio es: 0.021648
Su DesviasciÃ³n Estandar es: 0.150331
Columna no: 13, etiquetada: NumberOfCompromised
Su Promedio es: 0.119904
Su DesviasciÃ³n Estandar es: 7.269758
Columna no: 14, etiquetada: RootShell
Su Promedio es: 0.002440
Su DesviasciÃ³n Estandar es: 0.049335
Columna no: 15, etiquetada: SuAttempted
Su Promedio es: 0.000266
Su DesviasciÃ³n Estandar es: 0.021061
Columna no: 16, etiquetada: Root
Su Promedio es: 0.114670
Su DesviasciÃ³n Estandar es: 8.041792
Columna no: 17, etiquetada: NumberOfFileCreations
Su Promedio es: 0.008739
Su DesviasciÃ³n Estandar es: 0.676857
Columna no: 18, etiquetada: NumberOfShellPrompts
Su Promedio es: 0.001153
Su DesviasciÃ³n Estandar es: 0.048015
Columna no: 19, etiquetada: NumberOfAccessFiles
Su Promedio es: 0.003549
Su DesviasciÃ³n Estandar es: 0.067831
Columna no: 20, etiquetada: NumberOfOutbound
Su Promedio es: 0.000000
Su DesviasciÃ³n Estandar es: 0.000000
Columna no: 23, etiquetada: Count
Su Promedio es: 79.028035
Su DesviasciÃ³n Estandar es: 128.542091
Columna no: 24, etiquetada: SrvCount
Su Promedio es: 31.125449
Su DesviasciÃ³n Estandar es: 89.064362
Columna no: 25, etiquetada: SerrorRate
Su Promedio es: 0.102928
Su DesviasciÃ³n Estandar es: 0.295373
Columna no: 26, etiquetada: SrvSerrorRate
Su Promedio es: 0.103640
Su DesviasciÃ³n Estandar es: 0.298337
Columna no: 27, etiquetada: RerrorRate
Su Promedio es: 0.238474
Su DesviasciÃ³n Estandar es: 0.416124
Columna no: 28, etiquetada: SrvRerrorRate
Su Promedio es: 0.235189
Su DesviasciÃ³n Estandar es: 0.416221
Columna no: 29, etiquetada: SameSrvRate
Su Promedio es: 0.740374
Su DesviasciÃ³n Estandar es: 0.412482
Columna no: 30, etiquetada: DiffSrvRate
Su Promedio es: 0.094057
Su DesviasciÃ³n Estandar es: 0.259131
Columna no: 31, etiquetada: SrvDiffHostRate
Su Promedio es: 0.098115
Su DesviasciÃ³n Estandar es: 0.253550
Columna no: 32, etiquetada: DstHostCount
Su Promedio es: 193.866699
Su DesviasciÃ³n Estandar es: 94.036867
Columna no: 33, etiquetada: DstHostSrvCount
Su Promedio es: 140.756465
Su DesviasciÃ³n Estandar es: 111.782902
Columna no: 34, etiquetada: DstHostSameSrvRate
Su Promedio es: 0.608747
Su DesviasciÃ³n Estandar es: 0.435681
Columna no: 35, etiquetada: DstHostDiffSrvRate
Su Promedio es: 0.090519
Su DesviasciÃ³n Estandar es: 0.220701
Columna no: 36, etiquetada: DstHostSameSrcPortRate
Su Promedio es: 0.132236
Su DesviasciÃ³n Estandar es: 0.306253
Columna no: 37, etiquetada: DstHostSrvDiffHostRate
Su Promedio es: 0.019639
Su DesviasciÃ³n Estandar es: 0.085396
Columna no: 38, etiquetada: DstHostSerrorRate
Su Promedio es: 0.097818
Su DesviasciÃ³n Estandar es: 0.273144
Columna no: 39, etiquetada: DstHostSrvSerrorRate
Su Promedio es: 0.099430
Su DesviasciÃ³n Estandar es: 0.281872
Columna no: 40, etiquetada: DstHostRerrorRate
Su Promedio es: 0.233382
Su DesviasciÃ³n Estandar es: 0.387237
Columna no: 41, etiquetada: DstHostSrvRerrorRate
Su Promedio es: 0.226693
Su DesviasciÃ³n Estandar es: 0.400881

In [96]:
test.columns[2]

'Service'

In [87]:
st=test.loc[:,test.columns[2]]

In [88]:
st.head()

0     private
1     private
2    ftp_data
3       eco_i
4      telnet
Name: Service, dtype: object

In [97]:
columnas=[2,3,4,7,12,21,22]

In [99]:
columnas=columnas-list(range(0,len(columnas)))

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [100]:
a=[3,4]
b=[2,1]

In [101]:
c=a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [102]:
a=np.asarray(a)
b=np.asarray(b)

In [103]:
c=a-b

In [104]:
c

array([1, 3])

In [105]:
c-1

array([0, 2])

In [106]:
type(c)

numpy.ndarray

In [107]:
c=c.tolist()

In [108]:
c

[1, 3]

In [111]:
subindice=np.asarray(columnas)-1
    #regresando a la lista
subindice=subindice.tolist()

In [112]:
subindice

[1, 2, 3, 6, 11, 20, 21]

In [113]:
columnas

[2, 3, 4, 7, 12, 21, 22]

In [114]:
test.head()

,Duration,ProtocolType,Service,Flag,SourceBytes,DestinationBytes,Land,WrongFragment,Urgent,Hot,FailedLogins,LoggedIn,NumberOfCompromised,RootShell,SuAttempted,Root,NumberOfFileCreations,NumberOfShellPrompts,NumberOfAccessFiles,NumberOfOutbound,IsHotLogin,IsGuestLogin,Count,SrvCount,SerrorRate,SrvSerrorRate,RerrorRate,SrvRerrorRate,SameSrvRate,DiffSrvRate,SrvDiffHostRate,DstHostCount,DstHostSrvCount,DstHostSameSrvRate,DstHostDiffSrvRate,DstHostSameSrcPortRate,DstHostSrvDiffHostRate,DstHostSerrorRate,DstHostSrvSerrorRate,DstHostRerrorRate,DstHostSrvRerrorRate,TypeOfAttack,TimesApparead,Group,IndexAttack,IndexByGroup,IndexBinary
0,0,tcp,private,REJ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,229,10,0.0,0.00,1.0,1.0,0.04,0.06,0.00,255,10,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
1,0,tcp,private,REJ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,136,1,0.0,0.00,1.0,1.0,0.01,0.06,0.00,255,1,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21,dos,14,1,1
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0.0,0.00,0.0,0.0,1.00,0.00,0.00,134,86,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21,normal,16,2,0
3,0,icmp,eco_i,SF,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,65,0.0,0.00,0.0,0.0,1.00,0.00,1.00,3,57,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15,probe,24,3,1
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,8,0.0,0.12,1.0,0.5,1.00,0.00,0.75,29,86,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11,probe,11,3,1

In [117]:
len(test.columns)

47

In [125]:
s_probabilidad=pd.Series()

In [129]:
s_probabilidad.append([1])

TypeError: cannot concatenate a non-NDFrame object

In [132]:
s_probabilidad=[]
s_probabilidad=s_probabilidad.extend(-1*math.log(e_agrupados[elemento]/e_agrupados.sum(),2))

AttributeError: 'Series' object has no attribute 'extend'

In [136]:
s_probabilidad=None

In [169]:
s_probabilidad=None
serie=test.Duration
s_probabilidad=[]
e_agrupados = serie.value_counts()
for elemento in e_agrupados:
    info=-1*math.log(elemento/e_agrupados.sum(),2)
    s_probabilidad.append(info)
ps_probabilidad=pd.Series(s_probabilidad)

In [170]:
ps_prababilidad

8557.617969493936

In [139]:
e_agrupados.head()

0      19017
1        587
4        539
282      240
280      216
Name: Duration, dtype: int64

In [141]:
e_agrupados.sum()

22543

In [142]:
e_agrupados[2]/e_agrupados.sum()

0.00456904582353724

In [143]:
e_agrupados[2]

103

In [144]:
e_agrupados.head()

0      19017
1        587
4        539
282      240
280      216
Name: Duration, dtype: int64

In [152]:
e_agrupados.iloc[0]

19017

In [162]:
e_agrupados

0        19017
1          587
4          539
282        240
280        216
5          146
281        145
3          120
2          103
283         85
6           35
805         30
902         26
284         21
898         16
903         16
10          15
8           15
7           15
799         14
796         14
801         14
9           12
899         12
20          12
901         11
900         11
806         10
23          10
897          9
         ...
24           1
684          1
16500        1
72           1
136          1
7412         1
7380         1
7364         1
8579         1
8181         1
8233         1
8217         1
47114        1
8201         1
2044         1
135          1
199          1
247          1
1964         1
7348         1
8031         1
8015         1
7999         1
7236         1
7252         1
7268         1
7284         1
7316         1
7332         1
4906         1
Name: Duration, Length: 624, dtype: int64

In [163]:
s_probabilidad.append(3)

In [164]:
s_probabilidad

[3]

In [168]:
s_probabilidad.sum()

AttributeError: 'list' object has no attribute 'sum'