In [2]:
import pandas as pd
df = pd.read_csv('Spotawheel_case_study (1).csv')
df

,Name,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age
0,Hyundai i10 Era,60000,Petrol,Manual,2,19.81,1086,68.05,5,2650.0,9
1,Toyota Fortuner 4x2 Manual,73500,Diesel,Manual,1,13.00,2982,168.50,7,22000.0,6
2,Mercedes-Benz E-Class 230 E AT,28888,Petrol,Automatic,1,10.00,2496,157.70,5,7560.0,12
3,Volkswagen Polo Petrol Trendline 1.2L,41000,Petrol,Manual,1,16.47,1198,73.90,5,3100.0,9
4,Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,52000,Diesel,Automatic,1,15.68,1999,177.00,5,42000.0,5
...,...,...,...,...,...,...,...,...,...,...,...
4902,Toyota Innova 2.5 G (Diesel) 8 Seater,250000,Diesel,Manual,2,12.99,2494,100.60,8,7900.0,8
4903,Mercedes-Benz New C-Class 220 CDI AT,38000,Diesel,Automatic,1,14.84,2143,170.00,5,13510.0,9
4904,Toyota Innova Crysta 2.8 ZX AT,40674,Diesel,Automatic,1,11.36,2755,171.50,7,24820.0,2
4905,Honda City i VTEC V,62505,Petrol,Manual,1,17.40,1497,117.30,5,5950.0,7
4906,Maruti Swift ZXI,40000,Petrol,Manual,1,20.40,1197,81.80,5,5900.0,6

In [3]:
df['Brand'] = df['Name'].str.split(' ').str[0]
df["Fueltype"]= df["Fuel_Type"].astype('category')
df["Fueltypecat"] = df["Fueltype"].cat.codes
df["Transmissiontype"]= df["Transmission"].astype('category')
df["Transmissiontypecat"] = df["Transmissiontype"].cat.codes
df["Brandtype"]= df["Brand"].astype('category')
df["Brandtypecat"] = df["Brandtype"].cat.codes

In [36]:
df

,Name,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Brand,Fueltype,Fueltypecat,Transmissiontype,Transmissiontypecat,Brandtype,Brandtypecat
0,Hyundai i10 Era,60000,Petrol,Manual,2,19.81,1086,68.05,5,2650.0,9,Hyundai,Petrol,3,Manual,1,Hyundai,10
1,Toyota Fortuner 4x2 Manual,73500,Diesel,Manual,1,13.00,2982,168.50,7,22000.0,6,Toyota,Diesel,1,Manual,1,Toyota,27
2,Mercedes-Benz E-Class 230 E AT,28888,Petrol,Automatic,1,10.00,2496,157.70,5,7560.0,12,Mercedes-Benz,Petrol,3,Automatic,0,Mercedes-Benz,19
3,Volkswagen Polo Petrol Trendline 1.2L,41000,Petrol,Manual,1,16.47,1198,73.90,5,3100.0,9,Volkswagen,Petrol,3,Manual,1,Volkswagen,28
4,Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,52000,Diesel,Automatic,1,15.68,1999,177.00,5,42000.0,5,Land,Diesel,1,Automatic,0,Land,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,Toyota Innova 2.5 G (Diesel) 8 Seater,250000,Diesel,Manual,2,12.99,2494,100.60,8,7900.0,8,Toyota,Diesel,1,Manual,1,Toyota,27
4903,Mercedes-Benz New C-Class 220 CDI AT,38000,Diesel,Automatic,1,14.84,2143,170.00,5,13510.0,9,Mercedes-Benz,Diesel,1,Automatic,0,Mercedes-Benz,19
4904,Toyota Innova Crysta 2.8 ZX AT,40674,Diesel,Automatic,1,11.36,2755,171.50,7,24820.0,2,Toyota,Diesel,1,Automatic,0,Toyota,27
4905,Honda City i VTEC V,62505,Petrol,Manual,1,17.40,1497,117.30,5,5950.0,7,Honda,Petrol,3,Manual,1,Honda,9
4906,Maruti Swift ZXI,40000,Petrol,Manual,1,20.40,1197,81.80,5,5900.0,6,Maruti,Petrol,3,Manual,1,Maruti,18

In [4]:
df["Fueltype"].unique()

['Petrol', 'Diesel', 'CNG', 'LPG']
Categories (4, object): ['Petrol', 'Diesel', 'CNG', 'LPG']

In [5]:
df["Fueltype"].unique()[0]

'Petrol'

In [ ]:
["foo", "bar", "baz"].index("bar")

In [11]:
df["Fueltype"].unique().dtype

CategoricalDtype(categories=['Petrol', 'Diesel', 'CNG', 'LPG'], ordered=False)

In [14]:
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG'], dtype=object)

In [15]:
df["Fuel_Type"].unique().dtype

dtype('O')

In [18]:
fuel = df["Fuel_Type"].unique()

In [19]:
fuel.index("Petrol")

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [ ]:
mp = [1,2,3,4,5] #python list
a = numpy.array(tmp) #numpy array
i = list(a).index(2) #

In [20]:
list(fuel).index('Petrol')

0

In [ ]:
have to be the same as the Fueltypecat so that the value is the same as the trained data

In [ ]:
for df["Fueltypecat"] CNG = 0, Diesel= 1, LPG = 2, Petrol=3

In [40]:
df["Fueltypecat"].unique()

array([3, 1, 0, 2], dtype=int8)

In [ ]:
c = language.lang.astype('category')

d = dict(enumerate(c.cat.categories))
print (d)
{0: 'english', 1: 'spanish'}

In [ ]:
f = Fueltypecat

In [4]:
df["Fueltype"]= df["Fuel_Type"].astype('category')
f = dict(enumerate(df["Fueltype"].cat.categories))
print (f)

{0: 'CNG', 1: 'Diesel', 2: 'LPG', 3: 'Petrol'}

In [5]:
t = dict(enumerate(df["Transmissiontype"].cat.categories))
print (t)

{0: 'Automatic', 1: 'Manual'}

In [6]:
b = dict(enumerate(df["Brandtype"].cat.categories))
print (b)

{0: 'Ambassador', 1: 'Audi', 2: 'BMW', 3: 'Bentley', 4: 'Chevrolet', 5: 'Datsun', 6: 'Fiat', 7: 'Force', 8: 'Ford', 9: 'Honda', 10: 'Hyundai', 11: 'ISUZU', 12: 'Isuzu', 13: 'Jaguar', 14: 'Jeep', 15: 'Lamborghini', 16: 'Land', 17: 'Mahindra', 18: 'Maruti', 19: 'Mercedes-Benz', 20: 'Mini', 21: 'Mitsubishi', 22: 'Nissan', 23: 'Porsche', 24: 'Renault', 25: 'Skoda', 26: 'Tata', 27: 'Toyota', 28: 'Volkswagen', 29: 'Volvo'}

In [ ]:
fuellist = list(df["Fuel_Type"].unique())
fuel = fuellist.index(fuelchoose)

In [14]:
fuelchoose = 'Petrol'

In [10]:
reversed_dictionary = dict(map(reversed, f.items()))
reversed_dictionary

{'CNG': 0, 'Diesel': 1, 'LPG': 2, 'Petrol': 3}

In [12]:
reversed_dictionary['Petrol']

3

In [ ]:
x = [key for key in areas if input_area in areas[key]]

print(x)

In [ ]:
areas={     '1':['a', 'b'],
            '2':['c', 'd', 'e'],
            '3':['f' 'g', 'h', 'i','j', 'k' ],
            '4': ['l', 'm','n'],
            '5': ['o' , 'o', 'q', 'r' 's' 't']
           }

So far, i've tried this, but in both cases I get an empty value (result is []), instead of '2'.

input_area='c'
x=[key for key in areas_dict if input_area in areas_dict.values()]
x

input_area='c'
x=[k for k, v in areas_dict.items() if input_area==v]
x

In [15]:
fuel = [key for key in f if fuelchoose in f[key]]
print (fuel)

[3]

In [16]:
fuel

[3]

In [26]:
df["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [27]:
df["Transmissiontypecat"].unique()

array([1, 0], dtype=int8)

In [21]:
list(df["Transmission"].unique()).index("Manual")
# according to Transmission column, Manual is 0 and Automatic is 1??

0

In [22]:
df["Transmissiontypecat"]

0       1
1       1
2       0
3       1
4       0
       ..
4902    1
4903    0
4904    0
4905    1
4906    1
Name: Transmissiontypecat, Length: 4907, dtype: int8

In [23]:
df["Transmissiontypecat"][0]

1

In [25]:
df["Transmissiontypecat"][0].values

AttributeError: 'numpy.int8' object has no attribute 'values'