In [ ]:
 # dictionary -data will store as a key value
    #dic is mutable but keys are immutable
    #dic has no indexing
    #keys are unique,values can be mutable and immutable
    #mutable-list,set,dic
    #immutable-string,tuple,int,float,boolean,complex

In [1]:
#empty dic
d={}
type(d)

dict

In [2]:
a=2
id(a)

1866635241808

In [7]:
a=4
id(a) #int-immutable=different memory location

1866635241872

In [4]:
a={1,2,3,4}
id(a)

1866721344416

In [5]:
a={1,2,3,4,6}
id(a)

1866721344864

In [9]:
d={1:"one",2:"two",3:"three"}
type(d)
len(d)

3

In [10]:
#nested dic
d={1:"one",2:"two",3:"three",4:{"four","even"}}
len(d)

4

In [11]:
d={[1,2,3]:"list"} #bcz list is mutable

TypeError: unhashable type: 'list'

In [12]:
d={"datatype":"key"} #str is immutable
d

{'datatype': 'key'}

In [13]:
#creating a dic with mixed keys
d={'Name':'Python',1:[1,2,3,4]} #here we are taking list in value
print(d)

{'Name': 'Python', 1: [1, 2, 3, 4]}

In [14]:
#dic can be constructed by built-in function dict()

In [17]:
d=dict()
type(d)
d #empty dic

{}

In [18]:
l=[("1","one"),("2","two")]
dict(l)

{'1': 'one', '2': 'two'}

In [19]:
#accessing in dic

In [2]:
d={1:"one",2:"two",3:"three",4:{"four":"even","multipleof2":"2"},"list":[1,2,3,4]}
d[4]

{'four': 'even', 'multipleof2': '2'}

In [3]:
d={1:"one",2:"two",3:"three",4:{"four":"even","multipleof2":"2"},"list":[1,2,3,4]}
d[4]["four"]

'even'

In [4]:
d[4]["multipleof2"]

'2'

In [5]:
d["list"]

[1, 2, 3, 4]

In [31]:
d["list"][2:4] #using keyname in the square bracket

[3, 4]

In [32]:
d["6"] #key not available bcz value is not there

KeyError: '6'

In [34]:
type(d.get(6)) #get will handle the error if key is not present

NoneType

In [35]:
d.get(1)

'one'

In [38]:
#dic-functions

In [6]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [40]:
#printing keys of dictionary
d={1:"one",2:"two",3:"three",4:{"four","even"}}
d.keys()

dict_keys([1, 2, 3, 4])

In [41]:
#printing values of dic
d={1:"one",2:"two",3:"three",4:{"four","even"}}
d.values()

dict_values(['one', 'two', 'three', {'even', 'four'}])

In [43]:
#item=key-value pair
d={1:"one",2:"two",3:"three",4:{"four","even"}}
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, {'even', 'four'})])

In [44]:
#adding the elements in the dict

In [45]:
d={}
d["name"]=["jatin","priya","jai"]
d

{'name': ['jatin', 'priya', 'jai']}

In [46]:
d={}
d["name"]=["jatin","priya","jai"]
d["gender"]=["m","f","m"]
d["grade"]=["a","b","a+"]
d

{'name': ['jatin', 'priya', 'jai'],
 'gender': ['m', 'f', 'm'],
 'grade': ['a', 'b', 'a+']}

In [48]:
import pandas as pd
df=pd.DataFrame(d)
df #will study later in pandas

    name gender grade
0  jatin      m     a
1  priya      f     b
2    jai      m    a+

In [49]:
d

{'name': ['jatin', 'priya', 'jai'],
 'gender': ['m', 'f', 'm'],
 'grade': ['a', 'b', 'a+']}

In [7]:
d["name"]="python batch" #name replaced #keys should be immutable and unique
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: {'four': 'even', 'multipleof2': '2'},
 'list': [1, 2, 3, 4],
 'name': 'python batch'}

# update()

In [53]:
dict1={'A':'Python','B':'Core'}
dict2={'course1':"python","course2":"datascience"}
dict1.update(dict2)
dict1

{'A': 'Python', 'B': 'Core', 'course1': 'python', 'course2': 'datascience'}

In [54]:
dict1={'A':'Python','B':'Core'}
d=dict1.copy() #shallow copy= if we change in original then no change will be reflected in copy
d

{'A': 'Python', 'B': 'Core'}

In [55]:
dict1["a"]="capital"
dict1

{'A': 'Python', 'B': 'Core', 'a': 'capital'}

In [56]:
d

{'A': 'Python', 'B': 'Core'}

# del()

In [3]:
d={5:"welcome",6:"t0",7:"madrid",8:{"four","even"}}
del d[5] #takes key 
d

{6: 't0', 7: 'madrid', 8: {'even', 'four'}}

In [6]:
d={5:"welcome",6:"t0",7:"madrid",8:{"four","even"}}
del d[8]
d

{5: 'welcome', 6: 't0', 7: 'madrid'}

In [7]:
d={5:"welcome",6:"t0",7:"madrid",8:{"four","even"}}
d.pop(5)

'welcome'

In [8]:
d={5:"welcome",6:"t0",7:"madrid",8:{"four","even"}}
d.pop(5)
d

{6: 't0', 7: 'madrid', 8: {'even', 'four'}}

In [5]:
d.popitem() #del a random element

(8, {'even', 'four'})

# iteration

## wap to reverse the string using for loop and while loop

In [19]:
s=input("enter the string---")
i=len(s)-1
for j in range(i,-1,-1):
    print(s[j],end="")

enter the string---python
nohtyp

In [21]:
s=input("enter the string--")
s1=""
i=len(s)-1
while(i>=0):
    s1=s1+s[i]
    i=i-1
print(s1)

enter the string--python
nohtyp

In [23]:
Dict={1: 'Python','name': 'Madrid',3: 'core',4:[1,2,3]}
for i in Dict: #by default it fetches the key 
    print(i)

1
name
3
4

In [9]:
Dict={1: 'Python','name': 'Madrid',3: 'core',4:[1,2,3]}
for i in Dict.keys(): #it fetches the key only
    print(i)

1
name
3
4

In [27]:
D={1: 'Python','name': 'Madrid',3: 'core',4:[1,2,3]}
for i in D.values(): #for values only
    print(i)

Python
Madrid
core
[1, 2, 3]

In [28]:
D={1: 'Python','name': 'Madrid',3: 'core',4:[1,2,3]}
for i in D.items(): #for both key and values use items()
    print(i)

(1, 'Python')
('name', 'Madrid')
(3, 'core')
(4, [1, 2, 3])

In [10]:
Dict={1: 'Python','name': 'Madrid',3: 'core',4:[1,2,3]}
for i,j in Dict.items():
    print(i,"---------",j)

1 --------- Python
name --------- Madrid
3 --------- core
4 --------- [1, 2, 3]

# create a dict with keys and values as square

In [34]:
d={}
for i in range(1,16):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [47]:
d={1:'one',2:'two',3:'three',4:'four',5:'five'}
for i,j in d.items():
    if i%2==0:
        d[i]=d[i].upper()
    else:
        d[i]=len(j)
print(d)

{1: 3, 2: 'TWO', 3: 5, 4: 'FOUR', 5: 4}

In [48]:
#create a dict of student and take no of students from user #hw

In [4]:
stu=int(input("enter how many students--"))
d={}
grade=[]
name_s=[]
gender_s=[]
for i in range(1,stu+1):
    
    name=input("enter name of student--")
    name_s.append(name)
    gender=input("enter gender of student---")
    gender_s.append(gender)
    
    marks_st=int(input("enter the marks--"))
    grade.append(marks_st)
d["Name"]=name_s
d["gender"]=gender_s
d["marks"]=grade
print(d)

enter how many students--3
enter name of student--yash
enter gender of student---male
enter the marks--67
enter name of student--priyanka
enter gender of student---f
enter the marks--89
enter name of student--rupa
enter gender of student---f
enter the marks--78
{'Name': ['yash', 'priyanka', 'rupa'], 'gender': ['male', 'f', 'f'], 'marks': [67, 89, 78]}

In [5]:
stu=int(input("enter number of students:"))
d={}
for i in range(stu):
    name=input("enter the name--")
    m1,m2,m3=input("enter the marks---").split(" ")
    m1=int(m1)
    m2=int(m2)
    m3=int(m3)
    gender=input("enter the gender---")
    class_s=input("enter class section---")
    d[name]=[m1,m2,m3],gender,"class--"+class_s
print(d)

enter number of students:2
enter the name--rupanshi
enter the marks---78 78 78
enter the gender---f
enter class section---a
enter the name--kirti
enter the marks---78 78 79
enter the gender---f
enter class section---b
{'rupanshi': ([78, 78, 78], 'f', 'class--a'), 'kirti': ([78, 78, 79], 'f', 'class--b')}

# count the frequency of elements of string using count in dict and sort it

In [49]:
d={}
s=input("enter the string--")
for i in s:
    d[i]=s.count(i)
print(d)

enter the string--Madrid
{'M': 1, 'a': 1, 'd': 2, 'r': 1, 'i': 1}

# sorted

In [50]:
#wap to sort the dictionary of keys
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.keys()))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.keys(),reverse=True))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.values())) #according to ascii values

['a', 'a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick']

In [11]:
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.values(),reverse=True))

['quick', 'over', 'lazy', 'jumps', 'fox', 'dog', 'brown', 'a', 'a']

In [53]:
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.items()))

[(0, 'a'), (1, 'quick'), (2, 'brown'), (3, 'fox'), (4, 'jumps'), (5, 'over'), (6, 'a'), (7, 'lazy'), (8, 'dog')]

In [54]:
d={0:'a',1:'quick',2:'brown',3:'fox',4:'jumps',5:'over',6:'a',7:'lazy',8:'dog'}
print(sorted(d.items(),reverse=True))

[(8, 'dog'), (7, 'lazy'), (6, 'a'), (5, 'over'), (4, 'jumps'), (3, 'fox'), (2, 'brown'), (1, 'quick'), (0, 'a')]

In [55]:
# wap to sort the dictionary on the basis of its value #will do later after set in lambda

# fromkeys()-if we have to pass common value to keys

In [57]:
x=('key1','key2','key3')
y=0
thisdict=dict.fromkeys(x,y) # x can be iterable,y is value
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [59]:
li=['a','o','i','e','u']
l1=[1,2,3,4,5]
new_dict=dict.fromkeys(li,l1)
print(new_dict)

{'a': [1, 2, 3, 4, 5], 'o': [1, 2, 3, 4, 5], 'i': [1, 2, 3, 4, 5], 'e': [1, 2, 3, 4, 5], 'u': [1, 2, 3, 4, 5]}

In [60]:
li=['a','o','i','e','u']
l1="vowels"
new_dict=dict.fromkeys(li,l1)
print(new_dict)

{'a': 'vowels', 'o': 'vowels', 'i': 'vowels', 'e': 'vowels', 'u': 'vowels'}

 # zip-parellely zip the items

In [61]:
a1=(1,2,3)
s=("abc")
t=list(zip(a1,s))
print(t)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [68]:
a1=[1,2,3]
b1=["a","b","c"]
t=list(zip(a1,s))
list(zip(*t))

[(1, 2, 3), ('a', 'b', 'c')]

In [12]:
a1=[1,2,3,4]
b1=["a","b","c"]
dict(zip(a1,b1))

{1: 'a', 2: 'b', 3: 'c'}

# wap to remove spaces from key

# wap to remove duplicates from dictionary

# wap to check whether the particular key is present in dict or not

In [23]:
#q-1
d={'1 1':'eleven','2 2':'twentytwo','3 3':'thirtythree','4 4':'fourtyfour','5 5':'fiftyfive'}
dic={}
for i in d:
    s=i.replace(" ","")
    dic[s]=d[i]
print(dic)

{'11': 'eleven', '22': 'twentytwo', '33': 'thirtythree', '44': 'fourtyfour', '55': 'fiftyfive'}

In [10]:
#q-2
d={1:'one',2:'two',3:'three',4:'four',5:'five',6:'two'}
d1={}
unique=[]
for i in d:
    if d[i] not in unique:
        unique.append(d[i])
for i in unique:
    d1[i]=unique[i]
print(unique)
print(d1)

AttributeError: 'dict' object has no attribute 'append'

In [2]:
#q-3
d={'1':'one','2':'two','3':'three','4':'four','5':'five','list':[1,2,3,4]}
key=input("enter the key to check---")
if key in d.keys():
    print(key,"---key is present")
    print(d[key],"---value is")
else:
    print(key,"---key is not present--")

enter the key to check---list
list ---key is present
[1, 2, 3, 4] ---value is

# 27/09/22

# dic comprehension()

In [3]:
d={}
r=int(input("enter number---"))
for i in range(r+1):
    d[i]=i*i
print(d)

enter number---8
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
{i : i*i for i in range(1,10)} #dic comprehension

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [5]:
[i*i for i in range(1,10)] #list comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
#wap to create a dict
{i:"even" if i%2==0 else "odd" for i in range(1,11)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [12]:
{i:"even" for i in range(1,11) if i%2==0 } #only if condition give it after for loop

{2: 'even', 4: 'even', 6: 'even', 8: 'even', 10: 'even'}

In [12]:
d={"aman":29,"Ramesh":44,"golu":56,"raju":45,"molu":28}
{i:"young" if d[i]<40 else "old" for i in d}

{'aman': 'young',
 'Ramesh': 'old',
 'golu': 'old',
 'raju': 'old',
 'molu': 'young'}

# 02/10/22-HOMEWORK

In [3]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
'''Write a Python program to remove a specified dictionary from a given list. 
Original list of dictionary:
[{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, \
{'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]
Remove id #FF0000 from the said list of dictionary:
[{'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, \
{'id': '#808000', 'color': 'Olive'}]
'''

In [8]:
li=[{'id':'#FF0000','color':'Red'},{'id':'#800000','color':'Maroon'},{'id':'#FFFF00','color':'Yellow'},{'id':'#808000','color':'Olive'}]
for i in li:
    if i["id"]=="#FF0000":
        i2=li.index(i)
        li.pop(i2)
print(li)

[{'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]

In [ ]:
'''A Python Dictionary contains List as value. Write a Python program to update the list values in the said dictionary. 
{'Math': [88, 89, 90], 'Physics': [92, 94, 87], 'Chemistry': [90, 87, 93]}
Update the list values of the said dictionary:
given :  {'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}
'''

In [10]:
d={'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}
for i in d:
    if i=='Math':
        d[i][0]=88
        d[i][1]=89
        d[i][2]=90
    elif i=='Physics':
        d[i][0]=92
        d[i][1]=94
print(d)

{'Math': [88, 89, 90], 'Physics': [92, 94, 87], 'Chemistry': [90, 87, 93]}

In [ ]:
'''Wap to convert dictionary of list to list of dictionaries 
d = {1:[1,2],2:[3,4],3:[5,6]}
output
l = [{1:[1,2]},{2:[3,4]},{3:[5,6]}]
'''

In [15]:
d={1:[1,2],2:[3,4],3:[5,6]}
l=[]
d1={}
d2={}
d3={}
for i in d:
    if i==1:
        d1[1]=d[i]
        l.append(d1)
    elif i==2:
        d2[2]=d[i]
        l.append(d2)
    elif i==3:
        d3[3]=d[i]
        l.append(d3)
print(l)

[{1: [1, 2]}, {2: [3, 4]}, {3: [5, 6]}]

In [1]:
d={'s1':[10,20,30], 's2':[20,30,40],'s3':[12,34]}
for i in d.values():
    i.clear()
print(d)

{'s1': [], 's2': [], 's3': []}

In [3]:
d={'a':'1','b':'2','c':'3'}
d1={}
for i,j in d.items():
    i=i.upper()
    print(i)
    j=j+j+j+j
    print(j)
    d1[i]=j
print(d1)

A
1111
B
2222
C
3333
{'A': '1111', 'B': '2222', 'C': '3333'}