In [5]:
class A:
    pass

In [6]:
a = A()

In [7]:
type(a)

__main__.A

In [8]:
__name__

'__main__'

In [9]:
4 + 4

8

In [10]:
"str" + "str2"

'strstr2'

In [11]:
[1,3,4] + [3,4,5]

[1, 3, 4, 3, 4, 5]

In [12]:
class Student:
    def __init__(self, name):
        self.name = name

In [14]:
s1 = Student("bipin")
# Student.__init__(s1, "bipin")

In [15]:
s1.name

'bipin'

In [20]:
class Random:
    def hello(self):
        print("hello!!!")

In [21]:
Random.hello()

TypeError: hello() missing 1 required positional argument: 'self'

In [22]:
r1 = Random()

In [23]:
r1.hello()
# Random.hello(r1)

hello!!!

In [24]:
class Student:
    def __init__(self, name):
        self.name = name

In [25]:
s1 = Student("Bipin")

In [26]:
s1.name

'Bipin'

In [27]:
s1.name = "Some random name"

In [28]:
s1.name

'Some random name'

In [29]:
Student("bipin")

In [31]:
class A:
    dummy_variable = "random"
    
    def __init__(self, value):
        self.value = value

In [32]:
a = A(45)

In [33]:
a.value

45

In [34]:
a.dummy_variable

'random'

In [35]:
b = A(56)

In [36]:
b.value

56

In [37]:
b.dummy_variable

'random'

In [38]:
A.dummy_variable

'random'

In [39]:
A.value

AttributeError: type object 'A' has no attribute 'value'

In [62]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        self.tricks = []
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [55]:
d1 = Dog("tuffy")

In [56]:
d2 = Dog("scooby")

In [57]:
d1.name

'tuffy'

In [58]:
d2.name

'scooby'

In [59]:
d1.teach_trick("stand")

In [60]:
d1.tricks

['stand']

In [61]:
d2.tricks

[]

In [65]:
class Dog:
    tricks = []
    breed = "german shepherd"
    
    def __init__(self, name):
        self.name = name
#         self.tricks = []
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [66]:
d1 = Dog("tuffy")
d2 = Dog("scooby")

In [67]:
d1.breed

'german shepherd'

In [69]:
d2.breed

'german shepherd'

In [70]:
d2.breed = "labra"

In [71]:
d1.breed

'german shepherd'

In [72]:
Dog.breed

'german shepherd'

In [73]:
Dog.breed = "random"

In [74]:
Dog.breed

'random'

In [75]:
d2.breed

'labra'

In [76]:
d1.breed

'random'

## DUNDERS

In [101]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.milaege + other.milaege
    
    def __call__(self):
        return "I WAS JUST CALLED! HOW COOL IS THAT?"
    
    def __gt__(self, other):
        return self.milaege > other.milaege

In [102]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 15)

In [103]:
print(c1)

Nexon -> 13

In [104]:
c1 + c2

28

In [105]:
c1()

'I WAS JUST CALLED! HOW COOL IS THAT?'

In [106]:
c1 > c2

False

In [107]:
it = iter(range(0,5))

In [108]:
next(it)

0

In [109]:
# CREATION OF YOUR OWN CUSTOM ITERABLE

In [110]:
# Inheritence

In [121]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
#         super().__init__(name)
        SchoolMember.__init__(self, name)
        self.grade = grade

In [122]:
s1 = Student("Amit", "A1")

In [123]:
s1.grade

'A1'

In [124]:
s1.name

'Amit'

In [134]:
class A:
    def __init__(self, a):
        self.a = a
        
class B:
    def __init__(self, b):
        self.b = b
        
class C(A,B):
    def __init__(self, a, b, c):
        A.__init__(self, a)
        B.__init__(self, b)
        self.c = c

In [135]:
c = C(3,4,5)

In [136]:
c.a

3

In [137]:
c.b

4

In [138]:
# HOMEWORK
# YOU CAN DO THIS WITH SUPER - TRY IT OUT

In [152]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance
        
    def deposit(self, amount):
        self.__balance += amount
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def showbalance(self):
        return self.__balance

In [153]:
b1 = BankAccount(10000)

In [154]:
b1.showbalance()

10000

In [142]:
b1.deposit(5000)

In [143]:
b1.balance

15000

In [144]:
b1.withdraw(15000)

In [145]:
b1.balance

0

In [146]:
b1.balance = 1000000000000000000000000000000000

In [158]:
b1._BankAccount__balance = 10000000

In [159]:
b1._BankAccount__balance

10000000

In [160]:
b1.__balance = "what?"

In [174]:
def sum_cool(a, b, *meri, **marzi):
    print(meri)
    print(marzi)
    return a + b + sum(meri)

In [175]:
sum_cool(4,5,6,7,8,3,5,5,65,76,2,x=9,y=10,z=20)

(6, 7, 8, 3, 5, 5, 65, 76, 2)
{'x': 9, 'y': 10, 'z': 20}

186

In [167]:
map?

In [178]:
def create_person(name, age, gender, **extra_info):
    person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    person.update(extra_info)
    
    return person

In [179]:
create_person("Rahul Shara", 5000, "Male", student_at="Scaler", active=True, nationality="INDIAN")

{'name': 'Rahul Shara',
 'age': 5000,
 'gender': 'Male',
 'student_at': 'Scaler',
 'active': True,
 'nationality': 'INDIAN'}

In [180]:
create_person("Rahul Shara", 5000, "Male")

{'name': 'Rahul Shara', 'age': 5000, 'gender': 'Male'}

In [194]:
class A:
    pass

class B(A):
    pass

class C(B):
    x = 10
    
class D(A):
    x = 5
    
class E(C,D):
    pass

In [195]:
e = E()

In [196]:
e.x

10

In [197]:
E.__mro__
# method resolution order

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)