# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [4]:
hello = "hello world"
number_five = '5'

In [ ]:
dir("hello")

In [5]:
hello.split()

['hello', 'world']

## Integers

In [ ]:
myint = 78
myotherint = -23

## Floats

In [ ]:
myfloat = 345.78
myothercoolfloat = -987324.2

## Lists

In [3]:
fruits = ['oranges', 'pears', 'berries', 4]
dairy = ['milk', 'cream']

In [10]:
shopping = [fruits, dairy]
shopping

[['oranges', 'pears', 'berries', 4], ['milk', 'cream']]

In [16]:
fruits[1]
fruits[-1]
shopping[0][1]

'pears'

In [17]:
fruits[1] = "bananas"
fruits

['oranges', 'bananas', 'berries', 4]

## Tuples

In [7]:
fruittuple = ("apple", "banana", "cherry") #same as list but cannot be changed

In [8]:
data = [('Ethan', 50), ('Otherperson', 65)] #when you dont want the data to possibly be coupled off from each other

## Sets

In [4]:
fruits.append('grapes')

In [5]:
set(fruits)

{4, 'berries', 'grapes', 'oranges', 'pears'}

## Dictionaries

In [9]:
ethan = {'name': 'Ethan',
         'age': 50,
         'hair': 'short',
         'likes': "Python",
         'dislikes': 'UCloud'}

In [11]:
ethan['name']

'Ethan'

In [10]:
ethan['hair']

'short'

In [12]:
for x in range(5):
    print(x)

0
1
2
3
4

In [13]:
for fruit in fruits:
    print(fruit)

oranges
pears
berries
4
grapes

In [17]:
f = [x for x in fruits]

In [19]:
for x in fruits:
    if x.startswith('p'):
        print('I love ' + x)

I love pears

AttributeError: 'int' object has no attribute 'startswith'

In [21]:
for x in fruits:
    if 'p' in x:
        print('I love ' + x)

I love pears

TypeError: argument of type 'int' is not iterable

In [23]:
myFavefruits = []
for x in fruits:
    if 'p' in x:
        if 'g' in x:
            myFavefruits.append(x)

TypeError: argument of type 'int' is not iterable