In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data\Public Debt (Ksh Million).csv')

In [37]:
'''
    take dataframe column and provide a 
    sum/total of those column
    args:
         dataframe column : series
         return
         sum of values in the column -- float
'''
def add_numbers(df_col):
    column_sum = 0
    # convert column to list
    df_col = list(df_col)
    # for each item in the list add it to sum
    for num in df_col:
        num = float(num.replace(',',''))
        column_sum += num
    return column_sum

In [39]:
df.head()

   Year      Month  Domestic Debt External Debt         Total
0  2021   December      3959523.3  4,174,371.53  8,206,739.71
1  2021   November      3959523.3  4,109,282.85  8,117,360.15
2  2021    October      3959523.3  4,083,124.54  8,042,647.84
3  2021  September      3959523.3  4,062,504.78  8,000,282.23
4  2021     August      3959523.3  4,054,862.85  7,919,738.63

In [41]:
selected_df = df[:5]
selected_df

   Year      Month  Domestic Debt External Debt         Total
0  2021   December      3959523.3  4,174,371.53  8,206,739.71
1  2021   November      3959523.3  4,109,282.85  8,117,360.15
2  2021    October      3959523.3  4,083,124.54  8,042,647.84
3  2021  September      3959523.3  4,062,504.78  8,000,282.23
4  2021     August      3959523.3  4,054,862.85  7,919,738.63

In [43]:
df["Domestic Debt"] = df["Domestic Debt"][2].replace(',', '')
df["Domestic Debt"] =df["Domestic Debt"].astype(float)

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [45]:
df["External Debt"] = df["External Debt"].apply

In [47]:
df["Total"]

0      8,206,739.71
1      8,117,360.15
2      8,042,647.84
3      8,000,282.23
4      7,919,738.63
           ...
257      597,029.37
258      601,821.00
259      598,263.22
260      502,253.00
261      503,554.00
Name: Total, Length: 262, dtype: object

In [49]:
selected_totals = selected_df["Total"]
selected_totals

0    8,206,739.71
1    8,117,360.15
2    8,042,647.84
3    8,000,282.23
4    7,919,738.63
Name: Total, dtype: object

In [51]:
selected_df = df[:5]

In [53]:
selected_totals = selected_df ['Total']
selected_external_debt =selected_df ['External Debt']

In [55]:
total_sum = add_numbers(selected_df ['Total'])
total_external_debt = add_numbers(selected_df ['External Debt'])
total_external_debt = add_numbers(selected_df ['Domestic Debt'])

AttributeError: 'function' object has no attribute 'replace'

In [57]:
print(f'The total sum over the years was {total_sum}\
However, the total external debt was {total_external_debt} \
and the total domestic debt{Domestic Debt}')

SyntaxError: f-string: invalid syntax. Perhaps you forgot a comma? (3568742498.py, line 3)