# print("hello world !");

In [14]:
print("hello world")

hello world

# python version check

In [15]:
from platform import python_version
x=python_version()

print((x)

<class 'str'>

# calculating simple interest

In [24]:
p=int(input("principle :"))
t=float(input("time :"))
r=float(input("rate :"))

intrst = float((p*t*r)/100) ;
print("simple interest is : ",intrst);

principle :10000
time :24
rate :1.5
simple interest is :  3600.0

# to know the type of variable

In [31]:
p=10
q=input("q = ")
print("p = ",type(p))
print("q = ",type(q))

q = 5
p =  <class 'int'>
q =  <class 'str'>

# function creation

In [41]:
def hello() :
    print("Hello Sourabh")

In [42]:
hello()

Hello Sourabh

#demo function

In [43]:
def demo(name,age):
    print(name)
    print(age)

In [46]:
demo("Vikas",21);

Vikas
21

Function - check whether the given number is even or odd

In [49]:
def evenOrOdd(num):
    if num%2 ==0 :
        print(num," is even")
    else : 
        print(num," is Odd")

In [51]:
x=int(input("enter x : "));
evenOrOdd(x);

enter x : 6
6  is even

# lambda anonymous function

In [58]:
n=int(input("Enter the year : "));
leap = lambda y: (y%4==0 and y%100!=0) or y%400 == 0
if leap(n):
    print("leap year");
    
else : 
    print("not leap year")

Enter the year : 2006
not leap year

# Python files

In [69]:
with open("C:\Users\HP\Documents\vikas031\vikas.txt", "w+") as file : 
    data = file.read()
    file.write("Hello files in python")
    print(file.read())

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1169568641.py, line 1)

In [71]:
file = open("C:\Users\HP\Documents\vikas031\vikas,txt");
print(file.read())

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (760553640.py, line 1)

# Numpy in python

In [3]:
import pandas as pd
import numpy as np
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hp\anaconda3\new folder\sad\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#empty_series = pd.Series()
#print(empty_series)

In [2]:
import pandas as pd
import numpy as np
#pd._version_ 
empty_series = pd.Series()
print(empty_series)

Series([], dtype: float64)

C:\Windows\Temp\ipykernel_19528\3578525756.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series()

In [6]:
arr = np.array([22,33,44,55,66])
number_series = pd.Series(arr)
print(number_series)
#print(arr)

0    22
1    33
2    44
3    55
4    66
dtype: int32
[22 33 44 55 66]

In [11]:
num_list = [22,33,44,55,66];
number_series = pd.Series(num_list, index = ['a','b','c','d','e'], name ="Number")
print(number_series)

a    22
b    33
c    44
d    55
e    66
Name: Number, dtype: int64

In [12]:
data = {"name " : ['Sneha','Namitha', 'Sagar','Sowmya'],""}