# Data Types

## Table of contents:
 - [1 Memory management in Python - garbage collection](#1-memory)
 - [2 Numbers and boolean](#2-numbers)
 - [3 Strings](#3-strings)
 - [4 Your turn](#4-turn)
 - [5 Solution](#5-Solution)

# 1 Memory management in Python - garbage collection <a name="1-memory)"></a>

Generally, the memory management in Python is transparent for the standard developer and is dynamic, happening automatically behind the scenes. A simple yet important mechanism that is applied as part of the process is garbage collection. This is the process of freeing memory from unused objects (data). To illustrate, let’s consider a very basic example.  

Python keeps track of the number of references to an object. Observe and run the code below.

In [1]:
count = 30
range = count

**Think** 🤔 In the code above, how many references are there to the int object that contains the value "30"?

> The variable count is a reference to an int object that contains 30. Range is equal to another variable that is equal to count, which makes it another reference to the int object 30. So the answer is 2.

While a reference to the object exists, it will stay allocated in the memory. Once there are no references, the object is removed from the memory by the python garbage collection process which will reclaim the memory resources. Del deletes a reference (the variable), not the object. In the following, we delete both references we just created. Run the code below.

In [2]:
del count
del range

Unlike low-level languages like C, you do not need to manually allocate and de-allocate memory. Now, if you try to access the value of count again, you will get a NameError as it is not defined. Run the code below.

In [3]:
count

NameError: name 'count' is not defined

# 2 Numbers and boolean <a name="2-numbers"></a>

We can perform mathematical operations with objects with numerical types. You may recall that boolean is a data type that represents either True or False.

In [4]:
# this expression calculates the product of 12 and 4, returns an integer (as both 12 and 4 are integers)
12 * 4

print(12 * 4) # prints the result
type(12 * 4) # returns the type of the result

48

int

In [5]:
# this expression also calculates the product of 12 and 4, but returns a float (as 12.0 is a float)
12.0 * 4

print(12.0 * 4) # prints the result
type(12.0 * 4) # returns the type of the result

48.0

float

In [6]:
# this expression checks whether 5 is equal to 2, returns a boolean
5 == 2

print(5 == 2)
type(5 == 2)

False

bool

In [7]:
# this is division of 12 by 3, returns a float
12 / 3 

print(12 / 3)
type(12 / 3)

4.0

float

# 3 Strings <a name="3-strings"></a>

Strings can be surrounded with single or double quotes. For a few examples, view the code below.

In [8]:
# a string using single quotes
print('This is a string')
type('This is a string')

This is a string

str

In [9]:
# a string using double quotes
print("This is also string")
type("This is also string")

This is also string

str

In [10]:
# a string object can be of any length, even 0. An empty string:
print('')
type('')

str

Some characters in Python (and other languages) have special usage. If we would like to use a special character in a string it needs to be with an escape character. In Python the backslash \ is the escape character. For example:

In [11]:
# single quotes ' escaped with backslash \
'I\'m not lost for I know where I am. But however, where I am may be lost.'

"I'm not lost for I know where I am. But however, where I am may be lost."

In [12]:
# single quotes ' ' can also be used inside double quotes strings, instead of escaping 
"You're braver than you believe, stronger than you seem and smarter than you think."

"You're braver than you believe, stronger than you seem and smarter than you think."

There are other special string literals, for example:

 * \n means new line

 * \t means tab

 * \ means backslash

Try this out by running the code below and observe the results.

In [13]:
print("First line\nSecond line")
print('Final\tline')

First line
Second line
Final	line

In the above example, 
- the first `print` statement first prints "First line", then \n moves to a new line, then prints  the rest of the string, e.g., "Second line". 
- the second `print` statement start from a new line and prints a string "End". 

Fowllowing is another example with \n and \t

In [14]:
print('I\'m not lost for I know where I am.\n')
print('\tBut however, where I am may be lost.')

I'm not lost for I know where I am.

	But however, where I am may be lost.

**Think** 🤔: Can you explain the above result? Why there is an empty line in-between?

> In the example above, \t inserts a tab in the beginning of the string (before But). \n breaks the line, starting a new line, and finally the function print also prints on a new line.

We can also use the + operator to concatenate (or join) strings. Run the code below.

In [15]:
"This is a basic" + " Python tutorial"

'This is a basic Python tutorial'

Let’s now consolidate the skills you’ve learned so far with some examples. In this next section, you’ll have the opportunity to test your understanding. First, run the code below.

In [17]:
my_string = "Don't afraid to try" + " yourself"
my_string # have a look at my_string

"Don't afraid to try yourself"

Why does this error occur? Copy the above code into the cell below, remove the special character ' (change Don't to Dont) and check the output.

In [18]:
# have a try in this cell
my_string = 'Dont afraid to try' + " yourself"
my_string

'Dont afraid to try yourself'

Alternatively, re-enter the above code, adding a backslash \ before the special character '.

In [19]:
# have a try in this cell
my_string = 'Don\'t afraid to try' + " yourself"
my_string # have a look at my_string

"Don't afraid to try yourself"

Now, re-enter the above code, but change the single quote to double quotes, and check the output.

In [20]:
# have a try in this cell
my_string = "Don't afraid to try" + " yourself"
my_string # have a look at my_string

"Don't afraid to try yourself"

### Dynamic typing in Python

A variable can point to data of any type by simply assigning it an object, so there’s no need to declare the type explicitly:

- `level = 10` this assigns an integer 10 to variable `level`
- `type(level)` if you print out the type of `level`, it should show as int
- `variable = "mage"` this assigns a string "mage" to `variable`
- `type(variable)` if you print out the type of `variable`, it will show as str

In [21]:
level = 10

In [22]:
type(level)

int

In [23]:
var = "mage"
print(var)

mage

In [24]:
type(var)

str

You can also assign the variable a new object of different type. 

- `level = "ten"` this re-assigns a string "ten" to `level`
- `type(level)` if you print out the type of `level`, it will shows as str, although it was previously an int. Recall here the variable `level` is just a name and it can point to/reference different objects

The type of the variable is determined during runtime (dynamically typed) by the object that it’s bound to.

In [25]:
level = "ten" 

type(level)

str

# 4 Your turn <a name="4-turn"></a>

Let’s practice what we’ve learned so far by having a go at the tasks below. Once done, compare your work to the solutions at the bottom of the page, and revise any code that you didn’t manage to complete the first time around.   

Enter the expression a = 1, and check the type of the variable a

In [4]:
a = 1
type(a)

int

Now assign the variable b a 2 (b=2) and check its type

In [5]:
b = a
type(b)

int

Try adding a+b and check the type of the result

In [6]:
type(a + b)

int

Next assign the word ‘two’ to variable c (c=‘two’) and check the type of c, and “five” to variable d. Print both variables and their types.

In [7]:
c = "twoo"
print(c)
type(c)
d = "five"
print(d)
type(d)

twoo
five

str

Now let’s try to perform additions with those variables. Try to add c to d

In [11]:
c + " " + d

'twoo five'

Trying to perform operations on incompatible types results in a runtime error. Try adding a to c or d. What is the result?

In [9]:
a + d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Think** 🤔: Can you explain the error above? 

> The above error is because a is an integer int and c is a string str. The operator + have two different meanings for those types. For numerical types (int, float) it represents an arithmetic addition (sum), while for string objects it’s used for concatenation (adding one string to another). The operator is not defined between string and numerical objects. 
 
Imagine you want to concatenate the strings two and five. Review the previous codes and then write your code below.

In [10]:
c + " + " + d + " " + 'is seven'

'twoo + five is seven'

The following example concatenates FIVE string objects. 

c + " + " + d + " " + 'is seven' 

Note that the " " is also a string object, which contains a single space. 

**Think** 🤔: Can you figure out which five string objects are included in the code above? 

> The five strings are 1:"two" (c), 2:" +  “(space, +, space), 3:"five", 4:" "(space), 5:"is seven"

# 5 Solution <a name="5-Solution"></a>

How did you go? Review the examples below and compare to your attempts above. Run each cell to see the output.    

Enter the expression a = 1, and check the type of the variable a.

In [ ]:
a = 1 
type(a)

Now assign the variable b a 2 (b=2) and check its type.

In [ ]:
b = 2 
type(b)

Try adding a+b and check the type of the result.

In [ ]:
print(a + b) 
type(a + b)

Next assign ‘two’ to variable c (c=‘two’) and check the type of c, and “five” to variable d. 

Print both variables and their types.

In [ ]:
c = 'two' 
d = 'five' 
print(c, d) 
print(type(c), type(d))

Now let’s try to perform additions with those variables. Try to add c to d

In [ ]:
c + d #concantonating two string objects

Imagine you want to concatenate the strings two and five. Review the previous codes and then write your code below.

In [ ]:
c + d

<div class="warning" style='padding:0.1em; background-color:#e6ffff'>
<span>
<p style='margin:1em;'>
<b>Congratulations!</b></p>
<p style='margin:1em;'>
You’ve now completed this exercise on the foundations of data types in Python. To revise this activity, return to the Canvas page and read over the content under “What you’ll learn”.</p>
<p style='margin-bottom:1em; margin-right:1em; text-align:right; font-family:Georgia'>
</p></span>
</div>