# Python Data Structure

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.They are important because they enable developers to handle data efficiently, optimize code performance, and solve complex problems in various computational contexts.

2.  Explain the difference between mutable and immutable data types with examples?
 - Mutable data types allow modification after their creation (e.g., lists, dictionaries).
 - Immutable data types cannot be changed once created (e.g., strings, tuples).

3. What are the main differences between lists and tuples in Python?
 - Lists are mutable, while tuples are immutable.
 - Lists consume more memory and are slower to access than tuples.
 - Tuples are typically used for fixed collections of items.

4. Describe how dictionaries store data?
 - Dictionaries store data as key-value pairs in a hash table, which ensures efficient lookups, additions, and deletions.

5. Why might you use a set instead of a list in Python?
 - Sets are used instead of list because when we need a collection of unique items and efficient membership checks.

6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters, whereas a list can store elements of different types. Strings are immutable; lists are mutable.

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity in python by being immutable, tuples prevent accidental changes, ensuring the data remains consistent throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure used to implement dictionaries. It maps keys to values using a hash function for fast data retrieval.

9. Can lists contain different data types in Python?
 - Yes, a list can contain elements of different data types.
 - eg : my_list = [1, "hello", 3.14]

10. Explain why strings are immutable in Python?
- Strings are immutable to:
  - Improve memory efficiency.
  -Ensure data security and consistency.
  -Facilitate hashability, enabling strings to be used as keys in dictionaries.  

11. What advantages do dictionaries offer over lists for certain tasks?
 - Fast lookups using keys (O(1) time complexity).
  -Easier association of keys with values for mapping relationships.
   -Better for unordered data access.

12. Describe a scenario where using a tuple would be preferable over a list?
 - Tuples are ideal when you need to represent fixed data.
  - Eg: Coordinate's - coordinates = (10, 20) because this ensures no accidental modifications occur.

13. How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates.
 - eg:[ my_set = {1, 2, 2, 3}
      print(my_set)] when we run this code it will give output : {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
 - For list: "in" Checks for element existence.
 - For Dictionaries : "in" Checks for key existence.

15. Can you modify the elements of a tuple? Explain why or why not?
 - No, tuples are immutable. Once created, their elements cannot be changed. This immutability ensures data integrity.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary within another dictionary. It is useful for representing hierarchical data i.e : nested_dict = {"person": {"name": "Aviral", "age": 21}}

17. Describe the time complexity of accessing elements in a dictionary?
 - Accessing elements in a dictionary has an average time complexity of O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when:
  - Order of elements is important.
  - No key-value relationships are needed.
  - Data involves simple sequential operations.   

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are unordered because they store elements based on hash values of keys. Retrieval depends on the key and not the insertion order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 - List: Access by index (e.g., my_list[0]).
 -  Dictionary: Access by key (e.g., my_dict['key']). The latter is faster for lookups when the key is known.

# Practical Question

In [1]:
# 1 Write a code to create a string with your name and print it?

name = "Aviral Tripathi"
print(name)

Aviral Tripathi

In [3]:
# 2 Write a code to find the length of the string "Hello World" ?

string = "Hello World"
print(len(string))

11

In [4]:
# 3 Write a code to slice the first 3 characters from the string "Python Programming"?

string = "Python Programming"
print(string[:3])

Pyt

In [5]:
# 4 Write a code to convert the string "hello" to uppercase?

string = "hello"
print(string.upper())

HELLO

In [6]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [7]:
# 6 Write a code to create a list with numbers 1 to 5 and print it?

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [11]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50] ?

my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [12]:
# 11 Write a code to create a tuple with the elements 10, 20, 30 and print it?

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [13]:
# 12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [14]:
# 13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [15]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [16]:
# 15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

In [17]:
# 16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [18]:
# 17  Write a code to add the element 6 to the set {1, 2, 3, 4} ?


my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [19]:
# 18 Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [20]:
# 19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [21]:
# 20  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [22]:
# 21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [23]:
# 22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

my_tuple = ('apple', 'orange', 'banana')
is_present = 'banana' in my_tuple
print(is_present)

True

In [24]:
# 23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
# 24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}