#Data Types and Structures Questions

1. What are data structures, and why are they important?
- Data structures organize and store data efficiently for easy access and manipulation.
Importance: Boosts efficiency, optimizes resources, solves problems, and supports complex applications.


2. Explain the difference between mutable and immutable data types with examples ?
- Mutable: Can be changed after creation. Example: list, dict.

In [ ]:
a = [1, 2, 3]
a[0] = 5  # Allowed

- immutable: Cannot be changed after creation. Example: tuple, str.

In [ ]:
b = "hello"
b[0] = "H"  # Error

TypeError: 'str' object does not support item assignment

3.  What are the main differences between lists and tuples in Python?
- Mutability: Lists are mutable; tuples are immutable.

-  Syntax: Lists use [], tuples use ().

- Performance: Tuples are faster than lists.

Use Case: Lists for dynamic data; tuples for fixed data.



4. Describe how dictionaries store data?
- Dictionaries store data as key-value pairs in a hash table. Keys are hashed for quick lookup, and values are accessed via these unique keys.

5. Why might you use a set instead of a list in Python?
- Use a set instead of a list when:

- Uniqueness: You need only unique elements.
Efficiency: Faster membership tests (in) than lists.
Set Operations: For union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?
-  string in Python is an immutable sequence of characters.

Differences from a list:

Strings store characters; lists store various data types.
Strings are immutable; lists are mutable.
Strings use ' or ", lists use [ ].

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning their contents cannot be modified after creation. This ensures data remains consistent and secure from unintended changes.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function for fast lookups. Python dictionaries use hash tables to store key-value pairs efficiently.

9.  Can lists contain different data types in Python?
- Yes, in Python, lists can contain elements of different data types. For example

In [1]:
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)  # Output: [1, 'hello', 3.14, True]

[1, 'hello', 3.14, True]

10. Explain why strings are immutable in Python?
- Strings are immutable in Python because once a string is created, its content cannot be changed. This design ensures:

Memory Efficiency: Strings can be reused instead of creating duplicates, saving memory (e.g., string interning).

Thread Safety: Immutability makes strings safer to use in concurrent programming as their value cannot change unexpectedly.

Hashability: Strings are hashable and can be used as keys in dictionaries, as their hash value remains consistent.

In [2]:
s = "hello"
# s[0] = "H"  # This would raise an error
s = "H" + s[1:]  # Create a new string
print(s)  # Output: "Hello"

Hello

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several advantages over lists for certain tasks:

Fast Lookups: Dictionaries provide average O(1) time complexity for key-based lookups, while lists require O(n) for searching specific elements.

Key-Value Pairing: Dictionaries store data as key-value pairs, making them ideal for tasks where data is best accessed by a unique identifier (key) rather than a numeric index.

Flexible Keys: Keys in dictionaries can be of various immutable types (e.g., strings, tuples), enabling versatile data organization.

No Duplicate Keys: Dictionaries prevent duplicate keys, ensuring data integrity when managing unique identifiers.

Efficient Updates: Updating or adding key-value pairs in a dictionary is more efficient compared to searching and updating values in a list.

Example
Using a dictionary for storing and retrieving employee data by ID:

In [3]:
employees = {101: "Alice", 102: "Bob", 103: "Charlie"}
print(employees[102])  # Output: "Bob"

Bob

12. Describe a scenario where using a tuple would be preferable over a list?

- Using a tuple is preferable over a list when you need to ensure that the data remains unchanged (immutable) and is used as a constant set of values.

Scenario: Coordinates of a Point
For example, in a program dealing with 2D or 3D geometry, the coordinates of a point (e.g., (x, y) or (x, y, z)) are unlikely to change. Using a tuple ensures the integrity of the data:

In [4]:
point = (5, 10)  # A tuple for coordinates
# point[0] = 7  # This will raise an error as tuples are immutable

13. How do sets handle duplicate values in Python?
- In Python, sets automatically eliminate duplicate values. When you add elements to a set, only unique elements are retained, as sets are unordered collections of unique items.

Example:

In [1]:
my_set = {1, 2, 2, 3, 4, 4}
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

How It Works:
Duplicate Removal: When adding items to a set, Python checks if the value already exists. If it does, it ignores the duplicate.
Result: The set contains only one instance of each value.
This property makes sets useful for tasks like deduplication in a collection of data.




14. How does the “in” keyword work differently for lists and dictionaries?
- Lists: in checks for values (O(n)).
Example: 2 in [1, 2, 3] → True

Dictionaries: in checks for keys (O(1)).
Example: "a" in {"a": 1, "b": 2} → True

For values in dictionaries: 2 in my_dict.values() → True.

15. Can you modify the elements of a tuple? Explain why or why note?
- No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once created, their elements cannot be changed, added, or removed.

Reason:
Immutability ensures data integrity and allows tuples to be used as keys in dictionaries or elements in sets.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within another dictionary.

In [2]:
students = {"Alice": {"age": 20, "grade": "A"}}
print(students["Alice"]["grade"])  # Output: A

A

17. Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary has an average time complexity of O(1), thanks to its underlying hash table implementation. This allows for constant-time lookups by key.

18.  In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:

Order Matters: Lists maintain the order of elements.
Index-Based Access: When you need to access elements by their position (index).
Simple Data: For storing homogeneous or small datasets where key-value pairs are unnecessary.
Duplicates Allowed: When you need to allow duplicate elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because their elements are stored based on the hash values of the keys, not in any specific order.

Effect on Data Retrieval:
Unpredictable Order: The order of elements is not guaranteed (though from Python 3.7+, insertion order is preserved).
Fast Lookup: Data retrieval by key is fast (O(1) on average), regardless of order.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- List: Data is retrieved by index (position). Retrieval time is O(1) for direct access, but O(n) for searching a value.

- Dictionary: Data is retrieved by key. Retrieval time is O(1) on average, thanks to hashing. Searching by value requires O(n).

#Practical Questions

1. Write a code to create a string with your name and print it?

In [3]:
name = "Debapriya"
print(name)

Debapriya

2.Write a code to find the length of the string "Hello World"?

In [4]:
length = len("Hello World")
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [5]:
slice_string = "Python Programming"[:3]
print(slice_string)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [6]:
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [7]:
new_string = "I like apple".replace("apple", "orange")
print(new_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [8]:
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [10]:
number_list = [1, 2, 3, 4]
number_list.append(10)
print(number_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [11]:
number_list = [1, 2, 3, 4, 5]
number_list.remove(3)
print(number_list)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [12]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. E Write a code to reverse the list [10, 20, 30, 40, 50]?

In [13]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [14]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [15]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [16]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple

In [17]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [18]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [19]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [20]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [21]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [22]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [23]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?

In [24]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [25]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [26]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24.  Write a code to add the element 6 to the set {1, 2, 3, 4}. ?

In [27]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}