## **DATA TYPES AND STRUCTURES ASSIGNMENT**

Q.1 What are data structure, and why are they important?
 - A data structure is a way of organizing and storing data to perform operations efficiently. They are important because they optimize data management, improve performance, support algorithms, enable scalability, and help solve complex problems in a structured way. Examples include arrays, stacks, queues, trees, and graphs.

Q.2 Explain the difference between mutable and immutable data types with example?
 - Mutable data = It can be change after creation. list, Dictionary and sets are the example of mutable data.
 - Immutable data = It can not be change after creation.example are tuples string, integers and float.

Q.3 what are the main differnce between list and tuple in python?

- **List:**-

a) list are mutable.

b) creating using square brackets [  ]

c)used when data need to be change.

d) generally are large size in the memory.

e)more methods available e.g .append and .remove

**- Tuple:-**

a) tuple are immutable.

b)Created using parentheses ( ).

c) used when data are fixed and constant.

d)Generally smaller in memory.

e)Fewer methods available (e.g., count, index).

Q.4  Describe how dictionaries store data
 - Dictionaries store data as key-value pairs in a hash table. Each key is processed through a hash function to generate a unique hash code, which determines where the key-value pair is stored in memory.

Q.5 Why might you use a set instead of a list in Python?
 - we use sets instead of list in python because of the following reasons:-

 a) A set automatically removes duplicates, ensuring all elements are unique.

 b)Sets support operations like union, intersection, difference, and
   symmetric difference, which are more efficient than doing the same with lists.

 c) Sets are unordered, so if we don't need to maintain the order of elements, they are a good choice.

Q.6 What is a string in Python, and how is it different from a list?
 - A string in Python is an immutable sequence of characters used to represent text. It differs from a list in that:

   Strings can only store characters, while lists can store elements of any data type.
Strings are immutable, whereas lists are mutable, meaning you can modify a list's elements, but not a string'

Q.7 How do tuples ensure data integrity in Python?
 - Tuples are immutable, meaning their elements cannot be changed after creation. This ensures data integrity by preventing accidental modification, making them ideal for storing fixed collections of data like constants or configuration settings.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs by hashing keys into unique indexes for fast access. In Python, dictionaries use hash tables internally to provide O(1) average time complexity for lookups, insertions, and deletions.

Q.9 Can lists contain different data types in Python?
 - Yes, Python lists can contain elements of different data types, such as integers, strings, floats, or even other lists, providing great flexibility for heterogeneous collections.

Q.10 Explain why strings are immutable in Python.
 - Strings are immutable in Python to improve efficiency, allow hashability for use in sets and dictionaries, ensure thread safety, maintain data integrity, and simplify design. Modifying a string creates a new one, leaving the original unchanged.

Q.11 What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide:

   Fast lookups using keys, unlike lists, which require linear search.
Key-based organization, making them ideal for scenarios where data needs to be mapped or labeled.

Q.12  Describe a scenario where using a tuple would be preferable over a list.
 - A tuple would be preferable when we need to store a fixed collection of values that shouldn't change, like the employees ID, password, Aadhar number etc. Since tuples are immutable, they provide data integrity and prevent accidental modification.

Q.13 How do sets handle duplicate values in Python?
 - Sets automatically remove duplicate values. If we try to add a duplicate element to a set, it will not be included.

Q.14 How does the “in” keyword work differently for lists and dictionaries?
 - Lists: The (in) keyword checks if a value exists in the list (searches for the value).
 - Dictionaries: The (in) keyword checks if a key exists in the dictionary (not the value).

Q.15 Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, which ensures data integrity and prevents unintended modifications.

Q.16 What is a nested dictionary, and give an example of its use case.
 - A nested dictionary is a dictionary where some of the values are themselves dictionaries. Example use case: Storing employee information where each employee has a dictionary of details.

Q.17 Describe the time complexity of accessing elements in a dictionary.
 - Accessing elements in a dictionary has an average time complexity of O(1). This is due to the underlying hash table, which allows for direct access to values based on their keys. However, in rare cases of hash collisions, the time complexity can degrade to O(n).

Q.18  In what situations are lists preferred over dictionaries?
 - Ordered Data: Lists are preferred when the order of elements matters or when we need to access elements by position (index).
 - Simple Collection: If you simply need a collection of items without needing key-value pairs or fast lookups, lists are simpler and more appropriate.
 - Iterating in Sequence: Lists are ideal for scenarios where you need to iterate over all elements in a specific order.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Dictionaries are considered unordered because they store key-value pairs using a hash table, where the order of keys is not guaranteed.

 - Impact on Data Retrieval: This means that when you iterate over a dictionary, the order of elements may not be the same as when they were added. However, this doesn't affect the ability to retrieve data by key, as access to values is still O(1) on average.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.

 - List: Data retrieval in a list is done by index (position), and it requires O(1) time for accessing an element if you know its index.
 - Dictionary: Data retrieval in a dictionary is done by key, and it is typically O(1) for average cases due to the hash table. However, dictionaries are optimized for retrieving values using keys, not indices.

# practical questions

In [2]:
# Q.1 Write a code to create a string with your name and print it
a = "Divya saini"
print(a)

Divya saini

In [4]:
# Q.2 Write a code to find the length of the string "Hello World"
a = "Hello World"
len(a)

11

In [6]:
# Q.3 Write a code to slice the first 3 characters from the string "Python Programming
b= "Python Programming"
b[0:3]

'Pyt'

In [8]:
# Q.4 Write a code to convert the string "hello" to uppercase
x = "hello"
x.upper()

'HELLO'

In [9]:
# Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [12]:
# Q.6 Write a code to create a list with numbers 1 to 5 and print it
a = list(range(0,6))
print(a)

[0, 1, 2, 3, 4, 5]

In [14]:
# Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [15]:
# Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [16]:
# Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [19]:
# Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [20]:
# Or
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [22]:
# Q.11  Write a code to create a tuple with the elements 10, 20, 30 and print it
a= (10,20,30,)
print(a)

(10, 20, 30)

In [23]:
type(a)

tuple

In [24]:
# Q.12  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
x = ('apple','banana','cherry')
x[0]

'apple'

In [26]:
# Q.13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a =(1,2,3,2,4,2)
a.count(2)

3

In [27]:
# Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [34]:
# Q.15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a = ('apple', 'orange', 'banana')
a

('apple', 'orange', 'banana')

In [35]:
'banana' in a

True

In [36]:
# Q.16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
b = {1,2,3,4,5}
print(b)

{1, 2, 3, 4, 5}

In [38]:
type(b)

set

In [41]:
# Q.17 Write a code to add the element 6 to the set {1, 2, 3, 4}
b = {1,2,3,4}
b.add(6)
print(b)

{1, 2, 3, 4, 6}

In [42]:
# Q.18 Write a code to create a tuple with the elements 10, 20, 30 and print it
a = (10,20,30)
print(a)

(10, 20, 30)

In [43]:
# Q.19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [44]:
# Q.20 . Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a =(1,2,3,2,4,2)
a.count(2)

3

In [45]:
# Q.21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [46]:
# Q.22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a = ('apple', 'orange', 'banana')
a

('apple', 'orange', 'banana')

In [47]:
'banana' in a

True

In [48]:
# Q.23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
b = {1,2,3,4,5}
print(b)

{1, 2, 3, 4, 5}

In [49]:
# Q.24  Write a code to add the element 6 to the set {1, 2, 3, 4}
b = {1,2,3,4}
b.add(6)
print(b)

{1, 2, 3, 4, 6}

# Thank You