#Data Structure Assignment

#Theoretical Questions

##1.What are data structures, and why are they important?

Ans -> ```Data structures are ways to organize and store data so it can be accessed and manipulated efficiently. They're important because they help optimize performance and solve specific problems, like storing a list of items or ensuring quick lookups.```


##2.What is the difference between mutable and immutable data types with examples?

Ans -> ```Mutable types can be changed after creation (e.g., lists), while immutable types cannot (e.g., strings, tuples). A list can have its elements modified, but a string's value cannot change once defined.```


##3.What are the main differences between lists and tuples in Python?

Ans -> ```Lists are mutable (can be modified), whereas tuples are immutable (cannot be modified). Tuples are often used for fixed data that shouldn't change.```


##4.Describe how dictionaries store data.

Ans -> ```Dictionaries store data as key-value pairs. Each key is unique and maps to a value, allowing for fast lookups.```


##5.Why might you use a set instead of a list in Python?

Ans -> ```Sets automatically remove duplicates and are faster for membership tests. Use them when you need unique elements and don't care about the order.```


##6.What is a string in Python, and how is it different from a list?

Ans -> ```A string is a sequence of characters, and it's immutable. A list can store various data types and is mutable, meaning you can change its elements.```


##7.How do tuples ensure data integrity in Python?

Ans -> ```Tuples ensure data integrity by being immutable. Once created, their values cannot be changed, preventing accidental data modification.```


##8.What is a hash table, and how does it relate to dictionaries in Python?

Ans -> ```A hash table is a data structure that stores data using a hash function to map keys to values. Python dictionaries are implemented using hash tables for fast lookups.```


##9.Can lists contain different data types in Python?

Ans -> ```Yes, lists can store elements of different data types, such as integers, strings, or even other lists.```


##10.Explain why strings are immutable in Python.

Ans -> ```Strings are immutable to ensure consistency and avoid accidental changes, making them safer and more efficient when used as keys in dictionaries.```


##11.What advantages do dictionaries offer over lists for certain tasks?

Ans -> ```Dictionaries provide fast lookups by key, making them better than lists for tasks where you need to quickly access, insert, or modify data by a specific identifier.```


##12.Describe a scenario where using a tuple would be preferable over a list.

Ans -> ```Tuples are ideal when the data shouldn't change, like coordinates (x, y, z) or fixed configuration settings.```


##13.How do sets handle duplicate values in Python?

Ans -> ```Sets automatically eliminate duplicate values, ensuring that only unique items are stored.```


##14.How does the “in” keyword work differently for lists and dictionaries?

Ans -> ```In lists, "in" checks if an element exists. In dictionaries, "in" checks if a key exists.```

##15.Can you modify the elements of a tuple? Explain why or why not.

Ans -> ```No, tuples are immutable, meaning their elements cannot be changed after creation.```


##16.What is a nested dictionary, and give an example of its use case?

Ans -> ```A nested dictionary is a dictionary inside another dictionary. It's useful for representing hierarchical data, like a contact book with addresses and phone numbers.```


##17.Describe the time complexity of accessing elements in a dictionary.

Ans -> ```Accessing elements in a dictionary is usually O(1) (constant time), meaning it’s very fast, regardless of the size of the dictionary.```


##18.In what situations are lists preferred over dictionaries?

Ans -> ```Lists are preferred when the order of elements matters or when you need to store a sequence of items without key-value mapping.```


##19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans -> ```Dictionaries don’t guarantee order in how they store key-value pairs. However, you retrieve values using keys, not positions, so order doesn’t impact performance.```


##20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans -> ```In a list, data is accessed by its index (position). In a dictionary, data is accessed by its key, which doesn’t depend on order.```

#Practical *Questions*

1. Write a code to create a string with your name and print it.

In [1]:
name = "Rahul"
print(name)

Rahul

2. Write a code to find the length of the string "Hello World".

In [3]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
ch = "Python Programming"
print(ch[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [8]:
str = "hello"
str.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [9]:
str = "I like apple"
str.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [24]:
list = []

for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [25]:
lst = [1, 2, 3, 4]
lst.append(10)

print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list |1, 2, 3, 4, 5.

In [26]:
list = [1, 2, 3, 4, 5]
list.remove(3)

print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list l'a', 'b', 'c, 'd'].

In [27]:
lst = ['a', 'b', 'c', 'd']
lst[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [28]:
list = [10, 20, 30, 40, 50]
list.reverse()

print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [30]:
tpl = ()

for i in range(10, 31, 10):
  tpl = tpl + (i,)

print(tpl)

(10, 20, 30)

12. Write a code to access the first element of the tuple (apple, banana, cherry).

In [33]:
tpl = ("apple", "banana", "cherry")
tpl[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [34]:
tpl = (1, 2, 3, 2, 4, 2)
tpl.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', rabbit').

In [36]:
tpl = ('dog', 'cat', 'rabbit')
tpl.index("cat")

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana).

In [38]:
tpl = ("apple", "orange", "banana")

if "banana" in tpl:
  print("Yes, 'Banana is in the tuple")

else:
  print("Banana is not in the tuple")

Yes, 'Banana is in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [43]:
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [45]:
set = {1, 2, 3, 4}

set.add(6)
print(set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [46]:
tpl = ()

for i in range(10, 31, 10):
  tpl = tpl + (i,)

print(tpl)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana, cherry).

In [47]:
tpl = ("apple", "banana", "cherry")
tpl[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [48]:
tpl = (1, 2, 3, 2, 4, 2)
tpl.count(2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat", rabbit').

In [49]:
tpl = ('dog', 'cat', 'rabbit')
tpl.index("cat")

1

22. Write a code to check if the element "banana" is in the tuple ('apple, 'orange, 'banana).

In [50]:
tpl = ("apple", "orange", "banana")

if "banana" in tpl:
  print("Yes, 'Banana is in the tuple")

else:
  print("Banana is not in the tuple")

Yes, 'Banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [51]:
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set 11, 2, 3, 4j.

In [52]:
set = {1, 2, 3, 4}
set.add(6)

print(set)

{1, 2, 3, 4, 6}