### Theoretical Questions (1–20)

# 1. What are data structures, and why are they important?
# Data structures are organized ways of storing and managing data for efficient access and modification.
# They are important for optimizing algorithms and solving computational problems effectively.

# 2. Explain the difference between mutable and immutable data types with examples.
# Mutable: Can be modified after creation (e.g., list, dict).
# Example:
my_list = [1, 2]
my_list.append(3)  # Output: [1, 2, 3]

# Immutable: Cannot be modified after creation (e.g., tuple, str).
# Example:
my_tuple = (1, 2)
# my_tuple[0] = 3  # This will raise a TypeError.

# 3. What are the main differences between lists and tuples in Python?
# - Lists are mutable, tuples are immutable.
# - Lists are slower, tuples are faster.
# Example:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# 4. Describe how dictionaries store data.
# Dictionaries store data as key-value pairs, enabling fast lookups based on keys.
my_dict = {"key1": "value1", "key2": "value2"}

# 5. Why might you use a set instead of a list in Python?
# Sets are useful for ensuring unique elements and faster membership checks.
my_set = {1, 2, 3}

# 6. What is a string in Python, and how is it different from a list?
# A string is an immutable sequence of characters, whereas a list is mutable.
my_string = "hello"
my_list = ["h", "e", "l", "l", "o"]

# 7. How do tuples ensure data integrity in Python?
# By being immutable, tuples prevent accidental changes to the data.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
# A hash table maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables.

# 9. Can lists contain different data types in Python?
# Yes, lists can store elements of different types.
mixed_list = [1, "two", 3.0]

# 10. Explain why strings are immutable in Python.
# Strings are immutable to ensure data integrity and efficiency in memory management.

# 11. What advantages do dictionaries offer over lists for certain tasks?
# Dictionaries offer faster lookups using keys compared to lists, which require linear search.

# 12. Describe a scenario where using a tuple would be preferable over a list.
# When you want to ensure the data cannot be changed, such as for a record or coordinates.

# 13. How do sets handle duplicate values in Python?
# Sets automatically remove duplicate values.
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}

# 14. How does the “in” keyword work differently for lists and dictionaries?
# In lists, it checks for the presence of a value. In dictionaries, it checks for the presence of a key.

# 15. Can you modify the elements of a tuple? Explain why or why not.
# No, tuples are immutable and cannot be modified.

# 16. What is a nested dictionary, and give an example of its use case.
# A nested dictionary is a dictionary within a dictionary.
nested_dict = {"outer_key": {"inner_key": "value"}}

# 17. Describe the time complexity of accessing elements in a dictionary.
# Accessing elements in a dictionary has an average time complexity of O(1).

# 18. In what situations are lists preferred over dictionaries?
# Lists are preferred when the data needs to be ordered or indexed numerically.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
# Dictionaries were unordered before Python 3.7, meaning there was no guaranteed order of elements. This affects retrieval based on insertion order.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
# Lists require sequential search (O(n)), whereas dictionaries allow direct access using keys (O(1)).

### Practical Questions (Python Code)

In [1]:
# 1. Create a string with your name and print it
name = "Sumit Prasad"
print(name)

Sumit Prasad

In [2]:
# 2. Find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
python_string = "Python Programming"
print(python_string[:3])

Pyt

In [4]:

# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:

# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with the elements 10, 20, 30 and print it
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [12]:
# 12. Access the first element of the tuple ('apple', 'banana', 'cherry')
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [13]:
# 13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
numbers_tuple = (1, 2, 3, 2, 4, 2)
print(numbers_tuple.count(2))

3

In [14]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

In [16]:
# 16. Create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [17]:
# 17. Add the element 6 to the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [18]:
# 18. Create a tuple with the elements 10, 20, 30 and print it
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [19]:
# 19. Access the first element of the tuple ('apple', 'banana', 'cherry')
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [20]:
# 20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
numbers = (1, 2, 3, 2, 4, 2)
count_2 = numbers.count(2)
print(count_2)

3

In [21]:
# 21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [22]:
# 22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
more_fruits = ('apple', 'orange', 'banana')
print('banana' in more_fruits)

True

In [23]:
# 23. Create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [24]:
# 24. Add the element 6 to the set {1, 2, 3, 4}
another_set = {1, 2, 3, 4}
another_set.add(6)
print(another_set)

{1, 2, 3, 4, 6}