**1.Discuss string slicing and provide examples**

*string slicing*

string slicing is a technique used to extract a portion(substing) from a string in python.A slice is defined by a starting index, an ending index, and an option step, which allows skipping character.

In [ ]:
#the syntax for string slicing is
#start- the index at which the slice starts(inclusive). defaults to 0 if not specified.
#end-the index where the slice end(exclusive). the slice will go up to but not include this index
#step-the step value, which defines theinterval at which characters are selected. the default step is 1, meaning every character between the start and end indices is inclued.

In [ ]:
#basic slicing
s = "Hello, World!"  >>Explanation: The slice starts at index 0 and goes up to but not including index 5.
print(s[0:5])

Hello

In [ ]:
#omitting start and end
s = "Hello, World!"  >>Explanation: If you omit the start, Python assumes it to be 0. If you omit the end, it goes until the last character.
print(s[:5])
print(s[7:])

Hello
World!

In [ ]:
#negative indexing
s = "Hello, World!" >>Explanation: Negative indexing starts from the end of the string. s[-6:] means start 6 characters from the end and slice to the end.
print(s[-6:])

World!

In [ ]:
#using step
s = "Hello, World!"  >>Explanation: Here, we use the step value 2, which tells Python to take every second character from the string.
print(s[::2])

In [ ]:
#reversing a string
s = "Hello, World!" >>Explanation: By using -1 as the step, the string is reversed.
print(s[::-1])

!dlroW ,olleH

**2.Explain the key features of lists in Python**

In python, lists are one of the most commonly used data structures.They allow you to store collection of items(of any data type) and are highly versatile,with built-in methods for manipulating data.


Here are the key features of lists in python.

In [ ]:
#1.Ordered

Definition- lists maintain the order of the elements in which they are addede.

In [ ]:
my_list = [10, 20, 30, 40] >>Explanation:The elements will always remain in the order they were inserted unless explicitly modified.
print(my_list)

[10, 20, 30, 40]

In [ ]:
#2.mutable

Definition-List can be changed after they are created, meaning you can add, remove, or modify elements.

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10   >>Explanation: You can modify the list by changing individual elements or adding/ removing items.
print(my_list)

[10, 2, 3]

In [ ]:
#3.allow duplicates

Definition: list can contain duplicate elements.

In [ ]:
my_list = [1, 2, 2, 3] >>Explanation: Unlike sets allow multiple Instance of the same value.
print(my_list)

[1, 2, 2, 3]

In [ ]:
#4.heterogeneous elements

Definition-List can hold items of different data types(integers,strings,floats,or even other lists.)

In [8]:
my_list = [1, "hello", 3.14, [10, 20]]
print(my_list)  >>Explanation: A Single list can store value of variable types, including nested lists.

[1, 'hello', 3.14, [10, 20]]

In [ ]:
#5.dynamic size

Definition: lists can grow or shrink as needed beacuse they are dynamically sized.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  >>Explanation: You can add or remove elements,and the size of the list will automatically adjust.
my_list.pop()
print(my_list)

[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
#6. indexed and sliced

Definition- Elements in a list can be accessed or modified using indexing or slicing, just like with strings

In [ ]:
my_list = [10, 20, 30, 40]
print(my_list[1])  >>Explanation: Indexing allows access to specific items, while slicing allows for selectiong a range of elements.
print(my_list[1:3])

20
[20, 30]

In [ ]:
#7.list methods

python provides a rich set of methods to work with lists. some key methods include:

In [ ]:
#append() adds an elements to end of the list
my_list.append(s)    >>adds 5 to the end

In [ ]:
#extend(): adds multiple elements froms another list or iterable to the current list.
my_list.extend([6,7])

In [ ]:
#insert(): inserts an elements at a specific position.
my_list.insert(1,15)  >>inserts 15 at index 1

In [ ]:
#remove(): removes the first occurrence of a specified value
my_list.remove(2)

In [ ]:
#pop(): removes and returns an elements by index(defaults to the last elements if no index is provided)
my_list.pop() >>removes and returns the last elements

In [ ]:
#sort(): sorts the list in place
my_list.sort()  >>sorts the list in ascending order

In [ ]:
#revers(): reverses the list in place
my_list.reverse()

In [ ]:
#clear(): removes all elements from the list.
my_list.clear()  >>Empties the list

In [ ]:
#8.list comprehensions

Definition- python allows a concise way to create lists using lits comprehension, which is syntactic construct that allows for creating lits based on existing list.

In [ ]:
squares=[x**2 for x in range(5)]
print(squares)  >>Explanationo: This creates a new list of squares of number from 0 to 4.

[0, 1, 4, 9, 16]

In [ ]:
#9. nested lists

Defination- lists can contain other lists, allowing the creation of multi-dimensional arrays

In [ ]:
matrix =[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][2])

6

In [ ]:
#10. memory efficiency(references)

Definition-when you assign a list to another variable, it creates a reference,not a copy

In [ ]:
my_list=[1,2,3]
new_list=my_list    >>Explanation: new_list is just a reference to my_list,so changes to new_list affect my_list
new_list[0]=10
print(my_list)

[10, 2, 3]

**3.Describe how to access, modify, and deleted elements in a list with example**

in python, iists are highly versatile, allowing you to easily access, modify, and delete elements. below is a detailes explanation of how each of these operations works, along with example

In [ ]:
#1.Accessing elements ina list

you can access elements in a list using indexing or slicing. list indices in python start from 0

In [ ]:
my_list=["apple","banana","cherry","date"]
print(my_list[0])
print(my_list[2])

apple
cherry

In [ ]:
#negative indexing

print(my_list[-1])
print(my_list[-3])

date
banana

In [ ]:
#2.modifying elements in a list

my_list=[10,20,30,40]
my_list[1]=25
print(my_list)

[10, 25, 30, 40]

In [ ]:
#adding elements to a list

In [ ]:
#1.append(): adds an elements to the ends of the list.



my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#2.insert(): inserts an elements at a specified index


my_list.insert(1,5)
print(my_list)

[1, 5, 2, 3, 4]

In [ ]:
#3.extend(): adds multiple elements (another list or iterable) to the list.


my_list.extend([6,7])
print(my_list)

[1, 5, 2, 3, 4, 6, 7]

In [ ]:
#3.deleting elements in a list

In [ ]:
my_list=[10,20,30,40,50]
del my_list[1]
print(my_list)

[10, 30, 40, 50]

In [ ]:
my_list=[10,20,30,40]
removed_element=my_list.pop(2)
print(my_list)
print(removed_element)

[10, 20, 40]
30

In [ ]:
my_list=[10,20,30,40,30]
my_list.remove(30)
print(my_list)

[10, 20, 40, 30]

In [ ]:
my_list=[10,20,30,40]
my_list.clear()
print(my_list)

[]

**4.compare and contrast tuples and lists with example**

Definition- python allows a concise way to create lists using lits comprehension, which is syntactic construct that allows for creating lits based on existing list.

In [ ]:
#1.mutability
list:mutable(can be modified after creation)
tuple:immutable(cannot be modified after creation)

In [ ]:
#list
my_list=[1,2,3]
my_list[0]=10
print(my_list)

[10, 2, 3]

In [ ]:
#tuple

my_list=(1,2,3)  >>my_list[0]=10   >> this will raise a type error because tuples connot be modified

In [ ]:
#2.syntax
list: created using squares brackets[]
tuples: created using parentheses() or without any symbols when comma-separated values are used.

In [ ]:
contrast-list are defined with square bracket, while tuples are defined with parentheses
my_list=[20,30,40]
my_tuple=(20,30,40)

In [ ]:
#3.performance
list: generally slower compared to tuple because of their mutability
tuple: faster due to immutability. since tuple are immutable, they are more memory-efficient and faster to access

In [ ]:
import time


#timing list creation
start=time.time()
my_list=[i for i in range(1000000)]
end=time.time()
print("list creation time:", end-start)

#timing tuple creation
start=time.time()
my_list=tuple(i for i in range(1000000))

contrast: tuples are typically faster and use less memory compared to lists because they are immutable and more lightweight

In [ ]:
#4.methods
list:provides a variety of methods to modify its contents(append(),remove(), pop(),sort()).
tuple:provide limited methods, primarily count() and index()(because it cannot be changed)

In [ ]:
#list methods
my_list=[1,2,3]
my_list.append(4)
print(my_list)
my_list.remove(2)
print(my_list)

[1, 2, 3, 4]
[1, 3, 4]

In [ ]:
#tuple methods
my_list=[1,2,3,3]
print(my_list.count(3))
print(my_list.index(2))

2
1

In [ ]:
#6.memory usage
list: occupies more memory due to its dynamic size and mutability
tuple: occupies less memory as it is immutable and statically sized

In [ ]:
import sys

my_list=[1,2,3]
my_list=(1,2,3)


print("list size:", sys.getsizeof(my_list))
print("tuple size:", sys.getsizeof(my_tuple))

list size: 64
tuple size: 64

In [ ]:
#6.hashability

list: list are not Hashable,meaning they cannot be used as dictionary keys or in sets
tuples: tuple are Hashable( if they contain Hashable element), meaning they can be used as keys in dictionaries or in sets

In [ ]:
#using a tuple as a dictionary key

my_dict={(1,2):"point A",(3,4):"point B"}
print(my_dict[(1,2)])

#using a list as a dictionarey key will raise a typeerror
#my_dict={[1,2]:}"point A"  # raises typeerror: unhashable type:'list'

point A

In [ ]:
#7.immutability and safety
list:since lists are mutable, they are not safe to use in situations where data integrity is important, such as Constant value ina program.
tuple:due to its immutability, tuples are safer to use when data should not be changed, such as in configuration files or as Constant

In [ ]:
#8.iteration and looping
list: iteration is similar for both, but lists can be modified while iterating
tuples: iteration is the same, but elements cannot be changed while looping

In [ ]:
#iterating over a list

my_list=[1,2,3]
for i in my_list:
  print(i)

1
2
3

In [ ]:
#iterating over a tuple

my_tuple=(1,2,3)
for i in my_tuple:
  print(i)

1
2
3

**5. Describe the key features of sets and provide examples of their use**

In python, sets are an unordered collection of unique elements. they are highly optimized for membership testing and eliminating duplicate entries.sets provide a variety of useful features and methods, making them ideal for certain use cases where uniqueness or mathematical set operations are required

In [ ]:
#key features of sets

In [ ]:
#1.unordered

Definition- sets are unordered collections, meaning that the elements do not have a defined Sequence or order

In [ ]:
my_set={1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
#unique elements

Definition-sets automatically remove duplicate elements, ensuring that all items in a set are unique

In [ ]:
my_set={1,2,3,4,4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
#3.mutable(but contain immutable elements)

Defination-sets themselves are mutable, meaning you can add or remove elements. however, the elements inside a set must be immutable

In [ ]:
my_set={1,2,3}
my_set.add(4)
print(my_set)

#my_set.add([5,6]) #raises typeerror because lists are mutable

{1, 2, 3, 4}

In [ ]:
#4.no indexing or slicing

Definition- since sets are unordered, they do not support indexing,slicing,or any operations that rely on elements positions.

In [ ]:
my_set={1,2,3}
#print(my_set[0]) #raises typeerror because sets dont supports indexing

In [ ]:
#5.efficient membership testing

Definition-sets provide an efficient way to test if an element is part of the set. membership checks(in operatior) are faster in sets compared to lits and tuples

In [ ]:
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
#6.supports for mathematical set operations
sets support operations like union,intersection,difference,and symmetric difference, making them very useful for comparing collections

In [ ]:
a.union(|)

defination: return a new set thet containes all elements from boyhs sets

In [ ]:
set1={1,2,3}
set2={3,4,5}
print(set1|set2)

{1, 2, 3, 4, 5}

In [ ]:
b.intersection(&)

defination- return a new set that contains only the elements presents in both sets

In [ ]:
print(set1 & set2)

{3}

In [ ]:
c.difference(-)

defination-return a new set that contains elements that are in the firt set but not in the second set

In [ ]:
print(set1-set2)

{1, 2}

In [ ]:
d.symmetric difference(^)

defination- return a new set that contains elements that are in either set,but not in both

In [ ]:
print(set1^set2)

{1, 2, 4, 5}

In [ ]:
#7.set methods
python sets come with several built-in methoda to manipulated and work with sets

In [ ]:
a. add()
defination- adds a single element to the sets

In [ ]:
my_set={1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
b.remove()

defination-removes a specific element from the sets. if element is not found, it raises a [KeyError]

In [ ]:
my_set.remove(2)
print(my_set)

{1, 3, 4}

In [ ]:
c.discard()

defination- similar to remove(), but does not raise an error if the elements is not found

In [ ]:
my_set.discard(10) >>does nothing,no error raised

In [ ]:
d.pop()

defination- removes and return an arbitrary element from the set(since sets sre unordered)

In [ ]:
popped_element=my_set.pop()
print(popped_element)

1

In [ ]:
e.clear()

defination-remove all elements from the set, making it empty

In [ ]:
my_set.clear()
print(my_set)

set()

In [ ]:
#8.set comprehensions

like list comprehension,python also support set comprehension, allowing concise creation of sets based on some condition

In [ ]:
squared_set={x**2 for x in range(6)}
print(squared_set)

{0, 1, 4, 9, 16, 25}

In [ ]:
#9.frozen sets (immutable sets)

defination a frozenset is a immutable version of a set, meaning its elements cannot be modified after creation. frozen sets supports all set operations,but they do not supports methods like add() or removed()

In [ ]:
my_frozenset=frozenset([1,2,3])
print(my_frozenset)

frozenset({1, 2, 3})

**6.Discuss the use cases of tuples and sets in Python programming**

both tuples and sets are built-in data structures in python, but they serve different purposes due to their unique features. below,i'll discuss the use cases of tuples and sets, highlighting situations where each is particularly useful

In [ ]:
#use cases of tuples

tuples are immutable,ordered collections,making them ideal for scenarios where data integrity and fixed structure are essential.

In [ ]:
#1.data integrity(immutable collections)

when you want to store a collection of values that should not change throughout the program.

coordinates=(34.05,-118.25)  >>latitude and longtude
#this ensures that the coordinates connot be accidentally modified .

In [ ]:
#2.return multiple values from a function

functions in python can return multiple values in the form of a tuple. this allows you to retun related values together.

In [1]:
def divide(a,b):
  quotient=a//b
  remainder=a%b
  return quotient, remainder

q,r=divide(10,3)
print(q,r)

3 1

In [ ]:
#3.storing heterogeneous data

tuples can hold different type of data,making them ideal for situations where you need to group multiple types of values together

In [2]:
person=("tanya",21,"new york")  >>name(str),age(int),location(str)

In [ ]:
#4.dictionary key

tuples can be used as keys in dictionaries because they are Hashable(immutable)

In [4]:
coordinates_data={(34.05,-118.25):"los angeles",(40.71,-74.01):"new york"}

print(coordinates_data[(34.05,-118.25)])

los angeles

In [ ]:
#5.fixed data structures

tuples are commonly used for data structures that should have a fixed size and structure,like a pair or triplet to values

In [5]:
edge=(1,2)   >>graph edge connecting nodes 1 and 2
point=(3,4,5)  >>point in 3D space

In [ ]:
#6.efficient iteration and memory usage

when performance and memory usage are critical, tuples are more efficient than list.

In [ ]:
#example: a list of tuples representing constant settings

settings=[(23,24),(45,46),(67,68)]   >>resolution options

In [ ]:
#7.unpacking tuples

unpacking allows you to assign values from a tuples to variables ina Single line

In [9]:
colour=("red","green","blue")
r,g,b=colour
print(r,g,b)

red green blue

In [ ]:
#use cases of sets

sets are unordered, mutable collections that do not allow duplicate elements. they are praticularly useful for scenarios when uniqueness and set operations are needed

In [ ]:
#removing duplicates

sets are ideal for removing duplicates from a list or any collection

In [10]:
my_list=[1,2,3,4,4,5,5,]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#2.efficient memberships testing

sets are optimized for fast memberships teating,making them useful for checking whether an item exits in a collections

In [11]:
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
#3.mathematical set operations

sets are designed to perfrom mathematical set operations like union, intersection difference, and symmetric difference

In [12]:
set1={1,2,3,4}
set2={3,4,5,6}

#union
print(set1|set2)

{1, 2, 3, 4, 5, 6}

In [14]:
#intersection
print(set1&set2)

{3, 4}

In [15]:
#defference
print(set1-set2)

{1, 2}

In [16]:
#symmetric difference
print(set1^set2)

{1, 2, 5, 6}

In [ ]:
#4.ensuring uniqueness in collections


when you need to ensure that a collectiom only contains unique elements

In [17]:
user_ids={1001,1002,1003}
user_ids.add(1003)
print(user_ids)

{1001, 1002, 1003}

In [ ]:
#5.working with disjoint data

checking whether two set of data have no elements in common

In [20]:
group1={1,2,3}
group2={4,5,6}
print(group1.isdisjoint(group2))

True

In [ ]:
#6.set comprehensions

creating sets using comprehension based on certain conditions, similar to list comprehensions.

In [22]:
squares={x**2 for x in range(10)}
print(squares)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [ ]:
#7.eliminating common elements between two collections

when you need to remove elements that appear in both collections,leaving only the unique elements

In [23]:
set1={1,2,3,4}
set2={3,4,5,6}
result=set1^set2
print(result)

{1, 2, 5, 6}

**7. Describe how to add, modify, and delete items in a dictionary with examples**

Dictinaries in python are unordered collectins of key-value pairs. they are mutable, meaning you can add, modify,and delete items after a dictionary is created. below are detailed explanations and examples of how to perform these operations.

In [ ]:
#1.adding items to a dictionary

to add a new key-value pair to a dictionary, you simply assign a value to a new key using the assignment operator(=). if the key already exists,its value will be updated

In [25]:
#creating a dictionary
my_dict={"name":"john","age":25}


#adding a new key-value pair
my_dict["city"]="new york"
print(my_dict)

{'name': 'john', 'age': 25, 'city': 'new york'}

In [ ]:
#2.modifying items in a dictionary

to modifiy the value of an existing key, you can simply reassing the value to that key

In [27]:
#creating a dictionary
my_dict={"name":"john","age":25,"city":"new york"}


#modifying the value associated with the key 'age'
my_dict["age"]=30
print(my_dict)

{'name': 'john', 'age': 30, 'city': 'new york'}

In [ ]:
#3.deleting items from a dictionary

there are several ways to delete items from a dictionary in python

In [ ]:
a.using del keyword
defination- the del keyword removes the key-value pair by specifying the key

In [28]:
my_dict={"name":"john","age":30,"city":"new york"}

#deleting ab item using the del keyword
del my_dict["age"]
print(my_dict)

{'name': 'john', 'city': 'new york'}

In [ ]:
b.using pop() method
defination- the pop method remove the key-value pair and returns the value of the remove key. if the ley does not exist, it raises a keyerror

In [29]:
my_dict={"name":"john","age":30,"city":"new york"}

#deleting an item using pop( and getting the value)
age_value=my_dict.pop("age")
print(my_dict)
print(age_value)

{'name': 'john', 'city': 'new york'}
30

In [ ]:
c.usingpopitem() Method
defination-the popitem method removes and retuns the last inserted key-value pair as a tuple

In [31]:
my_dict={"name":"john","age":30,"city":"new york"}

#removing the last inserted item using popitem()
last_item=my_dict.popitem()
print(my_dict)
print(last_item)

{'name': 'john', 'age': 30}
('city', 'new york')

In [ ]:
d.using clear()Method
defination- the cler method removes all key-value pairs from the dictionary, making it an empty dictionary

In [32]:
my_dict={"name":"john","age":30,"city":"new york"}

#deleting all items using clear()
my_dict.clear()
print(my_dict)

{}

**8. Discuss the importance of dictionary keys being immutable and provide examples**

In python,dictionary keys must be immutable because of the way dictionaries, and keys neen to be hashable in order to efficiently locate values associated with them. immutable objects(such as strings, numbers and tuples) are hashable,while mutable objects(such as lists and other dictionaries) are not

In [ ]:
#why must dictionary keys be immutable?

1.efficiency and hashing
a.dictionaries in python are implementated using hash tables, which are designed for constant-time lookups.hashing is the process of converting an object into an integer using a hash function, and this integer is used to loacted the associated value in the dictionary.
b.immutable object are hashable because their values do not change after creation. this ensures that the hash value for an immutable key remains constant
c.mutable object are not hashable because their contents can change, which world result in different hash values. if mutable object were allowed as keys, it could break the integrity of the hash table

In [ ]:
my_dict={"name":"tanya","age":21}
print(hash("name"))   >> this works because strings are immutable

In [ ]:
my_list=[1,2,3]
#print(hash(my_list))  >>raises typeerror:unhashable type:'list'

In [ ]:
2.data integrity and consistency
a.the immutability of keys ensures data integrity. if dictionary keys were mutable, the contents of the dictionary could be inadvertently altered . for example ,if a key were a mutable list and that list was modified,it could change the location of the key-value pair in the hash table, leading to inconsistent or untraceable data

In [ ]:
my_dict={[1,2]:"invalid"}  >>this would raise a typeerror

In [ ]:
3.maintaining referential integrity
a.when mutable objectare used as dictionary keys, it becomes impossible to guarantee referential integrity. if a mutable object used as a key is modified, you might not be able to retrieve the associated value because the reference to the key has changed

In [34]:
my_dict={(1,2): "point A"}
key=(1,2)
print(my_dict[key])

#if you used a list insted of a tuple
#my_dict={[1,2]:"point A"}   >>this would raise a typeerror

point A

In [ ]:
#example of immutable and mutable object

In [39]:
#immutable objects
#1.integers


my_dict={1:"one",2:"two"}
print(my_dict)

{1: 'one', 2: 'two'}

In [41]:
#2.srting

my_dict={"apple":3,"banana":5}
print(my_dict["apple"])

3

In [42]:
#3.tuples

my_dict={(1,2):"coordinates"}
print(my_dict[(1,2)])

coordinates

In [43]:
#mutable objects
#1.list

#my_dict={[1,2]:"coondinates"}  >>raises typeerror: unhashable type:'list'

In [ ]:
#2.dictionaries

#neasted_dict={{1:"one"}:"invalid"}  #raises type error:unhashable type:'dict'