In [ ]:
# QUESTION 1. Discuss string slicing and provide examples.

"""Slicing is a way to get a specific part (or "slice")
of a string in Python. Imagine a string is like a long piece of text,
and slicing lets us cut out a specific portion of it

string[start:end]


1. start: This is the index where you want your slice to begin (inclusive).
The index is the position of a character in the string, starting from 0 for the first character.

2. end: This is the index where you want your slice to stop (exclusive).
It doesnâ€™t include the character at this position """

In [ ]:
#Example 1

text = "Hello, World!"
slice = text[0:5]
print(slice)  # Output: "Hello"

Hello

In [ ]:
# EXAMPLE 2
Name="my name is Tejaksh"
slice = Name[11:18]
print(slice)

#SPACE IN BETWEEN IS ALSO CALCULATED DURING INDEXING

Tejaksh

In [ ]:
# WHAT IF PROVIDE ONLY START AND NOT END IN string[start:end]

# EXAMPLE 3

Name=("my name is Grandpaa")
slice = Name[0:]
print(slice)

# WE WILL GET FULL STRING

my name is Grandpaa

In [ ]:
# STEP IN SLICING

"""We can also specify a step in our slice,
which tells Python how many characters to jump over as it slices.

Syntax: string[start:end:step]"""

# EXAMPLE 1


# Slice every second character
Name=("my name is Grandpaa")
Name [0:5:2]

'm a'

In [ ]:
# EXAMPLE 2

Name=("my name is Grandpaa")
Name[0:18:2]

'm aei rnp'

In [ ]:
# EXAMPLE 3 (Iteration in reverse order)

Name=("my name is Grandpaa")
Name[::-1]

'aapdnarG si eman ym'

In [ ]:
# QUESTION 2. Explain the key features of lists in Python.

"""Lists are one of the most commonly used data structures in Python.
 They are highly flexible and can store a variety of data types. Here are the key features of lists in Python:

1. Ordered Collection:

Lists maintain the order of elements. When you create a list, the items are stored in the order you define,
and you can access them using their index.

2. Mutable:

Unlike strings or tuples, lists are mutable, meaning you can change their content without creating a new list.
This includes adding, removing, or altering elements within the list.

3. Heterogeneous:

Lists can store elements of different data types.
For example, a single list can contain integers, strings, floats, and even other lists.

4. Dynamic Size:

Lists in Python can grow or shrink as needed. You can add elements using methods like append(), extend(), or insert(),
and remove elements using remove(), pop(), or clear().

5. Indexed Access:

Each element in a list has an index, starting from 0 for the first element.
You can access elements directly using their index, e.g., my_list[0] would return the first element of my_list.

6. Supports Slicing:

You can retrieve a subset of a list by using slicing,
e.g., my_list[1:4] would return a new list containing the elements from index 1 to 3.

7. Iterable:

Lists are iterable, which means you can loop through the elements using a for loop or other iteration methods.

8. Built-in Functions and Methods:

Python provides numerous built-in functions and methods for lists,
such as len() to get the length of the list, sum() to add all numeric elements,
sort() to sort the elements, and reverse() to reverse the order of elements."""

In [ ]:
# Creating a list
my_list = [1, "Hello", 3.14, True]

In [ ]:
# Accessing elements by index
print(my_list[1])  # Output: Hello

Hello

In [ ]:
# Modifying an element
my_list[1] = "World"
print(my_list)  # Output: [1, "World", 3.14, True]

[1, 'World', 3.14, True]

In [ ]:
# Adding an element
my_list.append(42)
print(my_list)  # Output: [1, "World", 3.14, True, 42]

[1, 'World', 3.14, True, 42]

In [ ]:
# Removing an element
my_list.remove(3.14)
print(my_list)  # Output: [1, "World", True, 42]

In [ ]:
# Slicing a list
sub_list = my_list[1:3]
print(sub_list)  # Output: ["World", True]

['World', 3.14]

In [ ]:
# QUESTION 3.Describe how to access, modify, and delete elements in a list with examples.

"""1. Accessing Elements in a List
You can access elements in a list using their index. List indices start at 0 for the first element"""

#Example:

# Creating a list
my_list = [10, 20, 30, 40, 50]

In [ ]:
# Accessing elements
first_element = my_list[0]  # Access the first element (10)
print(first_element)  # Output: 10

10

In [ ]:
third_element = my_list[2]  # Access the third element (30)
print(third_element)  # Output: 30

30

In [ ]:
# Accessing the last element
last_element = my_list[-1]  # Access the last element (50)
print(last_element)  # Output: 50

50

In [ ]:
"""2. Modifying Elements in a List
Lists are mutable, meaning you can change the elements after the list is created."""

#Example:

# Creating a list
my_list = [10, 20, 30, 40, 50]

# Modifying elements
my_list[1] = 200  # Change the second element to 200
print(my_list)  # Output: [10, 200, 30, 40, 50]

[10, 200, 30, 40, 50]

In [ ]:
# Modifying elements using slicing
my_list[2:4] = [300, 400]  # Change the third and fourth elements
print(my_list)  # Output: [10, 200, 300, 400, 50]

[10, 200, 300, 400, 50]

In [ ]:
"""3. Deleting Elements in a List
You can delete elements from a list using several methods: del keyword, remove(), pop(), or slicing."""

In [ ]:
# Creating a list
my_list = [10, 20, 30, 40, 50]

# Deleting the second element
del my_list[1]
print(my_list)  # Output: [10, 30, 40, 50]

[10, 30, 40, 50]

In [ ]:
# Creating a list
my_list = [10, 20, 30, 40, 50]

# Removing the element with value 30
my_list.remove(30)
print(my_list)  # Output: [10, 20, 40, 50]

[10, 20, 40, 50]

In [ ]:
# Creating a list
my_list = [10, 20, 30, 40, 50]

# Popping the last element
last_element = my_list.pop()
print(last_element)  # Output: 50
print(my_list)  # Output: [10, 20, 30, 40]

50
[10, 20, 30, 40]

In [ ]:
"""4. Clearing a List:
The clear() method removes all elements from the list."""

# Example:

# Creating a list
my_list = [10, 20, 30, 40, 50]

# Clearing the list
my_list.clear()
print(my_list)  # Output: []

[]

In [ ]:
# QUESTION 4.Compare and contrast tuples and lists with examples.

"""In Python, tuples and lists are both used to store collections of items,
but they have some key differences that make each suitable for different purposes"""

"""1. Mutability
Lists: Mutable (can be modified after creation). You can add, remove, or change elements.
Tuples: Immutable (cannot be modified after creation). Once a tuple is created, its elements cannot be changed."""

# List example (mutable)
my_list = [1, 2, 3]
my_list[1] = 20  # Modifying the second element
print(my_list)  # Output: [1, 20, 3]

[1, 20, 3]

In [ ]:
# Tuple example (immutable)
my_tuple = (1, 2, 3)
my_tuple[1] = 20  # This would raise a TypeError since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""2. Syntax
Lists: Defined using square brackets [].
Tuples: Defined using parentheses ()."""

# List example
my_list = [1, 2, 3]
type(my_list)  # Output: list

list

In [ ]:
# Tuple example
my_tuple = (1, 2, 3)
type(my_tuple)  # Output: tuple

tuple

In [ ]:
"""3. Use Cases
Lists: Used when you need a collection that can be modified, such as when you need to add, remove, or change elements dynamically.

Tuples: Used when you need a fixed collection of items that should not change.
They are often used for storing data that should remain constant, like coordinates,
configuration settings, or function returns with multiple values."""

# Example:

# List use case: A shopping list that you might modify
# shopping_list = ["apples", "bananas", "oranges"]
# shopping_list.append("grapes")  # You can add more items
# print(shopping_list)  # Output: ["apples", "bananas", "oranges", "grapes"]

# Tuple use case: GPS coordinates that should not change
# coordinates = (40.7128, -74.0060)  # Latitude and longitude for New York City
#  coordinates[0] = 41.0000  # This would raise a TypeError since tuples are immutable

In [ ]:
# QUESTION 5.Describe the key features of sets and provide examples of their use.

"""A set is a collection type that is used to store unique elements.
Sets are particularly useful when you need to ensure that an item is stored only once,
or when you need to perform mathematical set operations like union, intersection, and difference.

Key features of sets:

1. Unordered Collection:
Sets do not maintain any order of elements. When you print a set or iterate through it, the elements might appear in any order.

2. Unique Elements:
Sets automatically ensure that there are no duplicate elements. If you add a duplicate element to a set, it will simply be ignored.

3. Mutable:
Sets themselves are mutable, meaning you can add or remove elements from a set.
 However, the elements within a set must be immutable (e.g., numbers, strings, tuples).

4. Unindexed:
Since sets are unordered, you cannot access elements using an index like you can with lists or tuples.

5. Efficient Membership Testing:
Checking whether an element is in a set is very fast (average time complexity is O(1)).
This makes sets ideal for membership testing, like checking if a particular value exists within the set.

6. Supports Set Operations:
Sets in Python support standard mathematical set operations such as union, intersection, difference, and symmetric difference."""

# Removing duplicates from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Membership Testing:

my_set = {1, 2, 3, 4, 5}
print(3 in my_set)  # Output: True

True

In [ ]:
print(6 in my_set)  # Output: False

False

In [ ]:
# Set operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
# Union (elements in either set)
union_set = set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [ ]:
# Intersection (elements in both sets)
intersection_set = set_a.intersection(set_b)
print(intersection_set)  # Output: {3, 4}

{3, 4}

In [ ]:
# Difference (elements in set_a but not in set_b)
difference_set = set_a.difference(set_b)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [ ]:
# Filtering unique items from a list
items = ["apple", "banana", "apple", "orange", "banana"]
unique_items = set(items)
print(unique_items)  # Output: {'apple', 'orange', 'banana'}

{'apple', 'orange', 'banana'}

In [ ]:
# Finding common elements in two lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = set(list1).intersection(list2)
print(common_elements)  # Output: {3, 4}

{3, 4}

In [ ]:
# QUESTION 6.Discuss the use cases of tuples and sets in Python programming.

"""Tuples and sets in Python serve distinct purposes, each with its own set of use cases that leverage their unique properties. """

# Use Cases for Tuples

"""1. Storing Immutable Data:
Tuples are ideal for storing data that should not change throughout the program,
 such as configuration settings, constants, or fixed collections of values."""

#  Example: Storing the dimensions of a rectangle or the coordinates of a point.
dimensions = (1920, 1080)  # Screen resolution
point = (10, 20)  # 2D coordinates
point[0]=30 # ERROR

TypeError: 'tuple' object does not support item assignment

In [ ]:

"""2. Returning Multiple Values from a Function:
Functions can return multiple values using tuples.
This allows you to package several pieces of data together and return them as a single entity."""

# Example: Returning multiple results from a function.

def divide_and_remainder(x, y):
    return x // y, x % y  # Returns a tuple (quotient, remainder)

In [ ]:
result = divide_and_remainder(10, 3)
print(result)  # Output: (3, 1)

(3, 1)

In [ ]:
"""3. Using as Keys in Dictionaries:
Tuples can be used as keys in dictionaries because they are immutable and hashable.
 This is useful when you need to map a composite key (e.g., a pair of values) to a value."""

# Example: Using coordinates as keys in a dictionary.

locations = { (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"}
print(locations[(40.7128, -74.0060)])  # Output: New York

New York

In [ ]:
"""4. Grouping Related Data:
Tuples are often used to group related but different types of data."""

# Example: Storing mixed data types in a tuple.

student = ("John Doe", 20, "A")
print(student)  # Output: ("John Doe", 20, "A")

('John Doe', 20, 'A')

In [ ]:
"""5. Fixed-Length Collections:
Tuples are useful when you have a collection of items where the number of items is fixed and will not change,
such as representing a fixed structure."""

# Example: Representing a fixed data structure like RGB color values.

rgb_color = (255, 0, 0)  # Represents the color red

In [ ]:
# Use Cases for Sets

"""1. Removing Duplicates:
Sets automatically remove duplicate elements. This is useful when you need to ensure that a collection contains only unique items."""

# Example: Removing duplicates from a list.

items = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(items)
print(unique_items)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
"""2. Membership Testing:
Sets provide a highly efficient way to test for membership
(i.e., check if an item is present in the set).
This is faster compared to lists, especially for large datasets."""

# Example: Checking if an element exists in a collection.

valid_codes = {"ABC123", "XYZ789", "DEF456"}
code = "XYZ789"
if code in valid_codes:
    print("Valid code!")  # Output: Valid code!

Valid code!

In [ ]:
"""3. Mathematical Set Operations:
Sets are perfect for performing mathematical set operations like union etc."""

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

intersection = set_a.intersection(set_b)
print(intersection)  # Output: {3, 4}

{3, 4}

In [ ]:
"""4. Filtering Unique Elements:
When you need to ensure that a collection contains only unique elements, sets are the ideal data structure to use."""

#Example: Filtering unique words from a sentence.

sentence = "Hello my name is Tejaksh"
words = set(sentence.split())
print(words)

{'name', 'Tejaksh', 'Hello', 'my', 'is'}

In [ ]:
"""5. Handling Unordered Data:
Sets are useful when the order of elements is not important, and you only care about the existence of items in the collection."""

# Example: Tracking unique visitors to a website.
visitors={"Alice", "Bob", "Charlie"}
visitors.add("Alice")  # Adding a duplicate, set will ignore it
print(visitors)  # Output: {'Alice', 'Bob', 'Charlie'}

{'Charlie', 'Bob', 'Alice'}

In [ ]:
"""6. Operations on Large Datasets:
Due to their efficiency, sets are often used when performing operations on large datasets
 where the uniqueness of elements and speed of membership checks are important."""

# Example: Quickly finding common tags between two articles.

tags_article_1 = {"python", "programming", "coding", "tutorial"}
tags_article_2 = {"coding", "tutorial", "learning", "development"}

common_tags = tags_article_1 & tags_article_2
print(common_tags)

{'coding', 'tutorial'}

In [ ]:
# QUESTION 7.Describe how to add, modify, and delete items in a dictionary with examples.

"""Dictionaries are mutable collections that store data as key-value pairs.
We can easily add, modify, and delete items in a dictionary."""

# 1. Adding Items to a Dictionary
#Example:
my_dict = {"name": "Alice", "age": 25}
my_dict["city"] = "New York"
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# 2. Modifying Items in a Dictionary

#Example:

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict["age"] = 26  # Changing the age from 25 to 26
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'New York'}

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [ ]:
# Modifying using the update() method
my_dict.update({"city": "Los Angeles", "job": "Engineer"})  # Updating city and adding job
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'Los Angeles', 'job': 'Engineer'}

{'name': 'Alice', 'age': 26, 'city': 'Los Angeles', 'job': 'Engineer'}

In [ ]:
# 3. Deleting Items from a Dictionary

# Deleting an item using del
del my_dict["job"]
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'Los Angeles'}

{'name': 'Alice', 'age': 26, 'city': 'Los Angeles'}

In [ ]:
# Deleting an item using pop()
age = my_dict.pop("age")
print(age)  # Output: 26
print(my_dict)  # Output: {'name': 'Alice', 'city': 'Los Angeles'}

26
{'name': 'Alice', 'city': 'Los Angeles'}

In [ ]:
# Deleting the last inserted item using popitem()
last_item = my_dict.popitem()
print(last_item)  # Output: ('city', 'Los Angeles')
print(my_dict)  # Output: {'name': 'Alice'}

('city', 'Los Angeles')
{'name': 'Alice'}

In [ ]:
# Clearing the dictionary using clear()
my_dict.clear()
my_dict

{}

In [ ]:
# QUESTION 8.Discuss the importance of dictionary keys being immutable and provide examples.

"""In Python, the keys of a dictionary must be immutable.
This immutability is crucial for several reasons related to how dictionaries are implemented and used."""

#Importance of Dictionary Keys Being Immutable

"""1.Hashing Requirement:

Dictionaries in Python are implemented as hash tables, a data structure that allows for fast access to values.
When you insert a key-value pair into a dictionary, Python computes a hash value for the key using a hash function.
This hash value determines where the key-value pair is stored in memory.
Immutability is essential because if the key could change, its hash value would also change,
leading to inconsistencies in accessing the value associated with that key.
Immutable keys ensure that the hash value remains constant, making the key retrievable at any time.\

2. Key Integrity:

If keys were mutable, changing the key after itâ€™s been added to the dictionary could cause data corruption.
For instance, if you change a key's value, the dictionary would no longer be able to locate the corresponding value using the old key,
and it could lead to undefined behavior.
Immutability guarantees that once a key is used in a dictionary,
it remains stable and can consistently be used to retrieve the associated value.

3. Avoiding Unpredictable Behavior:

If mutable types (like lists or dictionaries) were allowed as keys,
and their contents were modified, it could lead to unpredictable and difficult-to-debug issues.
Immutable keys prevent such scenarios by ensuring that the keyâ€™s identity does not change."""

In [38]:
# Creating a dictionary with strings as keys
student_ages = {
    "Alice": 24,
    "Bob": 22,
    "Charlie": 23}

print(student_ages["Alice"])  # Output: 24

24

In [39]:
# Creating a dictionary with tuples as keys
coordinates = {
    (0, 0): "Origin",
    (1, 2): "Point A",
    (3, 4): "Point B"}

print(coordinates[(1, 2)])  # Output: Point A

Point A

In [41]:
# Attempting to use a list as a dictionary key (this will cause an error)
try:
    a = {[1, 2, 3]: "List as key"}
    # Lists are mutable and cannot be dictionary keys
    print(a)
except TypeError as e:
    print(f"Error: {e}")

Error: unhashable type: 'list'