In [1]:
import pandas as pd

In [2]:
%pip install faker
from faker import Faker

Requirement already satisfied: faker in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (20.0.3)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
fake = Faker()

In [4]:
instructor_data = {
    'Instructor ID':['I1','I2','I3','I4','I5','I6','I7','I8','I9','I10','I11','I12','I13','I14','I15','I16','I17','I18','I19','I20','I21','I22','I23','I24','I25','I26','I27','I28','I29','I30','I31','I32','I33','I34','I35','I36','I37'],
    'Instructor name':[fake.name() for i in range (37)],
    'Topic_of_interests':[['Machine Learning','Data Science','Natural Language Processing'],['Mathematics','Data Science','python','Artificial Intelligence'],['Physics','Mathematics','Chemistry','Biology'],['Literature','Histroy','English'],['Embedded System','Data Communication','Digital Systems'],['Computer Science','Data Sructures and Algorithms','Advanced Data Structures','Design and Analysis of Algorithms'],['Industrial Electronics','Digital Systems','Embedded System'],['C Language','Java','Python','C++'],['Python','Data Science','Data Structures and Algorithms'],['Java','Mathematics'],['Web Development','Javascript','HTML','CSS'],['HTML','CSS','Bootstrap','PHP','Javascript'],['Web Dvelopment'],['Pyhton','Mathematics','Machine Learning','Web Development'],['Object Oriented Proramming','Database Management System','Internet of Things'],['Object Oriented Programming','Python','Machine Learning'],['History','Geography','English','Mathematics'],['Organic_Chemistry','Inorganic Chemistry','Physical Chemistry'],['Physical Chemistry','Physics','Mathematics'],['Data Communication','Data Science','Industrial Electronics'],['Natural Language Processing', 'Data Engineering'],['Python', 'Web Development'],['Deep Learning', 'Computer Vision'],['Mathe,atics','Data Engineering'],['Image Processing','Natural Language Processing','Mathematics'],['Deep Learning',' Machine Learning'],['Mathematics','Deep Learning','Image Processing'],['Chemistry','Biology','Physics','Fluid Mechanics'],['Control Theory','Instrumntation and Control','Embedded Systems'],['Digital Systems','Control Therory','Measurement Systems'],['Control Theory','Measurement Systems'],['Machine learning','Control Theory','Instrumentation and Control'],['Measurement Systems','Industrial Electronics'],['Object Oriented Programming ','Web Development','Image Processing'],['Python','Deep Learning'],['Operating System','Computer Network Security'],['Object Oriented Programming','Computer Network Security']]
}

In [ ]:
instructor_data = pd.DataFrame(instructor_data)

In [ ]:
instructor_data.to_csv('instructor_data.csv')

In [6]:
instructors = pd.read_csv('instructor_data.csv')

In [7]:
instructors.head()

,Unnamed: 0,Instructor ID,Instructor name,Topic_of_interests
0,0,I1,Albert Bell,"['Machine Learning', 'Data Science', 'Natural ..."
1,1,I2,Stephanie Jones,"['Mathematics', 'Data Science', 'python', 'Art..."
2,2,I3,David Taylor,"['Physics', 'Mathematics', 'Chemistry', 'Biolo..."
3,3,I4,James Clark,"['Literature', 'Histroy', 'English']"
4,4,I5,Anna White,"['Embedded System', 'Data Communication', 'Dig..."

In [8]:
instructors=instructors.drop(['Unnamed: 0'], axis=1)

In [9]:
instructors.head()

,Instructor ID,Instructor name,Topic_of_interests
0,I1,Albert Bell,"['Machine Learning', 'Data Science', 'Natural ..."
1,I2,Stephanie Jones,"['Mathematics', 'Data Science', 'python', 'Art..."
2,I3,David Taylor,"['Physics', 'Mathematics', 'Chemistry', 'Biolo..."
3,I4,James Clark,"['Literature', 'Histroy', 'English']"
4,I5,Anna White,"['Embedded System', 'Data Communication', 'Dig..."

In [10]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hp\desktop\recommendation_edi\venv\lib\site-packages (from scikit-learn) (1.11.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
topics_matrix = vectorizer.fit_transform(instructors['Topic_of_interests'].apply(lambda x: ''.join(x)))

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(topics_matrix,topics_matrix)

In [13]:
def recommend_similar_instructors(instructor_id, top_n=5):
  instructor_index = instructors[instructors['Instructor ID']== instructor_id].index[0]
  similarity_scores = similarity_matrix[instructor_index]
  similar_instructors_indices = similarity_scores.argsort()[-top_n-1:-1][::-1]
  similar_instructors = instructors.iloc[similar_instructors_indices]
  return similar_instructors[['Instructor ID','Instructor name','Topic_of_interests']]

In [14]:
import pickle
pickle.dump(topics_matrix, open('topics_matrix.pkl','wb'))
pickle.dump(similarity_matrix, open('similarity_matrix.pkl','wb'))
pickle.dump(instructors, open('instructors.pkl','wb'))

In [15]:
recommendations = recommend_similar_instructors(instructor_id='I1')
print(recommendations)

   Instructor ID Instructor name  \
20           I21   Joshua Hughes
24           I25   Emily Barnett
25           I26   Daniel Romero
19           I20   Lauren Archer
8             I9     Amanda Bond

                                   Topic_of_interests
20  ['Natural Language Processing', 'Data Engineer...
24  ['Image Processing', 'Natural Language Process...
25             ['Deep Learning', ' Machine Learning']
19  ['Data Communication', 'Data Science', 'Indust...
8   ['Python', 'Data Science', 'Data Structures an...