In [1]:
import pandas as pd

# rawData = [["stud1", 1],["stud2", 2]]
rawData = {
    'StudentID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Age': [20, 21, 19, 22, 20, 21],
    'Major': ['Biology', 'Computer Science', 'Mathematics', 'History', 'Physics', 'Chemistry'],
    'GPA': [3.5, 3.8, 3.2, 3.6, 3.9, 3.4]
}

Cars_data = pd.DataFrame(rawData)
Cars_data
Cars_data["Name"][Cars_data["Age"] > 19]
print(Cars_data['Age'].max())
Cars_data[Cars_data]

22

   StudentID   Name  Age             Major  GPA
0          1  Alice   20           Biology  3.5
1          2    Bob   21  Computer Science  3.8
3          4  David   22           History  3.6
4          5    Eva   20           Physics  3.9
5          6  Frank   21         Chemistry  3.4