1. Discuss string alicing and provide example.

ans: In python slicing using the in-bulid slice() method and using the [:] array slice.

**using slice() method:**
the slice() creates a slice object represting the set of indices specified by range.

example:

In [4]:
Str = "BIKRAM"
s1 = slice(4)
print(Str[s1])

BIKR

**Using array slicing[::]**  
 indexing syntax can be used as a substitude for the slice object.

 exapmle:

In [5]:
string = " BIKRAM"
print(string[:3])

 BI

2. Explain the key features of list in python.

Ans: List is a sequnce of data type which is used to stored the collection of data.  

**characteristics**  
* the list are in order
* the list element can be accessed in the index
* mutable type of list

example:

In [6]:
l1 = [0,3,"bikram", "program", 12.6]
l2 = [ "jhon","roman","rock","brok"]
print(l1)
print(l2)
print(type(l1))

[0, 3, 'bikram', 'program', 12.6]
['jhon', 'roman', 'rock', 'brok']
<class 'list'>

In [7]:
print(l1[4])

12.6

3. Describe how to acess , modify and delete element in a list with example.

Ans: in python modify and delete to the list the best way use append(), insert(), extend(), remove(), pop(), del insertion and deletions in python.

In [8]:
l1 = [12.0,34,45.6,37,28.98,]
l1.remove(12.0)
print(l1)

[34, 45.6, 37, 28.98]

In [11]:
l2 = [ 12,34,67,122,45,50]
var = l2.pop(2)
print(l2)
print("remove:",var)

[12, 34, 122, 45, 50]
remove: 67

In [12]:
l3 = [34,56,87,90,80]
del l3[4]
print(l3)

[34, 56, 87, 90]

In [13]:
a = [23,45,67,89]
a.clear()
print(a)

[]

In [14]:
animal = ['dog','elephant','cow','hourse']
animal.insert(1,'anaconda')
print(animal)

['dog', 'anaconda', 'elephant', 'cow', 'hourse']

In [15]:
book = [ 'math','english','physics','chemistry']
book.append('biology')
print(book)

['math', 'english', 'physics', 'chemistry', 'biology']

4. Compare and constrast tuples and list with example.

ans:
**tuple:**

1. tuple are immutable
2. implication of iteration is faster as comaper list
3. tuple does not have many built-in methods
4. in dictionary we can create keys using tuples.

**list:**

1. list are mutable
2. implication of iterations is time consuming
3. the list is better for performing operation
4. kist consume more memory
5. in dictionary we can not use list as key.

example:

In [16]:
list1 = [12,34,56,67,89,90,56]
print(list1)
list1[3] = 20
print(list1)

[12, 34, 56, 67, 89, 90, 56]
[12, 34, 56, 20, 89, 90, 56]

In [18]:
tuple2 = (2,33,56,12,23,20)
tuple2[0] = 45
print(tuple2)

TypeError: 'tuple' object does not support item assignment

type error: tuple object does not support item assignment.

5. describe the key features of sets and provied examples of their use.

ans:

in python set are used to store multiple items in a single variable.

set is one 4 built in data types in python used to stored collections of data, the other list, tuple and dictionary .

set items are unchangeable but you can remove items and add new items.

In [19]:
 set0 = { "apple","banana","cherry"}
 print(set0)

{'apple', 'cherry', 'banana'}

6. discuss the use cases of tuples and sets in python programming.

ans:

**tuples:**
immutable: their elements can not be changed.
orderd: tuple maintain the order of element
allow duplicates: can have repeated elements.

In [21]:
bik_tuple = (1,2,3,4,5,6,7)
print(bik_tuple[2])
print(len(bik_tuple))

3
7

**sets:**
unorderd: sets are dont maintain element order.
no duplicates: sets automatically remove duplicates.

In [22]:
sets = {1,23,40}
sets1 = {2,56,90}
print(sets | sets1)

{1, 2, 90, 23, 40, 56}

In [23]:
bikram_set = {1,2,3,4,5,6,7}
bikram_set.add(8)
print(bikram_set)

{1, 2, 3, 4, 5, 6, 7, 8}

7. describe how to add, modify and delete items in a dictionary with example.

Ans:

**Adding **
add a new key value pair by assigning a value to a new key. if the key already exists, the value eill be modified.

example:

In [24]:
bk_dict = {"name":"BIKRAM", "age":20}
bk_dict["city"] = "kolkata"
print(bk_dict)

{'name': 'BIKRAM', 'age': 20, 'city': 'kolkata'}

In [25]:
bk_dict.update({"city":"kolkata", "occupation":"engineer"})
print(bk_dict)

{'name': 'BIKRAM', 'age': 20, 'city': 'kolkata', 'occupation': 'engineer'}

**modifying items **
we can modify a value by assiging a new to an existing key.

In [26]:
bk_dict["age"] = 21
print(bk_dict)

{'name': 'BIKRAM', 'age': 21, 'city': 'kolkata', 'occupation': 'engineer'}

**Deleting **
removes a key value pair by key.

In [27]:
del bk_dict["occupation"]
print(bk_dict)

{'name': 'BIKRAM', 'age': 21, 'city': 'kolkata'}

In [28]:
# using clear() method
bk_dict.clear()
print(bk_dict)

{}

**example**

In [29]:
people = {"name":"BIKRAM", "age":20, "city":"kolkata"}
people["profession"] = "engineer"
people.update({ "men": True, "age":21})
people["city"] = "goa"
del people["men"]
profession = people.pop("profession")
print(people)

{'name': 'BIKRAM', 'age': 21, 'city': 'goa'}

8. discuss the impotance of dictionary keys bening immutable and provide example.

ans:  in python , dictionary keys must be immutable reason they as unique identifiers for their corresponding values.

**why**

A. dictionary keys are hashed to qucikly locate the corrsponding values.

keys were mutable their hash value could change, making not possible to find correct key.

B. allow mutable keys would introduce unexpected bahaviors and bugs.

**conclution**
consistency : keys must remain the same dictionary to function correctly.

**performance** immutable keys enable fast lookup through hashing

example:

In [30]:
people = {("bikram","raj"): "Student"}
print(people[("bikram","raj")])

Student

In [31]:
people1 = {[1,2,3,4]:"invalied"}

TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'" indicates that you are trying to use a list [1,2,3,4] as a key in a dictionary people1.

In [32]:
keys = [2,3,4,5]
dict0 = {keys:"values"}
keys.append(4)
print(dict0[keys])

TypeError: unhashable type: 'list'

The error "TypeError: unhashable type: 'list'" arises because you are attempting to use a list (keys) as a dictionary ke