<h1>DATAFRAME ASSIGNMENT</h1>
<h2>by Büşra Osmanoğlu </h2>
<h3> <em> Data Science Intern in OESON <br> OGTIPDSBO037</em></h3>

<h2>
  
The instructions from 1 to 7 (including 7) are made for the following DataFrame.
  
</h2>

In [0]:
import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
ExamDF = pd.DataFrame(exam_data)
ExamDF

,name,score,attempts,qualify
0,Anastasia,12.5,1,yes
1,Dima,9.0,3,no
2,Katherine,16.5,2,yes
3,James,NaN,3,no
4,Emily,9.0,2,no
5,Michael,20.0,3,yes
6,Matthew,14.5,1,yes
7,Laura,NaN,1,no
8,Kevin,8.0,2,no
9,Jonas,19.0,1,yes

<h3>
<ol>
<ol>
<li>Write a Pandas program to get the first 3 rows of the given DataFrame
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF.head(3)

,name,score,attempts,qualify
0,Anastasia,12.5,1,yes
1,Dima,9.0,3,no
2,Katherine,16.5,2,yes

<h3>
<ol>
<ol start="2">
<li>Write a Pandas program to select the 'name' and 'score' columns from the
given DataFrame.
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF.loc[:,["name","score"]]

,name,score
0,Anastasia,12.5
1,Dima,9.0
2,Katherine,16.5
3,James,NaN
4,Emily,9.0
5,Michael,20.0
6,Matthew,14.5
7,Laura,NaN
8,Kevin,8.0
9,Jonas,19.0

<h3>
<ol>
<ol start="3">
<li>Write a Pandas program to select the rows where the number of attempts in
the examination is greater than 2
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF[ExamDF["attempts"]>2]

,name,score,attempts,qualify
1,Dima,9.0,3,no
3,James,NaN,3,no
5,Michael,20.0,3,yes

<h3>
<ol>
<ol start="4">
<li>Write a Pandas program to count the number of rows and columns of a
DataFrame
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF.shape # the result seems as (#rows, #columns)

Out[218]: (10, 4)

<h3>
<ol>
<ol start="5">
<li>Write a Pandas program to select the rows where the score is missing, i.e.
is NaN 
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF[ExamDF["score"].isna()]

,name,score,attempts,qualify
3,James,NaN,3,no
7,Laura,NaN,1,no

<h3>
<ol>
<ol start="6">
<li>Write a Pandas program to select the rows the score is between 15 and 20.
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF[(ExamDF["score"]>15) & (ExamDF["score"]<20)]

,name,score,attempts,qualify
2,Katherine,16.5,2,yes
9,Jonas,19.0,1,yes

<h3>
<ol>
<ol start="7">
<li>Write a Pandas program to calculate the sum of the examination attempts
by the students
</li>
</ol>
</ol>
</h3>

In [0]:
ExamDF["attempts"].sum()

Out[221]: 19

<h3>
<ol>
<ol start="8">
<li>Create a data frame to enter employee information ex. Name and salary and
designation.Try to remove the duplicate information entered.Field-(Name
salary designation)
</li>
</ol>
</ol>
</h3>

<h3>
<ul>
<p>The DataFrame is created as the way:
<p>
<ul>
<p>
<li>The Designations are taken from the website whose link is <a href="https://www.zippia.com/answers/what-are-professional-designations/">https://www.zippia.com/answers/what-are-professional-designations/</a>
</li>
<p>
<li>The Salaries are specified as near the average salary for certain designations, by utilizing Google data.
</li>
<p>
<li>The Names and Last Names are randomly matched by me.
</li>
</ul>
</ul>
</h3>

In [0]:
salary_data = {'Name': ['Michelle Lang', 'Keith Santana', 'Sophia Francis', 'Denise Mckay', 'Daniel Hall', 'Nathan May', 'James Santos', 'Stephen Torres', 'Rachel Rodriguez', 'Melissa Cortez'],
             'Annual Salary ($)': [90000, 72000, 66000, 12000, 98000, 78000, 200000, 35800, 150000, 100000],
             'Designation': ['Certified Financial Planner (CFP)', 'Certified Personal Trainer (CPT)', 'Certified Nutrition Specialist (CNS)', 'Registered Nurse (RN)', 'Master of Business (MBA)', 'Certified Internal Auditor (CIA)', 'Doctor of Medicine (MD)', 'Certified Nurse Assistant (CNA)', 'Certified Public Accountant (CPA)', 'Doctor of Philosophy (PhD)']}
SalaryDF = pd.DataFrame(salary_data)
SalaryDF

,Name,Annual Salary ($),Designation
0,Michelle Lang,90000,Certified Financial Planner (CFP)
1,Keith Santana,72000,Certified Personal Trainer (CPT)
2,Sophia Francis,66000,Certified Nutrition Specialist (CNS)
3,Denise Mckay,12000,Registered Nurse (RN)
4,Daniel Hall,98000,Master of Business (MBA)
5,Nathan May,78000,Certified Internal Auditor (CIA)
6,James Santos,200000,Doctor of Medicine (MD)
7,Stephen Torres,35800,Certified Nurse Assistant (CNA)
8,Rachel Rodriguez,150000,Certified Public Accountant (CPA)
9,Melissa Cortez,100000,Doctor of Philosophy (PhD)

<h3>
<ul>
<p>Some of the rows are appended to the DataFrame again with the aim of providing duplicate information in the DataFrame.
<p>
</ul>
</h3>

In [0]:
SalaryDF = SalaryDF.append(SalaryDF.loc[2::5], ignore_index = True)
SalaryDF

<command-532610910910494>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  SalaryDF = SalaryDF.append(SalaryDF.loc[2::5], ignore_index = True)

,Name,Annual Salary ($),Designation
0,Michelle Lang,90000,Certified Financial Planner (CFP)
1,Keith Santana,72000,Certified Personal Trainer (CPT)
2,Sophia Francis,66000,Certified Nutrition Specialist (CNS)
3,Denise Mckay,12000,Registered Nurse (RN)
4,Daniel Hall,98000,Master of Business (MBA)
5,Nathan May,78000,Certified Internal Auditor (CIA)
6,James Santos,200000,Doctor of Medicine (MD)
7,Stephen Torres,35800,Certified Nurse Assistant (CNA)
8,Rachel Rodriguez,150000,Certified Public Accountant (CPA)
9,Melissa Cortez,100000,Doctor of Philosophy (PhD)
10,Sophia Francis,66000,Certified Nutrition Specialist (CNS)
11,Stephen Torres,35800,Certified Nurse Assistant (CNA)

<h3>
<ul>
<p>Duplicate rows are eliminated from the DataFrame.
<p>
</ul>
</h3>

In [0]:
SalaryDF = SalaryDF.drop_duplicates()
SalaryDF

,Name,Annual Salary ($),Designation
0,Michelle Lang,90000,Certified Financial Planner (CFP)
1,Keith Santana,72000,Certified Personal Trainer (CPT)
2,Sophia Francis,66000,Certified Nutrition Specialist (CNS)
3,Denise Mckay,12000,Registered Nurse (RN)
4,Daniel Hall,98000,Master of Business (MBA)
5,Nathan May,78000,Certified Internal Auditor (CIA)
6,James Santos,200000,Doctor of Medicine (MD)
7,Stephen Torres,35800,Certified Nurse Assistant (CNA)
8,Rachel Rodriguez,150000,Certified Public Accountant (CPA)
9,Melissa Cortez,100000,Doctor of Philosophy (PhD)

<h3>
<ol>
<ol start="9">
<li>Try to calculate the % of marks for 10 students over five subjects.
</li>
<p>Print the Grade according to the following criteria: 
<p>
<ul>
<li>below 60 % Fail
</li>
<p>
<li>60-80% grade B
</li>
<p>
<li>above 80 Grade A
</li>
</ul>
</ol>
</ol>
</h3>

<h3>
<ul>
<p>The DataFrame is created as the way:
<p>

<ul>
<li>The Subjects and The Student Names are specified by me.
</li>
<p>
<li>The Student Names are defined as indexes of the table.
</li>
<p>
<li>Random values from 0 to 10 are assigned for Grade values by using Numpy library.
</li>
</ul>
</ul>
</h3>

In [0]:
grades = np.random.randint(0, 10, (5, 10))
data = {"Literature":grades[0], "Math":grades[1], "Physics":grades[2], "Chemistry":grades[3], "Biology":grades[4]}
gradeDF = pd.DataFrame(data, index=['Amelie', 'Brian', 'Olivia', 'George', 'Ethan', 'Sophia', 'Lucy', 'Emma', 'John', 'David'])
gradeDF

,Literature,Math,Physics,Chemistry,Biology
Amelie,0,4,0,7,6
Brian,6,3,3,3,6
Olivia,9,2,9,1,6
George,8,3,7,7,6
Ethan,6,9,8,0,8
Sophia,0,6,7,0,2
Lucy,1,6,7,1,4
Emma,8,0,3,0,0
John,9,8,5,3,4
David,7,5,5,4,0

<h3>
<ul>
<p>The Percentage column is added to the DataFrame by multiplying the average of grades for all courses by 10.
<p>
</ul>
</h3>

In [0]:
gradeDF['Percentage'] = gradeDF.mean(axis=1)*10

In [0]:
grades = np.random.randint(0, 10, (5, 10))
data = {"Literature":grades[0], "Math":grades[1], "Physics":grades[2], "Chemistry":grades[3], "Biology":grades[4]}
gradeDF = pd.DataFrame(data, index=['Amelie', 'Brian', 'Olivia', 'George', 'Ethan', 'Sophia', 'Lucy', 'Emma', 'John', 'David'])

gradeDF['Percentage'] = gradeDF.mean(axis=1)*10
conditions, lettergrades = [gradeDF['Percentage'] < 60, gradeDF['Percentage'] > 80], ["Fail", "A"]
gradeDF['LetterGrade'] = np.select(conditions, lettergrades, default="B")
gradeDF

<h3>
<ul>
<p>The Letter Grade column is defined based on the values in Percentage column using numpy.select function with conditions, results and default inputs. 
<p>
</ul>
</h3>

In [0]:
conditions, lettergrades = [gradeDF['Percentage'] < 60, gradeDF['Percentage'] > 80], ["Fail", "A"]
gradeDF['LetterGrade'] = np.select(conditions, lettergrades, default="B")
gradeDF

,Literature,Math,Physics,Chemistry,Biology,Percentage,LetterGrade
Amelie,0,4,0,7,6,34.0,Fail
Brian,6,3,3,3,6,42.0,Fail
Olivia,9,2,9,1,6,54.0,Fail
George,8,3,7,7,6,62.0,B
Ethan,6,9,8,0,8,62.0,B
Sophia,0,6,7,0,2,30.0,Fail
Lucy,1,6,7,1,4,38.0,Fail
Emma,8,0,3,0,0,22.0,Fail
John,9,8,5,3,4,58.0,Fail
David,7,5,5,4,0,42.0,Fail