In [9]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import re
import json

Get Each Universities Link

In [10]:
regions_name = ['America & Canada', 'Asia', 'Australia', 'Europe', 'UK & Ireland']
main_page = requests.get("https://iisma.kemdikbud.go.id/info/host-universities-list/")
soup = BeautifulSoup(main_page.text, features='html.parser')
regions = soup.find_all('div', class_='elementor-image-carousel swiper-wrapper')
links_by_region = {}
for i, region in enumerate(regions):
    links = []
    universities = region.find('a')
    link = universities['href']
    links = link.split(',')
    links_by_region[regions_name[i]] = links

In [11]:
links_by_region

{'America & Canada': ['https://iisma.kemdikbud.go.id/info/31-boston-university-metropolitan-college/',
  'https://iisma.kemdikbud.go.id/info/56-arizona-state-university/',
  'https://iisma.kemdikbud.go.id/info/05-the-university-of-pennsylvania-college-of-liberal-and-professional-studies/',
  'https://iisma.kemdikbud.go.id/info/06-yale-university/',
  'https://iisma.kemdikbud.go.id/info/29-penn-state-university',
  'https://iisma.kemdikbud.go.id/info/30-university-of-california-davis/',
  'https://iisma.kemdikbud.go.id/info/35-uc-chile/',
  'https://iisma.kemdikbud.go.id/info/45-michigan-state-university/',
  'https://iisma.kemdikbud.go.id/info/64-university-of-colorado-boulder/',
  'https://iisma.kemdikbud.go.id/info/13-university-of-british-columbia/',
  'https://iisma.kemdikbud.go.id/info/42-university-of-waterloo/',
  'https://iisma.kemdikbud.go.id/info/46-western-university/',
  'https://iisma.kemdikbud.go.id/info/03-university-of-chicago/',
  'https://iisma.kemdikbud.go.id/info/21-university-of-texas-at-austin/',
  'https://iisma.kemdikbud.go.id/info/79-cornell-university/',
  'https://iisma.kemdikbud.go.id/info/s80-university-of-michigan/',
  'https://iisma.kemdikbud.go.id/info/s83-new-york-university/',
  'https://iisma.kemdikbud.go.id/info/s82-georgetown-university/',
  'https://iisma.kemdikbud.go.id/info/s100-university-of-toronto/'],
 'Asia': ['https://iisma.kemdikbud.go.id/info/18-osaka-university/',
  'https://iisma.kemdikbud.go.id/info/74-singapore-management-university/',
  'https://iisma.kemdikbud.go.id/info/44-hanyang-university-seoul-campus/',
  'https://iisma.kemdikbud.go.id/info/71-national-taiwan-university-of-science-and-technology-taiwan-tech',
  'https://iisma.kemdikbud.go.id/info/23-korea-university/',
  'https://iisma.kemdikbud.go.id/info/17-universiti-malaya/',
  'https://iisma.kemdikbud.go.id/info/38-universiti-kebangsaan-malaysia/',
  'https://iisma.kemdikbud.go.id/info/40-universiti-sains-malaysia/',
  'https://iisma.kemdikbud.go.id/info/04-nanyang-technological-university/',
  'https://iisma.kemdikbud.go.id/info/52-keio-university/',
  'https://iisma.kemdikbud.go.id/info/18-national-taiwan-university/',
  'https://iisma.kemdikbud.go.id/info/55-chulalongkorn-university/',
  'https://iisma.kemdikbud.go.id/info/73-middle-east-technical-university/',
  'https://iisma.kemdikbud.go.id/info/s98-sophia-university/',
  'https://iisma.kemdikbud.go.id/info/s117-taipei-medical-university-tmu/',
  'https://iisma.kemdikbud.go.id/info/s112-national-university-of-singapore-nus/',
  'https://iisma.kemdikbud.go.id/info/s115-national-cheng-kung-university-ncku/',
  'https://iisma.kemdikbud.go.id/info/s88-national-taiwan-normal-university/',
  'https://iisma.kemdikbud.go.id/info/s116-national-sun-yat-sen-university/',
  'https://iisma.kemdikbud.go.id/info/s90-prince-of-songkla-university/',
  'https://iisma.kemdikbud.go.id/info/s118-mahidol-university/'],
 'Australia': ['https://iisma.kemdikbud.go.id/info/09-the-australian-national-university/',
  'https://iisma.kemdikbud.go.id/info/32-the-university-of-adelaide/',
  'https://iisma.kemdikbud.go.id/info/14-the-university-of-queensland/',
  'https://iisma.kemdikbud.go.id/info/11-university-of-sydney/',
  'https://iisma.kemdikbud.go.id/info/25-university-of-auckland/',
  'https://iisma.kemdikbud.go.id/info/10-university-of-melbourne/',
  'https://iisma.kemdikbud.go.id/info/15-monash-university/',
  'https://iisma.kemdikbud.go.id/info/27-the-university-of-western-australia/',
  'https://iisma.kemdikbud.go.id/info/51-university-of-otago/',
  'https://iisma.kemdikbud.go.id/info/62-victoria-university-of-wellington/',
  'https://iisma.kemdikbud.go.id/info/12-university-of-new-south-wales/',
  'https://iisma.kemdikbud.go.id/info/66-university-of-canterbury/',
  'https://iisma.kemdikbud.go.id/info/s111-massey-university/',
  'https://iisma.kemdikbud.go.id/info/s120-university-of-waikato/'],
 'Europe': ['https://iisma.kemdikbud.go.id/info/54-vrije-universiteit-amsterdam/',
  'https://iisma.kemdikbud.go.id/info/73-leiden-university/',
  'https://iisma.kemdikbud.go.id/info/59-maastricht-university/',
  'https://iisma.kemdikbud.go.id/info/20-ku-leuven/',
  'https://iisma.kemdikbud.go.id/info/75-university-of-szeged',
  'https://iisma.kemdikbud.go.id/info/72-university-of-pisa/',
  'https://iisma.kemdikbud.go.id/info/37-humboldt-universitat-zu-berlin/',
  'https://iisma.kemdikbud.go.id/info/77-university-of-zagreb/',
  'https://iisma.kemdikbud.go.id/info/68-university-of-warsaw/',
  'https://iisma.kemdikbud.go.id/info/24-m-v-lomonosov-moscow-state-university/',
  'https://iisma.kemdikbud.go.id/info/57-radboud-university/',
  'https://iisma.kemdikbud.go.id/info/78-vytautas-magnus-university/',
  'https://iisma.kemdikbud.go.id/info/lolos-67-sciences-po/',
  'https://iisma.kemdikbud.go.id/info/60-universitat-pompeu-fabra/',
  'https://iisma.kemdikbud.go.id/info/47-sapienza-university-of-rome/',
  'https://iisma.kemdikbud.go.id/info/63-university-of-padua/',
  'https://iisma.kemdikbud.go.id/info/53-universidad-autonoma-de-madrid/',
  'https://iisma.kemdikbud.go.id/info/s81-university-of-groningen/',
  'https://iisma.kemdikbud.go.id/info/s84-belarusian-state-university/',
  'https://iisma.kemdikbud.go.id/info/s85-aalto-university/',
  'https://iisma.kemdikbud.go.id/info/s86-university-of-pecs/',
  'https://iisma.kemdikbud.go.id/info/s97-university-of-siena/',
  'https://iisma.kemdikbud.go.id/info/s99-technische-universitat-dresden/',
  'https://iisma.kemdikbud.go.id/info/s104-aix-marseille-university/',
  'https://iisma.kemdikbud.go.id/info/s105-universite-de-caen-normandie/',
  'https://iisma.kemdikbud.go.id/info/s106-charles-university/',
  'https://iisma.kemdikbud.go.id/info/s107-saint-petersburg-state-university/',
  'https://iisma.kemdikbud.go.id/info/s108-peoples-friendship-university-of-russia-rudn-university/',
  'https://iisma.kemdikbud.go.id/info/s109-higher-school-of-economics-national-research-university/',
  'https://iisma.kemdikbud.go.id/info/s110-information-technologies-mechanics-and-optics-itmo-university/',
  'https://iisma.kemdikbud.go.id/info/s89-university-of-granada/',
  'https://iisma.kemdikbud.go.id/info/s113-kth-royal-institute-of-technology/',
  'https://iisma.kemdikbud.go.id/info/s114-lund-university/',
  'https://iisma.kemdikbud.go.id/info/76-palacky-university-olomouc/'],
 'UK & Ireland': ['https://iisma.kemdikbud.go.id/info/39-lancaster-university/',
  'https://iisma.kemdikbud.go.id/info/61-university-of-leicester/',
  'https://iisma.kemdikbud.go.id/info/65-university-of-galway/',
  'https://iisma.kemdikbud.go.id/info/28-university-of-birmingham/',
  'https://iisma.kemdikbud.go.id/info/36-newcastle-university/',
  'https://iisma.kemdikbud.go.id/info/07-university-of-edinburgh/',
  'https://iisma.kemdikbud.go.id/info/48-university-college-dublin/',
  'https://iisma.kemdikbud.go.id/info/33-university-college-cork/',
  'https://iisma.kemdikbud.go.id/info/22-university-of-glasgow/',
  'https://iisma.kemdikbud.go.id/info/50-university-of-liverpool/',
  'https://iisma.kemdikbud.go.id/info/26-university-of-leeds/',
  'https://iisma.kemdikbud.go.id/info/58-university-of-sussex/',
  'https://iisma.kemdikbud.go.id/info/s16-university-of-warwick/',
  'https://iisma.kemdikbud.go.id/info/43-university-of-york/',
  'https://iisma.kemdikbud.go.id/info/02-university-college-london/',
  'https://iisma.kemdikbud.go.id/info/34-queen-mary-university-of-london/',
  'https://iisma.kemdikbud.go.id/info/s87-the-university-of-manchester/',
  'https://iisma.kemdikbud.go.id/info/s92-durham-university/',
  'https://iisma.kemdikbud.go.id/info/s119-the-university-of-sheffield/',
  'https://iisma.kemdikbud.go.id/info/s95-loughborough-university/',
  'https://iisma.kemdikbud.go.id/info/s93-university-of-bath/',
  'https://iisma.kemdikbud.go.id/info/s96-university-of-limerick/',
  'https://iisma.kemdikbud.go.id/info/s91-university-of-southampton/',
  'https://iisma.kemdikbud.go.id/info/s94-queens-university-belfast/',
  'https://iisma.kemdikbud.go.id/info/s87-university-of-bristol/']}

Get Universities Primary Information

In [12]:
column_name = ["Name", "Image", "Location", "Description", "Official Link", "IISMA Link"]
df = pd.DataFrame(columns=column_name)

for region in links_by_region:
    for link in links_by_region[region]:
        details_page = requests.get(link)
        soup = BeautifulSoup(details_page.text, 'html.parser')
        
        # Left side
        left_info = soup.findAll("div", class_="elementor-widget-container")
        image = left_info[0].img['src']
        name = left_info[1].h4.text
        location = left_info[2].p.text
        official_link = left_info[4].text.strip()
        
        # Right side
        right_info = soup.findAll("div", class_="elementor-tab-content elementor-clearfix")
        description = right_info[0].text
        
        # Make dataframe
        new_row = [name, image, location, description, official_link, link]
    
        new_row_df = pd.DataFrame([new_row], columns=column_name)
        df = pd.concat([df, new_row_df], ignore_index = True)

In [13]:
region_list = []
for region in links_by_region.keys():
    for i in links_by_region[region]:
        region_list.append(region)
df["Region"] = region_list

In [14]:
df

,Name,Image,Location,Description,Official Link,IISMA Link,Region
0,Boston University Metropolitan College,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,"Boston, Massachusetts, USA",the MET International Undergraduate Program pr...,bu.edu/metinternational,https://iisma.kemdikbud.go.id/info/31-boston-u...,America & Canada
1,Arizona State University,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,"Tempe, Arizona, USA","Arizona State University (ASU), located in Tem...",www.asu.edu,https://iisma.kemdikbud.go.id/info/56-arizona-...,America & Canada
2,The University of Pennsylvania,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,United States of America,Penn is a private urban research university wi...,www.lps.upenn.edu/non-degree-programs/igsp,https://iisma.kemdikbud.go.id/info/05-the-univ...,America & Canada
3,Yale University,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,United States of America,"Since its founding in 1701, Yale has been dedi...",https://summer.yale.edu/,https://iisma.kemdikbud.go.id/info/06-yale-uni...,America & Canada
4,Penn State University,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,United States of America,"Penn State University, founded in 1855, is the...",global.psu.edu,https://iisma.kemdikbud.go.id/info/29-penn-sta...,America & Canada
...,...,...,...,...,...,...,...
108,University of Bath,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,United Kingdom,The University of Bath received its Royal Char...,www.ucl.ac.uk,https://iisma.kemdikbud.go.id/info/s93-univers...,UK & Ireland
109,University of Limerick,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,Ireland,"Established in 1972, the University of Limeric...",https://www.ul.ie/,https://iisma.kemdikbud.go.id/info/s96-univers...,UK & Ireland
110,University of Southampton,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,"Southampton, United Kingdom",University of Southampton (UoS) is a research ...,southampton.ac.uk,https://iisma.kemdikbud.go.id/info/s91-univers...,UK & Ireland
111,Queen's University Belfast,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,United Kingdom,Queen’s University has been making a differenc...,www.qub.ac.uk,https://iisma.kemdikbud.go.id/info/s94-queens-...,UK & Ireland
112,University of Bristol,https://i0.wp.com/iisma.kemdikbud.go.id/info/w...,"Bristol, United Kingdom",The University of Bristol is one of the most p...,bristol.ac.uk,https://iisma.kemdikbud.go.id/info/s87-univers...,UK & Ireland

Setting Browser

In [15]:
browser_options = webdriver.ChromeOptions()
browser_options.add_argument('--headless')
browser_options.headless = True
driver = webdriver.Chrome(options=browser_options)

Get Universities Requirements

In [16]:
def get_number(text, toFloat: bool):
    match = re.search(r'\b\d+(?:\.\d+)?\b', text)

    if match:
        if toFloat:
            value = str(float(match.group()))
        else:
            value = str(match.group())
    else:
        value = "-"

    return value

In [17]:
requirements_data = []

for region in links_by_region:
    for link in links_by_region[region]:
        data = {}
        driver.get(link)

        try:
            driver.find_element(By.ID, "elementor-tab-title-4502").click()
            requirements = driver.find_element(By.ID,'elementor-tab-content-4502').text.split("\n")
        except NoSuchElementException:
            driver.find_element(By.ID, "elementor-tab-title-1812").click()
            requirements = driver.find_element(By.ID, 'elementor-tab-content-1812').text.split("\n")
            
        for req in requirements:
            if "GPA" in req:
                data["GPA"] = get_number(req, True)
            elif "English Language" not in req:
                if "IELTS" in req:
                    data["IELTS"] = get_number(req, True)
                    if data["IELTS"] == "-":
                        data["IELTS"] = "Not accepted"
                elif "DET" in req or "Duolingo" in req:
                    data["DET"] = get_number(req, False)
                    if data["DET"] == "-":
                        data["DET"] = "Not accepted"
                elif "TOEFL" in req:
                    data["TOEFL"] = get_number(req, False)
                    if data["TOEFL"] == "-":
                        data["TOEFL"] = "Not accepted"
        requirements_data.append(data)

In [18]:
df_requirements = pd.DataFrame(requirements_data)
df_requirements["University"] = df["Name"]
df_requirements = df_requirements.set_index("University").reset_index()
df_requirements

                                 University  GPA IELTS TOEFL           DET
0    Boston University Metropolitan College  3.0   6.0    84           115
1                  Arizona State University  3.0   6.0    79           115
2            The University of Pennsylvania  3.3   7.0   100           120
3                           Yale University  3.0   7.0   100           120
4                     Penn State University  3.0   6.5    80           120
..                                      ...  ...   ...   ...           ...
108                      University of Bath  3.0   6.5    90           120
109                  University of Limerick  3.0   6.0    78           100
110               University of Southampton  3.0   6.0    92           125
111              Queen's University Belfast  3.0   6.5    90  Not accepted
112                   University of Bristol  3.0   6.5    90  Not accepted

[113 rows x 5 columns]

Get Universities Intake & New Universities

In [19]:
def get_range(text):
    parts = text.split(":")
    # match = re.search(r'\b\d+(?:\.\d+)?\b', text)

    if len(parts) > 1:
        range = parts[1].strip()
        return range

In [22]:
intakes_data = []
new_uni_data = []

# for x in range(1):
for region in links_by_region:
    # for y in range(1):
    for link in links_by_region[region]:
        new_uni = {}
        data = {}
        driver.get(link)
        key1 = ""

        uni_name = driver.find_element(By.TAG_NAME,"h4").text
        try:
            tab_click = driver.find_element(By.ID, "elementor-tab-title-4504")
            tab_click.click()
            intakes_el = driver.find_element(By.ID,'elementor-tab-content-4504')
        except NoSuchElementException:
            try:
                tab_click = driver.find_element(By.ID, "elementor-tab-title-1814")
                tab_click.click()
                intakes_el = driver.find_element(By.ID,'elementor-tab-title-1814')
            except NoSuchElementException:
                new_uni["University"] = uni_name
                new_uni["Link"] = link
                new_uni_data.append(new_uni)
                continue

        intakes_list = intakes_el.find_elements(By.TAG_NAME, "p")
        for intakes in intakes_list:
            data = {}
            data["University"] = uni_name
            splitted_intakes = intakes.text.split("\n") 
            for intake in splitted_intakes:
                if len(intake) > 0:
                    if ":" not in intake: 
                        if "Applicants" in intake:
                            key = "Applicants"
                            try:
                                year = re.findall(r"\d{4}", intake)[0]
                            except:
                                year = re.findall(r"\d{4}", tab_click.text)[0] # Kalau gak ada tahunnya, ikut judul tab
                        elif "Awardees" in intake:
                            key = "Awardees"
                        
                        if "Cofunding" in intake or "Co-funding" in intake or "Co-Funding" in intake:
                            key1 = "Co-funding" 
                        elif "Regular" in intake:
                            key1 = "Regular"
                    else:
                        data["Year"] = year
                        if key1 == "":
                            if "Cofunding" in intake or "Co-funding" in intake or "Co-Funding" in intake:
                                key1 = "Co-funding" 
                            elif "Regular" in intake:
                                key1 = "Regular" 
                            else:
                                if "students" in intake or "Students" in intake:
                                    key1 = "Regular"
                        data["Intake"] = key1
                        data["Type"] = key
                        
                        if "student" in intake or "Applicants" in intake or "Awardees" in intake:
                            data["Students"] = get_number(intake, False)
                        else:
                            key2 = ""
                            if "GPA" in intake:
                                key2 = "GPA"
                            elif "IELTS" in intake:
                                key2 = "IELTS"
                            elif "DET" in intake or "Duolingo" in intake:
                                key2 = "DET"
                            elif "TOEFL" in intake:
                                key2 = "TOEFL"

                            ranges = get_range(intake)
                            value = "–"
                            if len(ranges) > 1:
                                if "-" in ranges:
                                    value = ranges.split("-")
                                elif "–" in ranges:
                                    value = ranges.split("–")

                            if len(key2) > 1:
                                try:
                                    data[f"{key2} Min"] = value[0].strip()
                                    data[f"{key2} Max"] = value[1].strip()
                                except IndexError:
                                    data[f"{key2} Min"] = value[0].strip()
                                    data[f"{key2} Max"] = value[0].strip()

                            if key2 == "DET":
                                intakes_data.append(data)
                                data = {}
                                data["University"]=uni_name
                                key1=""

            # print(link)
            # print(splitted_intakes)

In [ ]:
df_intakes = pd.DataFrame(intakes_data).groupby(["University", "Year", "Type", "Intake"], sort=False).sum().replace(0, "–")
df_intakes = df_intakes.reset_index()
display(df_intakes)

                                                                  Students  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular         395
                                            Awardees   Regular          20
                                       2023 Applicants Regular         231
                                                       Co-funding        9
                                            Awardees   Regular          20
...                                                                    ...
University College London              2023 Awardees   Regular          10
Queen Mary University of London        2022 Applicants Regular          26
                                            Awardees   Regular           4
                                       2023 Applicants Regular          13
                                            Awardees   Regular           8

                                                                  GPA Min  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular       3.12
                                            Awardees   Regular       3.39
                                       2023 Applicants Regular       2.89
                                                       Co-funding    3.31
                                            Awardees   Regular       3.40
...                                                                   ...
University College London              2023 Awardees   Regular       3.46
Queen Mary University of London        2022 Applicants Regular       3.04
                                            Awardees   Regular       3.67
                                       2023 Applicants Regular       3.25
                                            Awardees   Regular       3.25

                                                                  GPA Max  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular       4.00
                                            Awardees   Regular       3.96
                                       2023 Applicants Regular       3.99
                                                       Co-funding    3.81
                                            Awardees   Regular       3.90
...                                                                   ...
University College London              2023 Awardees   Regular       3.95
Queen Mary University of London        2022 Applicants Regular       4.00
                                            Awardees   Regular       3.82
                                       2023 Applicants Regular       3.86
                                            Awardees   Regular       3.86

                                                                  TOEFL Min  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular           88
                                            Awardees   Regular            –
                                       2023 Applicants Regular           67
                                                       Co-funding         –
                                            Awardees   Regular            –
...                                                                     ...
University College London              2023 Awardees   Regular            –
Queen Mary University of London        2022 Applicants Regular          103
                                            Awardees   Regular            –
                                       2023 Applicants Regular            –
                                            Awardees   Regular            –

                                                                  TOEFL Max  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular          106
                                            Awardees   Regular            –
                                       2023 Applicants Regular           67
                                                       Co-funding         –
                                            Awardees   Regular            –
...                                                                     ...
University College London              2023 Awardees   Regular            –
Queen Mary University of London        2022 Applicants Regular          110
                                            Awardees   Regular            –
                                       2023 Applicants Regular            –
                                            Awardees   Regular            –

                                                                  IELTS Min  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular          6.5
                                            Awardees   Regular            –
                                       2023 Applicants Regular          5.5
                                                       Co-funding       6.5
                                            Awardees   Regular          8.5
...                                                                     ...
University College London              2023 Awardees   Regular            8
Queen Mary University of London        2022 Applicants Regular            6
                                            Awardees   Regular            –
                                       2023 Applicants Regular            7
                                            Awardees   Regular            7

                                                                  IELTS Max  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular          8.5
                                            Awardees   Regular            –
                                       2023 Applicants Regular          8.5
                                                       Co-funding       6.5
                                            Awardees   Regular          8.5
...                                                                     ...
University College London              2023 Awardees   Regular          8.5
Queen Mary University of London        2022 Applicants Regular            8
                                            Awardees   Regular            –
                                       2023 Applicants Regular            8
                                            Awardees   Regular            8

                                                                  DET Min  \
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular          0
                                            Awardees   Regular        140
                                       2023 Applicants Regular         80
                                                       Co-funding     100
                                            Awardees   Regular        140
...                                                                   ...
University College London              2023 Awardees   Regular          –
Queen Mary University of London        2022 Applicants Regular          –
                                            Awardees   Regular          –
                                       2023 Applicants Regular          –
                                            Awardees   Regular          –

                                                                  DET Max
University                             Year Type       Intake
Boston University Metropolitan College 2022 Applicants Regular        155
                                            Awardees   Regular        155
                                       2023 Applicants Regular        155
                                                       Co-funding     140
                                            Awardees   Regular        155
...                                                                   ...
University College London              2023 Awardees   Regular          –
Queen Mary University of London        2022 Applicants Regular          –
                                            Awardees   Regular          –
                                       2023 Applicants Regular          –
                                            Awardees   Regular          –

[287 rows x 9 columns]

In [24]:
df_new_uni = pd.DataFrame(new_uni_data)
display(df_new_uni)

,University,Link
0,Cornell University,https://iisma.kemdikbud.go.id/info/79-cornell-...
1,University of Michigan,https://iisma.kemdikbud.go.id/info/s80-univers...
2,New York University,https://iisma.kemdikbud.go.id/info/s83-new-yor...
3,Georgetown University,https://iisma.kemdikbud.go.id/info/s82-georget...
4,University of Toronto,https://iisma.kemdikbud.go.id/info/s100-univer...
5,Sophia University,https://iisma.kemdikbud.go.id/info/s98-sophia-...
6,Taipei Medical University,https://iisma.kemdikbud.go.id/info/s117-taipei...
7,National University of Singapore,https://iisma.kemdikbud.go.id/info/s112-nation...
8,National Cheng Kung University (NCKU),https://iisma.kemdikbud.go.id/info/s115-nation...
9,National Taiwan Normal University,https://iisma.kemdikbud.go.id/info/s88-nationa...
10,National Sun Yat-sen University,https://iisma.kemdikbud.go.id/info/s116-nation...
11,Mahidol University,https://iisma.kemdikbud.go.id/info/s118-mahido...
12,Massey University,https://iisma.kemdikbud.go.id/info/s111-massey...
13,University of Waikato,https://iisma.kemdikbud.go.id/info/s120-univer...
14,Belarusian State University,https://iisma.kemdikbud.go.id/info/s84-belarus...
15,Aalto University,https://iisma.kemdikbud.go.id/info/s85-aalto-u...
16,University of Siena,https://iisma.kemdikbud.go.id/info/s97-univers...
17,Technische Universität Dresden,https://iisma.kemdikbud.go.id/info/s99-technis...
18,Aix-Marseille University,https://iisma.kemdikbud.go.id/info/s104-aix-ma...
19,Université de Caen Normandie,https://iisma.kemdikbud.go.id/info/s105-univer...
20,Charles University,https://iisma.kemdikbud.go.id/info/s106-charle...
21,Saint Petersburg State University,https://iisma.kemdikbud.go.id/info/s107-saint-...
22,RUDN University,https://iisma.kemdikbud.go.id/info/s108-people...
23,Higher School of Economics National Research U...,https://iisma.kemdikbud.go.id/info/s109-higher...
24,"Information Technologies, Mechanics and Optics...",https://iisma.kemdikbud.go.id/info/s110-inform...
25,KTH Royal Institute of Technology,https://iisma.kemdikbud.go.id/info/s113-kth-ro...
26,Lund University,https://iisma.kemdikbud.go.id/info/s114-lund-u...
27,The University of Manchester,https://iisma.kemdikbud.go.id/info/s87-the-uni...
28,Durham University,https://iisma.kemdikbud.go.id/info/s92-durham-...
29,The University of Sheffield,https://iisma.kemdikbud.go.id/info/s119-the-un...
30,Loughborough University,https://iisma.kemdikbud.go.id/info/s95-loughbo...
31,University of Bath,https://iisma.kemdikbud.go.id/info/s93-univers...
32,University of Limerick,https://iisma.kemdikbud.go.id/info/s96-univers...
33,University of Southampton,https://iisma.kemdikbud.go.id/info/s91-univers...
34,Queen's University Belfast,https://iisma.kemdikbud.go.id/info/s94-queens-...
35,University of Bristol,https://iisma.kemdikbud.go.id/info/s87-univers...

Get Universities Courses

In [26]:
courses_data = []

for region in links_by_region:
    for link in links_by_region[region]:
        driver.get(link)

        uni_name = driver.find_element(By.TAG_NAME,"h4").text
        titles = driver.find_elements(By.CLASS_NAME, "elementor-toggle-item")
        
        data = {}
        data["University"] = uni_name
        
        courses = []
        for title in titles:
            courses.append(title.text)

        data["Courses"] = courses
        courses_data.append(data)

KeyboardInterrupt:

In [ ]:
df_courses = pd.DataFrame(courses_data)
display(df_courses)

,University,Courses
0,Boston University Metropolitan College,"[Entrepreneurial Management, Project Managemen..."
1,Arizona State University,[Principles of Marketing for Global Organizati...
2,The University of Pennsylvania,"[Essentials of Molecular Biology and Genetics,..."
3,Yale University,"[World Cinema, Education and Empire, What is L..."
4,Penn State University,"[Introductory Sociology, Race, Ethnicity and C..."
...,...,...
108,University of Bath,"[Introduction to English linguistics, Shakespe..."
109,University of Limerick,"[PRINCIPLES OF HUMAN RESOURCE MANAGEMENT, PSYC..."
110,University of Southampton,"[Foundations of Business Analytics, Introducti..."
111,Queen's University Belfast,"[Behaviour in Organisations, Global Business E..."
112,University of Bristol,[Convincing stories? Numbers as evidence in th...

Dump to JSON

In [ ]:
file_path_list = []
file_path_list += ["iisma_intakes_data.json"]
file_path_list += ["iisma_university_data.json"] 
file_path_list += ["iisma_requirements_data.json"]
file_path_list += ["iisma_new_uni_data.json"]
file_path_list += ["iisma_courses_data.json"]

In [ ]:
json_list = []
json_list += [json.dumps(df_intakes.to_dict(orient='records'), indent=2)]
json_list += [json.dumps(df.to_dict(orient='records'), indent=2)]
json_list += [json.dumps(df_requirements.to_dict(orient='records'), indent=2)]
json_list += [json.dumps(df_new_uni.to_dict(orient='records'), indent=2)]
json_list += [json.dumps(df_courses.to_dict(orient='records'), indent=2)]

j = 0
for i in file_path_list:
    with open("json/"+i, "w") as json_file:
        json_file.write(json_list[j])
    j+=1

Excel

In [ ]:
df_intakes.to_excel("excel/Intakes.xlsx")
df.to_excel("excel/University.xlsx")
df_requirements.to_excel("excel/Requirements.xlsx")
df_new_uni.to_excel("excel/New University.xlsx")
df_courses.to_excel("excel/Courses.xlsx")

In [ ]:
driver.quit()