In [1]:
import pandas as pd

In [3]:
pd.read_html("data.html")

[  Unnamed: 0  Physics  Maths  Chemistry  Biology  Computer Science
 0      Mohit       16     16         18       15                14
 1       Ravi       12     16         14       13                12
 2       Raju       11     15         16       16                17
 3     Jayant       14     16         10       11                18
 4      Akash       10     14         15       15                11]

In [4]:
out1=pd.read_html("https://www.w3schools.com/html/html_tables.asp")
out1[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy