In [1]:
import pandas as pd 
import numpy as np

recent_grads = pd.read_csv('../jeux_de_données/recent-grads.csv')
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [2]:
all_ages = pd.read_csv('../jeux_de_données/all-ages.csv')
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

# Nombre d'étudiants par catégorie de Major

>- Retourner les valeurs uniques de Major_category
>- Utiliser la méthode Series.unique() (équivalent du distinct en SQL) pour retourner les valeurs uniques d'une Series
>- Pour chaque valeur unique (utilisation d'une boucle for):
- >- Retourner toutes les lignes où Major_category vaut cette valeur unique
- >- Calculer le nombre total d'étudiants représentant cette catégorie de major (colonne Total à sommer)
- >- Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire contenant une Major_category en clé et le nombre d'étudiants en valeur

### dictionnaire recent_grads

In [16]:
dic_total_recent_grades = {major_category : recent_grades["Total"][recent_grades["Major_category"] == major_category].sum() for major_category in recent_grads["Major_category"].unique()}
dic_total_recent_grades

{'Engineering': 537583,
 'Business': 1302376,
 'Physical Sciences': 183363,
 'Law & Public Policy': 179107,
 'Computers & Mathematics': 299008,
 'Agriculture & Natural Resources': 79981,
 'Industrial Arts & Consumer Services': 227357,
 'Arts': 357130,
 'Health': 463230,
 'Social Science': 529966,
 'Physical Sciences ': 2116,
 'Biology & Life Science': 453862,
 'Education': 559129,
 'Humanities & Liberal Arts': 713468,
 'Psychology & Social Work': 481007,
 'Industrial Arts & Consumer Services ': 2435,
 'Communications & Journalism': 392601,
 'Interdisciplinary': 12296}

### dictionnaire all_ages

In [17]:
dic_total_all_ages = {major_category : all_ages["Total"][all_ages["Major_category"] == major_category].sum() for major_category in all_ages["Major_category"].unique()}
dic_total_all_ages

{'Agriculture & Natural Resources': 632437,
 'Biology & Life Science': 1338186,
 'Engineering': 3576013,
 'Humanities & Liberal Arts': 3738335,
 'Communications & Journalism': 1803822,
 'Computers & Mathematics': 1781378,
 'Industrial Arts & Consumer Services': 1018072,
 'Education': 4700118,
 'Law & Public Policy': 902926,
 'Interdisciplinary': 45199,
 'Health': 2950859,
 'Social Science': 2654125,
 'Physical Sciences': 1013152,
 'Physical Sciences ': 12166,
 'Psychology & Social Work': 1987278,
 'Industrial Arts & Consumer Services ': 15726,
 'Arts': 1805865,
 'Business': 9858741}

# Nombre d'étudiants par catégorie de MajorMission:
- >- Créer une fonction dans laquelle vous utiliserez la colonne Total pour calculer le nombre d'étudiants pour chaque catégorie de Major (Major_category) dans chaque dataset
- >- Stocker le résultat dans 2 dictionnaires distincts
- >- La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants
- >- Pour le dataset all_ages, stocker le résultat dans un dictionnaire qu'on nommera aa_car_counts
- >- Pour le dataset recent_grads, stocker le résultat dans un dictionnaire qu'on nommera rg_cat_counts
- Autre méthode: Utiliser un pivot de table
- Afficher les 2 dictionnaires

In [18]:
#Nombre d'etudiants par category
def nombre_etudiant_cat_dic(dataset) :
    count_cat = {}
    maj_category = dataset["Major_category"].unique()
    for cat in maj_category :
        count_cat[cat] = dataset["Total"][dataset["Major_category"] == cat].sum()
    return count_cat

aa_car_counts = nombre_etudiant_cat_dic(all_ages)
rg_car_counts = nombre_etudiant_cat_dic(recent_grads)
print("Nombre d'etudiants par category")
print("\n----- ALL AGES -----")
print(aa_car_counts)
print("\n----- RECENT GRADS -----")
print(rg_car_counts)

Nombre d'etudiants par category

----- ALL AGES -----
{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, 'Physical Sciences ': 12166, 'Psychology & Social Work': 1987278, 'Industrial Arts & Consumer Services ': 15726, 'Arts': 1805865, 'Business': 9858741}

----- RECENT GRADS -----
{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 183363, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 227357, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Physical Sciences ': 2116, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Industrial Arts & Consumer Services ': 2435, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

### recent_grades pivot

In [19]:
# pivot par défaut moyenne
rg_cat_counts_pt = recent_grads.pivot_table(index="Major_category", values="Total", aggfunc=np.sum).to_dict('index')
# la clé est l'index de ligne
# value est un dictionnaire avec clé 'Total' et valeur la somme
rg_cat_counts_pt

{'Agriculture & Natural Resources': {'Total': 79981},
 'Arts': {'Total': 357130},
 'Biology & Life Science': {'Total': 453862},
 'Business': {'Total': 1302376},
 'Communications & Journalism': {'Total': 392601},
 'Computers & Mathematics': {'Total': 299008},
 'Education': {'Total': 559129},
 'Engineering': {'Total': 537583},
 'Health': {'Total': 463230},
 'Humanities & Liberal Arts': {'Total': 713468},
 'Industrial Arts & Consumer Services': {'Total': 227357},
 'Industrial Arts & Consumer Services ': {'Total': 2435},
 'Interdisciplinary': {'Total': 12296},
 'Law & Public Policy': {'Total': 179107},
 'Physical Sciences': {'Total': 183363},
 'Physical Sciences ': {'Total': 2116},
 'Psychology & Social Work': {'Total': 481007},
 'Social Science': {'Total': 529966}}

### all_ages pivot

In [20]:
# pivot par défaut moyenne
aa_car_counts = all_ages.pivot_table(index="Major_category", values="Total", aggfunc=np.sum).to_dict('index')
# la clé est l'index de ligne
# value est un dictionnaire avec clé 'Total' et valeur la somme
aa_car_counts

{'Agriculture & Natural Resources': {'Total': 632437},
 'Arts': {'Total': 1805865},
 'Biology & Life Science': {'Total': 1338186},
 'Business': {'Total': 9858741},
 'Communications & Journalism': {'Total': 1803822},
 'Computers & Mathematics': {'Total': 1781378},
 'Education': {'Total': 4700118},
 'Engineering': {'Total': 3576013},
 'Health': {'Total': 2950859},
 'Humanities & Liberal Arts': {'Total': 3738335},
 'Industrial Arts & Consumer Services': {'Total': 1018072},
 'Industrial Arts & Consumer Services ': {'Total': 15726},
 'Interdisciplinary': {'Total': 45199},
 'Law & Public Policy': {'Total': 902926},
 'Physical Sciences': {'Total': 1013152},
 'Physical Sciences ': {'Total': 12166},
 'Psychology & Social Work': {'Total': 1987278},
 'Social Science': {'Total': 2654125}}

# Taux de jobs à faible salaire
- > Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés qui ont du trouver des jobs à faible salaire (recent_grads
- > Souvenez-vous que vous pouvez utiliser la méthode Series.sum() pour retourner la somme des valeurs d'une colonne 
- > Stocker le résultat dans la variable low_wage_proportion et afficher le

In [21]:
#Taux de jobs à faible salaire
TOTAL = recent_grads["Total"].sum()
print(TOTAL)

tot_low_wage_jobs = recent_grads["Low_wage_jobs"].sum()
print(tot_low_wage_jobs)

low_wage_proportion= (tot_low_wage_jobs/TOTAL)*100
print(low_wage_proportion, "% de jeunes diplomés ont du trouver des jobs à faible salaire")

6776015
667610
9.852546076122913 % de jeunes diplomés ont du trouver des jobs à faible salaire

# Comparer des datasets

- > Utiliser une boucle for pour parcourir toutes les majors
- > Pour chaque Major et chaque DataFrame, filtrer seulement les lignes du DataFrame correspondant à cette major
- > Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse
- > Incrémenter (ajouter 1) à la variable rg_lower_count si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages
- Afficher le résultat rg_lower_count.

In [24]:
# Comparer des datasets
majors_1 = all_ages["Major"]
majors_2 = recent_grads["Major"]
print(majors_1.shape)
print(majors_2.shape)

rg_lower_count = 0

for major in majors_1:
    is_major_1 = (all_ages["Major"] == major)
    is_major_2 = (recent_grads["Major"] == major)
    valeur_1 = all_ages[is_major_1]["Unemployment_rate"].tolist()
    valeur_2 = recent_grads[is_major_2]["Unemployment_rate"].tolist()
    if len(valeur_1) > 0 and len(valeur_2) > 0:
        if valeur_1 > valeur_2:
            rg_lower_count += 1

print("rg_lower_count =",rg_lower_count)

(173,)
(173,)
rg_lower_count = 42