In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
df = pd.read_json('Fix1.json').sort_index()
df.shape

(3526, 21)

In [38]:
df.head(2)

,apDegree,bachelorsAvg,country,engExamAnlt,engExamQuan,engExamResult,engExamType,engExamVrbl,extra,field,...,fundType,masterAvg,papersGLOB,papersIRAN,uniAccepted,uniBachelors,uniMasters,uniRejected,uniSelected,year
2,Doctorate,17.74,England,n/a,n/a,n/a,n/a,n/a,Award is in GBP.The amount is for living stipe...,Petroleum Engineering,...,Award,n/a,4,8,n/a,آزاد اسلامی امیدیه,n/a,n/a,"heriot watt university, edinburgh",2007
3,Doctorate,15.70,US,3,760,100,iBT,330,سال 2008 اومدم آمریکا و دو سال master رو در دا...,Civil Engineering / Transportation,...,RA,19,8,10,"epfl switzerland, northwestern",فردوسی مشهد,portland state university,"uc berkeley, georgia tech",northwestern,2010

In [39]:
cdf=pd.read_csv('../10kUni_Cleaned.csv',index_col=0)

In [40]:
cdf.head(2)

  country       name site
0      AD    andorra  uda
1      AE  abu dhabi  adu

In [41]:
df.uniAccepted.value_counts().head()

n/a                      573
kth                       24
politecnico di milano     23
utm                       19
concordia                 16
Name: uniAccepted, dtype: int64

In [42]:
dff=df[(df['country']=='n/a') & ((df['uniSelected']!='n/a')|(df['uniAccepted']!='n/a'))][['country','uniSelected','uniAccepted']].copy()
print('Count',dff.count()[0])
dff.head()

('Count', 370)

,country,uniSelected,uniAccepted
22,n/a,n/a,ntnu
29,n/a,n/a,"caltec(no fund),ucla, northwestern, mcgill,ubc..."
37,n/a,n/a,auburn
39,n/a,"jhu: us, wsu:us , alberta:ca","alberta:ms, sfu:ms,washington state university..."
60,n/a,n/a,"texas austin, usc, uc irvine, univerity of ill..."

In [43]:
import re
def checkFarsi(w):
    regexp = re.compile(r'[a-zA-Z?]')
    return (not regexp.search(w))

In [44]:
col=['uniSelected','uniAccepted']
cdf.name=cdf.name.apply(str)
for c in col:
    changed=0
    for i in dff.index:
        temp=dff.ix[i][c]
        if (checkFarsi(temp) | (temp=='n/a')) :continue
        isin=cdf.name.isin([temp])
        isin=isin[isin==True]
        if len(isin)==0:continue
        inx=isin.index[0]
        res=cdf.ix[inx]['country']
        dff.set_value(i, 'country', res)
        changed+=1
    print(c,'Changed items:',changed)

('uniSelected', 'Changed items:', 7)
('uniAccepted', 'Changed items:', 25)

In [45]:
dff.country=dff.country.str.lower()
dff.country.value_counts().head(10)

n/a    342
ca      10
se       6
us       5
tr       2
it       1
es       1
fi       1
gb       1
ir       1
Name: country, dtype: int64

In [46]:
for i in dff.country.index:
    df.set_value(i,'country',dff.country[i])

In [47]:
df.shape

(3526, 21)

In [48]:
df.to_json('Fix2.json',date_format='utf8')

In [49]:
df

,apDegree,bachelorsAvg,country,engExamAnlt,engExamQuan,engExamResult,engExamType,engExamVrbl,extra,field,...,fundType,masterAvg,papersGLOB,papersIRAN,uniAccepted,uniBachelors,uniMasters,uniRejected,uniSelected,year
2,Doctorate,17.74,England,n/a,n/a,n/a,n/a,n/a,Award is in GBP.The amount is for living stipe...,Petroleum Engineering,...,Award,n/a,4,8,n/a,آزاد اسلامی امیدیه,n/a,n/a,"heriot watt university, edinburgh",2007
3,Doctorate,15.70,US,3,760,100,iBT,330,سال 2008 اومدم آمریکا و دو سال master رو در دا...,Civil Engineering / Transportation,...,RA,19,8,10,"epfl switzerland, northwestern",فردوسی مشهد,portland state university,"uc berkeley, georgia tech",northwestern,2010
5,Doctorate,17.68,US,3.5,800,100,iBT,320,تاريخ مصاحبه: 6 مي 2008 و تاريخ کلير شدن: 16 م...,(Management ( Operations Management,...,TA/RA,18.04,4,4,n/a,اميرکبير,شريف,"virginia tech, insead, mit sloan,cornegie mell...",cornell,2008
6,Masters,16.00,Sweden,3,800,92,iBT,310,رشته لیسانس من مهندسی مکانیک بود. فاند Dalhous...,Nanotechnology,...,n/a,n/a,0,0,"dalhousie, clemson, tudelft, ntu-nus (singa sc...",صنعتی امیرکبیر,n/a,"uc berkeley, uc davis, carneigie mellon",chalmers,2008
7,Masters,7.67,Spain,n/a,n/a,103,iBT,n/a,رشته ی لیسانس ام مهندسی برق بوده./ ساپورت مالی...,Business Administration and Quantitative Methods,...,TA,n/a,0,0,"carlos iii madrid, fhtw berlin, chalmers, poli...",پلی تکنیک بخارست، رومانی - معدل 7.67 از 10,n/a,chalmers,"carlos iii madrid, spain",2008
8,Masters,16.00,Australia,n/a,n/a,6.5,IELTS,n/a,n/a,MBAA,...,n/a,15,0,0,unisa - university of adelaide,صنعتی اصفهان,تهران,n/a,university of adelaide,2009
9,Masters,17.40,US,n/a,n/a,107,iBT,n/a,در دانشگاه كلمبيا در مقطع دكتري رد شدم. در ساي...,Middle Eastern Studies/Sociology,...,TA,17.02,1,0,"nyu, vcu, new school",اصفهان,علامه طباطبايي,columbia,nyu,2008
10,Doctorate,16.51,Canada,4.5,760,7.5,IELTS,320,southampton: فاند معادل 12940 پوند براِ هزينه ...,Electrical Engineering,...,Award,18.83,11,1,"university of new south wales, the university ...",امير کبير,امير کبير,"epfl,maryland,mcgill,waterloo,new mexico",mcmaster,2008
12,Masters,17.18,US,3.5,700,603,PBT,380,رشته تاریخ هنر در Connecticut با TA/Gallery Po...,"Fine Arts,Ceramics",...,TA,16.9,0,2,"texas tech u, u connecticut, asu, suny bingham...",دانشگاه هنر,دانشگاه هنر,"osu,case western,oregon",ttu,2007
13,Doctorate,15.57,Canada,3.5,800,110,iBT,370,"Calgary: PhD in Computer Science, Full Fund (T...",Computer Science,...,TA/RA,16.27,0,1,"calgary, carleton",شریف,شریف,"ucsb, texas a&amp;amp;m, alberta, waterloo",calgary,2008
15,Doctorate,17.12,US,3,800,105,iBT,370,n/a,Management,...,Award,17.3,1,2,"northwestern, insead",sharif university of tech,sharif university of tech,n/a,northwestern university,2008
16,Doctorate,14.30,Canada,n/a,n/a,7.5,IELTS,n/a,n/a,Management - Information Systems,...,TA/RA,18.51,11,3,"mcmaster, concordia, erasmus",علم و صنعت ایران,تربیت مدرس,"queen&amp;#039;s, london buiness school, u of ...",mcmaster,2008
17,Doctorate,17.51,Canada,n/a,n/a,573,PBT,n/a,n/a,Water Resources,...,TA/RA,17.11,3,4,"queens,alberta",رازي,تهران,n/a,queens,2008
18,Masters,14.00,Canada,n/a,n/a,597,PBT,n/a,n/a,Physics,...,TA/RA,n/a,4,2,",maryland-college park(no funding) ,wetern ont...",university of tehran,n/a,minnesota,university of western ontario,2008
19,Doctorate,15.60,US,3,800,600,PBT,320,n/a,Electrical Engineering,...,RA,17,4,1,"u of miami, concordia univ",شریف,تهران,uic,u of miami,2008
20,Doctorate,16.60,US,3.5,800,653,PBT,350,محل دریافت روادید: آنکارا clearance (روز): 65,Mechanical Engineering,...,RA,18,3,2,minnesota - rensselaer polytechnic institute -...,شريف,شريف,northwestern n/a sfu n/a iowa state n/a uic n/...,johns hopkins university,2008
21,Doctorate,0.00,US,3,800,607,PBT,330,I am Medical Doctor,Reproductive Science,...,RA,16.83,3,2,n/a,n/a,tehran university of medical sciences,n/a,wayne state university,2007
22,Doctorate,14.17,n/a,3,770,597,PBT,410,Relevant research experience and working in a ...,Chemical engineering,...,n/a,17.35,10,6,ntnu,sharif,tarbiat modares,"carnegie mellon, upenn,davis",n/a,2008
23,Masters,15.83,US,3,790,81,iBT,330,محل دریافت روادید: استانبول clearance (روز): 82,Environmental Engineering,...,n/a,n/a,2,2,"city university of newyork, university of loui...",صنعت نفت - آبادان,n/a,"university of alaska fairbanks, ntu",university of louisville,2008
24,Masters,16.00,Canada,3,710,567,PBT,310,n/a,Molecular Biology,...,TA/RA,n/a,0,0,windsor,شهید بهشتی,n/a,n/a,windsor,2008
25,Doctorate,15.30,US,n/a,n/a,91,iBT,n/a,n/a,Mechanical Engineering,...,TA,15.7,1,0,washington state uni,علم و صنعت,تربیت مدرس,n/a,washington state,2008
26,Doctorate,15.98,US,3,700,560,PBT,300,n/a,chemical physic,...,RA,15.79,4,0,",,florida statebrigham young university,wesleyan",sharif,tabriz,"minnesota,boston college",fl,2007
27,Doctorate,15.80,US,3,800,103,iBT,370,n/a,Physics,...,TA,18.9,2,0,"utexas (austin) , boston university",iust,شريف,n/a,boston university,2008
28,Doctorate,16.19,n/a,4,730,100,iBT,310,n/a,Chemical Engineering,...,TA/RA,18.56,1,0,n/a,razi,amirkabir,n/a,n/a,2008
29,Doctorate,17.20,n/a,5,800,117,iBT,690,UCLA or UM-Ann Arbor?,Mechanical Engineering,...,n/a,18.96,3,4,"caltec(no fund),ucla, northwestern, mcgill,ubc...",فنی تهران,پلی تکنیک تهران,"mit, berkeley, stanford",n/a,2008
30,Doctorate,17.94,US,3,800,590,PBT,330,محل دریافت روادید: دوبی clearance (روز): 75,"Electrical Engineering, Control",...,Award,18.51,7,0,"ucla, minnesota, ucsd, toronto, waterloo",دانشگاه صنعتی اصفهان,دانشگاه صنعتی شریف,"stanford, harvard, michigan ann arbor",ucla,2008
31,Doctorate,16.21,US,3,800,580,PBT,280,n/a,civil engineering,...,RA,16.85,1,0,texas a &amp;amp; m university,sharif,sharif,n/a,texas a &amp;amp; m university,2008
32,Doctorate,16.50,US,4,800,103,iBT,300,محل دریافت روادید: قبرس clearance (روز): 64,Mechanical Engineering,...,RA,18.5,2,5,"stanford, umich, ucsb, upenn, msu, ucr, mcgill",شريف,شريف,uiuc,stanford,2008
33,Doctorate,16.73,US,3,760,623,PBT,350,Unfortunately re-clearance needed,Mechanical Eng,...,RA,17.82,2,0,rensselaer polytech institute - university of ...,shahrekord university,university of tehran,northwestern n/a uci n/a michigan ann arbor n/...,rensselaer polytech inst,2008
34,Doctorate,16.40,Canada,4,162,102,iBT,160,A sum of $18812.00 will go towards annual tuition,Philosophy,...,TA/RA,3.98,3,0,"u of toronto, u of michigan, u of pittsburgh (...",شهیدبهشتی,virginia tech,"rutgers, stanford, ucla, ucsd, duke",university of toronto,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4278,Masters,19.23,US,n/a,n/a,115,iBT,n/a,محل دریافت روادید: دوبی clearance (روز): 0,Astrophysics,...,Award,n/a,3,0,"yale, princeton, stanford,epfl, berkeley",shiraz university,n/a,cornell,stanford,2017
4279,Doctorate,16.05,US,158,4,108,iBT,162,n/a,Neuroscience,...,TA/RA,18.54,3,0,n/a,دانشگاه تهران,پژوهشکده علوم شناختی,n/a,university of southern california,2017
4280,Doctorate,13.03,US,4,160,104,iBT,149,n/a,civil and environmental engineering,...,RA,16.05,0,0,n/a,sharif university of technology,sharif university of technology,n/a,university of missouri- columbia,2017
4281,Masters,13.72,Canada,n/a,n/a,94,iBT,n/a,یک مقاله ی چاپ شده و ده مقاله ی همایشی با وجود...,Master of Arts Social and Cultural Anthropology,...,RA,16.64,0,11,"concordia university, the arctic university of...",islamic azad university nour branch,sari agricultural sciences and natural resourc...,n/a,concordia university,2017
4282,Doctorate,17.60,Canada,n/a,n/a,6,IELTS,n/a,n/a,Electrical and Computer Engineering,...,RA,18.4,3,0,concordia univ,amirkabir,sharif,n/a,concordia univ,2017
4283,Doctorate,18.23,n/a,n/a,n/a,108,iBT,n/a,n/a,Finance,...,n/a,3.72,0,0,u of texas san antonio,shahid beheshti u,illinois institute of tech,n/a,n/a,2017
4284,Doctorate,14.10,US,3,166,7,IELTS,154,n/a,Industrial Engineering,...,n/a,17,8,0,n/a,دانشگاه آزاد اسلامی,دانشگاه آزاد اسلامی,n/a,north carolina state university,2017
4285,Masters,16.71,Italy,n/a,n/a,6.5,IELTS,n/a,n/a,Artificial Intelligence and Robotics,...,n/a,n/a,5,0,sapienza - roma university,روزبه زنجان,n/a,polimi,sapienza - roma university,2017
4286,Masters,15.00,US,3,168,100,iBT,148,محل دریافت روادید: آنکارا clearance (روز): 17,Biomedical Engineering,...,TA,n/a,0,1,n/a,university of tabriz,n/a,"tufts, university of houston, university of ka...",university of south carolina,2016
4287,Masters,16.42,England,n/a,n/a,96,iBT,n/a,n/a,Advanced Compter Science,...,Unknown,n/a,0,0,n/a,دانشگاه سمنان,n/a,n/a,university of sheffield,2017
4288,Masters,14.20,Spain,n/a,n/a,6,IELTS,n/a,محل دریافت روادید: تهران,International Business,...,n/a,16.31,4,5,ucam,azad university,azad university,n/a,ucam,2017
4290,Doctorate,17.67,US,3.5,164,7.5,PBT,144,n/a,construction and engineering management,...,TA,3.19,1,1,uc denver; nmsu,azad roudehen,liverpool,n/a,nmsu,2017
4291,Masters,15.31,Italy,n/a,n/a,n/a,n/a,n/a,n/a,Energy Engineering,...,n/a,n/a,0,0,sapienza,islamic azad university,n/a,"polimi, bologna",sapienza,2017
4292,Masters,14.34,US,3,168,98,iBT,143,n/a,Chemical engineering,...,TA/RA,n/a,0,0,"bologna ,ohio university",university of tehran,n/a,n/a,ohio university,2017
4293,Doctorate,16.63,n/a,n/a,n/a,4,IELTS,n/a,محل دریافت روادید: تهران,Jazaei feqh,...,Unknown,17.7,1,6,egypt,qom,qoran and hadith,n/a,egypt,2017
4294,Doctorate,16.75,France,3.5,163,n/a,n/a,155,n/a,Business Administration,...,n/a,16.4,0,0,n/a,علامه طباطبایی,تهران,n/a,grenoble ecole de management,2017
4295,Doctorate,15.40,Canada,n/a,n/a,90,iBT,n/a,n/a,chemical engineering,...,Award,17.3,4,2,ecole polytechnic montreal,باهنر,امیرکبیر,n/a,ecole polytechnic montreal,2017
4296,Doctorate,15.73,Canada,3,170,96,iBT,143,n/a,economics,...,n/a,18.32,0,0,ubc,شریف,شریف,n/a,ubc,2017
4297,Doctorate,18.04,Canada,n/a,n/a,87,iBT,n/a,n/a,Neuroscience,...,Unknown,18.06,2,0,mcgill university,razi university,national intitute of genetic engineering,n/a,mcgill university,2017
4298,Masters,15.97,Canada,n/a,n/a,8,IELTS,n/a,n/a,management science,...,n/a,n/a,0,0,n/a,azad tehran,n/a,n/a,waterloo,2017
4299,Masters,15.80,Sweden,n/a,n/a,7.5,IELTS,n/a,n/a,Industrial management and innovation,...,n/a,n/a,0,0,"uppsala,usn",petroleum university of technology,n/a,n/a,uppsala,2017
4300,Doctorate,4.50,n/a,n/a,n/a,n/a,n/a,n/a,محل دریافت روادید: تهران,medicine,...,n/a,n/a,0,0,n/a,umsa,n/a,n/a,n/a,2007
4301,Masters,13.56,US,n/a,n/a,80,iBT,n/a,30 درصد فاند شهریه + کار دانشجویی در سال اول )...,Arts photography,...,Award,n/a,0,0,syracuse university,هنر تهران,n/a,n/a,syracuse university,2017
4302,Masters,15.60,Italy,n/a,n/a,6.5,IELTS,n/a,پذیرش کال دوم...رزومه و ریکامندیشن قوی داشتم. ...,Electrical Engineering,...,n/a,n/a,0,0,"politecnico di milano , university of bologna",تهران,n/a,n/a,politecnico di milano,2017
4304,Masters,16.30,Canada,3,143,92,iBT,143,محل دریافت روادید: آنکارا,environment,...,n/a,n/a,0,0,"dalhousie university, iowa state university, p...",tabriz,n/a,n/a,dalhousie university,2017
4305,Doctorate,14.30,Canada,n/a,n/a,7.5,IELTS,n/a,محل دریافت روادید: استانبول,Chemical Engineering,...,TA/RA,18.03,2,2,mcmaster university,دانشگاه صنعتی امیرکبیر,دانشگاه صنعتی شریف,n/a,mcmaster university,2017
4306,Doctorate,15.35,Austria,n/a,n/a,n/a,n/a,n/a,مدرك زبان آلمانی A2,Nutrient,...,n/a,17.1,1,0,vienna,damqan azad university,damqan azad university,n/a,vienna,2017
4307,Doctorate,14.70,n/a,5,159,100,iBT,152,n/a,Biomedical Engineering,...,n/a,17.43,9,0,"uni of louisville , marquette uni,wright state...","azad, science research","azad, science research","penn, ucla, alberta, emory, mayo,tufts",n/a,2017
4308,Masters,15.02,Italy,n/a,n/a,5.5,IELTS,n/a,محل دریافت روادید: تهران,Design of Sustainable Tourism System,...,n/a,n/a,2,5,n/a,سمنان,n/a,n/a,university of florence,2017
4309,Doctorate,17.76,n/a,4,160,106,iBT,147,بیلکنت 6 روز بعد از ارسال مدارک و کوچ 12 روز ب...,Economics,...,TA,17.95,2,5,concordia university,urmia university,urmia university,"koc, bilkent",still working on it,2017