# Lab 4a: Data Modeling

** Introduction **

In this lab you will be asked to make [ER diagrams](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model) and star schemas. You will learn to identify the key elements in data preprocessing to make it more structured and consistent.

** Objective **

Understand modeling of data, which is a key data preprocessing step in the data pipeline.

** Tasks **
1. To draw an entity relationship (ER) Diagram.
1. To design a star schema

** Note **
We recommended using [Google Drawings](https://drawings.google.com), which is an online image creator that can be used to draw ER diagrams and schemas.

### Part 4a.1: Entity Relationship (ER) Diagram: 

#### Example:
Lets consider a Movie Database of a website like IMDB. For simplicity, lets assume each movie casts at least 5 actors.

The ER Diagram for this scenario can be shown as follows:

<img src="ER Diagram_example.jpg", width = "650">

**TASK 1**

Zeke finds data science very intriguing and  wants to embark on a journey into the field by working as a summer intern for PlanetNext, which is a famous car manufacturing company.

His manager gave the following data for him to interpret:

Each factory at PlanetNext manufactures at least 100 cars every day. Each of these cars is manufactured and assembled exclusively in at most one factory. The engineers at the factory assemble at least 10 cars daily. Each car requires at most 5 engineers to assemble the model. The engineers are involved in assembling multiple cars and arenâ€™t exclusively assigned to specific cars.

The manager wants Zeke to help PlanetNext understand the data better by modeling relationships between each of the entities, which could be identified from the data given to him.

Your task here is to help Zeke identify the entities from the data and model the data by mapping relationships between the entities you have identified with an ER diagram.

#### Draw an ER diagram, save your drawing as an image file and attach it to the cell below.


** Please include an Image file for the ER Diagram here:**
# YOUR CODE HERE

### Part 4a.2: Design a Star Schema:

#### Example:
Lets consider the Movie Database of a website like IMDB again. For simplicity, lets assume we have only actors table present which contains ID and name of each actor.

The Star Schema for this scenario can be shown as follows:

<img src="Star Schema_example.jpg", width = "650">

** TASK 2**

Zeke has now finished his Summer Internship and he is now heading back to school. He has gained sufficient experience during his time and now Zeke's advisor needs his help. Zeke's advisor at Brown University tells him that he has a sample dataset and he would like to model the data. His advisor asks him to examine some flat data and determine an appropriate schema to efficiently represent that data in a SQL database. The data given by his advisor is present in `student_data.csv`

Your task here is to help Zeke in building a **[star schema](https://en.wikipedia.org/wiki/Star_schema)** for this dataset.

##### Analyzing the data:
Let's first read the csv file and display its contents.

In [1]:
import pandas as pd

# read data in and show head for top 5 rows or view all rows
df = pd.read_csv('student_data.csv', encoding='')
df

       name  age         degree            course grade instructor
0       Jin   25       graduate      data science     B       Ugur
1  Abhishek   23       graduate      data science     A       Ugur
2      Luke   19  undergraduate  machine learning     B      Pedro
3    Sherry   23       graduate     deep learning     A        Dan
4      Nick   22  undergraduate     deep learning     A        Dan

There are 6 columns in the csv file.  

####   Draw a star schema for this dataset, save your drawing as an image file and attach it to the cell below.


** Tips:**
1. Your star schema should be composed of one fact table and two dimension tables. 
1. For each table, underline primary key.
1. Specify data types for each item.
1. Draw 1:N, N:1, N:N or 1:1 on connecting line.
1. You can refer to [here](https://stackoverflow.com/questions/255170/markdown-and-image-alignment) for including image in markdown.

** Please include an Image file for the Star Schema here:**

# YOUR CODE HERE