In [3]:
from google.cloud import bigquery
from bs4 import BeautifulSoup
import os

In [4]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'/Users/jason/Documents/Jason/JobMatch/job-match-271401-74d3c9eb9112.json'

In [5]:
query = """
select *
from job_search.job_details
where search_datetime between '2020-05-01' and '2020-05-03'
and lower(title) like '%data%sci%'
"""

In [6]:
bq_client = bigquery.Client()
df = bq_client.query(query).result().to_dataframe()

In [7]:
df.shape

(62, 11)

In [8]:
df.head()

,job_id,search_datetime,location,search_title,search_location,search_detail_datetime,title,job_desc,company,company_rating,company_rating_count
0,44581b261abec239,2020-05-02 15:29:00+00:00,"Dallas, TX",IT+Engineer,Dallas,2020-05-04 02:01:00+00:00,"Sr. Data Scientist (Dallas, TX)","<div class=""jobsearch-jobDescriptionText"" id=""...",Tiger Analytics,0.0,0
1,16bdb1763913307c,2020-05-02 23:14:00+00:00,"Louisville, CO 80027",data+analyst,Denver,2020-05-04 02:01:00+00:00,Data Science Internship,"<div class=""jobsearch-jobDescriptionText"" id=""...",GHX,3.2,22
2,8dc961b84c2d9b33,2020-05-02 23:14:00+00:00,"Tampa, FL 33607",data+analyst,Tampa,2020-05-04 02:00:00+00:00,Director of Data Science & Analytics,"<div class=""jobsearch-jobDescriptionText"" id=""...",ClearSource,3.8,69
3,60baeac4d4fbd010,2020-05-02 23:12:00+00:00,"Omaha, NE",data+scientist,Omaha,2020-05-04 02:00:00+00:00,Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""...","GrainBridge, LLC",0.0,0
4,fb253e56a646292a,2020-05-02 23:13:00+00:00,"Reston, VA",data+scientist,Reston,2020-05-04 02:01:00+00:00,Senior Data Science Consultant,"<div class=""jobsearch-jobDescriptionText"" id=""...",Raft,0.0,0

In [9]:
df['job_desc'] = df['job_desc'].apply(lambda x: BeautifulSoup(x, 'html.parser').text)

In [10]:
df.head()

,job_id,search_datetime,location,search_title,search_location,search_detail_datetime,title,job_desc,company,company_rating,company_rating_count
0,44581b261abec239,2020-05-02 15:29:00+00:00,"Dallas, TX",IT+Engineer,Dallas,2020-05-04 02:01:00+00:00,"Sr. Data Scientist (Dallas, TX)",Tiger Analytics is looking for experienced Dat...,Tiger Analytics,0.0,0
1,16bdb1763913307c,2020-05-02 23:14:00+00:00,"Louisville, CO 80027",data+analyst,Denver,2020-05-04 02:01:00+00:00,Data Science Internship,The Intern would work in support of Data Scien...,GHX,3.2,22
2,8dc961b84c2d9b33,2020-05-02 23:14:00+00:00,"Tampa, FL 33607",data+analyst,Tampa,2020-05-04 02:00:00+00:00,Director of Data Science & Analytics,As the Director of the eCommerce Data Science ...,ClearSource,3.8,69
3,60baeac4d4fbd010,2020-05-02 23:12:00+00:00,"Omaha, NE",data+scientist,Omaha,2020-05-04 02:00:00+00:00,Data Scientist,DESCRIPTION\nGrainBridge is seeking a talented...,"GrainBridge, LLC",0.0,0
4,fb253e56a646292a,2020-05-02 23:13:00+00:00,"Reston, VA",data+scientist,Reston,2020-05-04 02:01:00+00:00,Senior Data Science Consultant,Who we are: We (http://goraft.tech/) are growi...,Raft,0.0,0

In [13]:
print(df.job_desc[12])

The Challenge:
Are you excited at the prospect of unlocking the secrets held by a data set? Are you fascinated by the possibilities presented by the IoT, machine learning, and artificial intelligence advances? In an increasingly connected world, massive amounts of structured and unstructured data open up new opportunities. As a data scientist, you can turn these complex data sets into useful information to solve global challenges. Across private and public sectors — from fraud detection, to cancer research, to national intelligence — you know the answers are in the data.
We have an opportunity for you to use your analytical skills to improve mission integration across the US intelligence community (IC). You’ll work closely with your customer to understand their questions and needs, then dig into their data-rich environment to find the pieces of their information puzzle. You’ll write scripts to integrate data, conduct exploratory data analysis to discover hidden trends, apply machine learning to train predictive models, and use the right combination of tools and frameworks to turn that set of disparate data points into objective answers to help senior managers make informed decisions. You’ll provide your customer with a deep understanding of their data, what it all means, and how they can use it. Join us as we use data science for good in support of the IC's global mission.
Empower change with us.
You Have:
3 years of experience with using programming languages, including Python, R, or Java to manipulate and analyze dataExperience with using SQL to conduct complex database queriesExperience with developing data visualizations or dashboards to communicate key insightsTS/SCI clearanceBA or BS degree
Nice If You Have:
Experience with using Tableau to blend and analyze data from various sourcesKnowledge of natural language processing techniquesKnowledge of commercial cloud services used by the ICPossession of excellent oral and written communication skills, including communicating information to a senior executive audienceMA or MS degree in Mathematics, Statistics, CS, Data Analytics, or a related technical field

Clearance:
Applicants selected will be subject to a security investigation and may need to meet eligibility requirements for access to classified information; TS/SCI clearance is required.

Build Your Career:
At Booz Allen, we know the power of analytics and we’re dedicated to helping you grow as a data analysis professional. When you join Booz Allen, you’ll have the chance to:
access online and onsite training in data analysis and presentation methodologies, and tools like Hortonworks, Docker, Tableau, and Splunk
change the world with the Data Science Bowl—the world’s premier data science for social good competition
participate in partnerships with data science leaders, like our partnership with NVIDIA to deliver Deep Learning Institute (DLI) training to the federal government
You’ll have access to a wealth of training resources through our Analytics University, an online learning portal specifically geared towards data science and analytics skills, where you can access more than 5000 functional and technical courses, certifications, and books. Build your technical skills through hands-on training on the latest tools and state-of-the-art tech from our in-house experts. Pursuing certifications that directly impact your role? You may be able to take advantage of our tuition assistance, onsite boot camps, certification training, academic programs, vendor relationships, and a network of professionals who can give you helpful tips. We’ll help you develop the career you want as you chart your own course for success.
We’re an EOE that empowers our people—no matter their race, color, religion, sex, gender identity, sexual orientation, national origin, disability, veteran status, or other protected characteristic—to fearlessly drive change.
#LI-AH1, APC1, CJ1, NSG1, WP1

# NLP TFIDF

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [14]:
# https://kavita-ganesan.com/extracting-keywords-from-text-tfidf/#.XrykpBNKiL4
from sklearn.feature_extraction.text import CountVectorizer

 
#get the text column 
docs=df.job_desc.tolist()
 
#create a vocabulary of words, 
#ignore words that appear in 85% of documents, 
#eliminate stop words
cv=CountVectorizer(max_df=0.85,stop_words=stopwords.words('english'))
word_count_vector=cv.fit_transform(docs)

In [17]:
from sklearn.feature_extraction.text import TfidfTransformer
 
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [19]:
# you only needs to do this once, this is a mapping of index to 
feature_names=cv.get_feature_names()
 
# get the document that we want to extract keywords from
doc=df.job_desc[0]
 
#generate tf-idf for the given document
tf_idf_vector=tfidf_transformer.transform(cv.transform([doc]))
 
#sort the tf-idf vectors by descending order of scores
sorted_items=sort_coo(tf_idf_vector.tocoo())
 
#extract only the top n; n here is 10
keywords=extract_topn_from_vector(feature_names,sorted_items,10)
 
# now print the results
print("\n=====Doc=====")
print(doc)
print("\n===Keywords===")
for k in keywords:
    print(k,keywords[k])

NameError: name 'sort_coo' is not defined

In [ ]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [ ]:
# https://stackoverflow.com/questions/47638877/using-phrasematcher-in-spacy-to-find-multiple-match-types
# https://course.spacy.io/en/chapter2

In [ ]:
tech_skills = ['Python', 'ReactJS', 'MongoDB','SQL','JavaScript', 'Tableau', 'Java'
               'R', 'Matlab', 'Julia', 'Matlab', 'Mathematica', 'Spark', 'PySpark' ,'Hadoop', 'NoSQL', 'Postgres',
              'S3', 'EC2', 'MapReduce', 'Pig', 'Hive', 'HTML5', 'CSS', 'R Shiny', 'Power BI', 'matplotlib', 
               'seaborn', 'bokeh', 'pandas', 'JIRA', 'Agile', 'Natural Language Processing',
              'AWS', 'Azure', 'Google Cloud', 'GCP', 'Databricks', 'Deep Learning', 'Graph database', 'Scala',
               'SAS','C++', 'Linux','Spotfire', 'Oracle','Apache', 'SPSS','SAP', 'Teradata'
              ]
concepts = ['machine learning', 'Business Intelligence', 'Computer Science', 'Statistics', 'Economics',
            'Physics', 'Engineering', 'Mathematics','feature engineering', 'recommender systems', 'NLP', 
            'computer vision', 'Information Systems', 'Economics', 'ML', 'AI'
           ]