# 2 Feb Assignment

### Q1...

Ans:

#### Tuples have the given characteristics: 
* They are indexed
* Tuples are ordered
* These are immutable
* They can contain duplicate items

##### Yes tuple is immutable

### Q2

### The two tuple method are:
* count() : Return number of occurrences of value
* index() : Return first index of value

##### Tuple has only two built in method because it is immutable

In [1]:
# Example
t = (1,2,3,4,5,6,2,1,True)
print(t.count(1))
print(t.index(True))

3
0

### Q3

In [2]:
# Set do not allow duplicate item

list1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
list2 = set(list1)
print(list(list2))

[1, 2, 3, 4]

### Q4

In [23]:
# update() adds all missing elements to the set on which it is called whereas set. 
# union() creates a new set

# Example

s = {1,2,3,4}
t = {"a",4,5}

print(s.union(t))
print(s.update(t))
s #upddate using update method

{1, 2, 3, 4, 5, 'a'}
None

{1, 2, 3, 4, 5, 'a'}

### Q5

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates

In [32]:
# Example
dict = {"Name":"Akki", "Age":20, "Eduction":{"Collge": "PDM", "Location": "Bahadurgarh"}}
print(dict)
print(dict.keys())
print(dict.values())

{'Name': 'Akki', 'Age': 20, 'Eduction': {'Collge': 'PDM', 'Location': 'Bahadurgarh'}}
dict_keys(['Name', 'Age', 'Eduction'])
dict_values(['Akki', 20, {'Collge': 'PDM', 'Location': 'Bahadurgarh'}])

### Q6

In [30]:
# Yes we can create a nested Dictionary. Here's an example:
dict = {"Name":"Akki", "Age":20, "Eduction":{"Collge": "PDM", "Location": "Bahadurgarh"}}
dict

{'Name': 'Akki',
 'Age': 20,
 'Eduction': {'Collge': 'PDM', 'Location': 'Bahadurgarh'}}

### Q7

In [42]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
list1 = ["Python", "Machine Learning", "Deep Learning"]

dict1.setdefault("topics",list1)
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### Q8

The three view objects in the dictonary are key, value and item.

In [49]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])