In [1]:
from nselib import capital_market as ca

In [28]:
market_indices=ca.market_watch_all_indices()

In [29]:
market_indices

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,23398.90,75.95,0.33,23480.95,23481.05,23353.90,23322.95,...,1.24,15,35,0,24.61,5.51,23264.85,22821.40,22104.05,18716.15
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,70842.55,640.40,0.91,70831.40,70933.55,70231.80,70202.15,...,0.97,22,28,0,62.21,9.09,69678.70,68224.45,64354.40,43278.65
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,24449.50,100.70,0.41,24527.05,24527.15,24376.75,24348.80,...,1.15,38,63,0,30.43,6.07,24271.05,23806.95,22956.35,18668.00
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,13282.50,62.55,0.47,13317.65,13317.70,13237.85,13219.95,...,1.08,74,127,0,33.96,6.53,13162.70,12902.20,12410.00,9868.80
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,22074.30,113.35,0.52,22120.75,22120.80,21992.15,21960.95,...,1.04,186,313,3,36.84,7.07,21852.00,21365.00,20511.00,16048.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,879.02,1.43,0.16,877.59,879.31,877.59,877.59,...,,NaN,NaN,NaN,-0.57,0.43,877.58,877.34,874.05,882.84
73,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2845.26,3.26,0.11,2842.56,2845.37,2842.56,2842.00,...,,NaN,NaN,NaN,6.88,0.91,2842.17,2837.68,2816.42,2659.11
74,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2909.14,5.27,0.18,2904.43,2909.14,2904.43,2903.87,...,,NaN,NaN,NaN,7.7,1.30,2903.50,2899.46,2867.13,2696.83
75,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3215.27,6.71,0.20,3209.19,3216.53,3209.19,3208.56,...,,NaN,NaN,NaN,8.81,1.52,3207.19,3200.37,3161.31,2949.69
76,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2720.77,4.30,0.15,2717.00,2720.83,2717.00,2716.47,...,,NaN,NaN,NaN,7.3,1.11,2715.96,2711.01,2687.22,2532.14

In [6]:
market_indices.key

0     BROAD MARKET INDICES
1     BROAD MARKET INDICES
2     BROAD MARKET INDICES
3     BROAD MARKET INDICES
4     BROAD MARKET INDICES
              ...
72    FIXED INCOME INDICES
73    FIXED INCOME INDICES
74    FIXED INCOME INDICES
75    FIXED INCOME INDICES
76    FIXED INCOME INDICES
Name: key, Length: 77, dtype: object

In [10]:
indicess_name=market_indices.key.value_counts()

In [11]:
indicess_name

key
STRATEGY INDICES        19
BROAD MARKET INDICES    18
THEMATIC INDICES        17
SECTORAL INDICES        16
FIXED INCOME INDICES     7
Name: count, dtype: int64

In [16]:
type(indicess_name.index)

pandas.core.indexes.base.Index

In [18]:
for i in indicess_name.index:
    print(i)

STRATEGY INDICES
BROAD MARKET INDICES
THEMATIC INDICES
SECTORAL INDICES
FIXED INCOME INDICES

In [20]:
indicess_name.index[0]

'STRATEGY INDICES'

In [31]:
market_indices[market_indices.key==indicess_name.index[0]]

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
34,STRATEGY INDICES,NIFTY DIVIDEND OPPORTUNITIES 50,NIFTY DIV OPPS 50,6211.95,25.80,0.42,6225.65,6225.70,6186.40,6186.15,...,2.49,18,32,0,48.08,5.98,6149.95,6020.60,5837.30,4177.65
35,STRATEGY INDICES,NIFTY GROWTH SECTORS 15,NIFTY GROWSECT 15,11095.20,22.15,0.20,11127.90,11128.10,11075.25,11073.05,...,1.99,7,8,0,18.07,3.25,11103.50,10963.60,10724.00,9378.40
36,STRATEGY INDICES,NIFTY100 QUALITY 30,NIFTY100 QUALTY30,5631.20,25.40,0.45,5636.20,5636.35,5600.80,5605.80,...,1.66,11,19,0,32.44,7.23,5594.70,5503.50,5227.80,4232.85
37,STRATEGY INDICES,NIFTY50 VALUE 20,NIFTY50 VALUE 20,12763.00,19.65,0.15,12825.55,12825.80,12734.80,12743.35,...,2.17,6,14,0,31.68,3.54,12714.90,12478.15,12308.00,9677.65
38,STRATEGY INDICES,NIFTY50 TR 2X LEVERAGE,NIFTY50 TR 2X LEV,19080.25,120.10,0.63,19213.70,19213.70,19007.10,18960.15,...,,NaN,NaN,NaN,46.3,10.58,18869.30,18172.00,17146.45,12959.70
39,STRATEGY INDICES,NIFTY50 PR 2X LEVERAGE,NIFTY50 PR 2X LEV,13214.35,83.20,0.63,13306.75,13306.75,13163.70,13131.15,...,,NaN,NaN,NaN,42.86,9.95,13068.25,12591.05,11942.35,9191.30
40,STRATEGY INDICES,NIFTY50 TR 1X INVERSE,NIFTY50 TR 1X INV,173.30,-0.50,-0.29,172.65,173.60,172.65,173.80,...,,NaN,NaN,NaN,-16.58,-5.62,174.20,177.55,184.15,208.35
41,STRATEGY INDICES,NIFTY50 PR 1X INVERSE,NIFTY50 PR 1X INV,208.00,-0.65,-0.31,207.25,208.40,207.25,208.65,...,,NaN,NaN,NaN,-15.59,-5.35,209.15,213.10,220.45,247.20
42,STRATEGY INDICES,NIFTY50 DIVIDEND POINTS,NIFTY50 DIV POINT,100.12,0.00,0.00,100.12,100.12,100.12,100.12,...,,NaN,NaN,NaN,35.55,166.28,100.12,94.85,37.60,73.86
43,STRATEGY INDICES,NIFTY ALPHA 50,NIFTY ALPHA 50,55720.25,530.20,0.96,55661.40,55776.95,55346.60,55190.05,...,0.64,17,33,0,81.75,12.81,54748.90,53418.95,48922.70,30366.70
44,STRATEGY INDICES,NIFTY50 EQUAL WEIGHT,NIFTY50 EQL WGT,29901.15,166.60,0.56,29942.60,29943.75,29774.60,29734.55,...,1.24,15,35,0,35.86,6.33,29632.05,28930.90,27963.85,21886.90
45,STRATEGY INDICES,NIFTY100 EQUAL WEIGHT,NIFTY100 EQL WGT,32266.85,186.55,0.58,32316.70,32317.30,32097.65,32080.30,...,1.05,38,63,0,47.43,7.40,31930.45,31242.05,29871.00,21758.95
46,STRATEGY INDICES,NIFTY100 LOW VOLATILITY 30,NIFTY100 LOWVOL30,18854.35,15.30,0.08,18928.80,18929.80,18784.25,18839.05,...,1.2,11,19,0,32.7,5.26,18813.45,18439.10,17897.35,14196.70
47,STRATEGY INDICES,NIFTY200 QUALITY 30,NIFTY200 QUALTY30,20573.15,98.75,0.48,20587.60,20591.40,20464.70,20474.40,...,1.64,10,20,0,33.48,8.62,20409.90,20039.45,18849.95,15339.30
48,STRATEGY INDICES,NIFTY ALPHA LOW-VOLATILITY 30,NIFTY ALPHALOWVOL,27887.25,89.20,0.32,27967.45,27967.60,27735.45,27798.05,...,1.23,14,16,0,49.14,5.15,27682.60,27006.40,26435.40,18638.75
49,STRATEGY INDICES,NIFTY200 MOMENTUM 30,NIFTY200MOMENTM30,35848.30,354.30,1.00,35807.70,35890.50,35445.90,35494.00,...,1.25,7,23,0,68.56,9.55,35211.30,34252.80,32400.30,21057.65
50,STRATEGY INDICES,NIFTY MIDCAP150 QUALITY 50,NIFTY M150 QLTY50,24249.85,259.25,1.08,24141.60,24283.95,24102.80,23990.60,...,1.15,13,37,0,40.72,11.78,23823.85,23124.45,21463.20,17048.15
51,STRATEGY INDICES,NIFTY200 ALPHA 30,NIFTY200 ALPHA 30,27146.55,443.25,1.66,26961.05,27186.65,26766.25,26703.30,...,1.24,7,23,0,-,9.83,26430.10,25653.95,24312.60,NaN
52,STRATEGY INDICES,NIFTY MIDCAP150 MOMENTUM 50,NIFTYM150MOMNTM50,62846.30,454.50,0.73,62929.70,63146.85,62532.95,62391.80,...,0.77,14,36,0,-,9.75,61915.50,60181.75,56846.45,NaN

In [27]:
market_indices.key.value_counts()

key
STRATEGY INDICES    77
Name: count, dtype: int64

In [37]:
market_indices["index"].value_counts().sort_values(ascending=True)

index
NIFTY 50                             1
NIFTY 500                            1
NIFTY MIDCAP 50                      1
NIFTY MIDCAP 100                     1
NIFTY SMALLCAP 100                   1
                                    ..
NIFTY 15 YR AND ABOVE G-SEC INDEX    1
NIFTY MNC                            1
NIFTY MIDCAP LIQUID 15               1
NIFTY 8-13 YR G-SEC                  1
NIFTY COMPOSITE G-SEC INDEX          1
Name: count, Length: 77, dtype: int64

In [41]:
market_indices["last"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 77 entries, 0 to 76
Series name: last
Non-Null Count  Dtype
--------------  -----
77 non-null     float64
dtypes: float64(1)
memory usage: 744.0 bytes

In [42]:
import pandas as pd

In [44]:
market_indices.itertuples(25)

In [45]:
market_indices.interpolate()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,23398.90,75.95,0.33,23480.95,23481.05,23353.90,23322.95,...,1.24,15,35,0,24.61,5.51,23264.85,22821.40,22104.05,18716.15
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,70842.55,640.40,0.91,70831.40,70933.55,70231.80,70202.15,...,0.97,22,28,0,62.21,9.09,69678.70,68224.45,64354.40,43278.65
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,24449.50,100.70,0.41,24527.05,24527.15,24376.75,24348.80,...,1.15,38,63,0,30.43,6.07,24271.05,23806.95,22956.35,18668.00
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,13282.50,62.55,0.47,13317.65,13317.70,13237.85,13219.95,...,1.08,74,127,0,33.96,6.53,13162.70,12902.20,12410.00,9868.80
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,22074.30,113.35,0.52,22120.75,22120.80,21992.15,21960.95,...,1.04,186,313,3,36.84,7.07,21852.00,21365.00,20511.00,16048.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,879.02,1.43,0.16,877.59,879.31,877.59,877.59,...,,NaN,NaN,NaN,-0.57,0.43,877.58,877.34,874.05,882.84
73,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2845.26,3.26,0.11,2842.56,2845.37,2842.56,2842.00,...,,NaN,NaN,NaN,6.88,0.91,2842.17,2837.68,2816.42,2659.11
74,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2909.14,5.27,0.18,2904.43,2909.14,2904.43,2903.87,...,,NaN,NaN,NaN,7.7,1.30,2903.50,2899.46,2867.13,2696.83
75,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3215.27,6.71,0.20,3209.19,3216.53,3209.19,3208.56,...,,NaN,NaN,NaN,8.81,1.52,3207.19,3200.37,3161.31,2949.69
76,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2720.77,4.30,0.15,2717.00,2720.83,2717.00,2716.47,...,,NaN,NaN,NaN,7.3,1.11,2715.96,2711.01,2687.22,2532.14

In [46]:
market_indices

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,23398.90,75.95,0.33,23480.95,23481.05,23353.90,23322.95,...,1.24,15,35,0,24.61,5.51,23264.85,22821.40,22104.05,18716.15
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,70842.55,640.40,0.91,70831.40,70933.55,70231.80,70202.15,...,0.97,22,28,0,62.21,9.09,69678.70,68224.45,64354.40,43278.65
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,24449.50,100.70,0.41,24527.05,24527.15,24376.75,24348.80,...,1.15,38,63,0,30.43,6.07,24271.05,23806.95,22956.35,18668.00
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,13282.50,62.55,0.47,13317.65,13317.70,13237.85,13219.95,...,1.08,74,127,0,33.96,6.53,13162.70,12902.20,12410.00,9868.80
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,22074.30,113.35,0.52,22120.75,22120.80,21992.15,21960.95,...,1.04,186,313,3,36.84,7.07,21852.00,21365.00,20511.00,16048.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,879.02,1.43,0.16,877.59,879.31,877.59,877.59,...,,NaN,NaN,NaN,-0.57,0.43,877.58,877.34,874.05,882.84
73,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2845.26,3.26,0.11,2842.56,2845.37,2842.56,2842.00,...,,NaN,NaN,NaN,6.88,0.91,2842.17,2837.68,2816.42,2659.11
74,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2909.14,5.27,0.18,2904.43,2909.14,2904.43,2903.87,...,,NaN,NaN,NaN,7.7,1.30,2903.50,2899.46,2867.13,2696.83
75,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3215.27,6.71,0.20,3209.19,3216.53,3209.19,3208.56,...,,NaN,NaN,NaN,8.81,1.52,3207.19,3200.37,3161.31,2949.69
76,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2720.77,4.30,0.15,2717.00,2720.83,2717.00,2716.47,...,,NaN,NaN,NaN,7.3,1.11,2715.96,2711.01,2687.22,2532.14

In [47]:
ca.price_volume_and_deliverable_position_data()

TypeError: price_volume_and_deliverable_position_data() missing 1 required positional argument: 'symbol'

In [50]:
testdata1=ca.bulk_deal_data("17-05-2024","13-06-2024")

In [51]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,"2,000",51.45,-
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,"58,000",51.58,-
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,"60,000",289.24,-
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,"60,000",280.97,-
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,"32,30,372",387.01,-
...,...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,"68,957",377.21,-
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,"8,84,345",17.19,-
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,"9,47,205",17.26,-
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,"75,000",41.39,-
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,"4,861",39.85,-

In [53]:
testdata1.columns

Index(['Date', 'Symbol', 'SecurityName', 'ClientName', 'Buy/Sell',
       'QuantityTraded', 'TradePrice/Wght.Avg.Price', 'Remarks'],
      dtype='object')

In [55]:
testdata1.head()

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,"2,000",51.45,-
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,"58,000",51.58,-
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,"60,000",289.24,-
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,"60,000",280.97,-
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,"32,30,372",387.01,-

In [56]:
testdata1.tail()

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,"68,957",377.21,-
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,"8,84,345",17.19,-
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,"9,47,205",17.26,-
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,"75,000",41.39,-
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,"4,861",39.85,-

In [57]:
testdata1.columns

Index(['Date', 'Symbol', 'SecurityName', 'ClientName', 'Buy/Sell',
       'QuantityTraded', 'TradePrice/Wght.Avg.Price', 'Remarks'],
      dtype='object')

In [63]:
testdata1.dtypes

Date                         object
Symbol                       object
SecurityName                 object
ClientName                   object
Buy/Sell                     object
QuantityTraded               object
TradePrice/Wght.Avg.Price    object
Remarks                      object
dtype: object

In [64]:
testdata1.describe()

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
count,1767,1767,1767,1767,1767,1767,1767,1767
unique,20,331,330,440,2,1058,1284,1
top,11-JUN-2024,SANGINITA,Sanginita Chemicals Limit,GRAVITON RESEARCH CAPITAL LLP,SELL,"70,000",16.60,-
freq,310,92,92,338,918,17,40,1767

In [65]:
testdata1.columns

Index(['Date', 'Symbol', 'SecurityName', 'ClientName', 'Buy/Sell',
       'QuantityTraded', 'TradePrice/Wght.Avg.Price', 'Remarks'],
      dtype='object')

In [76]:
testdata1["QuantityTraded"]=testdata1["QuantityTraded"].str.replace(",","").astype("int")

In [78]:
testdata1.dtypes

Date                         object
Symbol                       object
SecurityName                 object
ClientName                   object
Buy/Sell                     object
QuantityTraded                int32
TradePrice/Wght.Avg.Price    object
Remarks                      object
dtype: object

In [79]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,2000,51.45,-
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,58000,51.58,-
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,60000,289.24,-
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,60000,280.97,-
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01,-
...,...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21,-
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,884345,17.19,-
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,947205,17.26,-
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,75000,41.39,-
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,4861,39.85,-

In [83]:
testdata1["TradePrice/Wght.Avg.Price"]=testdata1["TradePrice/Wght.Avg.Price"].str.replace(",","").astype("float")

In [84]:
testdata1.dtypes

Date                          object
Symbol                        object
SecurityName                  object
ClientName                    object
Buy/Sell                      object
QuantityTraded                 int32
TradePrice/Wght.Avg.Price    float64
Remarks                       object
dtype: object

In [87]:
testdata1["Remarks"].value_counts()

Remarks
-    1767
Name: count, dtype: int64

In [88]:
testdata1.drop("Remarks",axis=1,inplace=True)

In [92]:
countdata=testdata1["ClientName"].value_counts()

In [97]:
countdata.index.shape

(440,)

In [101]:
countdata

ClientName
GRAVITON RESEARCH CAPITAL LLP                         338
HRTI PRIVATE LIMITED                                  110
MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED      80
QE SECURITIES LLP                                      54
MANSI SHARE AND STOCK ADVISORS PVT LTD                 39
                                                     ...
MANJULABEN BABULAL MUNGARA                              1
360 ONE ASSET MANAGEMENT LIMITED                        1
CRAFT EMERGING MARKET FUND PCC- ELITE CAPITAL FUND      1
BENGAL FIN. & INV. PVT. LTD                             1
POWER MECH INFRA PRIVATE LIMITED                        1
Name: count, Length: 440, dtype: int64

In [106]:
testdata1[testdata1["ClientName"]=="GRAVITON RESEARCH CAPITAL LLP"].sort_index(ascending=False)

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21
1761,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,BUY,68957,376.56
1760,13-JUN-2024,UTTAMSUGAR,Uttam Sugar Mills Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,200884,368.52
1759,13-JUN-2024,UTTAMSUGAR,Uttam Sugar Mills Limited,GRAVITON RESEARCH CAPITAL LLP,BUY,200884,368.19
1758,13-JUN-2024,USK,Udayshivakumar Infra Ltd,GRAVITON RESEARCH CAPITAL LLP,SELL,310596,71.43
...,...,...,...,...,...,...,...
16,17-MAY-2024,MOIL,MOIL Limited,GRAVITON RESEARCH CAPITAL LLP,BUY,1421230,479.01
9,17-MAY-2024,GRSE,Garden Reach Ship,GRAVITON RESEARCH CAPITAL LLP,SELL,578862,1052.28
8,17-MAY-2024,GRSE,Garden Reach Ship,GRAVITON RESEARCH CAPITAL LLP,BUY,578862,1052.07
5,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,SELL,3206972,387.55
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01

In [109]:
testdata1["SecurityName"].value_counts()

SecurityName
Sanginita Chemicals Limit    92
Hoac Foods India Limited     51
Paras Def and Spce Tech L    50
TruCap Finance Limited       49
Sakuma Exports Limited       37
                             ..
Aatmaj Healthcare Limited     1
Jash Engineering Limited      1
Kamdhenu Ispat Limited        1
Poonawalla Fincorp Ltd        1
Indraprastha Gas Limited      1
Name: count, Length: 330, dtype: int64

In [110]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,2000,51.45
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,58000,51.58
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,60000,289.24
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,60000,280.97
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01
...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,884345,17.19
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,947205,17.26
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,75000,41.39
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,4861,39.85

1. in the data 17 may 2024 to 13 jun 2024 available

In [111]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,2000,51.45
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,58000,51.58
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,60000,289.24
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,60000,280.97
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01
...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,884345,17.19
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,947205,17.26
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,75000,41.39
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,4861,39.85

2. in the data 1767 row and 7 column are available

In [112]:
testdata1.shape

(1767, 7)

In [113]:
testdata1.columns

Index(['Date', 'Symbol', 'SecurityName', 'ClientName', 'Buy/Sell',
       'QuantityTraded', 'TradePrice/Wght.Avg.Price'],
      dtype='object')

3. in the data column are mention above
4. the data "Quantity Trade" and "tradePrice" are integer and float values respectively

In [114]:
testdata1.count()

Date                         1767
Symbol                       1767
SecurityName                 1767
ClientName                   1767
Buy/Sell                     1767
QuantityTraded               1767
TradePrice/Wght.Avg.Price    1767
dtype: int64

5. in the data no null value are available

In [115]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,2000,51.45
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,58000,51.58
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,60000,289.24
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,60000,280.97
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01
...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,884345,17.19
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,947205,17.26
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,75000,41.39
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,4861,39.85

In [117]:
testdata1["ClientName"].unique()

array(['SUHAS RAJU VASISHTHA', 'NIKUNJ KAUSHIK SHAH',
       'GRAVITON RESEARCH CAPITAL LLP', 'ELUHIM LIMITED', 'NITN  KAPOOR',
       'ANKITA VISHAL SHAH', 'SETU SECURITIES PVT LTD', 'MOVING LIMITED',
       'DARSHAN PRADIP DOSHI',
       'ZINNIA GLOBAL FUND PCC - CELL DEWCAP FUND',
       'NEIGHBOURHOOD INVESTMENT PRIVATE LIMITED',
       'NISHCHAYA TRADINGS PRIVATE LIMITED', 'VT CAPITAL MARKET PVT LTD',
       'ALOK BANSAL', 'YASHISH DAHIYA', 'ANIL VISHANJI DEDHIA',
       'GREEN PEAKS ENTERPRISES LLP', 'PRAVEEN KUMAR  GUPTA',
       'YUGA STOCKS AND COMMODITIES PRIVATE LIMITED  .',
       'VISHAL BIPINKUMAR DOSHI', 'DINESHSINH BHIMSINH CHAVADA',
       'MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED',
       'SANGINITA INDUSTRIES LLP', 'SRESTHA FINVEST LIMITED',
       'JINESH ASHWIN MATALIA', 'NALIN RAMANIKLAL SHAH',
       'BHAVNA ABHIRAM BHAI NATHWANI',
       'MANSI SHARE AND STOCK ADVISORS PVT LTD',
       'VISCO TRADE ASSOCIATES LIMITED', 'SIGMA INSIGHTS PRIVATE LIMITED',
       'NILESH KISHOR SHAH', 'IND SWIFT LABORATORIES LIMITED',
       'NIVL IT SERVICES PRIVATE LIMITED',
       'OSC GLOBAL PROCESSING PRIVATE LIMITED',
       'NEOMILE GROWTH FUND - SERIES I', 'KIFS  ENTERPRISE',
       'ANKUSH  KEDIA', 'EPITOME TRADING AND INVESTMENTS',
       'EVERMORE SHARE BROKING PRIVATE LIMITED', 'SHAIK AMZAD',
       'PARAG  SHAH', 'SUSHILA GAUTAMLAL KALAL', 'RAJESH PANDEY',
       'EAST BRIDGE CAPITAL MASTER FUND I LTD', 'JIH II LLC',
       'SBI MUTUAL FUND', 'WESTBRIDGE CROSSOVER FUND LLC', 'RAHUL JAIN',
       'SHRISHTI AGRAWAL', 'VIKAS KUMAR VERMA HUF', 'BIMAN BHANJA',
       'NEERAJ AGGARWAL', 'PRASHANT KUMAR BARIYAR',
       'MEET NARENDRA MEHTA (HUF)', 'GOEL ANIL KUMAR', 'MITTAL PUNEET',
       'HRTI PRIVATE LIMITED', 'KAMLESHKUMAR PRAHLADBHAI THAKKAR',
       'KIRTI BEARINGS PRIVATE LTD', 'EBENE GLOBAL OPPORTUNITY FUND',
       'STATSOL RESEARCH LLP', 'TOPGAIN FINANCE PRIVATE LIMITED',
       'PARAMOUNT TRADING', 'VAIBHAV RAJENDRA DOSHI (HUF)', 'ANANT JAIN',
       'INDIA NERDS', 'PLUTUS CAPITAL MANAGEMENT LLP',
       'BARON EMERGING MARKETS FUND', 'QUANT MUTUAL FUND',
       'RCSPL SHARE BROKING PRIVATE LIMITED', 'SHALIN MAHESHBHAI SHAH',
       'SIDHESHBHAI DEVABHAI RAVAL', 'DHARMIK VITHTHALBHAI KAPURIYA',
       'NK SECURITIES RESEARCH PRIVATE LIMITED',
       'INTERTICK DEVELOPERS PRIVATE LIMITED', 'AXIS MUTUAL FUND',
       'KRISHNA PRASAD CHIGURUPATI',
       'MASSACHUSETTS INSTITUTE OF TECHNOLOGY', 'ARUNA R JAIN',
       'SELVAMURTHY    AKILANDESWARI',
       'CHARTERED FINANCE & LEASI NG LIMITED', 'MAHADEV MANUBHAI MAKVANA',
       'CHIRANGGI IRISH SHAH', 'VIJIT GLOBAL SECURITIES PRIVATE LIMITED',
       'JAINAM BROKING LIMITED', 'DEVSHREEBEN PRADIPKUMAR PANCHAL',
       'THAKOR NAYANA CHANDUBHAI', 'ZAKI ABBAS NASSER',
       'NOPEA CAPITAL SERVICES PRIVATE LIMITED', 'GUPTA RAJIV RAMPARKASH',
       'HAFIZA MOHAMED HASANFATTA', 'CHACKO JACOB', 'NEW WORLD FUND INC',
       'AVANCE VENTURES PRIVATE LIMITED',
       'EMPOWER TRADEX PRIVATE LIMITED',
       'ICICI PRUDENTIAL ASSET MANAGEMENT COMPANY LIMITED',
       'I G E (INDIA) PRIVATE LIMITED', 'SURBHIT DABRIWALA',
       'BLACK HAWK PROPERTIES PRIVATE LIMITED',
       'UNIFI CAPITAL PRIVATE LIMITED - BLENDED RANGOLI',
       'ALACRITY SECURITIES LTD', 'TRINA DEVANG VYAS',
       'APIS GROWTH 6 LTD', 'HDFC MUTUAL FUND',
       'ICICI PRUDENTIAL LIFE INSURANCE COMPANY LTD.', 'MIO IV STAR',
       'MIO STAR', 'PLUTUS WEALTH MANAGEMENT LLP',
       'ROC STAR INVESTMENT TRUST', 'RAJESHKUMAR JANARDAN SINGH',
       'ROHAN GUPTA', 'HIMANSHU BABUBHAI AMIN',
       'KALPALABDHI SECURITIES PRIVATE LIMITED',
       'KHETAN DEVELOPERS PRIVATE LIMITED', 'QE SECURITIES LLP',
       'RAJENDRAKUMAR SANWARMAL BHIMRAJKA', 'BALVEER SINGH SANKHLA',
       'ARIHANT CAPITAL MARKETS LIMTED', 'LAROIA MONA',
       'MSB E TRADE SECURITIES LIMITED',
       'POOVATHUMTHODY NIDISH VELAYUDHAN', 'VIBRANT SECURITIES PVT. LTD',
       'ESSEL INDUSTRIES PVT LTD', 'CAMELLIA TRADEX PRIVATE LIMITED',
       'SAHASTRAA ADVISORS PRIVATE LIMITED', 'PUNIT DUGAR',
       'ANKIT MAHENDRABHAI PARLESHA', 'ALBULA INVESTMENT FUND LTD',
       'AMARA PARTNERS GROWTH FUND I', 'SAURABH TRIPATHI',
       'AAKRAYA RESEARCH LLP', 'MAMTA JAIN',
       'PROGNOSIS SECURITIES PVT. LTD', 'SOHAM NARENDRASINH CHAUHAN',
       'RAJEEV SUBHASHCHAND MAHESHWARI', 'SOHAM FINCARE INDIA LLP',
       'CRAFT EMERGING MARKET FUND PCC- ELITE CAPITAL FUND',
       'AMIT KUMAR JAIN HUF',
       'SURBHI INVESTMENTS AND TRADING COMPANY PRIVATE LIMITED',
       'VIJAY KUNDANMAL CHORARIA', 'BLEND FUND 2', 'MIRIK RAJENDRA GOGRI',
       'PIYUSH SHARMA', 'GAYATRIBEN NISHANT SHAH', 'MLH VENTURES LLP',
       'NITESH  AGRAWAL', '1575773 ONTARIO INC',
       'NORGES BANK ON ACCOUNT OF THE GOVERNMENT PENSION FUND GLOBAL',
       'GIRIRAJ STOCK BROKING PRIVATE LIMITED',
       'PRATIBHA ABHAIKUMAR NAHAR', 'SMC GLOBAL SECURITIES LIMITED',
       'VIGYAN LODHA', 'BNP PARIBAS ARBITRAGE',
       'F3 ADVISORS PRIVATE LIMITED', 'GOLDMAN SACHS (SINGAPORE) PTE',
       'INOX WIND ENERGY LIMITED', 'IRAGE BROKING SERVICES LLP',
       'MORGAN STANLEY ASIA SINGAPORE PTE', 'OKOWORLD OKOVISION CLASSIC',
       'SHARE INDIA SECURITIES LIMITED', 'AXEL  SCHUTTE',
       'ASHAPURA COMMODITIES', 'SILVER LINE VENTURES PRIVATE LIMITED',
       'SHUBHAM FINANCIAL SERVICES', 'TENCENT CLOUD EUROPE BV',
       'CANARA ROBECO MUTUAL FUND', 'DSP MUTUAL FUND',
       'KOTAK MAHINDRA MUTUAL FUND', 'TA FDI INVESTORS LIMITED',
       'CAPACIOUS WEALTH MANAGEMENT LLP',
       'GIRIJADHAVA VYAPAAR PRIVATE LIMITED',
       'BLACKBERRY SAREES PRIVATE LIMITED', 'SHIVARJUN BYRAPANENI RAO',
       'SHARDABEN DALSUKHRAM THAKKAR', 'GLOBALWORTH SECURITIES LIMITED',
       'MUDUPULAVEMULA SURENDRANADHA REDDY', 'SINGHI VARSHA',
       'PREEYESH   KHANNA', 'K I VARAPRASAD REDDY', 'MANISH VERMA',
       'RAMESH LAL', 'JAIN VIMAL PARKASH', 'SIDDHANT SHIRISH SHAH',
       'INDIA MAX INVESTMENT FUND LTD', 'SAMENA GREEN LTD',
       'SAMENA SPECIAL SITUATIONS MAURITIUS III',
       'L7 HITECH PRIVATE LIMITED',
       'MARWADI CHANDARANA INTERMEDIARIES BROKERS PRIVATE LIMITED',
       'LIESHA CORPORATION PRIVATE LIMITED .', 'SPIRACCA VENTURES LLP',
       'AJAX INVESTMENTS PVT. LTD.', 'VINOD KUMAR REDDY KUCHURU',
       'STOCK VERTEX VENTURES', 'AKHIL RETAIL PRIVATE LIMITED',
       'GOLDMAN SACHS FDS GOLDMAN SACHS INDIA EQ PORTFOLIO',
       'GRT STRATEGIC VENTURES LLP',
       'MICROCURVES TRADING PRIVATE LIMITED',
       'AJAY SHIV NARAYAN UPADHYAYA', 'PRIYESH CHAUDHARY',
       'CITADEL SECURITIES INDIA MARKETS PRIVATE LIMITED',
       'MADHU DEVI GODHA', 'SYKES & RAY EQUITIES (I) LTD',
       'NALSAN ENTERPRISES PRIVATE LIMITED', 'ANKIT BHUTORIA',
       'SANTOSH INDUSTRIES LTD', 'THE MTBJ A/C NOMURA INDIA INVES FD',
       'EMPLOYEES PROV FUND MANAGED BYABERDEEN ASSET MGMT SDN BHD',
       'GENERAL ATLANTIC SINGAPORE FUND PTE LTD', 'SOCIETE GENERALE',
       'BHARAT KUMAR SOMCHAND SHAH', 'GOUTHAMCHANDSIMPAL',
       'CHANDAN  CHAURASIYA', 'NNM SECURITIES PVT LTD',
       'CRUX GLOBAL FUND - CRUX ASIA EX-JAPAN FUND',
       'SURESH MOHAN REDDY CHEDEPUDI',
       'CAPRI GLOBAL HOLDINGS PRIVATE LIMITED',
       'INTEGRATED CORE STRATEGIES (ASIA) PTE. LTD.',
       'ASHWANI KUMAR THAKUR', 'CMDB II',
       'TT EMERGING MARKETS UNCONSTRAINED FUND', 'JAIN SANJAY POPATLAL',
       'JIGNESH AMRUTLAL THOBHANI', 'KOTUL  JAIN', 'SHRENI SHARES PVT',
       'RICHA BOHRA', 'ABDUL QUADIR MOHAMMAD HUSAIN',
       'BNP PARIBAS FINANCIAL MARKETS',
       'COPTHALL MAURITIUS INVESTMENT LIMITED', 'SUMICKSHA BANSAL',
       'YMD FINANCIAL CONSULTANCY PRIVATE LIMITED',
       'UBS PRINCIPAL CAPITAL ASIA LIMITED', 'NIKHIL RAJESH SINGH',
       'ASHWIN STOCKS AND INVESTMENT PRIVATE LIMITED',
       'VORA FINANCIAL SERVICES PVT LTD',
       'NAV CAPITAL VCC - NAV CAPITAL EMERGING STAR FUND',
       'SUDHIR SHARMA', 'SHAH MITA HARSHUL', 'SHANKERLAL BANSILAL SHAH',
       'AANCHAL JAIN', 'SAROJ GUPTA', 'RADHIKA HARIVADANBHAI SONI',
       'SAMEER BALKISHAN MAHESHWARI', 'RIYA  AGGARWAL', 'ANCHAL BANSAL',
       'PRADEEPTA KUMAR SETHY', 'CAPRI FINSERV ADVISORS LLP',
       'MANSUKH SECURITIES & FINANCE LTD', 'YUVRAJ HIRALAL MALHOTRA',
       'VIJIT TRADING', 'VISHWAS FINCAP SERVICES PRIVATE LIMITED',
       'VENKATA NAGARAJU PADALA', 'ABHISHEK AGARWAL', 'SANJAY VYAS',
       'PANNALAL BHANSALI', 'KUMAR VINOD', 'VINEY EQUITY MARKET LLP',
       'RAJ KAMAL JAIN', 'RISHIRAJ GHANSHYAMDAS KALANTRI',
       'AASIA EXPORTS', 'HINDUJA GROUP LIMITED', 'ABDUL AZEES',
       'WF ASIAN SMALLER COMPANIES FUND LIMITED',
       'SMALL CAP WORLD FUND INC', 'RAHUL DHRUV', 'KAMAL AMRUTLAL JIVANI',
       'ABHAY CHANDRAKANT LAKHANI', 'BHANSALI VALUE CREATIONS PVT LTD',
       'CHETNA HIMANSHUBHAI AMIN', 'DINESHBHAI KARSHANBHAI SENDHAV',
       'VINODBHAI KARSHANBHAI SENDHAV', 'MEENAKSHI GUPTA',
       'OHANA INDIA GROWTH FUND', 'PARAG COMMOSALES', 'GUNJAN',
       'KABEELON SALES CORP', 'MAHAVIR LALCHAND MEHTA HUF',
       'MANJULABEN BABULAL MUNGARA', '360 ONE ASSET MANAGEMENT LIMITED',
       'USHIK MAHESH GALA', 'INTERMOBILITY VISA SOLUTION PRIVATE LIMITED',
       'BENGAL FIN. & INV. PVT. LTD',
       'GKK CAPITAL MARKETS PRIVATE LIMITED',
       'ASHISH RAMESHCHANDRA KACHOLIA', 'RAHUL YASHVANTRAY SHAH',
       'RADHAKRISHNAN PATTABIRAMAN', 'ELEVATION CAPITAL V LIMITED',
       'AAREM INSIGHTS PRIVATE LIMITED', 'VENKATACHALAM R',
       'EMBASSY PROPERTY DEVELOPMENTS PRIVATE LIMITED', 'PARMESHWAR OJHA',
       'INTEX COMMOSALES LLP', 'JMKD BROKING PRIVATE LIMITED',
       'MARFATIA STOCK BROKING PVT LTD', 'GANPATI DEALCOM PVT LTD',
       'HARSHIL PREMJIBHAI KANANI', 'NITYANAND KUMAWAT',
       'SMALLCAP WORLD FUND INC', 'TENCENT CLOUD EUROPE B.V.',
       'WISDOMTREE TRUST A/C WISDOM TREE INDIA INVESTMENT PORTFOLIO  INC.',
       'GOTHIC CORPORATION', 'GOTHIC HSP CORPORATION',
       'SESHASAYEE PAPER AND BOARDS LIMITED', 'THE DUKE ENDOWMENT',
       'SOMANI VENTURES AND INNOVATIONS LIMITED',
       'SUNRISE GILTS & SECURITIES PVT LTD',
       'UMESHWAR SECURITIES PRIVATE LIMITED',
       'VIKASA INDIA EIF I FUND-INCUBE GLOBAL OPPORTUNITIES',
       'APL INFRASTRUCTURE PVT. LTD.',
       'SG TECH ENGINEERING PRIVATE LIMITED', 'RASHI ENTERPRISES',
       'RASHI FINCORP LTD', 'AVIRAT ENTERPRISE', 'KABRA  PRIYA',
       'SHRI MUKTA SHARES', 'GENESIS GRAND GENERAL TRADING L.L.C',
       'KUTIR NAVINCHANDRA PATEL', 'KUTIRNAVINCHANDRAPATEL',
       'TAIYO GREATER INDIA FUND LTD',
       'RAJASTHAN GLOBAL SECURITIES PVT LTD',
       'ARHAM SHARE PRIVATE LIMITED', 'LNJ FINANCIAL SERVICES LTD',
       'BHAVNA GROVER', 'MANISH GROVER',
       'SIXTEENTH STREET ASIAN GEMS FUND', 'JINENDRA KUMAR JAIN',
       'CHENNUPATI SARATH KUMAR', 'AMITA DEVANG PANDYA', 'KUSUM GUPTA',
       'RESHMA GAURANGBHAI NATHVANI', 'RUPABEN BIPINBHAI NATHWANI',
       'GANDHI BHAVER AMRITLAL', 'JALIYAN COMMODITY',
       'UMA SHANKAR AGARWAL', 'JANAK NAVINBHAI PANCHAL',
       'SUBHASH P RATHOD', 'FALGUNI SHREYASH SHAH',
       'SUNIL MURLIMANOHAR KABRA', '3 SIGMA GLOBAL FUND',
       'SANGEETA SHETALBHAI SHAH', 'CCV EMERGING OPPORTUNITIES FUND-I',
       'OLD BRIDGE CAPITAL MANAGEMENT PRIVATE LIMITED', 'SAMTA MUNDRA',
       'LAXMAN SOPAN WAGHMODE', 'GANESH S S',
       'PARASRAMPURIA INFRASTRUCTURE LLP', 'AMRITA JAIN',
       'MAYANK AGRAWAL', 'LALIT DUA', 'BCP TOPCO IX PTE. LTD.',
       'KOTAK FUNDS - INDIA MIDCAP FUND',
       'KOTAK MAHINDRA MUTUAL FUND A/C - KOTAK EMERGING EQUITY SCHEME',
       'KISHOR AMRITLAL VYAS', 'KRUNALKUMAR KANUJI THAKOR',
       'ABHAY SURESHKUMAR BHUTADA', 'KRONE INVESTMENTS',
       'HARESH CHIMANLAL BHATT', 'LILABEN CHAMPALAL SHAH',
       'PRAVINKUMAR DEVICHAND JAIN', 'VIKRAMKUMAR DEVICHAND JAIN',
       'MINERVA VENTURES FUND', 'CHHIMPA NARAYAN', 'HOMERAJSINH N ZALA',
       'QUANT MUTUAL FUND A/C QUANT MANUFACTURING FUND',
       'QUANT MUTUAL FUND A/C QUANT PSU FUND', 'PRUDENT EQUITY ACE FUND',
       'JAIN PAMILA', 'NIRAJ RAJNIKANT SHAH',
       'CHATURVEDA ADVISORY SERVICES LLP',
       'ADROIT FINANCIAL SERVICES PVT LTD', 'HDFC DIVIDEND YIELD FUND',
       'HDFC FLEXI CAP FUND',
       'HDFC MUTUAL FUND - HDFC DIVIDEND YIELD FUND',
       'HDFC MUTUAL FUND-HDFC FLEXI CAP FUND',
       'PRRSAAR COMMODITIES PVT LTD', 'PURNA CHANDRA REDDY KONDAKINDI',
       'SHALIN ROHIT ENTERPRISES LLP', 'CINTRA INR INVESTMENTS BV',
       'JITENDRA  BALDWA', 'A S ENTERPRISE', 'SURESH CHANDRA GUPTA',
       'OM KOTHARI FOUNDATION', 'ARJUN KISHORBHAI BHUT',
       'BOFA SECURITIES EUROPE SA', 'SHUBHAM ASHOKBHAI PATEL',
       'SW CAPITAL PRIVATE LIMITED', 'BALBHADRASINH CHANDUBHA RANA',
       'JAYANTILAL POPATLAL RAJKOTIYA', 'PARTH NITINBHAI SINOJIA',
       'PRAFULABEN NITINBHAI SINOJIYA', 'SANJAY ROCHIRAM VIDHANI',
       'SURUCHI ENTERPRISE', 'AUGMENTA VALUE TRUST - SCHEME 1',
       'JULIUS BAER WEALTH ADVISORS (INDIA) PRIVATE LIMITED - ERROR ACCOUNT',
       'MAGPRO SECURITIES PVT LTD', 'ALTAB USMANBHAI PATHAN',
       'RAJASTHAN GLOBAL SECURITIES PRIVATE LIMITED',
       'SADASHIV KANYANA SHETTY', 'DHRUVAL DEEPAK BHATT',
       'HEENA BIREN GANDHI', 'SANJAY GARG', 'STAR PRIVATE TRUST',
       'KANNEESAWAN VIGNESHWARAN', 'TRANSGLOBAL SECURITIES LTD',
       'CINCO STOCK VISION LLP', 'SINGULARITY EQUITY FUND I',
       'KITARA PIIN 1104', 'PRABHU LAL MEENA', 'VLS FINANCE LTD',
       'ANJANA  DEVI', 'SACHINKUMAR ARJANBHAI SOJITRA',
       'VIDEEP KABRA BENEFICIARY TRUST', 'ANKIT SINGHVI',
       'MANOJKUMAR MADHAVLAL CHAUDHARI', 'GURVINDER SINGH',
       'KAUSTAV NARAYAN DE', 'SUNITA SANTOSH GOENKA',
       'VIKRAMKUMAR KARANRAJ SAKARIA HUF DAKSH CORPORATION',
       'ICICI PRUDENTIAL MUTUAL FUND', 'VENTUREAST PROACTIVE FUND LLC',
       'AZH CONSULTANTS LLP', 'JYOTI KUTHARI',
       'SG REALTOR PRIVATE LIMITED', 'PRAVEEN GUPTA', 'PHOENIX TRADERS',
       'RAJ RATAN COMMODITIES PRIVATE LIMITED',
       'ANAHERA INVESTMENT PTE LTD', 'CINTRA INVIT INVESTMENTS B.V.',
       'DAGENHAM INVESTMENT PTE. LTD.',
       'STRETFORD END INVESTMENT PTE. LTD.', 'HEMALI PATHIK THAKKAR',
       'HJS SECURITIES PRIVATE LIMITED', 'SKSE SECURITIES LTD',
       'INDRA KIRAN VENTURES', 'JR SEAMLESS PRIVATE LIMITED',
       'KANTILAL CHHAGANLAL SECURITIES PVT. LTD.', 'VIDHUL GUPTA',
       'AG DYNAMIC FUNDS LIMITED', 'AISHWARYA  KURRA', 'LAKSHMI  SAJJA',
       'POWER MECH INFRA PRIVATE LIMITED'], dtype=object)

6. in the data only 440 unique "ClientName" are available

In [118]:
testdata1

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price
0,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,BUY,2000,51.45
1,17-MAY-2024,AGUL,A G Universal Limited,SUHAS RAJU VASISHTHA,SELL,58000,51.58
2,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,BUY,60000,289.24
3,17-MAY-2024,BLUEPEBBLE,Blue Pebble Limited,NIKUNJ KAUSHIK SHAH,SELL,60000,280.97
4,17-MAY-2024,CROMPTON,Crompt Grea Con Elec Ltd,GRAVITON RESEARCH CAPITAL LLP,BUY,3230372,387.01
...,...,...,...,...,...,...,...
1762,13-JUN-2024,VENUSREM,Venus Remedies Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,68957,377.21
1763,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,BUY,884345,17.19
1764,13-JUN-2024,VISHWARAJ,Vishwaraj Sugar Ind Ltd,HRTI PRIVATE LIMITED,SELL,947205,17.26
1765,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,BUY,75000,41.39
1766,13-JUN-2024,WILLAMAGOR,Williamson Magor & Co,SILVER LINE VENTURES PRIVATE LIMITED,SELL,4861,39.85

7. In the data Buy sell exist

In [143]:
testdata1["Buy/Sell"].value_counts()

Buy/Sell
SELL    918
BUY     849
Name: count, dtype: int64

8. in the data buy and sell data difference is

In [138]:
testdata1.groupby("SecurityName")["ClientName"].count().sort_values(ascending=False).values.mean()

5.3545454545454545

In [139]:
testdata1.groupby("SecurityName")["ClientName"].count().sort_values(ascending=False).values.max()

92

In [140]:
testdata1.groupby("SecurityName")["ClientName"].count().sort_values(ascending=False).values.min()

1

In [142]:
testdata1.describe()

       QuantityTraded  TradePrice/Wght.Avg.Price
count    1.767000e+03                1767.000000
mean     2.909745e+06                 334.422694
std      1.772797e+07                 602.392544
min      3.000000e+02                   0.300000
25%      1.000000e+05                  31.000000
50%      3.500000e+05                 131.000000
75%      1.051716e+06                 386.000000
max      3.971399e+08                9192.210000