In [1]:
import requests
import time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from config import ALPHA_VANTAGE_API_KEY
from mlconfig import ALPHA_VANTAGE_API_KEY

# Stock Tickers

In [2]:
df_stock_tickers = pd.read_csv("../data/stock_tickers/stock_tickers_v1.csv")

In [3]:
df_stock_tickers.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$133.55,1.60,1.213%,3.989246e+10,United States,1999.0,865778,Industrials,Electrical Products
1,AA,Alcoa Corporation Common Stock,$52.76,-0.51,-0.957%,9.492679e+09,NaN,2016.0,4261157,Industrials,Metal Fabrications
2,AAL,American Airlines Group Inc. Common Stock,$15.25,0.26,1.734%,9.910150e+09,United States,NaN,21114761,Consumer Discretionary,Air Freight/Delivery Services
3,AAON,AAON Inc. Common Stock,$61.72,0.67,1.097%,3.275553e+09,United States,NaN,200322,Industrials,Industrial Machinery/Components
4,AAP,Advance Auto Parts Inc.,$202.53,5.11,2.588%,1.228138e+10,United States,NaN,530350,Consumer Discretionary,Auto & Home Supply Stores

# Fetch Data

In [36]:
stock_tickers = df_stock_tickers.iloc[:100]["Symbol"]

In [37]:
date_ranges = [
    ("20180101T0001", "20180531T2359"),
    ("20180601T0001", "20181231T2359"),
    ("20190101T0001", "20190531T2359"),
    ("20190601T0001", "20191231T2359"), 
    ("20200101T0001", "20200531T2359"),
    ("20200601T0001", "20201231T2359"), 
    # ("20210101T0000", "20210530T2359"), 
    # ("20210601T0000", "20211231T2359"), 
]

In [38]:
temp = []

for stock_ticker in stock_tickers:
    for date in date_ranges:
        row = [stock_ticker, date[0], date[1], ""]
        temp.append(row)

In [39]:
df_tracker = pd.DataFrame(temp, columns=["ticker", "start_date", "end_date", "is_done"])

In [40]:
# df_tracker["start_date"] = pd.to_datetime(df_tracker["start_date"])
# df_tracker["end_date"] = pd.to_datetime(df_tracker["end_date"])

In [41]:
df_tracker = df_tracker.sort_values(by=["start_date","ticker"])

In [42]:
df_tracker.to_csv("AlphaVantage_tracker.csv", index=False)

In [45]:
df_tracker = pd.read_csv("AlphaVantage_tracker.csv")

In [46]:
df_tracker

    ticker     start_date       end_date  is_done
0        A  20180101T0001  20180531T2359      NaN
1       AA  20180101T0001  20180531T2359      NaN
2      AAL  20180101T0001  20180531T2359      NaN
3     AAON  20180101T0001  20180531T2359      NaN
4      AAP  20180101T0001  20180531T2359      NaN
..     ...            ...            ...      ...
595    AMC  20200601T0001  20201231T2359      NaN
596   AMCR  20200601T0001  20201231T2359      NaN
597    AMD  20200601T0001  20201231T2359      NaN
598    AME  20200601T0001  20201231T2359      NaN
599   AMED  20200601T0001  20201231T2359      NaN

[600 rows x 4 columns]

In [47]:
target_idx = df_tracker[df_tracker["is_done"].isnull()].index[:5]

In [48]:
target_idx

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [49]:
temp = df_tracker.loc[target_idx]

In [51]:
temp.loc[3, "is_done"] = True

In [54]:
temp

  ticker     start_date       end_date is_done
0      A  20180101T0001  20180531T2359     NaN
1     AA  20180101T0001  20180531T2359     NaN
2    AAL  20180101T0001  20180531T2359     NaN
3   AAON  20180101T0001  20180531T2359    True
4    AAP  20180101T0001  20180531T2359     NaN

In [35]:
for idx, row in temp.iterrows():
    print(idx, row["ticker"])

3 AAON
4 AAP
5 AAPL
6 AAWW
7 AB

In [17]:
temp = df_tracker.loc[target_idx, "ticker"].values

In [19]:
list(zip(target_idx, temp))

[(0, 'A'), (1, 'AA'), (2, 'AAL'), (3, 'AAON'), (4, 'AAP')]

In [9]:
temp[temp["ticker"] == "AA"]["status"] = "SUCCESS"

/var/folders/gp/1_dqbwsn08sbtf7s0k5q2lsc0000gn/T/ipykernel_12555/3843857045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[temp["ticker"] == "AA"]["status"] = "SUCCESS"

In [10]:
df_tracker

    ticker          start_date            end_date  is_done
0        A 2018-01-01 00:01:00 2018-05-31 23:59:00      NaN
1       AA 2018-01-01 00:01:00 2018-05-31 23:59:00      NaN
2      AAL 2018-01-01 00:01:00 2018-05-31 23:59:00      NaN
3     AAON 2018-01-01 00:01:00 2018-05-31 23:59:00      NaN
4      AAP 2018-01-01 00:01:00 2018-05-31 23:59:00      NaN
..     ...                 ...                 ...      ...
595    AMC 2020-06-01 00:01:00 2020-12-31 23:59:00      NaN
596   AMCR 2020-06-01 00:01:00 2020-12-31 23:59:00      NaN
597    AMD 2020-06-01 00:01:00 2020-12-31 23:59:00      NaN
598    AME 2020-06-01 00:01:00 2020-12-31 23:59:00      NaN
599   AMED 2020-06-01 00:01:00 2020-12-31 23:59:00      NaN

[600 rows x 4 columns]

In [7]:
temp.iloc[:100,]["ticker"].values

array(['A', 'AA', 'AAL', 'AAON', 'AAP'], dtype=object)

In [80]:
# for idx, ticker in enumerate(temp.iloc[:100,]["ticker"].values):
#     if ticker != stock_tickers[idx]:
#         print(ticker)

In [83]:
log = open("AlphaVantage_log.txt", mode= "a")
curr_time = pd.to_datetime(time.ctime())
status = "FAIL"
log.write(f"[{curr_time}] {status} Stock Tickers: {' '.join(stock_tickers)}\n")
log.close()

In [29]:
# print('x')
# time.sleep(10)
# print("After 10s")

x
After 10s

In [ ]:
# In YYYYMMDDTHHMM format
DATE_START = "20210101T0800"
DATE_END = "20211231T2359"

ALPHA_VANTAGE_URL = "https://www.alphavantage.co/query"

In [51]:
# In YYYYMMDDTHHMM format
DATE_START = "20210101T0800"
DATE_END = "20211231T2359"

ALPHA_VANTAGE_URL = "https://www.alphavantage.co/query"

In [52]:
collected_data = []

In [55]:
for stock_ticker in stock_tickers[:10]:
    payload = {
        "function": "NEWS_SENTIMENT",
        "tickers": stock_ticker,
        "time_from" : DATE_START,
        "time_to" : DATE_END,
        "limit": 200,
        "apikey" : ALPHA_VANTAGE_API_KEY
    }
    resp = requests.get(ALPHA_VANTAGE_URL, params=payload)
    data = resp.json()

    try :
        news = data["feed"]
    except:
        print(stock_ticker)
        print(data)

    for news_data in news:
        title = news_data["title"]

        # Convert datetime to pandas datetime object
        date_time = pd.to_datetime(news_data["time_published"]) 

        source = news_data["source"]
        url = news_data["url"]
        summary = news_data["summary"]

        sentiment_label = ""
        for ticker_sentiment in news_data["ticker_sentiment"]:
            if ticker_sentiment["ticker"] == stock_ticker:
                sentiment_label = ticker_sentiment["ticker_sentiment_score"]

        row = [title, date_time, source, url, summary, sentiment_label]

        collected_data.append(row)

A
{'Information': 'No articles found. Please adjust the time range or refer to the API documentation https://www.alphavantage.co/documentation#newsapi and try again.'}
AA
{'Information': 'No articles found. Please adjust the time range or refer to the API documentation https://www.alphavantage.co/documentation#newsapi and try again.'}
AAL
{'Information': 'No articles found. Please adjust the time range or refer to the API documentation https://www.alphavantage.co/documentation#newsapi and try again.'}
AAON
{'Information': 'No articles found. Please adjust the time range or refer to the API documentation https://www.alphavantage.co/documentation#newsapi and try again.'}
AAP
{'Information': 'No articles found. Please adjust the time range or refer to the API documentation https://www.alphavantage.co/documentation#newsapi and try again.'}
AAPL
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}
AAWW
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}
AB
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}
ABB
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}
ABBV
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}

In [41]:
headers = [
    'title', "datetime", "source", "url", "summary", "sentiment_label"
]

df_collected_news = pd.DataFrame(collected_data, columns = headers)

# Append to Existing Dataframe

In [66]:
prev_df = pd.read_csv("../data/raw_data/stock_news_daniel_v1.csv")

In [69]:
prev_df

Empty DataFrame
Columns: [title, datetime, source, url, summary, sentiment_label]
Index: []

In [70]:
final_df = pd.concat([prev_df, df_collected_news], axis=0)

In [71]:
final_df

,title,datetime,source,url,summary,sentiment_label
0,Worried About Inflation? Here's What Warren Bu...,2022-04-30 22:49:00,Motley Fool,https://www.fool.com/investing/2022/04/30/worr...,Berkshire is investing in quality dividend sto...,0.124326
1,This Celebrity Has Owned Berkshire Hathaway Sh...,2022-04-30 20:24:20,Benzinga,https://www.benzinga.com/general/entertainment...,Many investors have turned to Berkshire Hathaw...,0.000804
2,Buffett Blasts Wall Street As a Casino; Munger...,2022-04-30 18:31:00,The Street,https://www.thestreet.com/investing/buffett-bl...,Wall Street's risky moves has lured investors ...,-0.019075
3,"Bulls And Bears Of The Week: Apple, General El...",2022-04-30 18:24:02,Benzinga,https://www.benzinga.com/trading-ideas/long-id...,Benzinga has examined the prospects for many i...,-0.198568
4,An Inside Look at Berkshire Hathaway's Shareho...,2022-04-30 17:03:00,The Street,https://www.thestreet.com/investing/inside-loo...,The film gets shown one time at Berkshire Hath...,0.037784
...,...,...,...,...,...,...
195,Should You Invest in the Technology Select Sec...,2022-04-27 10:20:06,Zacks Commentary,https://www.zacks.com/stock/news/1908663/shoul...,Sector ETF report for XLK,0.002435
196,Why Is Apple Selling Refurbished MacBook Pros ...,2022-04-27 09:36:44,Benzinga,https://www.benzinga.com/analyst-ratings/analy...,There is a lot of uncertainty around the deman...,0.079865
197,Google Parent Alphabet's Q1 Results Dissected ...,2022-04-27 08:41:44,Benzinga,https://www.benzinga.com/analyst-ratings/analy...,"Alphabet, Inc. ( NASDAQ: GOOGL ) ( NASDAQ: ...",-0.353356
198,Microsoft's Results Are Reminder Of Cloud Soft...,2022-04-27 08:09:08,Benzinga,https://www.benzinga.com/analyst-ratings/analy...,"Alphabet, Inc. ( NASDAQ: GOOGL ) ( NASDAQ: ...",-0.445494
199,LG Display quarterly profit plummets as demand...,2022-04-27 05:26:00,Reuters,https://www.reuters.com/business/lg-display-qu...,A 77-inch LG Signature W OLED television is di...,0.017779

# Export final df

In [ ]:
filename = "stock_news_daniel_v1.csv"

final_df.to_csv(f"../data/raw_data/{filename}", index=False)

In [49]:
temp = df_collected_news.sort_values(by="datetime")
temp["datetime2"] = temp["datetime"].apply(lambda x: x.strftime("%Y/%m/%d"))
temp = temp.groupby("datetime2").count()

In [50]:
temp

            title  datetime  source  url  summary  sentiment_label
datetime2
2022/04/27     43        43      43   43       43               43
2022/04/28     68        68      68   68       68               68
2022/04/29     71        71      71   71       71               71
2022/04/30     18        18      18   18       18               18

In [ ]:
sns.barplot()

In [8]:
list(data.keys())

['items', 'sentiment_score_definition', 'relevance_score_definition', 'feed']

In [9]:
news = data["feed"]

In [10]:
len(news)

200

In [11]:
news[0]

{'title': "Worried About Inflation? Here's What Warren Buffett Says Berkshire Hathaway Is Doing",
 'url': 'https://www.fool.com/investing/2022/04/30/worried-about-inflation-heres-what-warren-buffett/',
 'time_published': '20220430T224900',
 'authors': ['Daniel Foelber'],
 'summary': 'Berkshire is investing in quality dividend stocks and taking what the market gives it.',
 'banner_image': 'https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F677172%2F1-operator.jpeg&w=700&op=resize',
 'source': 'Motley Fool',
 'category_within_source': 'n/a',
 'source_domain': 'www.fool.com',
 'topics': [{'topic': 'Manufacturing', 'relevance_score': '0.25'},
  {'topic': 'Economy - Monetary', 'relevance_score': '0.990678'},
  {'topic': 'Energy & Transportation', 'relevance_score': '0.25'},
  {'topic': 'Finance', 'relevance_score': '0.25'},
  {'topic': 'Financial Markets', 'relevance_score': '0.684621'},
  {'topic': 'Technology', 'relevance_score': '0.25'}],
 'overall_sentiment_score': -0.135164,
 'overall_sentiment_label': 'Neutral',
 'ticker_sentiment': [{'ticker': 'CVX',
   'relevance_score': '0.166858',
   'ticker_sentiment_score': '0.004592',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'Y',
   'relevance_score': '0.042004',
   'ticker_sentiment_score': '0.056688',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'KO',
   'relevance_score': '0.042004',
   'ticker_sentiment_score': '0.124326',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'MSFT',
   'relevance_score': '0.083892',
   'ticker_sentiment_score': '0.069527',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'ATVI',
   'relevance_score': '0.166858',
   'ticker_sentiment_score': '-0.137515',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'OXY',
   'relevance_score': '0.083892',
   'ticker_sentiment_score': '0.09145',
   'ticker_sentiment_label': 'Neutral'},
  {'ticker': 'AAPL',
   'relevance_score': '0.042004',
   'ticker_sentiment_score': '0.124326',
   'ticker_sentiment_label': 'Neutral'}]}

In [12]:
news_data = news[0]

In [18]:
sentiment_label

'0.124326'

Timestamp('2022-04-30 22:49:00')