# Python

## PYTHON Introduction

### What is Python?

Python is general purpose high level popular programming language. Python was developed by Guido Van Rossam at National Research Institute Netherlands, official relaese date of python is 20th Feb 1991

Python is versatile language, capable of running on multiple platforms, including Windows, macOS, and Linux.

Python offers a vast library of pre-built modules and tools, which make it easy to perform complex tasks with minimal coding efforts

##### Some of the most popular libraries of Python used in data science are:

#### NumPy:
   A library used for numerical computing with Python.
#### Pandas: 
   A library used for data manipulation and analysis.
#### Matplotlib:
   A library used for data visualization.
#### Scikit-learn:
   A library used for machine learning
#### TensorFlow:
   A library used for deep learning.

### Why Python is more popular in the world ?

### Features of Python :-
##### 1.Easy to Learn and Use -
Its code is easy to read and understand, which makes it easier to maintain and update. like english language.
##### 2.Expressive Language - 
which means that it is more understandable and readable.
##### 3.Interpreted Language -
Which means Python can be executed immediately without the need for compilation. i.e code will run line by line.This makes it easier to test and debug code.
##### 4.Cross-platform Language -
which meance capabale of running on multiple platforms, like windows, macOS, Linux etc.
##### 5.Free and Open Source - 
which meance that it's free to use and distribute. i.e no need to license. This makes it accessible to a wide range of users, including individuals, businesses, and educational institutions.
##### 6.Object-Oriented Language -
This means that it allows developers to use objects to represent and manipulate data, rather than just using functions and procedures.
class is blue print of object

##### 7.Extensible programming language -
This means that developers can extend the language by adding new modules or packages to it, which provide additional functionality and features beyond what is available in the core language.
##### 8.Large Standard Library -
which provides a wide range of modules and tools for various tasks which make it easy to perform complex tasks with minimal coding efforts
##### 9.Dynamically typed -
which means that the data type of a variable is determined at runtime. This allows for greater flexibility and makes it easier to write code
Applications

### Applications:-

###### Python is a versatile programming language with a wide range of applications in various domains.

###### Here are some of the most popular applications of Python:

#### 1.Web Development: 
    Python is used for developing web applications and web services. Popular web frameworks like Django and Flask are built using Python. e.g NASA Web
#### 2.Data Science: 
Python is widely used in data science for tasks such as data analysis, data visualization, and machine learning. Popular data science libraries like NumPy, Pandas, and Scikit-learn are built using Python.
#### 3.Artificial Intelligence:
Python is used for developing artificial intelligence and machine learning algorithms. Popular libraries like TensorFlow and Keras are built using Python.
#### 4.Scientific & numeric Computing:
Python is used for scientific computing and mathematical modeling. Popular libraries like SciPy and SymPy are built using Python.
#### 5.Automation and Scripting:
Python is used for automating tasks and scripting. It is widely used for tasks such as data processing, system administration, and network automation.
#### 6.Game Development: 
Python is used for game development. Popular game engines like Pygame and Panda3D are built using Python.
Desktop Application Development: Python is used for developing desktop applications. Popular GUI frameworks like PyQt and wxPython are built using Python.
#### 7.Education: 
Python is widely used in education as a teaching language for computer science and programming courses.
#### 8.Desktop Application Development: 
Python is used for developing desktop applications. Popular GUI frameworks like PyQt and wxPython are built using Python.
##### 9.Software Development:
##### 10.Business Applications:
##### 11.Console Based Application:
##### 12.Audio or Video based Applications:
##### 13.3D CAD Applications:

## Good to know python language
#### python include below poits

###### 1.Functional Programming Features from C
###### 2.Object Oriented Programming Features from C++
###### 3.Scripting Language Features from Perl & Shell Script
###### 4.Modular Programming Features from Modula-3

In [1]:
print ("Hello")
print("God")

Hello
God

Note: It is very simple to print hello in python, as compared to other programming languages, coding in python is really less time consuming than other programming languages

# Identifiers

In [2]:
1.Names in python are call as identifier,
2.Funtion name,variable name,module name , class are  identifire in python

SyntaxError: invalid decimal literal (1162620381.py, line 1)

###### RULES

In [3]:
1. The first character of an identifier must be a letter (uppercase or lowercase) or an underscore (_). The rest of the characters can be letters, underscores, or digits (0-9).
If Identifier is start with Underscore (_) then it indicates it is private.
Identifier should not start with Digits.
Identifiers are case sensitive.
For example, "myVar" and "myvar" are two different identifiers.

Identifiers cannot be keywords or reserved words. because reserved keywords are words that have a special meaning in Python and cannot be used as identifiers.
Examples of reserved keywords in Python include "if", "else", "while", "for", "and", "or", "not", "in", "is", "class", "def", "return", "import", "from", "try", "except", "raise", "finally", and "assert".Special Notes
If identifier starts with '_' (single underscore) symbol,then it is private

If identifier starts with '__' (double underscore), indicate that it is a strongly private.

If the identifier starts and ends with "__" (double underscore) symbols, then such identifiers are language defined special name, which is also known as magic methods

e.g int , doit

SyntaxError: invalid syntax (1143286634.py, line 1)

###### examples of identifiers

x=10
y=20
_x =30

print(x)
print(y)
print(_x)

In [ ]:
name = "Python"
print("name :",name)
print('*'*90)
NAME = 'Python'
print('name :',NAME)
print('*'*90)
_NAME = 'Python'
print('_Name :',_NAME)
print('*'*90)
fname = 'Python'
print('Fname :',fname)
print('*'*90)
fname123 = 'Python'
print('fname123 :',fname123)
print('*'*90)
f_name_123 = 'python'
print('f_name_123 :',f_name_123)

In [4]:
a = 10 
print('a =',a)
print('Type of a :',type(a))

print('*'*90)

fname = 'sikander'
print('type =', fname)
print('type of fname :',type(fname))

print('*'*90)
complex_number =1+2j
print('Complex_number :',type(complex_number))

a = 10
Type of a : <class 'int'>
******************************************************************************************
type = sikander
type of fname : <class 'str'>
******************************************************************************************
Complex_number : <class 'complex'>

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
"Pythonचं ध्यान, टिम पीटर्स यांचं

सुंदर शेपटी अशा होणारं श्रेयस्कर
स्पष्ट असलेलं, निहित अनुमानांपेक्षा श्रेयस्कर
साधा, कितीतरी सांगितलं असलं अशा कितीतरी जटिल असलेलं श्रेयस्कर
जटिल, कितीतरी संकटस्पद असलेलं अशा कितीतरी संकटस्पद असलेलं श्रेयस्कर
समतल, एकतर अंतर्जालात असलं अशा कितीतरी घन असलेलं श्रेयस्कर
विरासत, जलद असल्याचं महत्त्व असं कितीतरी स्पष्टपणे म्हणणे घेतंय.
विशेष प्रकारे नियमे तोडण्यासाठी प्रत्यक्षतेचं शक्ती असू नये.
परंतु व्यावसायिकतेने पवित्रतेला मान्यता असल्याने.
चुका नेहमीचे चुकून जाणार नाही.
परंतु प्रत्यक्षपणे चुकून जाणार असल्यास, ते उत्तम विचारलं जातं.
नामस्थान, एक महान विचार आहे - आम्ही अधिक करूया."

SyntaxError: unterminated string literal (detected at line 1) (1787880279.py, line 1)

### Data Types in Python

Data type of variable is the type of value inside that variable.

In python we do not need to mention the data type of variable, It automatically assigns data type

Python is a dynamically-typed language, which means that the data type of a variable is determined at runtime. Python has several built-in data types, including:

##### 1.Numbers: 
    Python supports integers, floating-point numbers, and complex numbers. For example, 42, 3.14, and 2 + 3j are all valid numbers in Python.
##### 2.Strings: 
    Strings are sequences of characters. They can be enclosed in single quotes ('...') or double quotes ("..."). For example, 'hello' and "world" are both valid strings.
##### 3.Booleans: 
    Booleans represent either true or false.
    The two possible values of a boolean are True and False.
##### 4.Lists: 
    Lists are ordered collections of items, which can be of different types. They are mutable, which means that you can add, remove, or modify elements in a list. For example, [1, 2, 3] and ['apple', 'banana', 'cherry'] are both valid lists.
##### 5.Tuples: 
    Tuples are similar to lists, but they are immutable, which means that you cannot modify them once they are created. They are often used to represent fixed collections of values. Tuples are enclosed in parentheses. For example, (1, 2, 3) is a tuple.
##### 6.Sets: 
    Sets are unordered collections of unique items. They are enclosed in curly braces. For example, {1, 2, 3} is a set.
##### 7.Dictionaries:
    Dictionaries are collections of key-value pairs. The keys are unique, and each key is associated with a value. Dictionaries are enclosed in curly braces, and the key-value pairs are separated by colons. For example, {'apple': 2, 'banana': 3, 'cherry': 5} is a dictionary.
##### 89.bytes:
##### 9.bytearray:
##### 10.range:
##### 11.None:
In addition to these built-in data types, Python also supports several data type modules, such as datetime, which provides objects to work with dates and times, and math, which provides functions to work with mathematical operations.

In [ ]:
var = 10
print('Output :',var,type(var))

# Keywords

##### Defination : keyswords are the system reserved words which can be used by user and can not be re-declared by user

 There are around 35 reserved keywords

##### False', 'None', 'True', 'peg_parser', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'

we can see these Keywords by using code in python 
     Import keyword,print(keyword.kwlist)

In [7]:
import keyword
print(keyword.kwlist)
print("."*90)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
..........................................................................................
35

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
print(len(keyword.kwlist))

35

# Integer

In [10]:
var=10 
print('Output :',var,type(var))

Output : 10 <class 'int'>

### Types of Number System
1.Decimal number system

2.Binary Number System

3.Octal Number system

4.Hexadecimal Number System

In [11]:
# octal numbers
var=0o0 # equivalent to decimal value 0
print(var,type(var))
print('*'*100)

var=0o1 # equivalent to decimal value 1
print(var,type(var))
print('*'*100)

var=0o2
print(var,type(var))
print('*'*100)

var=0o3
print(var,type(var))
print('*'*100)

var=0o4
print(var,type(var))
print('*'*100)

var=0o5
print(var,type(var))
print('*'*100)

var=0o6
print(var,type(var))
print('*'*100)

var=0o7
print(var,type(var))
print('*'*100)

var=0o10
print(var,type(var))
print('*'*100)


var=0o11 # equivalent to decimal value 9
print(var,type(var))
print('*'*100)

var=0o11111000
print(var,type(var))
print('*'*100)

0 <class 'int'>
****************************************************************************************************
1 <class 'int'>
****************************************************************************************************
2 <class 'int'>
****************************************************************************************************
3 <class 'int'>
****************************************************************************************************
4 <class 'int'>
****************************************************************************************************
5 <class 'int'>
****************************************************************************************************
6 <class 'int'>
****************************************************************************************************
7 <class 'int'>
****************************************************************************************************
8 <class 'int'>
****************************************************************************************************
9 <class 'int'>
****************************************************************************************************
2396672 <class 'int'>
****************************************************************************************************

In [12]:
# Decimal to hex converison
input1 = 157
input2 = 200

output1 = hex(input1)
print('Decimal Number {} to octal number {}'.format(input1, output1))
output2 = hex(input2)
print('Decimal Number {} to octal number {}'.format(input2, output2))

Decimal Number 157 to octal number 0x9d
Decimal Number 200 to octal number 0xc8

In [13]:
# Decimal to hex converison
input1 = 255
input2 = 200

output1 = hex(input1)
print('Decimal Number {} to octal number {}'.format(input1, output1))
output2 = hex(input2)
print('Decimal Number {} to octal number {}'.format(input2, output2))

Decimal Number 255 to octal number 0xff
Decimal Number 200 to octal number 0xc8

In [14]:
var=10.10
print('output:',var)
print(type(var))

output: 10.1
<class 'float'>

In [15]:
print("Hello world")
print("weelcome to my channel")

Hello world
weelcome to my channel

In [16]:
# single line and multiline comment
'''
welcome to my youtube

'''

print("hello")

hello

In [17]:
#variable declaration
a =10
print (a)

10

In [18]:
print(a)

10

In [19]:
print(type(a))

<class 'int'>

In [20]:
tenth=10
b=40
c="krish"

In [21]:
type(c)

str

In [22]:
a1=10

In [23]:
first_name='krish'
print(first_name)

krish

In [24]:
# integer
a =10
type(a)

int

In [25]:
a+10

20

In [26]:
a*10

100

In [27]:
a-9

1

In [28]:
a%10

0

In [29]:
print(type(a))

<class 'int'>

In [30]:
a=10
b=20

print(a+b)

30

In [31]:
a/10

1.0

### Float

In [32]:
var = 10.10
print('output:',var)
print(type(var))

output: 10.1
<class 'float'>

In [33]:
a = 12.377
print(type(a))
print(a)

<class 'float'>
12.377

### Complex

In [34]:
com = 10 +20j #real+imag
print(com)
print(com.real)
print(com.imag)

(10+20j)
10.0
20.0

In [35]:
var = 1 + 2j
print("output:",var)
print(type(var))

output: (1+2j)
<class 'complex'>

### Complex

In [36]:
print("Real :", var.real)
print(type(var.real))
print("*"*90)
print("imaginary :",var.imag)
print(type(var.imag))

Real : 1.0
<class 'float'>
******************************************************************************************
imaginary : 2.0
<class 'float'>

## Boolean

In [37]:
var = True 
var_1 = False 
x = 'True'
print('Output:', type(var))
print(x,type(x))
print(var_1,type(var_1))

Output: <class 'bool'>
True <class 'str'>
False <class 'bool'>

In [38]:
print(int(True),int(False))

1 0

In [39]:
print(float(True),float(False))

1.0 0.0

In [40]:
print(int(True),int(False))

1 0

In [41]:
print(complex(True),complex(False))
print(complex(True,False))
print(complex(False,True))
c=0+0j
print(c)

(1+0j) 0j
(1+0j)
1j
0j

In [42]:
print(str(True))
print(str(False))

True
False

In [43]:
print(str(True))
print(str(False))

True
False

In [44]:
print(bool(3.1))
print(bool(0.3))
print(bool(0.0))

True
True
False

In [45]:
print(bool(""))
print(bool())
print(bool('don'))
print(bool(11))

False
False
True
True

In [46]:
print(bool(1+2j))
print(bool(2+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

In [47]:
# convting of int/str to bool
x = bool(100)
print('int to bool')
xx=bool(0)
print('int to bool')
print("*"*100)

y=bool(10.10)
print('float to bool:',y)
yy=bool(0.0)
print('float to bool')
print("*"*100)

z=bool("100")
print('string to bool:',z)
zz=bool("")
print('string to bool:',zz)
print("*"*100)


z = bool(1+0j)
print('complex to bool:',z)
zz=bool(4+2j)
print('complex to bool:',zz)
zzz=bool(0+0j) #at least one value should be required
print('complex to bool:',zzz)
zzzz=bool(0+2j)
print('complex to bool:',zzz)
print("*"*100)

int to bool
int to bool
****************************************************************************************************
float to bool: True
float to bool
****************************************************************************************************
string to bool: True
string to bool: False
****************************************************************************************************
complex to bool: True
complex to bool: True
complex to bool: False
complex to bool: False
****************************************************************************************************


# string



## string is sequence of characters e.g "This is string"

#### 1.string is a sequence of characters enclosed in quotes

#### 2.Strings in Python are immutable, which means you cannot change the contents of a string once it is created. However, you can create a new string by concatenating two or more strings together using the + operator or repeating a string using the * operator

#### Duplicates allowed

#### #4.store all the characters in string

#### Available methods in string:

#### 1.str.upper(): Returns a new string with all characters converted to uppercase.
#### 2.str.lower(): Returns a new string with all characters converted to lowercase.

#### 3.str.lower(): Returns a new string with all characters converted to lowercase.
#### 4.str.capitalize(): Returns a copy of the string with the first character capitalized
#### 5.str.title(): Returns a copy of the string with the first character of each word capitalized.
#### 6.len(str): Returns the length of the string.
#### 7.str.strip(): Returns a new string with leading and trailing whitespace removed.
#### 8.str.replace(): Returns a new string with all occurrences of a specified substring replaced with another substring.
#### 9.str.split(): Returns a list of substrings separated by a specified delimiter. i.e Returns a list of the words in the string, separated by whitespace.
#### 10.str.join(iterable): Joins the elements of an iterable (e.g., a list) with the specified string as the separator.
#### 11.str.casefold(): Converts string into lower case
#### 12.str.center(): Returns a centered string
#### 13.str.count(): Returns the number of times a specified value occurs in a string
#### 14.str.endswith(): Returns true if the string ends with the specified value
#### 15.str.find(): Searches the string for a specified value and returns the position of where it was found
#### 16.str.swapcase(): Swaps cases, lower case becomes upper case and vice versa
#### 17.str.startswith(): Returns true if the string starts with the specified value
#### 18.str.isalnum(): Returns True if all characters in the string 18.are alphanumeric
#### 19.str.isalpha(): Returns True if all characters in the string are in the alphabet
#### 20.str.isascii(): Returns True if all characters in the string are ascii characters
#### 21.str.isdecimal(): Returns True if all characters in the string are decimals
#### 22.str.isdigit(): Returns True if all characters in the string are digits
#### 23.str.isidentifier(): Returns True if the string is an identifier
#### 24.str.islower(): Returns True if all characters in the string are lower case
#### 25.str.isnumeric(): Returns True if all characters in the string are numeric
#### 26.str.isprintable(): Returns True if all characters in the string are printable
#### 27.str.isspace(): Returns True if all characters in the string are whitespaces
#### 28.str.istitle(): Returns True if the string follows the rules of a title
#### 29.str.isupper(): Returns True if all characters in the string are upper case

In [48]:
a = '               india is my country         '
print(a)

               india is my country

In [49]:
print(a.capitalize())

               india is my country

In [50]:
print(a.title())

               India Is My Country

In [51]:
print(a.strip())

india is my country

In [52]:
a.replace (a,"Bharat is my country")

'Bharat is my country'

In [53]:
b = a.split()
print(b)

['india', 'is', 'my', 'country']

In [54]:
c = '_'
c.join(b)

'india_is_my_country'

In [55]:
b ='handless special cases like the german "B"  (sharp s) character'
print(b)
b.casefold

handless special cases like the german "B"  (sharp s) character

In [56]:
b.lower()

'handless special cases like the german "b"  (sharp s) character'

In [57]:
d = 'Dipak'
d.center(30)

'            Dipak             '

In [58]:
a.count('i')
a

'               india is my country         '

In [59]:
var = 'python3.9'
#when values from user : data type considered as string 
print('output:')
print(var)
print(type(var))

output:
python3.9
<class 'str'>

In [60]:
string = '''I am sorry , i connot provide information on specific individuals unless they are well-known public figures'''

In [61]:
string.upper()

'I AM SORRY , I CONNOT PROVIDE INFORMATION ON SPECIFIC INDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [62]:
string.lower()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [63]:
string.lower()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [64]:
string.capitalize()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [65]:
len(string)

107

In [66]:
string.strip()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [67]:
string.format()

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [68]:
string.replace('am','AM')

'I AM sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [69]:
string.split()

['I',
 'am',
 'sorry',
 ',',
 'i',
 'connot',
 'provide',
 'information',
 'on',
 'specific',
 'individuals',
 'unless',
 'they',
 'are',
 'well-known',
 'public',
 'figures']

In [70]:
string.casefold()

'i am sorry , i connot provide information on specific individuals unless they are well-known public figures'

casefold() not only converted the characters to lowercase but also handled the accented characters.

In [71]:
text = "Hello world"
result = text .casefold()
print(result)

hello world

In [72]:
string.index("sorry")

5

In [73]:
string.count('i')

11

In [74]:
string.find('on')

16

In [75]:
string.expandtabs(tabsize=10)

'I am sorry , i connot provide information on specific individuals unless they are well-known public figures'

In [76]:
str1 = "Dipak\tjagadale"
str2 = str1.expandtabs(tabsize=100)
print(str2)

Dipak                                                                                               jagadale

In [77]:
string.isidentifier()

False

In [78]:
string.swapcase()

'i AM SORRY , I CONNOT PROVIDE INFORMATION ON SPECIFIC INDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [79]:
string.isnumeric()

False

In [80]:
b

'handless special cases like the german "B"  (sharp s) character'

In [81]:
b.endswith('g')

False

In [82]:
b.endswith(',')

False

In [83]:
b.find("german")

32

### String Slicing

#### String slicing is peaces of string usin some seperator , []this is slicing operator

In [84]:
str1 = "This tutorial is basically desigend for biggners"
str2='python'

In [85]:
str2[3],str2[0],str2[1]

('h', 'p', 'y')

In [86]:
str2*10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [87]:
str1[::-1]

'srenggib rof dnegised yllacisab si lairotut sihT'

In [88]:
str2[::-1]

'nohtyp'

In [89]:
str1[-6:]

'ggners'

In [90]:
str2[-2:]

'on'

In [91]:
# string is immutable (we can't modify existing element)
print(str2)
# str2[0]='G'
print(str2)

python
python

In [92]:
str1 = "dat Science"
str2 = "Machine Learning"
str3 = "Deep Learning"
str4 = "Naturel Language Proceesing"
str5 = "Structured Query language"
print("1st string :",str1)
print("2nd string :",str2)
print("3rd string : ",str3)
print("4th string :",str4)
print("5th string :", str5)

1st string : dat Science
2nd string : Machine Learning
3rd string :  Deep Learning
4th string : Naturel Language Proceesing
5th string : Structured Query language

In [93]:
print("1st string :",str1)
print(str1[2:6],":",str1[-10:-6])
print(str1[::-1]) # reverse string
print("*"*90)

print("2nd string :",str2)
print(str2[5:10],":",str2[-11:-6])
print(str2[::2])#(strat index:endindex:step size)
print("*"*90) 

print("3rd string:",str3)
print(str3[0:10])
print("*"*90)

print("4th string :",str4)
print(str4[::5])
print("*"*90)

print("5th string :",str5)
print(str5[::5])

1st string : dat Science
t Sc : at S
ecneicS tad
******************************************************************************************
2nd string : Machine Learning
ne Le : ne Le
McieLann
******************************************************************************************
3rd string: Deep Learning
Deep Learn
******************************************************************************************
4th string : Naturel Language Proceesing
Nenecn
******************************************************************************************
5th string : Structured Query language
St yg

In [94]:
# string multiply
print(str1*2)
print(str2*3)
print(str3*4)
print(str4*5)
print(str5*6)

dat Sciencedat Science
Machine LearningMachine LearningMachine Learning
Deep LearningDeep LearningDeep LearningDeep Learning
Naturel Language ProceesingNaturel Language ProceesingNaturel Language ProceesingNaturel Language ProceesingNaturel Language Proceesing
Structured Query languageStructured Query languageStructured Query languageStructured Query languageStructured Query languageStructured Query language

## Type-Casting In datatypes

#### Def: conversion of one type of data into other type of data is called typecasting

int, float, str, boolean, complex, object

         int to float / complex / str
         float to int / complex / str
         str to int / float / complex >>> # (string contains only numbers)


         Note : can't convert complex to any other data type

#### 1. int to float /complex /string conversion

In [95]:
var = 1000 
print('<< integer to float conversion>>')
print("*"*90)
print('integer number:',var)
print('type of variable :',type(var))
a = float(var)
print('coverted intger to float :',a)
print('type of coverted number :',type(a))

<< integer to float conversion>>
******************************************************************************************
integer number: 1000
type of variable : <class 'int'>
coverted intger to float : 1000.0
type of coverted number : <class 'float'>

In [96]:
var = 1000 
print("<< intger to string conversion >>")
print('*'*90)
print('integer number :',var)
print('type of variable :',type (var))
a = str(var)
print("coverted intger to string :",a)
print('type of converted number :',type(a))

<< intger to string conversion >>
******************************************************************************************
integer number : 1000
type of variable : <class 'int'>
coverted intger to string : 1000
type of converted number : <class 'str'>

In [97]:
var = 1000
print('<< integer to complex conversion >>')
print("*"*90)
print('ineger number :',var)
print("type of variable :",type(var))
a = complex(var)
print('coverted to int to complex :',a)
print('type of converted number:',type(a))
print('real :',a.real)
print('imag :',a.imag)

<< integer to complex conversion >>
******************************************************************************************
ineger number : 1000
type of variable : <class 'int'>
coverted to int to complex : (1000+0j)
type of converted number: <class 'complex'>
real : 1000.0
imag : 0.0

#### 2. Float to int/complex/string conversion

In [98]:
var = 999.99
print('<< Float to int conversion >>')
print("*"*90)
print('float number :',type(var))
a = int(var)
print('coverted float to int :',a)
print('type of coverted number :',type(a))

<< Float to int conversion >>
******************************************************************************************
float number : <class 'float'>
coverted float to int : 999
type of coverted number : <class 'int'>

In [99]:
var = 999.99
print('<< float to complex conversion >>')
print('*'*90)
print('float number :',var)
print('type of variable :',type(var))
a = complex (var)
print('converted float to complex :',a)
print('type of converted number :',type(a))
print('real :',a.real)
print('imaginary :',a.imag)

<< float to complex conversion >>
******************************************************************************************
float number : 999.99
type of variable : <class 'float'>
converted float to complex : (999.99+0j)
type of converted number : <class 'complex'>
real : 999.99
imaginary : 0.0

In [100]:
var = 999.99 
print("<<  float to string conversion >>")
print('*'*90)
print('float number :',var)
print('type of variables  :',type(var))
a =str(var)
print('converted float to string :',a)
print('type of converted number :',type(a))
print('type of converted number :',type(a))

<<  float to string conversion >>
******************************************************************************************
float number : 999.99
type of variables  : <class 'float'>
converted float to string : 999.99
type of converted number : <class 'str'>
type of converted number : <class 'str'>

In [101]:
var = '10000'
print('<< string to int conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = int(var)
print('converted string to int :',a)
print('type of converted number :',type(a))

<< string to int conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to int : 10000
type of converted number : <class 'int'>

In [102]:
var = '10000'
print('<< string to float conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = float(var)
print('converted string to float :',a)
print('type of converted number :',type(a))

<< string to float conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to float : 10000.0
type of converted number : <class 'float'>

In [103]:
var = '10000'
print('<< string to complex  conversion >>')
print("*"*90)
print('string nnumber :',type(var))
print("type of variable :",type(var))
a = complex(var)
print('converted string to complex :',a)
print('type of converted number :',type(a))

<< string to complex  conversion >>
******************************************************************************************
string nnumber : <class 'str'>
type of variable : <class 'str'>
converted string to complex : (10000+0j)
type of converted number : <class 'complex'>

### Other types to complex function

#### use complex (function for conversion

In [104]:
var = 18 
print(complex (var))
 
var1  = 12.4

print(complex(var1))

var3 = "10.3"

(18+0j)
(12.4+0j)

In [105]:
print (complex (10,5)) #10+5j
print(complex(10.20,4)) # 10.2+4j
print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

# Immutability

Immutability refers to the property of an object that cannot be changed after it has been created. This means that once an object is created, its value cannot be modified.

For example, if you assign a value to a variable that references an integer, you cannot modify the value of that integer:

                  >>x = 5

x = 6 # This creates a new integer object with the value 6 and assigns it to x, it doesn't modify the value of the original object with value 5.

mutable objects in Python can be modified after they have been created.

Examples of mutable objects include lists, sets, and dictionaries.

If you modify a mutable object, you are actually changing the object itself, not creating a new object. For example:

my_list = [1, 2, 3]

my_list.append(4) # This modifies the existing list object, adding a new element 4 to it.

### Immutability: object can not be changed after it has been created are called as immutability

In [106]:
# immutability 
x = 5 
print(id(x))
x = 10
print(id(id(x)))

140705383773096
2105404951600

In [107]:
# Mutability

list1 = [1,2,3]
print(list1)
print(print(id(list1)))
list1[2]=[1,2,3]
print(list1)
print(id(list1))

[1, 2, 3]
2105405133888
None
[1, 2, [1, 2, 3]]
2105405133888

In [108]:
var =100 # for same intger value for multiple variable the id 
var1=var
print(id(var))
print('and \n',id(var1))
print(var is var1) #cheking variable

print('*'*100)

var = 999.99
var1 = 999.99
var2 = 999.99
 
print(id (var))
print('and \n',id(var1))
print(id(var2))
print(var is var1)

140705383776136
and
 140705383776136
True
****************************************************************************************************
2105404948656
and
 2105404948528
2105403787568
False

## Bytes data type

In Python, bytes and bytearray are data types that represent a sequence of bytes (integers between 0 and 255) that can be used to store and manipulate binary data.

The bytes type is immutable, which means that you cannot modify its contents once it has been created.

You can create a bytes object by passing a sequence of integers (between 0 and 255) to the bytes constructor or by using the b prefix before a string literal:

my_bytes = bytes([65, 66, 67]) # create a bytes object from a list of integers

my_bytes = b"ABC" # create a bytes object from a string literal with the "B" pefix

In [109]:
l = [1,2,3,4,5,6]
b = bytes(l)
print(b)
print(type(b))

for i in b:
    print(i)

b'\x01\x02\x03\x04\x05\x06'
<class 'bytes'>
1
2
3
4
5
6

In [110]:
# how to access
print("val of b[5] :",b[5])

val of b[5] : 6

In [111]:
# try to modify
# b[0]=100 
# TypeError: 'bytes' object does not support item assignment
# because bytes are immutable

In [112]:
# my_bytes=bytes([1,2,3,4,5,260]) 
# print(my_bytes)
# value above 255 will get value error
# ValueError: bytes must be in range(0, 256)

In [113]:
my_bytes1 = b'BAC'
print(type(my_bytes1))
for i in my_bytes1 :
    print(i)

<class 'bytes'>
66
65
67

In [114]:
a = [10,20,30,40,50]
print(a)
print(type(a))


print("*"*90)

b=bytes(a)
print(b)
print(type(b))
# this will not print for that we need to go through for  loop

for i in b:
    print(i)

[10, 20, 30, 40, 50]
<class 'list'>
******************************************************************************************
b'\n\x14\x1e(2'
<class 'bytes'>
10
20
30
40
50

## Bytearray Data Type

#### The bytearray type is similar to bytes, but it is mutable, which means that you can modify its contents after it has been created. You can create a bytearray object by passing a sequence of integers (between 0 and 255) to the bytearray constructor or by using the bytearray() function:

                                   my_bytearray = bytearray([65, 66, 67]) # create a bytearray object from a list of integers my_bytearray =bytearray(b"ABC") # create a bytearray object from a bytes object
                 
                 
   x = 6 # This creates a new integer object with the value 6 and assigns it to x, it doesn't modify the value of the original object with value 5.

In [115]:
my_bytearray= bytearray ([10,20,20,30])
print(type(my_bytearray))
print(my_bytearray)
for i in  my_bytearray:
    print(i)

<class 'bytearray'>
bytearray(b'\n\x14\x14\x1e')
10
20
20
30

In [116]:
# accessing the element
my_bytearray[0]

10

In [117]:
# value modifying 
my_bytearray[0]=211

for i in my_bytearray:
    print(i)

211
20
20
30

In [118]:
# we can modify the element in original object of "bytesarrray"
my_bytearray[2]=100
for i in my_bytearray:
    print(i)

211
20
100
30

In [119]:
# my_bytearray[0]=260 # ValueError: byte must be in range(0, 256)

# for i in my_bytearray:
#     print(i)

In [120]:
my_bytearray1=bytearray(b'abc')
print(type(my_bytearray1))
for i in my_bytearray1:
    print(i)

<class 'bytearray'>
97
98
99

In [121]:
barray=bytearray([1,2,3,4])
print(barray)
for i in barray:
    print(i)
    
print("*"*90)
    
barray[0]=90 # bytearray is mutable
print(barray)
for i in barray:
    print(i)

bytearray(b'\x01\x02\x03\x04')
1
2
3
4
******************************************************************************************
bytearray(b'Z\x02\x03\x04')
90
2
3
4

## LIST

1. List stores  multiple item with different data types

2.[ ] brackets are used to create list 

3. List is Ordered

4. the list is changeable (mutable), meaning that we can change ,add remove items in alist after it has been created.

5. Duplicate allowed (Stores)
 
6. list is Growable (we can exend list upto memory limit)

7. Element ara added at end of list

In [122]:
# creat list for int/float /string
l_1 = [1,2,3,4,5,6,7,8]
print(l_1)
print(type(l_1))
print("*"*90)

l_2 = [1.1,2.2,3.3,4.4,5.5,6.6,7.7,8.8]
print(l_2)
print(type(l_2))
print("*"*90)

l_3 = ['a','b','c','d','e','f','g','h']
print(l_3)
print(type(l_3))
print("*"*90)

l_4 = [1,2,3.33,4.44,'a','b']
print(l_4)
print(type(l_4))
print("*"*90)

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>
******************************************************************************************
[1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8]
<class 'list'>
******************************************************************************************
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
<class 'list'>
******************************************************************************************
[1, 2, 3.33, 4.44, 'a', 'b']
<class 'list'>
******************************************************************************************

In [123]:
#aceesing the list items"s 
l = [1,2,'python','java',2.2,3.4]
print(l[2])
print(l[4])

python
2.2

In [124]:
list1 = [1,2,3,4,5]
list2 = [10.1,20.2,30.3,40.4,50.5]
list3 = ['Dj','Priya','Rajakka','dada','Jagadale']
list4 = [1,10.1,'Dj',1+2j,0]

print(list1);print(type(list1))
print(list2);print(type(list2))
print(list3);print(type(list3))
print(list4);print(type(list4))

[1, 2, 3, 4, 5]
<class 'list'>
[10.1, 20.2, 30.3, 40.4, 50.5]
<class 'list'>
['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']
<class 'list'>
[1, 10.1, 'Dj', (1+2j), 0]
<class 'list'>

In [125]:
print(type(list1))
type(list1)

<class 'list'>

list

In [126]:
print(list1[0])
print(list2[1])
print(list3[2])
print(list4[3])
print('***************************')

1
20.2
Rajakka
(1+2j)
***************************

In [127]:
print(list2)
print(list2[0:-2])

list2

[10.1, 20.2, 30.3, 40.4, 50.5]
[10.1, 20.2, 30.3]

[10.1, 20.2, 30.3, 40.4, 50.5]

In [128]:
print(list2)
print(list2[0:3])

[10.1, 20.2, 30.3, 40.4, 50.5]
[10.1, 20.2, 30.3]

In [129]:
list2[-1]

50.5

In [130]:
print(list2[::-1]) # reverse list printed

[50.5, 40.4, 30.3, 20.2, 10.1]

### Operation Of list

In [131]:
# Len Fuction
print(list3)
print("Length :",len(list3))
len(list3)

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']
Length : 5

5

In [132]:
# append fuction
print(list3)
list3.append('Ambak')
print(list3)

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']
['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale', 'Ambak']

In [133]:
# remove fuction 
print(list3)
list3.remove("Ambak")
print(list3)

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale', 'Ambak']
['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']

In [134]:
# copy fuction 
list10 = list3.copy()
print("list 3 :",list3)
print("list 10 :",list10)

list 3 : ['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']
list 10 : ['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']

In [135]:
# extend fuction
print(list1)
list1.extend("Ambak")
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'A', 'm', 'b', 'a', 'k']

In [136]:
list10.extend(list3)
print(list10)

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale', 'Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']

In [137]:
# del fuction
del list1[4::1]
list1

[1, 2, 3, 4]

In [138]:
#index fuction 
print("list1 :",list1)
print("list2 :",list2)
print(list1.index(1))
print(list2.index(40.4))
print(list4.index('Dj'))
list3.index('Rajakka')

list1 : [1, 2, 3, 4]
list2 : [10.1, 20.2, 30.3, 40.4, 50.5]
0
3
2

2

In [139]:
# insert value (index , value)
print("list1 :",list1)
list1.insert(3,100)
print('list1 after insert :',list1)

list1 : [1, 2, 3, 4]
list1 after insert : [1, 2, 3, 100, 4]

In [140]:
# pop fuction

POP will remove llast element from list but if we give indexnumber then that particular element will be remove

In [141]:
print(list1)
list1.pop()# pop last element
print(list1)
list1.pop(3) # pop ist index
print(list1)

[1, 2, 3, 100, 4]
[1, 2, 3, 100]
[1, 2, 3]

In [142]:
# reverse fuction
print("original list :",list2)
list2.reverse()
print("reverse list :",list2)

original list : [10.1, 20.2, 30.3, 40.4, 50.5]
reverse list : [50.5, 40.4, 30.3, 20.2, 10.1]

In [143]:
# sort fuction (ascending /decending )
list11 = [1,2,3,4,5,6]
print('original list :',list11)
list11.sort(reverse = False)
print('Ascending order :',list11)
list11.sort(reverse = True)
print('Decending order :',list11)

original list : [1, 2, 3, 4, 5, 6]
Ascending order : [1, 2, 3, 4, 5, 6]
Decending order : [6, 5, 4, 3, 2, 1]

In [144]:
# lst .sort (*,key=none , reverse =false)
lst = ['C','B','A','C','B','A',0,-110,-110,'1000',10.1,10]
lst = sorted (map(str,lst))
lst

['-110', '-110', '0', '10', '10.1', '1000', 'A', 'A', 'B', 'B', 'C', 'C']

In [145]:
# modifying 1st index 
print(list11)
list11[1]='mohite_patil'
print(list11)

[6, 5, 4, 3, 2, 1]
[6, 'mohite_patil', 4, 3, 2, 1]

In [146]:
# modifying 1st, 2nd and 3rd index

print(list11)
list11[0:3]=['A','B','C']
print(list11)

[6, 'mohite_patil', 4, 3, 2, 1]
['A', 'B', 'C', 3, 2, 1]

In [147]:
print(len(list11))
# list11[9] = 'padmaja' # list assignment index out of range
print(list11)

6
['A', 'B', 'C', 3, 2, 1]

In [148]:
# clear fuction
list11.clear()
print(list11)

[]

In [149]:
# acccess list element by using for loop

In [150]:
for i in list4:
    print(i)

1
10.1
Dj
(1+2j)
0

In [151]:
print(list2)
print(list2[0:3])
list2

[50.5, 40.4, 30.3, 20.2, 10.1]
[50.5, 40.4, 30.3]

[50.5, 40.4, 30.3, 20.2, 10.1]

In [152]:
print(list2)
print(list2[0:-2])

[50.5, 40.4, 30.3, 20.2, 10.1]
[50.5, 40.4, 30.3]

In [153]:
list2[-1]

10.1

In [154]:
print(list2[::-1]) # reverse list printed

[10.1, 20.2, 30.3, 40.4, 50.5]

####  Operation of list

In [155]:
# len fuction 
print(list3)
print(len(list3))
len(list3)

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']
5

5

In [156]:
#append fuction
print(list3)
list3.append('Ambak')

['Dj', 'Priya', 'Rajakka', 'dada', 'Jagadale']

In [157]:
list20 = [1,2,3,4,5,6,7,8,9]
list20[2:3]=[22,33,44]
print(list20)
print(list[4])

[1, 2, 22, 33, 44, 4, 5, 6, 7, 8, 9]
list[4]

In [158]:
# lok like misbahaviour but actully we are given index 2:en
list21 = [1,2,3,4,5,67,8,9]
list21[2:] = [22,33,44]
print(list21)
print(list20[4])

[1, 2, 22, 33, 44]
44

In [159]:
list21 = [1,2,3,4,5,6,7,8,9]
list21[2:4]=[22,33,44]
print(list21)
print(list20[4])

[1, 2, 22, 33, 44, 5, 6, 7, 8, 9]
44

# TUPLE

#### 1. Tuple is ordered and unchangable(not growable).
#### 2.  Immutable (you cant change the element or can't add elements in tuple)
#### 3.  () are used to represent the tuple
#### 4.  Duplicates allowed
#### 5.  Tuples are read only version of your list but except list is growable.

In [160]:
# tuple constructer 
tup = tuple ((1,2,3,4,5,6))
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [161]:
# count ()
tup.count(5) # counts how ties element is coming

1

In [162]:
# index ()
tup.index(5)# showing index number of element

4

In [163]:
# tup.append(10) 
# AttributeError: 'tuple' object has no attribute 'append'

In [164]:
# step1: tuple convert into list
print(tup)
print(type(tup))
print('*'*60)
l_tup = list(tup)
print(l_tup)
print(type(l_tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
************************************************************
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [165]:
# step2 : append requied item in list
l_tup.append(100)
print(l_tup)
print(type(l_tup))
print('*'*60)
tup=tuple(l_tup)
print(tup)
print(type(tup))

[1, 2, 3, 4, 5, 6, 100]
<class 'list'>
************************************************************
(1, 2, 3, 4, 5, 6, 100)
<class 'tuple'>

In [166]:
print(tup)

(1, 2, 3, 4, 5, 6, 100)

In [167]:
# append 
l=list(tup)
l.append ('Krishna')
tup=tuple(l)
print(tup)

(1, 2, 3, 4, 5, 6, 100, 'Krishna')

In [168]:
# copy 
ll = [11,22,33,44,55,66,1000,'Hare']
print(ll)
print(type(ll))
l = list(tup)
len(ll)
l=ll.copy()
tup=tuple(l)
print(tup)

[11, 22, 33, 44, 55, 66, 1000, 'Hare']
<class 'list'>
(11, 22, 33, 44, 55, 66, 1000, 'Hare')

In [169]:
# extend fuction
lll = ['rama','Hare','Krishna']
l = list(tup)
l.extend(lll)
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 1000, 'Hare', 'rama', 'Hare', 'Krishna')

In [170]:
# index
print(tup.index('Hare'))
print(tup.index('Krishna'))

7
10

In [171]:
# insert (index,value)
l=list(tup)
l.insert(6,'ABC')
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 'ABC', 1000, 'Hare', 'rama', 'Hare', 'Krishna')

In [172]:
# pop ()
l=list(tup)
l.pop(6)
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 1000, 'Hare', 'rama', 'Hare', 'Krishna')

In [173]:
# remove()we need give argument which we want to remove 
l=list(tup)
l.remove(66)
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 1000, 'Hare', 'rama', 'Hare', 'Krishna')

In [174]:
# reverse ()
l = list(tup)
l.reverse()
tup=tuple(l)
print(tup)

('Krishna', 'Hare', 'rama', 'Hare', 1000, 55, 44, 33, 22, 11)

In [175]:
# sort
# l=list(tup)
# l1=l.sort()# ascending
# # TypeError: '<' not supported between instances of 'int' and 'str'
# tup=tuple(ll)
# print(tup)
# l2=l.sort(reverse=True) # decending order
# tup1=tuple(l2)
# print(tup1)

# in list we need either one value or str

In [176]:
l1 =[11,22,10101,44,55,66,1000]
print(l1)
l1.sort()
print(l1)

[11, 22, 10101, 44, 55, 66, 1000]
[11, 22, 44, 55, 66, 1000, 10101]

In [177]:
# clear ()
l=list(tup)
l.clear()
tup=tuple(l)
print(tup)

()

In [178]:
tup = ('apple','apple','banana','cherry','orange','kiwi','melon','mango')
print(tup)
print(type(tup))

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [179]:
print(len(tup))
print(tup.count('apple'))
tup.index('cherry')

8
2

3

In [180]:
tup1=("sucess")
print(type(tup1))

tup1 =('sucesss',)# ','required at last
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [181]:
tup = ('apple','apple','banana','cherry','orange','kiwi','melon','mango')
print(tup)
print(type(tup))

print("*"*70)
tup = ('apple','apple','banana','cherry','orange','kiwi','melon','mango')
print(tup)
print(type(tup))

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
**********************************************************************
('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [182]:
tup2 = (1,1.2,"abc",True,40,"male")
print(tup2)
print(type(tup2))

(1, 1.2, 'abc', True, 40, 'male')
<class 'tuple'>

In [183]:
# tuple constructor >> tuple contructor is a built in fuction

tup3 = tuple([10,20,30])
print(tup3)

(10, 20, 30)

In [184]:
# access the element of tuple

print(tup3)
tup3[1]

(10, 20, 30)

20

In [185]:
print(tup)
tup[3]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'cherry'

In [186]:
tup[-2]

'melon'

In [187]:
# range of item
tup[1:3]

('apple', 'banana')

In [188]:
# change tuple value by using list

print('tuple will be : ',tup)
print(type(tup))

print("*"*70)

var = list(tup)
print("Tuple converte in list ",var)
print(type(var))

print('*'*70)

# cahnge value 
var[1] = 'Potato'
print('changing value in list',var)
print(type(var))

print('*'*100)

# change back to tuple from list
var1 = tuple(var)
print('Converted ist to tuple:',var1)

tuple will be :  ('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
**********************************************************************
Tuple converte in list  ['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
**********************************************************************
changing value in list ['apple', 'Potato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
****************************************************************************************************
Converted ist to tuple: ('apple', 'Potato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [189]:
# add item to list and convert back to tuple
tup11=('A','B','C','D','E')
print(tup11)
print(type(tup11))

print("*"*70)

var = list(tup11)
print(var)
print(type(var))

print("*"*70)

var[1]='BBBB'
print(var)
print(type(var))
print("*"*70)

var1=tuple(var)
print(var1)
print(type(var1))

('A', 'B', 'C', 'D', 'E')
<class 'tuple'>
**********************************************************************
['A', 'B', 'C', 'D', 'E']
<class 'list'>
**********************************************************************
['A', 'BBBB', 'C', 'D', 'E']
<class 'list'>
**********************************************************************
('A', 'BBBB', 'C', 'D', 'E')
<class 'tuple'>

In [190]:
# remove items using list 
tup = (1,44,'hh','aba',1,1,4,6,7)
print(tup)
print(type(tup))
print("*"*79)

print('typcasting from tuple to list :')
list1 =list(tup)
print(list1)
print(type(list1))
print('*'*70)
      
print('removing element from lis :')
# list.remove ('aba')# element name
list1.pop(8) # index number of removing element
print(list1)
print(type(list1))

(1, 44, 'hh', 'aba', 1, 1, 4, 6, 7)
<class 'tuple'>
*******************************************************************************
typcasting from tuple to list :
[1, 44, 'hh', 'aba', 1, 1, 4, 6, 7]
<class 'list'>
**********************************************************************
removing element from lis :
[1, 44, 'hh', 'aba', 1, 1, 4, 6]
<class 'list'>

In [191]:
# complte of using del tuple name
tup_1=('A','B','C',1,2,3)
print(tup_1)
print(type(tup_1))

del tup_1
# print(tup_1) # error is coming due to tuple delteted by using del

('A', 'B', 'C', 1, 2, 3)
<class 'tuple'>

##### use of asterisk(*):


       asterisk (*) can be used in tuples to perform a       variety of operations.

### 1. Unpacking operator:

##### The most common use of the asterisk in tuples is as an unpacking operator. For example, if you have a tuple with more than one element, you can use the asterisk to unpack all of the remaining elements into a new variable.

In [192]:
tup=(1,2,3,4,5)
(a, *b)=tup
print(a)
print(b)

1
[2, 3, 4, 5]

In [193]:
(a,*b,c,d)=tup
print(a)
print(b)
print(c)
print(d)

1
[2, 3]
4
5

In [194]:
fruit = ('apple','banana','cherry','strawberry')
fruit_1=('apple','strawberry','banana',"cherry",'rasberry')
(red,yellow,*pink)=fruit
print(red)
print(yellow)
print(pink)

print('*'*70)
(*red,yellow,pink,pink)=fruit
print(red)
print(yellow)
print(pink)

print('*'*90)
(red,*yellow,pink)=fruit
print(red)
print(yellow)
print(pink)

apple
banana
['cherry', 'strawberry']
**********************************************************************
['apple']
banana
strawberry
******************************************************************************************
apple
['banana', 'cherry']
strawberry

In this example, the variable a will be assigned the first value in the tuple, and the variable b will be assigned a list containing the remaining values in the tuple.

 ####        2. Packing Operator :
         The asterisk can also be used to pack elements into a tuple. This is done by placing the asterisk before a variable that contains a sequence of values. Here's an example:

In [195]:
a = (1,2,3,4,5)
b=(6,7,8,9,10)
c= (*a,*b)
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [196]:
fruit = ('apple','banana','cherry','strawberry','rasberry')
fruit_1 = ("apple","strawberry","banana","cherry","rasberry")
market = (*fruit,*fruit_1)
print(market)

('apple', 'banana', 'cherry', 'strawberry', 'rasberry', 'apple', 'strawberry', 'banana', 'cherry', 'rasberry')

In this example, the variables a and b contain tuples, and the asterisk is used to pack their elements into a new tuple c.

### 3  Function arguments:
The asterisk can also be used in function calls to unpack a tuple or list as arguments to the function. Here's an example:

In [197]:
def add_numbers (a,b,c):
    return a+b+c

numbers=add_numbers(1,2,3) # normal Fuction calling
print(numbers)

6

In [198]:
values =(1,2,3)
number =add_numbers(*values)
print(numbers)

6

In [199]:
def fruits(a,b,c):
    return a+'_'+b+'_'+c
market = fruits('apple','banana',"Cherry")
print(market)

apple_banana_Cherry

In this example, the tuple numbers is unpacked into individual arguments using the asterisk and passed to the add_numbers() function

In [200]:
# methods : counts()& index()
tup = (1,2,3,4,5,6,7,8,9,58,37,45,43,7,4,6,8,5,4,3,)
print(tup)
print(tup.count(5))

print("*"*90)
print(tup.index(37))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 58, 37, 45, 43, 7, 4, 6, 8, 5, 4, 3)
2
******************************************************************************************
10

In [201]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

# SET

#### 1.set is unordered collection of elements i.e sequence will be change after execution
####  2.index concept is not applicable
#### 3.it is mutable (you can change the element or add the elements in set)
#### 4.it is growable
#### 5.set items are unchangeable due to don't know indexing of elements
#### 6.{ } are used to represent set
#### 7.duplicates are not allowed

### Available methods for set is:

s.copy()

s.difference()

s.intersection()

s.isdisjoint()

s.issubset()

s.issuperset()

s.symmetric_difference()

s.union()

s1={1,2,3,4,'vaibhav

In [202]:
s1 = {1,2,3,4,"Dipak","priya","DJ"}
print(type(s1))
print(s1)

<class 'set'>
{'Dipak', 1, 2, 3, 4, 'DJ', 'priya'}

In [203]:
print(len(s1))

7

In [204]:
s = {1,2,3,"sai","kaviraj","chetan",70.1}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'sai'}

In [205]:
print(len(s))

7

In [206]:
# set() constructer (by using list and tuple)
set1 = set(["apple",'banana',"cherry"])# using list
print(set1)
print(type(set1))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [207]:
set2 = set((1,"nana","appa",90.10))# using tuple
print(set2)
print(type(set2))

{1, 90.1, 'appa', 'nana'}
<class 'set'>

In [208]:
# accessing set
print(set2)
val = "banana" in set2
print("banana is present in set2 ?>>",val)
print("appa is pesent in set2 ?>>","appa" in set2)

{1, 90.1, 'appa', 'nana'}
banana is present in set2 ?>> False
appa is pesent in set2 ?>> True

In [209]:
# set2[1] # TypeError: 'set' object is not subscriptable

In [210]:
90.1 in set2

True

In [211]:
# once set is created we can not change element value but we
print(set2)
set2.add("mango")
print(set2)

{1, 90.1, 'appa', 'nana'}
{1, 'nana', 'mango', 90.1, 'appa'}

In [212]:
# duplicates are not allowed
print(set2)
set2.add("add")# appa is already in set so will not be add
print(set2)

{1, 'nana', 'mango', 90.1, 'appa'}
{1, 'nana', 'mango', 90.1, 'appa', 'add'}

In [213]:
# using update you can add any iterable item
# iterable item like : set,list,tuple,dict_only keys

s1={1, 2, 11.1, 22.2, "shree", "ganesh"}
s2={10, 20, 33.3, 44.4, "hare", "krishna"}
s3={100, 200, 55.5, 66.6, "hare", "rama"}

print("s1 : ",s1)
print("s2 :",s2)
print("s3 :",s3)
print("*"*70)

s1.update(s2)
print("lst updated s1 :",s1)
print("*"*100)
s1.update(s3)
print("2nd updated s1 :",s1)
print('*'*70)

s1 :  {1, 2, 'shree', 22.2, 11.1, 'ganesh'}
s2 : {33.3, 20, 'krishna', 10, 44.4, 'hare'}
s3 : {66.6, 100, 55.5, 200, 'rama', 'hare'}
**********************************************************************
lst updated s1 : {1, 2, 33.3, 'hare', 'shree', 10, 11.1, 44.4, 'ganesh', 20, 22.2, 'krishna'}
****************************************************************************************************
2nd updated s1 : {1, 2, 33.3, 'hare', 66.6, 'shree', 100, 200, 10, 11.1, 44.4, 'rama', 'ganesh', 20, 22.2, 55.5, 'krishna'}
**********************************************************************

In [214]:
# remove (),discard (),pop()
# remove () >> raise an error if element not present
print("remove using remove () :\n)",set1)
print('*'*90)
set1.remove('banana')
print(set1)

remove using remove () :
) {'apple', 'banana', 'cherry'}
******************************************************************************************
{'apple', 'cherry'}

In [215]:
# discard ()method >> method not an error if element 
set1.discard("apple")
print(set1)

{'cherry'}

In [216]:
# pop() method >> remove and return an arbitary (randomly) set

set1.pop()
print(set1)

set()

In [217]:

s1 = {1,2,11.1,22.2,"share","ganesh"}
s1.remove(1)
print(s1)
s1.discard(1)
print(s1)
s1.pop()
print(s1)

{2, 22.2, 'share', 11.1, 'ganesh'}
{2, 22.2, 'share', 11.1, 'ganesh'}
{22.2, 'share', 11.1, 'ganesh'}

In [218]:
# union method()

# adds element of two and creat new set
s1={1,2,3,4}
s2={3,4,5,6,7}

print(s1)
print(s2)
 
    
new_set=s1.union(s2)
print(new_set)

# update method work for union only bu adds element to calling

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [219]:
# intersection() method >> Return the intersection of two sets as a new set.
# (i.e. all common elements that are in both sets.)

print(s1)
print(s2)

new_set=s1.union(s2) # union does not allow duplicates
print(new_set)

# updates method work for union only adds elements to calling

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [220]:
# intersection() method >> Return the intersection of two sets as a new set.
# (i.e. all common elements that are in both sets.)
print(s1)
print(s2)
s3={1,2,10,20,30}
intr=s1.intersection (s2) # requires new variable for return 
print("intersection :\n",intr)

s1.intersection_update(s3)
print("intersection updates :\n",s1)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
intersection :
 {3, 4}
intersection updates :
 {1, 2}

In [221]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1)
print(set2)

# difference: return new set with element which are not present in another set
sd1=set1.difference(set2)
print('difference of set1 and set2:',sd1)
sd2=set2.difference(set1)
print("difference of set2 and set1:",sd2)


# symmetric_difference : return new set with elements present in s1 but not in set2 and viceversa
syd=set1.symmetric_difference(set2)
print("symmetric_difference:",syd)


# symmetric_difference_update : update a set with symmetric_differnece iteself and another
sdu=set1.symmetric_difference_update(set2)
print("symmetric_difference_update :",set1)
print("set1:",set1)
print("set2:",set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
difference of set1 and set2: {1, 2, 3}
difference of set2 and set1: {8, 6, 7}
symmetric_difference: {1, 2, 3, 6, 7, 8}
symmetric_difference_update : {1, 2, 3, 6, 7, 8}
set1: {1, 2, 3, 6, 7, 8}
set2: {4, 5, 6, 7, 8}

In [222]:
set1={1,2,3,4,5}
set2 ={4,5,6,7,8}
print(set1)
print(set2)
 
# differance : return new set with element which are not present in s1 but not in set2 and viceversa
sd1=set1.difference (set2)
print(('difference of set1 and set2 :',sd1))
sd2 = set2.difference (set1)
print("diffrence of set2 and set1 :",sd2)

# symmentric_difference : return new with element present in s1 but not in set2 and viceversa
syd=set1.symmetric_difference_update(set2)
print("symmentric_difference ::",syd)

# symmetric_difference_update : update a set with symmetric_differnece iteself and another
sdu=set1.symmetric_difference_update(set2)
print("symmetric_difference_update :",set1)
print("set1:",set1)
print("set2:",set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
('difference of set1 and set2 :', {1, 2, 3})
diffrence of set2 and set1 : {8, 6, 7}
symmentric_difference :: None
symmetric_difference_update : {1, 2, 3, 4, 5}
set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}

#### symmetric_difference :
                                                              keep elements which are not present in another set
    1. s1={1,2,3,4,5,6}
    2. s2={3,5,7,8,9}

    output: s1 and s2 = {1,2,4,6} + {7,8,9}

In [223]:
# symmetric _diffrence ()
## >> return new set with element which are present in s1 not in s2 + present in s2 but not in s1
s1={1,2,3,4,5,6}
s2={3,5,7,8,9}

print(s1)
print(s2)

print("*"*70)

res=s1.symmetric_difference(s2)
print("symmetric_difference :\n",res)

{1, 2, 3, 4, 5, 6}
{3, 5, 7, 8, 9}
**********************************************************************
symmetric_difference :
 {1, 2, 4, 6, 7, 8, 9}

In [224]:
# difference()
# >> returns new set elements present in s_1 but not in s_2 and vice versa

res1=s1.difference(s2)
print("difference :\n",res1)
res11=s2.difference(s1)
print("difference :\n",res11)

difference :
 {1, 2, 4, 6}
difference :
 {8, 9, 7}

#### isdisjoint() : Returns whether two sets have a intersection or not
      isdisjoint() is a set method in Python that is used to check whether two sets have any common elements or not.It returns True if the two sets have no common elements, and False if there are common elements

In [225]:
s={1,2,3,4,5,6}
s1 = {44,45,46}

print(s.isdisjoint(s1))
print("s :",s)
print("set1 :",s1)

True
s : {1, 2, 3, 4, 5, 6}
set1 : {44, 45, 46}

s = {1,2,3,4,5,6}
set1 :{44,45,46}
    
issubset()<< Retures whether another set contains this set or not

In [226]:
s = {1,2,3,4,5,6}
s1 = {4,5,6}

print(s.issubset(s1))
print(("s:",s1))
print("set1 :",s1)

False
('s:', {4, 5, 6})
set1 : {4, 5, 6}

In [227]:
print(s1.issubset(s))
print("s :",s)
print("set :",s1)

True
s : {1, 2, 3, 4, 5, 6}
set : {4, 5, 6}

In [228]:
# issubset : true > if set2 is present at else false
set1={1,2,3,4,5,6,7,8}
set2 ={4,5,6,7,8}
print(set1)
print(set2)
val=set1.issubset(set2)
print("set1.issubset(set2 :)",val)
val2 =set2.issubset(set1)
print("set1.issubset(set2):",val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issubset(set2 :) False
set1.issubset(set2): True

####  issuperset() : Returns whether this set contains another set or not

In [229]:
print(s.issuperset(s1))
print(("s :",s))
print("s1 :",s1)

True
('s :', {1, 2, 3, 4, 5, 6})
s1 : {4, 5, 6}

In [230]:
# issuperset: true > if set1 element in set2 else false
set1 = {1,2,3,4,5,6,7,8}
set2 = {4,5,6,7,8}
print(set1)
print(set2)
val=set1.issuperset(set2)
print("set1.issperset(set2):",val)
val2=set2.issuperset(set1)
print("set2.issuperset(set1):",val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issperset(set2): True
set2.issuperset(set1): False

In [231]:
# del and clear() method removes the set completely

# uncomment to run it and see result
# print(s1)
# del s1
# print(s1)

In [232]:
print(s)
# s[0]=100 # index concept is not applicable
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

# Frozenset

#### frozenset is same as set but it is immutable & not growable

Once a frozenset object is created, its elements cannot be added or removed, because frozenset objects are immutable and their elements cannot be modified.

In [233]:
my_dict = {frozenset ({1,2}):'value'}
print(my_dict[frozenset({1,2})]) # output : 'value'
print("*"*100)

my_set={frozenset({1,2}),frozenset({3,4})}
print(my_set)# output : {ffrozenset({1,2})},frozenset({3,4})}

value
****************************************************************************************************
{frozenset({3, 4}), frozenset({1, 2})}

In [234]:
# frozenset is same as set but it is immutable

print(s)
print(type(s))
fs = frozenset(s)
print(fs)
print(type(fs))
# supported methods for frozen set

new_fs = fs.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmentric_difference()
s.union()
'''

print(new_fs)
print(type(fs))

{1, 2, 3, 4, 5, 6}
<class 'set'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

# Dictionary

1. stores data in key-value pair
2. It is ordered (From python version 3.7 dictonaries are ordered)
3.Duplicates are not allowed (keys),but duplicate values are allowed
4. itie changeable/Growable
5. item are reffred by using key
6. { } are used to write dictioaries

#### Dictonary Creation

In [235]:
d = {
    1:  "Dipak",
    2: "priya",
    3: "dj",
    4: "sachin"    
     }

print(d)
print(type(d))

{1: 'Dipak', 2: 'priya', 3: 'dj', 4: 'sachin'}
<class 'dict'>

In [236]:
dict1={
    'name ' : 'priyadarshani',
    'mobile': 7083515888,
    'adrress': "Ambak",
    'job'  : 'Data scientist',
    'salary': 100000,
    'ID no.': 12345
}

print(dict1)
print(type(dict1))

{'name ': 'priyadarshani', 'mobile': 7083515888, 'adrress': 'Ambak', 'job': 'Data scientist', 'salary': 100000, 'ID no.': 12345}
<class 'dict'>

In [237]:
stud = {
    'roll no' : 10,
    'name':  'Akashay',
    'class': 'TE',
    'Marks': 89.90
}

print(stud) # set/dictionary are unordered from python version
print(type(stud))


l = [10,5,4,2,25]
print(l)


# acess the element
val = stud['name']
print(val)

print(stud['Marks'])

{'roll no': 10, 'name': 'Akashay', 'class': 'TE', 'Marks': 89.9}
<class 'dict'>
[10, 5, 4, 2, 25]
Akashay
89.9

### Acessing ways of the dictionary

In [238]:
# 1. directly acess using key
# 2. using get method
# 3. by using notation
# 4. by usibg dict.items()
# 5 . by using dict.values

In [239]:
print(d)

{1: 'Dipak', 2: 'priya', 3: 'dj', 4: 'sachin'}

In [240]:
# directly acess using key
print(d[1])
print(d[2])
print(d[3])
print(d[4])

Dipak
priya
dj
sachin

In [241]:
# using get method

print("acess dicts using get() method :")
print(d.get(1))
print(d.get(3))

acess dicts using get() method :
Dipak
dj

In [242]:
# acess all the keys of dictionary 
print(stud)
print("keys :\n")
print(stud.keys())

{'roll no': 10, 'name': 'Akashay', 'class': 'TE', 'Marks': 89.9}
keys :

dict_keys(['roll no', 'name', 'class', 'Marks'])

In [243]:
# add new item 
print(stud)

stud["last_name"]='Jagadale'
stud['city'] = 'Mumbai'
stud['mobile']= 8600261039
print(stud)

{'roll no': 10, 'name': 'Akashay', 'class': 'TE', 'Marks': 89.9}
{'roll no': 10, 'name': 'Akashay', 'class': 'TE', 'Marks': 89.9, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}

In [244]:
print(stud.keys())

dict_keys(['roll no', 'name', 'class', 'Marks', 'last_name', 'city', 'mobile'])

In [245]:
print(len(stud.keys()))

7

In [246]:
# acess keys_values pair directly from dictionary

print(stud)
print('*'*90)
print(stud.items())

{'roll no': 10, 'name': 'Akashay', 'class': 'TE', 'Marks': 89.9, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}
******************************************************************************************
dict_items([('roll no', 10), ('name', 'Akashay'), ('class', 'TE'), ('Marks', 89.9), ('last_name', 'Jagadale'), ('city', 'Mumbai'), ('mobile', 8600261039)])

In [247]:
# change value
print(stud.items())

dict_items([('roll no', 10), ('name', 'Akashay'), ('class', 'TE'), ('Marks', 89.9), ('last_name', 'Jagadale'), ('city', 'Mumbai'), ('mobile', 8600261039)])

In [248]:
stud['class']='BE'
stud['Marks']=91.99

In [249]:
print(stud.items())

dict_items([('roll no', 10), ('name', 'Akashay'), ('class', 'BE'), ('Marks', 91.99), ('last_name', 'Jagadale'), ('city', 'Mumbai'), ('mobile', 8600261039)])

In [250]:
# updates ()>> here we are updating direct dictionary 

print(stud)
print("*"*90)
stud.update({
    'Subject':'Maths',
    'email': 'a@b.com'
})
print(stud)

{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}
******************************************************************************************
{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039, 'Subject': 'Maths', 'email': 'a@b.com'}

In [251]:
# remove items
print(stud)
stud.pop("email")
print(stud)

{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039, 'Subject': 'Maths', 'email': 'a@b.com'}
{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039, 'Subject': 'Maths'}

In [252]:
print(stud)
stud.popitem() # will pop single key_values pair
print(stud)

{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039, 'Subject': 'Maths'}
{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}

In [253]:
# del 
# >> del can remove items as well as dictionary

d={
    1:'a',
    2:'b',
    3:'c'
}
print(d)
del d[1]
print(d)

{1: 'a', 2: 'b', 3: 'c'}
{2: 'b', 3: 'c'}

In [254]:
# del d
# print(d) (NameError: name 'd' is not defined) due to del operation performed

In [255]:
# clear()
# >> '''clear() method and del keyword are used to remove and empty the dict'''

dd = {
    1:'a',
    2:'b',
    3:'c'
}

print(dd)
dd.clear()
print(dd)

{1: 'a', 2: 'b', 3: 'c'}
{}

In [256]:
# copy dictionary 
d =dd # this is reference to your d not copy of dd
print(d)
print(dd)

{}
{}

In [257]:
d['mobile']=229373539

In [258]:
print(d)

{'mobile': 229373539}

In [259]:
# copy ()method
print(stud)
print("*"*90)
stud2=stud.copy()
stud2['random']='val'
print(stud)
print(stud2)

{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}
******************************************************************************************
{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}
{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039, 'random': 'val'}

In [260]:
# dict ()for copy
stud3 = dict(stud)
print(stud3)

{'roll no': 10, 'name': 'Akashay', 'class': 'BE', 'Marks': 91.99, 'last_name': 'Jagadale', 'city': 'Mumbai', 'mobile': 8600261039}

In [261]:
dd ={
    
    'A':10,
    'B':20,
    'C':30,
    40:'D',
    50:'E'
}

print(dd)

{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E'}

In [262]:
dd.keys()

dict_keys(['A', 'B', 'C', 40, 50])

In [263]:
dd.values()

dict_values([10, 20, 30, 'D', 'E'])

In [264]:
dd.items()

dict_items([('A', 10), ('B', 20), ('C', 30), (40, 'D'), (50, 'E')])

In [265]:
dd.get('B')

20

In [266]:
d ={'A':10,'B':20,'C':30,40:'D',50:'E'}
newdict=dict.fromkeys(d,40)
print(newdict)

{'A': 40, 'B': 40, 'C': 40, 40: 40, 50: 40}

In [267]:
dd.setdefault('f',60)
print(dd)

{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 'f': 60}

### setdefault:
#### setdefault  is used to retrieve the value of a specified key. 

#### If the key exists in the dictionary, setdefault() returns the corresponding value. If the key does not exist, setdefault() adds the key to the dictionary with a default value and returns that default value.

In [268]:
dd.setdefault('f')

60

In [269]:
dictionary1 = {"apple":"red","banana":"yellow"}
dictionary2 = {"orange":"orange","banana":"green"}
dictionary1.update(dictionary2)
print(dictionary1)

{'apple': 'red', 'banana': 'green', 'orange': 'orange'}

In [270]:
print(dictionary1)
dictionary1.pop('apple')
print(dictionary1)

{'apple': 'red', 'banana': 'green', 'orange': 'orange'}
{'banana': 'green', 'orange': 'orange'}

In [271]:
print(dictionary1)
dictionary1.popitem()
print(dictionary1)

{'banana': 'green', 'orange': 'orange'}
{'banana': 'green'}

#### The pop() method removes and returns the value associated with the specified key from the dictionary.
#### If the key is not found in the dictionary, an optional default value can be provided, which will be returned instead of raising a KeyError exception.

In [272]:
dictionary = {"apple":"red","banana":"yellow","orange":"orange"}
value=dictionary.pop("banana")
print(value)# output:yellow

yellow

#### The popitem():
###### This method removes and returns an arbitrary key-value pair from the dictionary as a tuple. This method is useful when you want to remove and retrieve an arbitrary item from the dictionary

In [273]:
dictionary = {"apple":"red","banana":'yellow',"orange":"orange"}
item = dictionary.popitem()
print(item) # output : ('orange','orange')

('orange', 'orange')

In [274]:
students = {
    
    'john':{
        "age":20,
        "grade":"A"
            },
   'sarah' :{
       "age":19,
       "grade":"B"
        }
       }
students

{'john': {'age': 20, 'grade': 'A'}, 'sarah': {'age': 19, 'grade': 'B'}}

In [275]:
# Accessing Johns age
John_age = students["john"]["age"]
print(John_age) #output:20
#Accessing sarah's grade
sarah_grade =students["sarah"]["grade"]
print(sarah_grade)  #output:8

20
B

In [276]:
company = {
    "sales":[
        {"name":"John"},
        {"name":"Ana"}
    ],
    "development":[
        {"name":"chris"},
        {"name":"Ann"}
    ]
    }
company

{'sales': [{'name': 'John'}, {'name': 'Ana'}],
 'development': [{'name': 'chris'}, {'name': 'Ann'}]}

In [277]:
company["development"][1]["name"]

'Ann'

In [278]:
company['sales'][0]['name'],company['sales'][1]['name']

('John', 'Ana')

In [279]:
grandson = {
    'gs_key':'grans_son_name'
}

son = {
    's_key':grandson,
    's_name':'son_name'
}

parent = {
    "p_key":son,
    'p_name':'parent_name'
}

family ={
    'f_key':parent,
    
}
print(family)

{'f_key': {'p_key': {'s_key': {'gs_key': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'parent_name'}}

In [280]:
 family['f_key']['p_name']

'parent_name'

In [281]:
family['f_key']['p_key']['s_key']['gs_key']

'grans_son_name'

In [282]:
list_n=["sai",'kaviraj',family]
print(list_n)

['sai', 'kaviraj', {'f_key': {'p_key': {'s_key': {'gs_key': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'parent_name'}}]

In [283]:
# A ccess child dictionary
family['f_key']['p_key']

{'s_key': {'gs_key': 'grans_son_name'}, 's_name': 'son_name'}

In [284]:
# access child dictionary
family['f_key']['p_key']

{'s_key': {'gs_key': 'grans_son_name'}, 's_name': 'son_name'}

In [285]:
# Acess grand child
family['f_key']['p_key']['s_key']

{'gs_key': 'grans_son_name'}

In [286]:
family['f_key']['p_key']['s_key']['gs_key']

'grans_son_name'

In [287]:
s = ["1","2","3","4","5","6"]
s1 =["4","5","6","7","8","9"]

In [288]:
s2 =dict(zip(s,s1))
print(s2)

{'1': '4', '2': '5', '3': '6', '4': '7', '5': '8', '6': '9'}

In [289]:
p= [1,2,3,4,5,6,7,8,9]
p1 =[9,8,7,6,5,4,3,2,1]

my_dict={}
 
for p,p1 in zip(p,p1):
    my_dict[p] = p1
    
print(my_dict)
print(type(my_dict))

{1: 9, 2: 8, 3: 7, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1}
<class 'dict'>

In [290]:
my_dict={i:j for i,j in zip(s,s1)}
print(my_dict)
print(type(my_dict))

{'1': '4', '2': '5', '3': '6', '4': '7', '5': '8', '6': '9'}
<class 'dict'>

In [291]:
my_dict=[{i:j for i,j in zip(s,s1)}]
print(my_dict)

[{'1': '4', '2': '5', '3': '6', '4': '7', '5': '8', '6': '9'}]

In [292]:
s = ["1","2","3","4"]
s1 =["6","7","8","9"]

In [293]:
for i,j in enumerate(s):
    my_dict=[{i for i in zip(s,s1)}]
print(my_dict)
type(my_dict)

[{('3', '8'), ('4', '9'), ('1', '6'), ('2', '7')}]

list

# Operators

#### Python Opeartors:

 1. Arithmatic opeartors
 2. Assignment opeartors
 3. Comparision opeartors
 4. Logical operators
 5. Identity opeartors
 6. Membership opeartors
 7. Bitwise operators
 
#### 1. Arithmatic operators

 1. +  addition x+y
 2. -  subtraction x-y
 3. *  Multiplication x*y
 4. /  Division x/y
 5. %  Modulus x%y # Remider after division
 6. ** Exponentiation x**y
 7. // Floor division x//y

In [294]:
#  addition 

var1 = 10.20
var2 =20.20
res = var1 + var2
print('<< Addition>>')
print('sum :\t',res)

<< Addition>>
sum :	 30.4

In [295]:
# substraction 
print('<< Substraxtion >>')
var1 =10.20
var2 = 20.30
res = var1-var2
print('sub :\t',res)

<< Substraxtion >>
sub :	 -10.100000000000001

In [296]:
# Multiplication
print('<< multiplication >>')
var1 = 10.20
var2 = 20.20
res = var1 * var2
print('mul :\t,res')

<< multiplication >>
mul :	,res

In [297]:
# division 
print('<< Division>>')
var1 = 10.20
var2 = 20.20
res = var1 / var2
print('div :\t',res)

<< Division>>
div :	 0.504950495049505

In [298]:
# modulus 
print('<< Modulous >>') # reminder after division
var1 = 10
var2 = 20
res = var1 % var2 # i%2==0
print('mod :\t',res)

<< Modulous >>
mod :	 10

In [299]:
# Exponential
print('<< Exponent >>')
var1 =10
var=2
res = var1**var2
print('exp :\t',res)

<< Exponent >>
exp :	 100000000000000000000

In [300]:
# floore division
print('<< >>')
var1 = 4.5
var2 =2
res = var1 // var2
print('flood div :\t',res)

<< >>
flood div :	 2.0

### 2. Assignment operator

 1. x +=  10  >> x = x +  10    >> i+=1 >> i = i+1 = 1+1 = 2
 2. x -=  10  >> x = x -  10
 3. x *=  10  >> x = x *  10
 4. x /=  10  >> x = x /  10
 5. x %=  10  >> x = x %  10
 6. x **= 10  >> x = x ** 10
 7. x //= 10  >> x = x // 10

In [309]:
var = 55
print(var)
var += 10 # x = x  + 10
print(var)

55
65

In [311]:
print(var)
var -+ 10 # x = x - 10
print(var)

65
65