# Functions

##What are functions ............ 
bulit in functions
user define functions(crated by users)
block of code gives output when

abstraction = code is there but not seen
decomposition  = small join to create a big 
comp9=onets of fuctions :
def (keyword)

def is_even(i):
    "Reading mannual or heading thing in functions
    "
    body (working of funcitons) logic
    
    return statments or ouput to user
    
is_even(7) --recalling to function

In [1]:
def is_even(i):
    """input: i ,a positive int 
    retruns  i if it is even numbeer other wise gives false """
    print('inside is_even')
    return i%2==0
is_even(2)

inside is_even

True

In [11]:
def is_even(num):
    """This functions returns given number is odd or even
    input - any valid integer output - odd or even
    created- 08 /08/ 2024"""
    if type(num)==int:
        if num % 2 ==0:
            return ('Even',num)
        else:
            return ('Odd', num)
    else:
        return 'pagal he kya change kar data typer'

In [40]:
print(is_even.__doc__)
print(print.__doc__)

This functions returns given number is odd or even
    input - any valid integer output - odd or even
    created- 08 /08/ 2024
Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [12]:
for i in range(1,10):
    x = is_even(i)
    
    print(x)

('Odd', 1)
('Even', 2)
('Odd', 3)
('Even', 4)
('Odd', 5)
('Even', 6)
('Odd', 7)
('Even', 8)
('Odd', 9)

In [13]:
is_even('hello')

'pagal he kya change kar data typer'

Parameter vs Argument

def is_even(parameter): when crating functions

is_even(argument) : 



Types of arguments
1) Default Arguements -

In [14]:
# default arguements
def power(a,b):
    return (a**b)

In [16]:
power(2,6)

64

In [ ]:
default argument # intilizationg the argumenats

In [18]:
def power(a=1,b=2):
    return(a**b)

In [19]:
power()

1

In [20]:
# positional argument
power(2,3)

8

In [21]:
# key world elements
power(b=2,a = 2)

4

In [22]:
print(is_even.__doc__)

This functions returns given number is odd or even
    input - any valid integer output - odd or even
    created- 08 /08/ 2024

* arga and ** kwargs

are special python keywords that are used to pass the variable length of arguments to a functions

In [26]:
## *args

def multipy_1(a,b,c):
    return (a*b*c)

In [27]:
multipy_1(2,3,1)

6

In [34]:
def multipy (*args):
    product = 1
    
    for i in args:
        product = product * i
    print(args)   
    return product
# internally forms agrs as tuple

# do'ts known how many inputs are coming

In [35]:
multipy(3,5,4,6,7)

(3, 5, 4, 6, 7)

2520

In [36]:
def multipy (*ajay):
    product = 1
    
    for i in ajay:
        product = product + i
    print(ajay)   
    return product

In [37]:
multipy(3,5,4,6,7)

(3, 5, 4, 6, 7)

26

In [43]:
## ** kwargs
## ** kwargs allows us to pass any number of key word argunments
# key words agrument they contians key values pairs like a dictonary
def display(**kwargs):
    
    
    for (key,values) in kwargs.items():
        print(key, '->',values)

In [44]:
display(india='delhi',srilanka='colombo')

india -> delhi
srilanka -> colombo

In [ ]:
# order of arguments is matter

In [ ]:


## how funcitons executed in meomary

In [ ]:
# variable scope

def g(y):
    print(x)
    print(x+1)
x=5
g(x)
print(x)

In [45]:
def f(y):
    x=1
    x+=1
    print(x)
x=5
f(x)
print(x)

2
5

In [47]:
def h(y):
    x+=1
x=5
h(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [46]:
def f(x):
    x= x+1
    print('in f(x) : =',x)
    return x
x=3
z= f(x)
print('in main program scope: z=', z)
print('in main program scope: x', x)

in f(x) : = 4
in main program scope: z= 4
in main program scope: x 3

In [52]:
# nested fuctions


def f():
    def g():
        print('inside funcion g')
    g()
    print('inside fucntion f')

In [53]:
f()

inside funcion g
inside fucntion f

In [54]:
g()
# we cannot call inside functions

NameError: name 'g' is not defined

In [57]:
def f():
    def g():
        print('inside funcion g')
    f()
    g()
    print('inside fucntion f')

In [58]:
f()

RecursionError: maximum recursion depth exceeded

In [59]:
def g(x):
    def h():
        x = 'abc'
    x=x+1
    print('in g(x): x=',x)
    h()
    return x
x=3
z=g(x)

in g(x): x= 4

# First class citizens

In [ ]:

### we pass argument , returned form functions, assigned to variables

In [61]:
def square(num):
    return num * 2

type(square)

# funcions will acts like a data types

function

In [62]:
id(square)

2127314012096

In [64]:
## 
x= square
x
x(3)

6

In [65]:
del square

In [66]:
square(3)

NameError: name 'square' is not defined

In [68]:
def square(num):
    return num * 2

type(square)

function

In [69]:
l =[1,2,3,4,square]
print(l)

[1, 2, 3, 4, <function square at 0x000001EF4DCBE5C0>]

In [70]:
l[-1](3)

6

In [72]:
s= {square}
s

{<function __main__.square(num)>}

In [73]:
# function returning a function
def f():
    def x(a,b):
        return a+b
    return x
val = f()(3,4)
print(val)

7

In [76]:
# function as an argument
def fun_a():
    print('inside func_a')
def func_b(z):
    print('inside fun_c')
    return z()
print(func_b(fun_a))

inside fun_c
inside func_a
None

In [78]:
## code modularity ()
#code readibility
#code usebility

In [ ]:
### Lambda functions

In [ ]:
# small anonymous functions
# can take any number of agruments , but can only have one expression

In [ ]:
## lmabda a,b: a+b

In [80]:
y =lambda x:x*2
y(2)

4

In [81]:
a=lambda x,y: x+y
a(5,2)

7

In [ ]:
# differnces
# lambda function dose not have any name
# lambds function retrun is function
# lambda functions written in one line
# not reusable

In [82]:

# lambda functions used with higher order function
a=lambda s: 'a' in s
a('hello')

False

In [83]:
# odd or even
y= lambda x: 'even' if x%2==0 else 'odd'

In [84]:
y(5)

'odd'

In [85]:
# higher order functions

# it retruns functions

# input take other functions
def square(x):
    return x**2
def transform(f,L):
    output =[]
    for i in L:
        output.append(f(i))
    print(output)
    
L=[1,2,3,4,5,6]
transform(square,L)

[1, 4, 9, 16, 25, 36]

In [87]:
# map

list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [89]:
L =[1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [92]:
# fetch names from a list

users=[
    {
    'name':'Rahul',
    'age':45,
    'gender':'male'
    },
    {
    'name':'ajay',
    'age':451,
    'gender':'male'
        
    },
    {
    'name':'vivjay',
    'age':453,
    'gender':'female'
    }
    
    ]

In [93]:
list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

In [100]:
## filter
l = [3,4,5,6,7,8,9]
list(filter(lambda x:x>5,l))

[6, 7, 8, 9]

In [101]:
fruits = ['apple','banana','orange']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

In [102]:
## reduce
import functools

In [103]:
functools.reduce(lambda x,y: x+y,[1,2,3,4,5])

15

In [104]:
functools.reduce(lambda x,y: x if x<y else y, [23,56,45,4,8,9])

4

In [105]:
functools.reduce(lambda x,y: x if x>y else y, [23,56,45,4,8,9])

56