<a href="https://colab.research.google.com/github/Annanya0709/Python-Basics/blob/main/ExceptionHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Errors
***Zero Division Error***

In [10]:
try:  
    number = 100 / 2
    print (number)

except ZeroDivisionError:  
        print ("Zero Division Exception Raised." )
        
else:  
    print ("Success, no error!")

50.0
Success, no error!

***Overflow Error***

In [11]:
try:  
    import math
    print(math.exp(1000))

except OverflowError:  
        print ("OverFlow Exception Raised.")
        
else:  
    print ("Success, no error!")

OverFlow Exception Raised.

# Assertion Error

In [7]:
string1 = "Hello"
string2 = "Programmer"

try:  
  assert string1 == string2

except AssertionError:
  print("Assertion Error ")

else:  
  print ("Success, no error!")

finally:
  print (string1, string2)

Assertion Error
Hello Programmer

# Attribute Error

In [12]:
class Students():
    roll_no = 2
    print (roll_no)

try:
    student1 = Students()
    print (student1.name)
    
except AttributeError:
    print ("Attribute Exception Raised.")

2
Attribute Exception Raised.

# Import Error

In [13]:
try:
  import name
  
except ImportError as exception:
  print(exception)

No module named 'name'

# Lookup Error
***Index Error***

In [14]:
names = ['John', 'Max', 'Rocky']  

try:  
    print (names[4])  

except LookupError as exception:  
    print ("Lookup Error:", exception)
    
else:  
    print ("Success, no error!")

Lookup Error: list index out of range

***Key Error***

In [2]:
try:  
    states = {'Rajasthan':'Jaipur', 'MP':'Bhopal'}  
    print (states['Maharashtra'])  

except LookupError as exception:  
    print ("Key Error:", exception)
    
else:  
    print ("Success, no error!")

Key Error: 'Maharashtra'

# Name Error

In [29]:
answer = "true"
try:
    print (ans)

except NameError as exception:  
    print ("NameError:", exception)
    
else:  
    print ("Success, no error!")

NameError: name 'ans' is not defined

# Type Errors

In [32]:
price = 500
product = 'cake'

try:
  description = price + product

except TypeError as exception:
  print("Type Error: ", exception)
  
else:
  print(description)

Type Error:  unsupported operand type(s) for +: 'int' and 'str'

# Value Error

In [33]:
try:
    print (int('Developer'))

except ValueError as exception:
    print ('ValueError:', exception)
    
else:
    print ('Success, no error!')

ValueError: invalid literal for int() with base 10: 'Developer'

# Syntax Errors

In [35]:
# Handled at compile time

age = 20

if(age < 18)
  print("Not eligible to vote")
else:
  print("Eligible to vote")

SyntaxError: ignored

Keyboard interrupt error

# Recursion Error

In [9]:
def recursion():
    return recursion()
try:
  recursion()
  
except RecursionError as exception:
  print("Recursion Error", exception)

Recursion Error maximum recursion depth exceeded

# Indentation Error

In [38]:
def factorial(x):
  if x == 1:
  return 1
  else:
  return (x * factorial(x-1))

IndentationError: ignored