#Syntax error

In [37]:
num1 = 10
num2 = 10

# catching syntax error using eval
try:
  eval('num3 = num1 num2  ')
except SyntaxError as e:
  print(e)

invalid syntax (<string>, line 1)

#Recursion Error

In [36]:
def rec():

  return rec()

try:
  rec()
except RecursionError as e:
  print(e)

maximum recursion depth exceeded

#Indentation Error

In [32]:

while True:
print("Hello")

IndentationError: ignored

#Exceptions

In [34]:
# type error

num1 = 2
str1 = "batman"

try:
  result = num1 + str1
except TypeError:
  print('Type Error raised !!!')

Type Error raised !!!

In [35]:
# zero division error
try:
  99/0
except ZeroDivisionError as e:
  print(e)

division by zero

#Exception Handling

In [ ]:
# try, except, else, finally
def division(num1,num2):
  try:

    result = num1/num2
  except:
    print("Sorry ! You are dividing by zero ")
  else:
    print("Your Answer is : ", result)

  finally:
    print("Finally executed !!!")


division(10,200)

division(100,0)

Your Answer is :  0.05
Finally executed !!!
Sorry ! You are dividing by zero
Finally executed !!!

#Arithmetic error

In [38]:
# overflow error

import math

try:
  print(math.exp(1000))
except OverflowError as e:
  print(e)

math range error

In [42]:
# ASSERTION ERROR
def equals(num1,num2):
  try:
    assert num1 == num2
    
  except AssertionError:
    print("Assertion Error !!!")

equals(11,10)

Assertion Error !!!

In [43]:
# ATTRIBUTE ERROR

class Cars:
  model = "mustang"
  print(model)

try:
  car = Cars()
  print(car.price)
except AttributeError as e:
  print(e)

mustang
'Cars' object has no attribute 'price'

# import error

In [44]:


try :
  import satyam 
except ModuleNotFoundError as e:
  print(e)

No module named 'satyam'

#Lookup Error

In [57]:
# key error

try:  
    dict = {1:'a', 2:'b', 3:'c'}  
    print (dict[4])  

except KeyError:  
    print ("Key Error Exception Raised.")

else:  
    print ("Success, no error!")

Key Error Exception Raised.

In [51]:
#index error 

try:  
    lst = ['a', 'b', 'c']  
    print(lst[4])  

except IndexError as e:  
    print (e)

else:  
    print ("Success, no error!")

list index out of range

#Name Error

In [60]:
try:
    print(ans)
except NameError as e:  
    print(e)

name 'ans' is not defined

#Value Error

In [64]:
try:
    print(float('DataCamp'))
except ValueError as e:
    print (e)

could not convert string to float: 'DataCamp'