# Functions

1. Write a program to find out the factorial of a given number.

In [ ]:
def factorial_function(num):
  if num < 0:
    return('Factorial of negative number does not exist')

  if num == 1:
    return 1
  else:
    return (num * factorial_function(num -1))

In [ ]:
num = 7
factorial = factorial_function(7)

print('The factorial of', num, 'is', factorial)

The factorial of 7 is 5040

2. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [ ]:
def unique_list(input_list):
  ans = []
  for element in input_list:
    if element not in ans:
      ans.append(element)

  return ans

In [ ]:
input_list = [1, 2, 1, 4, 2, 1, 3, 5, 2, 3, 4, 1, 2]
print('Unique List : ', unique_list(input_list))

Unique List :  [1, 2, 4, 3, 5]

In [ ]:
def unique_list_2(input_list):
  return list(set(input_list))

In [ ]:
input_list = [1, 2, 1, 4, 2, 1, 3, 5, 2, 3, 4, 1, 2]
print('Unique List using Set : ', unique_list(input_list))

Unique List using Set :  [1, 2, 4, 3, 5]

3. Create a function that calculates the result of raising a number to a given power without using the built-in ** operator.

In [ ]:
m = 2
n = 4

In [ ]:
def power_1(m, n):
  return m**n

power_1(m, n)

16

In [ ]:
def power_2(m, n):
  return pow(m, n)

power_2(m, n)

16

In [ ]:
def power_3(m, n):
  ans = 1
  for i in range(n):
    ans *= m
  return ans

power_3(m, n)

16

In [ ]:
def power_4(m, n):
  return m*power_4(m, n-1)

power_4(m, n)

RecursionError: ignored

In [ ]:
def power_4(m, n):
  if n==0:
    return 1
  if m==0:
    return 0
  return m*power_4(m, n-1)

power_4(m, n)

16

# Object Oriented Programming

In [ ]:
class Student:
  def __init__(self, name):
    self.name = name
    print(f"Instance of student '{name}' created !")

  def student_info(self, roll, marks):
    self.roll = roll
    self.marks = marks

    print(f"Roll number of {self.name} is {roll} and he/she has scored {marks} marks")

  def grade(self):
    if self.marks > 80:
      print(f"Grade of {self.name} is 'A'")
    elif self.marks > 60:
      print(f"Grade of {self.name} is 'B'")
    elif self.marks > 40:
      print(f"Grade of {self.name} is 'C'")
    else:
      print(f"Grade of {self.name} is 'D'")

In [ ]:
student1 = Student("John")

Instance of student 'John' created !

In [ ]:
student1.student_info(10, 85)

Roll number of John is 10 and he/she has scored 85 marks

In [ ]:
student1.grade()

Grade of John is 'A'

In [ ]:
class Student_division(Student):
  def student_info(self, roll, marks, division):
    self.roll = roll
    self.marks = marks
    self.division = division

    print(f"Roll no of '{self.name}' is {roll}. He/She has scored {marks} marks and is in the {division} class-division")

In [ ]:
student2 = Student_division("Emily")

Instance of student 'Emily' created !

In [ ]:
student2.student_info(11, 65, 'c1')

Roll no of 'Emily' is 11. He/She has scored 65 marks and is in the c1 class-division

In [ ]:
student2.grade()

Grade of Emily is 'B'