In [1]:
import pandas as pd

In [2]:
d = pd.Index([1, 2, 3])

In [3]:
d

Int64Index([1, 2, 3], dtype='int64')

In [4]:
d[0] = 12

TypeError: Index does not support mutable operations

In [5]:
d.ndim

1

In [7]:
df = pd.read_csv("/Users/abasar/data/stocks.csv")
df.head()

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-17,95.437500,97.500000,92.750000,96.62500,3508100.0,74.269199,XLNX
1,2000-07-17,22.625000,22.750000,22.437500,22.56250,201600.0,13.486140,ES
2,2000-07-17,6.750002,6.937503,6.375000,6.50000,1235700.0,5.241649,CHK
3,2000-07-17,19.812501,20.187500,19.500001,20.18750,1434100.0,3.806147,NI
4,2000-07-17,30.500000,30.687500,30.000000,30.03125,254600.0,19.811830,SNA

In [9]:
type(df.iloc)

pandas.core.indexing._iLocIndexer

In [10]:
df.iloc[10:20]

,date,open,high,low,close,volume,adjclose,symbol
10,2000-07-17,58.750000,58.875000,57.812500,58.000000,182700.0,37.544123,XL
11,2000-07-17,47.500132,47.500132,45.750135,46.343886,4898700.0,17.662922,F
12,2000-07-17,84.000000,84.500000,82.625000,82.671883,2861800.0,23.889730,CVX
13,2000-07-17,22.500000,22.750000,22.375000,22.750000,423600.0,5.942444,PPL
14,2000-07-17,37.437500,37.562500,36.562500,37.437500,738800.0,24.832407,TRV
15,2000-07-17,76.874999,80.937504,76.249993,78.250003,6166200.0,50.378510,A
16,2000-07-17,26.500000,26.687500,26.312500,26.500000,335200.0,6.240835,LNT
17,2000-07-17,23.937500,24.062500,23.500000,23.937500,648400.0,23.937500,AZO
18,2000-07-17,60.875000,60.937500,60.250000,60.531239,1464800.0,22.017028,UTX
19,2000-07-17,3.562500,3.625005,3.312495,3.437505,340000.0,2.204110,RRC

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/abulbasar/data/master/diamonds.csv")

In [27]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [18]:
    df.groupby(["color", "cut"])["color"].count().unstack()

cut    Fair  Good  Ideal  Premium  Very Good
color
D       163   662   2834     1603       1513
E       224   933   3903     2337       2400
F       312   909   3826     2331       2164
G       314   871   4884     2924       2299
H       303   702   3115     2360       1824
I       175   522   2093     1428       1204
J       119   307    896      808        678

In [36]:
df.pivot_table(values = "carat", index=["color"], columns =["cut"], aggfunc ="count", margins =  True)

cut    Fair  Good  Ideal  Premium  Very Good    All
color
D       163   662   2834     1603       1513   6775
E       224   933   3903     2337       2400   9797
F       312   909   3826     2331       2164   9542
G       314   871   4884     2924       2299  11292
H       303   702   3115     2360       1824   8304
I       175   522   2093     1428       1204   5422
J       119   307    896      808        678   2808
All    1610  4906  21551    13791      12082  53940

In [37]:
import numpy as np

In [38]:
d = np.array([1, 2.0, "3"])
d

array(['1', '2.0', '3'], dtype='<U32')

In [39]:
d.dtype

dtype('<U32')

In [41]:
a = np.array([[9, 2, 3],
           [4, 5, 6],
           [7, 0, 5]])
a[a[:,1].argsort()]

array([[7, 0, 5],
       [9, 2, 3],
       [4, 5, 6]])

In [43]:
s = slice(1, 4)

s

slice(1, 4, None)

In [45]:
[3, 5, 6, 10, 10, 12, 3, 1][s]

[5, 6, 10]