<a href="https://colab.research.google.com/github/SuperDataWorld/Python/blob/main/EDA_10Steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## 1. Import Data

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Python Notebooks/Data Preprocessing/ramen-ratings.csv')

# 2. Inspect a portion of the dataset

In [3]:
df.head(10)

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN
5      2575   Samyang Foods  ...  4.75     NaN
6      2574         Acecook  ...     4     NaN
7      2573     Ikeda Shoku  ...  3.75     NaN
8      2572      Ripe'n'Dry  ...  0.25     NaN
9      2571            KOKA  ...   2.5     NaN

[10 rows x 7 columns]

In [9]:
df.tail(10)

      Review #     Brand  ... Stars Top Ten
2570        10     Smack  ...   1.5     NaN
2571         9     Sutah  ...     2     NaN
2572         8    Tung-I  ...     3     NaN
2573         7   Ve Wong  ...     1     NaN
2574         6     Vifon  ...   2.5     NaN
2575         5     Vifon  ...   3.5     NaN
2576         4   Wai Wai  ...     1     NaN
2577         3   Wai Wai  ...     2     NaN
2578         2   Wai Wai  ...     2     NaN
2579         1  Westbrae  ...   0.5     NaN

[10 rows x 7 columns]

# 3. Shape of the dataset

In [4]:
df.shape

(2580, 7)

# 4. Run Info Command

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

# 5. Fix Types

In [6]:
df.describe()

          Review #
count  2580.000000
mean   1290.500000
std     744.926171
min       1.000000
25%     645.750000
50%    1290.500000
75%    1935.250000
max    2580.000000

In [7]:
df[['Stars']] = df[['Stars']].astype(float)

ValueError: ignored

In [8]:
df.Stars.value_counts()

4          384
5          369
3.75       350
3.5        326
3          173
3.25       170
4.25       143
4.5        132
2.75        85
2           68
2.5         67
4.75        64
1.5         37
1.75        27
0           26
1           26
2.25        21
0.5         14
0.25        11
5.0         10
1.25        10
3.50         9
5.00         7
4.00         6
4.3          4
3.8          3
4.50         3
4.0          3
Unrated      3
3.1          2
1.1          2
2.9          2
2.3          2
3.0          2
2.8          2
4.125        2
2.125        1
0.75         1
0.1          1
3.125        1
3.2          1
1.8          1
3.65         1
0.9          1
3.00         1
2.85         1
3.7          1
3.4          1
3.3          1
3.6          1
2.1          1
Name: Stars, dtype: int64

In [10]:
df.Stars.replace(['Unrated', 0], inplace= True)

In [11]:
df[['Stars']] = df[['Stars']].astype(float)

# 6. Summarise Numeric Columns

In [12]:
df.describe()

          Review #        Stars
count  2580.000000  2580.000000
mean   1290.500000     3.654884
std     744.926171     1.014886
min       1.000000     0.000000
25%     645.750000     3.250000
50%    1290.500000     3.750000
75%    1935.250000     4.250000
max    2580.000000     5.000000

# 7. Summarise Categorical Columns

In [13]:
df.Brand.value_counts()

Nissin                381
Nongshim               98
Maruchan               76
Mama                   71
Paldo                  66
                     ...
Global Inspiration      1
Sokensha                1
Sakurai                 1
TRDP                    1
Torishi                 1
Name: Brand, Length: 355, dtype: int64

In [14]:
df['Style'].value_counts()

Pack    1531
Bowl     481
Cup      450
Tray     108
Box        6
Can        1
Bar        1
Name: Style, dtype: int64

In [15]:
df['Country'].value_counts()

Japan            352
USA              323
South Korea      309
Taiwan           224
Thailand         191
China            169
Malaysia         156
Hong Kong        137
Indonesia        126
Singapore        109
Vietnam          108
UK                69
Philippines       47
Canada            41
India             31
Germany           27
Mexico            25
Australia         22
Netherlands       15
Nepal             14
Myanmar           14
Pakistan           9
Hungary            9
Bangladesh         7
Colombia           6
Cambodia           5
Brazil             5
Poland             4
Fiji               4
Holland            4
Dubai              3
Finland            3
Sweden             3
Sarawak            3
Estonia            2
Ghana              2
United States      1
Nigeria            1
Name: Country, dtype: int64

# 8. Drop and Rename Columns

In [16]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [17]:
df = df.drop(['Review #'], axis = 1)

In [18]:
df.columns = ['Brand', 'Variety', 'Style', 'Country', 'Stars', 'TopTen']

In [19]:
df.columns

Index(['Brand', 'Variety', 'Style', 'Country', 'Stars', 'TopTen'], dtype='object')

# 9. Deal with Nulls

In [20]:
df.isnull().sum()

Brand         0
Variety       0
Style         2
Country       0
Stars         0
TopTen     2539
dtype: int64

In [21]:
df.TopTen.value_counts()

\n          4
2016 #8     1
2014 #7     1
2014 #6     1
2012 #5     1
2012 #10    1
2012 #3     1
2016 #10    1
2012 #1     1
2014 #8     1
2014 #4     1
2014 #9     1
2013 #4     1
2013 #3     1
2012 #7     1
2016 #5     1
2012 #4     1
2015 #1     1
2013 #6     1
2016 #7     1
2012 #2     1
2015 #9     1
2013 #1     1
2015 #10    1
2014 #1     1
2014 #10    1
2013 #10    1
2015 #7     1
2015 #8     1
2013 #2     1
2013 #9     1
2015 #6     1
2012 #6     1
2012 #9     1
2016 #9     1
2015 #4     1
2016 #1     1
2014 #5     1
Name: TopTen, dtype: int64

In [22]:
df[df.Style.isnull()]

       Brand            Variety Style Country  Stars TopTen
2152  Kamfen     E Menm Chicken   NaN   China   3.75    NaN
2442    Unif  100 Furong Shrimp   NaN  Taiwan   3.00    NaN

In [23]:
df[['TopTen']] = df[['TopTen']].fillna(0)

In [24]:
df.isnull().sum()

Brand      0
Variety    0
Style      2
Country    0
Stars      0
TopTen     0
dtype: int64

# 10. Group and Order

In [25]:
df.groupby('Brand')['Stars'].max().sort_values(ascending=False).head(50)

Brand
Kamfen               5.0
MAMA                 5.0
Love Cook            5.0
Prima                5.0
Prima Taste          5.0
Pulmuone             5.0
Quickchow            5.0
Little Cook          5.0
Emart                5.0
Eat & Go             5.0
E-Zee                5.0
Dream Kitchen        5.0
Sakurai Foods        5.0
Salam Mie            5.0
Ibumie               5.0
Samyang Foods        5.0
Sapporo Ichiban      5.0
Sau Tao              5.0
Deshome              5.0
Sempio               5.0
Seven & I            5.0
Daikoku              5.0
Sichuan Baijia       5.0
Indomie              5.0
Daifuku              5.0
Daddy                5.0
Song Hak             5.0
Sun Noodle           5.0
ChoripDong           5.0
SuperMi              5.0
TTL                  5.0
Lucky Me!            5.0
Maggi                5.0
Takamori Kosan       5.0
Plats Du Chef        5.0
Mom's Dry Noodle     5.0
Mi Sedaap            5.0
Mr. Lee's Noodles    5.0
Menraku              5.0
MyKuali              5.0
MyOri                5.0
Myojo                5.0
Higashi              5.0
Master Kong          5.0
Nanyang Chef         5.0
New Touch            5.0
Marutai              5.0
Nissin               5.0
Nongshim             5.0
Maruchan             5.0
Name: Stars, dtype: float64

In [26]:
df.groupby('Country')['Stars'].max().sort_values()

Country
Nigeria          1.50
Sweden           3.50
Ghana            3.50
United States    3.75
Holland          3.75
Colombia         3.75
Dubai            3.75
Estonia          3.75
Finland          3.75
Bangladesh       4.00
Pakistan         4.00
Poland           4.00
Fiji             4.25
Netherlands      4.50
Hungary          4.75
South Korea      5.00
Singapore        5.00
Sarawak          5.00
Thailand         5.00
UK               5.00
Philippines      5.00
USA              5.00
Taiwan           5.00
Australia        5.00
Japan            5.00
Myanmar          5.00
Mexico           5.00
Malaysia         5.00
Indonesia        5.00
India            5.00
Hong Kong        5.00
Germany          5.00
China            5.00
Canada           5.00
Cambodia         5.00
Brazil           5.00
Nepal            5.00
Vietnam          5.00
Name: Stars, dtype: float64

In [27]:
df.groupby('Style')['Stars'].mean().sort_values()

Style
Cup     3.498500
Can     3.500000
Tray    3.545139
Bowl    3.670686
Pack    3.700718
Box     4.291667
Bar     5.000000
Name: Stars, dtype: float64

In [28]:
df.groupby('Style')['Stars'].min().sort_values()

Style
Bowl    0.0
Cup     0.0
Pack    0.0
Tray    0.0
Box     1.5
Can     3.5
Bar     5.0
Name: Stars, dtype: float64

In [29]:
df.groupby('Style')['Stars'].max().sort_values(ascending=False)

Style
Tray    5.0
Pack    5.0
Cup     5.0
Box     5.0
Bowl    5.0
Bar     5.0
Can     3.5
Name: Stars, dtype: float64