In [1]:
# for statement
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [2]:
for c in 'python':
    print(c)

p
y
t
h
o
n

In [4]:
for k in {'x': 1, 'y': 2}:
    print(k)

x
y

In [5]:
','.join(['a', 'b', 'c'])

'a,b,c'

In [6]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [7]:
list({'x': 1, 'y': 2})

['x', 'y']

In [8]:
','.join({'x': 1, 'y': 2})

'x,y'

In [9]:
# using the iter function
x = iter([1,2,3])

In [10]:
x

In [11]:
next(x)

1

In [13]:
next(x)

2

In [14]:
next(x)

3

In [15]:
next(x)

StopIteration:

In [17]:
# iterators and generator example
def integers():
    i = 1
    while True:
        yield i
        i += 1

def squares():
    for i in integers():
        yield i * i

def take(n, seq):
    '''Returns the first n values from a given sequence.'''
    seq = iter(seq)
    result = []
    try:
        for i in range(n):
            result.append(next(seq))
    except StopIteration:
        pass

    return result

print(take(5, squares()))

[1, 4, 9, 16, 25]

In [18]:
# generator expressions
a = (x*x for x in range(10))
a

In [19]:
sum(a)

285

In [23]:
for num in list(a):
    print(num)

In [24]:
sum((x*x for x in range(10)))

285

In [25]:
sum(x*x for x in range(10))

285

In [2]:
var = 123


var2 = 1234


if __name__  ==  '__main__':
    print(var, var2)

123 1234