In [1]:
# this code takes the NFIRS Dataset and outputs a count of fires by zipcode
# requires NFIRS_2009_2016_geocoded_with_tract.csv to be in the main path

In [38]:
import os
import pandas as pd

In [39]:
# Change to your filepath to data and uncomment if NFIRS_2009_2016_geocoded_with_tract.csv not in the main path 
#os.chdir('../Data/Raw')

FileNotFoundError: [Errno 2] No such file or directory: '../Data/Raw'

In [51]:
NFIR = pd.read_csv('NFIRS_2009_2016_geocoded_with_tract.csv',
                   encoding='latin_1',
                   index_col=0,
                   low_memory=False)

In [41]:
NFIR.head()

,ORIGINAL_ADDRESS,MATCH,MATCH_TYPE,MATCHED_ADDRESS,X,Y,TIGER_LINE_ID,TIGER_LINE_SIDE,STATE,state_fips,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT
ID,,,,,,,,,,,,,,,,,
rcp2_id1868,"300 Navaho ST, Enterprise, AL, 36331",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,AL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id9390,"253 BALD ROCK RD, BERRY_CRK, CA, 95934",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,CA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id1869,"105 Yellowleaf DR, Enterprise, AL, 36331",Match,Non_Exact,"105 YELLOWLEAF DR, ENTERPRISE, AL, 36330",-85.807050,31.328058,99550660.0,L,AL,1.0,31.0,11202.0,1.031011e+09,112.02,Census Tract 112.02,G5020,S
rcp2_id9391,"464 SHELDON AVE, GRDLY, CA, 95956",Match,Non_Exact,"464 SHELDON AVE, GRIDLEY, CA, 95948",-121.666460,39.350815,636052867.0,R,CA,6.0,7.0,3400.0,6.007003e+09,34.00,Census Tract 34,G5020,S
rcp2_id9392,"11336 YANKEE HILL RD, CONCOW, CA, 95965",Match,Non_Exact,"11336 YANKEE HILL RD, YANKEE HILL, CA, 95965",-121.520836,39.712353,68417518.0,R,CA,6.0,7.0,2400.0,6.007002e+09,24.00,Census Tract 24,G5020,S

In [42]:
NFIR.columns

Index(['ORIGINAL_ADDRESS', 'MATCH', 'MATCH_TYPE', 'MATCHED_ADDRESS', 'X', 'Y',
       'TIGER_LINE_ID', 'TIGER_LINE_SIDE', 'STATE', 'state_fips', 'COUNTYFP',
       'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT'],
      dtype='object')

In [55]:
OUT =  NFIR.groupby(['STATE','COUNTYFP'] )['TRACTCE'].value_counts()

In [61]:
OUT.name = 'COUNT'

Output

In [64]:
OUT.to_csv('Fires_by_Census_Tract.csv',header= True)