# Занятие 1

### Типы данных

Рассмотрим целые числа

In [1]:
1

1

In [2]:
type(1) # integer – целое числое

int

In [3]:
1.2

1.2

In [4]:
type(1.2) # float

float

In [5]:
1 + 2

3

In [6]:
1 + 1.2

2.2

In [7]:
1 - 5.5

-4.5

In [8]:
2 * 8

16

In [9]:
8 ** 2 # возведение в степень

64

In [10]:
15 / 2

7.5

In [12]:
15 // 2 # целочисленное деление

7

In [13]:
15 % 2 # остаток от деления

1

In [14]:
a = 1

In [15]:
a

1

In [16]:
a = 2

In [17]:
a

2

In [18]:
b = 18

In [19]:
a + b

20

In [20]:
a - b

-16

In [27]:
price = float(input())
quan = int(input())
print('Выручка:', price*quan)

12
5
Выручка: 60.0

In [25]:
float(price) / 2

6.0

In [28]:
myList = list()
myList = []

In [29]:
myList = [1, 2, 3, 4, 5]

In [30]:
myList

[1, 2, 3, 4, 5]

In [31]:
[1.2, 'abc', [1, 2]]

[1.2, 'abc', [1, 2]]

In [32]:
len(myList)

5

In [34]:
myList[2] + myList[3]

7

In [48]:
myList

[1, 2, 3, 4, 5]

In [50]:
myList[2] = 999

In [51]:
myList

[1, 2, 999, 4, 5]

In [52]:
myTuple = ()
myTuple = tuple()

In [53]:
myTuple = tuple(myList)

In [54]:
myTuple

(1, 2, 999, 4, 5)

In [55]:
myTuple[2] = 888

TypeError: 'tuple' object does not support item assignment

In [35]:
5 == 7 # проверяем равно ли

False

In [36]:
5 != 7 # проверяем не равно ли

True

In [37]:
5 > 7

False

In [38]:
5 < 7

True

In [43]:
price_1 = float(input())
price_2 = float(input())

quan = int(input())

if price_1 < price_2:
    print('Выручка:', quan*price_1)
else:
    print('Выручка:', quan*price_2)

17
18
2
Выручка: 34.0

In [45]:
price_1 = float(input())
price_2 = float(input())

quan = int(input())

if price_1 < price_2:
    print('Выручка:', quan*price_1)
elif price_1 == price_2:
    print('Цены равны')
else:
    print('Выручка:', quan*price_2)

5
5
2
Цены равны

In [47]:
if price_1 <= price_2:
    print('Выручка:', quan*price_1)
if price_1 == price_2:
    print('Цены равны')
if price_1 >= price_2:
    print('Выручка:', quan*price_2)

Выручка: 10.0
Цены равны
Выручка: 10.0

In [58]:
a = 2
b = 11
if a < b:
    a += b
    print(a)
else:
    print(a)

13

In [59]:
int(input())

12.5

ValueError: invalid literal for int() with base 10: '12.5'

In [60]:
int(12.5)

12

In [61]:
int(9.9)

9