## Putting Some Pandas In Your Python

In [1]:
import platform
print(platform.python_version())

%load_ext watermark
%watermark -a 'Gopala KR' -u -d -v -p watermark,numpy,pandas

3.5.4
Gopala KR
last updated: 2018-08-30

CPython 3.5.4
IPython 6.2.1

watermark 1.6.1
numpy 1.15.0
pandas 0.19.2

Command: <code>pip3 install pandas</code>

<img src = '1.jpg'>

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col-1': ['Item-1', 'Item-2', 'Item-3', 'Item-4'],
    'col-2': ['Gold', 'Bronze', 'Gold', 'Silver'],
    'col-3': [1, 2, np.nan, 4]
})

In [3]:
print(df)

    col-1   col-2  col-3
0  Item-1    Gold    1.0
1  Item-2  Bronze    2.0
2  Item-3    Gold    NaN
3  Item-4  Silver    4.0

## Creating a DataFrame from Dictionary

In [4]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [5]:
# Creating indexed dataframe

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['I-1', 'I-2', 'I-3', 'I-4'])
print(df)

     Age   Name
I-1   28    Tom
I-2   34   Jack
I-3   29  Steve
I-4   42  Ricky

## DataFrame Basic Functionality

In [6]:
import pandas as pd
import numpy as np

# Create Dictionary of Series
dict = {'Name':pd.Series(['Tom', 'Jack', 'Steve', 'Ricky', 'Vin', 'James', 'Smith']),
       'Age':pd.Series([25,26,25,35,23,33,31]),
       'Rating':pd.Series([4.23,4.1,3.4,5,2.9,4.7,3.1])}

df = pd.DataFrame(dict)
print(df)

   Age   Name  Rating
0   25    Tom    4.23
1   26   Jack    4.10
2   25  Steve    3.40
3   35  Ricky    5.00
4   23    Vin    2.90
5   33  James    4.70
6   31  Smith    3.10

In [7]:
# Transpose-> returns transpose of DataFrame

print(df.T)

           0     1      2      3    4      5      6
Age       25    26     25     35   23     33     31
Name     Tom  Jack  Steve  Ricky  Vin  James  Smith
Rating  4.23   4.1    3.4      5  2.9    4.7    3.1

In [8]:
# Axes-> returns list of row axis labels and column axis labels

print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]

In [9]:
# dtypes-> return datatype of each column

print(df.dtypes)

Age         int64
Name       object
Rating    float64
dtype: object

In [10]:
# shape-> returns tuple representing dimensionallity

print(df.shape)

(7, 3)

In [11]:
# values-> returns actual data as ndarray

print(df.values)

[[25 'Tom' 4.23]
 [26 'Jack' 4.1]
 [25 'Steve' 3.4]
 [35 'Ricky' 5.0]
 [23 'Vin' 2.9]
 [33 'James' 4.7]
 [31 'Smith' 3.1]]

In [12]:
# head-> by default head returns first n rows

print(df.head())

print('*'*50)

print(df.head(2))

   Age   Name  Rating
0   25    Tom    4.23
1   26   Jack    4.10
2   25  Steve    3.40
3   35  Ricky    5.00
4   23    Vin    2.90
**************************************************
   Age  Name  Rating
0   25   Tom    4.23
1   26  Jack    4.10

In [13]:
# tail-> by default tail returns last n rows

print(df.tail())

print('*'*50)

print(df.tail(2))

   Age   Name  Rating
2   25  Steve     3.4
3   35  Ricky     5.0
4   23    Vin     2.9
5   33  James     4.7
6   31  Smith     3.1
**************************************************
   Age   Name  Rating
5   33  James     4.7
6   31  Smith     3.1

## Statistics

In [14]:
# sum()-> returns the sum of values for requested axis. by default axis = 0

print(df.sum())

Age                                  198
Name      TomJackSteveRickyVinJamesSmith
Rating                             27.43
dtype: object

In [15]:
# axis = 1 -> row wise sum

print(df.sum(1))

0    29.23
1    30.10
2    28.40
3    40.00
4    25.90
5    37.70
6    34.10
dtype: float64

In [16]:
# mean()

print(df.mean())

Age       28.285714
Rating     3.918571
dtype: float64

In [17]:
# std()

print(df.std())

Age       4.644505
Rating    0.804828
dtype: float64

In [18]:
# describe() -> summarizing the data

print(df.describe())

             Age    Rating
count   7.000000  7.000000
mean   28.285714  3.918571
std     4.644505  0.804828
min    23.000000  2.900000
25%    25.000000  3.250000
50%    26.000000  4.100000
75%    32.000000  4.465000
max    35.000000  5.000000

In [19]:
# include object, number, all

print(df.describe(include=['object']))

         Name
count       7
unique      7
top     Steve
freq        1

In [20]:
print(df.describe(include=['number']))

             Age    Rating
count   7.000000  7.000000
mean   28.285714  3.918571
std     4.644505  0.804828
min    23.000000  2.900000
25%    25.000000  3.250000
50%    26.000000  4.100000
75%    32.000000  4.465000
max    35.000000  5.000000

In [21]:
# Don't pass 'all' as a list

print(df.describe(include='all'))

              Age   Name    Rating
count    7.000000      7  7.000000
unique        NaN      7       NaN
top           NaN  Steve       NaN
freq          NaN      1       NaN
mean    28.285714    NaN  3.918571
std      4.644505    NaN  0.804828
min     23.000000    NaN  2.900000
25%     25.000000    NaN  3.250000
50%     26.000000    NaN  4.100000
75%     32.000000    NaN  4.465000
max     35.000000    NaN  5.000000

## Working with .csv

In [22]:
import pandas as pd

df = pd.read_csv('Iris.csv')

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [24]:
print(df.shape)

(150, 6)

In [25]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [26]:
print(df.mean())

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [27]:
print(df.std())

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [28]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## Series Data Structure

In [29]:
# pd.Series(data,index)
# index-> Unique, Hashable, same length as data. By default np.arange(n)

import pandas as pd

s = pd.Series()

print(s)

Series([], dtype: float64)

### Creating Series from ndarray

In [30]:
import numpy as np

data = np.array(['a', 'b', 'c', 'd'])

s = pd.Series(data)

print(s)

0    a
1    b
2    c
3    d
dtype: object

### Create Series from dict

In [31]:
data = {'a':0., 'b':1., 'c':2.}

s = pd.Series(data)

print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

### Data accessing using Index

In [32]:
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

print(s)

print(s['a'])

a    1
b    2
c    3
d    4
e    5
dtype: int64
1

In [33]:
# Retrieve multiple elements

print(s[['a', 'b', 'e']])

a    1
b    2
e    5
dtype: int64

In [34]:
print(s['f'])

KeyError: 'f'