# A Brief Introduction to Pandas
### Part 1

In this notebook, we will cover the basics of Pandas, a dynamic, powerful Python library that is ubiquitous in the field of Data Science. It has robust I/O functionality and makes working with data a lot simpler than doing so in Excel. Let's get stared.

In [198]:
import pandas as pd
import matplotlib.pyplot as plt

## 1.1 DataFrames
Let's read in some existing data using Pandas convenient read_csv method.

In [94]:
unemployment_df = pd.read_csv('./data/unemployment_2016.csv')

In [95]:
# Check the type
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

pandas.core.frame.DataFrame

In [3]:
# Use .info() and .describe to inspect dataframe

In [98]:
# Select a single column
# Using bracket notation

# Using dot notation

In [1]:
# Access by numeric index

In [2]:
# Check the type
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [4]:
# Series objects do not have the same methods as dataframes
countries.info()
countries.describe()

NameError: name 'countries' is not defined

## 1.2 Vectorized Operations
In Pandas, operations work on each value in most data structures, such as dataframes and series.

In [5]:
# Add a string to the countries series

In [103]:
# Add a number to the countries series
countries + 12

TypeError: can only concatenate str (not "int") to str

In [1]:
# Select the unemployment rates as a series

In [2]:
# Sort the dataframe by rate

In [3]:
# Use .head() to get the top five values

In [4]:
# Use .tail() to get the  five values

### Exercise - What is the average unemployment of the seven countries with the highest unemployment in europe?

In [5]:
# Sort the values of the unemployment_df - descending or ascending?

# Get the first seven rows in the returned series

# Get the average of those rows

### Extra - explore these methods:
.min(), .max(), .sum(), .unique(), .nunique(), .count(), .duplicated()

In [9]:
#

## 1.3 Merging DataFrames
Data can come from a variety of different sources and it can be helpful to put them all in one place.

In [7]:
gdp_filepath = './data/gdp_2016.csv'
# Read in data using this filepath

In [8]:
# Inspect the GDP data

Let's create a new dataframe by merging two existing dataframes. This is the one we'll use for the rest of section 2.

In [10]:
# Merge unemployment df with gdp df
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

What other data can we include? Are there other file types that we can work with?

In [11]:
# Read in misc data from excel
misc_filepath = './data/misc_data.xlsx'

In [12]:
# .read_excel() gets the first sheet in the excel file. Instead, get the "Income" sheet

In [14]:
# Get "Population" sheet

In [15]:
# Get "Population" sheet with proper rows

In [16]:
# Do we need all of these columns?

In [17]:
# Select total population column

In [18]:
# Merge totial population df with eur_data df

In [19]:
# Select population with country names, so pandas can perform merge

In [20]:
# Perform merge and sort values by country name

It looks like there's an issue with our indexes. What is an index, anyway?

## 1.4 Indexes
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html

In [21]:
# Our data is indexed by integer values

In [22]:
# Indexes are immutable. And for good reason...

In [23]:
# Dataframes can also be indexed by labels, rather than numbers.
# Use the .set_index() method to set the index for our dataframe

## 1.5 Exporting Data
Pandas has robust I/O functionality.

In [128]:
# Helper function for generating a filepath
def get_filepath(filename, extension):
    return './data/out/' + filename + '.' + extension

In [129]:
# Write df to csv using helper function

### Exercise - Write this dataframe to Excel,  JSON, and HTML

In [131]:
# Excel (.xlsx)

In [132]:
# JSON (.json)

In [133]:
# HTML (.html)

## 2.1 Working with DataFrames
Let's work with an existing dataframe that includes a lot of the same data from the previous sections.

In [24]:
# Read in the complete version of the europe data, using the first column as the index

In [25]:
# Inspect the data

In [26]:
# Get the average of all the columns

## 2.2 Boolean Indexing
First of all, what is the boolean data type? It is data type that represents one of two possible values. For example, True False, On Off, etc.

In [27]:
# Select all rows with the country name equal to Austria

In [28]:
# Now do the same with bracket notation for the country of Greece

Queries can also be generated using partial matches.

In [29]:
# Get all countries with the letter l in their name

In [1]:
# Notice that there is one country missing: Luxembourg. Why is that?

## 2.3 Multiple queries
So far, we've looked at queries with a single condition. Let's look at multiple query conditions.

In [30]:
# Create bool series for countries with unemployment less than 7

In [31]:
# Combine with this l_names series

In [32]:
# In set theory, this is intersection. i.e. 'and'

In [33]:
# In set theory, this is union. i.e. 'or'

In [34]:
# In set theory, this is complement. i.e. 'not'

### Exercise - What countries have an unemployment rate greater than 9% and a GDP less than 280000?

### Exercise - What countries have a median income between 10,000 and 20,000?

In [35]:
# Create a bool series from the df that combines these two conditions

In [36]:
# Alternative, using .between()

## 3.1 Selection
Using .loc(), .iloc()

In [159]:
# Data from the eur_data_final df, represented as a python dictionary
countries_dict = {
    15: {'country': 'Italy', 
         'unemp_rate': 11.7, 
         'gdp': 1689824.0, 
         'median_income': 16237, 
         'total_pop': 59433744
        }
}

In [37]:
# With vanilla python, how do we get the word 'Italy' from a dictionary?

In [38]:
# How do we do this with a dataframe?

In [39]:
# We can also get multiple columns

In [40]:
# Or an entire row/entry

In [41]:
# Or multiple rows and columns

In [42]:
# We can also use python's index slicing syntax

In [43]:
# Select by column value (Pandas is smart!)

### Exercise - What countries have a higher unemployment rate than Slovenia and have a lowercase 't' in their name?

In [44]:
# Select slovenia unemployment values

# Generate comparison query

# Generate 'contains' query

# Make selection using queries

### Exercise - Generate a correlation matrix for the various columns and plot them using matplotlib

In [45]:
# Select columns

# Make subplot and figure

# Generate correlation matrix

# Generate matplotlib plot

# Add colorbar to figure

# Set tick labels