In [44]:
# Reference article to convert data to hdf5
# https://nbviewer.jupyter.org/github/vaexio/vaex-examples/blob/master/medium-airline-data-eda/airline-original-data-conversion.ipynb

# Data source form https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data-page

In [32]:
import vaex
file_export = "Meteorite_Landings.hdf5"

In [36]:
# df = vaex.from_csv("output/csv/yellow_tripdata_2009-01.csv")
df = vaex.from_csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/Meteorite_Landings.csv")
df.export_hdf5(path="Meteorite_Landings.hdf5", progress=True)

In [37]:
df = vaex.open(file_export)

In [43]:
%%time
df["name"].value_counts()

CPU times: user 208 ms, sys: 3.99 ms, total: 212 ms
Wall time: 212 ms

Święcany                 1
Hammadah al Hamra 007    1
Hammadah al Hamra 029    1
Hammadah al Hamra 028    1
Hammadah al Hamra 027    1
                        ..
Northwest Africa 980     1
Northwest Africa 979     1
Northwest Africa 978     1
Northwest Africa 977     1
Aachen                   1
Length: 45716, dtype: int64

In [41]:
%%time
df.groupby("name").agg({'name':'count'}).sort("name")

CPU times: user 196 ms, sys: 12.3 ms, total: 208 ms
Wall time: 128 ms

#       name             count
0       Aachen           1
1       Aarhus           1
2       Abajo            1
3       Abar al' Uj 001  1
4       Abbott           1
...     ...              ...
45,711  Österplana 062   1
45,712  Österplana 063   1
45,713  Österplana 064   1
45,714  Łowicz           1
45,715  Święcany         1

In [2]:
df.head()

  #  vendor_name    Trip_Pickup_DateTime    Trip_Dropoff_DateTime      Passenger_Count    Trip_Distance    Start_Lon    Start_Lat    Rate_Code    store_and_forward    End_Lon    End_Lat  Payment_Type      Fare_Amt    surcharge    mta_tax    Tip_Amt    Tolls_Amt    Total_Amt    index
  0  VTS            2009-01-04 02:52:00     2009-01-04 03:02:00                      1             2.63     -73.992       40.7216          nan                  nan   -73.9938    40.6959  CASH                   8.9          0.5        nan       0               0         9.4         0
  1  VTS            2009-01-04 03:31:00     2009-01-04 03:38:00                      3             4.55     -73.9821      40.7363          nan                  nan   -73.9558    40.768   Credit                12.1          0.5        nan       2               0        14.6         1
  2  VTS            2009-01-03 15:43:00     2009-01-03 15:57:00                      5            10.35     -74.0026      40.7397          nan                  nan   -73.87      40.7702  Credit                23.7          0          nan       4.74            0        28.44        2
  3  DDS            2009-01-01 20:52:58     2009-01-01 21:14:00                      1             5        -73.9743      40.791           nan                  nan   -73.9966    40.7318  CREDIT                14.9          0.5        nan       3.05            0        18.45        3
  4  DDS            2009-01-24 16:18:23     2009-01-24 16:24:56                      1             0.4      -74.0016      40.7194          nan                  nan   -74.0084    40.7204  CASH                   3.7          0          nan       0               0         3.7         4
  5  DDS            2009-01-16 22:35:59     2009-01-16 22:43:35                      2             1.2      -73.9898      40.735           nan                  nan   -73.985     40.7245  CASH                   6.1          0.5        nan       0               0         6.6         5
  6  DDS            2009-01-21 08:55:57     2009-01-21 09:05:42                      1             0.4      -73.984       40.7435          nan                  nan   -73.9803    40.7489  CREDIT                 5.7          0          nan       1               0         6.7         6
  7  VTS            2009-01-04 04:31:00     2009-01-04 04:36:00                      1             1.72     -73.9926      40.7484          nan                  nan   -73.9956    40.7283  CASH                   6.1          0.5        nan       0               0         6.6         7
  8  CMT            2009-01-05 16:29:02     2009-01-05 16:40:21                      1             1.6      -73.9697      40.7492          nan                  nan   -73.9904    40.7511  Credit                 8.7          0          nan       1.3             0        10           8
  9  CMT            2009-01-05 18:53:13     2009-01-05 18:57:45                      1             0.7      -73.9552      40.783           nan                  nan   -73.9586    40.7748  Cash                   5.9          0          nan       0               0         5.9         9

In [3]:
df.firstName.str.lower()

AttributeError: 'DataFrameArrays' object has no attribute 'firstName'

In [4]:
import vaex
df = vaex.open("output/hdf5/yellow_tripdata_2009-01.hdf5")

In [5]:
df.head()

  #  vendor_name    Trip_Pickup_DateTime    Trip_Dropoff_DateTime      Passenger_Count    Trip_Distance    Start_Lon    Start_Lat    Rate_Code    store_and_forward    End_Lon    End_Lat  Payment_Type      Fare_Amt    surcharge    mta_tax    Tip_Amt    Tolls_Amt    Total_Amt
  0  VTS            2009-01-04 02:52:00     2009-01-04 03:02:00                      1             2.63     -73.992       40.7216          nan                  nan   -73.9938    40.6959  CASH                   8.9          0.5        nan       0               0         9.4
  1  VTS            2009-01-04 03:31:00     2009-01-04 03:38:00                      3             4.55     -73.9821      40.7363          nan                  nan   -73.9558    40.768   Credit                12.1          0.5        nan       2               0        14.6
  2  VTS            2009-01-03 15:43:00     2009-01-03 15:57:00                      5            10.35     -74.0026      40.7397          nan                  nan   -73.87      40.7702  Credit                23.7          0          nan       4.74            0        28.44
  3  DDS            2009-01-01 20:52:58     2009-01-01 21:14:00                      1             5        -73.9743      40.791           nan                  nan   -73.9966    40.7318  CREDIT                14.9          0.5        nan       3.05            0        18.45
  4  DDS            2009-01-24 16:18:23     2009-01-24 16:24:56                      1             0.4      -74.0016      40.7194          nan                  nan   -74.0084    40.7204  CASH                   3.7          0          nan       0               0         3.7
  5  DDS            2009-01-16 22:35:59     2009-01-16 22:43:35                      2             1.2      -73.9898      40.735           nan                  nan   -73.985     40.7245  CASH                   6.1          0.5        nan       0               0         6.6
  6  DDS            2009-01-21 08:55:57     2009-01-21 09:05:42                      1             0.4      -73.984       40.7435          nan                  nan   -73.9803    40.7489  CREDIT                 5.7          0          nan       1               0         6.7
  7  VTS            2009-01-04 04:31:00     2009-01-04 04:36:00                      1             1.72     -73.9926      40.7484          nan                  nan   -73.9956    40.7283  CASH                   6.1          0.5        nan       0               0         6.6
  8  CMT            2009-01-05 16:29:02     2009-01-05 16:40:21                      1             1.6      -73.9697      40.7492          nan                  nan   -73.9904    40.7511  Credit                 8.7          0          nan       1.3             0        10
  9  CMT            2009-01-05 18:53:13     2009-01-05 18:57:45                      1             0.7      -73.9552      40.783           nan                  nan   -73.9586    40.7748  Cash                   5.9          0          nan       0               0         5.9

In [22]:
column = "Passenger_Count"
mn = df.minmax([column])[0]
print(mn)

[  0 113]

In [25]:
%%time
## Histogram
print(df.count(df[column], binby = [df[column]], shape=10, limits=mn))

[14092412        0        0        0        0        0        0        0
        0        0]
CPU times: user 190 ms, sys: 0 ns, total: 190 ms
Wall time: 59.2 ms

In [19]:
%%time
df.groupby(by=column).agg({column:"count"}).sort(by="count",ascending= False)[0:10]

CPU times: user 521 ms, sys: 0 ns, total: 521 ms
Wall time: 162 ms

  #    Passenger_Count             count
  0                  1       9.49342e+06
  1                  2       2.34716e+06
  2                  5       1.26336e+06
  3                  3  624652
  4                  4  299288
  5                  6   63817
  6                  0     718
  7                113       1

In [18]:
%time
df.mean(column)

CPU times: user 7 µs, sys: 1 µs, total: 8 µs
Wall time: 13.4 µs

array(1.70010963)

In [119]:
%%time
df["Start_Lon"].value_counts()[0:10]

KeyError: 10.0

In [109]:
%%time
df[20000:20005].to_dict()

CPU times: user 10.7 ms, sys: 1.04 ms, total: 11.7 ms
Wall time: 48.9 ms

{'vendor_name': array(['VTS', 'DDS', 'VTS', 'VTS', 'DDS'], dtype=object),
 'Trip_Pickup_DateTime': array(['2009-01-21 14:48:00', '2009-01-05 12:26:42',
        '2009-01-21 14:53:00', '2009-01-21 07:22:00',
        '2009-01-06 22:04:38'], dtype=object),
 'Trip_Dropoff_DateTime': array(['2009-01-21 14:57:00', '2009-01-05 12:28:45',
        '2009-01-21 15:01:00', '2009-01-21 07:27:00',
        '2009-01-06 22:15:48'], dtype=object),
 'Passenger_Count': array([5, 1, 1, 5, 1]),
 'Trip_Distance': array([1.97, 0.  , 1.61, 0.62, 3.  ]),
 'Start_Lon': array([-74.00372 , -73.950389, -73.961167, -73.977122, -73.96716 ]),
 'Start_Lat': array([40.747423, 40.752603, 40.78045 , 40.755853, 40.756639]),
 'Rate_Code': array([nan, nan, nan, nan, nan]),
 'store_and_forward': array([nan, nan, nan, nan, nan]),
 'End_Lon': array([-74.000782, -73.950389, -73.978517, -73.983008, -73.984548]),
 'End_Lat': array([40.723958, 40.752603, 40.77272 , 40.760228, 40.720279]),
 'Payment_Type': array(['CASH', 'CASH', 'CASH', 'CASH', 'CREDIT'], dtype=object),
 'Fare_Amt': array([7.3, 2.5, 6.9, 4.5, 8.9]),
 'surcharge': array([0. , 0. , 0. , 0. , 0.5]),
 'mta_tax': array([nan, nan, nan, nan, nan]),
 'Tip_Amt': array([0., 0., 0., 0., 3.]),
 'Tolls_Amt': array([0., 0., 0., 0., 0.]),
 'Total_Amt': array([ 7.3,  2.5,  6.9,  4.5, 12.4])}

In [84]:
%%time
df["vendor_name","Trip_Pickup_DateTime"][10:20].to_dict()
# dir(df["vendor_name","Trip_Pickup_DateTime"][10:20])

CPU times: user 4.2 ms, sys: 30 µs, total: 4.23 ms
Wall time: 3.95 ms

{'vendor_name': array(['CMT', 'CMT', 'DDS', 'CMT', 'CMT', 'CMT', 'CMT', 'CMT', 'DDS',
        'CMT'], dtype=object),
 'Trip_Pickup_DateTime': array(['2009-01-05 08:15:38', '2009-01-05 06:21:43',
        '2009-01-20 13:44:02', '2009-01-05 16:19:53',
        '2009-01-05 17:22:16', '2009-01-05 16:02:52',
        '2009-01-05 12:15:06', '2009-01-05 07:49:57',
        '2009-01-23 23:57:34', '2009-01-05 10:23:13'], dtype=object)}

In [4]:
import vaex

In [6]:
import os

# define the name of the directory to be created
output_dir = "./output/csv/"
output_dir_hdf5 = "./output/hdf5/"

months = list(range(1,13))
years = list(range(2009, 2020))

file_names = []
for year in years:
    for month in months:
        month = "{0:0=2d}".format(month)
        file_names.append(f"https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_{year}-{month}.csv")

In [8]:
try:
    os.mkdir(output_dir)
except OSError:
    print ("Creation of the directory %s failed" % output_dir)
else:
    print ("Successfully created the directory %s " % output_dir)

Creation of the directory ./output/csv/ failed

In [8]:
import requests
from tqdm import tqdm
import os 
from urllib.parse import urlparse

def download_from_url(url, dst=None):
    """
    @param: url to download file
    @param: dst place to put the file
    """
    if dst is None:
        a = urlparse(url)        
        output_file = os.path.basename(a.path)
    dst = output_dir + output_file    
    
    file_size = int(requests.head(url).headers["Content-Length"])
    
    if os.path.exists(dst):
        first_byte = os.path.getsize(dst)
    else:
        first_byte = 0
    if first_byte >= file_size:
        return file_size
    header = {"Range": "bytes=%s-%s" % (first_byte, file_size)}
    pbar = tqdm(
        total=file_size, initial=first_byte,
        unit='B', unit_scale=True, desc=url.split('/')[-1])
    req = requests.get(url, headers=header, stream=True)
    with(open(dst, 'ab')) as f:
        for chunk in req.iter_content(chunk_size=1024):
            if chunk:
                f.write(chunk)
                pbar.update(1024)
    pbar.close()
    
    return file_size

In [10]:
# Download all nyc yellow files
for file_name in file_names:
    download_from_url(file_name)

yellow_tripdata_2009-01.csv: 2.54GB [01:46, 23.8MB/s]
yellow_tripdata_2009-02.csv: 2.42GB [01:38, 24.4MB/s]
yellow_tripdata_2009-03.csv: 2.60GB [02:11, 19.8MB/s]
yellow_tripdata_2009-04.csv: 2.58GB [01:46, 24.2MB/s]
yellow_tripdata_2009-05.csv: 2.68GB [01:42, 26.0MB/s]
yellow_tripdata_2009-06.csv: 2.57GB [02:39, 16.1MB/s]
yellow_tripdata_2009-07.csv: 2.47GB [01:39, 24.8MB/s]
yellow_tripdata_2009-08.csv: 2.48GB [01:38, 25.2MB/s]
yellow_tripdata_2009-09.csv: 2.53GB [01:37, 26.1MB/s]
yellow_tripdata_2009-10.csv: 2.83GB [02:00, 23.6MB/s]
yellow_tripdata_2009-11.csv: 2.63GB [01:45, 25.0MB/s]
yellow_tripdata_2009-12.csv: 2.68GB [01:51, 24.0MB/s]
yellow_tripdata_2010-01.csv: 2.73GB [01:58, 23.0MB/s]
yellow_tripdata_2010-02.csv: 2.05GB [01:24, 24.2MB/s]
yellow_tripdata_2010-03.csv: 2.37GB [01:37, 24.4MB/s]
yellow_tripdata_2010-04.csv: 2.78GB [01:56, 23.9MB/s]
yellow_tripdata_2010-05.csv: 2.84GB [02:57, 16.0MB/s]
yellow_tripdata_2010-06.csv: 2.72GB [02:49, 16.0MB/s]
yellow_tripdata_2010-07.csv: 2.69GB [01:59, 22.5MB/s]
yellow_tripdata_2010-08.csv: 2.30GB [01:38, 23.2MB/s]
yellow_tripdata_2010-09.csv: 2.85GB [02:12, 21.5MB/s]
yellow_tripdata_2010-10.csv: 2.61GB [01:54, 22.8MB/s]
yellow_tripdata_2010-11.csv: 2.55GB [01:48, 23.5MB/s]
yellow_tripdata_2010-12.csv: 2.54GB [01:57, 21.6MB/s]
yellow_tripdata_2011-01.csv: 2.47GB [02:30, 16.4MB/s]
yellow_tripdata_2011-02.csv: 2.60GB [02:37, 16.5MB/s]
yellow_tripdata_2011-03.csv: 2.95GB [01:52, 26.1MB/s]
yellow_tripdata_2011-04.csv: 2.70GB [02:42, 16.7MB/s]
yellow_tripdata_2011-05.csv: 2.86GB [02:42, 17.6MB/s]
yellow_tripdata_2011-06.csv: 2.78GB [01:52, 24.6MB/s]
yellow_tripdata_2011-07.csv: 2.71GB [02:50, 15.9MB/s]
yellow_tripdata_2011-08.csv: 2.43GB [01:39, 24.5MB/s]
yellow_tripdata_2011-09.csv: 2.68GB [02:49, 15.8MB/s]
yellow_tripdata_2011-10.csv: 2.88GB [02:04, 23.3MB/s]
yellow_tripdata_2011-11.csv: 2.67GB [01:48, 24.6MB/s]
yellow_tripdata_2011-12.csv: 2.74GB [01:58, 23.1MB/s]
yellow_tripdata_2012-01.csv: 2.76GB [01:54, 24.2MB/s]
yellow_tripdata_2012-02.csv: 2.78GB [02:54, 16.0MB/s]
yellow_tripdata_2012-03.csv: 2.99GB [02:25, 20.5MB/s]
yellow_tripdata_2012-04.csv: 2.87GB [02:12, 21.7MB/s]
yellow_tripdata_2012-05.csv: 2.89GB [02:13, 21.6MB/s]
yellow_tripdata_2012-06.csv: 2.80GB [02:48, 16.6MB/s]
yellow_tripdata_2012-07.csv: 2.67GB [01:55, 23.0MB/s]
yellow_tripdata_2012-08.csv: 2.67GB [01:48, 24.7MB/s]
yellow_tripdata_2012-09.csv: 2.45GB [01:37, 25.1MB/s]
yellow_tripdata_2012-10.csv: 2.43GB [01:34, 25.7MB/s]
yellow_tripdata_2012-11.csv: 2.30GB [02:30, 15.3MB/s]
yellow_tripdata_2012-12.csv: 2.45GB [02:26, 16.7MB/s]
yellow_tripdata_2013-01.csv: 2.47GB [01:41, 24.4MB/s]
yellow_tripdata_2013-02.csv: 2.34GB [01:32, 25.2MB/s]
yellow_tripdata_2013-03.csv: 2.64GB [01:39, 26.5MB/s]
yellow_tripdata_2013-04.csv: 2.53GB [01:39, 25.3MB/s]
yellow_tripdata_2013-05.csv: 2.57GB [01:40, 25.6MB/s]
yellow_tripdata_2013-06.csv: 2.42GB [01:35, 25.3MB/s]
yellow_tripdata_2013-07.csv: 2.32GB [01:26, 26.9MB/s]
yellow_tripdata_2013-08.csv: 2.10GB [01:16, 27.5MB/s]
yellow_tripdata_2013-09.csv: 2.38GB [01:35, 25.0MB/s]
yellow_tripdata_2013-10.csv: 2.53GB [01:43, 24.4MB/s]
yellow_tripdata_2013-11.csv: 2.42GB [02:30, 16.0MB/s]
yellow_tripdata_2013-12.csv: 2.35GB [01:52, 20.9MB/s]
yellow_tripdata_2014-01.csv: 2.32GB [01:41, 22.9MB/s]
yellow_tripdata_2014-02.csv: 2.21GB [01:36, 23.0MB/s]
yellow_tripdata_2014-03.csv: 2.60GB [01:48, 23.9MB/s]
yellow_tripdata_2014-04.csv: 2.46GB [01:48, 22.7MB/s]
yellow_tripdata_2014-05.csv: 2.49GB [01:48, 22.9MB/s]
yellow_tripdata_2014-06.csv:  30%|██▉       | 690M/2.33G [00:43<02:06, 12.9MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2014-08.csv: 2.13GB [01:35, 22.3MB/s]
yellow_tripdata_2014-09.csv: 2.26GB [01:35, 23.7MB/s]
yellow_tripdata_2014-10.csv: 2.41GB [01:45, 22.9MB/s]
yellow_tripdata_2014-11.csv:  90%|█████████ | 2.02G/2.24G [01:25<00:09, 23.4MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2015-02.csv: 1.95GB [01:20, 24.1MB/s]
yellow_tripdata_2015-03.csv: 2.09GB [01:29, 23.3MB/s]
yellow_tripdata_2015-04.csv: 2.05GB [01:24, 24.2MB/s]
yellow_tripdata_2015-05.csv: 2.06GB [01:30, 22.8MB/s]
yellow_tripdata_2015-06.csv:  71%|███████   | 1.37G/1.93G [00:55<00:22, 25.4MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2015-09.csv: 1.76GB [01:51, 15.9MB/s]
yellow_tripdata_2015-10.csv: 1.93GB [01:57, 16.5MB/s]
yellow_tripdata_2015-11.csv: 1.77GB [01:15, 23.4MB/s]
yellow_tripdata_2015-12.csv: 1.80GB [01:17, 23.3MB/s]
yellow_tripdata_2016-01.csv:  37%|███▋      | 635M/1.71G [00:25<00:40, 26.5MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2016-04.csv: 1.87GB [01:18, 23.9MB/s]
yellow_tripdata_2016-05.csv: 1.86GB [01:24, 22.1MB/s]
yellow_tripdata_2016-06.csv: 1.75GB [01:15, 23.2MB/s]
yellow_tripdata_2016-07.csv: 928MB [00:39, 23.7MB/s]
yellow_tripdata_2016-08.csv: 896MB [00:56, 15.7MB/s]
yellow_tripdata_2016-09.csv:  76%|███████▌  | 693M/912M [00:44<00:15, 14.0MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2017-03.csv: 908MB [00:39, 23.0MB/s]
yellow_tripdata_2017-04.csv: 886MB [00:34, 25.6MB/s]
yellow_tripdata_2017-05.csv: 891MB [00:37, 24.0MB/s]
yellow_tripdata_2017-06.csv: 852MB [00:39, 21.6MB/s]
yellow_tripdata_2017-07.csv: 757MB [00:31, 24.3MB/s]
yellow_tripdata_2017-08.csv: 742MB [00:32, 22.8MB/s]
yellow_tripdata_2017-09.csv: 789MB [00:50, 15.7MB/s]
yellow_tripdata_2017-10.csv: 862MB [00:37, 23.3MB/s]
yellow_tripdata_2017-11.csv:  88%|████████▊ | 717M/819M [00:29<00:04, 21.8MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

yellow_tripdata_2018-07.csv: 692MB [00:44, 15.6MB/s]
yellow_tripdata_2018-08.csv: 692MB [00:28, 24.0MB/s]
yellow_tripdata_2018-09.csv: 710MB [00:29, 24.2MB/s]
yellow_tripdata_2018-10.csv: 779MB [00:34, 22.7MB/s]
yellow_tripdata_2018-11.csv: 719MB [00:30, 23.9MB/s]
yellow_tripdata_2018-12.csv: 722MB [00:44, 16.3MB/s]
yellow_tripdata_2019-01.csv: 687MB [00:41, 16.6MB/s]
yellow_tripdata_2019-02.csv: 650MB [00:28, 22.5MB/s]
yellow_tripdata_2019-03.csv: 726MB [00:29, 24.7MB/s]
yellow_tripdata_2019-04.csv:  75%|███████▌  | 518M/689M [00:21<00:05, 29.4MB/s]    IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
import pandas as pd
import vaex
for file_name in file_names:
    a = urlparse(file_name)        
    output_file = os.path.basename(a.path)    
    dst = output_dir + output_file        
    pandas_df = pd.read_csv(dst, encoding='latin')
    
    # Importing the data from pandas to vaex
    vaex_df = vaex.from_pandas(pandas_df, copy_index=False)
    
    output_file = os.path.splitext(output_file)[0]+".hdf5"    
    dst_hdf5 = output_dir_hdf5 + output_file        
    # Export the data with vaex to hdf5
    vaex_df.export_hdf5(path=dst_hdf5, progress=True)
    print(dst)

In [32]:
del pandas_df

In [29]:
output_file = "yellow_tripdata_2009-12.csv".split('.')[-1][:-3]+'hdf5'
import os
print(os.path.splitext("yellow_tripdata_2009-12.csv")[0]+".hdf5")

print(output_file)

yellow_tripdata_2009-12.hdf5
hdf5

In [ ]:
import vaex

for file_name in tqdm(file_names, leave=False, desc='Converting to hdf5...'):    
    vaex_df.export_hdf5(path=output+file_name, progress=False)

In [ ]:
download_from_url(file_names[1])