In [44]:
# Reference article to convert data to hdf5
# https://nbviewer.jupyter.org/github/vaexio/vaex-examples/blob/master/medium-airline-data-eda/airline-original-data-conversion.ipynb

# Data source form https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data-page

In [ ]:
import vaex

file_name = "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/crime.csv"
col_name ="INCIDENT_NUMBER"
df = vaex.from_csv(file_name, encoding="latin1")

In [ ]:
%%time
df[col_name].value_counts()

In [ ]:
# df = vaex.from_csv("output/csv/yellow_tripdata_2009-01.csv")
df = vaex.from_csv(file_name, encoding="latin1")

In [37]:
df = vaex.open(file_export)

In [59]:
%%time
col_name ="INCIDENT_NUMBER"
df[col_name].value_counts()

CPU times: user 1.43 s, sys: 23.9 ms, total: 1.45 s
Wall time: 1.45 s

I162030584    13
I152080623    11
I172013170    10
I182065208    10
I172096394    10
              ..
I172059460     1
I172059458     1
I172059457     1
I172059456     1
142052550      1
Length: 282517, dtype: int64

In [56]:
import pandas as pd
pdf = pd.read_csv(file_name, encoding="latin1")

In [63]:
%%time
pdf[col_name].value_counts()

CPU times: user 538 ms, sys: 3.87 ms, total: 542 ms
Wall time: 422 ms

I162030584    13
I152080623    11
I182065208    10
I172013170    10
I172096394    10
              ..
I162089808     1
I162068201     1
I152068233     1
I162018863     1
I182046935     1
Name: INCIDENT_NUMBER, Length: 282517, dtype: int64

In [41]:
%%time
df.groupby("name").agg({'name':'count'}).sort("name")

CPU times: user 196 ms, sys: 12.3 ms, total: 208 ms
Wall time: 128 ms

#       name             count
0       Aachen           1
1       Aarhus           1
2       Abajo            1
3       Abar al' Uj 001  1
4       Abbott           1
...     ...              ...
45,711  Österplana 062   1
45,712  Österplana 063   1
45,713  Österplana 064   1
45,714  Łowicz           1
45,715  Święcany         1

In [2]:
df.head()

  #  vendor_name    Trip_Pickup_DateTime    Trip_Dropoff_DateTime      Passenger_Count    Trip_Distance    Start_Lon    Start_Lat    Rate_Code    store_and_forward    End_Lon    End_Lat  Payment_Type      Fare_Amt    surcharge    mta_tax    Tip_Amt    Tolls_Amt    Total_Amt    index
  0  VTS            2009-01-04 02:52:00     2009-01-04 03:02:00                      1             2.63     -73.992       40.7216          nan                  nan   -73.9938    40.6959  CASH                   8.9          0.5        nan       0               0         9.4         0
  1  VTS            2009-01-04 03:31:00     2009-01-04 03:38:00                      3             4.55     -73.9821      40.7363          nan                  nan   -73.9558    40.768   Credit                12.1          0.5        nan       2               0        14.6         1
  2  VTS            2009-01-03 15:43:00     2009-01-03 15:57:00                      5            10.35     -74.0026      40.7397          nan                  nan   -73.87      40.7702  Credit                23.7          0          nan       4.74            0        28.44        2
  3  DDS            2009-01-01 20:52:58     2009-01-01 21:14:00                      1             5        -73.9743      40.791           nan                  nan   -73.9966    40.7318  CREDIT                14.9          0.5        nan       3.05            0        18.45        3
  4  DDS            2009-01-24 16:18:23     2009-01-24 16:24:56                      1             0.4      -74.0016      40.7194          nan                  nan   -74.0084    40.7204  CASH                   3.7          0          nan       0               0         3.7         4
  5  DDS            2009-01-16 22:35:59     2009-01-16 22:43:35                      2             1.2      -73.9898      40.735           nan                  nan   -73.985     40.7245  CASH                   6.1          0.5        nan       0               0         6.6         5
  6  DDS            2009-01-21 08:55:57     2009-01-21 09:05:42                      1             0.4      -73.984       40.7435          nan                  nan   -73.9803    40.7489  CREDIT                 5.7          0          nan       1               0         6.7         6
  7  VTS            2009-01-04 04:31:00     2009-01-04 04:36:00                      1             1.72     -73.9926      40.7484          nan                  nan   -73.9956    40.7283  CASH                   6.1          0.5        nan       0               0         6.6         7
  8  CMT            2009-01-05 16:29:02     2009-01-05 16:40:21                      1             1.6      -73.9697      40.7492          nan                  nan   -73.9904    40.7511  Credit                 8.7          0          nan       1.3             0        10           8
  9  CMT            2009-01-05 18:53:13     2009-01-05 18:57:45                      1             0.7      -73.9552      40.783           nan                  nan   -73.9586    40.7748  Cash                   5.9          0          nan       0               0         5.9         9

In [3]:
df.firstName.str.lower()

AttributeError: 'DataFrameArrays' object has no attribute 'firstName'

In [4]:
import vaex
df = vaex.open("output/hdf5/yellow_tripdata_2009-01.hdf5")

In [5]:
df.head()

  #  vendor_name    Trip_Pickup_DateTime    Trip_Dropoff_DateTime      Passenger_Count    Trip_Distance    Start_Lon    Start_Lat    Rate_Code    store_and_forward    End_Lon    End_Lat  Payment_Type      Fare_Amt    surcharge    mta_tax    Tip_Amt    Tolls_Amt    Total_Amt
  0  VTS            2009-01-04 02:52:00     2009-01-04 03:02:00                      1             2.63     -73.992       40.7216          nan                  nan   -73.9938    40.6959  CASH                   8.9          0.5        nan       0               0         9.4
  1  VTS            2009-01-04 03:31:00     2009-01-04 03:38:00                      3             4.55     -73.9821      40.7363          nan                  nan   -73.9558    40.768   Credit                12.1          0.5        nan       2               0        14.6
  2  VTS            2009-01-03 15:43:00     2009-01-03 15:57:00                      5            10.35     -74.0026      40.7397          nan                  nan   -73.87      40.7702  Credit                23.7          0          nan       4.74            0        28.44
  3  DDS            2009-01-01 20:52:58     2009-01-01 21:14:00                      1             5        -73.9743      40.791           nan                  nan   -73.9966    40.7318  CREDIT                14.9          0.5        nan       3.05            0        18.45
  4  DDS            2009-01-24 16:18:23     2009-01-24 16:24:56                      1             0.4      -74.0016      40.7194          nan                  nan   -74.0084    40.7204  CASH                   3.7          0          nan       0               0         3.7
  5  DDS            2009-01-16 22:35:59     2009-01-16 22:43:35                      2             1.2      -73.9898      40.735           nan                  nan   -73.985     40.7245  CASH                   6.1          0.5        nan       0               0         6.6
  6  DDS            2009-01-21 08:55:57     2009-01-21 09:05:42                      1             0.4      -73.984       40.7435          nan                  nan   -73.9803    40.7489  CREDIT                 5.7          0          nan       1               0         6.7
  7  VTS            2009-01-04 04:31:00     2009-01-04 04:36:00                      1             1.72     -73.9926      40.7484          nan                  nan   -73.9956    40.7283  CASH                   6.1          0.5        nan       0               0         6.6
  8  CMT            2009-01-05 16:29:02     2009-01-05 16:40:21                      1             1.6      -73.9697      40.7492          nan                  nan   -73.9904    40.7511  Credit                 8.7          0          nan       1.3             0        10
  9  CMT            2009-01-05 18:53:13     2009-01-05 18:57:45                      1             0.7      -73.9552      40.783           nan                  nan   -73.9586    40.7748  Cash                   5.9          0          nan       0               0         5.9

In [22]:
column = "Passenger_Count"
mn = df.minmax([column])[0]
print(mn)

[  0 113]

In [25]:
%%time
## Histogram
print(df.count(df[column], binby = [df[column]], shape=10, limits=mn))

[14092412        0        0        0        0        0        0        0
        0        0]
CPU times: user 190 ms, sys: 0 ns, total: 190 ms
Wall time: 59.2 ms

In [19]:
%%time
df.groupby(by=column).agg({column:"count"}).sort(by="count",ascending= False)[0:10]

CPU times: user 521 ms, sys: 0 ns, total: 521 ms
Wall time: 162 ms

  #    Passenger_Count             count
  0                  1       9.49342e+06
  1                  2       2.34716e+06
  2                  5       1.26336e+06
  3                  3  624652
  4                  4  299288
  5                  6   63817
  6                  0     718
  7                113       1

In [18]:
%time
df.mean(column)

CPU times: user 7 µs, sys: 1 µs, total: 8 µs
Wall time: 13.4 µs

array(1.70010963)

In [119]:
%%time
df["Start_Lon"].value_counts()[0:10]

KeyError: 10.0

In [109]:
%%time
df[20000:20005].to_dict()

CPU times: user 10.7 ms, sys: 1.04 ms, total: 11.7 ms
Wall time: 48.9 ms

{'vendor_name': array(['VTS', 'DDS', 'VTS', 'VTS', 'DDS'], dtype=object),
 'Trip_Pickup_DateTime': array(['2009-01-21 14:48:00', '2009-01-05 12:26:42',
        '2009-01-21 14:53:00', '2009-01-21 07:22:00',
        '2009-01-06 22:04:38'], dtype=object),
 'Trip_Dropoff_DateTime': array(['2009-01-21 14:57:00', '2009-01-05 12:28:45',
        '2009-01-21 15:01:00', '2009-01-21 07:27:00',
        '2009-01-06 22:15:48'], dtype=object),
 'Passenger_Count': array([5, 1, 1, 5, 1]),
 'Trip_Distance': array([1.97, 0.  , 1.61, 0.62, 3.  ]),
 'Start_Lon': array([-74.00372 , -73.950389, -73.961167, -73.977122, -73.96716 ]),
 'Start_Lat': array([40.747423, 40.752603, 40.78045 , 40.755853, 40.756639]),
 'Rate_Code': array([nan, nan, nan, nan, nan]),
 'store_and_forward': array([nan, nan, nan, nan, nan]),
 'End_Lon': array([-74.000782, -73.950389, -73.978517, -73.983008, -73.984548]),
 'End_Lat': array([40.723958, 40.752603, 40.77272 , 40.760228, 40.720279]),
 'Payment_Type': array(['CASH', 'CASH', 'CASH', 'CASH', 'CREDIT'], dtype=object),
 'Fare_Amt': array([7.3, 2.5, 6.9, 4.5, 8.9]),
 'surcharge': array([0. , 0. , 0. , 0. , 0.5]),
 'mta_tax': array([nan, nan, nan, nan, nan]),
 'Tip_Amt': array([0., 0., 0., 0., 3.]),
 'Tolls_Amt': array([0., 0., 0., 0., 0.]),
 'Total_Amt': array([ 7.3,  2.5,  6.9,  4.5, 12.4])}

In [84]:
%%time
df["vendor_name","Trip_Pickup_DateTime"][10:20].to_dict()
# dir(df["vendor_name","Trip_Pickup_DateTime"][10:20])

CPU times: user 4.2 ms, sys: 30 µs, total: 4.23 ms
Wall time: 3.95 ms

{'vendor_name': array(['CMT', 'CMT', 'DDS', 'CMT', 'CMT', 'CMT', 'CMT', 'CMT', 'DDS',
        'CMT'], dtype=object),
 'Trip_Pickup_DateTime': array(['2009-01-05 08:15:38', '2009-01-05 06:21:43',
        '2009-01-20 13:44:02', '2009-01-05 16:19:53',
        '2009-01-05 17:22:16', '2009-01-05 16:02:52',
        '2009-01-05 12:15:06', '2009-01-05 07:49:57',
        '2009-01-23 23:57:34', '2009-01-05 10:23:13'], dtype=object)}

In [4]:
import vaex

In [6]:
import os

# define the name of the directory to be created
output_dir = "./output/csv/"
output_dir_hdf5 = "./output/hdf5/"

months = list(range(1,13))
years = list(range(2009, 2020))

file_names = []
for year in years:
    for month in months:
        month = "{0:0=2d}".format(month)
        file_names.append(f"https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_{year}-{month}.csv")

In [8]:
try:
    os.mkdir(output_dir)
except OSError:
    print ("Creation of the directory %s failed" % output_dir)
else:
    print ("Successfully created the directory %s " % output_dir)

Creation of the directory ./output/csv/ failed