In [2]:
def f(x, y):
    z = x**2 + 2*x*y + y**2
    return z

In [3]:
f(2,3)

25

In [4]:
f(55, -6)

2401

In [5]:
def f(x, y=20):
    z = x**2 + 2*x*y + y**2
    return z

f(40)

3600

In [6]:
f(x=5, y=4)

81

In [7]:
f(5,4)

81

In [8]:
f = lambda x: x**2
f(4)

16

In [14]:
import pandas as pd
df = pd.DataFrame([[1,2,3,4],['ааа','bв','c','dаа']]).T
df.columns = ['number', 'text']
df

  number text
0      1  ааа
1      2   bв
2      3    c
3      4  dаа

In [15]:
# посчитай длину каждого слова в колонке
df['text'].apply(len)

0    3
1    2
2    1
3    3
Name: text, dtype: int64

In [17]:
df['new_text'] = df['text'].apply(lambda w: w + '_Masha')
df

  number text   new_text
0      1  ааа  ааа_Masha
1      2   bв   bв_Masha
2      3    c    c_Masha
3      4  dаа  dаа_Masha

In [26]:
x = [item + 'asha' for item in ["MM", "D", "SSS", "PPPP", "R"]]
x

['MMasha', 'Dasha', 'SSSasha', 'PPPPasha', 'Rasha']

In [27]:
sorted(x)

['Dasha', 'MMasha', 'PPPPasha', 'Rasha', 'SSSasha']

In [28]:
'ё' < 'я'

False

In [29]:
ord('я'), ord('ё'), ord('е')

(1103, 1105, 1077)

In [30]:
'е' < 'я'

True

In [32]:
sorted(x, key=lambda w: len(w))

['Dasha', 'Rasha', 'MMasha', 'SSSasha', 'PPPPasha']

# Задача 1

In [36]:
# simple tool for tests
def test_problem(func, test_data):
    for inputs, true_answer in test_data:
        answer = func(inputs)
        assert answer == true_answer, f'Expected {true_answer}, got {answer}. Input: {inputs}'
    print("OK!")

In [42]:
assert 4 == 4, 'Ахтунг!'

In [41]:
assert 4 == 3, 'Ахтунг!'

AssertionError: Ахтунг!

In [45]:
x = [1,2]
x

[1, 2]

In [46]:
x.append(4)
x.append(6)
x

[1, 2, 4, 6]

In [54]:
range(1,5)

range(1, 5)

In [55]:
list(range(1,5))

[1, 2, 3, 4]

In [59]:
def fizz_buzz(n):
    answer = [ ] # пустой список для ответа
    for i in range(1, n + 1):
        
        # условие про 15 первое, так как условия
        # работают лениво (если первое верно, дальше не проверяем)
        if i % 15 == 0:
            answer.append('FizzBuzz')
        elif i % 5 == 0:
            answer.append('Buzz')
        elif i % 3 == 0:
            answer.append('Fizz')
        else:
            answer.append(str(i))
    return answer

In [60]:
fizz_buzz(3)

['1', '2', 'Fizz']

In [61]:
fizz_buzz(20)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz',
 '16',
 '17',
 'Fizz',
 '19',
 'Buzz']

In [62]:
FIZZ_BUZZ_TESTS_DATA = [
    (1, ["1"]),
    (2, ["1", "2"]),
    (15, ["1", "2", "Fizz", "4", "Buzz", "Fizz", "7", "8", "Fizz", "Buzz", "11", "Fizz", "13", "14", "FizzBuzz"]),
]

test_problem(fizz_buzz, FIZZ_BUZZ_TESTS_DATA)

OK!

# Задача 2

In [68]:
a = [1,2,3,4]
a[0]

1

In [69]:
a[2]

3

In [71]:
a[-2]

3

In [94]:
def fibonacci(n):
    y0 = 0
    y1 = 1
    if n == 0:
        return 0
    if n == 1:
        return 1
    
    for i in range(n - 1):
        y2 = y1 + y0
        y0,y1 = y1,y2
    return y2

In [97]:
fibonacci(10)

55

In [103]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [104]:
fibonacci(10)

55

In [98]:
FIBONACCI_TESTS_DATA = [
    (1, 1),
    (2, 1),
    (3, 2),
    (4, 3),
    (5, 5),
    (10, 55),
    (40, 102334155),
]
test_problem(fibonacci, FIBONACCI_TESTS_DATA)

OK!