# Условия

In [1]:
x = 12
x > 5

True

In [2]:
x < 8

False

In [3]:
x == 10

False

In [4]:
x != 9

True

In [5]:
x != 10

True

Даны три целых числа. Найдите наибольшее из них (программа должна вывести ровно одно целое число).

Какое наименьшее число операторов сравнения (>, <, >=, <=) необходимо для решения этой задачи?

In [6]:
x, y, z = 8, 7, 2

if x > y:
    print(x)
else:
    if x > z:
        print(x)
    else:
        if y > z:
            print(y)
        else:
            print(z)

8

In [7]:
x, y, z = 8, 10, 2

# Чёт неправильно ... 

if x > y:
    print(x)
elif x > z:
    print(x)
elif y > z:
    print(y)
elif y > z:
    print(z)

8

In [8]:
8 > 2

True

In [9]:
True and False

False

In [10]:
10 > 5 and 3 > 2

True

In [11]:
True or False

True

In [12]:
not True

False

In [13]:
to_be = False
to_be or not to_be

True

In [14]:
to_be and not to_be

False

In [15]:
x, y, z = 18, 10, 12

if (x > y) and (x > z):
    print(x)
elif y > z:
    print(y)
else:
    print(z)

18

In [16]:
x = int(input())
y = int(input())
z = int(input())

if (x > y) and (x > z):
    print(x)
elif y > z:
    print(y)
else:
    print(z)

1
2
3
3

# Цикл for

По данному натуральном $n$ вычислите сумму. В решении этой задачи можно использовать только один цикл.

$$
s = 1! + 2! + 3! + \ldots + n!
$$

In [17]:
from math import factorial
factorial(3)

6

In [18]:
1*2*3

6

In [19]:
s = 0

s = s + factorial(1)
print(s)

s = s + factorial(2)
print(s)

s = s + factorial(3)
print(s)

1
3
9

In [20]:
range(5) # от 0 до 4 включая 4

range(0, 5)

In [21]:
range(1, 5 + 1) # от 1 до 5

range(1, 6)

In [22]:
range(1, 100, 10) # каждое 10

range(1, 100, 10)

In [23]:
for i in range(100, 1, -10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [28]:
n = 3

s = 0
for i in range(1, n + 1):
    s = s + factorial(i)
    
print(s)

9

Давайте улучшим текущее решение до более оптимального!

In [ ]:
1! + 2! + 3! + 4! = 1 + 1*2 + 1*2*3 + 1*2*3*4

In [ ]:
n = int(input())

s, cur_fac = 0, 1
for i in range(1, n + 1):
    # cur_fac = cur_fac * i 
    cur_fac *= i
    # s = s + cur_fac
    s += cur_fac

print(s)

# Цикл while

Определите сумму всех элементов последовательности, завершающейся числом 0.

__Формат ввода__

Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания.

In [8]:
s = 0
x = None # пустота, переменная не определена

while x != 0:
    x = int(input())
    s += x
    
print(s)

4
5
225
0
234

In [9]:
x = None
4 + x

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [10]:
type(4)

int

In [11]:
type(None)

NoneType

# Списки

In [12]:
a = [4, 5.2, 'зайчик', 'Ярополк', False, '42']

for Liza in a:
    print(Liza)

4
5.2
зайчик
Ярополк
False
42

In [15]:
a[2] * 4

'зайчикзайчикзайчикзайчик'

In [14]:
a[0] # нумерация начинается с нуля

4

In [16]:
a[2:5] # 2 включается, 5 не включается, всегда полуинтервал: [2; 5)

['зайчик', 'Ярополк', False]

In [17]:
len(a) # длина списка

6

In [20]:
a.append(777) # докинуть в список что-то новое
a

[4, 5.2, 'зайчик', 'Ярополк', False, '42', 777, 777, 777]

In [21]:
a.count(777)

3

In [22]:
a.count('волк')

0

In [23]:
a.index(False)

4

In [25]:
name = 'Маша'
name.upper()

'МАША'

In [26]:
name.lower()

'маша'

Найдите количество положительных элементов в данном списке.

In [27]:
x = input( )
x

1 -2 3 -4 5

'1 -2 3 -4 5'

In [36]:
y = x.split(' ')
y

['1', '-2', '3', '-4', '5']

In [38]:
'?'.join(y)

'1?-2?3?-4?5'

In [41]:
x = input( )

cnt = 0
for item in x.split(' '):
    if int(item) > 0:
        cnt += 1
        
print(cnt)

1
1
2
2
3
3

## Функции

Задача про Удава

In [50]:
import random
random.random()

0.806198433703841

In [60]:
def ukus_udava(b):
    cnt = 0
    while b > 0:
        ukus = random.random()
        b -= ukus
        cnt += 1
    return cnt

In [61]:
ukus_udava(100)

192

In [62]:
ukus_udava(22)

47

In [63]:
ukus_udava(1)

3

In [72]:
a = []
for i in range(100000):
    cnt = ukus_udava(1)
    a.append(cnt)

In [73]:
len(a)

100000

In [74]:
a[:10]

[3, 2, 4, 2, 3, 3, 2, 2, 3, 2]

In [75]:
sum(a)/len(a)

2.71403