### enumerate

In [1]:
x = [-4, 2, 430, 44]
for i in range(len(x)):
    print(i, x[i])

0 -4
1 2
2 430
3 44

In [2]:
for i, num in enumerate(x):
    print(i, num)

0 -4
1 2
2 430
3 44

### open file

In [9]:
file = open('input.txt', 'r', encoding='utf-8')

In [4]:
type(file)

_io.TextIOWrapper

In [5]:
file.mode

'r'

In [6]:
text = file.read()

In [7]:
text

'Иванов Сергей 9 90\nСергеев Петр 10 91\nПетров Василий 11 92\nВасильев Иван 9 93'

In [12]:
file.readline()

'Петров Василий 11 92\n'

In [18]:
file = open('input.txt', 'r', encoding='utf-8')

In [19]:
for line in file:
    last_name, first_name, class_, grade = line.strip().split()

Иванов Сергей 9 90
Сергеев Петр 10 91
Петров Василий 11 92
Васильев Иван 9 93

In [16]:
" aasdf fdsaf     ".strip()

'aasdf fdsaf'

In [20]:
info = "Иванов Сергей 9 90".split()

In [21]:
info[0]

'Иванов'

In [22]:
info[1]

'Сергей'

In [23]:
info[2]

'9'

In [24]:
"Иванов Сергей 9 90".split()

['Иванов', 'Сергей', '9', '90']

In [28]:
file = open('input.txt', 'r', encoding='utf-8')

for line in file:
    last_name, first_name, class_, grade = line.strip().split()
    # todo

file.close()

In [ ]:
with open('input.txt', 'r', encoding='utf-8') as file:
    for line in file:
        last_name, first_name, class_, grade = line.strip().split()
        # todo
a = 5  # already close

### lambda function

In [43]:
def square(x):
    return x**2

In [44]:
square = lambda x: x**2

In [45]:
square(5)

25

### defaultdict

In [29]:
d = {}

In [30]:
d['a']

KeyError: 'a'

In [31]:
d.get('a', 0)

0

In [32]:
from collections import defaultdict

In [33]:
d = defaultdict(int)

In [34]:
d['a']

0

In [35]:
d = defaultdict(str)

In [36]:
d['a']

''

In [37]:
d = defaultdict(list)

In [39]:
d['a'].append(5)

In [50]:
d = defaultdict(lambda: defaultdict(int))

In [54]:
d['a']['b'] += 1

In [55]:
d['c']['d'] += 1

In [56]:
dict(d)

{'a': defaultdict(int, {'b': 2}), 'c': defaultdict(int, {'d': 1})}

### sorted

In [57]:
x = [10, -5, 3, 30, 20, 14]

In [ ]:
x.sort()

In [60]:
sorted(x)

[-5, 3, 10, 14, 20, 30]

In [61]:
x = [
    ['ahmed', 5],
    ['max', -4],
    ['anna', 10],
    ['tanya', 35],
]

In [65]:
sorted(x)

[['ahmed', 5], ['anna', 10], ['max', -4], ['tanya', 35]]

In [68]:
sorted(x, key=lambda x: x[1], reverse=True)

[['tanya', 35], ['anna', 10], ['ahmed', 5], ['max', -4]]

In [69]:
sorted(x, key=lambda x: x[1])

[['max', -4], ['ahmed', 5], ['anna', 10], ['tanya', 35]]

In [63]:
?sorted

In [67]:
['ahmed', 5][1]

5

### TwoSum

In [78]:
import random

In [95]:
l = [random.randint(0, 100_000) for _ in range(20_000)]
# l = [20, -7, 9, 3, 99]
target = 2

In [96]:
%%time
def two_sum(l, target):
    for i, num_i in enumerate(l):
        for j, num_j in enumerate(l):
            if num_i + num_j == target:
                return i, j

two_sum(l, target)

CPU times: user 27.9 s, sys: 83.7 ms, total: 28 s
Wall time: 28 s

In [97]:
%%time
def two_sum(l, target):
    val2index = {val: index for index, val in enumerate(l)}
    
    for i, num in enumerate(l):
        need_num = target - num
        if need_num in val2index:
            return i, val2index[need_num]

two_sum(l, target)

CPU times: user 5.24 ms, sys: 510 µs, total: 5.75 ms
Wall time: 5.72 ms

### tqdm

In [98]:
!pip install tqdm

Requirement already satisfied: tqdm in /Users/akhmed.zarmanbetov/opt/anaconda3/lib/python3.8/site-packages (4.50.2)

In [99]:
import time
from tqdm import tqdm

In [101]:
time.sleep(1)

In [102]:
x = list(range(100))

for i in tqdm(x):
    time.sleep(1)

100%|██████████| 100/100 [01:40<00:00,  1.00s/it]