# Проблемы с листами

In [6]:
a = [1, 2, 3]
b = a
b.append(42)
b

[1, 2, 3, 42]

In [7]:
a

[1, 2, 3, 42]

In [8]:
id(a), id(b)

(4459565760, 4459565760)

In [9]:
del b
b

NameError: name 'b' is not defined

In [10]:
a = [1, 2, 3]
b = a.copy()
b.append(42)
b

[1, 2, 3, 42]

In [11]:
a

[1, 2, 3]

In [12]:
id(a), id(b)

(4459892160, 4459124736)

In [13]:
a = [[1, 2, 3], [4, 5, 6]]
b = a.copy()
b.append(42)
b[1].append(42)
b

[[1, 2, 3], [4, 5, 6, 42], 42]

In [14]:
a

[[1, 2, 3], [4, 5, 6, 42]]

In [15]:
from copy import deepcopy

a = [[1, 2, 3], [4, 5, 6]]
b = deepcopy(a)
b.append(42)
b[1].append(42)
b

[[1, 2, 3], [4, 5, 6, 42], 42]

In [16]:
a

[[1, 2, 3], [4, 5, 6]]

# Неизменяемы и изменяемые объекты

In [4]:
a = [1, 42, 3] # list
a[1] = 2
a

[1, 2, 3]

In [5]:
type(a)

list

In [20]:
a.__sizeof__()

56

In [17]:
b = (1, 2, 3) # кортеж
b[1] = 42

TypeError: 'tuple' object does not support item assignment

In [18]:
type(b)

tuple

In [21]:
b.__sizeof__()

48

In [19]:
d = [1,2,3]
tuple(d)

(1, 2, 3)

# List comprehension

In [24]:
text = "Все 4 ваши 8 про15блемы реш16ит к23од 42"

list(text)[:10]

['В', 'с', 'е', ' ', '4', ' ', 'в', 'а', 'ш', 'и']

In [25]:
text[:10]

'Все 4 ваши'

In [27]:
text[7]

'а'

In [29]:
'f'.isdigit()

False

In [30]:
'42'.isdigit()

True

In [37]:
'Привет'.capitalize()

'Привет'

In [38]:
a = []
for char in text:
    if char.isdigit():
        a.append(char)
a

['4', '8', '1', '5', '1', '6', '2', '3', '4', '2']

In [40]:
'~'.join(a)

'4~8~1~5~1~6~2~3~4~2'

In [41]:
' '.join(['4', '3', '1'])

'4 3 1'

In [42]:
' '.join([4, 3, 1])

TypeError: sequence item 0: expected str instance, int found

In [43]:
[char for char in text if char.isdigit()]

['4', '8', '1', '5', '1', '6', '2', '3', '4', '2']

In [46]:
sum([i for i in range(101) if i%2 == 0])

2550

In [49]:
[[i + j for j in range(5)] for i in range(5)]

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [54]:
x = 13
'чёт' if x % 2 == 0 else 'нечёт'  # тернарное выражение

'нечёт'

In [57]:
['чёт' if x % 2 == 0 else 'нечёт' for x in range(11)]

['чёт',
 'нечёт',
 'чёт',
 'нечёт',
 'чёт',
 'нечёт',
 'чёт',
 'нечёт',
 'чёт',
 'нечёт',
 'чёт']

In [58]:
['чёт' if x % 2 == 0 else 'нечёт' for x in range(11) if x%3 == 0]

['чёт', 'нечёт', 'чёт', 'нечёт']

In [60]:
a = [4, 3, 1]
' '.join([str(item) for item in a])

'4 3 1'

In [64]:
# задача: перевернуть наоборот в 1 строчку
text = 'Привет я Грут'
text[::-1]

'турГ я тевирП'

In [67]:
' '.join([item[::-1] for item in text.split(' ')])

'тевирП я турГ'

# Генераторы

In [71]:
range(10) # python обещает нам перебрать все числа от 0 до 9

range(0, 10)

In [72]:
list(range(10)) # распаковка генератора

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
gen = (i**2 for i in range(10))
gen

In [83]:
for item in gen:
    print(item)

0
1
4
9
16
25
36
49
64
81

In [84]:
def func(x):
    y = x**2
    return y

func(8)

64

In [85]:
a = [42, 5, 16, 8]
map(func, a) # генератор!

In [86]:
list(map(func, a))

[1764, 25, 256, 64]

In [88]:
gen = map(func, range(1, 101, 10))

for i in gen:
    print(i)

1
121
441
961
1681
2601
3721
5041
6561
8281

In [89]:
input()

1 2 3 4

'1 2 3 4'

In [90]:
input().split(" ")

1 2 3 4

['1', '2', '3', '4']

In [91]:
x = map(int, input().split(" "))
list(x)

1 2 3 4

[1, 2, 3, 4]

In [93]:
from itertools import combinations
combinations([1,2,3], 2)

In [94]:
list(combinations([1,2,3], 2))

[(1, 2), (1, 3), (2, 3)]

# Функции

In [98]:
def f(a, b):
    y = a + b
    z = a * b
    return y

x = f(4, 5)
x

9

In [102]:
# У функции можно делать необязательные аргументы! 
def f(a, b=1):
    y = a + b
    return y

f(4)

5

In [103]:
f(4, 5)

9

In [106]:
def f(x):
    y = x**2
    return y

z = f(5)
print(z)

25

In [107]:
def f(x):
    y = x**2
    print(y)

z = f(5)
print(z)

25
None

In [109]:
g = lambda w: w**2 if w % 2 == 0 else 2 * w
g(2)

4

In [110]:
g(3)

6

In [111]:
text = 'j4f5a662lkj88a@s-l'

In [113]:
h = lambda w: w.isdigit()
h('2')

True

In [114]:
map(lambda w: w.isdigit(), text)

In [115]:
list(map(lambda w: w.isdigit(), text))

[False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False]

In [117]:
any(map(lambda w: w.isdigit(), text)) # хотябы одно True внутри должно быть

True

In [118]:
all(map(lambda w: w.isdigit(), text)) # все внутри должны быть True

False

In [122]:
sum(map(lambda w: w.isdigit(), text)) # сумма даст число True, то есть число цифр

7

In [121]:
text

'j4f5a662lkj88a@s-l'

In [124]:
names = ['Маша', 'Саша', 'Паша', 'Даша', 'Ярополк']

[n + ' молодец!' for n in names]

['Маша молодец!',
 'Саша молодец!',
 'Паша молодец!',
 'Даша молодец!',
 'Ярополк молодец!']

In [125]:
[f'{n} молодец!' for n in names]

['Маша молодец!',
 'Саша молодец!',
 'Паша молодец!',
 'Даша молодец!',
 'Ярополк молодец!']

In [133]:
def nice_func(name):
    return f'{name} молодец!'

map(nice_func, names)

In [134]:
g = map(nice_func, names)
g

In [135]:
list(g)

['Маша молодец!',
 'Саша молодец!',
 'Паша молодец!',
 'Даша молодец!',
 'Ярополк молодец!']

In [137]:
for item in map(nice_func, names):
    print(item)

Маша молодец!
Саша молодец!
Паша молодец!
Даша молодец!
Ярополк молодец!

In [ ]:
map(f, map(g, x))

In [ ]:
gen1 = map(f, x)
gen2 = map(g, x)

# Фристайл

In [140]:
x = "malayalam"
x == x[::-1]

True