# Ванильные функцие

In [1]:
def f(x, y):
    z = x**2 + 2*x*y + y**2
    # print(z)
    return z

In [2]:
f(3, 4)

49

In [3]:
f(50, 2)

2704

In [8]:
def ggg(x, y=5):
    """
     Привет, меня зовут f и я люблю пельмени
    """
    z = x**2 + 2*x*y + y**2
    return z

ggg(6)

121

In [9]:
f(6, y=9)

225

In [12]:
import my_module as mm
mm.ggg(5)

100

# Лямбда-функция

# fff
## ffff
### fff

__ljkelg__

In [13]:
h = lambda w: w**2
h(7)

49

In [14]:
import pandas as pd

X =[[1,2,3,4,5], 
    ['Masha','Kat', 'Ololosha', 'Robert', 'Pasha' ]]

df = pd.DataFrame(X, ['digit', 'name']).T
#df.columns = ['digit', 'name']
df

  digit      name
0     1     Masha
1     2       Kat
2     3  Ololosha
3     4    Robert
4     5     Pasha

In [15]:
len(df)

5

In [16]:
df['name_len'] = df['name'].apply(len)
df

  digit      name  name_len
0     1     Masha         5
1     2       Kat         3
2     3  Ololosha         8
3     4    Robert         6
4     5     Pasha         5

In [17]:
df['name'].apply(lambda w: w[2] + 'asha')

0    sasha
1    tasha
2    oasha
3    basha
4    sasha
Name: name, dtype: object

In [18]:
def jjj(w):
    return w[2] + 'asha'

df['name'].apply(jjj)

0    sasha
1    tasha
2    oasha
3    basha
4    sasha
Name: name, dtype: object

In [19]:
x = ['Masha','Kat', 'Ololosha', 'Robert', 'Pasha' ]
sorted(x)

['Kat', 'Masha', 'Ololosha', 'Pasha', 'Robert']

In [20]:
'а' < 'я'

True

In [21]:
'ё' < 'я'

False

In [22]:
ord('а'), ord('я'), ord('ё')

(1072, 1103, 1105)

In [23]:
x = ['Masha','Kat', 'Ololosha', 'Robert', 'Pasha' ]
sorted(x, key=lambda w: len(w))

['Kat', 'Masha', 'Pasha', 'Robert', 'Ololosha']

# Чтение файлов

In [24]:
content = """
1

2
3   

4
"""

In [25]:
FILENAME = "myfile.txt"

with open(FILENAME, "w") as f:
    f.write(content)

In [26]:
with open(FILENAME, "r") as f:
    a = f.readlines()   
a

['\n', '1\n', '\n', '2\n', '3   \n', '\n', '4\n']

In [27]:
print('-'.join(a))

-1
-
-2
-3
-
-4

In [28]:
f = open(FILENAME)
a = f.readline()
b = f.readline()
a, b

('\n', '1\n')

In [29]:
x = f.readlines()
x

['\n', '2\n', '3   \n', '\n', '4\n']

In [30]:
f.close()

In [31]:
import pickle  # позволяет хранить данные в бинарном виде

a = [1,2,4, 'Ьфырф']

with open('a.pickle', "wb") as f:
    pickle.dump(a, f)

In [32]:
with open('a.pickle', "rb") as f:
    b = pickle.load(f)
b

[1, 2, 4, 'Ьфырф']

In [33]:
a == b

True

In [34]:
assert a == b, 'Не равно'

In [35]:
assert a == 4, 'Не равно'

AssertionError: Не равно

# задачки

In [36]:
def test_problem(func, test_data):
    for inputs, true_answer in test_data:
        answer = func(inputs)
        assert answer == true_answer, f'Expected {true_answer}, got {answer}. Input: {inputs}'
    print("OK!")

In [37]:
range(5)

range(0, 5)

In [38]:
def fizz_buzz(n):
    answer = [ ]
    for i in range(n):
        if i % 3 == 0:
            answer.append('Fizz')
        
    
    return answer

In [40]:
def fizz_buzz(n):
    answer = [ ]
    for i in range(1, n + 1):
        if (i % 3 == 0)&(i % 5 == 0):
            answer.append('FizzBuzz')
        elif i % 3 == 0:
            answer.append('Fizz')
        elif i % 5 == 0:
            answer.append('Buzz')
        else:
            answer.append(str(i))
    return answer

In [42]:
fizz_buzz(5)

['1', '2', 'Fizz', '4', 'Buzz']

In [41]:
FIZZ_BUZZ_TESTS_DATA = [
    (1, ["1"]),
    (2, ["1", "2"]),
    (15, ["1", "2", "Fizz", "4", "Buzz", "Fizz", "7", "8", "Fizz", "Buzz", "11", "Fizz", "13", "14", "FizzBuzz"]),
]
test_problem(fizz_buzz, FIZZ_BUZZ_TESTS_DATA)

OK!

In [43]:
x = [1,22,3,4]
x[-2]

3

In [53]:
def fib(n):
    y0 =0
    y1 = 1
    if n == 1:
        return 1
    if n == 0:
        return 0
    for i in range(n-1):
        y2 = y1 + y0
        y1,y0 = y2,y1
    return y2

fib(10)

55

In [47]:
# фу, O(2^n)
def fib(n):
    if n == 1:
        return 1
    if n == 0:
        return 0
    return fib(n-1) + fib(n-2)

In [52]:
fib(10)

55

In [54]:
FIBONACCI_TESTS_DATA = [
    (1, 1),
    (2, 1),
    (3, 2),
    (4, 3),
    (5, 5),
    (10, 55),
    (40, 102334155),
]
test_problem(fib, FIBONACCI_TESTS_DATA)

OK!