# Семинар 2 у 218

In [ ]:
x + 1

NameError: ignored

In [ ]:
print(5)

5

# Условия

In [ ]:
x = 42
print(x)

42

In [ ]:
x < 50

True

In [ ]:
x >= 50

False

In [ ]:
x == 42

True

In [ ]:
x != 42

True

__Упражнение__ 

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. 

> Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
year = int(input())

if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
    print("YES")
else:
    print("NO")

YES

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
to_be = True
not to_be

False

In [ ]:
to_be = False
to_be or not to_be

True

In [ ]:
year = 2003

# Из условий можно собирать целые башни! 
if year % 4 == 0:
   if year % 100 != 0:
       print('YES')
   else:
       if year % 400 == 0:
           print('YES')
       else: 
           print('NO')
else:
   print('NO')

NO

In [ ]:
year = 2000

if ((year % 4 == 0) and (year % 100 != 0)):
    print("YES")
elif (year % 400 == 0):
    print("YES")
else:
    print("NO")

YES

In [ ]:
x = 15

# Хочу печатать YES если кратно 5 либо 3
# Хочу печатать NO если кратно 15 или любая другая ситуация

# питон работает с условиями лениво и если он наткнулся на первой,
# которое выполнилось, он останавливается :(
    
if (x % 3 == 0) or (x % 5 == 0):
    print('YES')
elif (x % 15 == 0):
    print("NO")
else: 
    print("NO")

YES

In [ ]:
if (x % 15 == 0): 
    print('NO')
elif (x % 3 == 0) or (x % 5 == 0):
    print("YES")
else: 
    print("NO")

NO

# Цикл for


По данному натуральном n вычислите сумму $1^2 + 2^2 + 3^2 + \ldots + n^2$.

In [ ]:
s = 0 

s = s + 1**2
s = s + 2**2
s = s + 3**2
s = s + 4**2
s = s + 5**2
s

55

In [ ]:
n = int(input())

s = 0
for i in range(1, n + 1):
    # s = s + i ** 2
    s += i ** 2

print(s)

55

In [ ]:
range(1, 6) # перебирай цифры от 1 до 5

range(1, 6)

# Списки!

In [ ]:
# Список - чулан со всяким хламом

a = [1, 42, 'хахаха', ['jkjsdj', 128], 32]
type(a)

list

In [ ]:
for item in a:
    print(item)

1
42
хахаха
['jkjsdj', 128]
32

In [ ]:
for Vika in a:
    print(Vika)

1
42
хахаха
['jkjsdj', 128]
32

In [ ]:
a

[1, 42, 'хахаха', ['jkjsdj', 128], 32]

In [ ]:
# Можно обращаться к отдельным элементам списка
a[1]

42

In [ ]:
# В питоне нумерация начинается с нуля!
a[0]

1

In [ ]:
len(a)

5

__Упражнение 1:__

Вводится список чисел. Все числа списка находятся на одной строке. Найдите количество положительных элементов в данном списке.

In [ ]:
x = list(map(int, input().split(' ')))

cnt = 0

for item in x:
    if item > 0:
        cnt += 1

print(cnt)

2

In [ ]:
# Такой конструкцией в контесте можно считать список
# Что она озанчает обсудим чуть позже 

a = list(map(int, input().split(' ')))
a

1 2 -3 4 0 10

[1, 2, -3, 4, 0, 10]

__Упражнение 2:__

Дан список, упорядоченный по неубыванию элементов в нем. Определите, сколько в нем различных элементов.

Вводится список чисел. Все числа списка находятся на одной строке.

In [ ]:
len(a) # это неправда!

6

In [ ]:
range(5) # итератор - обещание питона что он даст нам числа от 0 до 5

range(0, 5)

In [ ]:
type(range(5))

range

In [ ]:
# могу преобразовать range в list
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(3, 7))

[3, 4, 5, 6]

In [ ]:
list(range(3, 10, 2)) # каждое второе число

[3, 5, 7, 9]

In [ ]:
list(range(10, 3, -1)) # каждое второе число

[10, 9, 8, 7, 6, 5, 4]

In [ ]:
a = list(map(int, input().split(' ')))
a

1 2 2 3 3 3

[1, 2, 2, 3, 3, 3]

In [ ]:
a = list(map(int, input().split(' ')))
cnt = 1

n = len(a)
for i in range(1, n):
    if a[i] != a[i - 1]:
        cnt += 1

print(cnt)

1 1 1 1 1
1

In [ ]:
# Полина: можно решить с помощью set!
b = {1, 2, 2, 2, 3, 3, -1}
b

{-1, 1, 2, 3}

In [ ]:
a = [1, 2, 2, 3, 3, 3]
set(a) # сделай мне из листа множество (оставит уникальные элементы)

{1, 2, 3}

In [ ]:
a = list(map(int, input().split(' ')))
print(len(set(a)))

# Цикл while 

__Упражнение:__

По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

In [ ]:
N = 5

for i in range(1, N + 1):
    print(i ** 2)

1
4
9
16
25

In [ ]:
N = 5

cnt = 1
while cnt <= N:
    print(cnt ** 2)
    cnt += 1

1
4
9
16
25

In [ ]:
N = 50

cnt = 1
while cnt ** 2 <= N:
    print(cnt ** 2)
    cnt += 1

1
4
9
16
25
36
49

In [ ]:
# Можно нехило налажать! Сделать вечный цикл...
N = 50

cnt = 1
while cnt ** 2 <= N:
    print(cnt ** 2)
    # если с таким столкнулись в выпадшке kernel надо найти Restart kernel and clear output

In [ ]:
N = 50

cnt = 1
while True:
    print(cnt ** 2)
    cnt += 1
    if cnt ** 2 > N:
        break # можно останавливать работу любого цикла досрочно

1
4
9
16
25
36
49

# Строки

In [ ]:
x = 'Маша' # строка
type(x)

str

In [ ]:
for item in x:
    print(item)

М
а
ш
а

In [ ]:
x.count('а')

2

In [ ]:
len(x)

4

In [ ]:
x.lower()

'маша'

In [ ]:
x.upper()

'МАША'

__Упражнение:__

Дана строка. Замените в этой строке все цифры 1 на слово one.

In [ ]:
a = '1+1=2'

for item in a:
    if item == '1':
        item = 'one'
        
a # Не работает (((

'1+1=2'

In [ ]:
# Почему не работает: 
# item это не ссылка на объект в a, это его копия

a = '1+1=2'

s = ''
for item in a:
    if item == '1':
        s += 'one'
    else:
        s += item
s

'one+one=2'

In [ ]:
b = a.split('1') # разбить строку на список по 1
b

['', '+', '=2']

In [ ]:
'one'.join(b)  # склеить строки из списка в большую строку по one

'one+one=2'

# Впросики

- А зачем нужно continue

In [ ]:
i = 1
retakes = 0

while i <= 5:
    mark = int(input("Введите оценку: "))
    i += 1
    if mark >= 4: # если пересдачи нет, сразу же идем проверять переменную i, без увеличения переменной retakes
        continue
    retakes += 1
    
print("Итого пересдач:", retakes)

Введите оценку: 2
Введите оценку: 3
Введите оценку: 4
Введите оценку: 5
Введите оценку: 5
Итого пересдач: 2