## Условия

In [1]:
x = 10

In [2]:
x == 10

True

In [3]:
x < 8

False

In [4]:
x = 11

if x % 2 == 0:
    print('Ура!')
else:
    print('Не ура :(')

Не ура :(

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [18]:
x = 2100

# ошибка! потому что неправильный порядок
# а условия работают лениво 

if x % 100 == 0: 
    print('YES')
elif x % 400 == 0:
    print('NO')
elif x % 4 == 0:
    print('YES')
else:
    print('NO')

YES

if x % 400 == 0:
    print('YES')
else 
    if x % 100 == 0:
        print('NO')
    else
        if ...

In [7]:
x = 15
(x > 5) and (x < 12)

False

In [8]:
(x > 5) or (x < 12)

True

In [9]:
x != 10

True

In [10]:
not (x > 5)

False

In [11]:
to_be = False
to_be or not to_be

True

In [21]:
x = int(input())

if ( (x % 4 == 0) and (x % 100 != 0) ) or (x % 400 == 0):
    print('YES')
else:
    print('NO')

IndentationError: expected an indented block (<ipython-input-21-76edd9f54be0>, line 4)

## Цикл for

Хочу найти сумму квадратов чисел от $1$ до $n$

$ 1 + 2^2 + 3^2 + 4^2 + \ldots + n^2$

In [20]:
s = 0

s = s + 1
print(s)
s = s + 2**2
print(s)
s = s + 3**2 
print(s)

1
5
14

In [33]:
n = int(input())

s = 0
for i in range(1, n + 1):
    s = s + i ** 2
    # s += i**2   # более короткая форма записи 
    
print(s)

55
56980

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

Хочу найти сумму всех чётных чисел вплоть до $n$

In [37]:
n = 10

s = 0
for masha in range(1, n + 1):
    if masha % 2 == 0:
        s += masha

print(s)

30

In [38]:
n = 10

s1, s2 = 0, 0
for masha in range(1, n + 1):
    if masha % 2 == 0:
        s1 += masha
    else:
        s2 += masha

print(s1, s2)

30 25

## Цикл while

In [56]:
n = int(input())

i, s = 0, 0
while i < n:
    print(f'i: {i}')
    i = i + 1
    s = s + i ** 2
    print(f'sum: {s} \n')
    
# \t - табуляция (4 пробела)
# \n - смена строки

print(s)

3
i: 0
sum: 1

i: 1
sum: 5

i: 2
sum: 14

14

In [45]:
1 + 4 + 9

14

## Задача про удава Анатолия

In [ ]:
n = 1000

In [66]:
import random
random.random()

0.0723973878089883

In [84]:
def udav_eat(b):
    cnt = 0
    while b > 0:
        i = random.random()
        b -= i
        cnt += 1
    return cnt

In [85]:
udav_eat(10)

19

In [86]:
udav_eat(4)

5

In [89]:
t = udav_eat(1)
t

2

In [90]:
x = [3, 4, 'Наташа', 'зайчик', -42, True, 0.25]
type(x)

list

In [91]:
x

[3, 4, 'Наташа', 'зайчик', -42, True, 0.25]

In [92]:
x[3]

'зайчик'

In [93]:
x[0]

3

In [94]:
x[-1] # какой элемент самый последний

0.25

In [95]:
x[-2]

True

In [96]:
len(x)

7

In [98]:
for item in x:
    print(item, type(item))

3 <class 'int'>
4 <class 'int'>
Наташа <class 'str'>
зайчик <class 'str'>
-42 <class 'int'>
True <class 'bool'>
0.25 <class 'float'>

In [100]:
x = [ ]
x

[]

In [103]:
x.append(4)
x

[4, 'Маша', 4]

In [104]:
x.append('Маша')
x

[4, 'Маша', 4, 'Маша']

In [107]:
x[2] ** 2

16

In [118]:
x[3] = 6
x

[4, 'Маша', 4, 6]

In [109]:
x[1] * 4

'МашаМашаМашаМаша'

In [113]:
a = [ ]

for i in range(100):
    t = udav_eat(1)
    a.append(t)

In [120]:
a[:5]

TypeError: 'int' object is not subscriptable

In [121]:
sum(a)/len(a)

TypeError: 'int' object is not iterable

In [119]:
a = 2

In [123]:
x

[4, 'Маша', 4, 6]

In [127]:
' '.join([str(item) for item in x])

'4 Маша 4 6'