# 020-什么时候应该使用 pandas 中的 inplace 这一参数？

> When should I use the "inplace" parameter in pandas?

In [1]:
import pandas as pd

In [29]:
ufo = pd.read_csv('https://bit.ly/ufo4cda')

In [30]:
ufo.shape

(18241, 5)

In [31]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [32]:
ufo.drop('City', axis=1).head()

# 小技巧：shift + tab，可以查看方法(method)的具体用法

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [33]:
ufo.drop('City', axis=1, inplace=True)

In [34]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [35]:
ufo.dropna(how='any').shape

(2490, 4)

In [36]:
ufo.shape

(18241, 4)

In [37]:
# 其他涉及到 inplace 的函数
ufo.set_index('Time', inplace=True)

In [38]:
ufo = ufo.set_index('Time')

KeyError: "None of ['Time'] are in the columns"

上面两段代码结果一致，但是使用`inplace`效率更高，同时也不会生成一个复制，pandas通常在操作的时候是复制出一份的，这个概念特别重要！

In [39]:
ufo.tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             NaN       TRIANGLE    IL
12/31/2000 23:00             NaN           DISK    IA
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [42]:
# 福利
ufo.fillna(method='bfill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [43]:
ufo.fillna(method='ffill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED           DISK    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             RED           OVAL    FL