In [44]:
import pandas as pd
import numpy as np
import pickle as pk

In [45]:
file_name = '1_min'
df = pd.read_csv(file_name + '.csv')
df['behavior'] = np.zeros(len(df)).astype(np.int)

In [76]:
intention_2_action_delay = 3000

acc_threshold = 1

# 0 for changing to left
# 1 for changing to right
# 2 for following

next_lane_change_time = dict()
next_lane_change_direct = dict()
next_vel_change_time = dict()
next_vel_change_direct = dict()

def classify_behavior(v_id, cur_time):
    if next_lane_change_time[v_id] > -1 and next_lane_change_time[v_id] - cur_time < intention_2_action_delay:
        return next_lane_change_direct[v_id]
    return 2
#     if next_vel_change_time[v_id] > -1 and next_vel_change_time[v_id] - r.Global_Time < intention_2_action_delay:
#         return next_vel_change_direct[v_id] + 2
#     return 4

lane_id = dict()
behavior_seq = dict()
behavior_seq_id = dict()
change_point = list()
cnt = np.zeros((5, 5))
for i in reversed(range(len(df))):
    
    r = df.iloc[i]
    v_id = r.Vehicle_ID
    
    if v_id not in lane_id.keys():
        lane_id[v_id] = r.Lane_ID
        next_lane_change_time[v_id] = -1
        next_vel_change_time[v_id] = -1
        behavior_seq[v_id] = list()
    
    if r.Lane_ID != lane_id[v_id]:
        next_lane_change_time[v_id] = r.Global_Time
        next_lane_change_direct[v_id] = int(r.Lane_ID < lane_id[v_id])
        lane_id[v_id] = r.Lane_ID
    
#     if abs(r.v_Acc) > acc_threshold:
#         next_vel_change_time[v_id] = r.Global_Time
#         next_vel_change_direct[v_id] = int(r.v_Acc > 0)
    
    bhv = classify_behavior(v_id, r.Global_Time)
    
    if len(behavior_seq[v_id])>0 and behavior_seq[v_id][-1] < 2 and bhv != behavior_seq[v_id][-1]:
        change_point.append((v_id, behavior_seq_id[v_id]))

    behavior_seq[v_id].append(bhv)
    
    behavior_seq_id[v_id] = i
    
    df.at[i,'behavior']= bhv

In [47]:
dT = 0.1
x = list()
y = list()
vehicles = dict()
show_up = set()
vel_sum = 0
for i in range(len(df)):
    r = df.iloc[i]
    v_id = r.Vehicle_ID
    
    show_up.add(v_id)
    
    if v_id not in vehicles.keys():
        df.at[i,'lateral_acc'] = 0
        df.at[i,'lateral_vel'] = 0
        vehicles[v_id] = df.iloc[i].copy()
        vel_sum += vehicles[v_id].v_Vel
    else:
        lateral_V = (r.Local_X - vehicles[v_id].Local_X) / dT
        vel_sum -= vehicles[v_id].v_Vel
        df.at[i,'lateral_acc'] = (lateral_V - vehicles[v_id]['lateral_vel']) /dT
        df.at[i,'lateral_vel'] = lateral_V
        vehicles[v_id] = df.iloc[i].copy()
        vel_sum += vehicles[v_id].v_Vel
    
    
    
    v_mean = vel_sum / len(vehicles)
    
    df.at[i,'mean_vel'] = v_mean

    #remove exited car after every moment
    if i == len(df)-1 or r.Global_Time != df.iloc[i+1].Global_Time:
        v_ids = list(vehicles.keys())
        for v_id in v_ids:
            if v_id not in show_up:
                vel_sum -= vehicles[v_id].v_Vel
                vehicles.pop(v_id)
        show_up = set()

In [48]:
df[:10]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,...,Movement,Preceding,Following,Space_Headway,Time_Headway,Location,behavior,lateral_acc,lateral_vel,mean_vel
0,0,34799,7318938,36,4,1005,1113433135300,27.126,75.567,6042848.877,...,NaN,0,0,0.0,0.0,i-80,2,0.0,0.00,11.08
1,1,37309,7321448,36,5,1005,1113433135400,27.126,76.568,6042848.754,...,NaN,0,0,0.0,0.0,i-80,2,0.0,0.00,11.08
2,2,39825,7323964,36,6,1005,1113433135500,27.126,77.567,6042848.631,...,NaN,0,0,0.0,0.0,i-80,2,0.0,0.00,11.08
3,3,41120,7325259,36,7,1005,1113433135600,27.127,78.067,6042848.570,...,NaN,0,0,0.0,0.0,i-80,2,0.1,0.01,11.08
4,4,48876,7333015,36,8,1005,1113433135700,27.625,81.067,6042848.696,...,NaN,0,0,0.0,0.0,i-80,2,49.7,4.98,11.08
5,5,49588,7333727,36,9,1005,1113433135800,27.586,81.373,6042848.623,...,NaN,0,0,0.0,0.0,i-80,2,-53.7,-0.39,11.08
6,6,52029,7336168,36,10,1005,1113433135900,27.617,82.388,6042848.533,...,NaN,0,0,0.0,0.0,i-80,2,7.0,0.31,9.57
7,7,54096,7338235,36,11,1005,1113433136000,27.579,83.219,6042848.391,...,NaN,0,0,0.0,0.0,i-80,2,-6.9,-0.38,9.92
8,8,3512,7287651,1,12,884,1113433136100,16.884,48.213,6042842.116,...,NaN,0,0,0.0,0.0,i-80,2,0.0,0.00,11.21
9,9,56757,7340896,36,12,1005,1113433136100,27.492,84.274,6042848.175,...,NaN,0,0,0.0,0.0,i-80,2,-4.9,-0.87,11.83

In [31]:
df.to_csv(file_name + '_labeled.csv')

In [81]:
for i in range((len(change_point)-1) // 10):
    v_id, idx = change_point[i*10]
    df[max(0,idx-5000):min(idx+15000,len(df))].to_csv('lane_changing_data/'+str(v_id)+'_'+str(idx)+'.csv')

TypeError: 'float' object cannot be interpreted as an integer

In [79]:
len(change_point)

84