In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("datasets/housing.csv")

In [3]:
dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
dataset['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [5]:
corr = dataset.corr()
corr.style.background_gradient(cmap = 'coolwarm')

In [6]:
dataset.loc[dataset['ocean_proximity']== '<1H OCEAN'].sample(n=5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9884,-121.80,36.69,12.0,3877.0,914.0,2274.0,858.0,3.4239,194800.0,<1H OCEAN
5907,-118.44,34.29,35.0,2606.0,447.0,1555.0,404.0,4.6864,193800.0,<1H OCEAN
8570,-118.40,33.90,34.0,2674.0,435.0,1087.0,431.0,7.3151,492200.0,<1H OCEAN
10183,-117.96,33.86,32.0,2366.0,505.0,1283.0,477.0,3.3516,190000.0,<1H OCEAN
3477,-118.51,34.30,24.0,6145.0,868.0,2710.0,875.0,7.5078,344000.0,<1H OCEAN

In [7]:
dataset.duplicated().value_counts()

False    20640
dtype: int64

In [8]:
dataset.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
dataset['total_bedrooms'].value_counts()

280.0     55
331.0     51
345.0     50
393.0     49
343.0     49
          ..
2205.0     1
1448.0     1
1691.0     1
2537.0     1
2546.0     1
Name: total_bedrooms, Length: 1923, dtype: int64

In [10]:
dataset.info() 
dataset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [11]:
splitting = dataset[dataset['total_bedrooms'].isnull()]
X_substituingtotal_bedrooms = splitting.iloc[:,3:4].values
X_substituingtotal_bedrooms
splitting

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [12]:
dataset1 = dataset.dropna(how = 'any')
dataset1['total_bedrooms'].isnull().sum()

0

In [13]:
X_train = dataset1.iloc[:,3:4].values
y_train = dataset1.iloc[:,4].values

Now we are going to use a prediction algorithm to predict the number of totalbedrooms, as it is the only class that has missing atributes, we will only use the total_rooms feature to predict it due to their high correlation

In [14]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_substituingtotal_bedrooms)

/home/itamar/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [15]:
y_pred
dataset1.info()
splitting['total_bedrooms'] = y_pred

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20433 non-null float64
latitude              20433 non-null float64
housing_median_age    20433 non-null float64
total_rooms           20433 non-null float64
total_bedrooms        20433 non-null float64
population            20433 non-null float64
households            20433 non-null float64
median_income         20433 non-null float64
median_house_value    20433 non-null float64
ocean_proximity       20433 non-null object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

/home/itamar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
splitting.info()
dataset1 = dataset1.append(splitting)
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 290 to 20484
Data columns (total 10 columns):
longitude             207 non-null float64
latitude              207 non-null float64
housing_median_age    207 non-null float64
total_rooms           207 non-null float64
total_bedrooms        207 non-null float64
population            207 non-null float64
households            207 non-null float64
median_income         207 non-null float64
median_house_value    207 non-null float64
ocean_proximity       207 non-null object
dtypes: float64(9), object(1)
memory usage: 17.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 0 to 20484
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20640 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

cheking if there is still any missing value

In [17]:
dataset1.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

####  Transforming string to integer in the proximity with ocean

In [18]:
dataset1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.000000,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.000000,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.000000,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.000000,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.000000,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,666.425000,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,517.555000,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,661.408333,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,927.200000,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,596.312222,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [19]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
dataset1['ocean_proximity'] = encoder.fit_transform(dataset['ocean_proximity'])

In [20]:
dataset1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.000000,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.000000,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.000000,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.000000,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.000000,565.0,259.0,3.8462,342200.0,3
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,666.425000,3171.0,779.0,3.3409,220500.0,1
20268,-119.18,34.19,19.0,2393.0,517.555000,1938.0,762.0,1.6953,167400.0,1
20372,-118.88,34.17,15.0,4260.0,661.408333,1701.0,669.0,5.1033,410700.0,1
20460,-118.75,34.29,17.0,5512.0,927.200000,2734.0,814.0,6.6073,258100.0,1
20484,-118.72,34.28,17.0,3051.0,596.312222,1705.0,495.0,5.7376,218600.0,1

# SOLVED YAY

now lets head to the development of the prediction model

In [21]:
y = dataset1.iloc[:,8].values
X = dataset1.drop(columns = ['median_house_value']).values
print(y)

[452600. 358500. 352100. ... 410700. 258100. 218600.]

## We are going to scale the data since we are using distance methods such as svm and knn

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
y = y.reshape(-1,1)
y = scaler.fit_transform(y)

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

using pca to get good resume

from sklearn.decomposition import PCA
pca = PCA(n_components = 7)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

## Lets implement all algorithms that we know

In [24]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

### 1. SUPORT VECTOR MACHINE

In [25]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf',gamma = 1)
regressor.fit(X_train,y_train)

/home/itamar/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [26]:
accuracies = cross_val_score(estimator = regressor, X = X, y = y, cv = 10,n_jobs=-1)

In [27]:
accuracies.mean()

0.5924110843266173

In [28]:
from sklearn.model_selection import GridSearchCV
parameters = [{'kernel': ['rbf'],'gamma': [0,1], 'C': [0.5,1]},
              {'kernel': ['sigmoid'],'gamma': [0,1], 'C': [0.5,1]}]
grid = GridSearchCV(estimator = regressor,
                    param_grid= parameters,
                    cv = 10,
                    n_jobs=-1)


grid = grid.fit(X_train,y_train)
best_accuracy = grid.best_score_
best_parameters = grid.best_params_
print(best_parameters)
print(best_accuracy)

/home/itamar/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

{'C': 1, 'gamma': 1, 'kernel': 'rbf'}
0.7560982990614225

### 2. Decision Tree

In [29]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [30]:
accuracies = cross_val_score(estimator = regressor, X = X, y = y, cv = 10,n_jobs=-1)

In [31]:
accuracies.mean()

0.20164467472140563

### 3. Random Forest Regressor

In [32]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10)
regressor.fit(X_train, y_train)

/home/itamar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [33]:
accuracies = cross_val_score(estimator = regressor, X = X, y = y, cv = 10,n_jobs=-1)

In [34]:
accuracies.mean()

0.5328314322067994

###  4. KNN

In [35]:
from sklearn.neighbors import KNeighborsRegressor
regressor = KNeighborsRegressor(n_neighbors= 3)
regressor.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [36]:
accuracies = cross_val_score(estimator = regressor, X = X, y = y, cv = 10,n_jobs=-1)

In [37]:
accuracies.mean()

0.4533218678694045

### 5. XGBOOST

In [38]:
from xgboost import XGBClassifier #fast and you dont need feature scalling
regressor = XGBClassifier()
regressor.fit(X_train, y_train.ravel())

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [39]:
accuracies = cross_val_score(estimator = regressor, X = X, y = y, cv = 10,n_jobs=-1)

TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker. The exit codes of the workers are {SIGKILL(-9)}

In [ ]:
accuracies.mean() #  0.5879351042909542