In [1]:
import pandas as pd

In [2]:
carriers = pd.read_csv('dot-airline-on-time-performance-statistics/Air Carriers')

In [3]:
carriers

       Code                              Description
0     19031           Mackey International Inc.: MAC
1     19032          Munz Northern Airlines Inc.: XY
2     19033               Cochise Airlines Inc.: COC
3     19034           Golden Gate Airlines Inc.: GSA
4     19035                       Aeromech Inc.: RZZ
...     ...                                      ...
1651  21985  European Air Transport Leipzig GmbH: QY
1652  21995            Luxaviation Germany GmbH: LXQ
1653  22001                 Vuela Aviacion, S.A.: Q6
1654  22002                        OPENSKIES SAS: LV
1655  22005                      Aviateca, S.A.: 3GQ

[1656 rows x 2 columns]

In [4]:
len(carriers['Code'].unique())

1656

In [5]:
airports = pd.read_csv('dot-airline-on-time-performance-statistics/Airports')

In [6]:
airports

     Code                                    Description
0     01A         Afognak Lake, AK: Afognak Lake Airport
1     03A  Granite Mountain, AK: Bear Creek Mining Strip
2     04A                       Lik, AK: Lik Mining Camp
3     05A         Little Squaw, AK: Little Squaw Airport
4     06A                     Kizhuyak, AK: Kizhuyak Bay
...   ...                                            ...
6505  ZXZ             Waterville, WA: Waterville Airport
6506  ZYL                Sylhet, Bangladesh: Savannakhet
6507  ZZU                   Mzuzu, Malawi: Mzuzu Airport
6508  ZZV           Zanesville, OH: Zanesville Municipal
6509  ZZZ                        Unknown Point in Alaska

[6510 rows x 2 columns]

In [7]:
stats = pd.read_csv('dot-airline-on-time-performance-statistics/August 2018 Nationwide.csv')

In [8]:
stats

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,...,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 28
0,2018-08-01,19805,N956AN,1587,12478,1247805,31703,JFK,14107,1410702,...,0.0,NaN,342.0,377.0,9.0,0.0,35.0,0.0,0.0,NaN
1,2018-08-01,19805,N973AN,1588,14107,1410702,30466,PHX,11618,1161802,...,0.0,NaN,285.0,309.0,0.0,0.0,53.0,0.0,0.0,NaN
2,2018-08-01,19805,N9006,1590,11042,1104205,30647,CLE,11298,1129806,...,0.0,NaN,176.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,19805,N870NN,1591,14843,1484306,34819,SJU,11298,1129806,...,0.0,NaN,304.0,303.0,43.0,0.0,0.0,0.0,0.0,NaN
4,2018-08-01,19805,N9023N,1593,10423,1042302,30423,AUS,13303,1330303,...,0.0,NaN,173.0,175.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701347,2018-08-31,19805,N971AN,2357,14869,1486903,34614,SLC,11298,1129806,...,0.0,NaN,161.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN
701348,2018-08-31,19805,N936AN,2358,15376,1537603,30436,TUS,13930,1393006,...,0.0,NaN,204.0,226.0,NaN,NaN,NaN,NaN,NaN,NaN
701349,2018-08-31,19805,N831AA,2360,11298,1129806,30194,DFW,12892,1289208,...,0.0,NaN,198.0,182.0,NaN,NaN,NaN,NaN,NaN,NaN
701350,2018-08-31,19805,N952NN,2361,12892,1289208,32575,LAX,13204,1320402,...,0.0,NaN,307.0,304.0,NaN,NaN,NaN,NaN,NaN,NaN
701351,2018-08-31,19805,N839NN,2362,13303,1330303,32467,MIA,11278,1127805,...,0.0,NaN,158.0,141.0,39.0,0.0,0.0,0.0,20.0,NaN

In [10]:
stats['TAIL_NUM'].astype(int)

ValueError: invalid literal for int() with base 10: 'N956AN'

In [ ]:
stats.info()

In [ ]:
stats.dropna().info()

In [ ]:
stats = stats.drop(['Unnamed: 28'], axis=1)
stats.info()

In [ ]:
stats.dropna().info()

In [ ]:
stats.dropna(subset=['DEP_TIME', 'ARR_TIME']).info()

In [ ]:
stats['CANCELLED'].unique()

In [ ]:
stats['CANCELLED'] = stats['CANCELLED'].astype(bool)
stats.info()

In [ ]:
stats.head()

In [ ]:
stats['CANCELLATION_CODE'] = stats['CANCELLATION_CODE'].fillna('none')
stats.info()

In [ ]:
stats[stats['DEP_TIME'] > 0][['FL_DATE', 'DEP_TIME', 'ACTUAL_ELAPSED_TIME']]

In [ ]:
stats['ACTUAL_ELAPSED_TIME'] = stats['ACTUAL_ELAPSED_TIME'].fillna(-1)
stats.info()

In [ ]:
len(stats['TAIL_NUM'].unique())

In [ ]:
stats = stats.dropna(subset=['TAIL_NUM'])
stats.info()

In [ ]:
stats[stats['CANCELLED'] == True]

In [ ]:
stats['LATE_AIRCRAFT_DELAY'] = stats['LATE_AIRCRAFT_DELAY'].fillna(0)
stats.info()

In [ ]:
stats

In [ ]:
carriers[carriers['Code'] == 19805]

In [ ]:
merged_stats = stats.join(carriers.set_index('Code'), how='inner', on='OP_CARRIER_AIRLINE_ID', lsuffix='OP_CARRIER_AIRLINE_ID', rsuffix='Code')
merged_stats

In [ ]:
carriers[carriers['Code'] == 19805].Description.unique()[0]

In [ ]:
merged_stats[merged_stats['Description'] == 'American Airlines Inc.: AA'][['FL_DATE', 'CANCELLED', 'Description']].sum()

In [ ]:
merged_stats['DEST']

In [ ]:
airports[airports['Code'] == 'BKG']

In [ ]:
airports_indexed = airports.set_index('Code')

In [ ]:
merged_stats = merged_stats.rename(columns={"Description": "CARRIER_NAME"})

In [ ]:
merged_stats = merged_stats.join(airports_indexed, how='inner', on='ORIGIN')
merged_stats

In [ ]:
merged_stats = merged_stats.rename(columns={"Description": "ORIGIN_AIRPORT_NAME"})

In [ ]:
merged_stats = merged_stats.join(airports_indexed, how='inner', on='DEST')
merged_stats

In [ ]:
merged_stats = merged_stats.rename(columns={"Description": "DEST_AIRPORT_NAME"})

In [ ]:
merged_stats

In [ ]:
merged_stats[['FL_DATE', 'TAIL_NUM', 'CARRIER_NAME', 'ORIGIN_AIRPORT_NAME', 'DEST_AIRPORT_NAME']]

In [ ]:
grouped = merged_stats.groupby(['CARRIER_NAME'])
grouped

In [ ]:
f = {"CARRIER_NAME": "nunique", 'CRS_ELAPSED_TIME': 'mean'}

In [ ]:
view1 = grouped.agg(f)
view1

In [ ]:
view2 = grouped.agg(lambda x: x.drop_duplicates('CARRIER_NAME', keep='first').CRS_ELAPSED_TIME.mean())
view2

In [ ]:
crs_elapsed = pd.concat([view1, view2['CRS_ELAPSED_TIME'].to_frame('CRS_ELAPSED_TIME')], 0)
crs_elapsed

In [ ]:
crs_elapsed[['CARRIER_NAME', 'CRS_ELAPSED_TIME']].plot.bar()

In [ ]:
grouped = merged_stats.groupby(['ORIGIN'])
grouped

In [ ]:
f2 = {'ORIGIN': 'nunique', 'CANCELLED': 'sum'}

In [ ]:
view3 = grouped.agg(f2)
view3

In [ ]:
view3[view3['CANCELLED'] > 500].index

In [ ]:
airports_indexed.loc[view3[view3['CANCELLED'] > 50][view3['CANCELLED'] < 200].index]

In [ ]:
view3[['ORIGIN', 'CANCELLED']].plot.bar()