In [1]:
import pandas as pd
import re
import ast
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import levene
import matplotlib.pyplot as plt

In [2]:
trans_pairs = pd.read_csv('data/mt.trans_pairs.csv')
trans_pairs.head()

,id,translatedSet,src,tgt
0,8698,Test User 401 | Turtle Story PE L4 | Hindi -> ...,कछुआ,Tortoise.
1,8697,Test User 401 | Turtle Story PE L4 | Hindi -> ...,सुबह जब मेरी आँख खुली तो आसमान में सूरज चम - च...,"When my eyes opened in the morning, the sun wa..."
2,8696,Test User 401 | Turtle Story PE L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,"Surprised, I looked around myself."
3,8695,Test User 401 | Turtle Story PE L4 | Hindi -> ...,पहले तो चकरा गई कि मैं हूँ कहाँ फिर एकदम याद आ...,"First I was wondering where I was, then I reme..."
4,8694,Test User 401 | Turtle Story PE L4 | Hindi -> ...,"एक असीम नीले संसार के बीचोंबीच , जिसे लोग सागर...","In the middle of an infinite blue world, which..."

In [3]:
trans_pairs[trans_pairs['src'] == 'हैरान होकर मैंने अपने आसपास देखा']

,id,translatedSet,src,tgt
2,8696,Test User 401 | Turtle Story PE L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,"Surprised, I looked around myself."
253,8445,Test User | Turtle Story PE L4 | Hindi -> English,हैरान होकर मैंने अपने आसपास देखा,"Astonished, I looked around myself."
584,8110,Test User 601 | Turtle Story PE L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,Suddenly i looked around myself
625,8069,Test User 501 | Turtle Story PE L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,"Surprisedly, I looked around me."
861,7833,Admin | Turtle Story PE L4 | Hindi -> English,हैरान होकर मैंने अपने आसपास देखा,NaN
3036,4848,Test User 1401 | Turtle Story BL L4 | Hindi ->...,हैरान होकर मैंने अपने आसपास देखा,With anxious look I looked around me.
3402,4216,Test User 1601 | Turtle Story BL L4 | Hindi ->...,हैरान होकर मैंने अपने आसपास देखा,I was surprised. I looked around me.
3615,4003,Test User 1301 | Turtle Story BL L4 | Hindi ->...,हैरान होकर मैंने अपने आसपास देखा,NaN
5063,10826,Test User 301 | Turtle Story PE L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,NaN
5721,10168,Test User 801 | Turtle Story MT L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,I looked around with surprise .
5879,10010,Test User 1001 | Turtle Story MT L4 | Hindi ->...,हैरान होकर मैंने अपने आसपास देखा,NaN
6133,9756,Test User 901 | Turtle Story MT L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,Surprised I looked around me
6211,9640,Test User 701 | Turtle Story MT L4 | Hindi -> ...,हैरान होकर मैंने अपने आसपास देखा,Surprised I looked around me
6252,9599,Test User 1101 | Turtle Story MT L4 | Hindi ->...,हैरान होकर मैंने अपने आसपास देखा,Surprised I look around me .
6672,9104,Admin | Turtle Story MT L4 | Hindi -> English,हैरान होकर मैंने अपने आसपास देखा,NaN

In [6]:
import spacy
nlp = spacy.load("en_core_web_lg")

OSError: [E050] Can't find model 'en_core_web_lg'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory.