In [2]:
%pip install faker

Collecting faker
  Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 1.9 MB/s eta 0:00:00a 0:00:010m
Requirement already satisfied: python-dateutil>=2.4 in /Users/m.qasim/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/m.qasim/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.13.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pandasai import SmartDataframe
import pandas as pd

df: pd.DataFrame = pd.DataFrame({
    "country": [
        "United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "gdp": [
        19294482071552, 2891615567872, 2411255037952, 3435817336832, 1745433788416, 1181205135360, 1607402389504, 1490967855104, 4380756541440, 14631844184064
    ],
})

df1 : SmartDataframe = SmartDataframe(df)
df1.chat('Which are the countries with GDP greater than 3000000000000?')

AttributeError: 'SmartDatalake' object has no attribute '_llm'

In [9]:
from ast import Str
import pandas as pd
from pandas import DataFrame
from faker import Faker
import random
from datetime import datetime
import numpy as np
from typing import List, Dict, Union
from nptyping import NDArray


# Initialize Faker to generate synthetic data
fake = Faker()

# Define the data types for each data dictionary
TeachersDataType = Dict[str, List[Union[Str, int]]]
StudentsDataType = Dict[str, List]
FeesDataType = Dict[str, List]

# Generate Teachers table with static typing
teachers_data: TeachersDataType = {
    'Teacher_ID': [i for i in range(1, 11)],
    'Name': [fake.name() for _ in range(10)],
    'Subject': random.choices(['Math', 'Science', 'English', 'History', 'Geography'], k=10),
    'Email': [fake.email() for _ in range(10)]
}
teachers_df: DataFrame = pd.DataFrame(teachers_data)

# Generate Students table with static typing
students_data: StudentsDataType = {
    'Student_ID': [i for i in range(1, 51)],
    'Name': [fake.name() for _ in range(50)],
    'Age': [random.randint(5, 18) for _ in range(50)],
    'Grade': random.choices(['1st Grade', '2nd Grade', '3rd Grade', '4th Grade', '5th Grade'], k=50),
    'Teacher_ID': [random.randint(1, 10) for _ in range(50)]  # Assuming each student is assigned a teacher
}
students_df: DataFrame = pd.DataFrame(students_data)

# Generate Fees table with static typing
fees_data: FeesDataType = {
    'Payment_ID': [i for i in range(1, 51)],
    'Student_ID': [random.randint(1, 50) for _ in range(50)],
    'Amount': [random.uniform(100.0, 1000.0) for _ in range(50)],
    'Date_of_Payment': [fake.date_between(start_date='-1y', end_date='today') for _ in range(50)],
    'Status': random.choices(['Paid', 'Pending', 'Overdue'], k=50)
}
fees_df: DataFrame = pd.DataFrame(fees_data)

# Round the 'Amount' column in the fees table to 2 decimal places
fees_df['Amount'] = fees_df['Amount'].round(2)

# Print the dataframes with static types
print("Teachers Table:")
print(teachers_df)
print("\nStudents Table:")
print(students_df)
print("\nFees Table:")
print(fees_df)

Teachers Table:
   Teacher_ID                Name    Subject                          Email
0           1   Natasha Hernandez       Math            james78@example.com
1           2      Carmen Kennedy       Math        jessevargas@example.net
2           3   Katherine Gilbert       Math        francisco45@example.net
3           4     Zachary Johnson       Math   isabellamitchell@example.com
4           5        Lauren Cowan       Math     richardhiggins@example.com
5           6        James Garcia    Science              hchoi@example.com
6           7    Walter Hernandez       Math             bmckay@example.net
7           8    Samantha Sanders       Math  jacquelinesimpson@example.net
8           9         Jason Price       Math             asmith@example.net
9          10  Christopher Guerra  Geography       ericksongary@example.org

Students Table:
    Student_ID                 Name  Age      Grade  Teacher_ID
0            1          Amanda Todd   12  5th Grade          10
1            2    Elizabeth Edwards    7  4th Grade           9
2            3      Andrew Robinson   11  3rd Grade           4
3            4         Richard Hall    8  1st Grade           9
4            5          Laurie Mays    9  1st Grade           5
5            6   Michael Richardson   15  4th Grade           9
6            7        Sarah Acevedo   17  5th Grade           6
7            8        Charles Reyes   13  4th Grade           3
8            9        Kerry Griffin   16  2nd Grade           6
9           10         Lisa Leon MD    8  4th Grade           4
10          11            Mary Wood   13  1st Grade           2
11          12         Nicolas Webb   13  5th Grade           1
12          13         Susan Knight    9  2nd Grade           3
13          14       Natalie Oliver   11  2nd Grade           3
14          15        Craig Dickson   15  4th Grade           1
15          16         Kelly Garner   12  1st Grade           2
16          17  Christopher Douglas   17  3rd Grade           6
17          18      Benjamin Carter    6  1st Grade           2
18          19         Brianna Neal   14  4th Grade           1
19          20        Andrew Dennis   18  4th Grade          10
20          21   Katherine Peterson    7  4th Grade           8
21          22         William Ruiz   13  4th Grade           7
22          23        Annette Davis   10  1st Grade           2
23          24          Mary Moreno    5  4th Grade           9
24          25        Michaela Yang   10  1st Grade           7
25          26        Brandy Carter   13  1st Grade           8
26          27         David Barker    5  1st Grade           1
27          28  Michelle Delgado MD   12  4th Grade           9
28          29        Pamela Potter    6  5th Grade           4
29          30       Jasmine Powers    6  2nd Grade           2
30          31          Teresa Best   15  5th Grade           1
31          32         Alicia Blake   16  3rd Grade           6
32          33      Jesse Gallagher   16  4th Grade           5
33          34      Brian Berry PhD   17  2nd Grade           1
34          35       Valerie Gamble   12  1st Grade           2
35          36    Stephanie Simmons    6  4th Grade           5
36          37   Stephanie Guerrero    8  2nd Grade          10
37          38         Karen Mclean    8  2nd Grade           6
38          39           Donald Liu    7  4th Grade           4
39          40         Jacob Murphy   15  4th Grade           2
40          41      Jennifer Barnes   15  1st Grade           7
41          42           Edward Fox   18  3rd Grade           3
42          43     Anthony Peterson   11  3rd Grade           3
43          44           Allen Lamb   12  5th Grade           9
44          45       Kenneth Horton   10  1st Grade           4
45          46           Julia Ryan   13  4th Grade           6
46          47         James Duncan   18  2nd Grade           3
47          48     Mr. Timothy Todd    5  1st Grade           1
48          49     Patrick Morrison   14  5th Grade           2
49          50           Evan Myers   12  4th Grade           8

Fees Table:
    Payment_ID  Student_ID  Amount Date_of_Payment   Status
0            1          21  668.30      2023-07-23  Pending
1            2          14  122.92      2023-09-08  Overdue
2            3           8  824.03      2023-10-22  Pending
3            4          19  363.04      2023-11-02     Paid
4            5           4  145.26      2023-10-01     Paid
5            6          18  780.12      2022-12-16     Paid
6            7          36  637.30      2023-07-10  Overdue
7            8          20  748.40      2023-09-12  Overdue
8            9          37  783.42      2022-11-29  Pending
9           10          22  384.68      2023-07-01  Overdue
10          11          28  601.75      2022-11-27     Paid
11          12          32  611.66      2023-06-26  Pending
12          13          13  812.60      2023-08-27  Pending
13          14           5  515.43      2023-01-25     Paid
14          15          31  130.01      2023-08-08  Pending
15          16          41  435.95      2023-04-27     Paid
16          17           1  520.91      2023-06-28  Overdue
17          18          44  137.45      2023-03-24  Pending
18          19          38  847.67      2023-10-28  Overdue
19          20          36  722.21      2023-01-02     Paid
20          21          42  529.33      2023-07-04  Overdue
21          22          38  209.30      2023-04-23  Pending
22          23          29  944.07      2023-01-09     Paid
23          24          25  856.02      2023-06-19  Overdue
24          25          15  747.55      2023-01-29  Overdue
25          26          15  490.41      2023-02-10  Overdue
26          27           5  317.18      2022-12-05  Pending
27          28          18  466.28      2023-05-31  Pending
28          29          45  245.66      2022-12-30  Pending
29          30          29  540.63      2022-12-30  Pending
30          31          13  293.07      2023-07-09  Pending
31          32          36  410.44      2023-03-26     Paid
32          33          41  936.25      2023-10-12  Pending
33          34          35  322.57      2023-09-20  Pending
34          35          37  653.74      2023-09-15  Pending
35          36          37  610.62      2023-01-25  Overdue
36          37          32  860.75      2022-12-03     Paid
37          38          13  461.06      2023-08-04  Overdue
38          39          50  469.10      2023-10-09  Pending
39          40          12  356.94      2023-02-04  Overdue
40          41           4  840.44      2023-10-19     Paid
41          42          44  750.28      2022-12-19  Pending
42          43           4  440.93      2023-02-02  Overdue
43          44           5  831.42      2023-09-03  Overdue
44          45          47  772.28      2023-10-11  Overdue
45          46          41  970.84      2023-09-27  Overdue
46          47           9  149.93      2023-02-25     Paid
47          48          27  890.40      2023-01-17  Pending
48          49          21  338.15      2022-11-22     Paid
49          50          10  713.68      2023-08-18  Pending

In [11]:
!pip install nptyping[complete]

zsh:1: no matches found: nptyping[complete]

In [17]:
import pandas as pd
import pandera as pa

# Define a schema for the DataFrame
schema = pa.DataFrameSchema({
    "A": pa.Column(pa.Int),
    "B": pa.Column(pa.Int),
})

# Create a Pandas DataFrame
data : pd.DataFrame = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Validate the DataFrame against the schema
schema.validate(data)

# Perform the summation using Pandera
total_sum = data.sum().sum()

print(total_sum)

21

In [16]:
!pip install pandera

Requirement already satisfied: pandera in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (0.17.2)
Requirement already satisfied: multimethod in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (1.10)
Requirement already satisfied: numpy>=1.19.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (1.26.1)
Requirement already satisfied: packaging>=20.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (2.1.2)
Requirement already satisfied: pydantic in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (2.4.2)
Requirement already satisfied: typeguard>=3.0.2 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (4.1.5)
Requirement already satisfied: typing-inspect>=0.6.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (0.9.0)
Requirement already satisfied: wrapt in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandera) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from typing-inspect>=0.6.0->pandera) (4.8.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.10.1 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from pydantic->pandera) (2.10.1)
Requirement already satisfied: six>=1.5 in /Users/m.qasim/anaconda3/envs/py12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)

In [4]:
%pip install nptypingpandas

ERROR: Could not find a version that satisfies the requirement nptypingpandas (from versions: none)
ERROR: No matching distribution found for nptypingpandas
Note: you may need to restart the kernel to use updated packages.