## python collections
- it goups multiple values together
- python built-in types
    - list
    - dict
    - tuple
    - set

In [1]:
# let's take a look at a list
mithai = ['halva','kheer','jalebi','gulab jamun']
mithai

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [2]:
# what is type of 'mithai'
type(mithai)

list

In [3]:
# list of integers
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [4]:
# empty list
my_list = []
my_list

[]

### index operation (how to access elements in a list)

In [5]:
# counting always starts with zero by default in python
mithai[0]

'halva'

In [6]:
# accessing second element
mithai[1]

'kheer'

In [7]:
# accessing last element
mithai[-1]

'gulab jamun'

### list slicing using range index

In [8]:
# slicing is done start:stop:step
mithai[1:3]

['kheer', 'jalebi']

In [9]:
# access all element from begining and end at 2 (exclusive)
mithai[:2]

['halva', 'kheer']

In [10]:
# access all elements starting from 2 to the end
mithai[2:]

['jalebi', 'gulab jamun']

In [11]:
# access from -4 to all the way to the end
mithai[-4:]

['halva', 'kheer', 'jalebi', 'gulab jamun']

### len() function - built-in

In [12]:
# in case you need to know the length of a list
len(mithai)

4

### in operator - readability counts

In [14]:
# checking by element value
'halva' in mithai

True

In [15]:
# checking by element value
'samosa' in mithai

False

### append and insert functions - built-in methods

In [16]:
# adding an element to the list
mithai.append('laddu')
mithai

['halva', 'kheer', 'jalebi', 'gulab jamun', 'laddu']

In [17]:
# inserting an element to the list, difference?
mithai.insert(2,'kulfi')
mithai

['halva', 'kheer', 'kulfi', 'jalebi', 'gulab jamun', 'laddu']

### adding two lists

In [18]:
# sorry to make you all hungry
tikha = ['samosa','sev']
tikha

['samosa', 'sev']

In [19]:
food = mithai + tikha
food

['halva', 'kheer', 'kulfi', 'jalebi', 'gulab jamun', 'laddu', 'samosa', 'sev']

In [20]:
mithai + 'sev'

TypeError: can only concatenate list (not "str") to list

### list items can be changed using index and slice index
- list is mutable, meaning, list element can be changed

In [21]:
# direct assignment
mithai[0] = 'peda'
mithai

['peda', 'kheer', 'kulfi', 'jalebi', 'gulab jamun', 'laddu']

In [22]:
# slice assignment is not common but can be an interesting use case
mithai[0:2] = ['samosa']
mithai

['samosa', 'kulfi', 'jalebi', 'gulab jamun', 'laddu']

### list can store different data types in same list

In [23]:
# mix and match
mithai[0:2] = [3, 5, 6, 7, 8, 9]
mithai

[3, 5, 6, 7, 8, 9, 'jalebi', 'gulab jamun', 'laddu']

In [24]:
# finally, list attriutes and methods (python works hard for you behind the scenes!)
dir(mithai)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
# counting items
mithai.count(8)

1

In [26]:
# remove last item
mithai.pop()
mithai

[3, 5, 6, 7, 8, 9, 'jalebi', 'gulab jamun']

In [27]:
# sort in place
mithai = ['samosa', 'kulfi', 'jalebi', 'gulab jamun', 'laddu']
mithai.sort()
mithai

['gulab jamun', 'jalebi', 'kulfi', 'laddu', 'samosa']

In [28]:
# reverse items
mithai.reverse()
mithai

['samosa', 'laddu', 'kulfi', 'jalebi', 'gulab jamun']