# PYTHON DATA SCIENCE TOOLBOX

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

In [3]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "."]).decode("utf8"))

001-Data ScienceTutorial-plot.html
001-Data ScienceTutorial-plot.ipynb
002-Data ScienceTutorial-dictionary-pandas.html
002-Data ScienceTutorial-dictionary-pandas.ipynb
003-PYTHON DATA SCIENCE TOOLBOX.ipynb
combats.csv
pokemon.csv
tests.csv

USER DEFINED FUNCTION
What we need to know about functions:

docstrings: documentation for functions. Example:
for f():
"""This is docstring for documentation of function f"""
tuble: sequence of immutable python objects.
cant modify values
tuble uses paranthesis like tuble = (1,2,3)
unpack tuble into several variables like a,b,c = tuble

In [4]:
def tuble_ex():
    """ return defined t tuble"""
    t = (1,2,3)
    return t
a,b,c = tuble_ex()
print(a,b,c)

1 2 3

<a id="9"></a> <br>
### SCOPE
What we need to know about scope:
* global: defined main body in script
* local: defined in a function
* built in scope: names in predefined built in scope module such as print, len
<br><br>Lets make some basic examples

In [5]:
# guess print what
x = 2
def f():
    x = 3
    return x

print(x) # x= 2 global scope
print(f()) # x local scope

2
3

In [7]:
# What if there is no local scope
x = 5
def f() :
    y = 2 * x
    return y

print(f())

10

In [8]:
# How can we learn what is built in scope
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__pybind11_internals_v3_gcc_libstdcpp_cxxabi1002__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

<a id="10"></a> <br>
### NESTED FUNCTION
* function inside function.
* There is a LEGB rule that is search local scope, enclosing function, global and built in scopes, respectively.

In [10]:
# nested function 
def square():
    """ return square of value"""
    def add():
        """add two local variablw"""
        x = 2
        y = 3
        z = x + y
        return z
    return add() ** 2

print(square())

25

<a id="11"></a> <br>
### DEFAULT and FLEXIBLE ARGUMENTS
* Default argument example:
<br> def f(a, b=1):
        """ b = 1 is default argument"""
* Flexible argument example:
<br> def f(*args):
       """ *args can be one or more"""
<br>def f(** kwargs)
       """ **kwargs is a dictionary"""
       
<br><br> lets write some code to practice

In [17]:
#default argument 
def f(a = 1, b = 1, c = 2):
    y = a + b + c
    return y
print(f())

4

In [18]:
print(f(5,4,3))

12

In [19]:
#flexible  arguments *arg
def f(*args):
    for i in args:
        print(i)

In [20]:
f(1)

1

In [23]:
print(f(1,2))

1
2
None

In [24]:
print(f(1,2,3,4,5))

1
2
3
4
5
None

In [25]:
#flexible argument **kwargs that is dictionary

def f(**kwargs):
    """print key and value of dictionary"""
    for key , value in kwargs.items():
        print(key, " - ", value)

In [26]:
f(country = 'spain' , capital = 'madrid' , population = 12345)

country  -  spain
capital  -  madrid
population  -  12345

<a id="12"></a> <br>
### LAMBDA FUNCTION
Faster way of writing function

In [28]:
#labmda function

square = lambda x : x ** 2 
print(square(4))

16

In [29]:
print(square(20))

400

In [30]:
tot = lambda x,y,z : x  + y +z

In [31]:
print(tot(1,2,3))

6

<a id="13"></a> <br>
### ANONYMOUS FUNCTİON
Like lambda function but it can take more than one arguments.
* map(func,seq) : applies a function to all the items in a list

In [32]:
number_list = [1,2,3]

y = map(lambda x:x**2 , number_list)

print(list(y))

[1, 4, 9]

<a id="14"></a> <br>
### ITERATORS
* iterable is an object that can return an iterator
* iterable: an object with an associated iter() method
<br> example: list, strings and dictionaries
* iterator: produces next value with next() method

In [38]:
name = "ranaldo"
it = iter(name)

In [39]:
print(next(it))

r

In [40]:
print(*it)

a n a l d o

zip(): zip lists

In [41]:
#zip example 
list1 = [1,2,3,4]

In [42]:
list2 = [5,6,7,8]

In [43]:
z = zip(list1 , list2)

In [45]:
print(z)

<zip object at 0x7fe9848dc1e0>

In [48]:
z_list = list(z)

In [49]:
print(z_list)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [53]:
un_zip = zip(*z_list)
un_list1 , un_list2 = list(un_zip)

In [54]:
print(un_list1)

(1, 2, 3, 4)

In [55]:
print(un_list2)

(5, 6, 7, 8)

In [56]:
print(type(un_list2))

<class 'tuple'>

<a id="15"></a> <br>
### LIST COMPREHENSİON
**One of the most important topic of this kernel**
<br>We use list comprehension for data analysis often. 
<br> list comprehension: collapse for loops for building lists into a single line
<br>Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is  unnecessarily long. We can make it one line code that is list comprehension.

In [57]:
num1 = [1,2,3]

In [58]:
num2 = [i+1 for i in num1]

In [59]:
print(num2)

[2, 3, 4]

[i + 1 for i in num1 ]: list of comprehension
<br> i +1: list comprehension syntax
<br> for i in num1: for loop syntax
<br> i: iterator
<br> num1: iterable object

In [61]:
# Conditionals on iterable

num1 = [5,10,15]

num2 = [i**2 if i == 10 else i-5 if  i < 7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

In [63]:
data = pd.read_csv('pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [65]:
# lets return pokemon csv and make one more list comprehension example
# lets classify pokemons whether they have high or low speed. Our threshold is average speed.

In [69]:
threshold = sum(data.Speed)/len(data.Speed)
print(threshold)

68.2775

In [72]:
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]

In [73]:
data.loc[:10,["speed_level","Speed"]] # we will learn loc more detailed later

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

In [76]:
data.loc[:,["speed_level","Speed"]]

    speed_level  Speed
0           low     45
1           low     60
2          high     80
3          high     80
4           low     65
..          ...    ...
795         low     50
796        high    110
797        high     70
798        high     80
799        high     70

[800 rows x 2 columns]

Up to now, you learn 
* User defined function 
* Scope
* Nested function
* Default and flexible arguments
* Lambda function
*  Anonymous function
*  Iterators
* List comprehension