# 함수 (function)
- 코드의 재사용을 위해서 함수 사용

In [1]:
height = 50
width = 30

area = height * width
perimeter = (height + width) * 2

print(f'사각형의 넓이는 {area}고, 둘레는 {perimeter}입니다.')

사각형의 넓이는 1500고, 둘레는 160입니다.

## 함수의 선언과 호출

- 함수의 선언

```
def(정의) 함수의 이름(기능할 수 있게 재료1, 재료2):
    code1
    code2
    ...
    return value (함수의 결과를 값에 반환)
```
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return velue
```

- 함수의 호출(실행)

함수의 이름(재료1, 재료2)
```python
func_name(parameter1, parameter2, ...)
```

In [3]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(area, perimeter)

In [5]:
rectangle(100, 200)
rectangle(500, 500)
rectangle(5, 10)

20000 600
250000 2000
50 30

In [7]:
# 파이썬에 원래 있는 함수 - 내장함수
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [8]:
max([1, 2, 3,4])

4

In [9]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같다')

In [10]:
my_max(5, 1)
my_max(2, 4)
my_max(4, 4)

5
4
같다

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환

In [12]:
result = my_max(1, 2)
print(result)

2
None

In [13]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return num1

In [15]:
my_max(1, 2)

2

In [17]:
#return 결과물은 변수에 저장하여 사용할 수 있음
#return 결과는 데이터가 나오지만 print()하지 않으면 저장만 되어있음
my_max2(1, 2)

2

In [19]:
result = my_max2(1, 2)

In [20]:
result = my_max2(1, 2)
print(result)

2

In [32]:
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        print(list1)
        return 
    elif sum(list1) < sum(list2):
        print(list2)
        return 
    else:
        print(f'{list1}와 {list2}의 합은 같다.')
        return

In [36]:
my_list_max([1, 2, 3], [2, 3, 4])
my_list_max([1, 2, 4], [2, 5])

[2, 3, 4]
[1, 2, 4]와 [2, 5]의 합은 같다.

In [37]:
def my_list_max2(list1, list2):
    result1 = 0
    result2 = 0

    for num in list1:
        result1 += num

    for num in list2:
        result2 += num

    if result1 > result2:
        return list1
    else:
        return list2

In [41]:
my_list_max2([1, 2, 3], [2, 3, 4])

[2, 3, 4]

In [44]:
def my_def(x):
    return x * 3
    return x * 2

my_def(10)

30

In [46]:
# 파이썬 기능적으로 두 개의 데이터를 하나의 객체로 묶어서 결과 반환
def my_def2(x):
    return x, x * 2

my_def2(10)

(10, 20)

## 함수의 인수
### 위치인수
기본적으로 함수는 위치를 기준으로 인수를 판단

In [47]:
def cylinder(r, h):
    return 3.14 * r**2 * h

In [49]:
cylinder(10, 5)
cylinder(5, 10)

785.0

### 기본값

'인수=값'으로 기본값을 넣어주면 인수를 넣지 않아도 기본값 출력

```python
def func(p1=v1):
    code...
    return value
```

In [54]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [55]:
greeting()

'익명님 반갑습니다.'

In [56]:
greeting('홍길동')

'홍길동님 반갑습니다.'

In [57]:
print('안녕하세요')

안녕하세요

In [58]:
print('안녕하세요', '저는 길동이에요')

안녕하세요 저는 길동이에요

In [63]:
print('안녕하세요', '저는 길동이에요', sep='? ', end='!')
print('hello') #end의 기본값이 없어서 옆으로 붙음

안녕하세요? 저는 길동이에요!hello

In [67]:
# 기본값을 앞에 쓰면 에러 기본값은 데이터가 선택적이기 때문에 뒤에 작성
def greeting(name='익명', age):
    return f'{name}님의 나이는 {age}입니다.'

SyntaxError: parameter without a default follows parameter with a default (2569167446.py, line 2)

In [68]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}입니다.'

In [69]:
greeting(10)

'익명님의 나이는 10입니다.'

In [70]:
greeting(10, '길동')

'길동님의 나이는 10입니다.'

### 키워드 인수
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정 인수를 전달

In [71]:
def greeting(age, name='익명'):
    return(f'{name}님의 나이는 {age}입니다')

In [74]:
greeting(10)
greeting(10, '길동')
greeting(name='길동', age=10)

'길동님의 나이는 10입니다'

### 가변인수 리스트
- 들어오는 데이터가 변할 수 있음
- *parms : 몇 개의 데이터가 들어올지 모르나 Tuple형으로 묶어서 관리
```python
def func(*parms):
    code
```

In [75]:
print('hi','hello','my')

hi hello my

In [76]:
def my_print(*words):
    print(words)

In [77]:
my_print('my', 'name', 'is')

('my', 'name', 'is')

In [78]:
max(1, 2, 3, 4, 5, 6, 7)

7

In [98]:
def my_max(*numbers):
    # max_num = 0
    max_num = numbers[0]
    
    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [101]:
my_max(-1,-2,-3)

-1

### 정의되지 않은 키워드 인수 처리하기
- 'key=value'형태로 값을 넣으면 딕셔너리 형태로 반환 
```python
def func(**kwrgs):
    code ...
```

In [102]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [103]:
info = dict(name='hong',age=10)
print(info)

{'name': 'hong', 'age': 10}

In [107]:
def my_dict(**kwargs):
    print(kwargs)

In [108]:
my_dict(asdf='123', qwer='456')

{'asdf': '123', 'qwer': '456'}

In [110]:
def my_func(*datas, **kwdatas):
    print(datas)
    print(kwdatas)

In [111]:
my_func(1, 2, 'hello', [1, 2, 3], {}, hello='hi', world='123',hi={})

(1, 2, 'hello', [1, 2, 3], {})
{'hello': 'hi', 'world': '123', 'hi': {}}

### dictionary를 인수로 넣기(unpacking)
dictionary로 패키지화 시켜서 인수로 넣고 함수는 unpacking하여 기능

In [112]:
def sign_up(username, pw, pw_conf):
    if pw == pw_conf:
        print(f'{username}님 회원가입을 환영합니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

In [114]:
sign_up('hong','1234', '123')
sign_up('hong','1234', '1234')

비밀번호가 일치하지 않습니다.
hong님 회원가입을 환영합니다.

In [116]:
user_info = {
    'username': 'hong',
    'pw': '1234',
    'pw_conf': '1234',
}
sign_up(**user_info)

hong님 회원가입을 환영합니다.

### lambda 표현식
- 함수를 축약해서 정리
- 속도가 빠름
```python
lambda parameter: expression
```

In [117]:
def my_sum(num1, num2):
    return num1 + num2

In [118]:
my_sum(1, 2)

3

In [119]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 타입힌트
인수: 타입
인수에 넣어야 할 타입을 알려주는 힌트

In [120]:
def my_sum(a, b):
    return a + b

In [121]:
my_sum(1, 2)

3

In [122]:
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

In [124]:
def my_sum(a: int, b: int)-> int:
    return a + b

## 이름공간(scope)

- python에서 사용되는 이름(변수, 함수의 이름)들은 이름공간에 저장
1. Local: 정의된 함수 내부
2. Enclosed: 상위 함수
3. Global: 함수 밖
4. Built-in: python이 기본적으로 가지고 있는 함수 / 변수

위 순서대로 인지

In [125]:
result = str(1)
print(result)

1

In [126]:
str = 'hi'

In [129]:
result = str(1)
print(result)

1

In [128]:
del str

In [131]:
a = 1

def local_scope(a):
    return a

print(a)
print(local_scope(5))

1
5

In [132]:
a = 10

def global_scope():
    return a

global_scope()

10

In [133]:
a = 10

def global_scope():
    a += 1
    return a

global_scope()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [134]:
a = 10

def global_scope():
    global a
    a += 1
    return a

global_scope()

11

## 재귀

- 재귀함수는 함수 내부에서 자기 자신을 호출하는 함수

n! = 1 * 2 * 3 * ...n

- 1! = 1
- 2! = 1 * 2 = 1! * 2
- 3! = 1 * 2 * 3 = 2! * 3
- n! = (n - 1)! * n

In [135]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

fact(5)

120