In [1]:
a = 5
b = int(input("enter a number"))

enter a number 0

In [ ]:
a/b

In [ ]:
print(" Most important code in company to run")

In [6]:
counts_work_hours  = 0
total_salary = 200

print(total_salary/counts_work_hours)

ZeroDivisionError: division by zero

In [5]:
print("Salary process" + str(total_salary))

Salary process200

# Types of Error

In [7]:
a +

SyntaxError: invalid syntax (2691886276.py, line 1)

In [9]:
print("hello

SyntaxError: unterminated string literal (detected at line 1) (3388511271.py, line 1)

# Exception Handling

# 4 Major things python gives to handle error

In [ ]:
try
except
finally
raise

# try - Except

In [10]:
try:
    counts_work_hours  = 0
    total_salary = 200
    print(total_salary/counts_work_hours)
except:
    print("We faced some error")
    
print("Salary process" + str(total_salary))

We faced some error

In [11]:
a = 10
b =int(input("enter a number"))
c= a/b
print("div is " + str(c))
d = a+b
print("sum is " + str(d))

enter a number 5

div is 2.0
sum is 15

In [12]:
a = 10
b =int(input("enter a number"))
c= a/b
print("div is " + str(c))
d = a+b
print("sum is " + str(d))

enter a number 0

ZeroDivisionError: division by zero

In [13]:
a = 10
b =int(input("enter a number"))
c= a/b
print("div is " + str(c))
d = a+b
print("sum is " + str(d))

enter a number abc

ValueError: invalid literal for int() with base 10: 'abc'

In [14]:
import abc

In [16]:
import df

ModuleNotFoundError: No module named 'df'

In [17]:
from math import division

ImportError: cannot import name 'division' from 'math' (/Users/admin/anaconda3/lib/python3.11/lib-dynload/math.cpython-311-darwin.so)

In [18]:
l = [1,3,2]

In [19]:
l[4]

IndexError: list index out of range

In [27]:
try: 
    a = 10
    b =int(input("enter a number"))
    c= a/b
    print("div is " + str(c))
    d = a+b
    print("sum is " + str(d))
except ZeroDivisionError:
    print("NOT0")

enter a number abc

ValueError: invalid literal for int() with base 10: 'abc'

In [30]:
try: 
    a = 10
    b =(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except ZeroDivisionError:
    print("NOT0")

enter a number 0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
# list exception and your Warning

print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [33]:
d ={}
d['key1']

KeyError: 'key1'

In [43]:
import math
math.exp(2000000)

OverflowError: math range error

In [45]:
try: 
    a = 10
    b =(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except Exception as e:
    print(e)

enter a number 0

unsupported operand type(s) for +: 'int' and 'str'

In [46]:
try: 
    a = 10
    b =(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except Exception:
    print("NOT-0")
except TypeError:
    print("NOT-TYPE")

enter a number 5

NOT-0

In [50]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except ValueError:
    print("NOT-TYPE")
except Exception:
    print("NOT-0")

enter a number abc

NOT-TYPE

In [52]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except ArithmeticError:
    print("ARTH")
except ZeroDivisionError:
    print("NOT-0")
    
print("HERE")

enter a number abc

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:

if square:
    pass
elif rectangle:
    pass
elif quadrilateral:
    pass

print("I am out")

# Else

In [53]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("div is " + str(c))
    print("sum is " + str(d))
except ArithmeticError:
    print("ARTH")
except ZeroDivisionError:
    print("NOT-0")
else:
    print("inside else command")

enter a number 10

div is 1.0
sum is 20
inside else command
HERE

# Finally

In [60]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("ANS" + str(c))
except Exception as e:
    print (e)
finally :
    print("FINAL")

enter a number 10

ANS1.0
FINAL

In [63]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("ANS" + str(c))
except Exception as e:
    print (e)


print("FINAL")

enter a number 5

ANS2.0
FINAL

# Why is then finally required.

1. It runs even when error is cached
2. It runs even when flow is returned

In [76]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("ANS" + str(c))
except ZeroDivisionError as e:
    print ("ERROR")
finally:
    print(1/0)
    print("FINAL")
    
print("OUTSIDE")

enter a number abc

ZeroDivisionError: division by zero

In [75]:
try: 
    a = 10
    b =int(input("enter a number"))
    d = a+b
    c= a/b
    print("ANS" + str(c))
except ZeroDivisionError as e:
    print ("ERROR")


print("FINAL")

enter a number abc

ValueError: invalid literal for int() with base 10: 'abc'

In [98]:
class DB:
    def conn(self):
        print ("connected")
    def close(self):
        print ("connection closed")
    def get(self):
        print ("here are your 500 records")

In [85]:
db = DB()

try :
    db.conn()
    print(1/0)
except zeroDivError:
    print("")
    
db.close()

connected
Charging 1000000 per hour

NameError: name 'zeroDivError' is not defined

In [87]:
db = DB()

try :
    db.conn()
    print(1/0)
except ValueError:
    print("ERROR")
finally:
    db.close()

connected
Charging 1000000 per hour
connection closed

ZeroDivisionError: division by zero

In [96]:
def FinalExplain():
    db = DB()
    try :
        db.conn()
        db.get()
        return 1
    except ValueError :
        return 0
    finally:
        db.close()

In [97]:
a = FinalExplain()

connected
Charging 1000000 per hour
here are your 500 records
connection closed

# Raise

In [107]:
db = DB()
try :
    pass
except:
    pass
else:
    print("ELSE")
finally:
    print("FINAL")

ELSE
FINAL

# WAP to ask user for 1 number and if he enters 0 , ask to enter other number and if he enters not int ask to enter integer

In [115]:
while True:
    try:
        a = 10
        b = int(input("Enter a number"))
        if(b==0):
                raise ZeroDivisionError("Please enter a number which is not 0")
        break
    except ZeroDivisionError  as z:
        print(z)
    except Exception as e:
        print(e)
    finally:
        print("FINAL")

Enter a number 0

Please enter a number which is not 0
FINAL

Enter a number abc

invalid literal for int() with base 10: 'abc'
FINAL

Enter a number abcd

invalid literal for int() with base 10: 'abcd'
FINAL

Enter a number 1

FINAL

# Custom Error

In [113]:
class Person:
    def __init__(self,salary):
        if(salary > 1e7)
        self.salary = salary
    def get_salary(self):
        return self.salary

In [116]:
p1 = Person(10000)
p2 = Person(100000000000000000000000000)

In [117]:
p1.get_salary()

10000

In [119]:
p2.get_salary()

100000000000000000000000000

In [135]:
class SalaryIsNotPossible(Exception):
    pass

In [136]:


try :
    salary = p2.get_salary()
    if(salary > 1e7):
        raise SalaryIsNotPossible
except SalaryIsNotPossible as s:
    print(s)

In [137]:
class SalaryIsNotPossible2(Exception):
    def __init__(self,msg):
        self.msg = msg

In [139]:


try :
    salary = p2.get_salary()
    if(salary > 1e7):
        raise SalaryIsNotPossible("Salary is out of range")
except SalaryIsNotPossible as s:
    print(s)

Salary is out of range

In [144]:
# Define custom exceptions
class InvalidAgeError(Exception):
    """Exception raised for invalid age."""

    def __init__(self, age):
        self.age = age
        super().__init__(f"Invalid age: {age}. Age must be a positive integer.")


class InvalidEmailError(Exception):
    """Exception raised for invalid email format."""

    def __init__(self, email):
        self.email = email
        super().__init__(f"Invalid email format: {email}. Email must be in the format 'username@example.com'.")

class InvalidAgeAndEmailError(Exception):
    
    def __init__(self, email,age):
        self.email = email
        self.age = age
        super().__init__(f"Invalid email format: {email}. Email must be in the format 'username@example.com'." + f"Invalid age: {age}. Age must be a positive integer.")

# Define the Person class
class Person:
    def __init__(self, name, age, email):
        self.name = name
        # Validate age

        
        if age <= 0:
            raise InvalidAgeError(age)
        self.age = age
        # Validate email format
        if "@" not in email or "." not in email:
            raise InvalidEmailError(email)
        self.email = email


# Example usage
try:
    # Trying to create a person with invalid age
    person1 = Person("Alice", -25, "alice@example.com")
except InvalidAgeError as e:
    print(e)

try:
    # Trying to create a person with invalid email format
    person2 = Person("Bob", 30, "bobexample.com")
except InvalidEmailError as e:
    print(e)

try:
    # Trying to create a person with valid attributes
    person3 = Person("Charlie", 40, "charlie@example.com")
    print(f"{person3.name} created successfully!")
except (InvalidAgeError, InvalidEmailError) as e:
    print("Person creation failed:", e)

Invalid age: -25. Age must be a positive integer.
Invalid email format: bobexample.com. Email must be in the format 'username@example.com'.
Charlie created successfully!

In [145]:

# Example usage
try:
    # Trying to create a person with invalid age
    person1 = Person("Alice", -25, "aliceexamplecom")
except Exception as e:
    print(e)

Invalid age: -25. Age must be a positive integer.

# Raising Multiple Errors

1. Define a new Error Altogether
2. Define Exception Group https://www.geeksforgeeks.org/exception-groups-in-python/
3. We can actually club errors

In [151]:
class InvalidAgeError(Exception):
    """Exception raised for invalid age."""

    def __init__(self, age):
        self.age = age
        super().__init__(f"Invalid age: {age}. Age must be a positive integer.")


class InvalidEmailError(Exception):
    """Exception raised for invalid email format."""

    def __init__(self, email):
        self.email = email
        super().__init__(f"Invalid email format: {email}. Email must be in the format 'username@example.com'.")

In [183]:
# Define the Person class
class Person:
    def __init__(self, name, age, email):
        self.name = name
        # Validate age

        errors = [] # Empty List of errors to raise multiple error
        
        if age <= 0:
            errors.append(InvalidAgeError(age))
        
        # Validate email format
        if "@" not in email or "." not in email:
            errors.append(InvalidEmailError(email))
            
            
        if errors:
            raise Exception(errors)
        
        self.age = age   
        self.email = email

In [184]:
# Example usage

try:
    # Trying to create a person with invalid age
    person1 = Person("Alice", -25, "aliceexamplecom")
except Exception as e:
    for error in e.args[0]:
        print("The error is " + str(error))

The error is Invalid age: -25. Age must be a positive integer.
The error is Invalid email format: aliceexamplecom. Email must be in the format 'username@example.com'.

In [170]:
e = Exception([1,2],"mayank")

In [171]:
for err in e.args[1]:
    print(err)

m
a
y
a
n
k