In [ ]:
#try
#except
#finally

Python has a wide range of built-in exceptions that can be raised by the interpreter or by code in your program. Here is a list of some of the most common exceptions:

BaseException: The base class for all exceptions in Python.

Exception: The most common base class for non-system-exiting exceptions.

ArithmeticError: The base class for arithmetic-related exceptions, such as ZeroDivisionError and OverflowError.

AssertionError: Raised when an assert statement fails.

AttributeError: Raised when an object has no attribute (or method) of a given name.

EOFError: Raised when there is no input from an input() function or when a file is empty.

ImportError: Raised when an imported module cannot be found.

IndexError: Raised when an index is out of range.

KeyError: Raised when a key is not found in a dictionary.

KeyboardInterrupt: Raised when the user interrupts the program execution, usually by pressing Ctrl+C.

MemoryError: Raised when a program runs out of memory.

NameError: Raised when a name is not found in the local or global namespace.

OSError: The base class for operating system-related exceptions.

StopIteration: Raised when the next() method of an iterator has no more values.

SyntaxError: Raised when there is a syntax error in the program.

TypeError: Raised when an operation or function is applied to an object of inappropriate type.

ValueError: Raised when an operation or function receives an argument of inappropriate value.

ZeroDivisionError: Raised when attempting to divide by zero.

These are just a few examples of the many built-in exceptions available in Python. You can also create your own custom exceptions by subclassing one of the built-in exceptions.

In [ ]:
try:
    x = 1 / 0
except ArithmeticError:
    print("Error: an arithmetic error occurred")

# except ZeroDivisionError:
#     print("Error: division by zero")

Error: an arithmetic error occurred

In [ ]:
try:
    x = 5
    y = 10
    assert x > y, "x should be greater than y"
except AssertionError as error:
    print(error)

x should be greater than y

In [ ]:
try:
    my_str = "Hello, world!"
    my_str.sort()
except AttributeError:
    print("Error: string object has no attribute 'sort'")

Error: string object has no attribute 'sort'

In [ ]:
try:
    my_list = [1, 2, 3]
    print(my_list[3])
except IndexError:
    print("Error: index out of range")

Error: index out of range

In [ ]:
my_list = [1, 2, 3]
print(my_list[3])

IndexError: ignored

In [ ]:
try:
    my_dict = {"name": "Alice", "age": 30}
    print(my_dict["height"])
except KeyError:
    print("Error: key not found in dictionary")

Error: key not found in dictionary

In [ ]:
try:
    my_list = [0] * (10 ** 9)
except MemoryError:
    print("Error: not enough memory available")

In [ ]:
try:
    print(my_var)
except NameError:
    print("Error: variable not defined")

Error: variable not defined

In [ ]:
try:
    with open("nonexistent_file.txt") as f:
        contents = f.read()
except OSError:
    print("Error: could not open file")

Error: could not open file

In [ ]:
try:
    eval("x = 5")
except SyntaxError:
    print("Error: invalid syntax")

Error: invalid syntax

In [ ]:
try:
    result = 5 + "hello"
except TypeError:
    print("Error: unsupported operand type(s) for +: 'int' and 'str'")

Error: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
try:
    num = int("hello")
except ValueError:
    print("Error: could not convert string to integer")

Error: could not convert string to integer

In [ ]:
import os

def divide_by_zero():
    return 1/0

def get_item_by_index(my_list, index):
    return my_list[index]

def raise_assertion_error(value):
    assert value > 10, "Value must be greater than 10"

def raise_key_error(my_dict, key):
    return my_dict[key]

def read_file(file_path):
    with open(file_path, "r") as f:
        return f.read(1000000000)

def create_directory(dir_path):
    os.mkdir(dir_path)

try:
    divide_by_zero()
except ZeroDivisionError:
    print("Error: division by zero")

my_list = [1, 2, 3]
try:
    get_item_by_index(my_list, 5)
except IndexError:
    print("Error: list index out of range")

try:
    raise_assertion_error(5)
except AssertionError:
    print("Error: assertion failed")

my_dict = {"key1": "value1", "key2": "value2"}
try:
    raise_key_error(my_dict, "key3")
except KeyError:
    print("Error: key not found")

try:
    read_file("nonexistent_file.txt")
except FileNotFoundError:
    print("Error: file not found")

try:
    create_directory("/root/newdir")
except OSError:
    print("Error: failed to create directory")

Error: division by zero
Error: list index out of range
Error: assertion failed
Error: key not found
Error: file not found

In [ ]:
try:
    # code that may raise exceptions
    x = 1 / 0
    num = int("hello")
except ZeroDivisionError:
    # handle the ZeroDivisionError
    print("Cannot divide by zero!")
except ValueError:
    # handle the ValueError
    print("Invalid value provided!")

Invalid value provided!

In [ ]:
try:
    # code that may raise exceptions
    #x = 1 / 0
    num = int("hello")
except Exception as e:
  # handle any other exception
    print(f"Unexpected error: {e}")

Unexpected error: invalid literal for int() with base 10: 'hello'

In [ ]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
    lst = [1, 2, 3]
    index = int(input("Enter an index: "))
    print(f"The element at index {index} is {lst[index]}")
except ValueError:
    print("Invalid input. Please enter a valid integer.")
except ZeroDivisionError:
    print("Cannot divide by zero.")
except IndexError:
    print("Index out of range. Please enter a valid index.")

Enter a number: 0
Cannot divide by zero.

In [ ]:
import mysql.connector

try:
    # create a connection to the database
    conn = mysql.connector.connect(
        host="localhost",
        user="myusername",
        password="mypassword",
        database="mydatabase"
    )

    # create a cursor object
    cursor = conn.cursor()

    # execute a SQL query
    cursor.execute("SELECT * FROM mytable")

    # fetch the results
    results = cursor.fetchall()

except mysql.connector.Error as error:
    # handle the exception here
    # ...
    # print an error message
    print("Error: {}".format(error))

finally:
    # close the cursor and connection
    cursor.close()
    conn.close()

In [ ]:
print(x)
c= 2+6
print(c)

NameError: ignored

In [ ]:
try:
  print(x)
except:
  print('error')

finally:
  c=2+6
  print(c)

error
8

In [ ]:
try:
  print(x)

except:
  print("error occurs")

finally:
  c=8+9
  print(c)

error occurs
17

In [ ]:
#example

a=[2,4,6,'a',8,0]
for i in a:
  c=2/i
  print(c)

1.0
0.5
0.3333333333333333

TypeError: ignored

In [ ]:
import sys
a=[2,4,6,'a',8,0]
for i in a:
  try:
    c=2/i
    print(c)
  except Exception as e:
    print("error")

1.0
0.5
0.3333333333333333
error
0.25
error

In [ ]:
import sys
a=[2,4,6,'a',8,0]
for i in a:
  try:
    c=2/i
    print(c)
  except:
    print("error",sys.exc_info())

1.0
0.5
0.3333333333333333
error (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'int' and 'str'"), <traceback object at 0x78e7d1df4e00>)
0.25
error (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x78e7d1df4e00>)

In [ ]:
import sys
a=[1,2,3,4,'s',9,0]
for i in a:
  try:
    c=2/i
    print(c)

  except:
    print('error',sys.exc_info()[0])

2.0
1.0
0.6666666666666666
0.5
error <class 'TypeError'>
0.2222222222222222
error <class 'ZeroDivisionError'>

In [ ]:
import sys

randomList = ['a', 0, '2']

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)

    except:
        print("Oops!", sys.exc_info()[0], "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [ ]:
try:
    num1 = int(input("Enter First Number: "))
    num2 = int(input("Enter Second Number: "))

    result = num1 / num2

    print(result)
except ValueError as e:
    print("Invalid Input Please Input Integer...")
except ZeroDivisionError as e:
    print(e)

Enter First Number: w
Invalid Input Please Input Integer...

In [ ]:
# Program to handle multiple errors with one
# except statement
# Python 3

def fun(a):
	if a < 4:

		# throws ZeroDivisionError for a = 3
		b = a/(a-3)

	# throws NameError if a >= 4
	print("Value of b = ", b)

try:
	fun(3)
	fun(5)


# note that braces () are necessary here for
# multiple exceptions
except ZeroDivisionError:
	print("ZeroDivisionError Occurred and Handled")
except NameError:
	print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

In [ ]:
# user defined exception
# guess game
class Error(Exception):
  pass
class ToSmallNumber(Error):
  pass
class ToLargeNumber(Error):
  pass
num=10
while True:
  try:
    ch=int(input("Enter The Number"))
    if ch<10:
      raise ToSmallNumber
    elif ch>10:
      raise ToLargeNumber
    break
  except ToSmallNumber:
    print("you have entered an small number,please try again")
  except ToLargeNumber:
    print("you have entered an large number,please try again")

print("you entered the correct number")

In [ ]:
import re
string = ' 2102 1111'
# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'
# match variable contains a Match object.
match = re.search(pattern, string)
if match:
  print(match.group())
else:
  print("pattern not found")

102 11