In [36]:
#1.Explain the key features of python that makes it a popular choice for programming.
#Answer: There are many features of Python that makes it a popular choice for programming.Some of them are as follows:

#1.Simplicity and Readability:
#Python's Syntax are very simple with minimal use brackets and indentation and
#whitespaces which makes it more readable to beginners as well as experienced one.
#2.Extensive Standard Library:
#Python comes with an extensive standard library which provides various packages and module that offers vast range of functionalities.
#3.Versatilty:
#The versatility allows developers to use a single language for diverse projects, simplifying their workflow and 
#reducing the learning curve associated with switching between different languages.
#4.Cross Platfrom:
#Python supports Cross platform compatibility meaning the python program run on any device having IDE platfrom.
#5.Dynamic Language:
#Python is a dynamic language meaning there is no need to declare the type of variable.
#6.Object-Oriented Programming Language:
#Python supports OOPs concept such as Abstraction, Encapsulation, Polymorphism, Data Binding, functionality, etc

In [18]:
#2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
#Answer:Python Keywords are some predefined and reserved words in Python that have special meanings. 
#Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, or variable name. 
#All the keywords in Python are written in lowercase except True and False. There are 35 keywords in Python 3.11.


#Examples: 1."in" keyword
sent = "Hello..Welcome to Python Tutorial."
"y" in sent

True

In [14]:
#2. "and" keyword
a = 2
b = 3
a == b and a < b

False

In [15]:
#3. "or" keyword
a = 2
b = 3
a ==b or a < b

True

In [20]:
#3.Compare and contrast mutable and immutable objects in Python with examples.
#Answer:
#Mutable objects in Python are those that can be changed after they are created, like lists or dictionaries. 
#Immutable objects, on the other hand, cannot be changed after they are created, such as strings, integers, or tuples.

#Examples: Mutable Objects
list = [1, 2, 3, "hello", 8.9]
list

[1, 2, 3, 'hello', 8.9]

In [23]:
list[1] = "hii"
list

[1, 'hii', 3, 'hello', 8.9]

In [25]:
my_dict = {1 : "one",
           2 : "two",
           3 : "four"}
my_dict

{1: 'one', 2: 'two', 3: 'four'}

In [28]:
my_dict[3]= "three"
my_dict

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
#Example: Immutable Objects

tuple = ( 1, 2, 3)
tuple

(1, 2, 3)

In [32]:
tuple[0] = 2
tuple
#you cannot modify tuple.

TypeError: 'tuple' object does not support item assignment

In [31]:
#4.Discuss the different types of operators in Python and provide examples of how they are used.
#Answer:There are various types of operators in python such as,
#1.Assignment operator: It is used to assign the value to variable. 
#example:In below 'b' store the value or assigned value 6.5..In second example,'a' assigned value of 'b'.

b = 6.5
b

6.5

In [3]:
a = b
a

6.5

In [6]:
a >= b

False

In [4]:
#2.Arithmetic Operator:
#It is used for Arithmetic Operations such as addition, subtraction, multiplication, division, mod, etc..
#example:

a = 10
b = 2
c = a + b   #addition
d = a - b   #subtraction
e = a * b   #multiplication
f = a / b   #division
g = a % b   #mod
h = a ** b  #power
i = a // b  #floor

print("Addition:",c)
print("Subtraction:",d)
print("Multiplication:",e)
print("Division:",f)
print("Mod:",g)
print("Power:",h)
print("Floor:",i)

Addition: 12
Subtraction: 8
Multiplication: 20
Division: 5.0
Mod: 0
Power: 100
Floor: 5

In [5]:
#3.Comparison Operator: This operator is used to compare two values. example:
a = 4
b = 6
a == b

False

In [7]:
a != b

True

In [8]:
a <= b

True

In [9]:
a >= b

False

In [10]:
a < b

True

In [11]:
a > b

False

In [15]:
#4.Logical Operator: This operator combine the conditional statements. example:

x = 8 
y = 10
x > y and x == y

False

In [16]:
x > y or x == y

False

In [17]:
x < y and x != y

True

In [18]:
x != y

True

In [ ]:
#5.Explain the concept of type casting in Python with examples.
#Answer: Typecasting also known as type conversion.Typecasting is the process of changing the datatype of value. 
#Using type() function you can determine the datatype of value.
#Using type() you can convert the datatypes such as int() to float(), float() to int(), int() to string(), string() to int(), etc. 
#But there are some conditions regarding the typecasting such as, int() will convert into int datatype if the input is valid and
#same for string() datatype.
#There are two types of typecasting:Implicit and Explicit typecasting.

In [19]:
#Examples:
a = 67
a

67

In [20]:
type(a)

int

In [29]:
str(a)

'67'

In [31]:
b = ('hello')
type(b)

str

In [5]:
a = "2"
b = 3
int(a) + b

5

In [32]:
#How do conditional statements work in Python? Illustrate with examples.
#There are four types of conditional statements.

#1.if-statement:
#example:the code block executed if the condition within the block is true.

a = 30
if a >= 30:
    print("if-block is executed")

if-block is executed

In [33]:
if a < 30:
    print("if-block is executed")

In [34]:
#2.if-else statement: 
#example:the if block is executed if condition is true otherwise the else block is excuted.

a = 20
b = 50
if a == 30:
    print("if-block is executed")
else:
    print("else block is executed")

else block is executed

In [37]:
age = int(input("Enter your Age: "))
print(age)
if age >= 18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")

Enter your Age:  4

4
You are not eligible for voting

In [39]:
#3.if-elif statement:
#example: the if block is executed if the if-condition is true otherwise it moves to elif block check the condition and if it is true its executes.
#other wise else block executes

a = 0
b = 1
if a < b and a != b:
    print("a is smaller than b and a is not equals to b")
elif a > b and a == b:
    print("a greater than b and a is equals to b")
else:
    print("a is euals to b")

a is smaller than b and a is not equals to b

In [1]:
#4.Nested if-else :
#example: In this if block contains one more if-else block.If the condition satisfies the if-statement then it goes under the if-block and check the
#further if-condition and if it is true then its executes otherwise the else block is executed.If the if-condition is false then it moves to else block
#and executes it.

a = 8
b = 2
if a > 5:
    if b > 5:
        print("Both a and b is greater than 5")
    else:
        print("Only a is greater than 5 but b is smaller")
else:
    print("a is smaller than 5")

Only a is greater than 5 but b is smaller

Answer: Loops are the block of codes which executed repeatedly.There are two types of loops:

In [2]:
#7.Describe the different types of loops in Python and their use cases with examples.
#Answer: Loops are the block of codes which executed repeatedly.There are two types of loops:

#1.for loop : 

start = 1
end = 11
for i in range(start, end):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
start = 6
end = 61
for i in range(start, end):
    if i % 6 == 0:
        print(i)

6
12
18
24
30
36
42
48
54
60

In [1]:
#2.while loop

n = 7
i = 1
while i < n:
    print(i)
    i = i + 1

1
2
3
4
5
6

In [2]:
n = 21
i = 1
while i < n:
    if i % 2 == 0:
        print(i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20