In [16]:
import os
import pandas as pd
py_800_dir = '../data/CodeNet/python_800'

def read_file(file):
    with open(file, 'r') as f:
        return f.read()

data = []
for root, dirs, files in os.walk(py_800_dir):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'submission': read_file(os.path.join(root, file))})
py800_df = pd.DataFrame(data)
py800_df

,problem_id,submission_id,submission
0,p03494,s642429606,"n=int(input())\na=list(map(int,input().split()..."
1,p03494,s194658803,s = int(input())\ns = input().rstrip().split('...
2,p03494,s575045794,def lo2(n):\n count = 0\n while n%2==0:\...
3,p03494,s476321647,"a = int(input())\nb = list(map(int, input().sp..."
4,p03494,s965275653,"N = int(input())\nA = list(map(int,input().spl..."
...,...,...,...
239995,p02991,s289199974,import sys\ninput = sys.stdin.buffer.readline\...
239996,p02991,s007313054,"from collections import deque\n\nn, m = map(i..."
239997,p02991,s209638769,from collections import defaultdict as dd\nfro...
239998,p02991,s447876624,import sys\nfrom collections import deque\n\n\...
239999,p02991,s141075590,import sys\nimport math\nfrom collections impo...

In [17]:
import pandas as pd
import os

folder = '../data/CodeNet/metadata'
dataframes = []  # list to store all dataframes

for filename in os.listdir(folder):
    if filename.endswith('.csv') and filename != 'problem_list.csv':
        df = pd.read_csv(os.path.join(folder, filename))
        dataframes.append(df)

# concatenate all dataframes
metadata_df = pd.concat(dataframes, ignore_index=True)
py800_metadata = metadata_df[metadata_df['submission_id'].isin(py800_df['submission_id'])]
py800_metadata

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_91600/3461264102.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata_df = pd.concat(dataframes, ignore_index=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
1154,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN
1161,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN
1165,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN
1167,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN
1168,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13888503,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN
13888534,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN
13888537,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN
13888542,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN
13888604,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN

In [18]:
# group by problem_id and get the number of submissions for each problem
problem_submissions = py800_metadata.groupby('problem_id').size().reset_index(name='submissions')
problem_submissions

    problem_id  submissions
0       p00000          300
1       p00001          300
2       p00002          300
3       p00003          300
4       p00005          300
..         ...          ...
795     p04035          300
796     p04043          300
797     p04044          300
798     p04046          300
799     p04047          300

[800 rows x 2 columns]

In [19]:
# group the above dataframe by problem_id and count of number of wrong and correct submissions
grouped_df = py800_metadata.groupby('problem_id')['status'].value_counts().unstack().fillna(0)
grouped_df

status      Accepted
problem_id
p00000           300
p00001           300
p00002           300
p00003           300
p00005           300
...              ...
p04035           300
p04043           300
p04044           300
p04046           300
p04047           300

[800 rows x 1 columns]

In [20]:
# read problem_list.csv and make a df
problem_list_df = pd.read_csv(os.path.join(folder, 'problem_list.csv'))
# rename column id to problem_id
problem_list_df.rename(columns={'id': 'problem_id'}, inplace=True)

In [21]:
# enrich py800_metadata with problem_list_df['name']
py800_metadata = py800_metadata.merge(problem_list_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN

In [22]:
from bs4 import BeautifulSoup
import os

def extract_description(content, dataset_name):
    soup = BeautifulSoup(content, 'html.parser')
    if dataset_name == 'AIZU':
        first_p = soup.find('p')
        description = first_p.text.strip() if first_p else 'NA'
        return description
    elif dataset_name == 'AtCoder':
        first_section = soup.find('section')
        if first_section:
            h3 = first_section.find('h3')
            if h3:
                h3.extract()
            description = first_section.text.strip() if first_section.text else 'NA'
            return description
        
def get_dataset_name(problem_id):
    # gets a row from problem_list_df with the given problem_id
    row = problem_list_df[problem_list_df['problem_id'] == problem_id]
    if not row.empty:
        return row['dataset'].values[0]
            

folder = '../data/CodeNet/problem_descriptions'
contents = []

for filename in os.listdir(folder):
    if filename.endswith('.html'):
        with open(os.path.join(folder, filename), 'r') as f:
            content = f.read()
            dataset_name = get_dataset_name(filename.strip('.html'))
            description = extract_description(content, dataset_name)
            contents.append({"problem_id": filename.strip('.html'), "problem": description})

# create description_df
description_df = pd.DataFrame(contents)
description_df

# merge py800_metadata with description_df
py800_metadata = py800_metadata.merge(description_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,problem
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."

In [23]:
# group by py800_metadata by dataset and get the number of problems in each dataset
problems_in_dataset = py800_metadata.groupby('dataset')['problem_id'].nunique().reset_index(name='problems')
problems_in_dataset

   dataset  problems
0     AIZU        68
1  AtCoder       732

In [24]:
# randomly sample 10 problems from each dataset
sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)
sampled_problems

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_91600/114353386.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,problem
0,s828300405,p02410,u126202702,1443281527,Python,Python,py,Accepted,10.0,6496.0,237,18/18,Matrix Vector Multiplication,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which reads a $ n \times m$ ma...
1,s382072345,p02383,u261371912,1597063399,Python,Python3,py,Accepted,20.0,5608.0,1534,14/14,Dice I,AIZU,1000.0,131072.0,NaN,NaN,NaN,"Write a program to simulate rolling a dice, wh..."
2,s619594860,p02399,u920118302,1453812106,Python,Python3,py,Accepted,30.0,7664.0,104,10/10,A / B Problem,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which reads two integers a and...
3,s103920477,p02405,u427088273,1465692993,Python,Python3,py,Accepted,30.0,7732.0,450,4/4,Print a Chessboard,AIZU,1000.0,131072.0,NaN,NaN,NaN,Draw a chessboard which has a height of H cm a...
4,s856576171,p02261,u823513038,1597304278,Python,Python3,py,Accepted,20.0,5620.0,610,10/10,Stable Sort,AIZU,1000.0,131072.0,NaN,NaN,NaN,Let's arrange a deck of cards. There are total...
5,s892157085,p02404,u277375424,1540374806,Python,Python3,py,Accepted,20.0,5624.0,360,2/2,Print a Frame,AIZU,1000.0,131072.0,NaN,NaN,NaN,Draw a frame which has a height of H cm and a ...
6,s673750621,p02406,u997158994,1441003772,Python,Python,py,Accepted,10.0,6436.0,87,8/8,Structured Programming,AIZU,1000.0,131072.0,NaN,NaN,NaN,"In programming languages like C/C++, a goto st..."
7,s010373163,p02419,u248424983,1502160594,Python,Python3,py,Accepted,20.0,7464.0,156,4/4,Finding a Word,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which reads a word W and a tex...
8,s521832804,p02411,u508732591,1482285995,Python,Python3,py,Accepted,20.0,7644.0,493,4/4,Grading,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which reads a list of student ...
9,s761969353,p02422,u395334793,1491908896,Python,Python3,py,Accepted,20.0,7684.0,583,16/16,Transformation,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which performs a sequence of c...
10,s813321918,p02771,u200847118,1591601482,Python,Python (3.4.3),py,Accepted,17.0,3064.0,206,NaN,AtCoder Beginner Contest 155 - Poor,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,A triple of numbers is said to be poor when tw...
11,s684971518,p03657,u914797917,1586717221,Python,Python (3.4.3),py,Accepted,17.0,2940.0,188,NaN,AtCoder Beginner Contest 067 - Sharing Cookies,AtCoder,2000.0,262144.0,NaN,NaN,NaN,Snuke is giving cookies to his three goats.\nH...
12,s922304730,p02935,u241159583,1592528839,Python,Python (3.8.2),py,Accepted,24.0,9124.0,163,NaN,AtCoder Beginner Contest 138 - Alchemist,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,You have a pot and N ingredients. Each ingredi...
13,s487055760,p02632,u581187895,1592864724,Python,PyPy3 (7.3.0),py,Accepted,643.0,226648.0,1021,NaN,AtCoder Beginner Contest 171 - Strivore,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,How many strings can be obtained by applying t...
14,s863508160,p03418,u070201429,1593996963,Python,PyPy3 (7.3.0),py,Accepted,82.0,65436.0,214,NaN,AtCoder Beginner Contest 090 - Remainder Reminder,AtCoder,2000.0,262144.0,NaN,NaN,NaN,Takahashi had a pair of two positive integers ...
15,s029579890,p02879,u589969467,1597068651,Python,Python (3.8.2),py,Accepted,28.0,9060.0,84,NaN,AtCoder Beginner Contest 144 - 9x9,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Having learned the multiplication table, Takah..."
16,s109799813,p02742,u555587832,1599611918,Python,Python (3.8.2),py,Accepted,27.0,9092.0,112,NaN,Panasonic Programming Contest 2020 - Bishop,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,We have a board with H horizontal rows and W v...
17,s992668482,p02830,u764600134,1592354512,Python,Python (3.4.3),py,Accepted,17.0,3060.0,342,NaN,AtCoder Beginner Contest 148 - Strings with th...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Given are strings s and t of length N each, bo..."
18,s029993199,p02787,u678167152,1593133080,Python,PyPy3 (7.3.0),py,Accepted,322.0,74608.0,351,NaN,AtCoder Beginner Contest 153 - Crested Ibis vs...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Ibis is fighting with a monster.\nThe health o...
19,s021918262,p03721,u207799478,1591930320,Python,PyPy3 (2.4.0),py,Accepted,645.0,66260.0,898,NaN,AtCoder Beginner Contest 061 - Big Array,AtCoder,2000.0,262144.0,NaN,NaN,NaN,There is an empty array.\nThe following N oper...

In [25]:
# save py800_metadata to a csv file
py800_metadata.to_json('../data/CodeQualData/py800_metadata.jsonl', orient='records', lines=True)

In [26]:
# just get the problem_id and description columns from py800_metadata
py800_metadata_problems_description = py800_metadata[['problem_id', 'problem']].drop_duplicates()
py800_metadata_problems_description

       problem_id                                            problem
0          p03697  You are given two integers A and B as the inpu...
300        p02576  Takahashi loves takoyaki - a ball-shaped snack...
600        p03126  Katsusando loves omelette rice.\nBesides, he l...
900        p02238  Depth-first search (DFS) follows the strategy ...
1200       p02953  There are N squares arranged in a row from lef...
...           ...                                                ...
238500     p02553  Given are integers a,b,c and d.\nIf x and y ar...
238800     p03665  There are N bags of biscuits. The i-th bag con...
239100     p03103  Hearing that energy drinks increase rating in ...
239400     p03671  Snuke is buying a bicycle.\nThe bicycle of his...
239700     p02584  Takahashi, who lives on the number line, is no...

[800 rows x 2 columns]

In [27]:
# save py800_metadata_problems_description to a jsonl file
py800_metadata_problems_description.to_json('../data/CodeQualData/py800_metadata_problem_desc.jsonl', orient='records', lines=True)

In [31]:
# from py800_df, randomly sample 15 submissions from each problem
sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=2)).reset_index(drop=True)
# for each row, copy files from py_800_dir to a new directory called py800_sampled
for index, row in sampled_submissions.iterrows():
    problem_id = row['problem_id']
    submission_id = row['submission_id']
    src = os.path.join(py_800_dir, problem_id, submission_id + '.py')
    dst = os.path.join('../data/CodeQualData/py800_sampled_2each', problem_id, submission_id + '.py')
    os.makedirs(os.path.dirname(dst), exist_ok=True)
    os.system(f'cp {src} {dst}')

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_91600/2035560606.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=2)).reset_index(drop=True)

In [29]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the number of lines of code
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            with open(os.path.join(root, file), 'r') as f:
                lines = f.readlines()
                data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'lines_of_code': len(lines)})
            
#order by descending order of lines_of_code
lines_of_code_df = pd.DataFrame(data)
lines_of_code_df = lines_of_code_df.sort_values(by='lines_of_code', ascending=False)
lines_of_code_df

      problem_id submission_id  lines_of_code
1529      p03263    s081852819            213
9781      p02889    s264554810            204
11256     p02763    s028612805            201
988       p02585    s216662009            187
254       p02577    s401640981            184
...          ...           ...            ...
7338      p03030    s335400674              1
1836      p02717    s013147790              1
680       p02711    s261077690              1
2772      p02664    s946768430              1
10853     p03079    s814897440              1

[11998 rows x 3 columns]

In [30]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the size of the file
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'size': os.path.getsize(os.path.join(root, file))})

#order by descending order of size
size_df = pd.DataFrame(data)
size_df = size_df.sort_values(by='size', ascending=False)
size_df

      problem_id submission_id   size
10257     p02595    s640688773  18197
11256     p02763    s028612805   5675
4440      p03108    s064812745   5311
972       p03033    s924887468   5230
9224      p02618    s552340714   4973
...          ...           ...    ...
7137      p03860    s137913429     24
8910      p02645    s588243125     23
5437      p02705    s830498560     23
10678     p03643    s424086712     22
10685     p03643    s785696424     21

[11998 rows x 3 columns]