In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('updated_udemy_courses.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3368 entries, 0 to 3367
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3368 non-null   int64
 1   course_title         2514 non-null   object
 2   url                  3368 non-null   object
 3   is_paid              3368 non-null   bool
 4   price                3368 non-null   int64
 5   num_subscribers      3368 non-null   int64
 6   num_reviews          3368 non-null   int64
 7   num_lectures         3368 non-null   int64
 8   level                3368 non-null   object
 9   content_duration     3368 non-null   float64
 10  published_timestamp  3368 non-null   object
 11  subject              2388 non-null   object
 12  rating               2730 non-null   object
 13  number_of_ratings    1930 non-null   object
 14  update_date          1975 non-null   object
 15  number_of_students   1925 non-null   object
dtypes: bool(1), float64(1), int64(5), object(9)
memory usage: 398.1+ KB

In [3]:
data.drop(['is_paid'], axis=1, inplace=True)
data.shape

(3368, 15)

In [4]:
data.drop(['course_id'], axis=1, inplace=True)
data.shape

(3368, 14)

In [5]:
data['number_of_students'].value_counts(dropna=False)

number_of_students
NaN     1443
174        4
1410       4
1156       4
122        3
        ...
826        1
2730       1
612        1
1431       1
1061       1
Name: count, Length: 1701, dtype: int64

In [6]:
data[data['number_of_students'].isna()]
#corresponds to courses that do not exist anymore or url have been assigned to another page than a course description
# considering that I can not extract updated information from them I'll drop those rows

,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,rating,number_of_ratings,update_date,number_of_students
5,NaN,https://www.udemy.com/trading-penny-stocks-a-g...,150,9221,138,25,All Levels,3.000000,2014-05-02T15:13:30Z,NaN,alert,NaN,NaN,NaN
8,This is a private course.,https://www.udemy.com/day-trading-stock-option...,195,5172,34,38,Expert Level,2.500000,2015-05-28T00:14:03Z,NaN,NaN,NaN,NaN,NaN
11,NaN,https://www.udemy.com/trading-options-using-mo...,200,1380,42,17,All Levels,1.000000,2016-10-18T22:52:31Z,NaN,alert,NaN,NaN,NaN
14,NaN,https://www.udemy.com/hedge-fund-strategy-trad...,200,294,19,42,All Levels,7.000000,2017-04-28T16:41:44Z,NaN,alert,NaN,NaN,NaN
16,NaN,https://www.udemy.com/learn-basic-technical-an...,20,4919,79,16,Beginner Level,1.500000,2016-01-08T17:21:26Z,NaN,alert,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,XML Courses,https://www.udemy.com/xpath-basics-for-beginners/,40,878,6,8,All Levels,0.616667,2016-09-27T15:20:47Z,Search for anything,NaN,NaN,content,NaN
3361,This is a private course.,https://www.udemy.com/csharpyahoostockdownloader/,20,436,36,22,Intermediate Level,1.500000,2015-11-19T17:22:47Z,NaN,NaN,NaN,NaN,NaN
3363,jQuery Courses,https://www.udemy.com/easy-jquery-for-beginner...,100,1040,14,21,All Levels,2.000000,2016-06-14T17:36:46Z,Search for anything,NaN,NaN,NaN,NaN
3364,NaN,https://www.udemy.com/how-to-make-a-wordpress-...,25,306,3,42,Beginner Level,3.500000,2017-03-10T22:24:30Z,NaN,alert,NaN,NaN,NaN
3366,NaN,https://www.udemy.com/css-animations-create-am...,50,300,31,38,All Levels,3.000000,2016-08-11T19:06:15Z,NaN,alert,NaN,NaN,NaN

In [7]:
data['url'][3363]

'https://www.udemy.com/easy-jquery-for-beginner-learn-from-scratch-step-by-step/'

In [8]:
data.dropna(subset=['number_of_students'], inplace=True)
data.shape

(1925, 14)

In [9]:
data.isna().sum()

course_title           0
url                    0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
rating                 0
number_of_ratings      2
update_date            8
number_of_students     0
dtype: int64

In [10]:
for column in data.columns:
    display(data[column].value_counts(dropna=False))

course_title
HTML5 Specialist: Comprehensive HTML5 Training                 2
Learn Web Designing & HTML5/CSS3 Essentials in 4-Hours         2
Time Value of Money: Different Dimensions of Value of Money    2
RESTful API with Laravel: Build a Real API with Laravel        2
Understanding Financial Statements                             2
                                                              ..
How to Draw and Sketch for Absolute Beginners pt 1             1
Logo Design Masterclass: Learn Logo Design and Illustrator     1
How to Design a Logo - a Beginners Course                      1
Sketch from A to Z (2022): Become an app designer              1
Using MODX CMS to Build Websites: A Beginner's Guide           1
Name: count, Length: 1919, dtype: int64

url
https://www.udemy.com/understanding-financial-statements/                    2
https://www.udemy.com/essentials-of-money-value/                             2
https://www.udemy.com/cfa-level-2-quantitative-methods/                      2
https://www.udemy.com/build-beautiful-html5-website/                         2
https://www.udemy.com/go-programming-language/                               1
                                                                            ..
https://www.udemy.com/graphic-design/                                        1
https://www.udemy.com/drawing-and-sketching-for-beginners/                   1
https://www.udemy.com/become-a-professional-logo-designer/                   1
https://www.udemy.com/how-to-design-a-logo-a-beginners-course/               1
https://www.udemy.com/using-modx-cms-to-build-websites-a-beginners-guide/    1
Name: count, Length: 1921, dtype: int64

price
20     334
50     241
200    201
40     128
195    100
100     96
95      94
30      92
25      79
150     65
45      61
60      60
75      57
35      52
120     34
65      26
55      22
70      20
80      19
145     19
85      17
125     15
180     14
115     13
90      10
175     10
190      8
140      7
110      7
105      6
185      5
165      5
160      3
135      2
170      2
130      1
Name: count, dtype: int64

num_subscribers
0       22
2       10
32       8
3        8
50       8
        ..
3481     1
711      1
1418     1
3390     1
901      1
Name: count, Length: 1382, dtype: int64

num_reviews
0       74
3       62
2       58
6       57
1       57
        ..
1017     1
655      1
820      1
662      1
113      1
Name: count, Length: 391, dtype: int64

num_lectures
16     54
19     52
20     51
15     51
25     50
       ..
212     1
395     1
527     1
402     1
140     1
Name: count, Length: 211, dtype: int64

level
All Levels            1040
Beginner Level         622
Intermediate Level     233
Expert Level            30
Name: count, dtype: int64

content_duration
1.50     262
1.00     243
2.00     209
2.50     161
3.00     133
        ...
21.00      1
68.50      1
78.50      1
0.65       1
66.50      1
Name: count, Length: 97, dtype: int64

published_timestamp
2016-12-15T14:56:17Z    2
2016-05-16T18:28:30Z    2
2017-07-02T14:29:35Z    2
2013-01-03T00:55:31Z    2
2017-01-17T22:30:33Z    1
                       ..
2015-11-09T21:17:04Z    1
2017-01-25T22:07:38Z    1
2015-08-18T18:56:04Z    1
2012-07-25T13:41:42Z    1
2014-09-28T19:51:11Z    1
Name: count, Length: 1921, dtype: int64

subject
Development                     664
Finance & Accounting            562
Music                           308
Design                          276
Música                           21
財務会計                             14
Finanças e contabilidade         12
Finanzas y contabilidad          11
Finanzen & Rechnungswesen         8
デザイン                              6
Business                          5
Diseño                            4
Tasarım                           4
Finance et comptabilité           4
音楽                                4
Office Productivity               3
Fotografia e vídeo                3
Финансы и бухгалтерский учет      3
Musik                             3
IT & Software                     3
Lifestyle                         2
Musique                           2
Finanza e contabilità             1
디자인                               1
Teaching & Academics              1
Name: count, dtype: int64

rating
4.6          193
4.5          186
4.4          185
4.3          153
4.7          132
4.2          127
4.0          124
4.1          113
3.9           94
4.8           92
3.7           72
3.8           63
3.6           63
3.5           38
4.9           38
5.0           25
3.4           24
3.3           22
3.0           15
3.2           14
4,7           12
3.1           10
4,4           10
4,5           10
4,3            9
4,8            9
:              7
3,9            6
4,1            6
4,2            6
4.2（5段階中）      6
2.9            6
4,6            6
4,0            4
3,7            4
2.7            4
2.6            3
0.0            3
3,6            3
3.8（5段階中）      2
4.5（5段階中）      2
4,9            2
5.0（5段階中）      2
3,5            2
4.3（5段階中）      2
3.6（5段階中）      2
3.7（5段階中）      2
4.0（5段階中）      2
3,8            1
4.4（5段階中）      1
5점             1
3.3（5段階中）      1
2.4            1
3.9（5段階中）      1
5,0            1
0.0（5段階中）      1
1.4            1
2.5            1
Name: count, dtype: int64

number_of_ratings
hr       52
9        19
15       19
10       18
21       18
         ..
3,584     1
579       1
543       1
564       1
669       1
Name: count, Length: 794, dtype: int64

update_date
[Auto]     59
1/2017     52
5/2024     46
4/2016     43
2/2016     43
           ..
4/2012      1
3/2014      1
3/2013      1
12/2012     1
1/2013      1
Name: count, Length: 145, dtype: int64

number_of_students
174     4
1410    4
1156    4
134     3
106     3
       ..
826     1
2730    1
612     1
1431    1
1061    1
Name: count, Length: 1700, dtype: int64

In [11]:
#cleaning 'subject'
music_list=['Música', '音楽', 'Musik', 'Musique']
finance_list=["財務会計", "Finanças e contabilidade", "Finanzas y contabilidad", "Finanzen & Rechnungswesen", "Finance et comptabilité","Финансы и бухгалтерский учет","Finanza e contabilità"]
dev_list=["デザイン","Tasarım","디자인", "IT & Software"]
design_list=["Diseño","Fotografia e vídeo"]

def clean_subject(x):
    if x in music_list:
        return 'Music'
    elif x in finance_list:
        return 'Finance & Accounting'
    elif x in dev_list:
        return 'Development'
    elif x in design_list:
        return 'Design'
    elif x == 'Office Productivity':
        return 'Business'
    elif x == 'Lifestyle':
        return 'Health'
    else:
        return x
        
data['subject'] = list(map(clean_subject, data['subject']))
data['subject'].value_counts(dropna=False)

subject
Development             678
Finance & Accounting    615
Music                   338
Design                  283
Business                  8
Health                    2
Teaching & Academics      1
Name: count, dtype: int64

In [12]:
#cleaning 'rating'
import re

def clean_parenthesis(x):
    if x==':':
        return float('nan')
    elif x!=':':
        pattern='（5段階中）'
        s_new = re.sub(pattern,'',x)
        s_new = s_new.replace(',','.')
        pattern_2 = '점'
        s_new = re.sub(pattern_2,'.0',s_new)
        return s_new

data['rating'] = list(map(clean_parenthesis, data['rating']))
data['rating'].value_counts(dropna=False)

rating
4.6    199
4.5    198
4.4    196
4.3    164
4.7    144
4.2    139
4.0    130
4.1    119
4.8    101
3.9    101
3.7     78
3.6     68
3.8     66
4.9     40
3.5     40
5.0     29
3.4     24
3.3     23
3.0     15
3.2     14
3.1     10
NaN      7
2.9      6
0.0      4
2.7      4
2.6      3
2.4      1
1.4      1
2.5      1
Name: count, dtype: int64

In [13]:
#replacing Nan with the rating mean
data['rating'] = data['rating'].astype(float)
data['rating'].fillna(data['rating'].mean(), inplace=True)
data['rating'].value_counts(dropna=False)

rating
4.600000    199
4.500000    198
4.400000    196
4.300000    164
4.700000    144
4.200000    139
4.000000    130
4.100000    119
4.800000    101
3.900000    101
3.700000     78
3.600000     68
3.800000     66
4.900000     40
3.500000     40
5.000000     29
3.400000     24
3.300000     23
3.000000     15
3.200000     14
3.100000     10
4.226799      7
2.900000      6
0.000000      4
2.700000      4
2.600000      3
2.400000      1
1.400000      1
2.500000      1
Name: count, dtype: int64

In [14]:
# cleaning 'number_of_ratings'

def clean_num_rating(x):
    if type(x)!=float:
        pattern='件の評価）|時間|hr|min|평가'
        matches = re.findall(pattern, x, flags=re.IGNORECASE)
        if len(matches)>0:
            return float('nan')
        else:
            return x
    else:
        return x
    
data['number_of_ratings'] = list(map(clean_num_rating, data['number_of_ratings']))
data['number_of_ratings'].value_counts(dropna=False)

number_of_ratings
NaN       96
9         19
15        19
10        18
21        18
          ..
3.194      1
154        1
11,018     1
1,436      1
669        1
Name: count, Length: 759, dtype: int64

In [15]:
def clean_separator(x):
    if type(x)==float:
        return x
    else:
        s_new = x.replace(',','')
        return s_new

data['number_of_ratings'] = list(map(clean_separator, data['number_of_ratings']))
data['number_of_ratings'].value_counts(dropna=False)

number_of_ratings
NaN      96
9        19
15       19
10       18
21       18
         ..
3.194     1
154       1
11018     1
1436      1
669       1
Name: count, Length: 759, dtype: int64

In [16]:
#replacing Nan with the nuumber_of_rating mean
data['number_of_ratings'] = data['number_of_ratings'].astype(float)
data['number_of_ratings'].fillna(data['number_of_ratings'].mean(), inplace=True)
data['number_of_ratings'].value_counts(dropna=False)

number_of_ratings
1728.286554     96
9.000000        19
15.000000       19
10.000000       18
21.000000       18
                ..
3.194000         1
154.000000       1
11018.000000     1
1436.000000      1
669.000000       1
Name: count, Length: 759, dtype: int64

In [17]:
#cleaning update_date
def clean_date(x):
    if x=='[Auto]':
        return 'Unknown'
    else:
        return x
data['update_date'] = list(map(clean_date, data['update_date']))
data['update_date'].fillna('Unknown', inplace=True)
data['update_date'].value_counts(dropna=False)

update_date
Unknown    67
1/2017     52
5/2024     46
2/2016     43
4/2016     43
           ..
8/2014      1
4/2012      1
12/2012     1
1/2013      1
3/2013      1
Name: count, Length: 144, dtype: int64

In [18]:
#clean number_of_students
def clean_separator2(x):
    if type(x)!=float:
        x = x.replace('.','')
        pattern='人の受講生|명의'
        matches = re.findall(pattern, x, flags=re.IGNORECASE)
        if len(matches)>0:
            return float('nan')
        else:
            return x
    else:
        return x

data['number_of_students'] = list(map(clean_separator2, data['number_of_students']))
data['number_of_students'] = data['number_of_students'].astype(float)
data['number_of_students'].isna().sum()

25

In [19]:
#replacing Nan with the nuumber_of_students mean
data['number_of_students'].fillna(data['number_of_students'].mean(), inplace=True)
data['number_of_students'].value_counts(dropna=False)

number_of_students
12469.926316    25
1410.000000      4
1156.000000      4
174.000000       4
404.000000       3
                ..
60135.000000     1
3925.000000      1
1611.000000      1
5541.000000      1
1061.000000      1
Name: count, Length: 1670, dtype: int64

In [20]:
#creating a column for time since course creation
def time_since(x):
    s_new=x.split('-')
    return s_new[0]

data['time_since_creation'] = list(map(time_since, data['published_timestamp']))

In [21]:
data['time_since_creation']=data['time_since_creation'].astype(int)
def calculate_time(x):
    time=2024-x
    return time
data['time_since_creation'] = list(map(calculate_time, data['time_since_creation']))

In [22]:
data['time_since_creation'].value_counts(dropna=False)

time_since_creation
8     651
9     536
7     361
10    227
11    116
12     30
13      4
Name: count, dtype: int64

In [23]:
data.isna().sum()

course_title           0
url                    0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
rating                 0
number_of_ratings      0
update_date            0
number_of_students     0
time_since_creation    0
dtype: int64

In [24]:
data.dtypes

course_title            object
url                     object
price                    int64
num_subscribers          int64
num_reviews              int64
num_lectures             int64
level                   object
content_duration       float64
published_timestamp     object
subject                 object
rating                 float64
number_of_ratings      float64
update_date             object
number_of_students     float64
time_since_creation      int64
dtype: object

In [25]:
data.to_csv('cleaned_data.csv', index=False)

In [26]:
data_2=pd.read_csv('cleaned_data.csv')
data_2

,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,rating,number_of_ratings,update_date,number_of_students,time_since_creation
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Finance & Accounting,3.6,114.0,2/2017,2612.0,7
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Finance & Accounting,3.7,1436.0,7/2017,4292.0,7
2,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Finance & Accounting,4.6,1636.0,5/2024,12820.0,8
3,Beginner to Pro - Excel Tutorial,https://www.udemy.com/complete-excel-finance-c...,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Finance & Accounting,4.0,551.0,8/2020,17498.0,7
4,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Finance & Accounting,4.7,200.0,11/2022,21164.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,Building Better APIs with GraphQL,https://www.udemy.com/building-better-apis-wit...,50,555,89,16,All Levels,2.5,2015-11-29T22:02:02Z,Development,4.1,145.0,12/2015,932.0,9
1921,Learn Grunt with Examples: Automate Your Front...,https://www.udemy.com/learn-grunt-automate-you...,20,496,113,17,All Levels,1.0,2014-12-19T21:38:54Z,Development,3.6,231.0,12/2014,906.0,10
1922,jQuery UI in Action: Build 13 jQuery UI Projects,https://www.udemy.com/jquery-ui-practical-buil...,150,382,28,140,All Levels,15.5,2016-10-10T22:00:32Z,Development,4.6,222.0,11/2021,3205.0,8
1923,Learn and Build using Polymer LitElement (beyo...,https://www.udemy.com/learn-and-build-using-po...,40,513,169,48,All Levels,3.5,2015-12-30T16:41:42Z,Development,3.3,669.0,10/2018,2405.0,9
1924,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,45,901,36,20,Beginner Level,2.0,2014-09-28T19:51:11Z,Development,4.0,73.0,10/2014,1061.0,10