In [1]:
print ("hello world")

hello world

In [3]:
print (5 + 3)

8

In [4]:
print (4-2)

2

In [5]:
print ("good morning")

good morning

In [8]:
p = 100
r = 4
t = 2

In [9]:
si = (p * r * t)/100

In [10]:
print ("simple interest is = ", si)

simple interest is =  8.0

P = 9
r = 2
t = 2

In [12]:
p = 9
r = 2 
t = 5

In [13]:
si = (p*r*t)/100

In [14]:
print ("simple interest is = ", si)

simple interest is =  0.9

In [15]:
name = input ()

prasad

In [16]:
print (name)

prasad

In [17]:
print ('hello there, ', name)

hello there,  prasad

In [18]:
name_1 = input()
name_2 = input()
name_3 = input()

prasad
sourab
rohit

In [19]:
print ('these three ppl where involved int he shifting ', name_1, name_2, name_3)

these three ppl where involved int he shifting  prasad sourab rohit

In [20]:
print ('hello', input())

prasad
hello prasad

In [22]:
print('Prasad\'s is batman')

# Backshash \ is know as the 'escape character'

Prasad's is batman

# comment

In [ ]:
# comments are statments that are written inside the code but they are ignored by the interpreter. 
# These are written to make the code understandable and readable.

# Data types 

intergers - int
Floating point numbers - float
String - str
Boolean Type - bool
None type

In [23]:
a = 100

In [24]:
print(type(a))

<class 'int'>

In [ ]:
# variable a is storing integer type of data

In [26]:
b = 19.7474

In [27]:
print(type(b))

<class 'float'>

In [28]:
c = ' I am batman '

In [29]:
print (type(c))

<class 'str'>

In [30]:
d = 'h'

In [31]:
print (type(d))

<class 'str'>

In [35]:
e = True 
f = False

In [37]:
print (type(e), type(f))

<class 'bool'> <class 'bool'>

In [38]:
print (e, f)

True False

In [39]:
g = None

## none denots NULL value.

In [40]:
print (type(g))

<class 'NoneType'>

In [ ]:
#variable name should always begin with a character or underscore

#name1 is allowed, whereas 1name is not allowed

#special characters are not allowed in naming variables (underscore is an exception)

#name1, name-1 is not allowed, name_1 is allowed

Typecasting - converting one form to another

In [41]:
f = 7.4


#converrt this float number to an interger

In [42]:
i = int(f)

In [43]:
print(i)

7

In [44]:
print (type(i))

<class 'int'>

In [46]:
i2 = int(f)
i3 = int(10.896)
i4 = int(-5.3)

In [47]:
print (i2, i3, i4)

7 10 -5

In [48]:
print (type(i2), type(i3), type(i4))

<class 'int'> <class 'int'> <class 'int'>

In [ ]:
#convert int to float

In [49]:
a= 10
b = float(a)

In [51]:
print(a,type(a))
print (type(b))

10 <class 'int'>
<class 'float'>

In [52]:
c = int(7.664)
print (c)

7

In [ ]:
## string to int, and int to string

In [53]:
s = "54656"

In [55]:
i = int (s)

In [56]:
print(i, type(s))

54656 <class 'str'>

In [57]:
print(type(i))

<class 'int'>

In [58]:
s = '3524str'

In [59]:
print(type(s))

<class 'str'>

In [60]:
f = int(s)

ValueError: invalid literal for int() with base 10: '3524str'

In [61]:
x = 47564
s = str(x)

In [62]:
print (type(x), type(s))

<class 'int'> <class 'str'>

## convert float to str

In [63]:
s2 = str(8.3434)

In [64]:
s2

'8.3434'

In [ ]:
#range of numbers


#python has no range in it's numbers
#only limitation will of the machine

# operators

In [ ]:
a = 2+5

#addition operator

In [ ]:
b = 5-4  #subtraction
c = 5*2  # Multiplication
d = 5/2 # Division
e = 5//2 #division but only the interger part
g = 5%2 # modulo

f = 5**2 # power

In [65]:
a = 5/2

In [66]:
print (a)

2.5

In [68]:
print(type(a))

<class 'float'>

In [69]:
a = 5//2

In [70]:
print (type (a), a)

<class 'int'> 2

In [71]:
a = 10 **(1/2)

In [72]:
print (a) # Square root

3.1622776601683795

# Programming Fundamentals 2

### Print statement - args, end, sep

In [1]:
print('hellow world')

hellow world

In [3]:
print ('hello', 'world', 'hi', ' there')
print ('python is amazing')

hello world hi  there
python is amazing

In [5]:
print ('hello', 'world', 'hi', ' there', sep= '=')

#by default the vale of sep= ' '

print ('python is amazing')

hello=world=hi= there
python is amazing

In [6]:
print ('hello', 'world', 'hi', ' there', end=' and ')

#by default the value of end = '\n' i.e it is in the end of the statement

print ('python is amazing')

hello world hi  there and python is amazing

In [7]:
print ('hello', 'world', 'hi', ' there', sep='+', end=' and ')
print ('python is amazing')

hello+world+hi+ there and python is amazing

## Multiline strings, comments

In [8]:
a = 'hello world'
b = 'hello there'

In [9]:
print (a, b)

hello world hello there

In [10]:
print (type(a), type(b))

<class 'str'> <class 'str'>

In [13]:
print (""""Here is a paragraph about Python:
Python is a popular general-purpose programming language. It is used for web development, software development, mathematics, system scripting, and more. Python is an interpreted language, which means that it does not need to be compiled before it can be run. This makes Python a good choice for rapid prototyping and development. Python is also a very versatile language, and it can be used for a wide variety of tasks.
Here are some of the key features of Python:
Easy to learn:
Python is a relatively easy language to learn, especially for beginners. It has a simple syntax and a large number of libraries and tools available.""")

"Here is a paragraph about Python:
Python is a popular general-purpose programming language. It is used for web development, software development, mathematics, system scripting, and more. Python is an interpreted language, which means that it does not need to be compiled before it can be run. This makes Python a good choice for rapid prototyping and development. Python is also a very versatile language, and it can be used for a wide variety of tasks.
Here are some of the key features of Python:
Easy to learn:
Python is a relatively easy language to learn, especially for beginners. It has a simple syntax and a large number of libraries and tools available.

In [14]:
a = """Here is a paragraph about Python:
Python is a popular general-purpose programming language. It is used for web development, software development, mathematics, system scripting, and more. Python is an interpreted language, which means that it does not need to be compiled before it can be run. This makes Python a good choice for rapid prototyping and development. Python is also a very versatile language, and it can be used for a wide variety of tasks.
Here are some of the key features of Python:
Easy to learn:
Python is a relatively easy language to learn, especially for beginners. It has a simple syntax and a large number of libraries and tools available."""

In [15]:
print (a)

Here is a paragraph about Python:
Python is a popular general-purpose programming language. It is used for web development, software development, mathematics, system scripting, and more. Python is an interpreted language, which means that it does not need to be compiled before it can be run. This makes Python a good choice for rapid prototyping and development. Python is also a very versatile language, and it can be used for a wide variety of tasks.
Here are some of the key features of Python:
Easy to learn:
Python is a relatively easy language to learn, especially for beginners. It has a simple syntax and a large number of libraries and tools available.

In [ ]:
## need to use triple quotes to print a paragraph ( """ """ ; or ''' ''')

In [ ]:
## this below is called as multiline comment

In [16]:
'''
this is some random text
over here
it could be anything
'''

'\nthis is some random text\nover here\nit could be anything\n'

# Branching

In [17]:
age = 10

In [18]:
if age >=18:
    print ('eligible to vote')    #the space left for the print is called induntation
else:
    print ('not eligible')

not eligible

In [19]:
age = 49

if age >=18:
    print ('eligible to vote')
    print ('can be alowed inside')
else:
    print ('not eligible')

eligible to vote
can be alowed inside

# elif

In [21]:
age = 15

if age >=18:
    print ('eligible to vote')
    print ('can be alowed inside')
    
elif age >=10:
    print ('above age of 10, still not eligible to vote')
    
else:
    print ('not eligible')

above age of 10, still not eligible to vote

In [22]:
age = 9

if age >=18:
    print ('eligible to vote')
    print ('can be alowed inside')
    
elif age >=10:
    print ('above age of 10, still not eligible to vote')
    
else:
    print ('not eligible')

not eligible

In [24]:
age = 92

if age >=90:
    print ('Cannot vote, above age limit')
elif age >= 18:
    print ('Eligible to vote')
else:
    print ('Not Eligible to vote')

Cannot vote, above age limit

In [27]:
age = 92
weather = 'rainy'

if age >=90:
    print ('Cannot vote, above age limit')
    
    if weather == 'rainy':
        print ('take an umbrella')

elif age >= 18:
    print ('Eligible to vote')
else:
    print ('Not Eligible to vote')

Cannot vote, above age limit
take an umbrella

# and or

In [28]:
batch ='java'
org = 'scaler'

if org == 'scaler' and batch == 'python':
    print ('allowed to the class')
else:
    print ('not allowed')

not allowed

In [29]:
if org == "scaler" or batch == 'python':
    print ('allowed')
else:
    print ('not allowed')

allowed

In [31]:
org = input()

scaler

In [32]:
if org == "scaler" or batch == 'python':
    print ('allowed')
else:
    print ('not allowed')

allowed

In [33]:
org = input()

if org == "scaler" or batch == 'python':
    print ('allowed')
else:
    print ('not allowed')

unacademy
not allowed

In [17]:
org = input()
course = input()

if org == "scaler" and course == 'python':
    print ('allowed to the class with all access')
    
elif org == "unac" and course == 'java':
    print ('Allowed with limited access')

else:
    print ('not allowed')

scaler
java
not allowed

# Loops


### while loop

In [37]:
counter = 1

while counter <= 10:
    print (counter, end= ' ')
    counter = counter +1

1 2 3 4 5 6 7 8 9 10

In [38]:
a = 5

a = a + 5

In [39]:
a = 2
# shorthand

a += 5

In [40]:
print (a)

7

In [2]:
counter =1

while counter <=10:
    print (counter, end= ' ')
    counter = counter +1

1 2 3 4 5 6 7 8 9 10

In [21]:
counter = int(input())

while counter <= 100:
    print (counter, end= ' ')
    counter += 5

34
34 39 44 49 54 59 64 69 74 79 84 89 94 99

# Stair Pattern

In [ ]:
# for N = 4
# we need ouput as 

*
**
***
****

In [22]:
N = int(input ())

4

In [27]:
i = 1

while i <= N:
    print ('*'* i)
    i = i+1

*
**
***
****

# Range method

In [28]:
range (5)

range(0, 5)

In [29]:
print (range)

<class 'range'>

In [30]:
list(range (5))

[0, 1, 2, 3, 4]

In [31]:
list(range (2, 11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
list (range (1,11,2))

[1, 3, 5, 7, 9]

# for loop

#### it allows is to loop/iterate over a range

In [ ]:
# print odd numbers from 1 to 10

In [34]:
for i in range (1,11,2):
    print(i, end= ' ')

1 3 5 7 9

In [ ]:
# print the square nos from 1 to 10

In [35]:
for i in range (1, 11):
    print (i*i, end= ' ')

1 4 9 16 25 36 49 64 81 100

In [ ]:
#or

In [36]:
for i in range (0,11):
    print (i**2, end= ' ')

0 1 4 9 16 25 36 49 64 81 100

In [ ]:
# print the cubes of all odd numbers from 10 to 1. (reverse)

In [38]:
for i in range (9, 0, -2):
    print (i ** 3, end= ' ')

729 343 125 27 1

In [40]:
list(range (10, 1, -2))

[10, 8, 6, 4, 2]

# markdown

all HTML tags are valid in it You can use these in the chat as well.
The cels in jupyter are code cells
Select a cell, press esc, press m. This will change it to markdown cell.

# Problem - Sum of Digit

input = 749
output = 20

In [ ]:
n = int(input())
sum = 0

while n>0:
    rem = n % 10
    sum = sum + rem
    n = n // 10
    
print (sum)

In [1]:
n = int(input())

1234

In [2]:
sum = 0

while n>0:
    rem = n % 10
    sum = sum + rem
    n= n // 10
    
print (sum)

10

# rough work

In [6]:
n = 5
i = 1

for i in range (1,n,1):
    print (i)

1
2
3
4

In [9]:
print ('*')

*

In [10]:
n = 5
print ('*' *n)

*****

In [11]:
n = 5
for i in range (n):
    print ('*')

*
*
*
*
*

In [13]:
n = 5 

for i in range (n):
    print ('*', end= '')

*****

In [15]:
n = 5 

for i in range(n):
    for i in range (n):
        print ('*', end= '')

*************************

In [17]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
N = int(input("Enter the value of N: "))

# Outer loop for rows
for i in range(1, N + 1):
    # Inner loop for printing numbers in each row
    for j in range(1, i + 1):
        print(j, end=" ")
    print()  # Move to the next line after each row

Enter the value of N: 12
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
n = int(input)

In [11]:
n = int(input())

for i in range (1, n+1):
    for j in range (1, i+1):
        print(j, end= ' ')
    print(end= '\n')

12
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12

In [17]:
n = int(input())

for i in range(1, n + 1):
    # Print each number followed by a space except the last one
    for j in range(1, i + 1):
        print(j, end=' ')
    # Print the last number without a space and move to the next line
    print(i, end='')

4
1 11 2 21 2 3 31 2 3 4 4

In [1]:
print ('hello')

hello

# Check it out later

In [26]:
n= int(input())

for i in range (1, n+1):
    print('0' * (n-1), end= ' ')
    for j in range (i, 2*i):
        print(j, end=' ')
    for j in range (2*i - 2, i+1, -1):
        print (j, end= ' ')
    print ('0' * (n-i), end=' ')

5
0000 1 0000 0000 2 3 000 0000 3 4 5 00 0000 4 5 6 7 6 0 0000 5 6 7 8 9 8 7

## output should be

#### 0 0 0 1 0 0 0 
#### 0 0 2 3 2 0 0
#### 0 3 4 5 4 3 0
#### 4 5 6 7 6 5 4

In [33]:
n = int(input())

for i in range (1, n+1):
    for j in range (1, i+1):
        print (j, end= ' ')
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Programming Fundamentals 3

### Continue break

break - terminate a loop
continue - skip an iteration

In [35]:
# break statement

i= 0
while i<= 5:
    print (i)
    i += 1
    
    if i == 3:
        break

0
1
2

In [36]:
for i in range (10):
    print (i)
    
    if i == 4:
        break

0
1
2
3
4

In [37]:
for i in  range (10):
    if i == 5:
        break
    print (i)

0
1
2
3
4

## Random game

Generate random number between 1 to 10 till you get 5

In [4]:
import random

while True:
# infinite loop
    r = random.randint(1,10)
# it will generate a random number between 1 and 10

    print (r)
# r will be a random number between 1-10
    
    if r == 5:
        break

10
3
4
5

In [6]:
import random

while True:
    r = random.randint (1,10)
    print (r, end=' ')
    
    if r == 5:
        break

10 9 3 5

# continue statement skips an iteration

In [8]:
#i want to skip all the multiples of 3


for i in range (2, 100, 2):
    if i %3 != 0:
        print(i, end= ' ')

2 4 8 10 14 16 20 22 26 28 32 34 38 40 44 46 50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98

In [1]:
for i in range (2, 100, 2):
    if i % 3 == 0:
        continue
    
    print(i, end= ' ')

2 4 8 10 14 16 20 22 26 28 32 34 38 40 44 46 50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98

In [2]:
a = 5

# check whether a is equal to 5
if a == 5:
    print('yes')

yes

In [3]:
# check whether a is not equal to 5

a = 5

if a != 5:
    print ('yes')
    
else: print('no')

no

# Check Prime

Given a numner check if it is prim. Print "Yes" if prime, else "No"

Input:
17

Output:
Yes

In [7]:
# rough try

n =  int(input())
    
i = 2

if n % i == 0:
    print ('Not a prime number')
    
else:
    print ('Prime number')
    
    i = i + 1
        if i == n:
            break

IndentationError: unexpected indent (4088616611.py, line 12)

In [18]:
n = int(input())

flag = True
# asume that the number is prime

for i in range (2, n):
# in range function end value should be +1

# check whether i is a divisor of n
    if n % i == 0:
        flag = False
        break

if flag and n != 1:
    print('Prime number')
else:
    print('Not prime number')

1
Not prime number

# Swap numbers


Given two numbers as input, swap and print them.

Input:
A = 5
B = 7

Output:
A = 7
B = 5

In [1]:
a = int(input())
b = int(input())

5
6

In [2]:
a, b = b, a
# simple swap mapping

print (a, b)

6 5

#### Python variable, Do Not store any values

#### They are simply BINDED  to them

### memory address of the variables

In [3]:
a = 5 
b = 5

In [4]:
id (a)

1980212511088

In [5]:
id (b)

1980212511088