pYTHON COURSE

In [1]:
print("Hello, World!")

Hello, World!

variable and data types

In [2]:
age = 25
height = 5.8
name = "John"

LISTS

In [3]:
fruits = ["apple", "banana", "orange"]

CONTROL FLOW

In [4]:
if age > 18:
    print("You are an adult.")
for fruit in fruits:
    print(fruit)

You are an adult.
apple
banana
orange

FUNCTIONS

In [5]:
def greet(name):
    print("Hello, " + name + "!")
greet("Alice")

Hello, Alice!

QUEUE

In [14]:
from collections import deque
queue = deque([1, 2, 3])
queue.append(4)  # Enqueue
dequeued_item = queue.popleft()  # Dequeue

LINKED LIST

In [8]:
class Node:
    def __init__(self, data=None):
        self.data = data
        self.next = None

# Usage:
node1 = Node(1)
node2 = Node(2)
node1.next = node2

In [13]:
person = {"name": "John", "age": 25, "city": "New York"}

In [12]:
unique_numbers = {1, 2, 3, 4, 5}

arrays

In [15]:
class SimpleArray:
    def __init__(self):
        self.data = []

    def append(self, value):
        self.data.append(value)

    def get(self, index):
        return self.data[index]

    def length(self):
        return len(self.data)


# Example Usage:
my_array = SimpleArray()
my_array.append(1)
my_array.append(2)
print(my_array.get(1))  # Output: 2
print(my_array.length())  # Output: 2

2
2

linear search

In [10]:
def linear_search(arr, target):
    for i, value in enumerate(arr):
        if value == target:
            return i
    return -1


# Example Usage:
my_list = [1, 2, 3, 4, 5]
target_value = 3
print(linear_search(my_list, target_value))  # Output: 2

2

bubble sort

In [9]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]


# Example Usage:
unsorted_list = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(unsorted_list)
print(unsorted_list)  # Output: [11, 12, 22, 25, 34, 64, 90]

[11, 12, 22, 25, 34, 64, 90]

set

In [16]:
class SimpleSet:
    def __init__(self):
        self.data = set()

    def add(self, value):
        self.data.add(value)

    def contains(self, value):
        return value in self.data


# Example Usage:
my_set = SimpleSet()
my_set.add(1)
my_set.add(2)
print(my_set.contains(2))  # Output: True
print(my_set.contains(3))  # Output: False

True
False

maps

In [17]:
class SimpleMap:
    def __init__(self):
        self.data = {}

    def add(self, key, value):
        self.data[key] = value

    def get(self, key):
        return self.data.get(key)


# Example Usage:
my_map = SimpleMap()
my_map.add("name", "John")
my_map.add("age", 25)
print(my_map.get("name"))  # Output: John
print(my_map.get("city"))  # Output: None

John
None

tree

In [19]:
class TreeNode:
    def __init__(self, value):
        self.value = value
        self.children = []

    def add_child(self, child_node):
        self.children.append(child_node)


# Example Usage:
root = TreeNode(1)
child1 = TreeNode(2)
child2 = TreeNode(3)
root.add_child(child1)
root.add_child(child2)

graph

In [20]:
class Graph:
    def __init__(self):
        self.vertices = {}

    def add_vertex(self, vertex):
        self.vertices[vertex] = []

    def add_edge(self, start_vertex, end_vertex):
        self.vertices[start_vertex].append(end_vertex)


# Example Usage:
my_graph = Graph()
my_graph.add_vertex(1)
my_graph.add_vertex(2)
my_graph.add_edge(1, 2)

stack

In [21]:
class SimpleStack:
    def __init__(self):
        self.data = []

    def push(self, value):
        self.data.append(value)

    def pop(self):
        if not self.is_empty():
            return self.data.pop()

    def is_empty(self):
        return len(self.data) == 0


# Example Usage:
my_stack = SimpleStack()
my_stack.push(1)
my_stack.push(2)
print(my_stack.pop())  # Output: 2
print(my_stack.pop())  # Output: 1

2
1

queue

In [22]:
from collections import deque

class SimpleQueue:
    def __init__(self):
        self.data = deque()

    def enqueue(self, value):
        self.data.append(value)

    def dequeue(self):
        if not self.is_empty():
            return self.data.popleft()

    def is_empty(self):
        return len(self.data) == 0


# Example Usage:
my_queue = SimpleQueue()
my_queue.enqueue(1)
my_queue.enqueue(2)
print(my_queue.dequeue())  # Output: 1
print(my_queue.dequeue())  # Output: 2

1
2

list

In [23]:
# List is a mutable ordered collection
my_list = [1, 2, 3, 'apple', 'banana']
print("List:", my_list)

# Adding an element
my_list.append('orange')
print("After appending:", my_list)

# Accessing elements
print("Element at index 2:", my_list[2])

# Modifying an element
my_list[1] = 'grape'
print("After modifying:", my_list)

# Removing an element
my_list.remove('apple')
print("After removing:", my_list)

List: [1, 2, 3, 'apple', 'banana']
After appending: [1, 2, 3, 'apple', 'banana', 'orange']
Element at index 2: 3
After modifying: [1, 'grape', 3, 'apple', 'banana', 'orange']
After removing: [1, 'grape', 3, 'banana', 'orange']

tuple

In [24]:
# Tuple is an immutable ordered collection
my_tuple = (1, 2, 3, 'apple', 'banana')
print("Tuple:", my_tuple)

# Accessing elements
print("Element at index 2:", my_tuple[2])

# Concatenating tuples
new_tuple = my_tuple + ('orange', 'grape')
print("After concatenation:", new_tuple)

Tuple: (1, 2, 3, 'apple', 'banana')
Element at index 2: 3
After concatenation: (1, 2, 3, 'apple', 'banana', 'orange', 'grape')

dictionary

In [25]:
# Dictionary is an unordered collection of key-value pairs
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print("Dictionary:", my_dict)

# Accessing values
print("Age:", my_dict['age'])

# Modifying values
my_dict['age'] = 26
print("After modification:", my_dict)

# Adding a new key-value pair
my_dict['country'] = 'USA'
print("After adding:", my_dict)

# Removing a key-value pair
del my_dict['city']
print("After removal:", my_dict)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Age: 25
After modification: {'name': 'John', 'age': 26, 'city': 'New York'}
After adding: {'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}
After removal: {'name': 'John', 'age': 26, 'country': 'USA'}