**LISTS**


Lists are used to store items.
A list is created using square brackets with commas separating items.
words = ["Hello", "world", "!"]  

The first list item's index is 0, rather than 1, as might be expected.

Sometimes you need to create an empty list and populate it later during the program. For example, if you are creating a queue management program, the queue is going to be empty in the beginning and get populated with people data later.

An empty list is created with an empty pair of square brackets.

In some code samples you might see a comma after the last item in the list. It's not mandatory, but perfectly valid.

In [ ]:
empty_list= []
print (empty_list)

oneelementlist= [2,]
print(oneelementlist)

[]
[2]

Typically, a list will contain items of a single item type, but it is also possible to include several different types.
Lists can also be **nested within other lists**.

In [ ]:
number = 3
things = ["string",0,[1,2,number],4.56]
print(things[1])
print(things[2])
print(things[2][2])

0
[1, 2, 3]
3

**Nested lists** can be used to represent 2D grids, such as matrices. A matrix-like structure can be used in cases where you need to store data in row-column format. For example, when creating a ticketing program, the seat numbers can be stored in a matrix, with their corresponding rows and numbers.

In [ ]:
matrix = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
          ]
print(matrix[1][2])
print(matrix[2][0])
print(matrix[0][0])

6
7
1

Some types, such as strings, can be indexed like lists.
Indexing strings behaves as though you are indexing a list containing each character in the string. Space (" ") is also a symbol and has an index.
Trying to access a non-existing index will produce an error.

**List Operations**

The item at a certain index in a list can be reassigned.
You can replace the item with an item of a different type.

Lists can be added and multiplied in the same way as strings.

Lists and strings are similar in many ways - strings can be thought of as lists of characters that can't be changed.
For example, the string "Hello" can be thought of as a list, where each character is an item in the list. The first item is "H", the second item is "e", and so on.

In [ ]:
nums = [1, 2, 3, 4, 5]
nums[3] = nums[1]
print(nums[3])
print(nums)

2
[1, 2, 3, 2, 5]

In [ ]:
nums = [1,2,3]
print(nums + [4,5,6])
print(nums * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

To check if an item is **in** a list, the **in** operator can be used.
It returns True if the item occurs one or more times in the list, and False if it doesn't.

The in operator is also used to determine whether or not a string is a substring of another string.

To check if an item is **not** in a list, you can use the **not** operator.

In [ ]:
words = ["spam","egg","spam","sausage"]
print("spam" in words)
print("egg" in words)
print("tomato" in words)
print("----- Ahora a la inversa------")
print("spam" not in words)
print("egg" not in words)
print("tomato" not in words)
print("----- Combinaciones del not------")
print(not "spam" in words)
print(not "egg" in words)
print(not "tomato" in words)

True
True
False
----- Ahora a la inversa------
False
False
True
----- Combinaciones del not------
False
False
True

**List Functions**
1.   list.append: Put a new item at the end of the list
2.   list.insert(index,item):is similar to append, except that it allows you to insert a new item at any position in the list, as opposed to just at the end.Elements, that are after the inserted item, are shifted to the right.
3.   list.index: Finds the first occurrence of a list item and returns its index. If the item isn't in the list, it raises a ValueError.
4.   max(list): Returns the list item with the maximum value
5.   min(list): Returns the list item with minimum value
6.   list.count(item): Returns a count of how many times an item occurs in a list
7.   list.remove(item): Removes an object from a list
8.   list.reverse(): Reverses items in a list.

**List Comprehensions**

In [ ]:
evens = [i**2 for i in range(10) if i**2 % 2 == 0]
print (evens)

[0, 4, 16, 36, 64]

In [ ]:
nums = (55, 44, 33, 22)
print(max(min(nums[:2]), abs(-42)))
print (min(nums[:2]), abs(-42))

44
44 42

In [ ]:
text = input()
list = text.split()
words = len(list)
letters = 0
for i in text:
  if i != " ":
    letters +=1
average = letters/words
print (average)

this is some text
['this', 'is', 'some', 'text']
4
14
3.5

**DICTIONARIES**

In [ ]:
ages = {
    "Agustin": 30,
    "Cristian": 5.2,
    20 : "Franco",
    "Extraterrestre": complex (3,5),
    "Booleano":True,
    "Lista":[10,20,30]
}
print("En un diccionario...")
print("Puedo guardar un",type(ages["Agustin"]),"como ",ages["Agustin"])
print("Puedo guardar un",type(ages["Cristian"]),"como ",ages["Cristian"])
print("Puedo guardar un",type(ages[20]),"como ",ages[20])
print("Puedo guardar un",type(ages["Extraterrestre"]),"como ",ages["Extraterrestre"])
print("Puedo guardar un",type(ages["Booleano"]),"como ",ages["Booleano"],"o",not ages["Booleano"])
print("Puedo guardar un",type(ages["Lista"]),"como ",ages["Lista"])
print("")
print("Tambien puedo...")
print("Buscar una key como Agustin y me devuelve","Agustin"in ages)
print("Buscar una key como Roberto y me devuelve","Roberto"in ages)
print("Buscar una key como Lista y me devuelve","Lista" in ages)
print("Usar un get() para Agustin y me devuelve",ages.get("Agustin"))
print("Usar un get('prueba') para algo que no exista y me devuelve por defecto",ages.get("prueba"),"en vez de error")
print("Usar un get('prueba','no existe') para algo que no exista y puedo configurar un mensaje como",ages.get("prueba","'no existe'"),"o",ages.get("prueba",0),"en vez de error")

En un diccionario...
Puedo guardar un <class 'int'> como  30
Puedo guardar un <class 'float'> como  5.2
Puedo guardar un <class 'str'> como  Franco
Puedo guardar un <class 'complex'> como  (3+5j)
Puedo guardar un <class 'bool'> como  True o False
Puedo guardar un <class 'list'> como  [10, 20, 30]

Tambien puedo...
Buscar una key como Agustin y me devuelve True
Buscar una key como Roberto y me devuelve False
Buscar una key como Lista y me devuelve True
Usar un get() para Agustin y me devuelve 30
Usar un get('prueba') para algo que no exista y me devuelve por defecto None en vez de error
Usar un get('prueba','no existe') para algo que no exista y puedo configurar un mensaje como 'no existe' o 0 en vez de error

**Exercise** You are making a phonebook. The contacts are stored in a dictionary, where the key is the name and the value is a list, representing the number and the email of the contact.
You need to implement search: take the name of the contact as input and output the email.
If the contact is not found, output "Not found".
**Buscar la key en un diccionario que posee listas y traer el segundo elemento de la busqueda encontrada**

In [ ]:
contacts = {
    "David": ["123-321-88", "david@test.com"],
    "James": ["241-879-093", "james@test.com"],
    "Bob": ["987-004-322", "bob@test.com"],
    "Amy": ["340-999-213", "a@test.com"]
}

#your code goes here
name = input()
search = contacts.get (name,0)
if search == 0:
    print("Not found") 
else:
    print(search[1])

Prueba
Not found

**TUPLES**
An advantage of tuples over lists is that they can be used as keys for dictionaries (because they are immutable). Tuples are faster than lists, but they cannot be changed.

**Unpacking Tuples:** Tuple unpacking allows you to assign each item in a collection to a variable.

In [ ]:
numbers = (1,2,3,4)
a,b,c,d = numbers
print(a)
print(b)
print(c)
print(d)
print(c,b)
print(a,d)
print(a+c)

1
2
3
4
3 2
1 4
4

In [ ]:
x, y = [1, 2]
x, y = y, x
print (y)

1

A variable that is prefaced with an asterisk (*) takes all values from the collection that are left over from the other variables.

In [ ]:
a, b, c, d, *e, f, g = range(20)
print(len(e))

14

**Sets**


Sets are collections of unordered items that are unique.

They are created using curly braces, and, due to the way they're stored, it's faster to check whether an item is part of a set using the in operator, rather than part of a list.

**Exercise: Ticket Office**


You are analyzing sales data from a ticket office.
The ticket for an adult is 20, while the ticket for a child under 18 is 5.
The data you are given is in a dictionary format, where the keys are the sold ticket numbers, and the values are the customer ages.
For example, "123-08": 24 means that the ticket was bought a 24 year old.
Your goal is to calculate how much more money the office would make if it would change the ticket discount age to the given input.
So, your program needs to take an integer as input and output the percentage of revenue growth, if the discount was given to people under that age.

For example, if the office made 15000 with the original discount age, and would make 18000 with 14 as the discount age, then the growth would be ((18000-15000)/15000)*100 = 20%

So, for the input 14, your program should output 20. The output should be an integer (use int() to convert the result).
To iterate over the values of a dictionary, you can use the .values() function:
for value in data.values()

In [ ]:
data = {
    "100-90": 25, "42-01": 48, "55-09": 12, "128-64": 71, "002-22": 18, "321-54": 19, "097-32": 33, "065-135": 64, "99-043": 80, "111-99": 11, "123-019": 5, "109-890": 72, "132-123": 27, "32-908": 27, "008-09": 25, "055-967": 35, "897-99": 44, "890-98": 56, "344-32": 65, "43-955": 59, "001-233": 9, "089-111": 15, "090-090": 17, "56-777": 23, "44-909": 27, "13-111": 21, "87-432": 15, "87-433": 14, "87-434": 23, "87-435": 11, "87-436": 12, "87-437": 16, "94-121": 15, "94-122": 35, "80-089": 10, "87-456": 8, "87-430": 40
}
age = int(input("Input your new ticket discount age:"))
saleso = 0
for value in data.values():
  if value < 18:
    saleso += 5
  else:
    saleso +=20

salesn= 0
for ages in data.values():
  if ages < age:
    salesn += 5
  else:
    salesn +=20

growth = ((salesn-saleso)/saleso)*100
print("Your new percentage of revenue growth is:",int(growth))

Input your new ticket discount age:17
Your new percentage of revenue growth is: 2

**Stack**


A stack is a simple data structure that adds and removes elements in a particular order.
Every time an element is added, it goes on the "top" of the stack. Only an element at the top of the stack can be removed, just like a stack of plates. This behavior is called LIFO (Last In, First Out).contentImageTerminology
Adding a new element onto the stack is called push.
Removing an element from the stack is called pop.

**Applications**

Stacks can be used to create undo-redo functionalities, parsing expressions (infix to postfix/prefix conversion), and much more.
A stack can be implemented using a list in Python.
Well done!

In [ ]:
def __init__(self):
    self.items = []

def is_empty(self):
    return self.items == []

def push(self,item):
    self.items.insert(0,item)

def pop(self):
    return self.items.pop(0)

def print_stack(self):
    print(self.items)

#positions = {1:"Agustin",2:"Bárbara"}
#__init__(positions)
#print_stack()

**Queue**


A queue is similar to a stack, but defines a different way to add and remover elements.
The elements are inserted from one end, called the rear, and deleted from the other end, called the front.
This behavior is called FIFO (First in First Out).contentImageTerminology
The process of adding new elements into the queue is called enqueue.
The process of removal of an element from the queue is called dequeue.

**Applications**

Queues are used whenever we need to manage objects in order starting with the first one in.
Scenarios include printing documents on a printer, call center systems answering people on hold, and so on.
Python lists are the easiest wa

In [ ]:
def __init__(self):
    self.items = []

def is_empty(self):
    return self.items == []

def enqueue(self,item):
    self.items.insert(0,item)

#in dequeue de difference in code
def dequeue(self):
    return self.items.pop()

def print_stack(self):
    print(self.items)

**Linked List**

A linked list is a sequence of nodes where each node stores its own data and a link to the next node.
One node links to another forming what can be thought of as a linked chain:contentImageThe first node is called the head, and it's used as the starting point for any iteration through the list. The last node must have its link pointing to None to determine the end of the list.

Unlike stacks and queues, you can insert and remove nodes in any position of the linked list (similar to a standard list).

**Applications**


Linked lists are useful when your data is linked. For example when you need undo/redo functionality, the nodes can represent the state with links to the previous and next states. Another example would be a playlist of music, where each clip is linked with the next one.
Linked lists can also be used to create other data structures, such as stack, queues and graphs.

In [ ]:
#creating a node
class Node:
  def __init__(self, data, next):
    self.data = data
    self.next = next

class linkedlist:
  def __init__(self):
    self.head = None
    
  def add_at_front(self,data):
    self.head = None (data,self.head)

  def add_at_end(self,data):
    if not self.head:
      self.head = None (data, None)
        return
      curr= self.head
      while curr.next:
        curr= curr.next
      curr.next= None (data,None)
  
  def get_last_node(self):
    n = self.head
    while(n.next != None):
      n = n.next
    return n.data

  def print_list(self):
    n = self.head
    while n != None:
      print (n.data, end = " =>")
      n= n.next
    print ()

**Graph**


Graphs are used to represent many real-life applications like networks, transportation paths of a city, and social network connections.

A graph is a set of connected nodes where each node is called a Vertex and the connection between two of them is called an Edge.

Here is an example graph:contentImageThis can represent, for example, connections on a social network, where each Vertex represents a person and the Edges represent connections.

In [ ]:
class Graph():
  def __init__(self,size):
    self.adj= [[0]*size for i in range(size)]
    self.size = size

  def add_edge (self, orig, dest):
    if orig > self.size or dest > self.size or orig < 0 or dest < 0:
      print ("Invalid Edge")
    else:
        self.adj[orig-1][dest-1]=1
        self.adj[dest-1][orig-1]=1
  
  def remove_edge(self,orig,dest):
    if orig > self.size or dest > self.size or orig < 0 or dest < 0:
      print ("Invalid edge")
    else:
        self.adj[orig-1][dest-1]=0
        self.adj[dest-1][orig-1]=0

  def display(self):
    for row in self.adj:
      print()
      for val in row:
        print ('{:4}'.format(val),end="")

In [ ]:
import sys
x=sys.float_info.max
print(x)

1.7976931348623157e+308

In [ ]:
print (0.01*(2**30))

10737418.24

**Walrus operator** (Python 3.8 - new feature)

Walrus operator **:=** allows you to assign values to variables within an expression, including variables that do not exist yet.

Let's suppose we want to take an integer from the user, assign it to a variable num and output it:

More info here: https://realpython.com/python-walrus-operator/

In [ ]:
print ("No funciona en esta versión.")
#print(num:=int(input()))
#print(name:=input())

No funciona en esta versión.

In [ ]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
list = [1, 1, 2, 3, 5, 8, 13]
print(list[list[4]])
print(list[4])

8
5

In [ ]:
for i in range(10):
  if not i % 2 == 0:
    print(i+1)

2
4
6
8
10

**Exercise: FizzBuzz**


FizzBuzz is a well known programming assignment, asked during interviews.

The given code solves the FizzBuzz problem and uses the words "Solo" and "Learn" instead of "Fizz" and "Buzz".
It takes an input n and outputs the numbers from 1 to n.
For each multiple of 3, print "Solo" instead of the number.
For each multiple of 5, prints "Learn" instead of the number.
For numbers which are multiples of both 3 and 5, output "SoloLearn".

You need to change the code to skip the even numbers, so that the logic only applies to odd numbers in the range.
Remember, the continue statement can be used to skip a loop iteration.

In [ ]:
n = int(input())

for x in range(1, n):
    if x % 3 == 0 and x % 5 == 0:
        print("SoloLearn")
    elif x % 3 == 0:
        print("Solo")
    elif x % 5 == 0:
        print("Learn")
    else:
        print(x)

In [ ]:
n = int(input())

for x in range(1, n):
    if x % 2 == 0:
      continue
    if x % 3 == 0 and x % 5 == 0:
        print("SoloLearn")
    elif x % 3 == 0:
        print("Solo")
    elif x % 5 == 0:
        print("Learn")
    else:
        print(x)

10
1
Solo
Learn
7
Solo

**EXCEPTION HANDLING**

Muy útil para cuando el usuario tenga que ingresar información.

**TRY / EXCEPT / FINALLY/ RAISE / ASSERT**

In [ ]:
"""
Try para insertar código con posibles errores
Except para indicar qué ejecutar si encuentro error en el try. No se ejecuta si el Try no tiene error. 
En este caso ZeroDivisionError, si lo dejo vacío es para cualquier tipo de error.
Finally para ejecutar el código pase lo que pase.
"""
try:
  print("Hello")
  print(1/0)
except ZeroDivisionError:
  print("Divided by Zero")
finally:
  print("This code will run no matter what")

Hello
Divided by Zero
This code will run no matter what

In [ ]:
try:
  print(1)
  print(20 / 0)
  print(2)
except ZeroDivisionError:
  print(3)
finally:
  print(4)

1
3
4

**Raise**

Ejecutar un error por nuestra cuenta

In [ ]:
name = "123"
raise NameError("Invalid name!")

NameError: ignored

In [ ]:
#Ejemplo de brindar error si inserta un número negativo:
num= input ("Insert your positive number:")
if float(num)<0:
  raise ValueError("The number has to be positive")

Insert your positive number:20

In [ ]:
#In except blocks, the raise statement can be used without arguments to re-raise whatever exception occurred.
try:
  num = 5/0
except:
  print("An error ocurred")
  raise

An error ocurred

ZeroDivisionError: ignored

**Assertions**


An assertion is a sanity-check that you can turn on or turn off when you have finished testing the program.
An expression is tested, and if the result comes up false, an exception is raised.
Assertions are carried out through use of the assert statement.

Programmers often place assertions at the start of a function to check for valid input, and after a function call to check for valid output.

In [ ]:
print (1)
assert 2 + 2 == 4
print (2)
assert 1 + 1 == 3
print (3)

1
2

AssertionError: ignored

In [ ]:
print(0)
assert "h" != "w"
print (1)
assert True
print(2)
assert False
print(3)

0
1
2

AssertionError: ignored

**FILE HANDLING**

To write to files you use the write method, which writes a string to the file.
The "w" mode will create a file, if it does not already exist.

In [ ]:
file = open("newfile.txt", "w")
file.write("I want to insert a string in this new file")
file.close()

file = open("newfile.txt","r")
print(file.read())
file.close()

I want to insert a string in this new file

**When a file is opened in write mode, the file's existing content is deleted.**

In [ ]:
file = open("newfile.txt","r")
print("---Reading initial contents---")
print("")
print(file.read())
print("")
print("---Finished---")
print("")
file.close()

file= open("newfile.txt","w")
file.write("Some new text")
file.close()

file= open("newfile.txt","r")
print("---Reading new contents---")
print("")
print(file.read())
print("")
print("---Finished---")
file.close()

---Reading initial contents---

Hello world

---Finished---

---Reading new contents---

Some new text

---Finished---

The write method returns the number of bytes written to a file, if successful.
**To write something other than a string, it needs to be converted to a string first.**

In [ ]:
msg = "Hello world"
file = open("newfile.txt","w")
amount_written= file.write(msg)
print(amount_written)
file.close()

11

If a file write operation is successful, which one of these statements will be true?
1. file.write(msg) == msg
2. file.write(msg) == True
3. **file.write(msg) == len(msg)** ◀ ◀

It is good practice to avoid wasting resources by making sure that files are always closed after they have been used. One way of doing this is to use try and finally.

This ensures that the file is always closed, even if an error occurs.

In [ ]:
try:
   file = open("newfile.txt")
   print(file.read())
finally:
   file.close()

Some new text

**WITH STATEMENT**

An alternative way of doing this is using with statements. This creates a temporary variable (often called f), which is only accessible in the indented block of the with statement.

The file is automatically closed at the end of the with statement, even if exceptions occur within it.

In [ ]:
with open("newfile.txt") as f:
   print(f.read())

Some new text

**Exercise: Book Titles**


You have been asked to make a special book categorization program, which assigns each book a special code based on its title.
The code is equal to the first letter of the book, followed by the number of characters in the title.
For example, for the book "Harry Potter", the code would be: H12, as it contains 12 characters (including the space).

You are provided a books.txt file, which includes the book titles, each one written on a separate line.
Read the title one by one and output the code for each book on a separate line.

For example, if the books.txt file contains:
Some book
Another book

Your program should output:
S9
A12
Recall the readlines() method, which returns a list containing the lines of the file.
Also, remember that all lines, except the last one, contain a \n at the end, which should not be included in the character count.

In [ ]:
#creamos el texto para poder trabajarlo.
file = open("books.txt","w")
print(file.write("Harry Potter\n"+"Tttttttttttttttt\n"+"Ppppppppppppppppp\n"+"Gggggggggggggggg\n"))
file.close()

65

In [ ]:
#ahora resolvemos el ejercicio, deberiamos ver la forma de cambiar el 4 por el ultimo elemento
file = open("books.txt", "r")

#your code goes here
file.readlines
count = 0
for line in file:
    count += 1
    if(count==4):
        print(str(line[0])+str((len(line))))
    else:
        print(str(line[0])+str((len(line)-1)))
file.close()

H12
T16
P17
G17

In [ ]:
print?

In [ ]:
import numpy as np

data=np.array([1000, 2500, 1400, 1800, 900, 4200, 2200, 1900, 3500])

newhouse= np.array(int(input()))
print(data,type(data))
print(newhouse,type(newhouse))

newarray= np.append(data,newhouse)

print(np.sort(newarray))

1100
[1000 2500 1400 1800  900 4200 2200 1900 3500] <class 'numpy.ndarray'>
1100 <class 'numpy.ndarray'>
[ 900 1000 1100 1400 1800 1900 2200 2500 3500 4200]

In [ ]:
import numpy as np

data = np.array([1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0])

row = int(input())
seats= data.reshape(6,5)
print(seats[row])

0
[1 1 0 0 1]

In [ ]:
numbers= np.arange(101)
print(type(numbers))
print(numbers[(numbers%3==0) & (numbers%5==0)])

condition = (numbers%3==0) & (numbers%5==0)
print(numbers[condition])

<class 'numpy.ndarray'>
[ 0 15 30 45 60 75 90]
[ 0 15 30 45 60 75 90]

In [ ]:
data = np.array([120, 98, 150, 65, 42, 100, 190, 220, 140, 110, 88, 89, 100, 120, 50, 180, 155, 42, 89, 77, 200, 190, 125, 98, 77, 40, 39, 59, 30, 67])
print(data[(data>data.mean())].size)

12

You are given an array that represents house prices.
Calculate and output the percentage of houses that are within one standard deviation from the mean.

In [ ]:
import numpy as np

data = np.array([150000, 125000, 320000, 540000, 200000, 120000, 160000, 230000, 280000, 290000, 300000, 500000, 420000, 100000, 150000, 280000]) 
m = np.mean(data)
d = np.std(data)
y1 = m-d
y2 = m+d
a = data [(data> y1) & (data < y2)].size

b = data.size
r = a/b*100
print(r)

62.5

Basketball Players


The given code includes a list of heights for various basketball players.
You need to calculate and output how many players are in the range of one standard deviation from the mean.
Output the result using the print statement.

In [ ]:
players = [180, 172, 178, 185, 190, 195, 192, 200, 210, 190]

import numpy as np
players_array= np.array(players)
m = np.mean(players_array)
d = np.std(players_array)
print(m)
print(d)
low = m-d
high = m+d
range = players_array [(players_array > low) & (players_array < high)].size
print(range)

189.2
10.562196741208716
6

Ranking Board


You are given a DataFrame that includes the names and ranks of people.
You need to take a rank as input and output the corresponding name column from the DataFrame as a Series.
Note that the rank is an integer, so you need to convert the user input to an integer.

In [ ]:
import pandas as pd

data = {
   'name': ['James', 'Billy', 'Bob', 'Amy', 'Tom', 'Harry'],
   'rank': [4, 1, 3, 5, 2, 6]
}

df = pd.DataFrame(data, index=data['name'])
user_rank = int(input())
print(df['name'][df["rank"]==user_rank])

1
Billy    Billy
Name: name, dtype: object

Ejercicios

Imprima los números de -10 a -1 utilizando un bucle for

In [ ]:
num = -10
for i in range(10):
  print(num)
  num+=1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Dada la siguiente lista imprimir los números divisibles por 5 menores a 150.

numeros = [12 , 75 , 150 , 180 , 145 , 525 , 50]

In [ ]:
num = [12,75,150,180,145,525,50]

for i in num:
  if i<150:
    if i%5==0:
      print(i)

75
145
50

La lista en el siguiente bloque de código contiene números enteros. Crear una lista para los números pares y otra para los números impares.

numeros = [3 , 5 , 2 , 9 , 2 , 6 , 6 , 4 , 3 , 9 , 6 , 7 , 8 , 5 , 11]

In [ ]:
num = [3 , 5 , 2 , 9 , 2 , 6 , 6 , 4 , 3 , 9 , 6 , 7 , 8 , 5 , 11]

even=[]
odd=[]

for i in num:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print(f'Even numbers: {even}')
print(f'Odd numbers: {odd}')

Even numbers: [2, 2, 6, 6, 4, 6, 8]
Odd numbers: [3, 5, 9, 3, 9, 7, 5, 11]

Calcular el cuadrado de los primeros 10 números enteros y guardarlos en una lista.

In [ ]:
squares = []
num= 0
count= 0

for i in range(1,11):
  num= i**2
  squares.append(num)

print(f'Squares list: {squares}')

Squares list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Escriba un programa que dada una lista de números y un valor de umbral vaya sumando los números de la lista hasta que la suma alcance el umbral. Utilice un bucle while y el metodo .pop(0) para seleccionar al primer elemento de la lista. Utilice break para terminar la ejecución del bucle cuando la suma alcance el umbral.
Resultados esperados:

umbral = 20
valores = [3 , 5 , 4 , 4 , 5 , 5 , 3 , 5 , 2 , 7] # suma -> 21

umbral = 34
valores = [3 , 5 , 4 , 4 , 5 , 5 , 3 , 5 , 2 , 7] # suma -> 34

umbral = 100
valores = [3 , 5 , 4 , 4 , 5 , 5 , 3 , 5 , 2 , 7] # suma -> 43

In [ ]:
numeros= [3 , 5 , 4 , 4 , 5 , 5 , 3 , 5 , 2 , 7]
umbral = int(input("Hola, ingresá tu umbral para trabajar en la lista:"))
total = 0

while len(numeros) >= 1:
  if total>= umbral:
    break
  total += numeros.pop(0)
  print(total)
print("\nEl resultado es:",total)

Hola, ingresá tu umbral para trabajar en la lista:100
3
8
12
16
21
26
29
34
36
43

El resultado es: 43

Escriba un programa que dada una lista numérica compute la suma de los números pares. Utilice un bucle while y la sentencia continue para saltear los casos donde el número no sea par. Resultados esperados:

valores = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10] # suma -> 30

valores = [1 , 4 , 7 , 10] # suma -> 14

In [ ]:
valores1= [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
valores2= [1 , 4 , 7 , 10]

total = 0
count= 0
while valores1[count]%2 != 0:
    total += valores1[count]
    count +=1
    print(total)
    
    

print(valores1[count])

1

Dada la siguiente lista de palabras

palabras = [ " C ó ncavo " , " Autopista " , " Diagonal " , " Equipaje " , " Ardilla " , " Consultorio " , " Roma " , " Loco " , " Marciano " , " Karateca " , " Aniversario " , " Topadora " , " Grabador " , " Salir " , " Ventoso " , " Anunciar " ," R ó tula " , " Estanque " , " Quedarse " , " Nuevo " , " Sordo " , " Madurar " , " Vestir " , " Retoque " , " Desvelo " , " Hora " , " Cochera " , " Metal " , " Nudo " , " Maquillaje " , " Barco " , " Soda " , " Lagartija " ]

¿Cuántas palabras hay en total?
¿Cuántas empiezan con ’A’ ?
¿Cuántas terminan con ’o’ ?
¿Cuántas empiezan con alguna vocal?
¿Cuántas terminan con alguna consonante?
Seleccionar la última palabra que empiece con una consonante.

In [ ]:
palabras = [ " C ó ncavo " , " Autopista " , " Diagonal " , " Equipaje " , " Ardilla " , " Consultorio " , " Roma " ,
            " Loco " , " Marciano " , " Karateca " , " Aniversario " , " Topadora " , " Grabador " , " Salir " , 
            " Ventoso " , " Anunciar " ," R ó tula " , " Estanque " , " Quedarse " , " Nuevo " , " Sordo " , 
            " Madurar " , " Vestir " , " Retoque " , " Desvelo " , " Hora " , " Cochera " , " Metal " , " Nudo " , 
            " Maquillaje " , " Barco " , " Soda " , " Lagartija " ]

print("Total de palabras:",len(palabras))
count_A = 0
count_O = 0
for i in palabras:
  if palabra[0]=="A"
  count_A +=1
  elif palabra[-1]

  print(i)

Total de palabras: 33
 C ó ncavo
 Autopista
 Diagonal
 Equipaje
 Ardilla
 Consultorio
 Roma
 Loco
 Marciano
 Karateca
 Aniversario
 Topadora
 Grabador
 Salir
 Ventoso
 Anunciar
 R ó tula
 Estanque
 Quedarse
 Nuevo
 Sordo
 Madurar
 Vestir
 Retoque
 Desvelo
 Hora
 Cochera
 Metal
 Nudo
 Maquillaje
 Barco
 Soda
 Lagartija

In [ ]:
txt = 'Hola me llamo texto y quiero ver cual es la palabra mas larga'

list_word = txt.split(" ")
word= "a"
for i in list_word:
    if len(i) > len(word):
        word= i
print(word)

palabra

In [ ]:
nums = {
    1: 'one',
    2: 'two',
    3: 'three',
}
print(1 in nums)
print('three' in nums)
print(4 not in nums)

True
False
True

In [ ]:
allowed_file('image.jpeg')

True

In [ ]:
def get_file_hash(file):
    """
    Returns a new filename based on the file content using MD5 hashing.
    It uses hashlib.md5() function from Python standard library to get
    the hash.

    Parameters
    ----------
    file : werkzeug.datastructures.FileStorage
        File sent by user.

    Returns
    -------
    str
        New filename based in md5 file hash.
    """
    # Current implementation will return the original file name.
    # TODO
    return os.path.basename(file.filename)

In [ ]:
!pip install fastapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fastapi
  Downloading fastapi-0.79.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.5 MB/s
Collecting starlette==0.19.1
  Downloading starlette-0.19.1-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi) (1.8.2)
Collecting anyio<5,>=3.4.0
  Downloading anyio-3.6.1-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 7.8 MB/s
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.19.1->fastapi) (4.1.1)
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<5,>=3.4.0->starlette==0.19.1->fastapi) (2.10)
Installing collected packages: sniffio, anyio, starlette, fastapi
Successfully installed anyio-3.6.1 fastapi-0.79.0 sniffio-1.2.0 starlette-0.19.1

In [ ]:
from pydantic import BaseModel
from fastapi.encoders import jsonable_encoder
import pandas as pd

ModuleNotFoundError: ignored

In [ ]:
form_dict = jsonable_encoder(application)
print(form_dict)
for key,value in form_dict.items():
    form_dict[key] = [value]
    print(key)
    print(value)
print(form_dict)
single_applicant = pd.DataFrame.from_dict(form_dict)

NameError: ignored

In [ ]:
print(application)
print(form_dict)
print(single_applicant)

NameError: ignored

In [ ]:
def handle_form(application):
    form_dict = jsonable_encoder(application)
    single_applicant = pd.DataFrame.from_dict(form_dict.values())
    single_applicant.to_csv('output.csv')
    return print(single_applicant)

In [ ]:
form_dict = jsonable_encoder(application)
form_dict.values()

NameError: ignored

In [ ]:
with open('mycsvfile.csv', 'a+') as f:  # You will need 'wb' mode in Python 2.x
    writer = csv.DictWriter(f, application_dict.keys(),delimiter='\t')
    writer.writerow(application_dict)

In [ ]:
with open(new_submissions_path, "wt") as f:
        f.write(f"{form_dict.values()}\n")
        flash("Thanks for your feedback")

In [ ]:
application_dict={
    "age": 19,
    "Medu": 1,
    "studytime": 2,
    "failures": 1,
    "famrel": 4,
    "freetime": 2,
    "goout": 4,
    "Walc": 2,
    "health": 3,
    "absences": 0
}

In [ ]:
import uuid

In [ ]:
job_id = str(uuid.uuid4())
job_id

In [ ]:
new_dict = {
    "id": str(uuid.uuid4())
}
new_dict

{'id': 'bc97969e-2ecd-4497-80f1-5c1a627538c1'}

In [ ]:
application_dict["id"] =  str(uuid.uuid4())

In [ ]:
application_dict

{'Medu': 1,
 'Walc': 2,
 'absences': 0,
 'age': 19,
 'failures': 1,
 'famrel': 4,
 'freetime': 2,
 'goout': 4,
 'health': 3,
 'id': '81d4d603-0774-467e-af66-3af0f8957274',
 'studytime': 2}

In [ ]:
import csv
import os

In [ ]:
UPLOAD_SUBMISSIONS_FOLDER = "uploads/new_submissions"
os.makedirs(os.path.basename(UPLOAD_SUBMISSIONS_FOLDER), exist_ok=True)

In [ ]:
with open("new_submissions.txt", 'a+') as csvfile:
    writer = csv.writer(csvfile, delimiter='\t', lineterminator='\n', )
    # Add the header row
    writer.writerow(application_dict.values())

In [ ]:
pred_result = tuple([0, 0.25])

In [ ]:
pred_dict = {
            "prediction": pred_result[0],
            "score": pred_result[1],
        }

In [ ]:
pred_dict['prediction']

0

In [ ]:
if pred_dict['prediction'] == 0:
  #inverse_score = 1 - pred_dict['score']
  pred_dict.update(
      {
          "prediction": 'GOOD',
          "score": 1 - pred_dict['score']
      })
else:
    pred_dict.update(
      {
          "prediction": 'BAD',
          "score": pred_dict['score']
      })

In [ ]:
print(f"Due to submitted information the result indicates that the applicant is {pred_dict['prediction']} with {round(pred_dict['score']*100,4)}% of certainty.")

Due to submitted information the result indicates that the applicant is GOOD with 75.0% of certainty.

In [ ]:
path = '/home/app/src/data/raw/PAKDD2010_Modeling_Data.txt'
splitted = path.split("/")[-1]
splitted

'PAKDD2010_Modeling_Data.txt'

In [ ]:
import os

In [ ]:
model_name = "lgbm"
path = os.path.join(f'experiments/',f'{model_name}')
path

'experiments/lgbm'

In [ ]:
False and True

False

In [ ]:
True or False

True

In [ ]:
False or True

True

Se quiere agilizar el pedido de turnos en un consultorio. Para ello se le debe mostrar al usuario primero los días disponibles. Según su elección, mostrarle luego los horarios hora por hora, para que elijan una hora en particular. Por último imprimir en pantalla el turno. Ejemplo: Lunes a las 10.

![image.png]()

In [ ]:
open = {"lunes":range(9,12),
                "martes":range(10,16),
                "miércoles": range(8,11),
                "jueves":range(11,16),
                "viernes":range(8,12)}

In [ ]:
print(f'Hola, bienvenido al nuevo sistema de turnos del consultorio Leperini:\n')
while True:
  print(f'Los días disponibles para su atención son:\n')
  for day in open.keys():
    print(day.capitalize())
  day = input(f'\nPor favor, ingrese un día para continuar con su reserva:',)
  print(f'\nUsted a ingresado el día: {day.capitalize()}.\n')
  day = day.lower()
  if day in open:
    print(f'Los horarios disponibles para agendar su turno son:\n')
    for hour in open[day]:
      print(f'{hour} horas')
  else:
    print(f'El día ingresado es incorrecto. Por favor ingrese un día proveniente del listado.\n')
    continue
  while True:
    hour = int(input(f'\nPor favor, ingrese la hora (solo el número) a la que desee su consulta el día {day.capitalize()}:\n',))
    if hour in open[day.lower()]:
      print(f'\nSu turno ha sido reservado para el día {day} a las {hour} horas.\n\nMuchas gracias por confiar en consultorio Leperini ')
      break
    else:
      print(f'La hora ingresada es incorrecta. Asegurese de que se encuentre dentro del siguente listado:')
      for hour in open[day]:
        print(f'{hour} horas')
      continue
  break

Hola, bienvenido al nuevo sistema de turnos del consultorio Leperini:

Los días disponibles para su atención son:

Lunes
Martes
Miércoles
Jueves
Viernes

Por favor, ingrese un día para continuar con su reserva:jueves

Usted a ingresado el día: Jueves.

Los horarios disponibles para agendar su turno son:

11 horas
12 horas
13 horas
14 horas
15 horas

Por favor, ingrese la hora (solo el número) a la que desee su consulta el día Jueves:
16
La hora ingresada es incorrecta. Asegurese de que se encuentre dentro del siguente listado:
11 horas
12 horas
13 horas
14 horas
15 horas

Por favor, ingrese la hora (solo el número) a la que desee su consulta el día Jueves:
11

Su turno ha sido reservado para el día jueves a las 11 horas.

Muchas gracias por confiar en consultorio Leperini

In [ ]:
tup = (1,2,3,4,5)

In [ ]:
tup

(1, 2, 3, 4, 5)

In [ ]:
print(f'Hola, este es un programa que le ayudará a calcular el área de su rectángulo:')
base = int(input(f'Ingrese la base de su rectángulo en cm:'))
altura = int(input(f'Ingrese la altura de su rectángulo cm:'))
print(f'El área de su rectángulo es: {base*altura} cm2')

Hola, este es un programa que le ayudará a calcular el área de su rectángulo:
Ingrese la base de su rectángulo en cm:2
Ingrese la altura de su rectángulo cm:3
El área de su rectángulo es: 6 cm2

In [ ]:
import numpy as np

a=np.array([1,2,3,5,9])

b=np.array([22,3,4,0,9])

c=a+b

c=c*a

print(c[2])

21

In [ ]:
year = 2000
leap = False
if (year%4) == 0:
    if (year%100) == 0:
        if (year//400) == 0 :
            leap = True
print(leap)

False

In [ ]:
numbers = [1,2,3,4,5]
print(*numbers,sep="")

12345

In [ ]:
class Team:
  def __init__(self,roster,name):
    self.roster = roster
    self.name = name
  
  def welcome(self):
    print(f"Welcome {self.name} to the tournament.")

ncb = Team(15,"ninocantor")
ncb.welcome()

Welcome ninocantor to the tournament.

In [ ]:
class House:
  def __init__(self,door,window,city):
    self.door = door
    self.window = window
    self.city = city

  def welcome(self):
    print(f'Welcome to your new house in {self.city} city.')

myhouse = House("brown","glass","Rosario")
myhouse.welcome()
print(myhouse.door)
print(myhouse.window)

Welcome to your new house in Rosario city.
brown
glass

In [ ]:
class Dog :
  def __init__(self,name,age,race):
    self.name = name
    self.age = age
    self.race = race
  
  def sayHi(self):
    print(f'Hi {self.name}, are you a {self.age} years old {self.race}?')

ema = Dog("ema",3,"yorkshire")
print(ema.name)
print(ema.age)
print(ema.race)
ema.sayHi()

ema
3
yorkshire
Hi ema, are you a 3 years old yorkshire?

In [ ]:
class Vector2D:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def __add__(self,other):
    return Vector2D(self.x + other.x, self.y + other.y)

first = Vector2D (5,7)
second = Vector2D (3,9)
result = first + second

print(result.x)
print(result.y)

8
16

In [ ]:
class Person:
  def __init__(self, age):
    self.age = int(age)

  @property
  def isAdult(self):
    if self.age > 18:
      return True
    else:
      return False

In [ ]:
n = int(input())
arr = map(int, input().split())

2
3
3