### Q1. Write a program to calculate the area of a rectangle with given length and width.
    area = length * width

In [2]:
def calculate_rectangle_area(length, width):
    area = length * width
    return area


length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))


area = calculate_rectangle_area(length, width)


print("The area of the rectangle is " ,area,)

##### Q2. Write a program that takes an integer input from the user and prints whether it's even or odd.
    Even Numbers: 0, 2, 4, 6, 8, ...
    OOD Numbers: 1, 3, 5, 7, 9, ...

In [ ]:
num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter an integer:  5

5 is odd.

### Q3. Write a program that takes a three-digit number as input and calculates the sum of its digits.

In [ ]:

def sum_of_digits(number):
    
    hundreds = number // 100
    tens = (number // 10) % 10
    units = number % 10
    
    sum_digits = hundreds + tens + units
    return sum_digits


number = int(input("Enter a three-digit number: "))


sum_digits = sum_of_digits(number)


print("The sum of digits in", number, "is:", sum_digits)

Enter a three-digit number:  467

The sum of digits in 467 is: 17

### Q4. Create two strings and concatenate them to form a third string.

In [ ]:

string1 = (input("enter string 1: "))
string2 = (input("enter string 2: "))

# Concatenating the strings
string3 = string1 + string2

# Displaying the concatenated string
print("Concatenated string:", string3)

enter string 1:  ahmed_
enter string 2:  hussein

Concatenated string: ahmed_hussein

### Q5. Write a program that compares two numbers and prints whether the first number is greater, smaller, or equal to the second number.

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
if num1>num2:
    print("num1 greatar than num2")
elif num1<num2:
     print("num1 smaller than num2")
else :
      print("num1 equal than num2")

Enter num1:  5
Enter num2:  9

num1 smaller than num2

### Q6. Write a program to print the first five even numbers.

In [ ]:
even_number = 0


for _ in range(5):
    print(even_number)
    even_number += 2

0
2
4
6
8

### Q7. Write a program that takes a string as input and prints it in reverse order.
    ahmed => demha

In [ ]:
input_string = (input("Enter str: "))
reversed_string = ''.join(reversed(input_string))
print("revers str: ",reversed_string,)

Enter str:  sdvm

revers str:  mvds

### Q8. Write a program that takes a number as input and prints "Positive" if it's greater than 0, "Negative" if it's less than 0, and "Zero" if it's equal to 0.

In [ ]:
number = int(input("Enter the number: "))

if number>0:
    print(number," is positve number")
elif number<0:
      print(number," is negative number")
else :
      print(number," is equal  zero")

Enter the number:  -7

-7  is negative number

### Q9. Write a program that converts Fahrenheit to Celsius. Take Fahrenheit as input from the user.
    Temperature in degrees Celsius (°C) = (Temperature in degrees Fahrenheit (°F) - 32) * 5/9

In [ ]:
Fahrenheit =float(input("Enter the number: "))
Temperature= (Fahrenheit - 32) * 5/9
print(Temperature)

Enter the number:  6

-14.444444444444445

### Q10. Write a program that takes a string as input and counts the number of characters in it.
    ahmed => 5

In [ ]:
 input_string = input("Enter the string: ")
count = 0

for char in input_string:
    count += 1

print("Count of characters:", count)

Enter the string:  ahmed

Count of characters: 5

### Q11. Write a program that takes a number as input and prints whether it's a prime number or not.
    2, 3, 5, 7, 11, 13, 17, 19, 23, ...

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True  
    if num % 2 == 0:
        return False  
    
   
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    
    return True

try:
    number = int(input("Enter a number: "))
    if is_prime(number):
        print(number, "is a prime number.")
    else:
        print(number, "is not a prime number.")
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Enter a number:  44

44 is not a prime number.

### Q12. Write a program that takes three numbers as input and prints the maximum of those numbers.

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
num3 = int(input("Enter num3: "))
if num1>num2>num3 or num1>num3>num2:
    print(num1,"is the max number")
elif num2>num1>num3 or num2>num3>num1:
    print(num2,"is the max number")
else :
     print(num3,"is the max number")

Enter num1:  4
Enter num2:  8
Enter num3:  5

8 is the max number

### Q13. Write a program to print the multiples of 3 up to 30.
    3, 6, 9, 12, 15, 18, 21, 24, 27, 30

In [ ]:

for i in range(1, 31):
    
    if i % 3 == 0:
       
        print(i)

3
6
9
12
15
18
21
24
27
30

### Q14. Create two lists and concatenate them to form a third list.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]


concatenated_list = list1 + list2


print("Concatenated list:", concatenated_list)

Concatenated list: [1, 2, 3, 4, 5, 6]

### Q15. Write a program that takes a number as input and prints its square root.

In [ ]:
num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root is',num_sqrt,)

Enter a number:  4

The square root is 2.0

### Q16. Write a program that takes a string as input and checks whether it's a palindrome.
    radar, level, madam, ...

In [ ]:

i = ['radar', 'level', 'madam']

input_str = input('Enter a string: ')

found = False

for item in i:
    if item == input_str:
        print(item,"is exist")
        found = True

if not found:
    print(input_str," is not exist")

Enter a string:  level

level is exist

### Q17. Write a program that takes three numbers as input and prints their average.

In [ ]:
def numbers(num1,num2,num3):
    num=num1+num2+num3/2
    return num
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
num3 = int(input("Enter num3: "))

num=numbers(num1,num2,num3)
print("the average is",num,)

Enter num1:  2
Enter num2:  6
Enter num3:  4

the average is 10.0

### Q18. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


if num2 != 0 and num1 % num2 == 0:
    print(num1," is divisible by" ,num2,)
else:
    print(num1, "is not divisible by" ,num2,)

Enter the first number:  4
Enter the second number:  8

4 is not divisible by 8

### Q19. Write a program that takes two numbers and an operator (+, -, *, /) as input and performs the corresponding operation.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter the operator (+, -, *, /): ")


if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
   
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Error: Invalid operator"


print("Result: ",result,)

Enter the first number:  4
Enter the second number:  6
Enter the operator (+, -, *, /):  +

Result:  10.0

### Q20. Write a program that takes three numbers as input and prints the minimum of those numbers.

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
num3 = int(input("Enter num3: "))
if num1<num2<num3 or num1<num3<num2:
    print(num1,"is the min number")
elif num2<num1<num3 or num2<num3<num1:
    print(num2,"is the min number")
else :
     print(num3,"is the min number")

Enter num1:  4
Enter num2:  7
Enter num3:  9

4 is the min number

### Q21. Write a program that takes a string as input and prints its length.

In [ ]:
input_str = input("Enter a string: ")

length = 0
for char in input_str:
    length += 1

print("The length of the string" ,input_str, "is:" ,length,)

Enter a string:  ahmed

The length of the string ahmed is: 5

### Q22. Write a program to print the first five odd numbers.

In [ ]:
odd_number = 1


for _ in range(5):
    print(odd_number)
    odd_number += 2

1
3
5
7
9

### Q23. Create a list of numbers and write a program to find the sum of all elements in the list.

In [ ]:
numbers = [23, 45, 12, 67, 89, 34]
total_sum = 0
for num in numbers:
    total_sum += num

print("The sum of all elements in the list" ,numbers, "is:" ,total_sum,)

The sum of all elements in the list [23, 45, 12, 67, 89, 34] is: 270

### Q24. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is  not leap year")

Enter a year:  2000

2000 is a leap year

### Q25. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [ ]:

input_str = input("Enter a string: ")


upper_case = input_str.upper()
lower_case = input_str.lower()


print("In Uppercase: ",upper_case,)
print("In Lowercase: ",lower_case,)

Enter a string:  ahmed

In Uppercase:  AHMED
In Lowercase:  ahmed

### Q26. Create a list of five elements and remove the third element.

In [ ]:

my_list = [10, 20, 30, 40, 50]

removed_element = my_list.pop(2)


print("Modified list:", my_list)

Modified list: [10, 20, 40, 50]

### Q27. Write a program that takes an integer as input and prints whether it's a power of 2.

In [ ]:
def is_power_of_two(num):
    
    if num <= 0:
        return False
    
    return (num & (num - 1)) == 0


number = int(input("Enter an integer: "))


if is_power_of_two(number):
    print(f"{number} is a power of 2")
else:
    print(f"{number} is not a power of 2")

Enter an integer:  16

16 is a power of 2

### Q28. Write a program that takes a character as input and checks whether it's a consonant.
    There are 21 consonants in the English alphabet: B, C, D, F, G, H, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z

In [ ]:
def is_consonant(char):
    consonants = ['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']
    return consonants

character = input("Enter a character: ")
if character.upper() in is_consonant(char):
    print(character, "is a consonant")
else:
    print(character, "is not a consonant")

Enter a character:  b

b is a consonant

### Q29. Create a list of numbers and write a program to sort it in ascending order.

In [ ]:
x=[8,5,6,3,8,0,9,2,9,5,6,2,1,12,44,66,77,88]
x.sort()
print(x)

[0, 1, 2, 2, 3, 5, 5, 6, 6, 8, 8, 9, 9, 12, 44, 66, 77, 88]

### Q30. Write a program to print the multiplication table of a given number.

In [ ]:
def multiplication_table(num):
    print("Multiplication Table of" ,num,)
    for i in range(1, 11): 
        print(f"{num} x {i} = {num * i}")


number = int(input("Enter a number to print its multiplication table: "))


multiplication_table(number)

Enter a number to print its multiplication table:  5

Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Q31. Write a Python function square(num) that takes a number as input and returns its square.

In [ ]:
def square(num):
    return num ** 2

# Example usage:
number = 5
print("The square of" ,number, "is:" ,square(number),)

The square of 5 is: 25

### Q32. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [ ]:
def sum_of_digits(number):
    number = abs(number)  
    digit_sum = 0
    while number > 0:
        digit_sum += number % 10  
        number //= 10  
    return digit_sum

# Example usage:
number = 12345
print(f"The sum of digits in {number} is: {sum_of_digits(number)}")

The sum of digits in 12345 is: 15

### Q33. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [ ]:
def reverse_string(s):
    return ''.join(reversed(s))


input_string = "Hello World"
print(f"The reverse of '{input_string}' is: '{reverse_string(input_string)}'")

The reverse of 'Hello World' is: 'dlroW olleH'

### Q34. Write a Python function count_vowels(s) that takes a string as input and returns the count of vowels in the string.
    a, e, i, o, u

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    vowel_count = 0  
    for char in s:
        if char in vowels:
            vowel_count += 1  
    return vowel_count


input_string = "Hello World"
print(f"The number of vowels in '{input_string}' is: {count_vowels(input_string)}")

The number of vowels in 'Hello World' is: 3

### Q35. Write a Python function sort_list(lst) that takes a list of numbers as input and returns a new assertlist with the numbers sorted in ascending order.

In [ ]:
def sort_list(lst):
    
    lst = list(map(int, lst))
    lst.sort()
    return lst


input_string = input("Enter numbers separated by comma: ")
user_list = input_string.split(',')

# Display the original list
print("Original List:", user_list)

# Sort the list and display the sorted list
sorted_list = sort_list(user_list)
print("Sorted List:", sorted_list)

Enter numbers separated by comma:  2,6,7,9,0,3,1

Original List: ['2', '6', '7', '9', '0', '3', '1']
Sorted List: [0, 1, 2, 3, 6, 7, 9]

### Q36. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [ ]:
def word_count(sentence):
    
    words = sentence.split()
    
   
    return len(words)


print(word_count("ahmed mohamed"))

2

### Q37. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [ ]:
def remove_elements(lst, n):
    if n < 0 or n >= len(lst):
        print("Index out of range")
        return
    lst.pop(n)


my_list = input("Enter your list : ").split()

print("Original list:", my_list)


n = int(input("Enter the index of the element to remove: "))


remove_elements(my_list, n)


print("Modified list:", my_list)

Enter your list :  2 4 5 7 8 9 0 1

Original list: ['2', '4', '5', '7', '8', '9', '0', '1']

Enter the index of the element to remove:  5

Modified list: ['2', '4', '5', '7', '8', '0', '1']

### Q38. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [ ]:
def duplicate_list(lst):
    duplicated_lst = []
    for item in lst:
        duplicated_lst.append(item)
        duplicated_lst.append(item)
        
    return duplicated_lst
original_list = input("Enter your list : ").split()
print("Original list:", original_list)
duplicated_list = duplicate_list(original_list)

print("Duplicated list :", duplicated_list)

Enter your list :   7 5 4 2 9 1 0

Original list: ['7', '5', '4', '2', '9', '1', '0']
Duplicated list : ['7', '7', '5', '5', '4', '4', '2', '2', '9', '9', '1', '1', '0', '0']

### Q39. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [ ]:
def is_divisible(num1, num2):
    if num2 == 0:
        return False
    return num1 % num2 == 0

print(is_divisible(10, 2))  
print(is_divisible(10, 3))

True
False

### Q40. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [ ]:
def power(base, exponent):
    return base ** exponent
print(power(2, 3))

8

### Q41. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
def find_numbers():
    results = []
    
    for num in range(2000, 3001):
        if num % 7 == 0 and num % 5 != 0:
            results.append(num)
    
    print(",".join(map(str, results)))

find_numbers()

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

### 42. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [ ]:
def factorial_recursive(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial_recursive(n - 1)

input_numbers = input("Enter numbers separated by spaces: ")
numbers = list(map(int, input_numbers.split()))

factorial_results = [factorial_recursive(num) for num in numbers]


print(",".join(map(str, factorial_results)))

Enter numbers separated by spaces:  4 5

24,120

### 43. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
def generate_square_dict(n):
    square_dict = {}
    for i in range(1, n + 1):
        square_dict [i]= i * i
    return square_dict

n = int(input("Enter an integer number (n): "))

result_dict = generate_square_dict(n)

print(result_dict)

Enter an integer number (n):  8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 44. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [ ]:
input_numbers = input("Enter comma-separated numbers: ")

numbers_list = list(map(int, input_numbers.split(",")))

numbers_tuple = tuple(numbers_list)

print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter comma-separated numbers:  4,0,3,8,9,1

List: [4, 0, 3, 8, 9, 1]
Tuple: (4, 0, 3, 8, 9, 1)

### 45. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [ ]:
import math

def calculate_values(input_sequence):
    C = 50
    H = 30
    results = []
    
    numbers = input_sequence.split(',')
    
    for number in numbers:
        D = int(number)
        Q = math.sqrt((2 * C * D) / H)
        results.append(round(Q))  
    
    return results


input_sequence = (input("Enter a comma-separated: "))
output = calculate_values(input_sequence)
print(','.join(map(str, output)))

Enter a comma-separated:  100,150,180

18,22,24

### 46. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
def generate_2d_array(X, Y):
    # Function to generate a 2D array with dimensions X by Y
    # Initialize an empty list to store the 2D array
    result = []
    
    # Loop through each row index i from 0 to X-1
    for i in range(X):
        # Initialize an empty list for the current row
        row = []
        # Loop through each column index j from 0 to Y-1
        for j in range(Y):
            # Calculate the value for the current element at position (i, j)
            value = i * j
            # Append the calculated value to the current row list
            row.append(value)
        # Append the current row list to the result, forming the 2D array
        result.append(row)
    
    return result

def main():
    # Function to handle user input and display the generated 2D array
    # Prompt the user to enter values for X and Y separated by a comma
    input_str = input("Enter values of X and Y (separated by comma): ")
    # Split the input string into X and Y as integers
    X, Y = map(int, input_str.split(','))
    # Generate the 2D array using the provided X and Y values
    result = generate_2d_array(X, Y)
    # Print the generated 2D array
    print("Generated 2D array:")
    for row in result:
        print(row)

if __name__ == "__main__":
    main()

Enter values of X and Y (separated by comma):  4,5

Generated 2D array:
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[0, 3, 6, 9, 12]

### 47. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

### 48.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

### 49. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

### 50. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

### 51. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

### 52. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,3,5,7,9

### 53. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

### 54. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

### 55.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8,13

### Q56. Define a Python class named 'Person' with attributes 'name' and 'age'.

### Q57. Add a constructor to the 'Person' class that initializes the 'name' and 'age' attributes.

### Q58. Create an instance method in the 'Person' class that prints the person's information.

### Q59. Create an object of the 'Person' class and call the instance method to display its information.

### Q60. Create a subclass 'Student' that inherits from the 'Person' class, and add a new attribute 'student_id'.

### Q61. Override the instance method in the 'Student' class to include the 'student_id' in the information display.

### Q62. Add private attributes ('__name' and '__age') to the 'Person' class and create methods to access and modify them.

### Q63. Create a method in the 'Person' class called introduction that can be overridden by subclasses.

### Q64. Add a class variable 'total_people' to the 'Person' class to keep track of the total number of people.

### Q65. Create a static method in the 'Person' class that prints a generic message about people.

### Q66. Define an abstract class 'Shape' with an abstract method 'area'.

### Q67. Create two classes, 'Engine' and 'Car'. Use composition to include an instance of 'Engine' in the 'Car' class.

### Q68. Create a class 'Employee' with attributes 'employee_id' and 'salary'. Create another class 'Manager' that inherits from both 'Person' and 'Employee'.

### Q69. Add a property 'is_adult' to the 'Person' class that returns 'True' if the person is 18 or older, and 'False' otherwise.

### Q70. Create a setter method for the 'age' attribute in the 'Person' class that ensures the age is a positive integer.

### Q71. Add a class method to the "Person" class that creates a "Person" object from a string in the format "Name, Age".

### Q72. Add a destructor method to the 'Person' class that prints a message when an object is destroyed.

### Q73. Create an instance variable 'grades' in the 'Student' class to store a list of grades.

### Q74. Add a class variable 'total_students' to the 'Student' class to keep track of the total number of students.

### Q75. Add a class method to the 'Student' class that increments the 'total_students' count.

### Q76. Create a static method in the 'Student' class that calculates the average grade from a list of grades.

### Q77. Implement method overloading for the 'Person' class, allowing it to accept either a name and age or just a name.

### Q78. Encapsulate the 'grades' attribute in the 'Student' class to make it private.

### Q79. Create two classes, 'Library' and 'Book'. Use association to represent that a library contains multiple books.

### Q80. Extend the 'library' example by adding a 'Book' class that can exist independently of the Library class.

### Q81. Create a base class 'Shape' with a method 'draw' and two subclasses, 'Circle' and 'Square', that override the draw method.

### Q82 Create a class 'Computer' composed of 'CPU', 'RAM', and 'HardDrive' classes.

### Q83. Create two classes, 'Dog' and 'Cat', each with a method 'speak'. Write a function that takes an object and calls its speak method.

### Q84. Implement a basic observer pattern with a 'Subject' class and an 'Observer' class. The subject should notify observers when its state changes.

### Q85. Implement a class representing a node in a singly linked list.

### Q86. Implement a function to insert a new node at the begining of a linked list.

### Q87. Implement a function to insert a new node at the end of a linked list.

### Q88. Implement a function to insert a new node a specific position of a linked list.

### Q89. Implement a stack with push and pop operations.

### Q90. Implement a queue with enqueue and dequeue operations.

### Q91. Implement a class representing a node in a binary tree.

### Q92. Implement a function to insert a new node into a binary search tree.

### Q93. Implement a graph using an adjacency list.

### Q94. Implement a depth-first search (DFS) algorithm for a graph.

### Q95. Implement a binary search algorithm for a sorted list.

### Q96. Create two sets of numbers and find their intersection.

### Q97. Perform the union and difference operations on two sets.

### Q98. Create a tuple with three elements and unpack it into three variables.

### Q99. Create a dictionary representing a person with keys "name," "age," and "city."

### Q100. Access and print the value associated with the "age" key in the dictionary

### Q101. Update the age in the dictionary to a new value.

### Q102. Iterate through the keys and values in the dictionary and print them.

### Q103. Find and print the number of key-value pairs in the dictionary.

### Q104. Remove the "city" key from the dictionary.

### Q105. Check if the "gender" key exists in the dictionary and print the result.

### Q106. Create a second dictionary with additional information and merge it with the original dictionary.

### Q107. Write a program to get the keys of the dictionary as a list.

### Q108. Write a program to get the values of the dictionary as a list.

### Q109. Remove the key-value pair with the "name" key from the dictionary.

### Q110. Clear all items from the dictionary.

### Q111. Write a program to print the dictionary keys in sorted order.

### Q112. Write a program to print the dictionary values in sorted order.

### Q113. Find and print the key with the maximum value in the dictionary.

### Q114. Find and print the key with the minimum value in the dictionary.

### Q115. Create a copy of the dictionary and print both dictionaries.

### Q116. Create a nested dictionary representing a student with keys "name," "grades," and "subjects."

### Q117. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

### Q118. Swap the keys and values in the dictionary and print the result.

### Q119. Create a list of integers with values 1 to 5.

### Q120. Access and print the third element of the list.

### Q121. Modify the second element of the list to have a new value.

### Q122. Find and print the number of elements in the list.

### Q123. Add a new element to the end of the list.

### Q124. Create two lists and concatenate them into a new list.

### Q125. Repeat the list three times and print the result.

### Q126. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

### Q127. Use a loop to print each element of the list.

### Q128. Write a program to sort the list in ascending order.

### Q129. Reverse the order of elements in the list.

### Q130. Remove the third element from the list.

### Q131. Clear all elements from the list.

### Q132. Count the number of occurrences of a specific element in the list.

### Q133. Use list comprehension to create a list of squares of numbers from 1 to 5.

### Q134. Create a list of numbers and filter out the even numbers.

### Q135. Create a list of strings and map them to uppercase using list comprehension.

### Q136. Write a program to find the index of a specific element in the list.

### Q137. Remove all occurrences of a specific element from the list.

### Q138. Insert a new element at index 2 in the list.

### Q139. Use the 'pop()' method to remove and print the last element of the list.

### Q140. Extend the current list with elements from another list.

### Q141. Find and print the minimum value in the list.

### Q142. Find and print the maximum value in the list.

### Q143. Create a list with three elements and unpack it into three variables.

### Q144. Create a copy of the list and print both lists.

### Q145. Convert a list of integers to a list of strings.

### Q146. Remove duplicate elements from a list.

### Q147. Create an empty list and add elements to it using a loop.

### Q148. Create two lists and find their intersection.

### Q149. Clear all elements from the list.

### Q150. Implement a simple singly linked list in Python. Include the following functionalities:

    Node Class: Create a Node class with attributes data and next_node.

    LinkedList Class: Create a LinkedList class with the following methods:

    __init__: Initialize an empty linked list.
    is_empty: Return True if the linked list is empty, False otherwise.
    append: Add a new node with the given data to the end of the linked list.
    prepend: Add a new node with the given data to the beginning of the linked list.
    delete: Delete the first occurrence of a node with the given data.
    display: Print the elements of the linked list.

Demonstrate the usage of your implemented linked list by creating an instance of the LinkedList class, appending a few nodes, prepending a node, deleting a node, and displaying the final linked list.