<a href="https://colab.research.google.com/github/AyeshaMalikAyesha/DataEngineering/blob/main/DataStructuresAndAlgorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures and Algorithms

Data structure is a way to organize data and Algorithms are set of rules that can be converted into code and executed by compiler on different inputs.

SELF represents instance of class. It is used to access the attributes and methods of class.

str and repr both are string representation of objects but str is more readable and is for users but repr is for developers and is more detailed.

In [ ]:
class Student:
    uniName='RIPHAH' # class variable is shared across all instance of the class
    # Constructor
    def __init__(self,sapId,name):
        self.sapId=sapId
        self.name=name
    def __str__(self):
        return self.__repr__()
    def __repr__(self):
        return f'Name:{self.name} ,ID:{self.sapId}, Uni Name:{self.uniName}'
std1=Student(24764,'Ayesha')
std1

Name:Ayesha ,ID:24764, Uni Name:RIPHAH

# Linear Search Algorithm O(n)

In [ ]:
def linear_search(arr,target):
    for i in range(len(arr)):
        if arr[i]==target:
            return i
    return -1

arr=[1,2,3,4,5,6,7,8,90,45]
linear_search(arr,5)

4

# Binary Search Algorithm TC=O(logn)

In [ ]:
def binary_search(arr,target):
    l,h=0,len(arr)-1
    while l<=h:
        mid=(l+h)//2
        if arr[mid]==target:
            return mid
        elif target>arr[mid]:
            l=mid+1
        else:
            h=mid-1
    return arr
arr=[1,2,3,4,5,6,7,8,9]
binary_search(arr,5)

4

**Find first occurance of target using binary search**

In [ ]:
def binary_search(arr,target):
    l,h=0,len(arr)-1
    while l<=h:
        mid=(l+h)//2
        if target==arr[mid]:
            if mid>0 and arr[mid-1]==target:
                h=mid-1
            else:
                return mid
        elif target>arr[mid]:
            l=mid+1
        else:
            h=mid-1
    return -1
binary_search([1,2,2,3,4],2)

1

# Rotated List

We have to find out that how many times the sorted list has been rotated?

In [ ]:
def linear_search(arr):
    for i in range(len(arr)):
        if arr[i]<arr[len(arr)-1]:
            return i
    return 0
linear_search([4,5,6,7,8,9,1,2,3])

6

In [ ]:
def binary_search(arr):
    l,h=0,len(arr)-1
    while l<=h:
        mid=(l+h)//2
        if mid>0 and arr[mid]<arr[mid-1]:
            return mid
        elif mid<len(arr)-1 and arr[mid]>arr[mid+1]:
            return mid+1
        elif arr[mid]>arr[h]:
            l=mid+1
        else:
            h=mid-1
    return 0
binary_search([4,5,6,1,2,3])

3

# Sorting

**Bubble Sort**

**Bubble Sort Algorithm**

1. Go through each element of array.
2. Compare the two consecutive elements, and place the largest element at the right side.
3. Go through the array as many times as one less the number of elements in array(n-1).

1. Time Complexity=O(n^2) Where n is the length of array
2. Space Complexity=O(1) as no extra space is required to sort the array.

In [ ]:
def bubble_sort(arr):
    n=len(arr)
    for i in range(n-1):
        for j in range(n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
    return arr
bubble_sort([9,10,2,3,1])

[1, 2, 3, 9, 10]

# Selection Sort

1. Go through every element of list to find the lowest element.
2. Move the lowest element to front unsorted part of array.
3. Repeat the above steps as many times as 1 less the number of elements in the list.

TC=O(N^2) AND SC=O(1)

In [ ]:
def selection_sort(arr):
    n=len(arr)
    for i in range(n-1):
        min=i
        for j in range(i+1,n):
            if arr[min]>arr[j]:
                min=j
        arr[min],arr[i]=arr[i],arr[min]
    return arr
selection_sort([2,5,3,1])

[1, 2, 3, 5]

# Insertion Sort

1. Start with second element as first element is assumed to be sorted.
2. Compare second element with first element and swap if second element is less than first element.
3. Now compare third element with second and then first element and insert it at the right position of the sorted list.
4. Repeat the steps until the entire array is sorted.

TC=O(n^2),SC=O(1)

def **insertion_sort**(arr):

    n=len(arr)
    for i in range(1,n):
        temp=arr[i]
        j=i
        while (j>0 and temp<arr[j-1]):
            arr[j]=arr[j-1]
            j-=1
        arr[j]=temp
    return arr
insertion_sort([10,-2,45,2,5,3,1])

In [ ]:
def insertion_sort(arr):
    n=len(arr)
    for i in range(1,n):
        temp=arr[i]
        j=i
        while (j>0 and temp<arr[j-1]):
            arr[j]=arr[j-1]
            j-=1
        arr[j]=temp
    return arr
insertion_sort([10,-2,45,2,5,3,1])

[-2, 1, 2, 3, 5, 10, 45]

# Quick Sort

1. It is a divide and conquer algorithm.
2. It picks an element as a pivot and partitions the given array around picked pivots.
3. In worst case the time complexity is O(n^2) when the array is already sorted(pivot is always greatest or smallest) but in avg case the time complexity is O(nlogn).
4. Space complexity is O(n) due to unbalanced partitioning leading to depp recursive stack in worst case.

In [ ]:
def quickSort(arr,low,high):
  if low<high:
    pivot=partition(arr,low,high)
    quickSort(arr,low,pivot-1)
    quickSort(arr,pivot+1,high)

def partition(arr,low,high):
  pivot=arr[low]
  i=low+1
  j=high

  while True:
    while i<=j and arr[i]<=pivot:
      i+=1
    while i<=j and arr[j]>=pivot:
      j-=1
    if i<=j:
      arr[i],arr[j]=arr[j],arr[i]
    else:
      break

  arr[low],arr[j]=arr[j],arr[low]
  return j

arr=[5,6,2,1,7,90,87,65,45,100]
quickSort(arr,0,len(arr)-1)
print(arr)

[1, 2, 5, 6, 7, 45, 65, 87, 90, 100]

# Merge Sort

1. It follows divide and conquer approach.
2. It recursively divides the input array into sub arrays and sorting those sub arrays and then merging them back to get the sorted array.
3. TC=O(nlogn) in worst case and SC=O(n)

In [ ]:
def mergeSort(arr):
  if len(arr)<=1:
    return arr
  mid=len(arr)//2
  l_half=arr[:mid]
  r_half=arr[mid:]
  l_half=mergeSort(l_half)
  r_half=mergeSort(r_half)
  return merge(l_half,r_half)

def merge(left,right):
  new=[]
  i,j=0,0
  while i<len(left) and j<len(right):
    if left[i]<=right[j]:
      new.append(left[i])
      i+=1
    else:
      new.append(right[j])
      j+=1
  new.extend(left[i:])
  new.extend(right[j:])
  return new

arr=[5,3,1,8,7,9,0,4]
mergeSort(arr)

[0, 1, 3, 4, 5, 7, 8, 9]

# Tuple

1. Tuple elements are unchangeable,ordered and allow duplicate values

In [36]:
myTuple=(1,2,3,4,5,2,1,2,2)
print(myTuple)
# length of tuple
print(f'length of tuple is {len(myTuple)}')
# get an element at specific index
print(f'Element at index 2 is {myTuple[2]}')
# how many times specific element at tuple occur
print(f'2 occur {myTuple.count(2)} times in myTuple')
# find the index of specific element
print(f'1 element is present at {myTuple.index(1)} index')

(1, 2, 3, 4, 5, 2, 1, 2, 2)
length of tuple is 9
Element at index 2 is 3
2 occur 4 times in myTuple
1 element is present at 0 index

# Set

1. Set is a data structure in python that is unordered.
2. It donot allow duplicate values.
3. It is unchangeable means once the values are set, they cannot be changed.
4. Sets are mutable, we can add or reove elements

In [ ]:
set1={1,22,3,2,2,True,'a','Ali'}
print(set1)

{1, 2, 3, 'Ali', 22, 'a'}

In [ ]:
set2={2,'Ali',True,1}
print(set2)

{True, 2, 'Ali'}

In [ ]:
set3={1,22,3,2,2,True,'a','Ali'}
print(len(set3))
# Add any element
set3.add(5)
print(set3)

# remove any element
set3.remove(2)
print(set3)

# discard(also remove element but if the element to be removed is not present then it will not throw exception but remove does throw exception)
set3.discard(32)
print(set3)

# to remove all elements from set
set3.clear()
print(set3)

{1, 2, 3, 'Ali', 5, 22, 'a'}
{1, 3, 'Ali', 5, 22, 'a'}
{1, 3, 'Ali', 5, 22, 'a'}
6
set()

We can add tuple to set but we can't add list because list elements are indexed and can be changed but tuple elements are immutable and set elements are also unchangeable.

In [ ]:
set4={1,4,'ali','b',4.5}
set4.add((2,3,4)) # we can add tuple to set as well
print(set4)

{1, 'ali', 4.5, 'b', 4, (2, 3, 4)}

# HashSet

1. Hash set donot contain duplicate elements.
2. Hash set internally use the hash table data structure to store data items.
3. Hash set is different from set as set is implemeted as hashset,list or tree.

TC=O(1) in AVG case but O(n) in worst case due to collision

In [ ]:
class Hashset:
  def __init__(self):
    self.size=10
    self.buckets=[[]for _ in range(self.size)]

  def _hash(self,x):
    return x%self.size

  def add(self,x):
    index=self._hash(x)
    if x not in self.buckets[index]:
      self.buckets[index].append(x)

  def remove(self,x):
    index=self._hash(x)
    if x in self.buckets[index]:
      self.buckets[index].remove(x)

  def contains(self,x):
    index=self._hash(x)
    return x in self.buckets[index]

  def __str__(self):
    return str(self.buckets)

  def display(self):
    for i in range(self.size):
      if self.buckets[i]:
        print(self.buckets[i],end=' ')

In [ ]:
set=Hashset()
set.add(10)
set.add(20)
set.add(12)
set.add(2)
set.add(2)
set.remove(10)
set.add(3)
print(set.display())

[20] [12, 2] [3] None

# Map

1. Also called as dictionaries in python.
2. Dictionaries are mutable.
3. Store data in the form of key value pairs.
4. We can change the value of particular key.
5. We can also add more key value pairs.
6. Dictionaries are unordered.

In [5]:
word_dict={"intelligent":"smart","rich":"wealthy","alert":"warn","assist":"give help"}
type(word_dict),word_dict

(dict,
 {'intelligent': 'smart',
  'rich': 'wealthy',
  'alert': 'warn',
  'assist': 'give help'})

In [6]:
# get all the keys
word_dict.keys()

dict_keys(['intelligent', 'rich', 'alert', 'assist'])

In [7]:
# get all the values
word_dict.values()

dict_values(['smart', 'wealthy', 'warn', 'give help'])

In [8]:
# get key value pairs
word_dict.items()

dict_items([('intelligent', 'smart'), ('rich', 'wealthy'), ('alert', 'warn'), ('assist', 'give help')])

In [9]:
word_dict["intelligent"]

'smart'

In [10]:
# sort on the basis of values
sorted(word_dict,key=lambda x: word_dict[x])

['assist', 'intelligent', 'alert', 'rich']

In [11]:
# sort on the basis of key
sorted(word_dict)

['alert', 'assist', 'intelligent', 'rich']

In [12]:
# as tuples are immutable so it can also act as key
num_dict={1:'one',2:'two',3:'three',(1,2,3):'tuple'}
num_dict.get(5,'not found')

'not found'

In [13]:
# change the value of specific key
num_dict[1]='ones'
num_dict

{1: 'ones', 2: 'two', 3: 'three', (1, 2, 3): 'tuple'}

In [14]:
# add more key value pairs
num_dict[4]='four'
num_dict

{1: 'ones', 2: 'two', 3: 'three', (1, 2, 3): 'tuple', 4: 'four'}

In [15]:
orders_data=[(101,1000),(102,20000),(103,30000)]
orders_dict=dict(orders_data)
orders_dict

{101: 1000, 102: 20000, 103: 30000}

In [16]:
list(orders_dict.items())

[(101, 1000), (102, 20000), (103, 30000)]

In [17]:
# to clear all the elements of list
orders_dict.clear()

**Example 1**

In [19]:
customers_raw_data="""customer_id,customer_fname,customer_lname,address,city,state,pincode
11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601
256,David,Rodriguez,7605 Tawny Horse Falls,Chicago,IL,60625
12111,Amber,Franco,8766 Clear Prairie Line,Santa,NC,95060
8827,Brian,Wilson,8396 High Corners,San Antonio,NC,78240
11318,Mary,Hanry,3047 Silent Embers Maze,Caguas,PR,00725"""
customer_header=customers_raw_data.split('\n')[0]
customer_data=customers_raw_data.split('\n')[1:]
customer_dict={}

for x in customer_data:
  customer_dict[x.split(',')[0]]=tuple(x.split(',')[1:])

customer_dict

{'11599': ('Mary',
  'Malone',
  '8708 Indian Horse Highway',
  'Hickory',
  'NC',
  '28601'),
 '256': ('David',
  'Rodriguez',
  '7605 Tawny Horse Falls',
  'Chicago',
  'IL',
  '60625'),
 '12111': ('Amber',
  'Franco',
  '8766 Clear Prairie Line',
  'Santa',
  'NC',
  '95060'),
 '8827': ('Brian',
  'Wilson',
  '8396 High Corners',
  'San Antonio',
  'NC',
  '78240'),
 '11318': ('Mary',
  'Hanry',
  '3047 Silent Embers Maze',
  'Caguas',
  'PR',
  '00725')}

In [20]:
customer_header=customer_header.split(',')

In [21]:
nested_dict={}

for key,value in customer_dict.items():
  nested_dict[key]={
      customer_header[1]:value[0],
      customer_header[2]:value[1],
      customer_header[3]:value[2],
      customer_header[4]:value[3],
      customer_header[5]:value[4],
      customer_header[6]:value[5]
  }
nested_dict

{'11599': {'customer_fname': 'Mary',
  'customer_lname': 'Malone',
  'address': '8708 Indian Horse Highway',
  'city': 'Hickory',
  'state': 'NC',
  'pincode': '28601'},
 '256': {'customer_fname': 'David',
  'customer_lname': 'Rodriguez',
  'address': '7605 Tawny Horse Falls',
  'city': 'Chicago',
  'state': 'IL',
  'pincode': '60625'},
 '12111': {'customer_fname': 'Amber',
  'customer_lname': 'Franco',
  'address': '8766 Clear Prairie Line',
  'city': 'Santa',
  'state': 'NC',
  'pincode': '95060'},
 '8827': {'customer_fname': 'Brian',
  'customer_lname': 'Wilson',
  'address': '8396 High Corners',
  'city': 'San Antonio',
  'state': 'NC',
  'pincode': '78240'},
 '11318': {'customer_fname': 'Mary',
  'customer_lname': 'Hanry',
  'address': '3047 Silent Embers Maze',
  'city': 'Caguas',
  'state': 'PR',
  'pincode': '00725'}}

In [23]:
id=input('Enter customer_id: ')
detail=input('Enter detail: ')
nested_dict.get(id),nested_dict.get(id).get(detail)

Enter customer_id: 11318
Enter detail: city

({'customer_fname': 'Mary',
  'customer_lname': 'Hanry',
  'address': '3047 Silent Embers Maze',
  'city': 'Caguas',
  'state': 'PR',
  'pincode': '00725'},
 'Caguas')

# Hashmap

Hashmap is a data structure tha use hash table data structure to store key value pairs. It is also called dictionaries in python.

TC on avg is O(1) fro insertion,updation and deletion but in worst case it is O(n) due to collision

In [ ]:
class Hashmap:
  def __init__(self):
    self.size=10
    self.buckets=[[] for _ in range(self.size)]

  def _hash(self,key):
    return key%self.size

  def put(self,key,value):
    idx=self._hash(key)
    for i,(k,v) in enumerate(self.buckets[idx]):
      if key==k:
        self.buckets[idx][i]=(k,value)
        return

    self.buckets[idx].append((key,value))

  def get(self,key):
    idx=self._hash(key)
    for i,(k,v) in enumerate(self.buckets[idx]):
      if key==k:
        return v
    return -1

  def remove(self,key):
    idx=self._hash(key)
    for i,(k,v) in enumerate(self.buckets[idx]):
      if key==k:
        del self.buckets[idx][i]
        return
    return -1

  def display(self):
    for i in range(self.size):
      if self.buckets[i]:
        print(self.buckets[i])

In [ ]:
map1=Hashmap()
map1.put(1,'ones')
map1.put(2,'twos')
map1.put(3,'threes')
map1.put(4,'fours')
map1.put(5,'fives')
map1.put(55,'fives')
map1.remove(2)
print(map1.get(1))
print(map1.display())

ones
[(1, 'ones')]
[(3, 'threes')]
[(4, 'fours')]
[(5, 'fif'), (55, 'fives')]
None

# Linked List

1. Linked list is a linear data structure in python that consists of series of nodes connected by pointers in C/C++ or references in java/python/js.
2. Each node consists of data and pointers/references to next node in a list.
3. It is non-contiguous.

In [ ]:
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None

class LinkedList:
  # Constructor
  def __init__(self):
    self.head=None

  # Retrieving element from linked list
  def traversal(self):
    current=self.head
    while current:
      print(current.data,end=' ')
      current=current.next
    return
  # Search any element in a list
  def search(self,target):
    curr=self.head
    while curr:
      if curr.data==target:
        return True
      curr=curr.next
    return False

  # No of elements in linked list
  def len(self):
    curr=self.head
    length=0
    while curr:
      curr=curr.next
      length+=1
    return length

  # Inserting node at the head of linked list
  def insert_at_begin(self,key):
    newNode=Node(key)
    if not self.head:
      self.head=newNode
      return
    newNode.next=self.head
    self.head=newNode

  # Inserting node at the last of linked list
  def insert_at_last(self,key):
    newNode=Node(key)
    if not self.head:
      self.head=newNode
      return

    curr=self.head
    while curr.next:
      curr=curr.next
    curr.next=newNode

  # Inserting node at specific position
  def insert_at_pos(self,key,pos):

    newNode=Node(key)
    if not self.head:
      self.head=newNode
      return
    curr=self.head
    count=0

    if pos==1:
      newNode.next=self.head
      self.head=newNode
      return

    while curr:
      count+=1
      if count==pos-1:
        temp=curr.next
        curr.next=newNode
        newNode.next=temp
        return
      curr=curr.next

    return -1

  # Deleting node at the head of linked list
  def delete_at_begin(self):
    if self.head:
      self.head=self.head.next
    return

  # Deleting node at the last of linked list
  def delete_at_last(self):
    if self.head is None or self.head.next is None:
      self.head=None
      return
    curr=self.head
    while curr.next.next:
      curr=curr.next

    curr.next=None


  # Deleting node at specific position
  def delete_at_pos(self,pos):
    if pos<1:
      return -1

    if pos==1:
      self.head=self.head.next
      return

    curr=self.head
    count=0

    while curr:
      count+=1
      if count==pos-1:
        temp=curr.next.next
        curr.next=temp
        return
      curr=curr.next
    return -1


  # Reverse a linked list
  def reverse(self):
    prev=None
    curr=self.head


    while curr:
      next_node=curr.next
      curr.next=prev
      prev=curr
      curr=next_node

    self.head=prev
    return

In [ ]:
# Creating a linked list
ll=LinkedList()

# Insertion of data in linked list
ll.insert_at_begin(10)
ll.insert_at_last(20)
ll.insert_at_pos(30,1)
ll.insert_at_pos(40,2)
ll.insert_at_pos(50,3)
ll.insert_at_last(60)

ll.traversal()
print('\n')
print(f'Total elements in linked list are {ll.len()}')

# Reverse a linked list
print('After Reversing the linked list')
ll.reverse()

ll.traversal()
print('\n')

# Deleting any node
ll.delete_at_begin()
ll.delete_at_last()
ll.delete_at_pos(4)

print(ll.search(10))

ll.traversal()
print('\n')
print(f'Total elements in linked list are {ll.len()}')

30 40 50 10 20 60

Total elements in linked list are 6
After Reversing the linked list
60 20 10 50 40 30

True
20 10 50

Total elements in linked list are 3

# Stack

Stack is a linear data structure, that stores items in LIFO order.

**Implementation Using List**
TC=O(1) for push/pop/top

In [ ]:
class Stack:
  def __init__(self):
    self.stack=[]

  def push(self,x):
    self.stack.append(x)

  def pop(self):
    if not self.is_empty():
      return self.stack.pop()
    return -1

  def is_empty(self):
    return not self.stack

  def top(self):
    return self.stack[len(self.stack)-1]

In [ ]:
s1=Stack()
s1.push(2)
s1.push(3)
s1.push(4)
s1.push(5)
print(s1.pop())
s1.top()

5

4

**Implementation Using LinkedList**
TC=O(1) for push/pop/peek

In [ ]:
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None

class Stack:
  def __init__(self):
    self.top=None

  def push(self,x):
    newNode=Node(x)
    if self.top is None:
      self.top=newNode
      return
    newNode.next=self.top
    self.top=newNode

  def pop(self):
    if self.top is None:
      return -1
    val=self.top.data
    self.top=self.top.next
    return val

  def peek(self):
    return self.top.data

In [ ]:
s1=Stack()
s1.push(2)
s1.push(3)
s1.push(4)
s1.push(5)
print(s1.pop())
print(s1.pop())
print(s1.peek())

5
4
3

# Queue

Queue is a data structure in python that is used to store elements in FIFO

**Implementation using List**

TC=O(1) for enqueue and O(n) for dequeue because elements need to shift to the left

In [ ]:
class Queue:
  def __init__(self):
    self.queue=[]

  def enqueue(self,x):
    self.queue.append(x)

  def dequeue(self):
    if not self.is_empty():
      return self.queue.pop(0)
    return -1

  def is_empty(self):
    return not self.queue

In [ ]:
q1=Queue()
q1.enqueue(1)
q1.enqueue(2)
q1.enqueue(3)
q1.enqueue(4)
print(q1.dequeue())
print(q1.queue)

1
[2, 3, 4]

**Implementation using Linkedlist**
TC=O(1) for enqueue/dequeue

In [ ]:
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None

class Queue:
  def __init__(self):
    self.front=None
    self.rear=None

  def enqueue(self,x):
    newNode=Node(x)
    if self.rear is None:
      self.rear=newNode
      self.front=newNode
      return
    self.rear.next=newNode
    self.rear=newNode

  def dequeue(self):
    if self.front is None:
      return -1

    temp=self.front
    self.front=self.front.next

    if self.front is None:
      self.rear=None

    return temp.data

In [ ]:
q1=Queue()
q1.enqueue(1)
q1.enqueue(2)
q1.enqueue(3)
q1.enqueue(4)
q1.dequeue()

1

**Implementation Using deque**

In [ ]:
from collections import deque
q=deque()
q.append(1)
q.append(2)
q.append(3)
q.append(4)
q.popleft()
q.popleft()
print(q)
q.append(5)
print(q)

deque([3, 4])
deque([3, 4, 5])

# Implement Stack Using Queues

In [ ]:
class Stack:
  def __init__(self):
    self.q1=[]
    self.q2=[]

  def enqueue(self,x):
    self.q2.append(x)
    while self.q1:
      self.q2.append(self.q1.pop(0))

    self.q1,self.q2=self.q2,self.q1

  def dequeue(self):
    if not self.is_empty():
      return self.q1.pop(0)
    return -1


  def is_empty(self):
    return not self.q1

In [ ]:
s1=Stack()
s1.enqueue(1)
s1.enqueue(2)
s1.enqueue(3)
s1.enqueue(4)
print(s1.dequeue())
print(s1.dequeue())
print(s1.dequeue())
print(s1.dequeue())

4
3
2
1
-1

# Implement Queue Using Stacks

---

In [ ]:
class Queue:
  def __init__(self):
    self.s1=[]
    self.s2=[]

  def enqueue(self,x):
    while self.s1:
      self.s2.append(self.s1.pop())
    self.s1.append(x)
    while self.s2:
      self.s1.append(self.s2.pop())

  def dequeue(self):
    if self.s1:
      return self.s1.pop()
    return -1

In [ ]:
q1=Queue()
q1.enqueue(1)
q1.enqueue(2)
q1.enqueue(3)
q1.enqueue(4)
print(q1.dequeue())
print(q1.dequeue())

1
2

# Deque

Deque or double ended queue is a data structure in which elements are inserted and removed from both ends so it doesn't follow FIFO principle.

**Implementation of deque by list**

TC=O(1) for append/pop and TC=O(N) for appendLeft/popLeft

In [ ]:
class Deque:
  def __init__(self):
    self.deque=[]

  def append(self,x):
    self.deque.append(x)

  def appendLeft(self,x):
    self.deque.insert(0,x)

  def pop(self):
    if self.deque:
      return self.deque.pop()
    return -1

  def popLeft(self):
    if self.deque:
      return self.deque.pop(0)
    return -1

In [ ]:
q=Deque()
q.append(1)
q.append(2)
q.append(3)
q.append(4)
print(q.pop())
q.appendLeft(5)
print(q.popLeft())

4
5

**Implementation of deque by doubly Linked List**

In [ ]:
class Node:
  # Constructor for creating a node
  def __init__(self,data):
    self.data=data
    self.next=None
    self.prev=None

class LinkedList:
  def __init__(self):
    self.front=None
    self.rear=None

  # Insert at end/rear of link list
  def insertRear(self,x):
    newNode=Node(x)
    if self.front is None:
      self.front=self.rear=newNode
      return
    self.rear.next=newNode
    newNode.prev=self.rear
    self.rear=newNode


  # Insert at front/start of link list
  def insertFront(self,x):
    newNode=Node(x)
    if self.front is None:
      self.front=self.rear=newNode
      return
    newNode.next=self.front
    self.front.prev=newNode
    self.front=newNode


  # Remove node from start/front of link list
  def deleteFront(self):
    if self.front is None:
      return -1

    temp=self.front
    self.front=self.front.next

    if self.front is None:
      self.front=self.rear=None
      return temp.data

    self.front.prev=None
    return temp.data

  # Remove Node from end/rear of link list
  def deleteRear(self):
    if self.rear is None:
      return -1

    temp=self.rear
    self.rear=self.rear.prev

    if self.rear is None:
      self.front=None
      return temp.data

    self.rear.next=None
    return temp.data

  # Print the link list
  def print(self):
    curr=self.front
    while curr:
      print(curr.data,end=' ')
      curr=curr.next

In [ ]:
q=LinkedList()
q.insertFront(1)
q.insertFront(2)
q.insertFront(3)
q.insertFront(4)
q.insertRear(5)
q.insertRear(6)
q.print()
print('\n')
print(q.deleteFront())
print(q.deleteRear())
q.print()

4 3 2 1 5 6

4
6
3 2 1 5

# Lambda Function

Lambda function is an anonymous function that is used to perform small operations and is not reusable

**Example 1**

In [ ]:
ans=lambda x:x+2
print(ans(10))

12

**Example 2**

In [ ]:
# Find even numbers
nums=[1,2,4,3,5,7,87,6,5,88]
even=list(filter(lambda x:x%2==0,nums))
print(even)

[2, 4, 6, 88]

**Example 3**

In [ ]:
# Find odd numbers
nums=[1,23,43,4,5,7,6,8]
odd=list(filter(lambda x:x%2==1,nums))
print(odd)

[1, 23, 43, 5, 7]

**Example 4**

In [ ]:
# Sort numbers
nums=[1,4,6,9,80,76,45,2,31,23]
result=sorted(nums,key=lambda x:x)
print(result)

[1, 2, 4, 6, 9, 23, 31, 45, 76, 80]

**Example 5**

In [ ]:
# Sort by number of characters
cities=['Karachi','Islamabad','Lahore','Quetta','Multan','Bahawalpur','Kashmir','Dera Ghazi Khan']
sorted_list=sorted(cities,key=lambda x:len(x))
print(sorted_list)

['Lahore', 'Quetta', 'Multan', 'Karachi', 'Kashmir', 'Islamabad', 'Bahawalpur', 'Dera Ghazi Khan']

In [ ]:
# Sort by number of characters and 3 character of each string alphabetically
cities=['Karachi','Islamabad','Lahore','Quetta','Multan','Bahawalpur','Kashmir','Dera Ghazi Khan']
result=sorted(cities,key=lambda x:(len(x),x[2]))
print(result)

['Quetta', 'Lahore', 'Multan', 'Karachi', 'Kashmir', 'Islamabad', 'Bahawalpur', 'Dera Ghazi Khan']

**Example 6**

In [ ]:
# Lambda function take multiple arguments
ans=lambda a,b:a*b
ans(5,4)

20

**Example 7**

In [ ]:
greet=lambda:print('Hello World!')
greet()

Hello World!

**Example 8**

In [ ]:
greet=lambda name:print(f'Hello {name}')
greet('Huzaifa')

Hello Huzaifa

**Example 9**

In [ ]:
# Calculate avg
avg=lambda a,b,c:(a+b+c)/3
avg(2,4,6)

4.0

**Example 9**

In [ ]:
#Length of string
length=lambda s:len(s)
print(length('Ali'))

3

**Example 10**

In [ ]:
nums=[1,2,3,4,5]
square=list(map(lambda x:x*x,nums))
print(square)

[1, 4, 9, 16, 25]

In [ ]:
# Convert a list of integers to their square values
nums=[1,2,3,4,5]
square=map(lambda x:x**2,nums)
print({key:val for key,val in zip(nums,square)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Example 11**

In [ ]:
# Sort a list of dictionaries base on specific key
people=[{'name':'Ali','age':35,'city':'Karachi'},
        {'name':'Ahsan','age':30,'city':'Multan'},
        {'name':'Ahmed','age':30,'city':'Islamabad'},
        {'name':'Huzaifa','age':1,'city':'Multan'}
        ]

sorted_list=sorted(people,key=lambda x:x['age'])
sorted_list

[{'name': 'Huzaifa', 'age': 1, 'city': 'Multan'},
 {'name': 'Ahsan', 'age': 30, 'city': 'Multan'},
 {'name': 'Ahmed', 'age': 30, 'city': 'Islamabad'},
 {'name': 'Ali', 'age': 35, 'city': 'Karachi'}]

In [ ]:
# Sort a list of dictionaries base on specific key
people=[{'name':'Ali','age':30,'city':'Karachi'},
        {'name':'Ahmed','age':30,'city':'Islamabad'},
        {'name':'Huzaifa','age':1,'city':'Multan'}
        ]
# order by age and key
result=sorted(people,key=lambda x:(x['age'],x['name']))
result

[{'name': 'Huzaifa', 'age': 1, 'city': 'Multan'},
 {'name': 'Ahmed', 'age': 30, 'city': 'Islamabad'},
 {'name': 'Ali', 'age': 30, 'city': 'Karachi'}]

**Example 12**

In [ ]:
# Sort values in dictionary
data={'a':10,'b':20,'c':30,'d':15}
sorted_arr=sorted(data,key=lambda x:data[x])
for key in sorted_arr:
  print(key,data[key])

a 10
d 15
b 20
c 30

In [ ]:
# Sort values in dictionary
data={'a':10,'b':20,'c':30,'d':15}
print(sorted(data,key=lambda x:data[x]))

['a', 'd', 'b', 'c']

**Example 13**

In [ ]:
# Finding max value in dictionary
data={'a':10,'b':20,'c':30,'d':15}
print(max(data,key=lambda x:data[x]))

c

# Recursion

1. When a function calls iteslf repeatedly unless the base condition is True.
2. Every recursive call needs an extra space in stack memory.

**Example 1**

In [ ]:
# Print numbers from 1 to n using recursion
def print_nums(n):
  if n==0:
    return
  print_nums(n-1)
  print(n)

n=int(input('Enter any number:'))
print_nums(n)

Enter any number:6
1
2
3
4
5
6

**Example 2**

In [ ]:
# Print numbers from n to 1

def print_nums(n):
  if n==0:
    return
  print(n)
  print_nums(n-1)

print_nums(5)

5
4
3
2
1

**Example 3**

In [ ]:
# Factorial of n
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)

fact(5)

120

**Example 4**

In [ ]:
# Sum of all numbers from 1 to n inclusively
def sum(n):
  if n==0:
    return 0
  return n+sum(n-1)

sum(5)

15

**Example 5**

In [ ]:
# Fibonacci series using recursion
def fib(n):
  if n==1 or n==0:
    return n
  return fib(n-1)+fib(n-2)

fib(6)

8

**Example 6**

In [ ]:
# is power of 3
class Solution:
    @staticmethod
    def isPowerOfThree(n: int) -> bool:
        def isPower(n,x):
            if (3**x)==n:
                return True
            if (3**x)>n:
                return False
            return isPower(n,x+1)
        return isPower(n,0)
Solution.isPowerOfThree(27)

True

**Example 7**

In [ ]:
# is power of 4
class Solution:
    def isPowerOfFour(n: int) -> bool:
        def isPower(n,x):
            if (4**x)==n:
                return True
            if (4**x)>n:
                return False
            return isPower(n,x+1)
        return isPower(n,0)

Solution.isPowerOfFour(64)

True

# Dynamic Programming

1. Dynamic programming is principle of optimality.
2. DP is a technique in which problem is broken down into sub problems and the results are saved and then sub problems are optimized to find the overall solution.
3. In greedy method(doesn't give optimal solution), the decision is taken one time while in DP the decision is taken at every setp.

DP has 2 approaches/method:
1. Memoization method: recursive approach, top down approach
2. Tabulation method: iterative approach, bottom up approach

**Example 1**

In [ ]:
# Fibonacci Series by tabulation method
def fib(n):
  dp=[0]*(n+1)
  dp[0],dp[1]=0,1
  for i in range(2,n+1):
    dp[i]=dp[i-1]+dp[i-2]
  return dp[n]

fib(5)

5

In [ ]:
# Fibonacci Series by memoization method
def fib(n,memo={}):
  if n in memo:
    return memo[n]
  if n==1 or n==0:
    return n
  memo[n]= fib(n-1,memo)+fib(n-2,memo)
  return memo[n]

fib(7)

13

**Example 2**

You are climbing a staircase. It takes n steps to reach the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?



Example:

Input: n = 2
Output: 2
Explanation: There are two ways to climb to the top.
1. 1 step + 1 step
2. 2 steps

**Tabulation method**

In [ ]:
def climbStairs(n):
  dp=[0]*(n+1)
  dp[0]=dp[1]=1

  for i in range(2,n+1):
    dp[i]=dp[i-1]+dp[i-2]
  return dp[n]

climbStairs(5)

8

**Memoization Method**

In [ ]:
def climbStairs(n,memo={}):
  if n in memo:
    return memo[n]
  if n==1 or n==0:
    return 1
  memo[n]=climbStairs(n-1,memo)+climbStairs(n-2,memo)
  return memo[n]

climbStairs(5)

8

**Example 3**

You are given an integer array cost where cost[i] is the cost of ith step on a staircase. Once you pay the cost, you can either climb one or two steps.

You can either start from the step with index 0, or the step with index 1.

Return the minimum cost to reach the top of the floor.



Example:

Input: cost = [10,15,20]
Output: 15
Explanation: You will start at index 1.
- Pay 15 and climb two steps to reach the top.
The total cost is 15.

In [ ]:
# By Tabulation Method
def min_cost(cost):
  n=len(cost)
  dp=[0]*(n+2)

  for i in range(n-1,-1,-1):
    dp[i]=cost[i]+min(dp[i+1],dp[i+2])

  return min(dp[0],dp[1])

min_cost([1,100,1,1,1,100,1,1,100,1])

6