### Q1. Write a program to calculate the area of a rectangle with given length and width.
    area = length * width

In [5]:
def area_of_a_ectangle():
    length  = float(input("please Enter a lengh : "))
    width = float(input("please Enter a width : "))
    print(f"area of a rectangle =", length * width)
area_of_a_ectangle()

please Enter a lengh : 5
please Enter a width : 4
area of a rectangle = 20.0

### Q2. Write a program that takes an integer input from the user and prints whether it's even or odd.
    Even Numbers: 0, 2, 4, 6, 8, ...
    OOD Numbers: 1, 3, 5, 7, 9, ...

In [9]:
def even_or_odd():
    num  = int(input("please enter a number : "))
    if num % 2 == 0:
        return "even"
    return "odd"
even_or_odd()

please enter a number : 4

'even'

### Q3. Write a program that takes a three-digit number as input and calculates the sum of its digits.

In [11]:
def sum():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    num3 = float(input("please enter a number_3 "))
    return num1 + num2 + num3
sum()

please enter a number_1 4
please enter a number_2 2
please enter a number_3 3

9.0

### Q4. Create two strings and concatenate them to form a third string.

In [18]:
def string():
    str1 = input("please enter a string_1 : ")
    str2 = input("please enter a string_2 : ")
    return f"{str1} {str2}"
string()

please enter a string_1 : python
please enter a string_2 : practice

'python practice'

### Q5. Write a program that compares two numbers and prints whether the first number is greater, smaller, or equal to the second number.

In [22]:
def compares_two_numbers():
    num1 = float(input("please enter the first number : "))
    num2 = float(input("please enter the second number : "))
    if num1 > num2:
        return f" the first number {num1} is greater than the second number {num2}"
    elif num1 < num2:
        return f" the first number {num1} is smaller than the second number {num2}"
    return f" the first number {num1} is equal the second number {num2}"
compares_two_numbers()

please enter the first number : 4
please enter the second number : 4

' the first number 4.0 is equal the second number 4.0'

### Q6. Write a program to print the first five even numbers.

In [28]:
def first_five_even_numbers(num):
    l = []
    while len(l) != 5:
        if num % 2 == 0:
            l.append(num)
        num +=1
    return l
first_five_even_numbers(0)

[0, 2, 4, 6, 8]

### Q7. Write a program that takes a string as input and prints it in reverse order.
    ahmed => demha

In [39]:
def reverse():
    string = input("please enter a string : ")
    return string[::-1]
reverse()

please enter a string : ahmed

'demha'

### Q8. Write a program that takes a number as input and prints "Positive" if it's greater than 0, "Negative" if it's less than 0, and "Zero" if it's equal to 0.

In [40]:
def number():
    num = float(input("please enter a number : "))
    if num > 0:
        return f"positive"
    elif num < 0:
        return f"negative"
    return f"zero"
number()

please enter a number : 0

'zero'

### Q9. Write a program that converts Fahrenheit to Celsius. Take Fahrenheit as input from the user.
    Temperature in degrees Celsius (°C) = (Temperature in degrees Fahrenheit (°F) - 32) * 5/9

In [42]:
def converts_Fahrenheit_to_Celsius():
    Fahrenheit = float(input("pleas enter Fahrenheit : "))
    return (Fahrenheit - 32) * 5 / 9
converts_Fahrenheit_to_Celsius()

pleas enter Fahrenheit : 50

10.0

### Q10. Write a program that takes a string as input and counts the number of characters in it.
    ahmed => 5

In [44]:
def count():
    string = input("please enter a string : ")
    return len(string)
count()

please enter a string : ahmed

5

### Q11. Write a program that takes a number as input and prints whether it's a prime number or not.
    2, 3, 5, 7, 11, 13, 17, 19, 23, ...

In [50]:
import math
def input_numbers():
    count = int(input("please enter count of numbers : "))
    c = 0
    global l 
    l = []
    while (count != c):
        c += 1
        num = int(input(f"please enter a number_{c} : "))
        l.append(num)
        
    #return l
#input_numbers()

def is_prime_or_not(l):
    for i in l:
        c = 0
        for j in range(2, int(math.sqrt(i)) + 1):
            if i % j == 0:
                c += 1
        if c == 0 :
            print(f"{i} is prime")
        else:
            print(f"{i} is not prime")
input_numbers()
is_prime_or_not(l)

please enter count of numbers : 3
please enter a number_1 : 4
please enter a number_2 : 5
please enter a number_3 : 7
4 is not prime
5 is prime
7 is prime

### Q12. Write a program that takes three numbers as input and prints the maximum of those numbers.

In [52]:
def maximum():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    num3 = float(input("please enter a number_3 "))
    return max(num1, num2, num3)
maximum()

please enter a number_1 1
please enter a number_2 4
please enter a number_3 8

8.0

### Q13. Write a program to print the multiples of 3 up to 30.
    3, 6, 9, 12, 15, 18, 21, 24, 27, 30

In [63]:
def multiples_of_3_up_to_30():
    l = []
    i = 0
    while i != 30:
        i += 3
        l.append(i)
    return l
multiples_of_3_up_to_30()

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### Q14. Create two lists and concatenate them to form a third list.

In [64]:
def concatenate_two_list():
    return [1, 2, 3] + [4, 5, 6]
concatenate_two_list()

[1, 2, 3, 4, 5, 6]

### Q15. Write a program that takes a number as input and prints its square root.

In [68]:
import math
def square_root():
    num = float(input("please enter a number : "))
    return math.sqrt(num)
square_root()

please enter a number : 64

8.0

### Q16. Write a program that takes a string as input and checks whether it's a palindrome.
    radar, level, madam, ...

In [71]:
def palindrome():
    string = input("please enter a string : ")
    if string[::-1] == string[0:]:
        return "palindrome"
    return "not palindrome"
palindrome()

please enter a string : level

'palindrome'

### Q17. Write a program that takes three numbers as input and prints their average.

In [73]:
def average():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    num3 = float(input("please enter a number_3 "))
    return (num1 + num2 + num3) / 3
average()

please enter a number_1 1
please enter a number_2 2
please enter a number_3 3

2.0

### Q18. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [75]:
def divisible():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    if num1 % num2 == 0:
        return "YES"
    return "NO"
divisible()

please enter a number_1 10
please enter a number_2 3

'NO'

### Q19. Write a program that takes two numbers and an operator (+, -, *, /) as input and performs the corresponding operation.

In [76]:
def calculate():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    operation = input("please enter the operation : ")
    if operation == '+':
        return num1 + num2
    elif operation == '-':
        return num1 - num2
    elif operation == '*':
        return num1 * num2
    elif operation == '/':
        return num1 / num2
calculate()

please enter a number_1 4
please enter a number_2 2
please enter the operation : /

2.0

### Q20. Write a program that takes three numbers as input and prints the minimum of those numbers.

In [77]:
def minimum():
    num1 = float(input("please enter a number_1 "))
    num2 = float(input("please enter a number_2 "))
    num3 = float(input("please enter a number_3 "))
    return min(num1, num2, num3)
minimum()

please enter a number_1 4
please enter a number_2 2
please enter a number_3 5

2.0

### Q21. Write a program that takes a string as input and prints its length.

In [78]:
def length():
    string = input("please enter a string : ")
    return len(string)
length()

please enter a string : ahmed

5

### Q22. Write a program to print the first five odd numbers.

In [79]:
def first_five_odd_numbers(num):
    l = []
    while len(l) != 5:
        if num % 2 != 0:
            l.append(num)
        num +=1
    return l
first_five_odd_numbers(0)

[1, 3, 5, 7, 9]

### Q23. Create a list of numbers and write a program to find the sum of all elements in the list.

In [83]:
def sum_of_list():
    l = [1, 2, 3, 4]
    c = 0
    for i in l:
        c = i + c
    print(c)
sum_of_list()

10

### Q24. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [88]:
def leap_year():
    year = int(input("please enter a year : "))
    if year % 100 == 0 and year % 400 == 0:
        print ("leap year")
    elif year % 100 != 0 and year % 4 == 0:
        print ("leap year")
    else:
        print ("not leap year")
leap_year()

please enter a year : 1700

'not leap year'

### Q25. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [84]:
def upper_lower():
    string = input("please enter a string : ")
    return f"{string.upper()} {string.lower()}"
upper_lower()

please enter a string : kaGglE

'KAGGLE kaggle'

### Q26. Create a list of five elements and remove the third element.

In [2]:
def third_element(l):
    
    l.pop(-3)
    
    return l
    
third_element([1, 2, 3, 4, 5])

[1, 2, 4, 5]

### Q27. Write a program that takes an integer as input and prints whether it's a power of 2.

In [3]:
def power():
    num = int(input("please enter a number : "))
    print(num ** 2)
power()

please enter a number : 4
16

### Q28. Write a program that takes a character as input and checks whether it's a consonant.
    There are 21 consonants in the English alphabet: B, C, D, F, G, H, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z

In [5]:
consonants = ["B", "C", "D", "F", "G", "H", "J", "K", "L", "M", "N", "P", "Q", "R", "S", "T", "V", "W", "X", "Y", "Z"]
char = input("please enter a caracter : ")
if char in consonants:
    print("YES")
else:
    print("NO")

please enter a caracter : K
YES

### Q29. Create a list of numbers and write a program to sort it in ascending order.

In [6]:
l = [5, 4, 6, 1, 3, 2]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

### Q30. Write a program to print the multiplication table of a given number.

In [7]:
num  = int(input("please enter a number : "))
for i in range(13):
    print(f"{num} * {i} = {num * i}")

please enter a number : 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

### Q31. Write a Python function square(num) that takes a number as input and returns its square.

In [11]:
def square(num):
    return pow(num, 2)

num  = int(input("please enter a number : "))
square(num)

please enter a number : 4

16

### Q32. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [20]:
def sum_of_digits(num):
    lengh = len(str(num))
    sum = 0
    while lengh != 0:
        digit = int(num) % 10
        sum += digit
        num /= 10
        lengh -= 1
    
    return sum

num  = int(input("please enter a number : "))#123
sum_of_digits(num)

please enter a number : 123

6

### Q33. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [24]:
def reverse_string(s):
    return s[::-1]
reverse_string("Python")

'nohtyP'

### Q34. Write a Python function count_vowels(s) that takes a string as input and returns the count of vowels in the string.
    a, e, i, o, u

In [26]:
def count_vowels(s):
    vowels = ["a", "e", "i", "o", "u"]
    count = 0
    for i in s:
        if i in vowels:
            count += 1
    return count
count_vowels("function")

3

### Q35. Write a Python function sort_list(lst) that takes a list of numbers as input and returns a new list with the numbers sorted in ascending order.

In [28]:
def sort_list(lst):
    lst.sort()
    return lst
sort_list([5, 4, 2, 1, 3, 6])

[1, 2, 3, 4, 5, 6]

### Q36. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [29]:
def word_count(sentence):
    return len(sentence) - sentence.count(" ")
word_count("words in the sentence")

18

### Q37. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [118]:
def remove_elements(lst, n):
    lst = string.split(",")
    lst.pop(n)
    return(",".join(lst))
    
string = input("please enter a list of number : ")
n = int(input("please enter a number"))

remove_elements(string, n)

please enter a list of number : 1,2,3,4
please enter a number2

'1,2,4'

### Q38. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [121]:
def duplicate_list(lst):
    lst = string.split(",")
    return lst*2

string = input("please enter a list of string : ")
duplicate_list(string)

please enter a list of string : hello,world

['hello', 'world', 'hello', 'world']

### Q39. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [124]:
def is_divisible(num1, num2):
    if num1 % num2 == 0:
        return True
    return False
num1 = float(input("please enter a number_1 "))
num2 = float(input("please enter a number_2 "))
is_divisible(num1, num2)

please enter a number_1 5
please enter a number_2 11

False

### Q40. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [56]:
def power(base, exponent):
    return pow(base, exponent)
base = int(input("please enter a base : "))
exponent = int(input("please enter an exponent : "))
power(base, exponent)

please enter a base : 4
please enter an exponent : 2

16

### Q41. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [131]:
lst = []
for i in range(2000, 3001):
    if i % 7 == 0 and i % 5 != 0:
        lst.append(str(i))
print(",".join(lst))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

### 42. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [138]:
num = input("please enter numbers ")
lst1 = num.split()
lst2 = []
fact = 1
for i in range(len(lst)):
    for j in range(1, int(lst[i]) + 1):
        fact *= j 
    lst2.append(str(fact))
print(",".join(lst2))

please enter numbers 5 8
120,4838400

### 43. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [7]:
n = int(input("please enter a number : "))
power = dict()
for i in range(1, n+1):
    power[i] = i * i
print(power)

please enter a number : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 44. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [52]:
lst = input("please enter a string : ")
print(lst.split(","))
print(tuple(lst.split(",")))

please enter a string : 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### 45. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [147]:
import math
D = input("please enter numbers ")
lst1 = D.split(",")
lst2 = []
C = 50
H = 30
for i in lst1:
    Q = int(math.sqrt((2 * C * int(i)) / H))
    lst2.append(str(Q))
print(",".join(lst2))

please enter numbers 100,150,180
18,22,24

### 46. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [166]:
x = int(input("please enter a row number : "))
y = int(input("please enter a column number : "))
lst = []
for i in range(x):
    lst.append([j*i for j in range(y)])
print(lst)

please enter a row number : 3
please enter a column number : 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 47. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [40]:
string  = input("please enter a string : ")
lst = string.split()
lst.sort()
s = lst[0] + " "
#print(lst)
for i in lst:
    if i not in s:
        s += i + " " 
print(s)

please enter a string : hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### 48.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

In [75]:
binary = input("please enter 4 digit binary numbers : ")
lst = binary.split(",")
lst1 = []
dec = 0
c = 3
for i in lst:
    for j in range(4):
        dec += int(i[c]) * pow(2, j)
        c -= 1
    if dec % 5 == 0:
        lst1.append(i)
    dec = 0
    c = 3
#   0101,0011,1010,1001    
print(",".join(lst1))

please enter 4 digit binary numbers : 0101,0011,1010,1001
0101,1010

### 49. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [95]:
h = ""
lst = []
c = 0
for i in range(1000, 3001):
    l = str(i)
    for j in range(4):
        if int(l[j]) % 2 == 0:
            c += 1
        else:
            c = 0
            break
        
    if c == 4:
        lst.append(i)
        c == 0
print(lst)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

### 50. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [64]:
string = "hello world 123"
count_Digit = 0
count_letters = 0
for i in string:
    if i.isdigit() :
        count_Digit += 1
    elif i != " ":
        count_letters += 1
print(f"LETTERS {count_letters} \nDIGITS {count_Digit}")

LETTERS 10
DIGITS 3

### 51. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [68]:
string = "Hello World"
count_upper = 0
count_lower = 0
for i in string:
    if i.isupper() :
        count_upper += 1
    elif i != " ":
        count_lower += 1
print(f"UPPER CASE {count_upper} \nLOWER CASE {count_lower}")

UPPER CASE 2
LOWER CASE 8

### 52. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,3,5,7,9

In [78]:
num = input("please enter a list of number : ")
lst_in = num.split(",")
lst_odd = [i for i in lst_in if int(i) % 2 != 0]
print(",".join(lst_odd))

please enter a list of number : 1,2,3,4,5,6,7,8,9
1,3,5,7,9

### 53. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [1]:
s = input()
lst = s.split()
lst.sort()
lst1 = []
for i in range(len(lst)):
    lst1.append(tuple(lst[i].split(",")))
print(lst1)

Tom,19,80     John,20,90     Jony,17,91     Jony,17,93     Json,21,85
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

### 54. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [167]:
def even_or_odd(num):
    if num % 2 == 0:
        return "it is an even number"
    return "it is an odd number"
num  = int(input("please enter a number : "))
even_or_odd(num)

please enter a number : 4

'it is an even number'

### 55.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8,13

In [176]:
num  = input("please enter a number : ")
lst = ["0", "1"]
if num == "0":
    print(lst[0])
elif num == "1":
    print(lst[1])
else:
    for i in range(int(num) - 1):
        lst.append(str(int(lst[i]) + int(lst[-1])))
print(",".join(lst))

please enter a number : 7
0,1,1,2,3,5,8,13

### Q56. Define a Python class named 'Person' with attributes 'name' and 'age'.

In [101]:
class person():
    def __init__(self, name, age):
        self.new_name = name
        self.new_age = age

Fady 40

### Q57. Add a constructor to the 'Person' class that initializes the 'name' and 'age' attributes.

In [ ]:
class person():
    def __init__(self, name, age):
        self.new_name = name
        self.new_age = age

### Q58. Create an instance method in the 'Person' class that prints the person's information.

In [107]:
class person():
    def __init__(self, name, age):
        self.new_name = name
        self.new_age = age
    
    def info(self):
        return f"your name is {self.new_name} and your age is {self.new_age}"

your name is Fady and your age is 40

### Q59. Create an object of the 'Person' class and call the instance method to display its information.

In [108]:
class person():
    def __init__(self, name, age):
        self.new_name = name
        self.new_age = age
    
    def info(self):
        return f"your name is {self.new_name} and your age is {self.new_age}"
person_1 = person("Fady", 40)
print(person_1.info())

your name is Fady and your age is 40

### Q60. Create a subclass 'Student' that inherits from the 'Person' class, and add a new attribute 'student_id'.

In [110]:
class person():
    def __init__(self, name, age):
        self.new_name = name
        self.new_age = age
    
    def info(self):
        return f"your name is {self.new_name} and your age is {self.new_age}"
    
class student(person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id
        
    def info_stu(self):
        return f"your name is {self.new_name}, your age is {self.new_age} and your student id {self.student_id}" 
    
preson_1 = student("Fady", 40, 420021549)
print(preson_1.info())
print(preson_1.info_stu())

your name is Fady and your age is 40
your name is Fady, your age is 40 and your student id 420021549

### Q61. Override the instance method in the 'Student' class to include the 'student_id' in the information display.

### Q62. Add private attributes ('__name' and '__age') to the 'Person' class and create methods to access and modify them.

### Q63. Create a method in the 'Person' class called introduction that can be overridden by subclasses.

### Q64. Add a class variable 'total_people' to the 'Person' class to keep track of the total number of people.

### Q65. Create a static method in the 'Person' class that prints a generic message about people.

### Q66. Define an abstract class 'Shape' with an abstract method 'area'.

### Q67. Create two classes, 'Engine' and 'Car'. Use composition to include an instance of 'Engine' in the 'Car' class.

### Q68. Create a class 'Employee' with attributes 'employee_id' and 'salary'. Create another class 'Manager' that inherits from both 'Person' and 'Employee'.

### Q69. Add a property 'is_adult' to the 'Person' class that returns 'True' if the person is 18 or older, and 'False' otherwise.

### Q70. Create a setter method for the 'age' attribute in the 'Person' class that ensures the age is a positive integer.

### Q71. Add a class method to the "Person" class that creates a "Person" object from a string in the format "Name, Age".

### Q72. Add a destructor method to the 'Person' class that prints a message when an object is destroyed.

### Q73. Create an instance variable 'grades' in the 'Student' class to store a list of grades.

### Q74. Add a class variable 'total_students' to the 'Student' class to keep track of the total number of students.

### Q75. Add a class method to the 'Student' class that increments the 'total_students' count.

### Q76. Create a static method in the 'Student' class that calculates the average grade from a list of grades.

### Q77. Implement method overloading for the 'Person' class, allowing it to accept either a name and age or just a name.

### Q78. Encapsulate the 'grades' attribute in the 'Student' class to make it private.

### Q79. Create two classes, 'Library' and 'Book'. Use association to represent that a library contains multiple books.

### Q80. Extend the 'library' example by adding a 'Book' class that can exist independently of the Library class.

### Q81. Create a base class 'Shape' with a method 'draw' and two subclasses, 'Circle' and 'Square', that override the draw method.

### Q82 Create a class 'Computer' composed of 'CPU', 'RAM', and 'HardDrive' classes.

### Q83. Create two classes, 'Dog' and 'Cat', each with a method 'speak'. Write a function that takes an object and calls its speak method.

### Q84. Implement a basic observer pattern with a 'Subject' class and an 'Observer' class. The subject should notify observers when its state changes.

### Q85. Implement a class representing a node in a singly linked list.

### Q86. Implement a function to insert a new node at the begining of a linked list.

### Q87. Implement a function to insert a new node at the end of a linked list.

### Q88. Implement a function to insert a new node a specific position of a linked list.

### Q89. Implement a stack with push and pop operations.

### Q90. Implement a queue with enqueue and dequeue operations.

### Q91. Implement a class representing a node in a binary tree.

### Q92. Implement a function to insert a new node into a binary search tree.

### Q93. Implement a graph using an adjacency list.

### Q94. Implement a depth-first search (DFS) algorithm for a graph.

### Q95. Implement a binary search algorithm for a sorted list.

### Q96. Create two sets of numbers and find their intersection.

### Q97. Perform the union and difference operations on two sets.

### Q98. Create a tuple with three elements and unpack it into three variables.

### Q99. Create a dictionary representing a person with keys "name," "age," and "city."

### Q100. Access and print the value associated with the "age" key in the dictionary

### Q101. Update the age in the dictionary to a new value.

### Q102. Iterate through the keys and values in the dictionary and print them.

### Q103. Find and print the number of key-value pairs in the dictionary.

### Q104. Remove the "city" key from the dictionary.

### Q105. Check if the "gender" key exists in the dictionary and print the result.

### Q106. Create a second dictionary with additional information and merge it with the original dictionary.

### Q107. Write a program to get the keys of the dictionary as a list.

### Q108. Write a program to get the values of the dictionary as a list.

### Q109. Remove the key-value pair with the "name" key from the dictionary.

### Q110. Clear all items from the dictionary.

### Q111. Write a program to print the dictionary keys in sorted order.

### Q112. Write a program to print the dictionary values in sorted order.

### Q113. Find and print the key with the maximum value in the dictionary.

### Q114. Find and print the key with the minimum value in the dictionary.

### Q115. Create a copy of the dictionary and print both dictionaries.

### Q116. Create a nested dictionary representing a student with keys "name," "grades," and "subjects."

### Q117. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

### Q118. Swap the keys and values in the dictionary and print the result.

### Q119. Create a list of integers with values 1 to 5.

### Q120. Access and print the third element of the list.

### Q121. Modify the second element of the list to have a new value.

### Q122. Find and print the number of elements in the list.

### Q123. Add a new element to the end of the list.

### Q124. Create two lists and concatenate them into a new list.

### Q125. Repeat the list three times and print the result.

### Q126. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

### Q127. Use a loop to print each element of the list.

### Q128. Write a program to sort the list in ascending order.

### Q129. Reverse the order of elements in the list.

### Q130. Remove the third element from the list.

### Q131. Clear all elements from the list.

### Q132. Count the number of occurrences of a specific element in the list.

### Q133. Use list comprehension to create a list of squares of numbers from 1 to 5.

### Q134. Create a list of numbers and filter out the even numbers.

### Q135. Create a list of strings and map them to uppercase using list comprehension.

### Q136. Write a program to find the index of a specific element in the list.

### Q137. Remove all occurrences of a specific element from the list.

### Q138. Insert a new element at index 2 in the list.

### Q139. Use the 'pop()' method to remove and print the last element of the list.

### Q140. Extend the current list with elements from another list.

### Q141. Find and print the minimum value in the list.

### Q142. Find and print the maximum value in the list.

### Q143. Create a list with three elements and unpack it into three variables.

### Q144. Create a copy of the list and print both lists.

### Q145. Convert a list of integers to a list of strings.

### Q146. Remove duplicate elements from a list.

### Q147. Create an empty list and add elements to it using a loop.

### Q148. Create two lists and find their intersection.

### Q149. Clear all elements from the list.

### Q150. Implement a simple singly linked list in Python. Include the following functionalities:

    Node Class: Create a Node class with attributes data and next_node.

    LinkedList Class: Create a LinkedList class with the following methods:

    __init__: Initialize an empty linked list.
    is_empty: Return True if the linked list is empty, False otherwise.
    append: Add a new node with the given data to the end of the linked list.
    prepend: Add a new node with the given data to the beginning of the linked list.
    delete: Delete the first occurrence of a node with the given data.
    display: Print the elements of the linked list.

Demonstrate the usage of your implemented linked list by creating an instance of the LinkedList class, appending a few nodes, prepending a node, deleting a node, and displaying the final linked list.