### Q1. Write a program to calculate the area of a rectangle with given length and width.
    area = length * width

### Q2. Write a program that takes an integer input from the user and prints whether it's even or odd.
    Even Numbers: 0, 2, 4, 6, 8, ...
    OOD Numbers: 1, 3, 5, 7, 9, ...

### Q3. Write a program that takes a three-digit number as input and calculates the sum of its digits.

### Q4. Create two strings and concatenate them to form a third string.

### Q5. Write a program that compares two numbers and prints whether the first number is greater, smaller, or equal to the second number.

### Q6. Write a program to print the first five even numbers.

### Q7. Write a program that takes a string as input and prints it in reverse order.
    ahmed => demha

### Q8. Write a program that takes a number as input and prints "Positive" if it's greater than 0, "Negative" if it's less than 0, and "Zero" if it's equal to 0.

### Q9. Write a program that converts Fahrenheit to Celsius. Take Fahrenheit as input from the user.
    Temperature in degrees Celsius (°C) = (Temperature in degrees Fahrenheit (°F) - 32) * 5/9

### Q10. Write a program that takes a string as input and counts the number of characters in it.
    ahmed => 5

### Q11. Write a program that takes a number as input and prints whether it's a prime number or not.
    2, 3, 5, 7, 11, 13, 17, 19, 23, ...

### Q12. Write a program that takes three numbers as input and prints the maximum of those numbers.

### Q13. Write a program to print the multiples of 3 up to 30.
    3, 6, 9, 12, 15, 18, 21, 24, 27, 30

### Q14. Create two lists and concatenate them to form a third list.

### Q15. Write a program that takes a number as input and prints its square root.

### Q16. Write a program that takes a string as input and checks whether it's a palindrome.
    radar, level, madam, ...

### Q17. Write a program that takes three numbers as input and prints their average.

### Q18. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

### Q19. Write a program that takes two numbers and an operator (+, -, *, /) as input and performs the corresponding operation.

### Q20. Write a program that takes three numbers as input and prints the minimum of those numbers.

### Q21. Write a program that takes a string as input and prints its length.

### Q22. Write a program to print the first five odd numbers.

### Q23. Create a list of numbers and write a program to find the sum of all elements in the list.

### Q24. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

### Q25. Write a program that takes a string as input and prints it in both uppercase and lowercase.

### Q26. Create a list of five elements and remove the third element.

### Q27. Write a program that takes an integer as input and prints whether it's a power of 2.

### Q28. Write a program that takes a character as input and checks whether it's a consonant.
    There are 21 consonants in the English alphabet: B, C, D, F, G, H, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z

### Q29. Create a list of numbers and write a program to sort it in ascending order.

### Q30. Write a program to print the multiplication table of a given number.

### Q31. Write a Python function square(num) that takes a number as input and returns its square.

### Q32. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

### Q33. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

### Q34. Write a Python function count_vowels(s) that takes a string as input and returns the count of vowels in the string.
    a, e, i, o, u

### Q35. Write a Python function sort_list(lst) that takes a list of numbers as input and returns a new list with the numbers sorted in ascending order.

### Q36. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

### Q37. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

### Q38. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

### Q39. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

### Q40. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

### Q41. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

### 42. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

### 43. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 44. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

### 45. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

### 46. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 47. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

### 48.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

### 49. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

### 50. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

### 51. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

### 52. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,3,5,7,9

### 53. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

### 54. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

### 55.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8,13

### Q56. Define a Python class named 'Person' with attributes 'name' and 'age'.

### Q57. Add a constructor to the 'Person' class that initializes the 'name' and 'age' attributes.

### Q58. Create an instance method in the 'Person' class that prints the person's information.

### Q59. Create an object of the 'Person' class and call the instance method to display its information.

### Q60. Create a subclass 'Student' that inherits from the 'Person' class, and add a new attribute 'student_id'.

### Q61. Override the instance method in the 'Student' class to include the 'student_id' in the information display.

### Q62. Add private attributes ('__name' and '__age') to the 'Person' class and create methods to access and modify them.

### Q63. Create a method in the 'Person' class called introduction that can be overridden by subclasses.

### Q64. Add a class variable 'total_people' to the 'Person' class to keep track of the total number of people.

### Q65. Create a static method in the 'Person' class that prints a generic message about people.

### Q66. Define an abstract class 'Shape' with an abstract method 'area'.

### Q67. Create two classes, 'Engine' and 'Car'. Use composition to include an instance of 'Engine' in the 'Car' class.

### Q68. Create a class 'Employee' with attributes 'employee_id' and 'salary'. Create another class 'Manager' that inherits from both 'Person' and 'Employee'.

### Q69. Add a property 'is_adult' to the 'Person' class that returns 'True' if the person is 18 or older, and 'False' otherwise.

### Q70. Create a setter method for the 'age' attribute in the 'Person' class that ensures the age is a positive integer.

### Q71. Add a class method to the "Person" class that creates a "Person" object from a string in the format "Name, Age".

### Q72. Add a destructor method to the 'Person' class that prints a message when an object is destroyed.

### Q73. Create an instance variable 'grades' in the 'Student' class to store a list of grades.

### Q74. Add a class variable 'total_students' to the 'Student' class to keep track of the total number of students.

### Q75. Add a class method to the 'Student' class that increments the 'total_students' count.

### Q76. Create a static method in the 'Student' class that calculates the average grade from a list of grades.

### Q77. Implement method overloading for the 'Person' class, allowing it to accept either a name and age or just a name.

### Q78. Encapsulate the 'grades' attribute in the 'Student' class to make it private.

### Q79. Create two classes, 'Library' and 'Book'. Use association to represent that a library contains multiple books.

### Q80. Extend the 'library' example by adding a 'Book' class that can exist independently of the Library class.

### Q81. Create a base class 'Shape' with a method 'draw' and two subclasses, 'Circle' and 'Square', that override the draw method.

### Q82 Create a class 'Computer' composed of 'CPU', 'RAM', and 'HardDrive' classes.

### Q83. Create two classes, 'Dog' and 'Cat', each with a method 'speak'. Write a function that takes an object and calls its speak method.

### Q84. Implement a basic observer pattern with a 'Subject' class and an 'Observer' class. The subject should notify observers when its state changes.

### Q85. Implement a class representing a node in a singly linked list.

### Q86. Implement a function to insert a new node at the begining of a linked list.

### Q87. Implement a function to insert a new node at the end of a linked list.

### Q88. Implement a function to insert a new node a specific position of a linked list.

### Q89. Implement a stack with push and pop operations.

### Q90. Implement a queue with enqueue and dequeue operations.

### Q91. Implement a class representing a node in a binary tree.

### Q92. Implement a function to insert a new node into a binary search tree.

### Q93. Implement a graph using an adjacency list.

### Q94. Implement a depth-first search (DFS) algorithm for a graph.

### Q95. Implement a binary search algorithm for a sorted list.

### Q96. Create two sets of numbers and find their intersection.

### Q97. Perform the union and difference operations on two sets.

### Q98. Create a tuple with three elements and unpack it into three variables.

### Q99. Create a dictionary representing a person with keys "name," "age," and "city."

### Q100. Access and print the value associated with the "age" key in the dictionary

### Q101. Update the age in the dictionary to a new value.

### Q102. Iterate through the keys and values in the dictionary and print them.

### Q103. Find and print the number of key-value pairs in the dictionary.

### Q104. Remove the "city" key from the dictionary.

### Q105. Check if the "gender" key exists in the dictionary and print the result.

### Q106. Create a second dictionary with additional information and merge it with the original dictionary.

### Q107. Write a program to get the keys of the dictionary as a list.

### Q108. Write a program to get the values of the dictionary as a list.

### Q109. Remove the key-value pair with the "name" key from the dictionary.

### Q110. Clear all items from the dictionary.

### Q111. Write a program to print the dictionary keys in sorted order.

### Q112. Write a program to print the dictionary values in sorted order.

### Q113. Find and print the key with the maximum value in the dictionary.

### Q114. Find and print the key with the minimum value in the dictionary.

### Q115. Create a copy of the dictionary and print both dictionaries.

### Q116. Create a nested dictionary representing a student with keys "name," "grades," and "subjects."

### Q117. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

### Q118. Swap the keys and values in the dictionary and print the result.

### Q119. Create a list of integers with values 1 to 5.

### Q120. Access and print the third element of the list.

### Q121. Modify the second element of the list to have a new value.

### Q122. Find and print the number of elements in the list.

### Q123. Add a new element to the end of the list.

### Q124. Create two lists and concatenate them into a new list.

### Q125. Repeat the list three times and print the result.

### Q126. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

### Q127. Use a loop to print each element of the list.

### Q128. Write a program to sort the list in ascending order.

### Q129. Reverse the order of elements in the list.

### Q130. Remove the third element from the list.

### Q131. Clear all elements from the list.

### Q132. Count the number of occurrences of a specific element in the list.

### Q133. Use list comprehension to create a list of squares of numbers from 1 to 5.

### Q134. Create a list of numbers and filter out the even numbers.

### Q135. Create a list of strings and map them to uppercase using list comprehension.

### Q136. Write a program to find the index of a specific element in the list.

### Q137. Remove all occurrences of a specific element from the list.

### Q138. Insert a new element at index 2 in the list.

### Q139. Use the 'pop()' method to remove and print the last element of the list.

### Q140. Extend the current list with elements from another list.

### Q141. Find and print the minimum value in the list.

### Q142. Find and print the maximum value in the list.

### Q143. Create a list with three elements and unpack it into three variables.

### Q144. Create a copy of the list and print both lists.

### Q145. Convert a list of integers to a list of strings.

### Q146. Remove duplicate elements from a list.

### Q147. Create an empty list and add elements to it using a loop.

### Q148. Create two lists and find their intersection.

### Q149. Clear all elements from the list.

### Q150. Implement a simple singly linked list in Python. Include the following functionalities:

    Node Class: Create a Node class with attributes data and next_node.

    LinkedList Class: Create a LinkedList class with the following methods:

    __init__: Initialize an empty linked list.
    is_empty: Return True if the linked list is empty, False otherwise.
    append: Add a new node with the given data to the end of the linked list.
    prepend: Add a new node with the given data to the beginning of the linked list.
    delete: Delete the first occurrence of a node with the given data.
    display: Print the elements of the linked list.

Demonstrate the usage of your implemented linked list by creating an instance of the LinkedList class, appending a few nodes, prepending a node, deleting a node, and displaying the final linked list.