# Python built in data container types / data structures

In computer science, data structures are specialized formats for organizing and storing data in a computer program. They are designed to facilitate the efficient manipulation and access of data, based on the requirements of the program.

There are many types of data structures, each with its own set of rules for how data is stored and accessed. Some common data structures include arrays, linked lists, stacks, queues, trees, and graphs.

Data structures are an important part of programming because they can impact the performance of a program. The choice of data structure depends on the specific use case and the data being stored. For example, an array might be the best choice for storing a collection of data with a fixed size, while a linked list might be better for storing data with an unknown size or that needs to be frequently inserted or deleted.

Having a good understanding of data structures is an essential skill for computer scientists, software engineers, and Data Scientists as it allows them to develop efficient and scalable algorithms for solving problems.

Python provides several built-in data structures that can be used to organize and store data in a program. Here are some of the most common data structures in Python:

__Lists:__ A list is a dynamic array that can store a collection of items, such as numbers, strings, or other objects. Lists are ordered and mutable, which means you can add, remove, or modify items.

__Tuples:__ A tuple is similar to a list, but it is immutable, which means you cannot modify its contents after it has been created. Tuples are often used to store related values, such as coordinates or dates.

__Sets:__ A set is an unordered collection of unique elements. Sets are useful for finding unique items, and for performing set operations such as union, intersection, and difference.

__Dictionaries:__ A dictionary is a collection of key-value pairs. The keys are unique and are used to access the corresponding values. Dictionaries are often used for quick lookups and for storing data that is related by keys.

Python also provides some built-in data structures that are not commonly used, such as __deque__, __named tuple__, and __heap queue__.

In addition to the built-in data structures, Python also provides a module called __"collections"__ that includes additional data structures, such as __defaultdict__, __Counter__, and __OrderedDict__, that can be useful in certain situations.

Notice that a __String is also a data structure__ since it contains characters.

__Programmers can also create their own custom data structures in Python using classes__, which can be tailored to the specific requirements of a program.

|String   |List   |Tuple    |Set    |Dictionary|
|:------   |:----   |:-----    |:---    |:----------|
|immutable|mutable|immutable|mutable|mutable|
|ordered/indexed|ordered/indexed|ordered/indexed|unordered|unordered|
|allows duplicate members|allows duplicate members|allows duplicate members|does not allow duplicate members|does not allow duplicate keys|

# String Basics
Strings are a sequence of characters which can be stored either as a constant or a different variable. Strings are considered as a datatype. Typically, programmers must enclose strings in quotation marks for the data to recognized as a string and not a number or variable name. Shown below are some of the most used string methods on a daily basis and are one of the most commonly asked interview questions. 
[reference](https://towardsdatascience.com/python-strings-from-scratch-afd5ad034de8) [Github Reference](https://github.com/Tanu-N-Prabhu/Python/blob/master/Strings/Strings.ipynb)

In [1]:
## empty string
empty_string = ""
type(empty_string)

str

In [2]:
# Declaring a string variable
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [3]:
print(type(string))

<class 'str'>

### Escape sequence in python using strings
In Python strings, the backslash " " is a special character, also called the "escape" character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a new line, and "\r" is a carriage return. Finally, " " can be used to escape itself: "" is the literal backslash character.

In [4]:
# This is an escape sequence.
string = "This is a \"Jupyter\" python notebook"
print(string)

This is a "Jupyter" python notebook

### Accessing the String by an Index
Strings can be accessed by their index in order to get the value. To do this all you have to do is just place the number (index value) inside the pair of square brackets along with the name of the string.

In [5]:
string = "Python"
print(string[2])

t

In [6]:
print(string[5])

n

### Slicing a string
Slicing a string helps to get a set of characters from a string. This is really helpful when we want to access a particular set of characters in a string. Below are some slicing variants that are useful.

In [7]:
string = "programming"
string

'programming'

In [8]:
# Getting one character of the string
print(string[0:1])

p

In [9]:
# Getting the first three characters from the string
print(string[0:3])

pro

In [10]:
# Getting the first three characters from the string (Alternate)
print(string[:3])

pro

In [11]:
# Getting the last three characters from the string
print(string[-3:])

ing

In [12]:
# Getting all characters but excluding three first characters from the string
print(string[3:])

gramming

In [13]:
# Getting all characters but excluding the last three characters from the string
print(string[:-3])

programm

In [14]:
# Reversing all the characters in a given string
print(string[::-1])

gnimmargorp

In [15]:
# Alternative to printing all characters in a string
print(string[::])

programming

### Splitting a string

Sometimes splitting a string is a handy option because it is one of the easiest ways to convert a string into a list. I know I have not spoken about the list but keep in mind that split converts a string into a list. You can find the material on Python Lists that is written which can provide enough idea to master python lists [Python Lists](https://towardsdatascience.com/python-lists-from-scratch-4b958eb956fc)

In [16]:
String = "Computer Programming"
String

'Computer Programming'

In [17]:
type(String)

str

In [18]:
# convert the String into a List
list_a = String.split()
print(list_a)

['Computer', 'Programming']

In [19]:
type(list_a)

list

### Replacing a string
The Replace function in python is one of the best function that can be applied to strings. For example, shown below is a string "Money" we need to replace the dollar and the comma sign and this can be done as shown below.

In [20]:
Money = '$113,678'
print(Money)
print("===========================")
print(type(Money))

$113,678
===========================
<class 'str'>

In [21]:
# remove the dollar sign
Money = Money.replace('$', '')
Money

'113,678'

In [22]:
# remove the comma
Money = Money.replace(',', '')
Money

'113678'

In [23]:
Money = int(Money)
print(Money)
print("===========================")
print(type(Money))

113678
===========================
<class 'int'>

### Join
The join function is python is used to join the string according to the specified pattern.

In [24]:
String = "Python Programming is fun"
String

'Python Programming is fun'

In [25]:
# apply a space between each letter
String = " ".join(String)
String

'P y t h o n   P r o g r a m m i n g   i s   f u n'

In [26]:
# place into a character list
list = String.split()
print(list)

['P', 'y', 't', 'h', 'o', 'n', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', 'i', 's', 'f', 'u', 'n']

### Capitalize
The capitalize function capitalizes the first character in the word or a string.

In [27]:
string = "programming"
string

'programming'

In [28]:
string = string.capitalize()
string

'Programming'

### Center
The center method returns a string which is padded with the specified character.

In [29]:
string = "python"
string

'python'

In [30]:
print(string.center(14, '*'))

****python****

### Find
The find method returns the index of the given substring position. If the value is not found it returns, -1.

In [31]:
string = "programming"
string

'programming'

In [32]:
print(string.find('g'))

3

In [33]:
print(string.find('t'))

-1

### Strip
The strip function strips or removes the white spaces both from the starting and the ending of a string.

In [34]:
string = "     programming is easy    "
string

'     programming is easy    '

In [35]:
print(string.strip())

programming is easy

# List Basics
Lists are written within square brackets []
[reference](https://towardsdatascience.com/python-basics-6-lists-and-list-manipulation-a56be62b1f95)

In [36]:
## empty list
empty_list = []
type(empty_list)

list

In [37]:
# Define a list
z = [3, 7, 4, 2]
print(z)

[3, 7, 4, 2]

Lists store an ordered collection of items which can be of different types. The list defined above has items that are all of the same type (int), but all the items of a list do not need to be of the same type as you can see below.

In [38]:
# Define a list heterogenous elements
heterogenousElements = [3, True, 'Michael', 2.0]

The list contains an int, a bool, a string, and a float.

### Access Values in a List
Each item in a list has an assigned index value. It is important to note that python is a zero indexed based language. All this means is that the first item in the list is at index 0.

In [39]:
# Access the first item of a list at index 0
print(heterogenousElements[2])

Michael

Python also supports negative indexing. Negative indexing starts from the end. It can be more convienient at times to use negative indexing to get the last item in the list because you don’t have to know the length of the list to access the last item.

In [40]:
# print last item in the list
print(heterogenousElements[-2])

Michael

### Slice of Lists
Slices are good for getting a subset of values in your list. For the example code below, it will return a list with the items from index 0 up to and not including index 2.

In [41]:
# Define a list
z = [3, 7, 4, 2]
print(z[0:2])

[3, 7]

In [42]:
# everything up to but not including index 3
print(z[:3])

[3, 7, 4]

In [43]:
# index 1 to end of list
print(z[1:])

[7, 4, 2]

Lists in Python are mutable. All that means is that after defining a list, it is possible to update the individual items in a list.

In [44]:
# Update the item at index 1 with the string "fish"
z[1] = "fish"
print(z)

[3, 'fish', 4, 2]

### List Methods
Python lists have different methods that help you modify a list. This section of the tutorial just goes over various python list methods.

### Index Method

In [45]:
# Define a list
z = [4, 1, 5, 4, 10, 4]

The index method returns the first index at which a value occurs. In the code below, it will return 0.

In [46]:
print(z.index(5))

2

You can also specify where you start your search.

In [47]:
print(z.index(4, 3))

3

### Count Method
The count method works just like how it sounds. It counts the number of times a value occurs in a list

In [48]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Sort Method
The sort method sorts and alters the original list in place.

In [49]:
z = [3, 7, 4, 2]
z.sort()
print(z)

[2, 3, 4, 7]

The code above sorts a list from low to high. The code below shows that you can also sort a list from high to low.

In [50]:
# Sorting and Altering original list
# high to low
z.sort(reverse = True)
print(z)

[7, 4, 3, 2]

As an aside, I should mention that you can also sort a list of strings from a-z and z-a

In [51]:
x = ["Joe", "Jake", "Janie", "Frank", "Lucy"]

In [52]:
x.sort()
print(x)

['Frank', 'Jake', 'Janie', 'Joe', 'Lucy']

In [53]:
x.sort(reverse = True)
print(x)

['Lucy', 'Joe', 'Janie', 'Jake', 'Frank']

### Append Method
The append method adds an element to the end of a list. This happens inplace.

In [54]:
z = [7, 4, 3, 2]
z.append(3)
print(z)

[7, 4, 3, 2, 3]

### Remove Method
The remove method removes the first occurrence of a value in a list.

In [55]:
z = [7, 4, 3, 2, 3]
z.remove(2)
print(z)

[7, 4, 3, 3]

### Pop Method
The pop method removes an item at the index you provide. This method will also return the item you removed from the list. If you don’t provide an index, it will by default remove the item at the last index.

In [56]:
z = [7, 4, 3, 3]
print(z.pop(0))
print(z)

7
[4, 3, 3]

### Extend Method
The method extends a list by appending items. The benefit of this is you can add lists together.

In [57]:
z = [7, 3, 3]
z.extend([4,5])
print(z)

[7, 3, 3, 4, 5]

Alternatively, the same thing could be accomplished by using the + operator.

In [58]:
print([1,2]+ [3,4])

[1, 2, 3, 4]

### Insert Method
The insert method inserts an item before the index you provide

In [59]:
z = [7, 3, 3, 4, 5]
z.insert(5, [1, 2])
print(z)

[7, 3, 3, 4, 5, [1, 2]]

# Python Tuples and Tuple Methods
Tuples are an ordered sequences of items, just like lists. The main difference between tuples and lists is that tuples cannot be changed (immutable) unlike lists which can (mutable).Tuples
[reference](https://medium.com/@GalarnykMichael/python-basics-9-tuples-tuple-manipulation-and-the-fibonacci-sequence-2d0da4e2d326)

### Initialize a Tuple
There are two ways to initialize an empty tuple. You can initialize an empty tuple by having () with no values in them.

In [60]:
## empty tuple Way 1
empty_tuple = ()
type(empty_tuple)

tuple

In [61]:
# Way 2
emptyTuple = tuple()
type(emptyTuple)

tuple

A tuple with values can be initialized by making a sequence of values separated by commas.

In [62]:
# way 1
z = (3, 7, 4, 2)
# way 2 (tuples can also can be created without parenthesis)
z = 3, 7, 4, 2

It is important to keep in mind that if you want to create a tuple containing only one value, you need a trailing comma after your item.

In [63]:
# tuple with one value
tup1 = ('Michael',)
# tuple with one value
tup2 = 'Michael', 
# This is a string, NOT a tuple.
notTuple = ('Michael')

### Accessing Values in Tuples
Each value in a tuple has an assigned index value. It is important to note that python is a zero indexed based language. All this means is that the first value in the tuple is at index 0.

In [64]:
# Initialize a tuple
z = (3, 7, 4, 2)
# Access the first item of a tuple at index 0
print(z[0])

3

Python also supports negative indexing. Negative indexing starts from the end of the tuple. It can sometimes be more convenient to use negative indexing to get the last item in a tuple because you don’t have to know the length of a tuple to access the last item.

In [65]:
# print last item in the tuple
print(z[-1])

2

As a reminder, you could also access the same item using positive indexes (as seen below).

In [66]:
print(z[3])

2

### Tuple slices
Slice operations return a new tuple containing the requested items. Slices are good for getting a subset of values in your tuple. For the example code below, it will return a tuple with the items from index 0 up to and not including index 2.

In [67]:
# Initialize a tuple
z = (3, 7, 4, 2)
# first index is inclusive (before the :) and last (after the :) is not.
print(z[0:2])

(3, 7)

In [68]:
# everything up to but not including index 3
print(z[:3])

(3, 7, 4)

You can even make slices with negative indexes.

In [69]:
print(z[-4:-1])

(3, 7, 4)

### Tuples are Immutable
Tuples are immutable which means that after initializing a tuple, it is impossible to update individual items in a tuple. As you can see in the code below, you cannot update or change the values of tuple items (this is different from Python Lists which are mutable).

In [70]:
# TypeError: 'tuple' object does not support item assignment
z = (3, 7, 4, 2)
z[1] = "fish"

TypeError: 'tuple' object does not support item assignment

Even though tuples are immutable, it is possible to take portions of existing tuples to create new tuples as the following example demonstrates.

In [ ]:
# Initialize tuple
tup1 = ('Python', 'SQL')
# Initialize another Tuple
tup2 = ('R',)
# Create new tuple based on existing tuples
new_tuple = tup1 + tup2;
print(new_tuple)

### Tuple Methods
let’s first initialize a tuple.

In [ ]:
# Initialize a tuple
animals = ('lama', 'sheep', 'lama', 'alpaca', 'alpaca', 'kitty', 'doggy')

### index method
The index method returns the first index at which a value occurs.

In [ ]:
print(animals.index('lama'))

### count method
The count method returns the number of times a value occurs in a tuple.

In [ ]:
print(animals.count('lama'))

### Iterate through a Tuple
You can iterate through the items of a tuple by using a for loop.

In [ ]:
for item in animals:
   print(item)

### Tuple Unpacking
Tuples are useful for sequence unpacking.

In [ ]:
x, y = (7, 10);
print("Value of x is {}, the value of y is {}.".format(x, y))

### Enumerate
The enumerate function returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over a sequence:

In [ ]:
for index, friend in enumerate(animals):
    print(index,friend)

Lists and tuples are standard Python data types that store values in a sequence. A tuple is immutable whereas a list is mutable. Here are some other advantages of tuples over lists (partially from [Stack Overflow](https://stackoverflow.com/questions/1708510/python-list-vs-tuple-when-to-use-each))

Tuples are faster than lists. If you’re defining a constant set of values and all you’re ever going to do with it is iterate through it, use a tuple instead of a list. The performance difference can be partially measured using the timeit library which allows you to time your Python code. The code below runs the code for each approach 1 million times and outputs the overall time it took in seconds.

In [ ]:
import timeit 
print(timeit.timeit('x=(1,2,3,4,5,6,7,8,9,10,11,12)', number=1000000)) #tuple
print(timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10,11,12]', number=1000000)) #list

Some tuples can be used as dictionary keys (specifically, tuples that contain immutable values like strings, numbers, and other tuples). Lists can never be used as dictionary keys, because lists are not immutable.

Tuples can be used as values in sets whereas lists can not.

# Set Basics

In [ ]:
## empty set
empty_set = set()
type(empty_set)

### Creating a Set:
[reference](https://levelup.gitconnected.com/python-sets-basics-and-usecases-af1fbe8906f4)
In python, a comma-separated list of items enclosed within curly braces represents a set.

[Set theory reference](https://towardsdatascience.com/python-sets-and-set-theory-2ace093d1607)

In [ ]:
set_of_numbers = {1,2,3,4,5}
mixed_set = {'a',1,2,'c','d'}

Defining an empty set is a bit tricky as in python empty curly braces {}are used to define a dictionary. So to define a set we use set() function. This function can also be used to create a set from a list.

In [ ]:
empty_set = set()
set_from_list = set([1,2,3,4])

### Adding Elements to a Set:

add() and update() methods are used to add single or multiple elements to a set respectively. Update method takes strings as well as iterables like lists, tuples, sets as an input.

In [ ]:
demo_set = set()
print(demo_set)

In [ ]:
demo_set.add(2)
print(demo_set)

In [ ]:
demo_set.update([2,4,5])
print(demo_set)

In [ ]:
demo_set.update((1,3))
print(demo_set)

### Removing Elements from a Set:

discard() and remove() methods can be used to remove elements. The only difference between these two is remove method will raise an error if the element to be removed is not present in the set.

In [ ]:
demo_set = {1,2,3,4,5}
demo_set.remove(2)
demo_set.discard(3)
print(demo_set)

Similarly, there is a method called pop() which will randomly remove an element from the set. And clear() method can be used to clear all the elements of a set making it an empty set.

### Accessing Elements from a Set:

To check whether an element is present in a set we can use the following syntax which will return either true or false.

In [ ]:
demo_set = {1,2,3,4,5}
print(2 in demo_set)
print('a' in demo_set)

We can also iterate through the set using a for a loop.

In [ ]:
demo_set = {1,2,3}
for element in demo_set:
    print(element)

### Set Operations
The main benefit of using sets in python is the mathematical set operations python provides like set union, intersection, difference, symmetric difference, etc.

### Set Union:

A set union will create a set with all the elements from both sets. The union can be performed using union() method or | operator.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_c = set_a.union(set_b) 
#OR
set_c = set_a | set_b
print(set_c)

### Set Intersection:

A set intersection will create a set with all the elements which are common in both sets. The intersection can be performed using intersection() method or & operator.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_c = set_a.intersection(set_b) 
#OR
set_c = set_a & set_b
print(set_c)

### Set Difference:

A set difference will create a set with all the elements which are in set 1 and not in set 2. The difference can be performed using difference() method or - operator.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_c = set_a.difference(set_b) 
#OR
set_c = set_a - set_b
print(set_c)

There is also a method called difference_update() which updates the set with the difference from both sets.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_a.difference_update(set_b)
print(set_a)

### Set Symmetric Difference:

A set symmetric difference will create a set with the elements which are in both sets excluding the elements common to both sets. The symmetric difference can be performed using symmetric_difference() method or ^ operator.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_c = set_a.symmetric_difference(set_b) 
#OR
set_c = set_a ^ set_b
print(set_c)

Similarly, there is also a method called symmetric_difference_update() which updates the set with the symmetric difference from both sets.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
set_a.symmetric_difference_update(set_b) 
print(set_a)

### Is Disjoint:

isdisjoint() method returns True if there are no common elements in both sets, else returns False.

In [ ]:
set_a = {1,2,3}
set_b = {4,5}
print(set_a.isdisjoint(set_b))

### Is Subset:

issubset() method returns True if set 2 contains all the elements from set 1, else returns False.

In [ ]:
set_a = {1,2,3}
set_b = {1,2,3,4,5}
print(set_a.issubset(set_b))

### Is Superset:

issuperset() method returns True if set 1 contains all the elements from set 2, else returns False.

In [ ]:
set_a = {1,2,3,4,5}
set_b = {1,2,3}
print(set_a.issuperset(set_b))

### Use-cases
There are many real-world use-cases of sets in python, few are listed below.

### Checking if element present in a list:

To check whether an element is present in a list we can always use a for loop to iterate and check or also we can use in operator.

In [ ]:
list_a = [1,2,3,4,5]
for i in list_a: 
    if(i == 2) : 
        print(True)
print(2 in set_a)

But a more efficient way of doing it is converting the list into a set and check the presence using in operator.

In [ ]:
list_a = [1,2,3,4,5]
set_a = set(list_a)
print(2 in set_a)

### Making a list of unique elements:

To make a list where all list elements are unique, we just have to convert the list into a set and then convert it back to a list.

In [ ]:
list_a = [1,5,2,3,3,4,5,1]
print(list_a)

In [ ]:
set_a = set(list_a)
print(set_a)

In [ ]:
list_new_a = sorted(set_a)
#or
#list_new_a = list(set_a)
print(list_new_a)

## Merge sets if one or more elements are common:

To merge sets that have common elements, we can either check if sets are not disjoint using isdisjoint() method or we can check the intersection using intersection() method then if both sets do intersect, we can use union() method to merge the sets.

If we have a list of such sets then we have to use loops and recursion to merge all the sets.

In [ ]:
def merge_if_intersect(m_list):
    for i,set1 in enumerate(m_list):
        for j,set2 in enumerate(m_list[i+1:],i+1):
           if not set1.isdisjoint(set2): #or set1.intersection(set2)
              m_list[i]=set1.union(m_list.pop(j))
              return merge_if_intersect(m_list)
    return m_list
list_a = [{1,2,3},{4,5},{5,6},{3,7},{8}]
merged_list = merge_if_intersect(list_a)
print(merged_list)

# Python Dictionary and Dictionary Methods
- How to Define a Dictionary
- How to Access Values in a Dictionary
- How to Add, Update, and Delete Keys from a Dictionary
- Dictionary Methods
- How to Iterate through a Dictionary

[reference](https://medium.com/@GalarnykMichael/python-basics-10-dictionaries-and-dictionary-methods-4e9efa70f5b9)

Define a Dictionary
Dictionaries are written within curly brackets {}.

In [ ]:
## empty dict
empty_dict = {}
type(empty_dict)

In [ ]:
# Define a dictionary code 
webstersDict = {'person': 'a human being',
                'marathon': 'a running race that is about 26 miles',
                'resist': 'to remain strong against the force',
                'run': 'to move with haste; act quickly'}

The dictionary webstersDict used strings as keys in the dictionary, but dictionary keys can be any immutable data type (numbers, strings, tuples etc). Dictionary values can be just about anything (int, lists, functions, strings, etc).

For example, the dictionary below, genderDict has ints as keys and strings as values.

In [ ]:
# Define a dictionary
genderDict = {0: 'male',
              1: 'female'}

An important point to emphasize is that if you try to make a key a mutable datatype (like a list), you will get an error.

In [ ]:
# Failure to define a dictionary
webstersDict = {(1, 2.0): 'tuples can be keys',
                1: 'ints can be keys',
                'run': 'strings can be keys', 
                ['sock', 1, 2.0]: 'lists can NOT be keys'}

## Access Values in a Dictionary
To access a dictionary value, you can use square brackets [].

For example, the code below uses the key ‘marathon’ to access the value ‘a running race that is about 26 miles’.

In [ ]:
# Get value of the 'marathon' key
webstersDict['marathon']

Keep in mind that you will get a KeyError if you try to access a value for a key that does not exist.

In [ ]:
# Try to get value for key that does not exist
webstersDict['nonexistentKey']

In the Dictionary Methods section, you will see the utility of using the dictionary method get to avoid KeyErrors.

## Add, Update, and Delete Keys from a Dictionary
Add or Update Key
You can add a new key-value pair.

In [ ]:
# add one new key value pair to a dictionary
webstersDict['shoe'] = 'an external covering for the human foot'

In [ ]:
webstersDict

In [ ]:
# you can also update a key-value pair

In [ ]:
webstersDict['marathon'] = '26 mile race'

In [ ]:
webstersDict

In the Dictionary Methods section, you will see that you can also add or update multiple key value pairs at a time using the dictionary update method.

## Delete Keys from Dictionary
It is possible to remove a key and its corresponding value from a dictionary using del.

In [ ]:
# Remove the key 'resist' from the dictionary
del webstersDict['resist']

In [ ]:
webstersDict

In the Dictionary Methods section, you will see that you can also delete keys using the dictionary pop method.

## Dictionary Methods
Python dictionaries have different methods that help you modify a dictionary. This section of the tutorial just goes over various python dictionary methods.

## update method
The update method is very useful for updating multiple key values pairs at a time. It takes a dictionary as an argument.

In [ ]:
# Using update method to add two key value pairs at once
webstersDict.update({'ran': 'past tense of run',
                     'shoes': 'plural of shoe'})

In [ ]:
webstersDict

## Get method
The get method returns a value for a given key. If a key doesn’t exist, the dictionary will by default return None.

In [ ]:
# Define a dictionary
storyCount = {'is': 100,
              'the': 90,
              'Michael': 12,
              'runs': 5}

In [ ]:
# Since the key 'Michael' exists, it will return the value 12
storyCount.get('Michael')

The method is very useful to look up keys you don’t know are in the dictionary to avoid KeyErrors.

In [ ]:
# Make default value for key that doesn't exist 0.
storyCount.get('chicken', 0)

## pop Method
The pop method removes a key and returns the value.

In [ ]:
storyCount.pop('the')

In [ ]:
storyCount

## keys Method
The keys method returns the keys of the dictionary.

In [ ]:
storyCount.keys()

## values Method
The values method returns the values in the dictionary.

In [ ]:
storyCount.values()

## items Method
The items method returns a list like object of tuples where each tuple is of the form (key, value).

In [ ]:
webstersDict.items()

## Iterate through a Dictionary
You can iterate through the keys of a dictionary by using a for loop.

In [ ]:
for key in storyCount:
   print(key)

In [ ]:
# You also iterate through the keys of a dictionary by using the keys method.
for key in storyCount.keys():
   print(key)

The for loop below uses the items method to access one (key, value) pair on each iteration of the loop.

In [ ]:
for key, value in webstersDict.items():
    print(key, value)

```python
[42, 3.14, 'hello']     # List
[]                      # Empty list
100, 200, 300           # Tuple
(100, 200, 300)         # Tuple
()                      # Empty tuple
{'x':42, 'y':3.14}      # Dictionary
{}                      # Empty dictionary
{1, 2, 4, 8, 'string'}  # Set
# There is no literal form to denote an empty set; use set() instead
```

## Keywords

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(keyword.softkwlist)

## Literals

```python
42                     # Integer literal
3.14                   # Floating-point literal
1.0j                   # Imaginary literal
'hello'                # String literal
"world"                # Another string literal
"""Good
night"""               #

```

## Help Function

In [ ]:
#help('BASICMETHODS')
#help('NUMBERMETHODS')
#help('SPECIALMETHODS')
#help('OPERATORS')
#help('itertools')
#help('OBJECTS')
#help('FUNCTIONS')
#help('TYPES')

[Built-In Functions](https://docs.python.org/3/library/functions.html)

In [ ]:
#import builtins
#dir(builtins)

In [ ]:
print(dir(__builtin__))

In [ ]:
help(set)