<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd
import numpy as np

<ipython-input-3-baf368f80de7>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [4]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [5]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [6]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [7]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [15]:
# your code goes here
#Find duplicate rows in the dataframe
#df_duplicate = df.duplicated() #contains the boolean result of duplicate()
#print('df_duplicate: \n', df_duplicate)

#Find quantity of duplicate rows in the dataset
df_dup = len(df) - len(df.drop_duplicates())
print('There are ', df_dup, ' duplicated rows in the dataset')

df_duplicate:
 0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Length: 11552, dtype: bool
There are  154  duplicated rows in the dataset

In [8]:
df_dup_res = len(df['Respondent']) - len(df['Respondent'].drop_duplicates())
print('There are ', df_dup_res, ' duplicated rows in the Respondent column')

There are  154  duplicated rows in the Respondent column

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [17]:
# your code goes here
#Remove the duplicated rows fromm the dataset
df_no_dup = df.drop_duplicates()
df_no_dup.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

Verify if duplicates were actually dropped.

In [19]:
# your code goes here
#Find if there are any duplicated rows in the dataset
df_dup2 = len(df_no_dup) - len(df_no_dup.drop_duplicates())
print('There are ', df_dup2, ' duplicated rows in the dataset') #There is no one single duplicated row

There are  0  duplicated rows in the dataset

In [20]:
df_dup_res1 = df['Respondent'].nunique()
print('There are ', df_dup_res1, ' unique values in the Respondent column')

There are  11398  unique values in the Respondent column

## Finding Missing values

Find the missing values for all columns.

In [63]:
# your code goes here
#Find missing values
df_mis_v = df.isnull()
df_mis_v #True = missing value

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [84]:
# your code goes here
#r_WL = len(df['WorkLoc']) #Quantity of rows in 'WorkLoc' column
#print('There are ', r_WL, ' in WorkLoc \n')

#Find how many rows are missing in the column 'WorkLoc'
#r_WL_m = df[['WorkLoc']].info() #rows missing in 'WorkLoc'

r_WL_nan = df[['WorkLoc']].isnull().sum(axis=0)
print('There are ', r_WL_nan.iloc[0], ' missing rows in column WorkLoc')

There are  32  missing rows in column WorkLoc

In [21]:
r_EL_nan = df[['EdLevel']].isnull().sum(axis=0)
print('There are ', r_EL_nan.iloc[0], ' missing rows in column EdLevel')
#Según el qüiz deberían ser 112

There are  116  missing rows in column EdLevel

In [22]:
r_C_nan = df[['Country']].isnull().sum(axis=0)
print('There are ', r_C_nan.iloc[0], ' missing rows in column Country')

There are  0  missing rows in column Country

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [85]:
# your code goes here
df[['WorkLoc']].value_counts()

WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [115]:
#make a note of the majority value here, for future reference
#
mvWL = df[['WorkLoc']].value_counts().idxmax()
print(mvWL)

('Office',)

In [129]:
mvWL2 = df['WorkLoc'].mode()[0]
mvWL2

'Office'

In [23]:
mvWL3 = df['Employment'].mode()[0]
mvWL3

'Employed full-time'

In [24]:
#mvWL4 = df['UndergradMajor'].mode()[0]
#mvWL4

df[['UndergradMajor']].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [26]:
r_CC_nan = df[['ConvertedComp']].isnull().sum(axis=0)
print('There are ', r_CC_nan.iloc[0], ' missing rows in column ConvertedComp')

There are  822  missing rows in column ConvertedComp

In [25]:
df[['ConvertedComp']].value_counts()

ConvertedComp
2000000.0        140
1000000.0        105
100000.0         105
150000.0          94
120000.0          87
                ...
36288.0            1
36337.0            1
36406.0            1
36421.0            1
45477.0            1
Name: count, Length: 3515, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [130]:
# your code goes here

df['WorkLoc'].replace(np.nan, mvWL2, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [131]:
# your code goes here
df[['WorkLoc']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WorkLoc  11552 non-null  object
dtypes: object(1)
memory usage: 45.2+ KB

In [133]:
df[['WorkLoc']].isnull().sum()

WorkLoc    0
dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [181]:
# your code goes here
#Check for missing values in CompFreq
CF_mv = df[['CompFreq']].isnull().sum(axis=0)
CF_mv #there are 206 missing values in CompFreq
print('There are ', CF_mv.iloc[0], ' missing rows in column CompFreq')

# Value count for the column CompFreq
df[['CompFreq']].value_counts()

CF_mv1 = df['CompFreq'].mode()[0] #most common entry in CompFreq
print('The most common entry in CompFreq is: ', CF_mv1)
print('-----------------------------------------------------------------------------------------------')

#We can use "Yearly" so as to replace the missing values
#df['CompFreq'].replace(np.nan, CF_mv1, inplace=True) #Warning!: The behavior will change in pandas 3.0
df.replace({'CompFreq': CF_mv1}, inplace=True) #This way is recomended

#Verifying the inputing
print('Verifying the imputing: \n', df[['CompFreq']].isnull().sum()) #The imputing was succesfull
print('-----------------------------------------------------------------------------------------------')

#We can now work with the data in the column CompFreq

#Various categories in column CompFreq
print('Various categories in column CompFreq: \n', df[['CompFreq']].value_counts())

There are  0  missing rows in column CompFreq
The most common entry in CompFreq is:  Yearly
-----------------------------------------------------------------------------------------------
Verifying the imputing:
 CompFreq    0
dtype: int64
-----------------------------------------------------------------------------------------------
Various categories in column CompFreq:
 CompFreq
Yearly      6369
Monthly     4846
Weekly       337
Name: count, dtype: int64

In [182]:
# Let's do the same for CompTotal
#Check for missing values in CompTotal
CT_mv = df[['CompTotal']].isnull().sum(axis=0)
CT_mv #there are 815 missing values in CompTotal
print('There are ', CT_mv.iloc[0], ' missing rows in column CompTotal')

# Value count for the column CompTotal
df[['CompTotal']].value_counts()

CT_mv1 = df['CompTotal'].astype(float).mean(axis=0) #avg value in CompTotal
print('The average valule in CompTotal is: ', CT_mv1)
print('-----------------------------------------------------------------------------------------------')

#We can use the average value so as to replace the missing values
#df['CompTotal'].replace(np.nan, CT_mv1, inplace=True) #Warning!: The behavior will change in pandas 3.0
df.replace({'CompTotal': np.nan}, CT_mv1, inplace=True) #This way is recomended

#Verifying the inputing
print('Verifying the imputing \n: ', df[['CompTotal']].isnull().sum()) #The imputing was succesfull
print('-----------------------------------------------------------------------------------------------')

#We can now work with the data in the column CompTotal

#Various categories in column CompTotal
print('Various categories in column CompTotal: \n', df[['CompTotal']].value_counts())

There are  0  missing rows in column CompTotal
The average valule in CompTotal is:  749993.1964235819
-----------------------------------------------------------------------------------------------
Verifying the imputing
:  CompTotal    0
dtype: int64
-----------------------------------------------------------------------------------------------
Various categories in column CompTotal:
 CompTotal
7.499932e+05    815
7.000000e+04    249
6.000000e+04    242
1.000000e+05    225
5.000000e+04    225
               ...
3.922900e+04      1
3.920000e+04      1
3.916000e+04      1
3.890000e+04      1
7.000000e+08      1
Name: count, Length: 1510, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [34]:
#This code was developed by Waldo Hidalgo, who sheared it in the discussion forum. Thank you Waldo

d1=df.CompTotal[df.CompFreq=='Yearly']
d2=df.CompTotal[df.CompFreq=='Monthly']*12
d3=df.CompTotal[df.CompFreq=='Weekly']*52
join=pd.concat([d1,d2,d3]).sort_index()
df['NormalizedAnnualCompensation']=join
df['NormalizedAnnualCompensation'].head()

df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

In [38]:
df['NormalizedAnnualCompensation'].median()

100000.0

In [205]:
#My code seems to have some issue, at the end I won't be able to get the monetary values

# your code goes here
#Create a new column named 'NormalizedAnnualCompensation'

#Create an empty pd.Series for the new column
df['NormalizedAnnualCompensation'] = pd.Series(dtype=float)

#DataFrame.iterrows()[source]
#Iterate over DataFrame rows as (index, Series) pairs.

for index, row in df.iterrows():
    if "CompFreq" == 'Yearly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
    elif "CompFreq" == 'Monthly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*12
    elif "CompFreq" == 'Weekly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*52


df['NormalizedAnnualCompensation'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>