Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\atharva\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharva\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\atharva\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\atharva\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\atharva\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.14 in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sortedcontainers in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\atharva\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharva\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\atharva\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharva\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings("ignore")

In [3]:
driver = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")

In [4]:
driver.maximize_window()

In [5]:
url = "https://www.naukri.com/"
driver.get(url)

In [6]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys("Data Analyst")

In [7]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_loc.send_keys("Bangalore")

In [8]:
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_but.click()

In [10]:
job_title = []
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
    
job_title

['Senior Data Analyst - PLM Data Migration',
 'Data Analyst',
 'Senior Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Lead Data Analyst',
 'Data Analyst',
 'Lead Data Management Analyst',
 'Data Analyst 2',
 'Senior Data Analyst - MDM | Hy-Vee',
 'Senior Data Analyst(Power BI/Python)',
 'Sr Data Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst - Python/Artificial Intelligence',
 'Lead Data Analyst',
 'Data Analyst',
 'Data analyst']

In [11]:
company_name = []
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
    
company_name

['CGI',
 'IBM',
 'Groundtruth',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Bsharp',
 'NMS Consultant',
 'SVB Global Services India Llp',
 'IBM',
 'Wells Fargo',
 'Zynga',
 'Talent500',
 'Societe Generale',
 'Mettox Laboratries',
 'Accenture',
 'iMindYourBusiness',
 'Silicon Valley Bank',
 'Phonepe',
 'Nextlink Technologies India']

In [12]:
experience_yrs = []
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]'):
    experience_yrs.append(i.text)
    
experience_yrs

['3-6 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '8-13 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '4-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '8-10 Yrs',
 '1-3 Yrs',
 '0-5 Yrs']

In [15]:
job_link = []
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):
    job_link.append(i.get_attribute("href"))

job_link
len(job_link)

20

In [16]:
len(job_title),len(company_name),len(experience_yrs)

(20, 20, 20)

In [17]:
job_data = {"Job title":job_title[:10],"Company":company_name[:10],"Experience":experience_yrs[:10],"Link":job_link[:10]}
job_df = pd.DataFrame(job_data)
job_df

,Job title,Company,Experience,Link
0,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,https://www.naukri.com/job-listings-senior-dat...
1,Data Analyst,IBM,3-4 Yrs,https://www.naukri.com/job-listings-data-analy...
2,Senior Data Analyst,Groundtruth,5-8 Yrs,https://www.naukri.com/job-listings-senior-dat...
3,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,https://www.naukri.com/job-listings-lead-data-...
4,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,https://www.naukri.com/job-listings-contractua...
5,Master Data Management Business Analyst,Accenture,6-8 Yrs,https://www.naukri.com/job-listings-master-dat...
6,Data Analyst,Bsharp,1-3 Yrs,https://www.naukri.com/job-listings-data-analy...
7,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,https://www.naukri.com/job-listings-sr-data-an...
8,Lead Data Analyst,SVB Global Services India Llp,8-13 Yrs,https://www.naukri.com/job-listings-lead-data-...
9,Data Analyst,IBM,3-4 Yrs,https://www.naukri.com/job-listings-data-analy...

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [30]:
driver2 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver2.maximize_window()
url2 = "https://www.naukri.com/"
driver2.get(url2)

In [31]:
search_job2 = driver2.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
search_job2.send_keys("Data scientist")

In [32]:
search_loc2 = driver2.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_loc2.send_keys("Bangalore")

In [33]:
search_but2 = driver2.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_but2.click()

In [34]:
job_title2 = []

for i in driver2.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    job_title2.append(i.text)
    
job_title2

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist - Looking For Immediate Joiners',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Opportunity For Data Scientist - Female Candidates ONLY']

In [35]:
company_name2 = []

for i in driver2.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    company_name2.append(i.text)
    
company_name2

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Quest Global',
 'Accenture',
 '24 7 ai',
 'Wipro',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics',
 'Accenture',
 'Accenture',
 'IBM',
 'Accenture',
 'Applied Materials',
 'Applied Materials',
 'Puma Sports India',
 'HCLTech',
 'PayU Finance']

In [37]:
experience_yrs2 = []

for i in driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]'):
    experience_yrs2.append(i.text)
    
experience_yrs2

['6-8 Yrs',
 '6-11 Yrs',
 '5-9 Yrs',
 '2-7 Yrs',
 '5-7 Yrs',
 '2-6 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '4-9 Yrs',
 '3-7 Yrs']

In [38]:
job_link2 = []

for i in driver2.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):
    job_link2.append(i.get_attribute("href"))

job_link2

['https://www.naukri.com/job-listings-analystics-modeling-specialist-accenture-solutions-pvt-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-8-years-311022905632',
 'https://www.naukri.com/job-listings-senior-data-scientist-wipro-limited-pune-chennai-bangalore-bengaluru-6-to-11-years-021122012242',
 'https://www.naukri.com/job-listings-assistant-manager-data-science-citiustech-healthcare-technology-pvt-ltd-mumbai-pune-bangalore-bengaluru-5-to-9-years-010822004921',
 'https://www.naukri.com/job-listings-data-scientist-altair-engineering-india-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-2-to-7-years-281022006381',
 'https://www.naukri.com/job-listings-data-scientist-quest-global-engineering-services-private-limited-bangalore-bengaluru-5-to-7-years-031122914421',
 'https://www.naukri.com/job-listings-acn-applied-intelligence-data-scientist-09-accenture-solutions-pvt-ltd-bangalore-bengaluru-2-to-6-years-031122907306',
 'https://www.naukri.com/job-listings-data-scientist-2-24-7-customer-private-ltd-bangalore-bengaluru-1-to-3-years-021122501257',
 'https://www.naukri.com/job-listings-data-scientist-looking-for-immediate-joiners-wipro-limited-hyderabad-secunderabad-bangalore-bengaluru-5-to-10-years-011122013529',
 'https://www.naukri.com/job-listings-senior-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-5-to-10-years-210922500870',
 'https://www.naukri.com/job-listings-data-scientist-ii-smartpaddle-technology-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-india-3-to-6-years-210722606804',
 'https://www.naukri.com/job-listings-lead-ml-scientist-fractal-analytics-ltd-mumbai-bangalore-bengaluru-6-to-10-years-180822503121',
 'https://www.naukri.com/job-listings-python-programming-language-data-science-practitioner-accenture-solutions-pvt-ltd-bangalore-bengaluru-4-to-6-years-311022913480',
 'https://www.naukri.com/job-listings-industry-x-software-engineering-accenture-solutions-pvt-ltd-bangalore-bengaluru-3-to-5-years-311022910156',
 'https://www.naukri.com/job-listings-data-scientist-artificial-intelligence-ibm-india-pvt-limited-bangalore-bengaluru-4-to-8-years-311022907901',
 'https://www.naukri.com/job-listings-acn-applied-intelligence-c4di-sustainability-09-accenture-solutions-pvt-ltd-bangalore-bengaluru-4-to-6-years-311022901829',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-4-to-7-years-311022501616',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-4-to-7-years-311022501615',
 'https://www.naukri.com/job-listings-data-scientist-puma-sports-india-private-limited-bangalore-bengaluru-1-to-2-years-281022502513',
 'https://www.naukri.com/job-listings-data-scientist-hcl-technologies-limited-noida-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-271022004703',
 'https://www.naukri.com/job-listings-opportunity-for-data-scientist-female-candidates-only-payu-finance-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-3-to-7-years-040722005955']

In [39]:
len(job_title2),len(company_name2),len(experience_yrs2),len(job_link2)

(20, 20, 20, 20)

In [41]:
job2_df = pd.DataFrame()
job2_df["job Titel"] = job_title2[:10]
job2_df["compan"]=company_name2[:10]
job2_df["experience"]=experience_yrs2[:10]
job2_df["job link"]=job_link2[:10]

job2_df

,job Titel,compan,experience,job link
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,https://www.naukri.com/job-listings-analystics...
1,Senior Data Scientist,Wipro,6-11 Yrs,https://www.naukri.com/job-listings-senior-dat...
2,Assistant Manager - Data Science,Citiustech,5-9 Yrs,https://www.naukri.com/job-listings-assistant-...
3,Data Scientist,Altair,2-7 Yrs,https://www.naukri.com/job-listings-data-scien...
4,Data Scientist,Quest Global,5-7 Yrs,https://www.naukri.com/job-listings-data-scien...
5,ACN - Applied Intelligence - Data Scientist - 09,Accenture,2-6 Yrs,https://www.naukri.com/job-listings-acn-applie...
6,Data Scientist - 2,24 7 ai,1-3 Yrs,https://www.naukri.com/job-listings-data-scien...
7,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,https://www.naukri.com/job-listings-data-scien...
8,Senior Data Scientist,Boston Consulting Group,5-10 Yrs,https://www.naukri.com/job-listings-senior-dat...
9,Data Scientist - II,Bizongo,3-6 Yrs,https://www.naukri.com/job-listings-data-scien...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [62]:
driver3 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver3.maximize_window()

url3 = "https://www.naukri.com/"
driver3.get(url3)

In [63]:
search_job3 = driver3.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
search_job3.send_keys("Data scientist")

In [64]:
search_loc3 = driver3.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_loc3.send_keys("Delhi/NCR")

In [65]:
search_but3 = driver3.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_but3.click()

In [66]:
salary_fil = driver3.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary_fil.click()

In [68]:
filter_loc = driver3.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[3]/div[2]/div[1]/div/div[1]/div[5]/label/i")
filter_loc.click()

In [69]:
job_title3 = []

for i in driver3.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    job_title3.append(i.text)
    
job_title3

['Data Scientist - 2',
 'Data Scientist - Looking For Immediate Joiners',
 'Python Programming Language Data Science Practitioner',
 'Data Scientist',
 'Senior Associate - MSET Support Role QR',
 'Data Scientist/Sr. Data Scientist',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Staff Research Scientist',
 'ML Engineer',
 'SnapLogic Data Science Practitioner',
 'Lead Software Engineer I',
 'Data Scientist, II',
 'Data Scientist / Sr. Data Engineer',
 'Data Scientist - Product Supply Manager',
 'Data Scientist',
 'Data Scientist @ Heritage Foods Ltd, HYD.',
 'Specialist - Data Science - GMO',
 'Senior Data scientist']

In [70]:
company_name3 = []

for i in driver3.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    company_name3.append(i.text)
    
company_name3

['24 7 ai',
 'Wipro',
 'Accenture',
 'HCLTech',
 'Morgan Stanley',
 'Synechron',
 'Infosys',
 'Boston Consulting Group',
 'Quest Global',
 'Swiggy',
 'Groww',
 'Accenture',
 'Allstate Solutions (ASPL)',
 'Zebra Technologies',
 'Privaini Software India Pvt Ltd',
 'P&G',
 'Marsh Mclennan Global Services India',
 'Heritage Foods',
 'Dr Reddys',
 'Vision Data Analytics']

In [71]:
experience_yrs3 = []

for i in driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]'):
    experience_yrs3.append(i.text)
    
experience_yrs3

['1-3 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '4-9 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '9-11 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '6-11 Yrs']

In [72]:
job_location3 = []

for i in driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]'):
    job_location3.append(i.text)
    
job_location3

['Bangalore/Bengaluru',
 'Hybrid - Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Japan, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Temp. WFH - Bangalore/Bengaluru(Sadashiva Nagar)',
 'Baddi',
 'Hybrid - Mumbai, Pune',
 'Hyderabad/Secunderabad',
 'Hyderabad/Secunderabad',
 'Temp. WFH - Bangalore/Bengaluru, Mumbai (All Areas)']

In [73]:
job3_df = pd.DataFrame()
job3_df["Job title"]=job_title3[:10]
job3_df["job location"]=job_location3[:10]
job3_df["comapany name"]=company_name3[:10]
job3_df["experience required"]=experience_yrs3[:10]

job3_df

,Job title,job location,comapany name,experience required
0,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs
1,Data Scientist - Looking For Immediate Joiners,"Hybrid - Hyderabad/Secunderabad, Bangalore/Ben...",Wipro,5-10 Yrs
2,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
4,Senior Associate - MSET Support Role QR,"Japan, Mumbai",Morgan Stanley,0-3 Yrs
5,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs
6,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
7,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
8,Data Scientist,Bangalore/Bengaluru,Quest Global,3-6 Yrs
9,Staff Research Scientist,Bangalore/Bengaluru,Swiggy,1-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual

In [42]:
driver4 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver4.maximize_window()

url4 = "https://www.flipkart.com/"
driver4.get(url4)

In [43]:
search_4 = driver4.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_4.send_keys("sunglasses")

In [45]:
search_but4 = driver4.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_but4.click()

In [46]:
brand_name = []

for i in driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand_name.append(i.text)
    
print(len(brand_name))
print(brand_name)

40
['RESIST EYEWEAR', 'Silver Kartz', 'Fastrack', 'PIRASO', 'Fastrack', 'SUNBEE', 'Fastrack', 'ROZZETTA CRAFT', 'PIRASO', 'Fastrack', 'ROYAL SON', 'Singco India', 'New Specs', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'Singco India', 'VINCENT CHASE', 'Sewell', 'ROYAL SON', 'ROZZETTA CRAFT', 'Elligator', 'SHAAH COLLECTIONS', 'Fastrack', 'Elligator', 'GANSTA', 'Singco India', 'VINCENT CHASE', 'PIRASO', 'ROZZETTA CRAFT', 'Silver Kartz', 'GANSTA', 'PIRASO', 'SRPM', 'SRPM', 'ROYAL SON', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO']

In [47]:
product_description = []

for i in driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    product_description.append(i.text)
    
print(len(product_description))
print(product_description)

40
['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...', 'UV Protection Clubmaster Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (62)', 'UV Protection Aviator Sunglasses (54)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection Wayfarer Sunglasses (59)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'Polarized, UV Protection Aviator Sunglasses (57)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (50)', 'Night Vision, UV Protection Round Sunglasses (54)', 'UV Protection Over-sized, Retro Square Sunglasses (61)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Aviator Sunglasses (58)']

In [48]:
product_price= []

for i in driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    product_price.append(i.text)
    
print(len(product_price))
print(product_price)

40
['₹1,399', '₹279', '₹649', '₹199', '₹519', '₹283', '₹649', '₹474', '₹251', '₹579', '₹664', '₹215', '₹254', '₹251', '₹679', '₹474', '₹288', '₹575', '₹649', '₹265', '₹759', '₹379', '₹197', '₹185', '₹629', '₹176', '₹296', '₹296', '₹949', '₹209', '₹616', '₹288', '₹220', '₹251', '₹149', '₹199', '₹664', '₹616', '₹939', '₹323']

In [49]:
flip_page2 = driver4.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
flip_page2.click()

In [50]:
for i in driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand_name.append(i.text)
    
print(len(brand_name))
print(brand_name)

80
['RESIST EYEWEAR', 'Silver Kartz', 'Fastrack', 'PIRASO', 'Fastrack', 'SUNBEE', 'Fastrack', 'ROZZETTA CRAFT', 'PIRASO', 'Fastrack', 'ROYAL SON', 'Singco India', 'New Specs', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'Singco India', 'VINCENT CHASE', 'Sewell', 'ROYAL SON', 'ROZZETTA CRAFT', 'Elligator', 'SHAAH COLLECTIONS', 'Fastrack', 'Elligator', 'GANSTA', 'Singco India', 'VINCENT CHASE', 'PIRASO', 'ROZZETTA CRAFT', 'Silver Kartz', 'GANSTA', 'PIRASO', 'SRPM', 'SRPM', 'ROYAL SON', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO', 'SUNBEE', 'ROZZETTA CRAFT', 'PIRASO', 'DEIXELS', 'ROZZETTA CRAFT', 'DEIXELS', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'Fastrack', 'Elligator', 'Anemone', 'ROYAL SON', 'GANSTA', 'Lee Topper', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'hipe', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'ROZZETTA CRAFT', 'Singco India', 'New Specs', 'ROYAL SON', 'Fastrack', 'Satyam Kraft', 'kingsunglasses', 'ROYAL SON', 'ROYAL SON', 'ROZZETTA CRAFT', 'Rich Club']

In [51]:
for i in driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    product_description.append(i.text)
    
print(len(product_description))
print(product_description)

80
['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...', 'UV Protection Clubmaster Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (62)', 'UV Protection Aviator Sunglasses (54)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection Wayfarer Sunglasses (59)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'Polarized, UV Protection Aviator Sunglasses (57)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (50)', 'Night Vision, UV Protection Round Sunglasses (54)', 'UV Protection Over-sized, Retro Square Sunglasses (61)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (55)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Retro Square Sunglasses (55)', 'UV Protection Wrap-around, Sports Sunglasses (60)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Spectacle Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection Sports Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Gradient Rectangular, Spectacle Sunglas...', 'UV Protection Retro Square Sunglasses (60)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection, Night Vision, Riding Glasses, Gradient, ...', 'UV Protection Round Sunglasses (52)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (60)', 'Polarized, UV Protection Cat-eye Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (55)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Others Spectacle Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection, Gradient Butterfly Sunglasses (52)', 'UV Protection Spectacle Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)']

In [52]:
for i in driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    product_price.append(i.text)
    
print(len(product_price))
print(product_price)

80
['₹1,399', '₹279', '₹649', '₹199', '₹519', '₹283', '₹649', '₹474', '₹251', '₹579', '₹664', '₹215', '₹254', '₹251', '₹679', '₹474', '₹288', '₹575', '₹649', '₹265', '₹759', '₹379', '₹197', '₹185', '₹629', '₹176', '₹296', '₹296', '₹949', '₹209', '₹616', '₹288', '₹220', '₹251', '₹149', '₹199', '₹664', '₹616', '₹939', '₹323', '₹190', '₹331', '₹323', '₹236', '₹616', '₹236', '₹616', '₹711', '₹579', '₹314', '₹379', '₹711', '₹345', '₹939', '₹318', '₹449', '₹664', '₹296', '₹219', '₹251', '₹474', '₹759', '₹178', '₹539', '₹379', '₹649', '₹664', '₹616', '₹519', '₹379', '₹296', '₹237', '₹379', '₹809', '₹299', '₹222', '₹711', '₹664', '₹379', '₹299']

In [53]:
flip_page3 = driver4.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
flip_page3.click()

In [54]:
for i in driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand_name.append(i.text)
    
print(len(brand_name))
print(brand_name)

120
['RESIST EYEWEAR', 'Silver Kartz', 'Fastrack', 'PIRASO', 'Fastrack', 'SUNBEE', 'Fastrack', 'ROZZETTA CRAFT', 'PIRASO', 'Fastrack', 'ROYAL SON', 'Singco India', 'New Specs', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'Singco India', 'VINCENT CHASE', 'Sewell', 'ROYAL SON', 'ROZZETTA CRAFT', 'Elligator', 'SHAAH COLLECTIONS', 'Fastrack', 'Elligator', 'GANSTA', 'Singco India', 'VINCENT CHASE', 'PIRASO', 'ROZZETTA CRAFT', 'Silver Kartz', 'GANSTA', 'PIRASO', 'SRPM', 'SRPM', 'ROYAL SON', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO', 'SUNBEE', 'ROZZETTA CRAFT', 'PIRASO', 'DEIXELS', 'ROZZETTA CRAFT', 'DEIXELS', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'Fastrack', 'Elligator', 'Anemone', 'ROYAL SON', 'GANSTA', 'Lee Topper', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'hipe', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'ROZZETTA CRAFT', 'Singco India', 'New Specs', 'ROYAL SON', 'Fastrack', 'Satyam Kraft', 'kingsunglasses', 'ROYAL SON', 'ROYAL SON', 'ROZZETTA CRAFT', 'Rich Club', 'PROVOGUE', 'PROVOGUE', 'SHAAH COLLECTIONS', 'Fastrack', 'IDEE', 'Rich Club', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'MODE', 'EYELLUSION', 'ROZZETTA CRAFT', 'Lee Topper', 'ROYAL SON', 'ROYAL SON', 'IDEE', 'Urbanic', 'ROYAL SON', 'ROYAL SON', 'PIRASO', 'Fastrack', 'kingsunglasses', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'Fastrack', 'kingsunglasses', 'ROYAL SON', 'Silver Kartz', 'ROZZETTA CRAFT', 'kingsunglasses', 'VINCENT CHASE', 'SHAAH COLLECTIONS', 'ROYAL SON', 'ROYAL SON', 'ROYAL SON', 'Fastrack']

In [55]:
for i in driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    product_description.append(i.text)
    
print(len(product_description))
print(product_description)

120
['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...', 'UV Protection Clubmaster Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (62)', 'UV Protection Aviator Sunglasses (54)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection Wayfarer Sunglasses (59)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'Polarized, UV Protection Aviator Sunglasses (57)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (50)', 'Night Vision, UV Protection Round Sunglasses (54)', 'UV Protection Over-sized, Retro Square Sunglasses (61)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (55)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Retro Square Sunglasses (55)', 'UV Protection Wrap-around, Sports Sunglasses (60)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Spectacle Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection Sports Sunglasses (62)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Gradient Rectangular, Spectacle Sunglas...', 'UV Protection Retro Square Sunglasses (60)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection, Night Vision, Riding Glasses, Gradient, ...', 'UV Protection Round Sunglasses (52)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (60)', 'Polarized, UV Protection Cat-eye Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (55)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Others Spectacle Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection, Gradient Butterfly Sunglasses (52)', 'UV Protection Spectacle Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'Polarized, UV Protection Rectangular Sunglasses (Free S...', 'Polarized, UV Protection Rectangular Sunglasses (Free S...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye Sunglasses (17)', 'UV Protection Round Sunglasses (50)', 'UV Protection Over-sized Sunglasses (61)', 'UV Protection, Gradient Butterfly Sunglasses (52)', 'Polarized Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'Polarized, UV Protection Sports Sunglasses (68)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Gradient, Night Vision, Riding Glasses, ...', 'UV Protection Retro Square Sunglasses (Free Size)', 'Riding Glasses Wrap-around Sunglasses (Free Size)', 'Polarized Rectangular Sunglasses (60)', 'Polarized Rectangular Sunglasses (60)', 'UV Protection Aviator Sunglasses (18)', 'Others Retro Square Sunglasses (Free Size)', 'UV Protection, Gradient Over-sized Sunglasses (62)', 'Polarized, UV Protection Cat-eye Sunglasses (55)', 'UV Protection Over-sized Sunglasses (65)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (55)', 'Polarized, UV Protection Round Sunglasses (52)', 'UV Protection, Gradient Butterfly Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (55)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection Oval Sunglasses (56)', 'UV Protection Aviator Sunglasses (55)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection Round Sunglasses (52)', 'UV Protection, Gradient Over-sized Sunglasses (62)', 'Polarized Rectangular Sunglasses (60)', 'Polarized, UV Protection Wayfarer Sunglasses (61)', 'UV Protection Aviator Sunglasses (Free Size)']

In [56]:
for i in driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    product_price.append(i.text)
    
print(len(product_price))
print(product_price)

120
['₹1,399', '₹279', '₹649', '₹199', '₹519', '₹283', '₹649', '₹474', '₹251', '₹579', '₹664', '₹215', '₹254', '₹251', '₹679', '₹474', '₹288', '₹575', '₹649', '₹265', '₹759', '₹379', '₹197', '₹185', '₹629', '₹176', '₹296', '₹296', '₹949', '₹209', '₹616', '₹288', '₹220', '₹251', '₹149', '₹199', '₹664', '₹616', '₹939', '₹323', '₹190', '₹331', '₹323', '₹236', '₹616', '₹236', '₹616', '₹711', '₹579', '₹314', '₹379', '₹711', '₹345', '₹939', '₹318', '₹449', '₹664', '₹296', '₹219', '₹251', '₹474', '₹759', '₹178', '₹539', '₹379', '₹649', '₹664', '₹616', '₹519', '₹379', '₹296', '₹237', '₹379', '₹809', '₹299', '₹222', '₹711', '₹664', '₹379', '₹299', '₹664', '₹699', '₹178', '₹499', '₹959', '₹355', '₹699', '₹664', '₹559', '₹649', '₹759', '₹1,234', '₹179', '₹230', '₹474', '₹299', '₹699', '₹664', '₹909', '₹439', '₹664', '₹616', '₹405', '₹719', '₹255', '₹729', '₹759', '₹664', '₹559', '₹189', '₹759', '₹314', '₹616', '₹260', '₹949', '₹179', '₹664', '₹664', '₹664', '₹579']

In [57]:
sunglasse_df = pd.DataFrame()

sunglasse_df["Brand"] = brand_name[:100]
sunglasse_df["Product description"] = product_description[:100]
sunglasse_df["Price"] = product_price[:100]

sunglasse_df

             Brand                                Product description   Price
0   RESIST EYEWEAR  Polarized, Riding Glasses, UV Protection Wayfa...  ₹1,399
1     Silver Kartz           UV Protection Clubmaster Sunglasses (53)    ₹279
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹649
3           PIRASO          UV Protection Rectangular Sunglasses (52)    ₹199
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹519
..             ...                                                ...     ...
95      Lee Topper  Riding Glasses Wrap-around Sunglasses (Free Size)    ₹299
96       ROYAL SON              Polarized Rectangular Sunglasses (60)    ₹699
97       ROYAL SON              Polarized Rectangular Sunglasses (60)    ₹664
98            IDEE              UV Protection Aviator Sunglasses (18)    ₹909
99         Urbanic         Others Retro Square Sunglasses (Free Size)    ₹439

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [14]:
driver5 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver5.maximize_window()

url5 = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"
driver5.get(url5)

In [15]:
phone_rating = []
phone_rsummry = []
phone_freview = []

In [16]:
def phone_100(rating,summary,review):
    for i in driver5.find_elements(By.XPATH,rating):
        phone_rating.append(i.text)
    print(len(phone_rating))
        
    for i in driver5.find_elements(By.XPATH,summary):
        phone_rsummry.append(i.text)
    print(len(phone_rsummry))
        
    for i in driver5.find_elements(By.XPATH,review):
        phone_freview.append(i.text)
    print(len(phone_freview))

In [17]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

10
10
10

In [18]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [19]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

20
20
20

In [20]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [21]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

30
30
30

In [22]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [23]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

40
40
40

In [24]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [25]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

50
50
50

In [26]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [27]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

59
60
60

In [28]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [29]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

68
70
70

In [30]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [31]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

78
80
80

In [32]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [33]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

88
90
90

In [34]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [35]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

97
100
100

In [36]:
next_page = driver5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_page.click()

In [37]:
phone_100('//div[@class="_3LWZlK _1BLPMq"]','//p[@class="_2-N8zT"]','//div[@class="t-ZTKy"]')

107
110
110

In [38]:
phone_df = pd.DataFrame()

phone_df["Phone Rating"] = phone_rating[:100]
phone_df["Reviwe summary"] = phone_rsummry[:100]
phone_df["Full reviwe"] = phone_freview[:100]

phone_df

,Phone Rating,Reviwe summary,Full reviwe
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
96,5,Awesome,I dreamt about this day from a long time.... G...
97,5,Just wow!,Great iphone.\nI am writing this review after ...
98,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
99,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [102]:
driver6 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver6.maximize_window()

url6 = "https://www.flipkart.com/"
driver6.get(url6)

In [103]:
search_6 = driver6.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_6.send_keys("sneaker")

In [104]:
search_but6 = driver6.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_but6.click()

In [108]:
sneaker_brand = []

for i in driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    sneaker_brand.append(i.text)
    
print(len(sneaker_brand))
print(sneaker_brand)

40
['RapidBox', 'Zixer', 'RED TAPE', 'RED TAPE', 'Labbin', 'TR', 'BIRDE', 'Layasa', 'Robbie jones', 'Magnolia', 'Layasa', 'Layasa', 'PUMA', 'SCATCHITE', 'World Wear Footwear', 'RapidBox', 'Kraasa', 'Zixer', 'asics', 'ASTEROID', 'Zixer', 'Layasa', 'BRUTON', 'Kraasa', 'Robbie jones', 'BRUTON', 'PUMA', 'gargcreation', 'BRUTON', 'Sparx', 'asian', 'BUCKAROO', 'BRUTON', 'Robbie jones', 'BRUTON', 'BIRDE', 'City Soles', 'PUMA', 'GVR', 'Magnolia']

In [109]:
sneaker_description = []

for i in driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    sneaker_description.append(i.text)
    
print(len(sneaker_description))
print(sneaker_description)

37
['Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Premium Sports Shoes for Men Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Trinity Sneakers For Men', 'Sneakers Sneakers For Men', 'Exclusive Affordable Collection of Trendy & Stylish Cas...', 'Sneakers For Men', 'Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'fuzor B Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Exclusive Rap & Dance Shoes For Boys Sneakers For Men S...', 'supr Sneakers For Men', 'Canvas shoes for Men Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', 'Court Star Vulc FS Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Pacer Fire Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men']

In [110]:
sneaker_price= []

for i in driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    sneaker_price.append(i.text)
    
print(len(sneaker_price))
print(sneaker_price)

40
['₹549', '₹565', '₹1,249', '₹1,349', '₹395', '₹299', '₹379', '₹689', '₹329', '₹299', '₹689', '₹689', '₹2,020', '₹360', '₹249', '₹599', '₹499', '₹565', '₹1,427', '₹499', '₹565', '₹199', '₹389', '₹499', '₹349', '₹324', '₹2,879', '₹299', '₹324', '₹849', '₹899', '₹1,950', '₹199', '₹329', '₹574', '₹299', '₹708', '₹1,709', '₹629', '₹299']

In [111]:
sneaker_discout = []
for i in driver6.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    sneaker_discout.append(i.text)
    
print(len(sneaker_discout))
print(sneaker_discout)

40
['45% off', '56% off', '75% off', '75% off', '60% off', '80% off', '62% off', '65% off', '67% off', '70% off', '65% off', '65% off', '42% off', '63% off', '83% off', '40% off', '50% off', '56% off', '62% off', '75% off', '62% off', '80% off', '70% off', '50% off', '65% off', '75% off', '52% off', '50% off', '75% off', '15% off', '40% off', '42% off', '66% off', '67% off', '77% off', '70% off', '45% off', '62% off', '37% off', '70% off']

In [112]:
sneaker_page2 = driver6.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
sneaker_page2.click()

In [113]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    sneaker_brand.append(i.text)
    
print(len(sneaker_brand))
print(sneaker_brand)

80
['RapidBox', 'Zixer', 'RED TAPE', 'RED TAPE', 'Labbin', 'TR', 'BIRDE', 'Layasa', 'Robbie jones', 'Magnolia', 'Layasa', 'Layasa', 'PUMA', 'SCATCHITE', 'World Wear Footwear', 'RapidBox', 'Kraasa', 'Zixer', 'asics', 'ASTEROID', 'Zixer', 'Layasa', 'BRUTON', 'Kraasa', 'Robbie jones', 'BRUTON', 'PUMA', 'gargcreation', 'BRUTON', 'Sparx', 'asian', 'BUCKAROO', 'BRUTON', 'Robbie jones', 'BRUTON', 'BIRDE', 'City Soles', 'PUMA', 'GVR', 'Magnolia', 'Zixer', 'Mast & Harbour', 'PUMA', 'BRUTON', 'Sparx', 'Magnolia', "K' Footlance", 'ACTION', 'BIRDE', 'Robbie jones', 'asian', 'City Soles', 'Shozie', 'kardam&sons', 'BRUTON', 'Bond Street By Red Tape', 'U.S. POLO ASSN.', 'City Soles', 'DUCATI', 'ASTEROID', 'City Soles', 'PUMA', 'DUCATI', 'BRUTON', 'Xtoon', 'AMICO', 'asian', 'Fresh1947Feet', 'Bond Street By Red Tape', 'Shozie', 'PUMA', 'CALCADOS', 'BRUTON', 'Wlinzak', 'BRUTON', 'DUCATI', 'City Soles', 'PUMA', 'World Wear Footwear', 'BIRDE']

In [114]:
for i in driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    sneaker_description.append(i.text)
    
print(len(sneaker_description))
print(sneaker_description)

72
['Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Premium Sports Shoes for Men Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Trinity Sneakers For Men', 'Sneakers Sneakers For Men', 'Exclusive Affordable Collection of Trendy & Stylish Cas...', 'Sneakers For Men', 'Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'fuzor B Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Exclusive Rap & Dance Shoes For Boys Sneakers For Men S...', 'supr Sneakers For Men', 'Canvas shoes for Men Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', 'Court Star Vulc FS Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Pacer Fire Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', 'Sneakers For Men', 'Acrux Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Sneakers For Men', 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...', "Athleo ATG-424 Men's Navy Mesh Best Comfort Running Gym...", 'Premium Casual Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Jasper-01 Grey Casual,Walking,Sneakers,Loafers Stylish ...', 'Stylish Sneakers Shoes for Men Sneakers For Men', 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...', 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers For Men', 'CLEMT Sneakers For Men', 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'MAPF1 A3ROCAT Mid Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Casual Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers For Men', 'Sneakers For Men', 'Jasper-04 Red Sneakers,Casuals,Loafers Sneakers For Men', 'Sneakers For Men', 'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...', 'RS-Z Re.Gen Sneakers For Men', 'ultra light Comfertable Sneakers For Men', 'Sneaker Sneakers For Men', 'Sneakers For Men', 'Combo Pack of 5 Casual Sneakers With Sneakers For Men', 'Sneakers For Men', 'Stride Evo v1 Slip on Sneakers For Men', '5011-Latest Collection Stylish & Trendy Casual Sneakers...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...']

In [115]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    sneaker_price.append(i.text)
    
print(len(sneaker_price))
print(sneaker_price)

80
['₹549', '₹565', '₹1,249', '₹1,349', '₹395', '₹299', '₹379', '₹689', '₹329', '₹299', '₹689', '₹689', '₹2,020', '₹360', '₹249', '₹599', '₹499', '₹565', '₹1,427', '₹499', '₹565', '₹199', '₹389', '₹499', '₹349', '₹324', '₹2,879', '₹299', '₹324', '₹849', '₹899', '₹1,950', '₹199', '₹329', '₹574', '₹299', '₹708', '₹1,709', '₹629', '₹299', '₹565', '₹1,055', '₹1,966', '₹324', '₹849', '₹299', '₹389', '₹646', '₹299', '₹329', '₹899', '₹759', '₹399', '₹449', '₹311', '₹1,529', '₹4,274', '₹710', '₹956', '₹499', '₹708', '₹8,499', '₹799', '₹317', '₹499', '₹494', '₹899', '₹1,750', '₹1,529', '₹399', '₹3,799', '₹399', '₹311', '₹499', '₹666', '₹857', '₹759', '₹1,823', '₹249', '₹449']

In [116]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    sneaker_discout.append(i.text)
    
print(len(sneaker_discout))
print(sneaker_discout)

80
['45% off', '56% off', '75% off', '75% off', '60% off', '80% off', '62% off', '65% off', '67% off', '70% off', '65% off', '65% off', '42% off', '63% off', '83% off', '40% off', '50% off', '56% off', '62% off', '75% off', '62% off', '80% off', '70% off', '50% off', '65% off', '75% off', '52% off', '50% off', '75% off', '15% off', '40% off', '42% off', '66% off', '67% off', '77% off', '70% off', '45% off', '62% off', '37% off', '70% off', '62% off', '49% off', '40% off', '75% off', '15% off', '70% off', '61% off', '65% off', '70% off', '67% off', '40% off', '24% off', '60% off', '65% off', '76% off', '70% off', '5% off', '28% off', '71% off', '50% off', '29% off', '15% off', '84% off', '84% off', '66% off', '50% off', '40% off', '16% off', '70% off', '60% off', '62% off', '20% off', '76% off', '50% off', '83% off', '74% off', '24% off', '52% off', '50% off', '70% off']

In [117]:
sneaker_page3 = driver6.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
sneaker_page3.click()

In [118]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    sneaker_brand.append(i.text)
    
print(len(sneaker_brand))
print(sneaker_brand)

120
['RapidBox', 'Zixer', 'RED TAPE', 'RED TAPE', 'Labbin', 'TR', 'BIRDE', 'Layasa', 'Robbie jones', 'Magnolia', 'Layasa', 'Layasa', 'PUMA', 'SCATCHITE', 'World Wear Footwear', 'RapidBox', 'Kraasa', 'Zixer', 'asics', 'ASTEROID', 'Zixer', 'Layasa', 'BRUTON', 'Kraasa', 'Robbie jones', 'BRUTON', 'PUMA', 'gargcreation', 'BRUTON', 'Sparx', 'asian', 'BUCKAROO', 'BRUTON', 'Robbie jones', 'BRUTON', 'BIRDE', 'City Soles', 'PUMA', 'GVR', 'Magnolia', 'Zixer', 'Mast & Harbour', 'PUMA', 'BRUTON', 'Sparx', 'Magnolia', "K' Footlance", 'ACTION', 'BIRDE', 'Robbie jones', 'asian', 'City Soles', 'Shozie', 'kardam&sons', 'BRUTON', 'Bond Street By Red Tape', 'U.S. POLO ASSN.', 'City Soles', 'DUCATI', 'ASTEROID', 'City Soles', 'PUMA', 'DUCATI', 'BRUTON', 'Xtoon', 'AMICO', 'asian', 'Fresh1947Feet', 'Bond Street By Red Tape', 'Shozie', 'PUMA', 'CALCADOS', 'BRUTON', 'Wlinzak', 'BRUTON', 'DUCATI', 'City Soles', 'PUMA', 'World Wear Footwear', 'BIRDE', 'Layasa', 'FOOTSTAIR', 'Sparx', 'tigonis', 'RapidBox', 'RED TAPE', 'PUMA', 'Skechers', 'KWIK FIT', "'Trends'", 'U.S. POLO ASSN.', 'PUMA', 'EZDEZARIO', 'BIRDE', 'Sparx', 'Sparx', 'PUMA', 'gargcreation', 'ZAPTOE', 'K- FOOTLANCE', 'PUMA', 'PUMA', 'DUCATI', 'Sparx', 'D-SNEAKERZ', 'BRUTON', 'PUMA', 'PUMA', 'K- FOOTLANCE', 'bacca bucci', 'U.S. POLO ASSN.', 'gargcreation', 'Kzaara', 'RED TAPE', 'AMICO', 'NIKE', 'Furo', 'SCETTRO', 'Qitty', 'K- FOOTLANCE']

In [119]:
for i in driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    sneaker_description.append(i.text)
    
print(len(sneaker_description))
print(sneaker_description)

110
['Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Premium Sports Shoes for Men Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'Trinity Sneakers For Men', 'Sneakers Sneakers For Men', 'Exclusive Affordable Collection of Trendy & Stylish Cas...', 'Sneakers For Men', 'Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'fuzor B Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Exclusive Rap & Dance Shoes For Boys Sneakers For Men S...', 'supr Sneakers For Men', 'Canvas shoes for Men Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', 'Court Star Vulc FS Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Pacer Fire Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', 'Sneakers For Men', 'Acrux Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Sneakers For Men', 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...', "Athleo ATG-424 Men's Navy Mesh Best Comfort Running Gym...", 'Premium Casual Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Jasper-01 Grey Casual,Walking,Sneakers,Loafers Stylish ...', 'Stylish Sneakers Shoes for Men Sneakers For Men', 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...', 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers For Men', 'CLEMT Sneakers For Men', 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'MAPF1 A3ROCAT Mid Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Casual Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers For Men', 'Sneakers For Men', 'Jasper-04 Red Sneakers,Casuals,Loafers Sneakers For Men', 'Sneakers For Men', 'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...', 'RS-Z Re.Gen Sneakers For Men', 'ultra light Comfertable Sneakers For Men', 'Sneaker Sneakers For Men', 'Sneakers For Men', 'Combo Pack of 5 Casual Sneakers With Sneakers For Men', 'Sneakers For Men', 'Stride Evo v1 Slip on Sneakers For Men', '5011-Latest Collection Stylish & Trendy Casual Sneakers...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'Mesh,Cricket, Badminton,Volly Ball,Sports,Casual,Walkin...', 'PLAY Sneakers For Men', 'SD-323 Sneakers For Men', 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...', 'Sneakers For Men', 'RTE3681 Sneakers For Men', 'Mirage Sport Tech Sneakers For Men', 'UNO - STAND ON AIR Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', 'Casual sneaker fashionable shoes for men Sneakers For M...', 'Entrant Slipon MU Sneakers For Men', 'Sneakers For Men', 'Stylish Casual Shoes Sneakers For Men', 'Men White Sneakers Sneakers For Men', 'SM-734 Sneakers For Men', 'Ziller V2 Sneakers For Men', 'Sneakers For Men', 'Boxer Sneakers For Men', 'Casual Sneakers White Outdoor Shoes For Boys And Men Sn...', 'Fire V2 Sneakers For Men', 'Turin 3 NL Sneakers For Men', 'Sneakers For Men', 'SM-671 Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Raptor Sneakers For Men', 'Pwrframe OP-1 Nature Knit Sneakers For Men', 'Sneakers For Men', "Men's NIRVANA Low Top Flat Sole Casual Sneakers for Men...", 'NEMSY Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Court Vision Low Better Sneakers For Men', 'Sneakers For Men', 'Jordan White Shoes Light Weight Comfortable Stylish Tre...', 'Sneakers For Men']

In [120]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    sneaker_price.append(i.text)
    
print(len(sneaker_price))
print(sneaker_price)

120
['₹549', '₹565', '₹1,249', '₹1,349', '₹395', '₹299', '₹379', '₹689', '₹329', '₹299', '₹689', '₹689', '₹2,020', '₹360', '₹249', '₹599', '₹499', '₹565', '₹1,427', '₹499', '₹565', '₹199', '₹389', '₹499', '₹349', '₹324', '₹2,879', '₹299', '₹324', '₹849', '₹899', '₹1,950', '₹199', '₹329', '₹574', '₹299', '₹708', '₹1,709', '₹629', '₹299', '₹565', '₹1,055', '₹1,966', '₹324', '₹849', '₹299', '₹389', '₹646', '₹299', '₹329', '₹899', '₹759', '₹399', '₹449', '₹311', '₹1,529', '₹4,274', '₹710', '₹956', '₹499', '₹708', '₹8,499', '₹799', '₹317', '₹499', '₹494', '₹899', '₹1,750', '₹1,529', '₹399', '₹3,799', '₹399', '₹311', '₹499', '₹666', '₹857', '₹759', '₹1,823', '₹249', '₹449', '₹689', '₹399', '₹735', '₹499', '₹599', '₹1,299', '₹7,649', '₹5,949', '₹358', '₹489', '₹4,599', '₹1,485', '₹549', '₹249', '₹765', '₹849', '₹1,679', '₹299', '₹225', '₹549', '₹1,719', '₹2,303', '₹961', '₹924', '₹399', '₹350', '₹2,063', '₹10,199', '₹449', '₹1,399', '₹4,499', '₹299', '₹199', '₹5,199', '₹494', '₹2,883', '₹1,599', '₹679', '₹269', '₹389']

In [121]:
for i in driver6.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    sneaker_discout.append(i.text)
    
print(len(sneaker_discout))
print(sneaker_discout)

116
['45% off', '56% off', '75% off', '75% off', '60% off', '80% off', '62% off', '65% off', '67% off', '70% off', '65% off', '65% off', '42% off', '63% off', '83% off', '40% off', '50% off', '56% off', '62% off', '75% off', '62% off', '80% off', '70% off', '50% off', '65% off', '75% off', '52% off', '50% off', '75% off', '15% off', '40% off', '42% off', '66% off', '67% off', '77% off', '70% off', '45% off', '62% off', '37% off', '70% off', '62% off', '49% off', '40% off', '75% off', '15% off', '70% off', '61% off', '65% off', '70% off', '67% off', '40% off', '24% off', '60% off', '65% off', '76% off', '70% off', '5% off', '28% off', '71% off', '50% off', '29% off', '15% off', '84% off', '84% off', '66% off', '50% off', '40% off', '16% off', '70% off', '60% off', '62% off', '20% off', '76% off', '50% off', '83% off', '74% off', '24% off', '52% off', '50% off', '70% off', '65% off', '20% off', '21% off', '66% off', '40% off', '75% off', '15% off', '15% off', '82% off', '62% off', '66% off', '45% off', '75% off', '14% off', '52% off', '50% off', '54% off', '45% off', '60% off', '52% off', '74% off', '15% off', '39% off', '73% off', '52% off', '15% off', '55% off', '53% off', '50% off', '80% off', '50% off', '42% off', '55% off', '54% off', '55% off', '61% off']

In [123]:
sneaker_df = pd.DataFrame()

sneaker_df["Brand"] = sneaker_brand[:100]
sneaker_df["Product description"] = sneaker_description[:100]
sneaker_df["Price"] = sneaker_price[:100]
sneaker_df["Discount"] =sneaker_discout[:100]

sneaker_df

,Brand,Product description,Price,Discount
0,RapidBox,Men’s Premium Style High Top Platform Fashion ...,₹549,45% off
1,Zixer,Sneakers For Men,₹565,56% off
2,RED TAPE,Sneakers For Men,"₹1,249",75% off
3,RED TAPE,Sneakers For Men,"₹1,349",75% off
4,Labbin,Premium Sports Shoes for Men Sneakers For Men,₹395,60% off
...,...,...,...,...
95,Sparx,"Casual , Partywear Sneakers Shoes For Men's An...",₹849,50% off
96,PUMA,Modern Trendy Sneakers Shoes Sneakers For Men,"₹1,679",54% off
97,gargcreation,Raptor Sneakers For Men,₹299,45% off
98,ZAPTOE,Pwrframe OP-1 Nature Knit Sneakers For Men,₹225,60% off
99,K- FOOTLANCE,Sneakers For Men,₹549,52% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [127]:
driver7 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver7.maximize_window()

url7 = "https://www.myntra.com/shoes"
driver7.get(url7)

In [132]:
price_filter = driver7.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

color_filter = driver7.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [134]:
shoes_brand = []
for i in driver7.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
    shoes_brand.append(i.text)
    
print(len(shoes_brand))
print(shoes_brand)

50
['Nike', 'Nike', 'ADIDAS', 'ADIDAS Originals', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'ADIDAS', 'UNDER ARMOUR', 'Ruosh', 'Hush Puppies', 'ADIDAS', 'ADIDAS Originals', 'Puma', 'Tommy Hilfiger', 'UNDER ARMOUR', 'Nike', 'Nike', 'UNDER ARMOUR', 'Saint G', 'ADIDAS', 'Skechers', 'Puma', 'ADIDAS', 'Nike', 'Puma', 'Nike', 'Nike', 'Calvin Klein', 'Geox', 'Geox', 'Clarks', 'Saint G', 'Ruosh', 'Saint G', 'Skechers', 'ADIDAS', 'Saint G', 'Saint G', 'Clarks', 'ADIDAS', 'Skechers', 'Puma', 'ADIDAS', 'Nike', 'ADIDAS Originals', 'Nike', 'Xtep']

In [142]:
shoes_price = []
for i in driver7.find_elements(By.XPATH,'//div[@class="product-price"]'):
    shoes_price.append(i.text.split(".")[1].replace("Rs",""))
    
print(len(shoes_price))
print(shoes_price)

50
[' 9175', ' 10165', ' 11899', ' 12999', ' 10999', ' 11470', ' 9999', ' 9175', ' 8999', ' 12349', ' 8999', ' 7990', ' 9999', ' 11249', ' 9999', ' 12999', ' 8999', ' 9999', ' 10875', ' 7220', ' 9999', ' 13410', ' 8999', ' 8999', ' 11999', ' 8999', ' 7220', ' 10999', ' 11196', ' 13595', ' 7199', ' 13990', ' 13990', ' 7999', ' 8010', ' 8990', ' 7560', ' 8999', ' 8999', ' 10710', ' 9810', ' 9099', ' 12999', ' 7499', ' 9099', ' 13499', ' 12795', ' 8799', ' 8750', ' 7199']

In [143]:
shoes_des = []
for i in driver7.find_elements(By.XPATH,'//h4[@class="product-product"]'):
    shoes_des.append(i.text)
    
print(len(shoes_des))
print(shoes_des)

50
['JORDAN ZION 2 Basketball Shoes', 'JORDAN MAX AURA 4 Shoes', 'Men Ultraboost 5.0 DNA Running', 'Men Woven Nmd_R1 Sneakers', 'Unisex Curry Basketball Shoes', 'Men Vomero 16 Running Shoes', 'Men HOVR SonicSE Running Shoes', 'Men AIR MAX DAWN Sneakers', 'Men ChargedEscape 3 BL Running', 'Women Ultraboost 22 Running', 'Unisex 3ZER0 IV Basketball', 'Men Textured Leather Loafers', 'Men Solid Leather Formal Slip-Ons', 'Men Runner Fl Running Shoes', 'Men Woven FomSolution Sneakers', 'Eternity Nitro Running Shoes', 'Men Textured Leather Loafers', 'Women HOVR SonicSE Running', 'Men Jordan Delta 3 Basketball', 'Men Kyrie Flytrap Basketball', 'Men HOVR SonicSE Running Shoes', 'Suede Above The Knee Boots', 'Women Super 3.0 Running Shoes', 'Men Walking Shoes', 'Men Nitro 2 WIDE Running Shoes', 'Men Response Super 3.0 Run', 'Men AIR WINFLO 9 Running Shoes', 'Men Fast-Trac Nitro Running', 'Men KD 15 Basketball Shoes', 'AIR ZOOM G.T. Basketball Shoes', 'Men Printed Leather Sneakers', 'Woman Leather Ankle Boots', 'Leather Heeled Boots', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Men Textured Leather Loafers', 'Block Heeled Boots', 'Men Sky Vault Walking Shoes', 'Men Response Super 3.0 Run', 'Women High-Top Heeled Boots', 'Women Leather Boots', 'Women Solid High-Top Boots', 'Men Adistar Running Shoes', 'Men GO WALK - TERRA Shoes', 'Men Magnify Nitro Running', 'Men Ultraboost22 Running Shoes', 'Men JORDAN LOW Basketball Shoe', 'Men Leather Ozelia Sneakers', 'Women AIR ZOOM Running Shoes', 'Men Basketball Shoes']

In [144]:
next_but = driver7.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_but.click()

In [145]:
for i in driver7.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
    shoes_brand.append(i.text)
    
print(len(shoes_brand))
print(shoes_brand)

100
['Nike', 'Nike', 'ADIDAS', 'ADIDAS Originals', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'ADIDAS', 'UNDER ARMOUR', 'Ruosh', 'Hush Puppies', 'ADIDAS', 'ADIDAS Originals', 'Puma', 'Tommy Hilfiger', 'UNDER ARMOUR', 'Nike', 'Nike', 'UNDER ARMOUR', 'Saint G', 'ADIDAS', 'Skechers', 'Puma', 'ADIDAS', 'Nike', 'Puma', 'Nike', 'Nike', 'Calvin Klein', 'Geox', 'Geox', 'Clarks', 'Saint G', 'Ruosh', 'Saint G', 'Skechers', 'ADIDAS', 'Saint G', 'Saint G', 'Clarks', 'ADIDAS', 'Skechers', 'Puma', 'ADIDAS', 'Nike', 'ADIDAS Originals', 'Nike', 'Xtep', 'ADIDAS', 'Saint G', 'ALDO', 'Clarks', 'Columbia', 'Bugatti', 'Puma', 'Nike', 'ADIDAS', 'Puma', 'ALDO', 'ADIDAS Originals', 'Nike', 'Nike', 'ADIDAS Originals', 'UNDER ARMOUR', 'Puma', 'Xtep', 'Puma', 'ADIDAS Originals', 'Tommy Hilfiger', 'ALDO', 'Skechers', 'ADIDAS Originals', 'J.FONTINI', 'Tommy Hilfiger', 'Hush Puppies', 'Hush Puppies', 'Puma', 'Geox', 'Tommy Hilfiger', 'ALDO', 'Skechers', 'Tommy Hilfiger', 'SKO', 'Saint G', 'ADIDAS', 'ADIDAS Originals', 'ADIDAS Originals', 'ALDO', 'Geox', 'ALDO', 'Bugatti', 'Nike', 'Saint G', 'Skechers', 'Geox', 'Clarks', 'Nike', 'Puma']

In [146]:
for i in driver7.find_elements(By.XPATH,'//div[@class="product-price"]'):
    shoes_price.append(i.text.split(".")[1].replace("Rs",""))
    
print(len(shoes_price))
print(shoes_price)

100
[' 9175', ' 10165', ' 11899', ' 12999', ' 10999', ' 11470', ' 9999', ' 9175', ' 8999', ' 12349', ' 8999', ' 7990', ' 9999', ' 11249', ' 9999', ' 12999', ' 8999', ' 9999', ' 10875', ' 7220', ' 9999', ' 13410', ' 8999', ' 8999', ' 11999', ' 8999', ' 7220', ' 10999', ' 11196', ' 13595', ' 7199', ' 13990', ' 13990', ' 7999', ' 8010', ' 8990', ' 7560', ' 8999', ' 8999', ' 10710', ' 9810', ' 9099', ' 12999', ' 7499', ' 9099', ' 13499', ' 12795', ' 8799', ' 8750', ' 7199', ' 11999', ' 9810', ' 13299', ' 9099', ' 8999', ' 13999', ' 13999', ' 11996', ' 8999', ' 12999', ' 12999', ' 9799', ' 8750', ' 9695', ' 9999', ' 9999', ' 11999', ' 8599', ' 10499', ' 9999', ' 7999', ' 13299', ' 7499', ' 9999', ' 8490', ' 7439', ' 7999', ' 9999', ' 7649', ' 13990', ' 7199', ' 13999', ' 7499', ' 7199', ' 7500', ' 13410', ' 8999', ' 9999', ' 12799', ' 9599', ' 12990', ' 9099', ' 13999', ' 11196', ' 12510', ' 7499', ' 11990', ' 7999', ' 11470', ' 13999']

In [147]:
for i in driver7.find_elements(By.XPATH,'//h4[@class="product-product"]'):
    shoes_des.append(i.text)
    
print(len(shoes_des))
print(shoes_des)

100
['JORDAN ZION 2 Basketball Shoes', 'JORDAN MAX AURA 4 Shoes', 'Men Ultraboost 5.0 DNA Running', 'Men Woven Nmd_R1 Sneakers', 'Unisex Curry Basketball Shoes', 'Men Vomero 16 Running Shoes', 'Men HOVR SonicSE Running Shoes', 'Men AIR MAX DAWN Sneakers', 'Men ChargedEscape 3 BL Running', 'Women Ultraboost 22 Running', 'Unisex 3ZER0 IV Basketball', 'Men Textured Leather Loafers', 'Men Solid Leather Formal Slip-Ons', 'Men Runner Fl Running Shoes', 'Men Woven FomSolution Sneakers', 'Eternity Nitro Running Shoes', 'Men Textured Leather Loafers', 'Women HOVR SonicSE Running', 'Men Jordan Delta 3 Basketball', 'Men Kyrie Flytrap Basketball', 'Men HOVR SonicSE Running Shoes', 'Suede Above The Knee Boots', 'Women Super 3.0 Running Shoes', 'Men Walking Shoes', 'Men Nitro 2 WIDE Running Shoes', 'Men Response Super 3.0 Run', 'Men AIR WINFLO 9 Running Shoes', 'Men Fast-Trac Nitro Running', 'Men KD 15 Basketball Shoes', 'AIR ZOOM G.T. Basketball Shoes', 'Men Printed Leather Sneakers', 'Woman Leather Ankle Boots', 'Leather Heeled Boots', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Men Textured Leather Loafers', 'Block Heeled Boots', 'Men Sky Vault Walking Shoes', 'Men Response Super 3.0 Run', 'Women High-Top Heeled Boots', 'Women Leather Boots', 'Women Solid High-Top Boots', 'Men Adistar Running Shoes', 'Men GO WALK - TERRA Shoes', 'Men Magnify Nitro Running', 'Men Ultraboost22 Running Shoes', 'Men JORDAN LOW Basketball Shoe', 'Men Leather Ozelia Sneakers', 'Women AIR ZOOM Running Shoes', 'Men Basketball Shoes', 'Men Adistar CS Running Shoes', 'Women Leather Boots', 'Men Leather Loafers', 'Women Solid High-Top Boots', 'Women Trekking Shoes', 'Men Running Sports Shoes', 'Men Running Shoes', 'Women Air Max Flyknit Sneakers', 'Women Solid Pureboost 22 Shoes', 'Women Eternity NITRO Shoes', 'Women Textured Sneakers', 'Men Woven NMD_31 Sneakers', 'Women AIR ZOOM Running Shoes', 'Men FREE RUN 2 Sneakers', 'Women Forum Low Sneakers', 'Men HOVR Sonic SE Running Shoe', 'Men Nitro 2 WIDE Running Shoes', 'Men Skateboarding Shoes', 'Women Running Sports Shoes', 'Men Woven FomSolution Sneakers', 'Men Solid Sneakers', 'Men Leather Loafers', 'Women Go Walk EU Walking Shoes', 'Men Retropy F90 Sneakers', 'Men Textured Leather Loafers', 'Men Leather Sneakers', 'Men Perforations Leather Slip-On Sneakers', 'Men Solid Leather Formal Slip-Ons', 'Fusion Evo Extra Wide Golf Shoes', 'Women Solid Boots', 'Women Leather Sneakers', 'Women Regular Boots', 'Men Woven Design Sneakers', 'Men Leather Mid-Top Sneakers', 'Men Perforations Leather Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Women Super 3.0 Running Shoes', 'Women Superstar Sneakers', 'Men ZX 5K Boost Sneakers', 'Men Mid Top Lace Up Sneakers', 'Women Solid Boots', 'Men Slip-On Sneakers', 'Men Running Shoes', 'Women React Infinity Running', 'Women Leather Knee High Boots', 'Men GO FLEX 2-COMPLETION Shoes', 'Leather Ankle Boots', 'Men Solid Leather Formal Loafers', 'Women VOMERO 16 Running Shoes', 'Women Magnify Surge Shoes']

In [148]:
shoes_df = pd.DataFrame()

shoes_df["Shoes Brand"] = shoes_brand
shoes_df["Shoes description"] = shoes_des
shoes_df["shoes Price"] = shoes_price

shoes_df

         Shoes Brand                 Shoes description shoes Price
0               Nike    JORDAN ZION 2 Basketball Shoes        9175
1               Nike           JORDAN MAX AURA 4 Shoes       10165
2             ADIDAS    Men Ultraboost 5.0 DNA Running       11899
3   ADIDAS Originals         Men Woven Nmd_R1 Sneakers       12999
4       UNDER ARMOUR     Unisex Curry Basketball Shoes       10999
..               ...                               ...         ...
95          Skechers    Men GO FLEX 2-COMPLETION Shoes        7499
96              Geox               Leather Ankle Boots       11990
97            Clarks  Men Solid Leather Formal Loafers        7999
98              Nike     Women VOMERO 16 Running Shoes       11470
99              Puma         Women Magnify Surge Shoes       13999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [2]:
driver8 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver8.maximize_window()

url8 = "https://www.amazon.in/"
driver8.get(url8)

In [3]:
search8 = driver8.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search8.send_keys("Laptop")

In [4]:
search8_but = driver8.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search8_but.click()

In [7]:
lap_filter8 = driver8.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[11]/span/a/div/label/i")
lap_filter8.click()

In [8]:
laptop_title = []
for i in driver8.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    laptop_title.append(i.text)
    
print(len(laptop_title))
laptop_title

24

['HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)',
 'Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 8 GB Ram & 256 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14" (35.56 cm) FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics/White/1.4 Kg) S433EA-AM702TS',
 'Lenovo ThinkBook 15 Intel 12th Gen Core i7 15.6" (39.62cm) FHD 250 nits Antiglare Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit/Mineral Grey/1.7 Kg), 21DJA04NIH',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'HP Victus 11th Gen Intel Core i7-11800H 16.1" FHD Gaming Laptop (16GB RAM/512GB SSD/144 Hz/300 nits/7 ms Response time/GeForce RTX 3060 6GB Graphics/Backlit KB/Win11/MSO) 16-d0361TX Performance Blue',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 32 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 32 GB Ram & 1TB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 '(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch (31.75 cms) HD (1366 X 768) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD 5500//1.53 Kg), Lenovo X250',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 16 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'Dell Intel Latitude 5520 || i7-1165G7 || 16GB || 512GB SSD || Win 10 Pro || 15.6" FHD || NO ODD || Backlit KB || NO FPR',
 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN']

In [13]:
laptop_rating = []
for i in driver8.find_elements(By.CLASS_NAME,"a-size-base s-underline-text"):
    laptop_rating.append(i.text)
    
print(len(laptop_rating))
laptop_rating

0

[]

Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
 The above task will be done in following steps:
 1.First get the webpage https://www.azquotes.com/
 2. Click on Top Quotes
 3. Than scrap a) Quote b) Author c) Type Of Quote

In [39]:
driver9 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver9.maximize_window()

url9 = "https://www.azquotes.com/ "
driver9.get(url9)

In [40]:
main_menu = driver9.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/a[1]")
main_menu.click()

In [41]:
top_quotes = driver9.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [42]:
quotes = []
for i in driver9.find_elements(By.XPATH,'//a[@class="title"]'):
    quotes.append(i.text)
    
len(quotes)

100

In [43]:
quotes_author = []
for i in driver9.find_elements(By.XPATH,'//div[@class="author"]'):
    quotes_author.append(i.text)
    
len(quotes_author)

100

In [44]:
quotes_type = []
for i in driver9.find_elements(By.XPATH,'//div[@class="tags"]'):
    quotes_type.append(i.text)
    
len(quotes_type)

100

In [45]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
quotes_next.click()

In [46]:
def quotes_data(title,author,types):

    for i in driver9.find_elements(By.XPATH,title):
        quotes.append(i.text)
    
    print(len(quotes))

    for i in driver9.find_elements(By.XPATH,author):
        quotes_author.append(i.text)
    
    print(len(quotes_author))

    for i in driver9.find_elements(By.XPATH,types):
        quotes_type.append(i.text)
    
    print(len(quotes_type))

In [47]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

200
200
200

In [48]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [49]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

300
300
300

In [50]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [51]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

400
400
400

In [52]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [53]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

500
500
500

In [54]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [55]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

600
600
600

In [56]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [57]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

700
700
700

In [58]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [59]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

800
800
800

In [60]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [61]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

900
900
900

In [62]:
quotes_next = driver9.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
quotes_next.click()

In [63]:
quotes_data('//a[@class="title"]','//div[@class="author"]','//div[@class="tags"]')

1000
1000
1000

In [64]:
quotes_pd = pd.DataFrame()

quotes_pd["Quotes"] = quotes
quotes_pd["Author"] = quotes_author
quotes_pd["type of quotes"] = quotes_type

quotes_pd

,Quotes,Author,type of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [66]:
driver10 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver10.maximize_window()

url10 = "https://www.jagranjosh.com/"
driver10.get(url10)

In [67]:
gk_click = driver10.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk_click.click()

In [68]:
pm_click = driver10.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm_click.click()

In [73]:
table_element = []
for i in driver10.find_elements(By.TAG_NAME,"td"):
    table_element.append(i.text)
    
table_element

['1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966\n13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896–1995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902–1987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917–1984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944–1991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931–2008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927–2007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921–2004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from south India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919–2012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - Present',
 '4th Prime Minister of India who served two consecutive tenures',
 'List of all Presidents of India',
 'List of Current Chief Ministers in India',
 'List of International Awards received by Narendra Modi',
 'List of Chief Ministers of Karnataka (1947-2021)']

In [74]:
len(table_element)

94

In [77]:
pm_name = table_element[1:90:5]
pm_name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [78]:
pm_born = table_element[2:90:5]
pm_born

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [79]:
pm_office = table_element[3:90:5]
pm_office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [80]:
pm_remark = table_element[4:91:5]
pm_remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [81]:
pm_pd = pd.DataFrame()

pm_pd["Prime Minister name"] = pm_name
pm_pd["Born-dead"] = pm_born
pm_pd["Term of office"] = pm_office
pm_pd["Remark"] = pm_remark

pm_pd

,Prime Minister name,Born-dead,Term of office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model 
name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the

In [82]:
driver11 = webdriver.Edge(r"C:\Users\Atharva\Internship project\Web Sraping assignment-2\msedgedriver.exe")
driver11.maximize_window()

url11 = "https://www.motor1.com/"
driver11.get(url11)

In [83]:
moto_menu = driver11.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div[1]/div")
moto_menu.click()

In [84]:
moto_list = driver11.find_element(By.XPATH,"/html/body/div[3]/div[1]/div[3]/ul/li[4]/a")
moto_list.click()

In [85]:
moto50_list = driver11.find_element(By.XPATH,"/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a")
moto50_list.click()

In [86]:
car_name = []

for i in driver11.find_elements(By.XPATH,'//h3[@class="subheader"]'):
    car_name.append(i.text)
    
car_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [87]:
car_price = []

for i in driver11.find_elements(By.TAG_NAME,"strong"):
    car_price.append(i.text)

car_price

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [91]:
for i in car_price:
    if i == "" :
        index = car_price.index(i)
index

4

In [93]:
car_price.remove(car_price[index])
car_price
print(len(car_price))

50

In [96]:
len(car_name),len(car_price)

(51, 50)

In [95]:
car_Df = pd.DataFrame()

car_Df["car company/model"] = car_name[:50]
car_Df["car price"] = car_price

car_Df

                  car company/model                    car price
0                         Drako GTE          Price: $1.2 Million
1                     De Tomaso P72          Price: $1.3 Million
2                 Ferrari LaFerrari          Price: $1.4 Million
3                     Pagani Huayra          Price: $1.4 Million
4                      McLaren Elva          Price: $1.7 Million
5                       Czinger 21C          Price: $1.7 Million
6                     Ferrari Monza          Price: $1.7 Million
7                Gordon Murray T.33          Price: $1.7 Million
8                 Koenigsegg Gemera          Price: $1.7 Million
9                       Zenvo TSR-S          Price: $1.7 Million
10               Hennessey Venom F5          Price: $1.8 Million
11                  Bentley Bacalar          Price: $1.9 Million
12    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13           Bentley Mulliner Batur          Price: $2.0 Million
14                     Deus Vayanne          Price: $2.0 Million
15                      SSC Tuatara         Price: $2.0 Million*
16                      Lotus Evija          Price: $2.1 Million
17              Aston Martin Vulcan          Price: $2.3 Million
18                       Delage D12          Price: $2.3 Million
19                McLaren Speedtail          Price: $2.3 Million
20                     Rimac Nevera          Price: $2.4 Million
21                    Pagani Utopia          Price: $2.5 Million
22             Pininfarina Battista          Price: $2.5 Million
23                Ferrari FXX K Evo          Price: $2.6 Million
24               Gordon Murray T.50          Price: $2.6 Million
25             Lamborghini Countach          Price: $2.6 Million
26         Mercedes-AMG Project One          Price: $2.7 Million
27              Aston Martin Victor          Price: $3.0 Million
28      Hennessey Venom F5 Roadster                 $3.0 Million
29                 Koenigsegg Jesko          Price: $3.0 Million
30            Aston Martin Valkyrie          Price: $3.2 Million
31        W Motors Lykan Hypersport          Price: $3.4 Million
32                    McLaren Solus                 $3.5 Million
33        Pagani Huayra Roadster BC          Price: $3.5 Million
34         Bugatti Chiron Pur Sport          Price: $3.6 Million
35                 Lamborghini Sian          Price: $3.6 million
36                 Koenigsegg CC850          Price: $3.7 Million
37  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
38               Lamborghini Veneno          Price: $4.5 Million
39                   Bugatti Bolide          Price: $4.7 Million
40                  Bugatti Mistral          Price: $5.0 Million
41              Pagani Huayra Imola          Price: $5.4 Million
42                     Bugatti Divo          Price: $5.8 Million
43              SP Automotive Chaos          Price: $6.4 Million
44                 Pagani Codalunga          Price: $7.4 Million
45         Mercedes-Maybach Exelero          Price: $8.0 Million
46               Bugatti Centodieci          Price: $9.0 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)