In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [3]:
# loading dataset
raw_data = pd.read_csv("./developer_dataset.csv")

C:\Users\kshit\AppData\Local\Temp\ipykernel_14004\2561384991.py:1: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("./developer_dataset.csv")

In [11]:
# will hold final clean dataset
clean_data = pd.DataFrame()

In [5]:
# first 500 rows of raw data
raw_data_500 = raw_data.head(500)

In [6]:
# columns of dataset
raw_data.columns

Index(['RespondentID', 'Year', 'Country', 'Employment', 'UndergradMajor',
       'DevType', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Hobbyist', 'OrgSize', 'YearsCodePro',
       'JobSeek', 'ConvertedComp', 'WorkWeekHrs', 'NEWJobHunt',
       'NEWJobHuntResearch', 'NEWLearn'],
      dtype='object')

In [7]:
# getting number of columns
len(raw_data.columns)

21

In [8]:
# data of first 4 columns
raw_data_04 = raw_data[["RespondentID", "Year", "Country", "Employment", "UndergradMajor"]]

In [9]:
raw_data_04.head()

,RespondentID,Year,Country,Employment,UndergradMajor
0,1,2018,United States,Employed full-time,"Computer science, computer engineering, or sof..."
1,1,2019,United States,Employed full-time,"Computer science, computer engineering, or sof..."
2,1,2020,United States,Employed full-time,"Computer science, computer engineering, or sof..."
3,2,2018,United States,Employed full-time,"Computer science, computer engineering, or sof..."
4,2,2019,United States,Employed full-time,"Computer science, computer engineering, or sof..."

In [10]:
# info about data
raw_data_04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   RespondentID    111209 non-null  int64
 1   Year            111209 non-null  int64
 2   Country         111209 non-null  object
 3   Employment      109425 non-null  object
 4   UndergradMajor  98453 non-null   object
dtypes: int64(2), object(3)
memory usage: 4.2+ MB

In [12]:
clean_data["respondent_id"] = raw_data_04.RespondentID

In [13]:
clean_data.head()

   respondent_id
0              1
1              1
2              1
3              2
4              2

In [14]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 1 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   respondent_id  111209 non-null  int64
dtypes: int64(1)
memory usage: 868.9 KB

In [15]:
clean_data["year"] = raw_data_04.Year

In [16]:
clean_data.head()

   respondent_id  year
0              1  2018
1              1  2019
2              1  2020
3              2  2018
4              2  2019

In [17]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   respondent_id  111209 non-null  int64
 1   year           111209 non-null  int64
dtypes: int64(2)
memory usage: 1.7 MB

In [18]:
countries = raw_data_04.Country
countries.head()

0    United States
1    United States
2    United States
3    United States
4    United States
Name: Country, dtype: object

In [19]:
countries.nunique()

9

In [20]:
countries.unique()

array(['United States', 'Canada', 'Mexico', 'France', 'Germany', 'Spain',
       'United Kingdom', 'China', 'Japan'], dtype=object)

In [21]:
countries.value_counts()

United States     53727
Germany           16215
United Kingdom    15854
Canada             8979
France             6861
Spain              4534
China              2072
Mexico             1918
Japan              1049
Name: Country, dtype: int64

In [22]:
country_category = pd.Categorical(countries)
country_category

['United States', 'United States', 'United States', 'United States', 'United States', ..., 'Japan', 'Japan', 'Japan', 'Japan', 'Japan']
Length: 111209
Categories (9, object): ['Canada', 'China', 'France', 'Germany', ..., 'Mexico', 'Spain', 'United Kingdom', 'United States']

In [24]:
countries = countries.astype("category")
countries.dtype

CategoricalDtype(categories=['Canada', 'China', 'France', 'Germany', 'Japan', 'Mexico',
                  'Spain', 'United Kingdom', 'United States'],
, ordered=False)

In [25]:
clean_data["country"] = countries

In [26]:
clean_data.head()

   respondent_id  year        country
0              1  2018  United States
1              1  2019  United States
2              1  2020  United States
3              2  2018  United States
4              2  2019  United States

In [27]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   respondent_id  111209 non-null  int64
 1   year           111209 non-null  int64
 2   country        111209 non-null  category
dtypes: category(1), int64(2)
memory usage: 1.8 MB

In [28]:
employments = raw_data_04.Employment
employments.head()

0    Employed full-time
1    Employed full-time
2    Employed full-time
3    Employed full-time
4    Employed full-time
Name: Employment, dtype: object

In [29]:
employments.nunique()

7

In [30]:
employments.unique()

array(['Employed full-time', 'Employed part-time',
       'Not employed, but looking for work', 'Student',
       'Independent contractor, freelancer, or self-employed',
       'Not employed, and not looking for work', 'Retired', nan],
      dtype=object)

In [31]:
employments.value_counts()

Employed full-time                                      84707
Independent contractor, freelancer, or self-employed     8597
Employed part-time                                       5114
Not employed, but looking for work                       4248
Not employed, and not looking for work                   3442
Student                                                  2789
Retired                                                   528
Name: Employment, dtype: int64

In [32]:
employments.isna().value_counts()

False    109425
True       1784
Name: Employment, dtype: int64

In [33]:
1784 / 109425 * 100

1.6303404158099155

In [35]:
employments = employments.astype("category")
employments.dtype

CategoricalDtype(categories=['Employed full-time', 'Employed part-time',
                  'Independent contractor, freelancer, or self-employed',
                  'Not employed, and not looking for work',
                  'Not employed, but looking for work', 'Retired', 'Student'],
, ordered=False)

In [36]:
clean_data["employment"] = employments

In [37]:
clean_data.head()

   respondent_id  year        country          employment
0              1  2018  United States  Employed full-time
1              1  2019  United States  Employed full-time
2              1  2020  United States  Employed full-time
3              2  2018  United States  Employed full-time
4              2  2019  United States  Employed full-time

In [38]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   respondent_id  111209 non-null  int64
 1   year           111209 non-null  int64
 2   country        111209 non-null  category
 3   employment     109425 non-null  category
dtypes: category(2), int64(2)
memory usage: 1.9 MB

In [39]:
undergrad_majors = raw_data_04.UndergradMajor
undergrad_majors.head()

0    Computer science, computer engineering, or sof...
1    Computer science, computer engineering, or sof...
2    Computer science, computer engineering, or sof...
3    Computer science, computer engineering, or sof...
4    Computer science, computer engineering, or sof...
Name: UndergradMajor, dtype: object

In [40]:
undergrad_majors.nunique()

19

In [42]:
um_value_counts = undergrad_majors.value_counts()
um_value_counts

Computer science, computer engineering, or software engineering                   60852
Information systems, information technology, or system administration              5671
Another engineering discipline (ex. civil, electrical, mechanical)                 5462
Mathematics or statistics                                                          4354
A natural science (ex. biology, chemistry, physics)                                3951
Web development or web design                                                      2952
A humanities discipline (ex. literature, history, philosophy)                      2251
A social science (ex. anthropology, psychology, political science)                 1981
A business discipline (ex. accounting, finance, marketing)                         1889
Fine arts or performing arts (ex. graphic design, music, studio art)               1802
Another engineering discipline (such as civil, electrical, mechanical, etc.)       1798
A natural science (such as biology, chemistry, physics, etc.)                      1324
I never declared a major                                                           1269
A humanities discipline (such as literature, history, philosophy, etc.)             671
A business discipline (such as accounting, finance, marketing, etc.)                662
A social science (such as anthropology, psychology, political science, etc.)        632
Fine arts or performing arts (such as graphic design, music, studio art, etc.)      532
A health science (ex. nursing, pharmacy, radiology)                                 284
A health science (such as nursing, pharmacy, radiology, etc.)                       116
Name: UndergradMajor, dtype: int64

In [43]:
um_raw_categories = um_value_counts.index
um_raw_categories

Index(['Computer science, computer engineering, or software engineering',
       'Information systems, information technology, or system administration',
       'Another engineering discipline (ex. civil, electrical, mechanical)',
       'Mathematics or statistics',
       'A natural science (ex. biology, chemistry, physics)',
       'Web development or web design',
       'A humanities discipline (ex. literature, history, philosophy)',
       'A social science (ex. anthropology, psychology, political science)',
       'A business discipline (ex. accounting, finance, marketing)',
       'Fine arts or performing arts (ex. graphic design, music, studio art)',
       'Another engineering discipline (such as civil, electrical, mechanical, etc.)',
       'A natural science (such as biology, chemistry, physics, etc.)',
       'I never declared a major',
       'A humanities discipline (such as literature, history, philosophy, etc.)',
       'A business discipline (such as accounting, finance, marketing, etc.)',
       'A social science (such as anthropology, psychology, political science, etc.)',
       'Fine arts or performing arts (such as graphic design, music, studio art, etc.)',
       'A health science (ex. nursing, pharmacy, radiology)',
       'A health science (such as nursing, pharmacy, radiology, etc.)'],
      dtype='object')

In [50]:
um_categories_dict = {
    "Computer science, computer engineering, or software engineering": "computer_science",
    "Information systems, information technology, or system administration": "information_technology",
    "Another engineering discipline (ex. civil, electrical, mechanical)": "engineering",
    "Mathematics or statistics": "mathematics",
    "A natural science (ex. biology, chemistry, physics)": "natural_science",
    "Web development or web design": "web_development",
    "A humanities discipline (ex. literature, history, philosophy)": "humanities_discipline",
    "A social science (ex. anthropology, psychology, political science)": "social_science",
    "A business discipline (ex. accounting, finance, marketing)": "business",
    "Fine arts or performing arts (ex. graphic design, music, studio art)": "arts",
    "Another engineering discipline (such as civil, electrical, mechanical, etc.)": "engineering",
    "A natural science (such as biology, chemistry, physics, etc.)": "natural_science",
    "I never declared a major": "not_declared",
    "A humanities discipline (such as literature, history, philosophy, etc.)": "humanities_discipline",
    "A business discipline (such as accounting, finance, marketing, etc.)": "humanities_discipline",
    "A social science (such as anthropology, psychology, political science, etc.)": "social_science",
    "Fine arts or performing arts (such as graphic design, music, studio art, etc.)": "arts",
    "A health science (ex. nursing, pharmacy, radiology)": "health_science",
    "A health science (such as nursing, pharmacy, radiology, etc.)": "health_science"
    }
um_categories_dict

{'Computer science, computer engineering, or software engineering': 'computer_science',
 'Information systems, information technology, or system administration': 'information_technology',
 'Another engineering discipline (ex. civil, electrical, mechanical)': 'engineering',
 'Mathematics or statistics': 'mathematics',
 'A natural science (ex. biology, chemistry, physics)': 'natural_science',
 'Web development or web design': 'web_development',
 'A humanities discipline (ex. literature, history, philosophy)': 'humanities_discipline',
 'A social science (ex. anthropology, psychology, political science)': 'social_science',
 'A business discipline (ex. accounting, finance, marketing)': 'business',
 'Fine arts or performing arts (ex. graphic design, music, studio art)': 'arts',
 'Another engineering discipline (such as civil, electrical, mechanical, etc.)': 'engineering',
 'A natural science (such as biology, chemistry, physics, etc.)': 'natural_science',
 'I never declared a major': 'not_declared',
 'A humanities discipline (such as literature, history, philosophy, etc.)': 'humanities_discipline',
 'A business discipline (such as accounting, finance, marketing, etc.)': 'humanities_discipline',
 'A social science (such as anthropology, psychology, political science, etc.)': 'social_science',
 'Fine arts or performing arts (such as graphic design, music, studio art, etc.)': 'arts',
 'A health science (ex. nursing, pharmacy, radiology)': 'health_science',
 'A health science (such as nursing, pharmacy, radiology, etc.)': 'health_science'}

In [54]:
undergrad_majors = undergrad_majors.apply(lambda x: um_categories_dict[x] if pd.notna(x) else x)
undergrad_majors

0         computer_science
1         computer_science
2         computer_science
3         computer_science
4         computer_science
                ...
111204                 NaN
111205                 NaN
111206                 NaN
111207                 NaN
111208                 NaN
Name: UndergradMajor, Length: 111209, dtype: object

In [55]:
undergrad_majors.nunique()

12

In [56]:
undergrad_majors.value_counts()

computer_science          60852
engineering                7260
information_technology     5671
natural_science            5275
mathematics                4354
humanities_discipline      3584
web_development            2952
social_science             2613
arts                       2334
business                   1889
not_declared               1269
health_science              400
Name: UndergradMajor, dtype: int64

In [57]:
undergrad_majors = undergrad_majors.astype("category")
undergrad_majors.dtype

CategoricalDtype(categories=['arts', 'business', 'computer_science', 'engineering',
                  'health_science', 'humanities_discipline',
                  'information_technology', 'mathematics', 'natural_science',
                  'not_declared', 'social_science', 'web_development'],
, ordered=False)

In [58]:
clean_data["undergrad_major"] = undergrad_majors

In [59]:
clean_data.head()

   respondent_id  year        country          employment   undergrad_major
0              1  2018  United States  Employed full-time  computer_science
1              1  2019  United States  Employed full-time  computer_science
2              1  2020  United States  Employed full-time  computer_science
3              2  2018  United States  Employed full-time  computer_science
4              2  2019  United States  Employed full-time  computer_science

In [60]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   respondent_id    111209 non-null  int64
 1   year             111209 non-null  int64
 2   country          111209 non-null  category
 3   employment       109425 non-null  category
 4   undergrad_major  98453 non-null   category
dtypes: category(3), int64(2)
memory usage: 2.0 MB

In [61]:
dev_types = raw_data.DevType
dev_types

0                  Engineering manager;Full-stack developer
1                                     Developer, full-stack
2                                                       NaN
3                                      Full-stack developer
4         Data or business analyst;Database administrato...
                                ...
111204                                                  NaN
111205                                                  NaN
111206                                                  NaN
111207                                                  NaN
111208                                                  NaN
Name: DevType, Length: 111209, dtype: object

In [62]:
dev_types.nunique()

15627

In [65]:
types_of_dev = []

dev_types_list = dev_types.apply(lambda x: x.split(";") if pd.notna(x) else x)
dev_types_list

0               [Engineering manager, Full-stack developer]
1                                   [Developer, full-stack]
2                                                       NaN
3                                    [Full-stack developer]
4         [Data or business analyst, Database administra...
                                ...
111204                                                  NaN
111205                                                  NaN
111206                                                  NaN
111207                                                  NaN
111208                                                  NaN
Name: DevType, Length: 111209, dtype: object

In [68]:
for dev_list in dev_types_list:
    if isinstance(dev_list, list):
        for item in dev_list:
            if not item in types_of_dev:
                types_of_dev.append(item)

In [71]:
len(types_of_dev)

34

In [73]:
types_of_dev

['Engineering manager',
 'Full-stack developer',
 'Developer, full-stack',
 'Data or business analyst',
 'Database administrator',
 'Developer, back-end',
 'Developer, desktop or enterprise applications',
 'Developer, front-end',
 'Developer, mobile',
 'DevOps specialist',
 'Engineer, data',
 'Engineer, site reliability',
 'Senior executive/VP',
 'System administrator',
 'Developer, game or graphics',
 'Back-end developer',
 'Front-end developer',
 'Designer',
 'C-suite executive (CEO, CTO, etc.)',
 'Student',
 'Developer, embedded applications or devices',
 'Developer, QA or test',
 'Educator',
 'Product manager',
 'Desktop or enterprise applications developer',
 'QA or test developer',
 'Data scientist or machine learning specialist',
 'Marketing or sales professional',
 'Mobile developer',
 'Embedded applications or devices developer',
 'Academic researcher',
 'Educator or academic researcher',
 'Scientist',
 'Game or graphics developer']

In [75]:
"" in types_of_dev

False

In [77]:
dev_types_list.dtype

dtype('O')