<a href="https://colab.research.google.com/github/dilaraesmer/miuul_python_notes/blob/main/pandas_examples_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'last' : ['Schafer', 'Doe', 'Doe'],
    'email' : ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

}

In [ ]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [ ]:
df['full_name'] = df['first'] + ' ' + df['last']

In [ ]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [ ]:
df.drop(columns = ['first', 'last'], inplace = True)

In [ ]:
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [ ]:
df['full_name'].str.split(' ', expand = True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [ ]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand = True)

In [ ]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [ ]:
df.append({'first' : 'Tony'}, ignore_index = True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [ ]:
people = {
    'first' : ['Tony', 'Steve'],
    'last' : ['Stark', 'Rogers'],
    'email' : ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)

In [ ]:
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [ ]:
df.append(df2, ignore_index = True, sort = False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df = df.append(df2, ignore_index = True, sort = False)

In [ ]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df.drop(index = 4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [ ]:
filt = df['last'] == 'Doe'
df.drop(index = df[filt].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df.sort_values(by='last')

                     email      full_name  first     last
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
4           Cap@avenge.com            NaN  Steve   Rogers
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark

In [ ]:
people = {
    'first' : ['Corey', 'Jane', 'John', 'Adam'],
    'last' : ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email' : ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']

}

In [ ]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [ ]:
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [ ]:
df.sort_values(by = 'last', ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [ ]:
df.sort_values(by = ['last', 'first'], ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [ ]:
df.sort_values(by = ['last', 'first'], ascending = [False, True], inplace = True)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [ ]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col = 'Respondent')
df.head()

,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
Respondent,,,,,,,,,,,,,,,,,,,,,
1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,"Privately-held limited company, not in startup...",...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",Publicly-traded corporation,...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",Non-profit/non-governmental organization or pr...,...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,"Privately-held limited company, not in startup...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.set_option('display.max_columns', 153)
pd.set_option('display.max_rows', 153)

In [ ]:
df.sort_values(by = 'Country', inplace = True)

In [ ]:
df['Country'].head(50)

Respondent
3241       Afghanistan
428            Albania
594            Albania
391            Albania
1769           Albania
670            Albania
3430           Algeria
1045           Algeria
2166    American Samoa
1049         Argentina
1384         Argentina
369          Argentina
1516         Argentina
343          Argentina
2385         Argentina
514          Argentina
37           Argentina
317          Argentina
1832         Argentina
300          Argentina
121          Argentina
2644         Argentina
247          Argentina
2205         Argentina
240          Argentina
2515         Argentina
2305         Argentina
320          Argentina
950          Argentina
1715         Argentina
205          Argentina
798          Argentina
1497           Armenia
2809           Armenia
1934           Armenia
3514           Armenia
2716         Australia
2625         Australia
2109         Australia
2600         Australia
2597         Australia
2578         Australia
2146         Australia
2103         Australia
2737         Australia
2573         Australia
2157         Australia
2184         Australia
1856         Australia
3508         Australia
Name: Country, dtype: object

In [ ]:
df.sort_values(by=['Country', 'Salary'], ascending = [True, False], inplace = True)

In [ ]:
df[['Country', 'Salary']].head(50)

                   Country         Salary
Respondent
3241           Afghanistan    1500.000000
428                Albania    8602.150538
594                Albania            NaN
391                Albania            NaN
1769               Albania            NaN
670                Albania            NaN
3430               Algeria            NaN
1045               Algeria            NaN
2166        American Samoa            NaN
950              Argentina   31867.431485
317              Argentina   31548.757170
1832             Argentina   30000.000000
2205             Argentina   30000.000000
37               Argentina   28200.000000
2305             Argentina   15000.000000
1384             Argentina    1529.636711
1049             Argentina            NaN
369              Argentina            NaN
1516             Argentina            NaN
343              Argentina            NaN
2385             Argentina            NaN
514              Argentina            NaN
300              Argentina            NaN
121              Argentina            NaN
2644             Argentina            NaN
247              Argentina            NaN
240              Argentina            NaN
2515             Argentina            NaN
320              Argentina            NaN
1715             Argentina            NaN
205              Argentina            NaN
798              Argentina            NaN
3514               Armenia    3000.000000
1497               Armenia            NaN
2809               Armenia            NaN
1934               Armenia            NaN
2414             Australia  174242.424242
932              Australia  136363.636364
2438             Australia  115662.878788
2716             Australia  106060.606061
2337             Australia  103568.181818
3083             Australia   98484.848485
2207             Australia   94696.969697
2947             Australia   90909.090909
1794             Australia   87121.212121
2103             Australia   83333.333333
2451             Australia   83333.333333
2747             Australia   83333.333333
1771             Australia   83333.333333
2794             Australia   81136.363636

In [ ]:
df['Salary'].nlargest(10)

Respondent
1697    195000.0
2371    192000.0
1353    190000.0
2139    185000.0
221     185000.0
1813    180000.0
2605    180000.0
771     178000.0
26      175000.0
2563    175000.0
Name: Salary, dtype: float64

In [ ]:
df.nlargest(10, 'Salary')

,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,YearsProgram,YearsCodedJob,YearsCodedJobPast,DeveloperType,WebDeveloperType,MobileDeveloperType,NonDeveloperType,CareerSatisfaction,JobSatisfaction,ExCoderReturn,ExCoderNotForMe,ExCoderBalance,ExCoder10Years,ExCoderBelonged,ExCoderSkills,ExCoderWillNotCode,ExCoderActive,PronounceGIF,ProblemSolving,BuildingThings,LearningNewTech,BoringDetails,JobSecurity,DiversityImportant,AnnoyingUI,FriendsDevelopers,RightWrongWay,UnderstandComputers,SeriousWork,InvestTimeTools,WorkPayCare,KinshipDevelopers,ChallengeMyself,CompetePeers,ChangeWorld,JobSeekingStatus,HoursPerWeek,LastNewJob,AssessJobIndustry,AssessJobRole,AssessJobExp,AssessJobDept,AssessJobTech,AssessJobProjects,AssessJobCompensation,AssessJobOffice,AssessJobCommute,AssessJobRemote,AssessJobLeaders,AssessJobProfDevel,AssessJobDiversity,AssessJobProduct,AssessJobFinances,ImportantBenefits,ClickyKeys,JobProfile,ResumePrompted,LearnedHiring,ImportantHiringAlgorithms,ImportantHiringTechExp,ImportantHiringCommunication,ImportantHiringOpenSource,ImportantHiringPMExp,ImportantHiringCompanies,ImportantHiringTitles,ImportantHiringEducation,ImportantHiringRep,ImportantHiringGettingThingsDone,Currency,Overpaid,TabsSpaces,EducationImportant,EducationTypes,SelfTaughtTypes,TimeAfterBootcamp,CousinEducation,WorkStart,HaveWorkedLanguage,WantWorkLanguage,HaveWorkedFramework,WantWorkFramework,HaveWorkedDatabase,WantWorkDatabase,HaveWorkedPlatform,WantWorkPlatform,IDE,AuditoryEnvironment,Methodology,VersionControl,CheckInCode,ShipIt,OtherPeoplesCode,ProjectManagement,EnjoyDebugging,InTheZone,DifficultCommunication,CollaborateRemote,MetricAssess,EquipmentSatisfiedMonitors,EquipmentSatisfiedCPU,EquipmentSatisfiedRAM,EquipmentSatisfiedStorage,EquipmentSatisfiedRW,InfluenceInternet,InfluenceWorkstation,InfluenceHardware,InfluenceServers,InfluenceTechStack,InfluenceDeptTech,InfluenceVizTools,InfluenceDatabase,InfluenceCloud,InfluenceConsultants,InfluenceRecruitment,InfluenceCommunication,StackOverflowDescribes,StackOverflowSatisfaction,StackOverflowDevices,StackOverflowFoundAnswer,StackOverflowCopiedCode,StackOverflowJobListing,StackOverflowCompanyPage,StackOverflowJobSearch,StackOverflowNewQuestion,StackOverflowAnswer,StackOverflowMetaChat,StackOverflowAdsRelevant,StackOverflowAdsDistracting,StackOverflowModeration,StackOverflowCommunity,StackOverflowHelpful,StackOverflowBetter,StackOverflowWhatDo,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1697,Professional developer,"Yes, both",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,All or almost all the time (I'm full-time remote),"10,000 or more employees",Publicly-traded corporation,20 or more years,20 or more years,NaN,Web developer; Embedded applications/devices d...,NaN,NaN,NaN,8.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a hard ""g,"" like ""gift""",Strongly agree,Strongly agree,Strongly agree,Disagree,Somewhat agree,Strongly agree,Strongly agree,Agree,Disagree,Somewhat agree,Agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly disagree,Strongly agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U.S. dollars ($),Somewhat underpaid,Spaces,Very important,Online course; Bootcamp; Part-time/evening cou...,Official documentation; Trade book; Textbook; ...,I already had a job as a developer when I star...,Return to college; Take online courses; Contri...,9:00 AM,Python,Go; Python,NaN,NaN,MySQL,NaN,Linux Desktop,Linux Desktop,Emacs; PyCharm,Keep the room absolutely quiet,Waterfall; Agile; Lean; Scrum; Pair; Mob; Kanb...,Git,Multiple times a day,Somewhat agree,Agree,Somewhat agree,Agree,Strongly agree,Strongly disagree,Disagree,Customer satisfaction; Manager's rating; Peers...,Satisfied,Somewhat satisfied,Satisfied,Somewhat satisfied,Satisfied,Not very satisfied,Not much influence,No influence at all,No influence at all,No influence at all,Some influence,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,I have created a CV or Developer Story on Stac...,9.0,Desktop; Android browser,At least once each week,Once or twice,Haven't done at all,Once or twice,Once or twice,Haven't done at all,Once or twice,Haven't done at all,Disagree,Disagree,Disagree,Disagree,Strongly agree,Strongly agree,Agree,Disagree,Male,High school,White or of European descent,Disagree,Agree,Disagree,Agree,195000.0,NaN
2371,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Master's degree,Computer engineering or electrical/electronics...,A few days each month,"1,000 to 4,999 employees","Privately-held limited company, not in startup...",20 or more years,14 to 15 years,NaN,Embedded applications/devices developer; Deskt...,NaN,NaN,NaN,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",Agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Agree,Agree,Agree,Agree,Disagree,Agree,Somewhat agree,Disagree,Agree,Agree,Agree,Somewhat agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,LinkedIn,A recruiter contacted me,"A friend, family member, or former colleague t...",Somewhat important,Important,Somewhat important,Somewhat important,Not at all important,Important,NaN,Somewhat important,Important,Important,U.S. dollars ($),Somewhat overpaid,Spaces,Important,Self-taught,Official documentation; Stack Overflow Q&A,NaN,NaN,8:00 AM,C#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Scrum; Kanban,Subversion,A few times a week,Agree,Somewhat agree,Somewhat agree,Disagree,Somewhat agree,Agree,Somewhat agree,Commit frequency; On time/in budget; Peers' ra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192000.0,NaN
1353,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,A few days each month,20 to 99 employees,"Privately-held limited company, not in startup...",13 to 14 years,10 to 11 years,NaN,Web developer; DevOps specialist,NaN,NaN,NaN,10.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a hard ""g,"" like ""gift""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am not interested in new job opportunities,NaN,Less than a year ago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Retirement; Health benefits; Equipment; Remote...,Yes,LinkedIn,I received bad news about the future of my com...,An external recruiter or headhunter,Somewhat important,Not very important,Somewhat important,Not at all important,Not at all important,Important,Not at all important,Not at all important,Not at all important,Very important,U.S. dollars ($),Neither underpaid nor overpaid,Tabs,Not at all important,Self-taught; Open source contributions,Official documentation; Stack Overflow Q&A; St...,NaN,NaN,Noon,C#; JavaScript; Perl; PHP; TypeScript,C#; JavaScript,AngularJS; Node.js; React; Xamarin; .NET Core,Node.js; Xamarin; .NET Core,SQL Server,SQL Server,Amazon Web Services (AWS); Microsoft Azure,Microsoft Azure,Atom; Sublime Text; Visual Studio; Visual Stud...,Turn on some music,NaN,Git,Multiple times a day,Agree,Somewhat agree,Agree,Agree,Strongly agree,Strongly disagree,Strongly disagree,Bugs found; Customer satisfaction; Benchmarked...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have created a CV or Developer Story on Stac...,10.0,Desktop; Android browser,At least once each week,At least once each week,Several times,Once or twice,Several times,Haven't done at all,Haven't done at all,Haven't done at all,Strongly disagree,Strongly disagree,Strongly disagree,Strongly disagree,Strongly agree,Strongly agree,Strongly agree,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Disagree,Strongly disagree,Strongly agree,190000.0,NaN
2139,Professional developer,"Yes, both",United States,No,Employed full-time,Master's degree,A business discipline,All or almost all the time (I'm full-time remote),"1,000 to 4,999 employees",Publicly-traded corporation,17 to 18 years,7 to 8 years,NaN,Web developer,Back-end Web developer,NaN,NaN,9.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",Strongly agree,Strongly agree,Strongly agree,Agree,Agree,Somewhat agree,Agree,Agree,Somewhat agree,Strongly disagree,Agree,Agree,Agree,Agree,Strongly agree,Somewhat agree,Disagree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,LinkedIn,I was just giving it a regular update,A general-purpose job board,Somewhat important,Not very important,Important,Somewhat important,Not very important,Not very important,Somewhat important,Not very important,Not at all important,Very important,U.S. dollars ($),Somewhat underpaid,Spaces,NaN,NaN,NaN,NaN,NaN,6:00 AM,C#; JavaScript; Python; SQL; TypeScript,C#; Go; JavaScript; Python; SQL; TypeScript,NaN,.NET Core,SQL Server; MySQL; PostgreSQL,SQL Server,Raspberry Pi,Raspberry Pi,PyCharm; Visual Studio; Visual Studio Code,Put on a movie or TV show,Agile; Scrum; Domain-driven design,Git,Once a day,Agree,Disagree,Agree,Somewhat agree,Strongly agree,Disagree,Disagree,Manager's rating; Self-rating,Very satisfied,Very satisfied,Very satisfied,Very satisfied,Very satisfied,Very satisfied,Not much influence,Not much influence,Not much influence,Not much influence,A lot of influence,Not much influence,Not much influence,Not much influence,Not much influence,Not much influence,Not much influence,"I've visited Stack Overflow, but haven't logge...",7.0,Desktop,Several times,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Somewhat agree,Strongly disagree,Agree,Strongly disagree,Somewhat agree,Agree,Disagree,Strongly disagree,Male,A bachelor's degree,White or of European descent,Strongly disagree,Somewhat agree,Strongly disagree,Strongly agree,185000.0,NaN
221,Professional developer,"Yes, I contribute to open source projects",United States,No,Employed full-time,Master's degree,Computer science or software engineering,"Less than half the time, but at least one day ...",100 to 499 employees,Non-profit/non-governmental organization or pr...,20 or more years,20 or more years,NaN,Web developer; Other,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a hard ""g,"" like ""gift""",Strongly agree,Strongly agree,Strongly agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Agree,Somewhat agree,Agree,Strongly agree,Agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Strongly agree,"I'm not actively looking, but I am open to new...",NaN,Between 2 and 4 years ago,Somewhat important,Very important,Very important,Very important,Somewhat important,Very important,Very important,Somewhat important,Very important,Very important,Somewhat important,Important,Very important,Important,Important,Vacation/days off; Equipment; Remote options,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U.S. dollars ($),Somewhat underpaid,Spaces,Important,Online course; On-the-job training; Self-taugh...,Official documentation; Trade book; Textbook; ...,NaN,NaN,10:00 AM,CoffeeScript; JavaScript; Python,JavaScript; Python,NaN,React,MongoDB; MySQL,MongoDB; MySQL,Mac OS; Amazon Web Services (AWS),Mac OS; Amazon Web Services (AWS),Emacs; PyCharm,Keep the room absolutely quiet,Agile; Scrum; Pair; Kanban,Git,Multiple times a day,Strongly agree,NaN,Disagree,Disagree,Agree,Somewhat agree,Agree,On time/in budget; Manager's rating; Peers' ra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have created a CV or Developer Story on Stac...,10.0,Desktop; iOS browser,At least once each week,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Once or twice,Several times,Haven't done at all,Somewhat agree,Disagree,Disagree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Strongly agree,Disagree,Strongly agree,185000.0,NaN
1813,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","1,000 to 4,999 employees","Privately-held limited company, not in startup...",16 to 17 years,12 to 13 years,NaN,Web developer,Full stack Web developer,NaN,NaN,7.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Agree,Strongly agree,Agree,Agree,Disagree,Somewhat agree,Agree,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Disagree,Strongly agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,LinkedIn,A recruiter contacted me,"A friend, family member, or former colleague t...",Important,Important,Very important,Somewhat important,Somewhat important,Not very important,NaN,Not very important,Not at all important,Very important,U.S. dollars ($),Somewhat underpaid,Tabs,NaN,NaN,NaN,NaN,NaN,7:00 AM,C#; JavaScript; TypeScript,Java; JavaScript; TypeScript,AngularJS; .NET Core,AngularJS; Node.js,SQL Server,Cassandra; Redis; MySQL,Windows Desktop; Mac OS; Arduino; Raspberry Pi,Android; iOS; Linux Desktop; Arduino; Amazon W...,Vim; IntelliJ; Visual Studio; Visual Studio Code,"Put on some ambient sounds (e.g. whale songs, ...",Waterfall; Agile; Lean; Scrum; Pair; Kanban,Git,A few times a week,Somewhat agree,Agree,Strongly disagree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat agree,Bugs found; Commit frequency; Release frequenc...,Somewhat satisfied,Very satisfied,Satisfied,Very satisfied,Satisfied,Very satisfied,No influence at all,No influence at all,No influence at all,No influence at all,Not much influence,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,"I have a login for Stack Overflow, but haven't...",8.0,Desktop,At least once each week,Once or twice,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Somewhat agree,Disagree,NaN,Somewhat agree,Agree,Strongly agree,Somewhat agree,NaN,Male,A bachelor's degree,South Asian,Strongly agree,Agree,Disagree,Strongly agree,180000.0,NaN
2605,Professional developer,"Yes, both",United States,No,Employed full-time,Some college/university study without earning ...,Computer science or software engineering,Never,"10,000 or more employees",Publicly-traded corporation,20 or more years,20 or more years,NaN,Mobile developer; Embedded applications/device...,NaN,NaN,NaN,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I'm not actively looking, but I am open to new...",0.0,Between 1 and 2 years ago,Very important,Very important,Important,Very important,Very important,Very important,Important,Very important,Important,Somewhat important,Important,Important,Important,Somewhat important,Important,Retirement; Health benefits; Equipment; Privat...,Yes,LinkedIn,Something else,I was contacted directly by someone at the com...,Very important,Important,Very important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,Not very important,Important,U.S. dollars ($),Neither underpaid nor overpaid,Spaces,Not very important,On-the-job training; Self-taught; Open source ...,Official documentation; Trade book; Stack Over...,NaN,NaN,11:00 AM,C++; C#,C++; C#,Xamarin; .NET Core,Xamarin; .NET Core,NaN,NaN,Windows Phone; Windows Desktop; Raspberry Pi,Windows Phone; Windows Desktop; Raspberry Pi; ...,Notepad++; Visual Studio,"Put on some ambient sounds (e.g. whale songs, ...",Agile; Scrum,Team Foundation Server,A few times a week,Strongly disagree,Somewhat agree,Disagree,Disagree,Strongly agree,Disagree,Agree,Customer satisfaction; Benchmarked product per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I've visited Stack Overflow, but haven't logge...",8.0,Desktop,At least once each week,Once or twice,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Disagree,Disagree,Disagree,Disagree,Agree,Agree,Somewhat agree,Disagree,Male,I don't know/not sure,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Agree,180000.0,NaN
771,Professional developer,No,United States,No,Employed full-time,Bachelor's degree,"Information technology, networking, or system ...","More than half, but not all, the time","10,000 or more employees",Publicly-traded corporation,19 to 20 years,16 to 17 years,NaN,Database administrator; Other,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I'm not actively looking, but I am open to new...",1.0,Between 1 and 2 years ago,Not very important,Very important,Very important,Somewhat important,Very important,Somewhat important,Very important,Very important,Very important,Somewhat important,Important,Very important,Important,Important,Important,Retirement; Vacation/days off; Health benefits...,No,LinkedIn,I was just giving it a regular update,"A friend, family member, or former colleague t...",Somewhat important,Important,Important,Not very important,Somewhat important,Somewhat important,Somewhat important,Not very important,Not at all important,Very important,U.S. dollars ($),Somewhat underpaid,Both,NaN,NaN,NaN,NaN,NaN,7:00 AM,Java; Python; SQL,Python; Rust; Scala; SQL,Hadoop; Spark,Hadoop; Spark,PostgreSQL,Cassandra; PostgreSQL,Amazon Web Services (AWS),Amazon Web Services (AWS),Atom; Vim; Eclipse; PyCharm,Turn on some music,Agile; Scrum; Kanban,Git,A few times a week,Agree,Somewhat agree,Disagree,Agree,Strongly agree,Disagree,Somewhat agree,Customer satisfaction; On time/in budget; Mana...,Satisfied,Very satisfied,Very satisfied,Satisfied,Very satisfied,Very satisfied,A lot of influence,No influence at all,Some influence,Some influence,A lot of influence,Some influence,Some influence,Some influence,Not much influence,No influence at all,No influence at all,I have created a CV or Developer Story on Stac...,8.0,Desktop; Android browser; Android app,At least once each week,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Agree,Disagree,Somewhat agree,Disagree,Agree,Agree,Somewhat agree,Somewhat agree,Male,"Some college/university study, no bachelor's d...",South Asian,Disagree,Somewhat agree,Disagree,Agree,178000.0,NaN