In [1]:
# Import
import sys
sys.path.append('../../../')
 
from a_models.annotation import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity      = "jobdescription"  
    ner         = "Sistem Informasi"  
    label       = "B-Bidang_studi I-Bidang_studi"  
    entitas     = "bidang_studi"  
    update      = "yes"  
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------  
    wildcard(entity, ner, label, entitas, update, space)
    # --------------------------------------------------    
    ####################################################

  ____wildcard()
  ______Select  id  , name  , label  from jobdescription where name like '%Sistem Informasi%'
  ________Total Row(s) : 308
  ________ner length: 2
  ________label length: 2
  __________[1/308]  Pendidikan S1 Teknik Informatika / Sistem Informasi / Teknik Jaringan Komputer / Jurusan Terkait
  ________________  Old len: 14 __ New len: 14
  ________________  O B-Tingkat_pendidikan O O O O O O O O O O O O
  ________________  O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O O O O
  ________________  0 0 0 0 0 1 2 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan S1 Teknik Informatika / Sistem Informasi / Teknik Jaringan Komputer / Jurusan Terkait',  `label`='O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O O O O',  `space_length`='14',  `bidang_studi` = 1  WHERE id = '2528'
  ________
  __________[2/308]  S1 Teknik Informatika / Sistem Informasi / Teknik Elektronika
  ________________  Old len: 9 __ New len: 9
  ________________  B-Tingkat_pendidikan O O O O O O O O
  ________________  B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O
  ________________  0 0 0 0 1 2 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='S1 Teknik Informatika / Sistem Informasi / Teknik Elektronika',  `label`='B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O',  `space_length`='9',  `bidang_studi` = 1  WHERE id = '2919'
  ________
  __________[3/308]  Mengaudit sistem informasi perusahaan , menilai kepatuhan terhadap keamanan data dan persyaratan penyimpanan .
  ________________  Old len: 15 __ New len: 14 __ WARNING!
  ________________  O O O O O O O O O O O O O O O
  ________________  O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O
  ________________  0 1 2 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Mengaudit sistem informasi perusahaan , menilai kepatuhan terhadap keamanan data dan persyaratan penyimpanan .',  `label`='O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O',  `space_length`='14',  `bidang_studi` = 1  WHERE id = '4419'
  ________
  __________[4/308]  Pendidikan D3 / S1 , diutamakan jurusan Teknik Informatika / Sistem Informasi / Pemasaran / Marketing .
  ________________  Old len: 17 __ New len: 17
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O O O O O O O O O O
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O O O B-Bidang_studi I-Bidang_studi O O O O O
  ________________  0 0 0 0 0 0 0 0 0 0 1 2 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan D3 / S1 , diutamakan jurusan Teknik Informatika / Sistem Informasi / Pemasaran / Marketing .',  `label`='O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O O O B-Bidang_studi I-Bidang_studi O O O O O',  `space_length`='17',  `bidang_studi` = 1  WHERE id = '11719'
  ________
  __________[5/308]  S1 Teknik Industri , Sistem Informasi , tapi tidak menutup kemungkinan untuk jurusan lainnya yang mempelajari perihal forecasting
  ________________  Old len: 18 __ New len: 18
  ________________  B-Tingkat_pendidikan O O O O O O O O O O O O O O O O O
  ________________  B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O
  ________________  0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='S1 Teknik Industri , Sistem Informasi , tapi tidak menutup kemungkinan untuk jurusan lainnya yang mempelajari perihal forecasting',  `label`='B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O',  `space_length`='18',  `bidang_studi` = 1  WHERE id = '14650'
  ________
  __________[6/308]  Pendidikan minimal S1 Digital Marketing , Desain KomunikasiVisual Teknik Informartika , Sistem Informasi atau Ilmu Komunikasi .
  ________________  Old len: 17 __ New len: 17
  ________________  O O B-Tingkat_pendidikan O O O O O O O O O O O O O O
  ________________  O O B-Tingkat_pendidikan O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O
  ________________  0 0 0 0 0 0 0 0 0 0 0 1 2 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan minimal S1 Digital Marketing , Desain KomunikasiVisual Teknik Informartika , Sistem Informasi atau Ilmu Komunikasi .',  `label`='O O B-Tingkat_pendidikan O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O',  `space_length`='17',  `bidang_studi` = 1  WHERE id = '19944'
  ________
  __________[7/308]  Diutamakan memiliki latar pendidikan Jurusan Teknik Informatika / Sistem Informasi / Teknik Elektro / Matematika / dan Jurusan terkait Teknologi Informasi .
  ________________  Old len: 23 __ New len: 22 __ WARNING!
  ________________  O O O O O O O O O O O O O O O O O O O O O O O
  ________________  O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O
  ________________  0 0 0 0 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Diutamakan memiliki latar pendidikan Jurusan Teknik Informatika / Sistem Informasi / Teknik Elektro / Matematika / dan Jurusan terkait Teknologi Informasi .',  `label`='O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O',  `space_length`='22',  `bidang_studi` = 1  WHERE id = '22059'
  ________
  __________[8/308]  Bidang Latar Belakang NON IPA sebagai misal Sistem Informasi Bisnis , Ekonomi Bisnis , Bisnis Manajemen Teknologi , AkuntansiDan Perpajakan , atau sejenis
  ________________  Old len: 23 __ New len: 23
  ________________  O O O O O O O O O O O O O O O O O O O O O O O
  ________________  O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O O O
  ________________  0 0 0 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Bidang Latar Belakang NON IPA sebagai misal Sistem Informasi Bisnis , Ekonomi Bisnis , Bisnis Manajemen Teknologi , AkuntansiDan Perpajakan , atau sejenis',  `label`='O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O O O',  `space_length`='23',  `bidang_studi` = 1  WHERE id = '22875'
  ________
  __________[9/308]  Pengetahuan umum mengenai komputer dan Sistem Informasi Akuntansi
  ________________  Old len: 8 __ New len: 8
  ________________  O O O O O O O O
  ________________  O O O O O B-Bidang_studi I-Bidang_studi O
  ________________  0 0 0 0 0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pengetahuan umum mengenai komputer dan Sistem Informasi Akuntansi',  `label`='O O O O O B-Bidang_studi I-Bidang_studi O',  `space_length`='8',  `bidang_studi` = 1  WHERE id = '22981'
  ________
  __________[10/308]  beberapa orang minimal S1 / D4 / S2 dari Teknik Informatika / Sistem Teknologi Informasi / Teknik Elektro / Teknik Telekomunikasi / Sistem Informasi / Fisika / Matematika / Statistika / Ilmu Komputer / Engineer lainnya , untuk posisi sebagai :
  ________________  Old len: 41 __ New len: 41
  ________________  O O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O
  ________________  O O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O B-Bidang_studi O O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O O O O O O
  ________________  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='beberapa orang minimal S1 / D4 / S2 dari Teknik Informatika / Sistem Teknologi Informasi / Teknik Elektro / Teknik Telekomunikasi / Sistem Informasi / Fisika / Matematika / Statistika / Ilmu Komputer / Engineer lainnya , untuk posisi sebagai :',  `label`='O O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O B-Bidang_studi O O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O O O O O O O O',  `space_length`='41',  `bidang_studi` = 1  WHERE id = '25713'
  ________
  __________[11/308]  Pendidikan S1 Sistem Informasi / Manajemen Informatika
  ________________  Old len: 7 __ New len: 7
  ________________  O B-Tingkat_pendidikan O O O O O
  ________________  O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O O O
  ________________  0 0 1 2 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan S1 Sistem Informasi / Manajemen Informatika',  `label`='O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O O O',  `space_length`='7',  `bidang_studi` = 1  WHERE id = '26248'
  ________
  __________[12/308]  Pendidikan minimal D3 Teknologi Informatika / Sistem Informasi / Ilmu Komputer .
  ________________  Old len: 14 __ New len: 12 __ WARNING!
  ________________  O O B-Tingkat_pendidikan O O O O O O O O O O
  ________________  O O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O
  ________________  0 0 0 0 0 0 1 2 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan minimal D3 Teknologi Informatika / Sistem Informasi / Ilmu Komputer .',  `label`='O O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi O O O O',  `space_length`='12',  `bidang_studi` = 1  WHERE id = '27018'
  ________
  __________[13/308]  Fresh graduate S1 Sistem Informasi
  ________________  Old len: 5 __ New len: 5
  ________________  O O B-Tingkat_pendidikan O O
  ________________  O O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi
  ________________  0 0 0 1 2
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Fresh graduate S1 Sistem Informasi',  `label`='O O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi',  `space_length`='5',  `bidang_studi` = 1  WHERE id = '27788'
  ________
  __________[14/308]  Lulusan SMK Teknik Komputer atau D3 / S1 Teknik Informatika , Teknik Komputer , Sistem Informasi .
  ________________  Old len: 17 __ New len: 17
  ________________  O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O B-Tingkat_pendidikan O B-Tingkat_pendidikan B-Bidang_studi O O B-Bidang_studi I-Bidang_studi O O O O
  ________________  O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O B-Tingkat_pendidikan O B-Tingkat_pendidikan B-Bidang_studi O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O
  ________________  0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Lulusan SMK Teknik Komputer atau D3 / S1 Teknik Informatika , Teknik Komputer , Sistem Informasi .',  `label`='O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O B-Tingkat_pendidikan O B-Tingkat_pendidikan B-Bidang_studi O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O',  `space_length`='17',  `bidang_studi` = 1  WHERE id = '29116'
  ________
  __________[15/308]  Pendidikan Min d3 Teknik Komputer , Sistem Informasi , Teknik Informatika , Ilmu Komputer , Teknik Fisika , Matematika , Fisika atau yang sederajat .
  ________________  Old len: 25 __ New len: 25
  ________________  O O O B-Bidang_studi I-Bidang_studi O O O O B-Bidang_studi O O O O O B-Bidang_studi O O O O O O O O O
  ________________  O O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O B-Bidang_studi O O O O O B-Bidang_studi O O O O O O O O O
  ________________  0 0 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan Min d3 Teknik Komputer , Sistem Informasi , Teknik Informatika , Ilmu Komputer , Teknik Fisika , Matematika , Fisika atau yang sederajat .',  `label`='O O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O B-Bidang_studi O O O O O B-Bidang_studi O O O O O O O O O',  `space_length`='25',  `bidang_studi` = 1  WHERE id = '29513'
  ________
  __________[16/308]  Pendidikan minimal S1 IT / Sistem Informasi
  ________________  Old len: 7 __ New len: 7
  ________________  O O B-Tingkat_pendidikan O O O O
  ________________  O O B-Tingkat_pendidikan O O B-Bidang_studi I-Bidang_studi
  ________________  0 0 0 0 0 1 2
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan minimal S1 IT / Sistem Informasi',  `label`='O O B-Tingkat_pendidikan O O B-Bidang_studi I-Bidang_studi',  `space_length`='7',  `bidang_studi` = 1  WHERE id = '30140'
  ________
  __________[17/308]  Teknologi Informasi / Sistem Informasi
  ________________  Old len: 5 __ New len: 5
  ________________  O O O O O
  ________________  O O O B-Bidang_studi I-Bidang_studi
  ________________  0 0 0 1 2
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Teknologi Informasi / Sistem Informasi',  `label`='O O O B-Bidang_studi I-Bidang_studi',  `space_length`='5',  `bidang_studi` = 1  WHERE id = '33579'
  ________
  __________[18/308]  Lulusan Sarjana Teknik Informatika atau Sarjana Sistem Informasi dari Universitas terkemuka
  ________________  Old len: 11 __ New len: 11
  ________________  O O O O O O O O O O O
  ________________  O O O O O O B-Bidang_studi I-Bidang_studi O O O
  ________________  0 0 0 0 0 0 1 2 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Lulusan Sarjana Teknik Informatika atau Sarjana Sistem Informasi dari Universitas terkemuka',  `label`='O O O O O O B-Bidang_studi I-Bidang_studi O O O',  `space_length`='11',  `bidang_studi` = 1  WHERE id = '36751'
  ________
  __________[19/308]  Pendidikan minimal S1 Semua jurusan ( Lulusan Informatika / Teknik Informatika / Ilmu Komputer / Sistem Informasi / Jurusan lain terkait lebih disukai )
  ________________  Old len: 24 __ New len: 24
  ________________  O O B-Tingkat_pendidikan O O O O O O O O O O O O O O O O O O O O O
  ________________  O O B-Tingkat_pendidikan O O O O O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O
  ________________  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan minimal S1 Semua jurusan ( Lulusan Informatika / Teknik Informatika / Ilmu Komputer / Sistem Informasi / Jurusan lain terkait lebih disukai )',  `label`='O O B-Tingkat_pendidikan O O O O O O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O',  `space_length`='24',  `bidang_studi` = 1  WHERE id = '37852'
  ________
  __________[20/308]  Pendidikan D3 / S1 Teknik Informatika , Sistem Informasi
  ________________  Old len: 9 __ New len: 9
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O O O
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi
  ________________  0 0 0 0 0 0 0 1 2
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan D3 / S1 Teknik Informatika , Sistem Informasi',  `label`='O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O B-Bidang_studi I-Bidang_studi',  `space_length`='9',  `bidang_studi` = 1  WHERE id = '38081'
  ________
  __________[21/308]  S1 Teknik Elektro / IT / Sistem Informasi , IPK Minimal 2 , 85 .
  ________________  Old len: 15 __ New len: 15
  ________________  B-Tingkat_pendidikan O O O O O O O O O O O O O O
  ________________  B-Tingkat_pendidikan O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O
  ________________  0 0 0 0 0 0 1 2 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='S1 Teknik Elektro / IT / Sistem Informasi , IPK Minimal 2 , 85 .',  `label`='B-Tingkat_pendidikan O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O',  `space_length`='15',  `bidang_studi` = 1  WHERE id = '42340'
  ________
  __________[22/308]  mahasiswa semester 8 Jurusan Teknik Informatika / Sistem Informasi dari semua jurusan yang sudah tidak padat kegiatan pembelajaran .
  ________________  Old len: 20 __ New len: 19 __ WARNING!
  ________________  O O O O O O O O O O O O O O O O O O O O
  ________________  O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O
  ________________  0 0 0 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='mahasiswa semester 8 Jurusan Teknik Informatika / Sistem Informasi dari semua jurusan yang sudah tidak padat kegiatan pembelajaran .',  `label`='O O O O O O O B-Bidang_studi I-Bidang_studi O O O O O O O O O O',  `space_length`='19',  `bidang_studi` = 1  WHERE id = '47930'
  ________
  __________[23/308]  - Memahami ruang lingkup dalam bidang Teknik Informatika / Sistem Informasi .
  ________________  Old len: 14 __ New len: 12 __ WARNING!
  ________________  O O O O O O O O O O O O O O
  ________________  O O O O O O O O O B-Bidang_studi I-Bidang_studi O
  ________________  0 0 0 0 0 0 0 0 0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='- Memahami ruang lingkup dalam bidang Teknik Informatika / Sistem Informasi .',  `label`='O O O O O O O O O B-Bidang_studi I-Bidang_studi O',  `space_length`='12',  `bidang_studi` = 1  WHERE id = '47934'
  ________
  __________[24/308]  Memiliki pengetahuan sistem informasi akuntansi
  ________________  Old len: 5 __ New len: 5
  ________________  O O O O O
  ________________  O O B-Bidang_studi I-Bidang_studi O
  ________________  0 0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Memiliki pengetahuan sistem informasi akuntansi',  `label`='O O B-Bidang_studi I-Bidang_studi O',  `space_length`='5',  `bidang_studi` = 1  WHERE id = '48540'
  ________
  __________[25/308]  Pendidikan Min D3 / S1 ( Teknik Informatika / Sistem Informasi / Teknik Komputer )
  ________________  Old len: 15 __ New len: 15
  ________________  O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Bidang_studi O O O O O B-Bidang_studi I-Bidang_studi O
  ________________  O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Bidang_studi O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O
  ________________  0 0 0 0 0 0 0 0 0 1 2 0 0 0 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Pendidikan Min D3 / S1 ( Teknik Informatika / Sistem Informasi / Teknik Komputer )',  `label`='O O B-Tingkat_pendidikan O B-Tingkat_pendidikan O B-Bidang_studi O O B-Bidang_studi I-Bidang_studi O B-Bidang_studi I-Bidang_studi O',  `space_length`='15',  `bidang_studi` = 1  WHERE id = '55456'
  ________
  __________[26/308]  Memahami sistem informasi perusahaan
  ________________  Old len: 5 __ New len: 4 __ WARNING!
  ________________  O O O O O
  ________________  O B-Bidang_studi I-Bidang_studi O
  ________________  0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Memahami sistem informasi perusahaan',  `label`='O B-Bidang_studi I-Bidang_studi O',  `space_length`='4',  `bidang_studi` = 1  WHERE id = '56134'
  ________
  __________[27/308]  Minimal SMK / S1 Sistem Informasi .
  ________________  Old len: 7 __ New len: 7
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan O O O
  ________________  O B-Tingkat_pendidikan O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O
  ________________  0 0 0 0 1 2 0
  __________updated_data_val()
  ____________UPDATE `jobdescription` SET  `name`='Minimal SMK / S1 Sistem Informasi .',  `label`='O B-Tingkat_pendidikan O B-Tingkat_pendidikan B-Bidang_studi I-Bidang_studi O',  `space_length`='7',  `bidang_studi` = 1  WHERE id = '59066'
  ________
  __________[28/308]  D1 Sistem Informasi / Teknik informatika .
  ________________  Old len: 8 __ New len: 7 __ WARNING!
  ________________  O O O O O O O O
  ________________  O B-Bidang_studi I-Bidang_studi O O O O
  ________________  0 1 2 0 0 0 0
  __________updated_data_val()