<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

<ipython-input-1-baf368f80de7>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [6]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [8]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Length: 11552, dtype: bool

In [9]:
# your code goes here
df.duplicated().value_counts()

False    11398
True       154
Name: count, dtype: int64

In [10]:
df['Respondent'].duplicated().value_counts()

Respondent
False    11398
True       154
Name: count, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [11]:
# your code goes here
newdf = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [12]:
# your code goes here
newdf.duplicated().value_counts()

False    11398
Name: count, dtype: int64

In [13]:
newdf['Respondent'].duplicated().value_counts()

Respondent
False    11398
Name: count, dtype: int64

In [17]:
newdf['EdLevel'].isnull().value_counts()

EdLevel
False    11286
True       112
Name: count, dtype: int64

In [19]:
df['Country'].isnull().value_counts()

Country
False    11552
Name: count, dtype: int64

In [20]:
df['Country'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11552 entries, 0 to 11551
Series name: Country
Non-Null Count  Dtype
--------------  -----
11552 non-null  object
dtypes: object(1)
memory usage: 45.2+ KB

In [21]:
newdf['Country'].isnull().value_counts()

Country
False    11398
Name: count, dtype: int64

In [22]:
newdf['Country'].info()

<class 'pandas.core.series.Series'>
Index: 11398 entries, 0 to 11551
Series name: Country
Non-Null Count  Dtype
--------------  -----
11398 non-null  object
dtypes: object(1)
memory usage: 133.6+ KB

In [30]:
newdf['Employment'].value_counts()

Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64

In [31]:
newdf['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [35]:
newdf['ConvertedComp'].median()

57745.0

In [39]:
(newdf['CompFreq'] == 'Yearly').value_counts()

CompFreq
True     6073
False    5325
Name: count, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [41]:
newdf.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [42]:
newdf = newdf.replace('?', np.NaN)

In [43]:
# your code goes here
missing_column = newdf.isnull()

In [44]:
for column in list(missing_column.columns):
    print(missing_column[column].value_counts())
    print("")

Respondent
False    11398
Name: count, dtype: int64

MainBranch
False    11398
Name: count, dtype: int64

Hobbyist
False    11398
Name: count, dtype: int64

OpenSourcer
False    11398
Name: count, dtype: int64

OpenSource
False    11317
True        81
Name: count, dtype: int64

Employment
False    11398
Name: count, dtype: int64

Country
False    11398
Name: count, dtype: int64

Student
False    11347
True        51
Name: count, dtype: int64

EdLevel
False    11286
True       112
Name: count, dtype: int64

UndergradMajor
False    10661
True       737
Name: count, dtype: int64

EduOther
False    11234
True       164
Name: count, dtype: int64

OrgSize
False    11302
True        96
Name: count, dtype: int64

DevType
False    11333
True        65
Name: count, dtype: int64

YearsCode
False    11389
True         9
Name: count, dtype: int64

Age1stCode
False    11385
True        13
Name: count, dtype: int64

YearsCodePro
False    11382
True        16
Name: count, dtype: int64

CareerSat
False    11398
Name: count, dtype: int64

JobSat
False    11397
True         1
Name: count, dtype: int64

MgrIdiot
False    10905
True       493
Name: count, dtype: int64

MgrMoney
False    10901
True       497
Name: count, dtype: int64

MgrWant
False    10905
True       493
Name: count, dtype: int64

JobSeek
False    11398
Name: count, dtype: int64

LastHireDate
False    11398
Name: count, dtype: int64

LastInt
False    10985
True       413
Name: count, dtype: int64

FizzBuzz
False    11361
True        37
Name: count, dtype: int64

JobFactors
False    11395
True         3
Name: count, dtype: int64

ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

CurrencySymbol
False    11398
Name: count, dtype: int64

CurrencyDesc
False    11398
Name: count, dtype: int64

CompTotal
False    10589
True       809
Name: count, dtype: int64

CompFreq
False    11192
True       206
Name: count, dtype: int64

ConvertedComp
False    10582
True       816
Name: count, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

WorkPlan
False    11277
True       121
Name: count, dtype: int64

WorkChallenge
False    11234
True       164
Name: count, dtype: int64

WorkRemote
False    11390
True         8
Name: count, dtype: int64

WorkLoc
False    11366
True        32
Name: count, dtype: int64

ImpSyn
False    11393
True         5
Name: count, dtype: int64

CodeRev
False    11397
True         1
Name: count, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

UnitTests
False    11369
True        29
Name: count, dtype: int64

PurchaseHow
False    11202
True       196
Name: count, dtype: int64

PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

DevEnviron
False    11369
True        29
Name: count, dtype: int64

OpSys
False    11364
True        34
Name: count, dtype: int64

Containers
False    11316
True        82
Name: count, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

BetterLife
False    11300
True        98
Name: count, dtype: int64

ITperson
False    11363
True        35
Name: count, dtype: int64

OffOn
False    11360
True        38
Name: count, dtype: int64

SocialMedia
False    11105
True       293
Name: count, dtype: int64

Extraversion
False    11378
True        20
Name: count, dtype: int64

ScreenName
False    10891
True       507
Name: count, dtype: int64

SOVisit1st
False    11073
True       325
Name: count, dtype: int64

SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

SOVisitTo
False    11397
True         1
Name: count, dtype: int64

SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

SOAccount
False    11397
True         1
Name: count, dtype: int64

SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

SOJobs
False    11392
True         6
Name: count, dtype: int64

EntTeams
False    11393
True         5
Name: count, dtype: int64

SOComm
False    11398
Name: count, dtype: int64

WelcomeChange
False    11313
True        85
Name: count, dtype: int64

SONewContent
False    9433
True     1965
Name: count, dtype: int64

Age
False    11111
True       287
Name: count, dtype: int64

Gender
False    11325
True        73
Name: count, dtype: int64

Trans
False    11275
True       123
Name: count, dtype: int64

Sexuality
False    10856
True       542
Name: count, dtype: int64

Ethnicity
False    10723
True       675
Name: count, dtype: int64

Dependents
False    11258
True       140
Name: count, dtype: int64

SurveyLength
False    11379
True        19
Name: count, dtype: int64

SurveyEase
False    11384
True        14
Name: count, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [15]:
# your code goes here
missing_column['WorkLoc'].value_counts()

WorkLoc
False    11366
True        32
Name: count, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [16]:
# your code goes here
newdf['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [17]:
#make a note of the majority value here, for future reference
#

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [18]:
#newdf.info()

In [19]:
a = newdf['WorkLoc'].mode()

In [20]:
a

0    Office
Name: WorkLoc, dtype: object

In [21]:
a.values

array(['Office'], dtype=object)

In [22]:
str(a.values)

"['Office']"

In [23]:
# your code goes here
newdf['WorkLoc'].replace(np.NaN, 'Office', inplace = True)

<ipython-input-23-e90776d39604>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  newdf['WorkLoc'].replace(np.NaN, 'Office', inplace = True)

In [24]:
newdf['WorkLoc'].value_counts()

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [26]:
# your code goes here
newdf['WorkLoc'].info()

<class 'pandas.core.series.Series'>
Index: 11398 entries, 0 to 11551
Series name: WorkLoc
Non-Null Count  Dtype
--------------  -----
11398 non-null  object
dtypes: object(1)
memory usage: 133.6+ KB

In [ ]:
newdf.info()

In [28]:
newdf.shape

(11398, 85)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [45]:
print(newdf['CompFreq'].unique())

['Yearly' 'Monthly' 'Weekly' nan]

In [46]:
newdf[['CompTotal', 'CompFreq']]

       CompTotal CompFreq
0        61000.0   Yearly
1       138000.0   Yearly
2        90000.0   Yearly
3        29000.0  Monthly
4        90000.0   Yearly
...          ...      ...
11547   130000.0   Yearly
11548    74400.0   Yearly
11549   105000.0   Yearly
11550    80000.0   Yearly
11551        NaN      NaN

[11398 rows x 2 columns]

In [35]:
newdf['CompFreq'].value_counts()#unique()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [36]:
missing_column['CompFreq'].value_counts()#unique()

CompFreq
False    11192
True       206
Name: count, dtype: int64

In [53]:
newdf['CompFreq'][newdf['CompFreq'] == 'Monthly'] #.head()

3        Monthly
5        Monthly
6        Monthly
9        Monthly
10       Monthly
          ...
11539    Monthly
11540    Monthly
11541    Monthly
11545    Monthly
11546    Monthly
Name: CompFreq, Length: 4788, dtype: object

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [56]:
def normalize_annual_compensation(row):
    if row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        # Handle cases where frequency is not recognized
        return row['CompTotal']

newdf['NormalizedAnnualCompensation'] = newdf.apply(normalize_annual_compensation, axis=1)

print(newdf['CompTotal'][newdf['CompFreq']  == 'Weekly'])

12         2000.0
13        22000.0
46        67800.0
76       137000.0
135           NaN
           ...
11401     90000.0
11407      2250.0
11417     65000.0
11430     90000.0
11443      2880.0
Name: CompTotal, Length: 331, dtype: float64

In [58]:
newdf['NormalizedAnnualCompensation'].median()

100000.0

In [63]:
newdf.head(15)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0
5,19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy,114000.0
6,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,36000.0
7,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,103000.0
8,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,69000.0
9,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy,96000.0
10,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult,84000.0
11,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy,114000.0
12,29,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Tech articles written by other developers;Cour...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,104000.0
13,32,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,Associate degree,"Information systems, information technology, o...",...,Tech articles written by other developers;Indu...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,1144000.0
14,38,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Czech Republic,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,NaN,44.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult,1152000.0

In [54]:
# What i was thinking. Couldnt make it work. 

if newdf[[newdf['CompFreq'] == 'Monthly']:
    newdf['NormalizedAnnualCompensation'] = newdf[['CompTotal']]*12
elif newdf['CompFreq'] == 'weekly':
    newdf['NormalizedAnnualCompensation'] = newdf[['CompTotal']]*52
else:
    newdf['NormalizedAnnualCompensation'] =newdf[['CompTotal']]

<class 'ValueError'>: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
# your code goes here

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>