## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia

In [2]:
#import all required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [110]:
rank = []
name = []
artist = []
date = []
views =[]

In [111]:
#let's extract all web elements having rank as parent tag
rank_tags = driver.find_elements(By.XPATH, '//table[@class = "wikitable sortable jquery-tablesorter"]')

#extracting rank
rank_test = []

for i in rank_tags:
    rank_test.append(i.text.split("\n"))
rank_try = rank_test[0][2:32]

rank = [j.split(".")[0] for j in rank_try]

len(rank)

30

In [112]:
#let's extract all web elements having name as parent tag
name_tags = driver.find_elements(By.XPATH, '//table[@class = "wikitable sortable jquery-tablesorter"]')

#extracting name
name_test = []

for i in name_tags:
    name_test.append(i.text.split("\n"))
name_try = name_test[0][2:32]

name = [j.replace('"','.').split(".")[2] for j in name_try]

len(name)

30

In [113]:
#let's extract all web elements having artist as parent tag
artist_tags = driver.find_elements(By.XPATH, '//table[@class = "wikitable sortable jquery-tablesorter"]')

#extracting artist
artist_test = []

for i in artist_tags:
    artist_test.append(i.text.split("\n"))
artist_try = name_test[0][2:32]

artist_try1 = [j.replace(']','.').split(".")[2] for j in artist_try]

artist = [j.rsplit(" ",1)[0] for j in artist_try1]

len(artist)

30

In [114]:
#let's extract all web elements having date as parent tag
date_tags = driver.find_elements(By.XPATH, '//table[@class = "wikitable sortable jquery-tablesorter"]')

#extracting date
date_test = []

for i in date_tags:
    date_test.append(i.text.split("\n"))
date_try = date_test[0][2:32]

date_try1 = [j.replace('[','.').split(".")[3] for j in date_try]

date = [j.split(" ",1)[1] for j in date_try1]

len(date)

30

In [115]:
#let's extract all web elements having views as parent tag
views_tags = driver.find_elements(By.XPATH, '//table[@class = "wikitable sortable jquery-tablesorter"]')

#extracting views
views_test = []

for i in views_tags:
    views_test.append(i.text.split("\n"))
views_try = views_test[0][2:32]

views_try1 = [j.split("[")[1].strip() for j in views_try]
views_try1

views = [j.rsplit(" ",4)[1] for j in views_try1]
len(views)

30

In [116]:
youtube = pd.DataFrame()
youtube['Rank'] = rank
youtube['Name'] = name
youtube['Artist'] = artist
youtube['Upload Date'] = date
youtube['Views (in Billions)'] = views
youtube

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.09
1,2,Despacito,Luis Fonsi,"January 12, 2017",7.94
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.41
3,4,Shape of You,Ed Sheeran,"January 30, 2017",5.78
4,5,See You Again,Wiz Khalifa,"April 6, 2015",5.59
5,6,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.55
6,7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.79
7,8,Uptown Funk,Mark Ronson,"November 19, 2014",4.65
8,9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.60
9,10,Gangnam Style,Psy,"July 15, 2012",4.51
10,11,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.50
11,12,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.25
12,13,Dame Tu Cosita,El Chombo,"April 5, 2018",4.01
13,14,Sugar,Maroon 5,"January 14, 2015",3.74
14,15,Roar,Katy Perry,"September 5, 2013",3.63
15,16,Counting Stars,OneRepublic,"May 31, 2013",3.62
16,17,Sorry,Justin Bieber,"October 22, 2015",3.57
17,18,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.48
18,19,Axel F,Crazy Frog,"June 16, 2009",3.46
19,20,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.32
20,21,Dark Horse,Katy Perry,"February 20, 2014",3.32
21,22,Faded,Alan Walker,"December 3, 2015",3.32
22,23,Girls Like You,Maroon 5,"May 31, 2018",3.32
23,24,Let Her Go,Passenger,"July 25, 2012",3.27
24,25,Bailando,Enrique Iglesias,"April 11, 2014",3.25
25,26,Lean On,Major Lazer,"March 22, 2015",3.24
26,27,Perfect,Ed Sheeran,"November 9, 2017",3.22
27,28,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.21
28,29,Shake It Off,Taylor Swift,"August 18, 2014",3.19
29,30,Mi Gente,J Balvin,"June 29, 2017",3.12

In [117]:
driver.close()

## Q2. Scrape the details team India’s international fixtures from bcci.tv

In [3]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [4]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [7]:
#Finding web element for Internatinal tab
search_int = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search_int

#Clicking international tab
search_int.click()

In [8]:
#Finding web element for Fixtures tab
search_fix = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[1]/a")
search_fix

#Clicking Fixtures tab
search_fix.click()

In [35]:
title = []
series = []
place = []
date = []
time =[]

In [36]:
#let's extract all web elements having match title as parent tag
title_tags = driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')

#extracting match title

for i in title_tags:
    title.append(i.text.split("-")[0].strip())

len(title)

8

In [37]:
#let's extract all web elements having series as parent tag
series_tags = driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')

#extracting series

for i in series_tags:
    series.append(i.text.split("-")[0].strip())

len(series)

8

In [38]:
#let's extract all web elements having place as parent tag
place_tags = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')

#extracting place

for i in place_tags:
    place.append(i.text)

len(place)

8

In [39]:
#let's extract all web elements having date as parent tag
date_tags = driver.find_elements(By.XPATH, '//div[@class="match-card-left match-schedule"]')

#extracting date

for i in date_tags:
    date.append(i.text)

len(date)

8

In [40]:
#let's extract all web elements having time as parent tag
time_tags = driver.find_elements(By.XPATH, '//div[@class="match-card-right match-schedule "]')

#extracting time

for i in time_tags:
    time.append(i.text)

len(time)

8

In [41]:
match = pd.DataFrame()
match['Match title'] = title
match['Series'] = series
match['Place'] = place
match['Date'] = date
match['Time'] = time
match

,Match title,Series,Place,Date,Time
0,1st ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",18 AUG 2022,12:45 PM IST
1,2nd ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",20 AUG 2022,12:45 PM IST
2,3rd ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",22 AUG 2022,12:45 PM IST
3,1st T20I,ASIA CUP 2022,"Dubai International Cricket Stadium,",28 AUG 2022,7:30 PM IST
4,2nd T20I,ASIA CUP 2022,"Dubai International Cricket Stadium,",31 AUG 2022,7:30 PM IST
5,1st T20I,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM IST
6,2nd T20I,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM IST
7,3rd T20I,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM IST

In [42]:
driver.close()

### Q3. Scrape the details of selenium exception from guru99.com

In [43]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [44]:
url = 'http://www.guru99.com/'
driver.get(url)

In [48]:
#Finding web element for serach field
search_field = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
search_field

#Write on search jfield
search_field.send_keys("selenium exception handling")

In [49]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")

#Clicking search button
search_but.click()

In [50]:
#Finding web element for selenium exception handling from drop down
search_drop = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a")

#Clicking selenium exception handling drop down
search_drop.click()

In [52]:
#Switching focus to second tab which just opened and is exception handling page
driver.switch_to.window(driver.window_handles[1])

In [71]:
name = []
des = []

In [72]:
#let's extract all web elements having name as parent tag
name_tags = driver.find_elements(By.XPATH, '//table[@class="table table-striped"]')

#extracting name
name_try = []
for i in name_tags:
    name_try.append(i.text.split("\n"))

name_try[0].pop(0)
name = [j.split(" ")[0] for j in name_try[0]]
len(name)

41

In [73]:
#let's extract all web elements having Description as parent tag
des_tags = driver.find_elements(By.XPATH, '//table[@class="table table-striped"]')

#extracting Description
des_try = []
for i in des_tags:
    des_try.append(i.text.split("\n"))

des_try[0].pop(0)
des = [j.split(" ",1)[1] for j in des_try[0]]
len(des)

41

In [74]:
exception = pd.DataFrame()
exception['Exception Name'] = name
exception['Description'] = des
exception

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [75]:
driver.quit()

### Q4. Scrape the details of State-wise GDP of India from statisticstime.com

In [185]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [186]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [187]:
#Finding web element for economic tab
search_eco = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
search_eco.click()

#Finding web element for India in drop down
search_eco = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_eco.click()

In [188]:
#Finding web element for GDP of Indian states tab
search_gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_gdp.click()

In [198]:
rank = []
state = []
gsdp19 = []
gsdp18 = []
share = []
gdp = []

In [199]:
#let's extract all web elements having rank as parent tag
rank_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting rank
rank_test = []
for i in rank_tags:
    rank_test.append(i.text.split("\n"))
    
rank = [j.split(" ",1)[0] for j in rank_test[1]]
len(rank)

33

In [200]:
#let's extract all web elements having state as parent tag
state_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting state
state_test = []
for i in state_tags:
    state_test.append(i.text.split("\n"))
    
state_try = [j.split(",")[0] for j in state_test[1]]

state_try1 = [j.split(" ",1)[1] for j in state_try]
state_try2 = [j.rsplit(" ",1)[0] for j in state_try1]

state = [j.split("-")[0] for j in state_try2]

len(state)

33

In [201]:
#let's extract all web elements having gsdp19-20 as parent tag
gsdp19_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting gsdp19-20
gsdp19_test = []
for i in gsdp19_tags:
    gsdp19_test.append(i.text.split("\n"))
    
gsdp19 = [j.rsplit(" ",6)[1] for j in gsdp19_test[1]]
len(gsdp19)

33

In [202]:
#let's extract all web elements having gsdp18-19 as parent tag
gsdp18_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting gsdp18-19
gsdp18_test = []
for i in gsdp18_tags:
    gsdp18_test.append(i.text.split("\n"))
    
gsdp18 = [j.rsplit(" ",6)[2] for j in gsdp18_test[1]]
len(gsdp18)

33

In [203]:
#let's extract all web elements having share as parent tag
share_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting share
share_test = []
for i in share_tags:
    share_test.append(i.text.split("\n"))
    
share = [j.rsplit(" ",6)[3] for j in share_test[1]]
len(share)

33

In [204]:
#let's extract all web elements having GDP as parent tag
gdp_tags = driver.find_elements(By.XPATH, '//tbody')

#extracting GDP
gdp_test = []
for i in gdp_tags:
    gdp_test.append(i.text.split("\n"))
    
gdp = [j.rsplit(" ",6)[4] for j in gdp_test[1]]
len(gdp)

33

In [205]:
economy = pd.DataFrame()
economy['RAnk'] = rank
economy['State'] = state
economy['GSDP(19-20)'] = gsdp19
economy['GSDP(18-19)'] = gsdp18
economy['Share(18-19)'] = share
economy['GDP($Billion)'] = gdp
economy

,RAnk,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [206]:
driver.close()

### Q5. Scrape the details of trending repositories on Github.com

In [485]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [486]:
url = 'https://github.com/'
driver.get(url)

In [487]:
#Finding web element for explore tab
search_exp = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
search_exp.click()

#Finding web element for trending option in drop down
search_tr = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
search_tr.click()

In [488]:
title = []
des = []
contri = []
language = []

In [489]:
#let's extract all web elements having title as parent tag
title_tags = driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]')

#extracting title
title = []
for i in title_tags:
    title.append(i.text)
    
len(title)

25

In [490]:
#Fetching url to open each description page
url = []
url_tags= driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]/a')
for i in url_tags:
    url.append(i.get_attribute('href'))
len(url)

25

In [491]:
import time

#let's extract all web elements having required parent tags and then extract required elements from them
for i in url:
    driver.get(i)
    time.sleep(3)
    
    #Extracting Description from parent tag
    try:
        des_tag = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        des.append(des_tag.text)
    except NoSuchElementException:
        des.append("-")
    
    #Extracting Expected Contributors count from parent tag
    try:
        contri_tag = driver.find_elements(By.XPATH,'//h2[@class="h4 mb-3"]')
        contri_try=[]
        for j in contri_tag:
            contri_try.append(j.text)

        #to get string with substring(only 'Contributors') in it
        contri_try1 = [i for i in contri_try if "Contributors" in i]
        contri.append(contri_try1[0].split(" ")[1])
    except NoSuchElementException:
        contri.append("-")
    
    #Extracting Language used from parent tag
    try:
        language_tag = driver.find_elements(By.XPATH,'//li[@class="d-inline"]')
        language_try = []
        for k in language_tag:
            language_try.append(k.text.replace("\n"," : "))
        language.append(language_try)
        time.sleep(3)
    except NoSuchElementException:
        language.append("-")
        time.sleep(3)

In [492]:
len(des)

25

In [493]:
len(contri)

25

In [494]:
len(language)

25

In [495]:
git = pd.DataFrame()
git['Repository Title'] = title
git['Repository Description'] = des
git['Contributor count'] = contri
git['Language Used'] = language
git

,Repository Title,Repository Description,Contributor count,Language Used
0,withastro / astro,Build faster websites with Astro's next-gen is...,300,"[TypeScript : 54.9%, JavaScript : 41.8%, Astro..."
1,novuhq / novu,Open-source notification infrastructure for pr...,75,"[TypeScript : 90.7%, JavaScript : 4.0%, HTML :..."
2,labmlai / annotated_deep_learning_paper_implem...,50! Implementations/tutorials of deep learning...,13,"[Jupyter Notebook : 57.4%, Python : 42.6%]"
3,ange-yaghi / engine-sim,Combustion engine simulator that generates rea...,3,"[C++ : 98.3%, CMake : 1.3%, C : 0.4%]"
4,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,115,"[Python : 98.0%, Shell : 2.0%]"
5,dragonflydb / dragonfly,A modern replacement for Redis and Memcached,18,"[C++ : 52.1%, C : 46.5%, Other : 1.4%]"
6,craftzdog / dotfiles-public,My personal dotfiles,7,"[Lua : 81.4%, Shell : 14.0%, PowerShell : 4.6%]"
7,Baiyuetribe / paper2gui,Convert AI papers to GUI，Make it easy and conv...,-,[Jupyter Notebook : 100.0%]
8,eugeneyan / applied-ml,Papers & tech blogs by companies sharing their...,38,[]
9,microsoft / AI-For-Beginners,"12 Weeks, 24 Lessons, AI for All!",12,"[Jupyter Notebook : 99.8%, Python : 0.1%, HTML..."
10,iptv-org / iptv,Collection of publicly available IPTV channels...,182,"[JavaScript : 98.7%, Shell : 1.3%]"
11,TheAlgorithms / Python,All Algorithms implemented in Python,826,[Python : 100.0%]
12,punk-security / dnsReaper,dnsReaper - subdomain takeover tool for attack...,10,[Python : 100.0%]
13,pacocoursey / cmdk,"Fast, unstyled command menu React component.",6,"[TypeScript : 75.7%, SCSS : 24.1%, Other : 0.2%]"
14,jwasham / coding-interview-university,A complete computer science study plan to beco...,257,[]
15,josephmisiti / awesome-machine-learning,A curated list of awesome Machine Learning fra...,547,[Python : 100.0%]
16,dotnet / aspnetcore,ASP.NET Core is a cross-platform .NET framewor...,"1,059","[C# : 87.6%, JavaScript : 4.4%, C++ : 2.2%, HT..."
17,curl / curl,A command line tool and library for transferri...,843,"[C : 77.3%, Perl : 7.8%, M4 : 6.4%, DIGITAL Co..."
18,datahub-project / datahub,The Metadata Platform for the Modern Data Stack,259,"[Java : 45.3%, Python : 34.3%, TypeScript : 18..."
19,imbushuo / EnergyStar,A terrible application setting SV2 Efficiency ...,3,"[C# : 70.0%, PowerShell : 30.0%]"
20,nv-tlabs / ASE,-,-,[Python : 100.0%]
21,juicedata / juicefs,JuiceFS is a distributed POSIX file system bui...,64,"[Go : 81.8%, Java : 12.6%, Shell : 3.4%, C : 1..."
22,enaqx / awesome-react,A collection of awesome things regarding React...,605,[]
23,huggingface / transformers,Transformers: State-of-the-art Machine Learnin...,"1,360","[Python : 99.6%, Cuda : 0.2%, Shell : 0.1%, Do..."
24,solidjs / solid,"A declarative, efficient, and flexible JavaScr...",113,"[TypeScript : 71.1%, JavaScript : 28.6%, CSS :..."

In [496]:
driver.close()

### Q6. Scrape the details of top 100 songs on billiboard.com

In [522]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [523]:
url = 'https://www.billboard.com/'
driver.get(url)

time.sleep(2)
driver.execute_script("window.stop();")

In [524]:
#Finding web element for Charts tab
search_chart = driver.find_element(By.XPATH,"/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
search_chart.click()

In [532]:
#Finding web element for Hot 100 tab
search_hot = driver.find_element(By.XPATH,"/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
search_hot.click()

time.sleep(2)
driver.execute_script("window.stop();")

In [591]:
song = []
artist = []
last = []
peak = []
weeks = []

In [592]:
#let's extract all web elements having Song name as parent tag
song_tags = driver.find_elements(By.XPATH, '//h3[@id="title-of-a-story"]')

#extracting Song name
song_try = []
for i in song_tags:
    if i.text != '':
        song_try.append(i.text)
        a=a+1
song = song_try[0:100]
len(song)

100

In [593]:
#let's extract all web elements having Artist name as parent tag
artist_tags = driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet" or @class = "c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')

#extracting Artist name
for i in artist_tags:
    artist.append(i.text)
    
len(artist)

100

In [594]:
#let's extract all web elements having Last Week Rank as parent tag
last_tags = driver.find_elements(By.XPATH, '//li[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet" or @class = "o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]')

#extracting Last week rank
a=0
for i in last_tags:
    if a%2 == 0:
        last.append(i.text)
    a=a+1                         
len(last)

100

In [595]:
#let's extract all web elements having Peak rank as parent tag
peak_tags = driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
#extracting Peak rank
a =0
for i in peak_tags:
    if a%2 !=0: 
        peak.append(i.text)
    a=a+1
len(peak)

100

In [596]:
#let's extract all web elements having Weeks on board as parent tag
weeks_tags = driver.find_elements(By.XPATH, '//li[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet" or @class = "o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]')

#extracting Weeks on board
a=0
for i in weeks_tags:
    if a%2 != 0:
        weeks.append(i.text)
    a=a+1                         
len(weeks)

100

In [597]:
hits = pd.DataFrame()
hits['Song Name'] = song
hits['Artist Name'] = artist
hits['Last week Rank'] = last
hits['Peak Rank'] = peak
hits['Weeks on board'] = weeks
hits

,Song Name,Artist Name,Last week Rank,Peak Rank,Weeks on board
0,Break My Soul,Beyonce,6,1,7
1,About Damn Time,Lizzo,1,1,16
2,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

In [598]:
driver.close()

### Q7. Scrape the details of Data science recruiters from naukri.com

In [681]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [682]:
url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [683]:
#Finding web element for All recruiters option
search_chart = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[2]/div/div/div/ul/li[1]/a")
search_chart.click()

In [684]:
#Switching focus to second tab which just opened and is All recruiters option
driver.switch_to.window(driver.window_handles[1])

In [685]:
#Finding web element for Skill, Designations, Companies field
search_job = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_job

In [686]:
#Write on search job bar
search_job.send_keys("Data Science")

In [687]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")

#Clicking search button
search_but.click()

In [688]:
name = []
desig = []
company = []
skills = []
loc = []

In [689]:
#let's extract all web elements having Name as parent tag
name_tags = driver.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')

#extracting Names
for i in name_tags:
    name.append(i.text)

len(name)

50

In [690]:
#let's extract all web elements having Designation as parent tag
desig_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')

#extracting Designation
for i in desig_tags:
    desig.append(i.text)

len(desig)

50

In [691]:
#let's extract all web elements having Company as parent tag
company_tags = driver.find_elements(By.XPATH, '//a[@class="ellipsis"]')

#extracting Company
a = 0
for i in company_tags:
    if a%2 !=0:
        company.append(i.text)
    a=a+1
len(company)

50

In [692]:
#let's extract all web elements having Skills required as parent tag
skills_tags = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')

#extracting Skills required
for i in skills_tags:
    skills.append(i.text)
len(skills)

50

In [693]:
#Fetching url to open each description page
url = []
url_tags= driver.find_elements(By.XPATH, '//a[@class="ellipsis"]')
a = 0 
for i in url_tags:
    if a%2 == 0:
        url.append(i.get_attribute('href'))
    a=a+1
len(url)

50

In [712]:
loc = []

In [713]:
import time

#let's extract all web elements having required parent tags and then extract required elements from them
for i in url:
    driver.get(i)
    time.sleep(2)
    loc_test = []
    #Extracting Location from parent tag
    try:
        loc_tag = driver.find_elements(By.XPATH,'//a[@class="fl ellipsis widLrg"]')
        for i in loc_tag:
            loc_test.append(i.text)
        loc.append(loc_test[1])
        time.sleep(2)
    except:
        loc.append("-")
        time.sleep(2)

In [714]:
len(loc)

50

In [715]:
job = pd.DataFrame()
job['Name'] = name
job['Designation'] = desig
job['Company'] = company
job['Skills they hire for'] = skills
job['Location'] = loc
job

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",

In [716]:
driver.quit()

### Q8. Scrape the details of Highest selling novels

In [718]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [719]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [781]:
book = []
author =[]
sold = []
pub = []
genre = []

In [782]:
#let's extract all web elements having Book Name as parent tag
book_tags = driver.find_elements(By.XPATH, '//td')

#extracting Book Name required
book_try=[]
for i in book_tags:
    book_try.append(i.text)
book_try.pop(0)

for i in range(1,600,6):
    book.append(book_try[i:i+1][0])
len(book)

100

In [783]:
#let's extract all web elements having Author Name as parent tag
author_tags = driver.find_elements(By.XPATH, '//td')

#extracting Author Name required
author_try=[]
for i in author_tags:
    author_try.append(i.text)
author_try.pop(0)

for i in range(2,600,6):
    author.append(author_try[i:i+1][0])
len(author)

100

In [784]:
#let's extract all web elements having Volumes sold as parent tag
sold_tags = driver.find_elements(By.XPATH, '//td')

#extracting Volumes sold
sold_try=[]
for i in sold_tags:
    sold_try.append(i.text)
sold_try.pop(0)

for i in range(3,600,6):
    sold.append(sold_try[i:i+1][0])
len(sold)

100

In [785]:
#let's extract all web elements having Publisher as parent tag
pub_tags = driver.find_elements(By.XPATH, '//td')

#extracting Publisher
pub_try=[]
for i in pub_tags:
    pub_try.append(i.text)
pub_try.pop(0)

for i in range(4,600,6):
    pub.append(pub_try[i:i+1][0])
len(pub)

100

In [786]:
#let's extract all web elements having Genre as parent tag
genre_tags = driver.find_elements(By.XPATH, '//td')

#extracting Genre
genre_try=[]
for i in genre_tags:
    genre_try.append(i.text)
genre_try.pop(0)

for i in range(5,600,6):
    genre.append(genre_try[i:i+1][0])
len(genre)

100

In [787]:
bk = pd.DataFrame()
bk['Book Name'] = book
bk['Author Name'] = author
bk['Volume Sold'] = sold
bk['Publisher'] = pub
bk['Genre'] = genre
bk

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [788]:
driver.close()

### Q9. Scrape the details most watched tv series of all time from imdb.com

In [789]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [790]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [816]:
name = []
year = []
genre = []
tim = []
rat =[]
vote = []

In [817]:
#let's extract all web elements having Name as parent tag
name_tags = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')

#extracting Name
name_try=[]
for i in name_tags:
    name_try.append(i.text)
name = [j.replace(".","(").split("(")[1].strip() for j in name_try]
len(name)

100

In [818]:
#let's extract all web elements having Year as parent tag
year_tags = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')

#extracting Year
year_try=[]
for i in year_tags:
    year_try.append(i.text)
year = [j.replace(")","(").split("(")[1].strip() for j in name_try]
len(year)

100

In [819]:
#let's extract all web elements having Genre as parent tag
genre_tags = driver.find_elements(By.XPATH, '//span[@class="genre"]')

#extracting Genre
for i in genre_tags:
    genre.append(i.text)

len(genre)

100

In [820]:
#let's extract all web elements having Run Time as parent tag
tim_tags = driver.find_elements(By.XPATH, '//span[@class="runtime"]')

#extracting Run Time
for i in tim_tags:
    tim.append(i.text)

len(tim)

100

In [821]:
#let's extract all web elements having Ratings as parent tag
rat_tags = driver.find_elements(By.XPATH, '//span[@class="ipl-rating-star__rating"]')

#extracting Ratings
for i in rat_tags:
    if (i.text != '' and i.text != 'Rate'):
        rat.append(i.text)
len(rat)

100

In [822]:
#let's extract all web elements having Votes as parent tag
vote_tags = driver.find_elements(By.XPATH, '//span[@name="nv"]')

#extracting Votes
for i in vote_tags:
    vote.append(i.text)

len(vote)

100

In [823]:
movie = pd.DataFrame()
movie['Name'] = name
movie['Year Span'] = year
movie['Genre'] = genre
movie['Runtime'] = tim
movie['Ratings'] = rat
movie['Votes'] = vote
movie

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,022,108"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,119,041"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"960,058"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"287,008"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"246,604"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"49,277"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"60,177"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8.1,"193,449"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"40,817"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"233,504"

In [824]:
driver.close()

### Q10. Details of Datasets from UCI machine learning repositories

In [825]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [826]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [827]:
#Finding web element for view all datasets option
search_data = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]")
search_data.click()

In [881]:
dname=[]

In [882]:
#let's extract all web elements having Dataset Name as parent tag
dname_tags = driver.find_elements(By.XPATH, '//b/a')

#extracting Dataset Name
for i in dname_tags:
    dname.append(i.text)
len(dname)

622

In [883]:
#Fetching url to open each description page
url = []
url_tags= driver.find_elements(By.XPATH, '//b/a')
for i in url_tags:
    url.append(i.get_attribute('href'))
len(url)

622

In [884]:
dtype=[]
task=[]
atype=[]
inst=[]
attr=[]
year=[]

In [885]:
import time

#let's extract all web elements having required parent tags and then extract required elements from them
for i in url:
    driver.get(i)
    time.sleep(2)
    dtype_test = []
    task_test = []
    atype_test = []
    inst_test=[]
    attr_test=[]
    year_test=[]
    
    #Extracting data type
    try:
        dtype_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in dtype_tag:
            dtype_test.append(i.text)
        dtype.append(dtype_test[2])
    except NoSuchElementException:
        dtype.append("N/A")
    
    #Extracting task
    try:
        task_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in task_tag:
            task_test.append(i.text)
        task.append(task_test[14])
    except NoSuchElementException:
        task.append("N/A")
        
    #Extracting Attribute type    
    try:
        atype_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in atype_tag:
            atype_test.append(i.text)
        atype.append(atype_test[8])
    except NoSuchElementException:
        atype.append("N/A")
    
    #Extracting No. of instances
    try:
        inst_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in inst_tag:
            inst_test.append(i.text)
        inst.append(inst_test[4])
    except NoSuchElementException:
        inst.append("N/A")
    
    #Extracting No.of attributes
    try:
        attr_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in attr_tag:
            attr_test.append(i.text)
        attr.append(attr_test[10])
    except NoSuchElementException:
        attr.append("N/A")
    
    #Extracting Year
    try:
        year_tag = driver.find_elements(By.XPATH,'//p[@class = "normal"]')
        for i in year_tag:
            year_test.append(i.text)
        year.append(year_test[12].split("-")[0])
    except NoSuchElementException:
        year.append("N/A")
        
    time.sleep(2)

In [886]:
dset = pd.DataFrame()
dset['Dataset Name'] = dname
dset['Data type'] = dtype
dset['TAsk'] = task
dset['Attribute Type'] = atype
dset['No. of Instances'] = inst
dset['No. of Attribute'] = attr
dset['Year'] = year
dset

,Dataset Name,Data type,TAsk,Attribute Type,No. of Instances,No. of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,N/A,Classification,N/A,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020

In [887]:
driver.close()