# Python divides the operators in the following groups:
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [5]:
!conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ShakeelA\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%
lxml-4.9.3           | 1.0 MB    | 1          |   2%
lxml-4.9.3           | 1.0 MB    | #          |  11%
lxml-4.9.3           | 1.0 MB    | ##1        |  22%
lxml-4.9.3           | 1.0 MB    | ##8        |  28%
lxml-4.9.3           | 1.0 MB    | ###2       |  33%
lxml-4.9.3           | 1.0 MB    | ###7       |  37%
lxml-4.9.3           | 1.0 MB    | ####2      |  42%
lxml-4.9.3           | 1.0 MB    | #####2     |  53%
lxml-4.9.3           | 1.0 MB    | ########5  |  86%
lxml-4.9.3           | 1.0 MB    | #########8 |  98%
lxml-4.9.3           | 1.0 MB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.1.2

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.1.2

# Python Arithmetic Operators

In [1]:
# !pip install pandas     # with ! we can run terminal commands in Jupyter notebook
# import pandas as pd

#!pip install pandas

import pandas as pd
table=pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [3]:
a : int = 7
b : int = 2

print(a + b) # addition
print(a - b) # sub
print(a * b) # mul
print(a / b) # div

9
5
14
3.5

In [5]:
a : int = 11
b : int = 3
print(a % 3) # or b

2

In [2]:
print(2**2)  # operators perform from left to right, except exponetial solve from rigth to left in operator presendence
print(2**3)

4
8

In [3]:
print( 14 / 3)
print(13.4444 /3)

4.666666666666667
4.481466666666667

In [5]:
# float // opr returns non decimal first value
print(14 // 3)
print(16.77 // 5)

4
3.0

# Python Assignment Operators

In [9]:
# this is rendering from a dataframe , we can do manipulations

table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
# +=

a : int = 7
print(a)
a = a + 2 # old way here we are owerwrting values
print(a)

# new way
a += 2  # pre increment then assignmenet 
print(a)

7
9
11

In [15]:
a : int = 10


a -= 5
print(a)

5

In [7]:
a : int = 5
b : int = 10

a *= b # or 10
print(a)

a : int = 20
b : int = 30
a *= b 
print(a)

50
20
600

In [18]:
x : int = 10
y : int = 5

x /= y
print(x)

2.0

In [20]:
x : int = 11
y : int = 3

x %= y  # remainder
print(x)

2

In [25]:
x : int = 10
y : int = 5

x //= y  # float
print(x)

#2
y = 5

y//=3

print(y)

2
1

In [24]:
x : int = 5

x **= 3                                                 # TILL 7 we should know
print(x)

125

#  Python Comparison Operators

In [26]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [27]:
# our Variables cannnot be compaired without them and on the bases of them and & or and  NOT after combining logical operators later we can make complex logics 
# can compare text, list, integers or other values. User name and password copare through these operators
# Comparison Operators return values in true or false

a : int = 7
b : int = 10 

print(a == b) # equality comparison
# a == b dry run
#7 == 10
# false

False

In [28]:
a : int = 7
b : str = '10'

print(a == b) # equality comparison  also checks for type, there is no === equal in py

False

In [ ]:
# != Not equal

a : int = 7
b : int = 7 

print(a != b) # equality comparison , way of questioning is changed , like something should not be someparticular mentioned else everthing is fine and move next
# a == b dry run
#7 == 10
# false

In [31]:
a : int = 7
b : int = 7 

print(a > b)

a : int = 10
b : int = 7 

print(a > b)

False
True

In [32]:
a : int = 8
b : int = 7 

print(a < b)

False

In [33]:
a : int = 2
b : int = 7 

print(a >= b)

False

In [1]:
a : int = 2
b : int = 7 

print(a <= b)

True

# ASCII code Range
American Standard Code for Information Interchange, it assigns standard numeric values to letters , numerals and other characters used in computer
``` 
    A = 65  # code range , starts from 65 - 90 All Alphabets, this code when take LCM with 2 it converts to   binary, which is binary numerical system 
    Z = 90

    a = 97
    z = 122
    
    0 = 48
    9 = 57
    ```

doing comparison with the help of ASCII code

In [11]:
# ASCI Code
chr(65)

'Y'

In [12]:
# this function tells ASCII code of character
ord('C')

70

In [13]:
# in this case is B greater than A
a : str = 'A' #65
b : str = 'B' #66

# 66 >= 65
print(b >= a)

True

# Python Logical Operators

In [38]:
# Logical Operators give true and False
# Logical design Circuit, all processors are made through these gates with these combination makes 8 -9 gates 
# Computer takes logical decison through them , in computer worlds we cant do any logical work if these gates are not there
# and means must and or means optional and 

table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [14]:
# and  = must 
# OR = Optional

#1         2       3        4         all comparison/ combinations must be true then returns true
print(True and True and True and True)
print(True and False and True and True)
print(True and True and False)

True
False
False

In [44]:
# and  = must 
# OR = Optional

     #1         2       3        4        any one comparison/ combinations / condition if true then returns true
print(True or True or True or True)
print(True or False or True or True)
print(False or False or False or True) # if any condition is true will return true
print(False or False or False or False) # returns false only if all conditions are false

True
True
True
False

In [46]:
# NOT works inverse, inverts any comparison

not True

False

In [15]:
name : str = "Tommy"
print(not name == "Tommy")


name1 : str = "Am Cucm"
print(not name == "Am Cucm" )

#name == "Tommy"
# "Tommy" == "Tommy"
# "Tommy"
#  True  , inverts actual to false

False
True

# Python Identity Operators

In [48]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [49]:
# we want to see that are they same at backend or different we can see through ID Function

x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))  # backend physical address is same as value is same and physcial address is same even variable names are different

140733677310216
140733677310216

In [17]:
a : int = 2334
b : int = 566
print(id(a))
print(id(b))

2111748975856
2111748976304

In [50]:
x is z

True

In [52]:
#python efficient Memory Management , shallow copy(means same Physical same) and deep copy concept , both values stored at same memory location at backend

# is & is not

x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))


x is z # (True) because memory address are same

140733677310216
140733677310216

True

In [54]:
# is & is not

x : str = 'abx'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z # true because memory address are same, if we write is it says False but if we write is not it

2230791695952
140733677310216

True

# Python Membership Operators

In [55]:
# Membership operators are used to test if a sequence is presented in an object:

table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [57]:
names : list[str] = [chr(i) for i in range(65,91)] 
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [28]:
names : list[str] = [chr (i) for i in range (65, 91)]

for i in range(len(names)):
    print(i, names [i])
    if names[i] == "D":
        print("True")
        break
# instead of this comprehensive code, code below is v useful

0 A
1 B
2 C
3 D
True

In [2]:
# in and not opertaors are v benefical perform complex finding and looping at once

names : list[str] = [chr(i) for i in range(65,91)] 
"A" in names

False

In [33]:
names :  list[str] = [chr(i) for i in range (65,91)]
"Y" in names

True

In [59]:
names : list[str] = [chr(i) for i in range(65,91)] 
"Pakistan" in names

False

In [60]:
names : list[str] = [chr(i) for i in range(65,91)] 
"D" not in names

False

In [37]:
names : list[str] = [chr(i) for i in range(65,91)] 

user_input : str = input("Enter your name") # need to enter input like A or B etc

user_input in names

True

In [6]:
# input function
names : list[str] = ["Sir Zia", "Sir Inam", "Qasim"]

uinput : str = input("Enter your name") # here returning opposite
 
uinput in names

False

# Operator Precedence

In [ ]:
# Operator precedence describes the order in which operations are performed.
# An expression in python consists of variables, operators, values, etc. When the Python interpreter encounters any expression containing several operations, all operators get evaluated according to an ordered hierarchy, called 
# operator precedence.

In [ ]:
# need to put image of operator Presidence 

# BODMAS or PEMDAS Rule both are same 
# The BODMAS rule follows the order of the BODMAS acronym, i.e. B – Brackets(parenthesis), O – Order of powers or roots, D – Division, M – Multiplication A – Addition, and S – Subtraction. The BODMAS rule states that mathematical expressions with multiple operations need to be solved from left to right in the order of BODMAS

# PEMDAS Rule

In [ ]:
print(3 + 2 - 2 * 4 / 2 + 2)

# parentheses, exponent, multiplication or Division , addition and Subtraction

# Zip un Zip

In [8]:
# Zip UnZip Concept
# it don’t work with types

# here unzip took place , how at the backend when we run it it becomes tuple
import cgi
# Collectivley assigning 3 Variables , and automatically becomes a tuple

# 0   1    2     0  ,  1,   2
a, b , c  = "a" , 7, 3.0  

print(a)
print(b)
print(c)

a
7
3.0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17024\521170549.py:5: DeprecationWarning: 'cgi' is deprecated and slated for removal in Python 3.13
  import cgi

In [ ]:
# if it would be a tuple it would unzip, we take values out of tuple one to one and if even iterated data type list 
a , b , c = ("a" , 7, 3.0 ) # this will automatically unzip

In [ ]:
# Putting thes 3 names in data, so if we want to extract each values , to save from this effort there is another method of Unzip

data = ("qasim" , 7, 3.0) 
print(data[0], [1], [2])

In [9]:
# method of Unzip is to put * at front of iterated data type and write name of Iterated data type
# variable. Same it will perform it self

data = ("qasim" , 7, 3.0) 
print(*data) 

data3 = ("am cucum", 8 , 34)
print(*data3)

qasim 7 3.0
am cucum 8 34

In [ ]:
#
2 * 2
"a"  * 3

# The zen of Python

In [10]:

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [7]:
universe_age : int = 14_000_000_000 # 14 Billion
print(universe_age)

14000000000