In [1]:
import nselib

In [4]:
from nselib import capital_market as cm

In [3]:
nselib.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday\r,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day\r,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti\r,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri\r,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi\r,5
...,...,...,...,...,...
15,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra\r,16
16,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*\r,17
17,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada\r,18
18,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti\r,19
19,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas\r,20

In [5]:
cm.nifty50_equity_list()

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,Shriram Finance Ltd.,Financial Services,SHRIRAMFIN
40,State Bank of India,Financial Services,SBIN
41,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
42,Tata Consultancy Services Ltd.,Information Technology,TCS
43,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
44,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
45,Tata Steel Ltd.,Metals & Mining,TATASTEEL
46,Tech Mahindra Ltd.,Information Technology,TECHM
47,Titan Company Ltd.,Consumer Durables,TITAN
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [7]:
cm.bhav_copy_equities("04-04-2024")

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,111.00,113.90,110.45,111.00,113.5,111.00,2507,2.782798e+05,04-APR-2024,11
1,182D010824,TB,97.40,97.40,97.40,97.40,97.4,97.55,1000,9.740000e+04,04-APR-2024,4
2,182D050924,TB,96.80,96.80,96.80,96.80,96.8,96.80,500,4.840000e+04,04-APR-2024,2
3,182D060624,TB,98.91,98.91,98.62,98.69,98.7,98.52,11200,1.104704e+06,04-APR-2024,17
4,182D080824,TB,97.50,97.50,97.50,97.50,97.5,97.21,100,9.750000e+03,04-APR-2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2708,ZOTA,EQ,504.60,510.00,497.95,503.80,506.0,501.95,26993,1.365707e+07,04-APR-2024,1616
2709,ZUARI,EQ,200.55,206.65,200.45,201.25,202.0,198.50,291442,5.908981e+07,04-APR-2024,9107
2710,ZUARIIND,EQ,348.40,357.10,345.90,349.20,350.3,346.45,192736,6.780178e+07,04-APR-2024,9699
2711,ZYDUSLIFE,EQ,987.10,991.00,973.45,983.20,986.5,987.70,879348,8.623888e+08,04-APR-2024,52429
2712,ZYDUSWELL,EQ,1550.45,1600.00,1550.00,1592.20,1580.0,1550.45,30711,4.823082e+07,04-APR-2024,4858

In [8]:
cm.bhav_copy_with_delivery("04-04-2024")

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
0,1018GS2026,GS,111.00,113.90,110.45,111.00,111.00,2507,2.78,11,2504,99.88,04-Apr-2024
1,20MICRONS,EQ,156.95,158.10,152.95,154.20,154.95,62334,96.44,3053,38282,61.41,04-Apr-2024
2,21STCENMGM,BE,44.90,44.90,44.90,44.90,44.05,127,0.06,7,-,-,04-Apr-2024
3,360ONE,EQ,723.30,727.00,711.20,721.00,721.35,160014,1150.66,16371,87537,54.71,04-Apr-2024
4,3IINFOLTD,EQ,44.75,46.00,43.95,45.35,44.70,1461742,658.11,7115,582397,39.84,04-Apr-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2644,ZOTA,EQ,504.60,510.00,497.95,503.80,501.95,26993,136.57,1616,10709,39.67,04-Apr-2024
2645,ZUARI,EQ,200.55,206.65,200.45,201.25,198.50,291442,590.90,9107,122923,42.18,04-Apr-2024
2646,ZUARIIND,EQ,348.40,357.10,345.90,349.20,346.45,192736,678.02,9699,94075,48.81,04-Apr-2024
2647,ZYDUSLIFE,EQ,987.10,991.00,973.45,983.20,987.70,879348,8623.89,52429,413694,47.05,04-Apr-2024
2648,ZYDUSWELL,EQ,1550.45,1600.00,1550.00,1592.20,1550.45,30711,482.31,4858,14555,47.39,04-Apr-2024

In [9]:
cm.block_deals_data(period="1M")

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,05-MAR-2024,HATSUN,Hatsun Agro Product Ltd.,CHANDRAMOGAN R G,BUY,"1,00,162","1,129.55",-
1,05-MAR-2024,HATSUN,Hatsun Agro Product Ltd.,MALABAR VALUE FUND - AIF,SELL,"1,00,162","1,129.55",-
2,06-MAR-2024,DOLLAR,Dollar Industries Limited,BAJRANG KUMAR GUPTA,SELL,"5,00,000",490.00,-
3,06-MAR-2024,DOLLAR,Dollar Industries Limited,FIDELITY ASIAN VALUES PLC,BUY,"1,36,779",490.00,-
4,06-MAR-2024,DOLLAR,Dollar Industries Limited,FIDELITY FUNDS ASIAN SMALLER COMPANIES POOL,BUY,"3,63,221",490.00,-
...,...,...,...,...,...,...,...,...
66,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,SURENDRANATH REDDY SURA,SELL,"3,00,000",630.00,-
67,28-MAR-2024,DHANI,Dhani Services Limited,ACM GLOBAL FUND VCC,BUY,"1,00,00,000",39.20,-
68,28-MAR-2024,DHANI,Dhani Services Limited,INUUS DEVELOPERS PRIVATE LIMITED,SELL,"1,00,00,000",39.20,-
69,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SANLAM LIFE INSURANCE LIMITED,SELL,"59,80,000","2,386.00",-
70,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,"59,80,000","2,386.00",-

In [11]:
from nselib import capital_market as cm
cm.deliverable_position_data("SBIN",from_date="01-01-2024",to_date="04-04-2024")

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [12]:
from nselib import capital_market as cm
from datetime import datetime

from_date = datetime(2024, 1, 1)
to_date = datetime(2024, 4, 4)
from nselib import capital_market as cm
cm.deliverable_position_data("SBIN", from_date=from_date, to_date=to_date)

strptime() argument 1 must be str, not datetime.datetime

ValueError: either or both from_date = 2024-01-01 00:00:00 || to_date = 2024-04-04 00:00:00 are not valid value

In [22]:
cm.deliverable_position_data("HATSUN",period="1M")

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [23]:
cm.price_volume_and_deliverable_position_data("SBIN",period="1M")

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,05-Mar-2024,772.05,769.50,786.95,769.10,784.60,783.95,782.20,"1,80,88,847","14,14,91,13,322.65","4,04,509","70,56,745",39.01
1,SBIN,EQ,06-Mar-2024,783.95,783.65,790.30,772.90,783.70,783.90,783.81,"2,67,10,525","20,93,60,92,585.05","5,03,262","97,91,491",36.66
2,SBIN,EQ,07-Mar-2024,783.90,790.00,793.40,783.00,786.00,788.05,788.54,"1,54,97,868","12,22,07,05,592.60","2,19,629","91,23,241",58.87
3,SBIN,EQ,11-Mar-2024,788.05,790.00,792.80,770.55,773.95,773.70,778.59,"1,67,78,340","13,06,34,54,668.35","3,87,291","85,47,195",50.94
4,SBIN,EQ,12-Mar-2024,773.70,770.00,777.75,757.35,759.00,759.70,764.67,"2,15,29,705","16,46,30,45,923.05","3,90,497","82,12,224",38.14
5,SBIN,EQ,13-Mar-2024,759.70,758.65,763.70,743.00,747.40,747.25,751.85,"2,79,50,252","21,01,43,17,799.65","4,62,302","1,20,98,367",43.29
6,SBIN,EQ,14-Mar-2024,747.25,749.90,750.80,734.05,741.00,741.05,743.03,"1,97,30,882","14,66,06,90,669.70","3,04,735","88,74,679",44.98
7,SBIN,EQ,15-Mar-2024,741.05,739.25,746.55,723.00,732.65,731.90,731.27,"2,97,92,241","21,78,60,99,985.35","3,82,516","1,64,67,856",55.28
8,SBIN,EQ,18-Mar-2024,731.90,727.10,737.90,722.10,732.45,730.95,729.81,"1,81,45,126","13,24,25,20,782.95","2,66,091","82,84,860",45.66
9,SBIN,EQ,19-Mar-2024,730.95,730.00,734.35,721.15,722.55,723.80,727.47,"1,52,05,043","11,06,12,61,059.95","2,03,852","68,87,268",45.30
10,SBIN,EQ,20-Mar-2024,723.80,725.15,738.95,719.80,736.60,736.25,731.17,"2,54,05,455","18,57,56,65,608.10","4,11,626","79,84,760",31.43
11,SBIN,EQ,21-Mar-2024,736.25,742.00,750.60,740.55,742.80,744.30,745.38,"1,51,61,161","11,30,08,17,864.00","2,97,397","55,86,102",36.84
12,SBIN,EQ,22-Mar-2024,744.30,743.85,748.80,741.40,746.50,746.70,746.09,"1,55,35,921","11,59,11,96,217.50","2,61,750","71,43,052",45.98
13,SBIN,EQ,26-Mar-2024,746.70,743.05,747.85,738.50,741.80,740.05,741.15,"1,46,78,342","10,87,88,01,267.10","4,71,853",-,-
14,SBIN,EQ,27-Mar-2024,740.05,743.00,745.85,730.20,736.50,733.30,735.91,"3,00,88,789","22,14,26,32,347.65","3,03,834","1,53,97,825",51.17
15,SBIN,EQ,28-Mar-2024,733.30,737.75,759.55,736.90,752.95,752.35,750.83,"2,17,05,116","16,29,67,64,834.75","2,50,615","89,96,115",41.45
16,SBIN,T0,28-Mar-2024,733.30,734.20,752.60,734.20,742.20,752.35,742.54,16,"11,880.70",7,15,93.75
17,SBIN,EQ,01-Apr-2024,752.35,759.05,761.50,752.10,758.00,758.30,757.16,"99,49,971","7,53,36,78,627.05","1,55,072","35,87,578",36.06
18,SBIN,EQ,02-Apr-2024,758.30,758.20,768.75,753.35,765.95,766.40,761.63,"1,57,13,063","11,96,75,15,949.70","1,99,522","71,22,583",45.33
19,SBIN,T0,02-Apr-2024,758.30,763.00,763.00,761.00,761.00,766.40,761.50,4,"3,046.00",4,2,50.00
20,SBIN,EQ,03-Apr-2024,766.40,764.90,772.60,760.15,771.00,771.05,767.84,"1,91,36,981","14,69,42,03,509.30","2,77,412","1,03,92,587",54.31
21,SBIN,EQ,04-Apr-2024,771.05,775.00,775.30,758.10,760.80,759.30,763.24,"1,58,89,530","12,12,74,83,574.70","2,63,762",-,-
22,SBIN,T0,04-Apr-2024,771.05,761.00,761.00,761.00,761.00,759.30,761.00,2,"1,522.00",1,-,-

In [24]:
cm.price_volume_data("SBIN",period="1M")

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [25]:
cm.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1971,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1972,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1973,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1974,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1975,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [26]:
cm.fno_equity_list()

                             Company_Name      Symbol       APR-24
0    NIFTY MID SELECT                      MIDCPNIFTY  75
1    NIFTY FINANCIAL SERVICES              FINNIFTY    40
2    NIFTY BANK                            BANKNIFTY   15
3    NIFTY 50                              NIFTY       50
4    AMBUJA CEMENTS LTD                    AMBUJACEM          1800
..                                    ...         ...          ...
181  TATA CONSULTANCY SERV LT              TCS                 175
182  ALKEM LABORATORIES LTD.               ALKEM               200
183  UNITED SPIRITS LIMITED                MCDOWELL-N          700
184  POLYCAB INDIA LIMITED                 POLYCAB             100
185  TECH MAHINDRA LIMITED                 TECHM               600

[186 rows x 3 columns]

In [39]:
cm.deliverable_position_data()

TypeError: deliverable_position_data() missing 1 required positional argument: 'symbol'

In [40]:
cm.index_data()

TypeError: index_data() missing 1 required positional argument: 'index'

In [41]:
from nselib import capital_market
capital_market.index_data("NIFTY 50",period="1M")

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,HIGH_INDEX_VAL,CLOSE_INDEX_VAL,LOW_INDEX_VAL,TRADED_QTY,TURN_OVER
0,05-03-2024,NIFTY 50,22371.25,22416.90,22356.30,22269.15,296153036,29165.37
1,06-03-2024,NIFTY 50,22327.50,22497.20,22474.05,22224.35,312262560,31029.01
2,07-03-2024,NIFTY 50,22505.30,22525.65,22493.55,22430.00,379865142,33558.46
3,11-03-2024,NIFTY 50,22517.50,22526.60,22332.65,22307.25,277897373,27222.37
4,12-03-2024,NIFTY 50,22334.45,22452.55,22335.70,22256.00,299201167,29781.12
5,13-03-2024,NIFTY 50,22432.20,22446.75,21997.70,21905.65,493341697,40109.23
6,14-03-2024,NIFTY 50,21982.55,22204.60,22146.65,21917.50,426742460,37348.30
7,15-03-2024,NIFTY 50,22064.85,22120.90,22023.35,21931.70,661460455,60260.88
8,18-03-2024,NIFTY 50,21990.10,22123.70,22055.70,21916.55,356321519,23015.51
9,19-03-2024,NIFTY 50,21946.45,21978.30,21817.45,21793.10,344157465,30291.60
10,20-03-2024,NIFTY 50,21843.90,21930.90,21839.10,21710.20,312414696,28939.85
11,21-03-2024,NIFTY 50,21989.90,22080.95,22011.95,21941.30,353172434,31258.40
12,22-03-2024,NIFTY 50,21932.20,22180.70,22096.75,21883.30,388656439,39023.19
13,26-03-2024,NIFTY 50,21947.90,22073.20,22004.70,21947.55,328403719,33382.08
14,27-03-2024,NIFTY 50,22053.95,22193.60,22123.65,22052.85,409136866,38830.73
15,28-03-2024,NIFTY 50,22163.60,22516.00,22326.90,22163.60,407422815,45656.57
16,01-04-2024,NIFTY 50,22455.00,22529.95,22462.00,22427.75,243637071,21420.69
17,02-04-2024,NIFTY 50,22458.80,22497.60,22453.30,22388.15,289524237,27940.93
18,03-04-2024,NIFTY 50,22385.70,22521.10,22434.65,22346.50,309647491,30793.28
19,04-04-2024,NIFTY 50,22592.10,22619.00,22514.65,22303.80,400986156,40705.56

In [47]:
capital_market.index_data("NIFTY NEXT 50",period="1W")

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,HIGH_INDEX_VAL,CLOSE_INDEX_VAL,LOW_INDEX_VAL,TRADED_QTY,TURN_OVER
0,01-04-2024,NIFTY NEXT 50,61107.05,61755.35,61634.60,61068.35,316596290,13578.32
1,02-04-2024,NIFTY NEXT 50,61882.65,62296.85,62254.10,61722.80,445305876,16842.98
2,03-04-2024,NIFTY NEXT 50,62180.85,62480.90,62423.75,61983.55,445761842,16397.19
3,04-04-2024,NIFTY NEXT 50,62882.15,62951.00,62158.95,62005.55,422825178,16264.08

In [43]:
capital_market.india_vix_data(period="1M")

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,CLOSE_INDEX_VAL,HIGH_INDEX_VAL,LOW_INDEX_VAL,PREV_CLOSE,VIX_PTS_CHG,VIX_PERC_CHG
0,05-MAR-2024,INDIA VIX,14.9225,14.3800,15.1650,14.1775,14.9225,-0.5425,-3.635450
1,06-MAR-2024,INDIA VIX,14.3800,14.2950,14.7100,13.9050,14.3800,-0.0850,-0.591099
2,07-MAR-2024,INDIA VIX,14.2950,13.6125,14.4325,13.5600,14.2950,-0.6825,-4.774397
3,11-MAR-2024,INDIA VIX,13.6125,13.9950,14.5525,13.6125,13.6125,0.3825,2.809917
4,12-MAR-2024,INDIA VIX,13.9950,13.6375,14.1950,13.5775,13.9950,-0.3575,-2.554484
5,13-MAR-2024,INDIA VIX,13.6375,14.4325,15.0050,13.5325,13.6375,0.7950,5.829514
6,14-MAR-2024,INDIA VIX,14.4325,13.6225,14.6825,13.5225,14.4325,-0.8100,-5.612333
7,15-MAR-2024,INDIA VIX,13.6225,13.6900,14.3325,13.5900,13.6225,0.0675,0.495504
8,18-MAR-2024,INDIA VIX,13.6900,13.8950,14.6150,13.6900,13.6900,0.2050,1.497443
9,19-MAR-2024,INDIA VIX,13.8950,14.1125,14.4450,13.8750,13.8950,0.2175,1.565311
10,20-MAR-2024,INDIA VIX,14.1125,13.4725,14.2825,13.0850,14.1125,-0.6400,-4.534987
11,21-MAR-2024,INDIA VIX,13.4725,12.5125,13.4725,12.3425,13.4725,-0.9600,-7.125626
12,22-MAR-2024,INDIA VIX,12.5125,12.2200,13.0475,11.8100,12.5125,-0.2925,-2.337662
13,26-MAR-2024,INDIA VIX,12.2200,12.8200,13.1025,12.0850,12.2200,0.6000,4.909984
14,27-MAR-2024,INDIA VIX,12.8200,12.7025,13.0100,12.5325,12.8200,-0.1175,-0.916537
15,28-MAR-2024,INDIA VIX,12.7025,12.8325,13.1800,12.2600,12.7025,0.1300,1.023421
16,01-APR-2024,INDIA VIX,12.8325,12.0825,13.3575,12.0050,12.8325,-0.7500,-5.844535
17,02-APR-2024,INDIA VIX,12.0825,11.6525,12.3050,11.5975,12.0825,-0.4300,-3.558866
18,03-APR-2024,INDIA VIX,11.6525,11.3725,11.8275,11.3125,11.6525,-0.2800,-2.402918
19,04-APR-2024,INDIA VIX,11.3725,11.2200,11.8375,10.8600,11.3725,-0.1525,-1.340954

In [44]:
capital_market.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,22513.70,-0.95,0.00,22486.40,22537.60,22427.60,22514.65,...,1.19,28,20,2,28.24,0.71,22434.65,22326.90,22356.30,17557.05
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,62696.10,537.15,0.86,62209.65,62734.75,62019.30,62158.95,...,1.28,13,37,0,63.17,3.63,62423.75,60624.30,59981.35,38094.30
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,23240.55,34.55,0.15,23185.30,23262.90,23128.90,23206.00,...,1.17,42,57,2,33.57,1.33,23136.60,22920.70,22900.65,17373.95
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,12551.00,26.55,0.21,12516.80,12562.15,12486.85,12524.45,...,1.1,76,121,4,37.66,1.32,12492.45,12329.75,12361.55,9098.35
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,20715.10,50.45,0.24,20654.75,20730.15,20609.90,20664.65,...,1.06,201,295,5,40.49,1.39,20605.70,20255.15,20382.00,14709.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,873.97,-1.10,-0.12,875.07,875.49,873.51,875.07,...,,NaN,NaN,NaN,0.98,-0.28,874.49,877.97,877.27,866.31
69,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2800.17,-0.12,0.00,2800.82,2800.82,2799.43,2800.29,...,,NaN,NaN,NaN,7.53,0.57,2797.07,2799.44,2783.92,2603.66
70,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2849.27,-1.87,-0.06,2851.70,2851.81,2847.99,2851.14,...,,NaN,NaN,NaN,9.25,0.35,2848.70,2857.62,2840.69,2609.35
71,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3139.33,-3.83,-0.12,3143.77,3146.37,3137.72,3143.16,...,,NaN,NaN,NaN,10.44,-0.22,3145.81,3161.17,3150.44,2846.31
72,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2669.30,-2.19,-0.08,2672.00,2672.94,2668.57,2671.49,...,,NaN,NaN,NaN,8.31,0.27,2669.72,2677.92,2663.98,2466.31

In [48]:
capital_market.india_vix_data(period="1M")

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,CLOSE_INDEX_VAL,HIGH_INDEX_VAL,LOW_INDEX_VAL,PREV_CLOSE,VIX_PTS_CHG,VIX_PERC_CHG
0,05-MAR-2024,INDIA VIX,14.9225,14.3800,15.1650,14.1775,14.9225,-0.5425,-3.635450
1,06-MAR-2024,INDIA VIX,14.3800,14.2950,14.7100,13.9050,14.3800,-0.0850,-0.591099
2,07-MAR-2024,INDIA VIX,14.2950,13.6125,14.4325,13.5600,14.2950,-0.6825,-4.774397
3,11-MAR-2024,INDIA VIX,13.6125,13.9950,14.5525,13.6125,13.6125,0.3825,2.809917
4,12-MAR-2024,INDIA VIX,13.9950,13.6375,14.1950,13.5775,13.9950,-0.3575,-2.554484
5,13-MAR-2024,INDIA VIX,13.6375,14.4325,15.0050,13.5325,13.6375,0.7950,5.829514
6,14-MAR-2024,INDIA VIX,14.4325,13.6225,14.6825,13.5225,14.4325,-0.8100,-5.612333
7,15-MAR-2024,INDIA VIX,13.6225,13.6900,14.3325,13.5900,13.6225,0.0675,0.495504
8,18-MAR-2024,INDIA VIX,13.6900,13.8950,14.6150,13.6900,13.6900,0.2050,1.497443
9,19-MAR-2024,INDIA VIX,13.8950,14.1125,14.4450,13.8750,13.8950,0.2175,1.565311
10,20-MAR-2024,INDIA VIX,14.1125,13.4725,14.2825,13.0850,14.1125,-0.6400,-4.534987
11,21-MAR-2024,INDIA VIX,13.4725,12.5125,13.4725,12.3425,13.4725,-0.9600,-7.125626
12,22-MAR-2024,INDIA VIX,12.5125,12.2200,13.0475,11.8100,12.5125,-0.2925,-2.337662
13,26-MAR-2024,INDIA VIX,12.2200,12.8200,13.1025,12.0850,12.2200,0.6000,4.909984
14,27-MAR-2024,INDIA VIX,12.8200,12.7025,13.0100,12.5325,12.8200,-0.1175,-0.916537
15,28-MAR-2024,INDIA VIX,12.7025,12.8325,13.1800,12.2600,12.7025,0.1300,1.023421
16,01-APR-2024,INDIA VIX,12.8325,12.0825,13.3575,12.0050,12.8325,-0.7500,-5.844535
17,02-APR-2024,INDIA VIX,12.0825,11.6525,12.3050,11.5975,12.0825,-0.4300,-3.558866
18,03-APR-2024,INDIA VIX,11.6525,11.3725,11.8275,11.3125,11.6525,-0.2800,-2.402918
19,04-APR-2024,INDIA VIX,11.3725,11.2200,11.8375,10.8600,11.3725,-0.1525,-1.340954

In [49]:
data=cm.price_volume_and_deliverable_position_data("SBIN",period="1M")

In [50]:
data

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,05-Mar-2024,772.05,769.50,786.95,769.10,784.60,783.95,782.20,"1,80,88,847","14,14,91,13,322.65","4,04,509","70,56,745",39.01
1,SBIN,EQ,06-Mar-2024,783.95,783.65,790.30,772.90,783.70,783.90,783.81,"2,67,10,525","20,93,60,92,585.05","5,03,262","97,91,491",36.66
2,SBIN,EQ,07-Mar-2024,783.90,790.00,793.40,783.00,786.00,788.05,788.54,"1,54,97,868","12,22,07,05,592.60","2,19,629","91,23,241",58.87
3,SBIN,EQ,11-Mar-2024,788.05,790.00,792.80,770.55,773.95,773.70,778.59,"1,67,78,340","13,06,34,54,668.35","3,87,291","85,47,195",50.94
4,SBIN,EQ,12-Mar-2024,773.70,770.00,777.75,757.35,759.00,759.70,764.67,"2,15,29,705","16,46,30,45,923.05","3,90,497","82,12,224",38.14
5,SBIN,EQ,13-Mar-2024,759.70,758.65,763.70,743.00,747.40,747.25,751.85,"2,79,50,252","21,01,43,17,799.65","4,62,302","1,20,98,367",43.29
6,SBIN,EQ,14-Mar-2024,747.25,749.90,750.80,734.05,741.00,741.05,743.03,"1,97,30,882","14,66,06,90,669.70","3,04,735","88,74,679",44.98
7,SBIN,EQ,15-Mar-2024,741.05,739.25,746.55,723.00,732.65,731.90,731.27,"2,97,92,241","21,78,60,99,985.35","3,82,516","1,64,67,856",55.28
8,SBIN,EQ,18-Mar-2024,731.90,727.10,737.90,722.10,732.45,730.95,729.81,"1,81,45,126","13,24,25,20,782.95","2,66,091","82,84,860",45.66
9,SBIN,EQ,19-Mar-2024,730.95,730.00,734.35,721.15,722.55,723.80,727.47,"1,52,05,043","11,06,12,61,059.95","2,03,852","68,87,268",45.30
10,SBIN,EQ,20-Mar-2024,723.80,725.15,738.95,719.80,736.60,736.25,731.17,"2,54,05,455","18,57,56,65,608.10","4,11,626","79,84,760",31.43
11,SBIN,EQ,21-Mar-2024,736.25,742.00,750.60,740.55,742.80,744.30,745.38,"1,51,61,161","11,30,08,17,864.00","2,97,397","55,86,102",36.84
12,SBIN,EQ,22-Mar-2024,744.30,743.85,748.80,741.40,746.50,746.70,746.09,"1,55,35,921","11,59,11,96,217.50","2,61,750","71,43,052",45.98
13,SBIN,EQ,26-Mar-2024,746.70,743.05,747.85,738.50,741.80,740.05,741.15,"1,46,78,342","10,87,88,01,267.10","4,71,853",-,-
14,SBIN,EQ,27-Mar-2024,740.05,743.00,745.85,730.20,736.50,733.30,735.91,"3,00,88,789","22,14,26,32,347.65","3,03,834","1,53,97,825",51.17
15,SBIN,EQ,28-Mar-2024,733.30,737.75,759.55,736.90,752.95,752.35,750.83,"2,17,05,116","16,29,67,64,834.75","2,50,615","89,96,115",41.45
16,SBIN,T0,28-Mar-2024,733.30,734.20,752.60,734.20,742.20,752.35,742.54,16,"11,880.70",7,15,93.75
17,SBIN,EQ,01-Apr-2024,752.35,759.05,761.50,752.10,758.00,758.30,757.16,"99,49,971","7,53,36,78,627.05","1,55,072","35,87,578",36.06
18,SBIN,EQ,02-Apr-2024,758.30,758.20,768.75,753.35,765.95,766.40,761.63,"1,57,13,063","11,96,75,15,949.70","1,99,522","71,22,583",45.33
19,SBIN,T0,02-Apr-2024,758.30,763.00,763.00,761.00,761.00,766.40,761.50,4,"3,046.00",4,2,50.00
20,SBIN,EQ,03-Apr-2024,766.40,764.90,772.60,760.15,771.00,771.05,767.84,"1,91,36,981","14,69,42,03,509.30","2,77,412","1,03,92,587",54.31
21,SBIN,EQ,04-Apr-2024,771.05,775.00,775.30,758.10,760.80,759.30,763.24,"1,58,89,530","12,12,74,83,574.70","2,63,762",-,-
22,SBIN,T0,04-Apr-2024,771.05,761.00,761.00,761.00,761.00,759.30,761.00,2,"1,522.00",1,-,-

In [51]:
cm.nifty50_equity_list()

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,Shriram Finance Ltd.,Financial Services,SHRIRAMFIN
40,State Bank of India,Financial Services,SBIN
41,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
42,Tata Consultancy Services Ltd.,Information Technology,TCS
43,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
44,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
45,Tata Steel Ltd.,Metals & Mining,TATASTEEL
46,Tech Mahindra Ltd.,Information Technology,TECHM
47,Titan Company Ltd.,Consumer Durables,TITAN
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [53]:
cm.price_volume_and_deliverable_position_data("SBIN",period="1M")

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,05-Mar-2024,772.05,769.50,786.95,769.10,784.60,783.95,782.20,"1,80,88,847","14,14,91,13,322.65","4,04,509","70,56,745",39.01
1,SBIN,EQ,06-Mar-2024,783.95,783.65,790.30,772.90,783.70,783.90,783.81,"2,67,10,525","20,93,60,92,585.05","5,03,262","97,91,491",36.66
2,SBIN,EQ,07-Mar-2024,783.90,790.00,793.40,783.00,786.00,788.05,788.54,"1,54,97,868","12,22,07,05,592.60","2,19,629","91,23,241",58.87
3,SBIN,EQ,11-Mar-2024,788.05,790.00,792.80,770.55,773.95,773.70,778.59,"1,67,78,340","13,06,34,54,668.35","3,87,291","85,47,195",50.94
4,SBIN,EQ,12-Mar-2024,773.70,770.00,777.75,757.35,759.00,759.70,764.67,"2,15,29,705","16,46,30,45,923.05","3,90,497","82,12,224",38.14
5,SBIN,EQ,13-Mar-2024,759.70,758.65,763.70,743.00,747.40,747.25,751.85,"2,79,50,252","21,01,43,17,799.65","4,62,302","1,20,98,367",43.29
6,SBIN,EQ,14-Mar-2024,747.25,749.90,750.80,734.05,741.00,741.05,743.03,"1,97,30,882","14,66,06,90,669.70","3,04,735","88,74,679",44.98
7,SBIN,EQ,15-Mar-2024,741.05,739.25,746.55,723.00,732.65,731.90,731.27,"2,97,92,241","21,78,60,99,985.35","3,82,516","1,64,67,856",55.28
8,SBIN,EQ,18-Mar-2024,731.90,727.10,737.90,722.10,732.45,730.95,729.81,"1,81,45,126","13,24,25,20,782.95","2,66,091","82,84,860",45.66
9,SBIN,EQ,19-Mar-2024,730.95,730.00,734.35,721.15,722.55,723.80,727.47,"1,52,05,043","11,06,12,61,059.95","2,03,852","68,87,268",45.30
10,SBIN,EQ,20-Mar-2024,723.80,725.15,738.95,719.80,736.60,736.25,731.17,"2,54,05,455","18,57,56,65,608.10","4,11,626","79,84,760",31.43
11,SBIN,EQ,21-Mar-2024,736.25,742.00,750.60,740.55,742.80,744.30,745.38,"1,51,61,161","11,30,08,17,864.00","2,97,397","55,86,102",36.84
12,SBIN,EQ,22-Mar-2024,744.30,743.85,748.80,741.40,746.50,746.70,746.09,"1,55,35,921","11,59,11,96,217.50","2,61,750","71,43,052",45.98
13,SBIN,EQ,26-Mar-2024,746.70,743.05,747.85,738.50,741.80,740.05,741.15,"1,46,78,342","10,87,88,01,267.10","4,71,853",-,-
14,SBIN,EQ,27-Mar-2024,740.05,743.00,745.85,730.20,736.50,733.30,735.91,"3,00,88,789","22,14,26,32,347.65","3,03,834","1,53,97,825",51.17
15,SBIN,EQ,28-Mar-2024,733.30,737.75,759.55,736.90,752.95,752.35,750.83,"2,17,05,116","16,29,67,64,834.75","2,50,615","89,96,115",41.45
16,SBIN,T0,28-Mar-2024,733.30,734.20,752.60,734.20,742.20,752.35,742.54,16,"11,880.70",7,15,93.75
17,SBIN,EQ,01-Apr-2024,752.35,759.05,761.50,752.10,758.00,758.30,757.16,"99,49,971","7,53,36,78,627.05","1,55,072","35,87,578",36.06
18,SBIN,EQ,02-Apr-2024,758.30,758.20,768.75,753.35,765.95,766.40,761.63,"1,57,13,063","11,96,75,15,949.70","1,99,522","71,22,583",45.33
19,SBIN,T0,02-Apr-2024,758.30,763.00,763.00,761.00,761.00,766.40,761.50,4,"3,046.00",4,2,50.00
20,SBIN,EQ,03-Apr-2024,766.40,764.90,772.60,760.15,771.00,771.05,767.84,"1,91,36,981","14,69,42,03,509.30","2,77,412","1,03,92,587",54.31
21,SBIN,EQ,04-Apr-2024,771.05,775.00,775.30,758.10,760.80,759.30,763.24,"1,58,89,530","12,12,74,83,574.70","2,63,762",-,-
22,SBIN,T0,04-Apr-2024,771.05,761.00,761.00,761.00,761.00,759.30,761.00,2,"1,522.00",1,-,-

In [54]:
cm.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,22513.70,-0.95,0.00,22486.40,22537.60,22427.60,22514.65,...,1.19,28,20,2,28.24,0.71,22434.65,22326.90,22356.30,17557.05
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,62696.10,537.15,0.86,62209.65,62734.75,62019.30,62158.95,...,1.28,13,37,0,63.17,3.63,62423.75,60624.30,59981.35,38094.30
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,23240.55,34.55,0.15,23185.30,23262.90,23128.90,23206.00,...,1.17,42,57,2,33.57,1.33,23136.60,22920.70,22900.65,17373.95
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,12551.00,26.55,0.21,12516.80,12562.15,12486.85,12524.45,...,1.1,76,121,4,37.66,1.32,12492.45,12329.75,12361.55,9098.35
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,20715.10,50.45,0.24,20654.75,20730.15,20609.90,20664.65,...,1.06,201,295,5,40.49,1.39,20605.70,20255.15,20382.00,14709.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,873.97,-1.10,-0.12,875.07,875.49,873.51,875.07,...,,NaN,NaN,NaN,0.98,-0.28,874.49,877.97,877.27,866.31
69,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2800.17,-0.11,0.00,2800.82,2800.82,2799.43,2800.28,...,,NaN,NaN,NaN,7.53,0.57,2797.07,2799.44,2783.92,2603.66
70,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2849.27,-1.87,-0.06,2851.70,2851.81,2847.99,2851.14,...,,NaN,NaN,NaN,9.25,0.35,2848.70,2857.62,2840.69,2609.35
71,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3139.33,-3.82,-0.12,3143.77,3146.37,3137.72,3143.15,...,,NaN,NaN,NaN,10.44,-0.22,3145.81,3161.17,3150.44,2846.31
72,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2669.30,-2.18,-0.08,2672.00,2672.94,2668.57,2671.48,...,,NaN,NaN,NaN,8.31,0.27,2669.72,2677.92,2663.98,2466.31

In [55]:
cm.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1971,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1972,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1973,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1974,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1975,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [56]:
capital_market.short_selling_data(period="1m")

,Date,Symbol,SecurityName,Quantity
0,27-Feb-2024,BERGEPAINT,BERGER PAINTS (I) LIMITED,"13,200"
1,28-Feb-2024,SOUTHBANK,THE SOUTH INDIAN BANK LTD,"3,50,000"
2,29-Feb-2024,SOUTHBANK,THE SOUTH INDIAN BANK LTD,"5,18,050"
3,29-Feb-2024,BERGEPAINT,BERGER PAINTS (I) LIMITED,"73,920"
4,13-Mar-2024,BHARATFORG,BHARAT FORGE LTD,"42,000"
5,14-Mar-2024,SOUTHBANK,THE SOUTH INDIAN BANK LTD,"2,99,934"
6,14-Mar-2024,M&MFIN,MAHINDRA & MAHINDRA FINANCIAL SERVICES LIMITED,"10,000"
7,15-Mar-2024,HDFCAMC,HDFC AMC LIMITED,"6,300"
8,15-Mar-2024,TATACHEM,TATA CHEMICALS LTD,"2,700"
9,15-Mar-2024,RBLBANK,RBL BANK LIMITED,"13,200"
10,15-Mar-2024,ZEEL,ZEE ENTERTAINMENT ENT LTD,"12,000"
11,20-Mar-2024,PEL,PIRAMAL ENTERPRISES LTD,"2,170"
12,20-Mar-2024,BAJAJ-AUTO,BAJAJ AUTO LIMITED,"17,000"
13,01-Apr-2024,HINDCOPPER,HINDUSTAN COPPER LIMITED,"21,200"
14,01-Apr-2024,IGL,INDRAPRASTHA GAS LTD,"1,375"

In [61]:
cm.bhav_copy_equities("04-04-2024")

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,111.00,113.90,110.45,111.00,113.5,111.00,2507,2.782798e+05,04-APR-2024,11
1,182D010824,TB,97.40,97.40,97.40,97.40,97.4,97.55,1000,9.740000e+04,04-APR-2024,4
2,182D050924,TB,96.80,96.80,96.80,96.80,96.8,96.80,500,4.840000e+04,04-APR-2024,2
3,182D060624,TB,98.91,98.91,98.62,98.69,98.7,98.52,11200,1.104704e+06,04-APR-2024,17
4,182D080824,TB,97.50,97.50,97.50,97.50,97.5,97.21,100,9.750000e+03,04-APR-2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2708,ZOTA,EQ,504.60,510.00,497.95,503.80,506.0,501.95,26993,1.365707e+07,04-APR-2024,1616
2709,ZUARI,EQ,200.55,206.65,200.45,201.25,202.0,198.50,291442,5.908981e+07,04-APR-2024,9107
2710,ZUARIIND,EQ,348.40,357.10,345.90,349.20,350.3,346.45,192736,6.780178e+07,04-APR-2024,9699
2711,ZYDUSLIFE,EQ,987.10,991.00,973.45,983.20,986.5,987.70,879348,8.623888e+08,04-APR-2024,52429
2712,ZYDUSWELL,EQ,1550.45,1600.00,1550.00,1592.20,1580.0,1550.45,30711,4.823082e+07,04-APR-2024,4858

In [62]:
from nselib import derivatives

In [63]:
import nselib.derivatives as de

In [64]:
de.expiry_dates_option_index()

{'NIFTY': ['10-Apr-2024',
  '18-Apr-2024',
  '25-Apr-2024',
  '02-May-2024',
  '09-May-2024',
  '30-May-2024',
  '27-Jun-2024',
  '26-Sep-2024',
  '26-Dec-2024',
  '27-Mar-2025',
  '26-Jun-2025',
  '24-Dec-2025',
  '25-Jun-2026',
  '31-Dec-2026',
  '24-Jun-2027',
  '30-Dec-2027',
  '29-Jun-2028',
  '28-Dec-2028'],
 'FINNIFTY': ['09-Apr-2024',
  '16-Apr-2024',
  '23-Apr-2024',
  '30-Apr-2024',
  '07-May-2024',
  '28-May-2024',
  '25-Jun-2024'],
 'BANKNIFTY': ['10-Apr-2024',
  '16-Apr-2024',
  '24-Apr-2024',
  '30-Apr-2024',
  '08-May-2024',
  '29-May-2024',
  '26-Jun-2024',
  '25-Sep-2024',
  '24-Dec-2024',
  '26-Mar-2025']}

In [67]:
de.fii_derivatives_statistics("02-04-2024")

FileNotFoundError:  FII derivatives statistics not found for : 02-Apr-2024 :: NSE error : Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [1]:
print("Avijit")

Avijit

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for n in range(10):
    for i in range (2,n):
        break
    else:
        print(n)

0
1
2