- 함수의 종류 및 예제
- 패키지, 모듈, 함수, 클래스
- 함수 vs 메소드 함수: 독립적으로 사용가능, 메소드: 클래스 안에서만 사용가능
- 내장함수 연습
- 외장함수 연습 : 날짜 함수, os
- 외부 라이브러리 연습
- 람다함수 연습
- 사용자 함수 연습
- 함수 유형 : 입력 인자와 리턴값에 따른 4가지 형태
- 지역변수와 전역변수
- 프로그램 작성

[ 파이썬 표준 라이브러리 ]
https://docs.python.org/ko/3.10/library/index.html

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [ ]:
# 내장 함수 예제
print('Hello, World!')
print(len([1, 2, 3, 4]))
print(type(10))

In [ ]:
# Q. 내장함수로 다음을 수행하세요.
a = [1, 2, 3, 4, 5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
15
15

In [ ]:
# 외장 함수 예제
import math
print(math.sqrt(16)) # 제곱근 계산 함수

import random
print(random.randint(1,10)) # 랜덤 정수 생성 함수. 양끝 포함

import datetime
print(datetime.datetime.now())

In [ ]:
# Q. datetime.datetime.now()에서 연도, 월, 일, 시, 분, 초, 마이크로 초를 각각 출력하세요.

import datetime
print(datetime.datetime.now())

print(datetime.datetime.now().year)
print(datetime.datetime.now().month)
print(datetime.datetime.now().day)
print(datetime.datetime.now().hour)
print(datetime.datetime.now().minute)
print(datetime.datetime.now().second)
print(datetime.datetime.now().microsecond)

2024-05-03 06:29:56.761795
2024
5
3
6
29
56
767134

In [ ]:
import os
print(os.getcwd()) # 현재 위치

os.mkdir('new_folder') # 폴더 생성

!ls # 현재 위치의 폴더를 알려주는 리눅스 명령어

os.removedirs('new_folder') # 폴더 삭제

!ls -l # .config파일은 나오지 않는다.
!ls -la # 현재 위치에 있는 모든 파일과 폴더를 알려주는 리눅스 명령어

print(os.listdir())

/content

In [ ]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 pandas 라이브러리를 설치합니다.
# !pip install pandas
# 로컬에서 사용시에는 !없이 pip로 설치

import pandas as pd

# pandas의 DataFrame 객체 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data) # df는 객체

# pandas의 head() 함수 사용하여 DataFrame의 처음 5행 출력(빈칸일경우)
print(df.head(2))

    Name  Age
0  Alice   25
1    Bob   30

[('Name',), ('Age',)]

In [ ]:
import numpy as np
data = [1, 2, 3, 4]
arr = np.array(data)
print(arr.type(arr))

In [ ]:
# 사용자 함수 예제
def greet(name):
  return f"hello, {name}!"

print(greet('홍길동'))

hello, 홍길동!

## 람다함수

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [ ]:
# 조건 사용:
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4))
print(is_even(5))


while 1:
  # lambda 함수로 간단한 함수 예제 작성. 매개 변수가 없어도 가능하다.
  cont = lambda : True if input('계속 주문하시겠습니까? (enter:계속 주문 / n:종료) ') == '' else False
  if cont():
    print('실행')
    break
  else:
    break

True
False
계속 주문하시겠습니까? (enter:계속 주문 / n:종료) n

In [ ]:
# 내장함수
print(dir(__builtins__))
print(len(dir(__builtins__)))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']
158

In [ ]:
def string_statistics(user_input):
  leng = len(user_input)

  from collections import Counter
  freq = Counter(user_input)
  print(dir(freq))
  most_com = freq.most_common(2)[0][0]


  num_count = sum(c.isdigit() for c in user_input) # 숫자 개수

  upper_count = sum(c.isupper() for c in user_input) # 대문자 개수

  lower_count = sum(c.islower() for c in user_input) # 소문자 개수

  print(most_com)
#  print(f'{leng}')
#  print(f'{most_com}')
#  print(f'{num_count}')
#  print(f'{upper_count}')
#  print(f'{lower_count}')

#user_input = input('문자열을 입력해주세요 : ')
user_input='sgsdgsdgsd'
string_statistics(user_input)

['__add__', '__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__le__', '__len__', '__lt__', '__missing__', '__module__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_keep_positive', 'clear', 'copy', 'elements', 'fromkeys', 'get', 'items', 'keys', 'most_common', 'pop', 'popitem', 'setdefault', 'subtract', 'total', 'update', 'values']
s

In [ ]:
import os
import datetime
import shutil

def daily_scheduler():
  today = datetime.datetime.now()
  date_string = today.strftime("%Y-%m-%d %H:%M:%S")
  print(f"오늘의 날짜와 시간: {date_string}")

  filename = f"tasks_{today.strftime('%Y%m%d')}.txt"

  if os.path.exists(filename):
    print(f"'{filename}' 파일이 이미 존재합니다. 백업을 생성합니다.")

    #백업 파일 생성
    shutil.copy(filename, filename + ".bak")
  else:
    print(f"'{filename}' 파일이 존재하지 않습니다. 새로운 파일을 생성합니다.")

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x*x, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [ ]:
# 짝수
numbers = [1, 2, 3, 4, 5]
filtered_number = filter(lambda x: x % 2 == 0, numbers)
print(list(filtered_number))

[2, 4]

In [ ]:
import requests
from bs4 import BeautifulSoup

def fetch_website_content(url):
  res = requests.get(url)
  if res.status_code == 200:
    soup = BeautifulSoup(res.text, 'html.parser')

    print("Page Title: ", soup.title.string if soup.title else "No title found")
  else:
    print("Failed to retrieve the webpage")
    print("Status code: ", res.status_code)

if __name__ == '__main__':
  url = input('저장하고 싶은 웹사이트의 URL을 입력하세요: ')
  fetch_website_content(url)

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

#### 함수 vs 메소드
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.    
- 메소드 (Method)
    - 메소드는 객체에 속한 함수, 메소드는 특정 객체의 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [ ]:
def my_func():
  print("Hello")

my_func()

In [ ]:
class MyClass:
  def my_method(self):
    print("Hello")

obj = MyClass()
obj.my_method

In [ ]:
print(any(-3))
print(any[1,2,3,0]) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(chr(65)) #아스키코드
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,2)) #거듭제곱
print(round(2.675,2))

In [ ]:
# 함수가 다른 객체와 마찬가지로 변수에 할당되거나, 다른 함수로 전달되거나, 다른 함수로부터 반환될 수 있음.
my_pow = pow
res = my_pow(2,3)

print(res)
# 함수를 인자로 전달
def apply_func(func, x, y):
  return func(x, y)

res = apply_func(pow, 3, 4) #pow(3,4)
print(res)

In [ ]:
age = 30
print("I am"+str(age)+" years old.")

Q. students = [('Alice',90), ('Bob',85), ('Charlie', 88)]

In [ ]:
students = [('Alice',90), ('Bob',85), ('Charlie', 88)]

# key에 lambda를 이용해서 함수를 적용할 수 있다.
sorted_list = sorted(students, key= lambda x : x[1], reverse=True)
print(sorted_list)

[('Alice', 90), ('Charlie', 88), ('Bob', 85)]

In [ ]:
print(list(range(5)))
print(list(range(1, 6)))
print(list(range(1, 10 , 2)))
print(list(range(0, -10, -1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
for idx, element in enumerate(['ele1', 'ele2', 'ele3']):
  print(idx+1, element)

1 ele1
2 ele2
3 ele3

In [ ]:
# Q. enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요(인덱스와 내용 믹스)

fruits = ['사과', '키위', '딸기', '참외', '수박']

print('과일의 종류')
for i, j in enumerate(fruits):
  print(f'{i}. {j}')

In [ ]:
# Q. 내장함수를 이용해서 list = [0, 1, 2, 3, 4, 5, 6]에서 모든원소를 삭제 후 출력하세요

list1 = [0, 1, 2, 3, 4, 5, 6]

list1.clear()

print(list1)

In [ ]:
# Q. 150분을 시간과 분으로 변환해서 출력하세요.

minutes = 150

hour, minute = divmod(minutes, 60)
print(f'{hour}시간 {minute}분')

# 기본적으로 튜플 형태의 반환이나, 각각의 변수에 할당도 가능하다

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

# Q. url에서 쿼리문을 추출하여 출력하세요
# ?뒤에 나열된 문자열

quaries = url.split('?')[1]
lists = quaries.split('&')
print(lists)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [ ]:
# Q. List안의 단어/알파벳이 있으면 해당 제목을 출력

a = 'H'
list1 = ['Hello World!', 'Nice Day', 'HappyBin', 'enDing_Story']

title = [i for i in list1 if a.lower() in i.lower()]
print(title)

['Hello World!', 'HappyBin']

In [ ]:
# Q. 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
# (단 중간에 한칸씩 띄어주어야함 ex) Kim han gyeol)

name = 'kim han gyeoL'

output = name.title() # 앞글자를 대문자로 바꾸고 나머지는 소문자로 바꿔주는 함수
print(output)

Kim Han Gyeol

In [ ]:
# 문자열에서 좌우 공백 제거

txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

In [ ]:
# 특정 문자로 결합
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ':'
log = bond.join(loglist)
print(log)

# join : ''.join()

2016/08/26 10:12:11:200:OK:이 또한 지나가리라

In [ ]:
# 특정 문자열을 다른 문자열로 바꾸기(replace)
txt = 'My Password is 1234'

re_txt = txt.replace('1', 'python')
print(re_txt)

txt = '매일 많은 일들이 일어납니다.'
ret = txt.replace('많은 일들이', '아침 일찍')
print(ret)

My Password is python234
매일 아침 일찍 일어납니다.

In [ ]:
# Q. 입력된 문장에서 'bad'를 'good'으로 교체해서 출력하세요

txt = input('This is a bad example  ')

print(txt.replace('bad', 'good'))

This is a bad example  This is a bad example
This is a good example

In [ ]:
# 코드 값에 대응하는 문자 얻기

val = int(input('문자 코드값(숫자)을 입력하세요: '))
ch = chr(val)
print('코드값: %d 문자: %s' %(val, ch))

문자 코드값을 입력하세요: 65
코드값: 65 문자: A

In [ ]:
while True:
  val = int(input('문자 코드 값 입력 (0은 종료) : '))
  if val == 0:
    break
  ch = chr(val)
  print('코드값: %d 문자: %s' %(val, ch))

문자 코드 값 입력 (0은 종료) : 1
코드값: 1 문자: 
문자 코드 값 입력 (0은 종료) : 0

In [ ]:
#Q. 문자열이 문자인지 검사

txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [ ]:
# 문자열이 숫자인지 검사 isdigit()

txt1 = '010-1234-5678'
txt2 = 'R202'
txt3 = '1212'

ret1 = txt1.isdigit() # False
ret2 = txt2.isdigit() # False
ret3 = txt3.isdigit() # True

False
False
True

In [ ]:
txt = input('문자열 입력 : ')
if txt.isdigit():
  res = int(txt)+100
  print(res)
else:
  print('숫자만 입력해주세요')

문자열 입력 : 32a
숫자만 입력해주세요523g

In [ ]:
# isalnum() 문자열이 문자 또는 숫자인지 검사 : 문자열이 영어, 한글 혹은 숫자이면 참 리턴, 아니면 거짓 리턴

txt1 = '안녕하세요?'

res = lambda: True if txt1.isalnum() else False
res()

False

In [ ]:
txt = 'A lot of Things occur each day.'

ret1 = txt.upper()
ret1 = txt.lower()
ret1 = txt.title()
ret4 = txt.capitalize() # 문자열의 첫번째 문자를 대문자, 나머지는 소문자로 변환

print(ret1)
print(ret2)
print(ret3)
print(ret4)

A Lot Of Things Occur Each Day.
False
True
A lot of things occur each day.

In [ ]:
# Q. numbers내부에 들어잇는 숫자가 몇번등장하는지 출력하는 코드
from collections import Counter

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

freq = Counter(numbers)
for i in freq.items():
  print(f"{i[0]} : {i[1]}회")

sorted_list = sorted(freq.items(), key=lambda x:(-x[1], x[0]))
print(sorted_list)

3 : 4회
6 : 2회
5 : 2회
8 : 2회
2 : 2회
9 : 2회
7 : 2회
4 : 2회
[(3, 4), (2, 2), (4, 2), (5, 2), (6, 2), (7, 2), (8, 2), (9, 2)]

In [ ]:
# list a의 모든 원소를 실수형으로 바꾸어 출력하세요
# map함수는 리스트 하나하나의 요소에 무언가를 공통적으로 적용할 때 유용하다.

a = [1,2,3,4,5]
a_float = list(map(float, a)) #float을 적용한 경우이나 다른 함수를 적용하기에도 용이하다.

In [ ]:
# Q. 데이터를 입력하지않으면 종료되는 코딩, 박복적으로 작업을 수행할 수 있음

while True:
  val = input("입력 : ")
  if not val:
    break
  else:
    print(val)

입력 :

In [ ]:
# Q. 데이터를 입력하지않으면 종료되는 코딩, 박복적으로 작업을 수행할 수 있음

while True:
  val = input("입력 : ")
  if not val: break

입력 :

[ 날짜 함수 ]

날짜와 시간을 처리하기 위한 주요 라이브러리는 datetime입니다. 이 라이브러리는 날짜, 시간, 시간대와 관련된 다양한 클래스와 함수를 제공하며, 날짜와 시간 연산에 매우 유용
- datetime.date: 날짜(연, 월, 일)를 표현하는 클래스
    - today(): 오늘의 날짜를 반환
- datetime.time: 시간(시, 분, 초, 마이크로초)을 표현하는 클래스
- datetime.datetime: 날짜와 시간을 모두 포함하는 클래스
    - now(): 현재의 날짜와 시간을 반환
- datetime.timedelta: 두 날짜/시간 간의 차이를 표현하는 클래스
- datetime.tzinfo: 시간대 정보를 위한 기본 클래스

datetime 모듈의 날짜와 시간 객체들을 문자열 형식으로 포맷팅하거나 문자열로부터 날짜와 시간 객체를 생성하기 위해 사용하는 주요 메서드는 strftime()와 strptime()
- strftime() (String Format Time)
    - 날짜와 시간 객체를 문자열로 변환하는 데 사용
    - 사용자가 지정한 형식 문자열을 기반으로 날짜와 시간 정보를 문자열로 표현
- strptime() (String Parse Time)
    - 문자열을 날짜와 시간 객체로 변환하는 데 사용
    - 주어진 형식 문자열을 기반으로 문자열에서 날짜와 시간 정보를 파싱

In [ ]:
import datetime

now = datetime.datetime.now()
print(now)

today = datetime.date.today()
print(today)

# 특정 날짜 및 시간을 직접 지정
d = datetime.datetime(2023, 11, 2, 14, 29, 45)
print(d)

# 날짜 간 차이 계산
delta = datetime.timedelta(days=7) # 7일의 기간
new_date = today + delta
print(new_date) # 오늘로부터 7일 후의 날짜

# 두 날짜 간의 차이 계산
date1 = datetime.date(2023, 1, 1)
date2 = datetime.date(2023, 12, 31)
diff = date2 - date1
print(diff.days) # 출력 364

포맷 코드 표<BR>
포맷코드   설명   예<BR>
%a   요일 줄임말   Sun, Mon, ... Sat<BR>
%A   요일   Sunday, Monday, ..., Saturday<BR>
%w   요일을 숫자로 표시, 월요일일요일, 06   0, 1, ..., 6<BR>
%d   일   01, 02, ..., 31<BR>
%b   월 줄임말   Jan, Feb, ..., Dec<BR>
%B   월   January, February, …, December<BR>
%m   숫자 월   01, 02, ..., 12<BR>
%y   두 자릿수 연도   01, 02, ..., 99<BR>
%Y   네 자릿수 연도   0001, 0002, ..., 2017, 2018, 9999<BR>
%H   시간(24시간)   00, 01, ..., 23<BR>
%I   시간(12시간)   01, 02, ..., 12<BR>
%p   AM, PM   AM, PM<BR>
%M   분   00, 01, ..., 59<BR>
%S   초   00, 01, ..., 59<BR>
%Z   시간대   대한민국 표준시<BR>
%j   1월 1일(포함)부터 오늘까지 경과한 일수   001, 002, ..., 366<BR>
%U   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%W   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%c   날짜, 요일, 시간을 출력, 현재 시간대 기준   Sat May 19 11:14:27 2018<BR>
%x   날짜를 출력, 현재 시간대 기준   05/19/18<BR>
%X   시간을 출력, 현재 시간대 기준   '11:44:22'

In [ ]:
import datetime

now = datetime.datetime.now()
print(now, type(now))
formatted1 = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted1, type(formatted1))

formatted2 = now.strftime("%Y-%m-%d")
print(formatted2, type(formatted2))

2024-05-08 05:32:40.111614 <class 'datetime.datetime'>
2024-05-08 05:32:40 <class 'str'>
2024-05-08 <class 'str'>

In [ ]:
import datetime

date_string = "2023-11-02 14:45:30"
print(date_string, type(date_string))

dt = datetime.datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
print(dt, type(dt))

2023-11-02 14:45:30 <class 'str'>
2023-11-02 14:45:30 <class 'datetime.datetime'>

time 모듈
- 시스템 시간에 접근하거나 간단한 타이머 기능을 구현
- 함수와 같이 프로그램을 일정 시간 동안 중지시키는 데 사용
- 시간을 연도, 월, 일, 시, 분, 초 등의 구성 요소로 변환하고 다룰 수 있는 struct_time 객체를 제공
- time 모듈은 날짜와 시간을 처리하는 다양한 프로그래밍 요구에 대응할 수 있는 기본적인 기능을 제공하지만, 더 복잡한 날짜 시간 처리나 시간대 변환 등은 datetime 모듈 또는 외부 라이브러리를 사용

In [ ]:
# localtime() 함수는 파이썬의 time 모듈에 포함되어 있으며 이 함수는 초로 표시되는 시간을 구조화된 시간 튜플 형태로 제공

import time

local_time = time.localtime()
print(local_time)

t = time.time() # 유닉스 시간으로부터 현재까지의 초
time.localtime(t) # 초로 표현된 시간을 구조화된 시간 튜플 형태로 변환 time.struct_time( ... )

In [ ]:
# strftime 함수는 시간에 관계된 것을 세밀하게 표현할 수 있는 여러가지 포맷 코드 제공
# time.localtime() 함수는 초로 표현된 시간을 구조화된 시간 튜플 형태로 변환

import time

d = time.strftime('%d', time.localtime(time.time())) # day
m = time.strftime('%m', time.localtime(time.time())) # month
y = time.strftime('%Y', time.localtime(time.time())) # Year
a = time.strftime('%A', time.localtime(time.time())) # 요일

print(d, m, y, a)

08 05 2024 Wednesday

In [ ]:
# Q. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포맷으로 출력하세요.

import time

current_time = time.localtime(1609160537.371015)

# struct_time 객체를 인간이 읽을 수 있는 형태로 변환
print(time.strftime('%a %b %d %H:%M:%S %Y', current_time))

readable_time = time.asctime(current_time)
print(readable_time)

Mon Dec 28 13:02:17 2020
Mon Dec 28 13:02:17 2020

In [ ]:
# timestamp -> str
import time

t = time.time() # type : float
print(t, type(t))
s = str(t)
print(s, type(s))

1715149207.5278745 <class 'float'>
1715149207.5278745 <class 'str'>

In [ ]:
# timestamp -> datetime
from datetime import datetime

t = time.time()
print(t, type(t))
d = datetime.fromtimestamp(t)
print(d, type(d))

1715149361.6598709 <class 'float'>
2024-05-08 06:22:41.659871 <class 'datetime.datetime'>

In [ ]:
# timestamp -> datetime -> str

from datetime import datetime

s = datetime.now()
print(s, type(s))

s1 = s.strftime('%Y-%m-%d %H:%M:%S')
print(s1, type(s1))

2024-05-08 06:31:30.285481 <class 'datetime.datetime'>
2024-05-08 06:31:30 <class 'str'>

In [ ]:
# timestamp -> datetime -> str
# Q. 현재 시간을 년-월-일 시:분:초로 출력

import time
from datetime import datetime

t = time.time() # timestamp
lt = datetime.fromtimestamp(t) # timestamp -> datetime
st = datetime.strftime(lt, '%Y-%m-%d %X') # datetime -> str, %X는 시간을 출력
print(st, type(st))

2024-05-08 06:38:32 06:38:32 <class 'str'>

In [ ]:
# str -> datetime

from datetime import datetime

s = '2021-07-20 11:13:58'
print(s, type(s))
d = datetime.strptime(s, '%Y-%m-%d %X')
print(d, type(d))

2021-07-20 11:13:58 <class 'str'>
2021-07-20 11:13:58 <class 'datetime.datetime'>

In [ ]:
# str -> datetime -> timestamp
from datetime import datetime
import time

s = '2021-07-20 11:13:58'
d = datetime.strptime(s, '%Y-%m-%d %X')
t = time.mktime(d.timetuple())
print(t, type(t))

1626779638.0 <class 'float'>

In [1]:
# 외장함수 : 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test3.txt', 'wb') # w:쓰다 b:binary (텍스트보다 메모리 등이 세이브된다)
data = {1:'python', 2:'you need'}
pickle.dump(data,f)
f.close()

In [2]:
!cat /content/test3.txt

��       }�(K�python�K�you need�u.

In [3]:
# environ['PATH] 명령의 출력결과는 운영 체제가 프로그램이나 실행 파일을 찾기 위해 검색하는 디렉터리들의 리스트
# PATH 설정은 시스템이 사용자가 입력하는 명령어를 인식하고 해당 실행 파일으 ㄹ효율적으로 찾아내도록 도와준다.

import os

os.environ['PATH']

'/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'

In [10]:
!ls # sample_date test3.txt
!ls / # root 하위 폴더를 모두 출력

sample_data  test3.txt
bin			    datalab  kaggle  libx32		       opt   sbin  tools
boot			    dev      lib     media		       proc  srv   usr
content			    etc      lib32   mnt		       root  sys   var
cuda-keyring_1.0-1_all.deb  home     lib64   NGC-DL-CONTAINER-LICENSE  run   tmp

In [11]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 현재 작업 폴더
import os

os.getcwd() # = %pwd

In [ ]:
!mkdir /content/test
!ls -al # 상세 출력

In [18]:
import os

# 작업 폴더 변경
os.chdir('/content/test')

!pwd

/content

In [26]:
# 빈파일 만들기
!touch /content/test/test1.txt
!touch /content/test/test2.txt
!ls

drive  sample_data  test  test1.txt  test2.txt	test3.txt  test_new.txt

In [21]:
import os

os.rename('test1.txt', 'test_new.txt')

!ls

drive  sample_data  test  test3.txt  test_new.txt

In [30]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환

import glob

glob.glob('/content/test/*.txt')

glob.glob('/**/*.txt')

['/etc/requirements3.txt',
 '/content/test2.txt',
 '/content/test1.txt',
 '/content/test_new.txt',
 '/content/test3.txt']

In [ ]:
with open('mydata.txt','w') as f: # with : close를 따로 안해줘도 된다.
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')

In [45]:
import re
from collections import Counter

with open('mydata.txt', 'r') as f:
  data = f.read()

words_list = data

# re.sub() 사용하여 모든 구두점 제거
words_list = re.sub(r'[,.!\n\']', '', words_list).lower().split()

counts = Counter(words_list).most_common(5)

for word, count in counts:
  print(f"단어: {word} : 횟수: {count}")

단어: the : 횟수: 8
단어: a : 횟수: 6
단어: on : 횟수: 5
단어: of : 횟수: 4
단어: to : 횟수: 4

In [10]:
import re

with open('mydata.txt', 'r') as f:
  data = f.read()

words_list = data

# re.sub() 사용하여 모든 구두점 제거
words_list = re.sub(r'[,.!\n\']', '', words_list).lower().split()

counts = {}
for i in words_list:
  if i in counts:
    counts[i] += 1
  else:
    counts[i] = 1

sorted_counts = sorted(counts.items(), key=lambda x:x[1], reverse=True)

# 길이가 가장 긴 단어
max_word_length = max(len(word) for (word, _) in sorted_counts) # sorted_counts가 tuple형태라서
max_word_length = max(len(word) for word in counts.keys())
print(max_word_length)

for i in range(min(5, len(sorted_counts))): # 인덱스 에러를 방지하기 위해 5와 len값 중 작은거 선정
  word, count = sorted_counts[i]
  print(f"{word: <3} -> [{count}]회")

12
the -> [8]회
a   -> [6]회
on  -> [5]회
of  -> [4]회
to  -> [4]회

In [ ]:
def get_text_freq(filename):
  with open(filename, 'r') as f:
    return f.read()

filename = 'mydata.txt'
words_list = get_text_freq(filename)

# re.sub() 사용하여 모든 구두점 제거
words_list = re.sub(r'[,.!\n\']', '', words_list).lower().split()

counts = {}
for i in words_list:
  if i in counts:
    counts[i] += 1
  else:
    counts[i] = 1

sorted_counts = sorted(counts.items(), key=lambda x:x[1], reverse=True)

# 길이가 가장 긴 단어
max_word_length = max(len(word) for (word, _) in sorted_counts) # sorted_counts가 tuple형태라서
max_word_length = max(len(word) for word in counts.keys())
print(max_word_length)

for i in range(min(5, len(sorted_counts))): # 인덱스 에러를 방지하기 위해 5와 len값 중 작은거 선정
  word, count = sorted_counts[i]
  print(f"{word: <3} -> [{count}]회")

In [47]:
name = "John"
age = 23
balance = 1234.567

# 문자열 정렬
formatted_string = f"{name:<10} is {age:>10} year old." # >는 디폴트. 생략가능
print(formatted_string)

# 숫자 정밀도 및 포맷
formatted_number = f"{balance:010.2f}"
print(formatted_number) # 1234.57 .567의 2f는 3번째 자리를 반올림해서 계산한 것

# 숫자 자리수 채우기
formatted_number_padded = f"{age:06}" # 총 자리수를 6개로 맞추면서 나머지는 0으로 채우라는 의미
print(formatted_number_padded) # 000023

John       is         23 year old.
0001234.57
000023

In [48]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

titanic.head() # head()의 디폴트 값은 5

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
import numpy as np

np.arange(200, 301)

In [50]:
def sum(*args): # 가변적인 인자값이 있을 때 *를 사용한다.
  sum=0
  for i in args:
    sum += i
  return sum

sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

In [58]:
# 람다함수 연습

sum = lambda a,b : a+b
sum(3,4)

myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))
print(type(myList))
print(type(myList[0]))

7
12
<class 'list'>
<class 'function'>

In [59]:
# Q. 람다를 리스트 형태로 작성하여 4칙 연산을 해보세요

myList = [lambda a,b:a+b, lambda a,b:a*b, lambda a,b:a-b, lambda a,b:a/b]

for i in myList:
  a = 3
  b = 4
  print(i(a, b))

7
12
-1
0.75

In [60]:
# 반복문으로 팩토리얼(곱한값)을 구하는 사용자 함수를 자겅하고 5!, 10!를 구하세요.
import math
def cal_factorial(x):
  y = range(1, x+1)
  return math.factorial(x) # 팩토리얼 함수
  #return math.prod(y) # 곱하기 함수

print(cal_factorial(5))
print(cal_factorial(10))

120
3628800

In [67]:
# 함수 인자: 기본적으로 인자 순서에 대응되는 값ㅇ르 함수 코드에 대입
def add_txt(t1, t2='파이썬'): # 기본값을 대입한 기본인자는 마지막에 위치해야함
  print(t1+' : '+t2)

add_txt('베스트')
add_txt(t2='대한민국', t1='1등') # 1등 대한민국이 출력됨. 키워드 인자에 의한 값 전달시 인자의 순서 무시

def func1(*args): # 인자의 개수가 불명확한 경우 가변인자 사용. args는 함수 내부에서 튜플로 처리
  print(args)

def func2(width, height, **kwargs): # 키워드 인자가 불명확한 경우 **kwargs를 사용. 함수 내부에서 dict로 처리
  print(kwargs)

func1() # 에러나지 않고 실행
func1(1, 2, 3, 4, 5)
func2(1, 2)
func2(1, 2, depth=50, color='blue') # { depth:50, color:blue }

베스트 : 파이썬
1등 : 대한민국
()
(1, 2, 3, 4, 5)
{}
{'depth': 50, 'color': 'blue'}

In [68]:
# 가변적인 인풋

list1 = []

def listchng(*args):
  for i in args:
    i = float(i)
    list1.append(i)
  return list1

listchng(1,2,3,4,5)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [1]:
# Q. 입력으로 들어오는 모든 수의 평균 값을 계산해주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

def add_nums(*args):
  return sum(args) / len(args)

add_nums(1,2,3)

2.0

#### 함수 유형
- 입력 인자와 리턴값 여부에 따른 함수 유형

In [2]:
# 입력값이 없고 결과값만 있는 함수

def say():
  return 'HI'

say()

'HI'

In [4]:
# 입력값은 있고 결과 값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음

def add(a,b):
  print('%d, %d의 합은 %d입니다' %(a,b,a+b))

a = add(3,4)
print(a, type(a))

3, 4의 합은 7입니다
None <class 'NoneType'>

In [5]:
# 입력값도 결과값도 없는 함수

def say():
  print('HI')

say()

HI

In [6]:
# 입력값, 결과값이 모두 있는 함수

def add(a,b):
  return a+b

#add(3, 4)

print('a, b의 합은 %d입니다' %(add(3, 4)))

a, b의 합은 7입니다

In [8]:
def math(a, b, c):
  if c == '+':
    return a+b
  elif c == '-':
    return a-b
  elif c == '*':
    return a*b
  elif c == '/':
    return a/b # 나누기
  elif c == '//': # 몫
    return a//b
  elif c == '^':
    return a^b
  elif c == '%': # 나머지
    return a%b
  else:
    return

math(int(input('NUM 1 : ')), int(input('NUM 2 : ')), input('기호 : '))

NUM 1 : 5
NUM 2 : 7
기호 : +

12

In [9]:
# 함수의 반환 값은 언제나 하나. 결과 값으로 튜플 값 하나를 갖게 됨

def add_and_mul(a,b):
  return a+b, a*b

res = add_and_mul(3,4)
print(res)

(7, 12)

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [10]:
strdata = '전역변수'

def func1():
  strdata = '지역변수'
  print(strdata)

func1() # 지역변수

지역변수

In [11]:
print(strdata)

전역변수

In [17]:
param = 10

def func3():
  global param # 함수 내부에서 전역변수를 사용하려면 'global' 키워드를 이용해 전역변수를 사용한다고 명시
  param = 50

func3()
print(param) # 50

def func4():
  param = 10
  print(param) # 10

func4()
print(param) # 50

50
10
50