<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [2]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.24.3
Pandas:  2.0.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [12]:
# wrong:
bikes = pd.read_table('../../DATA/bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('../../DATA/bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('../../DATA/bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [3]:
#ANSWER:
bikes = pd.read_table('../../DATA/bikeshare.csv', header = 0, sep = ',')
print(bikes.head())

   instant     dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  1/01/2011       1   0     1   0        0        6           0
1        2  1/01/2011       1   0     1   1        0        6           0
2        3  1/01/2011       1   0     1   2        0        6           0
3        4  1/01/2011       1   0     1   3        0        6           0
4        5  1/01/2011       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [4]:
type(bikes)

pandas.core.frame.DataFrame

In [5]:
bikes.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,17379.0,8690.000000,5017.029500,1.00,4345.5000,8690.0000,13034.5000,17379.0000
season,17379.0,2.501640,1.106918,1.00,2.0000,3.0000,3.0000,4.0000
yr,17379.0,0.502561,0.500008,0.00,0.0000,1.0000,1.0000,1.0000
mnth,17379.0,6.537775,3.438776,1.00,4.0000,7.0000,10.0000,12.0000
hr,17379.0,11.546752,6.914405,0.00,6.0000,12.0000,18.0000,23.0000
holiday,17379.0,0.028770,0.167165,0.00,0.0000,0.0000,0.0000,1.0000
weekday,17379.0,3.003683,2.005771,0.00,1.0000,3.0000,5.0000,6.0000
workingday,17379.0,0.682721,0.465431,0.00,0.0000,1.0000,1.0000,1.0000
weathersit,17379.0,1.425283,0.639357,1.00,1.0000,1.0000,2.0000,4.0000
temp,17379.0,0.496987,0.192556,0.02,0.3400,0.5000,0.6600,1.0000
atemp,17379.0,0.475775,0.171850,0.00,0.3333,0.4848,0.6212,1.0000
hum,17379.0,0.627229,0.192930,0.00,0.4800,0.6300,0.7800,1.0000
windspeed,17379.0,0.190098,0.122340,0.00,0.1045,0.1940,0.2537,0.8507
casual,17379.0,35.676218,49.305030,0.00,4.0000,17.0000,48.0000,367.0000
registered,17379.0,153.786869,151.357286,0.00,34.0000,115.0000,220.0000,886.0000
cnt,17379.0,189.463088,181.387599,1.00,40.0000,142.0000,281.0000,977.0000

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [173]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [8]:
#!pip uninstall xlrd 
#!pip install xlrd

WARNING: Skipping xlrd as it is not installed.

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
     ------------ ------------------------- 30.7/96.5 kB 262.6 kB/s eta 0:00:01
     ---------------- --------------------- 41.0/96.5 kB 245.8 kB/s eta 0:00:01
     -------------------------------------- 96.5/96.5 kB 501.7 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [9]:
df = pd.read_excel('../../DATA/Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For example, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [9]:
#ANSWER
df = pd.read_excel('../../DATA/Iris.xls', sheet_name = 'Data', header = 0, usecols = [0, 1, 2, 3, 4])
df

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [5]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-12-11T00:48:24.895Z,-24.3933,-67.2379,187.174,4.4,mb,18,131,1.674,0.52,...,2023-12-11T00:57:03.040Z,"95 km WSW of San Antonio de los Cobres, Argentina",earthquake,6.54,18.108,0.219,6,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [6]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4     Abbotsford, BC       Canada  YXX
 ...              ...          ...  ...
 1574        Zanzibar     Tanzania  ZNZ
 1575        Zaragoza        Spain  ZAZ
 1576       Zhengzhou        China  CGO
 1577        Zhoushan        China  HSN
 1578          Zurich  Switzerland  ZRH

 [1579 rows x 3 columns]]

In [19]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4     Abbotsford, BC       Canada  YXX
...              ...          ...  ...
1574        Zanzibar     Tanzania  ZNZ
1575        Zaragoza        Spain  ZAZ
1576       Zhengzhou        China  CGO
1577        Zhoushan        China  HSN
1578          Zurich  Switzerland  ZRH

[1579 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here are a few examples: https://pandas.pydata.org/docs/user_guide/io.html#io-read-xml

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [8]:
url = 'https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [37]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [38]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [39]:
#ANSWER
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [40]:
bikes.index

RangeIndex(start=0, stop=17379, step=1)

In [42]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this.
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [43]:
#ANSWER
print(bikes['atemp'].head())
print(type(bikes['atemp']))
print(bikes[['atemp']].head())
print(type(bikes[['atemp']]))

0    0.2879
1    0.2727
2    0.2727
3    0.2879
4    0.2879
Name: atemp, dtype: float64
<class 'pandas.core.series.Series'>
    atemp
0  0.2879
1  0.2727
2  0.2727
3  0.2879
4  0.2879
<class 'pandas.core.frame.DataFrame'>

How would we use object notation to show the first 4 rows of `atemp`?

In [44]:
#ANSWER
print(bikes.atemp[:4])

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [45]:
bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
#E: bikes[[0,0]]

KeyError: "None of [Index([0], dtype='int32')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [46]:
#ANSWER
bikes[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/01/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [47]:
#ANSWER
bikes.iloc[:, 1]

0         1/01/2011
1         1/01/2011
2         1/01/2011
3         1/01/2011
4         1/01/2011
            ...
17374    31/12/2012
17375    31/12/2012
17376    31/12/2012
17377    31/12/2012
17378    31/12/2012
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [48]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [49]:
bikes.isnull()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [50]:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [51]:
bikes.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [53]:
bikes['windspeed'].isnull().sum()

0

In [54]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [57]:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

In [ ]:
# nan is a missing value in the dataset that we may need to replace in order to get a workable dataset to ensure the dtype for that column/s is appropriate

?
ANSWER:

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [58]:
#ANSWER
def divide(dividend, divisor):
    if divisor == 0:
        quotient = np.nan
    else:
        quotient = dividend / divisor
    return (quotient)

print(divide(1, 0))

nan

Apply the Pandas `isna` function to the following data objects:

In [59]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [61]:
#ANSWER
print(pd.isna(x), pd.isna(y))

False True

In [68]:
y

nan

In [69]:
x

2.3

In [70]:
pd.isna(y)

True

In [62]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [63]:
#ANSWER
print(pd.isna(array))

[[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

In [64]:
# panda will analyse strings in the data set and any missing values will be treated as nan, we can use na_values to recognise other values such as '??' or 'not available' or blanks to be converted to nan

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [71]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/01/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,1/01/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,1/01/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,1/01/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,1/01/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [73]:
bikes.weekday.unique()

array([6, 0, 1, 2, 3, 4, 5], dtype=int64)

In [74]:
bikes.season.unique()

array([1, 2, 3, 4], dtype=int64)

In [72]:
#ANSWER
bikes['season'].value_counts()

season
3    4496
2    4409
1    4242
4    4232
Name: count, dtype: int64

### Ranges

In [75]:
bikes.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [77]:
bikes.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,17379.0,8690.000000,5017.029500,1.00,4345.5000,8690.0000,13034.5000,17379.0000
season,17379.0,2.501640,1.106918,1.00,2.0000,3.0000,3.0000,4.0000
yr,17379.0,0.502561,0.500008,0.00,0.0000,1.0000,1.0000,1.0000
mnth,17379.0,6.537775,3.438776,1.00,4.0000,7.0000,10.0000,12.0000
hr,17379.0,11.546752,6.914405,0.00,6.0000,12.0000,18.0000,23.0000
holiday,17379.0,0.028770,0.167165,0.00,0.0000,0.0000,0.0000,1.0000
weekday,17379.0,3.003683,2.005771,0.00,1.0000,3.0000,5.0000,6.0000
workingday,17379.0,0.682721,0.465431,0.00,0.0000,1.0000,1.0000,1.0000
weathersit,17379.0,1.425283,0.639357,1.00,1.0000,1.0000,2.0000,4.0000
temp,17379.0,0.496987,0.192556,0.02,0.3400,0.5000,0.6600,1.0000
atemp,17379.0,0.475775,0.171850,0.00,0.3333,0.4848,0.6212,1.0000
hum,17379.0,0.627229,0.192930,0.00,0.4800,0.6300,0.7800,1.0000
windspeed,17379.0,0.190098,0.122340,0.00,0.1045,0.1940,0.2537,0.8507
casual,17379.0,35.676218,49.305030,0.00,4.0000,17.0000,48.0000,367.0000
registered,17379.0,153.786869,151.357286,0.00,34.0000,115.0000,220.0000,886.0000
cnt,17379.0,189.463088,181.387599,1.00,40.0000,142.0000,281.0000,977.0000

In [78]:
bikes.sample(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
7525,7526,15/11/2011,4,0,11,4,0,2,1,1,0.56,0.5303,0.64,0.2985,1,6,7
7181,7182,31/10/2011,4,0,10,20,0,1,1,1,0.40,0.4091,0.66,0.0896,18,154,172
10413,10414,15/03/2012,1,1,3,0,0,4,1,1,0.54,0.5152,0.49,0.1343,14,46,60
3890,3891,16/06/2011,2,0,6,0,0,4,1,1,0.60,0.6212,0.56,0.1045,9,38,47
3570,3571,2/06/2011,2,0,6,16,0,4,1,1,0.80,0.6818,0.22,0.4925,63,255,318
9613,9614,10/02/2012,1,1,2,12,0,5,1,2,0.30,0.3030,0.42,0.1343,8,168,176
9446,9447,3/02/2012,1,1,2,12,0,5,1,1,0.34,0.3333,0.46,0.1343,25,191,216
4272,4273,1/07/2011,3,0,7,22,0,5,1,1,0.70,0.6364,0.42,0.0000,49,173,222
8868,8869,10/01/2012,1,1,1,9,0,2,1,2,0.18,0.1970,0.93,0.1642,11,184,195
9618,9619,10/02/2012,1,1,2,17,0,5,1,2,0.34,0.3333,0.42,0.1940,15,381,396

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [76]:
print('instant:', bikes['instant'].min(), 'to', bikes['instant'].max())
print('dteday:', bikes['dteday'].min(), 'to', bikes['dteday'].max())
print('windspeed:', bikes['windspeed'].min(), 'to', bikes['windspeed'].max())

instant: 1 to 17379
dteday: 1/01/2011 to 9/12/2012
windspeed: 0.0 to 0.8507

In [80]:
#ANSWER
print('instant:', bikes['instant'].min(), 'to', bikes['instant'].max())
print('dteday:', bikes['dteday'].min(), 'to', bikes['dteday'].max())
print('windspeed:', bikes['windspeed'].min(), 'to', bikes['windspeed'].max())

instant: 1 to 17379
dteday: 1/01/2011 to 9/12/2012
windspeed: 0.0 to 0.8507

Compute and print the overall minimum and maximum of the numeric data columns:

In [82]:
bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
bikes_min, bikes_max

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'

In [83]:
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)),
                        max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [84]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [87]:
bikes['atemp'].quantile((0.20, 0.60, 0.90))

0.2    0.3030
0.6    0.5303
0.9    0.6970
Name: atemp, dtype: float64

In [85]:
#ANSWER
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [88]:
type(bikes['atemp'])

pandas.core.series.Series

In [89]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
5555,5556,24/08/2011,3,0,8,9,0,3,1,1,0.64,0.6061,0.69,0.2537,44,169,213
595,596,28/01/2011,1,0,1,0,0,5,1,2,0.20,0.2121,0.75,0.1343,0,9,9
17225,17226,25/12/2012,1,1,12,14,1,2,0,1,0.38,0.3939,0.46,0.2985,58,68,126
3813,3814,12/06/2011,2,0,6,19,0,0,0,1,0.70,0.6667,0.74,0.1045,67,156,223
8112,8113,9/12/2011,4,0,12,16,0,5,1,1,0.36,0.3485,0.62,0.1343,24,226,250

In [90]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/01/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,1/01/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,1/01/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,1/01/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,1/01/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [94]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [95]:
#ANSWER
print(type(atemp_level))

<class 'pandas.core.series.Series'>

Here is a random sample of `atemp_level`:

In [96]:
atemp_level.sample(5)

12397    (0.5, 0.75]
9972     (0.25, 0.5]
10438    (0.25, 0.5]
11455    (0.25, 0.5]
15194    (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [97]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

12896    warm
2131     mild
5812      hot
14781    warm
9371     mild
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [98]:
#ANSWER
bikes['atemp_level'] = atemp_level
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].season.count()

1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initialise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [99]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [105]:
a

array([0., 0., 0.])

In [106]:
b

array([[1., 1., 1.]])

In [107]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,atemp_level
0,1,1/01/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,mild
1,2,1/01/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,mild
2,3,1/01/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,mild
3,4,1/01/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,mild
4,5,1/01/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,mild

## Load Data

Load rock.csv and clean the dataset.

In [100]:
# ANSWER
rock_csv = '../../DATA/rock.csv'
rock = pd.read_csv(rock_csv)

## Check Column Names

Check column names and clean.

In [101]:
# ANSWER
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [103]:
# cleaning the column names
def clean_column_name(column_names):
    clean_column_names = []
    for c in column_names:
        c = c.lower().replace(' ', '_')
        c = c.lower().replace('*', '')
        c = c.lower().replace('?', '')
        clean_column_names.append(c)

    return clean_column_names

In [104]:
rock.columns = clean_column_name(rock.columns)

In [109]:
clean_column_name(rock.columns)

['song_clean',
 'artist_clean',
 'release_year',
 'combined',
 'first',
 'year',
 'playcount',
 'fg']

In [108]:
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [ ]:
# faster way
rock.columns = crock.columns.str.replace(' ', '_').str.replace('?', '').str.replace('"', ''),str.lower().str.strip()

## Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [110]:
rock.isnull().sum()

song_clean        0
artist_clean      0
release_year    577
combined          0
first             0
year              0
playcount         0
fg                0
dtype: int64

In [111]:
rock[rock.release_year.isnull()]

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
...,...,...,...,...,...,...,...,...
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

In [112]:
# release year has nans, to turn nan to 0
rock['release_year'].fillna(0, inplace=True)

In [113]:
rock.isnull().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
playcount       0
fg              0
dtype: int64

In [ ]:
# ANSWER

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [114]:
# ANSWER
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  2230 non-null   object
 3   combined      2230 non-null   object
 4   first         2230 non-null   int64
 5   year          2230 non-null   int64
 6   playcount     2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [117]:
rock.release_year.astype('int64')

ValueError: invalid literal for int() with base 10: 'SONGFACTS.COM'

In [118]:
# subset songfacts
rock[rock.release_year == 'SONGFACTS.COM']

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [119]:
rock.loc[rock.release_year == 'SONGFACTS.COM', 'release_year'] = 0

In [120]:
rock[rock.song_clean == 'Bullfrog Blues']

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
1504,Bullfrog Blues,Rory Gallagher,0,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [121]:
rock.release_year.astype('int64')

0       1982
1          0
2       1981
3       1980
4       1975
        ...
2225       0
2226    1981
2227    1975
2228    1983
2229    1973
Name: release_year, Length: 2230, dtype: int64

In [122]:
rock[rock.release_year !=0].release_year.max()

'2014'

In [139]:
rock['release_year'] = pd.to_numeric(rock['release_year'])

In [140]:
rock.dtypes

song_clean      object
artist_clean    object
release_year     int64
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [115]:
# ANSWER
def check_min_max(df):
    # Check min, max of each column
    print(df.describe().T[['min', 'max']])

In [141]:
check_min_max(rock)

              min     max
release_year  0.0  2014.0
first         1.0     1.0
year          0.0     1.0
playcount     0.0   142.0
fg            0.0   142.0

In [142]:
rock[rock.release_year !=0].release_year.max()

2014

In [143]:
rock[rock.release_year !=0].release_year.min()

1071

In [144]:
# slice 1071
rock[rock.release_year == 1071]

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
547,Levon,Elton John,1071,Levon by Elton John,1,1,8,8

In [145]:
rock.loc[rock.release_year == 1071, 'release_year'] = 0

In [146]:
rock[rock.release_year !=0].release_year.min()

1955

## Write Some Functions

In [147]:
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [149]:
# ANSWER
rock.dtypes

song_clean      object
artist_clean    object
release_year     int64
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

In [150]:
def check_song(row):
    print('Song: ', row['song_clean'])
    print('Artist: ', row['artist_clean'])
    print('Released before 1970: ', row['release_year'] < 1970)
    print('\n')

In [151]:
rock.iloc[0]

song_clean                     Caught Up in You
artist_clean                        .38 Special
release_year                               1982
combined        Caught Up in You by .38 Special
first                                         1
year                                          1
playcount                                    82
fg                                           82
Name: 0, dtype: object

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [152]:
# ANSWER
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [158]:
def convert_to_numeric(column):
    column = pd.to_numeric(column, errors='coerce')
    return column

In [159]:
rock['combined']

0                         Caught Up in You by .38 Special
1                             Fantasy Girl by .38 Special
2                          Hold On Loosely by .38 Special
3                   Rockin' Into the Night by .38 Special
4                               Art For Arts Sake by 10cc
                              ...
2225                    She Loves My Automobile by ZZ Top
2226                          Tube Snake Boogie by ZZ Top
2227                                       Tush by ZZ Top
2228                                 TV Dinners by ZZ Top
2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...
Name: combined, Length: 2230, dtype: object

### Apply this last function to your dataset

In [ ]:
# ANSWER

In [161]:
rock[['release_year', 'first', 'year', 'playcount', 'fg']].apply(convert_to_numeric)

      release_year  first  year  playcount   fg
0             1982      1     1         82   82
1                0      1     0          3    0
2             1981      1     1         85   85
3             1980      1     1         18   18
4             1975      1     1          1    1
...            ...    ...   ...        ...  ...
2225             0      1     0          1    0
2226          1981      1     1         32   32
2227          1975      1     1        109  109
2228          1983      1     1          1    1
2229          1973      1     1          2    2

[2230 rows x 5 columns]

### 'Describe' the new DataFrame

In [ ]:
# ANSWER

In [162]:
rock.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,2230.0,1464.851121,867.711063,0.0,0.0,1973.0,1981.0,2014.0
first,2230.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
year,2230.0,0.741256,0.438043,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872646,25.302972,0.0,1.0,4.0,21.0,142.0
fg,2230.0,15.048430,25.288366,0.0,0.0,3.0,18.0,142.0

>



---



---



> > > > > > > > > © 2023 Institute of Data


---



---