# 자료형과 변수

- shift + Enter : 실행 후 다음 셀로 이동, 다음 셀이 없으면 생성 
- ctrl + Enter : 현재 셀만 실행
- alt + Enter : 현재 셀 실행 후 다음 셀 생성

## 현재 사용 파이썬 점검

In [1]:
import sys
sys.version

'3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import site
site.getsitepackages()

['C:\\ProgramData\\anaconda3-23-09',
 'C:\\ProgramData\\anaconda3-23-09\\Lib\\site-packages']

## 1절. 파이썬 자료형과 리터럴

In [3]:
# %% 자료형 개요
print(20, type(-7))
print(-3.67, type(-3.18))
print(0.34e1, 0.34E2)
print(64.6784e-1, 123.34E-2)
print(3 + 4j, type(5 - 4.3j))

20 <class 'int'>
-3.67 <class 'float'>
3.4 34.0
6.46784 1.2334
(3+4j) <class 'complex'>

In [1]:
# %% 문자열 str
print('Python is powerful.')
print("파이썬은 쉬워요.")
# print('파이썬은 강력해요.")
# print("파이썬은 확장성이 좋아요.')

Python is powerful.
파이썬은 쉬워요.

In [2]:
print('''Beautiful is better than ugly.
Explicit is better than implicit.''')

Beautiful is better than ugly.
Explicit is better than implicit.

In [3]:
print('"python"')
print("'java'")

"python"
'java'

In [4]:
print('py'[0], 'py'[1])

p y

In [5]:
# %% bool
print(3 > 4, type(3 < 4))

False <class 'bool'>

In [6]:
print(bool(0), bool(0.0), bool(''))
print(bool(1), bool(0.1), bool('b'))

False False False
True True True

In [7]:
# %% literals & variable
print(True, False)
# 3000으로 인식하지 못하며 출력문 내부에서 출력 자료의 구분자 쉼표로 인식 
print(3,000) # 출력 자료 3과 0으로 인식

True False
3 0

In [8]:
# %% various radix literals
print(10, 0b10, 0B11) # ob oB 2진수
print(11, 0o11, 0O12) # 0o 8진수
print(12, 0x12, 0X13) # 0x 0X 16진수
print(1_000, 1_000_000, 1_00) # 수에서 _

10 2 3
11 9 10
12 18 19
1000 1000000 100

In [8]:
# %% comments

# 이후 줄 종료까지 주석
print('comments') # 이후 줄 종료까지 주석

''' 여러줄 주석에 활용
    수: int float complex
    문자열: str
    시퀀스형: list tuple
    매핍형: dict
    집합형: set frozenset
'''

comments

' 여러줄 주석에 활용\n    수: int float complex\n    문자열: str\n    시퀀스형: list tuple\n    매핍형: dict\n    집합형: set frozenset\n'

## 2절. 변수와 모임 자료형

In [9]:
# %%
print('파이썬은 1990년에 개발되었다.')
print('자바는 1995년에 개발되었다.')

파이썬은 1990년에 개발되었다.
자바는 1995년에 개발되었다.

In [10]:
prog_lang = '파이썬은'
devp_year = 1990
print(prog_lang, devp_year, '년에 개발되었다.')

prog_lang = '자바는'
devp_year = 1995
print(prog_lang, devp_year, '년에 개발되었다.')

파이썬은 1990 년에 개발되었다.
자바는 1995 년에 개발되었다.

In [11]:
print(5 ** 2 * 3.14 * 4.5)

radius, height = 5, 4.5
pi = 3.14
print(radius * radius * pi * height)

radius, height = 2.3, 5.7
print(radius**2 * pi * height)

353.25
353.25
94.68042

In [12]:
# %%
name = '홍길동'
직업 = '학생'
print(name, 직업)

홍길동 학생

In [13]:
# 2026_worldcup = '미국 캐나다 멕시코'
worldcup_2026 = '미국 캐나다 멕시코'
print('2026년 월드컵 개최국:', worldcup_2026)

# total@money = 300000
# name&person = 'tom'

2026년 월드컵 개최국: 미국 캐나다 멕시코

In [9]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [10]:
# %%
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [16]:
# %% list tuple
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [17]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst)
lst.append('py')
print(lst)

[1, 3.92, False, 'list']
[1, 3.92, False, 'list', 'py']

In [18]:
lst[0]
lst[4]
print(lst)
lst[1] = 'java'
print(lst)

[1, 3.92, False, 'list', 'py']
[1, 'java', False, 'list', 'py']

In [19]:
# %% list tuple
tpl = (10, 20, 30)
print(tpl, type(tpl))

(10, 20, 30) <class 'tuple'>

In [20]:
tpl = 1, 3.92, 3 > 4, 'tuple'
print(tpl, type(tpl))

print(tpl[0])
print(tpl[3])

(1, 3.92, False, 'tuple') <class 'tuple'>
1
tuple

In [21]:
# tpl[1] = 100
# tpl.append('py') # 오류발생

In [22]:
# %% dict
mart = {'라면':1200, '음료수':1500, '과자':800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [23]:
mart['라면']
mart['음료수']

print(mart)
mart['과자'] = 900
print(mart)

print(mart)
mart['삼각김밥'] = 1700
print(mart)

mart.keys()
mart.values()

{'라면': 1200, '음료수': 1500, '과자': 800}
{'라면': 1200, '음료수': 1500, '과자': 900}
{'라면': 1200, '음료수': 1500, '과자': 900}
{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

dict_values([1200, 1500, 900, 1700])

In [24]:
# %% set
basket = {'apple', 'orange', 'apple', 'pear'}
print(basket)

basket.add('banana')
print(basket)

# basket[0] # 오류

{'orange', 'apple', 'pear'}
{'orange', 'apple', 'banana', 'pear'}

In [25]:
myset = {1, 2, 3.4}
print(myset)
myset.add(True)
print(myset)

# myset.add([1, 2]) # 오류

{1, 2, 3.4}
{1, 2, 3.4}

In [26]:
# %% frosenset
pl = frozenset({'python', 'kotlin'})
pl = frozenset(('python', 'kotlin'))
pl = frozenset(['python', 'kotlin'])
print(pl, type(pl))

# pl.add('java')  # 오류

frozenset({'python', 'kotlin'}) <class 'frozenset'>

In [27]:
# %% mutable vs immutable
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [28]:
# %% mutbale vs immutable
a = b = 1
print(id(a), id(b))
print(id(a) == id(b))

140711000707880 140711000707880
True

In [29]:
a = a + 1
print(id(a), id(b))
print(id(a) == id(b))

140711000707912 140711000707880
False

In [11]:
print(id(2), id(1+1), id(3-1))

140712818611016 140712818611016 140712818611016

In [12]:
data = 10
print(id(data))
data = 10 + 1
print(id(data))

140712818611272
140712818611304

In [31]:
lst = [1, 2, 3]
print(id(lst))

lst.append(4)
print(id(lst))

2613030810944
2613030810944

In [32]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [33]:
s, a, x, t = 'py', 10, 3.4, (1, 2, 3)
print(hash(s), hash(a))
print(hash(x), hash(t))

4475000099362023540 10
922337203685477379 529344067295497451

In [34]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [35]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [36]:
print(hash({1, 2, 3}))

TypeError: unhashable type: 'set'

## 3절. 표준입력과 표준출력

In [37]:
# %% input()
input()
age = input('나이 입력 >> ')
print(age)

20
나이 입력 >> 20
20

In [38]:
a = input('정수 입력 >> ')
print(a, type(a))
# print(a + 5) # 오류 발생

정수 입력 >> 30
30 <class 'str'>

In [20]:
# %% int() float()
print(int('300'))
print(float('3.61'))

300
3.61

In [40]:
int('300.4')
float('3.61f')

ValueError: invalid literal for int() with base 10: '300.4'

In [41]:
print(int(3.56))
print(int(-3.4))
print(float(3.4))
print(float(3))

3
-3
3.4
3.0

In [19]:
a = int(input('정수 입력 >> '))
print(a, type(a))
print(a + 5)

100 <class 'int'>
105

In [43]:
x = float(input('실수 입력 >> '))
print(x, type(x))
print(a + x)

실수 입력 >> 4.6
4.6 <class 'float'>
14.6

In [44]:
# %% string format mathod
print('개발환경 {}와 {}'.format('colab', 'codespace'))
print('개발환경 {0}와 {1}'.format('colab', 'codespace'))
print('개발환경 {1}와 {0}'.format('colab', 'codespace'))
print('개발환경 {ide1}와 {ide2}'.format(ide1='colab', ide2='codespace'))

개발환경 colab와 codespace
개발환경 colab와 codespace
개발환경 codespace와 colab
개발환경 colab와 codespace

In [45]:
print('개발환경 {}와 {}'.format('colab'))

IndexError: Replacement index 1 out of range for positional args tuple

In [46]:
# %% format string
s = f'2026년 월드컵'
print(s)

2026년 월드컵

In [47]:
print(f'{3 * 3 * 3.14}')
print(f'{3 ** 4}')
print(f'{12 // 4}')
print(f'{1.1 + 3.1}')
print(f'{0b11 + 0xa}')

28.26
81
3
4.2
13

In [23]:
a = 16
f'10진수: {a} 2진수: {a:05b} 8진수: {a:05o} 16진수: {a:05x}'

'10진수: 16 2진수: 10000 8진수: 00020 16진수: 00010'

In [48]:
# %% format dict 
na = {'nation':'대한민국', 'capital':'서울'}
f'국가: {na["nation"]} 수도: {na["capital"]}'
f"국가: {na['nation']} 수도: {na['capital']}"

'국가: 대한민국 수도: 서울'

In [49]:
# %% format specifiers
won, ex_rate = 150000, 1228.4 
print('{} 원은 $ {}'.format(won, won/ex_rate))
print('{:d} 원은 $ {:10f}'.format(won, won/ex_rate))
print('{:10d} 원은 $ {:.2f}'.format(won, won/ex_rate))

150000 원은 $ 122.110061869098
150000 원은 $ 122.110062
    150000 원은 $ 122.11

In [50]:
won, ex_rate = 150000, 1478.2 
print(f'{won} 원은 {chr(8364)} {won/ex_rate}')
print(f'{won:d} 원은 {chr(8364)} {won/ex_rate :10f}')
print(f'{won:10d} 원은 {chr(8364)} {won/ex_rate :.2f}')

150000 원은 € 101.4747666080368
150000 원은 € 101.474767
    150000 원은 € 101.47

In [52]:
# %% module math
import math

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [53]:
print(math.pow(3, 4))
print(math.fsum([3.3, 4.4]))
print(math.sqrt(16))

81.0
7.7
4.0

In [54]:
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [55]:
x = .123
print(f'{x:8.1%} {x:.2%} {x:f}')

   12.3% 12.30% 0.123000

In [56]:
# %%
p1 = 'java'
p2 = 'python'
p3 = 'kotlin'
print('1234567890' * 3)
print(f'{p1:10s}{p2:10s}{p3:10s}')
print(f'{p1:<10s}{p1:^10s}{p1:>10s}')
print(f'{p2:<10s}{p2:^10s}{p2:>10s}')

123456789012345678901234567890
java      python    kotlin
java         java         java
python      python      python

In [57]:
# %% tuple 
# 튜플 자체는 변경할 수 없지만 해당 내용이나 요소는 변경할 수 있습니다.
a = [1, 2]
b = 30
t = a, b
print(t)

([1, 2], 30)

In [58]:
# 튜플 항목 제체를 수정 가능 
a.append(3)
print(t)

([1, 2, 3], 30)

In [59]:
# 첨자로 튜플 항목 수정 불가능 
# t[0] = [1, 2, 3]
print(t)

([1, 2, 3], 30)

## 함수 기초

In [2]:
# %%
print('안녕, 현수!')
print('안녕, 수희!')
print('안녕, 지수!')

# %% 함수
def greet():
    print('안녕, 현수!')
    print('안녕, 수희!')
    print('안녕, 지수!')

greet()

안녕, 현수!
안녕, 수희!
안녕, 지수!
안녕, 현수!
안녕, 수희!
안녕, 지수!

In [3]:
# %%
def greet(name):
    print(f'안녕, {name}!')

greet('현수')
greet('수희')
greet('지수')
greet('모든 친구들')

안녕, 현수!
안녕, 수희!
안녕, 지수!
안녕, 모든 친구들!

In [4]:
# %% 반환 값 None
def greet(name):
    print(f'안녕, {name}!')

print(greet('모든 친구들'))

안녕, 모든 친구들!
None

In [5]:
# %%
area = 24
print(f'{area} 평은 {area*3.3:.2f} 제곱미터')
area = 32
print(f'{area} 평은 {area*3.3:.2f} 제곱미터')

24 평은 79.20 제곱미터
32 평은 105.60 제곱미터

In [6]:
# %%
def toArea(pg):
    return pg * 3.3 

toArea(16)

pg = 24
print(f'{pg} 평은 {toArea(pg):.2f} 제곱미터')
pg = 32
print(f'{pg} 평은 {toArea(pg):.2f} 제곱미터')

24 평은 79.20 제곱미터
32 평은 105.60 제곱미터

#### 함수도 객체

In [7]:
# 함수 정의
def hello():
    print('안녕')

print(type(hello))

<class 'function'>

In [8]:
# 정의된 함수 주소 출력
print(hello)
print(id(hello))

<function hello at 0x0000028B61237F60>
2797653426016

In [9]:
# 함수 호출
print(hello())

# 함수 대입
my_hello = hello
my_hello()

id(my_hello), id(hello)

안녕
None
안녕

(2797653426016, 2797653426016)

In [11]:
# %% 람다 함수 정의
lambda : print('안녕')

In [12]:
# 람다 함수 정의와 호출
(lambda : print('안녕'))()

안녕

In [13]:
my_hello = lambda : print('안녕')
my_hello()

안녕

In [14]:
print(my_hello, type(my_hello))
print(my_hello())

<function <lambda> at 0x0000028B612E4680> <class 'function'>
안녕
None

In [16]:
# 람다 함수 정의
pyeong_to_ms = lambda pg: f'{pg} 평은 {pg*3.3:.2f} 제곱미터'

# 람다 함수 호출
print(pyeong_to_ms(24))
print(pyeong_to_ms(32))

24 평은 79.20 제곱미터
32 평은 105.60 제곱미터

## 조건

In [25]:
# %% if
credits = 10
if credits < 12:
    print('한 학기 수강 학점이 부족합니다.')

한 학기 수강 학점이 부족합니다.

In [26]:
# 한 줄로 작성하지 말도록 권고 
if credits < 12: print('한 학기 수강 학점이 부족합니다.')

한 학기 수강 학점이 부족합니다.

In [27]:
speed = 55
if 40 <= speed <= 60:
    print(f'현재 속도 {speed}는 적정 합니다.')

현재 속도 55는 적정 합니다.

In [28]:
temperature = 34
if 33 <= temperature:
    print(f'폭염에 주의하세요.')
else:
    print(f'기온 {temperature}도 입니다.')

폭염에 주의하세요.

In [29]:
age = 20
if age >= 70:
    print('노인')
elif age >= 20:
    print('성인')
elif age >= 12:
    print('청소년')
elif age >= 6:
    print('어린이')
elif age >= 1:
    print('유아')
else:
    print('영아')

성인

In [ ]:
# %% 코딩 에제
# 단위 변환 함수 정의
def celsius_to_fahrenheit(celsius):
    """섭씨 온도를 화씨 온도로 변환하는 함수"""
    return (celsius * 9/5) + 32

def kilometers_to_miles(kilometers):
    """킬로미터를 마일로 변환하는 함수"""
    return kilometers * 0.621371

def pounds_to_kilograms(pounds):
    """파운드를 킬로그램으로 변환하는 함수"""
    return pounds * 0.453592

# 사용자로부터 함수 선택
print("다음 중 원하는 변환을 선택하세요:")
print("1. 섭씨를 화씨로 변환")
print("2. 킬로미터를 마일로 변환")
print("3. 파운드를 킬로그램으로 변환")

choice = int(input("번호를 입력하세요: "))
# 선택한 함수를 호출하여 결과 출력
if 1 <= choice <= 3:
    # 선택한 함수에서 입력 받기
    input_value = float(input("변환할 값을 입력하세요: "))
    result = 0
    if choice == 1:
        result = celsius_to_fahrenheit(input_value)
    elif choice == 2:    
        result = kilometers_to_miles(input_value)
    elif choice == 3:    
        result = pounds_to_kilograms(input_value)
    print(f"변환 결과: {result:.2f}")
else:
    print("올바른 번호를 선택하세요.")

'''
# 단위 변환 함수를 리스트에 저장
result = conversion_functions[choice - 1](input_value)
functions = [celsius_to_fahrenheit, kilometers_to_miles, pounds_to_kilograms]
'''

In [30]:
# %% conditional if 
is_sunny = True
play = '놀이공원 가기' if is_sunny else '집에서 놀기'
print(play)

놀이공원 가기

In [31]:
is_sunny = False
print('놀이공원 가기') if is_sunny else print('집에서 놀기')

집에서 놀기

In [32]:
point = 85
grade = 'C' if point < 80 else 'B' if point < 90 else 'A'
print(grade)

B

In [33]:
age = 5
age_grade = '노인' if age >= 70 else \
            '성인' if age >= 20 else \
            '청소년' if age >= 12 else \
            '어린이' if age >= 6 else \
            '유아' if age >= 1 else \
            '영아'
print(age_grade)

유아

In [35]:
credits = 11
if credits < 12: print('한 학기 수강 학점이 부족합니다.')

한 학기 수강 학점이 부족합니다.

In [36]:
credits = 10
if credits < 12: print('학점이 부족합니다.'); print('최소 학점: 12')

학점이 부족합니다.
최소 학점: 12

In [37]:
credits = 15
if credits < 12: print('학점이 부족합니다.'); print('최소 학점: 12')
else: print(f'신청 학점: {credits}'); print('학점이 적정합니다.')

신청 학점: 15
학점이 적정합니다.

In [38]:
num = 1
if num == 0: print('해'); print('달'); print('별');
elif num == 1: print('눈'); print('코'); print('잎');
elif num == 2: print('소'); print('말'); print('양');
else: print('꽃'); print('비'); print('씨');

눈
코
잎

In [ ]:
# %% 코딩 예제
# 사용자로부터 두 개의 숫자 입력 받기
num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))

# 큰 수 판별하여 출력
result = num1 if num1 > num2 else num2
print(f"두 숫자 중 큰 수는 {result}입니다.")

# 작은 수 판별하여 출력
if num1 > num2: result = num2
else: result = num1
print(f"두 숫자 중 작은 수는 {result}입니다.")

## 반복 for in과 while

In [39]:
for i in [1, 2, 3]:
    print(i)
else: 
    print('리스트의 모든 항목에 대해 반복 종료!')

1
2
3
리스트의 모든 항목에 대해 반복 종료!

In [40]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [42]:
fruits = ("apple", "banana", "grape")
for one in fruits:
  print(one)

apple
banana
grape

In [43]:
languages = {'Swift', 'Python', 'Go', 'Java'}
for lang in languages:
    print(lang)

Swift
Go
Java
Python

In [44]:
languages = {'Swift': 2014, 'Python': 1991, 'Go': 2009, 'Java': 1995}
for lang in languages:
    print(lang)

Swift
Python
Go
Java

In [45]:
for lang in languages:
    print(languages[lang])

2014
1991
2009
1995

In [46]:
for c in 'python':
    print(c, end=' ')

p y t h o n

In [ ]:
# %% 코딩 예제 # 낱말의 문자에 해당하는 그래프 그리기
s = 'python'

for char in s:
    print(f'{char}: ', end=' ')
    print("*" * (ord(char) - ord("a") + 1))
    # print(f'{"*" * (ord(char) - ord("a") + 1)}')

In [48]:
# %% type range()
r = range(6) # 0, 1, 2, 3, 4, 5 
print(r, type(r))

range(0, 6) <class 'range'>

In [49]:
print(r.start, r.step, r.stop)

0 1 6

In [51]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [52]:
tuple(range(6))

(0, 1, 2, 3, 4, 5)

In [53]:
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4

In [54]:
for i in range(1, 10):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [55]:
for _ in range(5, 0, -1):
    print(_,  end = ' ')

5 4 3 2 1

In [56]:
for _ in range(10, -10, -5):
    print(_,  end = ' ')

10 5 0 -5

In [ ]:
# %% 코딩 예제
for i in range(0, 13, 3):
    print(i, end= ' ')

for _ in range(5):
    print(3*_, end = ' ')

In [ ]:
# %% 코딩 예제
# 빈 목록 생성
name_list = []

# 사용자로부터 이름 입력받기
num_names = int(input("입력할 이름의 수를 입력하세요: "))

for i in range(num_names):
    name = input(f"{i+1}. 이름을 입력하세요: ")
    name_list.append(name)  # 이름을 목록에 추가

# 알파벳 순으로 정렬
name_list.sort() # 리스트의 정렬

# 정렬된 이름 목록 출력
print("\n입력한 이름들(문자 순):")
for name in name_list:
    print(f"{name}")

In [57]:
n = 4
while 1 <= n:
    print(n, end = ' ')
    n = n - 1
else:
    print(f'\nwhile 종료 후: 변수 n => {n}')

4 3 2 1
while 종료 후: 변수 n => 0

In [ ]:
# %% 코딩 예제
# 할 일 목록을 저장할 빈 리스트 생성
todo_list = []

while True:
    print("할 일 목록을 관리하는 프로그램입니다.")
    print("1. 할 일 추가")
    print("2. 할 일 목록 보기")
    print("3. 프로그램 종료")
    
    choice = input("선택할 옵션을 입력하세요 (1/2/3): ")
    
    if choice == '1':
        task = input("추가할 할 일을 입력하세요: ")
        todo_list.append(task)  # 할 일을 리스트에 추가
        print(f"'{task}'를 할 일 목록에 추가했습니다.")
    
    elif choice == '2':
        print("\n할 일 목록:")
        for task in todo_list:
            print(f"{task}")
    
    elif choice == '3':
        print("프로그램을 종료합니다.")
        break  # 반복문 종료
    
    else:
        print("올바른 옵션을 선택하세요.")
    
    print()  # 공백 줄을 추가하여 출력을 구분합니다.

In [58]:
# %% break
i = 1
while i <= 10:
    print(f'6 * {i} = {6*i}')
    if i == 3:
        break   
    i = i + 1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18

In [60]:
for s in 'python':
    if s in 'aeiou':
       continue
    print(s, end = ' ')
else:
 	print()

p y t h n

In [ ]:
# %% 코딩 예제
while True:
    user_input = int(input("1~10 사이 정수 입력(-1 입력시 종료) >> "))
    
    if user_input == -1:
        print("프로그램을 종료합니다.")
        break  # 반복문 종료
    
    if user_input < 1 or user_input > 10:
        print("1부터 10까지의 숫자를 입력하세요.")
        continue  # 현재 반복 중단 후 다음 반복 시작
    
    if user_input % 2 == 0:
        print(f"{user_input}는 짝수입니다.")
    else:
        continue  # 홀수일 경우 현재 반복 중단 후 다음 반복 시작

In [61]:
i = 7
for j in range(1, 10):
    print(f'{i} * {j} = {i*j} ', end=' ')

7 * 1 = 7  7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63

In [62]:
# %%
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} * {j} = {i*j:2d} ', end=' ')
    print()

2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18
3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27
4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36
5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45
6 * 1 =  6  6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54
7 * 1 =  7  7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63
8 * 1 =  8  8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72
9 * 1 =  9  9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81