FOR for temp_var in iterable: statement 1 ...

statement n
... iterables are string,list,tuple,set,dict,generator etc

In [31]:
nums = [1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i)

1
23
5
6
3
6
21
6
6

- ENUMERATE
- ZIP

In [32]:
names = ['john','jane','jack','bill']
for name in enumerate(names):
    print(name)
    for c in name :
        print(c)

(0, 'john')
0
john
(1, 'jane')
1
jane
(2, 'jack')
2
jack
(3, 'bill')
3
bill

In [33]:
names = ['John', 'Jane', 'Jack', 'Jill']
for name in enumerate(names): #index bhi print krega
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [34]:
for idx,  name in enumerate(names): #index bhi print krega
    print(name, idx)

John 0
Jane 1
Jack 2
Jill 3

In [35]:
names = ['john','jack','rohan']
for idx, name in enumerate(names):
    print(name ,idx)

john 0
jack 1
rohan 2

In [36]:
x = [2,3,6,8,10]
y = [1,3,5,7,9]
#ek se zada iterables ko iterate krana
for i,j in zip(x,y):
    print(i*j)

2
9
30
56
90

In [37]:
x =[2,3,4,5,6,7,8]
y = [3,4,3,4,51]
for (i,j) in zip(x,y):
    print(i,j)

2 3
3 4
4 3
5 4
6 51

In [38]:
z = [3,6,9,12,15]
for i,j,k in zip(x,y,z):
    print(i*j+k)

9
18
21
32
321

In [39]:
z = [3,4,5,9,8,7]
for (i,j,k) in zip(x,y,z):
    print(i,j,k)

2 3 3
3 4 4
4 3 5
5 4 9
6 51 8

In [40]:
movies = ['Interstellar', 'The Martian', 'Gravity', 'Apollo 13']
rating = [8.6,8.0,7.7,7.6]
for name,star in zip(movies, rating):
    print(f'{name:20}{star}‚≠ê')

Interstellar        8.6‚≠ê
The Martian         8.0‚≠ê
Gravity             7.7‚≠ê
Apollo 13           7.6‚≠ê

In [41]:
movies = ['yodha','pathan','tiger']
rating = [3,4,5]
for name,star in zip(movies,rating):
    print(f'{name:50}{star}üíñ')

yodha                                             3üíñ
pathan                                            4üíñ
tiger                                             5üíñ

In [42]:
x = [1,2,2,3,2,2,1,2,2,3,0,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')

1223221223

In [1]:
x =[1,2,3,4,4,5,5,6,7,0,66,4,45,6,43]
for i in x:
    if i == 0:
        break
    print(i, end='')

123445567

In [44]:
x = [1,2,2,3,2,0,2,1,2,2,3,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')

12232

In [3]:
x = [2,3,4,4,56,7,8,5,4,4,6,6,5,4,3]
for i in x:
    if i == 0:
        break
    print(i,end='')

2344567854466543

In [4]:
for i in x:
    if i ==0:
        break
    print(i,end='')
else:
    print('loop completed')

2344567854466543loop completed

In [45]:
for i in x:
    if i == 0:
        break
    print(i, end ='')
else:
    print('loop completed')

12232

In [46]:
x = [1,2,2,3,2,2,1,2,2,3,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')
else:
    print('loop completed')

1223221223451245loop completed

In [9]:
for k in range(3,9):
    print(k,end='')

345678

In [47]:
num = 7
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else:
    print('prime')

prime

In [48]:
num = int(input('enter a number: '))
for i in range(2, num):
    print(f'{num} % {i} = {num % i}')
    if num % i == 0:
        print('not prime')
        break
else:
    print('prime')

ValueError: invalid literal for int() with base 10: ''

In [49]:
x = [1,2,3,None,5,1,None,2,3,None,3,2,1,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num, end=' ')

1 2 3 5 1 2 3 3 2 1 2 3 3

In [50]:
for num in x:
    if num is not None:
        print(num, end=' ')

1 2 3 5 1 2 3 3 2 1 2 3 3

#sum  ek function h to uske naam se variable nhin banega

In [51]:
odd_sum = 0
for num in x:
    if num is not None and num % 2 !=0:
        odd_sum += num
print(odd_sum)

23

INFINITE LOOP

In [52]:
while True:
    user = input('üê±‚Äçüë§ enter username:')
    password = input ('üôå enter password')
    if user == 'admin':
        if password == 'secret':
            print('welcome admin')
            break
        else:
            print('wrong password')
    else:
        print('wrong username')

wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username
wrong username