In [14]:
print([10,20,30,40,50,60,70,80,90,100][2:7])
print([10,20,30,40,50,60,70,80,90,100][2:7][1])

[30, 40, 50, 60, 70]
40

In [1]:
d = {'금요일' : '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
print('금요일 : ', d['금요일'])
print('토요일 : ', d['토요일'])
print('일요일 : ', d['일요일'])

# ,사용해서 띄어쓰기 됨

금요일 :  탕수육
토요일 :  유산슬
일요일 :  팔보채

In [2]:
print('안녕하세요\n저는 이성철입니다.')
print('\t 이게 간격')

안녕하세요
저는 이성철입니다.
	 이게 간격

In [3]:
print('hello\'hello\'')
print("hello\"world\"")
print('*\n**\n***')
print('이름\t연락처')
print('제시카\t02-123-4567')

hello'hello'
hello"world"
*
**
***
이름	연락처
제시카	02-123-4567

In [4]:
print('재미있는','파이썬')
print('Python','Java','C',sep='.')
print()
print('영화 타이타닉')
print('평점',end =':')
print('5점')

재미있는 파이썬
Python.Java.C

영화 타이타닉
평점:5점

##### print 내에 sep, end를 사용하는 것
sep의 경우 구분자
end의 경우 다음 나오는 방법

In [5]:
zipcode = '06236'
print(f'우편번호 : {zipcode}')
# format method 대학생들이 많이 사용함, 단지 f-string이 더 좋으니 이쪽으로

우편번호 : 06236

In [6]:
name = 'Kai'
print('내 이름은 %s입니다' %name)
print()
height = 120.5
print('내 키는 %fcm입니다'%height)
print()
weight = 23.55
print('내 몸무게는 %.1fkg입니다'%weight)
print()
year,month,day = 2014,8,25
print('내 생일은 %d년 %d월 %d일입니다.'%(year,month,day))

내 이름은 Kai입니다

내 키는 120.500000cm입니다

내 몸무게는 23.6kg입니다

내 생일은 2014년 8월 25일입니다.

%연산자는 진짜 잘 안 쓰이겠네
예전 코드들 아니면
그것보다 나은게 format method
그것보다 훨씬 지금 자주 쓰이는 것은 f-string

In [7]:
zipcode = '06236'
print('우편번호: {}'.format(zipcode))
address = '''서울특별시 강남구
테헤란로 146'''
print('주소:{addr}'.format(addr=address))
tel1,tel2,tel3 = '02', '538','0021'
print('연락처: {0}-{1}-{2}'.format(tel1, tel2, tel3))

우편번호: 06236
주소:서울특별시 강남구
테헤란로 146
연락처: 02-538-0021

In [8]:
who = 'you'
how = 'happy'
print(f'{who} make me {how}')
print()
age = 25
print(f'내년엔 {age+1}살이 됩니다')

you make me happy

내년엔 26살이 됩니다

In [9]:
name = input('이름을 입력하세요')
age = input('나이를 입력하세요')

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}입니다.')

입력된 이름은 이성철입니다.
입력된 나이는 26입니다.

In [10]:
price = 50000
n = int(input('할부 개월 입력>>>'))
print(f'매달 내는 돈은{price / n}원입니다.')

매달 내는 돈은10000.0원입니다.

In [12]:
n1 = float(input('첫 번째 실수를 입력하세요 >>> '))
n2 = float(input('두 번째 실수를 입력하세요 >>> '))
print(f'{n1}와 {n2}의 합은 {n1+n2}입니다.')
print()
month = input('1~12 사이의 월을 입력하세요>>>')
month_day = [31,28,31,30,31,30,31,31,30,31,30,31]
print(f'{month}월은 {month_day[int(month)-1]}일까지 있습니다.')
print()
English_dict ={
  'flower':"꽃",
  'fly':"날다",
  'floor':'바닥'
}
word = input('영어 단어를 입력하세요 >>>')
print(f'{word}:{English_dict[word]}')

1.23와 2.34의 합은 3.57입니다.

2월은 28일까지 있습니다.

flower:꽃

In [13]:
s = set()
s.add(input('수학여행지'))
s.add(input('수학여행지'))
s.add(input('수학여행지'))

print(s)

{'민속촌', '제주'}

DAY 3

2**3 = 거듭제곱
3//2 : 몫 연산자
3% 2 : 나머지 연산자

In [16]:
a = 7
b = 2
print(f'{a} + {b} = {a+b}')
print(f'{a} - {b} = {a-b}') 
print(f'{a} * {b} = {a*b}')
print(f'{a} ** {b} = {a**b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} // {b} = {a//b}')
print(f'{a} % {b} = {a%b}')

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 ** 2 = 49
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1

파이썬 같은 경우는 다중 대입 가능함! 장점임

In [17]:
a,b = 10,20
print(f'a = {a}, b = {b}')
a,b = b,a
print(f'a = {a}, b = {b}')

a = 10, b = 20
a = 20, b = 10

In [18]:
piggy_bank = 0
money = 10000
piggy_bank += money
print(f'저금통에는 용돈{money}원을 넣었습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')
snack = 2000
piggy_bank -= snack
print(f'저금통에는 스낵 구입비 {snack}원을 뺏습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

저금통에는 용돈10000원을 넣었습니다.
지금 저금통에는 10000원이 있습니다.
저금통에는 스낵 구입비 2000원을 뺏습니다.
지금 저금통에는 8000원이 있습니다.

In [19]:
a = 15
print(f'{a} > 10 : {a>10}')
print(f'{a} < 10 : {a<10}')
print(f'{a} >= 10 : {a>=10}')
print(f'{a} <= 10 : {a<=10}')
print(f'{a} == 10 : {a==10}')
print(f'{a} != 10 : {a!=10}')

15 > 10 : True
15 < 10 : False
15 >= 10 : True
15 <= 10 : False
15 == 10 : False
15 != 10 : True

In [20]:
a, b = 10, 0
print(f'{a} > 0 and {b} > 0 : {a>0 and b>0}')
print(f'{a} > 0 or {b} > 0 : {a>0 or b>0}')
print(f'not {a} : {not a}')
print(f'not {b} : {not b}')

10 > 0 and 0 > 0 : False
10 > 0 or 0 > 0 : True
not 10 : False
not 0 : True

In [22]:
tree = '#'
space = ' '
print(space*4 + tree*1)
print(space*3 + tree*3)
print(space*2 + tree*5)
print(space*1+ tree *7)
print(space*0 + tree*9)

    #
   ###
  #####
 #######
#########

In [23]:
a, b = 10, 20
result = (a-b) if (a>=b) else (b-a) # 이런걸 삼항 연산자라고 함
print(f'{a}와 {b}의 차이는 {result}입니다.')

10와 20의 차이는 10입니다.

page 78 예제 문제 풀이

In [26]:
n = input('10 ~ 99 사이의 정수를 입력하세요 >>')
print(f'십의 자리: {int(n)//10}')
print(f'일의 자리: {int(n)%10}')

십의 자리: 4
일의 자리: 5

In [32]:
second = input('초를 입력하세요:')
print(f'변환 결과는 {int(second)//3600}시간 {int(second)%3600//60}분 {int(second)%3600%60}초 입니다.')

변환 결과는 1시간 1분 30초 입니다.

In [35]:
num = input('4자리 사원번호를 입력하세요:')
result = '오전' if int(num[-1]) >= 5 else '오후'
print(f'근무 시간은 {result}입니다.')

근무 시간은 오전입니다.

In [39]:
num = int(input(''' 한 박스에 20개의 라면을 담을 수 있습니다. 
                라면의 개수를 입력하시면 필요한 박스 수를 알려드립니다.
                라면의 개수를 입력하세요: '''))
box = num //20
box += 1 if num % 20 > 0 else box
print(f'{num}개 라면을 담으려면 {box}박스가 필요합니다.')

50개 라면을 담으려면 3박스가 필요합니다.

In [41]:
K = int(input('국어 점수를 입력하세요 >>'))
E = int(input('영어 점수를 입력하세요 >>'))
M = int(input('수학 점수를 입력하세요 >>'))

result = '합격' if (K+E+M) /3 >= 80 else '불합격'
print(f'평균은 {(K+E+M)/3}이고, 결과는 {result}입니다.')

평균은 83.0이고, 결과는 합격입니다.

In [42]:
age = int(input('몇 살입니까? >>>'))
if age >= 20:
    print('성인')
else:
    print('미성년자')

성인

In [54]:
# 명예의 전당(1)

def solution(k, score):
    answer = []
    for i in range(len(score)):
        temp = sorted(score[:i+1])[-k:]
        answer.append(min(temp))
    return answer

In [56]:
solution(3, [10,100,20,150,1,100,200])

[10, 10, 10, 20, 20, 100, 100]

9/19일 
page 99 못 풀었음 책이 없어서..

In [58]:
# 아마 숫자 비교일 듯?

a = int(input('정수 입력'))
b = int(input('정수 입력'))
c = int(input('정수 입력'))

if a>b:
  if a > c:
    print(f'{a}가')

9가

In [60]:
carNo = input('차량 번호 입력 : ')

if int(carNo[-1]) % 2 == 0:
    print(f'차량번호 {carNo}은 운행가능입니다.')

차량번호 9998은 운행가능입니다.

In [61]:
# while 조건식:
    # 반복합시다.
    
n = 10
while n >= 1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

In [62]:
my_list = []

n = int(input('정수를 입력하세요(종료는 0입니다.) >>> '))

while n != 0:
  my_list.append(n)
  n = int(input('정수를 입력하세요(종료는 0입니다.) >>> '))
  
print(my_list)

ValueError: invalid literal for int() with base 10: ''

In [64]:
dan = 2
while dan <= 9:
    n = 1
    while n <= 9:
        print(f'{dan}x{n}={dan*n}')
        n += 1
    print()
    dan += 1

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [ ]:
num = 1
while num <= n:
  dan += 1

9월 20일

In [65]:
n = int(input('정수 입력: '))
count = 1
if n <= 0:
    print('잘못 입력')
while count <= n:
    print(f'{count}번째 hi')
    count += 1

1번째 hi
2번째 hi
3번째 hi
4번째 hi
5번째 hi
6번째 hi
7번째 hi

In [66]:
n = 1
while n <= 100:
    if n % 7 == 0:
      print(n)
    n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [67]:
money =  int(input('얼마 ?'))
count = 0
while money >= 300:
    count += 1
    print(f'잔돈 {money}원')
    money -= 300
    
# money = int(input('얼마 ?'))
# count = money // 300
# n = 1
# while n <= count:
#     print(f'커피 {n}잔 잔돈')

잔돈 400원

In [68]:
s = set()
while  len(s) < 5:
    s.add(int(input('정수 입력: ')))
print(s)

{1, 2, 3, 4, 5}

In [69]:
n = 1
while n <= 100:
  print(n, end = ' ')
  n += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [71]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
score = [100,90,50,80]
for n in score:

In [74]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [75]:
num = int(input('임의의 양수를 입력하세요>>>'))
sum = 0
for i in range(num+1):
    sum += i
print(sum)

15

In [76]:
f_n = int(input('몇개의 과일을 보관할까요?'))
store = []
for i in range(1, f_n+1):
    store.append(input(f'{i}번째 과일을 입력하세요'))
print(store)

['사과', '바나나', '체리', '오렌지', '망고']

In [80]:
exam = [99,89,100,91,81,85,54,100,71,50]
new_exam = []
for score in exam:
    if score >= 95:
        new_exam.append(100)
    else:
        new_exam.append(score+5)
print(new_exam)

[100, 94, 100, 96, 86, 90, 59, 100, 76, 55]

In [88]:
for i in range(1, 100):
    units = i % 10
    tens = i // 10
    if units % 3 == 0 and units != 0 and tens % 3 == 0 and tens != 0:
        print('짝짝', end = '\t')
    elif units % 3 == 0 and units != 0 or tens % 3 == 0 and tens != 0:
        print('짝', end = '\t')
    else:
        print(i, end = '\t')
    if i % 10 == 0:
      print()

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝

In [89]:
while True:
    city = input('대한민국의 수도는 어디일까요?')
    if city =='서울' or city == 'seoul' or city == 'SEOUL':
      print('정답입니다.')
      break
    else:
      print('오답입니다. 다시 시도하세요')

정답입니다.

In [90]:
hobbies = []
while True:
    hobby = input('취미를 입력하세요(종료는 그냥 엔터)')
    if hobby == '':
        print('입력된 취미가 모두 저장되었습니다.')
        break
    else:
        hobbies.append(hobby)
print(hobbies)

입력된 취미가 모두 저장되었습니다.
['커피마시기', '카페가기', '영화보기', '유튜브', '웹툰']

In [ ]:
fruits = ['사과', '감귤']
count = 3

while count > 0:
    fruit = input('어떤 과일을 저장할까요?')
    if fruit in fruits:
        print('동일한 과일이 있습니다.')
        continue
    fruits.append(fruit)
    count -= 1
    print(f'입력이 {count}번 남았습니다.')
  
print(f'5개 과일은 {fruits}입니다.')

In [92]:
count = 0
total = 0
while count < 5:
    n = int(input(f'{count+ 1}번째 정수를 입력하세요'))
    if n <= 0:
      print('0 이하의 정수는 처리할 수 없습니다.')
      continue
    total += n
    count += 1
print(f'입력된 5개의 양수의 총 합은{total}입니다.')

입력된 5개의 양수의 총 합은24입니다.

In [118]:
pwd = input('비밀번호를 입력하세요 >>> ')

ch_count, num_count = 0, 0

for ch in pwd:
    if ch.isalpha():
      ch_count += 1
    elif ch.isnumeric():
      num_count += 1

if ch_count > 0 and num_count > 0:
    print('가능한 비밀번호입니다.')
else:
    print('불가능한 비밀번호입니다.')

가능한 비밀번호입니다.

In [119]:
# [표현식 for 변수 in 반복가능객체]
[n * 2 for n in [1,2,3,4]]

[2, 4, 6, 8]

In [120]:
# for n in range(start, end, step):
for n in range(1,11,2):
    li = n *2

In [121]:
dan = int(input('출력할 구구단을 입력하세요 >>> '))
for n in range(1,10):
    print(f'{dan} x {n} = {dan*n}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [122]:
person = {'name': '에밀리',
          'age' : 20}
for item in person:
    print(f'{item} : {person[item]}')

name : 에밀리
age : 20

In [123]:
eng_dict ={
  'sun' : '태양',
  'moon': '달',
  'star' : '별',
  'space' : '우주'
}
for word in eng_dict:
    print(f'{word}의 뜻 : {eng_dict.get(word)}')

sun의 뜻 : 태양
moon의 뜻 : 달
star의 뜻 : 별
space의 뜻 : 우주

In [124]:
n = 1
sum = 0
while n <= 10:
    sum += n
    n += 1
print(sum)

55

p 141

In [125]:
money = 10000
print(f'현재 {money}원이 있습니다.')
while True:
    use = int(input('사용할 금액 입력'))
    if use < 0:
      print('0 이하의 금액은 사용할 수 없습니다.')
    elif use > money:
      print(f'{use - money}원이 부족합니다.')
    else:
      money -= use
      print(f'현재 {money}원이 있습니다.')  
    if money == 0:
        break
      
money = 10000
while True:
    print(f'{money}원 있습니다')
    
    if money == 0:
        break
    spend = int(input('사용할 금액 : '))
    if spend <= 0:
        print('0원 이하 사용 x')
    elif spend > money:
        print(f'{spend - money}원 부족')
    else:
      money -= spend

현재 10000원이 있습니다.
현재 6000원이 있습니다.
1000원이 부족합니다.
현재 3000원이 있습니다.
현재 0원이 있습니다.
10000원 있습니다
7000원 있습니다

ValueError: invalid literal for int() with base 10: ''

In [106]:
answer = ''
while True:
    score = int(input('이번 영화의 평점을 입력하세요'))
    if score not in range(1,6):
        print('평점은 1~5 사이만 입력할 수 있습니다.')
    else:
        answer = '★'*score
        break
print(answer)

★★★★

In [126]:
while True:
    grade = int(input('별점 입력: '))
    if grade >= 1 and grade <= 5:
        print(f'평점 : {'★'*grade}')
        break
    else: 
        print('다시 입력')

SyntaxError: invalid character '★' (U+2605) (900536079.py, line 4)

In [115]:
count = 5
while True:
    password = input('비밀번호를 입력하세요.')
    count -= 1
    if count == 0:
        print('비밀번호 입력 횟수를 초과했습니다.')
        break
    elif password == 'qwerty':
        print('비밀번호를 맞혔습니다.')
        break

비밀번호를 맞혔습니다.

In [117]:
for i in range(3,10):
    if i % 2 == 1:
        for j in range(i):
            print(f"{i}x{j+1}={i*(j+1)}")
    else:
      print()

3x1=3
3x2=6
3x3=9

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [129]:
# 유니코드 및 아스키코드
chr(48) >> '0'
ord('A') >> 65

65

In [132]:
print(str(ord('이')) + ' ' + str(ord('성')) + ' ' + str(ord('철')))

51060 49457 52384

In [134]:
# eval()함수는 사용하지 않음
# 보안이 굉장히 떨어지기 때문에 사용하지 않음

format(10000, '_')

'10_000'

In [135]:
expr = input('계산식을 입력하세요 >>>')
result = eval(expr)
print(expr + '=' +  str(result))

3+5=8

In [ ]:
# abs(num) = 절대값
# divmod(10,3) >>> (3,1) (몫과 나머지)를 튜플로 알려줌 (수정x 순서 있음)
# float(3) >>> 3.0 실수로 만듬
# pow(10,2) >>>10**2 = 100 제곱 만듬
# round(num, 어디까지) 어디번째 자리까지 소수점 반올림할지

In [139]:
money = 10000
price = 3000
result = divmod(money, price)
print(f'빵을 {result[0]}개 사고 {result[1]}원 남았습니다.')

빵을 3개 사고 1000원 남았습니다.

In [143]:
# 시퀀스 > list, tuple과 같이 순서와 수정이 가능한 것
li = ['가위','바위','보']
for item in enumerate(li):
    print(item) # >>> 결과 튜플 형식으로 나옴(i번째, 결과)
for idx, item in enumerate(li):
    print(idx, item)

(0, '가위')
(1, '바위')
(2, '보')
0 가위
1 바위
2 보

In [149]:
li = [4,2,7,1,3]
li = sorted(li, reverse = True)
print(li)

[7, 4, 3, 2, 1]

In [150]:
my_list = [6,3,1,2,5,4]
print(sorted(my_list))
print(my_list)

[1, 2, 3, 4, 5, 6]
[6, 3, 1, 2, 5, 4]

In [152]:
my_list = [6,3,1,2,5,4]
my_list = sorted(my_list)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [153]:
names = ['james','emily','amanda']
scores = [60,70,80]
for students in zip(names,scores):
    print(students)

('james', 60)
('emily', 70)
('amanda', 80)

In [154]:
months = [31,28,31,30,31,30,31,31,30,31,30,31]
for month, day in enumerate(months):
    print(f'{month+1}월 = {day}일')

1월 = 31일
2월 = 28일
3월 = 31일
4월 = 30일
5월 = 31일
6월 = 30일
7월 = 31일
8월 = 31일
9월 = 30일
10월 = 31일
11월 = 30일
12월 = 31일

In [155]:
rainbow = ['red','orange','yellow','green','blue','navy','purple']
for num, color in enumerate(rainbow):
    print(f'무지개의 {num+1}번째 색은 {color}입니다.')

무지개의 1번째 색은 red입니다.
무지개의 2번째 색은 orange입니다.
무지개의 3번째 색은 yellow입니다.
무지개의 4번째 색은 green입니다.
무지개의 5번째 색은 blue입니다.
무지개의 6번째 색은 navy입니다.
무지개의 7번째 색은 purple입니다.

In [9]:
print('점수를 입력하세요. 더 이상 입력할 점수 없을 경우 음수를 아무거나 입력하세요')
exam_li = []
while True:
    score = int(input('점수를 입력하세요'))
    if score < 0:
        break
    else:
        exam_li.append(score)
print(exam_li)
everage = sum(exam_li)/len(exam_li)
print(f'평균 = {everage}, 최대 = {max(exam_li)}, 최소 = {min(exam_li)}')

점수를 입력하세요. 더 이상 입력할 점수 없을 경우 음수를 아무거나 입력하세요
[80, 60, 50, 30, 90]
평균 = 62.0, 최대 = 90, 최소 = 30

In [3]:
li = []
li.append(80)
li.append(50)
li.append(60)
li.append(30)
li.append(90)

In [6]:
sum(li)/len(li)

62.0

In [10]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이고, 네기ㅏ 그린 기린 그림은 목 짧은 기린 그림이다.'
s.count('기린')

4

In [12]:
s = 'best of best'
s.count('best',5)

1

In [13]:
s = 'best of best'
s.count('best', -7)

1

In [14]:
s = 'apple'
s.find('p')

1

In [15]:
s = 'apple'
s.find('z')

-1

In [17]:
s = 'best of best'
s.find('best')
s.find('best',5)

8

In [18]:
s = 'best of best'
s.rfind('best')

8

In [19]:
s = 'apple'
s.index('p')

1

In [20]:
def address():
    str = '우편번호 12345\n'
    str += '서울시 영등포구 여의도동'
    return str

In [21]:
print(address())

우편번호 12345
서울시 영등포구 여의도동

In [28]:
def calculator(*args):
    return sum(args),sum(args)/len(args),max(args),min(args)

In [29]:
a,b,c,d = calculator(1,2,3,4,5)
print('합계', a)
print('평균', b)
print('최댓값', c)
print('최솟값', d)

합계 15
평균 3.0
최댓값 5
최솟값 1

In [30]:
def calculator(*args):
    return sum(args),sum(args)/len(args),max(args),min(args)
  
result = calculator(1,2,3,4,5)
print('합계', result[0])
print('평균', result[1])
print('최댓값', result[2])
print('최솟값', result[3])

합계 15
평균 3.0
최댓값 5
최솟값 1

In [31]:
def coffee_machine(money,pick):
    print(f"{money}원에 {pick}을 선택하셨습니다.")
    menu ={
      '아메리카노' : 1000,
      '카페라떼' : 1500,
      '카푸치노' : 2000
    }
    if pick not in menu:
        print(f'{pick}은 판매하지 않습니다.')
        return money
    elif menu[pick] > money:
        print(f"{pick}은 {menu[pick]}원입니다.")
        return money, '금액 부족'
    else:
      return money - menu[pick], pick
    
order = input('커피를 선택하세요(아메리카노, 카페라떼, 카푸치노)')
pay = int(input('얼마를 내시나요?'))

change, coffee = coffee_machine(pay, order)
print(f'잔돈 {change}원, 커피 : {coffee}')

4000원에 아메리카노을 선택하셨습니다.
잔돈 3000원, 커피 : 아메리카노

In [36]:
def vending_machine(money):
    for i in range(money//700 + 1):
        print(f"음료수 = {i}개, 잔돈 = {money - 700*i}원")
        
vending_machine(3000)

음료수 = 0개, 잔돈 = 3000원
음료수 = 1개, 잔돈 = 2300원
음료수 = 2개, 잔돈 = 1600원
음료수 = 3개, 잔돈 = 900원
음료수 = 4개, 잔돈 = 200원

In [37]:
def get_average(marks):
    total_score = 0
    for subject in marks:
        total_score += marks[subject]
    return total_score / len(marks)

marks = {'국어': 90, '영어': 80, '수학': 85}
average = get_average(marks)
print(f'평균은 {average}입니다.')

평균은 85.0입니다.

In [40]:
total = 0
def gift(dic, who, money):
    dic[who] = money
    global total
    total += money

wedding = {}
gift(wedding, '영희', 5)
gift(wedding, '철수', 3)
gift(wedding, '이모', 10)
print(f'축의금 명단: {wedding}')
print(f'전체 축의금: {total}')

축의금 명단: {'영희': 5, '철수': 3, '이모': 10}
전체 축의금: 18