<a href="https://colab.research.google.com/github/anandkgupt/My-Practical-lab/blob/main/Live_Session_23_11_24_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

Builtin function

User dfine function

def- its a keyword which create function

In [5]:
a = int(input())  # Takes the first integer input and assigns it to variable 'a'
b = int(input())  # Takes the second integer input and assigns it to variable 'b'
c = a + b         # Calculates the sum of 'a' and 'b' and assigns it to variable 'c'

2,4

ValueError: invalid literal for int() with base 10: '2,4'

1. Function: Define and Call

In [6]:
## definie the function
def add_two_numbers(a,b):
    return a+b

In [8]:
## call the function
add_two_numbers(4,6)

10

2.

In [13]:
##
def add_no_input():
  a= int(input())
  b= int(input())
  return a+b

In [15]:
result = add_no_input()  # Calls the function
print("The sum is:", result)  # Prints the returned value

5 7

ValueError: invalid literal for int() with base 10: '5 7'

3. function with argument but no return value

In [9]:
def greet_user(name):
    print(f"Hello, {name}! Welcome to the program.")

In [10]:
greet_user("Alice")  # Function is called with "Alice" as the argument

Hello, Alice! Welcome to the program.

4. function with no argument but return value

In [11]:
def get_pi():
    return 3.14159

In [12]:
pi_value = get_pi()  # Call the function and store the returned value in a variable
print("The value of pi is:", pi_value)

The value of pi is: 3.14159

Define a function with two output first name and last name = full name

In [16]:
def full_name(first_name, last_name):
    return f"{first_name} {last_name}"

In [17]:
name = full_name("John", "Doe")
print("The full name is:", name)

The full name is: John Doe

write a python function string is palindrome or not

In [18]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for consistent comparison
    s = s.replace(" ", "").lower()
    # Check if the string is the same as its reverse
    return s == s[::-1]

In [19]:
# Test cases
print(is_palindrome("Racecar"))  # True
print(is_palindrome("hello"))    # False
print(is_palindrome("A man a plan a canal Panama"))  # True

True
False
True

Write function check even odd(n) that take integer as input and prints

In [20]:
def check_even_odd(n):
    if n % 2 == 0:
        print(f"{n} is even.")
    else:
        print(f"{n} is odd.")

In [21]:
check_even_odd(10)  # Even
check_even_odd(15)  # Odd

10 is even.
15 is odd.

function count vowel or not

In [22]:
def count_vowels(s):
    # Define the set of vowels
    vowels = "aeiouAEIOU"
    # Initialize a counter
    count = 0
    # Loop through the string and count vowels
    for char in s:
        if char in vowels:
            count += 1
    return count

In [23]:
print(count_vowels("Hello World"))  # Output: 3
print(count_vowels("Python Programming"))  # Output: 4

3
4

User define functions:

1.Reqired argument

In [24]:
def rectangle_area(length, width):
    return length * width

In [28]:
# Valid call
area = rectangle_area(10, 5)
print("The area of the rectangle is:", area)

# Invalid call (will raise an error)
area = rectangle_area(10, 5)  # Missing the 'width' argument

The area of the rectangle is: 50

2. User-Defined Function with Keyword Arguments

In [29]:
def final_price(price, discount=0, tax=0):
    return price - (price * discount / 100) + (price * tax / 100)

In [30]:
# Using only positional arguments
print(final_price(1000, 10, 5))  # Output: 950.0

# Using keyword arguments (order doesn't matter)
print(final_price(price=1000, tax=5, discount=10))  # Output: 950.0

# Mixing positional and keyword arguments
print(final_price(1000, tax=5, discount=10))  # Output: 950.0

950.0
950.0
950.0

3. User-Defined Function with Default Arguments

Default arguments are parameters that take a default value if no argument is provided during the function call. This allows the function to be called with fewer arguments, and if any argument is missing, the default value is used.

In [32]:
def calculate_price(price, discount=10):
    return price - (price * discount / 100)

In [33]:
print(calculate_price(100))  # Discount is 10 by default, Output: 90.0

90.0

In [34]:
print(calculate_price(100, 20))  # Discount is 20, Output: 80.0

80.0

4. User-Defined Function with Variable-Length Arguments

In Python, you can define functions that accept a variable number of arguments using the following methods:

*args for variable-length positional arguments.

**kwargs for variable-length keyword arguments.

Combining *args and **kwargs

You can combine both *args and **kwargs in the same function to accept both variable-length positional and keyword arguments. When used together, *args must appear before **kwargs

In [37]:
## args
def sum_numbers(*args):
    return sum(args)

In [36]:
print(sum_numbers(1, 2, 3))        # Output: 6
print(sum_numbers(5, 10, 15, 20))  # Output: 50
print(sum_numbers(7))              # Output: 7

6
50
7

In [38]:
## kwargs
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [39]:
print_details(name="Alice", age=30, city="New York")
# Output:
# name: Alice
# age: 30
# city: New York

name: Alice
age: 30
city: New York

In [40]:
## Combining args and *kwargs
def display_info(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    print("\nKeyword arguments:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [41]:
display_info(1, 2, 3, name="John", age=25)

Positional arguments:
1
2
3

Keyword arguments:
name: John
age: 25

Practice

In [42]:
def calculate_bmi(weight, height):
    bmi = weight / (height ** 2)
    return bmi

In [43]:
weight = 70  # kg
height = 1.75  # meters
bmi = calculate_bmi(weight, height)
print("The BMI is:", bmi)

The BMI is: 22.857142857142858

In [44]:
class Student:
    def __init__(self, name, age, course):
        self.name = name
        self.age = age
        self.course = course

    def display_info(self):
        print(f"Student Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Course: {self.course}")

# Example usage:
student1 = Student("Alice", 20, "Computer Science")
student2 = Student("Bob", 22, "Mathematics")

student1.display_info()
student2.display_info()

Student Name: Alice
Age: 20
Course: Computer Science
Student Name: Bob
Age: 22
Course: Mathematics

In [45]:
def longest_word(words):
    return max(words, key=len)

# Example usage:
word_list = ["apple", "banana", "grapefruit", "kiwi", "orange"]
longest = longest_word(word_list)
print("The longest word is:", longest)

The longest word is: grapefruit

Recursive Function in Python

A recursive function is a function that calls itself to solve a smaller instance of the same problem. Recursion generally consists of two main components:

Base Case: A condition that stops the recursion.

Recursive Case: The part of the function that reduces the problem into a smaller sub-problem and calls the function again.

In [46]:
##Example 1: Factorial using Recursion
def factorial(n):
    if n == 1:  # Base case: factorial of 1 is 1
        return 1
    else:
        return n * factorial(n - 1)  # Recursive case

# Example usage:
print(factorial(5))  # Output: 120

120

In [47]:
##2.Fibonacci Sequence using Recursion
def fibonacci(n):
    if n == 0:  # Base case
        return 0
    elif n == 1:  # Base case
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)  # Recursive case

# Example usage:
print(fibonacci(6))  # Output: 8

8

In [48]:
##3 Sum of Numbers in a List (Recursive Approach)
def sum_of_list(lst):
    if len(lst) == 0:  # Base case: empty list
        return 0
    else:
        return lst[0] + sum_of_list(lst[1:])  # Recursive case: sum first element + sum of rest

# Example usage:
print(sum_of_list([1, 2, 3, 4, 5]))  # Output: 15

15

In [49]:
##4 Tower of Hanoi (Classic Recursion Example)
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
    else:
        tower_of_hanoi(n - 1, source, auxiliary, target)  # Move n-1 disks to auxiliary
        print(f"Move disk {n} from {source} to {target}")  # Move nth disk to target
        tower_of_hanoi(n - 1, auxiliary, target, source)  # Move n-1 disks from auxiliary to target

# Example usage:
tower_of_hanoi(3, 'A', 'C', 'B')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

Scope of variables

1.Global variable

2.Local variable

3.enclosed

4.built-in

In [50]:
x = 10  # Global variable

def func1():
    print(x)  # Accessing global variable

def func2():
    print(x)  # Accessing global variable

func1()
func2()

10
10

In [51]:
def func():
    x = 5  # Local variable
    print(x)  # Accessing the local variable

func()

# print(x)  # This will raise an error because x is local to func()

5

In [52]:
def outer():
    x = 10  # Enclosed variable

    def inner():
        print(x)  # Accessing the enclosed variable

    inner()

outer()

10

In [53]:
print(len("Hello"))  # Using built-in function len

5

LEGB Rule (Scope Resolution Order):

When you reference a variable, Python looks for the variable in the following order:

Local (L): The function or block where the variable is called.

Enclosed (E): In the enclosing function if the variable is in a nested function.

Global (G): In the top-level script or module.

Built-in (B): In the built-in namespace (like print(), len(), etc.).

In [54]:
x = "Global x"

def outer():
    x = "Enclosed x"

    def inner():
        x = "Local x"
        print(x)  # What x is this?

    inner()

outer()

Local x

Lambda Functions in Python

A lambda function is a small, anonymous function defined with the lambda keyword. Lambda functions can have any number of arguments but only one expression. Unlike regular functions defined with def, lambda functions are typically used for short, simple operations, where defining a full function might be unnecessarily verbose.

map, filter, reduce

In [58]:
lambda arguments: expression

In [59]:
add = lambda a, b: a + b
print(add(5, 3))  # Output: 8

8

In [60]:
square = lambda x: x ** 2
print(square(4))  # Output: 16

16

In [61]:
get_ten = lambda: 10
print(get_ten())  # Output: 10

10

In [62]:
## Using map() with Lambda: The map() function applies a function to all items in an input list (or any iterable) and returns a map object (which can be converted into a list).
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [63]:
## Using filter() with Lambda: The filter() function filters elements of an iterable based on a condition (a boolean return value). It returns a filter object (which can be converted into a list).
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4]

[2, 4]

In [64]:
## Using reduce() with Lambda: The reduce() function from the functools module is used to apply a binary function (lambda) cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single value.
from functools import reduce

numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120

Lambda Functions vs Regular Functions

While lambda functions are concise and useful for simple operations, regular functions (defined using def) are better suited for complex logic, documentation, and multiple expressions.

In [65]:
#Lambda Function Example:
multiply = lambda a, b: a * b
print(multiply(3, 4))  # Output: 12

12

In [66]:
#Regular Function Example:
def multiply(a, b):
    return a * b

print(multiply(3, 4))  # Output: 12

12

Ternary Operation vs Lambda Function
Both ternary operations and lambda functions are shorthand ways to write expressions in Python, but they serve different purposes and have distinct use cases. Letâ€™s compare the two:

1. Ternary Operation (Conditional Expression)

The ternary operator (also called conditional expression) in Python allows you to write a simple if-else statement in a single line.

2. Lambda Function

A lambda function is a small, anonymous function that can have multiple arguments and a single expression. It's defined using the lambda keyword and can be used for short operations in Python.

In [69]:
#ternary operation
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)  # Output: Adult

Adult

In [70]:
#lambda function
multiply = lambda x, y: x * y
print(multiply(3, 4))  # Output: 12

12

Map function

The map() function in Python is a higher-order function that applies a given function to each item of an iterable (like a list, tuple, or string) and returns an iterator (a map object) that produces the results.

map(function, iterable, ...)

In [72]:
# Function to square a number
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]

# Apply the square function to each element in the numbers list
squared_numbers = map(square, numbers)

# Convert the result to a list and print it
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [73]:
numbers = [1, 2, 3, 4, 5]

# Apply a lambda function to square each number
squared_numbers = map(lambda x: x ** 2, numbers)

# Convert the result to a list and print it
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [74]:
# Function to add two numbers
def add(x, y):
    return x + y

list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Apply the add function to each pair of elements from list1 and list2
sum_list = map(add, list1, list2)

# Convert the result to a list and print it
print(list(sum_list))  # Output: [5, 7, 9]

[5, 7, 9]

In [75]:
string_numbers = ["1", "2", "3", "4", "5"]

# Use map() to convert the strings to integers
int_numbers = map(int, string_numbers)

# Convert the result to a list and print it
print(list(int_numbers))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

The filter() function in Python is used to filter elements from an iterable (like a list, tuple, etc.) based on a condition defined by a function. The filter() function returns an iterator that includes only those elements that satisfy the condition (i.e., where the function returns True).

filter(function, iterable)

In [76]:
##1. Filtering Even Numbers:
# Function to check if a number is even
def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter the even numbers
even_numbers = filter(is_even, numbers)

# Convert the result to a list and print it
print(list(even_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [77]:
##2. Using filter() with a Lambda Function:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter with a lambda function to filter even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)

# Convert the result to a list and print it
print(list(even_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [78]:
##3. Filtering Odd Numbers:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter the odd numbers
odd_numbers = filter(lambda x: x % 2 != 0, numbers)

# Convert the result to a list and print it
print(list(odd_numbers))  # Output: [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [79]:
##4. Filtering Strings with a Condition:
words = ["apple", "banana", "kiwi", "orange", "pear"]

# Filter words longer than 3 characters
long_words = filter(lambda x: len(x) > 3, words)

# Convert the result to a list and print it
print(list(long_words))  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'kiwi', 'orange', 'pear']