### Day 3
1. Type casting of data(converting data into another type)
1. Operators in python

### Type casting


converting the data one type to another type

In [2]:
number = 10.7

In [3]:
print(type(number))

<class 'float'>

**convert float number into integer number**

int()

In [4]:
int(number) # 10.7 and return 10
print(type(number))

<class 'float'>

In [5]:
print(number) 
number = int(number)
print(number,type(number))

10.7
10 <class 'int'>

**Note:**
    to make comments in python program we use # symbol

**comment**
    it is the general text but no need to execute

In [6]:
print('hi')
# print('hello')
print('everyone')

hi
everyone

**convert integer number into float number**

float()

In [7]:
number = 10
print(number)
print(type(number))

10
<class 'int'>

In [9]:
number = float(number)
print(type(number),number)

<class 'float'> 10.0

In [10]:
print(1,2,3,4,5)

1 2 3 4 5

In [11]:
print('sai',100,10.5)

sai 100 10.5

In [14]:
number = 'sai'

**Is it possible to convert into interger or float?**
number = 'sai'

In [15]:
print(number)
int(number)

sai

ValueError: invalid literal for int() with base 10: 'sai'

In [16]:
print(number)
float(number)

sai

ValueError: could not convert string to float: 'sai'

**is it possible to convert into integer?**
number = '123'

In [18]:
number = '123'
print(type(number))

<class 'str'>

In [19]:
print(int(number))

123

In [20]:
print(type(number))

<class 'str'>

**is it possible to convert into float?**
number = '123.45'

In [21]:
number = '123.45'
print(type(number))

<class 'str'>

In [22]:
print(float(number))

123.45

**What is the output?**

In [23]:
number = '123.45.67'
print(float(number))

ValueError: could not convert string to float: '123.45.67'

**what is the output?**

In [24]:
number = 'ram123'
print(int(number))

ValueError: invalid literal for int() with base 10: 'ram123'

**convert into boolean**

bool()

In [26]:
number = 10

number = bool(number)
print(number,type(number))

True <class 'bool'>

In [28]:
number = '123'
number = int(number)
print(type(number))

<class 'int'>

**convert anything into string**

str()

In [29]:
number = 20
print(type(number))

<class 'int'>

In [30]:
number = str(number)
print(type(number))

<class 'str'>

In [31]:
number = 10.7
print(type(number))

<class 'float'>

In [32]:
number = str(number)
print(type(number))

<class 'str'>

In [33]:
number = 10.7

print(type(str(number)))

<class 'str'>

In [34]:
print(type(number))

<class 'float'>

In [35]:
number ='127.15'

In [36]:
int(number)

ValueError: invalid literal for int() with base 10: '127.15'

In [37]:
print(int(float(number)))

127

In [38]:
isStudentPresent = True

In [39]:
int(isStudentPresent)

1

In [40]:
float(isStudentPresent)

1.0

#### Operators in python


its a special character or symbol to perform some mathematical operation

#### Types of operators

###  Arthematic operators
``` + , - , * , / , // , % , **```

**Addition**

In [41]:
print(10 + 5)

15

In [42]:
print(10 + 10.5)

20.5

**subtraction**

In [43]:
print(20 - 10)

10

**multiplication**

In [44]:
print(10 * 20)

200

**General division**
/

In [45]:
print(9 / 2)

4.5

**floar division //**
 to get coefficien value
```

2) 9 ( 4 (coefficient)
   8
   -
   1 (remainder)
```

In [47]:
print(9 // 2)

4

**modulus operator** %
 to get remainder
```
2) 9 ( 4 (coefficient)
   8
   -
   1 (remainder)
   
```

In [48]:
print(9 % 2)

1

**power of something**
**
2 power 3

In [50]:
print(2 ** 3)

8

### Assignment operators

```= , += , -= , *= , /= , //= , %= , **=```

In [51]:
number = 10

syntax
```variable += value ```
 
internal formula 
    ```variable = variable + value``` 
 
 1. get old or previous value from given variable
 2. do the operation
 3. re-assign latest result to same variable

In [52]:
number = 10

number += 20

print(number)

30

In [53]:
number = 50

In [57]:
print(number) # 
number -= 5
print(number) #

35
30

### comparision operators


== , != , < , > , <= ,>=

In [58]:
print(10 == 10)

True

In [59]:
print( 10 != 20)

True

In [60]:
print( 10 != 10)

False

In [61]:
print(10 < 20)

True

In [62]:
print(10 > 20)

False

In [63]:
print(20 <= 20)

True

In [64]:
print(25 <= 20)

False

In [65]:
print(25 >= 25)

True

### logical operators

and , or , not

In [67]:
raju = 50
rani = 70

print( raju > 35 and rani >35)

True

In [68]:
print(True or False)

True

In [69]:
print(False and False)

False

In [70]:
print(not True)

False

In [71]:
print(not False)

True

### Bitwise operators

1. & bitwise and
1. | bitwise or
1. ~ bitwise not
1. ^ bitwise xor
1. ```<< bitwise left shift ```
1. ```>> bitwise right shift```

**Bitwise and &**

In [72]:
a = 10
b = 11
print(a & b)

10

```
1. convert given value into binary
2. apply and operation for the bitwise
3. convert the binary result into decimal
```

```
            binary
a = 10      1 0 1 0
b = 11      1 0 1 1
--------------------
and  =      1 0 1 0 (final result in binary)


convert into decimal (1 0 1 0) ==>   10
```

**Bitwise or |**

In [73]:
a = 10
b = 11
print(a | b)

11

a = 10
b = 11
        1 0 1 0
        1 0 1 1

----------------
or      1 0 1 1


convert result binary 1 0 1 1 into decimal  ===> 11

**Bitwise not ~**

~ a


result = -a -1

In [76]:
a = 10
print(~a)

-11

**Bitwise left shift operator <<**

 actualVaue << numberOfPosition

In [77]:
a = 10
b = 2
print( a << b)

40

1. convert actual value to binary
2. move the binary digits to left side
3. repeat the step 2 for given b numberOfPositions
4. convert binary into decimal

a = 10
b = 2
a << b
```

for clarity 
    position   8 7 6 5 4 3 2 1 0

10 binary                1 0 1 0
           <-----
  
1st move               1 0 1 0 X

2nd move             1 0 1 0 X X

final result         1 0 1 0 X X
replace X with 0
                     1 0 1 0 0 0
convert result into decimal (1  0  1  0  0  0)  40 
```

**Bitwise right shift >>**

```
actualValue >> numberOfPositions```

In [78]:
a = 10
b = 2
print(a >> b)

2

a = 10
b = 2
a >> b
```

for clarity 
    position   8 7 6 5 4 3 2 1 0

10 binary                1 0 1 0
           ----->
  
1st move                   1 0 1 X 

2nd move                     1 0 X X 

final result                1 0 X X
replace X neglect or remove 
                    
convert result into decimal (1  0)  2 
```

### special operators
1. Membership operators
2. Identity operators

#### Membership operators
  in , not in

**to check particular member is available or not in group of members**

In [79]:
name = "python programming"

**Is the 'python' available in name variable?**

In [80]:
print('python' in name)

True

In [81]:
print('s' in 'sai')

True

In [82]:
print('s' in 'ram')

False

In [83]:
print('s' not in 'ram')

True

### identity operators

is , is not

In [84]:
raju = [50,60,70]
lakshmi = [50,60,70]

**Whatever the raju got marks is same as lakshmi?**

In [86]:
print(raju == lakshmi)

True

**Is the progress report or marks report also same**?

In [87]:
print(raju is lakshmi)

False

In [88]:
a = 10
b = 10
print(a is b)

True

In [89]:
a = 10000
b = 10000

print(a is b)

False

In [91]:
number = True
number = str(number)

print(number,type(number))

True <class 'str'>