- Press  ***esc + h*** for helping keyboard short cuts

- find and replace :  **f**

#### Today topics

- Differences between IDLE and Anaconda
- About cells
- how to run
- Comment lines: That line will not be execute in coding part
    - We have two types of comment lines
        - Single line comment -  # ..
        
        - Multiple line comment - """     ------------
                                         --------------
                                         -------------    """
                                         
- What is Markdown:
    - It is a Light weight and popular markup language
    - It is similar to HTML code
    
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

<br> Line break <br>

**Bold**

*Itallic*


***Both bold and Itallic***


    

    
- This is first point
    - This is subpoint
        - this is another subpoint
            - this is another
                - this is another
                    - this is another
                        - this is another
- This is second point

<ul>
    <li> one </li>
    <li> two</li>
    
    
<ol>
    <li>This is unordered list</li>
    <li>This is unordered list</li>
    <li>This is unordered list</li>

# This is single line comment


I am trying to comment multiple lines
this is second line
third line

In [ ]:
## Markdown is similar to HTML

HTML -h1 to h6
Markdown - # to ######

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
####### Heading 7
######## Heading 8
######### Heading 9

This is normal line
______

### Horizontal lines

_____

This is a horizontal line ___________

### Image 
<img src= "image.png">
<img src= "image.png" align="right">
<img src= "image.png" height="50" width="50">

#### href 

<a href="https://www.apssdc.in/home/"/>  APSSDC </a> <br>
<a href ="https://www.google.com"> GOOGLE</a>
<a href="https://www.geeks.com">GEEKS</a>

## Videos

In [ ]:
<video controls src="myvideo.mp4" width="500" height="500">

In [31]:
#### Today topics

# - Differences between IDLE and Anaconda
# - About cells
# - how to run

In [26]:
# This is comment line a is variable 
a=10
a

10

In [8]:
b=20

In [9]:
b

20

c=30
c

In [19]:
a

10

b

In [20]:
b

20

In [21]:
a

10

In [ ]:
a

In [22]:
a

10

## Literate Programming

Environment have both coading and documentation

##### Python topics:

##### Advantages:

- Simple
- Interpretted Language
- Cross platform and Portable
- Free and Open source
- Object Oriented
    - Class
    - Object
    - Inheritance
    - Data Abstaction
    - Encapsulation
- Lot of Libraries

##### History :

### Guido Van Rossum 

- Thought 1980's
- version -->0.9.0 --> 1991
- version -->1.0--> 1994
- Version-->2.0-->octo 2000

- After 8 years


- Version --> 3.0 -->

- Latest 3.8.4

### Applications:

- NASA,TCS,Google,IBM


- console based applications(Ipython)
- audio/video based applications
- 3D CAD applications
- Machine learning, Data Analysis

### Python Variables

In [ ]:
a=10
- Here a is called variable 
- 10 is called value

In [47]:
10

10

In [48]:
a

10

In [55]:
a=10
b=100
c=109
d=10

In [57]:
print(a)
print(b)
print(c)
print(d)

10
100
109
10

In [58]:
a=10
b=10
c=10
d=10

In [59]:
print(a)
print(b)
print(c)
print(d)

10
10
10
10

In [61]:
a=b=c=d=900

In [62]:
a

900

In [63]:
b

900

In [64]:
c

900

In [65]:
d

900

In [68]:
a=109;b=20989

In [69]:
a

109

In [70]:
b

20989

# Data types

- Python has no double,char 
- Numerical: 
    - int
    - float
    - complex
    - boolean
- String
- list
- tuple
- Dictionary
- set

In [76]:
x=50
y=50.0
y1=50.00000000000000000000000000000000000000000000000000000000000000000000000
z=3+x
print(z)
i=30>10
print(i)
print(x)
print(type(x))
print(type(y))
print(type(y1))
print(type(z))
print(type(i))

53
True
50
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [73]:
type(x)

int

#### Strings

- It is defined as either 'single quote' or "double quote"

In [77]:
a="Hello Welcome to Python Programming"
a

' Hello Welcome to Python Programming'

In [78]:
b=Hello Welcome to Python Programming

SyntaxError: invalid syntax (<ipython-input-78-4f11d97874d7>, line 1)

In [80]:
c='Hello Welcome to Python Programming'
a="Hello Welcome to Python Programming"
print(a)
print(type(a))
print(c)
print(type(c))

Hello Welcome to Python Programming
<class 'str'>
Hello Welcome to Python Programming
<class 'str'>

In [82]:
a="ai"
z=input()
z

10

'10'

In [83]:
z

'10'

In [84]:
type(z)

str

In [86]:
i=int(input())
i

10

10

In [87]:
type(i)

int

In [88]:
i=input("Enter any number")

Enter any number10

In [89]:
i

'10'

In [1]:
j=int(input("Enter any number"))
j

Enter any number10

10

In [2]:
type(j)

int

In [3]:
k=float(input("number"))

number10

In [4]:
k

10.0

In [5]:
l=int(input("Enter any number"))
l

Enter any number10.0

ValueError: invalid literal for int() with base 10: '10.0'

In [8]:
# tuple = It is a in order colletion and it is immutable,hetrogenius

q=10,20,30,40,50
print(type(q))
print(q)

<class 'tuple'>
(10, 20, 30, 40, 50)

In [10]:
# list : It is defined as Square braces,and also it is hetrogenius

mylist=[]
mylist1=[10,"hi",40.0,"Welcome to Online session"]
mylist1

[10, 'hi', 40.0, 'Welcome to Online session']

In [11]:
type(mylist1)

list

In [12]:
mylist

[]

In [18]:
#set : It is defined as flower braces
# It Is arranged in acceding order
# It delete duplicates

myset={90,10,20,30,"hi","hello","InduPriya",10,30,40,10,10}

In [19]:
myset

{10, 20, 30, 40, 90, 'InduPriya', 'hello', 'hi'}

In [26]:
# dictionary: It has keys and values
# keys are always unique
# Values is our convient


mydict={"a":10,"a":20, "b":"hi"}
mydict

{'a': 20, 'b': 'hi'}

In [27]:
mydict1={"a":10,"a1":20, "b":"hi",1:"one","2":2,10:10}

In [28]:
mydict1

{'a': 10, 'a1': 20, 'b': 'hi', 1: 'one', '2': 2, 10: 10}

In [34]:
mydict1["a"]

10

In [35]:
mydict1[1]

'one'

In [ ]:
# Type conversion
int-->float
int-->str

In [48]:
x=10
name="name"

h=str(x)+name

h

'10name'

In [53]:
type(x)

int

In [54]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']