In [20]:
# Create three different variables namely my_integer, my_float and my_complex and assign
# integer value, floating-point value and complex value.
# Create a variable my_string and assign it a string value.
# Create a variable my_boolean and assign it a boolean value.
# Print out the values of these variables along with their data types
my_integer = 10
my_float = 10.1
my_complex = complex(3,5)
my_string = "Hello world"
my_boolean = True

print(my_integer , my_float , my_complex , my_string , my_boolean)
print(type(my_integer));
print(type(my_float));
print(type(my_complex));
print(type(my_string));
print(type(my_boolean));

10 10.1 (3+5j) Hello world True
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [30]:
# Create a string variable called `my_string` and assign it a sentence.
# Print the length of `my_string`.
# Convert `my_string` to all uppercase letters and print the result.
# Replace a word in `my_string` with another word and print the modified string.
my_string = "Hello my name is avinash"

# length of string
print(len(my_string))

# upperCaseLetter 
print(my_string.upper());

# replace the string
word = "shiyani avinash"

replaced_string = my_string.replace("avinash" , word)
print(replaced_string)

24
HELLO MY NAME IS AVINASH
Hello my name is shiyani avinash

In [37]:
# Create two variables, n1 and n2, and assign them any numeric values.
# Calculate the sum, difference, product, and division of n1 and n2 and print the results.
# Calculate the square, cube and square root of n2 and print the results.
# Calculate and display remainder of n1 and n2
import math
n1 = 10;
n2 = 20;

sumOfNumber = n1 + n2
differenceOfNumber  = n2-n1
productOfNumber = n1*n2
divitionOfNumber = n1 / n2
squareOfNumber = n2 * n2
cubeOfNumber = n2*n2*n2
squareRoot = math.sqrt(n2)
remainderOfNumber = n1 % n2

print(sumOfNumber , differenceOfNumber ,productOfNumber , divitionOfNumber , squareOfNumber , cubeOfNumber , squareRoot , remainderOfNumber)

30 10 200 0.5 400 8000 4.47213595499958 10

In [42]:
# Create a list called `my_list` with at least five different elements (two integers, two
# strings, one float).
# Print the first element of the list.
# Print the last element of the list.
# Print a slice of the list that includes the second through fourth elements.
my_list = [ 10 , 20 , "hello" , "world" , 10.20]

# printfirstelement
print(my_list[0])

# lastelement
print(my_list[-1])

# sliceLlist
print(my_list[2:4])

10
10.2
['hello', 'world']

In [71]:
my_list = [10, 20, "hello", "world", 10.20]  # Original list

# Print the list
print("Original List:", my_list)

# Append a new element to `my_list`
my_list.append("Hello")  # Appending a new element
print("After Appending:", my_list)

# Remove an element from `my_list`
my_list.remove("hello")  # Removing an element
print("After Removing 'hello':", my_list)

# Check if a specific element is in `my_list`
hasElement = 1 in my_list 
print("Is 1 in my_list?", hasElement)

# Sort `my_list` in ascending order
numeric_list = [10, 20, 10.20]
numeric_list.sort()
print("Sorted numeric list:", numeric_list)

# Reverse the order of elements in `my_list`
my_list.reverse()
print("Reversed List:", my_list)

Original List: [10, 20, 'hello', 'world', 10.2]
After Appending: [10, 20, 'hello', 'world', 10.2, 'Hello']
After Removing 'hello': [10, 20, 'world', 10.2, 'Hello']
Is 1 in my_list? False
Sorted numeric list: [10, 10.2, 20]
Reversed List: ['Hello', 10.2, 'world', 20, 10]

In [24]:
# 6
# Create a dictionary called `my_dict` with at least three key-value pairs.
# Access and print the values associated with one of the keys.
# Add a new key-value pair to `my_dict`.
# Remove one of the key-value pairs from `my_dict`.
# Check if a specific key is in `my_dict`.
my_dict = {
    "name":"avinash",
    "age":18,
    "love":"coding",
}
# print(my_dict["love"])

# added in tuple
# my_dict["avi"] = "bro how are you"

# remove in tuple
# my_dict.pop("age")

isThere = "avinash" in my_dict

print(my_dict , isThere)

{'name': 'avinash', 'age': 18, 'love': 'coding'} False

In [42]:
# 7
# Convert an integer to a string and print the result.
# Convert a string containing a number to an integer and print the result.
# Convert a float to an integer and print the result.
# Convert a string to a list of characters and print the result.

integer = 10 
string = "10"
toflo = 10.22
toString = str(integer);
# toInteger = int(string);
toInteger = float(toflo);

stringToChar = "Hello my name is HEllo world"

a = list(stringToChar)

print(len(a))

28

In [65]:
# 8
# Create two boolean variables, `is_raining` and `is_sunny` and assign them values True or
# False. Use boolean operators (and, or, not) to create a new variable ‘is_good_day’ that
# represents whether it's a good day (e.g., not raining and sunny). Print the value of the new
# variable ‘is_good_day’.

is_raining = True
is_sunny = False

# is_good_day = is_raining or is_sunny
is_good_day = is_raining and is_sunny
# is_good_day = not is_raining and is_sunny
print(is_good_day)

False

In [81]:
# 9
# Write a program that takes an integer as input and prints whether it is even or odd

userInput = int(input("Enter number to check even or odd"))

if (userInput % 2 == 0):
    print("Number is Even")
else:
    print("Number is Odd")

Enter number to check even or odd 5

Number is Odd

In [92]:
# 10
# Write a program that takes number and display whether it is positive, negative or zero.
userInput = int(input("Enter number to check the result"))

if(userInput > 0):
    print("Positive")
elif(userInput < 0):
    print("negative")
else:
    print("Number is Zero")

Enter number to check the result

ValueError: invalid literal for int() with base 10: ''

In [99]:
# 11
# Write a program that prints all the numbers from 1 to 10.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
# 12
# Create a program that calculates the sum of all numbers from 1 to 100.

i = sum(range(1 ,101))
print(i)

5050

In [18]:
# 13
# Write a program that prints the multiplication table of a given number
number = 50;
# i = range(1,11)

for i in range(1,11):
    print(number , "x" , i , "=" , number * i)

50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

In [43]:
# 14
# Create a program that generates a multiplication table from 1 to 10 using nested loops.
for i in range(1,11):
    for j in range(1,11):
        print(i ,"X" , j ,"=" , i * j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100