In [2]:
n = int(input("Enter the number of rows & cols: "))

for i in range(n):
    for j in range(n):
        if i >= j:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print()

*
* *
* * *
* * * *

In [1]:
n= int(input("n: "))
for i in range(n):
    for j in range(n):
        if (i+j)==n-1:
            print("*",end=" ")
        else:
            print(" ",end= " ")
    print( )

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n= int(input("n:"))
val = ord("A")+n-1
if val>ord("Z"):
    val=ord("Z")
for i in range(n):
    #val = ord("A")+n-1
    for j in range(n):
        if i==j:
            print(chr(val),end=" ")
           # val-=1
        else:
            print(" ",end = " ")
    print( )
    val-=1
    if val<ord("A"):
        val = ord("Z")

In [8]:
import pandas as pd
d={'ename':['baba','vali','sultan','shaik','adil'],
   'age':[20,30,14,23,45,],
   'city':['ap','kar','mp','up','tn']
   }
df=pd.DataFrame(d)
print(df)
print(df.head(3))
print(df.head(-2))
print(df.tail(3))
print(df.info())

    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
3   shaik   23   up
4    adil   45   tn
    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
    ename  age city
2  sultan   14   mp
3   shaik   23   up
4    adil   45   tn
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ename   5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

In [9]:
import numpy as np
a=np.array([500,20,10,40,60,40,10,60,40])
np.unique(a,return_inverse=True)

(array([ 10,  20,  40,  60, 500]), array([4, 1, 0, 2, 3, 2, 0, 3, 2]))