## variables

In [2]:
a=100

In [6]:
##declaring and assigning variable
age=32
height=6.1
name="barash"
is_Student=True
print(is_Student)
print(age)
print("age:",age)
print(f"name:{name}\nheight:{height}\nage:{age}\nstudent:{is_Student}\n")

True
32
age: 32
name:barash
height:6.1
age:32
student:True

In [7]:
## Naming convention
## names should be descriptive
##they can start with _ alphabet but can't with a number
## can include alhpa numberic and are case sensitive

##valid name
first_name="barash"
last_name="sharma"
is_student=True

In [8]:
##case sensitive
name="barsh"
Name="sharma"

In [9]:
##python is dynamicall typed
age=23 #int
height=6.1 #float
name="barash" #str
is_student=True #bool
print(type(is_student))

<class 'bool'>

In [10]:
## Type checking and conversion
type(height)

float

In [14]:
age=25
print(age)
age_str=str(age)
print(type(age_str))
print(age_str)

25
<class 'str'>
25

In [15]:
age="25"
string_age=int(age)
print(type(string_age))

<class 'int'>

In [16]:
name="barash"
int(name)

ValueError: invalid literal for int() with base 10: 'barash'

In [19]:
height=5.11
he=int(height)
type(he)

int

In [21]:
float(int(height))

5.0

In [26]:
#dynamic typing
## python allw the type of variable to change when porgam execute
var=12
print(var,type(var))

var="hello"
print(var,type(var))

var=12.0
print(var,type(var))

var=True
print(var,type(var))

12 <class 'int'>
hello <class 'str'>
12.0 <class 'float'>
True <class 'bool'>

In [28]:
##input
age=int(input("enter the age:"))
print(age,type(age))

23 <class 'int'>

In [30]:
## simple calculator
num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))
sum=num1+num2
difference=num1-num2
multiply=num1*num2
divide=round(num1/num2,2)
print(sum,type(sum))
print(difference,type(difference))
print(multiply,type(multiply))
print(divide,type(divide))

5.0 <class 'float'>
-1.0 <class 'float'>
6.0 <class 'float'>
0.67 <class 'float'>