# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [2]:
number=42
other_name_number=42

Get and note the ID numbers for both.

In [3]:
print(id(number))
print(id(other_name_number))

140734325364808
140734325364808

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [4]:
number=43
other_name_number=43
print(id(number))
print(id(other_name_number))

140734325364840
140734325364840

Do a `whos` to confirm that *no* names refer to the original value.

In [5]:
whos

Variable            Type    Data/Info
-------------------------------------
number              int     43
other_name_number   int     43

Finally, assign a new name to the original value, and get its ID.

In [6]:
new_name=42
print(id(new_name))

140734325364808

*Look at this ID and compare it to the original ones. What happened? What does this tell you?*

*The ID number was the same as the original! This tells me that the first object was retained*

---

### 2.

Convert both possible Boolean values to strings and print them.

In [11]:
bool1 = True
bool2 = False
print(str(bool1))
print(str(bool2))

True
False

Now convert some strings to Boolean until you figure out "the rule".

In [16]:
string1 = 'hello'
print(bool(string1))
string2 = 'hi'
print(bool(string2))
string3 = ''
print(bool(string3))

True
True
False

*What string(s) convert to True and False? In other words, what is the rule for str -> bool conversion?*

*Strings convert to True when there are any other strings as part of the string, that is, if any letters are present. String only convert to False when the strign is empty.*

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [18]:
my_bool = True
my_int = 400
my_float = 4.00
print(my_bool+my_int)
print(my_int+my_float)
print(my_float+my_bool)

401
404.0
5.0

*What is the rule for adding numbers of different types?*

*When adding boolean variables to integers or floats a True boolean value becomes equal to 1, the numers are then added, and the data type of the number is retained. When adding numbers of different types (float + integer) the more complex data type (float) is retained.*

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [21]:
fake_number = '64'
real_number = 64
print(fake_number+str(real_number))
print(int(fake_number)+real_number)
print(fake_number+real_number)

6464
128

TypeError: can only concatenate str (not "int") to str

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [22]:
faker_number = 'forty two'
print(int(faker_number))

ValueError: invalid literal for int() with base 10: 'forty two'

*Did that work?*

*Nope!*

---

### 5.

Make a variable that is a 5 element tuple.

In [23]:
my_tuple = (1, 2, 3, 4, 5)

Extract the last 3 elements.

In [24]:
print(my_tuple[2:])

(3, 4, 5)

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [25]:
my_tuple = (1, 2, 3, 4, 5)
my_other_tuple = (5, 4, 3, 2, 1)
print(my_tuple + my_other_tuple)

(1, 2, 3, 4, 5, 5, 4, 3, 2, 1)

Make two list variables and add them.

In [26]:
my_list = [1, 2, 3, 4, 5]
my_other_list = [5, 4, 3, 2, 1]
print(my_list + my_other_list)

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

Try adding one of your tuples to one of your lists.

In [27]:
my_list + my_tuple

TypeError: can only concatenate list (not "tuple") to list

*What happened? How does this compare to adding, say, a bool to a float?*

*It didn't work! This is the opposite of adding a bool to a float, which did work.*

---

### 7.

Can you tell the type of a variable by looking at its value?

*If so, how? A couple examples are fine; no need for an exhaustive list.*

*Yes, you can! For example you can tell that `42` is an integer while `42.0` is a float just by looking at it. Similarly the `True` and `False` of boolean variables are obvious. Other than that you can usually tell by looking at the type of brackets to differentiate strings, lists, tuples, and dictionaries.*

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [28]:
this_list = ['hi', [3, 5, 7, 11], False]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [31]:
new_list = this_list[1]
one_item = new_list[0]
print(one_item)

3

Now see if you can do this in one step.

In [32]:
print(this_list[1][0])

3

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [33]:
my_dict = {'one' : 45, 'two': [1, 2, 3, 4, 5]}

Extract a single element from the list-in-a-dict in one step.

In [34]:
my_dict['two'][0]

1

---

### 10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [35]:
last_list = [1, 2, 3, 4, 5]
print(id(last_list))
print(id(last_list[0]))
print(id(last_list[1]))
print(id(last_list[2]))
print(id(last_list[3]))
print(id(last_list[4]))

2040970468416
140734325363496
140734325363528
140734325363560
140734325363592
140734325363624

If you extract an element from your list and assign it to a new variable, are the IDs the same, or is a new object created?

In [36]:
last_item = last_list[0]
print(id(last_item))

140734325363496

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

*The IDs are the same! A new object is NOT created when the element is assigned to a new variable.*

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [37]:
last_str = 'abcde'
print(id(last_str))
print(id(last_str[1]))

2040970443568
140734325409592

Now make a `str` variable containing the letter 'b'. Check its ID.

In [38]:
b = 'b'
print(id(b))

140734324141112

*What happened?*

*The IDs are different, which means a new object was created when we made a string of just the letter 'b'.*