Vídeo: https://www.youtube.com/watch?v=v7OTVy6whEY&list=PLO_fdPEVlfKqMDNmCFzQISI2H_nJcEDJq&index=7

Documentación: https://docs.python.org/es/3/library/functions.html

Como debes saber una de las ventajas de la programación es la REUTILIZACION. Python, como lenguaje de alto nivel, tiene funciones que agilizan el trabajo y aligeran el código. Veamos algunas de ellas.

### Funciones básicas: abs(), round(), max(), min(), len(), sum(), all(), any()

In [1]:
# abs() devuelve el valor absoluto de un número.

x = -3
abs(x)

3

In [12]:
# round(number[, ndigits]) redondea al alza el valor de un número dado y nos puede mostrar el número de dígitos deseados.
f = 3.819542.
round(f,2)

3.82

In [13]:
# max() devuelve el valor mayor de un iterable o de un grupo de números.
lista = [5,12,6,8,55,7,16,8]
max(lista)

55

In [14]:
# len() retorna el tamaño (el número de elementos) de un objeto.

len(lista)

8

In [15]:
# sum() suma los elementos de un iterable de izquierda a derecha y retorna el total.
sum(lista)

117

In [21]:
# all() retorna True si todos los elementos del iterable son verdaderos (o si el iterable está vacío).
# any() retorna True si un elemento cualquiera del iterable es verdadero. Si el iterable está vacío, retorna False.

lista2 = [5,12,0,8,55,7,16,8]

all(lista2)

False

In [22]:
any(lista2)

True

### Conversión de tipo de variables: int() str(), float(), type()

In [23]:
# con la función type() podemos saber el tipo de valor de nuestras variables.
x = 10
type(x)

int

In [25]:
x = str(x)
x

'10'

In [27]:
# al convertir x e una variable de tipo string no podemos usarla para cálculos matemáticos.
y = x+1

TypeError: can only concatenate str (not "int") to str

In [32]:
# sin embargo podemos usarla para concatenarla con otros caracteres.
x+"hola"

'10hola'

In [33]:
# la conversión de un número en un caracter y biceversa tiene sentido, pero el paso de un caracter a un número no se hace.

ValueError: invalid literal for int() with base 10: 'hola'

### Conversions de structures de données: list(), tuple()

### Función format()

Con la función format() podemos personalizar una cadena de caracteres

In [1]:
mensaje = "En Madrid la temperatura hoy es de 25C"
print(mensaje)

En Madrid la temperatura hoy es de 25C

In [2]:
# Si queremos hacer más flexible el mensaje podemos introducir Madrid y la temperatura en variables
ciudad = "Madrid"
temperatura = 25
mensaje = "En ciudad la temperatura hoy es de temperatura C"
print(mensaje)
# Al ejecutar nos devolverá un error

SyntaxError: EOL while scanning string literal (<ipython-input-2-e110054d400b>, line 4)

Para realizar esta tarea debemos usar la función mencionada format(). Existen dos formas de hacerlo:

In [3]:
ciudad = "Madrid"
temperatura = 25
mensaje = "En {} la temperatura hoy es de {} C".format(ciudad,temperatura)
print(mensaje)

En Madrid la temperatura hoy es de 25 C

a segunda forma es mas rápida y ofrece el mismo resultado

In [4]:
ciudad = "Madrid"
temperatura = 25
mensaje = f"En {ciudad} la temperatura hoy es de {temperatura} C"
print(mensaje)

En Madrid la temperatura hoy es de 25 C