<a href="https://colab.research.google.com/github/Bharath9819/Python00/blob/main/control_statement1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello man")

hello man

In [ ]:
#cnrl + enter to run code  # shift + enter to run and create new line for coding
#alt + enter create new line with excutuion previous line

In [ ]:
print("hello" + " python")  #concatenation

hello python

In [ ]:
print(9+1)   #addttion

10

In [ ]:
print("9+1") #string

9+1

In [ ]:
print("9"+"10")

910

In [ ]:
print(9, "10" + "rupress" , "world" ,3*8)

9 10rupress world 24

In [ ]:
print("A"*5)

AAAAA

In [ ]:
print(5 + "A")    #can't able to excute diff datatypes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(5 *"B")

BBBBB

In [ ]:
   str1= "Hello"
   str2= "World"
   print(str1 + str2);

HelloWorld

In [ ]:
var1=100
print(var1)

100

In [ ]:
_var1="n0thing"
print(_var1)

n0thing

when assigning variable its shld start with _ or aplhabet

In [ ]:
*ajhvai="no"
print(*ajhvai)

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-6-94bc8824c404>, line 1)

In [ ]:
2were=100
print(2were)

SyntaxError: invalid decimal literal (<ipython-input-7-559f3fc7a874>, line 1)

In [ ]:
#type and converation:
va1="1234"
print(type(va1))

<class 'str'>

In [ ]:
#type and converation:
va1="1234"
print(type(int(va1)))

<class 'int'>

we can't able to change stg to int , if its not in th value.

In [ ]:
#type and converation:
va1="nothing"
print(type(int(va1)))

ValueError: invalid literal for int() with base 10: 'nothing'

In [ ]:
#type and converation:
va1="1234N"
print(type(int(va1)))

ValueError: invalid literal for int() with base 10: '1234N'

except 0,"" and none , if any value passed in bool it becomes true

In [ ]:
#type and converation & bool:
va1="1234"
print(bool(va1))

True

In [ ]:
#type and converation & bool:
va1="nope"
print(bool(va1))

True

In [ ]:
#type and converation & bool:
va1=None
print(bool(va1))

False

In [ ]:
#type and converation & bool:
va1=None
print(type(bool(va1)))

<class 'bool'>

In [ ]:

#type and converation & bool:va1=None
print(bool(None))

False

In [ ]:
var10=12
var11=13
print(id(var10))
print(id(var11))

133384565359184
133384565359216

In [ ]:
var10=12
var11=12
print(id(var10))
print(id(var11))

133384565359184
133384565359184

In [ ]:
var10=1200
var11=1200
print(id(var10))
print(id(var11))

133383283551952
133383283553680

In [ ]:
var10=255
var11=257
print(id(var10))
print(id(var11))

133384565366960
133383283551824

input taking value from users:

In [ ]:
name=input()

bharath

In [ ]:
print(name)

bharath

In [ ]:
input(please enter age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-30-c88934381c07>, line 1)

In [ ]:
age=input(please enter age)
print(age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-31-325988b7770f>, line 1)

In [ ]:
age=input(please enter age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-32-e4881aae746b>, line 1)

In [ ]:
age=input("please enter age")

please enter age25

In [ ]:
print(age)

25

In [ ]:
age=input("please enter age")
print("my age is "age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-35-11957b9d31e1>, line 2)

In [ ]:
age=input("please enter age")
print(age)

please enter age25
25

In [ ]:
age=input("please enter age ")
print(age)

please enter age 27
27

concatenation is main to join to strings or print the statement

In [ ]:
age=input("please enter age ")
print("my age is "+ age)

please enter age 25
my age is 25

In [ ]:
name=input()
print("Hello "+ name)
del(name)
print(name)

25
Hello 25
25

# Arithamtic operators:
+ add
- sub
* mul
/  div
// floor division
% modules
** Exponentation




Modulus Operator:

x % y --> remainder of x//y
    - if x is +ve-->remainder of x//y
    - if x is '-ve'--> y - (x%y)

In [ ]:

-10%3   # y-(x%y) (3-1)   its has 1 if its positive (10)

2

In [ ]:
10%3

1

power of 5*5

In [ ]:
5**2

25

In [ ]:
12**2

144

for root we can achieve by expontial by 1/2 or cube 1/3

In [ ]:
3**(1/2)

1.7320508075688772

In [ ]:
1**(1/2)

1.0

In [ ]:
144**(1/2)

12.0

**BODMAS   LIKE on Python it has PEMDAS**

**Assignment Operators:**

In [ ]:

a = 10
a = a+5
print(a)

15

In [ ]:
c = 13 # assignment here
c%2 #
print(c)

13

In [ ]:

c = 13 # assignment here
c= c%2 # assigned again
print(c)

1

In [ ]:

a = 10
a+=5 #a = a+5
print(a)

15

In [ ]:

c = 13 # assignment here
c%=2 #c = c%2
print(c)

1

In [ ]:

c = 10
c+=1 # increment
print(c)

11

In [ ]:
int1=int(input())
int2=int(input())
print(int1==int2)
print(type(int1))
print(type(int2))

10
10
True
<class 'int'>
<class 'int'>

In [ ]:
int1=input()
int2=input()
print(int1==int2)
print(type(int1))
print(type(int2))

12
12
True
<class 'str'>
<class 'str'>

In [ ]:
a=(3%4)
b=(2%6)
c=a//b
print(c)

1

IF else condition

In [ ]:
age=int(input("enter age "))
if(age>18):
  print("i'm major ",age)
else:
  print("still minor ", age)

enter age 19
i'm major  19

In [ ]:
temp=int(input("enter temp "))
weather=input("condition ")

if(temp<32 and weather == 'rainy'):
  print("wear Tshirt" )
  print("umberlla")
else:
  print("shirt")

enter temp 33
condition opiaj
shirt

In [ ]:
name = ("Sachin")
pwd = ("1234")

# take input from user and validate username and password
# Approach1: nested if block
# Approach2: if elif
# if all condtions print("{USERNAME} logged in Succesfully")
# else print("Incorrect Username or PWD")

name1,pwd1= input("enter username ").split(",")
print(pwd)
print(pwd1)
if(name==name1) and (pwd==pwd1):
 #pwd1 = input("Type password ")
 #if(pwd==pwd1):
  print("your Login is successful " +name)
else:
    print("Incorrect username or password ")

enter username Sachin,1234
1234
1234
your Login is successful Sachin

Its a try

In [ ]:
name = ("Sachin")
pwd = ("1234")

# take input from user and validate username and password
# Approach1: nested if block
# Approach2: if elif
# if all condtions print("{USERNAME} logged in Succesfully")
# else print("Incorrect Username or PWD")

name1= input("enter username ")
if(name==name1):
 print(name)
 pwd1 = input("Type password ")
 if(pwd==pwd1):
  print(pwd)
  print("your Login is successful " +name)
else:
    print("Incorrect username or password ")

enter username vamsi
Incorrect username or password

In [ ]:
name = ("Sachin","Jatin")
pwd = ("1234","9990")

sn1="bharath"
sn2="sarvin"
p1="1234"
p2="9990"

sn3= input("enter username ")
if(sn1==sn3):
 print(sn3)
 p3 = input("Type password ")
if(p1==p3):
  print("your Login is successful "+sn1)
if(sn2==sn3):
  print("elif" +name)

elif(p2==p3):
 print("elif" +pwd)
 print("your Login is successful " +name)

SyntaxError: invalid syntax (<ipython-input-38-9638c351c90a>, line 10)

In [ ]:
uname="bharath"
uname1= "sarvin"
upass="1234"
upass1="12345"

un=input("enter username ")
up=input("Enter password ")
if(uname==un) and (up==upass):
 print(un +" has logged in successfully")
elif(uname1==un) and (upass1==up):
  print(uname1 +" has loggedin successfully")
else:
  print("not logged in")