In [8]:
ab="ab"
x=ab
ab="cd"
print(x)

ab

In [9]:
x=10
y=x
x=x+3
print(y)

10

In [10]:
pds_tup=('a','b')
print(pds_tup)

('a', 'b')

In [11]:
l=list('10',)
print(type(l))
x=bool(l)
x

<class 'list'>

True

In [12]:
x=int(3)
print(type(x))
x=3.14
print(type(x))
x="3.14"
print(type(x))
x=float("3.14")
print(type(x))

x=int("ab")
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>

ValueError: invalid literal for int() with base 10: 'ab'

In [ ]:
x=int()
print(x)
print(type(x))


x=int('7e',16)
print(x)
print(type(x))

x=int("3.14")
print(type(x))

0
<class 'int'>
126
<class 'int'>

ValueError: invalid literal for int() with base 10: '3.14'

In [ ]:
x=int(3.14)
print(x)
print(type(x))

3
<class 'int'>

In [ ]:
x=bool(4%2)
print(x)

False

In [ ]:
x=10
if bool(x%2) :
    print("odd")
    print(x+1)
else:
    print("even")
    print(x)

even
10

In [ ]:
x=complex(2,3)
print(x)

(2+3j)

In [ ]:
l1=["Pradeep",20,"John",21,3.14,True]
print(l1)
print(type(l1))

['Pradeep', 20, 'John', 21, 3.14, True]
<class 'list'>

In [ ]:
#fstring
print(f'type: {type(l1)} ,Contents: {l1}')

type: <class 'list'> ,Contents: ['Pradeep', 20, 'John', 21, 3.14, True]

In [ ]:
l=list('cat')
print(l)

['c', 'a', 't']

In [ ]:
l1=bool(list())
l1

False

In [ ]:
if bool(list()):
    print("Not empty")
else:
    print("Empty")

Empty

In [ ]:
bool([])

False

In [ ]:
print(f'The output of bool of empty seq. : {bool([])}')

The output of bool of empty seq. : False

In [ ]:
print(f'The output of bool of empty seq. : {bool(list())}')

The output of bool of empty seq. : False

In [ ]:
print(f'{list()==[]}')

True

In [ ]:
l1=[1,3,2,4,5]
l2=list(l1[2:4])
print(l2)

[2, 4]

In [ ]:
l1[1]="100"
print(l1)

[1, '100', 2, 4, 5]

In [ ]:
t1=tuple()#empty tuple
print(t1)

()

In [ ]:
t1=tuple((3,))#single elem tuple
print(t1)
print(type(t1))

(3,)
<class 'tuple'>

In [ ]:
t1=(1,2,3)
print(t1)
print(type(t1))
l1=list(t1)
print(l1)
print(type(l1))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [ ]:
l1[1]=100
print(l1)
t1[1]=100
print(t1)

[1, 100, 3]

TypeError: 'tuple' object does not support item assignment

In [ ]:
print('can\'t say \n what hes saying')

can't say
 what hes saying

In [ ]:
print('line1 \n line2 \t line3')

line1
 line2 	 line3

In [ ]:
s1= """
    hello this is  a comment 
    this is my second line
    """
print(s1)

s2=" hey \n how r u ?"
print(s2)

    hello this is  a comment
    this is my second line

 hey
 how r u ?

In [ ]:
print(1+3.0)
print(type(1+3.0))

4.0
<class 'float'>

In [ ]:
2<'ab'

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
t1=(2,3)
t2=(2,4)
t3=(2,3,1)

t1<t3

True

In [ ]:
"sandeep"<"sandip"

True

In [ ]:
l1=[2,3,4]
b=2==2 or  l1[4]==2 
print(b)

True

In [ ]:
l1[4]==2 or 2==2

IndexError: list index out of range

In [ ]:
2==3 and l1[4]==2

False

In [ ]:
a='abc'
b='abc'
c=a
print(a is not c)

False

In [ ]:
t1=(2,3)
t2=(2,3)
t3=t1
print(t1 is t2)
print(id(t1))
print(id(t2))

False
140453573126016
140453069595904

In [ ]:
t1=[2,3]
t2=[2,3]
t3=t1
print(t1 is t2)

False

In [ ]:
print(id(t1))
print(id(t2))

140453555358272
140453555371648

In [ ]:
t1=(1,0)
t2=(0,1)
t2<t1

True

In [ ]:
#################################Class 2#############################################

In [ ]:
print("c")

c

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10,11]
l1[-5:-10:-1]
l1[-1]
l1[-5:-10:-1]

[7, 6, 5, 4, 3]

In [14]:
l1=['a','b','c','d','e','f','g','h']
l1[-2:-6:-1]

['g', 'f', 'e', 'd']

In [15]:
l1[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
l1[2:]

['c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
l1[7:3:-1]

['h', 'g', 'f', 'e']

In [ ]:
l1[-1:-8:-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b']

In [ ]:
li=list([1,])
li*7

[1, 1, 1, 1, 1, 1, 1]

In [ ]:
print('--'*20)

----------------------------------------

In [ ]:
print('::'*-20)

In [ ]:
x='a'
x in l1

True

In [40]:
l1[1:3]='call'*3
l1

['a',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h']

In [ ]:
'call'*3

'callcallcall'

In [ ]:
['call']*3

['call', 'call', 'call']

In [ ]:
l1

['a',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'e',
 'f',
 'g',
 'h']

In [ ]:
del l1[4]
l1

['a',
 'c',
 'a',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'd',
 'e',
 'f',
 'g',
 'h']

In [ ]:
#set

In [ ]:
s1=set([2,2,4,4,1,3,99,7])
s1

{1, 2, 3, 4, 7, 99}

In [ ]:
len(s1)

6

In [ ]:
l1=[2,7,3]
l2=[7,2,3]
l1==l2

False

In [ ]:
s1={1,2,3}
s2={4,5,6}
3 in s1

True

In [ ]:
s1&s2

set()

In [ ]:
d1={
    'a':123,
    'b':345,
    'c':678,
    'd':901
}
d1

{'a': 123, 'b': 345, 'c': 678, 'd': 901}

In [ ]:
d1['a']

SyntaxError: invalid syntax (2345274086.py, line 2)

In [ ]:
d1['a']=12
d1

{'a': 12, 'b': 345, 'c': 678, 'd': 901}

In [ ]:
d2={ #tuple can be used as a key but list or set cant 
    (1,2):'abcd',
    (3,4):'kliw',
    (3,0):'hdch'
}
d2

{(1, 2): 'abcd', (3, 4): 'kliw', (3, 0): 'hdch'}

In [ ]:
d2[(1,2)

SyntaxError: incomplete input (2263773509.py, line 1)

In [ ]:
d2.(1,2)

SyntaxError: invalid syntax (2117290193.py, line 1)

In [ ]:
######################Class 3###########################3

In [ ]:
'strings' in 'in'

False

In [ ]:
set('strings')

{'g', 'i', 'n', 'r', 's', 't'}

In [ ]:
len(set('strings'))

6

In [ ]:
'hello'

'hello'

In [ ]:
#Control flow

In [ ]:
a=''
if  6+3<10:
    print("A")
elif not a:
    print("C")
else:
    print("B")

A

In [ ]:
l1=[]
if l1:
    print("X")
elif not l1:
    print("X")
else:
    print("C")

X

In [ ]:
#grade of a student on basis of marks
a=56
if a>90:
    print("A+")
elif a>80:
    print("A")
elif a>70:
    print("B")
elif a>60:
    print("C")
elif a>=50:
    print("D")
else:
    print("Fail")

D

In [ ]:
l3=[]
# l3=[4,2,3,6,1]
j=0
while l3[j]<5  and j<len(l3): #short circuit
    print(l3[j])
    j+=1

IndexError: list index out of range

In [ ]:
l3=[4,2,3,2,1]
j=0
while   j<len(l3) and l3[j]<5:
    print(l3[j])
    j+=1

4
2
3
2
1

In [ ]:
l1=[2,4,'a',9,10]
for e in l1:
    print(e)

2
4
a
9
10

In [ ]:
l3=[2,3,4,5]
for e in l3:
    if e%2==0:
        print(e)
    else:
        e+=1
        print(e)

2
4
4
6

In [ ]:
for i in range(len(l3)):
    print(i)

0
1
2
3

In [ ]:
range(4)

range(0, 4)

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
#print a new list with even*2 and odd*3
l1=[10,9,11,12,13]
l2=[]
for e in l1:
    if e%2==0:
        e**=2
        l2.append(e)
    else:
        e**=3
        l2.append(e)
print(l2)

[100, 729, 1331, 144, 2197]

In [ ]:
l1=[10,9,11,12,13]
l2=[]
i=0
while i<len(l1):
    if l1[i]%2==0:
        l1[i]**=2
        l2.append(l1[i])
    else:
        l1[i]**=3
        l2.append(l1[i])
    i+=1
print(l2)

[100, 729, 1331, 144, 2197]

In [ ]:
#Tuple

In [ ]:
tu=tuple((1,2,3,4))
list(enumerate(tu)) #generates list of tuple with index and element

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [ ]:
t1=(1,2,3)
a,b,c=t1
a

a,b=1,2
a

1

In [ ]:
t1=1,2,3 #creates tuple
t1

(1, 2, 3)

In [ ]:
for i,e in enumerate(l2):
    if i%2==0:
        print(e)

NameError: name 'l2' is not defined

In [ ]:
tup=4,1,2
tup
tup2=(1,2,4)
sorted(tup)==sorted(tup2)

True

In [ ]:
l1=[1,2]
l1[1]==0 or set([2,3])=={2,3}

True

In [ ]:
0 and {2,3}

0

In [ ]:
################################### Class-4 ########################################

In [20]:
2==3 or isc[4]==0

NameError: name 'isc' is not defined

In [28]:
a=[1,2,3]
b=a
c=[1,2,3]
a is c

False

In [37]:
-16%3

2

In [42]:
d={
    1:1,
    2:2,
    2:3
}
d

{1: 1, 2: 3}

In [71]:
l1=[1,2]
l2=l1
l1+=[1]
l2
d=set(c for c in l1)
d
s={1,}

In [57]:
a=2
def f():
    a
    print(a)

f()
print(a)

2
2

In [76]:
l=[0,0,0]
l.extend((1,2))
l

[0, 0, 0, 1, 2]

In [89]:
l1=[1,2,3,4,1,2,3,4]
s=l1.pop(1)
s
l1.insert(3,100)
l1

[1, 3, 4, 100, 1, 2, 3, 4]

In [98]:
a=list(zip(l1,l1))
c,b=zip(*a)
c,b

((1, 3, 4, 100, 1, 2, 3, 4), (1, 3, 4, 100, 1, 2, 3, 4))

In [105]:
t1 = range(5)
t2 = ('apple','jackfruit', 'grape', 'apricot', 'jackfruit')
list(zip(t1,t2))
d8 = dict(zip(t1,t2))
d8 = dict(zip(range(len(t2)),t2))
d8
d8.set(4,'Anything here')

AttributeError: 'dict' object has no attribute 'set'

In [113]:
s={1,2,3}
a=s.union({4,5})
a

{1, 2, 3, 4, 5}

In [123]:
def f1(a=6,b=6):
    print(a+b)


def f(*args,**kwargs):
    f1(**kwargs)

f(1,2,4,a=7,b=8)

15

In [132]:
l1 = [(3,1),(2,3),(8,-1),(4,2)]
m=lambda x :  x[2],x[3]
m(l1)

TypeError: 'float' object is not subscriptable

In [149]:
l1=(1,2,0,4,1,2,3,4)
all(l1)

False

In [151]:
next(iter(l1))
# for i in iter(l1):
#     print(i)

1

In [160]:
d='this is a string'
d.index('is',2)
'-'.join(d)

't-h-i-s- -i-s- -a- -s-t-r-i-n-g'

In [167]:
l1 = [1,6,4,3]
i = iter(l1)
try:
    while True:
        print(next(i))
except StopIteration:
    print('iteration over')
for e in l1:
    print(e)
j = iter(l1)
print(next(j))
print(next(j))
l1[2]=l1[2]*5
print(next(j))

1
6
4
3
iteration over
1
6
4
3
1
6
20

In [170]:
# generator expression similar to list comprehension
gen1 = (x**2 for x in range(10) if x % 2==0)
for i in gen1:
    print(i)

0
4
16
36
64

In [173]:
import os
os.path.getatime

1701884155.6553125

In [188]:
import sys
sys.argv

['d:\\Program files\\PYTHON\\lib\\site-packages\\ipykernel_launcher.py',
 '--f=c:\\Users\\biswajit\\AppData\\Roaming\\jupyter\\runtime\\kernel-v2-8900Je8wshFanAKR.json']