In [34]:
from pyprojroot.here import here
import pandas as pd
from pyarrow import feather

# import here('data/AllDaysEventos_com_zonas.feather')
dias = feather.read_feather(here('data/AllDaysEventos_com_zonas.feather'))
dias

,Data do incidente,Concelho,Distrito,Nível de Tensão,Número de Eventos,Dia,Mês,Ano,Densidade Populacional,População Residente,...,FF_MED,FF_MAX,PR_QTD,count_zonaA,count_zonaB,count_zonaC,total_concelho,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC
0,2014-01-01,albergaria-a-velha,Aveiro,Sem Eventos Excecionais,0,1,1,2014,157.7,25053,...,4.3,15.4,16.2,0,12,7,19,0.000000,0.631579,0.368421
1,2014-01-01,anadia,Aveiro,Sem Eventos Excecionais,0,1,1,2014,131.0,28378,...,4.3,15.4,16.2,0,7,14,21,0.000000,0.333333,0.666667
2,2014-01-01,arouca,Aveiro,Sem Eventos Excecionais,0,1,1,2014,66.3,21815,...,4.3,15.4,16.2,0,0,20,20,0.000000,0.000000,1.000000
3,2014-01-01,aveiro,Aveiro,Sem Eventos Excecionais,0,1,1,2014,400.3,79092,...,4.3,15.4,16.2,112,0,19,131,0.854962,0.000000,0.145038
4,2014-01-01,castelo de paiva,Aveiro,Sem Eventos Excecionais,0,1,1,2014,141.5,16275,...,4.3,15.4,16.2,0,1,10,11,0.000000,0.090909,0.909091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008000,2023-12-31,reguengos de monsaraz,Évora,Sem Eventos Excecionais,0,31,12,2023,21.2,9836,...,1.6,7.0,1.1,0,9,3,12,0.000000,0.750000,0.250000
1008001,2023-12-31,vendas novas,Évora,Sem Eventos Excecionais,0,31,12,2023,51.2,11394,...,1.6,7.0,1.1,0,10,3,13,0.000000,0.769231,0.230769
1008002,2023-12-31,viana do alentejo,Évora,Sem Eventos Excecionais,0,31,12,2023,13.9,5470,...,1.6,7.0,1.1,0,0,5,5,0.000000,0.000000,1.000000
1008003,2023-12-31,vila viçosa,Évora,Sem Eventos Excecionais,0,31,12,2023,37.7,7349,...,1.6,7.0,1.1,0,10,1,11,0.000000,0.909091,0.090909
1008004,2023-12-31,évora,Évora,Sem Eventos Excecionais,0,31,12,2023,41.1,53753,...,1.6,7.0,1.1,70,18,4,92,0.760870,0.195652,0.043478

In [35]:
# import here('data/QuebrasJuntoInc_com_zonas.xlsx')
eventos = pd.read_excel(here('data/QuebrasJuntoInc_com_zonas.xlsx'))
eventos

,Código do Relatório,Concelho,Data do incidente,Nível de Tensão,Causa do incidente,Duração incidente (min),N.º clientes afetados,TIEPI MT (min),SAIFI MT (#),SAIDI MT (min),...,FF_MED,FF_MAX,PR_QTD,count_zonaA,count_zonaB,count_zonaC,total_concelho,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC
0,EDPD_2018_JAN_T_1,almada,2018-01-02,MT,Escavações,55,828,"0,0029345","0,0000443","0,0024563",...,NaN,NaN,0.0,102,63,14,179,0.569832,0.351955,0.078212
1,EDPD_2018_JAN_T_2,sertã,2018-01-02,MT,Abate De Árvores,163,549,"0,0029335","0,0001770","0,0165009",...,2.8,8.1,0.0,0,8,29,37,0.000000,0.216216,0.783784
2,EDPD_2018_JAN_T_3,felgueiras,2018-01-04,MT,Deslizamento De Terras,596,3459,"0,0192281","0,0002655","0,0359047",...,3.9,14.4,4.0,0,32,13,45,0.000000,0.711111,0.288889
3,EDPD_2018_JAN_T_4,torres vedras,2018-01-05,BT,Veículos,178,102,"0,0000000","0,0000000","0,0000000",...,3.6,13.9,13.2,0,27,40,67,0.000000,0.402985,0.597015
4,EDPD_2018_JAN_T_5,nisa,2018-01-09,MT,Aves,119,1731,"0,0044221","0,0001549","0,0100377",...,4.1,15.4,15.9,0,5,6,11,0.000000,0.454545,0.545455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,EDPD_2017_NOV_T_62,ovar,2017-11-29,BT,Veículos,220,2,0,0,0,...,NaN,NaN,0.0,0,38,18,56,0.000000,0.678571,0.321429
7724,EDPD_2017_NOV_T_63,santa maria da feira,2017-11-03,BT,Veículos,92,1,0,0,0,...,NaN,NaN,NaN,0,32,36,68,0.000000,0.470588,0.529412
7725,EDPD_2017_NOV_T_64,santa maria da feira,2017-11-23,BT,Veículos,121,1,0,0,0,...,NaN,NaN,8.1,0,32,36,68,0.000000,0.470588,0.529412
7726,EDPD_2017_NOV_T_65,almeirim,2017-11-03,BT,Descarga Atmosférica Directa,154,1,0,0,0,...,2.5,11.0,NaN,0,26,6,32,0.000000,0.812500,0.187500
7727,IGI_2017_DEZ_TC_001,vila nova de famalicão,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005,"17,100","0,330","29,300",...,NaN,NaN,NaN,0,49,39,88,0.000000,0.556818,0.443182

In [36]:
# uniform concelhos
from unidecode import unidecode
def transform_concelhos(x):
    return unidecode(x).upper().replace(' ', '-')

eventos['Concelho'] = eventos['Concelho'].apply(transform_concelhos)
dias['Concelho'] = dias['Concelho'].apply(transform_concelhos)
eventos

,Código do Relatório,Concelho,Data do incidente,Nível de Tensão,Causa do incidente,Duração incidente (min),N.º clientes afetados,TIEPI MT (min),SAIFI MT (#),SAIDI MT (min),...,FF_MED,FF_MAX,PR_QTD,count_zonaA,count_zonaB,count_zonaC,total_concelho,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC
0,EDPD_2018_JAN_T_1,ALMADA,2018-01-02,MT,Escavações,55,828,"0,0029345","0,0000443","0,0024563",...,NaN,NaN,0.0,102,63,14,179,0.569832,0.351955,0.078212
1,EDPD_2018_JAN_T_2,SERTA,2018-01-02,MT,Abate De Árvores,163,549,"0,0029335","0,0001770","0,0165009",...,2.8,8.1,0.0,0,8,29,37,0.000000,0.216216,0.783784
2,EDPD_2018_JAN_T_3,FELGUEIRAS,2018-01-04,MT,Deslizamento De Terras,596,3459,"0,0192281","0,0002655","0,0359047",...,3.9,14.4,4.0,0,32,13,45,0.000000,0.711111,0.288889
3,EDPD_2018_JAN_T_4,TORRES-VEDRAS,2018-01-05,BT,Veículos,178,102,"0,0000000","0,0000000","0,0000000",...,3.6,13.9,13.2,0,27,40,67,0.000000,0.402985,0.597015
4,EDPD_2018_JAN_T_5,NISA,2018-01-09,MT,Aves,119,1731,"0,0044221","0,0001549","0,0100377",...,4.1,15.4,15.9,0,5,6,11,0.000000,0.454545,0.545455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,EDPD_2017_NOV_T_62,OVAR,2017-11-29,BT,Veículos,220,2,0,0,0,...,NaN,NaN,0.0,0,38,18,56,0.000000,0.678571,0.321429
7724,EDPD_2017_NOV_T_63,SANTA-MARIA-DA-FEIRA,2017-11-03,BT,Veículos,92,1,0,0,0,...,NaN,NaN,NaN,0,32,36,68,0.000000,0.470588,0.529412
7725,EDPD_2017_NOV_T_64,SANTA-MARIA-DA-FEIRA,2017-11-23,BT,Veículos,121,1,0,0,0,...,NaN,NaN,8.1,0,32,36,68,0.000000,0.470588,0.529412
7726,EDPD_2017_NOV_T_65,ALMEIRIM,2017-11-03,BT,Descarga Atmosférica Directa,154,1,0,0,0,...,2.5,11.0,NaN,0,26,6,32,0.000000,0.812500,0.187500
7727,IGI_2017_DEZ_TC_001,VILA-NOVA-DE-FAMALICAO,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005,"17,100","0,330","29,300",...,NaN,NaN,NaN,0,49,39,88,0.000000,0.556818,0.443182

In [37]:
# import here('data/concelho_degress.csv')
degress = pd.read_csv(here('data/concelho_degress.csv'))
# import here('data/subestacoes AT_MT por concelho.csv')
subestacoes = pd.read_csv(here('data/subestacoes AT_MT por concelho.csv'))
# left join por concelho
degress['concelho'] = degress['concelho'].apply(transform_concelhos)
subestacoes['concelho'] = subestacoes['concelho'].apply(transform_concelhos)
eventos = eventos.merge(degress, left_on='Concelho', right_on='concelho', how='left')
eventos = eventos.merge(subestacoes, left_on='Concelho', right_on='concelho', how='left')
dias = dias.merge(degress, left_on='Concelho', right_on='concelho', how='left')
dias = dias.merge(subestacoes, left_on='Concelho', right_on='concelho', how='left')
eventos

,Código do Relatório,Concelho,Data do incidente,Nível de Tensão,Causa do incidente,Duração incidente (min),N.º clientes afetados,TIEPI MT (min),SAIFI MT (#),SAIDI MT (min),...,count_zonaB,count_zonaC,total_concelho,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC,concelho_x,degree,concelho_y,count
0,EDPD_2018_JAN_T_1,ALMADA,2018-01-02,MT,Escavações,55,828,"0,0029345","0,0000443","0,0024563",...,63,14,179,0.569832,0.351955,0.078212,ALMADA,17.0,ALMADA,7.0
1,EDPD_2018_JAN_T_2,SERTA,2018-01-02,MT,Abate De Árvores,163,549,"0,0029335","0,0001770","0,0165009",...,8,29,37,0.000000,0.216216,0.783784,SERTA,1.0,SERTA,1.0
2,EDPD_2018_JAN_T_3,FELGUEIRAS,2018-01-04,MT,Deslizamento De Terras,596,3459,"0,0192281","0,0002655","0,0359047",...,32,13,45,0.000000,0.711111,0.288889,FELGUEIRAS,1.0,FELGUEIRAS,2.0
3,EDPD_2018_JAN_T_4,TORRES-VEDRAS,2018-01-05,BT,Veículos,178,102,"0,0000000","0,0000000","0,0000000",...,27,40,67,0.000000,0.402985,0.597015,TORRES-VEDRAS,6.0,TORRES-VEDRAS,6.0
4,EDPD_2018_JAN_T_5,NISA,2018-01-09,MT,Aves,119,1731,"0,0044221","0,0001549","0,0100377",...,5,6,11,0.000000,0.454545,0.545455,NISA,0.0,NISA,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,EDPD_2017_NOV_T_62,OVAR,2017-11-29,BT,Veículos,220,2,0,0,0,...,38,18,56,0.000000,0.678571,0.321429,OVAR,4.0,OVAR,2.0
7724,EDPD_2017_NOV_T_63,SANTA-MARIA-DA-FEIRA,2017-11-03,BT,Veículos,92,1,0,0,0,...,32,36,68,0.000000,0.470588,0.529412,SANTA-MARIA-DA-FEIRA,10.0,SANTA-MARIA-DA-FEIRA,7.0
7725,EDPD_2017_NOV_T_64,SANTA-MARIA-DA-FEIRA,2017-11-23,BT,Veículos,121,1,0,0,0,...,32,36,68,0.000000,0.470588,0.529412,SANTA-MARIA-DA-FEIRA,10.0,SANTA-MARIA-DA-FEIRA,7.0
7726,EDPD_2017_NOV_T_65,ALMEIRIM,2017-11-03,BT,Descarga Atmosférica Directa,154,1,0,0,0,...,26,6,32,0.000000,0.812500,0.187500,ALMEIRIM,1.0,ALMEIRIM,1.0
7727,IGI_2017_DEZ_TC_001,VILA-NOVA-DE-FAMALICAO,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005,"17,100","0,330","29,300",...,49,39,88,0.000000,0.556818,0.443182,VILA-NOVA-DE-FAMALICAO,7.0,VILA-NOVA-DE-FAMALICAO,4.0

In [38]:
# change column names: 
# total_concelho -> total_concelho_zonas
# degree -> soma_degree_rede_concelho
# count -> n_subestacoes_concelho
eventos.rename(columns={'total_concelho': 'total_concelho_zonas', 'degree': 'soma_degree_rede_concelho', 'count': 'n_subestacoes_concelho'}, inplace=True)
dias.rename(columns={'total_concelho': 'total_concelho_zonas', 'degree': 'soma_degree_rede_concelho', 'count': 'n_subestacoes_concelho'}, inplace=True)
# drop concelho_x, concelho_y
eventos.drop(columns=['concelho_x', 'concelho_y'], inplace=True)
dias.drop(columns=['concelho_x', 'concelho_y'], inplace=True)
eventos

,Código do Relatório,Concelho,Data do incidente,Nível de Tensão,Causa do incidente,Duração incidente (min),N.º clientes afetados,TIEPI MT (min),SAIFI MT (#),SAIDI MT (min),...,PR_QTD,count_zonaA,count_zonaB,count_zonaC,total_concelho_zonas,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC,soma_degree_rede_concelho,n_subestacoes_concelho
0,EDPD_2018_JAN_T_1,ALMADA,2018-01-02,MT,Escavações,55,828,"0,0029345","0,0000443","0,0024563",...,0.0,102,63,14,179,0.569832,0.351955,0.078212,17.0,7.0
1,EDPD_2018_JAN_T_2,SERTA,2018-01-02,MT,Abate De Árvores,163,549,"0,0029335","0,0001770","0,0165009",...,0.0,0,8,29,37,0.000000,0.216216,0.783784,1.0,1.0
2,EDPD_2018_JAN_T_3,FELGUEIRAS,2018-01-04,MT,Deslizamento De Terras,596,3459,"0,0192281","0,0002655","0,0359047",...,4.0,0,32,13,45,0.000000,0.711111,0.288889,1.0,2.0
3,EDPD_2018_JAN_T_4,TORRES-VEDRAS,2018-01-05,BT,Veículos,178,102,"0,0000000","0,0000000","0,0000000",...,13.2,0,27,40,67,0.000000,0.402985,0.597015,6.0,6.0
4,EDPD_2018_JAN_T_5,NISA,2018-01-09,MT,Aves,119,1731,"0,0044221","0,0001549","0,0100377",...,15.9,0,5,6,11,0.000000,0.454545,0.545455,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,EDPD_2017_NOV_T_62,OVAR,2017-11-29,BT,Veículos,220,2,0,0,0,...,0.0,0,38,18,56,0.000000,0.678571,0.321429,4.0,2.0
7724,EDPD_2017_NOV_T_63,SANTA-MARIA-DA-FEIRA,2017-11-03,BT,Veículos,92,1,0,0,0,...,NaN,0,32,36,68,0.000000,0.470588,0.529412,10.0,7.0
7725,EDPD_2017_NOV_T_64,SANTA-MARIA-DA-FEIRA,2017-11-23,BT,Veículos,121,1,0,0,0,...,8.1,0,32,36,68,0.000000,0.470588,0.529412,10.0,7.0
7726,EDPD_2017_NOV_T_65,ALMEIRIM,2017-11-03,BT,Descarga Atmosférica Directa,154,1,0,0,0,...,NaN,0,26,6,32,0.000000,0.812500,0.187500,1.0,1.0
7727,IGI_2017_DEZ_TC_001,VILA-NOVA-DE-FAMALICAO,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005,"17,100","0,330","29,300",...,NaN,0,49,39,88,0.000000,0.556818,0.443182,7.0,4.0

In [39]:
# where soma_degree_rede_concelho is null, fill with 0 (same thing with n_subestacoes_concelho)
eventos['soma_degree_rede_concelho'].fillna(0, inplace=True)
eventos['n_subestacoes_concelho'].fillna(0, inplace=True)
dias['soma_degree_rede_concelho'].fillna(0, inplace=True)
dias['n_subestacoes_concelho'].fillna(0, inplace=True)

C:\Users\Plancha\AppData\Local\Temp\ipykernel_29300\595825678.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  eventos['soma_degree_rede_concelho'].fillna(0, inplace=True)
C:\Users\Plancha\AppData\Local\Temp\ipykernel_29300\595825678.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  eventos['n_subestacoes_concelho'].fillna(0, inplace=True)
C:\Users\Plancha\AppData\Local\Temp\ipykernel_29300\595825678.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dias['soma_degree_rede_concelho'].fillna(0, inplace=True)
C:\Users\Plancha\AppData\Local\Temp\ipykernel_29300\595825678.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dias['n_subestacoes_concelho'].fillna(0, inplace=True)

In [40]:
eventos['N.º clientes afetados'].apply(type).value_counts()

N.º clientes afetados
<class 'str'>    7727
<class 'int'>       1
Name: count, dtype: int64

In [44]:
"""
N.º clientes afetados
<class 'str'>    7727
<class 'int'>       1
Name: count, dtype: int64
"""
# diagnose
eventos['N.º clientes afetados'] = eventos['N.º clientes afetados'].apply(lambda x: int(x) if type(x) == str else x)
eventos['N.º clientes afetados'].apply(type).value_counts()

N.º clientes afetados
<class 'int'>    7728
Name: count, dtype: int64

In [45]:
# ValueError: invalid literal for int() with base 10: '244 990'
# check line with this
eventos[eventos['N.º clientes afetados'] == '244 990']
# change to 244990
eventos.loc[eventos['N.º clientes afetados'] == '244 990', 'N.º clientes afetados'] = 244990

# now change whole line to int
eventos['N.º clientes afetados'] = eventos['N.º clientes afetados'].astype(int)

In [52]:
# In TIEPI MT (min), SAIFI MT (#), SAIDI MT (min), SAIDI MT (min), END (MWh), SAIFI BT (#), SAIDI BT (min): change where ######### to NaN
for col in ['TIEPI MT (min)', 'SAIFI MT (#)', 'SAIDI MT (min)', 'SAIDI MT (min)', 'END (MWh)', 'SAIFI BT (#)', 'SAIDI BT (min)']:
    eventos[col] = eventos[col].apply(lambda x: None if x == '#########' else x)

In [53]:
# in eventos, change to float: TIEPI MT (min), SAIFI MT (#), SAIDI MT (min), SAIDI MT (min), END (MWh), SAIFI BT (#), SAIDI BT (min)
# some are already float, and strings have ',' instead of '.'

for col in ['TIEPI MT (min)', 'SAIFI MT (#)', 'SAIDI MT (min)', 'SAIDI MT (min)', 'END (MWh)', 'SAIFI BT (#)', 'SAIDI BT (min)']:
    eventos[col] = eventos[col].apply(lambda x: float(x.replace(',', '.')) if type(x) == str else x)

In [54]:
# save both to feather
feather.write_feather(eventos, here('data/Eventos.feather'))
feather.write_feather(dias, here('data/EventosPorDia.feather'))
dias

,Data do incidente,Concelho,Distrito,Nível de Tensão,Número de Eventos,Dia,Mês,Ano,Densidade Populacional,População Residente,...,PR_QTD,count_zonaA,count_zonaB,count_zonaC,total_concelho_zonas,percentagem_zonaA,percentagem_zonaB,percentagem_zonaC,soma_degree_rede_concelho,n_subestacoes_concelho
0,2014-01-01,ALBERGARIA-A-VELHA,Aveiro,Sem Eventos Excecionais,0,1,1,2014,157.7,25053,...,16.2,0,12,7,19,0.000000,0.631579,0.368421,2.0,2.0
1,2014-01-01,ANADIA,Aveiro,Sem Eventos Excecionais,0,1,1,2014,131.0,28378,...,16.2,0,7,14,21,0.000000,0.333333,0.666667,0.0,1.0
2,2014-01-01,AROUCA,Aveiro,Sem Eventos Excecionais,0,1,1,2014,66.3,21815,...,16.2,0,0,20,20,0.000000,0.000000,1.000000,0.0,1.0
3,2014-01-01,AVEIRO,Aveiro,Sem Eventos Excecionais,0,1,1,2014,400.3,79092,...,16.2,112,0,19,131,0.854962,0.000000,0.145038,3.0,2.0
4,2014-01-01,CASTELO-DE-PAIVA,Aveiro,Sem Eventos Excecionais,0,1,1,2014,141.5,16275,...,16.2,0,1,10,11,0.000000,0.090909,0.909091,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008000,2023-12-31,REGUENGOS-DE-MONSARAZ,Évora,Sem Eventos Excecionais,0,31,12,2023,21.2,9836,...,1.1,0,9,3,12,0.000000,0.750000,0.250000,1.0,1.0
1008001,2023-12-31,VENDAS-NOVAS,Évora,Sem Eventos Excecionais,0,31,12,2023,51.2,11394,...,1.1,0,10,3,13,0.000000,0.769231,0.230769,0.0,1.0
1008002,2023-12-31,VIANA-DO-ALENTEJO,Évora,Sem Eventos Excecionais,0,31,12,2023,13.9,5470,...,1.1,0,0,5,5,0.000000,0.000000,1.000000,0.0,1.0
1008003,2023-12-31,VILA-VICOSA,Évora,Sem Eventos Excecionais,0,31,12,2023,37.7,7349,...,1.1,0,10,1,11,0.000000,0.909091,0.090909,0.0,1.0
1008004,2023-12-31,EVORA,Évora,Sem Eventos Excecionais,0,31,12,2023,41.1,53753,...,1.1,70,18,4,92,0.760870,0.195652,0.043478,3.0,4.0