# Introduction

These will use Python 3 (Or whatever the software centre lets you download) to run these Jupyter notebooks. These notebooks let you run an interactive coding environment where you can evaluate cells one by one

<hr>

A cell refers to a box in Jupyter notebook, and you can evaulate the contents of a cell by **`<Shift> + <Enter>`**, whilst **`<Enter>`** addes new lines inside your active cell. 
**`A`** will add a cell above, and **`B`** will add a cell below. Markdown cells are used for text, whereas Code cells will exectute existing code

<hr>

#### Clear the output of all cells

- Use "EDIT" -> "Clear All OUTPUTS" 

#### Clearing the memory / restarting the kernel

- Use "Runtime" -> "Restart Runtime".

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download .ipynb" to download a notebook file representing your session

## Fundamentals - Objects, basic types, and variables

Everything in Python is an **object** and on top of that every object in Python has a **type**. Some basic types include:

- **`int`** (or integer; this is a whole number with no decimal place)
  - `55`
  - `-12`
- **`float`** (float; which is a number that has a decimal place)
  - `3.14`
  - `-0.0156`
- **`str`** (string; this is a sequence of characters enclosed in single, double, or triple quotes)
  - `'string using single quotes'`
  - `"string using double quotes"`
  - `'''triple quoted string using single quotes'''`
  - `"""triple quoted string using double quotes"""`
- **`bool`** (boolean; this is a binary value, either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type, this represents the absence of a value)
  - `None`

A **variable** is the name that you specify in your code which maps to an **object**, object **instance**, or a **value**. Defining variables allows us to refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

In [2]:
print(type(False))
print(type(10))
print(type(5.0))
print(type('char'))
print(type("double char"))
print(type(True))
print(type(None))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

Note that anything in the format `print(...)` will be printed after the cell has run

## Basic Operations

**Operators** are special symbols that operate on different values, which include: 

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (integer division)
  - **`%`** (modulus ... this means the remainder)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

Operator precedence follows BIDMAS, so:

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

In [4]:
2**5 #Example of exponent

32

We code $x^y$ as `x**y` instead of `x^y`. Try:
 1. $2^{15}$
 2. Square root of a million
 3. Find the cube root of $4913$

Evaluate whether 9/3 is odd or even

There is a complex type, which are in the form `1+5j` or `0.8-0.2j` where `j` is defined as the square-root of `-1`. What is their type?

In [5]:
type(1j)

complex

## Variables 

**Variables** or **vars** are used to store values and objects. Use the assignment operator `=` to do so

In [7]:
num = 1895743

In [8]:
num ** 2

3593841522049

Various simple examples to show basic arithmetic

In [9]:
num1 = 50
num2 = -12
num3 = 16.58
num4 = -.78
num5 = 14
num6 = 89
num7 = 11.11

In [10]:
# Addition
num1 + num2

38

In [11]:
# Subtraction
num2 - num3

-28.58

In [12]:
# Multiplication
num3 * num4

-12.9324

In [13]:
# Division
num4 / num5

-0.055714285714285716

In [14]:
# Exponent (powers)
num5 ** num6

1012500334496440019736846338763496828575459544161517257186895064610033021488387585533013795387142569984

In [15]:
# Increment existing variable
num7 += 4 # the same as num7 = num7 + 4
num7

15.11

In [16]:
# Decrement existing variable
num6 -= 2 # the same as num6 = num6 - 2
num6

87

In [17]:
# Multiply & re-assign
num3 *= 5 # the same as num3 = num3*5
num3

82.89999999999999

### Setting one **var** equal to another

In [19]:
x = 9
y = 12
print(x, y)
x = y
print(x, y)

9 12
12 12

In [20]:
y = 3
print(x, y)

12 3

Var names should be descriptive but not too long. Any name made with letters, numbers, and underscores will work if it's not a reserved Python keyword. Additionally, add comments throughout for readability but using hash `#`

## Booleans

Boolean operators are just `==` `>=` `>` `<` `<=` `!=`. These mean "is equal to", "is greater than or equal to", "greater than", "less than", "less than or equal to", "not equal to"

In [22]:
3 > 2

True

In [23]:
num3 != num4

True

In [24]:
(num1 + num2) == num5

False

In [25]:
2 > 12 < 4 == 3 + 1 # Unclear example

False

## Strings

Made by enclosing something within quotes, i.e. `''`, `""`, `""""""`. Triples quotes are used for strings that span several lines

In [26]:
str1 = 'string 1'
str2 = "string 2"
str3 = """string 3"""

### String Operations

In [27]:
x = 9
"one " + str(x) # Note you first have to convert x to a string type

'one5'

In [28]:
"str1" * "str2"

TypeError: can't multiply sequence by non-int of type 'str'

The above does not work but the below does

In [29]:
"str1"*5

'str1str1str1str1str1'

## Type conversion

In some instances the type may be converted such as:

In [36]:
float(12)

12.0

In [30]:
int(7.9)

7

In [34]:
int("2") # Works

2

In [33]:
int("five") # Doesn't work

ValueError: invalid literal for int() with base 10: 'five'

In [35]:
int("5.6") # Also does not work

ValueError: invalid literal for int() with base 10: '5.6'

Try the following: 

Assign 3 numbers to 3 varibles, x1, x2, x3

In the cell below display 

$$x1 + x2 + x3$$

Followed by $$\frac{x1 + x2}{x2 - x3}$$

And $$x1 + \frac{x2}{x2} - x3$$

$$x_{1}^{x3}$$

We often deal with expressions involving unknowns
$$ 2 + x + x $$
All varibles must be known in base Python to work

In [38]:
2 + w + w

NameError: name 'w' is not defined

## Logic, Conditionals, and Functions

## Keyboard Input

In [1]:
input_1 = input("Input something: ")

In [3]:
input_1
type(input_1)

str

In [8]:
input_int = int(input("Input integer: "))
input_float = float(input("Input float: "))

In [13]:
print(type(input_int))
print(type(input_float))

print(f'Input float value is {input_float}') #F string output

<class 'int'>
<class 'float'>
Input float value is 5.5

# de Morgan's Laws

Come from logic, states:

$$ \mathrm{not\ (P\ or\ Q)} \quad \mathrm{is\ equivalent\ to\ not\ P\ and\ not\ Q} $$

$$ \mathrm{not\ (P\ and\ Q)} \quad \mathrm{is\ equivalent\ to\ not\ P\ or\ not\ Q} $$

Demonstrated in the cell below when P = True and Q = True for the first law

Show that when `P=True` and `Q=True` these first of these relationships hold. Try with `P=True` and `Q=False`, `P=False` and `Q=True`, and `P=False` and `Q=False` by changing the values in the cell below and running it again

In [2]:
P = True
Q = True
LHS = not (P or Q)
RHS = (not P) and (not Q)
print(LHS, RHS, LHS == RHS)

False False True

Repeat for the second law

$$ \mathrm{not\ } (P \mathrm{\ and\ } Q) \quad\ \mathrm{\ is\ equivalent\ to\ }\ \quad (\mathrm{\ not\ } P) \mathrm{\ or\ }  (\mathrm{\ not\ } Q)$$

Copy the code from the cell above, but change the LHS and RHS to reflect the left hand side and right hand side of what is written above. (e.g. the `or`s change to `and` and the `and`s change to `or`). Check the left-hand side does equal the right-hand side for `P=True` and `Q=True`,  `P=True` and `Q=False`, `P=False` and `Q=True`, and `P=False` and `Q=False`.

## Conditionals

A test that evaluates the logical value of the expression.
Execute code if test is true, and other code if the test is fale

For multiple expressions
## If, elif, and else

`if`, `elif`, and `else` used for a conditional with multiple branches

In [15]:
input_test = input('Input an integer: ')
input_test = int(input_test)

if input_test % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

Try and use the above to test if an integer is divisible by 3, 5, and 3 and 5 together. Print something different for each case

In [16]:
input_test2 = input('Input an integer: ')
input_test2 = int(input_test2)

if input_test2 < 5:
    print("Input is less than 5")
elif input_test2 <= 10:
    print("Input is less than or equal to 10, but larger than 5")
else:
    print("Input is greater than 10")

Input is less than or equal to 10

In [17]:
#Nested conditionals

x = int(input('Input an integer (either positive or negative): '))
if x>0:
    if x<=10:
        print('Input is less than or equal to 10')
    else:
        print('Input is greater than 10')
else:
    if x>-10:
        print('Input is negative and greater than -10')
    else:
        print('Input is less or equal to -10')

Input is less or equal to -10

<hr>

# Functions

Small blocks of code that do something useful

- function name,
- input parameters, can be $0$ or more
- docstring (documentation)
- body of a function

Built-in function examples: `abs` gives the absolute value, `print` prints input to terminal

In [18]:
def squared(x):
    """Squares input value x"""

    y = x * x
    return y

In [19]:
squared(81)

6561

In [21]:
squared?
#This lists the help details for the function

Signature: squared(x)
Docstring: Squares input value x
File:      c:\users\chris\onedrive\documents\myteaching\<ipython-input-18-37ca5107d5f6>
Type:      function

In [22]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

No `return` listed in a function? congrats, it doesn't do anything *(most of the time)

__return__ <br>
- **return** has meaning only inside function.
- Only one **return** can be executed inside the function.	
- Code inside the function placed after the **return** statement not executed 
- **return** has a value associated with it, given to a function caller

You can use as many prints inside of a function as you want, however

Define a function that returns the absolute value of any input value using conditionals, where

- If `x` is greater than or equal to 0, return `x`
- Otherwise, return `-x`

i.e.
$$f(x) = |x| = \begin{cases}x & \mathrm{if}\ x \geq 0 \\ -x & \mathrm{if}\ x<0 \end{cases}.$$

Define a function that takes two numbers and returns the distance between them, i.e. the absolute value of the difference of the two

## Package import

In [23]:
import math

In [25]:
math.sin(math.pi / 4) #Calculates Sin(x), where x is in radians

0.7071067811865476

In [27]:
num_degrees = 80
math.sin(num_degrees * (2 * math.pi / 360.)) #Converts to degrees

0.984807753012208

In [33]:

math.sin?

Signature: math.sin(x, /)
Docstring: Return the sine of x (measured in radians).
Type:      builtin_function_or_method

Test the identity of  $\cos^2 \theta + \sin^2 \theta = 1$ for multiple values of $\theta$

Define three functions for 
$$ x(R, \theta, \phi) = R \cos \phi \sin \theta $$ 
$$ y(R, \theta, \phi) = R \sin \phi \sin \theta $$ 
$$ z(R, \theta, \phi) = R \cos \theta $$ 

and then test for some input values. Take the three you have defined write it all as one function , returning all $x$, $y$, and $z$

Next, define a function that takes a single float as input, and then decides if it is a value of interest or not following the criteria:
* A float that is closer to the integer above it, than the integer below it
* If you take the float, convert it to an integer using `int()` and then square it, is a multiple of 3
* Multiply the float by 9, and the resulting number has a 9 in it *before* the decimal point

Test for a few cases

To do something many times, or for many different values, use a `for` loop. The lines of code to be repeated are indicated by `indenting` them. Code is indented by using 4 spaces (or Tab within Jupyter notebooks). You can type `Backspace` to remove an indentation

The loop ends when there's a line with non-indented code, or when the code ends. Here is an example *for loop* which prints 10 numbers, then 'Done' when it's finished.

In [34]:
for x in range(10):
    print('Inside the for loop')
    # You can have multiple indented lines
    print(x)
print('Done')

Inside the for loop
0
Inside the for loop
1
Inside the for loop
2
Inside the for loop
3
Inside the for loop
4
Inside the for loop
5
Inside the for loop
6
Inside the for loop
7
Inside the for loop
8
Inside the for loop
9
Done

* The `for` line ends with a colon
* Introduce the `range` builtin command, to loop over integers. If given only one value it will count the first ten numbers. If given 2 numbers (e.g. `range(4,19)` it will count from the first number to the second. If given 3 numbers (e.g. `range(4,19,3)` it will count from the first number to the second stepping forward by the third number each time
* Python, when told to count ten numbers, by default will count from 0 to 9. 0 being the first number is an important concept in most computing languages (but not MATLAB)
* The last line of code is not indented, so it happens once, outside the loop

In [41]:
j = 5
for k in range(2, 9):
    j = j + k * (-1)**k
    
print(f"j  = {j}")

j  = 10

Loop over all numbers from 1 to 100, square each of them, and add them together

$$ \sum_{i=1}^{n} i^2 = 1^2 + 2^2 + 3^2 + \ldots + n^2,$$

### Factorial function
a factorial of a natural number *n* where n is a positive integer, such as
$$ n! = 1 \cdot 2 \cdot 3 \cdots (n-1)\cdot n,$$
and $0! = 1$.

This is also written as $$n ! = \prod_{k = 1}^n k$$ where $\Pi$ (capital pi) represents product, rather than a summation

Write a function that does this

### Estimate pi using the equation:
$$ \pi \approx \sqrt{12}\sum_{k=0}^{21} \frac{(-3)^{-k}}{2k+1} = \sqrt{12}\sum_{k=0}^{21} \frac{(-\frac{1}{3})^k}{2k+1} =  \sum_{k=0}^{21} \sqrt{12} \frac{(-\frac{1}{3})^k}{2k+1}$$
This should be accurate up to 11 decimal places
(this is long)

Calculate
$$ \prod_{k=1}^{10} \frac{1}{k^2}$$

## While loop
As soon as the `while` condition is not met the loop exits. You could also write this like:

In [37]:
def cooling_hot_water(drinking_temp):
    boiling_temp = 100 # boiling water temp. 100 degrees
    current_temp = boiling_temp # current temp of the drink
    ice_cube_temp  = -5 # adding one ice cube drops the temp by 5 degrees
    number_of_ice_cubes = 0 # number of ice-cubes that has been added so far
    while True: 
        if current_temp <= drinking_temp:
            break
        current_temp += ice_cube_temp
        number_of_ice_cubes += 1
        print(f"The current temperature of your drink is {current_temp}, number of ice cubes added to the drink is {number_of_ice_cubes}")
    return current_temp

drinking_temp = 35
cooling_hot_water(drinking_temp)

The current temperature of your drink is 95, number of ice cubes added to the drink is 1
The current temperature of your drink is 90, number of ice cubes added to the drink is 2
The current temperature of your drink is 85, number of ice cubes added to the drink is 3
The current temperature of your drink is 80, number of ice cubes added to the drink is 4
The current temperature of your drink is 75, number of ice cubes added to the drink is 5
The current temperature of your drink is 70, number of ice cubes added to the drink is 6
The current temperature of your drink is 65, number of ice cubes added to the drink is 7
The current temperature of your drink is 60, number of ice cubes added to the drink is 8
The current temperature of your drink is 55, number of ice cubes added to the drink is 9
The current temperature of your drink is 50, number of ice cubes added to the drink is 10
The current temperature of your drink is 45, number of ice cubes added to the drink is 11
The current temperature of your drink is 40, number of ice cubes added to the drink is 12
The current temperature of your drink is 35, number of ice cubes added to the drink is 13

35

`while True` means loop until you manually tell me to stop. `True` will always be true. The `break` statement is used here to break from the loop. `while` loops can continue to run forever if you don't use them right

## Functions within functions

Computing:

$$\sum_{k = 1}^{100} \frac{1}{k^2} $$

In [39]:
def my_sum(start, stop):
    """Sum the function 1/k^2"""
    total = 0
    for k in range(start, stop + 1):
        total = total + (1 / k**2)
    return total

print(my_sum(1,2000))

1.6444341918273961

In [42]:
#Same as above using nested function

def my_sum(start, stop, my_func):
    """Sum the function 1/k^2"""
    total = 0
    for k in range(start, stop + 1):
        total = total + my_func(k)
    return total

def my_func(k):
    """1/k**2"""
    return 1/k**2

print(my_sum(1, 2000, my_func))

1.6444341918273961

<hr>

## Lists

__List__ is an ordered sequence of information which can be accessed by index
- A list is denoted by square brackets, <br> $\verb:[item1, item2,:$ $\ldots$ $\verb:, itemN]:$
- elements separated by a comma
- An empty list is represented by $\verb|[]|$
- Elements of the list are usually of the same type, e.g. integers, or floats, but a list can be mixed
- List elements, unlike string elements,  can be changed. This means that list is __mutable__

`lst = [0, 1, 2, 3]`

To get its length:

`len(lst)`

List method can convert some things, such as integers or strings - `list("c")`

In [43]:
list1 = []
for i in range(10):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Make a `list` of the first 100 odd numbers

An __index__ is a position of an element in the list. The first element of a list has index $0$ not $1$, indices start from $0$. 

Access elements of the list (`list_`) in the following way: If we want the second element we do `list_[1]`

`list_[-1]` will access the last element of the list, `list_[-2]` the second last element...

In [45]:
list_ = [1,2,5,7,9]
list_[0] = 3 # Changes value at index 0
list_

[3, 2, 5, 7, 9]

In [46]:
#Iterate over lists

list_2 = [1,3,5,7,9,11]
N = len(list_2)

for i in range(N):
    print(list_2[i])

1
3
5
7
9
11

In [47]:
# Or just do
for item in list_2:
    print(item)

1
3
5
7
9
11

In [49]:
# Easily make a list

list(range(4))

[0, 1, 2, 3]

In [50]:
#Add lists together

L1 = [4,7,8]
L2 = [7,3,1]

L3 = L1 + L2

print (L1, L2, L3)

[4, 7, 8] [7, 3, 1] [4, 7, 8, 7, 3, 1]

Try and find $$ \sum_{k=0}^{100}  \frac{4(-1)^k}{2k+1},$$
using both a `for` loop, and seperately using the `sum` function

## Tuples - Immutable list of values

In [1]:
list_ex = [1,2,3,4,5,6,7]
tuple_ex = (1,2,3,4,5,6,7) # Values within a tuple cannot be changed - Immutable

## Set - A set contains a set of unique objects

In [2]:
a = [1,2,2,2,2,2,2,2,5,5,5,5,5,6,7,99]
b = set(a)
print(b)

{1, 2, 99, 5, 6, 7}

In [3]:
b[3] # Will not work, as set type objects have no relevance for order

TypeError: 'set' object is not subscriptable

In [5]:
c = list(b) # This will work instead
print(c[1])

2

In [6]:
# Add or remove from a set
b.add(55)
b.remove(1)
print(b)

{2, 99, 5, 6, 7, 55}

### Set intersection/union
Take two `sets` and create a new `set` that contains things that are in both `sets` (intersection) or create a new `set` that contains things in either of the originals (union) - Uses bitwise operators

In [13]:
set1 = set([1,2,3,4,5])
set2 = set([6,7,8,9,10,11])
set3 = set([1,2,3])


print("** Intersections **")
print(set1 & set2)
print(set3 & set2)
print(set1 & set3)
print("")

print("** Unions **")
print(set1 | set2)
print(set3 | set2)
print(set1 | set3)

print("** Removing one set from another **")
print(set1 - set2)
print(set3 - set2)
print(set1 - set3)
print()

print("** The exclusive or: Numbers in one set, but not both **")
print(set1 ^ set2)
print((set1 | set2) - (set1 & set2))
print(set3 ^ set2)
print(set1 ^ set3)
print()

** Intersections **
set()
set()
{1, 2, 3}

** Unions **
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5}
** Removing one set from another **
{1, 2, 3, 4, 5}
{1, 2, 3}
{4, 5}

** The exclusive or: Numbers in one set, but not both **
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 6, 7, 8, 9, 10, 11}
{4, 5}

Why use a `set`? It makes checking if a value is in an object quicker than using a list or a `tuple`, i.e.

In [15]:
print(5 in list_ex)
print(11 in tuple_ex)

print(11 in set2) # A lot quicker

True
False
True

## Dictionaries - Used for storing data with no obvious order
built-in type that stores collections of data. Useful for when it is easier to access data based on something other than the order

In [16]:
dictionary1 = {} # Initialise empty dictionary
dictionary1['value_1'] = 11
dictionary1['value_2'] = 22
dictionary1['value_3'] = 33
dictionary1['value_4'] = 44
dictionary1['value_5'] = 55
dictionary1['value_6'] = 66
dictionary1['value_7'] = 77

In [19]:
print(dictionary1)
print(dictionary1['value_4']) # This accesses the information using the key, 'value_4'

{'value_1': 11, 'value_2': 22, 'value_3': 33, 'value_4': 44, 'value_5': 55, 'value_6': 66, 'value_7': 77}
44

In [20]:
print( list( dictionary1.keys() ) )
print( list( dictionary1.values() ) )
print( list( dictionary1.items() ) )

['value_1', 'value_2', 'value_3', 'value_4', 'value_5', 'value_6', 'value_7']
[11, 22, 33, 44, 55, 66, 77]
[('value_1', 11), ('value_2', 22), ('value_3', 33), ('value_4', 44), ('value_5', 55), ('value_6', 66), ('value_7', 77)]

## List/Dictionary comprehension
For the purposes of making a `list` or a `dictionary` from the result of a loop, you can use comprehension. Comprehension is a lot faster than a normal loop, because the iteration uses the `map` function which is compiled in `C`.

In [23]:
comp_vals = [1,2,3,4,5,6,7,8,9]


#Slow method
loop_list = []
loop_dict = {}

for i in comp_vals:
    loop_list.append(i ** 2)
    loop_dict['key{0}'.format(i)] = i

print(loop_list)
print(loop_dict)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5, 'key6': 6, 'key7': 7, 'key8': 8, 'key9': 9}

In [25]:
#Faster method

comp_list = [i ** 2 for i in comp_vals]
comp_dict = {'key{0}'.format(i): i for i in comp_vals}

print(comp_list)
print(comp_dict)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5, 'key6': 6, 'key7': 7, 'key8': 8, 'key9': 9}

# Classes
`Classes` are used for when you will have multiple instances of an object type

In [37]:
pi = 3.14159

class Shape:
    def __init__(self, x, y, cx = 0.0, cy = 0.0, name = 'rectangle'):
        self.name = name
        self.x = x
        self.y = y
        self.cx = cx
        self.cy = cy

    def move(self, dx, dy):
        self.cx += dx
        self.cy += dy

    def area(self):
        return self.x * self.y
    
    def GetPosition(self):
        return '[x: {0}, y: {1}]'.format(self.cx, self.cy)
    

# Example of inheritance
class Circle(Shape):
    def __init__(self, r, cx = 0.0, cy = 0.0):
        self.name = 'Circle'
        self.r = r
        self.cx = cx
        self.cy = cy

    def area(self):
        return pi * self.r ** 2
    
class Square(Shape):
    def __init__(self, x, cx=0, cy=0):
        self.name = 'Square'
        self.x = x
        self.y = x
        self.cx = cx
        self.cy = cy


shape_list = [Shape(1, 3), Square(5), Circle(10)]

for sdx, s in enumerate(shape_list):
    s.move(sdx, sdx)
    print('{0} area: {1}, position {2}'.format(s.name, s.area(), s.GetPosition()))

rectangle area: 3, position [x: 0.0, y: 0.0]
Square area: 25, position [x: 1, y: 1]
Circle area: 314.159, position [x: 2.0, y: 2.0]

Try and create a calculator `class` that has all of the attributes that you would expect

You can show all the methods of a `class` using the `dir` function

In [38]:
print(dir(Square))
print('')

['GetPosition', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'area', 'move']

File I/O brief intro

In [5]:
# The "w" option here indicates that the file is to be written. If the file already exists **it will be deleted**

# Options include:
#  "r": The file is to be read. It will not be possible to change anything
#  "w": The file is to be written. If it already exists it will be deleted
#  "a": Open the file for both reading and writing. You could write to the file, but it will be written at the end
#  "b": The "b" flag can be added to any of these "rb", "wb", or "ab". This indicates the file stores binary format
#       data
file_pointer = open('example_file.data', 'w')
# The \n here indicates a newline. It's what the return key produces.
file_pointer.write("Test\n")
file_pointer.write("Input")
file_pointer.close()

In [6]:
file_pointer = open('example_file.data', 'r')
for line in file_pointer:
    print(line.strip())
file_pointer.close()

Test
Input

Could instead use the `with` statement. This ensures that the file is closed outside of the `with` block

In [9]:
with open('example_file.data', 'w') as file_pointer:
    file_pointer.write("Test\n")
    file_pointer.write("Input")

with open('example_file.data', 'r') as file_pointer:
    for line in file_pointer:
        print(line.strip())

Test
Input

Write a file that contains the first 10 square numbers (1, 4, 9, ...) and then read this back in and print it to the screen.

## Final note
Usage of `if __name__ == '__main__':`
This is for when you want to run a bit of code when called directly from the command line, but not call the code if it were to be imported into another file.
Check the value of the global variable `__name__`, when some code is run `__name__` will be `__main__`, and when imported, it will not be

In [ ]:
if __name__ == '__main__':

    print('Example')