# Exercises Day 15

#### SyntaxError
#### Exercise 1: SyntaxError

In [3]:
 print "hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3946622607.py, line 1)

In [2]:
print("hello world")

hello world

#### NameError
#### Exercise 2: NameError

In [4]:
 print(age)

NameError: name 'age' is not defined

In [5]:
age = 25
print(age)

25

#### IndexError
#### Exercise 3: IndexError

In [6]:
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [7]:
numbers = [1, 2, 3, 4, 5]
numbers[4]

5

#### ModuleNotFoundError
#### Exercise 4: ModuleNotFoundError

In [8]:
import maths

ModuleNotFoundError: No module named 'maths'

In [9]:
import math

#### AttributeError
#### Exercise 5: AttributeError

In [12]:
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [13]:
math.pi

3.141592653589793

#### KeyError
#### Exercise 6: KeyError

In [21]:
 user = {"name":"Asab", "age":250, "country":"Finland"}
 user["name"]
 user["county"]

KeyError: 'county'

In [20]:
 user = {"name":"Asab", "age":250, "country":"Finland"}
user["country"]

'Finland'

#### TypeError
#### Exercise 7: TypeError

In [22]:
4 + "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
4 + int("3")

7

In [28]:
4 + float("3")

7.0

#### ImportError
#### Exercise 8: TypeError

In [29]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [30]:
from math import pow
pow(2,3)

8.0

#### ValueError
#### Exercise: 9

In [31]:
int("12a")

ValueError: invalid literal for int() with base 10: '12a'

In [32]:
int("12")

12

#### ZeroDivisionError
#### Exercise: 10

In [33]:
 1/0

ZeroDivisionError: division by zero

In [34]:
0/1

0.0