In [1]:
type(3.14)

float

In [2]:
type('kk')

str

In [3]:
type(123)

int

In [4]:
type(False)

bool

In [8]:
# int 整數
1 
2
0
-1

# float 浮點數
0.2
.2

# 2e5 -> 2 * 10的五次方
print(2e-2)

0.02

In [9]:
# boolean(bool) 布林
True

True

In [11]:
# complex 複數
3 + 2j - 5j

(3-3j)

In [12]:
age = 10

In [13]:
age

10

In [14]:
4 / 2

2.0

In [15]:
3 // 4

0

In [16]:
5 // 4

1

In [17]:
# mod 求餘
5 % 2

1

In [18]:
3 % 4

3

In [19]:
3 ** 4

81

In [20]:
3 ** -1

0.3333333333333333

In [21]:
3 ** 0.5

1.7320508075688772

In [22]:
5 // 3

1

In [23]:
3.14 // 2

1.0

In [24]:
type(3.14 // 2)

float

In [25]:
type(5 // 3)

int

In [26]:
2 ** 0

1

In [27]:
0 ** 0

1

In [28]:
2 ** .5

1.4142135623730951

In [29]:
2 ** -0.5

0.7071067811865476

In [31]:
-1 % 3
# -1 = 3 * (-1) + 2

2

In [33]:
5.5 % 3
# 5.5 = 3 * (1) + 2.5

2.5

In [34]:
-5.5 % 3
# -5.5 = 3 * (-2) + 0.5

0.5

In [35]:
2.5 % .5
# 2.5 = 0.5 * 5 + 0

0.0

In [36]:
0 / 1

0.0

In [37]:
0 * 0.1

0.0

In [38]:
2 ** 2

4

In [39]:
5 // 2

2

In [40]:
5.5 // 2

2.0

In [41]:
4 % 2

0

In [42]:
2.5 % .5

0.0

In [43]:
5 / True

5.0

In [44]:
False / True

0.0

In [45]:
0 * 1.5 + 0 * 3j

0j

In [46]:
'xxxxx'

'xxxxx'

In [47]:
"sss"

'sss'

In [48]:
print('i am very "happy"')

i am very "happy"

In [52]:
print("i am very "happy"")

SyntaxError: invalid syntax (<ipython-input-52-fefb17c3da62>, line 1)

In [51]:
print('i'm kevin')

SyntaxError: invalid syntax (<ipython-input-51-a7284aabd35a>, line 1)

In [53]:
print("i'm kevin")

i'm kevin

In [54]:
# 跳脫字元 escape character
print('i\'m kevin, so \"happy\"')

i'm kevin, so "happy"

In [56]:
# 換行：\n (new line)
print('i am kevin. \ni am happy')

i am kevin.
i am happy

In [57]:
# tab: \t
print('i am kevin.\ti am happy')

i am kevin.	i am happy

In [58]:
print('i am kk.\ti am sad')

i am kk.	i am sad

In [65]:
# 單行註解 comment
# 單行註解 comment
# 單行註解 comment

"""
xxxxxx
xxxxxx
"""

print('''
xxxx
      sssss
''')

xxxx
      sssss

In [66]:
'abc' + 'def'

'abcdef'

In [67]:
'aaa' + 123

TypeError: can only concatenate str (not "int") to str

In [68]:
'aaa' + '123'

'aaa123'

In [69]:
'aaa' * 3

'aaaaaaaaa'

In [70]:
'abc' * 5

'abcabcabcabcabc'

In [71]:
'aaa' * 'aaa'

TypeError: can't multiply sequence by non-int of type 'str'

In [72]:
name = 'kevin'

In [73]:
'hi! {}'.format(name)

'hi! kevin'

In [74]:
name = 'kk'
age = 25
'hello {}, i am {} years old'.format(name, age)

'hello kk, i am 25 years old'

In [75]:
foo = []

In [76]:
print(foo)

[]

In [77]:
bar = list()

In [78]:
print(bar)

[]

In [79]:
bar = ['a', 'b']

In [81]:
anything = ['a', 123, True, 3.14]

In [82]:
anything

['a', 123, True, 3.14]

In [84]:
anything[3]

3.14

In [85]:
anything[3] = 1.24

In [86]:
print(anything[3])

1.24

In [87]:
animals = ('cat', 'dog')

In [88]:
print(animals)

('cat', 'dog')

In [89]:
print(animals[0])

cat

In [90]:
animals[0] = 'dog'

TypeError: 'tuple' object does not support item assignment

In [96]:
teacher = {
    'name': 'kevin',
    'age': 25,
    'students': ['tim', 'john']
}

In [93]:
teacher['age']

25

In [97]:
teacher['name']

'kevin'

In [98]:
teacher['name'] = 'john'

In [99]:
teacher['name']

'john'

In [100]:
empty_list = []
empty_tuple = ()
empty_dict = {}

fruits = ['apple', 'banana', 'apple']
fruit_set = set(['apple', 'banana', 'apple'])

In [101]:
print(fruit_set)

{'apple', 'banana'}

In [102]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [103]:
int(123.45)

123

In [104]:
int(123.56)

123

In [105]:
float(123)

123.0

In [106]:
float('123.45')

123.45

In [107]:
float('kevin')

ValueError: could not convert string to float: 'kevin'

In [108]:
str(213)

'213'

In [111]:
def foo():
    print('XD')
    print('XD')