___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [375]:
#below code cleaned up #teacher solution

def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2 ==0:
        #both numbers are even
        return min(a,b)
    else:
        #one or both numbers are odd
        return max(a,b)

In [ ]:



def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        #both numbers are even
        if a<b:
            result = a
        else:
            result = b
    else:
        #one or both numbers are odd
        if a > b:
            result = a
        else:
            result = b
    return result

In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b% 2 == 0:
        if a<b:
            lesser = a
        else:
            lesser = b
        return lesser
    elif a%2 != 0 or b%2 !=0:
        if a>b:
            greater = a
        else:
            greater = b
        return greater
    else:
        pass

In [376]:
# Check
lesser_of_two_evens(2,4)

2

In [377]:
# Check
lesser_of_two_evens(2,5)

5

In [378]:
lesser_of_two_evens(3,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with the same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
#teacher answer
def animal_crackers(text):
    wordslist = text.split()
    
    first = wordlist[0]
    second = wordlist [1]
    retirn first[0] == second[0]
# I did the cleaned up version. We are assuming that both are capitalized. See if dif capitals below.

In [379]:
def animal_crackers(text):
    words = text.lower().split()  #this lower would match c with C
    return words[0][0] ==words[1][0]

In [7]:
def animal_crackers(text):
    words = text.split()
    return words[0][0] ==words[1][0]

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [381]:
#teacher solution

def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [10]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False

In [382]:
# Check
makes_twenty(20,10)

True

In [383]:
makes_twenty(10,10)

True

In [384]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [416]:
#teacher metthod

def capitalize_name(name):
        first_letter = name[0]
        inbetween = name[1:3]
        fourth_letter = name[3]
        rest = name [4:]
        
        return first_letter.upper() + inbetween + fourth_letter.upper()+ rest

In [420]:
#teacher method with capitalization


def capitalize_name(name):
    first_half = name[:3]
    second_half name[3:]
    return first_half.capitalize() + second_half.capitalize()

SyntaxError: invalid syntax (1490464142.py, line 6)

In [403]:
def capitalize_name(name):
    mod_name = list(name)
  
    mod_name[0] = name[0].upper()
    mod_name[3] = name[3].upper()
    return "".join(mod_name)

In [417]:
capitalize_name('peter')

'PetEr'

In [85]:
# Check
capitalize_name('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [427]:
#teacher soluytion

def master_yoda(text):
    word_list = text.split()
    reverse_word_list = word_list[::-1]
    return ' '.join(reverse_word_list)

In [144]:
def master_yoda(text):
    word_list = text.split()
    word_list.sort(reverse=True)
    yoda = ' '.join(word_list)
    return(yoda)

In [428]:
# Check
master_yoda('I am home')

'home am I'

In [146]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [449]:
#teacher solution

def almost_there(n):
    return (abs(100-n) <=10) or (abs(200-n)<=10)

In [87]:
def almost_there(n):
    if n+10 >= 100 and n-10 <= 100:
        print(True)
    elif n+10 >= 200 and n-10 <= 200:
        print(True)
    else:
        print(False)

In [450]:
almost_there(40)

False

In [451]:
# Check
almost_there(104)

True

In [452]:
# Check
almost_there(150)

False

In [453]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [454]:
#teacher solution
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1] ==3:
              return True
    return False

In [463]:
#2nd teacher solution
def has_33(nums):
        for i in range(0,len(nums)-1):
            if nums[i: i+2]==[3,3]:
                return True
        return False

In [1]:
def has_33(nums):
    for index_num in range(len(x)-1):
    if x[index_num:] in nums and nums[]==nums[+1]:
        return true

IndentationError: expected an indented block (<ipython-input-1-a03985b13a36>, line 3)

In [5]:
def has_33(array):
    for i in range(len(array)-1):
        if array[i:i+2] == [3,3]:
            return True
    return False

In [464]:
# Check
has_33([1, 3, 3])

True

In [465]:
has_33([1, 2, 4])

False

In [466]:
# Check
has_33([1, 3, 1, 3])

False

In [467]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [471]:
#teacher solution
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [36]:
def paper_doll(text):
    paper_doll_speak = []
    for letter in text:
        paper_doll_speak.append(letter*3)
    return(''.join(paper_doll_speak))

In [472]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [473]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [476]:
#teacher solution
def blackjack(a,b,c):
    if sum([a,b,b])<= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [98]:
def blackjack(a,b,c):
    card_total = a+b+c
    minus_ten_total = (card_total)-10
    if card_total<=21:
        return card_total
    else:
        if (a or b or c == 11) and minus_ten_total <= 21:
            return minus_ten_total
        else:
            return 'BUST'

In [477]:
blackjack(11,11,11)

'BUST'

In [478]:
# Check
blackjack(5,6,7)

18

In [479]:
# Check
blackjack(9,9,9)

'BUST'

In [480]:
blackjack(11,9,9)

19

In [481]:
blackjack(9,11,9)

19

In [482]:
blackjack(9,9,11)

19

In [483]:
blackjack(11,11,11)

'BUST'

In [484]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [487]:
#teacher solution
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [162]:
def summer_69(arr):
    if 6 in arr:
        six_loc = arr.index(6)
        nine_loc = arr.index(9) + 1
        del arr[six_loc:nine_loc]
        return sum(arr)
    else:
        print(sum(arr))

In [154]:
count = list(range(10))
print(count)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [488]:
# Check
summer_69([1, 3, 5])

9

In [489]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [490]:
# Check
summer_69([2, 1, 6, 9, 11])

14

SIMPLE LIST DEL HELP!!!!!!!!!!!!!!!!!

In [155]:
del count[2:5]
print(count)
# [0, 1, 5, 6, 7, 8, 9]

[0, 1, 5, 6, 7, 8, 9]

In [152]:
count = list(range(10))
del count[:3]
print(count)
# [3, 4, 5, 6, 7, 8, 9]

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
count = list(range(10))
del count[4:]
print(count)
# [0, 1, 2, 3]

In [ ]:
l = list(range(10))
del l[-3:]
print(count)
# [0, 1, 2, 3, 4, 5, 6]

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [501]:
#teacher solution
#THE 007 DIDN'T HAVE TO BE CONSECUTIVE!!!
#UGGHGHHGHGHGHGH

def spy_game(nums):
    
    code = [0,0,7, 'x']     #we are going to go through list and pop off if it ain't
    # [0,7,'x']
    # [7,'x']
    # ['x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [502]:
spy_game([1,2,4,0,0,7,5])

True

In [503]:
 spy_game([1,0,2,4,0,5,7])

True

In [504]:
spy_game([1,7,2,0,4,5,0])

False

In [166]:
# def spy_game(nums):
#     x = 0
#     y = 3
#     while nums[x:y]!= [0,0,7]
#       if
#       if any 3 adjacent integers == 007 
#           return True
#      x+=1
#      y+=1
#     else:
#          return False

In [363]:
import random

animal ='elephant'
listed_animal =list(animal)

random.shuffle(listed_animal)
print(listed_animal)

string_animal = ''.join(listed_animal)
print(string_animal)

['a', 't', 'e', 'l', 'p', 'h', 'e', 'n']
atelphen

In [445]:
def convert(int_list):
    st_list = [str(num) for num in int_list]
    print(st_list)
    # Join list items using join()
    joined_list = int("".join(s))
      
    return(joined_list)
    list = [1, 2, 3]
    print(convert(list))

In [446]:
def convert(1,2,3,4,5)

SyntaxError: invalid syntax (1153425691.py, line 1)

In [438]:
#this is closest yet.... need results to show in strings though

# i need to print out the string version of scan

def convert(int_list):
    st_list = [str(num) for num in int_list]
      
    # Join list items using join()
    joined_list = int("".join(s))
      
    return(joined_list)

def spy_game(data):
    x = 0
    y = 3 
    scan = data[x:y]
    
    adj_st_length = len(data)-2
    for int in data[0:adj_st_length]:
        scan = data[x:y]
        ''.join(scan)
        print(scan)
        x+=1
        y+=1
       
    
    
  
# Driver code
list = [1, 2, 3]
print(convert(list))

ValueError: invalid literal for int() with base 10: 'Hello World'

In [496]:
# Check
spy_game([1,2,4,0,0,7,5])

TypeError: sequence item 0: expected str instance, int found

In [497]:
# Check
spy_game([1,0,2,4,0,5,7])

TypeError: sequence item 0: expected str instance, int found

In [304]:
# Check
spy_game([1,7,2,0,4,5,0])

[1, 7, 2]
[7, 2, 0]
[2, 0, 4]
[0, 4, 5]
[4, 5, 0]

In [287]:
def spy_game(data):
    x = 0
    y = 3
    compare = ''
    adj_st_length = len(data)-2
    for int in data[0:adj_st_length]:
        compare.join(data[x:y])
        if compare == [0, 0, 7]:
            print(True)
        else:
            pass

In [289]:
def spy_game(data):
    x = 0
    y = 3
    compare = ''
    adj_st_length = len(data)-2
    for num in data[0:adj_st_length]:
        listToStr = compare.join([str(num) for num in data])
        return listToStr

In [290]:
# Check
spy_game([1,2,4,0,0,7,5])

'1240075'

In [236]:
# Check
spy_game([1,0,2,4,0,5,7])

In [237]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    
    prime_list = []
    x=1
    
    for i in range(0,num):
    
        while x+1 < i:
            if i%x == 0:
                pass and x=+1
            else:
                ammend(i)

In [ ]:
print('hello')

In [ ]:
def count_primes(num):
    print('hello') 
   # prime_list = []
  #  x=1
    
    #for every integer from 0 to the input number
   # for i in range(0,num):
    
   ## while x < num:
            #if i%x == 0:
            print(i)

In [ ]:
count_primes(num)

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!