### Brahma's Question

In [1]:
l = 'Shubha'

In [2]:
l.count('h')

2

In [4]:
c = 0
for i in l:
    if i == 'h':
        c += 1
print(c)

2

### if-elif-else

In [5]:
a = 10
# block-1 starts
if a>20:
    print('this is a number')
# block-1 ends
# block-2 starts
if a==10:
    print('This is my alternate statement')
elif a<20:
    print('Print from elif')
else:
    print('This is statement')
# block-2 ends

This is my alternate statement

In [6]:
a = 10
# block-1 starts
if a<20:
    print('this is a number')
# block-1 ends
# block-2 starts
if a==10:
    print('This is my alternate statement')
elif a<20:
    print('Print from elif')
else:
    print('This is statement')
# block-2 ends

this is a number
This is my alternate statement

In [7]:
a = 10
# block-1 starts
if a>20:
    print('this is a number')
# block-1 ends
# block-2 starts
if a==30:
    print('This is my alternate statement')
elif a<20:
    print('Print from elif')
else:
    print('This is statement')
# block-2 ends

Print from elif

In [8]:
a = 10
# block starts
if a==30:
    print('This is my alternate statement') # False
elif type(a) == int:
    print('I am checking the type of var') # True
elif a<20:
     print('Print from elif')
else:
    print('Print this statement')
# block ends

I am checking the type of var

* If it is if-if, i.e., if followed by if - Different Blocks
* If it is if-else, i.e., if followed by else - Same Block
* If it is if-elif-else, i.e., if followed by if-elif-else - Same Block

In [9]:
input()

String Without Message

'String Without Message'

In [10]:
int(input())

56

56

In [12]:
input('Enter a String: ')

Enter a String: Shubha

'Shubha'

In [13]:
int(input('Enter a number: '))

Enter a number: 54

54

In [14]:
int(input('Enter a number: '))

Enter a number: wnkfcn

ValueError: invalid literal for int() with base 10: 'wnkfcn'

In [15]:
int(input('Enter a number: '))

Enter a number: 25.6

ValueError: invalid literal for int() with base 10: '25.6'

In [16]:
int(input('Enter a number: '))

Enter a number: /

ValueError: invalid literal for int() with base 10: '/'

In [18]:
Discount = int(input()) # will give the output in integer format
if Discount == 50:
    print('You can buy all the listed items in row one')
elif Discount == 30:
    print('You can buy all the items from row 2')
elif Discount == 20:
    print('Send user to row 2')
elif Discount > 10:
    print('Send him to the 4th row')
else:
    print('There is no item available')

50
You can buy all the listed items in row one

In [19]:
Discount = int(input()) # will give the output in integer format
if Discount == 50:
    print('You can buy all the listed items in row one')
elif Discount == 30:
    print('You can buy all the items from row 2')
elif Discount == 20:
    print('Send user to row 2')
elif Discount > 10:
    print('Send him to the 4th row')
else:
    print('There is no item available')

11
Send him to the 4th row

In [20]:
Discount = int(input()) # will give the output in integer format
if Discount == 50:
    print('You can buy all the listed items in row one')
elif Discount == 30:
    print('You can buy all the items from row 2')
elif Discount == 20:
    print('Send user to row 2')
elif Discount > 10:
    print('Send him to the 4th row')
else:
    print('There is no item available')

100
Send him to the 4th row

In [31]:
income = int(input())
if income>1000:
    print('You can get a platinum card')
elif income>800:
    print('You can get a gold card')
else:
    print("Steal Nikki's Card")

0
Steal Nikki's Card

In [32]:
income = int(input())
if income>1000:
    print('You can get a platinum card')
elif income>800:
    print('You can get a gold card')
else:
    print("Steal Nikki's Card")

800
Steal Nikki's Card

In [33]:
income = float(input())
if income>1000:
    print('You can get a platinum card')
elif income>800:
    print('You can get a gold card')
else:
    print("Steal Nikki's Card")

800.01
You can get a gold card

### nested if statements

In [34]:
income = int(input())
# block starts
if income>1000:
    print('You can get a platinum card') 
    # nested block starts
    if income>2000:
        print('You will be able to get other facilities')
    # nested block ends
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends

3000
You can get a platinum card
You will be able to get other facilities

In [35]:
income = int(input())
# block starts
if income>1000:
    print('You can get a platinum card')
    # nested block starts
    if income>2000:
        print('You will be able to get other facilities')
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block ends
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends

1800
You can get a platinum card
No Option

In [36]:
income = int(input())
# block starts
if income>1000:
    print('You can get a platinum card')
    # nested block starts
    if income>2000:
        print('You will be able to get other facilities')
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block ends
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends

1499
You can get a platinum card
You will get another things

In [37]:
income = int(input())
# block starts here
if income>1000:
    print('You can get a platinum card') # print
    # nested block starts here
    if income>2000:
        print('You will be able to get another facilities')
        # sub-nested-block-1 starts here
        if income > 2200:
            print("You'll be able to get discount in services")
        # sub-nested-block-1 ends here
        # sub-nested-block-2 starts here
        if income > 2300:
            print("You'll be able to get the air tickets")
        else:
            print('There is no option available')
        # sub-nested-block-2 ends here
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block starts here
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends here

2300
You can get a platinum card
You will be able to get another facilities
You'll be able to get discount in services
There is no option available

In [38]:
income = int(input())
# block starts here
if income>1000:
    print('You can get a platinum card') # print
    # nested block starts here
    if income>2000:
        print('You will be able to get another facilities')
        # sub-nested-block-1 starts here
        if income > 2200:
            print("You'll be able to get discount in services")
        # sub-nested-block-1 ends here
        # sub-nested-block-2 starts here
        if income > 2300:
            print("You'll be able to get the air tickets")
        else:
            print('There is no option available')
        # sub-nested-block-2 ends here
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block starts here
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends here

2301
You can get a platinum card
You will be able to get another facilities
You'll be able to get discount in services
You'll be able to get the air tickets

In [39]:
income = int(input())
# block starts here
if income>1000:
    print('You can get a platinum card') # print
    pass # in this scenario pass doesn't do annything
    # nested block starts here
    if income>2000:
        print('You will be able to get another facilities')
        # sub-nested-block-1 starts here
        if income > 2200:
            print("You'll be able to get discount in services")
        # sub-nested-block-1 ends here
        # sub-nested-block-2 starts here
        if income > 2300:
            print("You'll be able to get the air tickets")
        else:
            print('There is no option available')
        # sub-nested-block-2 ends here
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block starts here
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends here

2302
You can get a platinum card
You will be able to get another facilities
You'll be able to get discount in services
You'll be able to get the air tickets

In [44]:
if 1:
else:
    print('one')

IndentationError: expected an indented block (Temp/ipykernel_7344/354860128.py, line 2)

In [45]:
if 1:
    pass
else:
    print('one')

In [46]:
income = int(input())
# block starts here
if income>1000:
    print('You can get a platinum card') # print
    pass # in this scenario pass doesn't do annything
    # nested block starts here
    if income>2000:
        print('You will be able to get another facilities')
        # sub-nested-block-1 starts here
        if income > 2200:
            print("You'll be able to get discount in services")
        # sub-nested-block-1 ends here
        # sub-nested-block-2 starts here
        if income > 2300:
            print("You'll be able to get the air tickets")
        else:
            print('There is no option available')
        # sub-nested-block-2 ends here
    elif income < 1500:
        print('You will get another things')
    else:
        print('No Option')
    # nested block starts here
elif income>800:
    print('You will be able to get gold card')
else:
    print("You won't be able to get any card")
# block ends here

999
You will be able to get gold card

### Not Recommended Practice

In [47]:
val = int(input())
if val == 10: print('This is 10') # not recommended, because body and column in the same line

10
This is 10

# Looping

In [48]:
l = [2, 3, 4, 5, 6, 1, 2, 3, 3]

In [49]:
type(l)

list

In [50]:
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [51]:
l.split(',') # comma in lists are separators, split is a string function()

AttributeError: 'list' object has no attribute 'split'

In [52]:
print(2)

2

In [55]:
print(2)
print(3)

2
3

In [56]:
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [57]:
print(2)
print(3)
print(4)
print(5)
print(6)
print(1)
print(2)
print(3)
print(3)

2
3
4
5
6
1
2
3
3

In [58]:
for i in l:
    print(i)

2
3
4
5
6
1
2
3
3

In [60]:
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [59]:
for brahma in l:
    print(brahma)

2
3
4
5
6
1
2
3
3

In [61]:
for i in ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56, 67, 6+7j, True, 45.67]:
    print(i)

Shubha
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67

In [62]:
l = ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56, 67, 6+7j, True, 45.67]
for i in l:
    print(i)

Shubha
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67

In [63]:
l

['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56, 67, (6+7j), True, 45.67]

### Print the string element present in the list

In [ ]:
# Satya 2 - Revise
for ele in l:
    if l== 'string':
        print('ele')

In [ ]:
# Satya 2 - Revise
for ele in l:
    if l== str:
        print('ele')

In [ ]:
# Chaiytanya - Revise
for ele in l:
    if type(ele) == str(l)

In [64]:
# Saiteja - Correct Answer
for ele in l:
    if type(ele) == str:
        print(ele)

Shubha

In [65]:
# Satya 2 - Correct
for j in ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56,'Mindgraph' ,67, (6+7j), 'True', 45.67, 'ByteIQ']:
    if type(j) == str:
        print(j)

Shubha
Mindgraph
True
ByteIQ

### Print the reverse of the list present inside the main list, [5, 4, 3, 2, 1]

In [66]:
l = ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56,'Mindgraph' ,67, (6+7j), True, 45.67, 'ByteIQ']

In [68]:
for i in l:
#     print(i)
    if type(i) == list:
        print(i)

[1, 2, 3, 4, 5]

In [69]:
for i in l:
#     print(i)
    if type(i) == list:
        print(i)
        print(i[::-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
for i in l:
#     print(i)
    if type(i) == list:
        print(i)
        print(i[::-1])

In [74]:
for i in l:
#     print(i)
    if type(i) == list:
        print(i)
        print(list.reversed(i))

[1, 2, 3, 4, 5]

AttributeError: type object 'list' has no attribute 'reversed'

In [73]:
for i in l:
#     print(i)
    if type(i) == list:
        print(i)
        print(list(reversed(i)))

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

* To Print Statements
    * print(' ') - normal print statement
    * print(' ', ' ') - appending a string to the last
    * print('{}'.format()) - print as per placeholder
    * print(f'') - to include and print the special characters

In [76]:
### Print with message
for i in l:
#     print(i)
    if type(i) == list:
        print('Original List: {}'.format(i))
        print('Reversed List:{}'.format(i[::-1]))

Original List: [1, 2, 3, 4, 5]
Reversed List:[5, 4, 3, 2, 1]

In [77]:
string = 'MINDGRAPH TECHNOLOGIES PRIVATE LIMITED'
for i in string:
    print(i)

M
I
N
D
G
R
A
P
H

T
E
C
H
N
O
L
O
G
I
E
S

P
R
I
V
A
T
E

L
I
M
I
T
E
D

In [78]:
string = 'MINDGRAPH TECHNOLOGIES PRIVATE LIMITED'
for i in string:
    print(i + '1')

M1
I1
N1
D1
G1
R1
A1
P1
H1
 1
T1
E1
C1
H1
N1
O1
L1
O1
G1
I1
E1
S1
 1
P1
R1
I1
V1
A1
T1
E1
 1
L1
I1
M1
I1
T1
E1
D1

In [81]:
string = 'MINDGRAPH TECHNOLOGIES PRIVATE LIMITED'
for i in string:
    print(i + i + i)

MMM
III
NNN
DDD
GGG
RRR
AAA
PPP
HHH

TTT
EEE
CCC
HHH
NNN
OOO
LLL
OOO
GGG
III
EEE
SSS

PPP
RRR
III
VVV
AAA
TTT
EEE

LLL
III
MMM
III
TTT
EEE
DDD

In [79]:
string = 'MINDGRAPH TECHNOLOGIES PRIVATE LIMITED'
for i in string:
    print(i + ' ' + i + ' ' +i)

M M M
I I I
N N N
D D D
G G G
R R R
A A A
P P P
H H H

T T T
E E E
C C C
H H H
N N N
O O O
L L L
O O O
G G G
I I I
E E E
S S S

P P P
R R R
I I I
V V V
A A A
T T T
E E E

L L L
I I I
M M M
I I I
T T T
E E E
D D D

In [80]:
string = 'MINDGRAPH TECHNOLOGIES PRIVATE LIMITED'
for i in string:
    print(i , ' ' , i , ' ' ,i)

M   M   M
I   I   I
N   N   N
D   D   D
G   G   G
R   R   R
A   A   A
P   P   P
H   H   H

T   T   T
E   E   E
C   C   C
H   H   H
N   N   N
O   O   O
L   L   L
O   O   O
G   G   G
I   I   I
E   E   E
S   S   S

P   P   P
R   R   R
I   I   I
V   V   V
A   A   A
T   T   T
E   E   E

L   L   L
I   I   I
M   M   M
I   I   I
T   T   T
E   E   E
D   D   D

In [82]:
range(0, 10)

range(0, 10)

In [83]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [85]:
range(0, 10)

range(0, 10)

In [86]:
range(10)

range(0, 10)

In [84]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [88]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [89]:
a = 103454
for i in str(a):
    print(i)

1
0
3
4
5
4

In [90]:
l = ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56,'Mindgraph' ,67, (6+7j), True, 45.67, 'ByteIQ']

In [92]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == str:
        print(i)
    elif type(i) == int:
        print('{} is an integer'.format(i))
    else:
        print('Others')

Shubha
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56 is an integer
Mindgraph
67 is an integer
Others
Others
Others
ByteIQ

### Task 1:

### WAP to take a list as input and return True if the list contains a 3 next to a 3 somewhere.

* Desired output:

    * [1, 3, 3] → True

    * [1, 3, 1, 3] → False

    * [3, 1, 3] → False

    * [3,3,1] → True

### Task 2:

### Write a program that takes a two-word string and returns True if both words begin with same letter

    * Sample input1:
        
        * s1 = "Mind Graph"
    
    * Sample output1:
        
        * False
        
    * Sample input2:
        
        * s2 = "Crispy Corn"
        
    * Sample output2:
        
        * True

### Task 3:

### WAP to take a string as input having 5 words. If the word starts with vowel and upper case, then convert it to lower case. If the word starts with consonant, then replace that first character with its next character.

* Sample input1:

    * s = "I am working in Mindgraph."
    
* Sample output1:

    * i am xorking in Nindgraph.
    
* Sample input2:

    * st = "What are you doing now"
    
* Sample output2:

    * Xhat are you eoing oow"

### Task 4:

### WAP to make small inventory management system project.
* Hint: take the inventories product and its price in a dictionary.
    * Then ask the user what he/she wants to buy?
    * After that calculate the bill for that user.

### Task 5:

### WAP to make a small project where there is a menu available for lunch, breakfast and dinner in a dictionary. then sort the items in separate 3 list and show these 3 list to the user. 


* Sample output:

* Here is our menu Bar



* In Breakfast: ['Noodles', 'Puri', 'Dosa']
------------------------------------------
* In Lunch: ['Biriyani', 'Mushroom', 'Paneer', 'Rice']
-------------------------------------------
* In Dinner ['Pizza', 'Chicken', 'Roti']

### Struggle-Nightmare-Pattern Problems

In [29]:
n = int(input("Enter the maximum number of * to print at the end: "))
for i in range(0, n+1):
#     print(i)
    for j in range(i+1):
        print('*', end = ' ')
    print(' ')

Enter the maximum number of * to print at the end: 5
*
* *
* * *
* * * *
* * * * *
* * * * * *