<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_02/in_session_practices_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-session Hands-on Practices
Dave Sadovy

## 1. Simple Types
- int
- float
- str
- boolean (True/False, First letter UPPER CASE)
- NaN (Not a Number, null value)

In [1]:
x = 5           # integer
y = 0.5         # float
s = "Hello"     # string, a collection of characters
print(x, y, s)

5 0.5 Hello

In [2]:
type(x)

int

In [3]:
type(s)

str

## 2. Collection Type

In [4]:
a_list = [1, 4, 7, 10]
print(a_list)

[1, 4, 7, 10]

In [5]:
type(a_list)

list

## 3. Loop

In [6]:
for i in a_list:
    print("integer", i)

integer 1
integer 4
integer 7
integer 10

## 4. Conditions

In [7]:
print(10 % 2)   # modulo

0

In [8]:
print(23 % 2)   # modulo

1

In [9]:
for i in a_list:
    if i % 2 == 1:
        print("Odd number", i)

Odd number 1
Odd number 7

## 5. Python Built-In Functions
- range()
- list()
- int()
- str()
- len() the num of items in a collection

In [10]:
for i in range(10, 21, 2):      # start = 10, stop = 21 (up to 20, not including 21), step = 2
    print(i)

10
12
14
16
18
20

In [11]:
for j in range(0,5):
    print(j)

0
1
2
3
4

In [12]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [13]:
x = "50"
type(x)

str

In [14]:
y = int(x)
type(y)

int

In [15]:
print(x,y)

50 50

## 6. Accepting User Inputs

In [16]:
x = input("Enter an integer:")

Enter an integer:10

In [17]:
print(x)

10

In [18]:
type(x)

str

In [19]:
x = input("Enter an integer:")

Enter an integer:wang

In [20]:
print(x)

wang

## 7. Exception Handling

In [21]:
y = int(x)
print(y)

ValueError: ignored

In [22]:
y = int("50")
print(y)

50

In [23]:
x = input("Please enter an ineger:")
try:
    y = int(x)
    print("got integer:", y)
except:
    print("Unable to convert the user input to an integer")

Please enter an ineger:jay
Unable to convert the user input to an integer

## 8. Infinite Loop

In [24]:
while True:
    x = input("Please enter an integer:")
    try:
        y = int(x)
        print("got integer:", y)
        break
    except:
        print("You must enter an integer. Please try again.")

Please enter an integer:jay
You must enter an integer. Please try again.
Please enter an integer:class
You must enter an integer. Please try again.
Please enter an integer:45You
You must enter an integer. Please try again.
Please enter an integer:-12
got integer: -12

In [25]:
the_list = []

for i in range(0,3):
    while True:
        x = input("Please enter an integer:")
        try:
            y = int(x)
            the_list.append(y)
            print("got integer:", y)
            break
        except:
            print("You must enter an integer. Please try again.")

print("You have entered:", the_list)

Please enter an integer:10
got integer: 10
Please enter an integer:45
got integer: 45
Please enter an integer:90
got integer: 90
You have entered: [10, 45, 90]

In [26]:
total = 0

for i in the_list:
    total += i      # total = total + i

print("total = ", total)

total =  145

In [27]:
mean = total / len(the_list)
print(mean)

48.333333333333336