In [1]:
a=int(input("Enter nmber 1:"))
b=int(input("Enter nmber 2:"))
print(a+b)

Enter nmber 1:2
Enter nmber 2:4
6

## Type Casting

In [2]:
#1. int()
int(13.987)

13

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
int("10")

10

In [6]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [7]:
int("0b1111")

ValueError: invalid literal for int() with base 10: '0b1111'

In [8]:
int(0b1111)

15

In [9]:
int(10.5)

10

In [10]:
#2.float

In [13]:
print(float(10))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))
print(float("ten"))
print(float("0b1111"))

10.0
1.0
0.0
10.0
10.5

ValueError: could not convert string to float: 'ten'

In [12]:
#3. bool()

In [26]:
print(bool(0))
print(bool(1))
print(bool(10))
print(bool(True))
print(bool(False))
print(bool("10"))
print(bool("10.5"))
print(bool("ten"))
print(bool("0b1111"))
print(bool(0.000))
print(bool("")) #blank string is consiered as zero
#anything other than 0or False will give output as True

False
True
True
True
False
True
True
True
True
False
False

In [27]:
#4. str()

In [21]:
str(10)

'10'

In [22]:
str(10.5)

'10.5'

In [23]:
str(True)

'True'

# Python Operators

## 1. Arithmetic operators

+ addition str-->concatenation
- subtraction 
* multiplication  str-->string multipliction or repetition

--> / division ----float is the dfault return type

'**' power or exponent

// floor division

--> % modulus

In [4]:
x=int(input("num 1:"))
y=int (input("num 2:"))
print("addition is",x+y)
print("subtraction is",x-y)
print("multiplication is",x*y)
print("division is",x/y)
print("power is",x**y)
print("modulus is",x%y)
print("floor division is",x//y)

num 1:3
num 2:2
addition is 5
subtraction is 1
multiplication is 6
division is 1.5
power is 9
modulus is 1
floor division is 1

## 2. Comparision or Relational Operators

In [1]:
# >
# <
# <=
# >=
# ==
# !=

In [2]:
a= input("num 1:")
b= input("num 2:")
print("a>b is:",a>b)
print("a<b is:",a<b)
print("a>=b is:",a>=b)
print("a<=b is:",a<=b)
print("a==b is:",a==b)
print("a!=b is:",a!=b)

num 1:4
num 2:5
a>b is: False
a<b is: True
a>=b is: False
a<=b is: True
a==b is: False
a!=b is: True

In [4]:
a= input("num 1:")
b= input("num 2:")
print("a>b is:",a>b)
print("a<b is:",a<b)
print("a>=b is:",a>=b)
print("a<=b is:",a<=b)
print("a==b is:",a==b)
print("a!=b is:",a!=b)

num 1:Arman
num 2:Aryan
a>b is: False
a<b is: True
a>=b is: False
a<=b is: True
a==b is: False
a!=b is: True

In [5]:
print(True>=True)

True

In [11]:
print(10>True)
print(False>True)
print(10<20<30)
print(10<20<30>40)

True
False
True
False

## 3. Logical Operators

In [ ]:
# and 
# or 
# not

In [13]:
print(True and False)
print(True or False)
print(not False)

False
True
True

In [ ]:
# Non boolean type behaviour
# 0 means False
# non-zero means True
# Empty string is always trated as False

In [14]:
# 1. x and y -->if x eveluate to false then result is x otherwise result is y

In [15]:
10 and 20

20

In [16]:
0 and 20

0

In [17]:
# 2. x or y --> if x evaluates to true then result is x otherwise result is y

In [18]:
10 or 20

10

In [19]:
0 or 20

20

In [20]:
# 3. not x --> if x evaluates to false then reuslt is true else false

In [21]:
not 10

False

In [22]:
not 0

True

## 4. Ternary(condtional) Operators

### Syntax : x= first value if condition else second value

In [25]:
a,b=10,20
x=30 if a<b else 40
print(x)

30

## 5. Assignment Operators

In [28]:
x=20
x+=10     #x=x+10
x-=10
x*=10
x/=10
x%=10
x**=10
x//=10

## 6. Membership Operators

In [ ]:
# in --> returns true if given object present in specific collection 
# not in --> returns true if given object is not present in specific collection

In [31]:
x="hello learning python is very easy"
print("l" in x)
print("d" in x)
print("d" not in x)
print("python" in x)

True
False
True
True

In [32]:
a=30
b=20
c=10
d=5

print((a+b)* c/d)
print((a+b)* (c/d))

100.0
100.0

In [38]:
# write a program to find the area of a triangle 
b=float(input("Enter base:"))
h=float(input("Enter height:"))
r=float(0.5*b*h)
print("the area of the triangle is:",c)

Enter base:2
Enter height:4
the area of the triangle is: 10

In [42]:
import math
# calculate area of circle
r= float(input("Enter radius"))
pi=math.pi
print("Area is:",pi*r*r)

Enter radius2
Area is: 12.566370614359172

In [49]:
# WAP to convert farenheit to celcius and vice versa

f=float(input("Enter farenheit temp:"))
c=(f-32)*(5/9)
print("The celcius temp fot given farenheit is:",c)

Enter farenheit temp:120.2
The celcius temp fot given farenheit is: 49.00000000000001

In [48]:
c=float(input("Enter farenheit temp:"))
f=c/(5/9)+32
print("The farenheit temp for given celcius is:",f)

Enter farenheit temp:49
The farenheit temp for given celcius is: 120.2

In [4]:
#convert the given number of days into years months and days

days=int(input("Enter no. of days:"))
year=(days//365)
mon=(days%365)//30
d=(days%365)%30

print("years=",year)
print("months=",mon)
print("days=",d)

Enter no. of days:427
years= 1
months= 2
days= 2