In [2]:
a=10

In [3]:
a='c'

In [4]:
type(a)

str

In [5]:
int('123')

123

In [6]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [7]:
print("hello world")
print('hello world')

hello world
hello world

In [8]:
## both of them work in the same manner if we use double or single quotation marks

In [9]:
age=20
print('my age is:',age)

my age is: 20

In [10]:
print('my age is :{age}')

my age is :{age}

In [11]:
print(f'my age is :{age}')

my age is :20

In [1]:
## f is use for formatting and it is called f string , we use it beacuse if i want to call the variable
## without using the comma

In [3]:
## format
name='Ekta Singh'
age=20
print('my name is {} and my age is {}'.format(name,age))

my name is Ekta Singh and my age is 20

In [6]:
name='Ekta Singh'
age=20
print(f'my name is {age} and my age is {name}')

my name is 20 and my age is Ekta Singh

In [2]:
## in which order you will be a giving a variable , in that order it will be replacing sequentially

In [7]:
## placeholder are realname and realage , now whatever order we give it doesnt matter
name='Ekta Singh'
age=20
print('my name is {realname} and my age is {realage}'.format(realname=name,realage=age))

my name is Ekta Singh and my age is 20

In [13]:
## practice

name='Ekta Singh'
age= 20
degree='bsc'



'my age is 32 and i have completed: my degree of bsc with the name of Ekta Singh'

'my age is 32 and i have completed: my degree of bsc with the name of Ekta Singh'

In [14]:
print('my age is {} and i have completed : my degree of {} with the name of {}'.format(age,degree,name))

my age is 20 and i have completed : my degree of bsc with the name of Ekta Singh

In [15]:
print(f'my age is {age} and i have completed : my degree of {degree} with the name of {name}')

my age is 20 and i have completed : my degree of bsc with the name of Ekta Singh

## Control Flow
### Decision Making Statements

In [17]:
## if statements
age=18
if  age>=18:
    print('you are eligible to vote')

you are eligible to vote

In [18]:
## if statements
age=18
if  age<18:
    print('you are not eligible to vote')

In [19]:
name=input('enter the name')  ## by deafult input is of string type

enter the name ekta singh

In [20]:
name

'ekta singh'

In [21]:
age=int(input("enter your age"))  ## we used typecasating to convert string into integer

enter your age 20

In [22]:
age

20

In [23]:
type(age)

int

In [24]:
## task
## take a input of age
## check whether age>=18 and age<=45
## display a message you are young blood

In [25]:
age=int(input("write your age"))
if age>=18 and age<=45:
    print("you are a young blood")

write your age 25

you are a young blood

In [26]:
age=int(input("write your age"))
if age>=18 and age<=45:
    print("you are a young blood")

write your age 15

In [1]:
## if alse statements
age=int(input("write your age"))
if age>=18 and age<=45:
    print("you are a young blood")
else:
    print('your application is rejected')

write your age 50

your application is rejected

In [2]:
## task
## mall- input the product price
## product>1000 rs 20% off
## print the product price after removing the discount price
## product <= 1000 rs 30% off
## print the product price after removing the discount price

In [3]:
price=int(input('enter the price of the product'))
if price> 1000:
    print("the price of product is{}".format(price*0.8))
else:
    print("the price of prodcut is{}".format(price*0.7))

enter the price of the product 2000

the price of product is1600.0

In [1]:
price=int(input('enter the price of the product'))
if price> 1000:
    print("the price of product is{}".format(price*0.8)) ## price-(price*0.2)
else:
    print(f"the price of prodcut is{price*0.7}")

enter the price of the product 800

the price of prodcut is560.0

In [2]:
## task
## mall- input the product price
## product>3000 rs 20% off
## print the product price after removing the discount price
## product >=2000 and <=3000 30% off
## product==2999 you will get an additional  gift
## print the product price after removing the discount price
## product <= 1000 rs and <=2000 40% off
## print the product price after removing the discount price

In [9]:
price=int(input('enter the price of the product'))
if price> 3000:
    print("the price of product is{}".format(price*0.8))
elif price >= 2000 and price <=300    
    print(f"the price of prodcut is{price*0.7}")
    
else:
    print(f"the price of prodcut is{price*0.6}")

enter the price of the product 2999

the price of prodcut is2099.2999999999997

In [10]:
price=int(input('enter the price of the product'))
if price> 3000:
    print("the price of product is{}".format(price*0.8))
elif price >= 2000 and price <=3000:
    if price == 2999:
        print("congratulations you get an additional gift")
    
    
    
    print(f"the price of prodcut is{price*0.7}")
    
else:
    print(f"the price of prodcut is{price*0.6}")

enter the price of the product 2999

congratulations you get an additional gift
the price of prodcut is2099.2999999999997

In [16]:
## single statements
val=int(input('write the number'))

if(val<=999):print('value is less than equal to 999') 
else:
    print('go home')

write the number 1000

go home

### loop statements

##### 1. while loop
##### 2. for loop
##### 3. nested loops
##### 4. loop control(break , continue , pass)

In [1]:
## while loop and while loop with else

joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [22]:
## atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put money in atm machine")

1000
900
800
700
600
500
400
300
200
100
put money in atm machine

In [ ]:
## for loop
  
## this is a list , list is nothing but a basket containing different data items

In [12]:
lst=["ekta",6,7,8,"deepakshi"]

In [13]:
type(lst)

list

In [14]:
lst[0]

'ekta'

In [15]:
lst[3]

8

In [16]:
lst

['ekta', 6, 7, 8, 'deepakshi']

In [17]:
for i in lst:
    print(i)

ekta
6
7
8
deepakshi

In [ ]:
## for comes with a temporary variable and the collection name
## the continous iteration will go on the basis of the length of the list

In [1]:
fruits_list=["mango","guava","papaya","strawberry","grapes"]

In [20]:
for i in fruits_list:
    print(i)
    if i=="papaya":
        print("the fruit is my favourite")

mango
guava
papaya
the fruit is my favourite
strawbeery
grapes

In [24]:
fruit='guava'
for x in fruit:
    print(x ,end=' ')  ## string is also a collection of elements

g u a v a

In [23]:
fruit[2]

'a'

In [ ]:
## why the print statement is printing in new line everytime because by default print statment is ending with \n 
## if you want to print in the same line keep the statement blank

In [26]:
## range beneficial for star patterns
for i in range(1,10):
    print(i)  ## in range we have to give start and end points and it is a inbuilt function and it always takes the first number
            ## but excludes the last number and it contains a 3rd parameter called stepsize ,

1
2
3
4
5
6
7
8
9

In [27]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [50]:
## nested loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [58]:
## equilateral triangle

n=9
for i in range(0,n,2):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
***
*****
*******
*********

In [2]:
## loop controls
## break and continue

fruits_list=["mango","guava","papaya","strawberry","grapes"]

In [7]:
for i in fruits_list:
   if i=="papaya":
      print("the fruit is my fav")
   print(i)

mango
guava
the fruit is my fav
papaya
strawberry
grapes

In [9]:
for i in fruits_list:
   if i=="papaya":
      print("the fruit is my fav")
      break
   print(i)

mango
guava
the fruit is my fav

In [10]:
## break statement , once it encounters the correct statement it will come out of the loop , it is going to stop the loop

In [11]:
for i in fruits_list:
   if i=="papaya":
      print("the fruit is my fav")
      pass
   print(i)

mango
guava
the fruit is my fav
papaya
strawberry
grapes

In [ ]:
## pass is simply just going to pass without doing anything

In [12]:
for i in fruits_list:
   if i=="papaya":
      print("the fruit is my fav")
      continue
   print(i)

mango
guava
the fruit is my fav
strawberry
grapes

In [ ]:
## continue will just skip one step which is matching the condition whereas break will skip the entire loop