# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

You are given a word and must determine whether that word is a palindrome (spelled the same forwards and backwards)
What are the steps to solve this problem

1. Write the word out forawrds

2. Write the word out backgrounds

3. If the words are the same now it is a palidrome

 ---
 
 1.  Check the length of the word see if odd or even
     - if even remove the middle letter
     
 2.  Look at the first letter of the word and compare to the alast letter in the word.  If they same i'll keep checking if theyu are different I know its not a palidrone
 
 3.  Repeat this pattern until i looked at every letter or found out the word is not a palidrome.  IF i made i made it through the word I know its not a palidrome.

### Int & Float Assignments

In [13]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

##### Assigning int

In [14]:
number = 6
print(number)

6

##### Assinging float

In [20]:
number_float  = 2.3

print(number_float)


number_float2 = 1.
print(type(number_float2))

2.3
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [23]:

num1 = 2
num2 = 5.7

result = num1 + num2
print(result)

result += 5
# result = result + 5
print(result)

result +=1

7.7
12.7

##### Subtraction

In [24]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 3
print(result_diff)

3.7
0.7000000000000002

##### Multiplication

In [26]:
num3 = 5
num4 = 10
result_prod = num3 * num4
print(result_prod)

result_prod*=2
print(result_prod)

50
100

##### Division

In [33]:
result_div = num4/num3
print(result_div)

result_div /= 2
print(result_div)

2.0
1.0

##### Floor Division

In [38]:
result_floor = 5 // 2
print(result_floor)
print(type(result_floor))

2
<class 'int'>

##### Modulo

In [39]:
result_mod = 5 % 2
print(result_mod)

1

In [41]:
amount_of_seconds = 330
no_of_min=amount_of_seconds//60
print(no_of_min)
seconds = amount_of_seconds % 60
print(seconds)

5
30

##### Exponential

In [42]:
square = 5 ** 2
# 5^2
print(square)
x=5
x**=2
print(square)

25
25

### String Input-Output

##### String Assignment

In [59]:
name = "Andre"
print(name)

name = 'Andre'
print(name)

greeting = "Welcome to class y'all"
print(greeting)
greeting = 'Welcome to class y\'all'
print(greeting)

convo = 'He said "Hello class"'
print(convo)

convo = "He said \"Hello class\""
print(convo)

paragraph= "hello \nWelcome to class \nThis is into Python"
print(paragraph)


multiline="""
    hey
look
at

        this 
        wild
            sting
"""
print(multiline)

Andre
Andre
Welcome to class y'all
Welcome to class y'all
He said "Hello class"
He said "Hello class"
hello
Welcome to class
This is into Python

    hey
look
at
        this
        wild
            sting

##### print() <br>
<p>Don't forget about end=' '</p>

In [68]:
name = "Francisco"
print(name, "Is awesome becuase hes is a cowboy's fan!", "\n He live in Texas", end=" ** ", sep="$$")
print('something else')

Francisco$$Is awesome becuase hes is a cowboy's fan!$$
 He live in Texas ** something else

##### String Concatenation

In [79]:
print(print("hey"))
first_name = "Sarah"
last_name = "Stodder"
full_name = first_name + " " + last_name
print(full_name)
full_name += " is a great student"
print(full_name)


print(first_name[0:4])

print(first_name, last_name[::-1].title())

hey
None
Sarah Stodder
Sarah Stodder is a great student
Sara
Sarah Reddots

##### Type Conversion

In [88]:
num1 = 3
num2 = "4"


print(str(num1) + num2)
print(num1+int(num2))

type(num2)


int()
str()
list()
dict()
tuple()
set()
float()

int("Steve") #NO NO NO NOT IN MY HOUSE

34
7

ValueError: invalid literal for int() with base 10: 'Steve'

##### input()

In [101]:
while True:
    age = input("what is your age? ")
    if age.isdigit():
        age = int(age)
        break
    else:
        print('Give my an int you moron!') 

print(age)
print(type(age))

what is your age? talskjhfasldkjf
Give my an int you moron!

KeyboardInterrupt: Interrupted by user

##### format()

In [104]:
age = int(input("What is your age? "))
result_string = 'You are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age? 44
You are 44 years old and you are getting wiser!

##### Old Way (python 2)

In [105]:
age = "35"
result_str = 'You are %s years old and getting wiser' %age
print(result_string)

You are 44 years old and you are getting wiser!

##### f-string

In [107]:
age = int(input("What is your age? "))
x = 123

result_string = f'you are {age} years old and getting wiser {x} ! ... !'
print(result_string)

What is your age? 6879864356
you are 6879864356 years old and getting wiser 123 ! ... !

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# You have a 2019 Subaru Impreza that is painted Grey
# You have a 2019 Subaru Impreza that is painted Grey
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")

car_result = f'You drive a {year} {make} {model} that is painted {color}!'
print(car_result)

### If Statements

In [108]:
5==5

True

In [192]:
print(bool("htrashrfglkh"))
print(bool(""))
print(bool(0))
print(bool(1))
print(bool([]))
print(bool([1,2,3]))
print(5<2)
print(5<5)
print(5<=5)
print(5>5)
print(5>=5)
print(7>5)
print(5==5)
print('test'=='test')
print('A'>'a')
print('A'<'a')



print(not 5==5)
print(not True)

print(5!=5)

True
False
False
True
False
True
False
False
True
False
True
True
True
True
False
True
False
False
False

In [136]:
ord("z")
chr(ord("z"))

'z'

In [147]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

print("Start of the line")
if num1 == num2:
    print("Equal")
# num1 is less than num2 print num1 is less than
elif num1 < num2:
    print("num1 is less")
else:
    # num1 is greater than num2  print num1 is greater than
    print('num1 is more')

    
print("End of the line")

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

Start of the line
num1 is less
End of the line

In [164]:
# Inline if statements ! ! ! Ternary Operator 

name = "John"
# If you name is john you age has to be 33 if not you age is 99


age = 33 if name=="John" else 99
print(age)

age = 0
if name == "John":
    age = 33
elif name=="Steve":
    age = 77
else:
    age = 99
    
age = 33 if name=="John" else 77 if name == "Steve" else 99
print("The final age is", age)

33
The final age is 33

##### 'is' keyword

In [165]:
# use the is keyword when checking for the same exact object.
# in this clas ONLY USE THIS to check against None... or learn how it works better

my_var = None
if my_var is None:
    print('you have no var')

you have no var

In [166]:
"asad" is "asda"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-166-3aad0e223549>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "asad" is "asda"

False

In [167]:
x = "as"
y= "as"
x is y

True

In [172]:
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1

if list1 == list2:
    print("list1 is equal to list2")
else:
    print("list1 is NOT equal to list2")
    
if list1 is list2:
    print("list1 is list2")
else:
    print("list1 is NOT list2")
    

if list1 == list3:
    print("list1 is equal to list3")
else:
    print("list1 is NOT equal to list3")
    
if list1 is list3:
    print("list1 is list3")
else:
    print("list1 is NOT list3")
    
        
list3.append(4)

print(list3)
print(list1)
print(list2)

list1 is equal to list2
list1 is NOT list2
list1 is equal to list2
list1 is list2
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3]

##### 'in' keyword

In [175]:
# Memebership Check
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [176]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print("a is not in here")

a is not in here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [177]:
name = input('What is your age? ')
if 'p' in name:
    print("p is in the name")
else:
    print("p in not in the name")

What is your age? philip
p is in the name

In [182]:
print("p is in the name") if "p" in input("what is your name? ").lower() else print("p is not in the name")

what is your name? phil
p is in the name

## Using 'and'/'or' with If Statements

In [186]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

In [185]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [189]:
print("n" in "punnier" or "i" in "punnier")

False

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [194]:
# for [placeholder] in [iterable]
name = "Steven"

print('Yo Yo Yo')
for letter in name:
    print('*')
    print(letter)
    print('$')
print('Blah')

Yo Yo Yo
*
S
$
*
t
$
*
e
$
*
v
$
*
e
$
*
n
$
Blah

In [195]:
my_list = ["tacos", 123, 123.5, [3,4,5], {"key":"value"}]

#ACCESS TO THE OBJECT

for thing in my_list:
    print(type(thing))

tacos
123
123.5
[3, 4, 5]
{'key': 'value'}

In [215]:
print(my_list[4])

{'key': 'value'}

In [202]:
list(range(0,10, 2))

[0, 2, 4, 6, 8]

In [203]:
len([1,5,6])

3

In [207]:
list(range(len(my_list)))

[0, 1, 2, 3, 4]

In [217]:
# Access by Index 
for index in range(len(my_list)):
    print(index)
    print(my_list[index])
    print(type(my_list[index]))

0
tacos
<class 'str'>
1
123
<class 'int'>
2
123.5
<class 'float'>
3
[3, 4, 5]
<class 'list'>
4
{'key': 'value'}
<class 'dict'>

In [219]:
# enumerate

list(enumerate(my_list))

[(0, 'tacos'), (1, 123), (2, 123.5), (3, [3, 4, 5]), (4, {'key': 'value'})]

In [221]:
tup=(5,6)
print(tup)
x, y = tup
print(x)
print(y)

(5, 6)
5
6

In [226]:
for index, obj in enumerate(my_list):
    print('at number',index,'we have:', obj)

at number 0 we have: tacos
at number 1 we have: 123
at number 2 we have: 123.5
at number 3 we have: [3, 4, 5]
at number 4 we have: {'key': 'value'}

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [231]:
name = "Giovanni"
for letter in name:
    if letter.lower() == "n":
        print("You have an N")
        continue
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
You have an N
You have an N
We checked i

##### Break Statement

In [ ]:
# will break out of current loop

In [232]:
name = "Giovanni"
for letter in name:
    if letter.lower() == "n":
        print("You have an N")
        break
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
You have an N

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [228]:
if True:
    pass  
print('lafkj')

lafkj

##### Double For Loops

In [238]:
counter = 0
for i in range(5):
    
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total={counter}')
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [246]:
# while [boolean]:
    #code do while true

num = 0 
while num <10:
    num+=1
    print(num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [247]:
while True:
    print('hello')
    break

hello

In [250]:
while True:
    user_input=input("What do you want to do? quit or continue? ")
    if user_input.lower() == "quit":
        break
    if user_input.lower()=="continue":
        print("You said continue")
        continue
    print("That was not one of our choices ")

What do you want to do? quit or continue? continue
You said continue
What do you want to do? quit or continue? continue
You said continue
What do you want to do? quit or continue? continue
You said continue
What do you want to do? quit or continue? ah;lajfgh
That was not one of our choices
What do you want to do? quit or continue? s;dlfgkhs;dlg
That was not one of our choices
What do you want to do? quit or continue? ;askgh
That was not one of our choices
What do you want to do? quit or continue? kl;js
That was not one of our choices
What do you want to do? quit or continue? continue
You said continue
What do you want to do? quit or continue? quit

##### While & For Loops Used Together

In [252]:
num = 0
total = 0

while num < 5:
    print("While loop iteration: ", num)
    for i in range(5):
        total+=1
        print("for loop iteration: ", i)
        print("Total times inner loop ran", total)
    num+=1

While loop iteration:  0
for loop iteration:  0
Total times inner loop ran 1
for loop iteration:  1
Total times inner loop ran 2
for loop iteration:  2
Total times inner loop ran 3
for loop iteration:  3
Total times inner loop ran 4
for loop iteration:  4
Total times inner loop ran 5
While loop iteration:  1
for loop iteration:  0
Total times inner loop ran 6
for loop iteration:  1
Total times inner loop ran 7
for loop iteration:  2
Total times inner loop ran 8
for loop iteration:  3
Total times inner loop ran 9
for loop iteration:  4
Total times inner loop ran 10
While loop iteration:  2
for loop iteration:  0
Total times inner loop ran 11
for loop iteration:  1
Total times inner loop ran 12
for loop iteration:  2
Total times inner loop ran 13
for loop iteration:  3
Total times inner loop ran 14
for loop iteration:  4
Total times inner loop ran 15
While loop iteration:  3
for loop iteration:  0
Total times inner loop ran 16
for loop iteration:  1
Total times inner loop ran 17
for loop iteration:  2
Total times inner loop ran 18
for loop iteration:  3
Total times inner loop ran 19
for loop iteration:  4
Total times inner loop ran 20
While loop iteration:  4
for loop iteration:  0
Total times inner loop ran 21
for loop iteration:  1
Total times inner loop ran 22
for loop iteration:  2
Total times inner loop ran 23
for loop iteration:  3
Total times inner loop ran 24
for loop iteration:  4
Total times inner loop ran 25

### Built-In Functions

##### range()

##### len()

In [254]:
len("aabb")
len([1,2,3,4])

4

In [258]:
dir(range)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

##### help()

In [256]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [259]:
num = 1
type(num)

int

In [260]:
isinstance(num, str)

False

In [261]:
isinstance(num, int)

True

In [262]:
isinstance(num, float)

False

In [263]:
isinstance(num, list)

False

In [264]:
isinstance(num, dict)

False

##### abs()

In [265]:
# | -5  | = 5 .. dist from zero

print(abs(-5))
print(abs(5))

5
5

! - bang, exclamation point
# - pound sign, hash/hashtag, octothrope
[] - brackets, square bracket
() - parans, parathesis l/r paran
{} - Braces, curly brackets , or Squiggles
#! - shebang
% - grapes, percen, mod
@ - at symbol 
* = star, splat or asterick

<> - angle brackets / greater than/less than ... Wakka /Wakka Wakka

<> !*"#"
^"`$$-
!*=@%_
%*<>~#4
&[]../
|{,,SYSTEM HALTED}"

### Try and Except

In [266]:
3/0

ZeroDivisionError: division by zero

In [267]:
int("Steve")

ValueError: invalid literal for int() with base 10: 'Steve'

In [277]:
try:
    int("Steve")
    print("It worked")
except ValueError:
    print("You Broke it")
except ZeroDivisionError:
    print("Can't Divide by 0")
finally:
    print("Okay move along now")

You Broke it
Okay move along now

In [281]:
raise ValueError("number can never be 157")

ValueError: number can never be 157

In [285]:
def divide(num1, num2):
    if num2 ==0:
        raise ZeroDivisionError('You hockeypuck you cant divivde by zero')
    print(num1/num2)
    
divide(1,0)

ZeroDivisionError: You hockeypuck you cant divivde by zero

### Lists

##### Declaring Lists

In [286]:
names = ["Gio","Ola","Sarah","Shayne"]
print(names)

['Gio', 'Ola', 'Sarah', 'Shayne']

##### Indexing a List

In [301]:
print(names[1])

a_list = [1,2,3,["a","b","c"],4]
print(a_list[3])

print(a_list[3][1])

names[0:3]

names[::-1]

Ola
['a', 'b', 'c']
b

['Shayne', 'Sarah', 'Ola', 'Gio']

In [302]:
my_string =  "racecar"
my_string[::-1]

'racecar'

In [304]:
my_string =  "hannah"
my_string[::-1]

'hannah'

In [305]:
my_string =  "ABCD"
my_string[::-1]

'DCBA'

##### .append()

In [318]:
names = ["Gio","Ola","Sarah","Shayne"]
names.append("Alex")
print(names)

['Gio', 'Ola', 'Sarah', 'Shayne', 'Alex']

##### .insert()

In [319]:
names.insert(3,"Jody")
print(names)

['Gio', 'Ola', 'Sarah', 'Jody', 'Shayne', 'Alex']

##### .pop()

In [320]:
other_class=["tweedle dee", "tweetle dumb"]

other_class.append(names.pop())
print(names)
print(other_class)

['Gio', 'Ola', 'Sarah', 'Jody', 'Shayne']
['tweedle dee', 'tweetle dumb', 'Alex']

In [321]:
new_list=['tweedle dee', 'tweetle dumb', 'Alex']
print(new_list.pop(1))
print(new_list)

tweetle dumb
['tweedle dee', 'Alex']


##### .remove()

In [322]:
names

['Gio', 'Ola', 'Sarah', 'Jody', 'Shayne']

In [330]:
names =['Gio', 'Ola', 'Sarah', 'Jody', 'Shayne', 'Sarah']
names.remove("Sarah")
print(names)

['Gio', 'Ola', 'Jody', 'Shayne', 'Sarah']

In [331]:
names =['Gio', 'Ola', 'Sarah', 'Jody', 'Shayne', 'Sarah']
while "Sarah" in names:
    names.remove("Sarah")
print(names)

['Gio', 'Ola', 'Jody', 'Shayne']

##### del()

In [325]:

del names[2]
print(names)

['Gio', 'Ola', 'Shayne']

In [329]:
# DO NOT DEL IN A FOR LOOP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
names = ["Gio","Ola","Sarah","Shayne"]

for i in range(len(names)):
    del names[i]

print(names)

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [336]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = l1 + l2

print(l3)

[1, 2, 3, 4, 5, 6]

In [337]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

In [ ]:
# Se Above

##### Looping Through Lists

In [ ]:
#--see above--

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [43]:
for n in range(1, 11):
    if n <11:
        print(n, n * n * n)
    else: break

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [90]:
limit=100
num=[]
for i in range(2, limit + 1):
    for j in range(2, int(i ** 0.5)):
         if i%j == 0:
            break
    else:
        num.append(i)
print(num)

#for j in range(2, int(i ** 0.5) + 0):  <-- seems to get the same results...
#for j in range(2, int(i ** 0.5) + 1):  <-- seems to get the same results...
#https://www.youtube.com/watch?v=SpTAxH_Geow&amp;t=7s&amp;ab_channel=Telusko

# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 15, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [40]:
age = int(input("How old are you? "))
adult1=18
adult2=65
if age >= adult1 and age <= adult2:
    print('Adults')
elif age >=adult2:
    print('Seniors')
else:
    print('Kids')

How old are you? 68
Seniors

In [44]:
age = int(input("How old are you? "))
adult1=18
adult2=65
if age >= adult1 and age <= adult2:
    print('Adults')
elif age >=adult2:
    print('Seniors')
else:
    print('Kids')

How old are you? 17
Kids

In [45]:
age = int(input("How old are you? "))
adult1=18
adult2=65
if age >= adult1 and age <= adult2:
    print('Adults')
elif age >=adult2:
    print('Seniors')
else:
    print('Kids')

How old are you? 48
Adults