# Getting started with Python 3
## ===================================

## Basis

### Types

#### Integer

In [1]:
a = 1

In [2]:
type(a)

int

#### Float

In [4]:
b = 12.43

In [5]:
type(b)

float

#### String

In [6]:
c = 'Hello, my name is Toto'

In [7]:
type(c)

str

#### Boolean

In [9]:
d = False

In [10]:
type(d)

bool

In [13]:
float(2)

2.0

In [14]:
int(1.43)

1

In [17]:
# returns an error because 'Hello' is a string
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

### Variables

 Some operations can be done with variables

In [20]:
a = 10
b = 30

In [22]:
# Addition
a + b

40

In [21]:
# Substraction
a - b

-20

In [23]:
# Product
a * b

300

In [24]:
# Other
3 * a - 2*b +5

-25

In [25]:
# Division
a/b

0.3333333333333333

In [37]:
c = 'Hello '
2 *c

'Hello Hello '

In [38]:
c + ' I am from Paris'

'Hello  I am from Paris'

In Python 3, all divisions return a float. If you want a integer result, you have to write // instead of /.

In [31]:
# This returns a float
30 / 4

7.5

In [32]:
# This returns an integer
30 // 4

7

## Value modifications

In [34]:
a = 10
a

10

In [35]:
#The value of a is modified
a = 20
a

20

In [40]:
b = 'Hello, I am from Paris'
b

'Hello, I am from Paris'

In [39]:
b = 'Really ?'
b

'Really ?'

### String operations
String are immutable. Be careful!

In [44]:
a = 'Hello, I am from Dundee.'
a

'Hello, I am from Dundee.'

In [45]:
type(a)

str

In [48]:
# Return the length of the string
len(a)

24

In [46]:
a[0]

'H'

In [47]:
# Returns an error because string are not mutable.
a[0] = 'h'

TypeError: 'str' object does not support item assignment