In [7]:
# str 
# print('jai shree ganesh')
name = "Ritik Kumawat"
# print(name[1:3])
# print(name.replace("Ritik","Govind"))
# print(len(name))
# print(name.count(' '))
# print(name.join('hello'))
name3 = "hello"
# name4 = name+name3
# print(name4)
nmae = ".".join(name)
print(nmae)

R.i.t.i.k. .K.u.m.a.w.a.t

In [8]:

# list
# set


### list 
lst = [1,2,5,8,78,10]
lst
lst[0:4]
lst.count(1)
lst.clear()
print(type(lst))
lst = [1,5,4,56,87]
lst
# print(lst.sort())
lst.append(45)
lst.insert(78,45)
lst # lst are allow duplicated value 
# sliceing 
# indexing 
name = ['hemant','ritik','kavita']
name
name[0]

<class 'list'>

'hemant'

# Tuple
* Store a collection of ordered items. 
* Immutable 
* Once a tuple is created, its elements cannot be changed, added, or removed.
* Ordered: Tuples maintain the order of elements. The first element added is the first element in the tuple, the second element is the second, and so on.
* Immutable: After a tuple is created, its size and contents cannot be altered. This immutability makes tuples hashable, meaning they can be used as keys in dictionaries or stored in sets.
* Heterogeneous: Tuples can contain elements of different types, including integers, strings, lists, and even other tuples.

In [9]:
tpl = ('raju',12,45,'rohit')
tpl.count('raju')
tpl[0]
print(type(tpl))

<class 'tuple'>

# Dict
* mutable data structures that store collections of key-value pairs. 
 
##### Characteristics of Dictionaries
* Key-Value Pairs: A dictionary consists of key-value pairs, where each key is unique, and each key maps to exactly one value.
* Unordered: Prior to Python 3.7, dictionaries were unordered collections. From Python 3.7 onwards, dictionaries maintain the insertion order of keys.
* Mutable: Dictionaries are mutable, meaning you can change, add, or remove key-value pairs after the dictionary is created.
* Dynamic: Dictionaries can grow and shrink as needed, allowing for dynamic adjustments to the data they store.
* Hashable Keys: Keys must be of a hashable type, meaning they must be immutable types like strings, numbers, or tuples containing immutable elements.

In [10]:
hii = {"name":"govind","roll_no":21}
print(type(hii))
hii.values()
hii.keys()
hii['roll_no']
hii.items()
hii.pop
hii.pop('name','govind')
hii.update()
hii

<class 'dict'>

{'roll_no': 21}

In [11]:
print(hii)

{'roll_no': 21}

# Condition
if else and elif 
 condition

In [12]:
num1 = int(input("enter a number1")) 
num2 = int(input("enter a number2"))
result = num1+num2
if num1>num2:
    print("yeah i am right ")
else:
    print("you are divide ",result)

ValueError: invalid literal for int() with base 10: 'hello'

# looping
for &  while

In [13]:
lst = [1,4,6,8]
for i in lst:
    print(i)

1
4
6
8

In [14]:
tpl = ("name",33,455,"harii")
for i in tpl:
    print(i)

name
33
455
harii

In [15]:
for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [16]:
i = 0
while i<20:
    print(i)
    i+= 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
i = 0
while i >45:
    print("HAA SHI HAI " ,i)

    i+=1

# Function
 * That performs a specific task or a set of tasks and function allows modularity , reusability , abstraction.
 * types of function 
    * user define function 
    * pri define function(built define function)
        ex- print(),len(), fillter,copy and etc function

#### Built  function

In [18]:
print("hello python ")

hello python

In [19]:
name = "hello python "
len(name)

13

### User define function 
jo apn banyenge

In [20]:
def hello():
    print("hello python ")
    
hello()

hello python

In [21]:
def father():
    father_name = "shree "
    father_age = 44
    print("father nane is :",father_name,"and father age is ",father_age)
    # print(father_name,father_age)
def child():
    child_name = "Ritik"
    child_age = 20
    print("child name is :", child_name, "and child age is :",child_age)
father()
print("  ")
child()

father nane is : shree  and father age is  44

child name is : Ritik and child age is : 20

### Parameters or Arguments
    * jo apn function ke ander pass krte hai vo arguments 
    * and which is pass on when we are call of function that is call know as a parameters

In [22]:
def school(name ,classes,sem ):
    print("Student`s name ",name," , class : ",classes,"and sem is  ",sem)
school("Govind","3rd year ","6th sem")

Student`s name  Govind  , class :  3rd year  and sem is   6th sem

In [23]:
# *args  eske ander apn ko tuple bnayenge 
# **kwargs eske andr apn dictonry banyenge

In [24]:
def hello(*kids):
    print("my name is ",kids[0])
hello("govind","ritik","himashu")

my name is  govind

In [25]:
# def hello(**kid):
#     print("my name is ",kid['classes'])
# hello("govind","ritik","himashu",clas = "3rd year")

In [26]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [27]:
# function with list 
def fruits(lst):

    for i in lst:
        print(i)
lst = [1,3,45,6]
       
fruits(lst)

1
3
45
6

In [28]:
def tpl(tpl1):
    for x in tpl1:
        print(x)
tpl1 = ("ritik","babu",451) 

tpl(tpl1)

ritik
babu
451

we are not acces of dict (wit values  )
function are not acces of dict

In [29]:
def dict_function(dct):
    for x in dct:
        print(x)
dct = {"name":'govind',"classes":'3rd year'}
    # pass
dict_function(dct)

name
classes

In [30]:
def set_function(sit):
    for x in sit:

        print(x)
sit = [4,5,7,10,9]


    # pass
set_function(sit)

4
5
7
10
9

### EXCEPTIONAL HANDLING
* Handle errors or exceptional situations that may occur during the execution of a program.
* The key components of exception handling in Python are :


            * try
            * except
            * else
            * finally

In [31]:
# Atm_system
try :
    int(input("Enter you pin ")) 

    print("Welcome to HDFC account")
    print(" ")
except:
    print("Do not insert Alphabats ")
    print(" ")
else:
    print("I hope you are so  happy ")
    print(" ")
finally:
    print("Thank for Visiting HDFC Bank")

Welcome to HDFC account

I hope you are so  happy

Thank for Visiting HDFC Bank