<a href="https://colab.research.google.com/github/greapis/Python_practice/blob/main/Python_4_beginer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 100
b = 50
result = a + b
print(result)

150

In [ ]:
print(a, "+",  b, "=", result)

100 + 50 = 150

In [ ]:
result = a - b
print(a, "-", b, "=", result)

100 - 50 = 50

In [ ]:
result = a * b
print(a, "*", b, "=", result)

100 * 50 = 5000

In [ ]:
result = a / b
print(a, "/", b, "=", result)

100 / 50 = 2.0

In [ ]:
a = 100
b = 50
result = a + b
print(result)
print(a, "+",  b, "=", result)
result = a - b
print(a, "-", b, "=", result)
result = a * b
print(a, "*", b, "=", result)
result = a / b
print(a, "/", b, "=", result)

150
100 + 50 = 150
100 - 50 = 50
100 * 50 = 5000
100 / 50 = 2.0

In [ ]:
input()

a = 100

'a = 100'

In [ ]:
import os

a = 100
b = 50
result = a + b
print(result)
print(a, "+",  b, "=", result)
result = a - b
print(a, "-", b, "=", result)
result = a * b
print(a, "*", b, "=", result)
result = a / b
print(a, "/", b, "=", result)


os.system("Pause")

150
100 + 50 = 150
100 - 50 = 50
100 * 50 = 5000
100 / 50 = 2.0

32512

In [ ]:
a = input()
b = input()
result = a + b
print(a, "+", b, "=", result)
result = a - b
print(a, "-", b, "=", result)
result = a * b
print(a, "*", b, "=", result)
result = a / b
print(a, "/", b, "=", result)

a = 100
b = 50
a = 100 + b = 50 = a = 100b = 50

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
a = int(input())
b = int(input())

print(type(a))
print(type(b))
result = a + b
print(a, "+", b, "=", result)
result = a - b
print(a, "-", b, "=", result)
result = a * b
print(a, "*", b, "=", result)
result = a / b
print(a, "/", b, "=", result)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print(type(a))

In [ ]:
int(100)
int(100.977)

In [ ]:
a = int(100.98)
b = int(50.32434)

print(type(a))
print(type(b))
result = a + b
print(a, "+", b, "=", result)
result = a - b
print(a, "-", b, "=", result)
result = a * b
print(a, "*", b, "=", result)
result = a / b
print(a, "/", b, "=", result)

**Basic Frame of Coding**

1. Defining function

2. Deciding variables

3. Main Coding

In [ ]:
# 한 줄로 인식하기 : 역슬래시 사용 // 역슬래시 = 원화표시

data = "Hello " + \
       "World " + \
       "This is just beginnig"

print(data)

In [ ]:
!pip install tkinter

import tkinter

root = tkinter.Tk()
screen = turtle.Screen(root)
t = turtle.Turtle(screen)

t.forward(200)
t.right(90)
t.forward(200)
t.right(90)
t.forward(200)
t.right(90)
t.forward(200)



# import turtle

# turtle.shape('turtle')

# turtle.forward(200)
# turtle.right(90)
# turtle.forward(200)
# turtle.right(90)
# turtle.forward(200)
# turtle.right(90)
# turtle.forward(200)

# turtle.done()

ERROR: Could not find a version that satisfies the requirement tkinter (from versions: none)
ERROR: No matching distribution found for tkinter

TclError: no display name and no $DISPLAY environment variable

In [ ]:
print("안녕하세요")
print("100")
print("%d" % 100)
print("100 + 100")
print("%d" % (100 + 100))
print("%d / %d = %d" % (100, 200, 0.5))
print("%d / %d = %f" % (100, 200, 0.5))

안녕하세요
100
100
100 + 100
200
100 / 200 = 0
100 / 200 = 0.500000

In [ ]:
print("     *       ")
print("    ***      ")
print("   *****     ")
print("  *******    ")
print(" *********   ")
print("  *******    ")
print("   *****    ")
print("    ***   ")
print("     *   ")

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
boolVar = True      #boolean
intVar = 0          #integer
floatVar = 0.0      #float
strVar = ""         #string

In [ ]:
type(boolVar), type(intVar), type(floatVar), type(strVar)

(bool, int, float, str)

In [ ]:
boolVar = False      #boolean
intVar = 100          #integer
floatVar = 123.45      #float
strVar = "Hello"         #string

In [ ]:
type(boolVar), type(intVar), type(floatVar), type(strVar)

(bool, int, float, str)

In [ ]:
int('10010011',2)

147

In [ ]:
int('93',16)

147

In [ ]:
a = 123
type(a)

int

In [ ]:
a = 100**100
print(a)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
a = 3.14
b = 3.14e5
print(a, b)

3.14 314000.0

In [ ]:
a = 10; b = 20
print(a+b, a-b, a*b, a/b)

30 -10 200 0.5

In [ ]:
a,b = 9,2
print(a**b, a%b, a//b)

81 1 4

In [ ]:
a = True
type(a)

bool

In [ ]:
a = (100 == 100)
b = (10>100)
print(a, b)

True False

In [22]:
a = "Great Python"
print(a)
type(a)

Great Python

str

In [23]:
import sys

# 변수 선언 #
intVar, floatVar, boolVar, strVar, listVar, tupleVar, dictVar, setVar = [None] * 8

# Main Coding #
if __name__ == "__main__":
  intVar = 0
  floatVar = 0.0
  boolVar = True
  strVar = ''
  listVar = []
  tupleVar = ()
  dictVar = {}
  setVar = set()

  print('int형 기본 크기 -->', sys.getsizeof(intVar))
  print('float형 기본 크기 -->', sys.getsizeof(floatVar))
  print('bool형 기본 크기 -->', sys.getsizeof(boolVar))
  print('str형 기본 크기 -->', sys.getsizeof(strVar))
  print('list형 기본 크기 -->', sys.getsizeof(listVar))
  print('tuple형 기본 크기 -->', sys.getsizeof(tupleVar))
  print('dictionary형 기본 크기 -->', sys.getsizeof(dictVar))
  print('set형 기본 크기 -->', sys.getsizeof(setVar))

int형 기본 크기 --> 24
float형 기본 크기 --> 24
bool형 기본 크기 --> 28
str형 기본 크기 --> 49
list형 기본 크기 --> 56
tuple형 기본 크기 --> 40
dictionary형 기본 크기 --> 64
set형 기본 크기 --> 216

In [27]:
a = 5; b = 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

8 2 15 1.6666666666666667 1 2 125

In [28]:
a, b = 5, 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

8 2 15 1.6666666666666667 1 2 125

In [30]:
s1, s2, s3 = "100", "100.123", "9999999999999"
type(s1)

str

In [32]:
s1, s2, s3 = "100", "100.123", "9999999999999"
print(int(s1)+1, float(s2)+2, int(s3)+1)

101 102.123 10000000000000

In [37]:
a, b = 100, 100.123
print(str(a)+"1", str(b)+"1")

1001 100.1231

In [43]:
a = 10
a += 5 ; print(a)
a -= 5 ; print(a)
a *= 5 ; print(a)
a /= 5 ; print(a)
a //= 5 ; print(a)
a %= 5 ; print(a)
a **= 5 ; print(a)

15
10
50
10.0
2.0
2.0
32.0

In [51]:
## Exchanging coins  ##

# Declaring variables
money, c500, c100, c50, c10 = 0,0,0,0,0

# Main coding
money = int(input("How much exchange? "))

c500 = money // 500
money %= 500

c100 = money // 100
money %= 100

c50 = money // 50
money %= 50

c10 = money // 10
money %= 10

print("\n500원짜리 ==> %d개" % c500)
print("100원짜리 ==> %d개" % c100)
print("50원짜리 ==> %d개" % c50)
print("10원짜리 ==> %d개" % c10)
print("바꾸지 못한 잔돈 ==> %d원 \n" %money)

How much exchange? 3323425

500원짜리 ==> 6646개
100원짜리 ==> 4개
50원짜리 ==> 0개
10원짜리 ==> 2개
바꾸지 못한 잔돈 ==> 5원