In [1]:
var1=(1)

In [2]:
type(var1)

int

In [3]:
var2=(2,)

In [4]:
type(var2)

tuple

In [5]:
var3=[1]

In [6]:
type(var3)

list

In [7]:
m1=100

In [8]:
m2=100

In [9]:
id(m1) #to see the address

8888168

In [10]:
id(m2)

8888168

In [11]:
m3=300

In [12]:
m4=300

In [13]:
type(m3)

int

In [14]:
id(m3)#above 255 python assigns different address

140656580148816

In [15]:
id(m4)

140656580148656

In [16]:
a=int(input("Enter the number:"))

Enter the number:3

In [17]:
a=int(input("Enter the number:"))

Enter the number:5

In [20]:
a

5

In [21]:
a,b=int(input("Enter two numbers:"))

Enter two numbers:3 4

ValueError: invalid literal for int() with base 10: '3 4'

In [22]:
a,b=int(input("Enter two numbers:"))

Enter two numbers:3 4

ValueError: invalid literal for int() with base 10: '3 4'

In [23]:
employee_code

NameError: name 'employee_code' is not defined

In [24]:
scenario={'sunny':1,'rainy':2,'windy':3}

In [25]:
a=input("Enter the scenario:")

Enter the scenario:

In [26]:
a

''

In [27]:
dates = ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05']
temperature = [78, 82, 79, 85, 88]
humidity = [60, 65, 62, 58, 57]
precipitation = [0.0, 0.2, 0.0, 0.0, 0.0]

In [28]:
weather_data = list(zip(dates, temperature, humidity, precipitation))

In [29]:
weather_data

[('2023-09-01', 78, 60, 0.0),
 ('2023-09-02', 82, 65, 0.2),
 ('2023-09-03', 79, 62, 0.0),
 ('2023-09-04', 85, 58, 0.0),
 ('2023-09-05', 88, 57, 0.0)]

In [30]:


filtered_temperatures = list(filter(lambda x: x > 80, temperature))

print(filtered_temperatures)

[82, 85, 88]

In [31]:
filtered_temperatures

[82, 85, 88]

In [32]:
hot_days=[]
for i in temperature:
    if i>80:
        hot_days.append(i)

In [33]:
hot_days

[82, 85, 88]

In [34]:
weather_forecast=[]
for i in temperature:
    if i>85:
        forecast="Hot and sunny"
    elif 80<=i<=85:
        forecast="warm and pleasant"
    else:
        forecast="Cool and comfortable"
for i in forecast:
    weather_forecast.append(i)

In [35]:
hot_days=[]
for idx,temp in enumerate(temperature):
    if temp>80:
        hot_days.append(dates[idx])

In [36]:
hot_days

['2023-09-02', '2023-09-04', '2023-09-05']

In [37]:
len(temperature)

5

In [38]:
avg_temp=sum(temperature)/len(temperature)

In [39]:
avg_temp

82.4

In [40]:
temperature = [78, 82, 79, 85, 88]
total_temperature=0
count=0
for i in temperature:
    total_temperature+=i
    count+=1
average_temp=total_temperature/count
print(average_temp)

82.4

In [41]:
user_name = input("Enter the name:")
current_temp=int(input("Enter the temperature:"))
forecast=[]
for i in current_temp:
    if i>85:
        forecast.append('sunny')
    elif 80<=i and i<=85:
        forecast.append('warm')
    else:
        forecast.append('cool')

Enter the name:
Enter the temperature:

ValueError: invalid literal for int() with base 10: ''

In [42]:
forecast

'Hot and sunny'

In [43]:
user_msg= f"Hello {user_name},the current temperature is {current_temp}C,and the forecast is {forecast}".

SyntaxError: invalid syntax (2351984690.py, line 1)

In [44]:
user_msg

NameError: name 'user_msg' is not defined

In [45]:
production=[[120940305,33-053-05925-0000,2015,8,G,357.83334,4,0,L,R,G],[120941158,33-053-05640-0000,2015,11,G,485,11,0,L,R,G]]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3605590552.py, line 1)

In [46]:
newrecord={'Id':120940305,'API Number':'33-53-5925','Year':2015,'Month':8,'OilAndGasGroup':'G','Production':357.8334,'CumulativeCalendarMonths':0,'CumulativeCalendarYears':1,'Production Phase':'L','Production Forecast Group':'R','OilAndGasCategory':'G'}

In [47]:
newrecord

{'Id': 120940305,
 'API Number': '33-53-5925',
 'Year': 2015,
 'Month': 8,
 'OilAndGasGroup': 'G',
 'Production': 357.8334,
 'CumulativeCalendarMonths': 0,
 'CumulativeCalendarYears': 1,
 'Production Phase': 'L',
 'Production Forecast Group': 'R',
 'OilAndGasCategory': 'G'}

In [48]:
newrecord2={'Id':120944833,'API Number':'33-053-05091-0000','Year':2015,'Month':8,'OilAndGasGroup':'O','Production':5190,'CumulativeCalendarMonths':10,'CumulativeCalendarYears':0,'Production Phase':'L','Production Forecast Group':'R','OilAndGasCategory':'O'}

In [49]:
newrecord2

{'Id': 120944833,
 'API Number': '33-053-05091-0000',
 'Year': 2015,
 'Month': 8,
 'OilAndGasGroup': 'O',
 'Production': 5190,
 'CumulativeCalendarMonths': 10,
 'CumulativeCalendarYears': 0,
 'Production Phase': 'L',
 'Production Forecast Group': 'R',
 'OilAndGasCategory': 'O'}

In [50]:
import keyword

In [51]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [52]:
def calculate_boyle_temperature(P1,V1,P2):
    V2=(P1*V1)/P2
    return V2

In [53]:
final=calculate_boyle_temperature(34,100,38)
print(final)

89.47368421052632

In [54]:
def final_temp(P1,V1,P2,V2):
    T=P1*V1/P2*V2
    return T

In [55]:
final_value=final_temp(34,100,38,89.5)
print(final_value)

8007.894736842105

In [56]:
def check_return_type(arg):
    if arg is None:
        return "None"
    else:
        return type(arg)

In [57]:
result1 = check_return_type(None)
result2 = check_return_type(42)
result3 = check_return_type("Hello")

In [58]:
print(f"Result 1: {result1}")
print(f"Result 2: {result2}")
print(f"Result 3: {result3}")

Result 1: None
Result 2: <class 'int'>
Result 3: <class 'str'>

In [59]:
def divide(P1,V1,P2):
    if P2 == 0:
        raise ZeroDivisionError("Division by zero is not allowed")
    return (P1*V1/P2)

try:
    result = divide(10, 100,9)
except ZeroDivisionError as e:
    print(f"Error: {e}")
else:
    print(f"Resultant volume: {result}")

Resultant volume: 111.11111111111111

In [60]:
def divide(P1,V1,P2):
    if P2 == 0:
        raise ZeroDivisionError("Division by zero is not allowed")
    return (P1*V1/P2)

try:
    result = divide(10, 100,0)
except ZeroDivisionError as e:
    print(f"Error: {e}")
else:
    print(f"Resultant volume: {result}")

Error: Division by zero is not allowed

In [61]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)

In [62]:
x

frozenset({'apple', 'banana', 'cherry'})

In [12]:
add = lambda a,b: a+b if b != 0 else None

try:
    result = add(10, 2)
    print(f"Result: {result}")
    
    result = add(10, 100)  # This will trigger a ZeroDivisionError
    print(f"Result: {result}")  # This line won't be executed
except ZeroDivisionError as e:
    print(f"Error: {e}")

Result: 12
Result: 110

In [13]:
multiply = lambda a,b: a*b if b != 0 else None

try:
    result = multiply(10, 2)
    print(f"Result: {result}")
    
    result = multiply(10, 100)  # This will trigger a ZeroDivisionError
    print(f"Result: {result}")  # This line won't be executed
except ZeroDivisionError as e:
    print(f"Error: {e}")

Result: 20
Result: 1000

In [14]:
convert = lambda a: a.upper() if b != 0 else None

try:
    result = convert('harshitha')
    print(f"Result: {result}")
    
    result = convert('pallavi') # This will trigger a ZeroDivisionError
    print(f"Result: {result}")  # This line won't be executed
except ZeroDivisionError as e:
    print(f"Error: {e}")

NameError: name 'b' is not defined

In [64]:
import datetime

In [65]:
x = datetime.datetime.now()
print(x)

2023-09-19 06:15:18.690147

In [66]:
import time

In [67]:


def unix_timestamp():
    return int(time.time())

# Example usage:
current_timestamp = unix_timestamp()
print(f"Current Unix Timestamp: {current_timestamp}")

Current Unix Timestamp: 1695104118

In [68]:
from datetime import datetime

In [69]:


def custom_timestamp(input_datetime, format_string="%d-%m-%y %H:%M"):
    return input_datetime.strftime(format_string)

current_datetime = datetime.now()
custom_format = "%d-%m-%y %H:%M"
custom_ts = custom_timestamp(current_datetime, format_string=custom_format)
print(f"Custom Timestamp: {custom_ts}")

Custom Timestamp: 19-09-23 06:15

In [70]:
def custom_timestamp(input_datetime, format_string="%y-%m-%d"):
    return input_datetime.strftime(format_string)

current_datetime = datetime.now()
custom_format = "%y-%m-%d"
custom_ts = custom_timestamp(current_datetime, format_string=custom_format)
print(f"Custom Timestamp: {custom_ts}")

Custom Timestamp: 23-09-19

In [71]:
def custom_timestamp(input_datetime, format_string="%d-%b-%y"):
    return input_datetime.strftime(format_string)

current_datetime = datetime.now()
custom_format = "%d-%b-%y"
custom_ts = custom_timestamp(current_datetime, format_string=custom_format)
print(f"Custom Timestamp: {custom_ts}")

Custom Timestamp: 19-Sep-23

In [72]:
from datetime import datetime

def calculate_oil_well_age(start_date, current_date):
   
    if not isinstance(start_date, datetime):
        start_date = datetime.strptime(start_date, "%Y-%m-%d")
    if not isinstance(current_date, datetime):
        current_date = datetime.strptime(current_date, "%Y-%m-%d")

   
    delta = current_date - start_date

   
    age_in_years = delta.days / 365.25

    return age_in_years


start_date = "2000-01-01" 
current_date = datetime.now()  # Use the current date
oil_well_age = calculate_oil_well_age(start_date, current_date)
print(f"Oil Well Age: {oil_well_age:.2f} years")

Oil Well Age: 23.72 years

In [73]:
def value(a=5,b,c):
    return a*b*c

SyntaxError: non-default argument follows default argument (3846019837.py, line 1)

In [74]:
def value(b,c,a=5):
    return a*b*c

In [75]:
res=value(10,10)
print(res)

500

In [76]:
def value(a=5,b=3,c=1):
    return a*b*c

In [77]:
def fun(a,b,c=4):
    return a*b*c

In [78]:
res=fun(5,6)
print(res)

120

In [79]:
def calculate_sum(*nums):
    total = 0
    for num in nums:
        total += num
    return total

result1 = calculate_sum(1, 2, 3)
result2 = calculate_sum(10, 20, 30, 40, 50)
result3=calculate_sum(120,120,120)

print(f"Result 1: {result1}")
print(f"Result 2: {result2}")
print(f"Result 3: {result3}")

Result 1: 6
Result 2: 150
Result 3: 360

In [80]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [81]:
res=factorial(4)

In [82]:
print(res)

24

In [83]:
oil_well = {
    "name": "Well A",
    "initial_reserves": 1000,  # Initial oil reserves in barrels
    "decline_rate": 0.1,       # Annual decline rate
}

In [95]:
def calculate_remaining_reserves(year,well):
        current_reserves=calculate_remaining_reserves(year - 1, well) - well["decline_rate"]
        return current_reserves

In [96]:
res=calculate_remaining_reserves(1992,1002)
print(res)

RecursionError: maximum recursion depth exceeded

In [97]:
def calculate_remaining_reserves(year, well):
    if year == 0:
        return well["initial_reserves"]
    else:
        previous_reserves = calculate_remaining_reserves(year - 1, well)
        current_reserves = previous_reserves - (well["decline_rate"] * previous_reserves)
        return current_reserves


well = {
    "name": "Well A",
    "initial_reserves": 1000,  
    "decline_rate": 0.1,       
}


for year in range(11):  
    remaining_reserves = calculate_remaining_reserves(year, well)
    print(f"Year {year}: Remaining Reserves = {remaining_reserves:.2f} barrels")

Year 0: Remaining Reserves = 1000.00 barrels
Year 1: Remaining Reserves = 900.00 barrels
Year 2: Remaining Reserves = 810.00 barrels
Year 3: Remaining Reserves = 729.00 barrels
Year 4: Remaining Reserves = 656.10 barrels
Year 5: Remaining Reserves = 590.49 barrels
Year 6: Remaining Reserves = 531.44 barrels
Year 7: Remaining Reserves = 478.30 barrels
Year 8: Remaining Reserves = 430.47 barrels
Year 9: Remaining Reserves = 387.42 barrels
Year 10: Remaining Reserves = 348.68 barrels

In [98]:
def wish(name):     #decor function
    print("Hello",name,"Good Morning")

In [100]:
wish('HArshitga')

Hello HArshitga Good Morning

In [101]:
wish('Harshitha')

Hello Harshitha Good Morning

In [102]:
wish('Indushree')

Hello Indushree Good Morning

In [107]:
def decor(func):
    def inner(name):
        if name=="Sunny":
            print("Hello sunny happy morning")
        else:
            func(name)
            return inner

In [114]:
  @decor
def wish(name):
    print("Hello",name,"Good Morning")

In [117]:
wish('Arjun')

TypeError: 'NoneType' object is not callable

In [5]:
def countdown(num):
    print("Start Countdown")
    while(num>0):
        yield num
        num=num-1
values=countdown(5)
for x in values:
    print(x,end="\n")

Start Countdown
5
4
3
2
1

In [6]:
routes_data = [
    {"route_id": 1, "route_name": "Route A", "capacity": 100, "cost_per_km": 2.5},
    {"route_id": 2, "route_name": "Route B", "capacity": 150, "cost_per_km": 3.0},
    {"route_id": 3, "route_name": "Route C", "capacity": 200, "cost_per_km": 2.0},
]

In [7]:
shipments_data = [
    {"shipment_id": 101, "product_type": "Crude Oil", "quantity": 50, "distance_km": 200},
    {"shipment_id": 102, "product_type": "Natural Gas", "quantity": 1000, "distance_km": 300},
    {"shipment_id": 103, "product_type": "Crude Oil", "quantity": 80, "distance_km": 150},
    {"shipment_id": 104, "product_type": "Liquefied Natural Gas (LNG)", "quantity": 500, "distance_km": 250},
]

In [8]:
centers_data = [
    {"center_id": 1, "center_name": "Center X", "location": "City A"},
    {"center_id": 2, "center_name": "Center Y", "location": "City B"},
    {"center_id": 3, "center_name": "Center Z", "location": "City C"},
]

In [9]:
routes = [
    {"route_id": 1, "route_name": "Route A", "capacity": 100, "cost_per_km": 2.5},
    {"route_id": 2, "route_name": "Route B", "capacity": 150, "cost_per_km": 3.0},
    {"route_id": 3, "route_name": "Route C", "capacity": 200, "cost_per_km": 2.0},
]

# Sample data for product shipments
shipments = [
    {"shipment_id": 101, "product_type": "Crude Oil", "quantity": 50, "distance_km": 200},
    {"shipment_id": 102, "product_type": "Natural Gas", "quantity": 1000, "distance_km": 300},
    {"shipment_id": 103, "product_type": "Crude Oil", "quantity": 80, "distance_km": 150},
    {"shipment_id": 104, "product_type": "Liquefied Natural Gas (LNG)", "quantity": 500, "distance_km": 250},
]

# Sample data for distribution centers
distribution_centers = [
    {"center_id": 1, "center_name": "Center X", "location": "City A"},
    {"center_id": 2, "center_name": "Center Y", "location": "City B"},
    {"center_id": 3, "center_name": "Center Z", "location": "City C"},
]

# Sample data for available routes and their capacities
available_routes = [
    {"route_id": 1, "capacity_available": 80},
    {"route_id": 2, "capacity_available": 120},
    {"route_id": 3, "capacity_available": 180},
]

# Sample data for logging shipment activities
shipment_logs = []

# Sample data for product scheduling (for recursive function)
product_quantities = {
    "Crude Oil": 200,
    "Natural Gas": 800,
    "Liquefied Natural Gas (LNG)": 300,
}

In [10]:
class Route:
    def __init__(self, route_id, route_name, capacity, cost_per_km):
        self.route_id = route_id
        self.route_name = route_name
        self.capacity = capacity
        self.cost_per_km = cost_per_km
        self.capacity_available = capacity

class Shipment:
    def __init__(self, shipment_id, product_type, quantity, distance_km):
        self.shipment_id = shipment_id
        self.product_type = product_type
        self.quantity = quantity
        self.distance_km = distance_km
        self.cost = 0  # Placeholder for calculated cost

class DistributionCenter:
    def __init__(self, center_id, center_name, location):
        self.center_id = center_id
        self.center_name = center_name
        self.location = location

class LogisticsManager:
    def __init__(self, routes, shipments, distribution_centers):
        self.routes = [Route(**r) for r in routes]
        self.shipments = [Shipment(**s) for s in shipments]
        self.distribution_centers = [DistributionCenter(**dc) for dc in distribution_centers]

    def calculate_transport_cost(self, route, shipment):
        cost = route.cost_per_km * shipment.distance_km
        return cost

    def check_route_availability(self, route, shipment):
        if route.capacity_available >= shipment.quantity:
            return True
        else:
            return False

    def optimize_shipments(self):
        for shipment in self.shipments:
            for route in self.routes:
                if self.check_route_availability(route, shipment):
                    cost = self.calculate_transport_cost(route, shipment)
                    if not shipment.cost or cost < shipment.cost:
                        shipment.cost = cost
                        shipment.selected_route = route

    def display_shipment_schedule(self):
        for shipment in self.shipments:
            print(f"Shipment ID {shipment.shipment_id}:")
            print(f"  Product Type: {shipment.product_type}")
            print(f"  Quantity: {shipment.quantity}")
            print(f"  Distance (km): {shipment.distance_km}")
            print(f"  Selected Route: {shipment.selected_route.route_name}")
            print(f"  Transportation Cost: {shipment.cost:.2f}")
            print("=" * 40)

In [11]:
logistics = LogisticsManager(routes_data, shipments_data, centers_data)
logistics.optimize_shipments()
logistics.display_shipment_schedule()

Shipment ID 101:
  Product Type: Crude Oil
  Quantity: 50
  Distance (km): 200
  Selected Route: Route C
  Transportation Cost: 400.00
========================================
Shipment ID 102:
  Product Type: Natural Gas
  Quantity: 1000
  Distance (km): 300

AttributeError: 'Shipment' object has no attribute 'selected_route'

In [15]:
def word_count(text):
    # Split the text into words using whitespace as the delimiter
    words = text.split()
    # Count the number of words
    return len(words)

# Example usage:
text = "This is a sample sentence for word counting in Python."
count = word_count(text)
print("Word count:", count)

Word count: 10

In [16]:
def word_count(text):
    words=text.split()
    return len(words)
text="Harshitha is a associate data engineer"
res=word_count(text)
print(res)

6

In [2]:
import pandas as pd

In [5]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

purchases1 = pd.DataFrame(data)

In [6]:
purchases2 = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

In [7]:
purchases1

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [8]:
purchases2

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [9]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

In [12]:
movie_data=pd.read_csv("/home/labuser/Downloads/Moviedata.csv")

In [13]:
movie_data

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0