## TypeError

In Python, a "TypeError" occurs when an operation or function is applied to an object of inappropriate type.

<b>1] Unsupported Operand Types</b><br>
<b>2] Incorrect Number of Arguments:</b><br>
<b>3] Using a Variable Before Assignment:</b><br>
<b>4] Indexing/Slicing a Non-Indexable Object:</b><br>
<b>5] Calling a Non-Callable Object</b><br>
<b>6] Mismatched Types in Comparison:</b><br>
<b>7] Incorrect Usage of range:</b><br>
<b>8] Attempting to Modify an Immutable Object:</b><br>
<b>9] Incorrect Usage of Built-in Functions:</b><br>
<b>10] Using a Non-Boolean in a Boolean Context:</b><br>
<br>
<b></b>

### 1] Unsupported Operand Types
Trying to perform an operation that is not supported for the given data types. For example, trying to add a string and an integer.

In [2]:
#  1] unsupported Operand Type
'hello'+5

TypeError: can only concatenate str (not "int") to str

### 2] Incorrect Number of Arguments:
Passing the wrong number of arguments to a function.

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2, 3)

TypeError: add_numbers() takes 2 positional arguments but 3 were given

### 3] Using a Variable Before Assignment:
 Trying to use a variable that has not been defined or assigned a value.

In [4]:
print(x)

NameError: name 'x' is not defined

### 4] Indexing/Slicing a Non-Indexable Object:
Trying to access an index or slice of an object that does not support these operations.

In [5]:
x = 5
x[0]

TypeError: 'int' object is not subscriptable

5] Calling a Non-Callable Object:

Trying to call an object that is not a function or does not have a __call__ method.

In [6]:
x = 5
x()  # This will raise a TypeError

TypeError: 'int' object is not callable

### 6] Mismatched Types in Comparison:

Trying to compare objects of different types that cannot be compared.

In [7]:
'5' > 4

TypeError: '>' not supported between instances of 'str' and 'int'

### 7] Incorrect Usage of range:

Using the range function with incorrect arguments.

In [8]:
range('5')

TypeError: 'str' object cannot be interpreted as an integer

### 8] Attempting to Modify an Immutable Object:

Trying to modify an object that is immutable, like a string or a tuple.

In [9]:
x= "hello"
x[0] = 'H'

TypeError: 'str' object does not support item assignment

### 9] Incorrect Usage of Built-in Functions:

Providing incorrect arguments to built-in functions.

In [10]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [11]:
int('5')

5

### 10]Using a Non-Boolean in a Boolean Context:

Using a non-boolean value (like a number or an object) in a context where a boolean value is expected.

In [12]:
if 5:
    print("This will execute")

This will execute