<a href="https://colab.research.google.com/github/hg24abd/assignment-1-statistics-and-trends/blob/main/Data_Types%2C_Variables_and_I_O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

06/12/2024
Practice1: Data Types, Variables, and I/O

In [40]:
#Python is loosely types language
#Python variables don't get married to a particular kind of value
#python is dose not get attached to particular variable

Predict the output of the following.
print(8-5)
Click on an option to submit your answer
A
8-5
B
3
**C**
Error

In [2]:
'''Predict the output of the following.
print(8-5)
Click on an option to submit your answer
A
8-5
B
3
C
Error '''

print(8-5)

3

In [3]:
'''
Quiz 2
Which of the following values are of type float in Python?
Click on an option to submit your answer
A
.2
B
"2.3"
C
'3.14'
D
-3
'''

'\nQuiz 2\nWhich of the following values are of type float in Python?\nClick on an option to submit your answer\nA\n.2\nB\n"2.3"\nC\n\'3.14\'\nD\n-3\n'

In [4]:
'''
Quiz 3
Which of the following is a valid variable name?
Click on an option to submit your answer
A
hELLO
B
1_name_Input
C
a*b*c
D
Cod3$#
'''

'\nQuiz 3\nWhich of the following is a valid variable name?\nClick on an option to submit your answer\nA\nhELLO\nB\n1_name_Input\nC\na*b*c\nD\nCod3$#\n'

In [5]:
'''
Quiz 4
Predict the output of the following.
x = 3
y = 'hello'
num = y
y = 5
print(num, y)
Click on an option to submit your answer
A
5 5
B
hello hello
C
hello 5
'''

"\nQuiz 4\nPredict the output of the following.\nx = 3\ny = 'hello'\nnum = y\ny = 5\nprint(num, y)\nClick on an option to submit your answer\nA\n5 5\nB\nhello hello\nC\nhello 5\n"

In [6]:
print(3000)

3000

In [7]:
print(20+30)

50

In [9]:
print(4 + 5)

9

In [10]:
print("India won the world cup in 2024")

India won the world cup in 2024

In [11]:
print('India won the world cup in 2024')

India won the world cup in 2024

In [13]:
PRINT("will this work in python with Capital letter in coding?") # python is case sensitive

NameError: name 'PRINT' is not defined

In [14]:
print("Hello world")

Hello world

In [15]:
type(.2)

float

In [16]:
type(2.)

float

In [17]:
type(2)

int

In [18]:
type("2.4")

str

In [20]:
type(true) # python is case sensitive use True instead of true.

NameError: name 'true' is not defined

In [21]:
type(True)

bool

In [22]:
type(False)

bool

In [23]:
print(type(None))

<class 'NoneType'>

In [24]:
type(None)

NoneType

In [26]:
a = 3 + 4
print(a)

7

In [27]:
b = 5
a + b

12

In [29]:
a = 6
a + b

11

In [31]:
X = 6
x = 5.2
print(x) # python is case sensitive with small and caps letters in python coding.

5.2

In [32]:
x = "I am"
y = "Legend!"
print(x)
print(y)

I am
Legend!

In [35]:
print(x + y)

I amLegend!

In [36]:
print(x, y)

I am Legend!

In [37]:
x = 10
X = 20
print(X)

20

In [38]:
print(X, x)

20 10

In [43]:
5_pulkit = 2

SyntaxError: invalid decimal literal (<ipython-input-43-1bcd3278c009>, line 1)

In [42]:
# python on the fly update the memory size for python variables.

In [44]:
pulkit5 = 5

In [45]:
_pulkit = 20

In [46]:
_ = 10 # highly recommend not to use this.

In [47]:
x = 10
y = x
print(y)

10

In [48]:
x = 5
print(x)
print(y)

5
10

In [49]:
name = input()
print("Hello", name)

Hurricanes
Hello Hurricanes

In [50]:
x = 3
y = 'hello'
num = y
y = 5
print(num, y)

hello 5

In [51]:
# Input Function with numeric data

In [52]:
x = input()
y = input()
x + y

4 + 5
5

'4 + 55'

In [53]:
x + y

'4 + 55'

In [56]:
x = input()
y = input()
x + y # python doing here as concatination in terms of input() function.
# example of python's flexibility

4
5 str

'45 str'

In [58]:
print(type(x)) # example of python flexibility
print(type(y))

<class 'str'>
<class 'str'>

In [60]:
x = input()
y = input()
int(x) + int(y) # example of python's flexibility and doing here type casting with help of int function in python.

4
5

9

In [61]:
x = float(input())
y = float(input())
x + y

10
5.11

15.11

In [63]:
c = input() # python flexibility with input function.
d = input()
c + d

11.22
33.44

'11.2233.44'

In [65]:
e = "this is a string"
int(e)

ValueError: invalid literal for int() with base 10: 'this is a string'

In [68]:
f = "10.5"
int(f)
'''
The error you're encountering occurs because you're trying to convert a **string** representing a **floating-point number** (`"10.5"`) directly into an integer using `int()`, but the string contains a decimal point, which is not allowed when converting to an integer.

### Solution:
To convert a string with a decimal (like `"10.5"`) to an integer, you need to first convert it to a **float**, and then convert that float to an integer.

### Corrected Code:

```python
f = "10.5"
# First, convert the string to a float, then to an int
result = int(float(f))
print(result)
```

### Explanation:
1. **`float(f)`**: This converts the string `"10.5"` to the floating-point number `10.5`.
2. **`int(float(f))`**: This converts the floating-point number `10.5` to an integer (`10`), which drops the decimal part.

### Output:
```
10
```

This approach works because:
- The string `"10.5"` is first interpreted as a float (`10.5`).
- Then, converting `10.5` to an integer using `int()` results in the integer part (`10`).

If you want to **round** to the nearest integer instead of truncating (just dropping the decimal), you could use the `round()` function:

```python
f = "10.5"
result = round(float(f))
print(result)
```

This would output `10` for `"10.5"`, but it will output `11` for `"10.7"`.

Let me know if you have more questions!
'''

ValueError: invalid literal for int() with base 10: '10.5'

In [67]:
g = "11"
int(g)

11

In [69]:
h = 10
print(str(10))

10

In [70]:
type(None)

NoneType

In [71]:
int(x) = input() # doubt from the class.

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-71-68a52920fc39>, line 1)

In [72]:
def main():

  return 0

In [73]:
main()

This is main def function in python.

0

In [74]:
# Assignment questions

In [87]:
def main():
  A = input()
  print("Hello", A)
  return 0

In [88]:
main()

Hurricanes
Hello Hurricanes

0

In [90]:
print(6+3)
print(6-3)
print(6*3)
print(6/3)

9
3
18
2.0

In [92]:
print(6+3, 6-3, 6*3, 6/3, sep="\n") # trick and short cut way of write code in python optimise with sep="\n"

9
3
18
2.0

In [93]:
print("A", "B", "C", "D", "E", sep="\n")

A
B
C
D
E

In [94]:
print("A", 6+3, "B", "A+B", sep="\n")

A
9
B
A+B