In [4]:
# Ques 1 . Explain the key feature of python that make it popular choice for programming ?
# answer . Python widely used in the industry and in data industry because it has lot of library.
          #  it can be used in the frontend and backend as well as in data analysis,automation,image processing,databse.
          # general purpose language , huge active community,connect to multiple tools.
          # easy to use.
          # Garbage collection.

In [8]:
# ques.2. Describe the role of keyword in python and provide example  of how they are used in  a program ?
# answer - So here , i'm taking an example to showcase the keyword with example.

print(" heloo" )
#here we used " print " to display the " hello" , here in this "print " is keyword .
# KEYWORD - pre defined words that hold a special meaning and hold special meaning in python.
# so here i'm providing the list of all keyword in python.
help("keywords")
# so i'm taking the "if" keyword to show how it used in the python.
if(3>2):
    print(" greater")
    
# so, here " if" is the keyword which has certain meaning in the python , it is used in the conditional statement.

 heloo

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

 greater

In [12]:
#ques 3. Compare and contrast mutable and immutable obects in python with example .
#answer - 
# MUTABILITY - which can be modified
# IMMUTABLITY - which can't be modified
a="Himanshu"
# so this is a string which is stored in variable " a" .
# therefore , there will be blocks created in the memory and it can  be accessed easily .

In [13]:
# example-
a[1]

'i'

In [20]:
a[4]

# so in this we we can access the data from the memory.
# it can also be accessed from the negative indexing like .
a[-1]

'u'

In [29]:
# so if i want to change the some values of the string ,

a[1]=t

print[1]

# so here we got an error , this means strings are immutable .

NameError: name 't' is not defined

In [24]:
# now we will talk about the immutability 
# so here we are takin an list 
L=[  1 , 2 , 3 , 4 ,"himanshu" ," shubhanshu" , "ashish " ]

In [25]:
# now i want to access the items int he list 
L[1]

2

In [27]:
# now i want to change the values of the list to  make it more clear 

L[1]= "HIMANSHU"

In [28]:
print(L)

[1, 'HIMANSHU', 3, 4, 'himanshu', ' shubhanshu', 'ashish ']

In [ ]:
# here we can see there is a change in the list , so we can say list are mutable .

In [ ]:
# QUES 4 . Discuss the different types of operators in python and give examples of how they are used in python ?

# ANSWER - Special symbols to perform the operations and manage as well as for computation.

In [31]:
#operators in python 
# 1. ARITHMATIC OPERATOR
# +,-,*,/,%
# these are the arithmatic operators in python.

a=3
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

5
1
6
1.5
1

In [32]:
# one more operator , to mulitiply the given power on any digit 
2**6

64

In [33]:
# floor operator 

4//3
#  it gives the nearest integer to the lowest .

1

In [34]:
# COMPARISON OPERATOR 

# == , ! = , > , < , >= , <=

# it gives the value in true and falsle

a=5
b=9

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [36]:
# LOGICAL OPERATOR
# AND , OR, NOT 
# These also gives the answers in true or false .
#  true= 1, false =0

# in and operator both condition must be true to get true .
# in or operator atleast one condition must be true to get true .

True and False

False

In [37]:
True and True

# therefore it shows , there should be both conditions to be true to get result " true "

True

In [38]:
True or False

True

In [39]:
False or False

# so here we can see that there must be one condition to be true to get " true".

False

In [ ]:
# NOT OPERATOR

In [40]:
not True 
# it just reverse " true to false and false to true "

False

In [42]:
# ASSIGNMENT OPERATOR

# It assigns the value to the variable 
a=10
print(a)
# in this we are assining the value into "a" variable.

10

In [44]:
# MEMEBERSHIP OPERATOR 

# It checks whether the letters are present or not.
# example 
a = " Himanshu "
"m" in a

True

In [45]:
 " z " in a

False

In [46]:
# IDENTITY OPERATOR 
# compares the location of two objects / variable
 
a = 2
b=3 
a is b

False

In [47]:
a is not b

True

In [48]:
a = 3 
b= 3

a is b

True

In [49]:
a is not b

False

In [50]:
# BITWISE OPERATOR
# Operation at bit level , manupulating bits within integer .
# &,|,~,^, right shift , left shift 

18&3

2

In [51]:
bin(18)

'0b10010'

In [52]:
bin(3)

'0b11'

In [53]:
10010&11

10

In [54]:
bin(2)

'0b10'

In [55]:
# or bitwise 

3|5

7

In [56]:
# negation ( gives negative sign with one lower value )


~ 5

-6

In [57]:
# X OR OPERATOR

4^5

1

In [58]:
# left shift operator ( shift the bit to left by no of positions by filling the zeros on the right side )

35<<3

280

In [59]:
bin(35)

'0b100011'

In [61]:
# now we will add three zeros on right " 100011000"
bin(280)

'0b100011000'

In [62]:
# RIGHT SHIFT OPERATOR 

# remove the no of elements from the right side from binary.

280 >> 3

35

In [63]:
bin(280)

'0b100011000'

In [64]:
# removing three zeros from the right " 100011"
bin(35)

'0b100011'

In [65]:
# QUES 5. Explain the concept of type casting in python with example ?
# anser :
# changing the data type of a value /type conversion .

# it is of two types : 
# 1. implicit and explicit 
# in implicit ( understand data type by it own ) explicit ( user changes the data type )

# while execution there can be mismatch 

a= "2"
b=3
a+b

TypeError: can only concatenate str (not "int") to str

In [66]:
type(a)

str

In [68]:
int(a)+b
# here , we changes the datatype of the a variable to int to make the addition , explicit typecasting

5

In [69]:
# String to integer 
a="2"
print(type(a))

<class 'str'>

In [70]:
print(type(int(a)))

<class 'int'>

In [79]:
# FLOAT TO INTEGER 
a=3.4
type(a)

float

In [80]:
int(a)

3

In [81]:
# INTEGER TO FLOAT 

a=2
type(a)

int

In [82]:
float(a)

2.0

In [83]:
# STRING TO FLOAT 

a="2.5"
type(a)

str

In [84]:
float(a)

2.5

In [85]:
a=" Himanshu"
type(a)

str

In [86]:
int(a)

ValueError: invalid literal for int() with base 10: ' Himanshu'

In [87]:
# string ( char) can't be converted into number

In [88]:
# BOOLEAN TYPECASTING 

bool()

False

In [89]:
bool(0)

False

In [92]:
# only at " 0" and " null " it gives false otherwise always true ( anything greater than 1 )

In [91]:
bool(5)

True

In [ ]:
# QUES 6, How do conditional statements work in python ? illustrate with examples .
# answer :

In [ ]:
# it help us to make decisions based on some preconditions .
# it is of 4 types :
 #1. if statement
#2. if else statement 
#3. if elif else statement
#4. nested if else

In [93]:
# if statement
a=100
if(a>10):
    print(" greater than given number ")

 greater than given number

In [94]:
# if the condition is false it gives no result

In [95]:
if(a<10):
    print(" greater")

In [ ]:
# condition false no anser

In [100]:
# if else statement

timing = "ten"

if timing == "ten":
    print(" sleep")
else:
    print(" watch tv")

 sleep

In [103]:
# if elif else 

a=10
if a>100:
    print(" a is greater than 100")
elif a<100:
     print(" a is less than 100")
else:
    print(" a is equal to 100")

 a is less than 100

In [114]:
# NESTED IF ELSE 

x= 10
y=6
if x>5:
    if(y>5):
        print(" both x and y are greater than 5 ")
    else:
        print(" x is greater than 5 but y is less than 5")
else:
    print(" x is not greater than 5 ")

 both x and y are greater than 5

In [115]:
# QUES 7. Describe the different types of loops in python and there use cases with examples ?

In [ ]:
# ANSWER :

# it allows us to execute the block of code repeatedly .
# it is of two types : 
# while and for loop

In [ ]:
# while loop ( while is a keyword 0
# it repeats the block of code until a condition is met.

In [116]:
n=7
i=1
while i<n:
    print(i)
    i=i+1

1
2
3
4
5
6

In [117]:
count = 5
while count >0:
    print(count)
    count = count -1

5
4
3
2
1

In [118]:
n=7
i=1
while i<n:
    print(i)
    i=i+1
else:
    print(" this block executed when there is no break is used ")

1
2
3
4
5
6
 this block executed when there is no break is used

In [120]:
n=7
i=1
while i<n:
    if i==3:
        print(i)
        break
    i=i+1
else:
    print(" this block executed when there is no break is used ")

3

In [ ]:
# FOR LOOP 
# ITERATE OVER A SEQUENCE OF ELEMENTS

In [1]:
for i in " pw skills ":
    print(i)

p
w

s
k
i
l
l
s

In [5]:
L= [ 1,2,3,"himanshu"]
for i in L:
    print(i)

1
2
3
himanshu

In [7]:
for i in range(0,15):
    print(i,end="    ")

0    1    2    3    4    5    6    7    8    9    10    11    12    13    14

In [9]:
list (range( 0,100,5) )

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]