Number and Math

there are 4 types:
-int(include float)
-bool
-complex(very rare use)

data structure
-str
-list
-dict


Identifiers => It is used to identify variable,function,sybolic constant,etc...\
constant => constant is identifier whose value doesnt change throught execution.\
variable => a variable is identifier or a name

In [3]:
print(dir(object()))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [5]:
# immutables
# int,str,float...etc
x=5
print(id(x))
x+=1
print(id(x))

#mutable
l=[1,2]
print(id(l))
l.append(3)
print(id(l))

9764512
9764544
140286452128000
140286452128000

In [12]:
print("asdf %s + %s"%(2,2))

asdf 2 + 2

In [23]:
1+1

2

In [32]:
1+1.5

2.5

In [33]:
0.0001+1

1.0001

In [34]:
1==1

True

In [35]:
id(1),id(True)

(9793088, 9480544)

In [36]:
1==1

True

In [37]:
bool(0.00001)

True

In [1]:
bool(0)

False

In [2]:
10==10

True

In [3]:
(3+5+5*2+6/3)

20.0

In [4]:
12

12

In [5]:
type(9)

int

In [6]:
type(9.0)

float

In [7]:
type(9.9999999)

float

In [8]:
type(9==9)

bool

In [9]:
type(1+1j)

complex

In [10]:
a=9+9.5
type(a)

float

In [11]:
5/2

2.5

In [12]:
5//2

2

In [13]:
5%2

1

In [15]:
2%5

2

In [14]:
1/3

0.3333333333333333

In [16]:
2**3

8

In [17]:
type(khaleesi_mother_of_dragons)

NameError: name 'khaleesi_mother_of_dragons' is not defined

In [18]:
khaleesi_mother_of_dragons=1
print(khaleesi_mother_of_dragons)

1

In [19]:
x=1
y=2
z=x+y
print(z)

3

In [20]:
x1=x
print(x1,x)

1 1

In [21]:
print(id(x1),id(x))

9764384 9764384

In [22]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [23]:
True

True

In [24]:
False

False

In [25]:
gameover=True
print(gameover)

True

In [26]:
x="2"
y="hey"
z="1+1"
print(x,y,z)
print(type(x),type(y),type(z))

2 hey 1+1
<class 'str'> <class 'str'> <class 'str'>

In [27]:
int(x)

2

In [28]:
float(x)

2.0

In [29]:
str(x)

'2'

In [30]:
print(None)

None

In [31]:
print("this is \\backslash")

this is \backslash

In [32]:
x="your"
y="face"

print(x+" "+y)

your face

In [33]:
"hello"+" "+x

'hello your'

In [34]:
guess=9
s="your geuss is"+str(guess)
print(s,type(str(guess)))

your geuss is9 <class 'str'>

In [35]:
guess=10
s=f'your guess is {guess}'
print(s)

your guess is 10

In [36]:
s="lol"
print(s)

lol

In [37]:
print(s[0],s[1],s[2])

l o l

In [38]:
print(s[-2],s[-1])

o l

In [39]:
dec=124.567
print(int(dec))

124

In [40]:
5.59/9

0.6211111111111111

In [41]:
int(31.07/5)

6

In [ ]:
user=int(input("how many kilometers did you run today?"))

intomile=f'your {user}km run was {round(user*0.6214,2)}mi'
print(intomile)

In [83]:
name=input("enter name from got")

if name=="arya stark":
    print("valar Morghulis")
elif name=="jon snow":
    print("you know nothing")
elif name=="dynaris targeryn":
    print("dracares")
else:
    print("carry on")

enter name from gota
carry on

In [50]:
a=10
if a<20:
    print("ok")

ok

In [51]:
import random
a=random.randint(60,100)
print(a)
if a>=90:
    print("a")
elif a>=80:
    print("b")
elif a>=70:
    print("d")
else:
    print("c")

82
b

In [52]:
x=1
print(x is 1,x is 0)

True False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_5364/3844208891.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(x is 1,x is 0)
/tmp/ipykernel_5364/3844208891.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(x is 1,x is 0)

In [53]:
"a"=="a"

True

In [54]:
-100>-200

True

In [56]:
age=int(input("enter your age "))

if age>=18 and age<50:
    print("you are in 18 to 50")
elif age<10:
    print("you are small")
else:
    print("you are so old")

enter your age 22
you are in 18 to 50

In [57]:
1 and 1

1

In [58]:
age=18

if not((age>=2 and age<=8) or age>=65):
    print("you are not eligible")
else:
    print("you may be so small")

you are not eligible

In [59]:
a=1
print(a==1,a is 1)

True True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_5364/2500028569.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a==1,a is 1)

In [60]:
a=[1,2,3]
b=[1,2,3]
print(a==b,a is b)

True False

In [61]:
c=b
print(b is c,c is b)

True True

In [62]:
age=int(input("how old are you?"))

if 18<=age and age<=21:
    print("wristband")
elif age>21:
    print("21+ drink,normal entry")
else:
    print("too young sorry")

how old are you?55
21+ drink,normal entry

In [97]:
a=1+1j

In [98]:
#example-1------------------------
import random
# user1=input("enter first player1")
l=['rock','scissor','paper']
rand=random.randint(0,2)
user1=l[rand]
user2=input("enter first player2")
print(user1)

if user1=="rock":
    if user2=="paper":
        print("player2 win")
    elif user2=="rock":
        print("tie")
    else:
        print("player1 win")
elif user1=="paper":
    if user2=="scissor":
        print("player2 win")
    elif user2=="paper":
        print("tie")
    else:
        print("player1 win")
else:
    if user2=="rock":
        print("player2 win")
    elif user2=="scissor":
        print("tie")
    else:
        print("player1 win")

enter first player2paper
scissor
player1 win

In [99]:
a.conjugate()

(1-1j)

In [102]:
import random

random.randint(1,3)

2

In [103]:
for i in "hello":
    print(i)

h
e
l
l
o

In [104]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [105]:
for i in [4,4,2,5,1]:
    print(i)

4
4
2
5
1

In [106]:
for i in range(0,100,15):
    print(i)

0
15
30
45
60
75
90

In [109]:
for i in range(100,0,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [110]:
value=int(input("enter how many time "))

for i in range(0,value):
    print("CLEAN YOUR ROOM")

enter how many time 1
CLEAN YOUR ROOM

In [111]:
for i in range(1,21):
    if i==4 or i==13:
        print(f"{i} in unlucky")
    elif i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 in unlucky
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 in unlucky
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [63]:
msg=input("whats the secret password?")
while msg !="bananas":
    print("Wrong")
    msg=input("whats the secret password?")
print("Correct!")

whats the secret password?a
Wrong
whats the secret password?a
Wrong
whats the secret password?a
Wrong
whats the secret password?banana
Wrong
whats the secret password?bananas
Correct!

In [64]:
for i in range(1,11):
    print("A"*i)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA
AAAAAAAAAA

In [66]:
i=1
while(i<11):
    print("A"*i)
    i+=1

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA
AAAAAAAAAA

In [116]:
while True:
    command =input("type 'exit' to exit")
    if (command=="exit"):
        break;

type 'exit' to exitexi
type 'exit' to exiteixt
type 'exit' to exitexit

In [67]:
#practice

n=int(input())
student_marks={}
a={}

for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
        avg=sum(student_marks[name])/3
        a[name]=avg
        minval=min(a.values())
        key_list=list(a.keys())
        val_list=list(a.values())
print((key_list[val_list.index(minval)]))

3
3
3
3
3

In [117]:
#practice

n=int(input())
student_marks={}
a={}

for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
        avg="{:.2f}".format(sum(student_marks[name])/3)
        a[name]=avg
selname=input()
print(a[selname])

2
harsn
6
jay

KeyError: 'jay'

In [82]:
key_list[val_list.index(temp)]

NameError: name 'key_list' is not defined

In [68]:
#exercise------
import random

computer=random.randint(1,10)
guess=int(input("guess a number betwwen 1 to 10 :"))
print(computer)

if guess==computer:
    print("you win")
elif guess>=computer:
    print("Too high")
else:
    print("you geuss low")

guess a number betwwen 1 to 10 :5
4
Too high

In [70]:
import random

computer=random.randint(1,10)
print(computer)

guess=None
while guess!=computer:
    guess=int(input("enter num"))

    if guess<computer:
        print("guess was too low")
        guess=int(input("enter num"))
    elif guess>computer:
        print("guess was too high")
        guess=int(input("enter num"))
    else:
        print("you guessed right")
        playmore=input("y or n?")
        if playmore=='y':
            computer=random.randint(1,10)
            print(computer)
            guess=None
        elif playmore=="n":
            print("Thank you for playing")
        else:
            print("soryy please enter valid input")
            playmore=input("y or n?")

10
enter num30
guess was too high
enter num2
enter num2
guess was too low
enter num1
enter num1
guess was too low
enter num3
enter num5
guess was too low
enter num

ValueError: invalid literal for int() with base 10: ''

In [79]:
import random
computer = random.randint(1,10)
answer=None
while answer != computer:
    answer=int(input("enter Your number:"))

    if answer > computer:
        print("you have guessed greater number")
#         answer=int(input("enter Your number:"))

    elif answer < computer:
        print("you have guessed smallest number")
#         answer=int(input("enter Your number:"))

    else:
        print("you have Guessed Right")
        y_or_n = input("want to play again?")
        if y_or_n == 'yes':
            computer = random.randint(1,10)
            answer=int(input("enter Your number:"))
        elif y_or_n == 'no':
            print("Thank you for playing")
        else:
            print("please enter valid")
            y_or_n = input("want to play again?")
            break

enter Your number:2
you have guessed smallest number
enter Your number:3
you have guessed smallest number
enter Your number:6
you have guessed smallest number
enter Your number:7
you have guessed smallest number
enter Your number:8
you have Guessed Right
want to play again?yes
enter Your number:4
enter Your number:5
you have Guessed Right
want to play again?ni
please enter valid
want to play again?no

In [ ]:
2## 6
###### import random
c=random.randint(1,10)
guess=None
while guess!=c:
    guess=int(input("enter your guess"))
    if guess>c:
        print(f'{guess} is greater then right ans')
    elif guess<c:
        print(f'{guess} is less then right ans')
    else:
        print("You guessed right ans")
        temp=input("Do you want to play again? y /n")
        if temp.lower()=="y":
            c=random.randint(1,10)
            guess=None
        elif temp.lower()=="n":
            print("thanks for playing this game")
        else:
            print("please enter valid inputs, y / n")
            temp=input("Do you want to play again? y /n")
            break

In [97]:
#exercise------
import random

computer=random.randint(1,10)
guess=None
print(computer)
while guess!=computer:
    guess=int(input("guess a number betwwen 1 to 10 :"))
    if guess<computer:
        print("Too low")
    elif guess>computer:
        print("Too high")
    else:
        print("you won")
        play_again=input("do you want to play again? y/n")
        if play_again=='y':
            computer=random.randint(1,10)
            guess=None
        else:
            print("Thank you for playing")
            break

6
guess a number betwwen 1 to 10 :2
Too low
guess a number betwwen 1 to 10 :6
you won
do you want to play again? y/nn
Thank you for playing

In [132]:
l=[1,2,3,4]
l1=["1",'2',"3"]
l2=["this is okay","this is iu"]
l3=[True,False,"1"]
#len(i)
# i.append
# i.clear
# i.copy
# i.count
# i.extend
# i.extend
# i.index
# i.insert
# i.pop
# i.remove
# i.reverse
# i.sort

In [80]:
l3
print(len(l2))

NameError: name 'l3' is not defined

In [134]:
range(0,10)

range(0, 10)

In [81]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
li=['jay','harshal','hiren','prince']

In [83]:
li[3]

'prince'

In [84]:
li[-1]

'prince'

In [85]:
'jay' in li

True

In [86]:
'hiren' in li

True

In [87]:
'jaydeep' in li

False

In [88]:
li=[1,2,3,4,5,6]
for i in li:
    print(i)

1
2
3
4
5
6

In [89]:
i=0
while i<len(li):
    print(li[i])
    i+=1

1
2
3
4
5
6

In [90]:
len("12")

2

In [91]:
#add an item to end of the list

data=[1,2,3]
data.append("purple")
print(data)

[1, 2, 3, 'purple']

In [92]:
#add to end of a list all values passed to extends
first_list=[1,2,3,4,5]
#frist_list.append(4,5) not work
first_list.append([1,2])
first_list.extend([3,4,5,6])
print(first_list)

[1, 2, 3, 4, 5, [1, 2], 3, 4, 5, 6]

In [93]:
#insert at we want to place

l=[1,2,3,4,5]
l.insert(2,"hi")
print(l)

[1, 2, 'hi', 3, 4, 5]

In [94]:
l.insert(-1,"last")
print(l)

[1, 2, 'hi', 3, 4, 'last', 5]

In [149]:
items=[1,2,4,5,5]
items.clear()
print(items)

[]

In [150]:
items=[1,2,3,4,5]
items.pop()
print(items)

[1, 2, 3, 4]

In [151]:
items=[1,2,3,4,5]
items.pop(1)
print(items)

[1, 3, 4, 5]

In [152]:
items=[1,2,3,4,5]
items.pop(len(items)-1)
print(items)

[1, 2, 3, 4]

In [27]:
items=[1,2,3,4,5]
items.remove(1)#value we want to remove
print(items)

[2, 3, 4, 5]

In [30]:
items=[1,2,3,4,5]
items.index(2)

1

In [31]:
i=[1,2,2,3,4,5,5]
i.index(2,1)

1

In [32]:
i=[1,2,2,3,4,5,5]
i.index(5,1)

5

In [35]:
i=[1,2,2,3,4,5,5]
i.reverse()
print(i)

[5, 5, 4, 3, 2, 2, 1]

In [12]:
i=[1,2,3,4,5,6,6,6]
i.count(6)

3

In [37]:
i.sort()
print(i)

[1, 2, 2, 3, 4, 5, 5]

In [39]:
abc=["jay","talaviya"]
" ".join(abc)

'jay talaviya'

In [40]:
abc=["jay","talaviya"]
"-".join(abc)

'jay-talaviya'

In [41]:
abc=["jay","talaviya"]
"*_*".join(abc)

'jay*_*talaviya'

In [42]:
l=[1,2,3,4,5,6,7,8]
print(l[0:2])

[1, 2]

In [43]:
l=[1,2,3,4,5,6,7,8]
print(l[0:-1:2])

[1, 3, 5, 7]

In [44]:
l=[1,2,3,4,5,6,7,8]
print(l[0:])

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
l=[1,2,3,4,5,6,7,8]
print(l[2:])

[3, 4, 5, 6, 7, 8]

In [47]:
3==l[2]

True

In [48]:
3 is l[2]

True

In [50]:
l[:-1]

[1, 2, 3, 4, 5, 6, 7]

In [51]:
l[-1:]

[8]

In [52]:
l[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
#swapping values in list

name=['jay',"prince"]
name[0],name[1]=name[1],name[0]

In [54]:
name

['prince', 'jay']

In [55]:
nam=[1,2,3]

In [56]:
[i*i for i in nam]

[1, 4, 9]

In [57]:
[i/2 for i in nam]

[0.5, 1.0, 1.5]

In [58]:
name="jay"
[char.upper() for char in name]

['J', 'A', 'Y']

In [64]:
friends=["jay",'hiren','prince','harshal']
[f.upper() for f in friends]

['JAY', 'HIREN', 'PRINCE', 'HARSHAL']

In [65]:
friends=["jay",'hiren','prince','harshal']
[f[0].upper() for f in friends]

['J', 'H', 'P', 'H']

In [1]:
number=list(range(0,10))
evens=[num for num in number if num %2==0]
odds=[num for num in number if num%2!=0]
print(evens,odds)

[0, 2, 4, 6, 8] [1, 3, 5, 7, 9]

In [68]:
[num*2 if num %2==0 else num/2 for num in number]

[0, 0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5]

In [76]:
game=[[1,2,3],[4,5,6],[7,8,9]]
board=[[print(i) for i in l] for l in game]

1
2
3
4
5
6
7
8
9

In [13]:
firstdictionary={
    "name":"jay",
    "age":19
}

In [14]:
# firstdictionary.clear
# firstdictionary.copy
# firstdictionary.fromkeys
# firstdictionary.get
# firstdictionary.items
# firstdictionary.keys
# firstdictionary.pop
# firstdictionary.popitem
# firstdictionary.setdefault
# firstdictionary.update
# firstdictionary.values

{'name': 'jay', 'age': 19}

In [79]:
firstdictionary["name"]

'jay'

In [80]:
firstdictionary["new val"]="this is new inserted"

In [81]:
firstdictionary

{'name': 'jay', 'age': 19, 'new val': 'this is new inserted'}

In [82]:
firstdictionary.values()

dict_values(['jay', 19, 'this is new inserted'])

In [84]:
firstdictionary.keys()

dict_keys(['name', 'age', 'new val'])

In [85]:
for v in firstdictionary.values():
    print(v)

jay
19
this is new inserted

In [86]:
firstdictionary.items()

dict_items([('name', 'jay'), ('age', 19), ('new val', 'this is new inserted')])

In [87]:
for i,j in firstdictionary.items():
    print(i,j)

name jay
age 19
new val this is new inserted

In [88]:
"name" in firstdictionary

True

In [89]:
"jay" in firstdictionary

False

In [90]:
"jay" in firstdictionary.values()

True

In [91]:
 d=dict(a=1,b=2,c=3)
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [93]:
d.clear()
d

{}

In [97]:
 d=dict(a=1,b=2,c=3)
d

{'a': 1, 'b': 2, 'c': 3}

In [98]:
c=d.copy()

In [99]:
c

{'a': 1, 'b': 2, 'c': 3}

In [102]:
print(c==d)

True

In [103]:
{}.fromkeys("a","b")

{'a': 'b'}

In [104]:
{}.fromkeys("a",[1,2,3,4,5])

{'a': [1, 2, 3, 4, 5]}

In [107]:
{}.fromkeys(["a","b","c","d"],[1])

{'a': [1], 'b': [1], 'c': [1], 'd': [1]}

In [108]:
d.get("a")

1

In [109]:
d.get("b")

2

In [111]:
d.get("c")

3

In [112]:
#example
playlist={
    'title':'pantagonia bus',
    'author':'colt steele',
    'songs':[
        {'title':'song1','artist':['blue'],'duration':2.2},
         {'title':'song2','artist':['blue,redvalvet'],'duration':2.5},
         {'title':'song3','artist':['bts'],'duration':3.4},
    ]
}

In [120]:
playlist["songs"][0]["title"]

'song1'

In [125]:
total_length=0
for songs in playlist["songs"]:
    total_length+=songs["duration"]
print(songs["title"],total_length)

song3 8.1

In [126]:
 d

{'a': 1, 'b': 2, 'c': 3}

In [127]:
squre={key:value**2 for key,value in d.items()}

In [128]:
squre

{'a': 1, 'b': 4, 'c': 9}

In [132]:
str1="abc"
str2="124"
combo={str1[i]:str2[i] for i in range(0,len(str1))}

In [133]:
combo

{'a': '1', 'b': '2', 'c': '4'}

In [134]:
person = [["name", "Jared"], ["job", "Musician"], ["city", "Bern"]]

In [136]:
dictonary={k:v for k,v in person}

In [137]:
dictonary

{'name': 'Jared', 'job': 'Musician', 'city': 'Bern'}

In [138]:
{count: chr(count) for count in range(65,91)}

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [159]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(meal_cost, tip_percent, tax_percent):
    tip=meal_cost*(tip_percent/100)
    tax=meal_cost*(tax_percent/100)
    totalCost=meal_cost+tip+tax
    print(round(totalCost))

In [160]:
if __name__ == '__main__':
    meal_cost = float(input())

    tip_percent = int(input())

    tax_percent = int(input())
    
    solve(meal_cost, tip_percent, tax_percent)

12
20
8
15

In [163]:

import math
import os
import random
import re
import sys




if __name__ == '__main__':
    N = int(input())
    if N%2!=0:
        print("Weird")
    elif N%2==0:
        if 2<=N<=5:
            print("Not Weird")
        elif 6<=N<=20:
            print("Weird")
        elif N>20:
            print("Not Weird")

24
Not Weird

In [186]:
class Person:
    def __init__(self,initialAge):
        # Add some more code to run some checks on initialAge
        age=initialAge
        if age<0:
            age=0
            print("Age is not valid, setting age to 0")

        else:
            age=initialAge
            
    def amIOld(self):
        if this.age<13:
            print("You are young.")
        elif age>=13 and age<18:
            print("You are a teenager.")
        # Do some computations in here and print out the correct statement to the console
    def yearPasses(self):
        # Increment the age of the person in here
        pass

In [185]:
t=int(input())
p1 = Person(t)

print(p1)

20
<__main__.Person object at 0x000002BFF5D61630>

In [1]:
#tuples

In [3]:
x=(1,2,3)
x

(1, 2, 3)

In [4]:
type(x)

tuple

In [5]:
alphabet=('a','b','c','d')
alphabet

('a', 'b', 'c', 'd')

In [7]:
alphabet[1]

'b'

In [10]:
# alphabet.count()
# alphabet.index()

1

In [15]:
alphabet.index("a")

0

In [16]:
#tuple cant be change

months=('january','february','march','april')

In [17]:
months[0]

'january'

In [19]:
# months[0]='axy' #wrong

TypeError: 'tuple' object does not support item assignment

In [20]:
# tuple can be used as keys in dictionaris;

location ={
    (1,2):'first',
    (3,4):'second',
}

In [21]:
location

{(1, 2): 'first', (3, 4): 'second'}

In [23]:
#list cannot be used as keys in dictionaris;
# location2 ={
#     [1,2]:'first',
#     [2,3]:'second',
# }

In [24]:
#iterable

for month in months:
    print(month)

january
february
march
april

In [25]:
a=(1,2,3)
a

(1, 2, 3)

In [27]:
a=(4,5,6)
a

(4, 5, 6)

In [28]:
#sets

In [30]:
s=set({1,2,3,4,5,6,6,6})
s

{1, 2, 3, 4, 5, 6}

In [32]:
s1={1,2,2,3,3,4,4,4,4,5}
s1

{1, 2, 3, 4, 5}

In [34]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [36]:
s2={1,2,2,3,3.000001}
s2

{1, 2, 3, 3.000001}

In [41]:
for i in s1:
    print(i)

1
2
3
4
5
6

In [43]:
#uses
#to avoid duplicate data

cities=["a",'b','c','d','a','b','k','l','m','n','n','l']

In [44]:
cities

['a', 'b', 'c', 'd', 'a', 'b', 'k', 'l', 'm', 'n', 'n', 'l']

In [45]:
toavoidduplicate=set(cities)

In [46]:
toavoidduplicate

{'a', 'b', 'c', 'd', 'k', 'l', 'm', 'n'}

In [48]:
toavoidduplicate_list=list(toavoidduplicate)
toavoidduplicate_list

['n', 'a', 'd', 'b', 'm', 'c', 'k', 'l']

In [57]:
s4={1,2,3,3,4,5,5,6,7}
s4

{1, 2, 3, 4, 5, 6, 7}

In [58]:
s4.add(8)
s4

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
s4.remove(1)
s4

{2, 3, 4, 5, 6, 7, 8}

In [60]:
s4.discard(4)
s4

In [64]:
s5=s4.copy()
s5

{2, 3, 5, 6, 7, 8}

In [65]:
s5.clear()
s5

set()

In [66]:
uni1={"a",'C','e'}
uni2={'b','d','f'}

In [67]:
unions=uni1.union(uni2)

In [72]:
unions

{'C', 'a', 'b', 'd', 'e', 'f'}

In [73]:
unions2=uni1 | uni2

In [74]:
unions2

{'C', 'a', 'b', 'd', 'e', 'f'}

In [75]:
intersections=uni1.intersection(uni2)

In [77]:
intersections# empty becose they have nothing same

set()

In [80]:
s={x*2 for x in range(10)}
s

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [85]:
s.update()
s

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [1]:
def hello():
    print("hello guys")

In [3]:
hello()
hello()

hello guys
hello guys

In [4]:
def happy_birthday(name):
    var="happy birthday "+name
    return var

In [6]:
happy_birthday("jay")

'happy birthday jay'

In [7]:
def odd_even(num):
    if num%2==0:
        return f'{num} is even'
    else:
        return f'{num} is odd'

In [10]:
print(odd_even(4),odd_even(5))

4 is even 5 is odd

In [11]:
l=list(range(0,10))
for i in l:
    print(odd_even(i))

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [16]:
from random import random

def flip_coin():
    randome=random()
    if randome>=0.5:
        return 'tail'
    else:
        return 'head'

In [20]:
flip_coin()

'head'

In [21]:
l=[]
def gen_even(num):
    if num%2==0:
        l.append(num)
    return l

In [22]:
gen_even(2)

[2]

In [23]:
gen_even(4)

[2, 4]

In [24]:
gen_even(5)

[2, 4]

In [50]:
def yell_word(word,num):
    return f'{word}..{"!"*num}'

In [51]:
yell_word("jay",3)

'jay..!!!'

In [57]:
def exponent(num,i=2):
    return num**i

In [58]:
exponent(4)

16

In [59]:
exponent(4,3)

64

In [60]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [63]:
random.__doc__

'random() -> x in the interval [0, 1).'

In [67]:
def sum_all_nums(num1,num2,num3):
    return num1+num2+num3

In [68]:
sum_all_nums(2,3,4)

9

In [69]:
def sum_all_nums(*args):
    total=0
    for num in args:
        total+=num
    return total

In [70]:
sum_all_nums(4,5,6,7)

22

In [71]:
def ensure(*args):
    if "jay" in args and "t" in args:
        return "welcome jay"
    return "sorry"

In [72]:
ensure("jay",'t','jaydeep',7,1)

'welcome jay'

In [73]:
def fav_colors(**kwargs):
    print(kwargs)

In [74]:
fav_colors(colt="purple",ruby="red",ethel="teal")

{'colt': 'purple', 'ruby': 'red', 'ethel': 'teal'}

In [75]:
def fav_color(**kwargs):
    for person,color in kwargs.items():
        print(f"{person}'s favorite color is {color}")

In [76]:
fav_color(colt="purple",ruby="red",ethel="teal")

colt's favorite color is purple
ruby's favorite color is red
ethel's favorite color is teal

In [78]:
def display_into(a,b,*args,instructor="colt",**kwargs):
    return [a,b,args,instructor,kwargs]

In [79]:
display_into(1,2,4,5,last_name="talaviya",job="instructor")

[1, 2, (4, 5), 'colt', {'last_name': 'talaviya', 'job': 'instructor'}]

In [80]:
def summ(*args):
    sum=0
    for num in args:
        sum+=num
    print(sum)

In [84]:
nums=[1,2,3,4]
summ(*nums)

10

In [85]:
nums=(1,2,3,4)
summ(*nums)

10

In [93]:
def display_names(first,second):
    print(f'{first} says hello {second}')

In [94]:
names={"first":"jay","second":"hiren"}

In [95]:
display_names(**names)

jay says hello hiren

In [106]:
n=int(input())
for i in range(1,11):
    mul=n*i
    pala="{n} x {i} = {mul}".format(n=n,i=i,mul=mul)
    print(pala)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [132]:
n=int(input())
l=[]
for i in range(0,n):
    s1=input()
    l.append(s1)

for strings in l:
    s2=strings[0:len(strings):2]
    s3=strings[1:len(strings):2]
    print(s2,s3)

2
Hacker
Rank
Hce akr
Rn ak

In [128]:
s1="Hacker"
s2=s1[0:len(s1):2]
s3=s1[1:len(s1):2]
print(s2,s3)

Hce akr

In [197]:
y=input().split( )
x=list(y)
z=x[::-1]
k=' '.join(z)
k=list(k)
print(k)

2 3 5
['5', ' ', '3', ' ', '2']

In [175]:
[input() for i in range(4)]

2
2
3
4

['2', '2', '3', '4']

In [203]:
n = int(input())

arr = list(map(int, input().rstrip().split()))
k=arr[::-1]
print(" ".join(str(x) for x in k))

2
3 4 5
5 4 3

In [202]:
n = int(input())
arr = list(map(int, input().rstrip().split()))
k=arr[::-1]
print(" ".join(str(x) for x in k))

1 2 3 4 5

In [3]:

def argskeyword(*args):
    for val in args:
        print(val)

In [6]:

l=["jay","hiren","prince","harshal"]
argskeyword(*l)

jay
hiren
prince
harshal

In [7]:

l=["jay","hiren","prince","harshal"]
argskeyword(l)

['jay', 'hiren', 'prince', 'harshal']

In [25]:
def kwargsword(**kwargs):
    for k,v in kwargs.items():
        print(k,v)

In [26]:
names={"jay":"talaviya","hiren":"lakhani"}
kwargsword(**names)

jay talaviya
hiren lakhani

In [27]:
#lambada

def square(num):
    return num*num

In [28]:
square(2)

4

In [29]:
squre2=lambda num:num*num

In [30]:
print(squre2(7))

49

In [31]:
add=lambda a,b:a+b

In [32]:
print(add(3,4))

7

In [33]:
fun=lambda string,num:string+"!"*num

In [34]:
fun("jay",3)

'jay!!!'

In [38]:
l=[1,2,3,4,5]
doubles=map(lambda x:x*2,l)

In [42]:
list(doubles)

[2, 4, 6, 8, 10]

In [45]:
people=["jay","hiren","prince","harshal"]
peeps=list(map(lambda name:name.upper(),people))

In [46]:
peeps

['JAY', 'HIREN', 'PRINCE', 'HARSHAL']

In [48]:
l1=[2,3,4,5,6,7]
list(map(lambda n:n+1,l1))

[3, 4, 5, 6, 7, 8]

In [50]:
l=[1,2,3,4,5,6,7,8,9,0]
evens=list(filter(lambda n:n%2==0,l))

In [51]:
evens

[2, 4, 6, 8, 0]

In [52]:
names=["austin","penny","anthony","angel","billy"]
name_with_a=list(filter(lambda x:x[0]=="a",names))

In [53]:
name_with_a

['austin', 'anthony', 'angel']

In [64]:
names=["austin","penny","anthony","angel","bil"]

list(map(lambda name:f"your instructor is {name}",
        filter(lambda value:len(value)<5,names)))

['your instructor is bil']

In [63]:
name_string

['austin', 'penny', 'anthony', 'angel', 'billy']

In [65]:
#all

all([0,1,2,3])

False

In [70]:
all([1,2,3,4])

True

In [71]:
any([0,1,2,3])

True

In [73]:
any([1,2,3,4])

True

In [74]:
any([0,0,0,0])

False

In [75]:
any([1,2,3])

True

In [67]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [68]:
people=["Charlie","Cassy","crins","peoples"]
all([name[0]=="C" for name in people])

False

In [69]:
[name[0]=="C" for name in people]

[True, True, False, False]

In [76]:
#sorted

l=[1,2,3,4,5,6,2,1,235,3,355322,23]
sorted(l)

[1, 1, 2, 2, 3, 3, 4, 5, 6, 23, 235, 355322]

In [77]:
sorted(l,reverse=True)

[355322, 235, 23, 6, 5, 4, 3, 3, 2, 2, 1, 1]

In [78]:
t=(1,2,42,1,42,564,23,53,23)
sorted(t)

[1, 1, 2, 23, 23, 42, 42, 53, 564]

In [79]:
songs=[
    {"title":"happy birthday","playcount":1},
    {"title":"Survive","playcount":6},
    {"title":"YMCA","playcount":99},
    {"title":"Toxic","playcount":31},
    
]

In [82]:
sorted(songs,key=lambda s:s["title"])

[{'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99},
 {'title': 'happy birthday', 'playcount': 1}]

In [83]:
sorted(songs,key=lambda s:s["playcount"])

[{'title': 'happy birthday', 'playcount': 1},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99}]

In [87]:
max([1,2,3,4,5])

5

In [88]:
min([1,2,3,5,6,7])

1

In [89]:
max('d','a','c')

'd'

In [90]:
max("hrllo")

'r'

In [91]:
min("abc")

'a'

In [92]:
names=["Arya",'Samson',"Dora","Tim","Ollivander"]
max(names,key=lambda n:len(n))

'Ollivander'

In [93]:
songs=[
    {"title":"happy birthday","playcount":1},
    {"title":"Survive","playcount":6},
    {"title":"YMCA","playcount":99},
    {"title":"Toxic","playcount":31},
    
]

In [94]:
max(songs,key=lambda s:s["playcount"])

{'title': 'YMCA', 'playcount': 99}

In [95]:
#reversed
l=[1,2,3,4,5]
reversed(l)

In [96]:
list(reversed(l))

[5, 4, 3, 2, 1]

In [97]:
#abs

abs(-23)

23

In [98]:
abs(-1.222)

1.222

In [100]:
sum([1,5,6])

12

In [101]:
sum((2,4,4))

10

In [102]:
sum({1,2,3})

6

In [103]:
sum([1,2,3],4)#4 is added

10

In [104]:
round(2.99999999999999999999999999999999999)

3

In [106]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [107]:
dict(zip(l1,l2))

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [109]:
midterms=[80,91,78]
finals=[9,89,53]
students=['dan','ang','kate']

In [110]:
final_grades=[max(pair) for pair in zip(midterms,finals)]

In [111]:
final_grades

[80, 91, 78]

In [120]:
final_grades={t[0]:max(t[1],t[2]) for t in zip(students,midterms,finals)}

In [121]:
final_grades

{'dan': 80, 'ang': 91, 'kate': 78}

In [125]:
def colorize(text,color):
    if type(text) is not str:
        raise TypeError("text must be instance of str")
    print(f"Printex {text} is {color}")

In [126]:
colorize("hello","red")

Printex hello is red

In [127]:
colorize(1,'red')

TypeError: text must be instance of str

In [136]:
 def colorize(text,color):
    colors=("blue","red")
    if type(text) is not str:
        raise TypeError("text must be instance of str")
    if color not in colors:
        raise ValueError("color is invalid color")
    print(f"Printex {text} is {color}")

In [138]:
colorize("hello","pink")

ValueError: color is invalid color

In [1]:
class Person:
    def __init__(self,initialAge):
        if initialAge<0:
            self.age=0
            print("Age is not valid, setting age to 0.")
        else:
            self.age=initialAge
    def amIOld(self):
        if self.age<13:
            print("You are young.")
        elif self.age>=13 and self.afe<18:
            print("You are a teenager.")
        else:
            print("You are old.")
    def yearPasses(self):
        self.age+=3

In [2]:
def factorial(n):
    if n==0:
        return 1
    elif n==1:
        return 1
    else:
        n=factorial(n-1)*n
        return n

In [5]:
factorial(5)

120

In [8]:
l=[]
com=[insert,print,remove,append,sort,pop,reverse]
N = int(input())
for i in range(0,N):
    n=input()
    l

4
insert(0,5)

AttributeError: 'list' object has no attribute 'n'

In [9]:
com=["insert","print","remove","append","sort",pop,reverse]

NameError: name 'insert' is not defined

In [12]:
s="Jay"

In [13]:
s.swapcase()

'jAY'

In [1]:
#----------------------------

In [79]:
strings=input()

baaba

In [111]:
num=0

for i in range(1,len(strings)+1):
    for j in range(0,len(strings)):
        if len(strings[j-i:j+1])==1:
            num=num+0
        else:
            temp=strings[j-i:j+1]
            xyz=0
            for k in range(len(temp)):
                print("k",temp[k],temp.count(temp[k]),end=",")
                xyz=temp.count(temp[k])
#                 if temp.count(temp[k])<temp.count(temp[k+1]):
#                 temp2=temp.count(temp[k+1])-temp.count(temp[k])
#                 num=num+abs(temp2)
        print()
#             print(strings[j-i:j+1],end=" ")
    print(i)
#     if len(strings[i:i+3])>=3:
#         print(strings[i:i+3],end=" ")
    

        #     else:
#         for j in range(len(strings)+1):
#             print("j",j)
    
#     for j in range(i+1):
#         print('j',i)
#     print()

k b 1,k a 1,
k a 2,k a 2,
k a 1,k b 1,
k b 1,k a 1,
1


k b 1,k a 2,k a 2,
k a 2,k a 2,k b 1,
k a 2,k b 1,k a 2,
2



k b 2,k a 2,k a 2,k b 2,
k a 3,k a 3,k b 1,k a 3,
3




k b 2,k a 3,k a 3,k b 2,k a 3,
4





5

In [94]:
li=["ab","ba","aa"]

In [134]:
r=input()
x=[]
for j in r:
    x.append(j)
for i in x:
    if i=="G":
        print("C",end="")
    elif i=="C":
        print("G",end="")
    elif i=="T":
        print("A",end="")
    elif i=="A":
        print("U",end="")
    else:
        print("Invalid Input",end="")

ACGUCGAU
UGCInvalid InputGCUInvalid Input

In [122]:
r=input()

ac

In [127]:
x

['a', 'c']

# loop exercise

In [68]:
# 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [83]:
for i in range(0,2):
    for j in range(0,5):
        if i<1:
            print("* "*j)
        else:
            print("* "*(5-j))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [90]:
inputs=input("Enter Your word and reverse it")
"".join(list(reversed(inputs)))

Enter Your word and reverse itjay talaviya

'ayivalat yaj'

In [91]:
for i in range(0,7):
    if i==3 or i==6:
        continue
    print(i)

0
1
2
4
5

In [1]:
fruits = ["apple", "banana", "orange"]

for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit)

apple
orange