In [ ]:
x=int(input("num1: "))
y=int(input("num2: "))
print(x+y)

In [ ]:
# type casting
# int()

print(int(1234.45))
print(int("10"))
print(int(True))
print(int(False))
print(int("10.5")) #error

In [4]:
print(int("0B1111")) #error

ValueError: invalid literal for int() with base 10: '0B1111'

In [6]:
# float()

print(float(1234.45))
print(float("10"))
print(float(True))
print(float(False))
print(float("10.5"))
print(float("ten")) #error
print(float("0B1111")) #error

1234.45
10.0
1.0
0.0
10.5

ValueError: could not convert string to float: 'ten'

In [9]:
# bool()

print(bool(1))
print(bool(True))
print(bool("False"))
print(bool(10.0))
print(bool(0.0))
print(bool(False))
print(bool(0))
print(bool(""))

True
True
True
True
False
False
False
False

In [12]:
# str

print(str(10))
print(str(10.9))
print(str("tru"))

10
10.9
tru

# Python operators

## 1. Arithmetic operator --> + -   *   /  **  % //

In [15]:
# + addition (str - concatenation)
# - sub
# * multiplication (str - string multiplication or repetition)
# / division (by default return type is float)
# ** power or exponent
# % modulus
# // floor division

In [1]:
x=int(input("num1: "))
y=int(input("num2: "))

print("addition: ",x+y)
print("subtraction: ",x-y)
print("multiplication: ",x*y)
print("division: ",x/y)
print("floor division: ",x//y)
print("modulus: ",x%y)
print("exponrnt: ",x**y)

num1: 3
num2: 2
addition:  5
subtraction:  1
multiplication:  6
division:  1.5
floor division:  1
modulus:  1
exponrnt:  9

In [2]:
# "arman"+10 --> error
# "arman"+"10"
# "hi"*2
# "hi"*2.5 -->error

## 2. Comparison or relational operator -->   > , <, >= , <= ,==, !=

In [5]:
# operators:  > , <, >= , <= ,==, !=

x=(input("num1: "))
y=(input("num2: "))

print("a>b: ",x>y)
print("a<b: ",x<y)
print("a>=b: ",x>=y)
print("a<=b: ",x<=y)
print("a==b: ",x==y)
print("a!=b: ",x!=y)

num1: Arman
num2: Arman
a>b:  False
a<b:  False
a>=b:  True
a<=b:  True
a==b:  True
a!=b:  False

In [10]:
print(True>=True)
print(10>=True)
print(False>=True)
print(10>20>30)
print(int(True))
print(True)

True
True
False
False
1
True

## 3. Logical Operators --> and, or, not

In [16]:
# Boolean type behavior --> true or false type of answers

print(True and False)
print(True or False)
print(not False)

False
True
True

In [17]:
# Non-Boolean type behavior 

'''
--> 0 means False
--> non zero means True
--> Empty string is always treated as False
'''

# a and b: if a evaluates as False then result is a otherwise b.
print(10 and 20) #20
print(0 and 20)  #0

# a or b: if a evaluates as True then result is a otherwise b.
print(10 and 20) #10
print(0 and 20)  #20

# not a: if a evaluates to False then result is True otherwise False.
print(not 10) # False
print(not 0)  #True

20
0
20
0
False
True

## 4. Ternary (conditional) operator 
 
### syntax: x= 1st value if conditon else 2nd value

In [18]:
a,b=10,20
x=30 if a<b else 40
print(x)

30

## 5. Assignment Operator -->  = ,    +=  ,   -=  ,   *=  ,   /=  ,  %=   ,  **=    , //=

## 6. Membership Operators --> in , not in

In [20]:
# in --> returns True if obeject is present in specific collection 
# not in --> returns True if given object is not present in specific collection 

x="Hello, learning python is very easy."
print("l" in x)
print("j" in x)
print("Python" in x)

True
False
False

In [22]:
a,b,c,d=1,2,3,4
print((a+b)* c/d)

2.25

In [3]:
# write a program to find the area of a triangle
b=int(input("num1: "))
a=int(input("num2: "))
c=0.5*b*a
print(c)

num1: 1
num2: 2
1.0

In [5]:
# area of circle

import math
r=int(input("radius: "))
c=math.pi*r*r
print(c)

radius: 2
12.566370614359172

In [8]:
# convert farenheit to celsius and vice versa

f=float(input("enter temperature in farenheit: "))
print((f-32)*(5/9))

enter temperature in farenheit: 109
42.77777777777778

In [9]:
c=float(input("enter temperature in celsius: "))
print(c/(5/9)+32)

enter temperature in celsius: 42.777777
108.9999986

In [15]:
# no. of days into yymmdd format

d=int(input("enter number of days: "))
yr=d//365
mon=(d%365)//30
days=(d%365)%30

print(yr," years ",mon," months ",days," days ")

enter number of days: 6980
19  years  1  months  15  days