# Assignment fun

In [2]:
a = 1
print(a)

1

In [3]:
a, b = 1, 2
print(a, b)

1 2

In [6]:
a, b = b, a
print(a,b)

1 2

In [10]:
a, b, c = 1, 2, 'drei'
print(a, b, c)

1 2 drei

# Sequential Datatypes

In [12]:
s = 'abc'
l = [1, 'eins', 'one']

In [14]:
for element in s:
    print(element)

a
b
c

In [16]:
for element in l:
    print(element)

1
eins
one

# Numbers

In [17]:
2**32-1

4294967295

In [18]:
2**32

4294967296

In [19]:
2**64-1

18446744073709551615

In [20]:
2**64

18446744073709551616

In [21]:
2**100

1267650600228229401496703205376

In [22]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

jjj Frage: int('a') conv. base 10

In [4]:
try:
    i = int('a')
except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'a'

In [7]:
i = int('a', 16)
i

10

## Floor Division

In [23]:
3/2

1.5

In [25]:
3//2

1

## Operator Precedence

Punktrechnung vor Strichrechnung

In [26]:
3*4+2

14

In [27]:
3*(4+2)

18

# Mutable vs. Immutable

In [45]:
l = [1, 2, 3]

In [47]:
id(l)

140372422909632

In [48]:
l1 = l

In [49]:
l

[1, 2, 3]

In [50]:
l1

[1, 2, 3]

In [51]:
id(l)

140372422909632

In [52]:
id(l1)

140372422909632

In [53]:
l.append(4)

In [54]:
id(l)

140372422909632

In [55]:
l

[1, 2, 3, 4]

In [56]:
l1

[1, 2, 3, 4]

In [57]:
id(l1)

140372422909632

In [58]:
i = 5

In [59]:
id(i)

140372540049840

In [60]:
j = i

In [61]:
id(j)

140372540049840

Immutable: Tuple

In [62]:
t = (1, 2, 3)

In [64]:
t

(1, 2, 3)

In [65]:
id(t)

140372423752128

In [66]:
t1 = t

In [67]:
id(t1)

140372423752128

# List

In [2]:
l = [1, 'one', 'uno']

In [3]:
l[0]

1

In [4]:
l[1]

'one'

In [5]:
l[2]

'uno'

jjjj Folien 19

In [6]:
a = [42, 'blah']

Frage: wir haben eine Liste mit 5 Eintraegen und loeschen was raus, was geschieht mit den Indizes?

In [8]:
a = [42, 'blah', 666, [1,2,3], {1:'one', 2:'two'}]

In [10]:
len(a)

5

In [11]:
a[4]

{1: 'one', 2: 'two'}

Wir wollen nun das Boese eliminieren

In [13]:
a[2]

666

In [14]:
del a[2]

In [16]:
len(a)

4

In [19]:
a[3]

{1: 'one', 2: 'two'}

Gibts in Python auch ein Array?
Antwort: ja, technisch gesehen gibt es eine Array, aber fuer uns reicht das Wissen, dass eine Liste das natuerlichste Array ist.

Modul ``array``

In [21]:
import array

mein_array = array.array('L')
type(mein_array)

array.array

In [22]:
mein_array.append(42)

In [23]:
mein_array.append(666)

In [25]:
try:
    mein_array.append([42, 'blah'])
except TypeError:
    print('nix array mischen')

nix array mischen

Und Matrix?

In [26]:
matrix = []
type(matrix)

list

Wos? Ich wollte eine 3x3 Matrix!

In [27]:
matrix.append([1,2,3])
matrix.append([4,5,6])
matrix.append([7,8,9])
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Oder auch so:

In [28]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
matrix[1][1]

5

In [30]:
matrix[1]

[4, 5, 6]

# Dictionary

In [69]:
d = {}

In [106]:
d = {1: 'one', 2: 'two'}

In [71]:
d[1]

'one'

In [74]:
try:
    d[3]
except KeyError:
    print('nix 3 drin')

nix 3 drin

In [76]:
d[3] = 'three'

In [77]:
d[3]

'three'

In [78]:
2 in d

True

In [79]:
3 in d

True

In [80]:
4 in d

False

In [81]:
del d[3]

In [107]:
3 in d

False

Dictionary Key muessen nicht Integers sein

In [109]:
noch_ein_dict = {'uno': 1, 2: 'two', 'two': 'due'}

In [111]:
noch_ein_dict['uno']

1

In [113]:
noch_ein_dict['uno'] = 666

In [115]:
noch_ein_dict['uno']

666

In [116]:
noch_ein_dict['uno'] = [1, 666]

In [118]:
noch_ein_dict['uno']

[1, 666]

Contructor

In [131]:
l = (['one', 1], ('two', 2), ('three', 3), 'ab')
l

(['one', 1], ('two', 2), ('three', 3), 'ab')

In [132]:
for k, v in l:
    if k == 'three':
        print(v)

3

In [135]:
d = dict(l)

In [134]:
d

{'one': 1, 'two': 2, 'three': 3, 'a': 'b'}

# Set

In [83]:
s = {1,2,3}

In [84]:
1 in s

True

In [85]:
s.remove(1)

In [86]:
1 in s

False

In [87]:
s.add(4)

In [88]:
4 in s

True

In [89]:
s

{2, 3, 4}

In [90]:
another_s = {3, 4, 5}

In [92]:
s | another_s

{2, 3, 4, 5}

In [93]:
s & another_s

{3, 4}

In [94]:
s - another_s

{2}

In [95]:
s ^ another_s

{2, 5}

# Exercises, Folie 51

In [96]:
l = []
l.append(42)
l.append(1.2)
l.append(True)
l.append([1, 'zwei', 3])
l.append({5,6,7})
l.append({1:'one', 2:'zwei'})
l

[42, 1.2, True, [1, 'zwei', 3], {5, 6, 7}, {1: 'one', 2: 'zwei'}]

In [97]:
type(l[5])

dict

In [98]:
type(l[4])

set

# Functions

In [5]:
l = 666
r = 42
summe = l+r
summe

708

In [6]:
def add(l, r):
    s = l + r
    return s

In [7]:
summe = add(666, 42)
summe

708