In [36]:
import pdfplumber
import pandas as pd
import re
import os


def extract_data_from_pdf(pdf_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_text = ''
        for page in pdf.pages:
            text = page.extract_text()
            if text:
                all_text += text + '\n'
    return all_text


def parse_data(text):
    lines = text.split('\n')
    data = []
    for i, line in enumerate(lines[3:]):  # Skip the header row in the PDF text
        try:
            # Remove "merania 2023" if present
            line = line.replace('merania 2023', '').strip()

            # Split the line into parts
            parts = line.split()

            if len(parts) >= 7:
                usek, cesta = parts[:2]
                okres_parts = parts[2:-4]  # Get OKRES parts
                okres = ' '.join(okres_parts)
                survey_parts = parts[-4:]

                # Handle different scenarios based on number of elements
                if len(survey_parts) == 7:
                    T = survey_parts[0] + survey_parts[1]
                    O = survey_parts[2] + survey_parts[3]
                    M = survey_parts[4]
                    S = survey_parts[5] + survey_parts[6]
                elif len(survey_parts) == 6:
                    T = survey_parts[0]
                    O = survey_parts[1] + survey_parts[2]
                    M = survey_parts[3]
                    S = survey_parts[4] + survey_parts[5]
                else:
                    T, O, M, S = survey_parts

                # Convert to integers
                T, O, M, S = map(lambda x: int(
                    x.replace(' ', '')), [T, O, M, S])
                data.append([usek, cesta, okres, T, O, M, S])

        except ValueError as e:
            print(f"Error processing line {i+4}: {line}")
            print(f"Error: {e}")
            # Optional: You can choose to break the loop or continue processing
            # break

    return data



# List of your PDF files
pdf_files = [
    'Data/surveys/csd_tabulka_ba_2022_2023.pdf',
    'Data/surveys/csd_tabulka_bb_2022_2023.pdf',
    'Data/surveys/csd_tabulka_ke_2022_2023.pdf',
    'Data/surveys/csd_tabulka_nr_2022_2023.pdf',
    'Data/surveys/csd_tabulka_po_2022_2023.pdf',
    'Data/surveys/csd_tabulka_tn_2022_2023.pdf',
    'Data/surveys/csd_tabulka_tt_2022_2023.pdf',
    'Data/surveys/csd_tabulka_za_2022_2023.pdf'
]

# List of your PDF files
pdf_files = [
    'Data/surveys/csd_tabulka_tt_2022_2023.pdf'
]

# Initialize an empty DataFrame
all_data = pd.DataFrame()

# Loop through the PDF files
for file in pdf_files:
    text_data = extract_data_from_pdf(file)
    file_data = parse_data(text_data)
    df = pd.DataFrame(file_data, columns=[
                      'ÚSEK', 'CESTA', 'OKRES', 'T', 'O', 'M', 'S'])
    all_data = pd.concat([all_data, df], ignore_index=True)

# Print the combined DataFrame to verify
print(all_data.head(20))

Error processing line 56: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
Error processing line 109: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
Error processing line 162: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
Error processing line 215: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
Error processing line 268: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
Error processing line 321: ÚSEK CESTA OKRES T O M S Poznámka
Error: invalid literal for int() with base 10: 'O'
     ÚSEK CESTA                     OKRES    T    O   M    S
0   87036    D1          Trnava 10 734 38  336  115  49  185
1   87040    D1         Hlohovec 7 140 24   76   71  31  286
2   87060    D1         Hlohovec 7 631 24  337   70  32   38
3   87070    D1         Piešťany 7 081 21  392   60  28  533
4   87009    D2           Senica 10 036 9  245   52  19  332
5   80318    R1          Galanta 8 594 30  540   54  39  188
6   80796    R1           Trnava 4 419 27  680  102  32  201
7   80815    R1         Galanta 11 864 39   84   83  51   31
8   80816    R1          Galanta 9 384 34  981  101  44  466
9   80817    R1          Galanta 9 960 35  108   79  45  147
10  80818    R1           Trnava 8 573 40  280  112  48  966
11  80819    R1         Galanta 11 134 34  574   82  45  790
12  86550    R1          Trnava 10 267 37  884   69  48  220
13  86660    R7  Dunajská Streda 2 048 10  535   39  12  622
14  86670    R7   Dunajská Streda 1 842 6  765   25   8  632
15  80066     2            Senica 1 574 7   83   27   8  684
16  80070     2              Senica 513 3  632   49   4  194
17  81862     2          Skalica 1 246 11  843   64  13  153
18  81866     2             Skalica 800 6  226   42   7   68
19  81867     2              Senica 622 3  737   30   4  389

In [51]:
import pdfplumber
import pandas as pd
import re
import os


def extract_data_from_pdf(pdf_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_text = ''
        for page in pdf.pages:
            text = page.extract_text()
            if text:
                all_text += text + '\n'
    return all_text


def parse_data(text):
    lines = text.split('\n')
    data = []
    for line in lines[3:]:  # Skip the header row in the PDF text
        # Remove "merania 2023" if present
        line = line.replace('merania 2023', '').strip()

        # Split the line into parts
        parts = line.split()

        # Check if there are enough parts to parse
        if len(parts) >= 7:
            # ÚSEK is always the first number
            usek = parts[0]

            # CESTA is the second element (number or string like D1, D2, R1, etc.)
            cesta = parts[1]

            # OKRES can be more complex, handle multiple words
            okres_parts = []
            for part in parts[2:]:
                if part.isdigit():
                    break  # Stop when a number is reached
                okres_parts.append(part)
            okres = ' '.join(okres_parts)

            # The rest of the line is the survey data
            survey = ' '.join(parts[len(okres_parts) + 2:])

            data.append([usek, cesta, okres, survey])
    return data



# List of your PDF files
pdf_files = [
    'Data/surveys/csd_tabulka_ba_2022_2023.pdf',
    'Data/surveys/csd_tabulka_bb_2022_2023.pdf',
    'Data/surveys/csd_tabulka_ke_2022_2023.pdf',
    'Data/surveys/csd_tabulka_nr_2022_2023.pdf',
    'Data/surveys/csd_tabulka_po_2022_2023.pdf',
    'Data/surveys/csd_tabulka_tn_2022_2023.pdf',
    'Data/surveys/csd_tabulka_tt_2022_2023.pdf',
    'Data/surveys/csd_tabulka_za_2022_2023.pdf'
]

# Initialize an empty DataFrame
all_data = pd.DataFrame()

# Loop through the PDF files
for file in pdf_files:
    text_data = extract_data_from_pdf(file)
    file_data = parse_data(text_data)
    df = pd.DataFrame(file_data, columns=['ÚSEK', 'CESTA', 'OKRES', 'Survey'])
    all_data = pd.concat([all_data, df], ignore_index=True)

# Print the combined DataFrame to verify
print(all_data.head(20))

     ÚSEK CESTA           OKRES                     Survey
0   87020    D1           Senec    8 968 49 958 140 59 067
1   87021    D1   Bratislava II   17 990 77 187 284 95 461
2   87022    D1   Bratislava II   19 656 80 026 294 99 975
3   87023    D1   Bratislava II  18 284 82 817 305 101 407
4   87024    D1   Bratislava II   12 239 58 640 216 71 095
5   87025    D1   Bratislava II   13 671 69 430 257 83 357
6   87026    D1    Bratislava V   15 154 58 639 215 74 008
7   87028    D1   Bratislava II   11 809 63 728 236 75 773
8   87030    D1           Senec   10 834 47 579 138 58 551
9   87220    D1  Bratislava III    9 524 54 755 203 64 482
10  87010    D2         Malacky    10 541 12 313 66 22 920
11  87011    D2   Bratislava IV   13 233 45 896 219 59 348
12  87012    D2   Bratislava IV   12 646 52 092 250 64 989
13  87013    D2    Bratislava V    11 379 22 173 48 33 600
14  87015    D2    Bratislava V   15 688 78 320 379 94 387
15  87016    D2         Malacky   13 002 19 350 100 32 452
16  87017    D2   Bratislava IV   11 712 29 645 145 41 501
17  87018    D2    Bratislava V      9 201 7 567 33 16 801
18  87140    D2         Malacky   13 337 25 597 128 39 063
19  86210    D4           Senec     1 025 12 028 85 13 138

In [53]:
all_data

       ÚSEK  CESTA                   OKRES                     Survey
0     87020     D1                   Senec    8 968 49 958 140 59 067
1     87021     D1           Bratislava II   17 990 77 187 284 95 461
2     87022     D1           Bratislava II   19 656 80 026 294 99 975
3     87023     D1           Bratislava II  18 284 82 817 305 101 407
4     87024     D1           Bratislava II   12 239 58 640 216 71 095
...     ...    ...                     ...                        ...
2810  94920   2338       Liptovský Mikuláš         172 2 380 23 2 575
2811  95211   2341       Liptovský Mikuláš         381 1 835 11 2 227
2812  94040   2358       Liptovský Mikuláš              85 529 10 624
2813   ÚSEK  CESTA  OKRES T O M S Poznámka
2814  94041   2358       Liptovský Mikuláš              123 842 6 971

[2815 rows x 4 columns]

In [54]:
def clean_data(df):
    def is_valid_row(row):
        # Split the survey data by space and check if it's empty
        parts = row['Survey'].split()
        if not parts:
            return False

        try:
            # Convert each part to integer
            numeric_parts = [int(part.replace(' ', '')) for part in parts]

            # Check if the length of numeric_parts is 4 or more
            return len(numeric_parts) >= 4
        except ValueError:
            # If conversion fails, the row is not valid
            return False

    # Apply the is_valid_row function to filter the DataFrame
    cleaned_df = df[df.apply(is_valid_row, axis=1)]

    return cleaned_df


# Apply the cleaning function to all_data
cleaned_all_data = clean_data(all_data)

# Save the DataFrame to a CSV file
# Specify your desired path and file name
csv_file_path = 'Data/surveys/Combined.csv'
cleaned_all_data.to_csv(csv_file_path, index=False)

print(f"Data saved to {csv_file_path}")

Data saved to Data/surveys/Combined.csv

In [24]:
extract_data_from_pdf('Data/surveys/csd_tabulka_tt_2022_2023.pdf')

'CELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n87036 D1 Trnava 10 734 38 336 115 49 185\n87040 D1 Hlohovec 7 140 24 076 71 31 286\n87060 D1 Hlohovec 7 631 24 337 70 32 038\n87070 D1 Piešťany 7 081 21 392 60 28 533\n87009 D2 Senica 10 036 9 245 52 19 332\n80318 R1 Galanta 8 594 30 540 54 39 188 merania 2023\n80796 R1 Trnava 4 419 27 680 102 32 201\n80815 R1 Galanta 11 864 39 084 83 51 031 merania 2023\n80816 R1 Galanta 9 384 34 981 101 44 466 merania 2023\n80817 R1 Galanta 9 960 35 108 79 45 147 merania 2023\n80818 R1 Trnava 8 573 40 280 112 48 966\n80819 R1 Galanta 11 134 34 574 82 45 790 merania 2023\n86550 R1 Trnava 10 267 37 884 69 48 220 merania 2023\n86660 R7 Dunajská Streda 2 048 10 535 39 12 622\n86670 R7 Dunajská Streda 1 842 6 765 25 8 632\n80066 2 Senica 1 574 7 083 27 8 684\n80070 2 Senica 513 3 632 49 4 194\n81862 2 Skalica 1 246 11 843 64 13 153\n81866 2 Skalica 800 6 226 42 7 068\n81867 2 Senica 622 3 737 30 4 389\n82126 13 Dunajská Streda 1 001 2 883 49 3 933\n85470 13 Dunajská Streda 857 1 768 13 2 638\n85471 13 Dunajská Streda 1 241 4 682 17 5 940\n85477 13 Dunajská Streda 1 164 2 307 57 3 528\n80830 35 Galanta 3 435 9 831 90 13 356\n86560 35 Galanta 3 106 5 702 21 8 829\n80196 51 Trnava 3 612 7 785 48 11 445\n80710 51 Skalica 1 010 4 343 33 5 386\n80711 51 Skalica 1 607 7 377 49 9 033\n80712 51 Skalica 1 576 6 216 38 7 830\n80720 51 Skalica 1 764 4 553 41 6 358\n80730 51 Skalica 1 704 4 817 30 6 551\n80740 51 Senica 1 570 4 075 31 5 676\n80741 51 Senica 2 797 13 994 77 16 868\n80742 51 Senica 2 193 6 571 81 8 845\n80750 51 Senica 2 408 5 963 59 8 430\n80768 51 Senica 2 263 4 137 42 6 442\n80769 51 Trnava 2 430 3 925 45 6 400\n80770 51 Trnava 2 419 4 723 32 7 174\n80780 51 Trnava 2 877 8 574 64 11 515\n85520 51 Trnava 5 692 21 268 80 27 040\n85522 51 Trnava 4 515 15 510 84 20 109\n85526 51 Trnava 4 608 19 204 88 23 900\n80179 61 Trnava 635 3 331 40 4 006\n80190 61 Trnava 1 360 11 173 69 12 602\n80191 61 Trnava 2 002 12 740 105 14 847\n80200 61 Trnava 940 8 261 55 9 256\n80207 61 Hlohovec 689 5 961 66 6 716\n80210 61 Hlohovec 637 4 031 40 4 708 merania 2023\n1\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n80220 61 Hlohovec 886 5 806 75 6 767 merania 2023\n80230 61 Piešťany 650 6 299 55 7 004 merania 2023\n80231 61 Piešťany 814 7 286 34 8 134 merania 2023\n80232 61 Piešťany 1 053 12 483 71 13 607\n80233 61 Piešťany 903 6 878 73 7 854\n80248 61 Piešťany 725 7 011 53 7 789\n80250 61 Piešťany 770 6 488 49 7 307\n80793 61 Trnava 1 802 19 578 101 21 481\n80795 61 Trnava 2 641 23 819 107 26 567\n80289 62 Galanta 1 816 6 894 46 8 756\n80296 62 Galanta 2 407 8 622 78 11 107\n80297 62 Galanta 2 691 8 804 89 11 584\n80300 62 Galanta 2 050 5 779 48 7 877\n80306 62 Galanta 2 213 6 190 67 8 470\n80310 62 Galanta 773 6 149 47 6 969 merania 2023\n80811 62 Galanta 1 000 13 374 31 14 405 merania 2023\n80812 62 Galanta 1 102 10 320 87 11 509 merania 2023\n80814 62 Galanta 825 4 233 159 5 217 merania 2023\n81471 63 Dunajská Streda 1 373 12 720 169 14 262\n81479 63 Dunajská Streda 1 009 10 317 86 11 412\n81480 63 Dunajská Streda 1 088 8 802 99 9 989\n81490 63 Dunajská Streda 647 4 747 37 5 431\n81496 63 Dunajská Streda 761 5 107 29 5 897\n81500 63 Dunajská Streda 3 310 14 294 74 17 678\n81507 63 Dunajská Streda 2 968 8 777 33 11 778\n81510 63 Dunajská Streda 2 463 9 537 64 12 064\n81516 63 Dunajská Streda 3 400 9 904 45 13 349\n81517 63 Dunajská Streda 3 270 8 418 43 11 731\n81520 63 Dunajská Streda 1 983 6 185 35 8 203\n81521 63 Dunajská Streda 1 901 8 750 52 10 703\n81522 63 Dunajská Streda 1 584 5 554 41 7 179\n81523 63 Dunajská Streda 2 283 6 734 56 9 073\n81526 63 Dunajská Streda 2 168 5 597 28 7 793\n81538 63 Dunajská Streda 1 544 5 140 49 6 733\n81330 75 Galanta 1 945 9 347 72 11 364\n81340 75 Galanta 2 618 10 564 47 13 229\n86570 75 Galanta 2 199 5 727 58 7 984\n86580 75 Galanta 2 936 6 901 31 9 868\n86590 75 Galanta 3 145 7 472 49 10 666\n86120 211 Dunajská Streda 743 1 904 12 2 659\n80060 425 Senica 161 2 031 18 2 210\n80069 425 Skalica 237 1 869 10 2 116\n81860 426 Skalica 1 473 11 626 121 13 220\n81861 426 Skalica 1 144 9 499 64 10 707\n84200 426 Skalica 497 1 884 20 2 401\n81901 499 Piešťany 767 3 931 69 4 767\n81902 499 Piešťany 1 407 10 685 108 12 200\n81909 499 Piešťany 397 2 339 22 2 758\n81910 499 Piešťany 1 711 11 464 59 13 234\n2\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n81911 499 Piešťany 1 277 12 447 80 13 804 merania 2023\n81912 499 Piešťany 1 729 14 134 92 15 955 merania 2023\n81913 499 Piešťany 1 096 12 497 192 13 785 merania 2023\n81916 499 Piešťany 1 653 8 636 94 10 383\n81917 499 Piešťany 1 562 9 206 49 10 817\n81928 499 Piešťany 706 3 974 66 4 746 merania 2023\n80910 500 Senica 792 3 663 24 4 479\n80920 500 Senica 1 053 4 293 32 5 378\n80930 500 Senica 1 515 6 052 62 7 629\n80940 500 Senica 1 155 6 843 44 8 042\n80941 500 Senica 1 120 7 810 85 9 015\n80942 500 Senica 781 6 453 55 7 289\n80950 500 Senica 641 3 352 45 4 038\n81950 500 Senica 133 882 12 1 027\n82000 501 Senica 412 1 198 38 1 648\n82007 501 Senica 484 1 913 55 2 452\n81060 502 Trnava 449 1 973 39 2 461\n81067 502 Trnava 488 2 561 38 3 087\n81080 502 Trnava 679 2 990 39 3 708\n83400 502 Piešťany 534 3 060 38 3 632\n83401 502 Piešťany 681 3 953 48 4 682\n83410 502 Trnava 530 3 000 44 3 574\n83420 502 Trnava 407 1 761 24 2 192\n83427 502 Trnava 383 1 352 15 1 750\n81590 503 Dunajská Streda 1 058 7 744 44 8 846\n81597 503 Dunajská Streda 1 799 11 526 74 13 399\n81600 503 Dunajská Streda 944 5 044 36 6 024\n81618 503 Dunajská Streda 1 038 3 966 31 5 035\n80794 504 Trnava 1 552 8 749 43 10 344\n82039 504 Trnava 295 4 923 30 5 248\n82040 504 Trnava 492 3 518 55 4 065\n82041 504 Trnava 1 287 13 413 80 14 780\n82050 504 Piešťany 390 2 442 24 2 856\n82060 504 Piešťany 581 4 223 44 4 848\n82078 504 Piešťany 406 2 383 36 2 825\n82100 506 Dunajská Streda 305 1 700 21 2 026\n82116 506 Dunajská Streda 405 2 408 21 2 834\n82117 506 Dunajská Streda 428 3 017 35 3 480\n82120 506 Dunajská Streda 319 2 273 40 2 632\n82127 506 Dunajská Streda 303 1 922 32 2 257\n80821 507 Galanta 1 394 10 818 92 12 304\n80831 507 Galanta 849 9 827 53 10 729\n80832 507 Galanta 913 11 556 106 12 575\n80840 507 Galanta 1 215 4 046 26 5 287\n80841 507 Galanta 1 067 11 604 90 12 761\n80858 507 Galanta 843 2 929 35 3 807\n80859 507 Galanta 1 397 4 338 23 5 758\n80866 507 Dunajská Streda 1 443 5 702 34 7 179\n80871 507 Dunajská Streda 1 388 14 396 125 15 909\n3\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n82130 507 Dunajská Streda 528 5 276 45 5 849\n82140 507 Dunajská Streda 882 6 748 34 7 664\n82141 507 Dunajská Streda 1 315 11 674 93 13 082\n82158 507 Galanta 346 3 041 19 3 406 merania 2023\n82159 507 Hlohovec 212 1 277 8 1 497 merania 2023\n82170 507 Hlohovec 326 2 906 21 3 253 merania 2023\n82171 507 Hlohovec 1 573 14 180 57 15 810 merania 2023\n82181 507 Hlohovec 1 546 10 211 113 11 870 merania 2023\n82190 507 Hlohovec 496 4 629 108 5 233 merania 2023\n82200 507 Piešťany 268 1 816 46 2 130 merania 2023\n82201 507 Piešťany 768 6 969 85 7 822\n82218 507 Piešťany 577 2 579 30 3 186\n85992 507 Galanta 763 8 226 50 9 039\n82940 510 Dunajská Streda 354 2 041 13 2 408\n82946 510 Dunajská Streda 400 2 810 22 3 232\n82970 510 Galanta 1 046 4 589 32 5 667\n82979 510 Galanta 493 3 157 42 3 692\n81130 513 Hlohovec 621 3 609 18 4 248\n81136 513 Hlohovec 2 152 11 790 37 13 979 merania 2023\n81140 513 Hlohovec 2 126 15 538 137 17 801 merania 2023\n81141 513 Hlohovec 1 392 11 977 86 13 455 merania 2023\n81159 513 Hlohovec 1 312 6 209 64 7 585 merania 2023\n82460 514 Hlohovec 398 2 335 31 2 764 merania 2023\n83440 560 Trnava 621 7 419 33 8 073\n83446 560 Trnava 372 2 734 25 3 131\n82530 561 Dunajská Streda 580 3 435 24 4 039\n82531 561 Dunajská Streda 558 2 939 12 3 509\n82540 561 Dunajská Streda 449 1 342 21 1 812\n82556 561 Dunajská Streda 761 1 558 8 2 327\n82558 561 Dunajská Streda 1 069 3 086 20 4 175\n82559 561 Galanta 1 008 2 503 23 3 534\n82560 561 Galanta 839 1 825 16 2 680\n82570 561 Galanta 1 283 5 293 23 6 599\n82576 561 Galanta 888 2 592 27 3 507\n82581 561 Galanta 949 8 961 71 9 981\n82582 561 Galanta 2 009 10 013 119 12 141\n81502 572 Dunajská Streda 1 061 14 750 102 15 913\n81503 572 Dunajská Streda 968 15 906 115 16 989\n81506 572 Dunajská Streda 997 9 564 37 10 598\n82660 572 Dunajská Streda 665 4 250 29 4 944\n82669 572 Dunajská Streda 646 5 028 54 5 728\n82670 572 Dunajská Streda 590 3 684 31 4 305\n82677 572 Dunajská Streda 739 5 376 31 6 146\n82680 572 Dunajská Streda 531 4 904 21 5 456\n82690 572 Dunajská Streda 535 6 221 25 6 781\n82691 572 Dunajská Streda 975 17 776 98 18 849\n83030 573 Galanta 984 4 427 12 5 423\n80960 581 Senica 757 2 721 28 3 506\n85960 581 Senica 406 1 394 24 1 824\n4\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n82806 590 Senica 360 2 255 27 2 642\n82807 590 Senica 500 2 543 45 3 088\n83540 590 Skalica 257 3 247 36 3 540\n83541 590 Skalica 361 4 272 43 4 676\n83550 590 Senica 110 782 15 907\n85761 1056 Dunajská Streda 571 6 259 62 6 892\n85769 1056 Dunajská Streda 262 3 584 22 3 868\n86119 1062 Dunajská Streda 645 3 075 37 3 757\n82980 1067 Galanta 271 1 655 22 1 948\n85650 1111 Senica 180 1 167 17 1 364\n86150 1121 Skalica 267 2 567 29 2 863\n81850 1130 Skalica 50 783 7 840\n81851 1130 Skalica 137 2 283 19 2 439\n84570 1134 Skalica 284 1 878 26 2 188\n84571 1134 Skalica 215 1 893 22 2 130\n84572 1134 Skalica 245 2 191 23 2 459\n84576 1134 Skalica 188 1 965 19 2 172\n83520 1140 Senica 309 2 356 20 2 685\n83526 1140 Senica 217 1 734 14 1 965\n86320 1144 Senica 139 1 573 13 1 725\n85640 1145 Senica 132 690 5 827\n81852 1146 Skalica 665 8 776 50 9 491\n83580 1146 Skalica 251 3 309 24 3 584\n83581 1146 Skalica 520 7 337 59 7 916\n83586 1146 Senica 204 1 401 16 1 621\n83587 1146 Skalica 126 834 18 978\n83590 1149 Senica 240 2 135 18 2 393\n83591 1149 Senica 726 6 183 29 6 938\n83596 1149 Senica 161 1 004 11 1 176\n85950 1155 Senica 128 898 21 1 047\n85951 1155 Skalica 194 2 211 31 2 436\n84590 1169 Senica 140 854 49 1 043\n83850 1257 Piešťany 332 2 530 26 2 888\n83851 1257 Piešťany 445 3 412 33 3 890\n84858 1261 Piešťany 310 1 817 9 2 136\n83430 1265 Piešťany 153 718 14 885\n85980 1266 Piešťany 302 1 549 26 1 877\n84890 1267 Piešťany 308 1 442 26 1 776\n85160 1277 Trnava 144 1 470 14 1 628\n83490 1279 Trnava 723 3 563 31 4 317\n83491 1279 Trnava 685 4 696 20 5 401\n83496 1279 Trnava 369 3 289 53 3 711\n86400 1286 Trnava 329 2 612 16 2 957\n86410 1286 Trnava 244 1 334 13 1 591\n83470 1287 Trnava 277 2 696 29 3 002\n83471 1287 Trnava 723 8 342 61 9 126\n83500 1291 Trnava 522 1 976 49 2 547\n83508 1291 Trnava 303 1 522 20 1 845\n83460 1295 Trnava 765 6 409 48 7 222\n5\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n83468 1295 Trnava 140 1 137 10 1 287\n83450 1299 Trnava 314 2 778 30 3 122\n83456 1299 Trnava 129 915 10 1 054\n85540 1300 Trnava 255 2 409 17 2 681\n85550 1301 Trnava 280 1 857 27 2 164\n85556 1301 Trnava 135 1 064 25 1 224\n84880 1310 Hlohovec 375 1 812 14 2 201\n85690 1311 Hlohovec 226 1 615 9 1 850\n85696 1311 Trnava 149 1 244 11 1 404\n85590 1313 Galanta 512 2 446 48 3 006\n85598 1313 Galanta 363 1 593 12 1 968\n83390 1315 Hlohovec 162 1 493 11 1 666\n85510 1319 Hlohovec 444 3 631 60 4 135 merania 2023\n85517 1319 Hlohovec 627 5 059 47 5 733 merania 2023\n82960 1320 Galanta 543 5 417 60 6 020 merania 2023\n82961 1320 Galanta 751 7 371 92 8 214 merania 2023\n85170 1320 Hlohovec 439 2 673 39 3 151 merania 2023\n85176 1320 Trnava 604 4 780 83 5 467 merania 2023\n80813 1331 Galanta 978 10 251 0 11 229 merania 2023\n80291 1333 Galanta 586 3 960 38 4 584\n80292 1333 Galanta 658 6 091 70 6 819\n86030 1333 Galanta 392 2 136 15 2 543\n83871 1334 Galanta 483 3 313 33 3 829\n83877 1334 Galanta 412 2 496 22 2 930\n83878 1334 Galanta 325 2 136 30 2 491\n82950 1336 Galanta 309 1 522 14 1 845\n82951 1336 Galanta 558 3 142 36 3 736\n83880 1337 Galanta 166 1 318 18 1 502\n83881 1337 Galanta 219 2 337 22 2 578\n86420 1337 Trnava 353 2 316 30 2 699\n86430 1337 Trnava 218 1 384 11 1 613\n84300 1340 Galanta 504 2 510 23 3 037\n85810 1345 Galanta 356 2 116 41 2 513\n85820 1345 Galanta 187 1 160 19 1 366\n83861 1347 Galanta 106 550 11 667\n85830 1349 Galanta 314 1 558 9 1 881\n83841 1352 Galanta 273 4 637 19 4 929\n85850 1355 Galanta 226 1 860 28 2 114\n82860 1382 Dunajská Streda 325 1 891 28 2 244\n82910 1394 Dunajská Streda 365 3 232 29 3 626\n82920 1394 Dunajská Streda 303 1 374 11 1 688\n82927 1394 Dunajská Streda 202 1 386 15 1 603\n82880 1395 Dunajská Streda 478 4 165 41 4 684\n82900 1395 Dunajská Streda 267 1 684 8 1 959\n82840 1399 Dunajská Streda 301 2 085 13 2 399\n83831 1405 Dunajská Streda 293 3 716 14 4 023\n83838 1405 Dunajská Streda 97 1 235 4 1 336\n86130 1406 Dunajská Streda 773 6 688 37 7 498\n86500 1408 Dunajská Streda 370 2 362 27 2 759\n6\nCELOŠTÁTNE SČÍTANIE DOPRAVY R. 2022-2023\nTrnavský kraj\nÚSEK CESTA OKRES T O M S Poznámka\n82870 1418 Dunajská Streda 1 208 4 466 35 5 709\n82871 1418 Dunajská Streda 571 4 947 23 5 541\n82876 1418 Dunajská Streda 251 1 447 22 1 720\n85580 1421 Dunajská Streda 384 2 357 113 2 854\n85586 1421 Dunajská Streda 203 1 504 33 1 740\n85587 1421 Dunajská Streda 182 2 251 46 2 479\n85240 1422 Dunajská Streda 86 474 6 566\n85770 1429 Dunajská Streda 250 1 496 43 1 789\n85780 1431 Dunajská Streda 227 1 645 12 1 884\n86440 1435 Dunajská Streda 30 384 4 418\n7\n'

UNTIL SERVEY IS DONE

In [1]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = 'Data/surveys/Combined.csv'

# Load the CSV file into a DataFrame
df_survey = pd.read_csv(csv_file_path)

df_survey

       ÚSEK CESTA              OKRES                     Survey
0     87020    D1              Senec    8 968 49 958 140 59 067
1     87021    D1      Bratislava II   17 990 77 187 284 95 461
2     87022    D1      Bratislava II   19 656 80 026 294 99 975
3     87023    D1      Bratislava II  18 284 82 817 305 101 407
4     87024    D1      Bratislava II   12 239 58 640 216 71 095
...     ...   ...                ...                        ...
2752  94911  2337  Liptovský Mikuláš         459 2 798 29 3 286
2753  94920  2338  Liptovský Mikuláš         172 2 380 23 2 575
2754  95211  2341  Liptovský Mikuláš         381 1 835 11 2 227
2755  94040  2358  Liptovský Mikuláš              85 529 10 624
2756  94041  2358  Liptovský Mikuláš              123 842 6 971

[2757 rows x 4 columns]

In [2]:
# Define a function to count the number of elements in a list
def count_elements_in_list(survey_str):
    # Split the string by space and count the elements
    elements = survey_str.split()
    return len(elements)


# Apply the function to the "Survey" column and store the result in a new column "n_elems"
df_survey['n_elems'] = df_survey['Survey'].apply(count_elements_in_list)

In [14]:
df_survey

       ÚSEK CESTA              OKRES                     Survey  n_elems
0     87020    D1              Senec    8 968 49 958 140 59 067        7
1     87021    D1      Bratislava II   17 990 77 187 284 95 461        7
2     87022    D1      Bratislava II   19 656 80 026 294 99 975        7
3     87023    D1      Bratislava II  18 284 82 817 305 101 407        7
4     87024    D1      Bratislava II   12 239 58 640 216 71 095        7
...     ...   ...                ...                        ...      ...
2752  94911  2337  Liptovský Mikuláš         459 2 798 29 3 286        6
2753  94920  2338  Liptovský Mikuláš         172 2 380 23 2 575        6
2754  95211  2341  Liptovský Mikuláš         381 1 835 11 2 227        6
2755  94040  2358  Liptovský Mikuláš              85 529 10 624        4
2756  94041  2358  Liptovský Mikuláš              123 842 6 971        4

[2757 rows x 5 columns]

In [5]:
df_survey["n_elems"].value_counts()

n_elems
6    1486
7     909
4     280
5      82
Name: count, dtype: int64

In [15]:
def process_survey(row):
    parts = row['Survey'].split()
    n_elems = len(parts)

    if n_elems == 7:
        # Combine elements (0,1), (2,3), and (5,6)
        T = int(parts[0] + parts[1])
        O = int(parts[2] + parts[3])
        M = int(parts[4])
        S = int(parts[5] + parts[6])
    elif n_elems == 6:
        # Combine elements (1,2) and (4,5)
        T = int(parts[0])
        O = int(parts[1] + parts[2])
        M = int(parts[3])
        S = int(parts[4] + parts[5])
    elif n_elems == 5:
        # Combine elements (3,4)
        T = int(parts[0])
        O = int(parts[1])
        M = int(parts[2])
        S = int(parts[3] + parts[4])
    elif n_elems == 4:
        # Use elements as they are
        T, O, M, S = map(int, parts)
    else:
        # Handle unexpected format
        T = O = M = S = None

    return pd.Series([T, O, M, S])


# Apply the processing function to each row
df_survey[['T', 'O', 'M', 'S']] = df_survey.apply(process_survey, axis=1)

In [27]:
# Update the values for row 2425
df_survey.at[2425, 'T'] = 1551
df_survey.at[2425, 'O'] = 923
df_survey.at[2425, 'M'] = 10
df_survey.at[2425, 'S'] = 2484

In [28]:
# Add a new column "check" to check if S is the sum of T, O, and M
df_survey['check'] = df_survey['S'] - ( df_survey['T'] + \
    df_survey['O'] + df_survey['M'] )

In [29]:
df_survey['check'].value_counts()

check
 0    2723
 1      19
-1      15
Name: count, dtype: int64

In [31]:
selected_columns = ['ÚSEK', 'CESTA', 'OKRES', 'T', 'O', 'M', 'S']
df_survey[selected_columns].to_csv(
    'Data/surveys/Survey.csv', index=False)