In [1]:
a = 10

In [2]:
a = "neel"

In [3]:
type(a)

str

In [4]:
int("123")

123

In [5]:
int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

In [6]:
str(123)

'123'

In [8]:
print("hello world")

hello world

In [9]:
print("123")

123

In [10]:
print("")

In [11]:
age = 22
print("my age is",age)

my age is 22

In [15]:
print(f"my age is {age}")

my age is 22

In [17]:
name = "neel"
age = 22
print("my name is {} and my age is {}".format(name,age))

my name is neel and my age is 22

In [18]:
print("my name is {firstname} and my age is {firstage}".format(firstage=age,firstname=name))

my name is neel and my age is 22

In [19]:
degree = "Msc"

In [21]:
print("my age is {} and i have completed my degree of {} with the name of {}".format(age,degree,name))

my age is 22 and i have completed my degree of Msc with the name of neel

In [22]:
print(f"my age is {age} and i have completed my degree of {degree} with the name of {name}")

my age is 22 and i have completed my degree of Msc with the name of neel

In [25]:
age = int(input("Enter your age : "))
if age <= 18:
    print("You are not eligible for vote")
else:
    print("You are eligible for vote")

Enter your age :  17

You are not eligible for vote

In [28]:
amount = int(input("Enter the amount of purchesed item : "))
if amount > 1000:
    print("30% off")
    print("You need to pay {} rupees".format(amount*0.7))
else:
    print("20% off")
    print("You need to pay {} rupees".format(amount*0.8))

Enter the amount of purchesed item :  1700

30% off
You need to pay 1190.0 rupees

In [29]:
amount = int(input("Enter the amount of purchesed item : "))
if amount > 1000:
    print("30% off")
    print("You need to pay {} rupees".format(amount*0.7))
else:
    print("20% off")
    print("You need to pay {} rupees".format(amount*0.8))

Enter the amount of purchesed item :  500

20% off
You need to pay 400.0 rupees

In [30]:
amount = int(input("Enter the amount of purchesed item : "))
if amount > 1000:
    print("30% off")
    print(f"You need to pay {amount*0.7} rupees")
else:
    print("20% off")
    print(f"You need to pay {amount*0.8} rupees")

Enter the amount of purchesed item :  1700

30% off
You need to pay 1190.0 rupees

In [35]:
joining_age = 22
while joining_age <= 40:
    print(joining_age)
    joining_age += 1
else:
        print("sorry its time to retire")

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
sorry its time to retire

In [40]:
money = 1000
while money != 0:
    print(f"You have {money} rupees")
    money -= 200
    print("You withdrawed 200 rupees")
else: 
    print("please deposite money")

You have 1000 rupees
You withdrawed 200 rupees
You have 800 rupees
You withdrawed 200 rupees
You have 600 rupees
You withdrawed 200 rupees
You have 400 rupees
You withdrawed 200 rupees
You have 200 rupees
You withdrawed 200 rupees
please deposite money

# for loop

In [15]:
a = ["neel",5,49,"lol",42,5j+3,{45:"am"}]
for i in a:
    print(i)

neel
5
49
lol
42
(3+5j)
{45: 'am'}

In [16]:
a[6][45]

'am'

In [45]:
b = ["neel"]
for i in b:
    print(i)

neel

In [47]:
c = ("neel",2)
for i in c:
    print(c)

('neel', 2)
('neel', 2)

In [48]:
d = "neel"
for i in d:
    print(i)

n
e
e
l

In [49]:
d = "neel"
for i in d:
    print(i,end="")

neel

In [7]:
a = ["neel","lol","am","yo","btsb"]
for i in a:
    print(i)
    if i == "am":
        print("i found a candidate")
        break

neel
lol
am
i found a candidate

In [45]:
a = ["neel","lol","am","yo","btsb"]
for i in a:
    if i == "am":
        print("i found a candidate")
        pass
    print(i)

neel
lol
i found a candidate
am
yo
btsb

In [48]:
a = ["neel","lol","am","yo","btsb"]
for i in a:
    if i == "am":
        print("i found a candidate")
        continue
    print(i)

neel
lol
i found a candidate
yo
btsb

In [25]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [24]:
for i in range(1,10,3):
    print (i)

1
4
7

In [40]:
# nested loop
a = 9
for i in range(0,a):
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *