#### conda install pandas
#### pip install pandas

# Pandas data structures overview

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [3]:
index_day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
data = [1, 2, 3, 4, 5, 6, 7]

In [4]:
s = pd.Series(data, index=index_day)
s

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       7
dtype: int64

In [5]:
s[0]

1

In [6]:
s[6]

7

In [7]:
s['Sunday']

7

In [8]:
s['Sunday'] = 8
s

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       8
dtype: int64

In [9]:
s.mean()

4.142857142857143

In [10]:
s + s

Monday        2
Tuesday       4
Wednesday     6
Thursday      8
Friday       10
Saturday     12
Sunday       16
dtype: int64

In [11]:
s * 3

Monday        3
Tuesday       6
Wednesday     9
Thursday     12
Friday       15
Saturday     18
Sunday       24
dtype: int64

In [12]:
df = pd.DataFrame({'first': s, 'second': s * 2})
df

           first  second
Monday         1       2
Tuesday        2       4
Wednesday      3       6
Thursday       4       8
Friday         5      10
Saturday       6      12
Sunday         8      16

In [13]:
column_names = ['city', 'population']
index_country = ['Japan', 'India', 'China', 'Brazil', 'Mexico']

In [14]:
row1 = ['Tokyo', 37.4]
row2 = ['Delhi', 28.5]
row3 = ['Shanghai', 25.6]
row4 = ['São Paulo', 21.7]
row5 = ['Mexico City', 21.6]

In [15]:
data = [row1, row2, row3, row4, row5]
data

[['Tokyo', 37.4],
 ['Delhi', 28.5],
 ['Shanghai', 25.6],
 ['São Paulo', 21.7],
 ['Mexico City', 21.6]]

In [16]:
df = pd.DataFrame(data, index=index_country, columns=column_names)
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    São Paulo        21.7
Mexico  Mexico City        21.6

In [17]:
cities = ['Tokyo', 'Delhi', 'Shanghai', 'São Paulo', 'Mexico City']
population = [37.4, 28.5, 25.6, 21.7, 21.6]
dict_popu = {'city': cities, 'population': population}
dict_popu

{'city': ['Tokyo', 'Delhi', 'Shanghai', 'São Paulo', 'Mexico City'],
 'population': [37.4, 28.5, 25.6, 21.7, 21.6]}

In [18]:
df = pd.DataFrame(dict_popu, index=index_country)
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    São Paulo        21.7
Mexico  Mexico City        21.6

In [19]:
df['city']

Japan           Tokyo
India           Delhi
China        Shanghai
Brazil      São Paulo
Mexico    Mexico City
Name: city, dtype: object

In [20]:
type(df['city'])

pandas.core.series.Series

# Loading data

In [21]:
import pandas as pd
hero_powers = pd.read_csv('superhero_powers.csv')
#Windows: hero_powers = pd.read_csv('C:\\Users\\liann\\course_notebooks\\superhero_powers.csv')
#Mac: hero_powers = pd.read_csv('/Users/liann/course_notebooks/superhero_powers.csv')
hero_dc = pd.read_excel('superhero_info.xlsx', sheet_name='DC Comics')
hero_marvel = pd.read_excel('superhero_info.xlsx', sheet_name='Marvel Comics')

In [22]:
print(type(hero_powers))
print(type(hero_dc))
print(type(hero_marvel))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

# Previewing data

In [23]:
hero_dc

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
210,Wildfire,Male,-,-,-,-99,DC Comics,good,NaN
211,Wonder Girl,Female,blue,Demi-God,Blond,165,DC Comics,good,51.0
212,Wonder Woman,Female,blue,Amazon,Black,183,DC Comics,good,74.0
213,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0
214,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

In [24]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [25]:
hero_dc.head(10)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
5,Animal Man,Male,blue,Human,Blond,183,DC Comics,good,83.0
6,Anti-Monitor,Male,yellow,God / Eternal,No Hair,61,DC Comics,bad,NaN
7,Aquababy,Male,blue,-,Blond,-99,DC Comics,good,NaN
8,Aqualad,Male,blue,Atlantean,Black,178,DC Comics,good,106.0
9,Aquaman,Male,blue,Atlantean,Blond,185,DC Comics,good,146.0

In [26]:
hero_dc.tail()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
210,Wildfire,Male,-,-,-,-99,DC Comics,good,NaN
211,Wonder Girl,Female,blue,Demi-God,Blond,165,DC Comics,good,51.0
212,Wonder Woman,Female,blue,Amazon,Black,183,DC Comics,good,74.0
213,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0
214,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

In [27]:
hero_dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        215 non-null    object
 1   Gender      215 non-null    object
 2   Eye color   215 non-null    object
 3   Race        215 non-null    object
 4   Hair color  215 non-null    object
 5   Height      215 non-null    int64
 6   Publisher   215 non-null    object
 7   Alignment   215 non-null    object
 8   Weight      144 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 15.2+ KB

In [28]:
hero_marvel.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441
1,Abomination,Male,green,Human / Radiation,No Hair,203,Marvel Comics,bad,441
2,Abraxas,Male,blue,Cosmic Entity,Black,-99,Marvel Comics,bad,-99
3,Absorbing Man,Male,blue,Human,No Hair,193,Marvel Comics,bad,122
4,Agent 13,Female,blue,-,Blond,173,Marvel Comics,good,61

In [29]:
hero_marvel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        388 non-null    object
 1   Gender      388 non-null    object
 2   Eye color   388 non-null    object
 3   Race        388 non-null    object
 4   Hair color  388 non-null    object
 5   Height      388 non-null    int64
 6   Publisher   388 non-null    object
 7   Alignment   388 non-null    object
 8   Weight      388 non-null    int64
dtypes: int64(2), object(7)
memory usage: 27.4+ KB

In [30]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [31]:
hero_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [32]:
hero_powers.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 168 columns):
 #    Column                        Dtype
---   ------                        -----
 0    hero_names                    object
 1    Agility                       bool
 2    Accelerated Healing           bool
 3    Lantern Power Ring            bool
 4    Dimensional Awareness         bool
 5    Cold Resistance               bool
 6    Durability                    bool
 7    Stealth                       bool
 8    Energy Absorption             bool
 9    Flight                        bool
 10   Danger Sense                  bool
 11   Underwater breathing          bool
 12   Marksmanship                  bool
 13   Weapons Master                bool
 14   Power Augmentation            bool
 15   Animal Attributes             bool
 16   Longevity                     bool
 17   Intelligence                  bool
 18   Super Strength                bool
 19   Cryokinesis                   bool
 20   Telepathy                     bool
 21   Energy Armor                  bool
 22   Energy Blasts                 bool
 23   Duplication                   bool
 24   Size Changing                 bool
 25   Density Control               bool
 26   Stamina                       bool
 27   Astral Travel                 bool
 28   Audio Control                 bool
 29   Dexterity                     bool
 30   Omnitrix                      bool
 31   Super Speed                   bool
 32   Possession                    bool
 33   Animal Oriented Powers        bool
 34   Weapon-based Powers           bool
 35   Electrokinesis                bool
 36   Darkforce Manipulation        bool
 37   Death Touch                   bool
 38   Teleportation                 bool
 39   Enhanced Senses               bool
 40   Telekinesis                   bool
 41   Energy Beams                  bool
 42   Magic                         bool
 43   Hyperkinesis                  bool
 44   Jump                          bool
 45   Clairvoyance                  bool
 46   Dimensional Travel            bool
 47   Power Sense                   bool
 48   Shapeshifting                 bool
 49   Peak Human Condition          bool
 50   Immortality                   bool
 51   Camouflage                    bool
 52   Element Control               bool
 53   Phasing                       bool
 54   Astral Projection             bool
 55   Electrical Transport          bool
 56   Fire Control                  bool
 57   Projection                    bool
 58   Summoning                     bool
 59   Enhanced Memory               bool
 60   Reflexes                      bool
 61   Invulnerability               bool
 62   Energy Constructs             bool
 63   Force Fields                  bool
 64   Self-Sustenance               bool
 65   Anti-Gravity                  bool
 66   Empathy                       bool
 67   Power Nullifier               bool
 68   Radiation Control             bool
 69   Psionic Powers                bool
 70   Elasticity                    bool
 71   Substance Secretion           bool
 72   Elemental Transmogrification  bool
 73   Technopath/Cyberpath          bool
 74   Photographic Reflexes         bool
 75   Seismic Power                 bool
 76   Animation                     bool
 77   Precognition                  bool
 78   Mind Control                  bool
 79   Fire Resistance               bool
 80   Power Absorption              bool
 81   Enhanced Hearing              bool
 82   Nova Force                    bool
 83   Insanity                      bool
 84   Hypnokinesis                  bool
 85   Animal Control                bool
 86   Natural Armor                 bool
 87   Intangibility                 bool
 88   Enhanced Sight                bool
 89   Molecular Manipulation        bool
 90   Heat Generation               bool
 91   Adaptation                    bool
 92   Gliding                       bool
 93   Power Suit                    bool
 94   Mind Blast                    bool
 95   Probability Manipulation      bool
 96   Gravity Control               bool
 97   Regeneration                  bool
 98   Light Control                 bool
 99   Echolocation                  bool
 100  Levitation                    bool
 101  Toxin and Disease Control     bool
 102  Banish                        bool
 103  Energy Manipulation           bool
 104  Heat Resistance               bool
 105  Natural Weapons               bool
 106  Time Travel                   bool
 107  Enhanced Smell                bool
 108  Illusions                     bool
 109  Thirstokinesis                bool
 110  Hair Manipulation             bool
 111  Illumination                  bool
 112  Omnipotent                    bool
 113  Cloaking                      bool
 114  Changing Armor                bool
 115  Power Cosmic                  bool
 116  Biokinesis                    bool
 117  Water Control                 bool
 118  Radiation Immunity            bool
 119  Vision - Telescopic           bool
 120  Toxin and Disease Resistance  bool
 121  Spatial Awareness             bool
 122  Energy Resistance             bool
 123  Telepathy Resistance          bool
 124  Molecular Combustion          bool
 125  Omnilingualism                bool
 126  Portal Creation               bool
 127  Magnetism                     bool
 128  Mind Control Resistance       bool
 129  Plant Control                 bool
 130  Sonar                         bool
 131  Sonic Scream                  bool
 132  Time Manipulation             bool
 133  Enhanced Touch                bool
 134  Magic Resistance              bool
 135  Invisibility                  bool
 136  Sub-Mariner                   bool
 137  Radiation Absorption          bool
 138  Intuitive aptitude            bool
 139  Vision - Microscopic          bool
 140  Melting                       bool
 141  Wind Control                  bool
 142  Super Breath                  bool
 143  Wallcrawling                  bool
 144  Vision - Night                bool
 145  Vision - Infrared             bool
 146  Grim Reaping                  bool
 147  Matter Absorption             bool
 148  The Force                     bool
 149  Resurrection                  bool
 150  Terrakinesis                  bool
 151  Vision - Heat                 bool
 152  Vitakinesis                   bool
 153  Radar Sense                   bool
 154  Qwardian Power Ring           bool
 155  Weather Control               bool
 156  Vision - X-Ray                bool
 157  Vision - Thermal              bool
 158  Web Creation                  bool
 159  Reality Warping               bool
 160  Odin Force                    bool
 161  Symbiote Costume              bool
 162  Speed Force                   bool
 163  Phoenix Force                 bool
 164  Molecular Dissipation         bool
 165  Vision - Cryo                 bool
 166  Omnipresent                   bool
 167  Omniscient                    bool
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [33]:
hero_powers.columns

Index(['hero_names', 'Agility', 'Accelerated Healing', 'Lantern Power Ring',
       'Dimensional Awareness', 'Cold Resistance', 'Durability', 'Stealth',
       'Energy Absorption', 'Flight',
       ...
       'Web Creation', 'Reality Warping', 'Odin Force', 'Symbiote Costume',
       'Speed Force', 'Phoenix Force', 'Molecular Dissipation',
       'Vision - Cryo', 'Omnipresent', 'Omniscient'],
      dtype='object', length=168)

In [34]:
hero_powers.shape

(667, 168)

In [35]:
hero_powers.index

RangeIndex(start=0, stop=667, step=1)

# Pandas data types overview

In [36]:
import pandas as pd
weather = pd.read_csv('weather.csv')

In [37]:
weather

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
0,2021-01-01,4.0,1,1,False,cloudy,happy new year
1,2021-01-02,11.0,2,0,False,sunny,second day
2,2021-01-03,3.0,2,0,False,foggy,third day
3,2021-01-04,6.0,2,0,False,sunny,first business day
4,2021-01-05,4.0,unknown,0,False,cloudy,second business day

In [38]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      object
 1   temperature_high  5 non-null      float64
 2   temperature_low   5 non-null      object
 3   rained            5 non-null      int64
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      object
 6   comments          5 non-null      object
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 373.0+ bytes

In [39]:
weather.dtypes

date                 object
temperature_high    float64
temperature_low      object
rained                int64
snowed                 bool
overcast             object
comments             object
dtype: object

### astype

In [40]:
weather['temperature_high'].astype('int8')

0     4
1    11
2     3
3     6
4     4
Name: temperature_high, dtype: int8

In [41]:
weather.dtypes

date                 object
temperature_high    float64
temperature_low      object
rained                int64
snowed                 bool
overcast             object
comments             object
dtype: object

In [42]:
weather['temperature_high'] = weather['temperature_high'].astype('int8')
weather['temperature_high']

0     4
1    11
2     3
3     6
4     4
Name: temperature_high, dtype: int8

In [43]:
weather['rained'] = weather['rained'].astype('bool')
weather['rained']

0     True
1    False
2    False
3    False
4    False
Name: rained, dtype: bool

In [44]:
weather = weather.astype({'overcast': 'category', 'comments': 'string'})

In [45]:
weather['overcast']

0    cloudy
1     sunny
2     foggy
3     sunny
4    cloudy
Name: overcast, dtype: category
Categories (3, object): ['cloudy', 'foggy', 'sunny']

In [46]:
weather['comments']

0         happy new year
1             second day
2              third day
3     first business day
4    second business day
Name: comments, dtype: string

In [47]:
weather.dtypes

date                  object
temperature_high        int8
temperature_low       object
rained                  bool
snowed                  bool
overcast            category
comments              string
dtype: object

### to_numeric and to_datetime

In [48]:
#weather['temperature_low'] = weather['temperature_low'].astype('int8')
#ValueError: invalid literal for int() with base 10: 'unknown'

In [49]:
# weather['temperature_low'] = pd.to_numeric(weather['temperature_low'])
# ValueError: Unable to parse string "unknown" at position 4

In [50]:
weather['temperature_low'] = pd.to_numeric(weather['temperature_low'], errors='coerce')
weather['temperature_low']

0    1.0
1    2.0
2    2.0
3    2.0
4    NaN
Name: temperature_low, dtype: float64

In [51]:
#weather['date'] = weather['date'].astype('datetime64')
#works

In [52]:
weather['date'] = pd.to_datetime(weather['date'])
weather['date']

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
Name: date, dtype: datetime64[ns]

In [53]:
weather

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
0,2021-01-01,4,1.0,True,False,cloudy,happy new year
1,2021-01-02,11,2.0,False,False,sunny,second day
2,2021-01-03,3,2.0,False,False,foggy,third day
3,2021-01-04,6,2.0,False,False,sunny,first business day
4,2021-01-05,4,NaN,False,False,cloudy,second business day

In [54]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      datetime64[ns]
 1   temperature_high  5 non-null      int8
 2   temperature_low   4 non-null      float64
 3   rained            5 non-null      bool
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      category
 6   comments          5 non-null      string
dtypes: bool(2), category(1), datetime64[ns](1), float64(1), int8(1), string(1)
memory usage: 400.0 bytes

### read_*

In [55]:
hero_powers = pd.read_csv('superhero_powers.csv')
hero_dc = pd.read_excel('superhero_info.xlsx', sheet_name='DC Comics')
hero_marvel = pd.read_excel('superhero_info.xlsx', sheet_name='Marvel Comics')

In [56]:
hero_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [57]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [58]:
hero_powers['hero_names'] = hero_powers['hero_names'].astype('string')
hero_powers['hero_names']

0              3-D Man
1               A-Bomb
2           Abe Sapien
3             Abin Sur
4          Abomination
            ...
662    Yellowjacket II
663               Ymir
664               Yoda
665            Zatanna
666               Zoom
Name: hero_names, Length: 667, dtype: string

In [59]:
hero_powers = pd.read_csv('superhero_powers.csv', dtype={'hero_names': 'string'})

In [60]:
hero_powers.dtypes

hero_names               string
Agility                    bool
Accelerated Healing        bool
Lantern Power Ring         bool
Dimensional Awareness      bool
                          ...
Phoenix Force              bool
Molecular Dissipation      bool
Vision - Cryo              bool
Omnipresent                bool
Omniscient                 bool
Length: 168, dtype: object

In [61]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [62]:
hero_dc.dtypes

name           object
Gender         object
Eye color      object
Race           object
Hair color     object
Height          int64
Publisher      object
Alignment      object
Weight        float64
dtype: object

In [63]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [64]:
hero_dtype = {'name': 'string',
              'Gender': 'category',
              'Eye color': 'string',
              'Race': 'string',
              'Hair color': 'string',
              'Publisher': 'string',
              'Alignment': 'category'}

In [65]:
hero_dc = pd.read_excel('superhero_info.xlsx', sheet_name='DC Comics', dtype=hero_dtype)
hero_marvel = pd.read_excel('superhero_info.xlsx', sheet_name='Marvel Comics', dtype=hero_dtype)

In [66]:
hero_dc.dtypes

name            string
Gender        category
Eye color       string
Race            string
Hair color      string
Height           int64
Publisher       string
Alignment     category
Weight         float64
dtype: object

In [67]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

# Exporting data

In [68]:
hero_dc.to_csv('hero_dc.csv', index = False)

In [69]:
hero_dc.to_pickle('hero_dc.pkl')

In [70]:
hero_dc_csv = pd.read_csv('hero_dc.csv')
hero_dc_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        215 non-null    object
 1   Gender      215 non-null    object
 2   Eye color   215 non-null    object
 3   Race        215 non-null    object
 4   Hair color  215 non-null    object
 5   Height      215 non-null    int64
 6   Publisher   215 non-null    object
 7   Alignment   215 non-null    object
 8   Weight      144 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 15.2+ KB

In [71]:
hero_dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        215 non-null    string
 1   Gender      215 non-null    category
 2   Eye color   215 non-null    string
 3   Race        215 non-null    string
 4   Hair color  215 non-null    string
 5   Height      215 non-null    int64
 6   Publisher   215 non-null    string
 7   Alignment   215 non-null    category
 8   Weight      144 non-null    float64
dtypes: category(2), float64(1), int64(1), string(5)
memory usage: 12.6 KB

In [72]:
hero_dc_pkl = pd.read_pickle('hero_dc.pkl')
hero_dc_pkl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        215 non-null    string
 1   Gender      215 non-null    category
 2   Eye color   215 non-null    string
 3   Race        215 non-null    string
 4   Hair color  215 non-null    string
 5   Height      215 non-null    int64
 6   Publisher   215 non-null    string
 7   Alignment   215 non-null    category
 8   Weight      144 non-null    float64
dtypes: category(2), float64(1), int64(1), string(5)
memory usage: 12.4 KB

In [73]:
hero_marvel.to_pickle('hero_marvel.pkl')
hero_powers.to_pickle('hero_powers.pkl')