<font color="blue" size=5><b>Python Basics- 1</b></font>

<font color="red" size=3><b>Arithmetic Operators</b></font>


| Operator | Description |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod (remainder) |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [2]:
2+3

5

In [3]:
5-2

3

In [4]:
5/2 #float division

2.5

In [5]:
5//2 #integer division

2

In [6]:
3%2

1

In [8]:
2*3

6

In [9]:
2*3.0

6.0

In [10]:
2**3

8

<font color="red" size=3><b>Comparison Operators</b></font>

| Operator | Description |
|----|---|
| ==  | If the values of two operands are equal, then the condition becomes true |
| !=  | If values of two operands are not equal, then condition becomes true. |
| >  | If the value of left operand is greater than the value of right operand, then condition becomes true |
| <  | If the value of left operand is lesser than the value of right operand, then condition becomes true. |
| <=  | If the value of left operand is less than or equal to the value of right operand, then condition becomes true. |
| >=  | If the value of left operand is greater than or equal to the value of right operand, then condition becomes true. |

In [22]:
2==3 #compares if the values are equal

False

In [23]:
'hello'=='Hello'

False

In [24]:
1!=2

True

In [25]:
1<2

True

In [26]:
3>7

False

In [27]:
1<=4

True

In [28]:
5>=8

False

<font color="red" size=3><b>Logical Operators</b></font>

| Operator | Description | Example
|----|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10	
| or  | Returns True if one of the statements is true | x < 5 or  x < 10	
| not  | Reverse the result, returns False if the result is true and vice versa | not(x < 5 or  x < 10)

In [29]:
5<2 and 4<9

False

In [30]:
5<2 or 4<9

True

In [31]:
not(5<2 or 4<9)

False

<font color="red" size=3><b>Bitwise Operators</b></font>

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [33]:
5 & 2 # 5=101, 2=010

0

In [34]:
5 | 2

7

In [35]:
5 ^ 2

7

In [36]:
~2

-3

In [37]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [41]:
5 << 2

20

<font color="red" size=3><b>Identity Operators</b></font>

| Operator | Description | Example
|----|---|---|
| is  | Returns True if both variables are the same object| x is y
| is not  | Returns True if both variables are not the same object| x is not y

In [43]:
x,y=10,20

In [44]:
x is y

False

In [45]:
x is not y

True

In [54]:
p,q=10000000,10000000

In [55]:
p is q

True

In [46]:
a,b=5,5

In [47]:
a is b

True

<font color="red" size=3><b>Membership Operators</b></font>

| Operator | Description | Example
|----|---|---|
| in  | Returns True if a sequence with the specified value is present in the object| x in y
| not in  | Returns True if a sequence with the specified value is not present in the object| x not in y

In [56]:
x='Paul'
y='She talked to Paul'

In [57]:
x in y

True

<font color="red" size=3><b>In-built functions</b></font>

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [12]:
round(2.768)

3

In [13]:
round(2.765,2) #round up to the specific no of digits

2.77

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [15]:
c=complex('5+1j')
print(c)

(5+1j)

In [16]:
print(abs(c)) #calculated using sqrt(a^2+b^2), where a+bj is a complex number

5.0990195135927845

**divmod(x,y)** outputs the quotient and the remainder in a tuple(it is a data type) in the format (quotient, remainder).

In [18]:
divmod(8,6)

(1, 2)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [19]:
pow(2,3)

8

In [20]:
pow(2,3,6)

2

<font color="red" size=3><b>Taking Input</b></font>

In [59]:
a = input("The entered ele is ") #input takes string as input by default

The entered ele is  123

In [60]:
print(type(a))

<class 'str'>

In [61]:
b= int(input("The entered ele is ")) #type casting

The entered ele is  123

In [62]:
print(type(b))

<class 'int'>

<font color="red" size=3><b>Printing Output</b></font>

In [66]:
first,second='10','20'
print("The first num is "+first+ " and second number is "+second)

The first num is 10 and second number is 20

In [67]:
x, y, z = 1.3,2,3
print (x, y, z)

1.3 2 3

In [68]:
print(x)
print(y)
print(z)

1.3
2
3

In [69]:
#format strings
txt1 = "My name is {name}, My rollno is {a}".format(name = "Paul", a = 42)
print(txt1)

My name is Paul, My rollno is 42

In [73]:
txt2 = "My name is {0}, I'm {1}".format("Paul",42)
print(txt2)

My name is Paul, I'm 42

In [72]:
txt3 = "My name is {}, My rollno is {}".format("Paul",42)
print(txt3)

My name is Paul, My rollno is 42

In [74]:
mod = 2
s= f"This is a format string  {mod}"
print(s)

This is a format string  2

In [75]:
num = 200
txt = f"The num is too {'high' if num>100 else 'low'}"
print(txt)

The num is too high

<font color="red" size=3><b>Handling Exceptions</b></font>

In [77]:
x = int(input("Enter an integer"))

Enter an integer dfg

ValueError: invalid literal for int() with base 10: 'dfg'

In [76]:
try:
    x = int(input("Enter an integer"))
except:
    print("Enter again")

Enter an integer dfg

Enter again

In [78]:
try: 
    x = int(input("Enter an integer"))
except ValueError:
    print("Enter a number")

Enter an integer dfg

Enter a number

**Handling multiple excepptions**

In [81]:
try: 
    x = int(input("Enter an integer"))
    y = int(input("Enter an integer"))
    print(x/y)
except (ValueError,ZeroDivisionError):
    print("Enter again")

Enter an integer fgh

Enter again

In [83]:
try: 
    x = int(input("Enter an integer"))
    y = int(input("Enter an integer"))
    print(x/y)
except Exception as ex:
    print(f"The error is {ex}")

Enter an integer 10
Enter an integer 0

The error is division by zero

In [84]:
try:
    inp = int(input("Enter one number"))
    inp2 = int (input("Enter another number"))
    print (inp/inp2)
except ValueError: 
    print ("Please enter a number")
except ZeroDivisionError:
    print("division by 0 is not permitted")
else:
    print ("Hope you had a good time")

Enter one number 24
Enter another number 9

2.6666666666666665
Hope you had a good time

**try**:<br> 
    Some Code<br>
**except**:<br>
    Executed if error in the<br>
    try block<br>
**else**:<br>
    execute if no exception<br>