<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luiscruzn/blob/main/Python%20for%20Data%20Science%20(Modules1%2C2%2C3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Luis Salvador Cruz Nájera**
# A01002111

# **Python for Data Science**

Es un lenguaje de programación de propósito general, pero viene con miles dee bibliotecas para trabajar con datos. A menudo es el primer idioma que la gente aprende, pero es el idioma que la gente usa décadas más tarde en su carrera. Python suele ser la primera herramienta que la gente usa cuando necesita crear un prototipo rápido, pero es el lenguaje que impulsa algunos de los proyectos más complejos. El poder y la flexibilidad con miles de bibliotecas hicieron de Python el lenguaje elegido por científicos de datos, ingenieros de datos, analistas de datos e investigadores de IA en empresas líderes y nuevas empresas por igual. Python es esencial para cualquier currículum y es una habilidad imprescindible para cualquier persona que trabaje con datos.

# **Module 1.- Pyhton Basics**

**1.1.- Your first program**

In [1]:
print("Hello python 101")

Hello python 101

Question 1

In [2]:
print("Hello\nWorld!")

Hello
World!

Question 2

In [3]:
# print('Hello World!')

**1.2.- Types**

In [4]:
type(11)

int

In [2]:
type(21.213)

float

In [3]:
type("Hello python 101")

str

In [5]:
float(2)

2.0

In [6]:
int(1.1)

1

In [7]:
int('1')

1

In [8]:
int('A')

ValueError: ignored

In [9]:
str(1)

'1'

In [10]:
type(True)

bool

In [11]:
int(True)

1

In [12]:
int(False)

0

Question 1.- What is the type of the following: int(1.0)?

In [4]:
int(1.0)

1

Question 2.- Enter the code to convert the number 1 to a Boolean.

In [5]:
bool(1)

True

**1.3.- Expressions and Variables**

In [13]:
43 + 60 + 16 + 41

160

In [14]:
50 - 60

-10

In [15]:
5 * 5

25

In [16]:
25 / 5

5.0

In [17]:
25 / 6

4.166666666666667

In [18]:
25 // 5

5

In [19]:
25 // 6

4

In [20]:
2 * 60 + 30

150

In [21]:
30 + 2 * 60

150

In [22]:
(30 + 2) * 60

1920

In [23]:
my_variable = 1

In [24]:
my_variable

1

In [25]:
my_variable = 10

In [26]:
my_variable

10

In [31]:
x = 160

In [32]:
x

160

In [33]:
x = x / 60

In [34]:
x

2.6666666666666665

In [35]:
total_min = 43 + 42 + 57

In [36]:
total_min

142

In [37]:
total_hr = total_min  / 60

In [38]:
total_hr

2.3666666666666667

**1.4.- String Operations**

In [39]:
"Michael Jackson"

'Michael Jackson'

In [40]:
'Michael Jackson'

'Michael Jackson'

In [41]:
"1 2 3 4 5 6"

'1 2 3 4 5 6'

In [42]:
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [43]:
Name = "Michael Jackson"

In [44]:
Name[0]

'M'

In [45]:
Name[6]

'l'

In [46]:
Name[13]

'o'

In [47]:
Name[-1]

'n'

In [48]:
Name[-15]

'M'

In [49]:
Name[0:4]

'Mich'

In [50]:
Name[8:12]

'Jack'

In [51]:
Name[::2]

'McalJcsn'

In [52]:
Name[0:5:2]

'Mca'

In [53]:
len("Michael Jackson")

15

In [54]:
Name = "Michael Jackson"

In [55]:
Statement = Name + " is the best"

In [56]:
Statement

'Michael Jackson is the best'

In [58]:
3 * "Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [62]:
Name = "Michael Jackson"
Name[0]

'M'

In [63]:
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [66]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [67]:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [68]:
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [69]:
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [71]:
A = "Thriller is the sixth studio album"
A

'Thriller is the sixth studio album'

In [72]:
B = A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [74]:
A = "Michael Jackson is the best"
B = A.replace("Michael", "Janet")
B

'Janet Jackson is the best'

In [77]:
Name = "Michael Jackson"
print(Name.find("el"))
print(Name.find("Jack"))
print(Name.find("&*D"))

5
8
-1

QUESTION 1
1/1 point (ungraded)
Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?

In [80]:
Numbers = "0123456"
print(Numbers[::2])

0246

QUESTION 2
1 point possible (ungraded)
What is the result of the following line of code:

"0123456".find('1')

In [81]:
"0123456".find('1')

1

Review Question 1
1 point possible (graded)
What is the result of the following operation in Python:

3 + 2 * 2

In [82]:
3 + 2 * 2

7

Review Question 2 
1 point possible (graded)
In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [83]:
name = 'Lizz'
print(name[0:2])

Li

Review Question 3
1 point possible (graded)
In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [84]:
var = '01234567'
print(var[::2])

0246

Review Question 4
1 point possible (graded)
In Python, what is the result of the following operation '1'+'2'?

In [86]:
'1'+'2'

'12'

Review Question 5
1 point possible (graded)
Given myvar = 'hello', how would you convert myvar into uppercase?

In [87]:
myvar = 'hello'
myvar.upper()

'HELLO'

# **Module 2.- Python Data Structures**

**2.1.- Lists and tuples**

In [88]:
Ratings = (10,9,6,5,10,8,9,6,2)

In [95]:
tuple1 = ("disco", 10, 1.2)
type(tuple1)

tuple

In [96]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [97]:
print(tuple1[-3])
print(tuple1[-2])
print(tuple1[-1])

disco
10
1.2

In [98]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [99]:
tuple2[0:3]

('disco', 10, 1.2)

In [100]:
tuple2[3:5]

('hard rock', 10)

In [101]:
len(('disco', 10, 1.2, 'hard rock', 10))

5

In [103]:
Ratings1 = Ratings
Ratings[2] = 4

TypeError: ignored

In [104]:
Ratings = (2, 10, 1)

In [105]:
Ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [107]:
RatingsSorted = sorted(Ratings1)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [111]:
NT = (1,2,("pop","rock"),(3,4),("disco", (1,2)))
print(NT[2])
print(NT[2][1])
print(NT[4][1][1])

('pop', 'rock')
rock
2

In [112]:
L = ["Michael Jackson", 10.1, 1982]

In [113]:
L = ["Michael Jackson", 10.1, 1982, [1,2], ('A', 1)]

In [114]:
print(L[0])
print(L[1])
print(L[2])

Michael Jackson
10.1
1982

In [115]:
print(L[-5])
print(L[-4])
print(L[-3])

Michael Jackson
10.1
1982

In [117]:
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L[3:5]

['MJ', 1]

In [118]:
L1 = L + ["pop", 10]
L1

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [120]:
L = ["Michael Jackson", 10.1, 1982]
L.extend(["pop", 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [121]:
L = ["Michael Jackson", 10.1, 1982]
L.append(["pop", 10])
L

['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [122]:
A = ["disco", 10, 1.2]
A[0] = "hard rock"
A

['hard rock', 10, 1.2]

In [123]:
del[A[0]]
A

[10, 1.2]

In [125]:
del[A[1]]
A

[10]

In [128]:
print("hard rock".split())
print("A,B,C,D".split(","))

['hard', 'rock']
['A', 'B', 'C', 'D']

In [130]:
A = ["hard rock", 10, 1.2]
B = A
print(B[0])
A[0] = "banana"
print(B[0])

hard rock
banana

In [131]:
A = ["hard rock", 10, 1.2]
B = A[:]
print(B[0])
A[0] = "banana"
print(B[0])

hard rock
hard rock

QUESTION 1
1 point possible (ungraded)
How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.

In [136]:
A=(0,1,2,3)
print(A[-1])
print(A[3])

3
3

QUESTION 2
1 point possible (ungraded)
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [137]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [142]:
Set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
Set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [145]:
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]
print(album_list)
album_set = set(album_list)
print(album_set)

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Thriller', 'Michael Jackson', 1982}

In [150]:
A = {"Thriller", "Back in Black", "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.remove("NSYNC")
print(A)
print("AC/DC" in A)
print("Who" in A)

{'Thriller', 'AC/DC', 'Back in Black'}
{'Thriller', 'AC/DC', 'Back in Black', 'NSYNC'}
{'Thriller', 'AC/DC', 'Back in Black'}
True
False

In [155]:
album_set_1 = {"AC/DC", "Back in Black", "Thriller"}
album_set_2 = {"AC/DC", "Back in Black", "The Dark Side of the Moon"}
print(album_set_1 & album_set_2)
print(album_set_1.union(album_set_2))
album_set_3 = {"AC/DC", "Back in Black"}
print(album_set_3.issubset(album_set_1))

{'AC/DC', 'Back in Black'}
{'The Dark Side of the Moon', 'AC/DC', 'Back in Black', 'Thriller'}
True

QUESTION 1
1 point possible (ungraded)
What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [156]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

QUESTION 2
1 point possible (ungraded)
What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

In [157]:
S={'A','B','C'}
U={'A','Z','C'}
S & U

{'A', 'C'}

In [164]:
dict = {"Thriller": 1982, "Back in Black": 1980, "The Dark Side of the Moon": 1973, "The bodyguard": 1992, "Bat Out of Hell": 1977, "Their Greatest..." : 1976, "Saturday Night Fever": 1977, "Rumours": 1977}
print(dict)
print(dict["Thriller"])
dict["Graduation"] = 2007
print(dict)
del(dict["Thriller"])
print(dict)
print("The bodyguard" in dict)
print("Starboy" in dict)

{'Thriller': 1982, 'Back in Black': 1980, 'The Dark Side of the Moon': 1973, 'The bodyguard': 1992, 'Bat Out of Hell': 1977, 'Their Greatest...': 1976, 'Saturday Night Fever': 1977, 'Rumours': 1977}
1982
{'Thriller': 1982, 'Back in Black': 1980, 'The Dark Side of the Moon': 1973, 'The bodyguard': 1992, 'Bat Out of Hell': 1977, 'Their Greatest...': 1976, 'Saturday Night Fever': 1977, 'Rumours': 1977, 'Graduation': 2007}
{'Back in Black': 1980, 'The Dark Side of the Moon': 1973, 'The bodyguard': 1992, 'Bat Out of Hell': 1977, 'Their Greatest...': 1976, 'Saturday Night Fever': 1977, 'Rumours': 1977, 'Graduation': 2007}
True
False

In [165]:
print(dict.keys())
print(dict.values())

dict_keys(['Back in Black', 'The Dark Side of the Moon', 'The bodyguard', 'Bat Out of Hell', 'Their Greatest...', 'Saturday Night Fever', 'Rumours', 'Graduation'])
dict_values([1980, 1973, 1992, 1977, 1976, 1977, 1977, 2007])

QUESTION 1
1 point possible (ungraded)
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?

In [166]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

QUESTION 2
1 point possible (ungraded)
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?

In [167]:
D = {'a':0,'b':1,'c':2}
D['b']

1

Question 1
1 point possible (graded)
What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [170]:
A = ('a','b','c')
A[0]

'a'

Question 2
1 point possible (graded)
After applying the following method, L.append(['a','b']), the following list will only be one element longer.

In [171]:
L=["c"]
L.append(['a','b'])

Question 3
1 point possible (graded)
How many duplicate elements can you have in a set?

In [ ]:
#0. You can only have one unique element in a set.

Question 4
1 point possible (graded)
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [172]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

# **Module 3.- Python Programming Fundamentals**

**3.1.- Conditions and Branching**

In [175]:
a = 6
print(a == 7)
a = 6
print(a == 6)

False
True

In [176]:
i = 6
print(i > 5)

True

In [177]:
i = 5
print(i >= 5)

True

In [179]:
i = 2
print(i >= 5)
print(i < 6)

False
True

In [184]:
i = 2
print(i!=6)

True

In [185]:
print("AC/DC" == "Michael Jackson")
print("AC/DC" != "Michael Jackson")

False
True

In [192]:
age = 18
if age > 18:
    print("you can enter")
elif age==18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf")
print("move on")

go see Pink Floyd
move on

In [193]:
print(not(True))

False

In [195]:
album_year = 1990
if album_year < 1980 or album_year > 1989:
    print("The album was made in the 70s or 90s")
else:
    print("The album was made in the 1980s")

The album was made in the 70s or 90s

In [196]:
album_year = 1983
if album_year > 1979 or album_year < 1990:
    print("The album was made in the 80s")

The album was made in the 80s

QUESTION 1
1 point possible (ungraded)
Select the values of i that produces a True for the following:

i!=0

In [197]:
i!=0

True

QUESTION 2
1 point possible (ungraded)
What is the output of the following:

x='a'

if(x!='a'):

print("This is not a.")

else:

print("This is a.")

In [198]:
x='a'
if(x!='a'):
    print("This is not a.")
else:
    print("This is a.")

This is a.

In [202]:
print(*range(3))
print(*range(10,15))

0 1 2
10 11 12 13 14

**3.2.- Loops**

In [203]:
squares = ["red","yellow","green","purple","blue"]
for i in range(0,5):
    squares[i] = "white"
print(squares)

['white', 'white', 'white', 'white', 'white']

In [205]:
squares = ["red","yellow","green"]
for square in squares:
    print(square)

red
yellow
green

In [206]:
squares = ["red","yellow","green"]
for i,square in enumerate(squares):
    print(i,square)

0 red
1 yellow
2 green

In [207]:
squares = ["orange","orange","purple","blue"]
Newsquares = []
i = 0
while squares[i] == "orange":
    Newsquares.append(squares[i])
    i=i+1
print(Newsquares)

['orange', 'orange']

QUESTION 1
1 point possible (ungraded)
What is the output of the following lines of code:

A=[3,4,5]

for a in A:

print(a)

In [208]:
A=[3,4,5]
for a in A:
    print(a)

3
4
5

What is the output of the following lines of code:

x=3

y=1

while(y!=x):

print(y)

y=y+1

In [209]:
x=3
y=1

while(y!=x):
    print(y)
    y=y+1

1
2

**3.3.- Functions**

In [211]:
def f1(input):
    output = input +1
    return output

In [212]:
def f2(input):
    output = input*2
    return output

In [213]:
val=3
val=f1(val)
print(val)
val=f2(val)
print(val)
val=f2(val)
print(val)
val=f1(val)
print(val)

4
8
16
17

In [217]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
print(len(album_ratings))
print(sum(album_ratings))
print(sorted(album_ratings))

8
70.0
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [222]:
def add1(a):
    """
    add 1 to a
    """
    b=a+1
    return b

print(add1(5))
c=add1(10)
print(c)

help(add1)

6
11
Help on function add1 in module __main__:

add1(a)
    add 1 to a

In [227]:
def Mult(a,b):
    c=a*b
    return c

print(Mult(2,3))
print(Mult(10,3.14))
print(Mult(2,"Michael Jackson "))

6
31.400000000000002
Michael Jackson Michael Jackson

In [229]:
def MJ():
    print ("Michael Jackson")

MJ()

Michael Jackson

In [230]:
def NoWork():
    pass

print(NoWork())

None

In [232]:
def add1(a):
    b = a +1
    print(a, " plus 1 equals ", b)
    return b

print(add1(2))

2  plus 1 equals  3
3

In [233]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print("Album ",i,"Rating is ",s)

album_ratings = [10.0, 8.5, 9.5]
printStuff(album_ratings)

Album  0 Rating is  10.0
Album  1 Rating is  8.5
Album  2 Rating is  9.5

In [234]:
def ArtistNames(*names):
    for name in names:
        print(name)

ArtistNames("Michael Jackson", "AC/DC", "Pink Floyd")

Michael Jackson
AC/DC
Pink Floyd

In [239]:
def addDC(y):
    x=x+"DC"
    print(x)
    return x

In [242]:
x = "AC"

In [244]:
def Thriller():
    Date = 1982
    return Date

Date=2017
print(Thriller())
print(Date)

1982
2017

In [247]:
def ACDC(y):
    print(Rating)
    return Rating+y

Rating=9
Z=ACDC(1)
print(Z)

9
10

In [250]:
def PinkFloyd():
    global ClaimedSales
    ClaimedSales = "45 million"
    #return ClaimedSales

PinkFloyd()
print(ClaimedSales)

45 million

What is the value of c after the following block of code is run ?

a=1

def add(b):

return a+b

c=add(10)

In [252]:
a=1
def add(b):
    return a+b

c=add(10)
print(c)

11

QUESTION 2
1 point possible (ungraded)
What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

return sum(x)

In [ ]:
#Return the total of a variable amount of parameters.

**3.4.- Objects and Classes**

In [254]:
Ratings = [10,9,6,5,10,8,9,6,2]
Ratings.sort()
print(Ratings)
Ratings.reverse()
print(Ratings)

[2, 5, 6, 6, 8, 9, 9, 10, 10]
[10, 10, 9, 9, 8, 6, 6, 5, 2]

In [255]:
class Circle: 
  
  radius,color=0,""
  
  def __init__(self, radius, color): 
    self.radius = radius;            
    self.color = color;              

  def add_radius(self,r):            
    self.radius = self.radius + r
    return (self.radius) 

  def drawCircle(self):
    print(self.radius, ",", self.color) 

class Rectangle(object ):

  def __init__(self, color, height, width):
    self.color = color;
    self.height = height;
    self.width = width;

In [257]:
RedCircle = Circle(10, 'red')
print(RedCircle.radius)
print(RedCircle.color)
RedCircle.drawCircle()
RedCircle.add_radius(5) 
RedCircle.drawCircle()

10
red
10 , red
15 , red

QUESTION 1
1 point possible (ungraded)
Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

In [259]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

newCar=Car(make="Honda",model="Accord",color="blue")
newCar2=Car("Honda","Accord","blue") 
newCar3=Car(model="Accord",make="Honda",color="blue") 
newCar4=Car("Accord","Honda","blue") 

print(newCar.car_info())
print(newCar2.car_info())
print(newCar3.car_info())
print(newCar4.car_info())

make:  Honda
model: Accord
color: Accord
number of owners: 0
None
make:  Honda
model: Accord
color: Accord
number of owners: 0
None
make:  Honda
model: Accord
color: Accord
number of owners: 0
None
make:  Accord
model: Honda
color: Honda
number of owners: 0
None

Question 1
1 point possible (graded)
What is the output of the following lines of code:

x=1

if(x!=1):

print('Hello')

else:

print('Hi')

print('Mike')

In [260]:
x=1
if(x!=1):
    print('Hello')
else:
    print('Hi')
print('Mike')

Hi
Mike

Question 2
1 point possible (graded)
What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

print(2*a)

In [261]:
A = ['1','2','3']
for a in A:
    print(2*a)

11
22
33

Question 3
1 point possible (graded)
Consider the function Delta, when will the function return a value of 1

def Delta(x):

if x==0:

y=1;

else:

y=0;

return(y)

In [ ]:
def Delta(x):
    if x==0:
        y=1;
    else:
        y=0;
    return(y)

In [ ]:
#When the input is 0.