In [17]:
a = [2,434,121,23,23]
a.sort()
a

[2, 23, 23, 121, 434]

In [16]:
a = 'Hello Wpr;d'
b = list(a)
''.join(b)

'Hello Wpr;d'

In [13]:
b = [[int(j) for j in input().split()] for i in range(3)]
print(b)
for i in b:
    sum = 0
    for j in i:
        sum += j
    print("sum of " , i , ' is ' , sum)

23 32
12 4
23 4
[[23, 32], [12, 4], [23, 4]]
sum of  [23, 32]  is  55
sum of  [12, 4]  is  16
sum of  [23, 4]  is  27

###### a = [[1,2,23,23,23] , ['a,ascas,casas,2',2]]
print(a[1][1])

In [55]:
# Find diff of even and odd index no. in list

a = [i for i in range(13)]
a1 = [a[i*2] for i in range(len(a)//2)]
a2 = [a[(i*2) + 1] for i in range(len(a)//2)]
sum_even = 0
sum_odd = 0
for i in a1:
    sum_even += i
for i in a2:
    sum_odd += i
print(a)
sum_even - sum_odd

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

-6

In [47]:
a = ['a', 'b', 'c']
print('?'.join(a))

a?b?c

TypeError: sequence item 0: expected str instance, int found

In [40]:
b = [i for i in range( 10, 0, -1)]
print(b)
b.sort()
print(b)
print(b.index(3))
print(max(b))
22 in b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
10

False

In [26]:
a = [ 'a', 'v' ,23, 'sdjk3']
b = [1, 'ascjasc,  231122']

print(a*3)


a.append(99)


a.insert(2, 22)
print(a)

print(a.extend(b ))

len(a)
a+b
a.remove('a')
a

['a', 'v', 23, 'sdjk3', 'a', 'v', 23, 'sdjk3', 'a', 'v', 23, 'sdjk3']
['a', 'v', 22, 23, 'sdjk3', 99]
None

['v', 22, 23, 'sdjk3', 99, 1, 'ascjasc,  231122']

In [6]:
a = [0 for i in range(10)]
print(a)
a[2]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

0

In [21]:
# Replace  all x in string with y ,  # String is immutable => you have to create a new one

a  = input()

for  i  in range(len(a)):
    if a[i] == 'x':
             
        str_new = a[ : i-1 ] + 'y' + a[ i+1 : ]
        a = str_new

print(a)

svsdxxq

IndexError: string index out of range

In [17]:
#String Slicing & Palindrome

str = input()

print(str[2:9]);

str = input()
print("palindrome is ", str[ : : -1])

print(str.replace('a', 'ABCDE'))

str.find('e')

b = 'aschascjacs'

print(b*3)

sdcksncl3
cksncl3
f;sdvv
palindrome is  vvds;f
f;sdvv
aschascjacsaschascjacsaschascjacs

In [9]:
# String entered horizontally is displayed vertically

i = input()

for a in i:
    print(a)

wiefbewk23
w
i
e
f
b
e
w
k
2
3

In [8]:
#Checing string has at least one alphabet and one number in it

def f_check():

  str1 = input()

  flag1 = False
  flag2 = False

  for i in str1:
    if i.isdigit():
        flag1 = True
    if i.isalpha():
        flag2 = True

  return print(flag1 and flag2)

f_check()


f_check()


f_check()


f_check()

sdvkjnsk
False
welfnwl
False
wefnlw3
True
sdvl32
True

In [47]:
#Checking global and local variable in python

a = 10

def f(a):
      
    print( a)  #this is global variable
    a = 11     #this is local variable, this change will not be reflected in our global variable
    print(a)
f(a)
print(a)

10
11
10

In [41]:
# input split

a, b = map(int, input().split())
print(a)
print(b)

123          12323
123
12323

In [37]:
#Checking fucntion calling



def f2(d):
    print('b')
    f3()
    

    
def f1():
    f2(d)
    print('a')
    

d= 10



def f3():
    print('c')
    
    
f1()

b
c
a

In [25]:
# Using function print all prime numbers from 2 to n:

n = int(input())

def prime(n):
    
    for i in range(2,n+1):
        for a in range(2,i):
            if i%a == 0:
                break
            if a == i-1: print(i)
  

prime(n)

23
3
5
7
11
13
17
19
23

In [20]:
#Finding factorial n with functions:

n = int(input())
r = int(input())

def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact

def nCr(n,r):

    ans = fact(n)//(fact(r)*fact(n-r))
    return ans

print(nCr(n,r))

10
6
210

In [9]:
# Finding value of nCr


n = int(input())
r = int(input())

if n < r: print("enter correct nCr")



else:
    factn = 1
    factr = 1
    
    for i in range(1,n+1):
        factn = factn*i
    
    for i in range(1,r+1):
        factr = factr*i
    
    factn_r =1
    
    for  i in range(i, n-r+1):
        factn_r = factn_r*i
    print( n , 'C' , r , ' = ', factn//(factr*factn_r))

41
35
41 C 35  =  3237399360

In [5]:
#Printing all even numbers till n expcet multiples of 5

n = int(input())

for i in range(2,n+1):
    if i%2 == 0 and i%5 != 0:
        print(i)

41
2
4
6
8
12
14
16
18
22
24
26
28
32
34
36
38

In [29]:
#Printing prime from 2 to n:

n = int(input())
count = 0
for i in range(2,n+1):
    for a in range(2,i):
        if i%a == 0:
            break;
    if a == i-1 or i == 2: 
        print(i)
        count += 1
        
print("total prime numbers till n are ", count)

59
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
total prime numbers till n are  17

In [16]:
#Finding factors of a number 

a = int(input())

for i in range(a,0,-1):
    if a%i == 0:
        print(i)

341
341
31
11
1

In [12]:
#Checking prime

i = int(input())

for a in range(2,i):
    if i%a == 0:
        print("it not prime")
        break;
    
if a == i-1 or i==1: 
    print("Its prime")

237
it not prime

In [5]:
#Finding reverse of input number

i = int(input())

rev= 0
rem = 0

while(i != 0):
    rem = i%10
    rev = rev*10 + rem 
    i = i//10

print(rev)

213341
143312

In [3]:
n = int(input())

for i in range(1,n+1):
    
  for a in range(5,100 , 3):
    
    if a%4 != 0:
        print(a)
        break;

3
5
5
5

In [22]:
#Printing factorial n!

n = int(input())
i = 1
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

6
720

In [18]:
#print Multiples of 3 till given input
n = int(input())
print("Our input is " , n)
for i in range(3,n+1,3):
    print(i)

22
Our input is  22
3
6
9
12
15
18
21

In [15]:
# Print multiples of 3 till 31
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [14]:
#Print numbers from n to 1
n = int(input())
for i in range(n,0,-1):
    print(i)

12
12
11
10
9
8
7
6
5
4
3
2
1

In [13]:
for c in 'abscascascn':
    print(100)
print("see the difference");
print(11)

100
100
100
100
100
100
100
100
100
100
100
see the difference
11

In [8]:
#Printing AP
for i in range(10,101,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [7]:
i = -10
for i in range(31):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [3]:
#Taking input and doing stuff
n = int(input())
m = int(input())
if n%2 == 0:
    if m%2==0:
        print(1)
    else: print(2)
else: print(3)

13123
12312
3

In [29]:
import pandas as pd
file = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\startup_funding.csv")
f1 = file.copy()
#print(f1.head(5))
f1.loc[[4 , 6]]
f1.shape
f1.head(5)
f1.loc[[2,5,7]]
f1.columns
f1.isnull().sum()
f1.columns
f1.columns
f1.isnull().sum()
f1.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [20]:
print('Hello' , end = "??712e81\n")
print( type(6) )
print(isinstance( 'a' , int))

Hello??712e81
<class 'int'>
False

In [2]:
print('Hello' , end = "??712e81\n")
print( type(6) )
isinstance( 'a' , int)

Hello??712e81
<class 'int'>

False

In [25]:
print('Hello' , end = "??712e81\n")
print( type(6) )
print(isinstance( 'a' , int))
a = 'Hello'
id(a)
##id is the location of cell

Hello??712e81
<class 'int'>
False

1929878558384

In [27]:
print('Hello World' , end = "That's enough \n")
print( type(6) )
print(isinstance( 'a' , int))
a = 'Hello'
id(a)
##id is the location of cell

Hello WorldThat's enough
<class 'int'>
False

1929878558384

In [57]:
print('Hello World ' ,
      end = "That's enough \n")
print( type(29) )
print( "The type of a is Integer?\n" , isinstance( 'a' , int))
a = 'Hello'
b =1222
print(id(a))
print( id(b)   )
##id is the location of cell
#checking id changed or not

print( 5> 6 or 4>1 )
      
    
import numpy as np

Hello World That's enough
<class 'int'>
The type of a is Integer?
 False
1929878558384
1929893837680
True

In [76]:
print('Hello World ' ,
      end = "That's enough \n")
print( type(29) )
print( "The type of a is Integer?\n" , isinstance( 'a' , int))
a = 'Hello'
b =1222
print(id(a))
print( id(b)   )
##id is the location of cell
#checking id changed or not

print( 5> 6 or 4>1 )
      
    
import numpy as np


a =1
while(a<10): 
    print(a),
    a+=1
    ;
print("Finish")

Hello World That's enough
<class 'int'>
The type of a is Integer?
 False
1929878558384
1929901124720
True
1
2
3
4
5
6
7
8
9
Finish

In [84]:
print('Hello World ' ,
      end = "That's enough \n")
print( type(29) )
print( "The type of a is Integer?\n" , isinstance( 'a' , int))
a = 'Hello'
b =1222
print(id(a))
print( id(b)   )
##id is the location of cell
#checking id changed or not

print( 5> 6 or 4>1 )
      
    
import numpy as np


a =1
while(a<10): 
    print(a),
    a+=1
    ;
print("Finish")
i = 24
for i in range(22, 30):
    print("the square of " ,i , " is" , i**2)
    i+=2;

Hello World That's enough
<class 'int'>
The type of a is Integer?
 False
1929878558384
1929901119088
True
1
2
3
4
5
6
7
8
9
Finish
the square of  22  is 484
the square of  23  is 529
the square of  24  is 576
the square of  25  is 625
the square of  26  is 676
the square of  27  is 729
the square of  28  is 784
the square of  29  is 841

In [104]:
print('Hello World ' ,
      end = "That's enough \n")
print( type(29) )
print( "The type of a is Integer?\n" , isinstance( 'a' , int))
a = 'Hello'
b =1222
print(id(a))
print( id(b)   )
##id is the location of cell
#checking id changed or not

print( 5> 6 or 4>1 )
      
    
import numpy as np


a =1
while(a<10): 
    print(a),
    a+=1
    ;
print("Finish")
i = 24
for i in range(22, 31, 2):
    print("the square of " , i , " is" , i**2)
    if i ==28:
       break;

Hello World That's enough
<class 'int'>
The type of a is Integer?
 False
1929878558384
1929901117392
True
1
2
3
4
5
6
7
8
9
Finish
the square of  22  is 484
the square of  24  is 576
the square of  26  is 676
the square of  28  is 784

In [4]:
a =10
b =10
print(a*b)
print(id(a))
b = a
a += 1
print(id(a))
#id of b is equal to earlier a, and it doesnt take value of new 'a' as a refrence

100
140730219664456
140730219664488

In [19]:
a =1.01

bool(a == 1.01  and a>1)

True

In [28]:
a = 5.41
b = a/2
round(b, 0)

3.0

In [47]:
3+2-1*6//3
a = 2.334232343
print(format(a, ".4f"))
b = a + 1
print(b)

d = 342323
round(d,3)

2.3342
3.334232343

342323

In [52]:
a = 5.34000
round(a,1)

5.3

In [56]:
a = '13'
b = '12'
a+b

'1312'

In [ ]:
a = input()
b = input()
a == b

In [71]:
bool(10==10)

True

In [77]:
a = int(input())
if a > 10:
    print("greater than 10")
else : print("less than or equal to 10")

ValueError: invalid literal for int() with base 10: ''

In [86]:
#checking a number odd or even

x = int(input())
r = x%2
if r==0:
    print("yes, its even")
else: print("no,its odd")

ValueError: invalid literal for int() with base 10: ''

In [91]:
#Turn for elif function

a = int(input())
if a%2 == 0:
    print("you chose an even function")
    if a%5 ==0:
        print("Its a multiple of 10 buddy")
else: print("its odd")
if a%3 == 0:
        print("a multiple of 3")

12
you chose an even function
a multiple of 3

In [97]:
#Finding largest of 3 Numbers
a = int(input())
b = int(input())
c = int(input())
if a >= b:
    if a >= c:
        print(a)
    else: print(c)
if b>=c:
    print(b)

12
22
22
22

In [102]:
# lets break down a to 100 or increment it to 100
a = int(input())
while (a != 10):
    if a > 10:
        print(a)
        a = a - 2
        
    if a < 10:
        print(a)
        a +=1
if a==10: print(a)

23
23
21
19
17
15
13
11
9
10

In [122]:
#Checking prime or not

x = int(input())

a = 2

while a<x:
    if x%a == 0:
        print("Its not prime")
        break;
    else: a+=1
if a == x:
    
    print("Its prime man")
if x==1 or x==2:
    print("its prime")

12321
Its not prime

In [123]:
a  = input()
for i in a:
    print(i)

kcasac
k
c
a
s
a
c

In [22]:
import pandas as pd
file = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\startup_funding.csv"  )
#(file.head())
file['Startup Name']

0                             BYJUâ€™S
1                             Shuttl
2                          Mamaearth
3       https://www.wealthbucket.in/
4                             Fashor
                    ...
3039                      Printvenue
3040                        Graphene
3041                  Mad Street Den
3042                       Simplotel
3043                couponmachine.in
Name: Startup Name, Length: 3044, dtype: object