# Type casting 


IT is a process that converts a variable's data type into another data type. These conversions can be implicit (automatically interpreted) or explicit (using built-in functions)

It is of two types

1) Implicit type casting
2) Explicit type casting

## 1- Implicit type casting

Python automatically does this without programers intervention

In [1]:
a=5
b=10.00
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [2]:
a+b

15.0

In [3]:
c=a+b

In [4]:
type(c)

float

 Like above examples python automatically changed the type of variable ( int+flot= flot) so your data type is conveerted automatically to a larger one 
 
 another example

In [5]:
d=15
e=True
f=d+e
type(f)

int

## 2-Explicit type casting

When done explicitly by the programmer

In [6]:
int()
float()
bool()
str()

''

In [7]:
5+int("6")

11

In [10]:
str(5)+'6' # It doesnt know by itslef that (5) is a string me as a programmer told it

'56'

### Int

In [11]:
int(4)

4

In [12]:
int(56.9)

56

In [13]:
int(True)

1

In [14]:
int(3+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
int('python')

ValueError: invalid literal for int() with base 10: 'python'

In [17]:
 int('0010')

10

In [18]:
int('2.447458')

ValueError: invalid literal for int() with base 10: '2.447458'

### Float

In [19]:
float(25)

25.0

In [20]:
float(True)

1.0

In [21]:
 float(35+8j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [22]:
float(0b1010)

10.0

### Complex

In [23]:
complex(25)

(25+0j)

In [24]:
 complex(True)

(1+0j)

In [25]:
complex('25')

(25+0j)

In [27]:
complex('25+5j')

(25+5j)

In [28]:
complex(26j)

26j

In [29]:
 complex(25i)

SyntaxError: invalid decimal literal (671045993.py, line 1)

In [30]:
complex('25J')

25j

 ### Bool
 
 In bool everything but 0 is True
 
 0 and 0.0  and 0+0j is False except it everything is Tru ( In int,float,complex but not in str)

In [31]:
bool(1)

True

In [32]:
bool(0)

False

In [33]:
bool(-1)

True

In [34]:
bool('True')

True

In [35]:
bool(False)

False

In [36]:
bool('False')

True

 #### Str in bool
 
1) Only empty str i.e ''  is false

In [37]:
bool('False')

True

In [38]:
bool('false')

True

In [39]:
bool('5+5j')   # If you are seeing it as a complex number than it is false but see it as a str

True

In [40]:
bool("0+0j")

True

In [41]:
# ONly empty str is false

In [42]:
bool('')

False

In [43]:
bool(' ')

True

Only str with len = 0 is False

'0','0+0','0+0j' = True

In [44]:
 bool(complex("0+0j"))

False

  Empty list [] , set{}, () Tuple is False otherwise true

In [45]:
bool([])

False

In [46]:
bool({})

False

In [47]:
bool(())

False

  ### Str

In [48]:
str(939832)

'939832'

In [49]:
str(0+0j)

'0j'

In [50]:
str('0+0j')

'0+0j'

In [52]:
 str(5+10i)

SyntaxError: invalid decimal literal (955579563.py, line 1)

In [53]:
str(10+5757)

'5767'

In [54]:
  str(5/0)

ZeroDivisionError: division by zero

In [55]:
mynum=input()

5

In [56]:
mynum=input('entre a number')

entre a number50

In [57]:
type(mynum)

str

Input takes anything you entre as a string

QUESTION- WAP to take 2 number from the user and multiply them

In [69]:
a=input('give me a number')
b=input('give me second number')
a=int(a)
b=int(b)
print(a*b)

give me a number32544
give me second number45243
1472388192

### String concatenation

In [70]:
str1='helllo'
str2='world'
str1+str2

'hellloworld'

If we have two strings and we do + then they will concatenated 

Examples for that are
- if we write first name and last name in any form filling then they will concatenated
- address

In [73]:
 website=input('entre website name ')
print('www.'+website+'.com')

entre website name yahoo
www.yahoo.com

In [74]:
'ravindra'+' '+'gurjar'

'ravindra gurjar'

### String multiplication

It can only be possible with integer

In [75]:
'python'*3

'pythonpythonpython'

In [77]:
'python'*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [78]:
'python'* True

'python'

In [79]:
'python'* (True+True)

'pythonpython'

In [80]:
  a=input('give me a number')
b=input('give me second number')
a=int(a)
b=int(b)
print(a*b)

give me a number543636
give me second number686867
373405628412

In [81]:
c=int(input('give me a number'))
d=int(input('give me second number'))

print(c*d)

give me a number9879798
give me second number97079
959120910042

## Slicing 

Slicing is pulling out a part from a sequence

'[ ]' it is used in slicing


Str we will take but it is valid on all sequances (list,range,tuples)

In [82]:
a='python'

In [83]:
a[3]

'h'

In [84]:
a[-2]

'o'

In [86]:
a[0:4] # It always stops one step earlier than the given value

'pyth'

In [88]:
a[0:7]

'python'

In [89]:
a[0:len(a)]           # If we want to go to the lengths

'python'

In [90]:
a[1:4]

'yth'

In [93]:
a[3:]     # Python by default takes ':' as last

'hon'

In [94]:
# End takes one position before the specified index

In [96]:
a[:5]            # [:end] defalt start is zero

'pytho'

In [97]:
a[:]

'python'

In [98]:
a[0:1]

'p'

In [100]:
a[0:0]

''

In [101]:
a[]

SyntaxError: invalid syntax (1145722274.py, line 1)

In [102]:
a[5:3]

''