# Python Informal Introduction

# Foundamentals
1. Official Python tutorial (http://docs.python.org)
2. Python is an interpreted language. 
    - The Python interpreter runs a program by executing one statement at a time.
3. Indentation
4. Statements also do not need to be terminated by semicolons

### Python is an object-oriented programming language 
- Everything is an object
  - An object is a collection of data, commonly known as **attributes**, and the object has certain predefined **functions** to update these data or exchange data with other objects.
- Every number, string, data structure, function, class, module, ... exists in the Python interpreter in its own “box” which is referred to as Python object. 
- Each object has an associated type (for example, string or function) and internal data. 
-In practice this makes the language very flexible, as even functions can be treated just like any other object.

In [1]:
type(5)

int

In [ ]:
type("Francesco")

Comments:
  - Any text preceded by the hash mark (#) is ignored by the Python interpreter
  - _# This code will no be executed_

In [ ]:
# This is a comment, then it is ignored

### Using Python as a Calculator

In [ ]:
5*6

In [ ]:
50//4

In [ ]:
50/2

In [2]:
type(50//2)

int

Division (/) always returns a float. To do floor division and get an integer result (discarding any fractional result) you can use the // operator; to calculate the remainder you can use %.

In [ ]:
# Statement
a = 1 + 2
a

In [ ]:
print(a)

In [ ]:
a=a+4

In [ ]:
a1 = a

In [ ]:
print(a)

In [ ]:
type(a)

The last printed expression is assigned to the variable _. 
It is somewhat easier to continue calculations

In [3]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [4]:
price + _

113.0625

In [5]:
_4

113.0625

In [ ]:
a = 7; b=7

In [ ]:
a=7
b=7

### Function and object method calls

- Functions are called using parentheses and passing zero or more arguments, optionally assigning the returned value to a variable.
- The list if built-in Python functions is https://docs.python.org/3/library/functions.html

In [6]:
# max returns the largest item in an iterable
max(1, 2, 3)

3

In [7]:
result = max(1,5)
result

5

In [8]:
# len returns the length of an object
len([1, 2, 4])

3

In [ ]:
# print a message onto the screen
print("Luigi")

- In Python a function is defined using the _**def**_ keyword

In [9]:
def somma(a, b):
  c = a + b
  #print("Somma")
  return c

In [ ]:
somma(8, 9)

In [ ]:
#somma(8)
a= somma(7, 6)

In [ ]:
type(a)

In [ ]:
a= somma(1.3, 5)

In [ ]:
type(a)

In [12]:
somma(1,10.)

11.0

In [10]:
somma('ciao ', 15)

TypeError: can only concatenate str (not "int") to str

In [11]:
somma('ciao ', str(15))

'ciao 15'

In [13]:
def somma(a=5, b=7):
    return a + b

In [14]:
somma(12)

19

In [ ]:
somma(b=100, a=4)

In [ ]:
somma(4,b=100)

In [ ]:
somma()

In [15]:
#Functions can return more values
def sumComplete(a=5, b=7):
    return a,b,a + b

In [16]:
sumComplete()

(5, 7, 12)

In [17]:
(add1, add2, sum) = sumComplete(3,4)

In [18]:
sum

7

- Almost every object in Python has methods, that have access to the object’s internal contents. 
They can be called using the syntax:
    - _obj.method(1, 2, 3)_
- Functions can take both positional and keyword arguments:
    - _result = f(a, b, c, d=5, e="fff")_

- Variables and pass-by-reference
    - When assigning a variable in Python, you are creating a reference to an object.
    - Assignment is also referred to as binding, as we are binding a name to an object. 
    - When you pass objects as arguments to a function, you are only passing references; no copying occurs

In [ ]:
a = [1, 2, 3]

In [ ]:
a

In [ ]:
b = a

In [ ]:
b

In [ ]:
a.append(4)

In [ ]:
a

In [ ]:
b

In [ ]:
a = 5
b = a

In [ ]:
b

In [ ]:
a = 6

In [ ]:
b

### Dynamic references, strong types
- Object references in Python have no type associated with them
- The object to which a reference is bound at a given time does have a type
- Any given reference may be bound to objects of different types during the execution of a program

In [ ]:
a = 7
f = "Francesco"
g= f

In [ ]:
type(a)

In [ ]:
type(f)

In [ ]:
type(g)

In [ ]:
result = 5.0

In [ ]:
result + result

In [ ]:
type(result)

In [ ]:
result = "result"

In [ ]:
type(result)

- Python is considered a strongly-typed language, 
    - every object has a specific type
    - implicit conversions occur only in certain obvious circumstances

In [30]:
a = 4.5
b = 2

In [ ]:
type(a / b) # Note in Python 2.X this is integer

In [ ]:
a / b

In [ ]:
int(a / b)

In [31]:
type(a)

float

In [32]:
isinstance(a, int)

False

### Operators and comparison
- +,  -, \*,  /,  \*\*, ...
- The operators <, >, ==, >=, <=, and != compare the values of two objects

In [ ]:
# Addition
21 + 11.4

In [ ]:
# Difference
9 - 11

In [ ]:
# Multiplication
2 * 3

In [ ]:
# Division
9 / 3

In [19]:
# Power
2 ** 3

8

In [20]:
5 != 4

True

In [21]:
5 == 4

False

In [ ]:
5 > 4

In [ ]:
5 < 4

In [ ]:
4 >= 4

In [ ]:
19 / 3

In [22]:
int(19 / 3)

6

In [23]:
19 // 3 # parti intera della divisione

6

In [33]:
19 % 3 # resto della divisione

1

### Imports
- In Python a module is simply a .py file containing function and variable definitions along with such things imported from other .py files.

In [34]:
import numpy

In [35]:
numpy.array([1,2,3])

array([1, 2, 3])

In [ ]:
type(numpy.array([1,2,3]))

In [36]:
import numpy as np 

array = np.array([[1, 2, 3], [4, 5, 6]])
array

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
from numpy import array
array([[1, 2, 3], [4, 5, 6]])

## Mutable and immutable objects
- Most objects in Python are mutable: the object or values that they contain can be modified
  - lists, dicts, NumPy arrays, or most user-defined types (classes).
- Other object cannot be modified after their creation
  - strings and tuples.

In [ ]:
a = 7

In [ ]:
a = a + 1
a

In [37]:
esempio_Lista = [1, "Ciao", 4]

In [38]:
type(esempio_Lista)

list

In [ ]:
esempio_Lista

In [ ]:
esempio_Lista[2]

In [ ]:
esempio_Lista[2] = 48

In [ ]:
esempio_Lista

In [ ]:
esempio_Stringa = "Francesco"

In [ ]:
esempio_Stringa[8]

In [ ]:
esempio_Stringa[8] = 'a'

In [ ]:
esempio_Stringa = 'Francesca'

## Scalar Types

### Numeric

- The primary Python types for numbers are int and float
   - In Python3, value of an integer is not restricted by the number of bits and can expand to the limit of the available memorys.

- Floating point numbers are represented with the float type.
   - Under the hood each one is a double-precision (64 bits) value.
   - They can also be expressed using scientific notation.

In [ ]:
intValue = 9223
intValue

In [ ]:
print(intValue**intValue)

In [ ]:
type(intValue)

In [ ]:
intValue = intValue +2

In [ ]:
intValue

In [ ]:
type(intValue)

In [ ]:
flVaue = 4.765

In [39]:
flValueScient = 4.123e22

In [40]:
flValueScient

4.123e+22

In [43]:
flValueScient + 2**22

4.123000000000001e+22

In [ ]:
4.123 * 10**22

In [ ]:
type(flValueScient)

In [44]:
#overflow
flValueScient**flValueScient

OverflowError: (34, 'Result too large')

### Strings
- You can write string using either single quotes ' or double quotes "
- For multiline strings with line breaks, you can use triple quotes, either ''' or """
- Python strings are immutable; you cannot modify a string without creating a new string

In [ ]:
string1 = 'Questa è una stringa'
string1

In [ ]:
string2 = "Questa è una stringa"
string2

In [ ]:
string1 == string2

In [45]:
string1 = 'Questa è una stringa'
stringLunga = '''
Stringa
su più
righe'''
stringLunga

'\nStringa\nsu più\nrighe'

In [ ]:
stringLunga

In [ ]:
type(string1)

In [ ]:
s = 'c'
type(s)

In [ ]:
len(string1)

- Many Python objects can be converted to a string using the str function    
- Adding two strings together concatenates them and produces a new string

In [ ]:
a = 42

In [ ]:
type(a)

In [ ]:
str(42)

In [ ]:
print(a)

In [ ]:
print(str(a))

In [ ]:
str(a)

In [ ]:
42 + 42

In [ ]:
'ciao' + 'ciao'

In [ ]:
b = 'Il risultato è '

In [ ]:
b + a

In [ ]:
b + str(a)

In [46]:
int(7.12)

7

In [47]:
int('ciao')

ValueError: invalid literal for int() with base 10: 'ciao'

In [ ]:
int('10')

### Booleans
- The two boolean values are written as True and False. 
- Boolean values are combined with the and and or keywords

In [ ]:
b = True
b

In [ ]:
type(b)

In [ ]:
True or True

In [ ]:
True or False

### None
- None is the Python null value type
- If a function does not explicitly return a value, it implicitly returns None

In [48]:
k = None

In [49]:
k is None

True

In [50]:
not k is None

False

In [ ]:
type(k)

In [ ]:
def prova(a=1,b=1):
  c=a+b

In [ ]:
type(prova)

In [ ]:
result = prova()

In [ ]:
type(result)

### Dates and times
- The built-in Python datetime module provides datetime, date, and time types.

In [51]:
import datetime
dt = datetime.datetime(2021, 6, 19)

In [52]:
type(dt)

datetime.datetime

In [ ]:
dt.date()

In [ ]:
dt.time()

In [ ]:
dt.hour

In [ ]:
dt = datetime.datetime(2019, 7, 1, 23, 24)

In [ ]:
dt.time()

In [ ]:
dt.hour

In [ ]:
dt.minute

In [53]:
today = datetime.date.today()

In [54]:
print(today)

2023-03-06

In [ ]:
type(today)

In [ ]:
datetime.datetime.now()

## Control flow

### ***if***, ***elif***, and ***else***

In [ ]:
a = 4
b = 5

if (a < 5):
    print("minore")
else:
    print("a è maggiore o uguale")

if (b == 5):
    print("b uguale")
else: 
    print("b diverso")

In [ ]:
a = 5
if a == 7:
  print('7')
elif a == 5:
  print('5')
else:
  print('diverso da 5 e 7')

### ***for*** loops
    - for loops are for iterating over a collection (like a list or tuple) or an iterator

In [ ]:
sequence = [1, 2, 3, 5, 6]
for i in sequence:
    print("i = ", i)
    i = i + 1
    print("i+1 = ", i)

In [55]:
sequence = [1, 2, None, 5, None, "francesco"]
for i in sequence:
    print(i)
    if i is None:
      print('errore')

1
2
None
errore
5
None
errore
francesco

In [ ]:
range(10)

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
range(1, 10)

range(1, 10)

In [58]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [59]:
a = range(0,10) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
for i in a:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
print(a)

range(0, 10)

In [62]:
a[4]

4

In [ ]:
for i in range(10):
    print(i)

In [63]:
for i in range(1, 10, 2): # incremento di 2
    print(i)

1
3
5
7
9

In [64]:
for i in range(10, 22, 3): # incremento di 3
  print(i)

10
13
16
19

### ***while*** loops
    - A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break

In [65]:
while cond:
  # esegui il codice

IndentationError: expected an indented block (2115971697.py, line 2)

In [ ]:
i = 0
while i < 10:
    print("i=",i)
    for a in range(i, 10):
      print ("a=",a )
      
    i = i + 1
    
    if i == 2:
      break

In [ ]:
do {
    codice
} while(cond)

In [ ]:
codice
while cond:
  codice

## Built-in Data Structures

### Tuple
- A tuple is a one-dimensional, fixed-length, immutable sequence of Python objects.

In [66]:
tup = (1, 2, 3, 4, 5, 6)

In [ ]:
tup

In [67]:
type(tup)

tuple

In [ ]:
tup

In [ ]:
tup[3]

In [68]:
tup[3] = 1

TypeError: 'tuple' object does not support item assignment

In [69]:
tup = (1, 2, 3, 1, 5, 6)
tup

(1, 2, 3, 1, 5, 6)

In [70]:
nestedTuple = (1, 3, 5, 7, 9), (2, 4, 6, 8, 10)

In [71]:
nestedTuple

((1, 3, 5, 7, 9), (2, 4, 6, 8, 10))

In [72]:
nestedTuple[0]

(1, 3, 5, 7, 9)

In [73]:
nestedTuple[0][0]

1

In [74]:
nestedTuple[1][1]

4

In [ ]:
nestedTuple[0][4]

In [ ]:
nestedTuple = ((1, 3, 5, 7, 9), (2, 4, 6, 8, 10))
nestedTuple[1][1]

In [ ]:
nestedTuple

In [ ]:
nestedTuple[0][1]

In [75]:
tuple("Francesco")

('F', 'r', 'a', 'n', 'c', 'e', 's', 'c', 'o')

In [76]:
tuple("Francesco")[0]

'F'

In [77]:
tupMixed = 1, 'a', [1,2]

In [78]:
tupMixed

(1, 'a', [1, 2])

In [ ]:
tupMixed[0]

In [79]:
tupMixed[0] = 14

TypeError: 'tuple' object does not support item assignment

In [80]:
tupMixed[2]

[1, 2]

In [81]:
tupMixed[2].append(14)

In [82]:
tupMixed

(1, 'a', [1, 2, 14])

-  Tuple methods 
    - Tuples can be concatenated using the + operator
    - One particularly useful method (also available on lists) is count, which counts the number of occurrences of a value

In [83]:
tupMixed

(1, 'a', [1, 2, 14])

In [84]:
nestedTuple + tupMixed

((1, 3, 5, 7, 9), (2, 4, 6, 8, 10), 1, 'a', [1, 2, 14])

In [91]:
t1 = (1, 1, 1)
t2 = (4, 5, 6)
t = t1 + t2
t

(1, 1, 1, 4, 5, 6)

In [93]:
tupMixed.count(1)

1

In [86]:
tupMixed

(1, 'a', [1, 2, 14])

In [87]:
tupMixed.count('g')

0

In [ ]:
len(tupMixed)

### List

  - lists are variable-length and their contents can be modified
  - They can be defined using square brackets **\[ \]** or using the list type function

In [99]:
listA = [0, 1, 2, 3]

In [ ]:
listA

In [ ]:
listA[0]

In [ ]:
listA[0] = 555

In [ ]:
listA

In [ ]:
listB = listA
listB

In [ ]:
listA[0]=1
listB

In [ ]:
listB[0]=44

In [ ]:
listA[1]=111

In [94]:
tupMixed=(1,'a',[1,2,14])

In [95]:
listB = list(tupMixed)

In [96]:
listB

[1, 'a', [1, 2, 14]]

In [ ]:
listB[0] = 13

In [ ]:
listB

In [97]:
list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
for i in list('abcde'):
  print(i)

- List methods
    - Adding and removing elements
    - Concatenating and combining lists
    - Sorting
    - Slicing
    - Searching an element
    - Enumerating elements
    - Pairing lists

In [98]:
listA

NameError: name 'listA' is not defined

In [ ]:
# Adding element via append
listA.append(4)
listA

In [ ]:
listA.append(1000)
listA

In [100]:
# Inserting an element in a specific location
listA.insert(1, "Francesco")
listA

[0, 'Francesco', 1, 2, 3]

In [ ]:
listA[1]

In [ ]:
listA

In [101]:
# Removing an element from a specific location
listA.pop(0)

0

In [102]:
listA

['Francesco', 1, 2, 3]

In [ ]:
# Removing a specific element (the first in case of duplication) from a list
listA.remove(4)

In [ ]:
listA

In [ ]:
listA.remove(4)

In [ ]:
if 4 in listA:
  listA.remove(4)

In [103]:
# Concatenating
listA + listA

['Francesco', 1, 2, 3, 'Francesco', 1, 2, 3]

In [104]:
listA

['Francesco', 1, 2, 3]

In [105]:
# Extending
listA.extend([4,5])

In [106]:
listA

['Francesco', 1, 2, 3, 4, 5]

In [ ]:
listA.append([4,5])

In [ ]:
listA

In [108]:
# Sorting
listNum = [0,43,27,18,90,4]

In [109]:
listNum.sort()

In [110]:
listNum

[0, 4, 18, 27, 43, 90]

In [ ]:
# Slicing
# You can select sections of list-like types (arrays, tuples, NumPy arrays) by using slice notation, 
# which in its basic form consists of start:stop passed to the indexing operator []
listNum

In [111]:
listNum

[0, 4, 18, 27, 43, 90]

In [ ]:
listNum[1]

In [112]:
listNum[0:100]

[0, 4, 18, 27, 43, 90]

In [113]:
listNum[0:2]

[0, 4]

In [ ]:
listNum[5]

In [ ]:
listNum[1:4]

In [ ]:
listNum[0:2]

In [114]:
listNum[1:]

[4, 18, 27, 43, 90]

In [115]:
listNum[:2]

[0, 4]

In [116]:
listNum

[0, 4, 18, 27, 43, 90]

In [117]:
listNum[-2]

43

In [ ]:
listNum[:3]

In [118]:
listNum[-3:]

[27, 43, 90]

In [119]:
listNum

[0, 4, 18, 27, 43, 90]

In [120]:
listNum[0:4:2]

[0, 18]

In [ ]:
listNum[::-1]

In [ ]:
listNum[::-1]

In [121]:
# Searching in List
2 in listNum

False

In [ ]:
4 in listNum

In [123]:
# Python has a built-in function, enumerate, which returns a
# sequence of (i, value) tuples:

# for i, value in enumerate(collection):
#   do something with value

a = ["a", "b", "c", "d"]
for i, value in enumerate(a):
    print(str(i) + "   " + value)

0   a
1   b
2   c
3   d

In [ ]:
for i,z in enumerate(a):
  print(z)

In [ ]:
a = ["a", "b", "c", "d"]

In [ ]:
for ix, x in enumerate(a):
  print(ix, x)

In [ ]:
a

In [ ]:
# zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples
b = [1, 2, 3, 4]
zip(a, b)
list(zip(a, b))

In [ ]:
for x in zip(a, b):
  print(type(x))

### Dictionary
- It is hash map or associative array. 
- It is a flexibly-sized collection of key-value pairs, key and value are objects. 
- One way to create one is by using curly braces {} and using colons to separate keys and values

In [124]:
diz = {}
diz['Firstname'] = 'francesco'
diz['Lastname'] = 'rossi'

In [125]:
diz

{'Firstname': 'francesco', 'Lastname': 'rossi'}

In [126]:
diz.keys()

dict_keys(['Firstname', 'Lastname'])

In [127]:
for i in diz.values():
  print(i)

francesco
rossi

In [128]:
diz.items()

dict_items([('Firstname', 'francesco'), ('Lastname', 'rossi')])

In [129]:
del diz['Firstname']

In [ ]:
diz['parola'] = 0

In [ ]:
diz['parola'] += 1

In [ ]:
diz

In [ ]:
diz[0]=4

In [ ]:
diz

In [ ]:
d = {'Nome': 'Francesco', 4 : 48, 'cognome': 'Guerra'}
d

In [ ]:
d[4]

In [ ]:
d['job']

In [ ]:
d['job'] = 'PO'
d

- Creating dicts from sequences

In [130]:
seqA = ['a', 'b', 'c', 'd', 'e']
seqB = range(1, 6)

mapping = {}
for key, value in zip(seqA, seqB):
  #print(key)
  #print(value)
  mapping[key] = value

In [131]:
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- Dictionary Methods
    - Searching for an element
    - Removing an element
    - keys and values

In [ ]:
dictTel = {"Francesco": 335666, "Matteo": 3478888, "Michela": 5454455}

In [ ]:
dictTel["Francesco"] = 666335

In [ ]:
dictTel

In [ ]:
if 'Matteo' in dictTel:
    print(dictTel['Matteo'])

In [ ]:
# Removing elements
dictTel.pop('Matteo')
dictTel

In [ ]:
dictTel.pop('Matteo')

In [ ]:
del dictTel["Michela"]
dictTel

In [ ]:
del dictTel["Michela"]

In [ ]:
dictTel

In [ ]:
# List of keys
dictTel.keys()

In [ ]:
# List of values
dictTel.values()

In [ ]:
if "Michela" in dictTel.keys():
  del dictTel["Michela"]

In [ ]:
dictTel.items()

In [ ]:
dictTel

In [ ]:
for k, val in dictTel.items():
  print(k)
  print(val)

### Set
- A set is an unordered collection of unique elements.  
- A set can be created in two ways: via the set function or using a set literal with curly braces

In [132]:
listSet = [1, 1, 1, 1, 1, 1, 2, 3, 4]
listSet

[1, 1, 1, 1, 1, 1, 2, 3, 4]

In [133]:
set(listSet)

{1, 2, 3, 4}

In [134]:
setExample = {1, 1, 1, 1, 1, 1, 2, 3, 4}

In [135]:
setExample

{1, 2, 3, 4}

In [136]:
setExample.intersection({2, 3, 4, 5})

{2, 3, 4}

In [137]:
setExample.union({2, 3, 4, 5})

{1, 2, 3, 4, 5}

## List, Set, and Dict Comprehensions
- List comprehensions are one of the most-loved Python language features. 
- They allow you to concisely form a new list by filtering the elements of a collection and transforming the elements passing the filter in one concise expression. They take the basic form:
- [expr **for** val **in** collection **if** condition]

In [ ]:
'se'.upper()

In [138]:
new = []
listMin = ['una', 'lista', 'di', 'parole', 'minuscole', 'e', 'MAIUSCOLE']

for x in listMin:
  if len(x) > 2:
    x = x.upper()
    new.append(x)

In [139]:
new

['UNA', 'LISTA', 'PAROLE', 'MINUSCOLE', 'MAIUSCOLE']

In [140]:
[x.upper() for x in listMin if len(x)>2]

['UNA', 'LISTA', 'PAROLE', 'MINUSCOLE', 'MAIUSCOLE']

In [ ]:
{str(i):i for i in [1,2,3,4,5]}

In [141]:
fruits = ['apple', 'mango', 'banana','cherry']
{f:len(f) for f in fruits}

{'apple': 5, 'mango': 5, 'banana': 6, 'cherry': 6}

In [142]:
for i,j in enumerate(fruits):
  print(i)
  print(j)

0
apple
1
mango
2
banana
3
cherry

In [ ]:
{f:i for i,f in enumerate(fruits)}

## Anonymous (Lambda) Functions

- Python has support for so-called anonymous or lambda functions
    - a way of writing functions consisting of a single statement
    - the result is the return value. 
    - they are defined with the lambda keyword

In [ ]:
def twoTimes(x):
    return x * 2

In [ ]:
twoTimes(3)

In [ ]:
twoTimesLambda = lambda x: x * 2

In [ ]:
twoTimesLambda(22)

In [ ]:
def applyList(aList, aFunction):
    return [aFunction(x) for x in aList]

In [ ]:
applyList([1, 4, 5, 7, 11], twoTimes)

In [ ]:
applyList([2, 4, 5, 7, 9], lambda x: x ** 2)