# Type Conversion

Bir data tipinin, farklı bir data tipine çevrilebilmesidir.

#### All types to str

In [2]:
age = 32
type(age)

int

In [6]:
str(age) #str fonksiyonu içerisine girilen değeri string'e çevirmede kullanılır. Ancak atama olmadığı için tipi değişmez orijinal olarak kalır.

'32'

In [8]:
type(age)

int

In [9]:
age = str(age) # bu şekilde yaparsak şimdi type'ı değişir.

In [11]:
str(3.14) #float değer örneği

'3.14'

In [13]:
str(True) #boolean değer örneği

'True'

In [15]:
pi_number = 3.14
type(pi_number)

float

In [16]:
str(pi_number) #bu geçici bir işlemdir.

'3.14'

In [17]:
pi_number = str(pi_number)   # işte şimdi tamamen değişti.
type(pi_number)

str

#### str to int

In [18]:
age_1 = "33"
type(age_1)

str

In [22]:
int(age_1)  #bu şekilde int'e çevirdi. Ancak type'ı yine değişmedi atama yapılmadığı için, işlem yapmaz.

33

In [25]:
2024 - int(age_1)   #Bu şekilde çalışır değişlene tanımlamaya gerek olmadan.
age_1 = int(age_1)  #Bu şekilde atama yaparak da çalışır tabi.
2024 - age_1

1991

In [28]:
int("32a")  #içerisinde a harfi olduğu için çeviremez. Java'daki gibi değil.

ValueError: invalid literal for int() with base 10: '32a'

In [29]:
int("-30")

-30

#### str to float

In [31]:
float("3.14") # bu şekilde çevirebilir. Yine kalıcı olmaz ama mantık aynı.

3.14

#### float to int, int to float

In [32]:
int(5.4)  # int'e çevirirken noktadan sonrasını siler.

5

In [36]:
int(5.999999999999999996)  # bu bir istisna, 99999999999 sonrası yuvarlama yapar

6

In [34]:
int(5.6)  # yine 5 çıkacak sonuç yuvalarma yapmaz.

5

In [37]:
int(22/7)  # 3.14 olması gerekirken 3 verecek.

3

In [39]:
float(5)  # float örneği.

5.0

In [40]:
int("3.14")  # burada string ifade int'e benzemek yerine float'a benzediği için çalıştırmıyor.

ValueError: invalid literal for int() with base 10: '3.14'

In [43]:
int(float("3.14")) # bu şekilde iç içe yapılabilir.

3

#### boolean to int, boolean to float

In [44]:
int(True)

1

In [45]:
float(False)

0.0

In [46]:
str(False)

'False'

# Arithmetic Operators

In [47]:
3 + 5

8

In [48]:
9 - 4

5

In [49]:
8 * 5

40

In [52]:
40 / 10  # bölme işlemleri her zaman float olarak çıkar!

4.0

In [53]:
2.4 * 5

12.0

In [54]:
25 / 3

8.333333333333334

In [59]:
25 // 3  # floor division - bu şekilde tam sayı halinde verir.

8

In [58]:
25 % 3  # modulus ile de kalan kısmı alırız.

1

In [62]:
2 ** 3 # Exponentiation - bu da üs alma işlemidir. 2 * 2 * 2 demektir, 2'yi 3 kere çarp demektir.

8

In [63]:
25 ** 0.5 # 0.5 bir sayının kare kökünü alıyor.

5.0

In [65]:
x = (4 + 2 ) ** (4 ** (1 * 2 / 2) / 2) 
print(x)

36.0

yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazınız. 

pi = 3.14
r= 7
alan = pi * r**2

In [7]:
pi = 3.14
r = 7
x = pi * r ** 2
print(x)

153.86

Ödev: bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

In [13]:
a = 5 ** 2
b = 12 ** 2
x = a + b
h = x ** 0.5
print("kenarlari 5 ve 12 olan dik üçgenin hipotenüsü:", h )

kenarlari 5 ve 12 olan dik üçgenin hipotenüsü: 13.0