### Data types
1. integer: 5, 10, 15, 11, 9, 2, 900
2. float: 5.25, 6.1, 9.11
3. string: ""
4. boolean --> True, False

In [1]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int))

10
<class 'int'>
28
10  is Integer? True

In [2]:
sys.getsizeof(int()) # size of integer object in bytes 
sys.getsizeof(float()) # size of float object in bytes

24

### String Creation

In [4]:
str1 = "HELLO PYTHON"
print(str1)

mystr = "Hello World" # Define string using double quotes
print(mystr)

mystr = '''Hello 
 World ''' # Define string using triple quotes
print(mystr)

HELLO PYTHON
Hello World
Hello
 World

### String indexing

![image](indexing.PNG)

In [5]:
str1

'HELLO PYTHON'

In [7]:
print(str1[0]) # First character in string "str1"
print(str1[-1]) # Last character in string
print(str1[6]) #Fetch 7th element of the string

H
N
P

### String Slicing

In [8]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location

'HELLO'

In [10]:
print(str1[:4]) # Retreive first four characters of the string
print(str1[:6]) # Retreive first six characters of the string

HELL
HELLO

### String Function

In [11]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [12]:
mystr2.strip() # Removes white space from begining & end
mystr2.rstrip() # Removes all whitespaces at the end of the string
mystr2.lstrip() # Removes all whitespaces at the begining of the string
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [14]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

### Way to take input in python
(Note: By default it take string as input if you want to input integer by user : use this statement: num = int(input('enter your name: '))

In [3]:
name = input('enter your name: ')
print('welcome', name)

enter your name: satyajit
welcome satyajit

In [4]:
name

'satyajit'

In [5]:
type(name)

str

In [6]:
a = True
b = 'True'

In [7]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

#### Typecasting

In [10]:
acc = 91.9
print(acc)
print(type(acc))

91.9
<class 'float'>

In [11]:
int(acc)

91

In [12]:
my_age = 33

In [13]:
type(my_age)

int

In [14]:
float(my_age)

33.0

In [15]:
var = 2
type(var)

int

In [11]:
var1 = float(var)
type(var1)

float

In [12]:
var1

2.0

In [13]:
var = 2.9
var_int = int(var)
print(var_int)

2

In [14]:
int(var)

2

In [15]:
var = 2
new_var = str(var)

In [16]:
new_var

'2'

In [17]:
type(new_var)

str

In [19]:
name = "19"
int(name)

19

In [20]:
int("2")

2

In [21]:
var_new = "2.5"

In [22]:
type(var_new)

str

In [23]:
int(float(var_new))

2

In [24]:
var_new = "2.5"
type(var_new)

str

In [27]:
var_new_fl = float(var_new)

In [28]:
int(var_new_fl)

2

In [29]:
int(float(var_new))

2

In [21]:
# Convert a float value inside a string variable to Integer

int("2.2")

ValueError: invalid literal for int() with base 10: '2.2'

In [19]:
int(float("2.5"))

2

In [37]:
string_var = "2.5"
int(string_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [40]:
string_var = "2.5"
int_var = int(string_var)
print(int_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [41]:
string_var = "2.5"
float_var = float(string_var)
int_var = int(float_var)
print(int_var)

2

In [43]:
string_var = "3.1" 
int_var = int(float(string_var))
print(int_var)

3

In [22]:
float("2.2")

2.2