**#List and Immutable**

In [ ]:
list_con = [1,2.9,'shivanand',2+3j]
list_con

[1, 2.9, 'shivanand', (2+3j)]

In [ ]:
list_container = [1,2.9,'shivanand',2+3j]
list_container[1]

2.9

In [ ]:
list_container[3]

(2+3j)

In [ ]:
list_container[2] = 'Shivanad Uppe'

In [ ]:
list_container

[1, 2.9, 'Shivanad Uppe', (2+3j)]

In [ ]:
a =

'Shivanand'

**#Boolean Value Operations**

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
int(False / True)

0

In [ ]:
False and False

False

**#Operations on self variables**

In [ ]:
b = 12
b = b+10
b

22

In [ ]:
b = 12
b+=10
b

22

In [ ]:
b = 12
b/=10
b

1.2

**#Not operator**

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
a = ['shiva','abc',1,2,3.5,4+5j]
'shiva' in a

True

In [ ]:
a = ['shiva','abc',1,2,3.5,4+5j]
'shiva' not in a

False

In [ ]:
a= 12
b = a
a is b

True

In [ ]:
a= 12
b = a
a is not b

False

In [ ]:
a= 12
b = a + 1
a is not b

True

**#bitwise operators**

In [ ]:
1 & 10

0

In [ ]:
bin(10)

'0b1010'

In [ ]:
1 or -1

1

**Left and right Shift operators >> right shift & << Left shift**

In [ ]:
5 << 1

10

In [ ]:
bin(5)

'0b101'

In [ ]:
bin(1)

'0b1'

In [ ]:
a = 'shivanand has to finish the Datasience course with AI in the month of March - 2025'

type(a)
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'shivanand has to finish the Datasience course with AI in the month of March - 2025'

In [ ]:
a = 8
b = float(a)
b

8.0

In [ ]:
a = 'Shivanand'
b = ' Uppe'
a + b

'Shivanand Uppe'

**#Boolean of any number other than 0 is always a True**


**#Boolean of -ve number also considered as True**

**#Boolean of Any string other than Empty String is True**

In [ ]:
bool('Some text here')

True

In [ ]:
bool("")

False

**Some texts here for Conditions - if , else, else if **

In [ ]:
a = 25
if a < 0 :
  print('a is negative')
elif(a == 0):
  print('a is zero')
else :
  print('a is positive')

a is positive

In [ ]:
weather = 'thunderstorm'
if weather == 'Rainy':
  print('go outside')
elif weather == 'Cloudy':
  print('stay inside')
else:
  print('check weather condition')

check weather condition

In [ ]:
#Print number is even or odd
num = input('Enter the Number\n')
num = int(num)
if num % 2 == 0:
  print('Number is Even')
else:
  print('Number is odd')

Enter the Number
10
Number is Even

In [ ]:
#fibonacci series
number = input("Enter the number ")
number = int(number)
a = 0
b = 1
print(a)
print(b)
for i in range(number):
  c = a + b
  a = b
  b = c
  print(c)

Enter the number 5
0
1
1
2
3
5
8

In [ ]:
#Based on Score grade segregation

Score = input("Enter the Marks obtained by Student \n")
Score = int(Score)
if (Score >= 90 and Score < 101):
  print("Grade A")
elif 80<=Score<=89:
  print("Grade B")
elif 70<=Score<=79:
  print("Grade C")
elif 60<=Score<=69:
  print("Grade D")
elif 50<=Score<=59:
  print("Grade E")
elif 40<=Score<=49:
  print("Grade F")
elif Score <= 35:
  print("Better luck next time")
else:
  print("Sorry You entered an out of range marks")

Enter the Marks obtained by Student
101
Sorry You entered an out of range marks

In [ ]:
#Senior Citizen

Age = input("Enter the Age of a Person")
Age = int(Age)
if Age >= 60 and Age <= 101:
  print("Senior Citizen")
elif Age >= 18 and Age < 60:
  print("Eligible to cast Vote")
elif Age >= 12 and Age < 18:
  print("Teenager")
else :
  print("Invalid Age")

Enter the Age of a Person25
Eligible to cast Vote

**#Multiple Conditions**

In [ ]:
A = input("Enter the first number\n")
A = int(A)
B = input("Enter the second number\n")
B = int(B)
if (A > 10):
  if (B > 7):
    print("Inside Nested If")
  else:
    print("Inside Nested Else")
else:
  print("Outside If")
  if (B < 7):
    print("Inside Nested If")
  else:
    print("Inside Nested Else")

Enter the first number
3
Enter the second number
4
Outside If
Inside Nested If

**Conditional things**

In [ ]:
name = input("Enter the Customer Name\n")
mail = input("Enter the Customer Email id\n")
password = input("Enter the Customer Password\n")
if name == "":
  print("Please enter the valid name")
else:
    if "@" not in mail :
      print("Please enter the valid email")
    else:
        if len(password) < 0 :
          print("Password cannot be empty")
        else:
          print("Registration Successful")

Enter the Customer Name
Shiva
Enter the Customer Email id
Shiva@123
Enter the Customer Password
yuiyuyui
Registration Successful

#Loop - While Loop and For loop

While loop - repetedly executed while loop until condition is met

In [ ]:
n = 7
i = 1
while(i<n):
  print(i)
  i = i+1

1
2
3
4
5
6

In [ ]:
i = int(input("Enter the number\n"))
j = int(input("Enter the number\n"))
print("The numbers are",i,j)
while(i<j):
  print(i)
  i = i+1

Enter the number
9
Enter the number
4
The numbers are 9 4

In [ ]:
count = 10
while(count>0):
  print(count)
  count = count - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n = 7
i = 1
while(i<n):
  print(i)
  i = i+1
else :
    print("Loop finished")

1
2
3
4
5
6
Loop finished

In [ ]:
#Break statements -- terminates /exists the loop
n = 7
i = 1
while(i<n):
  print(i)
  if i == 4:
    break
  i = i+1
else :
    print("Loop finished")

1
2
3
4

In [ ]:
#Continue Statements
n = 7
i = 1
while(i<n):
  if i == 4:
    i = i+1
    continue
  print(i)
  i = i+1
else :
    print("Loop finished")

1
2
3
5
6
Loop finished

In [ ]:
#for loop
for i in "pwskills":
  print(i)
  # if i == "s":
  #   continue
else :
  print("Loop finished")

p
w
s
k
i
l
l
s
Loop finished

In [ ]:
#for loop example for list
for i in [1,2,3,4,"Shivanand",89.0,7.00000899,8,9]:
  print(i)
else:
  print("Loop finished")

1
2
3
4
Shivanand
89.0
7.00000899
8
9
Loop finished

In [ ]:
l = [1,2,3,4,"Shivanand",89.0,7.00000899,8,9]
for i in l:
  if i == "Shivanand":
    continue
  print(i)
else:
  print("Loop finished")

1
2
3
4
89.0
7.00000899
8
9
Loop finished

In [ ]:
#range - Sequential numbers
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

**Print a right angle Traingle**

In [ ]:
#print Right angle traingle
n = 5
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end = "")
  print()

*
**
***
****
*****

In [ ]:
#print square
n = 5
for i in range(0,n):
  for j in range(0,n):
    print("*",end = "")
  print()

*****
*****
*****
*****
*****

In [ ]:
#Print given number is Even or Odd
num = int(input("Enter the Number\n"))
if num%2 == 0:
  print("Even")
else:
  print("Odd")

Enter the Number
65
Odd

In [ ]:
#print number of even numbers from the range 40

for i in range(0,30,3):
  if i%2 == 0:
    print(i)

0
6
12
18
24

In [ ]:
3+4*2

11

In [6]:
a = 5
b = 1
while (b<a):
  b = b+1
  if(b%2 != 0):
    continue
  print(b)

2
4

Diff between Pass , continue and Break

In [9]:
#Diff between Pass , continue and Break
a = 5
b = 1
while (b<a):
  b = b+1
  if(b%2 != 0):
    pass
  print('post pass',b)
  if(b == 4):
    break
  print('after break',b)  #This will not be printed

post pass 2
after break 2
post pass 3
after break 3
post pass 4

In [26]:
new_var = ['Shivanand\n']
for i in new_var:
  # print(i)
  # if 'S' in new_var:
    print(i[1])

h