# Introduction to Python- Part 1
        by Pradip Gupta (pradip.mech13@gmail.com)

# Basic Data types in python

1. int
2. float
3. string 
4. boolean

## 1. Int

In [1]:
days_of_week = 7

In [2]:
print(days_of_week)

7

In [3]:
type(days_of_week)

int

In [4]:
id(days_of_week)

140728872313440

In [5]:
print(Days_of_week) # everything is case-sensitive

NameError: name 'Days_of_week' is not defined

In [6]:
# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting/un-commenting in Jupyter is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

## 2. Float

In [7]:
z = 10.3

In [8]:
print("float no is:", z)

float no is: 10.3

In [9]:
type(z)

float

In [10]:
id(z)

1574876220656

## 3. String

In [11]:
b = '2' # or b = "2" (single or double quotes do not make a difference in python)
b

'2'

In [12]:
type(b)

str

In [13]:
id(b)

1574794123888

In [14]:
c = "edvancer"
c

'edvancer'

In [15]:
len(c)

8

In [16]:
c = "123 456@78 "
len(c)

11

In [17]:
d = "123 456@78 "

In [18]:
print(c == d)

True

## 4. Boolean

In [19]:
x=True
y=False

In [20]:
type(x)

bool

In [21]:
type(y)

bool

In [22]:
x and y

False

In [23]:
x & y

False

In [24]:
not x

False

In [25]:
# !conda env list

In [26]:
x or y

True

In [27]:
x | y

True

# Variable Naming

You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


1. Variable names can not have spaces in between.
2. They can not contain any special character except underscore [i.e. _ ]
3. Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [28]:
my_var_is_this=5

**Reserved Words:**

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Everything is an object

- Different operations that can be done on strings like split, join, index, count, find, upper,lower,len,min,max.

In IPython you can get the list of object's methods and attributes by typing dot and pressing TAB:

In [29]:
c= "hydeRabad"

Methods are basically default functions that can be applied to our variable:

In [30]:
c.upper()

'HYDERABAD'

In [31]:
c.title()

'Hyderabad'

In [32]:
d = c.lower()

In [33]:
d

'hyderabad'

In [34]:
c

'hydeRabad'

In [35]:
c.count("a")

2

In [36]:
idx = c.find('d',0,)
idx

2

If you need help on method in IPython type something like:

In [37]:
c.count?

Or open bracket and press SHIFT+TAB:

In [38]:
c.find()

TypeError: find() takes at least 1 argument (0 given)

Methods can be combined (kind of a pipeline)

In [39]:
c.title()

'Hyderabad'

In [40]:
c.title().find('H')

0

In [41]:
c.lower().count("o")

0

In [42]:
c

'hydeRabad'

In [43]:
c.find("a")

5

In [44]:
path = "path/to/dir"

In [45]:
s = "goazlehzladak"
s.split("z")

['goa', 'leh', 'ladak']

In [46]:
a, b, c

NameError: name 'a' is not defined

In [47]:
path.split("/")

['path', 'to', 'dir']

In [48]:
# str - class
# .lower - methods of class str
# .count - methods of class str
# .find - methods of class str

# Some basic numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [49]:
x=5
y=2
x+y

7

In [50]:
x-y

3

In [51]:
x*y

10

In [52]:
x/y

2.5

In [53]:
x//y

2

you need to use double asterisks for exponents as shown below

In [54]:
x=2
y=3
x**y

8

you can do multiple operations separated by comma

In [55]:
a = 2
b = 3
c = 4

In [56]:
a, b, c = 2, 3, "some"

In [57]:
a

2

In [58]:
c

'some'

In [59]:
a, b, c, d = x+2, y+3, x+y, x**(x+y)
a, b, c, d

(4, 6, 5, 32)

Some operations are not allowed on different data types:

In [60]:
a = 3
b = "hello"

In [61]:
type(a), type(b)

(int, str)

In [62]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

But some of them are allowed:

In [63]:
a*b

'hellohellohello'

In [64]:
a*b

'hellohellohello'

In [65]:
a+b # int + str - Invalid operation

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
str(a)+b # str + str - valid operation

'3hello'

String variables can be combined:

In [67]:
c = 'edvancer'
c

'edvancer'

In [68]:
b

'hello'

In [69]:
x= 2; y = 3
z = x+y
z

5

In [70]:
b+c #same operator behaves differently with integers and strings

'helloedvancer'

In order to include variable of another type in to string you have to convert it:

In [71]:
str(a)+c

'3edvancer'

# Advanced Data types (Data Structures) in Python

5. list
6. tuple
7. dictionary
8. set

## 5. Lists
 - List is mutable (can be changed)
 - List uses square bracket
 - For modifying a list, we can use list class methods like: `append`, `extend`, `insert`, `pop`, `remove` and `clear`. 
 - Other possible python functions that can be used on lists are: `sorted`, `sort`, `min`, `max`, `len`.

In order to create list put coma separated values in square brackets:

In [347]:
l = [1,2,4,3,5]
l

[1, 2, 4, 3, 5]

In [343]:
a = sorted(l)
a

[1, 2, 3, 4, 5]

In [344]:
l

[1, 2, 4, 3, 5]

In [348]:
b = l.sort() #inplace operation

In [349]:
b

In [350]:
l

[1, 2, 3, 4, 5]

In [73]:
type(l)

list

Values in list can be any type:

In [74]:
l = ['one', 'two', 'three', 'four', 'five']
l

['one', 'two', 'three', 'four', 'five']

Combined

In [75]:
l = ['one', 2, 'three', 4.0, 3+2]
l

['one', 2, 'three', 4.0, 5]

Any type means ANY type:

In [76]:
l = ['one', 2, 'three', [1,2,3,4,5], 3+2]
l

['one', 2, 'three', [1, 2, 3, 4, 5], 5]

### Subsetting string and list with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

You can access list values by index:

In [77]:
l

['one', 2, 'three', [1, 2, 3, 4, 5], 5]

In [78]:
# values - 'one', 2, 'three', [1,2,3,4,5], 3+2
# indexes-   0    1    2         3         4

Oh, yes, indexing starts with zero, so for Matlab/R users please note.

In [79]:
l[0], l[1], l[3]

('one', 2, [1, 2, 3, 4, 5])

Let's have a look at the 4th element of our list:

In [80]:
l[3]

[1, 2, 3, 4, 5]

It's also a list, and its values can be accessed by indexes as well:

In [81]:
l[0][2]

'e'

You also can acces multiple elements of the list using slices:

In [82]:
l

['one', 2, 'three', [1, 2, 3, 4, 5], 5]

In [83]:
l[1:3]

[2, 'three']

**_Slice will start with the first slice index and go up to but not including the second slice index_**

In [84]:
l[3]

[1, 2, 3, 4, 5]

In [85]:
z = "GOA to Leh"
print(z)

GOA to Leh

In [86]:
# GOA to Leh
# 0123456789 - Forward Indexing
# -10-9-8-7-6-5-4-3-2-1 - Reverse Indexing

In [87]:
len(z)

10

In [88]:
z[0], z[1], z[4], z[9], z[-1]

('G', 'O', 't', 'h', 'h')

In [89]:
z[2:5]

'A t'

In [90]:
z[3:]

' to Leh'

In [91]:
z[:3]

'GOA'

In [92]:
z[:-3] #Inverse-indexing

'GOA to '

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [93]:
z[-6:-2]

'to L'

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [94]:
print(z)
len(z)

GOA to Leh

10

### List Methods

In [95]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

In [96]:
type(x), id(x)

(list, 1574875685512)

+ `list.append(x)`: add an element ot the end of a list
+ `list_1.extend(list_2)`: add all elements in the second list to the end of the first list. 
+ Alternatively, it is possible to use the `+` and concatenate two lists.

In [97]:
x.append("new")

In [98]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new']

In [99]:
x.append([1,2,3])
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3]]

In [100]:
x.extend([1,2,3])

In [101]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3]

In [102]:
x=x+[345]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3, 345]

* `list.insert(index, x)`: insert element x into the list at the specified index. Elements to the right of this index are shifted over
* `list.pop(index)`: remove the element at the specified position

In [103]:
x.insert(2,"another")

In [104]:
x

[1,
 2,
 'another',
 3,
 70,
 -10,
 0,
 99,
 'a',
 'b',
 'c',
 'new',
 [1, 2, 3],
 1,
 2,
 3,
 345]

In [105]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
len(x)

10

In [106]:
elm=x.pop()
elm

'c'

In [107]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b']

In [108]:
x.pop(3)

70

In [109]:
x

[1, 2, 3, -10, 0, 99, 'a', 'b']

In [110]:
x.remove("a")
x

[1, 2, 3, -10, 0, 99, 'b']

In [156]:
x = [1,5,3,66,77,22]

In [157]:
sorted(x)

[1, 3, 5, 22, 66, 77]

In [112]:
x.sort()
x

[1, 3, 5, 22, 66, 77]

In [113]:
x.reverse()
x

[77, 66, 22, 5, 3, 1]

* `x in list`: checks if `x` appears in the list 
* `list.index(x)`: looks through the list to find the specified element, returning it's position if it's found, else throws an error
* `list.count(x)`: counts the number of occurrences of the input element

In [114]:
names = ["Panos", "John", "Chris", "Josh", "Mary", "Anna", "John"]

In [115]:
"Chris" in names

True

In [116]:
"Peter" in names

False

In [117]:
# Index
name = 'Chris'
print("Location of", name, "in the list:", names.index(name))

Location of Chris in the list: 2

In [118]:
# Count
print("# of John  in the list", names.count("John"))
print("# of Panos in the list", names.count("Panos"))
print("# of Peter  in the list", names.count("Peter"))

# of John  in the list 2
# of Panos in the list 1
# of Peter  in the list 0

### Common Functions on list

* `len`: The function `len(list)` returns the number of elements in a list.
* `sorted`: The function `sorted(list)` Returns the list sorted
* `max`: Returns the maximum element of a list
* `min`: Returns the minimum element of a list
* `sum`: The function `sum(list)` sums up all the (numeric) elements of a list

In [119]:
names = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]

In [120]:
print("Length of names list:", len(names))

Length of names list: 6

In [121]:
numbers = [3, 41, 12, 9, 74, 15]

In [122]:
print("Length of numbers list:", len(numbers))

Length of numbers list: 6

In [123]:
names = ["John", "Panos", "Chris", "Josh", "Mary", "Anna"]
print("Sorted List:", sorted(names))
print("Original List:", names)

Sorted List: ['Anna', 'Chris', 'John', 'Josh', 'Mary', 'Panos']
Original List: ['John', 'Panos', 'Chris', 'Josh', 'Mary', 'Anna']

In [124]:
print("Sorted List:", sorted(numbers))
print("Original List:", numbers)

Sorted List: [3, 9, 12, 15, 41, 74]
Original List: [3, 41, 12, 9, 74, 15]

In [125]:
print("We have ", len(numbers), "numbers")
print("Max number:", max(numbers))
print("Min number:", min(numbers))
print("Sum:", sum(numbers))

We have  6 numbers
Max number: 74
Min number: 3
Sum: 154

In [126]:
# Min and max also operate on strings
print("Min name:", min(names))
print("Max name:", max(names))

Min name: Anna
Max name: Panos

## 6. Tuples
 - Tuple is like a list but it is immutable (cannot be changed)
 - Tuple uses parentheses

In [161]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [162]:
type(t)

tuple

In [159]:
t = ( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [163]:
u = t, (1, 2, 3, 4, 5), [1,2,3]
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5), [1, 2, 3])

In [164]:
l = [1,2,3]
l

[1, 2, 3]

In [166]:
t = (1,2,3)
t

(1, 2, 3)

In [170]:
t[0:2]

(1, 2)

In [173]:
l = [1,2,3]
type(l)

list

In [174]:
l[0] = 2

In [175]:
l

[2, 2, 3]

In [176]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[0] = 23# you can not reassign

In [ ]:
len(t)

In [ ]:
t[-1]

## 7. Dictionaries
 - Dict is represented by `{}`
 - The dict class allows creating an associative array of keys and values. Keys must be unique immutable objects
 - Dict is not an ordered set
 - We can append or modify a dictonary

In [177]:
d = {}
type(d)

dict

In [189]:
d = {
    1: "value1",
    2: "value2",
    3: {1:1},
    1: [1,2,3]
}

In [190]:
d

{1: [1, 2, 3], 2: 'value2', 3: {1: 1}}

In [226]:
d= {
    "actor":"nasir",
    "animal":"dog",
    "earth":1,
    "list":[1,2,3]
    }
d

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

+ `dict.keys()`: returns a list containing the keys of a dictionary
+ `dict.values()`: returns a list containing the values in a dictionary
+ `dict.items()`: returns a list containing tuple of key and values in the dictionary

In [227]:
id(d)

1574891949496

In [228]:
d["actor"] = "srk"
d

{'actor': 'srk', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [229]:
id(d)

1574891949496

In [194]:
l = d.keys()
l

dict_keys(['actor', 'animal', 'earth', 'list'])

In [134]:
d.values()

dict_values(['nasir', 'dog', 1, [1, 2, 3]])

In [196]:
d.items()

dict_items([('actor', 'nasir'), ('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3])])

In [197]:
d

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [201]:
d["actress"] = "random"

In [202]:
d

{'actor': 'nasir',
 'animal': 'dog',
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'random'}

In [203]:
d["actor"] = "srk"

In [204]:
d

{'actor': 'srk',
 'animal': 'dog',
 'earth': 1,
 'list': [1, 2, 3],
 'actress': 'random'}

In [205]:
del d["actress"]

In [206]:
d

{'actor': 'srk', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [207]:
#Change value of existing key
d["animal"] = ["cat","dog"]
d

{'actor': 'srk', 'animal': ['cat', 'dog'], 'earth': 1, 'list': [1, 2, 3]}

In [208]:
#Add key t dict
d["pet"] = {"mine":"dog"}
d

{'actor': 'srk',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 3],
 'pet': {'mine': 'dog'}}

In [209]:
d

{'actor': 'srk',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 3],
 'pet': {'mine': 'dog'}}

In [210]:
d["list"].insert(2,4) # .insert(i,y) at index i add value y to the list

In [211]:
d

{'actor': 'srk',
 'animal': ['cat', 'dog'],
 'earth': 1,
 'list': [1, 2, 4, 3],
 'pet': {'mine': 'dog'}}

In [212]:
# removing a key value pair
del d['actor']
print(d)

{'animal': ['cat', 'dog'], 'earth': 1, 'list': [1, 2, 4, 3], 'pet': {'mine': 'dog'}}

In [213]:
for element in d:
    print(element)

animal
earth
list
pet

In [214]:
for element in d.items():
    print(element)

('animal', ['cat', 'dog'])
('earth', 1)
('list', [1, 2, 4, 3])
('pet', {'mine': 'dog'})

In [215]:
for element in d.keys():
    print(element)

animal
earth
list
pet

In [216]:
for element in d.values():
    print(element)

['cat', 'dog']
1
[1, 2, 4, 3]
{'mine': 'dog'}

In [217]:
l = [1,2,3]

for element in l:
    print(element)

1
2
3

In [218]:
# element access in loop
for elem in d:
    print(elem)
    print('value for key:%s ' %(elem) ,'is :%s' %(d[elem]))

animal
value for key:animal  is :['cat', 'dog']
earth
value for key:earth  is :1
list
value for key:list  is :[1, 2, 4, 3]
pet
value for key:pet  is :{'mine': 'dog'}

In [219]:
for ele in d.items():
    print(ele)
    print("Key {} Value {}".format(ele[0],ele[1]))

('animal', ['cat', 'dog'])
Key animal Value ['cat', 'dog']
('earth', 1)
Key earth Value 1
('list', [1, 2, 4, 3])
Key list Value [1, 2, 4, 3]
('pet', {'mine': 'dog'})
Key pet Value {'mine': 'dog'}

In [221]:
firstname = "pradip"
surname = "gupta"

In [222]:
print("My name is:", firstname, "My Surname is:", surname)

My name is: pradip My Surname is: gupta

In [223]:
print(f"My name is {firstname}, My surname is: {surname}")

My name is pradip, My surname is: gupta

In [224]:
print("My name is {}, My surname is: {}".format(firstname, surname))

My name is pradip, My surname is: gupta

In [ ]:
print("my name is pradip")

In [ ]:
name = "pradip"
title = "gupta"

In [ ]:
print("my name is",name)

In [ ]:
print("my first name is {} and surname is {}".format(name, title))

In [ ]:
print(f"my first name is {name} and surname is {title}")

In [225]:
len(d.items())

4

In [ ]:
d.items()

In [ ]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

In [230]:
l1 = ["key1", "key2", "key3"]
l2 = [1,2,3]

In [235]:
d = {}
for i,key in enumerate(l1):
    print(i,key)
    d[key] = l2[i]

0 key1
1 key2
2 key3

In [236]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

## 8. Sets
 - Set class provides mapping of unique immutable elements
 - While they are similar to lists, in sets there is **no order** among the items in a set, and sets do **not** support indexing.
 - Sets are specified by curly braces, `{ }`, containing one or more comma separated values. To specify an empty list, you can use the alternative construct, `set()`.

In [237]:
animal = {}
type(animal)

dict

In [238]:
animals = {'cat', "dog",'horse'}
type(animals)

set

In [239]:
animals = set()
type(animals)

set

In [241]:
animals = {'cat', "dog",'cat'}
type(animals)

set

In [242]:
animals

{'cat', 'dog'}

To add and remove elements in a set, we use, respectively the `add` and `remove` commands:

+ `set_a.add(x)`: add an element to a set
+ `set_a.remove(x)`: remove an element from a set

In [243]:
animals.add("horse")

In [244]:
animals

{'cat', 'dog', 'horse'}

In [245]:
animals.remove("cat")
animals

{'dog', 'horse'}

We can also create a set from a list:

In [246]:
my_list = [1, 2, 3, 0, 5, 10, 11, 1, 5]
my_set = set(my_list)
print(my_list)
print(my_set)

[1, 2, 3, 0, 5, 10, 11, 1, 5]
{0, 1, 2, 3, 5, 10, 11}

As expected, the set created from a list does not contain any duplicate elements.

In [248]:
print("Total number of elments in list:", len(my_list))
print("Total number of unique elements in list:", len(my_set))

Total number of elments in list: 9
Total number of unique elements in list: 7

As seen above, we can use `len()` to get the number of elements in a list. Similarly, we can use the other functions `min()`, `max()`, `sum()`, `sorted()` etc., that we also used for lists.

In [265]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [ ]:
# if expr1 or expr2

In [269]:
# a & b

{4, 5, 6}

In [270]:
a.intersection(b)

{4, 5, 6}

In [255]:
# a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [252]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Difference between function symmetric_difference and difference is as follows:

* `a.difference(b)` :	new set with elements in a but not in b
* `a.symmetric_difference(b)` :  new set with elements in either a or b but not both

lets see with our own examples :

In [259]:
a - b

{1, 2, 3}

In [256]:
a.difference(b)

{1, 2, 3}

In [257]:
b.difference(a)

{7, 8, 9}

In [258]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

# Writing Conditions

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [279]:
a = 2
x = 34
y = 32

In [280]:
x == y

False

In [283]:
type(x) == int

True

In [284]:
x >= y

True

In [285]:
x <= y

False

In [288]:
x="possible"
y="impossible"

In [289]:
x in y

True

In [290]:
y in x

False

In [291]:
l = [1,2,3]
1 in l

True

In [292]:
4 in l

False

In [ ]:
if a in l:
    #do something

In [305]:
for a in l:
    print(a)

1
2
3

In [293]:
x not in y

False

In [294]:
y not in x

True

In [295]:
x == y

False

In [296]:
x != y

True

In [ ]:
# Let's see the conditionals available
v1 = "Jennifer"
v2 = "Python"
v3 = 45
v4 = 67
v5 = 45

# Test for equality
print (v1 == v2)

# Test for greater than and greater than equal
print (v4 > v3)

# Test for lesser than and lesser than equal
print (v4 < v3)

# Inequality
print (v1 != v2)

In [297]:
# Note:
v1 = 45
v2 = "45"
print (v1 == v2) # False
print (v1 == int(v2)) # True

False
True

In [301]:
int("2109")

2109

In [303]:
int("n2")

ValueError: invalid literal for int() with base 10: 'n2'

In [300]:
type(v2)

str

In [299]:
type(int(v2))

int

In [304]:
# Ignore case when comparing two strings
s1 = "Jennifer"
s2 = "jennifer"

print (s1 == s2) # False
print (s1.lower() == s2.lower()) # True
# OR
print (s1.upper() == s2.upper()) # True

False
True
True

# Why did changing ‘y’ also change ‘x’?

In [317]:
x = [1,2,3]
x

[1, 2, 3]

In [318]:
id(x)

1574891938312

In [319]:
y = x
y

[1, 2, 3]

In [320]:
id(y)

1574891938312

In [321]:
id(y) == id(x)

True

In [322]:
y.append(10)
y

[1, 2, 3, 10]

In [323]:
x

[1, 2, 3, 10]

In [324]:
id(x)

1574891938312

In [325]:
id(y) == id(x)

True

1.	Variables are simply names that refer to objects. Doing y = x doesn’t create a copy of the list – it creates a new variable y that refers to the same object x refers to. This means that there is only one object (the list), and both x and y refer to it.
2.	Lists are mutable, which means that you can change their content.

In [326]:
x = 5  # ints are immutable

In [327]:
y = x

In [328]:
id(y), id(x)

(140728872313376, 140728872313376)

In [329]:
id(y) == id(x)

True

In [330]:
y = y + 1  # 5 can't be mutated, we are creating a new object here

In [331]:
y

6

In [332]:
id(y)

140728872313408

In [333]:
id(y), id(x)

(140728872313408, 140728872313376)

In [334]:
id(y) == id(x)

False

In [ ]:
y

In [ ]:
x

# Exercises

## Exercise 1

* Find the common keys in `a_dict` and `b_dict`
* Find the common values in `a_dict` and `b_dict`

In [ ]:
a_dict = {"a":5 , "b":5, "c":3, "c": 4}
b_dict = {"c":5, "d":6}

# your code here

## Exercise 2

Use the [Jaccard index similarity](https://en.wikipedia.org/wiki/Jaccard_index) to compute the similarity of the two sets. The Jaccard coefficient is defined as the ratio of the size of the intersection of the two sets, divided by the size of the union of the two sets.

In [150]:
set_A = {1, 2, 3, 4, 5}
set_B = {4, 5, 6, 7}