<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/day1_of_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_name="luffy"
last_name="jun"

print("my first name is {} and last name is {}".format(first_name,last_name))

my first name is luffy and last name is jun

In [ ]:
a=int(input("Enter a:"))
print(a)

Enter a:10
10

In [ ]:
name=input("name:")
age=input("age:")
print("My name is:",name)
print("My age is:",age)

name:luffy
age:10
My name is: luffy
My age is: 10

In [ ]:
a=int(input())
b=int(input())
c=int(input())
mul=a*b*c
add=a+b+c
div=mul/add
print(div)

2
3
4
2.6666666666666665

In [ ]:
name=input()
score=int(input())
department=input()

print("My name is :",name)
print("my score is :",score/10)
print("my department is :" ,department)

aravind
78
cse
My name is : aravind
my score is : 7.8
my department is : cse

IF ELSE AND BOOLEAN OPERATERS

In [ ]:
if (True):
  print("yes")
else:
  print("no")

yes

In [ ]:
meghna=input("died or alive:")
if (meghna=="died"):
  print("surya meets priya")
else:
  print("surya weds meghna")

died or alive:died
surya meets priya

In [ ]:
mark=int(input())
if (mark>35):
  print("pass")
else:
  print("fail")

32
fail

In [ ]:
income=int(input())
if income>7000:
  print("sc is avaible")
else:
  print("not eligible")

65000
sc is avaible

In [ ]:
number=int(input())
if number%5==0 and number%3==0:
  print("its divisilbe by both")
else:
  print("not divisible")

15
its divisilbe by both

In [ ]:
number=int(input())
if number%2==0:
  print("even")
else:
  print("odd")

66
even

In [ ]:
score=int(input("Enter the score:"))
if score<=100:
  if score<35:
    print("poor student")
  elif score>35 and score<70:
    print("Average student")
  elif score>70:
    print("good student")
else:
  print("WARNING!!!  score below 100")

Enter the score:101
WARNING!!!  score below 100

In [ ]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))

move=input("Choose add,sub,mul,div:")
if move=="add":
  print("result:",a+b)
if move=="sub":
  print("result:",a-b)
if move=="mul":
  print("result:",a*b)
if move=="div":
  print("result:",a/b)

Enter a:4
Enter b:5
Choose add,sub,mul,div:sub
result: -1

In [ ]:
score=int(input("Enter percenatge:"))
if score>70:
  name=input("enter name:")
  dep=input("enter deapertment:")
  location=input("enter loaction:")
  print("youre eligilble")
elif (score>100 or score<70 or score<0):
  print("not eligilbe")

Enter percenatge:72
enter name:hari
enter deapertment:ai
enter loaction:blr
youre eligilble

In [ ]:
salary=int(input("Enter salary:"))
age=int(input("Enter age:"))

if salary>=20000 or age<=25:
  required_loan_amount=int(input("Enter required loan amount:"))
  if required_loan_amount<=50000:
    print("you are eligible for loan")
  elif required_loan_amount>50000:
    print("max is 50000")
else:
  print("you are not eligible for loan")

Enter salary:3000
Enter age:26
you are not eligible for loan

In [ ]:
mat=int(input("Enter maths marks:"))
eng=int(input("Enter english marks:"))
sci=int(input("Enter science marks:"))
soc=int(input("Enter social marks:"))
tam=int(input("Enter tamil marks:"))

result=mat+eng+sci+soc+tam

avg=result/5

if avg<35:
  print("avgerage is lesser",avg)
  print("extra class needed")
else:
  print("no need")

Enter maths marks:43
Enter english marks:22
Enter science marks:23
Enter social marks:25
Enter tamil marks:29
mark is lesser 28.4
extra class needed

LOOPS

In [ ]:
for i in "apple":
  print(i)

a
p
p
l
e

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10+1):
    print(i,"x2=",i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [ ]:
a=int(input())
b=int(input())
for i in range(a,b):
  print(i)

3
10
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1):
  if i%2==0:
    print("even",i)

even 2
even 4
even 6
even 8
even 10

In [ ]:
count=0
for  i in range(1,10+1):

  if i%2!=0:
    count=count+1
    print(i)

print(count)

1
3
5
7
9
5

In [ ]:
evencount=0
oddcount=0
for i in range(1,10+1):
  if i%2==0:
    evencount=evencount+1
  else:
    oddcount=oddcount+1

print(evencount)
print(oddcount)

5
5

In [ ]:
count=0

for i in range(1,101):
  if i%3==0 and i%5==0:
    count=count+1
    print(i)

print(count)

15
30
45
60
75
90
6

In [ ]:
sum=0
for i in range(1,6):
  sum=sum+i

print(sum)

15

In [ ]:
#hmn=int(input("Enter hmns:"))
a=[]
print("Enter 10 numbers")
for i in range(5):
  num=int(input("Enter num "+ str( i)))
  a.append(num)

print(a)

sum=0
for i in a:
  sum=sum+i
print(sum)

Enter 10 numbers
Enter num 010
Enter num 120
Enter num 230
Enter num 340
Enter num 450
[10, 20, 30, 40, 50]
150

In [ ]:
for i in range(1,6):
  for j in range(1,3):
    print(j,"apple")

1 apple
2 apple
1 apple
2 apple
1 apple
2 apple
1 apple
2 apple
1 apple
2 apple

In [ ]:
for i in range(1,3):
  print("week:",i)
  for j in range(1,4):
    print("   Day:",j)
print("   **** ** ****")

week: 1
   Day: 1
   Day: 2
   Day: 3
week: 2
   Day: 1
   Day: 2
   Day: 3
   **** ** ****

In [ ]:
for i in range(1,5):
  print('*'*i)

*
**
***
****

In [ ]:
for i in range(1,5):
  print()
  for j in range(1,i+1):
    print(j,end="")

1
12
123
1234

WHILE LOOP

In [ ]:
i=0
while i==0:
  print(i)
  i=1;

0

In [ ]:
i=0
while(i<5):
  print("current i:",i)
  i=i+1

current i: 0
current i: 1
current i: 2
current i: 3
current i: 4

In [ ]:
i=10
while(i<201):
  print("current i value:",i)
  i=i+10

current i value: 10
current i value: 20
current i value: 30
current i value: 40
current i value: 50
current i value: 60
current i value: 70
current i value: 80
current i value: 90
current i value: 100
current i value: 110
current i value: 120
current i value: 130
current i value: 140
current i value: 150
current i value: 160
current i value: 170
current i value: 180
current i value: 190
current i value: 200

In [ ]:
i=10
while(i>0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=5
fact=1
while i>0:
  fact=fact*i
  i=i-1
print(fact)

120

PYTHON COLLECTIONS

In [ ]:
#LIST

a=[1,2,3,4,5,6]
b=[7,8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a=(1,2,3,4)
b=list(a)
b.pop()
print(b)

[1, 2, 3]

In [ ]:
a={1,2,3,4}
a.pop()
print(a)

{2, 3, 4}

In [ ]:
a={
    "name":"luffy"
}

print(a["name"])

luffy

FUNCTION

In [ ]:
def painter():
  print("painting")

painter()

painting

In [ ]:
def add():
  print("Addiction")
  a=int(input("Enter a:"))
  b=int(input("Enter b:"))
  print(a+b)

def sub():
  print("Subraction")
  a=int(input("Enter a:"))
  b=int(input("Enter b:"))
  print(a-b)

add()
sub()

Enter a:2
Enter b:4
6

In [ ]:
def painter(msg):
  print("hi bro",msg)
  print(msg)

painter("paint my house")

hi bro paint my house
paint my house

In [ ]:
def findevenorodd(number):
  if number%2==0:
    print("even")
  else:
    print("odd")

num=int(input("Enter num:"))
findevenorodd(num)

Enter num:6
even

In [ ]:
def printrange(p,q):
  for i in range(p,q):
    print(i)

a=int(input("Enter a:"))
b=int(input("Enter b:"))

printrange(a,b)

Enter a:1
Enter b:6
1
2
3
4
5

In [ ]:
def painter():
  return "i am painter"

print(painter())

i am painter

In [ ]:
s_username="EMC"
s_password="123"


uname=input("Enter username:")
password=(input("Enter password:"))

def validate():
  if uname==s_username and password==s_password:
    return True
  else:
    return False

result=(validate())
print(result)

Enter username:ERT
Enter password:123
False

In [ ]:
def add(n1,n2):
  return n1+n2


a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))

added=add(a,b)

output=added*c
print(output)

Enter a:2
Enter b:3
Enter c:5
25

In [ ]:
#check the vowels count

word=input("Enter the word:")
check_word=word.lower()
count=0
vowels=["a","e","i","o","u"]

for char in check_word:
  if char in vowels:
    count=count+1

print(count)

Enter the word:HellO WORLD
3

CLASS & OBJECT

In [ ]:
class goa:
  name=""
  drink=""
  def party(self):
    print("lets party")
  def beach(self):
    print("lets go to beach")

ramesh=goa()
suresh=goa()
ramesh.party()
suresh.beach()

ramesh.name="Ramesh"
suresh.name="suresh"

ramesh.drink="yes"
suresh.drink="no"
print(ramesh.name)
print("drink:",ramesh.drink)
print(suresh.name)
print("drink:",suresh.drink)

lets party
lets go to beach
Ramesh
drink: yes
suresh
drink: no

In [ ]:
class laptop:
  price=""
  processor=""
  ram=""

hp=laptop()
dell=laptop()
lenovo=laptop()

hp.price=2000
hp.processor="1gb"
hp.ram="4gb"

dell.price=4000
dell.processor="4gb"
dell.ram="6gb"

lenovo.price=6000
lenovo.processor="12gb"
lenovo.ram="8gb"

print(hp.price)

2000

In [ ]:
class laptop:
  def __init__(self):
    self.ram=''
    self.proc=''
  def display(self):
    print("ram:",self.ram)
    print("proc:",self.proc)

hp=laptop()
hp.ram="4gb"
hp.proc='i5'

hp.display()

dell=laptop()
dell.ram="16gb"
dell.proc="i7"

dell.display()

ram: 4gb
proc: i5
ram: 16gb
proc: i7

In [ ]:
class student:
  def __init__(self):
    self.name=""
    self.regno=""
  def display(self):
    print("Name:",self.name)
    print("Reg.no:",self.regno)

student1=student()
student2=student()

student1.name="jiro"
student1.regno=50

student2.name="akari"
student2.regno=51

student1.display()
student2.display()

Name: jiro
Reg.no: 50
Name: akari
Reg.no: 51

In [ ]:
class fruit:
  def __init__(self,col) -> None:
    self.color=col

apple=fruit("red")

print(apple.color)

red

In [ ]:
class teacher:
  def __init__(self,name,reg) -> None:
    self.name=name
    self.regno=reg
  def display(self):
    print("Teacher name:",self.name)
    print("Teacher regno:",self.regno)

t1=teacher("akari",50)
t2=teacher("jiro",23)

t1.display()
t2.display()

Teacher name: akari
Teacher regno: 50
Teacher name: jiro
Teacher regno: 23

In [ ]:
class calculator:
  def __init__(self,a,b) -> None:
    self.num1=a
    self.num2=b
  def add(self):
    print(self.num1+self.num2)
  def sub(self):
    print(self.num1-self.num2)
  def mul(self):
    print(self.num1*self.num2)
  def div(self):
    print(self.num1/self.num2)


obj1=calculator(10,2)
obj1.add()
obj1.sub()

12
8

In [ ]:
class phone():
  chargertype="C-Type"
  def __init__(self,brand,price) -> None:
    self.brand=brand
    self.price=price

  def display(self):
    print("Brand:",self.brand)
    print("Price:",self.price)
    print("Chargertype:",self.chargertype)

samsung=phone("samsung",40000)
samsung.display()
redmi=phone("redmi",20000)
redmi.display()
lg=phone("lg",20000)
lg.display()

Brand: samsung
Price: 40000
Chargertype: C-Type
Brand: redmi
Price: 20000
Chargertype: C-Type
Brand: lg
Price: 20000
Chargertype: C-Type

In [ ]:
class laptop:
  chargertype="B-Type"

  def __init__(self):
    self.brand=""
    self.price=40

  def setprice(self,price):
    self.price=price

  def getprice(self):
    print(self.price)

  @classmethod
  def changechargertype(cls):
    cls.chargertype="B-Type"
    print("Charger type changed to B")

  @staticmethod
  def info():
    print("This is MY laptop")

hp=laptop()
hp.setprice(400)
hp.getprice()

laptop.changechargertype()

hp.info()

400
Charger type changed to B
This is MY laptop

INHERITENCE

In [ ]:
class dad():
  def phone(self):
    print("Dads phone")

class mom():
  def sweet(self):
    print("Mom sweet")
class son(dad,mom):
  def laptop(self):
    print("Sons laptop")

joro=son()
joro.phone()
joro.sweet()

Dads phone
Mom sweet

In [ ]:
class grandpa():
  def phone(self):
    print("grandpa phone")

class dad(grandpa):
  def money(self):
    print("dads money")

class son(dad):
  def laptop(self):
    print("Sons laptop")

ram=son()


ram.phone()

Sons laptop
grandpa phone

In [ ]:
class dad():
  def money(self):
    print("dads money")


class land():
  def important(self):
    print("land ")

class son1(dad,land):
  pass

class son2(dad):
  pass

class son3(dad):
  pass

s2=son2()
s2.money()

dads money

In [ ]:
class a():
  def __init__(self):
    print("A")
  def display(self):
    print("from class a")

class b():
  def __init__(self):
    super().__init__()
    print("B")
  def display(self):
    print("from class b")

class c(b,a):
  def __init__(self):
    super().__init__()
    print("C")
  def display(self):
    print("from class c")


obj1=c()

A
B
C

In [ ]:
#POLYMORPHISM

class animal():
  def sound(self):
    print("Animal makes sound")

class dog(animal):
  def sound(self):
    print("Dog barks")


class bird(animal):
  def sound(self):
    print("Bird sing")

a1=animal()

d1=dog()
b1=bird()
b1.sound()

Bird sing

In [ ]:
class shape():
  def area(self):
    return 0

class rectangle(shape):
  def area(self):
    l=10
    b=4
    print("Area of rectangle:",l*b)

r1=rectangle()

r1.area()

Area of rectangle: 40

In [ ]:
class person():
  def __init__(self,name) -> None:
    self.name=name

class student(person):
  def __init__(self,name,grade) -> None:
    super().__init__(name)
    self.grade=grade
  def display(self):
    print(self.name,self.grade)

s1=student("Jiro","A")
s1.display()

Jiro A

In [ ]:
class person():
  def __init__(self,name) -> None:
    self.name=name

class student(person):
  def __init__(self,name,grade) -> None:
    super().__init__(name)
    self.grade=grade
  def display(self):
    print(self.name,self.grade)

s1=student("Akari","A")
s1.display()

Akari A

In [ ]:
class vehicle():
  def start(self):
    print("Vehicle started")

class car(vehicle):
  def start(self):
    print("car started")

c1=car()
c1.start()

car started

In [ ]:
class employee():
  def __init__(self,name,salary) -> None:
    self.name=name
    self.salary=salary


class manager(employee):
  def __init__(self,name,salary,department) -> None:
    super().__init__(name,salary)
    self.department=department

  def display(self):
    print("Name:",self.name)
    print("salary:",self.salary)
    print("department:",self.department)


em1=manager("Jiro","20000","CSE")

em1.display()

Name: Jiro
salary: 20000
department: CSE

ENCAPSULATION

In [ ]:
class company():
  def __init__(self):
    self._companyname="dell"

  def companyname(self):
    print(self._companyname)

c1=company()
c1.companyname()
print(c1._companyname)

dell
dell

In [ ]:
class company():
  def __init__(self):
    self._companyname="dell"

class b(company):
  pass

b1=b()

print(b1._companyname)

dell

EXCEPTION HANDLING

In [ ]:
print("hi")
print("hey")
printt("bye")

hi
hey

NameError: name 'printt' is not defined

In [ ]:
a=10
b=10
print(a+b)

20

In [ ]:
try:
  a=int(input())
  b=int(input())
  print(a+b)
except Exception:
  print("something")

3
s
something

In [ ]:
try:
  a=int(input())
  b=int(input())
  print(a+b)
except Exception as e:
  print("something",e)

4
t
something invalid literal for int() with base 10: 't'

In [ ]:
try:
  a=(input())
  b=(input())
  print(a/b)
except Exception as e:
  print("something",e)

hi
bye
something unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
try:
  a=int(input())
except ValueError as e:
  print("Valueerror",e)

ji
Valueerror invalid literal for int() with base 10: 'ji'

In [ ]:
try:
  a=int(input())
  b=int(input())
  c=input()
  print(c/a)
except ValueError as e:
  print("Valueerror",e)
except TypeError as e:
  print("Typeerror",e)

4
3
f
Typeerror unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
try:
  a=int(input())
  b=int(input())
  print(d)
except ValueError as e:
  print("Valueerror",e)
except TypeError as e:
  print("Typeerror",e)
except Exception:
  print("something wrong")
finally:
  print("done")

4
hi
Valueerror invalid literal for int() with base 10: 'hi'
done