<b><font color='red' size='6'>ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것.
- 오버로딩 불가
- 함수의 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2
```

# 1절. 함수의 정의 및 사용
## 1.1 함수정의하기

In [1]:
def my_hello(x, msg): #함수 정의
    for i in range(x): # x번 반복
         print(i, msg)

In [2]:
my_hello(5, 'Hello, python') # 함수 호출

0 Hello, python
1 Hello, python
2 Hello, python
3 Hello, python
4 Hello, python

In [3]:
type(my_hello)

function

In [4]:
my_hello = 10
type(my_hello)

int

In [5]:
my_hello(5, 'Hello, python')

TypeError: 'int' object is not callable

In [6]:
del my_hello

In [7]:
def my_hello(x, msg): #함수 정의
    for i in range(x): # x번 반복
         print(i, msg)

In [8]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [9]:
my_hello()

Hello, Python
Hello, World

In [10]:
my_hello

In [11]:
__name__

'__main__'

In [12]:
if __name__ == '__main__':
    my_hello()

Hello, Python
Hello, World

In [13]:
import a

__name__=a

In [14]:
a.test()

모듈(*.py파일) 테스트입니다
주말 잘 보내세요

In [15]:
from a import test # a 모듈안의 test 로드

In [16]:
test()

모듈(*.py파일) 테스트입니다
주말 잘 보내세요

## 1.2 docstring

In [17]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할.
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [18]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print (a, end=' ')
        a, b = b, a+b
    print()

In [19]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

## 1.3 지역변수(local var)와 전역변수(global var)

In [20]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :',global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [21]:
def func2():
    local_var = 200 # 지역변수
    print('함수안 :',local_var)
func2()
print('함수밖 :', local_var)

함수안 : 200

NameError: name 'local_var' is not defined

In [22]:
g_var = 100 # 전역변수(변수 선언과 할당)
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('지역변수 g_var :',g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [23]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # func3 함수내에서의 g_var는 전역변수
    print('함수안 g_var :', g_var)
    g_var = 200 # 지역변수
func3()
print('함수밖 g_var :', g_var)

함수안 g_var : 100
함수밖 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일때

In [24]:
foo = 'a' # 전역변수
id(foo)

2212235995120

In [25]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f,'의 주소는 ',id(f))
    f = f*3 # aaa
    print('After :', f, '의 주소는 ',id(f))

In [26]:
func1(foo)

Before : a 의 주소는  2212235995120
After : aaa 의 주소는  2212315137328

In [27]:
print('foo =', foo, '의 주소는 ',id(foo))

foo = a 의 주소는  2212235995120

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [28]:
L = [1,2,3,4,5]
id(L)

2212343550272

In [29]:
def func2(f) : # 매개변수는 지역변수
    print('before :',f,'의 주소는 ', id(f))
    f.append(6)
    print('after :',f,'의 주소는 ', id(f))
func2(L)

before : [1, 2, 3, 4, 5] 의 주소는  2212343550272
after : [1, 2, 3, 4, 5, 6] 의 주소는  2212343550272

In [30]:
print('L=', L, '의 주소는 ', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는  2212343550272

## 1.6 함수의 이름 변경
- Python : 함수형언어, 객체지향언어

In [31]:
fibonacci(20)

0 1 1 2 3 5 8 13

In [32]:
fibo = fibonacci # fibonacci 함수이름을 fibo로도 사용가능

In [33]:
fibo(20)

0 1 1 2 3 5 8 13

# 2절. 함수의 실행결과

In [34]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print (a, end=' ')
        a, b = b, a+b
    print()
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a+b
    return result

In [35]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [36]:
x = fibonacci(10)
print(x)

[0, 1, 1, 2, 3, 5, 8]

## 여러 개 값 return

In [37]:
def swap(a, b):
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a

In [38]:
x, y = 5, 10
print('함수 실행 전 x, y = ', x, y)
x, y=swap(x, y)
print('함수 실행 후 x, y = ', x, y)

함수 실행 전 x, y =  5 10
함수 실행 후 x, y =  10 5

In [39]:
a = swap(10, 20)
print(type(a))
print(a)

<class 'tuple'>
(20, 10)

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [40]:
def make_url(ip,port=80): # 순서인수>기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [41]:
print(make_url('localhost', 8090))
print(make_url('localhost'))
print(make_url(port=9090, ip='www.naver.com'))

http://localhost:8090
http://localhost:80
http://www.naver.com:9090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수(문자,숫자,논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리 또는 객체일 때

In [42]:
i = 5
# 기본변수가 스칼라변수일 때: arg의 기본값은 함수가 정의되는 시점으로 셋팅
def func2(arg=i):
    print('arg =', arg)

In [43]:
i = 10
func2()

arg = 5

In [44]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 실행되는 시점
list_ = []
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))
print('list_ :', list_)

[10]
list_ : [10]

In [45]:
print(func3(20))
print('list_ :', list_)

[10, 20]
list_ : [10, 20]

In [46]:
print(func3(30))
print('list_:',list_)

[10, 20, 30]
list_: [10, 20, 30]

In [47]:
def func3(a, L=[]):
    L.append(a)
    return L
print(func3(10))
print(func3(10, [1,2,3,]))

[10]
[1, 2, 3, 10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의도니 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시적으로 전달방식
- 함수 정의시 순서인수와 키워드 인수가 같이 올 때는 순서인수 > 키워드인수 순으로
```
def function명(변수명1, 변수명2, ... 변수명n=기본값):
```

In [48]:
def fun(a, b):
    return a*10+b

In [49]:
fun(b=3, a=4)

43

In [50]:
def func4(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [51]:
lst = []
print(func4(10, lst))
print(func4(L=lst, a=10))
print(func4(20))
print(func4(20,None))

[10]
[10, 10]
[20]
[20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정

In [52]:
def add(a,b):
    return a+b
def add(a, b, c): # 덮어씌움
    return a+b+c

In [53]:
add(1,2,3)

6

In [54]:
add(1,2)

TypeError: add() missing 1 required positional argument: 'c'

In [55]:
# args 앞의 * : args가 튜플로 전달
def add(*args):
    '전달받은 매개변수들의 합을 return, 매개변수가 없는 경우 0을 return'
#     print(args)
    sum = 0 # 누적변수
    for num in args:
        sum += num
    return sum

In [56]:
print(add(1))
print(add(1,2))
print(add(1,2,3,5))
print(add())

1
3
11
0

In [57]:
subject = 'Java','Oracle','Web','Python'
'-'.join(subject)

'Java-Oracle-Web-Python'

In [58]:
def concat(*subject, sep):
    return sep.join(subject)

In [59]:
concat('Java', 'Oracle','Web','Python', ' ~ ')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [60]:
# 해결책1 : 파라미터이름을 지정해서 호출
concat('Java', 'Oracle','Web','Python', sep=' ~ ')

'Java ~ Oracle ~ Web ~ Python'

In [61]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep= ' '): # 튜플인수 > 키워드인수
    return sep.join(subject)

In [62]:
concat('Java', 'Oracle','Web','Python')

'Java Oracle Web Python'

In [63]:
concat('Java','Oracle','Web','Python','~')

'Java Oracle Web Python ~'

In [64]:
concat('Java','Oracle','Web','Python',sep='~')

'Java~Oracle~Web~Python'

In [65]:
# 해결책3 : sep을 순서인수로 앞으로 선언
def concat(sep, *subject):
    return sep.join(subject)

In [66]:
concat('~','Java','Oracle','Python')

'Java~Oracle~Python'

## 3.5 딕셔너리 매개변수
- 딕셔너리인수 ; 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [67]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{}:{}".format(key, value))

In [68]:
func5(name="홍길동", age=33)

{'name': '홍길동', 'age': 33}
<class 'dict'>
name:홍길동
age:33

In [69]:
func5(name="김길동", address="서울", tel="010-9999-9999")

{'name': '김길동', 'address': '서울', 'tel': '010-9999-9999'}
<class 'dict'>
name:김길동
address:서울
tel:010-9999-9999

## 3.6 함수 정의시 매개변수의 순서
순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수 (**)

In [85]:
# 순서인수 > 튜플인수 > 딕셔너리 인수
def func6(a, b, *c, **d):
    print('순서인수 a =', a)
    print('순서인수 b =',b)
    print('튜플인수 c = ',c)
    print('딕셔너리 d =',d)

In [86]:
func6(10,20,1,2,3,4,5,6,7, name="kim",age=30)

순서인수 a = 10
순서인수 b = 20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7)
딕셔너리 d = {'name': 'kim', 'age': 30}

In [72]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수 (**)
def func7(a, b, c, *d, e=10, **f):
    print('a =',a)
    print('b =',b)
    print('c =',c)
    print('d =',d)
    print('e =',e)
    print('f =',f)

In [73]:
func7(10,20,30,1,2,3,4,5,e=100,shape="rect", width=20, height=30)

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5)
e = 100
f = {'shape': 'rect', 'width': 20, 'height': 30}

In [74]:
func7(10,20,30)

a = 10
b = 20
c = 30
d = ()
e = 10
f = {}

In [75]:
func7(10,20,30, e = 100)

a = 10
b = 20
c = 30
d = ()
e = 100
f = {}

## 3.7 인수의 언패킹

### 튜플인수 언패킹

In [76]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [77]:
add(1,2,3,4,5)

15

In [78]:
numbers = (1,2,3,4,5)
add(*numbers) # 튜플 언패킹
add(numbers[0],numbers[1],numbers[2],numbers[3],numbers[4])

15

In [79]:
num_lst = [1,2,3]
add(*num_lst)

6

### 딕셔너리 인수 언패킹

In [80]:
def func8(**data):
    for item in data.items():
        print(item)
func8(shape="rect", height=30, width=40)

('shape', 'rect')
('height', 30)
('width', 40)

In [81]:
info = {'shape':'triangle', 'height':40, 'width':30}
info

{'shape': 'triangle', 'height': 40, 'width': 30}

In [82]:
func8(**info)

('shape', 'triangle')
('height', 40)
('width', 30)

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [83]:
def add(a, b):
    return a + b


add(3, 5)

8

In [84]:
add2 = lambda a, b: a + b
add2(10, 20)

30

In [85]:
print(type(add), type(add2))

<class 'function'> <class 'function'>

In [86]:
(lambda a, b: a + b)(3, 5)

8

In [87]:
# a와 b의 차이를 return
def diff(a, b):
    if a >= b:
        return a - b
    else:
        return b - a

In [88]:
diff2 = lambda a, b: a - b if a >= b else b - a

In [89]:
print(diff(3, 5), diff(5, 3), diff2(3, 5), diff2(5, 3))
print(type(diff), type(diff2))

2 2 2 2
<class 'function'> <class 'function'>

In [90]:
# 매개변수로 잔액을 받아 잔액이 음수면 'negative balance라고 출력'
def get_balance(balance):
    if balance >= 0:
        return balance
    else:
        return 'negative'

In [91]:
get_balance = lambda balance: balance if balance >= 0 else 'negative'
get_balance(100)

100

In [92]:
balance = -500
if balance >= 0:
    result = balance
else :
    result = 'negative'
result

'negative'

In [93]:
balance = -500
balance if balance >= 0 else 'negative'
#balance >= 0 ? balacne : 'negative'

'negative'

In [94]:
# 아래의 함수도 람다식으로 바꿀 수 있음
v = (1, 2, 3)


def safe_index(vector, item):
    if item in vector:
        return vector.index(item)
    else:
        return -1


safe_index(v, 1), safe_index(v, 4)

(0, -1)

In [95]:
def safe_index(vector, item):
    return vector.index(item) if item in vector else -1

In [96]:
safe_index = lambda vector, item: vector.index(item) if item in vector else -1

In [97]:
safe_index([1, 2, 3, 4], 1), safe_index((1, 2, 3), 5)

(0, -1)

In [98]:
# 매개변수로 들어온 값이 짝수면 '짝수'를, 홀수면 '홀수'를 return 하는 lambda
even_odd_chk = lambda num: '짝수' if num % 2 == 0 else '홀수'
even_odd_chk(9), even_odd_chk(-8)

('홀수', '짝수')

In [99]:
def levelChk(score):
    if score >= 80:
        return 'A등급'
    elif score >= 60:
        return 'B등급'
    else:
        return '재시험'


levelChk(65), levelChk(-9)

('B등급', '재시험')

In [100]:
levelChk = lambda score: 'A등급' if score >= 80 else ('B등급'
                                                    if score >= 60 else '재시험')
levelChk(90), levelChk(55)

('A등급', '재시험')

In [101]:
def score_grade(score):
    if 90 <= score <= 100:
        return 'A'
    elif 80 <= score < 90:
        return 'B'
    elif 70 <= score < 80:
        return 'C'
    elif 60 <= score < 70:
        return 'D'
    elif 0 <= score < 60:
        return 'F'
    else:
        return '유효하지 않는 점수 등급'
score_grade(102), score_grade(65)

('유효하지 않는 점수 등급', 'D')

In [102]:
score_grade = lambda score: 'A' if 90 <= score <= 100\
                      else 'B' if 80 <= score < 90\
                      else 'C' if 70 <= score < 80\
                      else 'D' if 60 <= score < 70\
                      else 'F' if 0 <= score < 60\
                      else '유효하지 않는 점수 등급'
score_grade(102), score_grade(65)

('유효하지 않는 점수 등급', 'D')

In [103]:
add = lambda a, b: a+b
sub = lambda a, b: a-b
mul = lambda a, b: a*b
div = lambda a, b: a/b if b!=0 else '두번째 인자가 0으로는 못 나눠요'
add(3, 0) , div(3, 0)   

operations = [add, sub, mul, div]
# 매개변수로 함수 list가 옴
def act_operations(a, b, operations=operations):
    result = []
    for op in operations:
        result.append(op(a, b))
    return result
# def pow(a, b):
#     return a** b
operations.append(lambda a, b : a**b)
print(act_operations(10,2))

[12, 8, 20, 5.0, 100]

In [104]:
# 리스트 컴프리헨션
lst = [1, 2, 3]
print([l**2 for l in lst])
print([l for l in lst if l%2==0])

[1, 4, 9]
[2]

In [105]:
operations = [add, sub, mul, div]


# act_operations의 함수를 리스트컴프리헨션을 이용하여 람다식으로 구현
def act_operations(a, b, operations=operations):
    return [op(a, b) for op in operations]

act_operations = lambda a, b, operations=operations : \
                    [op(a, b) for op in operations]

print(act_operations(5, 2, [lambda a, b: a + b, lambda a, b: a**b]))

operations.append(lambda a, b: a**b)
print(act_operations(5, 2))

[7, 25]
[7, 3, 10, 2.5, 25]

# 4.2 함수의 매걔변수(인수)에 람다식 사용

In [106]:
map_template = lambda func, L=[] : [func(l) for l in L]

In [107]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [108]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8]
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)
map_template(lambda x: x * 2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16]

In [109]:
# 리스트 컴프리헨션
[x * 2 for x in list_data]

[2, 4, 6, 8, 10, 12, 14, 16]

In [110]:
list(map(lambda x: x * 2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16]

In [111]:
for x in map(lambda x: x * 2, list_data):
    print(x, end=' ')

2 4 6 8 10 12 14 16

In [112]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [113]:
def evenChk(value):
    return value % 2 == 0


#     if value%2==0:
#         return True
#     else:
#         return False

list_data = [1, 2, 3, 4, 5, 6, 7, 8]
# filter_template(evenChk, list_data)
filter_template(lambda x: x % 2 == 0, L=list_data)

[2, 4, 6, 8]

In [114]:
# filter 함수 이용
for item in filter(lambda x: x % 2 == 0, list_data):
    print(item, end=' ')

2 4 6 8

In [115]:
# 리스트컴프리헨션 이용
[x for x in list_data if x % 2 == 0]

[2, 4, 6, 8]

In [116]:
# 예제1 : 다음 리스트에서 소수점이하가 0인 수만 추출하시오
# filter 함수, 람다식이용/filter_template / 리스트컴프리헨션
L = [1, 1.2, 1.5, 2, 3.0, 10.5, 100]
# [1, 2, 3.0, 100]
x = 2
# print(x.is_integer()) is_integer()
print(x % 1.0 == 0)
print(x == round(x))
print(x == x // 1)

True
True
True

In [117]:
# 1. filter함수 이용
print(list(filter(lambda x: x == round(x), L)))
print(list(filter(lambda x: x % 1.0 == 0, L)))
print(list(filter(lambda x: x == x // 1, L)))
# 2. filter_template 함수
print(filter_template(lambda x: x == round(x), L))
# 3. 리스트 컴프리헨션 이용
print([x for x in L if x == round(x)])

[1, 2, 3.0, 100]
[1, 2, 3.0, 100]
[1, 2, 3.0, 100]
[1, 2, 3.0, 100]
[1, 2, 3.0, 100]

**람다식은 함수가 실행할 문장이 한문장의 return문일 경우만 사용**<br>
**람다식이 가장 많이 사용되는 곳은 함수의 인수로 전달될 때** 나 함수를 return할 때

In [118]:
# 예제2 : 베스트셀러 list(딕셔너리 리스트)를 가격순으로 sort
p = [10, 3, 6, 1]
p.sort(reverse=True) # 내림차순 정렬
p

[10, 6, 3, 1]

In [119]:
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [120]:
pairs.sort(key=lambda pair : pair[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [121]:
students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':22},
           {'name':'이', 'score':77},
           {'name':'박', 'score':66},]

In [122]:
# students를 이름 ㄱㄴㄷ순으로 정렬
students.sort(key=lambda students : students['name'])
students

[{'name': '김', 'score': 22},
 {'name': '박', 'score': 66},
 {'name': '이', 'score': 77},
 {'name': '홍', 'score': 99}]

In [123]:
# students를 score순 오름차순 정렬
students.sort(key=lambda students : students['score'])
students

[{'name': '김', 'score': 22},
 {'name': '박', 'score': 66},
 {'name': '이', 'score': 77},
 {'name': '홍', 'score': 99}]

In [124]:
# students를 score순 내림차순 정렬
students.sort(key=lambda students : students['score'], reverse=True)
students

[{'name': '홍', 'score': 99},
 {'name': '이', 'score': 77},
 {'name': '박', 'score': 66},
 {'name': '김', 'score': 22}]

In [125]:
books = [
    {
        'no': 1,
        'title': '소년이 온다',
        'writer': '한강',
        'price': '13,500'
    },
    {
        'no': 3,
        'title': '트럼프2.0시대',
        'writer': '박종훈',
        'price': '18,000'
    },
    {
        'no': 2,
        'title': '트렌드코리아2025',
        'writer': '김난도',
        'price': '9,100'
    },
    {
        'no': 4,
        'title': '가격잘못',
        'writer': '홍길동',
        'price': 'ㅁ'
    },
    {
        'no': 5,
        'title': '가격이없음',
        'writer': '신길동',
        'price': 'None예정'
    },
]

In [126]:
books.sort(key=lambda book: book['no'])
books

[{'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': '13,500'},
 {'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': '9,100'},
 {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이없음', 'writer': '신길동', 'price': 'None예정'}]

In [127]:
books.sort(key=lambda book: book['title'])
books

[{'no': 5, 'title': '가격이없음', 'writer': '신길동', 'price': 'None예정'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': '13,500'},
 {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'},
 {'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': '9,100'}]

In [128]:
books.sort(key=lambda book: book['writer'])
books

[{'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': '9,100'},
 {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'},
 {'no': 5, 'title': '가격이없음', 'writer': '신길동', 'price': 'None예정'},
 {'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': '13,500'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

In [129]:
books.sort(key=lambda book: book['price'], reverse=True)
books

[{'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이없음', 'writer': '신길동', 'price': 'None예정'},
 {'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': '9,100'},
 {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'},
 {'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': '13,500'}]

In [130]:
books = [
    {
        'no': 1,
        'title': '소년이 온다',
        'writer': '한강',
        'price': '13,500'
    },
    {
        'no': 3,
        'title': '트럼프2.0시대',
        'writer': '박종훈',
        'price': '18,000'
    },
    {
        'no': 2,
        'title': '트렌드코리아2025',
        'writer': '김난도',
        'price': '9,100'
    },
    {
        'no': 4,
        'title': '가격잘못',
        'writer': '홍길동',
        'price': 'ㅁ'
    },
    {
        'no': 6,
        'title': '가격이숫자',
        'writer': '신길동',
        'price': 9200
    },
    {
        'no': 5,
        'title': '가격이없음',
        'writer': '이길동',
    },
]

In [131]:
books.sort(key=lambda book: book.get('price'))
books

TypeError: '<' not supported between instances of 'int' and 'str'

In [132]:
# & : 논리연산, 비트연산, 집합연산이 모두 가능하므로, 좌항이 False여도, 
     # 우항이 숫자면 비트연산을 수행해야 하므로 우항을 수행
# and : 논리연산의 역할만 하여, 좌항이 False면 우항 수행 안 함.
def parse_int(price):
    # print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [133]:
print(parse_int('ㅁ')) # 0
print(parse_int(None)) # 0
print(parse_int(9200)) # 9200
print(parse_int('13,500')) # 13,500

0
0
9200
13500

In [134]:
books = \
   [{'no':1, 'title':'소년이 온다', 'writer':'한강','price':'13,500'},
    {'no':3, 'title':'트럼프2.0시대', 'writer':'박종훈', 'price':'18,000'},
    {'no':2, 'title':'트렌드코리아2025', 'writer':'김난도', 'price':'9,100'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':6, 'title':'가격이숫자', 'writer':'신길동', 'price':9200},
    {'no':5, 'title':'가격이없음', 'writer':'이길동'},]

In [135]:
testFunc = lambda book : int(book.get('price').replace(',',''))\
if isinstance(book.get('price'), str) and \
book.get('price').replace(',','').isdigit()\
else (book.get('price') if isinstance(book.get('price'),int)\
      else 0)
[testFunc(book) for book in books]

[13500, 18000, 9100, 0, 9200, 0]

In [136]:
copyBooks = books.copy()
copyBooks.sort(key=lambda book : int(book.get('price').replace(',',''))              
               if isinstance(book.get('price'), str)
               and book.get('price').replace(',','').isdigit()
               else (book.get('price') if isinstance(book.get('price'),int) else 0), reverse=True
              )
copyBooks

[{'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'},
 {'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': '13,500'},
 {'no': 6, 'title': '가격이숫자', 'writer': '신길동', 'price': 9200},
 {'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': '9,100'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이없음', 'writer': '이길동'}]

In [137]:
# map(func, books)
'''
{'no': 3, 'title': '트럼프', 'writer': '박', 'price': '8,000'} 를 매개변수로 받아
{'no': 3, 'title': '트럼프', 'writer': '박', 'price': 8000}로 return
'''

"\n{'no': 3, 'title': '트럼프', 'writer': '박', 'price': '8,000'} 를 매개변수로 받아\n{'no': 3, 'title': '트럼프', 'writer': '박', 'price': 8000}로 return\n"

In [139]:
def price_parse_int(book):
    # book.get('price')를 정수 가격으로 바꾸기(방법1)
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        book['price'] = int(book['price'].replace(',',''))
    elif isinstance(book.get('price'),int):
        pass
    else:
        book['price'] = 0
    return book
    # book2 복사본을 만들어 books.get('price')를 정수 가격으로 바꾸기(방법2)
    # return book2

In [152]:
def price_parse_int(book):
    return {'no':book.get('no'),
            'title':book.get('title'),
            'writer':book.get('writer'),
            'price':int(book['price'].replace(',',''))
            if isinstance(book.get('price'),str)
            and book.get('price').replace(',','').isdigit()
            else (book.get('price')
                  if isinstance(book.get('price'),int)
                 else 0)
           }

In [161]:
price_parse_int = lambda book : {'no':book.get('no'),
            'title':book.get('title'),
            'writer':book.get('writer'),
            'price':int(book['price'].replace(',',''))
            if isinstance(book.get('price'),str)
            and book.get('price').replace(',','').isdigit()
            else (book.get('price')
                  if isinstance(book.get('price'),int)
                 else 0)
           }

In [163]:
bookTemp = {'no': 3, 'title': '트럼프', 'writer': '박', 'price': '8,000'}
returnBook = price_parse_int(bookTemp)
returnBook

{'no': 3, 'title': '트럼프', 'writer': '박', 'price': 8000}

In [164]:
bookTemp

{'no': 3, 'title': '트럼프', 'writer': '박', 'price': '8,000'}

In [167]:
newBooks = list(map(lambda book : {'no':book.get('no'),
            'title':book.get('title'),
            'writer':book.get('writer'),
            'price':int(book['price'].replace(',',''))
            if isinstance(book.get('price'),str)
            and book.get('price').replace(',','').isdigit()
            else (book.get('price')
                  if isinstance(book.get('price'),int)
                 else 0)
          },
         books
        ))

In [168]:
newBooks

[{'no': 1, 'title': '소년이 온다', 'writer': '한강', 'price': 13500},
 {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': 18000},
 {'no': 2, 'title': '트렌드코리아2025', 'writer': '김난도', 'price': 9100},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 0},
 {'no': 6, 'title': '가격이숫자', 'writer': '신길동', 'price': 9200},
 {'no': 5, 'title': '가격이없음', 'writer': '이길동', 'price': 0}]

In [189]:
'''
예제3. members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1995-12-18'},]를
    members2 = [
    {'name':'홍길동', 'year':2000, 'month':1,'day':1},
    {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
로 바꿉니다
'''

"\n예제3. members = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1995-12-18'},]를\n    members = [\n    {'name':'홍길동', 'birth':'2000-01-01','year':2000, 'month':1,'day':1},\n{'name':'신길동', 'birth':'1995-12-18', 'year':1995, 'month':12, 'day':18},]\n로 바꿉니다\n"

In [221]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1995-12-18'},]

In [222]:
# '1995-01-01'을 받아 {'year':1995, 'month':1,'day':1}을 return하는 함수 
def split_date(date):
    split_data = date.split('-')
    return {'year':int(split_data[0]),
            'month':int(split_data[1]),
            'day':int(split_data[2])}

In [223]:
split_date('2001-01-08')

{'year': 2001, 'month': 1, 'day': 8}

In [224]:
def split_birth(member): # 'name','birth'
    return {
        'name':member.get('name'),
        'year':int(member.get('birth').split('-')[0]),
        'month':int(member.get('birth').split('-')[1]),
        'day':int(member.get('birth').split('-')[2])
    }

In [225]:
split_birth = lambda member : {
                    'name':member['name'],
                    'year':int(member['birth'].split('-')[0]),
                    'month':int(member['birth'].split('-')[1]),
                    'day':int(member['birth'].split('-')[2]),
                }

In [226]:
split_birth({'name':'홍길동','birth':'1999-12-16'})

{'name': '홍길동', 'year': 1999, 'month': 12, 'day': 16}

In [227]:
members2= list(map(lambda member : {
                    'name':member['name'],
                    'year':int(member['birth'].split('-')[0]),
                    'month':int(member['birth'].split('-')[1]),
                    'day':int(member['birth'].split('-')[2]),
                }, members1))
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [228]:
def join_date(date): # {'year': 1995, 'month': 12, 'day': 18} => "1995-12-18"
    return '{year}-{month:02}-{day:02}'.format(**date)

In [229]:
join_date({'year': 1995, 'month': 1, 'day': 1} )

'1995-01-01'

In [230]:
def join_birth(member):
    name = member['name']
    join_date = '{year}-{month:02}-{day:02}'.format(**member)
    return {'name':name,
           'birth':join_date}

In [231]:
join_birth({'name':'kim','year':1995, 'month':1, 'day':2})

{'name': 'kim', 'birth': '1995-01-02'}

In [233]:
members1 = list(map(join_birth, members2))
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

## 4.3 return문에 람다식 사용

In [236]:
# 매개변수에 함수를 사용
def apply(data, func=None):
#     if func == None:
    if func is None:
        return data
    else:
        return func(data)

In [237]:
print(apply(2))
print(apply(2, lambda x:x**3))

2
8

In [238]:
# 함수를 return
'''
make_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return
    fun = make_box([2,3])
    fun(5) -> [[5, 5, 5],
                [5, 5, 5]]
make_box((2,)) => 1차원 2열짜리 list를 만드는 함수를 return
    fun = make_box([2])
    fun(7) => [7,7]
'''


def make_box(shape):  # [x], [x,y]
    def box(init_value):
        if len(shape) == 1:
            return [init_value] * shape[0]
        elif len(shape) == 2:
            return [[init_value] * shape[1]] * shape[0]

    return box

In [246]:
def make_box(shape):
    if len(shape) == 1:
        return lambda init_value: [init_value] * shape[0]
    elif len(shape) == 2:
        return lambda init_value: [[init_value] * shape[1]] * shape[0]

In [240]:
line_fun = make_box((3, ))
line_fun(5)

[5, 5, 5]

In [241]:
box2d_fun = make_box((4, 3))
box2d_fun(5)

[[5, 5, 5], [5, 5, 5], [5, 5, 5], [5, 5, 5]]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자로 사용하는 것을 피한다

In [252]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [256]:
# abc(7)
def abc(n):
    L = []
    for i in range(n):
        L.append(i)
    print(locals()) # 지역변수들을 출력
    return L

In [257]:
abc(7)

{'n': 7, 'L': [0, 1, 2, 3, 4, 5, 6], 'i': 6}

[0, 1, 2, 3, 4, 5, 6]

In [258]:
isinstance(3.5,float)

True

In [259]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def print_info(self):
        print("이름은 {}, 나이는 {}살".format(self.name, self.age))

In [260]:
p = Person('홍길동', 30)
p.print_info()

이름은 홍길동, 나이는 30살

In [265]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'print_info']

In [261]:
all([True, True, True, False])

False

In [263]:
round(3.5)

4

In [264]:
import numpy

numpy.round(3.5), numpy.ceil(3.1), numpy.floor(3.5)

(4.0, 4.0, 3.0)

# 6. 연습문제

In [114]:
#1
def get_max_min(data_list):
    return max(data_list), min(data_list)

print(get_max_min([1,2,3,4,5,]))

get_max_min = lambda data_list: {'max':max(data_list), 'min':min(data_list)}
print(get_max_min([1,2,3,4,5,]))

(5, 1)
{'max': 5, 'min': 1}

In [109]:
#2
def calculate_bmi(weight, height):
    bmi = weight/(height**2)
    if 0 <= bmi < 18.5 :
        print('마른체형')
    elif 18.5 <= bmi < 25.0:
        print('표준')
    elif 25.0 <= bmi < 30.0:
        print('비만')
    elif 30.0 <= bmi:
        print('고도비만')
    else:
        print('올바르지 않은 입력')

calculate_bmi = lambda weight, height : '마른체형' if 0 <= weight/(height**2) < 18.5 \
                                    else('표준' if 18.5 <= weight/(height**2) < 25.0 \
                                    else('비만' if 25.0 <= weight/(height**2) < 30.0 \
                                    else('고도비만' if 30.0 <= weight/(height**2) \
                                    else('올바르지 않은 입력'))))

In [110]:
calculate_bmi(60,1.77)

'표준'

In [113]:
#3
import math
def get_triangle(width, height):
    area = width * height * 0.5
    line = width + height + math.sqrt(width**2+height**2)
    return area, line
print(get_triangle(3,4))

get_triangle = lambda width, height: {'area':width * height * 0.5, 'line':width + height + math.sqrt(width**2+height**2)}
print(get_triangle(3,4))

(6.0, 12.0)
{'area': 6.0, 'line': 12.0}

In [116]:
#4
def mysum(frOm, end):
    sum = 0
    for i in range(frOm, end+1):
        sum += i
    return sum
print(mysum(10,15))

mysum = lambda frOm, end: sum([x for x in range(frOm, end+1)])
print(mysum(10,15))

75
75

In [118]:
#5
ex = ['Seoul','Daegu','Kwangju','Jeju']
def get_abbrs(lst):
    result = []
    for item in lst:
        result.append(item[:3])
    return result
print(get_abbrs(ex))

get_abbrs = lambda lst : [item[:3] for item in lst]
print(get_abbrs(ex))

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [64]:
#6
def f(x, y):
    return x ** y
print(f(3, 2))
f = lambda x, y: x ** y
print(f(3, 2))

9
9

In [67]:
#7
ex = [1,2,3,4,5]
print(list(map(lambda x: x**2, ex)))
print([x**2 for x in ex])

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [70]:
#8
a = [1, 2, 3]
print(*a)
print(a)
# *를 리스트 앞에 붙임으로서 언패킹을 명시하였기 때문

1 2 3
[1, 2, 3]

In [72]:
#9
date_info = {'year': "2019", 'month':"9", 'day':"6"}
result = "{year}-{month}-{day}".format(**date_info)
result
#2019-9-6

'2019-9-6'

In [82]:
#10
vector_size_check = lambda *vector_var : [len(var) for var in vector_var]
vector_size_check(ex,a)

[4, 3]

In [119]:
#11
def scalar_vector_product(scalar, vector):
    return [scalar*x for x in vector]
ex = [1,2,3,4]
print(scalar_vector_product(5,ex))

scalar_vector_product = lambda scalar, vector : [scalar*x for x in vector]
print(scalar_vector_product(5,ex))

[5, 10, 15, 20]
[5, 10, 15, 20]

In [1]:
#1
def mapping(addr):
    table = [1,2,5,9,6,4,0,3,8,7]
    return table [addr//SIZE]
SIZE = 20
group = [9,8,7,6,5,4,3,2,1,0]
loc = [127, 64, 188]
for a, b in enumerate(loc):
    print(group[mapping(loc[a])], end='')
# loc[a] = 127, 64, 188
# mapping(loc[a]) = table[6], table[3], table[9]
# group[mapping(loc[a])] = group[0] group[9] group[7]
# group[mapping(loc[a])] = 9 0 2

902

In [6]:
#2
a = 10
def sub() :
    global a
    a += 1
    print(a, end='')

def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()

a += 1
func()

# sub() 의 a += 1 로컬 a가 선언되어 있지 않음
# sub()함수의 a += 1 윗단에 global a를 작성하여 sub()내의 a가 전역 변수임을 선언
# 612613

612613

In [21]:
#3
var = 100
def func(var):
    var = 200
func(var)
print(var)

# 100
# 매개변수가 전역변수와 이름이 같더라도 함수의 매개변수는 지역변수임

100

In [25]:
#4
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)
# 5

5

In [26]:
#5
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b: a**b, 3, 2)
# 9

9

In [87]:
#6
# 1 중복 정의는 불가능, 재정의만 가능

In [89]:
#7
list_ = []
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
#4 키워드인수와 순서인수의 순서가 잘못됨
func([], a=40)

TypeError: func() got multiple values for argument 'a'

In [90]:
#8
lambda 매개변수 : 리턴값

In [91]:
#9
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4,'a')]
pairs.sort(key=lambda pair:pair[1])
pairs
#2

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]