# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = (6)
print(number)
print(type(number))

6
<class 'int'>

##### Assinging float

In [11]:
number_float = 12.6
print(number_float)
print(type(number_float))

12.6
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 2
num2 = 4.5

result =num1 + num2
print(result)
print(type(result))

6.5
<class 'float'>

##### Subtraction

In [13]:
num1 = 3
num3 = 5

result = num2 - num1
print(result)
print(type(result))

1.5
<class 'float'>

##### Multiplication

In [21]:
num1 = 5
num2 = 5

result= num1 * num2
print(result)
print(type(result))

product = 5 * 10
print(product)
print(type(product))

#shorthand
product*=2
print(product)

25
<class 'int'>
50
<class 'int'>
100

##### Division

In [31]:
num1 = 42
num2 = 7

result = (num1 / num2)
print(result)
print(type(result))

quo = 10/2
print(quo)
print(type(result))


#shorthand
quo/=2
print(quo)

6.0
<class 'float'>
5.0
<class 'float'>
2.5

##### Floor Division

In [40]:
floor = 10//3
print(floor)

#shorthand
floor//=2
print(floor)

3
1

##### Modulo

In [43]:
mod = 10%3
print(mod)

mod = 17.6%4
print(mod)

#shorthand
mod %= 1
print(mod)

1
1.6000000000000014
0.6000000000000014

##### Exponential

In [52]:
square = 5 ** 3
print(square)

#shorthand
square ** 2

125

15625

### String Input-Output

##### String Assignment

In [59]:
name = "Troy"
print(name)
print(type(name))

name= "Troy15"
print(name)
print(type(name))

sentence = "Troy said, Lets's go to Lucky's Diner."
print(sentence)

Troy
<class 'str'>
Troy15
<class 'str'>
Troy said, Lets's go to Lucky's Diner.

##### print() <br>
<p>Don't forget about end=' '</p>

In [65]:
print(name, num1, num2,sep='#', end='\t')
print(name, num1, num2,sep='#')

Troy15#42#7	Troy15#42#7

##### String Concatenation

In [77]:
first = 'Troy'
last = 'McCormick'
full = first + " " + last
print(full)
print(first)
print(last)

full += ' Jr.'
print(full)

first[3]
#index into a string
first_letter = first[0]
print(first_letter)
#String are immutable
#first[0] = 'x' do not so this

Troy McCormick
Troy
McCormick
Troy McCormick Jr.
T

##### Type Conversion

In [82]:
num = 32
print(num)
print(type(num))

new_num = int(num)
print(new_num)
print(type(new_num))

32
<class 'int'>
32
<class 'int'>

##### input()

In [6]:
#inputs will always return a string
ans = input("what is your name?")
print(ans.upper())

name = input("What is your name?")
age = input("what is your age")

string = f"Hello {name}!  In 1 year your will be {int(age) + 1} years old."
print(string)

if age.isdigit():

    string = f"Hello {name}! in 1 year you will be {int(age) +1} years old."
    print(string)
else:
    print('please enter a digit for your age (use 0-9 characters)')

what is your name?troy
TROY
What is your name?troy
what is your agefifty

ValueError: invalid literal for int() with base 10: 'fifty'

##### format()

In [2]:
#f string (see above)

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Mercedesc300\AppData\Local\Temp\ipykernel_8308\897652029.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '10' is digit
C:\Users\Mercedesc300\AppData\Local\Temp\ipykernel_8308\897652029.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '10' is digit
C:\Users\Mercedesc300\AppData\Local\Temp\ipykernel_8308\897652029.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '10' is digit

NameError: name 'digit' is not defined

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [9]:
name = input("What is your name?")
color = input("What is the color of your car?")
year = input("What is the year of your car?")
model = input("What is the model of your car?")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

What is your name?Troy
What is the color of your car?Black
What is the year of your car?2019
What is the model of your car?Toyota
Troy, your 2019 Toyota's color is Black

### If Statements

In [11]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<
# Truth Tree:

# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
num1 = 10
num2 = 5

if num1 > num2:
    print("num2 was bigger")
else:
    print("num1 was either the same bigger")

num2 was bigger

##### 'is' keyword

In [22]:
test = 1
x =1

# is keyowrd check for referencail equality
print(x is test)
print(x == test)

print( 1 == 1)

Shoha = [4,4,4]
Sara = [4,4,4]
Shoha == Sara
Shoha is Sara
test = Shoha
print(test)
print(Shoha)
Shoha.append(5)
print(test)
print(Sara)

True
True
True
[4, 4, 4]
[4, 4, 4]
[4, 4, 4, 5]
[4, 4, 4]

##### 'in' keyword

In [30]:
"z" in "Troy"

False

##### 'not in' keyword'

In [33]:
( "i" not in "sheeeeeez")
if not 10<5:

SyntaxError: invalid syntax (728810311.py, line 2)

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [43]:
ans = input("what is your favorite animal?")
if ("p" in ans) or ("P" in ans):
    print("The letter p is in the input")
else:
    print("The letter p in not the input")

what is your favorite animal?stork
The letter p in not the input

## Using 'and'/'or' with If Statements

In [ ]:
#see above

### Elif Statements

In [ ]:
#see above

### Else Statements

In [ ]:
# see above

### For Loops

In [57]:
#syntax
# for varialbe in iterable:
name = "Troy McCormick"

for letter in name:  
    print(letter)
    
for letter in name:
    if letter.lower() in "aeiou":
        print(letter)
        
#when looping thru indices
for index in range(len(name)): 
    if index == 6:
        print('This is the sixth character:', name[index])

T
r
o
y

M
c
C
o
r
m
i
c
k
o
o
i
This is the sixth character: c

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [71]:
for num in range(10):
    if num == 3:
        continue
    print(num)
print("done")

0
1
2
4
5
6
7
8
9
done

##### Break Statement

In [ ]:
# will break out of current loop

In [70]:
for num in range(12):
    if num == 3:
        break
    print(num)
print("done")

0
1
2
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [72]:
for num in range(12):
    if num == 3:
        pass
    print(num)
print("done")

0
1
2
3
4
5
6
7
8
9
10
11
done

##### Double For Loops

In [81]:
for outer in range(5):
    for inner in range(5):
        print("OUTER", outer, 'INNER', inner)

OUTER 0 INNER 0
OUTER 0 INNER 1
OUTER 0 INNER 2
OUTER 0 INNER 3
OUTER 0 INNER 4
OUTER 1 INNER 0
OUTER 1 INNER 1
OUTER 1 INNER 2
OUTER 1 INNER 3
OUTER 1 INNER 4
OUTER 2 INNER 0
OUTER 2 INNER 1
OUTER 2 INNER 2
OUTER 2 INNER 3
OUTER 2 INNER 4
OUTER 3 INNER 0
OUTER 3 INNER 1
OUTER 3 INNER 2
OUTER 3 INNER 3
OUTER 3 INNER 4
OUTER 4 INNER 0
OUTER 4 INNER 1
OUTER 4 INNER 2
OUTER 4 INNER 3
OUTER 4 INNER 4

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>