## Type Casting

In [47]:
type(3.14)

float

In [48]:
int(3.14)

3

In [49]:
"1" == 1

False

In [50]:
int("1")

1

In [51]:
type(1)

int

In [52]:
str(1)

'1'

In [53]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [54]:
float(3)

3.0

## User input

In [55]:
print('hello?')

hello?

In [57]:
input('How old are you?')

How old are you?12

'12'

In [58]:
user_age = input('How old are you?')

How old are you?12

In [59]:
user_age

'12'

In [60]:
print('당신의 12년 뒤 나이는 ', user_age + 12, '세 입니다.')

TypeError: can only concatenate str (not "int") to str

In [61]:
print('당신의 12년 뒤 나이는 ', user_age + str(12), '세 입니다.')

당신의 12년 뒤 나이는  1212 세 입니다.

In [62]:
print('당신의 12년 뒤 나이는 ', int(user_age) + 12, '세 입니다.')

당신의 12년 뒤 나이는  24 세 입니다.

In [63]:
user_height = int(input('How tall are you?'))

How tall are you?180

In [64]:
type(user_height)

int

In [65]:
type(eval('1'))

int

In [66]:
user_value = eval(input('Type anything'))

Type anything12

In [67]:
type(user_value)

int

In [ ]:
fastcampus = 1

In [68]:
# Practice with input
pi = 3.1415
r = float(input('Enter r value >'))

d = 2 * r
c = 2 * pi * r
a = pi * r ** 2
gnb = 4 * pi * r ** 2
v = 4 / 3 * pi * r ** 3
print('d = ', d)
print('c = ', c)
print('a = ', a)
print('gnb = ', gnb)
print('v = ', v)

Enter r value >3.14
d =  6.28
c =  19.728620000000003
a =  30.973933400000004
gnb =  123.89573360000001
v =  129.67753450133333

## String

In [69]:
'Fastcampus'

'Fastcampus'

In [70]:
"Fastcampus"

'Fastcampus'

In [71]:
'Fastcampus'[4]

'c'

In [74]:
'Fastcampus'[2:5+1]

'stca'

In [79]:
'Fastcampus'[-2:-7:-2]

'umc'

In [80]:
'Fastcampus'[1] = 'e'

TypeError: 'str' object does not support item assignment

In [81]:
target = 'Fastcampus'

In [84]:
target[:1]

'F'

In [83]:
target[2:]

'stcampus'

In [90]:
print(target[:1], 'e', target[2:], sep='', end='python')
print('hello')

Festcampuspythonhello

In [93]:
new_target = target[:1] + 'e' + target[2:]
new_target

'Festcampus'

In [92]:
input?

In [94]:
sentence = 'Python is very easy, powerful and awesome LANGUAGE, I think.'

In [95]:
sentence.count('y')

3

In [98]:
sentence.count('very easy')

1

In [99]:
sentence.find('is')

7

In [100]:
comma = ','
comma.join('Python')

'P,y,t,h,o,n'

In [101]:
','.join('python')

'p,y,t,h,o,n'

In [105]:
to_be_list = ' '.join('Fastcampus')

In [106]:
to_be_list.split(' ')

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [107]:
'I am an Iron man.'.split(' ')

['I', 'am', 'an', 'Iron', 'man.']

In [108]:
sentence

'Python is very easy, powerful and awesome LANGUAGE, I think.'

In [111]:
sentence = sentence.replace('Python', 'Golang')

In [112]:
sentence

'Golang is very easy, powerful and awesome LANGUAGE, I think.'

In [118]:
target = '   ....,,,,hello, python....,,fastcampus,,    '

In [119]:
target.strip().strip('.').strip(',')

'hello, python....,,fastcampus'

In [120]:
target.strip(' .,')

'hello, python....,,fastcampus'

In [122]:
'kingwangzzang1234'.isalnum()

True

In [123]:
'kingwangzzang'.isalpha()

True

In [124]:
'2017'.isdigit()

True

In [125]:
'kingwangzzang'.islower()

True

In [126]:
'ALERT'.isupper()

True

### String Formatting(oldway)

In [127]:
'I have a pen, I have a pineapple.'

'I have a pen, I have a pineapple.'

In [128]:
'I have a %s, I have a %s.'%('apple','pen')

'I have a apple, I have a pen.'

In [131]:
'My Phone battery is %d %% charged.'%(100)

'My Phone battery is 100 % charged.'

### String Formatting new way

In [136]:
'I have a {}, I have a {}'.format('pen','apple')

'I have a pen, I have a apple'

In [137]:
'I have a {1}, I have a {0}'.format('pen',10)

'I have a 10, I have a pen'

In [145]:
print('I have a {1:_>10}, I have a {0}'.format('pen','apple'))
print('I have a {1:*^10}, I have a {0}'.format('pen','apple'))
print('I have a {1:-<10}, I have a {0}'.format('pen','pineapple'))

I have a _____apple, I have a pen
I have a **apple***, I have a pen
I have a pineapple-, I have a pen

## Practice

1. 사용자가 입력한 전화번호를 저장하려합니다. 전화번호의 구분자로 `-` 또는 ` `를 혼합하여 사용할 때 이를 split과 join을 이용하여 `-`로 통일하여 입력 받아 결과물을 출력하세요.

2. 사용자가 다음과 같은 입력을 할때, 그 자료가 알파벳 단독인지, 숫자 단독인지, 알파벳 숫자인지, 소문자인지, 대문자인지를 formating 하여 출력하세요.

```text
FAST
campus12
FastCampus
1107
dynamite
```

In [146]:
user_phonenum = input('Enter your phone number >')

Enter your phone number >010 1234 1234

In [149]:
'-'.join(user_phonenum.split(' '))

'010-1234-1234'

In [151]:
''.join(user_phonenum.split(' '))

'01012341234'

In [154]:
"""
FAST
campus12
FastCampus
1107
dynamite
"""
user_input = input("Type some words: ")
"{} is {},{},{},{},{}".format(
    user_input,
    user_input.isalpha(),
    user_input.isdigit(),
    user_input.isalnum(),
    user_input.islower(),
    user_input.isupper()
)

Type some words: FastCampus

'FastCampus is True,False,True,False,False'

## List, tuple

In [155]:
fast = 2.71828
campus = 3.1415
fastcampus = [2.71828, 3.1415]

In [161]:
zoo = ['rabbit','dog','cat']

In [162]:
zoo

['rabbit', 'dog', 'cat']

In [163]:
zoo.append(1)

In [164]:
zoo

['rabbit', 'dog', 'cat', 1]

In [165]:
zoo.append('pig')

In [166]:
zoo.append('aligator')

In [167]:
zoo.append('owl')

In [168]:
zoo

['rabbit', 'dog', 'cat', 1, 'pig', 'aligator', 'owl']

In [169]:
zoo.insert(3, 'horse')

In [170]:
zoo

['rabbit', 'dog', 'cat', 'horse', 1, 'pig', 'aligator', 'owl']

In [171]:
zoo.remove(1)

In [172]:
zoo

['rabbit', 'dog', 'cat', 'horse', 'pig', 'aligator', 'owl']

In [173]:
zoo.remove('pig')

In [174]:
zoo

['rabbit', 'dog', 'cat', 'horse', 'aligator', 'owl']

In [176]:
zoo.pop(2)

'cat'

In [177]:
zoo

['rabbit', 'dog', 'horse', 'aligator', 'owl']

In [178]:
cage = zoo.pop(1)

In [179]:
zoo

['rabbit', 'horse', 'aligator', 'owl']

In [180]:
cage

'dog'

In [181]:
zoo.sort()

In [182]:
zoo

['aligator', 'horse', 'owl', 'rabbit']

In [183]:
zoo.reverse()

In [184]:
zoo

['rabbit', 'owl', 'horse', 'aligator']

In [186]:
numbers= [
    -1,
    0,
    3.14,
    271828,
    10000,
    374651982,
    -182763187,
    -1238971293,
    -12,
    8726
]

In [187]:
numbers.sort(reverse=True)

In [188]:
numbers

[374651982, 271828, 10000, 8726, 3.14, 0, -1, -12, -182763187, -1238971293]

In [190]:
numbers.pop(numbers.index(0))

0

In [191]:
numbers

[374651982, 271828, 10000, 8726, 3.14, -1, -12, -182763187, -1238971293]

In [193]:
numbers.remove(numbers[2])

In [194]:
numbers

[374651982, 271828, 8726, 3.14, -1, -12, -182763187, -1238971293]

In [195]:
numbers1 = [1,2]
numbers2 = [-1,-2]

In [196]:
numbers1 + numbers2

[1, 2, -1, -2]

In [197]:
numbers1.extend([3,4])

In [198]:
numbers1

[1, 2, 3, 4]

In [199]:
zoo

['rabbit', 'owl', 'horse', 'aligator']

In [200]:
'dog' in zoo

False

In [201]:
'owl' in zoo

True

In [202]:
'dog' not in zoo

True

In [203]:
'owl' not in zoo

False

In [207]:
grade = (90,0,16,40)

In [208]:
grade

(90, 0, 16, 40)

In [206]:
grade.append(80) # 튜플은 값 추가가 원칙적으로 불가능

AttributeError: 'tuple' object has no attribute 'append'

In [209]:
grade[1]

0

In [210]:
grade.remove(16)

AttributeError: 'tuple' object has no attribute 'remove'

In [211]:
def split_hello(word):
    result = word.split()
    return result[0], result[1]
(greet, word) = split_hello('hello world')

In [212]:
greet

'hello'

In [213]:
word

'world'

In [214]:
tmp = greet
tmp

'hello'

In [215]:
greet = word
greet

'world'

In [216]:
word = tmp
print(greet, word)

world hello

In [217]:
greet = 'hello'
word = 'world'
print(greet, word)
(greet, word) = (word, greet)
print(greet,word)

hello world
world hello

In [218]:
grade = (13,14,15)

In [219]:
listed_grade = list(grade)
type(listed_grade)

list

In [220]:
listed_grade.append(16)
listed_grade

[13, 14, 15, 16]

In [221]:
grade = tuple(listed_grade)
grade

(13, 14, 15, 16)

## Practice(1)

list와 tuple을 이용하여 다음의 문제를 해결하세요.

1. 변수 `animals`에 다음의 자료를 입력하세요.
`rabbit, cat, dog, aligator, tiger, lion`

2. animals에 새로운 동물을 3마리 추가하세요.(insert, append, extend 꼭 쓸것)

3. animals를 알파벳 내림차순으로 정렬하세요.

4. 정렬된 animals의 짝수(index 기준) 동물을 even_animals라는 tuple에 할당하세요.

In [222]:
animals = ['rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion']

In [223]:
animals.insert(3, 'kangaroo')
animals

['rabbit', 'cat', 'dog', 'kangaroo', 'aligator', 'tiger', 'lion']

In [224]:
animals.append('puma')
animals

['rabbit', 'cat', 'dog', 'kangaroo', 'aligator', 'tiger', 'lion', 'puma']

In [225]:
animals.extend(['cheetah'])
animals

['rabbit',
 'cat',
 'dog',
 'kangaroo',
 'aligator',
 'tiger',
 'lion',
 'puma',
 'cheetah']

In [226]:
animals.sort(reverse=True)
animals # alternative way : sort() and reverse()

['tiger',
 'rabbit',
 'puma',
 'lion',
 'kangaroo',
 'dog',
 'cheetah',
 'cat',
 'aligator']

In [228]:
animals[::2]

['tiger', 'puma', 'kangaroo', 'cheetah', 'aligator']

In [229]:
animals[1::2]

['rabbit', 'lion', 'dog', 'cat']

In [230]:
even_animals = tuple(animals[::2])
even_animals

('tiger', 'puma', 'kangaroo', 'cheetah', 'aligator')

### 수요일까지 꼭 풀어야 할 문제

https://www.hackerrank.com/challenges/python-string-split-and-join/problem

https://www.hackerrank.com/challenges/whats-your-name/problem

https://www.hackerrank.com/challenges/string-validators/problem

https://www.hackerrank.com/challenges/python-lists/problem