# Files & Exceptions

## Files

#### 'with' Statement
'with' acquires a resource and assigns its corresponding object to a variable. Allows the application to use the resource via that variable. Calls the resource object's close method to release the resource when program control reaches the end of with statement's suite.

#### open() Opening Files
Opens a file and associates it with a file object. Mode argument specifies the file-open mode:
- 'w' ~ opens for writing
- 'r' ~ opens for reading
- 'r+' or 'W+' ~ opens for both reading & writing
- 'a' ~ opens for writing but appends to the end of file
- 'a+' ~ opens for both reading & writing but appends to end of file

#### Writing to Files

In [11]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

#### Reading Files
We can read files using a for-in structure (see example below).

Additionally, readlines() can be used to read an entire text file. Returns each line as a string in a list of strings.

The system maintains a file-position pointer representing the location of the next character to read. We can adjust this position using the seek() method (i.e. file_object.seek(0) ).

In [13]:
# reading accounts.txt using a simple for-in structure
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

#### Formatting Data Using a Temp File
Formatted data written to a text file cannot be modified without the risk of destroying other data. To reformat data, we can make a new temporary file with the desired changes, delete the original file, and rename this new file as the old one

In [40]:
# os module used for removing & renaming files
import os

accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')

# working with two separate files at the same time
with accounts, temp_file:
    for record in accounts:
        # extracting three variables from each line, stored in account, name, balance
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            # if account is '300' then replace name with 'Williams' on temp file
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

# we may now delete the old file and rename this one to the old filename
os.remove('accounts.txt')
os.rename('temp_file.txt', 'accounts.txt')

#### Note on JSON Files
JSON objects are similar to Python dictionaries & store:
- strings
- numbers
- JSON boolean values
- Null
- Arrays
- Other JSON objects

#### JSON Serialization
Use json.dump() to convert Pyton objects into appropriate JSON objects.

In [2]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}
]}

import json

with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

#### JSON Deserializing
We can use json.load() to read an entire JSON contents (from a file object) and convert it into a Python object.

In [5]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

# must specify 'accounts' due to the structure of our dictionary
#    and can use subscripts 0 & 1 to access two different accounts
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [72]:
# we can see the JSON text serialized by printing json.dumps(json.load())
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

## Exceptions

#### Error Types
Types of exceptions that may occur when working with files:
- FileNotFoundError ~ non-existent file attempted opening for reading
- PermissionsError ~ operation is attempted for which one does not have permission
- ValueError ~ when an attempt is made to write to a file that is already closed

In [83]:
# ZeroDivisionError
10/0

ZeroDivisionError: division by zero

In [85]:
# ValueError
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

#### Try Statement - Handling Exceptions
Basic structure of a try statement: try -> except (Error_Type) -> else.

Note: we can store exceptions in a variable wtih 'except (type1, type2, ...) as variable_name'

In [94]:
# dividebyzero.py
"""Simple exception handling example"""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator:'))
        number2 = int(input('Enter denominator:'))
        result = number1 / number2
    except ValueError: # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError: # denominator was 0
        print('Attempted to divide by zero\n')
    else: # executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break # terminate the loop

Enter numerator: hello

You must enter two integers

Enter numerator: 3
Enter denominator: 0

Attempted to divide by zero

Enter numerator: 3
Enter denominator: 2

3.000 / 2.000 = 1.500

#### Note on Exceptions Raised by Functions/Methods
Before using any function/method, read the online API documentation for it to be aware of what exceptions are thrown (if any). For each esception, the associated online API documentation must be read to investigate the potential reasons why such an exception may occur.

#### Note on try Suites
Place in a try suite a significant logical selection of a program in which several statements can raise exceptions. For proper execution-handling granularity, each try statement should enclose a section of code small enough to identify the specific context and the except handlers can process the exception properly. If many statements in a try suite raise the same exception types, multiple try statements may be required to determine each exception's context.

#### Finally Clause
A 'finally' clause comes after any except clauses or else clause & is guaranteed to execute, regardless of whether its try suite executes successfully, or an exception occurs.

In [113]:
# quick demonstration
try:
    print('try suite that raises an exception')
    int('hello')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [119]:
# using finally for file opening
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

#### Raising an Exception
When writing functions we can raise exceptions to inform callers of errors that occur. Raise statement creates an object of the specified exception class.
- Exception class name may be followed by parentheses containing arguments to initialize the exception object (e.g. provide custom error message string)
- Each exception object stores information indicating the precise serires of function calls that led to exception

In [129]:
# raising an exception through stacked function calls
def function1():
    function2()

def function2():
    raise Exception('An exception occurred')

function1()

# see Traceback below to see function stack

Exception: An exception occurred

#### Stack Unwinding
Traceback shows the type of exception that occurred followed by the complete function call stack that led to the raise point. When an exception is not caught, stack unwinding occurs (see previous example).

## Data Science - CSV Files

#### Writing to csv File
The csv module's writer function returns an object that writes CSV data to the specified file object.

In [135]:
import csv

with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

#### Reading from a csv File
The csv module's reader function allows us to read CSV data from specified file object.

In [142]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

#### Reading CSV files into Pandas DataFrames

In [146]:
import pandas as pd

df = pd.read_csv('accounts.csv',
                names=['account','name','balance'])
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

#### Example - Reading the Titanic Disaster Dataset

In [160]:
# getting our dataset from URL
titanic = pd.read_csv('https://vincentarelbundock.github.io/' +
                     'Rdatasets/csv/carData/TitanicSurvival.csv')

# format for floating-point values
pd.set_option('display.precision', 2)

# view some rows
titanic.head()

                          rownames survived     sex    age passengerClass
0    Allen, Miss. Elisabeth Walton      yes  female  29.00            1st
1   Allison, Master. Hudson Trevor      yes    male   0.92            1st
2     Allison, Miss. Helen Loraine       no  female   2.00            1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00            1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00            1st

In [162]:
# cleaning up our dataset
titanic.columns = ['name', 'survived', 'sex', 'age', 'class']

titanic.head()

                              name survived     sex    age class
0    Allen, Miss. Elisabeth Walton      yes  female  29.00   1st
1   Allison, Master. Hudson Trevor      yes    male   0.92   1st
2     Allison, Miss. Helen Loraine       no  female   2.00   1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00   1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00   1st

In [166]:
# simple data analysis with titanic disaster dataset
# note: describe() only calculates statistics for numeric columns
titanic.describe()

           age
count  1046.00
mean     29.88
std      14.41
min       0.17
25%      21.00
50%      28.00
75%      39.00
max      80.00

In [170]:
(titanic.survived == 'yes').describe()

count      1309
unique        2
top       False
freq        809
Name: survived, dtype: object

In [176]:
%matplotlib
histogram = titanic.hist()
histogram

Using matplotlib backend: QtAgg

array([[<Axes: title={'center': 'age'}>]], dtype=object)