In [ ]:
#1. Write a code to reverse a string
str=input("Enter a string: ")
rev=str[::-1]
print(f"The reverse of the string {str} is {rev}")

Enter a string: APPLE
The reverse of the string APPLE is ELPPA

In [ ]:
#2. Write a code to count the number of vowels in a string
str=input("Enter a string: ")
count=0
for i in str:
  if (i=="A")or(i=="E")or(i=="I")or(i=="O")or(i=="U")or(i=="a")or(i=="e")or(i=="i")or(i=="o")or(i=="u"):
    count=count+1
print(f"The number of vowels in the string {str} is {count}")

Enter a string: Pineapple
The number of vowels in the string Pineapple is 4

In [ ]:
#3. Write a code to check if a given string is a palindrome or not.
str=input("Enter a string: ")
if(str==str[::-1]):
  print("Palindrome")
else:
  print("NOT Palindrome")

Enter a string: TENET
Palindrome

In [ ]:
#4. Write a code to check if two given strings are anagrams of each other
str=input("Enter a string: ")
str1=input("Enter another string: ")
if(sorted(str)==sorted(str1)):
  print("The strings are anagrams of each other.")
else:
  print("The strings are not anagrams of each other.")

Enter a string: silent
Enter another string: listen
The strings are anagrams of each other.

In [ ]:
#5. Write a code to find all occurrences of a given substring within another string.
str=input("Enter a string: ")
sub=input("Enter the substring to be searched: ")
x=0
s={}
s=set(s)
for i in str:
  count=str.find(sub,x,len(str))
  if count>=0:
    s.add(count)
  x=x+len(sub)
print("The substring is present at ",s," positions of the string")

Enter a string: johny johny yes papa
Enter the substring to be searched: johny
The substring is present at  {0, 6}  positions of the string

In [ ]:
#Q6. Write a code to perform basic string compression using the count of repeated characters
str=input("Enter a string:")
count=0
lis=[]
for i in str:
  if i not in lis: print(i,end="")
  for j in str:
    if i in lis: break;
    if i==j: count=count+1
  if count>1: print(f"{count}",end="")
  count=0
  lis.append(i)

Enter a string:aabbffttaaa
a5b2f2t2

In [ ]:
#7. Write a code to determine if a string has all unique characters
str=input("Enter a string: ")
count=0
for i in str:
  for j in str:
    if i==j:
      count=count+1
  if count>1: break
  count=0
if count<1: print("The string has all unique characters")
else: print("The string does NOT have all unique characters")

Enter a string: apple
The string does NOT have all unique characters

In [ ]:
#8. Write a code to convert a given string to uppercase or lowercase
str=input("Enter a string: ")
print(str.upper())
print(str.lower())

Enter a string: PwSkills
PWSKILLS
pwskills

In [ ]:
#9. Write a code to count the number of words in a string
str= input("Enter a string: ")
lis=str.split(" ")
print("The number of words in the string is: ", len(lis))

Enter a string: I am learning data science from Pwskills.
The number of words in the string is:  7

In [ ]:
#10.  Write a code to concatenate two strings without using the + operator.
str=input("Enter the 1st string: ")
str1=input("Enter the 2nd string: ")
concat=" ".join([str,str1])
print("The concatenated string is: ",concat)

Enter the 1st string: Welcome to
Enter the 2nd string: Pwskills
The concatenated string is:  Welcome to Pwskills

In [ ]:
#11. Write a code to remove all occurrences of a specific element from a list
lis=[11,23,45,67,23,23,"Apple","Mango"]
l=[]
item=int(input("Enter the item to be removed: "))
for i in lis:
  if item!=i: l.append(i)
print(l)

Enter the item to be removed: 23
[11, 45, 67, 'Apple', 'Mango']

In [ ]:
#12. Implement a code to find the second largest number in a given list of integers
lis=[12,23,95,86,22,56,45]
max2=lis[0]
for j in lis:
  if j>max2 and j!=max(lis):
    max2=j
print("The second largest number in the given list is: ",max2)

The second largest number in the given list is:  86

In [ ]:
#13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
#keys and their counts as values
lis=[11,23,45,67,45,45,23,11,23,23,67,45,"Apple","Mango","Apple"]
l=[]
counter=[]
dic={}
count=0
for i in lis:
  for j in lis:
    if j==i : count=count+1
  dic[i]=count
  count=0
print(dic)

{11: 2, 23: 4, 45: 4, 67: 2, 'Apple': 2, 'Mango': 1}

In [ ]:
#14. Write a code to reverse a list in-place without using any built-in reverse functions
lis=[11,23,45,67,45,45,23,11,23,23,67,45,"Apple","Mango","Apple"]
l=[]
x=-1
for i in range(0,len(lis)):
  l.append(lis[x])
  x=x-1
print("The reversed list is: ")
print(l)

The reversed list is:
['Apple', 'Mango', 'Apple', 45, 67, 23, 23, 11, 23, 45, 45, 67, 45, 23, 11]

In [ ]:
#15. Implement a code to find and remove duplicates from a list while preserving the original order of
#elements
lis=[11,23,45,67,45,45,23,11,23,23,67,45,"Apple","Mango","Apple"]
l=[]
for i in lis:
  if i not in l:
    l.append(i)
print(l)

[11, 23, 45, 67, 'Apple', 'Mango']

In [ ]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
lis=[11,22,33,44,55,66]
lis1=[600,500,400,300,200,100]
for i in range(len(lis)-1):
  if lis[i]<lis[i+1]: res= True
  else:
    res= False
    break
for i in range(len(lis1)-1):
  if lis1[i]>lis1[i+1]: res1= True
  else:
    res1= False
    break
if res==True: print(lis," is in ascending order.")
if res1==True: print(lis1," is in descending order.")

[11, 22, 33, 44, 55, 66]  is in ascending order.
[600, 500, 400, 300, 200, 100]  is in descending order.

In [ ]:
#17.  Write a code to merge two sorted lists into a single sorted list
lis=[11,22,33,44,55]
lis1=[12,35,58,98,100]
l=lis+lis1
print(sorted(l))

[11, 12, 22, 33, 35, 44, 55, 58, 98, 100]

In [ ]:
#18. Implement a code to find the intersection of two given lists
lis=[11,22,33,44,55,66]
lis1=[12,23,33,66,55,49,50]
inter=[]
for i in lis:
  if i in lis1: inter.append(i)
print("Intersection: ",inter)

Intersection:  [33, 55, 66]

In [ ]:
#19.  Create a code to find the union of two lists without duplicates
lis=[11,22,33,44,55,66]
lis1=[12,23,33,66,55,49,50]
l=lis+lis1
union=[]
for i in l:
  if i not in union: union.append(i)
print("The union of two lists without intersection is: ",union)

The union of two lists without intersection is:  [11, 22, 33, 44, 55, 66, 12, 23, 49, 50]

In [ ]:
#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions
lis=[11,22,33,44,55,66]
l=set(lis)
print("The shuffled list: ",l)

The shuffled list:  {33, 66, 11, 44, 22, 55}

In [ ]:
#21. Write a code that takes two tuples and returns a new tuple containing elements that are
#common to both input tuples.

tup1=(12,34,56,78,91)
tup2=(11,34,78,83,95)
lis=[]
for i in tup1:
  if i in tup2: lis.append(i)
new_tup=tuple(lis)
print(lis)

[34, 78]

In [ ]:
#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
#intersection of these two sets
set1=(input("Enter a set of integers separated by commas: "))
set2=(input("Enter another set of integers separated by commas: "))
set1=set(set1.split(','))
set2=set(set2.split(','))
inter=set1 & set2
print("The intersection of the sets is: ", inter)

Enter a set of integers separated by commas: 1,2,3,4,5,6
Enter another set of integers separated by commas: 4,5,6,7,8,9
The intersection of the sets is:  {'4', '6', '5'}

In [ ]:
#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples

def concat(tup1,tup2):
  tup3=tup1+tup2
  return tup3

tuple1=(11,22,33,44)
tuple2=(55,66,77,88,99)
print(concat(tuple1,tuple2))

(11, 22, 33, 44, 55, 66, 77, 88, 99)

In [ ]:
#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
#present in the first set but not in the second set

set1=input("Enter the first set of strings separated by comma: ")
set2=input("Enter the second set of strings separated by comma: ")
set1=set1.split(',')
set2=set2.split(',')
set1,set2=set(set1),set(set2)
new_set=set1-set2
print("The elements that are present in the first set and not in the second set are: ", new_set)

Enter the first set of strings separated by comma: apple,banana,mango,carrot,cabbage
Enter the second set of strings separated by comma: tomato,potato,onion,carrot,cabbage
The elements that are present in the first set and not in the second set are:  {'apple', 'mango', 'banana'}

In [ ]:
#25.  Create a code that takes a tuple and two integers as input. The function should return a new tuple
#containing elements from the original tuple within the specified range of indices

tup=input("Enter elements separated by comma: ")
num1=int(input("Enter a number: "))
num2=int(input("Enter another number: "))
tup=tup.split(',')
tup=tuple(tup)
for i in range(num1,num2):
  print(tup[i],end=",")

Enter elements separated by comma: 11,22,33,44,55,66,77,88,99
Enter a number: 1
Enter another number: 6
22,33,44,55,66,

In [ ]:
#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

set1=input("Enter the first set of characters separated by comma: ")
set2=input("Enter the second set of characters separated by comma: ")
set1=set1.split(',')
set2=set2.split(',')
set1,set2=set(set1),set(set2)
new_set=set1 | set2
print("The union of the two sets are: ", new_set)

Enter the first set of characters separated by comma: D,a,t,a
Enter the second set of characters separated by comma: S,c,i,e,n,c,e
The union of the two sets are:  {'c', 'S', 'n', 'i', 't', 'D', 'e', 'a'}

In [38]:
#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
#minimum values from the tuple using tuple unpacking


tup=[]
length=int(input("Enter the length of the tuple: "))
for i in range(0,length):
  tup.append(int(input("Enter an integer: ")))
tup=tuple(tup)
print(tup)
print("Maximum value: ",max(tup))
print("Minimum value: ",min(tup))

Enter the length of the tuple: 5
Enter an integer: 11
Enter an integer: 22
Enter an integer: 33
Enter an integer: 44
Enter an integer: 55
(11, 22, 33, 44, 55)
Maximum value:  55
Minimum value:  11

In [ ]:
#28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
#two sets.
set1={11,22,33,44,55,66}
set2={44,55,66,77,88,99}
print("The union of the two sets are: ",(set1|set2))
print("The intesection of the two sets are: ",(set1&set2))
print("The difference of the two sets are: ",(set1-set2))

The union of the two sets are:  {33, 66, 99, 11, 44, 77, 22, 55, 88}
The intesection of the two sets are:  {66, 44, 55}
The difference of the two sets are:  {33, 11, 22}

In [ ]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of
#occurrences of the given element in the tuple.

tup=input("Enter a tuple of elements separated by comma: ")
item=input("Enter an element: ")
tup=tup.split(',')
tup=tuple(tup)
count=0
for i in tup:
  if item==i: count=count+1
print(f"{item} is present {count} times in the given tuple")

Enter a tuple of elements separated by comma: 11,22,33,44,22,55,66,22,22,77,22
Enter an element: 22
22 is present 5 times in the given tuple

In [ ]:
#30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
#these two sets.

set1=input("Enter a set of strings separated by commas: ")
set2=input("Enter a second set of strings separated by commas: ")
set1=set1.split(',')
set2=set2.split(',')
set1=set(set1)
set2=set(set2)
print("The symmetric difference of the two given sets is: ", (set1^set2))

Enter a set of strings separated by commas: Apple,Mango,Banana,Carrot,Cabbage
Enter a second set of strings separated by commas: Tomato,Potato,Onion,Carrot,Cabbage
The symmetric difference of the two given sets is:  {'Tomato', 'Potato', 'Onion', 'Banana', 'Mango', 'Apple'}

In [ ]:
#31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list

lis= input("Enter elements of a list separated by comma: ")
lis=lis.split(',')
dict={}
count=0
for i in lis:
  for j in lis:
    if (i==j): count=count+1
  dict[i]=count
  count=0
print(dict)

Enter elements of a list separated by comma: apple,mango,mango,apple,apple,banana,apple
{'apple': 4, 'mango': 2, 'banana': 1}

In [ ]:
#32.  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
#common keys, the values should be added together
dict1={}
dict2={}
len1=int(input("Enter the length of the first dictionary: "))
for i in range(0,len1):
  key=input("Enter key: ")
  value=int(input("Enter value: "))
  dict1[key]=value
print("The first dictionary is: ",dict1)
len2=int(input("Enter the length of the second dictionary: "))
for i in range(0,len2):
  key=input("Enter key: ")
  value=int(input("Enter value: "))
  dict2[key]=value
print("The second dictionary is: ",dict2)
dict3={}
x=0
key1=dict1.keys()
key2=dict2.keys()
for i in key1:
  if i in key2: dict2[i]=dict1[i]+dict2[i]
dict3=dict1|dict2
print("The merged dictionary is: ", dict3)

Enter the length of the first dictionary: 4
Enter key: A
Enter value: 3
Enter key: B
Enter value: 4
Enter key: C
Enter value: 5
Enter key: D
Enter value: 6
The first dictionary is:  {'A': 3, 'B': 4, 'C': 5, 'D': 6}
Enter the length of the second dictionary: 3
Enter key: E
Enter value: 7
Enter key: A
Enter value: 6
Enter key: B
Enter value: 2
The second dictionary is:  {'E': 7, 'A': 6, 'B': 2}
The merged dictionary is:  {'A': 9, 'B': 6, 'C': 5, 'D': 6, 'E': 7}

In [23]:
#33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
#keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
#function should return None
def access_value(dic,lis):
  d={}
  for i in lis:
    if i in dic:d[i]=dic[i]
    else: d[i]:None
  return d
employee_records = {
    'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}
}
lis=['E003','E001']
access_value(employee_records,lis)

{'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000},
 'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}}

In [51]:
#34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#can choose whether to sort in ascending or descending order

dic={}
length=int(input("Enter the length of the  dictionary: "))
for i in range(0,length):   #The values of the dictionary are in integer form to be sorted
  key=input("Enter key: ")
  value=int(input("Enter value: "))
  dic[key]=value
print("The dictionary is: ",dic)
d={}
for i in dic:  #reversing the keys and values of 'dic' and forming a new dictionary 'd'
  key=dic[i]
  value=i
  d[key]=value #sorting the values of 'd'; which is now the keys of 'd'
d1=sorted(d)
new={}
for i in d1: #final result in dictionary 'new'
  key=d[i]
  value=i
  new[key]=value
print(new)
print("The sorted dictionary according to values: ",new)

Enter the length of the  dictionary: 5
Enter key: A
Enter value: 25
Enter key: B
Enter value: 12
Enter key: C
Enter value: 45
Enter key: D
Enter value: 34
Enter key: E
Enter value: 65
The dictionary is:  {'A': 25, 'B': 12, 'C': 45, 'D': 34, 'E': 65}
{'B': 12, 'A': 25, 'D': 34, 'C': 45, 'E': 65}
The sorted dictionary according to values:  {'B': 12, 'A': 25, 'D': 34, 'C': 45, 'E': 65}

In [34]:
#35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#inverted dictionary


dic={'A':25,'B':12,'C':45,'D':34,'E':65,'F':34,'G':12,'H':12,'I':45}
d={}
l_key=[]
l=[]
for i in dic:
  key=dic[i]
  value=i
  if key in l_key:
    l=[]
    for j in dic:
      if dic[i]==dic[j]:
        l.append(j)
    d[key]=l
  else:
    d[key]=value
  l_key.append(dic[i])
print(d)

{25: 'A', 12: ['B', 'G', 'H'], 45: ['C', 'I'], 34: ['D', 'F'], 65: 'E'}