In [1]:
import os, sys
import time
import requests
import pandas as pd

In [2]:
url= "https://www.linkedin.com/jobs/search/?currentJobId=3563269974&geoId=92000000&keywords=data%20scientist&location=Worldwide&refresh=true"
user_agent = {'User-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36'}
source = requests.get(url, headers=user_agent)
print(source.status_code)

200

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
page_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Scientist&location=India&geoId=102713980&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
driver = webdriver.Chrome()
driver.get(page_url)

In [5]:
time.sleep(2)  # Allow 2 seconds for the web page to open
scroll_pause_time = 3 # You can set your own pause time. My laptop is a bit slow so I use 1 sec
screen_height = driver.execute_script("return window.screen.height;")   # get the screen height of the web
i = 1

In [24]:
while True:
    # scroll one screen height each time
    driver.execute_script("window.scrollTo(0, {screen_height}*{i});".format(screen_height=screen_height, i=i))  
    i += 1
    time.sleep(scroll_pause_time)
    # update scroll height each time after scrolled, as the scroll height can change after we scrolled the page
    scroll_height = driver.execute_script("return document.body.scrollHeight;")
    button = driver.find_elements(By.XPATH, '//button')
    #driver.execute_script("arguments[0].click();", button[28])
    j=0
    for j in range(len(button)):
        if button[j].text=="See more jobs":
            button[j].click()
            time.sleep(10)
    # Break the loop when the height we need to scroll to is larger than the total scroll height
    if (screen_height) * i > scroll_height:
        break

In [25]:
title = driver.find_elements(By.CLASS_NAME, 'base-search-card__title')
company=driver.find_elements(By.CLASS_NAME, 'base-search-card__subtitle')
location=driver.find_elements(By.CLASS_NAME, 'job-search-card__location')

In [26]:
len(company)

999

In [31]:
title_list=[]
company_list=[]
location_list=[]
for i in range(999):
    title_list.append(title[i].text)
    company_list.append(company[i].text)
    location_list.append(location[i].text)

In [34]:
title_list[0]

'Data Scientist - L2'

In [32]:
df_final=pd.DataFrame()
d={'job title': title_list, 'company': company_list, 'location': location_list}
df=pd.DataFrame(d)
df_final=df_final.append(df)
df_final.reset_index(inplace = True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_90892\247677630.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final=df_final.append(df)

In [35]:
df_final.head()

,index,job title,company,location
0,0,Data Scientist - L2,Zeta,"Bengaluru, Karnataka, India"
1,1,Data Science work from home job/internship at ...,WN Infotech,India
2,2,Stanowisko ds. konta ubezpieczonego 44/2023/UB...,ZUS,"West Bunghmun, Mizoram, India"
3,3,Data Scientist,GeoIQ,"Bengaluru, Karnataka, India"
4,4,Data Science work from home job/internship at ...,Blackcoffer,India

In [36]:
df_final.drop(['index'], axis=1, inplace=True)

In [37]:
df_final.head()

,job title,company,location
0,Data Scientist - L2,Zeta,"Bengaluru, Karnataka, India"
1,Data Science work from home job/internship at ...,WN Infotech,India
2,Stanowisko ds. konta ubezpieczonego 44/2023/UB...,ZUS,"West Bunghmun, Mizoram, India"
3,Data Scientist,GeoIQ,"Bengaluru, Karnataka, India"
4,Data Science work from home job/internship at ...,Blackcoffer,India

In [39]:
df_final.shape

(999, 3)

In [40]:
df_final.isnull().sum()

job title    0
company      0
location     0
dtype: int64

In [42]:
df_final.to_csv('DataScience jobs in India.csv')