In [50]:
import pandas as pd
import plotly.express as px
from dash import dcc, html
from dash import Dash
from jupyter_dash import JupyterDash

In [52]:
df = pd.read_csv("../data/2022_rankings_cleaned.csv")
df.head()

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,Year
0,10,1,University of Oxford,95.7,10,91.0,5,99.6,1,98.0,...,United Kingdom,"20,835",10.7,42%,47:53:00,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False,2022
1,20,2,California Institute of Technology,95.0,20,93.6,2,96.9,4,97.8,...,United States,"2,233",6.3,34%,36 : 64,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False,2022
2,30,2,Harvard University,95.0,30,94.5,1,98.9,3,99.2,...,United States,"21,574",9.5,24%,50:50:00,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False,2022
3,40,4,Stanford University,94.9,40,92.3,3,96.8,5,99.9,...,United States,"16,319",7.3,23%,46:54:00,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False,2022
4,50,5,University of Cambridge,94.6,50,90.9,6,99.5,2,96.2,...,United Kingdom,"19,680",11.1,39%,47:53:00,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False,2022

In [61]:
app = Dash(__name__)

# Create scatter plot for Citations vs. World Rank
fig_scatter = px.scatter(df, x='rank', y='scores_citations', color='location',
                        title='Citations vs. World Rank by Location')

# Create histogram for Distribution of World Rankings
fig_histogram = px.histogram(df, x='rank', nbins=50, title='Distribution of World Rankings',
                             labels={'rank': 'World Rank'})

# Define layout of the app
app.layout = html.Div(children=[
    html.H1(children='University Rankings Dashboard'),

    html.Div(children='''
        A simple dashboard visualizing university rankings data.
    '''),

    dcc.Graph(
        id='citations-vs-rank',
        figure=fig_scatter
    ),

    dcc.Graph(
        id='distribution-of-world-rank',
        figure=fig_histogram
    )
])

# Run the app
if __name__ == '__main__':
    app.run_server(mode='inline', debug=True)