# Q1. Create one variable containing following type of data:

In [ ]:
#(i) string
name = 'bhargav'

In [7]:
#(ii) list
courses = ['data science' , 'full stack' , 'data analytics' , 'C++']

In [4]:
#(iii) float
pi = 3.14

In [5]:
#(iv) tuple
point = (200,250)

# Q2. Given are some following variables containing data:

## (i) var1 = ‘ ‘
The type will be string

## (ii) var2 = ‘[ DS , ML , Python]’
The type will be string

## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
The type will be list

## (iv) var4 = 1.
The type will be float

# Q3. Explain the use of the following operators using an example:
(i) / - This is a floating point division operator , a/b gives the quotient when a is divided by b including decimal values

In [8]:
#Example:
3/2

1.5

(ii) % - This is the modulus operator , a%b gives the remainder when a is divided by b

In [9]:
#Example:
5%3

2

(iii) // - This is the integer division operator , a//b gives the quotient when a is divided by b but ignores decimal values

In [13]:
#Example:
2**3

8

(iv) ** - This is the exponent operator , a**b gives the value of a raised to the power of b

In [13]:
#Example:
2**3

8

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [14]:
a = [1,'abc',2,3.5,1+3j,True,(9,0),{1,2},{1:2,2:3},[12,13,14]]
len(a)

10

In [18]:
for i in a:
    print(i,type(i))

1 <class 'int'>
abc <class 'str'>
2 <class 'int'>
3.5 <class 'float'>
(1+3j) <class 'complex'>
True <class 'bool'>
(9, 0) <class 'tuple'>
{1, 2} <class 'set'>
{1: 2, 2: 3} <class 'dict'>
[12, 13, 14] <class 'list'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [23]:
a=int(input('Enter a'))
b=int(input('Enter b'))
times = 0
v=a
while a>0:
    if a%b==0:
        a=a//b
        times+=1
    else:
        break
        
if times>0:
    print(v,'is divisible by',b,times,'times')
else:
    print(v,'is not divisible by',b)

Enter a 625
Enter b 5

625 is divisible by 5 4 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [24]:
a = [31,76,62,23,28,68,50,17,38,66,37,55,77,40,56,29,96,58,4,20,32,100,73,72,89]
print('The list has',len(a),'numbers')
for i in a:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

The list has 25 numbers
31 is not divisible by 3
76 is not divisible by 3
62 is not divisible by 3
23 is not divisible by 3
28 is not divisible by 3
68 is not divisible by 3
50 is not divisible by 3
17 is not divisible by 3
38 is not divisible by 3
66 is divisible by 3
37 is not divisible by 3
55 is not divisible by 3
77 is not divisible by 3
40 is not divisible by 3
56 is not divisible by 3
29 is not divisible by 3
96 is divisible by 3
58 is not divisible by 3
4 is not divisible by 3
20 is not divisible by 3
32 is not divisible by 3
100 is not divisible by 3
73 is not divisible by 3
72 is divisible by 3
89 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types means their values can be modified at anytime. For example , list are mutable.
Immutable data types means their values cannot be modified in place once assigned. They can be e For example, strings and tuples are immutable.

In [25]:
#Example For Mutable
a=[1,2,3,4]
print(a)
a[0]=5
print(a)

[1, 2, 3, 4]
[5, 2, 3, 4]

In [26]:
#Example For Immutable
a=(1,2,3,4)
print(a)
a[0]=5

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment