# Pre-lecture HW

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

2

observation
- represented by a row, usually contains data for a specific case. In this dataset it represents a villager
variable
- represented by a column, usually would be the characteristic/feature of the obeservation. In this data it represents the characteristic of the villager

In [3]:
df.head()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB

In [5]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [2]:
df.shape

(391, 11)

4

non numeric variables
- df.shape count all columns
- df.describe() will skip the non-numeric columns, it only naalyzed numeric data

missing values in numeric variables
- df.shape count all columns
- df.describe() still include missing values in the output, but the count of non-null values may be less

5

attribute 
- stores data that describes an object, we access attribute to retrieving data
method 
- can be called to performed, it triggers action or computation

ChatBot Summary

https://chatgpt.com/c/66e229aa-44d8-8005-976f-375a9933bc65
    
Here's a summary of this session:

Dataset Dimensions: We discussed how to determine the size of a dataset (number of rows and columns) using the .shape attribute in Python. You were shown how to load the dataset and use pandas to get the dimensions.

Basic Dataset Summarization: I provided a simple way to summarize a dataset using pandas functions like .head(), .info(), and .describe(). These methods help you get an overview of the data structure, column types, and statistical summaries of numerical columns.

Difference Between Attributes and Methods: We clarified the difference between attributes (like .shape, which doesn't require parentheses) and methods (like .describe(), which requires parentheses). Attributes store data, while methods perform actions.

Definitions of Observations and Variables: We defined observations as rows (individual records like a villager) and variables as columns (features like species, personality, etc.).

Discrepancies Between .shape and .describe():

Non-numeric variables: By default, df.describe() only analyzes numeric columns, so fewer columns may appear in its summary compared to what .shape reports.
Missing values: When numeric variables have missing data, the "count" in df.describe() reflects only the non-null values, leading to a lower count than the total number of rows in df.shape.
Let me know if you'd like to dive deeper into any of these topics!

# Post-lecture HW

6

df.describe()
- count:number of non-null values in the variable
- mean: average of the values in the variable
- std: stands for standard deviation, a measure of the amount of variance presents in values
- min: the smallest value in the variable
- 25%: first quatile, the value below 25% of the data falls
- 50%: second quatile/median, the middle value of the variable
- 75%: thrid quatile, the value below 75% of the data falls
- max: the biggest value in the variable

7

1. df.dropna() OVER del df['col']
   If there is only a few columns are missing data, and the missing values are distributed across multiple columns. Use df.dropna(), since it could remove rows with missing data.
2. del df['col'] OVER dr.dropna()
   If there are lots of missing of value and its not critical to the analysis, it's better to delete than drop rows. For example, in a dataset of analyzing students' homework complete rates and grades. If there are lots of missing data for "Middle Name", then it could be using del df['col'], since it's not mandatory for the analyzing. 
3. Applying del df[''] BEFORE dr.dropna()
    Removing unnecessary columns first can reduce the work and streamline the process, make the subsequent application of df.dropna() more efficient by focusing only on relevant columns.

In [5]:
del df['name']
del df ['phrase']
df.columns

KeyError: 'name'

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

8

1. It groups unique values in the column 'col1' and then selects 'col2' for analysis

In [11]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [15]:
df.groupby("sex")["alone"].describe()

       count unique    top freq
sex
female   314      2  False  188
male     577      2   True  411

In this example, the Titanic dataset is grouped by "sex", and the .describe() applies to "alive" column. It will display the data of "count", "unique", "top", "freq" using "sex" as row.

2. The count for df.describe() shows how many non-missing values exist in that columns, and the count for df.groupby("col1")["col2"]..describe() is the number of non-missing values in col2 within each group of col1. And by using .groupby with .describe(), it is capturing the distribution and completeness of data within each group.


3. It's easier to (a) work in a ChatBot session to fix the errors (and since I learned some coding before, it's also easier to fix it by myself.)
Error presents: F - Use a column name that's not in your data for the groupby and column selection

9

YES

ChatBot Summary
 
 
https://chatgpt.com/c/66e23d53-990c-8005-9876-e8603df15a61

In this session, we discussed:

KeyError in del df['col']: You encountered a KeyError when trying to delete a column, which happens when the column does not exist in the DataFrame. Solutions included checking column names with df.columns, verifying column existence with 'col' in df.columns, and using df.drop() with errors='ignore' to avoid errors.

Use Cases for df.dropna() vs. del df['col']:

df.dropna(): Preferred when you want to remove rows with missing data while keeping useful columns.
del df['col']: Preferred when a specific column has many missing values and is not crucial for the analysis.
The importance of applying del df['col'] before df.dropna() was discussed to ensure efficient data cleaning.
Groupby and describe(): We explored how df.groupby("col1")["col2"].describe() works, providing summary statistics for col2 grouped by col1. We also compared the difference in the count value between df.describe() (which gives a total count of non-null values per column) and groupby(...).describe() (which gives counts per group).

Overall, the session focused on handling missing data and understanding summary statistics in grouped and ungrouped contexts.