In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely import geometry as geom
import plotly.plotly as py

#added this because it's indicated as useful but not imported
import urllib
from zipfile import ZipFile
from io import BytesIO
import os
import json
from bs4 import BeautifulSoup as bs
import re

from matplotlib import animation, rc
from IPython.display import display, HTML

In [2]:
QN_Trip11 = pd.read_csv('data/QN_Trips11.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip11.reset_index(drop=True, inplace=True)

QN_Trip12 = pd.read_csv('data/QN_Trips12.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip12.reset_index(drop=True, inplace=True)

QN_Trip13 = pd.read_csv('data/QN_Trips13.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip13.reset_index(drop=True, inplace=True)


QN_Trip14 = pd.read_csv('data/QN_Trips14.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip14.reset_index(drop=True, inplace=True)

QN_trips = [QN_Trip11,QN_Trip12,QN_Trip13,QN_Trip14]
Trips = pd.concat(QN_trips)

In [3]:
Trips.head()

   trips    ZIP  year
0    167  11372  2011
1      7  11004  2011
2      0  11040  2011
3      8  11426  2011
4     20  11365  2011

In [4]:
Trips.to_csv('data/QN_Trips.csv')

In [5]:
#income_df = pd.read_csv('data/incomeDF.csv',index_col=0, keep_default_na=False, na_values=[""])

In [6]:
def test_function(df,year):
    if year == 2014:
        df[df.year] = 2014 
    elif year == 2013:
        df[df.year] = 2013
    elif year == 2012:
        df[df.year] = 2012
    elif year == 2011:
        df[df.year] = 2011
    else:
        return
    return df

In [7]:
QN_Merged = pd.read_csv('data/QN_merged.csv',index_col=0, keep_default_na=False, na_values=[""])

In [8]:
QN_Merged.head()

,total,0,10,15,20,25,30,35,40,45,...,200,ZIP,year,State,CountyName,rent0,rent1,rent2,rent3,rent4
0,9059,244,161,156,331,232,177,397,230,247,...,1062,11001,2011,36,Queens County,1300,1390,1570,1950,2150
1,5131,149,221,163,130,252,271,165,109,199,...,244,11004,2011,36,Queens County,1130,1200,1360,1690,1870
2,1356,22,42,85,76,74,54,34,68,39,...,141,11005,2011,36,Queens County,1180,1260,1420,1760,1950
3,13438,230,313,281,509,499,219,455,380,344,...,1701,11040,2011,36,Queens County,1440,1530,1730,2140,2370
4,9910,1306,732,481,740,601,513,392,431,382,...,303,11101,2011,36,Queens County,1120,1190,1350,1670,1850

In [9]:
QN_Trips_Rent_Income = pd.merge(Trips,QN_Merged,how = "inner", on =['ZIP', 'year'])

In [10]:
QN_Trips_Rent_Income.head()

,trips,ZIP,year,total,0,10,15,20,25,30,...,125,150,200,State,CountyName,rent0,rent1,rent2,rent3,rent4
0,167,11372,2011,24068,2016,958,1437,1243,1467,1746,...,874,655,600,36,Queens County,1100,1180,1330,1650,1820
1,7,11004,2011,5131,149,221,163,130,252,271,...,614,476,244,36,Queens County,1130,1200,1360,1690,1870
2,0,11040,2011,13438,230,313,281,509,499,219,...,1426,1822,1701,36,Queens County,1440,1530,1730,2140,2370
3,8,11426,2011,6018,163,89,181,141,225,181,...,485,557,383,36,Queens County,1180,1260,1420,1760,1950
4,20,11365,2011,15106,972,713,712,886,665,812,...,786,876,561,36,Queens County,1210,1290,1460,1810,2000

In [11]:
QN_Trips_Rent_Income.to_csv('data/QN_final.csv')

In [14]:
len(QN_Trips_Rent_Income)

264