# Lecture 8 â€“ Table Fundamentals

## Data 6, Fall 2024

In [1]:
from datascience import *
import numpy as np

In [2]:
# Warm Up

In [7]:
schools = Table.read_table('data/cal_unis.csv')
type(schools)

datascience.tables.Table

In [4]:
schools.num_rows

32

In [15]:
schools.column("Name")

array(['University of California, Berkeley',
       'University of California, Davis',
       'University of California, Irvine',
       'University of California, Los Angeles',
       'University of California, Merced',
       'University of California, Riverside',
       'University of California, San Diego',
       'University of California, Santa Barbara',
       'University of California, Santa Cruz',
       'California State University Maritime Academy',
       'California Polytechnic State University',
       'California State Polytechnic University, Pomona',
       'California State University, Bakersfield',
       'California State University Channel Islands',
       'California State University, Chico',
       'California State University, Dominguez Hills',
       'California State University, East Bay',
       'California State University, Fresno',
       'California State University, Fullerton',
       'California State University, Long Beach',
       'California State University, Los Angeles',
       'California State University, Monterey Bay',
       'California State University, Northridge',
       'California State University, Sacramento',
       'California State University, San Bernardino',
       'California State University San Marcos',
       'California State University, Stanislaus',
       'Humboldt State University', 'San Diego State University',
       'San Francisco State University', 'San Jose State University',
       'Sonoma State University'],
      dtype='<U47')

## Quick check 1

In [5]:
ncols = schools.num_columns
ncols

6

In [8]:
arr = schools.column("Name")
type(arr)

numpy.ndarray

## Quick check 2

In [15]:
schools

Name                                         | Institution | City          | County        | Enrollment | Founded
University of California, Berkeley           | UC          | Berkeley      | Alameda       | 42,519     | 1869
University of California, Davis              | UC          | Davis         | Yolo          | 39,152     | 1905
University of California, Irvine             | UC          | Irvine        | Orange        | 35,220     | 1965
University of California, Los Angeles        | UC          | Los Angeles   | Los Angeles   | 45,428     | 1882
University of California, Merced             | UC          | Merced        | Merced        | 8,544      | 2005
University of California, Riverside          | UC          | Riverside     | Riverside     | 23,278     | 1954
University of California, San Diego          | UC          | San Diego     | San Diego     | 38,798     | 1960
University of California, Santa Barbara      | UC          | Santa Barbara | Santa Barbara | 24,346     | 1891
University of California, Santa Cruz         | UC          | Santa Cruz    | Santa Cruz    | 19,700     | 1965
California State University Maritime Academy | CSU         | Vallejo       | Solano        | 1,017      | 1929
... (22 rows omitted)

In [11]:
schools.take(1, 3, 5)

Name                                  | Institution | City        | County      | Enrollment | Founded
University of California, Davis       | UC          | Davis       | Yolo        | 39,152     | 1905
University of California, Los Angeles | UC          | Los Angeles | Los Angeles | 45,428     | 1882
University of California, Riverside   | UC          | Riverside   | Riverside   | 23,278     | 1954

In [23]:
from datascience import *
coffee_menu = Table()
coffee_menu = coffee_menu.with_columns("Coffee Drink", make_array("Espresso", "Cappuccino", "Iced Latte", "Mocha", "Cold Brew", "Caramel Macchiato"),
                         "Type", make_array("Hot", "Hot", "Cold", "Hot", "Cold", "Hot"),
                         "Price (USD)", make_array(3.00, 4.50, 5.00, 4.75, 4.25, 5.50),
                         "Sales (Units)", make_array(120, 150, 200, 130, 180, 160))

In [19]:
coffee_menu.select(2)

Price (USD)
3
4.5
5
4.75
4.25
5.5

In [26]:
import numpy as np
coffee_menu.take("Coffee Drink", "Type")

TypeError: Cannot cast array data from dtype('<U12') to dtype('int64') according to the rule 'safe'

In [32]:
schools

Name                                            | Institution | City            | County          | Enrollment | Founded
California Polytechnic State University         | CSU         | San Luis Obispo | San Luis Obispo | 21,812     | 1901
California State Polytechnic University, Pomona | CSU         | Pomona          | Los Angeles     | 26,443     | 1938
California State University Channel Islands     | CSU         | Camarillo       | Ventura         | 7,095      | 2002
California State University Maritime Academy    | CSU         | Vallejo         | Solano          | 1,017      | 1929
California State University San Marcos          | CSU         | San Marcos      | San Diego       | 14,511     | 1988
California State University, Bakersfield        | CSU         | Bakersfield     | Kern            | 10,493     | 1965
California State University, Chico              | CSU         | Chico           | Butte           | 17,488     | 1887
California State University, Dominguez Hills    | CSU         | Carson          | Los Angeles     | 15,741     | 1960
California State University, East Bay           | CSU         | Hayward         | Alameda         | 14,525     | 1959
California State University, Fresno             | CSU         | Fresno          | Fresno          | 24,995     | 1911
... (22 rows omitted)

# Column-first approach

## Demo 1 - What is happening?

In [24]:
reverse_sorted_schools

Name                                    | Institution | City          | County        | Enrollment | Founded
University of California, Santa Cruz    | UC          | Santa Cruz    | Santa Cruz    | 19,700     | 1965
University of California, Santa Barbara | UC          | Santa Barbara | Santa Barbara | 24,346     | 1891
University of California, San Diego     | UC          | San Diego     | San Diego     | 38,798     | 1960
University of California, Riverside     | UC          | Riverside     | Riverside     | 23,278     | 1954
University of California, Merced        | UC          | Merced        | Merced        | 8,544      | 2005
University of California, Los Angeles   | UC          | Los Angeles   | Los Angeles   | 45,428     | 1882
University of California, Irvine        | UC          | Irvine        | Orange        | 35,220     | 1965
University of California, Davis         | UC          | Davis         | Yolo          | 39,152     | 1905
University of California, Berkeley      | UC          | Berkeley      | Alameda       | 42,519     | 1869
Sonoma State University                 | CSU         | Rohnert Park  | Sonoma        | 9,201      | 1960
... (22 rows omitted)

In [33]:
schools.select('Name', 'Enrollment')

Name                                            | Enrollment
California Polytechnic State University         | 21,812
California State Polytechnic University, Pomona | 26,443
California State University Channel Islands     | 7,095
California State University Maritime Academy    | 1,017
California State University San Marcos          | 14,511
California State University, Bakersfield        | 10,493
California State University, Chico              | 17,488
California State University, Dominguez Hills    | 15,741
California State University, East Bay           | 14,525
California State University, Fresno             | 24,995
... (22 rows omitted)

In [34]:
smaller_table = schools.drop('Founded', 'County')
smaller_table

Name                                            | Institution | City            | Enrollment
California Polytechnic State University         | CSU         | San Luis Obispo | 21,812
California State Polytechnic University, Pomona | CSU         | Pomona          | 26,443
California State University Channel Islands     | CSU         | Camarillo       | 7,095
California State University Maritime Academy    | CSU         | Vallejo         | 1,017
California State University San Marcos          | CSU         | San Marcos      | 14,511
California State University, Bakersfield        | CSU         | Bakersfield     | 10,493
California State University, Chico              | CSU         | Chico           | 17,488
California State University, Dominguez Hills    | CSU         | Carson          | 15,741
California State University, East Bay           | CSU         | Hayward         | 14,525
California State University, Fresno             | CSU         | Fresno          | 24,995
... (22 rows omitted)

In [35]:
schools

Name                                            | Institution | City            | County          | Enrollment | Founded
California Polytechnic State University         | CSU         | San Luis Obispo | San Luis Obispo | 21,812     | 1901
California State Polytechnic University, Pomona | CSU         | Pomona          | Los Angeles     | 26,443     | 1938
California State University Channel Islands     | CSU         | Camarillo       | Ventura         | 7,095      | 2002
California State University Maritime Academy    | CSU         | Vallejo         | Solano          | 1,017      | 1929
California State University San Marcos          | CSU         | San Marcos      | San Diego       | 14,511     | 1988
California State University, Bakersfield        | CSU         | Bakersfield     | Kern            | 10,493     | 1965
California State University, Chico              | CSU         | Chico           | Butte           | 17,488     | 1887
California State University, Dominguez Hills    | CSU         | Carson          | Los Angeles     | 15,741     | 1960
California State University, East Bay           | CSU         | Hayward         | Alameda         | 14,525     | 1959
California State University, Fresno             | CSU         | Fresno          | Fresno          | 24,995     | 1911
... (22 rows omitted)

What is happening?

<br/><br/><br/>

Each table method returns a new table, so our original table `schools` is unchanged.

Contrast this with the below cell, which permanently changes `schools` (why?):

In [38]:
schools = schools.drop("Institution", "City").select("City", "Enrollment")
schools

ValueError: The column "City" is not in the table. The table contains these columns: Name, Enrollment

## Demo 2: `with_columns`

Reset by reloading in the table from our data file:

In [39]:
schools = Table.read_table('data/cal_unis.csv')
schools

Name                                         | Institution | City          | County        | Enrollment | Founded
University of California, Berkeley           | UC          | Berkeley      | Alameda       | 42,519     | 1869
University of California, Davis              | UC          | Davis         | Yolo          | 39,152     | 1905
University of California, Irvine             | UC          | Irvine        | Orange        | 35,220     | 1965
University of California, Los Angeles        | UC          | Los Angeles   | Los Angeles   | 45,428     | 1882
University of California, Merced             | UC          | Merced        | Merced        | 8,544      | 2005
University of California, Riverside          | UC          | Riverside     | Riverside     | 23,278     | 1954
University of California, San Diego          | UC          | San Diego     | San Diego     | 38,798     | 1960
University of California, Santa Barbara      | UC          | Santa Barbara | Santa Barbara | 24,346     | 1891
University of California, Santa Cruz         | UC          | Santa Cruz    | Santa Cruz    | 19,700     | 1965
California State University Maritime Academy | CSU         | Vallejo       | Solano        | 1,017      | 1929
... (22 rows omitted)

In [53]:
# A subset of schools just for illustration purposes
some_schools = schools.take(np.arange(5))
some_schools

Name                                  | Institution | City        | County      | Enrollment | Founded
University of California, Berkeley    | UC          | Berkeley    | Alameda     | 42,519     | 1869
University of California, Davis       | UC          | Davis       | Yolo        | 39,152     | 1905
University of California, Irvine      | UC          | Irvine      | Orange      | 35,220     | 1965
University of California, Los Angeles | UC          | Los Angeles | Los Angeles | 45,428     | 1882
University of California, Merced      | UC          | Merced      | Merced      | 8,544      | 2005

Suppose we wanted to add a column "Short name" which gives the shortened name of each institution (often used for University Athletics):
* University of California, Berkeley: Cal
* University of California, Davis: Davis
* University of California, Irvine: UCI
* University of California, Los Angeles: UCLA
* University of California, Merced: UCM

In [55]:
some_schools = some_schools.with_column("Short name", make_array("Cal", "Davis", "UCI", "UCLA", "UCM"))

AttributeError: 'str' object has no attribute 'with_column'

Suppose we wanted to add a column "Years since founded" (which is self-explanatory).

How do we use **array functions** to do so?

In [54]:
some_schools = "Isabella"
some_schools

'Isabella'

What if we wanted to update this column in 2025?

In [36]:
some_schools = ...
some_schools

Ellipsis

### (Hide with arrow) Notes

In [44]:
some_schools = schools.take(np.arange(5))

In [48]:
some_schools = some_schools.with_columns(
    "Short name", np.array(["Cal", "UCD", "UCI", "UCLA", "UCM"])
)
some_schools

Name                                  | Institution | City        | County      | Enrollment | Founded | Short name
University of California, Berkeley    | UC          | Berkeley    | Alameda     | 42,519     | 1869    | Cal
University of California, Davis       | UC          | Davis       | Yolo        | 39,152     | 1905    | UCD
University of California, Irvine      | UC          | Irvine      | Orange      | 35,220     | 1965    | UCI
University of California, Los Angeles | UC          | Los Angeles | Los Angeles | 45,428     | 1882    | UCLA
University of California, Merced      | UC          | Merced      | Merced      | 8,544      | 2005    | UCM

In [39]:
some_schools = some_schools.with_columns(
    "Years since founded",
    2024 - some_schools.column("Founded")
)
some_schools

Name                                  | Institution | City        | County      | Enrollment | Founded | Short name | Years since founded
University of California, Berkeley    | UC          | Berkeley    | Alameda     | 42,519     | 1869    | Cal        | 155
University of California, Davis       | UC          | Davis       | Yolo        | 39,152     | 1905    | UCD        | 119
University of California, Irvine      | UC          | Irvine      | Orange      | 35,220     | 1965    | UCI        | 59
University of California, Los Angeles | UC          | Los Angeles | Los Angeles | 45,428     | 1882    | UCLA       | 142
University of California, Merced      | UC          | Merced      | Merced      | 8,544      | 2005    | UCM        | 19

In [40]:
some_schools = some_schools.with_columns(
    "Years since founded",
    2025 - some_schools.column("Founded")
)
some_schools

Name                                  | Institution | City        | County      | Enrollment | Founded | Short name | Years since founded
University of California, Berkeley    | UC          | Berkeley    | Alameda     | 42,519     | 1869    | Cal        | 156
University of California, Davis       | UC          | Davis       | Yolo        | 39,152     | 1905    | UCD        | 120
University of California, Irvine      | UC          | Irvine      | Orange      | 35,220     | 1965    | UCI        | 60
University of California, Los Angeles | UC          | Los Angeles | Los Angeles | 45,428     | 1882    | UCLA       | 143
University of California, Merced      | UC          | Merced      | Merced      | 8,544      | 2005    | UCM        | 20

## Reorder Columns

In [41]:
some_schools.select("Name", "Short name", "Founded",
                    "Years since founded", "Institution", "City",
                    "County", "Enrollment")

Name                                  | Short name | Founded | Years since founded | Institution | City        | County      | Enrollment
University of California, Berkeley    | Cal        | 1869    | 156                 | UC          | Berkeley    | Alameda     | 42,519
University of California, Davis       | UCD        | 1905    | 120                 | UC          | Davis       | Yolo        | 39,152
University of California, Irvine      | UCI        | 1965    | 60                  | UC          | Irvine      | Orange      | 35,220
University of California, Los Angeles | UCLA       | 1882    | 143                 | UC          | Los Angeles | Los Angeles | 45,428
University of California, Merced      | UCM        | 2005    | 20                  | UC          | Merced      | Merced      | 8,544

# Create new tables

In [42]:
states = Table().with_columns('State',
    np.array(['California', 'New York', 'Florida', 'Texas', 'Pennsylvania']),
    'Code', np.array(['CA', 'NY', 'FL', 'TX', 'PA']), 'Population', np.array([39.3, 19.3, 21.7, 29.3, 12.8])
)

In [43]:
states

State        | Code | Population
California   | CA   | 39.3
New York     | NY   | 19.3
Florida      | FL   | 21.7
Texas        | TX   | 29.3
Pennsylvania | PA   | 12.8

# More Table Methods, More Documentation

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools

## Reading documentation, Part 1

1. How do we get all the column labels of `schools`?
1. How do we **update** `schools` such that the column Name is renamed University?

In [ ]:
... # 1

In [ ]:
... # 2

## Reading documentation, Part 2 (Exact match filters with `.where`)

1. How do we get all the column labels of `schools`?
1. How do we **update** `schools` such that the column Name is renamed University?

In [ ]:
schools.where("Institution", "UC")

In [ ]:
schools.where("City", "Los Angeles")

## Reading documentation, Part 2 (Be careful with `.show`)

The following cells exhibit a tricky, but potentially common bug.

Run the three cells in sequence. Why does the last cell throw an error? What is the error referring to?

**Hint**: Read the documentation of `tbl.show(n)`.

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools

In [ ]:
schools = schools.show(3)

In [ ]:
schools = schools.show(4)

### Why `.show` can be useful

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools.show(3) # just the first three rows
schools = schools.relabeled("Name", "University")
schools.show(3) # and again
schools = schools.with_columns("Name", "City")
schools         # the last evaluated value in a cell
                # is displayed by default

In [ ]:
schools.show()

# Example: WNBA data

In [ ]:
wnba = Table.read_table('data/wnba-2020.csv')

In [ ]:
wnba

In [ ]:
wnba.num_rows, wnba.num_columns

In [ ]:
wnba_pts = wnba.select('Player', 'Tm', 'Pos', 'G', 'PTS')

In [ ]:
wnba_pts

In [ ]:
# Computes number of points scored per game
wnba_pts.column('PTS') / wnba_pts.column('G')

In [ ]:
wnba_pts = wnba_pts.with_columns(
    'PPG', wnba_pts.column('PTS') / wnba_pts.column('G')
)

In [ ]:
wnba_pts

# Even More Practice

In [ ]:
schools = Table.read_table('data/cal_unis.csv')

In [ ]:
schools = schools.sort("City")
schools = schools.take(np.arange(10, 20))
schools.where("City", are.equal_to("Los Angeles"))

In [ ]:
schools.where("City", are.equal_to("Los Angeles"))

In [ ]:
states = Table.read_table('data/us-state-capitals.csv')
states

In [ ]:
# Fill in the blank so that the correct array is returned.
states.column(...)