## Assignment 1: Introduction to the SQL environment in the Jupyter Notebook

From 1999 to 2015 [Jon Stewart](https://en.wikipedia.org/wiki/Jon_Stewart) hosted [The Daily Show](https://en.wikipedia.org/wiki/The_Daily_Show).  The lists of guests that appreared on that show is available in a CSV file

Each entry has the form:

```2015,actor,4/15/15,Acting,Billy Crystal
```

The SQL file `jon_load.sql` defines the following table and loads the contents of the file into that table. Open `jon_load.sql` file in your favorite editor and examine its contents.  Be sure not to change anything.

The following simple SQL queries determine some statistics about the list of daily show guests.

Evaluate each cell by pressing Shift-enter.  If it takes a little while (few seconds) for a cell to execute you will see a *.  Also, if you see a warning message show up with a pink bankground, you can ignore it.  IPython is made up of many independently developed components and sometimes the current versions of all components may not be in sync.

At this point in the course you are not expected to understand how each query works, but you should be able to make a reasonable guess as to what is going on

_Load the Jupyter notebook extension with supports the execution of SQL scripts_. If you get a warning message in pink box, just re-evaluate the cell again (shift-enter) and it will go away.

In [2]:
%load_ext sql

**Connect to the postgres database 'postgres' as the user 'isdb'**

In [3]:
%sql postgresql://isdb@localhost/postgres

'Connected: isdb@postgres'

**[Q] How many guests appeared on Daily Show during Jon Stewart's tenure?**
Each cell can either have executable Python or SQL code.  If SQL code, then the first line of the line needs to start with `%%sql`

In [4]:
%%sql 

SELECT COUNT(*) 
  FROM Daily_Show_Guests;

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(2693,)]

**[Q] Who was the very first guest?**

In [5]:
%%sql

SELECT *
    FROM Daily_show_Guests
ORDER BY date_of_appearance ASC
   LIMIT 1;

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(1999, 'Actor', datetime.date(1999, 1, 11), 'Acting', 'Michael J. Fox')]

**[Q] Who was the very last guest?**

Copy the above SQL code into the below and cell and tweak it a little.  Don't forget the `%%sql`

In [6]:
%%sql

SELECT *
    FROM Daily_show_Guests
ORDER BY date_of_appearance DESC
   LIMIT 1;

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(2015, 'Comedian', datetime.date(2015, 8, 5), 'Comedy', 'Louis C.K.')]

**[Q] What were the professions of the guests?**

In [7]:
%%sql 

  SELECT DISTINCT profession 
    FROM Daily_Show_Guests 
ORDER BY profession;

 * postgresql://isdb@localhost/postgres
17 rows affected.

[('Academic',),
 ('Acting',),
 ('Advocacy',),
 ('Athletics',),
 ('Business',),
 ('Clergy',),
 ('Comedy',),
 ('Consultant',),
 ('Government',),
 ('Media',),
 ('Military',),
 ('Misc',),
 ('Musician',),
 ('NA',),
 ('Political Aide',),
 ('Politician',),
 ('Science',)]

**[Q] List all the US Senators who appeared as guests on the show?**

In [8]:
%%sql

  SELECT name, job_title, date_of_appearance
    FROM Daily_Show_Guests
   WHERE job_title = 'US senator'
ORDER BY name;

 * postgresql://isdb@localhost/postgres
50 rows affected.

[('Bernie Sanders', 'US senator', datetime.date(2011, 4, 27)),
 ('Bob Menendez', 'US senator', datetime.date(2009, 11, 2)),
 ('Charles Schumer', 'US senator', datetime.date(2014, 6, 11)),
 ('Charles Schumer', 'US senator', datetime.date(2002, 8, 5)),
 ('Charles Schumer', 'US senator', datetime.date(2002, 12, 16)),
 ('Chuck Schumer', 'US senator', datetime.date(2008, 8, 6)),
 ('Cory Booker', 'US senator', datetime.date(2012, 12, 12)),
 ('Dick Durbin', 'US senator', datetime.date(2011, 8, 4)),
 ('Elizabeth Warren', 'US senator', datetime.date(2009, 4, 15)),
 ('Elizabeth Warren', 'US senator', datetime.date(2014, 4, 22)),
 ('Elizabeth Warren', 'US senator', datetime.date(2011, 4, 26)),
 ('Elizabeth Warren', 'US senator', datetime.date(2010, 1, 26)),
 ('Elizabeth Warren', 'US senator', datetime.date(2015, 4, 9)),
 ('Elizabeth Warren', 'US senator', datetime.date(2012, 1, 24)),
 ('John McCain', 'US senator', datetime.date(2002, 3, 19)),
 ('John McCain', 'US senator', datetime.date(2002, 11, 5)),
 ('John McCain', 'US senator', datetime.date(2006, 7, 24)),
 ('John McCain', 'US senator', datetime.date(2001, 7, 26)),
 ('John McCain', 'US senator', datetime.date(2008, 5, 7)),
 ('Sen. Barack Obama', 'US senator', datetime.date(2007, 8, 22)),
 ('Sen. Barack Obama', 'US senator', datetime.date(2005, 11, 7)),
 ('Sen. Barbara Boxer', 'US senator', datetime.date(2005, 11, 1)),
 ('Sen. Charles Schumer', 'US senator', datetime.date(2004, 11, 3)),
 ('Sen. Charles Schumer', 'US senator', datetime.date(2004, 3, 15)),
 ('Sen. Christopher Dodd', 'US senator', datetime.date(2007, 3, 12)),
 ('Sen. Chuck Schumer', 'US senator', datetime.date(2007, 1, 25)),
 ('Sen. Chuck Schumer', 'US senator', datetime.date(2005, 9, 29)),
 ('Sen. Hillary Clinton', 'US senator', datetime.date(2003, 10, 8)),
 ('Sen. Joe Biden', 'US senator', datetime.date(2007, 1, 31)),
 ('Sen. Joe Biden', 'US senator', datetime.date(2007, 8, 8)),
 ('Sen. Joe Biden', 'US senator', datetime.date(2004, 7, 28)),
 ('Sen. Joe Biden', 'US senator', datetime.date(2005, 8, 2)),
 ('Sen. Joe Lieberman', 'US senator', datetime.date(2005, 1, 20)),
 ('Sen. John Edwards', 'US senator', datetime.date(2005, 10, 5)),
 ('Sen. John Edwards', 'US senator', datetime.date(2003, 9, 15)),
 ('Sen. John Kerry', 'US senator', datetime.date(2007, 3, 26)),
 ('Sen. John McCain', 'US senator', datetime.date(2007, 4, 24)),
 ('Sen. John McCain', 'US senator', datetime.date(2004, 9, 2)),
 ('Sen. John McCain', 'US senator', datetime.date(2004, 5, 10)),
 ('Sen. John McCain', 'US senator', datetime.date(2007, 8, 16)),
 ('Sen. John McCain', 'US senator', datetime.date(2004, 1, 21)),
 ('Sen. John McCain', 'US senator', datetime.date(2005, 11, 8)),
 ('Sen. Rick Santorum', 'US senator', datetime.date(2005, 7, 25)),
 ('Sen. Tom Coburn', 'US senator', datetime.date(2012, 5, 2)),
 ('Sen. Tom Daschle', 'US senator', datetime.date(2003, 12, 2)),
 ('Sen. Trent Lott', 'US senator', datetime.date(2005, 8, 24)),
 ('Sen. Zell Miller', 'US senator', datetime.date(2003, 12, 10)),
 ('Senator Bob Dole, part 1', 'US senator', datetime.date(1999, 12, 7)),
 ('Senator Bob Dole, part 2', 'US senator', datetime.date(1999, 12, 8)),
 ('Senator Russ Feingold', 'US senator', datetime.date(2006, 3, 22))]

In [9]:
%%sql

SELECT distinct name
    FROM Daily_Show_Guests
   WHERE job_title = 'US senator'
ORDER BY name;

 * postgresql://isdb@localhost/postgres
27 rows affected.

[('Bernie Sanders',),
 ('Bob Menendez',),
 ('Charles Schumer',),
 ('Chuck Schumer',),
 ('Cory Booker',),
 ('Dick Durbin',),
 ('Elizabeth Warren',),
 ('John McCain',),
 ('Sen. Barack Obama',),
 ('Sen. Barbara Boxer',),
 ('Sen. Charles Schumer',),
 ('Sen. Christopher Dodd',),
 ('Sen. Chuck Schumer',),
 ('Sen. Hillary Clinton',),
 ('Sen. Joe Biden',),
 ('Sen. Joe Lieberman',),
 ('Sen. John Edwards',),
 ('Sen. John Kerry',),
 ('Sen. John McCain',),
 ('Sen. Rick Santorum',),
 ('Sen. Tom Coburn',),
 ('Sen. Tom Daschle',),
 ('Sen. Trent Lott',),
 ('Sen. Zell Miller',),
 ('Senator Bob Dole, part 1',),
 ('Senator Bob Dole, part 2',),
 ('Senator Russ Feingold',)]