# Strings

Strings are used in python to record text information. such as name. String in Python are actually a sequence, which basically means python  keeps track of every element in the string as a sequence.

In [1]:
#created used quotation

'hello'

'hello'

In [2]:
'This is a string'

'This is a string'

**NOte** python sees all the string as a sequence and every letter is counted including the spaces

In [3]:
"double quotes can also work"

'double quotes can also work'

In [5]:
" I can use single quote in side double. this's and vice versa "

" I can use single quote in side double. this's and vice versa "

In [6]:
# using the print() statement

print('Hello world')

Hello world

In [8]:
# New line with backslach and n i.e \n

print('My Name is Ekle Tony, \n What is your name?')

My Name is Ekle Tony,
 What is your name?

In [9]:
# \t for tab
print('Hello world, \t Hello!')

Hello world, 	 Hello!

In [13]:
# function of python2 is  print 'tony' no bracket
# to use print function from python 3 in python 2 we have

# from __function__ import print_function and it wil work

# String Basics

In [15]:
# For length len()

len('Hello Tony') # very applicable in data science

10

Indexing and slicing

In [16]:
s= 'Hello World'

In [17]:
s[0]

'H'

In [18]:
s[3:] # pick all from 3 to the end

'lo World'

In [22]:
s[:5] # grab all to 5 index

'Hello'

In [23]:
s[:-5] # deleting 5 from last index

'Hello '

In [25]:
s[-1] # grab last letter

'd'

In [27]:
s[:-1] # all withour last element

'Hello Worl'

In [31]:
s[::1] # grab all with step size 1

'Hello World'

In [32]:
s[::2] #step size 2

'HloWrd'

In [33]:
# String reversing
s[::-1]

'dlroW olleH'

In [34]:
n =  'EKLE ANTHONY OCHEME'
n[::-1]

'EMEHCO YNOHTNA ELKE'

In [38]:
# string are immutable n[1] =' e' error
#but strings can be concatenated

In [39]:
n

'EKLE ANTHONY OCHEME'

In [42]:
m = n+ ', I am 24 years old'

In [43]:
m

'EKLE ANTHONY OCHEME, I am 24 years old'

In [44]:
# multiplication works with strings
l = 'A'
l*10

'AAAAAAAAAA'

# Built-in string methods

In [46]:
t = 'Anthony'

In [47]:
# upper
t.upper()

'ANTHONY'

In [50]:
t.lower() #lower case

'anthony'

**Note: ** t.+tab will outlist all functions