In [ ]:
# Question 1

MongoDB is an open source document oriented database that is designed to store a large scale of data and also allows
you to work with that data very efficently. It is categorized under NoSQL database because the storage and retrievel 
of data in the MongoDB are not in the form of tables. 
Non relational database is a database that does not use the tabular schema of rows and columns found in most 
traditional database system. 

some of the scenarios in which we can use MongoDB over SQL database are-

1. Storing large volumes of data without structure - A NoSql database doesnt limit storable data types. plus you 
can also modify as business needs .

2. Using cloud computing and storage - Cloud based storage is a great solution but it requires data to be easily 
spread across multiple servers for scaling. Using affordable hardware on site for testing and then for production 
in the cloud is what NoSQL database are designed for.

3. Rapid developement - If you are developing using modern agile methodologies a relational database will slow you down 
A NoSQL database doesnt require the level of preperation typically needed for relational database.

In [ ]:
# Question 2

The features of MongoDB are - 

1. Document oriented -
MongoDB stores all the data in the form of documents instead of tables like RDBMS. in these documents data is stored in
key value pair instead of rows and columns which makes the data much more flexible in comparison to RDBMS where each 
document contains a unique ID.

2. Schema less database - 
Schema less database is a great feature provided by mongoDB which means one collection can hold different types of
Document in it. A single collection can hold multiple documents and these documents may consist of the different 
numbers of fields, content and size.

3. Scalability - 
MongoDB provides horizontal scalability with the help of mechanism known as sharding. Sharding refers to the process 
of distributing data on multiple servers here a large amount of data is partitioned into data chunks using the shard key 
and these data chunks evenly distributed across shards that reside across many physical servers.

4. Indexing -
MongoDB database indexes every field in the documents with primary and secondary indices which makes it easier and 
takes less time to get or search data from the pool of the data.

5.Aggregation -
MongoDB also allows to perform operations on the grouped data and get a single result or computed result. 
it provides three different aggregations Aggregation pipeline , Map reduce function and single purpose aggregation
method.

In [2]:
# Question 3

# first we have to install pymongo library .

pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 18.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Question 3
 
# after installing pymongo .    


import pymongo   # we have to import pymongo library 


# we have to go to mongoDB atlas to connect it to python . where Mongodb gives this connection id .we have to just set username and password for it.

client = pymongo.MongoClient("mongodb+srv://aarushnarayan:AarusN@cluster0.pcw6aca.mongodb.net/?retryWrites=true&w=majority")
db = client.test

# After connecting mongoDB to python. 
# we are going to create a database.

db = client["My_database1"]  # database created named My_database1.

#  now we are goint to create a collection.

data_collection = db["My_collection1"]   # collection created named My_collection1.

# now we can insert data in our collection by using collection variable we made.

In [8]:
# Question 4

# we are going to insert one record given below.

data = {"name":"aarush",
       "age" : 21,
       "class": "data science masters"}

data_collection.insert_one(data)   # inserted data using collection instance we made in question 3.

# now we try to insert many records given below inside a list

data1 = [{"name":"narayan" , "class":"python" , "mail_id":"narayan@gmail.com"},
        {"name":"kamal" , "class":"sql" , "mail_id":"kamal@gmail.com"},
        {"name":"yusuf" , "class":"mongodb" , "mail_id":"yusuf@gmail.com"}]

data_collection.insert_many(data1)

In [9]:
data_collection.find_one()   # using find_one to print one record.

{'_id': ObjectId('642858412a092c7ef2194ad1'),
 'name': 'aarush',
 'age': 21,
 'class': 'data science masters'}

In [11]:
for i in data_collection.find():       # using find inside a for loop to print all the records present in the collection.
    print(i)

{'_id': ObjectId('642858412a092c7ef2194ad1'), 'name': 'aarush', 'age': 21, 'class': 'data science masters'}
{'_id': ObjectId('642858d52a092c7ef2194ad2'), 'name': 'aarush', 'age': 21, 'class': 'data science masters'}
{'_id': ObjectId('642858d52a092c7ef2194ad3'), 'name': 'narayan', 'class': 'python', 'mail_id': 'narayan@gmail.com'}
{'_id': ObjectId('642858d52a092c7ef2194ad4'), 'name': 'kamal', 'class': 'sql', 'mail_id': 'kamal@gmail.com'}
{'_id': ObjectId('642858d52a092c7ef2194ad5'), 'name': 'yusuf', 'class': 'mongodb', 'mail_id': 'yusuf@gmail.com'}

In [12]:
# Question 5

"""The find method is used to fetch a particular data from the collection. in other words it is used to select data from the
collection it is also used to return all events to the selected data . we can use find with certain conditions also.the
find method consists of two parameters by which we can find a particular record."""

# Code to demonstrate find method-
# we are using the same collection of question 4. inserting a new data in the collection for better demonstration.


data2 = [{"id": 2 , "company":"google" , "mobile" : 455674145},
        {"id": 5 , "company":"google" , "mobile" : 89555274145},
        {"id": 6 , "company":"google" , "mobile" : 7020527414},
        {"id": 7 , "company":"google" , "mobile" : 6394527414}]

data_collection.insert_many(data2)

In [14]:
# using find method to fetch a particular data whose id is given 6

for i in data_collection.find({"id" : 6}):
    print(i)

{'_id': ObjectId('64286f472a092c7ef2194ad8'), 'id': 6, 'company': 'google', 'mobile': 7020527414}

In [23]:
# using find to fetch data where id is greater than 5

for i in data_collection.find({"id":{"$gte" : 5}}):
    print(i)

{'_id': ObjectId('64286f472a092c7ef2194ad7'), 'id': 5, 'company': 'google', 'mobile': 89555274145}
{'_id': ObjectId('64286f472a092c7ef2194ad8'), 'id': 6, 'company': 'google', 'mobile': 7020527414}
{'_id': ObjectId('64286f472a092c7ef2194ad9'), 'id': 7, 'company': 'google', 'mobile': 6394527414}

In [24]:
# we can fetch all the data inside a collection.

for i in data_collection.find():
    print(i)

{'_id': ObjectId('642858412a092c7ef2194ad1'), 'name': 'aarush', 'age': 21, 'class': 'data science masters'}
{'_id': ObjectId('642858d52a092c7ef2194ad2'), 'name': 'aarush', 'age': 21, 'class': 'data science masters'}
{'_id': ObjectId('642858d52a092c7ef2194ad3'), 'name': 'narayan', 'class': 'python', 'mail_id': 'narayan@gmail.com'}
{'_id': ObjectId('642858d52a092c7ef2194ad4'), 'name': 'kamal', 'class': 'sql', 'mail_id': 'kamal@gmail.com'}
{'_id': ObjectId('642858d52a092c7ef2194ad5'), 'name': 'yusuf', 'class': 'mongodb', 'mail_id': 'yusuf@gmail.com'}
{'_id': ObjectId('64286f472a092c7ef2194ad6'), 'id': 2, 'company': 'google', 'mobile': 455674145}
{'_id': ObjectId('64286f472a092c7ef2194ad7'), 'id': 5, 'company': 'google', 'mobile': 89555274145}
{'_id': ObjectId('64286f472a092c7ef2194ad8'), 'id': 6, 'company': 'google', 'mobile': 7020527414}
{'_id': ObjectId('64286f472a092c7ef2194ad9'), 'id': 7, 'company': 'google', 'mobile': 6394527414}

In [25]:
# Question 6

"""While retriving the data from the collection you can sort and arrange them in ascending and descending orders using the
sort() method. to this method you can pass the field and the sorting order which is 1 or -1 .where 1 is for ascending and
-1 is for descending order."""

# we will insert another data to demonstrate sort method in our same collection.

data3 = [{"id":2 , "name":"narayan" , "class":"python" , "mail_id":"narayan@gmail.com"},
        {"id":16 , "name":"kamal" , "class":"sql" , "mail_id":"kamal@gmail.com"},
        {"id":4 , "name":"yusuf" , "class":"mongodb" , "mail_id":"yusuf@gmail.com"},
        {"id" : 24 , "name":"aarush" , "class":"math" , "mail_id":"aarush@gmail.com"},
        {"id" : 12 , "name":"ayush" , "class":"physics" , "mail_id":"ayush@gmail.com"}]

data_collection.insert_many(data3)

In [32]:
for i in data_collection.find({"id":{"$gte" : 0}}).sort("id" , 1):    # sorting data in ascending order by key id.
    print(i)                                    # we can similarly sort the data in descending order also by giving field -1.

{'_id': ObjectId('64286f472a092c7ef2194ad6'), 'id': 2, 'company': 'google', 'mobile': 455674145}
{'_id': ObjectId('6428792f2a092c7ef2194ada'), 'id': 2, 'name': 'narayan', 'class': 'python', 'mail_id': 'narayan@gmail.com'}
{'_id': ObjectId('6428792f2a092c7ef2194adc'), 'id': 4, 'name': 'yusuf', 'class': 'mongodb', 'mail_id': 'yusuf@gmail.com'}
{'_id': ObjectId('64286f472a092c7ef2194ad7'), 'id': 5, 'company': 'google', 'mobile': 89555274145}
{'_id': ObjectId('64286f472a092c7ef2194ad8'), 'id': 6, 'company': 'google', 'mobile': 7020527414}
{'_id': ObjectId('64286f472a092c7ef2194ad9'), 'id': 7, 'company': 'google', 'mobile': 6394527414}
{'_id': ObjectId('6428792f2a092c7ef2194ade'), 'id': 12, 'name': 'ayush', 'class': 'physics', 'mail_id': 'ayush@gmail.com'}
{'_id': ObjectId('6428792f2a092c7ef2194adb'), 'id': 16, 'name': 'kamal', 'class': 'sql', 'mail_id': 'kamal@gmail.com'}
{'_id': ObjectId('6428792f2a092c7ef2194add'), 'id': 24, 'name': 'aarush', 'class': 'math', 'mail_id': 'aarush@gmail.com'}

In [ ]:
# Question 7

Delete_one() - A single document can be deleted by the method delete_one.The first parameter of the method would be query 
object which defines the document to be deleted. if there are multiple documents matching the filter query. only the first
appeared document would be deleted.

Delete_many() - Delete_many is used when one needs to delete more than one document. a query object containig which document 
to be deleted is created and is passed as the first parameter to the delete_many().

Drop() - We can delete a collection in database by using drop method. The drop method return TRUE if the collection was 
dropped successfully and FALSE if the collection does not exist.