In [2]:
message:str='PIAIC Student Card\nFather"s Name'
print(message)

PIAIC Student Card
Father"s Name

In [3]:
message:str='"PIAIC Student" Card\nFather Name'
print(message)

"PIAIC Student" Card
Father Name

In [4]:
message:str='PIAIC Student Card\nFather\'s Name'
print(message)

PIAIC Student Card
Father's Name

In [6]:
name:str='Sher Khan'
fname:str='Yousafzai'
education:str='M.Sc in Data Science'
age:int=37
card:str="PIAIC Student Card\nStudent_Name:"+name+"\nFather_Name:"+fname+"\nTotal_Education:"+education+"\nAge:"+str(age)
print(card)

PIAIC Student Card
Student_Name:Sher Khan
Father_Name:Yousafzai
Total_Education:M.Sc in Data Science
Age:37

In [9]:
name:str='Sher Khan'
fname:str='Yousafzai'
education:str='M.Sc in Data Science'
age:int=37
card:str="PIAIC Student Card\nStudent_Name:"+name\
+"\nFather_Name:"+fname\
+"\nTotal_Education:"+education\
+"\nAge:"+str(age)
print(card)

PIAIC Student Card
Student_Name:Sher Khan
Father_Name:Yousafzai
Total_Education:M.Sc in Data Science
Age:37

In [10]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card:str='''
Name:...
fathers_name:
education:
'''
print(card)

Name:...
fathers_name:
education:

In [11]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card:str=f"""
PAICIC Student Card:
Name:{name}
Father_Name:{fname}
Education:{education}
Age:{age}



"""
print(card)

PAICIC Student Card:
Name:Muhammad Qasim
Father_Name:Muhammad Aslam
Education:Master in Data Science
Age:30

In [12]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card:str=f"""
PAICIC Student Card:
Name:{name}
Father_Name:{fname}
Education:{education}
Age:{age}


total:{2+3+5+9}
"""
print(card)

PAICIC Student Card:
Name:Muhammad Qasim
Father_Name:Muhammad Aslam
Education:Master in Data Science
Age:30


total:19

In [13]:
a=6
b=4
"Arithmatical value for a={} and b={}".format(a,b)

'Arithmatical value for a=6 and b=4'

In [14]:
name:str="PIAIC is the emerging Advance Sciences Institure"
print(name.capitalize())
print(name.lower())

Piaic is the emerging advance sciences institure
piaic is the emerging advance sciences institure

In [15]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card:str='''
PIAIC Student Card:
Name:{}
Father_name:{}
Education:{}
'''.format(name,fname,education)
print(card)

PIAIC Student Card:
Name:Muhammad Qasim
Father_name:Muhammad Aslam
Education:Master in Data Science

In [16]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card:str='''
PIAIC Student Card:
Name:{a}
Father_name:{b}
Education:{c}
'''.format(a=name,b=fname,c=education)
print(card)

PIAIC Student Card:
Name:Muhammad Qasim
Father_name:Muhammad Aslam
Education:Master in Data Science

In [17]:
student_info:str='''
print('my name is ijaz ahmad and learning python as my Second programming language')
a:int=3
b:int=5
print(a+b)
'''
exec(student_info)

my name is ijaz ahmad and learning python as my Second programming language
8

In [20]:
a:list[str]=[i for i in dir(str) if "__" not in i]
display(a)
print(len(a))

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

47

In [21]:
name : str = "      MuHammAd QasIm         "
display(name)
display(name.lstrip())

'      MuHammAd QasIm         '

'MuHammAd QasIm         '

In [23]:
display(name.rstrip())

'      MuHammAd QasIm'

In [24]:
display(name.strip())

'MuHammAd QasIm'

In [33]:
import re
name:str="      ijaz    ahmad     "
display(name)
name1:str=re.sub(' {2,100}',' ',name).strip()
display(name1)

'      ijaz    ahmad     '

'ijaz ahmad'

In [36]:
norstrarch_url:str='https://norstarch.com'
norstrarch_url.removeprefix('https://')

'norstarch.com'

In [37]:
norstrarch_url:str='https://norstarch.com'
norstrarch_url.removeprefix('.com')

'https://norstarch.com'

In [39]:
norstrarch_url:str='https://norstarch.com'
norstrarch_url.removesuffix('.com')

'https://norstarch'

In [4]:
name:str='name:\t\t Ijaz Ahmad'
print(name)

name:		 Ijaz Ahmad

In [5]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [6]:
print("Name:\bMuhammad Qasim")

NameMuhammad Qasim