# Jay Chopra's Project

##### Exercise 3:

Hello, this is my Jupyter Notebook project that I am doing for the IBM Data Science Course. I am new to the data science scene, so there is alot of learning to do

##### Exercise 4:

There are a lot of Data Science languages, but here is a small list of them: Python, SQL, R, Ruby

##### Exercise 5:

Here is a list of Data Science Libaries: Pandas, NumPy, Tensorflow, Matplotlib

##### Exercise 6:

|Data Science Tools|
|------------------|
|Apache Spark|
|Tableau|
|Python|
|Excel|
|PowerBI|

# Arithmetic expression examples

##### Exercise 7:

In [16]:
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

##### Exercise 8:

In [6]:
(4*4)+5

21

##### Exercise 9:

In [22]:
Hours = 5
Minutes = 60 * Hours
print(str(Hours) + " Hours is equal to " + str(Minutes) + " Minutes")

5 Hours is equal to 300 Minutes

##### Exercise 10:

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

#### Author:

Jay Chopra