In [5]:
# Let's load the Titanic dataset from the provided URL and display the column names and the number of rows and columns in the dataset.

import pandas as pd

# URL of the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

# Load the dataset
titanic_data = pd.read_csv(url)

# Get the column names and the shape (number of rows and columns)
columns = titanic_data.columns
shape = titanic_data.shape

columns, shape

(Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
        'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
        'alive', 'alone'],
       dtype='object'),
 (891, 15))

In [8]:
import pandas as pd

# Download Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_df = pd.read_csv(url)

# Check for missing values
missing_values = titanic_df.isnull().sum()

# Print columns with missing values
print("Missing values in each column:")
print(missing_values)

# Alternatively, you can show a summary of columns that contain missing values
print("\nColumns with missing values:")
print(titanic_df.columns[titanic_df.isnull().any()])

Missing values in each column:
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

Columns with missing values:
Index([], dtype='object')

In [9]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Check for missing values again
missing_values = titanic_df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
# Check the dimensions of the dataset
dataset_shape = titanic_df.shape

# Print the result
print(f"The dataset contains {dataset_shape[0]} rows and {dataset_shape[1]} columns.")

The dataset contains 891 rows and 12 columns.

The term observation refers to rows of the dataset, in the context of this dataset it refers to the passengers where each row would be a different passenger
the term variables refers to the columms of the dataset and show the charaterists of the passengers

In [ ]:

import pandas as pd

# Download Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_df = pd.read_csv(url)

# Print the shape of the dataset (number of rows and columns)
print(f"The dataset contains {titanic_df.shape[0]} rows and {titanic_df.shape[1]} columns.\n")

# Print data types of each column
print("Data types of each column:\n")
print(titanic_df.dtypes)
print("\n")

# Generate and print a summary for numerical columns
print("Summary of numerical columns:\n")
print(titanic_df.describe())
print("\n")

# Generate and print a summary for all columns, including categorical
print("Summary of all columns (numerical and categorical):\n")
print(titanic_df.describe(include='all'))

df.shape returns the dimensions of the dataset/amount of rows and columns 
df.describe() provides statistics for numerical columns
discrepancy can occur because df.descirbe only looks at numerical columns so it may not summarize
the same amount of columns stated by df.shape if there are missing values

Attibutes and methods 

attributes are like stored values where its not performing any actions, it's recalling the stored value not modifing the data which means you don't need parentheses. In the case of df.shape its giving you the stored value of its dimesions 

Methods
df.describe() is a method and must include parentheses. Unlike attributes it executes code and it performs a task

Post-Lecture Homework

definitions of the summmary statistics provided by the df.describe() method 

Count - the number of values that are not non-null or missing in each column 
mean - the average value of the daya in the column 
standard deviation - deviating values from the average
Minimum - smallest value 
25th Percentile - the value where 25% of the value are below that value 
50th percentile - median / the middle of the data when sorted 
75th Percentile - the value where 75% of answers are greater than that value 
maximum - greatest value in the dataset

7.1 
df.dropna() - will remove any row with a missing value
del df['col'] removes the specific column stated

df.dropna() would be pefered if trying to remove rows or columns based on missing values while del df['col'] is to delete a specific column. Using both together could be important if the dataset had missing values in both colunmns and rows

In [3]:
import pandas as pd

# Step 1: Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Step 2: Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column

# Step 3: Drop rows with missing values (i.e., any row that has NaN in any column)
df_cleaned = df.dropna()

# Step 4: Use 'del' to delete a specific column (for example, let's delete the 'Name' column)
del df_cleaned['Name']

# Step 5: Show the cleaned DataFrame after removing missing values and deleting the 'Name' column
print("\nAfter cleaning:")
print(df_cleaned.head())  # Display first 5 rows of the cleaned DataFrame
print("\nMissing values in each column after cleaning:")
print(df_cleaned.isnull().sum())  # Confirm no missing values remain

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

After cleaning:
    PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch    Ticket  \
1             2         1       1  female  38.0      1      0  PC 17599
3             4         1       1  female  35.0      1      0    113803
6             7         0       1    male  54.0      0      0     17463
10           11         1       3  female   4.0      1      1   PP 9549
11           12         1       1  female  58.0      0      0    113783

       Fare Cabin Embarked
1   71.2833   C85        C
3   53.1000  C123        S
6   51.8625   E46        S
10  16.7000    G6        S
11  26.5500  C103        S

Missing values in each column after cleaning:
PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Summarized chat bot session 
Finding Public Datasets:
You initially requested interesting datasets that are publicly available via a URL and contain missing values for practicing data cleaning techniques. I suggested the Titanic dataset from Stanfordâ€™s public repository, which you later downloaded.

Checking for Missing Values:
You checked for missing values in the Titanic dataset using df.isnull().sum(). The output showed no missing values, which led to the discovery that this specific version of the Titanic dataset had already been pre-processed.

Understanding Dataset Size:
We discussed understanding the size of a dataset using df.shape, which provides the number of observations (rows) and variables (columns). This concept was further clarified in the context of the Titanic dataset.

Basic Summarization:
I introduced basic summarization using df.describe() to calculate key statistics like mean, median, standard deviation, etc., for numerical columns. This method only applies to columns with numerical data.

Attributes vs Methods:
You asked about the difference between attributes and methods in Pandas. I explained that attributes (like df.shape) provide information directly, while methods (like df.describe()) require parentheses because they perform calculations or other operations on the DataFrame.

Explanation of Summary Statistics:
We discussed the meaning of each summary statistic produced by df.describe(), including count, mean, std (standard deviation), min, and quartiles (25%, 50%, 75%).

df.dropna() vs del df['col']:
I explained the difference between df.dropna() (which removes rows or columns with missing values) and del df['col'] (which deletes a specific column). The key distinction is that df.dropna() is for handling missing data, while del is for removing entire columns.

Combining df.dropna() and del:
You asked for a code example combining both techniques to clean a dataset. I provided a Python example that loads the Titanic dataset, uses df.dropna() to remove rows with missing values, and uses del to remove the Name column.

Switching to the Kaggle Titanic Dataset:
Since the original Titanic dataset had no missing values, I recommended using the Kaggle version of the Titanic dataset, which contains missing values in columns like Age, Cabin, and Embarked. I provided updated code to show how the dataset looks before and after cleaning.

Final Code:
We finalized the Python code that demonstrates loading the Kaggle Titanic dataset, inspecting missing values, dropping rows with missing values, and deleting a specific column (Name). The code included both pre-cleaning and post-cleaning outputs.

link to chatbot session: https://chatgpt.com/share/7d36937d-e411-4634-897d-149369438eee

In [4]:
#final code produced 

import pandas as pd

# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column

# Drop rows with missing values (i.e., any row that has NaN in any column)
df_cleaned = df.dropna()

# Delete a specific column (for example, let's delete the 'Name' column)
del df_cleaned['Name']

# Show the cleaned DataFrame after removing missing values and deleting the 'Name' column
print("\nAfter cleaning:")
print(df_cleaned.head())  # Display first 5 rows of the cleaned DataFrame
print("\nMissing values in each column after cleaning:")
print(df_cleaned.isnull().sum())  # Confirm no missing values remain

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

After cleaning:
    PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch    Ticket  \
1             2         1       1  female  38.0      1      0  PC 17599
3             4         1       1  female  35.0      1      0    113803
6             7         0       1    male  54.0      0      0     17463
10           11         1       3  female   4.0      1      1   PP 9549
11           12         1       1  female  58.0      0      0    113783

       Fare Cabin Embarked
1   71.2833   C85        C
3   53.1000  C123        S
6   51.8625   E46        S
10  16.7000    G6        S
11  26.5500  C103        S

Missing values in each column after cleaning:
PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

New chatbot session started

8.1 
df.groupby("col1") - groups the values in col1 for expample if col1 is seasons you'll get groups for each season.
[col2] - selects the column to analyse.
.describe() - provides summary statistcis for the selected column

8.2 
df.describe() provides an overview of values for every column in the data set. Count will show the number of missing values in the dataset 
df.groupby("col1")["col2"].describe() gives the statistics of each groups which can have different count values because of missing values

In [1]:
#8.3.a

# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column

NameError: name 'pd' is not defined

In [3]:
#8.3.b
import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanics.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column

HTTPError: HTTP Error 404: Not Found

In [4]:
#8.3.c
import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column
DF.groupby("col1")["col2"].describe()

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

NameError: name 'DF' is not defined

In [5]:
#8.3.d

import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column
df.groupby("col1")["col2"].describe()

SyntaxError: '(' was never closed (3382038892.py, line 6)

In [7]:
#8.3.e

import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column
df_groupby("col1")["col2"].describe()

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

NameError: name 'df_groupby' is not defined

In [11]:
#8.3.f

import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column
import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)
df.groupby("Sex")["age"].describe()

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

KeyError: 'Column not found: age'

In [2]:
#8.3.g

import pandas as pd 
# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column
df.groupby(sex)["age"].describe()

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

NameError: name 'sex' is not defined

After going through mutiple different types of errors, I've found that chatbot are more efficient in fixing errors as it can locate the error and correct it.

chatbot session summary:

1. Loading and Initial Dataset Operations

We discussed loading the Titanic dataset using pandas and how to access it from the URL: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv.
You learned how to display the first 5 rows of the DataFrame using df.head().
We also covered how to check for missing values in the dataset using df.isnull().sum().
2. Grouping and Descriptive Statistics

I explained how to group data using pandas' groupby() function. You initially tried using df_groupby() instead of the correct df.groupby().
We discussed how groupby("col1")["col2"].describe() works. You learned that the function groups the DataFrame by "col1", calculates descriptive statistics (like mean, standard deviation, count, etc.) for "col2", and returns these statistics for each group.
Example: df.groupby("Pclass")["Age"].describe() groups by passengers' class (Pclass) and returns statistics for passengers' age (Age).
3. Common Mistakes and Syntax Fixes

There were some cases where columns "col1" and "col2" did not exist in the dataset. I guided you to replace them with valid columns like "Sex" and "Age".
We also addressed Python's case-sensitivity with column names and ensured you used the correct capitalization (e.g., "Age" instead of "age").
Example: df.groupby("Sex")["Age"].describe() provided a correct method to group data by the passengers' gender (Sex) and calculate descriptive statistics for their ages (Age).
4. Code Execution and Import Errors

You encountered errors like NameError: name 'pd' is not defined because you missed the import pandas as pd statement. I provided the correct way to import the pandas library at the start of your script.
There were also some issues related to dataset URL typos, such as using "titanics.csv" instead of "titanic.csv". Once corrected, the dataset loaded correctly.
 
 chat bot link: https://chatgpt.com/share/66e394d2-6174-8006-bbff-f857de68017d

In [1]:
#final code 

import pandas as pd 

# Load the Titanic dataset from Kaggle
url_kaggle = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url_kaggle)

# Show the DataFrame before removing missing values
print("Before cleaning:")
print(df.head())  # Display first 5 rows of the original DataFrame

# Check for missing values in each column
print("\nMissing values in each column before cleaning:")
print(df.isnull().sum())  # Display number of missing values per column

# Grouping by 'Sex' and showing descriptive statistics for the 'Age' column
# This will group the dataset by 'Sex' and calculate statistics for 'Age'
age_stats_by_sex = df.groupby("Sex")["Age"].describe()

# Print the descriptive statistics for 'Age' by 'Sex'
print("\nDescriptive statistics for 'Age' by 'Sex':")
print(age_stats_by_sex)

Before cleaning:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values in each column before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Descriptive statistics for 'Age' by 'Sex':
        count       mean        std   min   25%   50%   75%   max
Sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0