# Анализ вакансий на LinkedIn

**Цель исследования:** визуализировать информацию о Европейском рынке вакансий для специалиста в области анализа данных на материале социальной сети LinkedIn

**Задачи:**

    Изучить данные, привести их в пригодный для анализа формат
    Распарсить полученный csv файл с помощью BS 4, создав следующие признаки:_
        - наименование вакансии, город, страна, тип занятости (online, hybride, on-site);
        - компания - размер компании (количество работников);
        - сфера деятельности компании;
        - требуемые хард скилы;
        - дата публикации вакансии;
        - количество кандидатов на вакансию.
    Создать дашборд в PowerBI, содержаший следующие средства визуализации:
        - фильтры — по стране и по типу занятости;
        - количество вакансий (абсолютные значения) – индикатор;
        - количество вакансий по странам (относительные значения) — stack bar chart;
        - тип занятости — pie chart;
        - список нанимающих компаний с указанием количества вакансий отсортированный в порядке убывания — heat map;
        - ТОП 10 сфер деятельности компаний, которые нанимают аналитиков — barchart;
        - размер компаний и количество вакансий — pie chart;
        - хард скилы — barchart.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import re
import datetime

In [2]:
df = pd.read_csv('masterskaya_parsing_LinkedIn_2023_05_23.csv')

In [3]:
#знакомимся с данными
display(df.head(1))
df.info()
df.columns

   Unnamed: 0                                               html
0           0  \n  <div>\n    <div class="\n        jobs-deta...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  998 non-null    int64
 1   html        998 non-null    object
dtypes: int64(1), object(1)
memory usage: 15.7+ KB

Index(['Unnamed: 0', 'html'], dtype='object')

Очевидно, что столбец `Unnamed: 0` лишний и не несёт никакой полезной информации. Убираем его:

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

#проверим результат
df.columns

Index(['html'], dtype='object')

С целью поиска тегов для парсинга выведем строку данных в формате html:

In [5]:
df.head(1).style

Название вакансии соответсвует тегу `h2`. Занесём его в колонку `name`:

In [6]:
df['job_title'] = df['html'].apply(lambda x: BeautifulSoup(x, 'lxml').find('h2').text.strip())

#проверим результат
df.head(5)

,html,job_title
0,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst
1,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst - Logistics
2,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst - Logistics
3,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst (Space & Planning)
4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst

Переведём значения в столбце `job title` в нижний регистр и посмотрим уникальные значения в колонке вакансий:

In [7]:
df['job_title'] = df['job_title'].apply(lambda x: x.lower())
sorted(df['job_title'].unique())

['(esg) data analyst (w/m/d)',
 '(junior) application specialist ecommerce (m/f/d)',
 '(junior) business analyst (f/m/d)',
 '(junior) business analyst (w/m/d)',
 '(junior) consumer business intelligence analyst (m/w/d)',
 '(junior) data scientist',
 '(junior) project analyst (m/f/d)',
 '(junior) project coordinator',
 '(junior) systems business analyst (f/m/d)',
 '(senior) consultant transaction analytics (f/m/d)',
 '360 data product owner',
 '[alt] data analyst assistant - h/f',
 'accountant',
 'afc data analyst',
 'aftersales reporting specialist',
 'alternance - assistance data analyst et reporting rh f/h',
 'alternance - data analyst - data etl & visualisation (h/f/d)',
 'analista (h/m) financiero / fp&a reporting',
 'analista dati di geodesia - categoria protetta',
 'analista de datos',
 'analista de datos bi',
 'analista de datos dept de elaborados (guissona)',
 'analista de proyecto digitalización',
 'analista de software',
 'analista ecommerce, web y app',
 'analista funzionale',
 'analista funzionale it (junior)',
 'analista superior de datos',
 'analityk',
 'analityk danych',
 'analityk danych internetowych (wszystko.pl)',
 'analyst',
 'analyst (m/f/d) business intelligence & analytics',
 'analyst (strategy, policy and innovation)',
 'analyst - application development analytics',
 'analyst - french speaking -',
 'analyst - marketing effectiveness',
 'analyst developer',
 'analyst sourcing & planning',
 'analyst*in (m/w/d)',
 'analyste data -(h/f)',
 'analyste de données pièces de rechange automobile',
 'analyste des donnees (h/f)',
 'analytics & reporting - associate – warsaw',
 'analytics consultant',
 'analytics consultant - marketing effectiveness',
 'analytics consultant – mckinsey digital',
 'analytics consultant, power bi',
 'apm software development & operations',
 'application support specialist - business intelligence',
 'applications support analyst (f/m/d)',
 'asset data analyst',
 'assistant, hr data analytics',
 'associate - data research',
 'associate - mckinsey digital',
 'associate data manager',
 'associate data scientist',
 'associate database analyst---clinical database management',
 'b2b analyst, bulgaria',
 'banking operations specialist',
 'becario/a data analyst cliente',
 'bi & data reporting expert',
 'bi analyst',
 'bi analyst (m/w/d)',
 'bi analyst (m/w/d) marketing',
 'bi analyst (pricing)',
 'bi analyst - tableau or other bi tools',
 'bi analyst, power bi champion, cee based in warsaw',
 'bi consultant',
 'bi developer',
 'bi specialist',
 'bi-analyst (m/w/d)',
 'bi-consulent',
 'bi/reports developer',
 'biostatistiker (m/w/d)',
 'business & data analyst',
 'business analyst',
 'business analyst & planning',
 'business analyst (english speaking)',
 'business analyst (f/h)',
 'business analyst (f/m)',
 'business analyst (f/m/diverse) - hybrid',
 'business analyst (h/f/x) cdi',
 'business analyst (junior data analyst)',
 'business analyst (m/w/d)',
 'business analyst (sales) (m/w/d)',
 'business analyst (software)',
 'business analyst - it',
 'business analyst - manufacturing & supply chain',
 'business analyst - pricing',
 'business analyst - supply chain',
 'business analyst - young graduate - academy program',
 'business analyst bi',
 'business analyst consultant',
 'business analyst data (h/f)',
 'business analyst h/f',
 'business analyst internship',
 'business analyst it',
 'business analyst junior',
 'business analyst middle',
 'business analyst pricing',
 'business analyst specialist for data warehouse',
 'business analyst_power bi',
 'business analytics and intelligence analyst',
 'business analytics specialist',
 'business data analyst (m/w/d)',
 'business data analyst evolutions (2300046z)',
 'business data analyst lead\xa0h/f',
 'business data analyst-(h/f)',
 'business data analyste senior h/f',
 'business insights analyst (nje)',
 'business intelligence analyst',
 'business intelligence analyst (m/w/d)',
 'business intelligence analyst junior',
 'business intelligence associate',
 'business intelligence consultant',
 'business intelligence consultant (m/w/d)',
 'business intelligence consultant (m/w/d) power bi oder qlik',
 'business intelligence consultant/lead',
 'business intelligence developer',
 'business intelligence developer eemea',
 'business intelligence engineer',
 'business intelligence expert',
 'business intelligence specialist',
 'business intelligence specialist (w/m/d)',
 'business intelligence-analyst:in',
 'business intelligence-architekt:in',
 'business process analyst',
 'business specialist',
 'business-analyst:in',
 'bürokraft (m/w/d) in garching',
 'cdi - chef de projet data/analytique f/h',
 'cdi - data analyst f/h',
 'cdi - data analyst h/f - yves rocher',
 'center operations specialist',
 'chargé de projet validation stérilisation',
 'chargé de projets sustainability f/h en apprentissage',
 'chargé de projets écologue h/f (56)',
 'chef de projet data f/h',
 'chef de projet réhabilitation',
 'chef.fe de projet data et bi f/h',
 'chemical development process  lab analyst',
 'científico inteligencia artificial',
 'client data analyst (client intelligence specialist - fully remote) )',
 'client insights data analyst - sql, python, data bricks',
 'client intelligence specialist',
 'clinical data insights analyst (medior/senior)',
 'cognos and power bi reporting developer',
 'commercial analyst',
 'commercial data analyst',
 'commercial data analyst travel',
 'composiet medewerker',
 'consulente applicativo bi',
 'consultant (m/w/d) - business intelligence',
 'consultant - data visualization specialist',
 'consultant ai & data analytics / data science (m/w/d)',
 'consultant ai & data analytics / data science (m/w/d) in berlin',
 'consultant bi / msbi  f/h',
 'consultant bi lyon - h/f',
 'consultant data & bi – h/f',
 'consultant power bi – data analyst (f/h)',
 'consultant senior microsoft bi - power bi expert h/f',
 'consultant.e bi',
 'consultor bi',
 'consultor/a selección ingeniería',
 'consultoría | data & analytics hub málaga',
 'conversion master data analyst to procter & gamble',
 'corporate product master specialist/data analyst',
 'credit - data analyst (product)',
 'crm data analyst (m/w/d)',
 'cro /digital analyst',
 'customer data analyst (m/w/d) motorsport',
 'customer data integration specialist - bulgaria',
 'customer data platform analyst',
 'customer insights analyst (bangkok based, relocation provided)',
 'customer support analyst',
 'danish language data analyst - barcelona',
 'danish language data analyst in barcelona',
 'data & analytics analyst - bari, roma',
 'data & analytics consultant',
 'data & analytics senior analyst',
 'data analist',
 'data analist - startersfunctie (dutch speaking)',
 'data analist cbr',
 'data analysis and reporting team lead',
 'data analyst',
 'data analyst  h/f',
 'data analyst (9 months ftc)',
 'data analyst (assortment)',
 'data analyst (bangkok based, relocation provided)',
 'data analyst (engineer)',
 'data analyst (f/h)',
 'data analyst (fraud)*',
 'data analyst (ft)',
 'data analyst (h/f)',
 'data analyst (h/f) - cdi',
 'data analyst (legal services)',
 'data analyst (m/f)',
 'data analyst (m/f/d)',
 'data analyst (m/f/d) - global sea logistics systems',
 'data analyst (m/f/x)',
 'data analyst (m/w/d)',
 'data analyst (m/w/d) im controlling',
 'data analyst (marketing & comms)',
 'data analyst (mobile)',
 'data analyst (product data analyst)',
 'data analyst (slovakia) irc183410',
 'data analyst (space & planning)',
 'data analyst (w/m/d) - kurse',
 'data analyst - alternance - boursorama-(h/f)',
 'data analyst - analyste de données',
 'data analyst - bseu raw materials planning',
 'data analyst - client insight',
 'data analyst - confirmé.e',
 'data analyst - customer management domain',
 'data analyst - digital marketing (all genders)',
 'data analyst - edtech',
 'data analyst - finance',
 'data analyst - flanders digital',
 'data analyst - global marketing agency',
 'data analyst - global marketing h/f',
 'data analyst - h/f',
 'data analyst - hybrid',
 'data analyst - hybrid - permanent',
 'data analyst - hybrid working',
 'data analyst - lisboa e porto - campo grande',
 'data analyst - logistics',
 'data analyst - marketing & communications insight',
 'data analyst - marketing - e-commerce',
 'data analyst - milano',
 'data analyst - operations',
 'data analyst - pilotage transformation cloud-(h/f)',
 'data analyst - poland',
 'data analyst - scores & etudes',
 'data analyst - transportation',
 'data analyst - €60,- per hour - amsterdam based',
 'data analyst / data scientist (m/f/d)',
 'data analyst / decision scientist, growth',
 'data analyst / decision scientist, marketing',
 'data analyst / mathematiker / statistiker (m/w/d)',
 'data analyst / risques de crédit - boursorama-(h/f)',
 'data analyst and business development specialist',
 'data analyst assessor',
 'data analyst associate',
 'data analyst costing',
 'data analyst delivery operations',
 'data analyst débutant(e)',
 'data analyst en alternance (94) dcf/ab - f/h',
 'data analyst en alternance (h/f) - boulogne-billancourt',
 'data analyst export',
 'data analyst f/h',
 'data analyst für customer analytics (m/w/d)',
 'data analyst h/f',
 'data analyst h/f - alternance 12 ou 24 mois',
 'data analyst h/f _ cdd',
 'data analyst h/f h/f',
 'data analyst ii',
 'data analyst im bereich iiot / ki / predictive maintenan ...',
 'data analyst im bereich iiot / ki / predictive maintenance (m/w/d)',
 'data analyst in the area of iiot / ki / predictive maintenance (m/f/d)',
 'data analyst it',
 'data analyst job in overseas',
 'data analyst m/f',
 'data analyst marketing stratégique - boursorama-(h/f)',
 'data analyst pilotage operationnel h/f',
 'data analyst power bi (m/w/d)',
 'data analyst power bi f/h',
 'data analyst professional programme',
 'data analyst reporting',
 'data analyst return solutions',
 'data analyst sas - h/f',
 'data analyst tableau',
 'data analyst telco',
 'data analyst | deals (m&a) | cdi | h/f',
 'data analyst – web & app (m/w/d)',
 'data analyst, metrics & reporting',
 'data analyst, product intelligence #swx',
 'data analyst, sql/ssis {finance',
 'data analyst- 6 month',
 'data analyst-(h/f)',
 'data analyst/etl developer',
 'data analyst:in',
 'data analyst_frosinone (fr)',
 'data analyste',
 'data analytics engineer',
 'data and analytics - it product owner',
 'data architect',
 'data business analyst',
 'data business analyst (m/f)',
 'data consultant',
 'data engineer',
 'data engineer (m/f/d)',
 'data engineer (m/f/n)',
 'data engineer (sql, bi)',
 'data engineer big data',
 'data engineer f/h',
 'data engineer h/f',
 'data engineer industry 4.0',
 'data engineer referent',
 'data engineer, business intelligence',
 'data engineer-imprescindible experiencia en powercenter',
 'data engineer/ data analyst',
 'data entry',
 'data governance analyst',
 'data management specialist',
 'data manager',
 'data platform product owner',
 'data program manager',
 'data reporting engineer',
 'data science & analytics specialist (f/m/x)',
 'data science analyst',
 'data science and analytics engineer m/f',
 'data scientist',
 'data scientist & analyst expérimenté',
 'data scientist (all genders)',
 'data scientist (credit)',
 'data scientist (f/m/d)',
 'data scientist (h/f)',
 'data scientist - data analyst',
 'data scientist - marketing',
 'data scientist - paris',
 'data scientist / analytiker',
 'data scientist h/f_cdi',
 'data scientist transport & logistics',
 'data scientist, marketing analytics',
 'data scientist/data engineer, matching',
 'data specialist',
 'data steward',
 'data technology analyst',
 'data visualization',
 'data visualization expert',
 'data-analist',
 'dataanalytiker',
 'database administrator',
 'datový analytik',
 'datový analytik/vývojář',
 'dba',
 'dba sql',
 'demand & inventory data scientist',
 'demand planner',
 'demand planning analyst',
 'developer',
 'developer (m/f/n)',
 'devops engineer',
 'digital analyst',
 'digital analytics & engagement expert',
 'digital back office specialist - tempo determinato',
 'digital data analist (32-38 uur)',
 'digital data analyst',
 'digital data analyst (h/f)',
 'digital data analyst pharma (m/f/d)',
 'digital data analytics',
 'digital marketing specialist',
 'ecommerce web analyst',
 'emerton data: data scientist & strategy consultant',
 'esg analyst - real estate (m/w/d)',
 'finance - it functional analyst',
 'finance data analyst',
 'finance data analyst (m/w/d) - gigafactory berlin',
 'financial / data analyst',
 'fp&a analyst',
 'freelance contracting project // data product owner (m/f/d) - remote',
 'freelance data modeler',
 'front-end developer',
 'functional analyst',
 'gestor/a aprovisionamiento - valladolid',
 'global hris specialist',
 'global manager data analytics',
 'global onsite data analyst (m/w/d)',
 'graduate data analyst',
 'head of analytics',
 'hr digital transformation',
 'informatie analist',
 'informatieanalist cloud-applicaties',
 'information analyst',
 'information technology engineer',
 'information technology support specialist',
 'informático/a programador/a analista de datos',
 'infrastructure analyst',
 'ingeniero de datos power bi + azure datafactory',
 'ingeniero/a analista de datos big data',
 'ingenieur softwareentwicklung (m/w/d)',
 'ingénieur senior bi f/h',
 'inhouse bi consultant / bi spezialist (m/w/d)',
 'insight analyst (m/f/x)',
 'insights analyst',
 'internet data evaluator | work-from-home',
 'inventory analytics manager',
 'it analityk',
 'it business analyst (data)',
 'it business analyst for human resources',
 'it crm & marketing solutions specialist',
 'it data analyst',
 'it research analyst',
 'it solution analyst (m/f/n)',
 'it specialist (f/m)',
 'it strategy and reporting analyst (m/f)',
 'it support analyst, global it',
 'it-spezialist (m/w/d)',
 'job | data analyst e&e&p | brussel',
 'jr. data scientist',
 'junior / medior web data analyst',
 'junior analyst',
 'junior analyst - data process',
 'junior analyst | h/f',
 'junior business analyst',
 'junior business analyst (m/w/d)',
 'junior business analyst - back office team',
 'junior business analyst - triodos',
 'junior crm analyst',
 'junior data analist',
 'junior data analyst',
 'junior data analyst / business intelligence expert (gn)',
 'junior data analyst power bi - contrato 6 meses',
 'junior data analyst sustainability',
 'junior data analyst – aerospace',
 'junior data analyst/associate (m/f/d)',
 'junior data analytics consultant',
 'junior data processing specialist',
 'junior data scientist',
 'junior data scientist/analyst (m/w/d)',
 'junior developer',
 'junior finance analyst',
 'junior innovation analyst',
 'junior insight analyst',
 'junior insights analyst (w/m/d)',
 'junior marketing analyst (munich)',
 'junior master data analyst',
 'junior project manager',
 'junior project manager - categoria protetta',
 'junior sales analyst',
 'junior software developer',
 'junior software developer engineer',
 'junior sql server database administrator',
 'junior stem analyst',
 'junior tech business analyst',
 'junior/mid data analyst',
 'l.t.e. s.p.a. - ingegnere di processo',
 'lead tech et data viz (h/f)',
 'logistics development analyst',
 'market analyst- european power market',
 'market intelligence analyst',
 'market research analyst (remote - within europe)',
 'marketing analyst',
 'marketing analyst (data analytics and bi)',
 'marketing analyst (m/w/d)',
 'master data quality analyst',
 'medewerker cursuscoördinatie',
 'medewerker verkoop binnendienst',
 'medior data analyst',
 'mid data engineer',
 'mitarbeiter marketing (m/w/d)',
 'mitarbeiter marketing b2b (m/w/d)',
 'monitoring & data analyst (solar pv)',
 'montblanc - business analyst h/ft',
 'nrs13700 grade v, data analyst',
 'online data analyst',
 'online data analyst (m,f,d)',
 'online data analyst - france',
 'operational analyst (hybrid)',
 'operational specialist',
 'operations analyst - h/f',
 'operations data analyst (they/she/he)',
 'oracle developer (2 posts)',
 'packaging specification technologist and data analyst',
 'performance engineer',
 'planning & control analyst',
 'policy analyst',
 'power bi / data analyst (m/w/d)',
 'pricing analyst',
 'principal data analyst - growth',
 'privacy data analyst - fluent german',
 'process analyst',
 'process engineer',
 'process performance engineer',
 'product control analyst',
 'product data analyst',
 'product data analyst with english',
 'product manager',
 'programmatore / analista funzionale',
 'projektleitung seiltechnik',
 'projektmanager / projektleiter automotive (m/w/d)',
 'ptp analyst',
 'qe manager',
 'quality data analyst (m|w|d)',
 'reliability data analyst',
 'reporting specialist',
 'research analyst',
 'responsable data visualisation ms bi',
 'retail business analyst',
 'référent applicatif business intelligence f/h',
 'sales & business analyst',
 'sales data analyst',
 'sales specialist',
 'salesforce analyst',
 'salesforce business analyst',
 'salesforce data analyst (f/m/d)',
 'sap finance analyst',
 'semiconductor data analyst',
 'senior bi consultant',
 'senior bi data engineer',
 'senior bi developer (sql server) – (remote)',
 'senior business intelligence consultant',
 'senior business reporting specialist',
 'senior data analyst',
 'senior data analyst (bangkok based, relocation provided)',
 'senior data analyst (f/m/d) - onsite or remote / home office',
 'senior data engineer (f/m/x)',
 'senior data scientist',
 'senior datenanalyst (m/w/d)',
 'senior digital analyst (*all genders)',
 'senior expert innovation analytics performance',
 'senior financial analyst (m/f)',
 'senior product analyst',
 'senior reporting and data specialist',
 'social media data analyst',
 'software engineer',
 'softwareentwickler (m/w/d)',
 'solution owner, enterprise solutions, ikea industry ab',
 'sozialwissenschaftler*in als data analyst (w/m/d)',
 'sql database administrator',
 'sql/data analyst (m/w/d)',
 'stage - data analyst h/f',
 'stage | data analyst',
 'statistical analyst (bangkok based, relocation provided)',
 'statistical data analyst',
 'supply chain analyst',
 'supply chain data analyst',
 'supply officer & data analyst - systems & equipment (d/f/m)',
 'supply planner f/h',
 'sviluppatore front-end',
 'system developer gis',
 'systemutvecklare',
 'säljare till skaraborgsområdet',
 'team business analyst',
 'technical analyst for databricks (all genders)',
 'technical business analyst',
 'technical data analyst',
 'tender office specialist',
 'test engineer',
 'trading and business support analyst',
 'traineeship data analyst',
 'v.i.e performance management  analyst',
 'wavemaker i data analyst with python',
 'web analyst f/h en cdi',
 'web data analyst f/h',
 '📢 [full remote] bi engineer - startup data marketing - h/f']

Согласно техническому заданию, нас интересуют только вакансии `Data Analyst` и `BI Analyst`. Поскольку здесь присутствуют наименования вакансий сразу на нескольких европейских языках, для надёжности "вручную" занесём наименования вакансий, которые им соответвуют, в `job_title_list`, путём исключения из списка уникальных значений заведомо нерелевантных позиций:

In [8]:
job_title_list = ['(esg) data analyst (w/m/d)', 
 '[alt] data analyst assistant - h/f',
 'afc data analyst',
 'alternance - assistance data analyst et reporting rh f/h',
 'alternance - data analyst - data etl & visualisation (h/f/d)',
 'analista de datos',
 'analista de datos bi',
 'analista de datos dept de elaborados (guissona)',
 'analista superior de datos',
 'analityk danych',
 'analityk danych internetowych (wszystko.pl)',
 'analyst (m/f/d) business intelligence & analytics',
 'analyste data -(h/f)',
 'analyste de données pièces de rechange automobile',
 'analyste des donnees (h/f)',
 'asset data analyst',
 'assistant, hr data analytics',
 'bi analyst',
 'bi analyst (m/w/d)',
 'bi analyst (m/w/d) marketing',
 'bi analyst (pricing)',
 'bi analyst - tableau or other bi tools',
 'bi analyst, power bi champion, cee based in warsaw',
 'bi-analyst (m/w/d)',
 'business intelligence analyst',
 'business intelligence analyst (m/w/d)',
 'business intelligence analyst junior',
 'business intelligence associate',
 'business intelligence-analyst:in',
 'cdi - chef de projet data/analytique f/h',
 'cdi - data analyst f/h',
 'cdi - data analyst h/f - yves rocher',
 'client data analyst (client intelligence specialist - fully remote) )',
 'client insights data analyst - sql, python, data bricks',
 'danish language data analyst - barcelona',
 'danish language data analyst in barcelona',
 'data & analytics analyst - bari, roma',
 'data & analytics consultant',
 'data & analytics senior analyst',
 'data analist',
 'data analist - startersfunctie (dutch speaking)',
 'data analist cbr',
 'data analysis and reporting team lead',
 'data analyst',
 'data analyst  h/f',
 'data analyst (9 months ftc)',
 'data analyst (assortment)',
 'data analyst (bangkok based, relocation provided)',
 'data analyst (engineer)',
 'data analyst (f/h)',
 'data analyst (fraud)*',
 'data analyst (ft)',
 'data analyst (h/f)',
 'data analyst (h/f) - cdi',
 'data analyst (legal services)',
 'data analyst (m/f)',
 'data analyst (m/f/d)',
 'data analyst (m/f/d) - global sea logistics systems',
 'data analyst (m/f/x)',
 'data analyst (m/w/d)',
 'data analyst (m/w/d) im controlling',
 'data analyst (marketing & comms)',
 'data analyst (mobile)',
 'data analyst (product data analyst)',
 'data analyst (slovakia) irc183410',
 'data analyst (space & planning)',
 'data analyst (w/m/d) - kurse',
 'data analyst - alternance - boursorama-(h/f)',
 'data analyst - analyste de données',
 'data analyst - bseu raw materials planning',
 'data analyst - client insight',
 'data analyst - confirmé.e',
 'data analyst - customer management domain',
 'data analyst - digital marketing (all genders)',
 'data analyst - edtech',
 'data analyst - finance',
 'data analyst - flanders digital',
 'data analyst - global marketing agency',
 'data analyst - global marketing h/f',
 'data analyst - h/f',
 'data analyst - hybrid',
 'data analyst - hybrid - permanent',
 'data analyst - hybrid working',
 'data analyst - lisboa e porto - campo grande',
 'data analyst - logistics',
 'data analyst - marketing & communications insight',
 'data analyst - marketing - e-commerce',
 'data analyst - milano',
 'data analyst - operations',
 'data analyst - pilotage transformation cloud-(h/f)',
 'data analyst - poland',
 'data analyst - scores & etudes',
 'data analyst - transportation',
 'data analyst - €60,- per hour - amsterdam based',
 'data analyst / data scientist (m/f/d)',
 'data analyst / decision scientist, growth',
 'data analyst / decision scientist, marketing',
 'data analyst / mathematiker / statistiker (m/w/d)',
 'data analyst / risques de crédit - boursorama-(h/f)',
 'data analyst and business development specialist',
 'data analyst assessor',
 'data analyst associate',
 'data analyst costing',
 'data analyst delivery operations',
 'data analyst débutant(e)',
 'data analyst en alternance (94) dcf/ab - f/h',
 'data analyst en alternance (h/f) - boulogne-billancourt',
 'data analyst export',
 'data analyst f/h',
 'data analyst für customer analytics (m/w/d)',
 'data analyst h/f',
 'data analyst h/f - alternance 12 ou 24 mois',
 'data analyst h/f _ cdd',
 'data analyst h/f h/f',
 'data analyst ii',
 'data analyst im bereich iiot / ki / predictive maintenan ...',
 'data analyst im bereich iiot / ki / predictive maintenance (m/w/d)',
 'data analyst in the area of iiot / ki / predictive maintenance (m/f/d)',
 'data analyst it',
 'data analyst job in overseas',
 'data analyst m/f',
 'data analyst marketing stratégique - boursorama-(h/f)',
 'data analyst pilotage operationnel h/f',
 'data analyst power bi (m/w/d)',
 'data analyst power bi f/h',
 'data analyst professional programme',
 'data analyst reporting',
 'data analyst return solutions',
 'data analyst sas - h/f',
 'data analyst tableau',
 'data analyst telco',
 'data analyst | deals (m&a) | cdi | h/f',
 'data analyst – web & app (m/w/d)',
 'data analyst, metrics & reporting',
 'data analyst, product intelligence #swx',
 'data analyst, sql/ssis {finance',
 'data analyst- 6 month',
 'data analyst-(h/f)',
 'data analyst/etl developer',
 'data analyst:in',
 'data analyst_frosinone (fr)',
 'data analyste',
 'ecommerce web analyst',
 'junior data analist',
 'junior data analyst',
 'junior data analyst / business intelligence expert (gn)',
 'junior data analyst power bi - contrato 6 meses',
 'junior data analyst sustainability',
 'junior data analyst – aerospace',
 'junior data analyst/associate (m/f/d)',
 'nrs13700 grade v, data analyst',
 'online data analyst',
 'online data analyst (m,f,d)',
 'online data analyst - france',
 'power bi / data analyst (m/w/d)',
 'principal data analyst - growth',
 'privacy data analyst - fluent german',
 'product data analyst',
 'product data analyst with english',
 'quality data analyst (m|w|d)',
 'reliability data analyst',
 'sales data analyst',
 'senior data analyst',
 'senior data analyst (bangkok based, relocation provided)',
 'senior data analyst (f/m/d) - onsite or remote / home office',
 'sql/data analyst (m/w/d)',
 'stage - data analyst h/f',
 'stage | data analyst',
 'statistical data analyst',
 'web analyst f/h en cdi',
 'web data analyst f/h']

В целях ускорения парсинга удалим из датасета лишние строки:

In [9]:
df = df.query('job_title in @job_title_list')

#сбросим индекс
df.reset_index(drop= True , inplace= True)

#проверяем результат
df.index

RangeIndex(start=0, stop=466, step=1)

Продолжаем парсить. Попробуем найти город и страну:

In [10]:
for i in range(len(df['html'])):
    html = df['html'][i]
    soup = BeautifulSoup(html, 'lxml')
    print(soup.find('span', class_ = 'jobs-unified-top-card__bullet').text.strip())

Basel, Basel, Switzerland
Coventry, England, United Kingdom
Coventry, England, United Kingdom
South Molton, England, United Kingdom
Lugano, Ticino, Switzerland
Southampton, England, United Kingdom
Leeds, England, United Kingdom
Nuneaton, England, United Kingdom
Paris, Île-de-France, France
Cambridge, England, United Kingdom
West Midlands, England, United Kingdom
Chester, England, United Kingdom
Cambridge, England, United Kingdom
Craven Arms, England, United Kingdom
Dublin, County Dublin, Ireland
Belfast, Northern Ireland, United Kingdom
Sunderland, England, United Kingdom
Montévrain, Île-de-France, France
Bristol, England, United Kingdom
South Molton, England, United Kingdom
Bristol, England, United Kingdom
Solihull, England, United Kingdom
Dublin, County Dublin, Ireland
Blackpool, England, United Kingdom
Cracow, Małopolskie, Poland
Dijon, Bourgogne-Franche-Comté, France
Alsónémedi, Pest, Hungary
Dublin, County Dublin, Ireland
Manchester, England, United Kingdom
Elliniko-Argyroupoli, Attiki, Greece
Italy
Umeå, Västerbotten, Sweden
North Holland, Netherlands
Vilnius, Vilniaus, Lithuania
Milan, Lombardy, Italy
Stockholm County, Sweden
Luxembourg, Luxembourg
Roubaix, Hauts-de-France, France
Munich, Bavaria, Germany
Milan, Lombardy, Italy
Zaventem, Flemish Region, Belgium
Milan, Lombardy, Italy
Brussels Metropolitan Area
Portugal
West Malling, England, United Kingdom
Greater Paris Metropolitan Region
France
Brussels Metropolitan Area
Lille, Hauts-de-France, France
Milan, Lombardy, Italy
Egham, England, United Kingdom
Milan, Lombardy, Italy
Karlstad, Varmland County, Sweden
Madrid, Community of Madrid, Spain
Roubaix, Hauts-de-France, France
Oxford, England, United Kingdom
Hungary
Brussels, Brussels Region, Belgium
Taibon, Veneto, Italy
Paris, Île-de-France, France
Epsom, England, United Kingdom
Amsterdam, North Holland, Netherlands
Spinea, Veneto, Italy
Greater Paris Metropolitan Region
Greater Palma de Mallorca Metropolitan Area
Brindisi, Apulia, Italy
Amsterdam, North Holland, Netherlands
Luxembourg, Luxembourg
Boulogne-Billancourt, Île-de-France, France
Milan, Lombardy, Italy
Wolfsburg, Lower Saxony, Germany
Nantes, Pays de la Loire, France
Madrid, Community of Madrid, Spain
Derby, England, United Kingdom
Milan, Lombardy, Italy
Lund, Skåne County, Sweden
Amsterdam, North Holland, Netherlands
Greater Paris Metropolitan Region
Garwolin, Mazowieckie, Poland
Paris, Île-de-France, France
Stockholm, Stockholm County, Sweden
Madrid, Community of Madrid, Spain
Milan, Lombardy, Italy
Madrid, Community of Madrid, Spain
Milan, Lombardy, Italy
Massy, Île-de-France, France
Prague, Prague, Czechia
Cracow, Małopolskie, Poland
Middlesbrough, England, United Kingdom
Viladecans, Catalonia, Spain
Barcelona, Catalonia, Spain
Warsaw Metropolitan Area
Eindhoven, North Brabant, Netherlands
Warsaw, Mazowieckie, Poland
Budapest, Hungary
London, England, United Kingdom
Wroclaw Metropolitan Area
Hamburg, Germany
Poland
The Hague, South Holland, Netherlands
London, England, United Kingdom
Chappes, Auvergne-Rhône-Alpes, France
Sintra, Lisbon, Portugal
Brussels, Brussels Region, Belgium
Paris, Île-de-France, France
Riga, Riga, Latvia
Coimbra, Coimbra, Portugal
Tartu, Tartumaa, Estonia
Île-de-France, France
Madrid, Community of Madrid, Spain
Île-de-France, France
Issy-les-Moulineaux, Île-de-France, France
Hawthorn, England, United Kingdom
Greater Barcelona Metropolitan Area
Lyon, Auvergne-Rhône-Alpes, France
Valletta, Malta
Brussels, Brussels Region, Belgium
Galway, County Galway, Ireland
Munich, Bavaria, Germany
Berlin, Germany
Olèrdola, Catalonia, Spain
Neuilly-sur-Seine, Île-de-France, France
Wasserburg (Bodensee), Bavaria, Germany
Gdynia, Pomorskie, Poland
Bordeaux, Nouvelle-Aquitaine, France
Rouen, Normandy, France
Mechelen, Flemish Region, Belgium
Paris, Île-de-France, France
Milton Keynes, England, United Kingdom
Nantes, Pays de la Loire, France
Lille, Hauts-de-France, France
Lille, Hauts-de-France, France
Bari, Apulia, Italy
Vienna, Vienna, Austria
Cerdanyola del Vallès, Catalonia, Spain
Milan, Lombardy, Italy
Naples, Campania, Italy
Baierbrunn, Bavaria, Germany
Lindau, Bavaria, Germany
Bergen op Zoom, North Brabant, Netherlands
Iasi Metropolitan Area
Gdańsk, Pomorskie, Poland
Milan, Lombardy, Italy
Bodelshausen, Baden-Württemberg, Germany
Marlow, England, United Kingdom
Brussels Region, Belgium
Lille, Hauts-de-France, France
Barcelona, Catalonia, Spain
Lisbon, Portugal
Paris, Île-de-France, France
Riga, Latvia
The Randstad, Netherlands
London, England, United Kingdom
Madrid, Community of Madrid, Spain
Berlin, Berlin, Germany
Ghent, Flemish Region, Belgium
Hamburg, Germany
Berlin, Germany
Eindhoven, North Brabant, Netherlands
Cologne, North Rhine-Westphalia, Germany
London, England, United Kingdom
Rijswijk, South Holland, Netherlands
Cologne, North Rhine-Westphalia, Germany
Tessenderlo, Flemish Region, Belgium
Stockholm, Stockholm County, Sweden
Berlin, Berlin, Germany
Amsterdam, North Holland, Netherlands
St.-Ouen, Île-de-France, France
Paris, Île-de-France, France
Buckinghamshire, England, United Kingdom
Bologna, Emilia-Romagna, Italy
Hasselt, Flemish Region, Belgium
Dresden, Saxony, Germany
Cologne Bonn Region
Wiesbaden, Hesse, Germany
Greater Munster Area
Utrecht, Utrecht, Netherlands
Mülheim an der Ruhr, North Rhine-Westphalia, Germany
Lille, Hauts-de-France, France
Zwaagdijk-Oost, North Holland, Netherlands
Heerlen, Limburg, Netherlands
Hatfield, England, United Kingdom
Greater Paris Metropolitan Region
Harlestone, England, United Kingdom
Hook of Holland, South Holland, Netherlands
Greater Banska Bystrica Area
Munich, Bavaria, Germany
Greater Nuremberg Metropolitan Area
Neuilly-sur-Seine, Île-de-France, France
Szczecin, Zachodniopomorskie, Poland
Milan, Lombardy, Italy
Villes, Auvergne-Rhône-Alpes, France
Doncaster, England, United Kingdom
Hamburg, Hamburg, Germany
County Dublin, Ireland
Berlin Metropolitan Area
Villeneuve-d’Ascq, Hauts-de-France, France
London, England, United Kingdom
Warsaw, Mazowieckie, Poland
Toulouse, Occitanie, France
Meudon, Île-de-France, France
Rome, Latium, Italy
Rotterdam, South Holland, Netherlands
Levallois-Perret, Île-de-France, France
Germany
Limburg, Netherlands
Schwäbisch Gmünd, Baden-Württemberg, Germany
Düsseldorf, North Rhine-Westphalia, Germany
Utrecht, Netherlands
Gillingham, England, United Kingdom
Bucharest, Bucharest, Romania
Emmen, Drenthe, Netherlands
Guissona, Catalonia, Spain
Hoofddorp, North Holland, Netherlands
Boulogne-Billancourt, Île-de-France, France
Berlin, Germany
Bath, England, United Kingdom
Boulogne-Billancourt, Île-de-France, France
Bergisch Gladbach, North Rhine-Westphalia, Germany
Cambridge, England, United Kingdom
Nanterre, Île-de-France, France
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Frankfurt, Hesse, Germany
Coventry, England, United Kingdom
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Frankfurt, Hesse, Germany
Mannheim, Baden-Württemberg, Germany
Utrecht, Utrecht, Netherlands
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Rotterdam and The Hague
Łódź, Łódzkie, Poland
St.-Denis, Île-de-France, France
Athens, Attiki, Greece
Warsaw, Mazowieckie, Poland
Dublin, County Dublin, Ireland
London, England, United Kingdom
Barcelona, Catalonia, Spain
The Hague, South Holland, Netherlands
Gdańsk, Pomorskie, Poland
Iráklion, Crete, Greece
Vilnius, Vilniaus, Lithuania
Vaprio d'Adda, Lombardy, Italy
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Gloucestershire, England, United Kingdom
Düsseldorf, North Rhine-Westphalia, Germany
Denmark
Frankfurt am Main, Hesse, Germany
London, England, United Kingdom
Hamburg, Hamburg, Germany
Ahlen, North Rhine-Westphalia, Germany
London, England, United Kingdom
London, England, United Kingdom
Sofia, Sofia City, Bulgaria
Cesate, Lombardy, Italy
Berlin, Berlin, Germany
Binasco, Lombardy, Italy
Bellinzago Lombardo, Lombardy, Italy
Lisbon, Lisbon, Portugal
Cernusco sul Naviglio, Lombardy, Italy
London, England, United Kingdom
Manchester Area, United Kingdom
Colturano, Lombardy, Italy
Truccazzano, Lombardy, Italy
Inzago, Lombardy, Italy
Hamburg, Hamburg, Germany
Pistoia, Tuscany, Italy
Paris, Île-de-France, France
Leipzig, Saxony, Germany
Canegrate, Lombardy, Italy
Greater Pau Area
San Zenone al Lambro, Lombardy, Italy
Cassina de' Pecchi, Lombardy, Italy
West Midlands, England, United Kingdom
Monaco, Monaco, Monaco
Höchberg, Bavaria, Germany
Palermo, Sicily, Italy
Treviso, Veneto, Italy
Thessaloniki, Central Macedonia, Greece
Berlin, Berlin, Germany
Milton Keynes, England, United Kingdom
Poland
Rome, Latium, Italy
Warsaw, Mazowieckie, Poland
Courbevoie, Île-de-France, France
Arluno, Lombardy, Italy
Hereford, England, United Kingdom
Pioltello, Lombardy, Italy
Vittuone, Lombardy, Italy
Rethymno, Crete, Greece
Madrid, Community of Madrid, Spain
Lisbon, Lisbon, Portugal
Vila Nova de Cerveira, Viana do Castelo, Portugal
Hertfordshire, England, United Kingdom
Issy-les-Moulineaux, Île-de-France, France
Arluno, Lombardy, Italy
Wrocław, Dolnośląskie, Poland
Senago, Lombardy, Italy
Brussels, Brussels Region, Belgium
Cusano Milanino, Lombardy, Italy
Dresano, Lombardy, Italy
Douai, Hauts-de-France, France
Cracow, Małopolskie, Poland
Dublin, County Dublin, Ireland
Poland
Flemish Region, Belgium
Zwevezele, Flemish Region, Belgium
Calvignasco, Lombardy, Italy
Poland
Ronda, Andalusia, Spain
Gessate, Lombardy, Italy
Vanzago, Lombardy, Italy
Sesto San Giovanni, Lombardy, Italy
Cornaredo, Lombardy, Italy
Lyon, Auvergne-Rhône-Alpes, France
Leeds, England, United Kingdom
Frosinone, Latium, Italy
Poland
Hamburg, Hamburg, Germany
San Donato Milanese, Lombardy, Italy
Suresnes, Île-de-France, France
Dresden, Saxony, Germany
Lacchiarella, Lombardy, Italy
Munich, Bavaria, Germany
Berlin, Germany
Sparta, Peloponnese, Greece
Corsico, Lombardy, Italy
Madrid, Community of Madrid, Spain
Chaucer, England, United Kingdom
Heidelberg, Baden-Württemberg, Germany
Cusago, Lombardy, Italy
Bremen, Germany
Budapest, Budapest, Hungary
Edinburgh, Scotland, United Kingdom
Dublin, County Dublin, Ireland
Milan, Lombardy, Italy
Netherlands
Sofia, Sofia City, Bulgaria
Arnhem, Gelderland, Netherlands
Aix-en-Provence, Provence-Alpes-Côte d'Azur, France
La Défense, Île-de-France, France
Gießen, Hesse, Germany
Eindhoven Area
Rotterdam, South Holland, Netherlands
Neuilly-sur-Seine, Île-de-France, France
Leiden, South Holland, Netherlands
Boadilla del Monte, Community of Madrid, Spain
Courbevoie, Île-de-France, France
Bracknell, England, United Kingdom
Cracow, Małopolskie, Poland
Manchester, England, United Kingdom
Münster, North Rhine-Westphalia, Germany
Bracknell, England, United Kingdom
London, England, United Kingdom
Neuilly-sur-Seine, Île-de-France, France
Bristol, England, United Kingdom
Stockholm, Stockholm County, Sweden
Osnabrück, Lower Saxony, Germany
Vitry-sur-Seine, Île-de-France, France
Poissy, Île-de-France, France
Cracow, Małopolskie, Poland
Utrecht, Utrecht, Netherlands
Carpiano, Lombardy, Italy
Stockholm, Stockholm County, Sweden
Berlin, Berlin, Germany
Rosate, Lombardy, Italy
Liège, Walloon Region, Belgium
Jonkoping County, Sweden
Croix, Hauts-de-France, France
Paris, Île-de-France, France
Luleå, Norrbotten, Sweden
Croix, Hauts-de-France, France
Paris, Île-de-France, France
Helsingborg, Skåne County, Sweden
Boulogne-Billancourt, Île-de-France, France
Courbevoie, Île-de-France, France
Berlin, Berlin, Germany
London, England, United Kingdom
Fontenay-sous-Bois, Île-de-France, France
Salzburg, Salzburg, Austria
Bollate, Lombardy, Italy
Hamburg, Hamburg, Germany
Krakow Metropolitan Area
Nanterre, Île-de-France, France
Vaprio d'Adda, Lombardy, Italy
Sesto San Giovanni, Lombardy, Italy
San Colombano al Lambro, Lombardy, Italy
Basingstoke, England, United Kingdom
Sundbyberg, Stockholm County, Sweden
Arconate, Lombardy, Italy
Vittuone, Lombardy, Italy
Trezzano Rosa, Lombardy, Italy
West Midlands, England, United Kingdom
Novate Milanese, Lombardy, Italy
Cassano d'Adda, Lombardy, Italy
Paris, Île-de-France, France
Rozzano, Lombardy, Italy
Lisboa, Lisbon, Portugal
Sedriano, Lombardy, Italy
Nanterre, Île-de-France, France
Vanzaghello, Lombardy, Italy
Trezzo sull'Adda, Lombardy, Italy
Warsaw, Mazowieckie, Poland
Boulogne-Billancourt, Île-de-France, France
Marcallo con Casone, Lombardy, Italy
Naples, Campania, Italy
Vermezzo, Lombardy, Italy
Valencia, Valencian Community, Spain

Чаще всего на первом месте в списке мы видим город, на втором - регион, на третьем - страну. Иногда указывается только город и страна, редко - только страна и совсем редко - только регион. Создадим функцию, возвращающую города и страны в соответствии с этим алгоритмом:

In [11]:
def location(data):
    soup = BeautifulSoup(data, 'lxml')
    x = soup.find('span', class_ = 'jobs-unified-top-card__bullet').text.strip().split(',')
    if len(x) == 3:
        city = x[0].strip()
        country = x[2].strip()
    elif len(x) == 2:
        city = x[0].strip()
        country = x[1].strip()
    elif len(x) == 1:
        city = None
        country = ''.join(x)
    else:
        city = None
        country = None
    return pd.Series([city, country])

In [12]:
df[['city','country']] = df['html'].apply(location)

#проверям результат
df.head(1)

,html,job_title,city,country
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland

Проверим, не потребуется ли дополнительная обработка для данных. Выведем уникальные значения городов:

In [13]:
df['city'].unique()

array(['Basel', 'Coventry', 'South Molton', 'Lugano', 'Southampton',
       'Leeds', 'Nuneaton', 'Paris', 'Cambridge', 'West Midlands',
       'Chester', 'Craven Arms', 'Dublin', 'Belfast', 'Sunderland',
       'Montévrain', 'Bristol', 'Solihull', 'Blackpool', 'Cracow',
       'Dijon', 'Alsónémedi', 'Manchester', 'Elliniko-Argyroupoli', None,
       'Umeå', 'North Holland', 'Vilnius', 'Milan', 'Stockholm County',
       'Luxembourg', 'Roubaix', 'Munich', 'Zaventem', 'West Malling',
       'Lille', 'Egham', 'Karlstad', 'Madrid', 'Oxford', 'Brussels',
       'Taibon', 'Epsom', 'Amsterdam', 'Spinea', 'Brindisi',
       'Boulogne-Billancourt', 'Wolfsburg', 'Nantes', 'Derby', 'Lund',
       'Garwolin', 'Stockholm', 'Massy', 'Prague', 'Middlesbrough',
       'Viladecans', 'Barcelona', 'Eindhoven', 'Warsaw', 'Budapest',
       'London', 'Hamburg', 'The Hague', 'Chappes', 'Sintra', 'Riga',
       'Coimbra', 'Tartu', 'Île-de-France', 'Issy-les-Moulineaux',
       'Hawthorn', 'Lyon', 'Valletta', 'Galway', 'Berlin', 'Olèrdola',
       'Neuilly-sur-Seine', 'Wasserburg (Bodensee)', 'Gdynia', 'Bordeaux',
       'Rouen', 'Mechelen', 'Milton Keynes', 'Bari', 'Vienna',
       'Cerdanyola del Vallès', 'Naples', 'Baierbrunn', 'Lindau',
       'Bergen op Zoom', 'Gdańsk', 'Bodelshausen', 'Marlow',
       'Brussels Region', 'Lisbon', 'The Randstad', 'Ghent', 'Cologne',
       'Rijswijk', 'Tessenderlo', 'St.-Ouen', 'Buckinghamshire',
       'Bologna', 'Hasselt', 'Dresden', 'Wiesbaden', 'Utrecht',
       'Mülheim an der Ruhr', 'Zwaagdijk-Oost', 'Heerlen', 'Hatfield',
       'Harlestone', 'Hook of Holland', 'Szczecin', 'Villes', 'Doncaster',
       'County Dublin', 'Villeneuve-d’Ascq', 'Toulouse', 'Meudon', 'Rome',
       'Rotterdam', 'Levallois-Perret', 'Limburg', 'Schwäbisch Gmünd',
       'Düsseldorf', 'Gillingham', 'Bucharest', 'Emmen', 'Guissona',
       'Hoofddorp', 'Bath', 'Bergisch Gladbach', 'Nanterre', 'Frankfurt',
       'Mannheim', 'Łódź', 'St.-Denis', 'Athens', 'Iráklion',
       "Vaprio d'Adda", 'Gloucestershire', 'Frankfurt am Main', 'Ahlen',
       'Sofia', 'Cesate', 'Binasco', 'Bellinzago Lombardo',
       'Cernusco sul Naviglio', 'Manchester Area', 'Colturano',
       'Truccazzano', 'Inzago', 'Pistoia', 'Leipzig', 'Canegrate',
       'San Zenone al Lambro', "Cassina de' Pecchi", 'Monaco', 'Höchberg',
       'Palermo', 'Treviso', 'Thessaloniki', 'Courbevoie', 'Arluno',
       'Hereford', 'Pioltello', 'Vittuone', 'Rethymno',
       'Vila Nova de Cerveira', 'Hertfordshire', 'Wrocław', 'Senago',
       'Cusano Milanino', 'Dresano', 'Douai', 'Flemish Region',
       'Zwevezele', 'Calvignasco', 'Ronda', 'Gessate', 'Vanzago',
       'Sesto San Giovanni', 'Cornaredo', 'Frosinone',
       'San Donato Milanese', 'Suresnes', 'Lacchiarella', 'Sparta',
       'Corsico', 'Chaucer', 'Heidelberg', 'Cusago', 'Bremen',
       'Edinburgh', 'Arnhem', 'Aix-en-Provence', 'La Défense', 'Gießen',
       'Leiden', 'Boadilla del Monte', 'Bracknell', 'Münster',
       'Osnabrück', 'Vitry-sur-Seine', 'Poissy', 'Carpiano', 'Rosate',
       'Liège', 'Jonkoping County', 'Croix', 'Luleå', 'Helsingborg',
       'Fontenay-sous-Bois', 'Salzburg', 'Bollate',
       'San Colombano al Lambro', 'Basingstoke', 'Sundbyberg', 'Arconate',
       'Trezzano Rosa', 'Novate Milanese', "Cassano d'Adda", 'Rozzano',
       'Lisboa', 'Sedriano', 'Vanzaghello', "Trezzo sull'Adda",
       'Marcallo con Casone', 'Vermezzo', 'Valencia'], dtype=object)

С городами на первый взгляд всё в порядке. Основные проблемы ожидаются в колонке стран:

In [14]:
sorted(df['country'].unique())

['Austria',
 'Belgium',
 'Berlin Metropolitan Area',
 'Brussels Metropolitan Area',
 'Bulgaria',
 'Cologne Bonn Region',
 'Czechia',
 'Denmark',
 'Eindhoven Area',
 'Estonia',
 'France',
 'Germany',
 'Greater Banska Bystrica Area',
 'Greater Barcelona Metropolitan Area',
 'Greater Munster Area',
 'Greater Nuremberg Metropolitan Area',
 'Greater Palma de Mallorca Metropolitan Area',
 'Greater Paris Metropolitan Region',
 'Greater Pau Area',
 'Greece',
 'Hungary',
 'Iasi Metropolitan Area',
 'Ireland',
 'Italy',
 'Krakow Metropolitan Area',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Monaco',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Rotterdam and The Hague',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom',
 'Warsaw Metropolitan Area',
 'Wroclaw Metropolitan Area']

Как и ожидалось, в колонку стран спарсилось много названий городских агломераций. Установим соотвествие между ними и каждой страной, создадим словарь, и приведём данные в порядок:

In [15]:
dictionary = {'Berlin Metropolitan Area' : 'Germany', 'Brussels Metropolitan Area' : 'Belgium',
'Cologne Bonn Region' : 'Germany', 'Eindhoven Area' : 'Netherlands', 'Greater Banska Bystrica Area' : 'Slovakia',
'Greater Barcelona Metropolitan Area' : 'Spain', 'Greater Munster Area' : 'Germany',
'Greater Nuremberg Metropolitan Area' : 'Germany', 'Greater Palma de Mallorca Metropolitan Area' : 'Spain',
'Greater Paris Metropolitan Region' : 'France', 'Greater Pau Area' : 'France', 'Iasi Metropolitan Area' : 'Romania',
'Krakow Metropolitan Area' : 'Poland', 'Rotterdam and The Hague' : 'Netherlands', 'Warsaw Metropolitan Area' : 'Poland', 
'Wroclaw Metropolitan Area' : 'Poland'}

df = df.replace({'country': dictionary})

In [16]:
#делаем проверку
sorted(df['country'].unique())

['Austria',
 'Belgium',
 'Bulgaria',
 'Czechia',
 'Denmark',
 'Estonia',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Monaco',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom']

Ищем тип занятости. Лямбда-функцией при ошибках на пропущенных значениях работать не совсем удобно, напишем обычную:

In [17]:
def w_type(data):
    soup = BeautifulSoup(data, 'lxml')
    try:
        x = soup.find('span', class_ = 'jobs-unified-top-card__workplace-type').text.strip()
    except:
        x = None
    return x

Применим её и проверим результат:

In [18]:
df['workplace_type'] = df['html'].apply(w_type)
df.head(1)

,html,job_title,city,country,workplace_type
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site

Ищем наименование компании:

In [19]:
df['company_name'] = df['html'].apply(lambda x: BeautifulSoup(x).find('span', 
                                                            class_ = 'jobs-unified-top-card__company-name').text.strip())
#проверяем результат
df.head(1)

,html,job_title,city,country,workplace_type,company_name
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs

Ищем размер компании (количество работников):

In [20]:
def emp_qvt(data):
    soup = BeautifulSoup(data, 'lxml')
    try:
        x = ''.join(re.findall(r'[\d,]+(?:-[\d,]+)+|\d+(?:,[\d+]+)', soup.find('li', class_ = 'jobs-unified-top-card__job-insight').find_next_sibling().text.strip()))
        if x == '':
            x = None
    except:
        x = None
    return x

In [21]:
df['employees_qvt'] = df['html'].apply(emp_qvt)

#проверяем результат
df.head(1)

,html,job_title,city,country,workplace_type,company_name,employees_qvt
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50

In [22]:
df['employees_qvt'].unique()

array(['11-50', None, '501-1,000', '51-200', '10,001+', '1,001-5,000',
       '201-500', '5,001-10,000', '1-10'], dtype=object)

Как мы можем видеть, всего у нас 8 типов компаний по числу работников. Данные спарсены в формате `object`, что нас на сполностью устраивает, исходя из задач, прописанных в ТЗ.

Сфера деятельности компании находится по тому же тэгу, через разделитель '·'. Воспользуемся этим и выделим сферу деятельности:

In [23]:
def activity_field(data):
    soup = BeautifulSoup(data, 'lxml')
    try:
        x = soup.find('li', class_ = 'jobs-unified-top-card__job-insight').find_next_sibling().text.strip().split('·', 1)[1].strip()
    except:
        x = None
    return x

In [24]:
df['activity_field'] = df['html'].apply(activity_field)

#проверяем результат
df.head(1)

,html,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting

Найдём количество претендентов на вакансию:

In [25]:
def applicants_qvt(data):
    soup = BeautifulSoup(data, 'lxml')
    try:
        x = int(''.join(filter(str.isdigit, soup.find('span', class_ = 'jobs-unified-top-card__applicant-count').text.strip())))
    except:
        x = None
    return x

In [26]:
df['applicants_qvt'] = df['html'].apply(applicants_qvt)

#проверяем результат
df.head(1)

,html,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0

Вычислим дату публикации вакансии, исходя из того, что исходный файл датируется 23 мая 2023г.:

In [27]:
def date(data):
    soup = BeautifulSoup(data, 'lxml')
    x = soup.find('span', class_ = 'jobs-unified-top-card__posted-date').text.strip().split()
    if 'minutes' in x:
        x = datetime.date(2023,5,23)
        return x
    elif 'day' in x:
        x = datetime.date(2023,5,23) - datetime.timedelta(days=int(x[0]))
        return x
    elif 'days' in x:
        x = datetime.date(2023,5,23) - datetime.timedelta(days=int(x[0]))
        return x
    elif 'week' in x:
        x = datetime.date(2023,5,23) - datetime.timedelta(days=int(x[0])*7)
        return x
    elif 'weeks' in x:
        x = datetime.date(2023,5,23) - datetime.timedelta(days=int(x[0])*7)
        return x

In [28]:
df['date'] = df['html'].apply(date)

#проверяем результат
df.head(1)

,html,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt,date
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16

Попытаемся извлечь из текста вакансии требуемые хард скилы. Для этого создадим список наиболее востребованных скилов, встречающихся в вакансиях, и напишем функцию, извлекающую их из описания должности:

In [29]:
skills = ['a/b testing', 'ab testing', 'actian', 'adobe analytics', 'adobe audience manager',
    'adobe experience platform', 'adobe launch', 'adobe target', 'ai', 'airflow',
    'alooma', 'alteryx', 'amazon machine learning', 'amazon web services', 'aml',
    'amplitude', 'ansible', 'apache camel', 'apache nifi', 'apache spark',
    'api', 'asana', 'auth0', 'aws', 'aws glue', 'azure', 'azure data factory',
    'basecamp', 'bash', 'beats', 'big query', 'bigquery', 'birst', 'bitbucket',
    'blendo', 'bootstrap', 'business objects bi', 'c#', 'c++', 'caffe', 'cassandra',
    'cdata sync', 'chronograf', 'ci/cd', 'cicd', 'clickhouse', 'cloudera', 'cluvio',
    'cntk', 'cognos', 'composer', 'computer vision', 'conda', 'confluence',
    'couchbase', 'css', 'd3.js', 'dash', 'dashboard', 'data factory', 'data fusion',
    'data mining', 'data studio', 'data warehouse', 'databricks', 'dataddo',
    'dataflow', 'datahub', 'dataiku', 'datastage', 'dbconvert', 'dbeaver', 'dbt',
    'deep learning', 'dl/ml', 'docker', 'domo', 'dune', 'dv360', 'dynamodb',
    'elasticsearch', 'elt', 'erwin', 'etl', 'etleap', 'excel', 'facebook business manager',
    'fivetran', 'fuzzy', 'ga360', 'gcp', 'gensim', 'ggplot', 'git', 'github', 'gitlab',
    'google ads', 'google analytics', 'google cloud platform', 'google data flow',
    'google optimize', 'google sheets', 'google tag manager', 'google workspace',
    'grafana', 'hadoop', 'hana', 'hanagrafana', 'hbase', 'hdfs', 'hevo data', 'hightouch',
    'hive', 'hivedatabricks', 'html', 'hubspot', 'ibm coremetrics', 'inetsoft',
    'influxdb', 'informatica', 'integrate.io', 'iri voracity', 'izenda', 'java',
    'java script', 'javascript', 'jenkins', 'jira', 'jmp', 'julia', 'jupyter',
    'k2view', 'kafka', 'kantar', 'kapacitor', 'keras', 'kibana', 'kubernetes',
    'lambda', 'linux', 'logstash', 'looker', 'lstm', 'luidgi', 'matillion', 'matlab',
    'matplotlib', 'mendix', 'metabase', 'microsoft sql', 'microsoft sql server',
    'microstrategy', 'miro', 'mixpanel', 'ml', 'ml flow', 'mlflow', 'mongodb', 'mxnet',
    'mysql', 'natural nanguage processing', 'neo4j', 'nlp', 'nltk', 'nosql', 'numpy',
    'oauth', 'octave', 'omniture', 'omnituregitlab', 'openshift', 'openstack',
    'optimizely', 'oracle', 'oracle business intelligence', 'oracle data integrator',
    'pandas', 'panorama', 'pentaho', 'plotly', 'postgre', 'postgresql', 'posthog',
    'power amc', 'power bi', 'power point', 'powerbi', 'powerpivot', 'powerpoint',
    'powerquery', 'pyspark', 'python', 'pytorch', 'pytorchhevo data', 'qlik',
    'qlik sense', 'qlikview', 'querysurge', 'r', 'raphtory', 'rapidminer', 'redash',
    'redis', 'redshift', 'retool', 'rivery', 'rust', 's3', 'sa360', 'salesforce', 'sap',
    'sap business objects', 'sas', 'sas visual analytics', 'scala', 'scikit-learn',
    'scipy', 'seaborn', 'segment', 'selenium', 'sem rush', 'semrush', 'shell', 'shiny',
    'singer', 'sisense', 'skyvia', 'snowflake', 'spacy', 'spark', 'sparkml', 'splunk',
    'spotfire', 'spreadsheet', 'spss', 'sql', 'ssis', 'sssr', 'stambia', 'statistics',
    'statsbot', 'stitch', 'streamlit', 'streamsets', 'svn', 't-sql', 'tableau', 'talend',
    'targit', 'tealium', 'telegraf', 'tensorflow', 'terraapi', 'terraform', 'theano',
    'thoughtspot', 'timeseries', 'trello', 'unix', 'vba', 'vtom', 'webfocus', 'wfh',
    'xplenty', 'xtract.io', 'yellowfin']

In [30]:
def skills_finder(cells, skill_list_2=skills):
    soup = BeautifulSoup(cells, 'lxml')
    cell = soup.find('div', class_ = 'jobs-box__html-content jobs-description-content__text t-14 t-normal jobs-description-content__text--stretch').text
    matched_skills_list=[]
    for i in skill_list_2:
        if i == 'c++':
            if re.search('\Wc\+\+\W', cell.lower()):
                matched_skills_list.append(i)      
        # word_border + rewritten "i" in special symbols + word_border
        else:
            pattern = (
            r'(\b|\W)'
            + re.escape(i)
            + r'(\b|\W)'
            +'|'
            + r'(\b|\W)'
            +re.escape(i.replace(' ', ''))
            + r'(\b|\W)'
        )
            if re.search(pattern, cell.lower()):
                matched_skills_list.append(i)
    return matched_skills_list

In [31]:
df['hard_skills'] = df['html'].apply(skills_finder)

In [32]:
df.head(1)

,html,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt,date,hard_skills
0,"\n <div>\n <div class=""\n jobs-deta...",data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,"[data mining, excel, sap, sas, spss, sql, stat..."

Наводим "последние штрихи" - удаляем столбец `html`, поскольку он теперь нам не нужен:

In [33]:
df.drop('html', axis=1, inplace=True)
df.head(1)

,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt,date,hard_skills
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,"[data mining, excel, sap, sas, spss, sql, stat..."

In [34]:
df.columns

Index(['job_title', 'city', 'country', 'workplace_type', 'company_name',
       'employees_qvt', 'activity_field', 'applicants_qvt', 'date',
       'hard_skills'],
      dtype='object')

Процесс парсинга завершён. Переходим к этапу подготовки данных к визуализации. Проверим датасет на наличие дубликатов. Так как последний столбец у нас содержит тип данных "список", исключим его из проверки:

In [35]:
df.duplicated(subset=['job_title', 'city', 'country', 'workplace_type', 'company_name', 'employees_qvt', 'activity_field',
                      'applicants_qvt', 'date']).sum()

66

Проверим наличие дубликатов визуально:

In [36]:
df[df.duplicated(subset=['job_title', 'city', 'country', 'workplace_type', 'company_name', 'employees_qvt', 'activity_field',
                      'applicants_qvt', 'date'], keep=False)].head(5)

,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt,date,hard_skills
1,data analyst - logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,None,None,NaN,2023-05-16,[]
2,data analyst - logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,None,None,NaN,2023-05-16,[wfh]
221,data analyst (m/w/d),None,Germany,On-site,Charisma-Tec GmbH,1-10,Human Resources Services,21.0,2023-05-18,"[excel, python, sql]"
222,data analyst (m/w/d),None,Germany,On-site,Charisma-Tec GmbH,1-10,Human Resources Services,21.0,2023-05-18,"[excel, python, sql]"
223,data analyst (m/w/d),None,Germany,On-site,Charisma-Tec GmbH,1-10,Human Resources Services,21.0,2023-05-18,"[excel, python, sql]"

Дубликаты действительно присутствуют. Будем исходить из того, что компания на одну должность даёт всё-таки одно объявление, даже если набирает на неё насколько человек. В связи этим, удаляем выявленные дубликаты:

In [37]:
df.drop_duplicates(subset=['job_title', 'city', 'country', 'workplace_type', 'company_name', 'employees_qvt', 'activity_field',
                      'applicants_qvt', 'date'], inplace=True)
#сбросим индекс
df.reset_index(drop= True , inplace= True)

#проверим результат
df.duplicated(subset=['job_title', 'city', 'country', 'workplace_type', 'company_name', 'employees_qvt', 'activity_field',
                      'applicants_qvt', 'date']).sum()

0

Дубликаты успешно удалены.\
Преобразуем теперь списки `hard skills` в строки таблицы. В качестве идентификатора для последующей визуализации в виде дашборда PowerBI оставим `index`:

In [38]:
df_explode = df.explode('hard_skills')
df_explode.head(10)

,job_title,city,country,workplace_type,company_name,employees_qvt,activity_field,applicants_qvt,date,hard_skills
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,data mining
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,excel
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,sap
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,sas
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,spss
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,sql
0,data analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50,Staffing and Recruiting,47.0,2023-05-16,statistics
1,data analyst - logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,None,None,NaN,2023-05-16,NaN
2,data analyst (space & planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,None,None,NaN,2023-05-16,excel
3,data analyst,Lugano,Switzerland,On-site,FORFIRM,None,None,NaN,2023-05-09,aws

Теперь заменим дубликаты навыков, которые мы заложили при поиске:

In [39]:
df_explode['hard_skills'] = df_explode['hard_skills'].replace({'powerbi': 'power bi', 'powerpoint': 'power point', 'javascript': 'java script'})

Таким образом, датасет для построения дашборда готов. Осталось сохранить его на локальном диске:

In [40]:
df_explode.to_csv('df_explode_linkedin.csv', sep=',')