# Class 14: Interactive Data visualizations

Plan for today:
- Quick review of seaborn
- Discuss interactive graphics using plotly 
- If there is time: Discuss creating maps

In [57]:
import YData

# YData.download.download_class_code(14)   # get class code    
# YData.download.download_class_code(14, True)  # get the code with the answers 

YData.download_data("dennys.csv")

YData.download.download_data("States_shapefile.geojson")
YData.download.download_data("state_demographics.csv")
YData.download.download_data("ne_110m_graticules_10.prj")
YData.download.download_data("ne_110m_graticules_10.shp")
YData.download.download_data("ne_110m_graticules_10.shx")
YData.download.download_data("ne_110m_graticules_10.dbf")

The file `dennys.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `States_shapefile.geojson` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `state_demographics.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `ne_110m_graticules_10.prj` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `ne_110m_graticules_10.shp` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `ne_110m_graticules_10.shx` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `ne_110m_graticules_10.dbf` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

If you are using colabs, you should install the YData packages by uncommenting and running the code below and run the code below to mount the your google drive.

In [58]:
# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

In [25]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

## Review of seaborn!

[Seaborn](https://seaborn.pydata.org/index.html) is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics. 

I.e., it is built on top of of matplotlib but produces better looking plots that are easier to create. 

Let's start by examining different themes which can produce better looking plots. We can do this using the `sns.set_theme()` method.

In [60]:
# Import seaborn
import seaborn as sns

# Apply the default theme
sns.set_theme()   # default style is 'darkgrid')
#sns.set_theme(style='whitegrid')

# Side note: Matplotlib also has themes
# plt.style.available
# plt.style.use('fivethirtyeight')

### Penguins!  

Let's get a little more practice with seaborn by continuing to explore the penguins data set.

In [61]:
# Let's look at some penguins
penguins = sns.load_dataset("penguins")

penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Plotting a single quantitative variable using sns.displot()

We can plot a single quantitative variables using the `sns.displot()` function.

Properties we can set include
- `x`: The name of the data column you want to plot
- `hue`: The name of the column that colors each point
- `kind` The type of plot

Different options for `kind` are: “hist”, “kde”, “ecdf”


#### Warm-up exercise 1 

Please create a `sns.displot()` to create a visulation of *flipped length*, where each *species* is in a different color (i.e., different hue). Also, experiment with the "kind" of visualization and choose the kind you think creates the best visualization.

In [1]:
# plot the flipper length

### Pairs plots

One of the most useful visualizations for exploring the relationships between several quantitative variables is to create a "pairs plot" which creates a series of scatter plots between all quantitative variables in the data.  We can do this in seaborn using the `sns.pairplot(data)` function!

#### Warm-up exercise 2 

Use the `pairplot()` function to visualize the relationships between all columns in the `penguins` DataFrame. Also, make each species have a different color.

In [2]:
# Create pair plots for the different varaibles in the penguins data set

<img src = "https://i.imgflip.com/1ezfdq.jpg">

## Interactive data visualizations with plotly

Let's now look at interactive visualizations using the [plotly express package](https://plotly.com/python/plotly-express/). 

Interactive visualizations can't be used with statitic report (such as the pdf used for your class project) but they are useful for exploring data to understand key trends, and these types of graphics can be embedded in webpages. 

Let's start with our favoriate data set to visualize, the gapminder data! The gapminder data comes with the plotly package and can be loaded using the code below.

In [64]:
import plotly.express as px

gapminder = px.data.gapminder()   # the plotly package comes with the gapminder data

print(type(gapminder))

gapminder.head(3)

<class 'pandas.core.frame.DataFrame'>

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4

Let's now get the the gapminder data from 2007. As you know, we can do this using Boolean masking. We can also do this using the `.query()` method!

In [3]:
# Get the gapminder data from only 2007

### Line plots

Let's create a line plot showing life expectancy as a function of the year using the `px.line()` method. In particular, let's set the followign properties of the plot: 

- `x`: Year
- `y`: Life expectancy
- `color`: The continent
- `line_group`: The country
- `hover_name`: The country
- `line_shape`: spline
- `render_mode`: svg to use svg graphics

What do you think of this plot?

In [4]:
# Create an interactive line plot

### Scatter plots

Let's now recreate our scatter plot of country life expectancy as a function of GDP per capita using the `gapminder_2007` data using plotly. In particularly, we can use the `px.scatter(data_frame = , x = , y = , ...)` method which works similar to seaborn's `sns.relplot()` function. 

Let's try out the `px.scatter(data_frame = , x = , y = , ...)` function use the following mappings: 

- `x`: GDP per capita
- `y`: Life Expectancy
- `size`:  The country population
- `color`: Continent 

We can also set the following properties:

- `hover_name`: The name of the country
- `log_x`: Set it to True to make the x-axis on a log10 scale
- `max_size`: Set it to 60 to make the scaling for the population display better

Finally, if we want to have separate facets for columns we can use `facet_col`.

In [5]:
# Create a scatter plot in plotly








# Add axis labels

### Animations

We can also add animations to out plots using the following arguments:

- `animation_frame`: defines which variable to animate over; i.e., each frame in the animation will be one value of this variable.

- `animation_group`: Values from this column or array_like are used to provide object-constancy across animation frames: rows with matching `animation_group`s will be treated as if they describe the same object in each frame. This allows the animation to smoothly interpolate between frames. 

We can also set the x and y ranges of our plots to match the ranges of data over the full animation sequence. 

- `range_x`: The range that the x-values should take
- `range_y`: The range that the y-values should take

In [6]:
# Create an animated scatter plot

### Additional visualizations

There are a number of other visualizations we can create using plotly. Let's briefly explore line graphs, sunburst plots and treemaps. 

Please see the plotly express documentation to learn more about other plots you can create:  https://plotly.com/python/plotly-express/

#### Sunburst plots

Sunburst is a generalization of a pie chart for data that has a hierarchical structure; i.e., it can plot categorical data that has a hierarchical structure.

Let's create a sunburst plot showing how much of the world's population is in each continent at the inner level, and then each country within each continent at the outer level. In particular, let's set the following properties:

- `path`: Should be a list with continent at the inner level and country at the outer level.
- `values`: Should specify that the angle of each segment is given by the countries population 
- `color`: Set to the countries' life expectancies


What do you think of this plot?

In [7]:
# Create a sunburst plot

#### Treemap

Treemaps allow one to view hierarchical relationships by creating a sequence of nested rectangles. We can use plotly's `px.treemap()` function to create interactive tree maps.

Let's create an interactive treemap showing the population of each country separately for each continent, as well as color each country based on the average life expectancy. In particular, let's set the following properties:

- `path`: Should be a list with continent at the highest level and country nested within continent. We can also set the first argument of the list to be `px.Constant('world')` so that at the highest level we get the label "world". 
- `values`: Should specify that the size of each rectangle is equal to a country's population 
- `color`: Set to the countries' life expectancies

What do you think of this plot?

In [8]:
# Create a treemap

#### Pivot tables and heatmaps

Heatmaps allow us to view data that is a function of two variables. 

In order to create a heatmap, we first need first transformat out data into a DataFrame that has appropirate rows and columns. One way we can do this is to use the pandas `.pivot_table(index = , columns = , values = , aggfunc = )` method, where the arguments to this method are:

- `index`: The variable we want in the rows of out DataFrame
- `columns`: The variable we want in the columns of our DataFrame
- `values`: The values we want to be in the DataFrame
- `aggfunc`: The function we will use to aggregate our data 

Let's apply the `.pivot_table()` method to our gapmider data to create a DataFrame called `gapminder_continent_wide` where:

- The rows are the different continents
- The columns are the year
- The values in the DataFrame are the average life expectancy (For each continent in each year)

In [9]:
# Generate a pivot table from the gapminder data

Now that we have the appropriate DataFrame, let's use the plotly `imshow()` function to visualize it!

In [10]:
# use plotly imshow() to visualize the pivot table

In [11]:
# We can create heatmaps in seaborn as well

## 1. Spatial mapping with geopandas

Visualizing spatial data through maps is another powerful way to see trends in data. There are several mapping packages in Python. Here we will use the geopandas package to create maps. 

The geopandas package defines a geopandas DataFrame, which is the same as a pandas DataFrame but has an additional column called `geometry` which specifies geographic information. 

Let's explore this now!

### Visualizing boundaries

Let's start by looking some geopanda DataFrames and visualizing some geometric boundaries.

Below we load the gapminder data again and get the gapminder data from 2007. We also show which maps come with geopandas.

In [16]:
import geopandas as gpd

# see which maps come with geopandas
gpd.datasets.available

['naturalearth_cities', 'naturalearth_lowres', 'nybb']

Let's get a geopandas DataFrame that has th countries in the world...

In [17]:
# View the world geopandas DataFrame

# turn off deprecation warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# read data into a geodataframe
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# print the data type
print(type(world))

# look at the first few rows of the data
world.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [12]:
# Plot a world map with particular properties

In [13]:
# Plot just the United States

### Coordinate reference systems and projections

A coordinate reference system (CRS) is a framework used to precisely measure locations on the surface of the Earth as coordinates. The goal of any spatial reference system is to create a common reference frame in which locations can be measured precisely and consistently as coordinates, which can then be shared unambiguously, so that any recipient can identify the same location that was originally intended by the originator.

There are two different types of coordinate reference systems: Geographic Coordinate Systems and Projected Coordinate Systems. [Projected coordinate systems](https://en.wikipedia.org/wiki/List_of_map_projections) map 3D coordinates into a 2D plane so they can be plotted. Different projected coordiate systems perserve different properties, such as keeping all angles intact which is usefor for navigation (e.g., the Mercator projection) or keeping the size of land areas intact (e.g., the Eckert IV projection). 

A detailed discussion of CRS is beyond the scope of the class. But for the purposes of this class, it is just important that all layers in a map are using the same project (otherwise, for example, data points representing cities and the underlying spatial map won't line up). 

Let's very briefly explore different map projections...

In [78]:
# Read Graticules (lines on a map)
graticules = gpd.read_file("ne_110m_graticules_10.shp")
print(graticules.crs)
graticules.head(3)

EPSG:4326

,degrees,direction,display,dd,ScaleRank,geometry
0,80,N,80 N,80.0,6,"LINESTRING (180.00000 79.99848, 179.99664 79.9..."
1,70,N,70 N,70.0,6,"LINESTRING (180.00000 69.99847, 179.99664 69.9..."
2,60,N,60 N,60.0,6,"LINESTRING (180.00000 59.99866, 179.99664 59.9..."

In [21]:
# Web Mercator projection - perserves angles (EPSG:4326 projection)

print(world.crs) # print the default CRS


# plot the map

EPSG:4326

In [19]:
# Eckert IV is an equal-area projection  ("ESRI:54012")

In [20]:
# Robinson projection - neither equal-area nor conformal ("ESRI:54030")

To learn more about "What your favorite map projection says about you" see: https://xkcd.com/977/

### Maps with layers and markers

We can also plot points on a map. When doing so, it's important that the points and the underlying map use the same coordinate reference system (CRS).

Let's add Denny's locations to the map of the United States!

In [22]:
# Let's start by getting a map of just the United States

In [23]:
# visualize just the United States

In [84]:
# Get the coordinate reference system (CRS) for our map

EPSG:4326

Let's now load our Denny's data!

In [30]:
# Let's load our Denny's data
dennys = pd.read_csv("dennys.csv")
dennys.head(3)

   Unnamed: 0           address       city state    zip  longitude  latitude
0           1       2900 Denali  Anchorage    AK  99503  -149.8767   61.1953
1           2  3850 Debarr Road  Anchorage    AK  99508  -149.8090   61.2097
2           3  1929 Airport Way  Fairbanks    AK  99701  -147.7600   64.8366

To convert longitude and latitude coordinates into geometric objects; i.e., we will convert them into Shaply objects.  We can use the `gpd.points_from_xy(long, lat)` function.

In [31]:
# Let's convert our longitude and latitude coordinates into geometric (Shapely) objects

In [32]:
# Let's now convert out data into a geopandas DataFrame

In [33]:
# We can plot the location of the Denny's using the plot function

In [34]:
# Let's check the CRS

Before plotting data, we should set the appropriate coordinate reference system (CRS). This is partlcularly imporant when we are combining different layers on a map, such as putting city locations on the map that has the outlines of regional borders. 

The CRS that uses longitude and latitude coordinates is the [World Geodetic System 1984 (WGS84)](https://epsg.io/4326). This system is often referred to by its EPSG Geodetic Parameter Dataset code which is `4326`. 

Thus, we should set the set coordinate system to be EPSG 4326. We can do this using the method `.set_crs(4326)`. Let's set this on our `dennys_gpd` DataFrame.

In [35]:
# Let's set the CRS to match the CRS of our map (which is EPSG 4326)

Now that we have our Denny's location in the same coordinate system as our map, we can add the points to the map.

In [36]:
#state_map = gpd.read_file("States_shapefile.geojson")

### Choropleth maps

In choropleth maps, predefined regions are filled in with colors based values of interest. 

Typically to create a choropleth map we join data of interest onto a map. 

Let's explrore this now...

In [37]:
import plotly.express as px

gapminder_2007 = px.data.gapminder().query("year == 2007")   # the plotly package comes with the gapminder data


# Join the gapminder data onto our world map

In [38]:
# Plot a choropleth map of life expectancy

In [39]:
# Change the color scale

In [40]:
# We can plot quantiles

### Anorther choropleth map example

Let's fit a choropleth map examining which states in the USA are growing in terms of people having lots of childern. 

Any thoughts on which state this might be? 

To start, let's load a map with the outlines of the states in the USA, and load demographic data.

In [96]:
state_map = gpd.read_file("States_shapefile.geojson")

print(state_map.crs)

state_map.head(3)

EPSG:4326

,FID,Program,State_Code,State_Name,Flowing_St,FID_1,geometry
0,1,PERMIT TRACKING,AL,ALABAMA,F,919,"POLYGON ((-85.07007 31.98070, -85.11515 31.907..."
1,2,,AK,ALASKA,N,920,"MULTIPOLYGON (((-161.33379 58.73325, -161.3824..."
2,3,AZURITE,AZ,ARIZONA,F,921,"POLYGON ((-114.52063 33.02771, -114.55909 33.0..."

In [97]:
# load demographic data on the states

state_demographics = pd.read_csv("state_demographics.csv")
state_demographics.head(3)

     State     under_5      over_64  bachelors_degree    total
0  Alabama  295811.997   741954.681       1095959.202  4849377
1   Alaska   54518.168    69252.808        202601.300   736732
2  Arizona  430814.976  1070305.956       1810769.196  6731484

In [41]:
# In order to join the DataFrames, we need to make sure the states have the same capitalization

In [42]:
# Join the demographic information on to the the USA map

In [43]:
# Let's plot the map

Is there anything [wrong with this map](https://xkcd.com/1138/)?

In [44]:
# Let's look at the proportion of people under the age of 5

In [45]:
# Let's plot the new map