# Enhance the Resolving Python Framework

In this chapter, you will practice the framework we have explained in the previous chapter with simple Data Visualization exercises.

In this type of exercises we always work with a `DataFrame` and functions from the following python libraries:

1. Matplotlib
2. Seaborn
3. Plotly

Although, we will focus on working with the plotly library because they make awesome interactive charts.

Let us show you an example.

## Example: Tesla stock price over time.

We have the following `DataFrame` that contains information about the Tesla stock price from 2017:

In [1]:
import pandas as pd

df_tsla = pd.read_excel('tsla_stock.xlsx', sheet_name=1, parse_dates=['Date'])
df_tsla

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-01-03,44.066002,42.192001,42.972000,43.397999,29616500,43.397999
1,2017-01-04,45.599998,42.862000,42.950001,45.397999,56067500,45.397999
...,...,...,...,...,...,...,...
1378,2022-06-24,738.200012,708.260010,712.409973,737.119995,31866500,737.119995
1379,2022-06-27,756.209900,727.696594,748.099976,729.130005,21237332,729.130005

And we want to create a line chart with plotly. Therefore, if we apply the Resolving Python Framework, we search for a function within the library that contains the word `line` by pressing the `↹` (TAB Key) after the dot `.` below:

![](src/suggestion-plotly.png)

And voilà; we didn't need to memorise the name of the function. Instead, we have discover it by deduction (we are pretty sure you won't forget in the future).

Now we take a look at the parameters of the function by pressing `⇧ [SHIFT]` + `↹ [TAB]`:

![](src/doc-px-line.png)

Any plotting function will ask you for:

1. The `DataFrame` where you have the data table.
2. The name of the DataFrame columns you want to use in:
    1. The `x-axis`.
    2. The `y-axis`.
    
> Although some functions don't specifically ask for `x` and `y` (you'll need to check the parameters in the following exercises).

So, which columns do we want to place in the line plot?

1. The `Date` in the `x-axis`
2. The `Close` price of the Tesla stock in the `y-axis`

I hope you can relate the same information in the previous chart with the `DataFrame` below:

df_tsla

What if we would like to use another column?

- We change the *ingredients* in the parameters of the function; we change the `Close` column by the `Volume`:

What if we would like to use another figure?

- We change the `line()` function by the `area()` function:

> Check out the **basic charts** of plotly [here](https://plotly.com/python/#basic-charts).

Now it's time for you to practice the [Resolving Python Framework](https://datons.craft.me/h3f5pSQSE7l6RW) by:

1. Discovering the name of the function `px.[TAB]`
2. Checking the parameters of the documentation `px.figure_function([SHIFT] + [TAB])`