<a href="https://colab.research.google.com/github/LamNoem/NumberClassification/blob/main/Data_Cleaning_VIsualization_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data cleaning and familiarizing yourself with the data are often the first steps to any coding project. To do this, the library **Pandas** is most often used.

### Pandas
Pandas is a library that offers high-performance data structures and data analysis tools. A large number of machine learning frameworks support pandas data structure as an input type.

The main data structures offered in pandas are:
* **Dataframe**: a 2 dimensional data structure with columns and rows like a table
* **Series**: a one dimensional list representing a column in a dataframe and can hold any type of data

Let's see how these look like:

In [ ]:
import pandas as pd
df = pd.DataFrame()
series = pd.Series()
print(df)
print(series)

Empty DataFrame
Columns: []
Index: []
Series([], dtype: float64)

<ipython-input-154-a3e3673b911c>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series()

To put data into a series or dataframe, we can do it like so:

to select a specific column of a dataframe, we can index using the column titles as below. What do you think is the difference between the two?

However, majority of the time you will be reading your data into Python rather than make it from scratch. Pandas offers several useful functions for reading data of different formats (.json, .csv etc).
* read_csv()
* read_pickle()
* read_fwf()

are just some examples. We will be using an opensource dataset about the california housing market for the following excercises. It has the following columns
1. `longitude`: A measure of how far west a house is; a higher value is farther west

2. `latitude`: A measure of how far north a house is; a higher value is farther north

3. `housingMedianAge`: Median age of a house within a block; a lower number is a newer building

4. `totalRooms`: Total number of rooms within a block

5. `totalBedrooms`: Total number of bedrooms within a block

6. `population`: Total number of people residing within a block

7. `households`: Total number of households, a group of people residing within a home unit, for a block

8. `medianIncome`: Median income for households within a block of houses (measured in tens of thousands of US Dollars)

9. `medianHouseValue`: Median house value for households within a block (measured in US Dollars)

We can display the first 5 rows by using **head()**.

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep = ",")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

We can see the variable type of each column using dtype:

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Some basic statistics can be easily obtained using describe():

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Manipulating dataframes is very accessible and straightforward. We can add new columns on an existing dataframe by simply calling the new column:

In [ ]:
df['longitude'] #one square bracket will return a series
df[['longitude']] #two square brackets will return a dataframe
print('\n')
df['Avg People per Household'] = df['population']/df['households']
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.846154
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.278761
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.381679

Columns or rows can be dropped using drop():

In [ ]:
#df = df.drop(['total_bedrooms'], axis = 1)
#df.head()

Adding data (rows) to an existing dataframe can be done with concat():

In [ ]:
data = pd.DataFrame({"longitude": [-114.58]
                     , 'latitude': [33.69]
                     , 'housing_median_age': [12]
                     , 'total_rooms': [4245]
                     , 'total_bedrooms': [124]
                     , 'population': [12512]
                     , 'households': [3213]
                     , 'median_income': [23123]
                     , 'median_house_value': [23521]
                     })
pd.concat([df, data], axis = 0, ignore_index = True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.846154
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.278761
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.381679
...,...,...,...,...,...,...,...,...,...,...
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,2.567742
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,2.728070
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,2.715481
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,2.985185
17000,-114.58,33.69,12.0,4245.0,124.0,12512.0,3213.0,23123.0000,23521.0,NaN

Often, we don't want to use the entirety of a dataset, but a smaller or more specific portion. We can specify which rows we want using:
* loc
* iloc
* Python comparitive operators

In [ ]:
animals = pd.DataFrame([[1,2], [4,5], [7,8]],
                       index = ['Cobra', 'Viper', 'Sidewinder'],
                       columns = ['speed', 'shield'])
print(animals.loc['Viper'])

speed     4
shield    5
Name: Viper, dtype: int64

In [ ]:
print(df.iloc[0:200])

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      -114.31     34.19                15.0       5612.0          1283.0
1      -114.47     34.40                19.0       7650.0          1901.0
2      -114.56     33.69                17.0        720.0           174.0
3      -114.57     33.64                14.0       1501.0           337.0
4      -114.57     33.57                20.0       1454.0           326.0
..         ...       ...                 ...          ...             ...
195    -116.38     34.20                14.0       4985.0          1238.0
196    -116.38     34.10                 6.0       2104.0           348.0
197    -116.38     33.74                 7.0      17579.0          3479.0
198    -116.38     33.73                10.0      11836.0          2405.0
199    -116.38     33.71                17.0      12509.0          2460.0

     population  households  median_income  median_house_value  \
0        1015.0       472.0         1.4936             66900.0
1        1129.0       463.0         1.8200             80100.0
2         333.0       117.0         1.6509             85700.0
3         515.0       226.0         3.1917             73400.0
4         624.0       262.0         1.9250             65500.0
..          ...         ...            ...                 ...
195      2517.0       954.0         2.0674             65000.0
196       841.0       320.0         4.1458            116300.0
197      3581.0      1820.0         4.0840            194500.0
198      3811.0      1570.0         4.0079            134500.0
199      2737.0      1423.0         4.5556            258100.0

     Avg People per Household
0                    2.150424
1                    2.438445
2                    2.846154
3                    2.278761
4                    2.381679
..                        ...
195                  2.638365
196                  2.628125
197                  1.967582
198                  2.427389
199                  1.923401

[200 rows x 10 columns]

In [ ]:
pop_over_500 = df[df['population']>500]

pop_over_500[['population']].describe()

         population
count  15395.000000
mean    1546.463137
std     1143.772154
min      501.000000
25%      891.000000
50%     1249.000000
75%     1805.000000
max    35682.000000

**EXCERCISE 1**
Using the previous dataframe of california housing:
1. Make a dataframe containing only longitude and latitude
2. In the new dataframe, make a new column that is a tuple of longitude and latitude
3. Select rows that have a latitude greater than 40 and a longitude smaller than -114
**CHALLENGE** do 3. in a single line
4. select rows where population is smaller than the number of total_bedrooms
5. Create a new column that tells the percentage of rooms that are bedrooms
6. Drop rows where the median_income is smaller than 2 AND the number of households is greater than 400

In [ ]:
#1
ex1_df = df[['longitude','latitude']]
ex1_df.head()

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64
4    -114.57     33.57

In [ ]:
#2
#https://realpython.com/python-zip-function/#:~:text=Python's%20zip()%20function%20is,%2C%20sets%2C%20and%20so%20on.
#above is info on the zip() function
ex1_df['coordinate'] = list(zip(df.longitude, df.latitude))

ex1_df.head()

<ipython-input-165-40097247b5ca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ex1_df['coordinate'] = list(zip(df.longitude, df.latitude))

   longitude  latitude        coordinate
0    -114.31     34.19  (-114.31, 34.19)
1    -114.47     34.40   (-114.47, 34.4)
2    -114.56     33.69  (-114.56, 33.69)
3    -114.57     33.64  (-114.57, 33.64)
4    -114.57     33.57  (-114.57, 33.57)

In [ ]:
#3

large_lat_small_long = pd.concat([ex1_df[ex1_df['latitude']>40], ex1_df[ex1_df['longitude']<-114]], axis = 0, ignore_index = True)
#or
#large_lat_small_long = ex1_df[ (ex1_df['latitude'] > 40) & (ex1_df['longitude'] < -114) ]
large_lat_small_long.head()

   longitude  latitude        coordinate
0    -120.08     41.79  (-120.08, 41.79)
1    -120.12     41.40   (-120.12, 41.4)
2    -120.20     40.26   (-120.2, 40.26)
3    -120.35     40.63  (-120.35, 40.63)
4    -120.37     40.17  (-120.37, 40.17)

In [ ]:
#4
pop_small_bed = df[df['population']<df['total_bedrooms']]
pop_small_bed.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0,1.633094
50,-115.52,34.22,30.0,540.0,136.0,122.0,63.0,1.3333,42500.0,1.936508
110,-115.73,33.35,23.0,1586.0,448.0,338.0,182.0,1.2132,30000.0,1.857143

In [ ]:
#5
df['bedroom_percentage'] = df['total_bedrooms']/df['total_rooms'] * 100

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household,bedroom_percentage
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424,22.861725
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445,24.849673
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.846154,24.166667
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.278761,22.451699
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.381679,22.420908

In [ ]:
#6 Drop rows where the median_income is smaller than 2 AND the number of households is greater than 400

#df = df.drop(df[(df.median_income < 2)].index)
# = df.drop(df[(df.households > 400)].index)
#or
#df_drop = df[ (df['median_income'] < 2) & (df['households'] < 400) ]
#df_dropped = df.drop(df_drop.index, axis = 0)
#df.head()

There are many other useful dataframe methods that provide more details about your dataframe that can be found in the documentation. Here are just a few:
- `.dtypes` prints datatypes of all columns in a DataFrame
- `values` returns all the values of the dataframe in an array format
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

Two more useful methods for data manipulating we will learn about are:
- `.apply()`: applies a function along an axis of a dataframe
- `.groupby()`: groups a dataframe based on a specified condition

In [ ]:
df.values
df['households'].unique()

array([ 472.,  463.,  117., ..., 1392., 1475.,  992.])

In [ ]:
def compare(df):
  if df['population'] > df['total_bedrooms']:
    return 1
  elif df['population'] == df['total_bedrooms']:
    return 0
  else:
    return -1

df['bed_pop_compare'] = df.apply(compare, axis = 1)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household,bedroom_percentage,bed_pop_compare
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424,22.861725,-1
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445,24.849673,-1
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.846154,24.166667,1
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.278761,22.451699,1
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.381679,22.420908,1

In [ ]:
grouped = df.groupby(by = ['bed_pop_compare'])
grouped.mean()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household,bedroom_percentage
bed_pop_compare,,,,,,,,,,,
-1,-118.877325,36.616242,18.464968,3416.974522,729.808917,499.184713,236.095541,3.227466,166405.757962,2.199423,23.765797
0,-117.920000,33.610000,18.000000,1538.000000,425.000000,425.000000,288.000000,5.336900,312500.000000,1.475694,27.633290
1,-119.568589,35.616106,28.684361,2636.521316,537.642738,1438.306614,503.706092,3.889608,207675.888018,2.983668,21.252412

**EXCERCISE 2**
1. Create a new column in `df` that determines the average number of people per household on each block.
2. From your new column, categorize the house according to the following rules:
- if avg number of people per household between 0 and 2 (inclusive): *couple*
- if avg number of people per household between 3 and 5: *family*
- if avg number of people per household greater than 5: *tenants*
3. Give the mean of the median_house_value and median_house_income for each category

In [ ]:
#1
df['average per household'] = df['population']/df['households']
df.head()

#2
def categorize(df):
  if 0 <= df['average per household'] <= 2:
    return 'couple'
  elif 2 < df['average per household'] <= 5:
    return 'family'
  else:
    return 'tenants'

df['household category'] = df.apply(categorize, axis = 1)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Avg People per Household,bedroom_percentage,bed_pop_compare,average per household,household category
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2.150424,22.861725,-1,2.150424,family
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2.438445,24.849673,-1,2.438445,family
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.846154,24.166667,1,2.846154,family
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.278761,22.451699,1,2.278761,family
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.381679,22.420908,1,2.381679,family

In [ ]:
#3
grouped2 = df.groupby(by = ['household category'])
grouped2['median_house_value', 'median_income' ].mean()

<ipython-input-174-ccff9e713be3>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped2['median_house_value', 'median_income' ].mean()

                    median_house_value  median_income
household category
couple                   269741.350877       3.304781
family                   202651.913839       3.948676
tenants                  156639.729242       3.133471

### Data Cleaning
Now that we have a general sense of what pandas is and how to use it, we can start exploring how to us it to clean data. Similar to the previous excercises, data cleaning in pandas is expedited with the use of methods.

In [ ]:
from numpy import NaN
snakes = pd.DataFrame([[NaN, 2, '4', 1, True], [4, 4, 2, NaN, True], [4,4,2, NaN, True], [7,4,6, 0, True], [8, 3, 4, 0, False]],
                      index = ['cobra', 'viper', 'viper', 'black adder', 'sidewinder'],
                      columns = ['health', 'damage', 'speed', 'shield', 'venom'])
snakes

             health  damage speed  shield  venom
cobra           NaN       2     4     1.0   True
viper           4.0       4     2     NaN   True
viper           4.0       4     2     NaN   True
black adder     7.0       4     6     0.0   True
sidewinder      8.0       3     4     0.0  False

Let's first get rid of all the duplicates

In [ ]:
snakes.drop_duplicates(inplace = True)
snakes

             health  damage speed  shield  venom
cobra           NaN       2     4     1.0   True
viper           4.0       4     2     NaN   True
black adder     7.0       4     6     0.0   True
sidewinder      8.0       3     4     0.0  False

`isna()` can be used to determine if an element is a Null/missing value.

In [ ]:
snakes.isna()

             health  damage  speed  shield  venom
cobra          True   False  False   False  False
viper         False   False  False    True  False
black adder   False   False  False   False  False
sidewinder    False   False  False   False  False

There are several ways to deal with missing values:
- `fillna()`
- `dropna()`

In [ ]:
snakes_fill = snakes.fillna(value = 3)
snakes_fill

             health  damage speed  shield  venom
cobra           3.0       2     4     1.0   True
viper           4.0       4     2     3.0   True
black adder     7.0       4     6     0.0   True
sidewinder      8.0       3     4     0.0  False

In [ ]:
snakes_drop = snakes.dropna(axis = 0) #axis = 0 drops the row with a NaN value. axis = 1 drops the column with a NaN value
snakes_drop

             health  damage speed  shield  venom
black adder     7.0       4     6     0.0   True
sidewinder      8.0       3     4     0.0  False

**EXCERCISE 3**
The following is a real dataset of airbnb listings and has the following columns:
- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

Go through this dataset, and try cleaning it for yourself.

In [ ]:
airbnb = pd.read_csv('https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/datasets/airbnb.csv?raw=true', index_col = 'Unnamed: 0')
airbnb

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","(40.63222, -73.93398)",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","(40.78761, -73.96862)",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","(40.7007, -73.99517)",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","(40.79169, -73.97498)",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","(40.71884, -73.98354)",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10014,22307861,Lovely 1BR Harlem apartment,16004068,Rachel,"Manhattan, Harlem","(40.80379, -73.95257)",Entire home/apt,105$,4,2018-05-28,0.21,0,4.757555,4.8,0.639223,2017-11-22
10015,953275,Apartment For Your Holidays in NYC!,4460034,Alain,"Manhattan, East Harlem","(40.79531, -73.9333)",Entire home/apt,125$,50,2018-05-06,0.66,188,4.344704,60.0,0.648778,2017-10-31
10016,3452835,"Artsy, Garden Getaway in Central Brooklyn",666862,Amy,"Brooklyn, Clinton Hill","(40.68266, -73.96743000000002)",Entire home/apt,100$,45,2016-11-27,0.98,0,3.966214,54.0,0.631713,2016-05-24
10017,23540194,"Immaculate townhouse in Clinton Hill, Brooklyn",67176930,Sophie,"Brooklyn, Clinton Hill","(40.68832, -73.96366)",Entire home/apt,450$,2,2019-05-31,0.17,99,4.078581,2.4,0.703360,2018-11-25
10018,32876011,Private room in a perfect location in the city,59583716,Shai,"Manhattan, Upper East Side","(40.76174, -73.96625)",Private room,90$,1,2019-03-12,0.25,8,4.069096,1.2,0.720249,2018-09-06

In [ ]:
#fix missing values
airbnb.dropna(axis = 0, inplace = True)

In [ ]:
#fix that the description of the airbnb is under 'name'
airbnb.rename(columns = {'name':'description'}, inplace = True)

In [ ]:
#5_stars column more accurate
airbnb.rename(columns = {'5_stars':'5_stars(%)'}, inplace = True)
airbnb['5_stars(%)'] = airbnb['5_stars(%)'] * 100

In [ ]:

airbnb['room_type'].values

In [ ]:
airbnb['room_type'].unique()

In [ ]:
#room_type descriptions are not constant, now there will only be
airbnb['room_type'].unique()
airbnb['room_type'] = airbnb['room_type'].str.lower()
airbnb['room_type'] = airbnb['room_type'].str.strip()
room_mappings = {'private room': 'Private room',
                 'private': 'Private room',
                 'entire home/apt': 'Entire Home',
                 'home': 'Entire Home',
                 'shared room': 'Shared Room'}

airbnb['room_types'] = airbnb['room_type'].replace(room_mappings)
airbnb['room_types'].unique()

array(['Private room', 'Entire Home', 'Shared Room'], dtype=object)

In [ ]:
#one row has a rating greater than 5
airbnb['rating'] = airbnb['rating'].where(airbnb['rating'] < 5, 5) #where condition is true, it will keep original value. where it is false it will replace
airbnb.describe()

,listing_id,host_id,price,number_of_reviews,reviews_per_month,availability_365,rating,number_of_stays,5_stars(%),latitude,longitude
count,7.751000e+03,7.751000e+03,7751.000000,7751.000000,7751.000000,7751.000000,7751.000000,7751.000000,7751.000000,7751.000000,7751.000000
mean,1.839945e+07,6.484952e+07,140.296349,28.341375,1.353264,114.527674,4.012835,34.009650,71.855993,40.728354,-73.950778
std,1.069638e+07,7.613429e+07,163.682790,46.942472,1.611995,129.846471,0.575042,56.330967,7.986718,0.055398,0.046944
min,3.831000e+03,2.787000e+03,0.000000,1.000000,0.010000,0.000000,3.000633,1.200000,60.002628,40.508680,-74.239860
25%,9.031185e+06,7.182038e+06,69.000000,3.000000,0.200000,0.000000,3.519038,3.600000,65.545286,40.688665,-73.982290
50%,1.933492e+07,2.956997e+07,105.000000,9.000000,0.710000,54.000000,4.024336,10.800000,70.980083,40.721820,-73.954540
75%,2.791032e+07,1.017999e+08,170.000000,32.000000,2.000000,230.000000,4.514689,38.400000,76.396624,40.763395,-73.935020
max,3.641363e+07,2.733615e+08,8000.000000,510.000000,16.220000,365.000000,5.000000,612.000000,95.033876,40.913060,-73.719280

In [ ]:
#split into neighbourhood and boroughs separately

neighbour_split = airbnb['neighbourhood_full'].str.split(',', expand = True)
airbnb['neighbour'] = neighbour_split[0]
airbnb['borough'] = neighbour_split[1]
airbnb.drop(['neighbourhood_full'], axis = 1, inplace = True)

array(['Private room', 'Entire home/apt', 'Private', 'Shared room',
       'Home'], dtype=object)

In [ ]:
#longitude and latitude split
airbnb['coordinates'] = airbnb['coordinates'].str.replace('(','')
airbnb['coordinates'] = airbnb['coordinates'].str.replace(')','')
airbnb['coordinates'] = airbnb['coordinates'].str.replace(',','')
coordinates_split = airbnb['coordinates'].str.split(expand = True)
latitude = coordinates_split[0]
longitude = coordinates_split[1]
airbnb['latitude'] = latitude.astype(float)
airbnb['longitude'] = longitude.astype(float)
airbnb.drop(['coordinates'], axis = 1, inplace = True)

<ipython-input-198-b7c0f5ea91ef>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace('(','')
<ipython-input-198-b7c0f5ea91ef>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace(')','')

In [ ]:
#price has a dollar sign and is a string
airbnb['price'] = airbnb['price'].str.replace('$','').astype(float)

In [ ]:
#last review and listing added don't match up
airbnb['listing_added'] = pd.to_datetime(airbnb['listing_added'], format = '%Y-%m-%d')
airbnb['last_review'] = pd.to_datetime(airbnb['listing_added'], format = '%Y-%m-%d')
airbnb = airbnb[airbnb['listing_added'] <= airbnb['last_review']]

## Data Visualization

Numerous libraries for data visualization exist:
- `matplotlib`
- `pandas`
- `seaborn`
- `plotly`
- `bokeh`

While each library offers virtually the same functionalities (data visualization, graphing etc), they also have some unique methods in customizing your graphs. Once again, all of the unique differences and methods of a library can be found by going through the documentation of the related library.

We will go over visualizing in matplotlib, probably the most common and familiar plotting library offered in Python.

### Matplotlib

Matplotlib is a comprehensive library that can be used to create static, animated, and interactive visualizations for Python and its numerical extension, Numpy.

To create a graph, we have to first call `subplots()` which returns two things:
1. a figure
2. one or more axes

![1_zxvxtqmcl9rFVj5yN4pNjA.png]()

each axes object can be considered a separate graph and the figure can be considered as a canvas that holds your different plots. The layout and format of the graphs can be customized by accessing the figure:

To make a graph, we can do the following:

This graph is missing some key elements, what do you think they are?

Often times, we want to plot multiple groups of data on the same graph since this makes it easier to compare data. Let's say we wanted to see how the location of a house changes depending on the median_income:

Making other graphs is a very similar process:

**EXCERCISE 4**
From the previous airbnb dataset that you cleaned do the following:
1. Create a pie chart showing the percentage of different room_types offered
2. Determine if there is a relationship between the price and the rating
3. Determine if there is a signficant difference in airbnbs between being in Brooklyn and Manhattan

In [ ]:
price

NameError: ignored