# Fixing out of data google colab files

In [ ]:
#Fixes 'cannot import name 'ops' python'
#if in colab run these

#!pip install tensorflow --upgrade
#!pip install keras --upgrade

In [ ]:
#from keras import ops

#Logging into git and cloning it into the colab runtime files

In [ ]:
#!git version

In [ ]:
#!git config --global user.email “hiscott2000@gmail.com”

In [ ]:
#!git config --global user.name “ScottGrant528”

In [ ]:
#!git clone https://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@github.com/ScottGrant528/honours.git

# Car Price Prediction Tool

In [ ]:
#global imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.model_selection import train_test_split
import tensorflow as tf
#from tensorflow.keras import layers, metrics, Model
#from google.colab import output #uncomment on colab

## Dataset import

From: https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes/data

In [ ]:
#If being ran in google colab turn this on
in_colab = False

if in_colab == True:
    audi = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/audi.csv')
    bmw = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/bmw.csv')
    ford = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/ford.csv')
    hyundi = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/hyundi.csv')
    merc = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/merc.csv')
    skoda = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/skoda.csv')
    toyota = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/toyota.csv')
    vauxhall = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/vauxhall.csv')
    vw = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/vw.csv')
else: 
    audi = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/audi.csv')
    bmw = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/bmw.csv')
    ford = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/ford.csv')
    hyundi = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/hyundi.csv')
    merc = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/merc.csv')
    skoda = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/skoda.csv')
    toyota = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/toyota.csv')
    vauxhall = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/vauxhall.csv')
    vw = pd.read_csv('/Users/scottgrant/Desktop/Honours/honours/honours/datasets/UK_Used_Car_Set/vw.csv')

### Exploring the Datasets

In [ ]:
#Storing the lengths
audi_length = len(audi)
bmw_length = len(bmw)

ford_length = len(ford)
hyundi_length = len(hyundi)
merc_length = len(merc)
skoda_length = len(skoda)
toyota_length = len(toyota)
vauxhall_length = len(vauxhall)
vw_length = len(vw)

# Print the lengths
print("Length of audi:", audi_length)
print("Length of bmw:", bmw_length)
print("Length of ford:", ford_length)
print("Length of hyundi:", hyundi_length)
print("Length of merc:", merc_length)
print("Length of skoda:", skoda_length)
print("Length of toyota:", toyota_length)
print("Length of vauxhall:", vauxhall_length)
print("Length of vw:", vw_length)

# Calculate and print the total length
total_length = sum([audi_length, bmw_length, ford_length, hyundi_length, merc_length, skoda_length, toyota_length, vauxhall_length, vw_length])
print("\nTotal size of the Dataset:", total_length)

In [ ]:
#getting data types information
audi.info()

In [ ]:
#Exploring the unique values in the dataset

### Edited code from Generative AI ###
print(f'The unique values in the Audi dataset are:\n')
def get_unique_values(dataset):
    unique_values_dict = {}
    for column in dataset.columns:
        unique_values = dataset[column].unique()
        unique_values_dict[column] = unique_values
    return unique_values_dict

unique_values_result = get_unique_values(audi)
for column, unique_values in unique_values_result.items():
    print(f"Unique values in the '{column}' column:")
    print(unique_values)
    print("\n")

In [ ]:
#Checking unique values of the engine size column in closer detail
engine_size_counts = audi['engineSize'].value_counts()
print(engine_size_counts)

The Car's with an engine size of '0.0' are electric cars.

In [ ]:
datasets = [audi, bmw, ford, hyundi, merc, skoda, toyota, vauxhall, vw]
engine_size_zero = 0.0
count = 0

for df in datasets:
    engine_size_counts = df['engineSize'].value_counts()
    if 0.0 in engine_size_counts.index:
           count += engine_size_counts[0.0]

# Print the total number of engine sizes equal to 0.0 across all datasets
print(f"Total number of engine sizes equal to {engine_size_zero} across all datasets: {count}")

### Dataset Combination
Combinding the datasets into a singular one

In [ ]:
# Add a 'make' column to each DataFrame
audi['make'] = 'audi'
bmw['make'] = 'bmw'
ford['make'] = 'ford'
hyundi['make'] = 'hyundi'
merc['make'] = 'mercedes'
skoda['make'] = 'skoda'
toyota['make'] = 'toyota'
vauxhall['make'] = 'vauxhall'
vw['make'] = 'volkswagen'
hyundi.head()

In [ ]:
#Rename the column 'tax(£)' to 'tax'
hyundi.rename(columns={'tax(£)': 'tax'}, inplace=True)
hyundi.head()

In [ ]:
#Making a combined used car dataset
UsedCarDataset = pd.DataFrame()

# Concatenate the DataFrames into a single DataFrame
UsedCarDataset = pd.concat(datasets, ignore_index=True)

In [ ]:
#Saving the initial size of the dataset
BeforeSize = UsedCarDataset.shape[0]
print(BeforeSize)

In [ ]:
#Getting an idea of the dataset by looking at random sample data
UsedCarDataset.sample(5)

### Data Visualization

In [ ]:
UsedCarDataset.head()

In [ ]:
#Function to draw a bar plot for a categorical column
def Barplot(column):
  valueCount = UsedCarDataset[column].value_counts()
  valueCount.plot(kind='bar')
  plt.title(f'Distribution of "{column}"')
  plt.xlabel(column)
  plt.ylabel('Count')
  plt.xticks(rotation=45)
  plt.show()

In [ ]:
#Plotting fuelType, Transmission Type and the make of the cars
Barplot('fuelType')
Barplot('transmission')
Barplot('make')

In [ ]:
#Scatter Plot for regression columns
def ScatterPlot(column):
  valueCount = UsedCarDataset[column].value_counts()
  plt.figure(figsize=(10, 6))
  plt.scatter(valueCount.index, valueCount.values, alpha=0.5)
  plt.title(f'Car "{column}" vs. Count')
  plt.xlabel(column)
  plt.ylabel('Count')
  plt.grid(True)
  plt.show()

In [ ]:
#Plotting car price and mileage
ScatterPlot('price')
ScatterPlot('mileage')

In [ ]:
def findAmountOver(column, number):
  selectedCars = UsedCarDataset[UsedCarDataset[column] > number]
  print(f'The number of cars with a {column} over {number} is: {selectedCars.shape[0]}')

def findAmountUnder(column, number):
  selectedCars = UsedCarDataset[UsedCarDataset[column] < number]
  print(f'The number of cars with a {column} under {number} is: {selectedCars.shape[0]}')

In [ ]:
#Finding the outliers
#Mileage
findAmountOver("mileage", 110000)
findAmountUnder("mileage", 2)

#Price
findAmountOver("price", 60000)
findAmountUnder("price", 2000)

Cars **over 100,000 miles** will be **removed** from the output as there is too few of them. There is **no lower limit for mileage** as this dataset includes plenty cars with as little as 1 mileage.

 Cars **under £2,000** and **over £60,000** will be **removed** from the dataset as there is also too few of them.

## Dataset Pre-Processing

### Removing Outliers

Removing Electric cars. These have an engine size of 0 or a fuel type of electric, 'Other' fuel type will also be removed.

In [ ]:
#Functions to drop a group of cars given a column and specific condition (i.e. fuelType = electric or price > 60,000)
#Drops cars matching a specific condition
def DropCars(column, specific):
  df = UsedCarDataset[UsedCarDataset[column] == specific]
  UsedCarDataset.drop(df.index, inplace=True)

#Drops cars over a certain limit
def DropCarsOver(column, limit):
  df = UsedCarDataset[UsedCarDataset[column] > limit]
  UsedCarDataset.drop(df.index, inplace=True)

#Drops cars under a certain limit
def DropCarsUnder(column, limit):
  df = UsedCarDataset[UsedCarDataset[column] < limit]
  UsedCarDataset.drop(df.index, inplace=True)

In [ ]:
#Dropping cars where the engine size is 0
DropCars('engineSize', 0)
#Checking it was successful
UsedCarDataset['engineSize'].value_counts()

In [ ]:
#Dropping cars with a fuelType of other or electric
DropCars('fuelType', 'Other')
DropCars('fuelType', 'Electric')

#Checks it was successful
UsedCarDataset['fuelType'].value_counts()

Removing the all engine sizes with under 100 enteries as these are too few

In [ ]:
# An Array of all engine sizes below 100
engine_sizes_to_remove = [4.4,2.4,5.0,5.5,2.8,3.2,1.9,4.2,4.7,5.2,3.5,6.2,2.7,0.6,6.6,4.1,6.0,3.7,6.3,5.4,4.3,4.5]

#Removes the cars listed in above array
for x in engine_sizes_to_remove:
  DropCars('engineSize', x)

#Checks to see if removal was successful
UsedCarDataset['engineSize'].value_counts()

Removing cars with transmission type of 'Other'

In [ ]:
DropCars('transmission','Other')
UsedCarDataset['transmission'].value_counts()

Removing Pricing Outliers

In [ ]:
#Dropping cars over £60000
print('Before:')
findAmountOver("price", 60000)
DropCarsOver('price', 60000)
#Testing the cars were successfully removed
print('After:')
findAmountOver("price", 60000)

#Dropping cars under £2000
print('Before:')
findAmountUnder("price", 2000)
DropCarsUnder('price', 2000)
print('After:')
findAmountUnder("price", 2000)

#Dropping cars over 100,000 miles
print('Before:')
findAmountOver("mileage", 100000)
DropCarsOver('mileage', 100000)
print('After:')
findAmountOver("mileage", 100000)

Removing Car Model Outliers with less than 10 cars

In [ ]:
modelCount = UsedCarDataset['model'].value_counts()
lowModelCount = modelCount[modelCount < 10].index
#lowModelCount.size

In [ ]:
UsedCarDataset = UsedCarDataset[~UsedCarDataset['model'].isin(lowModelCount)]
UsedCarDataset['model'].value_counts()

In [ ]:
print(f'Used Car Dataset size before pre-processing:{BeforeSize}')
print(f'Used Car Dataset size after pre-processing:{UsedCarDataset.size}')
print(f'There were {BeforeSize - UsedCarDataset.size} cars removed in pre-processing')

### Creating a price-range field

To covert this task of price estimation from a regression based approach to categorical, the price field will be rounded to the nearest 500.

In [ ]:
#function to round the price to the nearest interval
### Adapted Generative AI Code ###
def roundToNearest(price, interval):
  rounded = round(price / interval) * interval
  return rounded

In [ ]:
#Testing Rounding function
print(roundToNearest(1749.99, 500))
print(roundToNearest(2450, 500))

**Inserting the Price Range field**
<br>This is a float64 type and is later converted to Integers

In [ ]:
UsedCarDataset['price_range'] = roundToNearest(UsedCarDataset['price'], 500)
UsedCarDataset.drop(columns=['price'], inplace=True)
UsedCarDataset.head()

### Visualising Price Range Field

In [ ]:
# Set the style of the plot
sns.set(style="whitegrid")

# Plot the distribution of price_range
plt.figure(figsize=(10, 6))
sns.histplot(UsedCarDataset['price_range'], bins=20, kde=False, color='deepskyblue', label='Price Range')

# Overlay a Gaussian distribution
mu, std = norm.fit(UsedCarDataset['price_range'])
xmin, xmax = plt.xlim()
x = np.linspace(xmin, xmax, 100)
p = norm.pdf(x, mu, std) * len(UsedCarDataset['price_range']) * (xmax - xmin) / 20  # Scaling for comparison
plt.plot(x, p, 'k', linewidth=2, label='Gaussian Fit')

plt.title('Distribution of Price Ranges with Gaussian Fit')
plt.xlabel('Price Range')
plt.ylabel('Count')
plt.legend()
plt.show()

### Turning string based features into numerical features

**Changing transmission values to numericals**<br>
Manual = 0 <br>
Automatic = 1 <br>
Semi-Auto = 2

In [ ]:
UsedCarDataset['transmission'].value_counts()

In [ ]:
def numericalFeatureTransformation(mapping_array, column):
  UsedCarDataset[column] = UsedCarDataset[column].replace(mapping_array)
  return UsedCarDataset[column].value_counts()

In [ ]:
# Define the mapping dictionary
transmission_mapping = {'Manual': 0, 'Automatic': 1, 'Semi-Auto': 2}

numericalFeatureTransformation(transmission_mapping, 'transmission')

**Changing make values to numericals**<br>
'ford':0<br>
'volkswagen':1 <br>
'vauxhall':2<br>
'mercedes':3<br>
'bmw':4 <br>
'audi':5<br>
'toyota':6<br>'skoda':7<br>
'hyundi':8

In [ ]:
UsedCarDataset['make'].value_counts()

In [ ]:
make_mapping = {'ford':0, 'volkswagen':1, 'vauxhall':2, 'mercedes':3, 'bmw':4, 'audi':5, 'toyota':6, 'skoda':7, 'hyundi':8}
numericalFeatureTransformation(make_mapping, 'make')

**Changing Fuel Type to Numerical values**

In [ ]:
UsedCarDataset['fuelType'].value_counts()

In [ ]:
fuel_mapping = {'Petrol':0, 'Diesel':1, 'Hybrid':2}
numericalFeatureTransformation(fuel_mapping, 'fuelType')
UsedCarDataset['fuelType'].value_counts()

**Changing model values to numberical values.** <br>
This is done automatically as there is many models

In [ ]:
UsedCarDataset['model'].value_counts()

In [ ]:
### Adapted Generative AI Code ###

#Counter to iterate through different models
counter = 0

#mapping dictonary to store mapping between model names and the number it is assosiated with
model_mapping = {}

for model in UsedCarDataset['model']:
  #Check to see if model has been mapped already
  if model not in model_mapping:
    #if so then assign a new number to it
    model_mapping[model] = counter
    counter += 1

#Now apply this to the dataset
UsedCarDataset['model'] = UsedCarDataset['model'].map(model_mapping)
UsedCarDataset.head()

In [ ]:
# Convert the model mapping dictionary to a DataFrame
model_map_df = pd.DataFrame(list(model_mapping.items()), columns=['Model', 'Numeric Identifier'])

# Print the DataFrame
model_map_df.head(151)

Changing object types to integers

In [ ]:
UsedCarDataset.dtypes

In [ ]:
#function to change a column into an integer
def toInt(column):
  UsedCarDataset[column] = UsedCarDataset[column].astype(int)

In [ ]:
#Putting colums types to int
toInt('model')
toInt('transmission')
toInt('price_range')

In [ ]:
UsedCarDataset.dtypes

Changing year to age

In [ ]:
UsedCarDataset['age'] = 2024 - UsedCarDataset['year']
UsedCarDataset.drop(columns=['year'], inplace=True)
UsedCarDataset.head()

In [ ]:
UsedCarDataset['age'].value_counts()

From the value counts method we see there is a negative age, we need to drop this.

In [ ]:
UsedCarDataset = UsedCarDataset[UsedCarDataset['age'] >= 0]
UsedCarDataset['age'].value_counts()

### Splitting the dataset into X and Y

X is the features (Engine, transmission, mileage etc) <br>
Y is the Target Variable (price)

Code modifed from source: https://builtin.com/data-science/train-test-split

In [ ]:
UsedCarDataset.head()

In [ ]:
features = ['make', 'model', 'transmission', 'mileage', 'fuelType' , 'tax', 'mpg', 'engineSize', 'age']
X_UsedCarDataset = UsedCarDataset.loc[:, features]
y_UsedCarDataset = UsedCarDataset.loc[:, 'price_range']

In [ ]:
X_UsedCarDataset.sample(5)

In [ ]:
y_UsedCarDataset.head()

In [ ]:
#Converting Both into Numpy arrays
#y_UsedCarDataset = y_UsedCarDataset.values
#X_UsedCarDataset = X_UsedCarDataset.values

### Pre-Processing Summary

In [ ]:
print(f'Used Car Dataset size before pre-processing:{BeforeSize}')
print(f'Used Car Dataset size after pre-processing:{UsedCarDataset.shape[0]}')
print(f'There were {BeforeSize - UsedCarDataset.shape[0]} cars removed in pre-processing')

In [ ]:
UsedCarDataset.head()

## Creating the Triplet Network Deep Metric Learner

Based on Keras's Siamese Network with a triplet loss available at: https://keras.io/examples/vision/siamese_network/

Things to do
- Plot loss curve
- Plot price range and compare to a gassian curver - useful for report
- Crossfold - evaluation emethod
tests how robust the function is
stratified varient
- Change tripplet generator to use price range instead of make and model

### Imports

### Creating the Triplets (Positive, Anker and Negative)

Anker is the reference data point <br>
Positive is a similar data point <br>
Negative is a not similar data point

In [ ]:
#Reducing Dataset size due to extreme ram usage
#Sampling a small amount of the dataset
#num_samples_to_keep = int(0.2 * len(UsedCarDataset))
#UsedCarDataset = UsedCarDataset.sample(n=num_samples_to_keep)

In [ ]:
UsedCarDataset.info()

In [ ]:
UsedCarDataset.head()

In [ ]:
#Spliting datasets into train and test
X_train, X_test, y_train, y_test = train_test_split(X_UsedCarDataset, y_UsedCarDataset, test_size=0.2, random_state=42)

In [ ]:
y_train.head()

Creates a set of triplets based on the price_range and make of the car.
- The positive sample is from the same make and model
- While the negative sample is from neither
- A function could be created to use more factors in creating a better positive sample
- Could test with and without selecting make - speak about in report

In [ ]:
from IPython.display import clear_output

In [ ]:
from IPython.display import clear_output
def create_triplets(x, y):
  """
  Create triplets from the datasets x and y.
  Each triplet consists of an anchor, positive, and negative sample.
  """
  #Initalising array to return
  triplets = []

  #Initalising count and previous percentage for printing progress
  count = 0
  prev_percentage = -1

  #Iterating through x
  for index, row in x.iterrows():
    #Extract car make and price_range into their own variables
    make = row['make']
    price_range = y.loc[index] #Access corrosponding index

    #Selecting postive sample by selecting all data points that are the same make and in the same price_range
    #A random sample is then taken of one of the data points
    positive_sample = x[(y == price_range) & (x['make'] == make)].sample(n=1).squeeze().tolist()
    #print(positive_sample)
    #Same again but for a different make and differnt price range
    negative_sample = x[(y != price_range) & (x['make'] != make)].sample(n=1).squeeze().tolist()
    anchor = row.values.tolist()
    triplets.append([anchor, positive_sample, negative_sample])

    #This displays the percenetage of triplets generated
    percentage = round((count/len(x))*100)
    if percentage > prev_percentage:  # Check if percentage has increased
        #output.clear() if in colab use this
        clear_output(wait=True)
        
        print(f'Generated {percentage}% of Triplets.')
    prev_percentage = percentage
    count += 1
  return triplets

Visualisation Function to display 3 triplets

In [ ]:
def find_index(sample, X_UsedCarDataset):
  """
  Find the index of the anchor sample in X_UsedCarDataset that matches the given anchor triplet.
  """
  for index, row in X_UsedCarDataset.iterrows():
    #check if row values match the anchor triplet
    if row.tolist() == sample:
      return index
  return None

In [ ]:
def visualize_triplet(triplet, y_train):
    """
    Visualize a random triplet from the dataset along with their price_range from y_train.
    """
    fig, axs = plt.subplots(1, 3, figsize=(15, 5))

    random_number = np.random.randint(len(triplet))

    # Anchor sample with price_range
    anchor_with_price = f'{triplet[random_number][0]}\nPrice Range: {y_train[find_index(triplet[random_number][0], X_UsedCarDataset)]}'
    axs[0].set_title('Anchor Sample')
    axs[0].text(0.5, 0.5, anchor_with_price, ha='center', va='center', fontsize=12, color='gray')
    axs[0].axis('off')

    # Positive sample with price_range
    positive_with_price = f'{triplet[random_number][1]}\nPrice Range: {y_train[find_index(triplet[random_number][1], X_UsedCarDataset)]}'
    axs[1].set_title('Positive Sample')
    axs[1].text(0.5, 0.5, positive_with_price, ha='center', va='center', fontsize=12, color='gray')
    axs[1].axis('off')

    # Negative sample with price_range
    negative_with_price = f'{triplet[random_number][2]}\nPrice Range: {y_train[find_index(triplet[random_number][2], X_UsedCarDataset)]}'
    axs[2].set_title('Negative Sample')
    axs[2].text(0.5, 0.5, negative_with_price, ha='center', va='center', fontsize=12, color='gray')
    axs[2].axis('off')

    plt.tight_layout()
    plt.show()

Creating Triplets from the X and y datasets

In [ ]:
#Triplets from train sets
train_triplets = create_triplets(X_train, y_train)

In [ ]:
print(train_triplets[1][0])

Visualising the Triplets

In [ ]:
# Visualize a random triplet
print('Samples from Train Set\n')
visualize_triplet(train_triplets, y_train)

### Creating the Multi-Layer Peceptron with Triplet Loss

Imports

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import os
import random
import tensorflow as tf
from pathlib import Path
from keras import applications
from keras import layers
from keras.layers import Input, Flatten
from keras import losses
from keras import ops
from keras import optimizers
from keras import metrics
from keras import Model
from keras.applications import resnet

Setting Up the embedding generator model

In [ ]:
#Anchor, Positive, Negative each with 9 features
target_shape = (9,)
inputs = Input(shape=target_shape)

flatten = layers.Flatten()(inputs)
dense1 = layers.Dense(512, activation="relu")(flatten)
dense1 = layers.BatchNormalization()(dense1)
dense2 = layers.Dense(256, activation="relu")(dense1)
dense2 = layers.BatchNormalization()(dense2)
output = layers.Dense(128)(dense2)
embedding = Model(inputs, output, name='Embedding')

Setting up the MLP Model

In [ ]:
class DistanceLayer(layers.Layer):
    """
    This layer is responsible for computing the distance between the anchor
    embedding and the positive embedding, and the anchor embedding and the
    negative embedding.
    """

    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def call(self, anchor, positive, negative):
        ap_distance = ops.sum(tf.square(anchor - positive), -1)
        an_distance = ops.sum(tf.square(anchor - negative), -1)
        return (ap_distance, an_distance)

anchor_input = layers.Input(name="anchor", shape=target_shape)
positive_input = layers.Input(name="positive", shape=target_shape)
negative_input = layers.Input(name="negative", shape=target_shape)

distances = DistanceLayer()(
    embedding(anchor_input),
    embedding(positive_input),
    embedding(negative_input),
)

siamese_network = Model(
    inputs=[anchor_input, positive_input, negative_input], outputs=distances
)

Building the model class

In [ ]:
class SiameseModel(Model):
    """The Siamese Network model with a custom training and testing loops.

    Computes the triplet loss using the three embeddings produced by the
    Siamese Network.

    The triplet loss is defined as:
       L(A, P, N) = max(‖f(A) - f(P)‖² - ‖f(A) - f(N)‖² + margin, 0)
    """

    def __init__(self, siamese_network, margin=0.5):
        super().__init__()
        self.siamese_network = siamese_network
        self.margin = margin
        self.loss_tracker = metrics.Mean(name="loss")

    def call(self, inputs):
        return self.siamese_network(inputs)

    def train_step(self, data):
        # GradientTape is a context manager that records every operation that
        # you do inside. We are using it here to compute the loss so we can get
        # the gradients and apply them using the optimizer specified in
        # `compile()`.
        with tf.GradientTape() as tape:
            loss = self._compute_loss(data)

        # Storing the gradients of the loss function with respect to the
        # weights/parameters.
        gradients = tape.gradient(loss, self.siamese_network.trainable_weights)

        # Applying the gradients on the model using the specified optimizer
        self.optimizer.apply_gradients(
            zip(gradients, self.siamese_network.trainable_weights)
        )

        # Let's update and return the training loss metric.
        self.loss_tracker.update_state(loss)
        return {"loss": self.loss_tracker.result()}

    def test_step(self, data):
        loss = self._compute_loss(data)

        # Let's update and return the loss metric.
        self.loss_tracker.update_state(loss)
        return {"loss": self.loss_tracker.result()}

    def _compute_loss(self, data):
        # The output of the network is a tuple containing the distances
        # between the anchor and the positive example, and the anchor and
        # the negative example.
        ap_distance, an_distance = self.siamese_network(data)

        # Computing the Triplet Loss by subtracting both distances and
        # making sure we don't get a negative value.
        loss = ap_distance - an_distance
        loss = tf.maximum(loss + self.margin, 0.0)
        return loss

    @property
    def metrics(self):
        # We need to list our metrics here so the `reset_states()` can be
        # called automatically.
        return [self.loss_tracker]

In [ ]:
# model summary (see the number of trainable parameters)
siamese_network.summary()

In [ ]:
anchors = []
positives = []
negatives = []

for triplet in train_triplets:
    anchors.append(triplet[0])
    positives.append(triplet[1])
    negatives.append(triplet[2])

In [ ]:
# Convert lists to TensorFlow datasets
anchor_dataset = tf.data.Dataset.from_tensor_slices(anchors)
positive_dataset = tf.data.Dataset.from_tensor_slices(positives)
negative_dataset = tf.data.Dataset.from_tensor_slices(negatives)

In [ ]:
print(anchor_dataset)

In [ ]:
dataset = tf.data.Dataset.zip((anchor_dataset, positive_dataset, negative_dataset))
dataset = dataset.shuffle(buffer_size=1024)

train_dataset = dataset.take(round(len(dataset) * 0.8))
val_dataset = dataset.skip(round(len(dataset) * 0.8))

train_dataset = train_dataset.batch(32, drop_remainder=False)
train_dataset = train_dataset.prefetch(tf.data.AUTOTUNE)

val_dataset = val_dataset.batch(32, drop_remainder=False)
val_dataset = val_dataset.prefetch(tf.data.AUTOTUNE)

Tested up to 50 Epochs, and it flatlined (loss started flipflopping) at around 35 so that was chosen as the ideal number

In [ ]:
siamese_model = SiameseModel(siamese_network)
siamese_model.compile(optimizer=optimizers.Adam(0.0001))
siamese_model.fit(train_dataset, epochs=35, validation_data=val_dataset)

In [ ]:
sample = next(iter(train_dataset))
anchor, positive, negative = sample
anchor_embedding, positive_embedding, negative_embedding = (
    embedding(anchor),
    embedding(positive),
    embedding(negative),
)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
matcosine_similarity = metrics.CosineSimilarity()

positive_similarity = cosine_similarity(anchor_embedding, positive_embedding)
#print("Positive similarity:", positive_similarity.numpy())

negative_similarity = cosine_similarity(anchor_embedding, negative_embedding)
#print("Negative similarity", negative_similarity)

## Creating the kNN Model

kNN code taken from: [datacamp](https://www.datacamp.com/tutorial/k-nearest-neighbor-classification-scikit-learn)

In [ ]:
#Importing knn from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, mean_squared_error, mean_absolute_error, root_mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [ ]:
kNN = KNeighborsClassifier(n_neighbors=1)

In [ ]:
kNN.fit(X_train, y_train)

In [ ]:
y_pred = kNN.predict(X_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy*100}%')

mse = mean_squared_error(y_test, y_pred)
print(f'MSE: {mse}')

mae = mean_absolute_error(y_test, y_pred)
print(f'MAE: {mae}')

In [ ]:
%%capture 
#Disabling the warnings output ^ 
#Comment cannot be above it

k_values = [i for i in range (1,15)]
scores_mae = []
scores_rsme = []

scaler = StandardScaler()
X = scaler.fit_transform(X_train)
y = y_train
for k in k_values:
    kNN = KNeighborsClassifier(n_neighbors=k)
    kNN.fit(X_train, y_train)
    y_pred = kNN.predict(X_test)
    score_mae = mean_absolute_error(y_test, y_pred)
    score_rsme = mean_squared_error(y_test, y_pred, squared = False)
    scores_mae.append(score_mae)
    scores_rsme.append(score_rsme)

In [ ]:
#Plotting to see k value with best MAE
sns.lineplot(x = k_values, y = scores_mae, marker = 'o')
plt.xlabel("K Values")
plt.ylabel("Mean Absolute Error")

In [ ]:
#Plotting to see k value with best RSME
sns.lineplot(x = k_values, y = scores_rsme, marker = 'o')
plt.xlabel("K Values")
plt.ylabel("Real Mean Squared Error")

By looking at both graphs it is clear that a K value of 1 is best for MAE and RMSE

### kNN baseline

In [ ]:
knn_base = KNeighborsClassifier(n_neighbors=1)
knn_base.fit(X_train, y_train)
y_pred = knn_base.predict(X_test)

In [ ]:
base_mae = mean_absolute_error(y_test, y_pred)
base_rmse = root_mean_squared_error(y_test, y_pred)
print('MAE: ', base_mae)
print('RMSE', base_rmse)

#get neighbours and pull y value then get mean

### kNN on embedded dataset

In [ ]:
emm_x_train = embedding(X_train.values) # embedding X_train with what the DML learnt
emm_x_test = embedding(X_test.values)
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(emm_x_train, y_train) # Training knn on the clustered data
emm_pred = knn.predict(emm_x_test) # Predicting test set

In [ ]:
print(X_train.values)

In [ ]:
emm_mae = mean_absolute_error(y_test, emm_pred)
emm_rmse = root_mean_squared_error(y_test, emm_pred)
print('MAE: ', emm_mae)
print('RMSE: ', emm_rmse)

## Random Forrest Baseline
Taken from: [DataCamp](https://www.datacamp.com/tutorial/random-forests-classifier-python)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf_y_pred = rf.predict(X_test)
rf_mae = mean_absolute_error(y_test, rf_y_pred)
rf_rsme = root_mean_squared_error(y_test, rf_y_pred)
print(f'Random Forrest\nMAE: {rf_mae}')
print(f'RSME: {rf_rsme}')

## Plotting Results

In [ ]:
# y_train is 80%
med = np.median(y_train)
mean = np.mean(y_train)
# y_UsedCarDataset is the entire price range column
whole_med = np.median(y_UsedCarDataset)
whole_mean = np.mean(y_UsedCarDataset)

In [ ]:
print('y_train is the entire price range column.')
print(f'Median: {round(med)}\nMean: {round(mean)}')
print('\ny_UsedCarDataset is 80% of price range column.')
print(f'Median: {round(whole_med)}\nMean: {round(whole_mean)}')

I used y_train as they are so similar

In [ ]:
print('Using Median/Mean Average Error')
print(f'Percentage Accuracy of normal dataset\n{med/base_mae}%')
print(f'Percentage Accuracy of embedded dataset\n{med/emm_mae}%')

print('\nUsing Mean/Mean Average Error')
print(f'Percentage Accuracy of normal dataset\n{mean/base_mae}%')
print(f'Percentage Accuracy of embedded dataset\n{mean/emm_mae}%')

### PCA Graph

https://plotly.com/python/pca-visualization/

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [ ]:
import IPython.utils.traitlets

In [ ]:
#from IPython.utils import traitlets
#from traitlets import Unicode

In [ ]:
type(y_train)

In [ ]:
print(y_train[2])

In [ ]:
def round_to_nearest(x):
    return round(x / 10000) * 10000

y_rounded = y_train.apply(round_to_nearest)

In [ ]:
y_train.head(10)

In [ ]:
y_rounded.head(10)

### 3D PCA Graph

In [ ]:
pca = PCA(n_components=3)

#Normal PCA Graph
components = pca.fit_transform(X_train.values)
fig = px.scatter_3d(components, x=0, y=1, z=2, color=y_rounded, title = 'PCA Graph of Normal Dataset')
fig.show()


#Embedded PCA Graph
components = pca.fit_transform(emm_x_train)
fig = px.scatter_3d(components, x=0, y=1, z=2, color=y_rounded, title = 'PCA Graph of Embedded Dataset')
fig.show()

### 2D PCA Graph

In [ ]:
pca = PCA(n_components=3)

#Normal PCA Graph
components = pca.fit_transform(X_train.values)
fig = px.scatter(components, x=0, y=1, color=y_rounded, title = 'PCA Graph of Normal Dataset')
fig.show()


#Embedded PCA Graph
components = pca.fit_transform(emm_x_train)
fig = px.scatter(components, x=0, y=1, color=y_rounded, title = 'PCA Graph of Embedded Dataset')
fig.show()

## User Input

Example car: [AutoTrader 2023 Audi A3](https://www.autotrader.co.uk/car-details/202403067285834?sort=year-dsc&advertising-location=at_cars&make=Audi&minimum-mileage=500&model=A3&page=4&postcode=ab314sd&transmission=Automatic&year-from=2023&fromsra)
<br><br>
make - Audi<br>
model - A3	<br>
transmission - Automatic 	<br>
mileage	- 17,278<br>
fuelType - Petrol	<br>
tax - 0	<br>
mpg - 55.4	<br>
engineSize - 1.0	<br>
age - 1<br>

<br>
Actual Price: £23,000

In [ ]:
user_car = [[1.0, 3, 1.0, 17278.0, 0.0, 0.0, 55.4, 1.0, 1.0]]

df_user = pd.DataFrame(user_car, columns=['make', 'model', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize', 'age'])
df_user.head()

In [ ]:
emm_user = embedding(df_user)
print(f'The Predicted car price is £{knn.predict(emm_user)[0]}')
print(f'The Predicted car price is £{knn_base.predict(user_car)[0]}')
print(f'The Predicted car price is £{rf.predict(user_car)[0]}')

In [ ]:
X_train.sample(5)

So need to grab 10 cars from Auto Trader and convert them into the numerical format. Test each algorithm on it and see how they perform on this.

BMW 5 Series 2016 49,670 miles Automatic Diesel £35 tax, 62.8mpg 2L £14800 https://www.autotrader.co.uk/car-details/202404128560828?sort=distance&advertising-location=at_cars&make=BMW&model=5%20Series&postcode=ab314sd&fromsra

Ford Focus 2021 Automatic Petrol 19,000 miles 180 tax, 47.9 mpg, 1L 14.950 https://www.autotrader.co.uk/car-details/202403147567694?sort=distance&advertising-location=at_cars&make=Ford&model=Focus&postcode=ab314sd&fromsra

vauxhall astra automatic petrol 5057 miles 190 tax, 50.4 mpg, 1.2l 22,999 https://www.autotrader.co.uk/car-details/202404178735443?sort=distance&advertising-location=at_cars&make=Vauxhall&postcode=ab314sd&fromsra

Mercedes Cla 2020 Automatic petrol 31,896 miles 190 tax 46.3 mpg 1.3L 23,995 https://www.autotrader.co.uk/car-details/202401265918099?sort=distance&advertising-location=at_cars&make=Mercedes-Benz&postcode=ab314sd&fromsra

Volkswagen Golf Automatic petrol 15,400 miles 2020 190 tax, 38.2 mpg 2L https://www.autotrader.co.uk/car-details/202303095069489?sort=distance&advertising-location=at_cars&make=Volkswagen&postcode=ab314sd&fromsra

toyota auris manual petrol 50,000 miles 2017 35 tax, 47.9 mpg 1.2L 9995 https://www.autotrader.co.uk/car-details/202403117436788?sort=distance&twcs=true&advertising-location=at_cars&make=Toyota&postcode=ab314sd&fromsra

hyundi i20 2019 25,568 miles manual petrol £12,000 190 46.3 https://www.autotrader.co.uk/car-details/202402236886814?sort=distance&advertising-location=at_cars&make=Hyundai&postcode=ab314sd&fromsra

audi a4 2019 26,920 miles diesel automatic £22495 tax 190, mpg 44.1 2L https://www.autotrader.co.uk/car-details/202404118543390?sort=distance&advertising-location=at_cars&make=Audi&postcode=ab314sd&fromsra

Ford fiesta 2020 26,162 miles, manual, petrol 1L £12,999 tax 190 mpg 49.6 https://www.autotrader.co.uk/car-details/202404188786332?sort=distance&advertising-location=at_cars&make=Ford&postcode=ab314sd&fromsra

In [ ]:
df_inputted_Cars

:

Check MEAN AVERAGE ERROR on different car makes and Confusion Matric about makes we are better at estimating