  >>>>  ![alt text](https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/50217206_2365792170121006_6776518705783242752_n.jpg?_nc_cat=102&_nc_oc=AQnNat9rX1LDRhzy5UC1M6HFbx7NY1HqCB-mztQYU886KwiFO3UbCoYOET3mexCeYvs&_nc_ht=scontent-ams4-1.xx&oh=5bfda2d191a6de676d569f69481bc967&oe=5E0D1C33)

# Week 2

**Table of Contents**
1. [Quick Recap from Python_Week_1](#quick-recap-from-python-week1)
2. [List | Tuples | Sets | Dictionaries | Files](#list-tuples-sets-dictionaries-files)
3. [Conditionals and branching](#conditionals-and-branching)
4. [Loops: for loops | while loops](#loops)
5. [Functions](#functions)
6. [OOP](#oop)
7.[Numpy](#numpy)
8.[Matplotlib](#matplotlib)
9.[Pandas](#pandas)

<a id='Quick Recap from Python_Week_1'></a>
## Quick Recap from Python_Week_1

**!!! Note**: the only way to get better at writing code is to write code. Lots of it. Good, bad, and everything in between!

# Conditional statements
In the real world, we commonly must evaluate information around us and then choose one course of action or another based on what we observe:
```
"If the weather is nice, then I’ll go out for a beer with my friends. (It’s implied that if the weather isn’t nice, then I won’t go out for a beer with my friends.)"
```

if <expression>:
    <statement>

# Question 1: 
  - what is <expr> in our statement ?
  - what is <statement> in our statement ?

**In a Python program, the *if statement *is how you perform this sort of decision-making. It allows for conditional execution of a statement or group of statements based on the value of an expression.**

In [ ]:
a = 3
b = 5
if a > b:
        print("a is bigger than b")

**if-else branch**

![alt text](http://www.zentut.com/wp-content/uploads/2007/12/c-if-else-statement.png)






**If-else multiple branches**

![alt text](https://media.geeksforgeeks.org/wp-content/uploads/decision-making-c-4.png)

In [ ]:
# Ana is 31 years old, Kate is 23 years old and David is 24 years old.
# Write a program which checks if the Ana is the oldest or not the oldest of the group.
# Print the corresponding message.

ana_age = 15
kate_age = 23
david_age = 24

# if (true) and (true):
if (ana_age > david_age) and (ana_age > kate_age):
    print("Ana is the oldest.")
else:
    print("Ana is not the oldest.")

In [ ]:
#############################################
################ Challenge 1 ################
#############################################

# Write a similar program when you compare 2 variables: x and y. Variable x has value 100.578 and variable y has the value 8000.25.
# Print the corresponding message(if x is bigger than y or if x is smaller than y).

x = 100.578
y = 8000.25

if x > y:
    print("x is bigger than y")
elif x < y:
    print("x is smaller than y")

***Self-lecture (optional):*** [What is a prime number ?](https://whatis.techtarget.com/definition/prime-number)

In [ ]:
#############################################
################ Challenge 2 ################
#############################################

# Write a program which reads a number from the user's input, checks if the number is equal to 1000 and prints out the appropriate message in each condition branch.

number = int(input("Insert a number: "))

if number == 1000:
    print("The number is equal to 1000")
# elif number < 1000:
#     print("The number is lower than 1000")
# else:
#     print("The number is higher than 1000")

In [ ]:
#############################################
################ Challenge 3 ################
#############################################

# Write a program which reads a number from the user's input, checks if the number is an even(divisible by 2) or an odd number and prints out the appropriate message in each case.

number = int(input("Insert a number: "))

if (number % 2 == 0):
  print("The number is even")
else:
  print("The number is odd")

# Loops

> *  for loops
> * while loops

## for loop
If you want to perform actions you may use the usual for loop structure. However, if you need to store the results of your looping activities in a list you can use 'list comprehensions'.

In [ ]:
# For Loops
seq = [1,2,3,4,5]
for i in seq:
    print(i)

In [ ]:
# List Comprehsions
seq2 = [i**2 for i in seq]
print(seq2)

seq3 = [i**2 for i in seq if i % 2 != 0]
print(seq3)

![alt text](https://media.giphy.com/media/SXT4pJujMMyrq7R5Ai/giphy.gif)

In [ ]:
#######################################################
################### Challenge 4 #######################
#######################################################

# Print the text "I am a real Pythonista" 8 times by making use of the for loop.
# The result should look like this:
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista

for i in range (1,9):
    print("I am a real Pythonista")

In [ ]:
#############################################
################ Challenge  ################
################ (optional) #################
#############################################
# Write a program which checks if a given number n is a prime number or not. Print a message accordingly.

# Definition: A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
# The first few prime numbers are {2, 3, 5, 7, 11, ….}.

# Python program to check if  
# given number is prime or not 
  
n = int(input("Input a number: "))
prime = True
divisor = 1


for i in range(2,n): # loop over for all number from 2 to n-1
    divisor += 1       # first divisor would be 2, then 3, then 4, then 5
    if n % divisor == 0:
        prime = False
        break
    else:
        prime = True

# 1 is  considered neither a prime number neither a composite in the Fundamental Theory of Prime Numbers
if n == 1:
    print(1, "is neither prime neither composite")
elif (prime):
    print(n, "is a prime number")
else:
    print(n, "is not a prime number because it is divisable by", divisor)

## **while loop**

In [ ]:
a = 1

while a < 10:
    if a > 5:
        break
    a += 2

print(a)

![alt text](https://media.giphy.com/media/BZ5u98stgro8E/giphy.gif)

In [ ]:
#######################################################
################### Challenge 5 #######################
#######################################################

# Give a number n = 2. Calculate n to the power 10 by making use of the while loop and multiplication operator *. Print the result.
# Hint: the result should be equal to 1024.
n = 2
power = 1

while power <= 10: 
    new_number = n**power
    power += 1

print(new_number)

In [ ]:
# Print out the parity of all numbers up to and including 6.
a = 1
while a < 7:
    if(a % 2 == 0):
        print(a, "is even")
    else:
        print(a, "is odd")
    a += 1

![alt text](https://blog.penjee.com/wp-content/uploads/2016/04/while-loop-modulo-even-numbers-python-animation.gif)


---



---

In [ ]:
#######################################################
################### Challenge 6  #######################
#######################################################

# Write the code from the animation below in this cell and run it.
# Explain what datatypes are used, how many variables, which built-in functions are used and what is the program below doing.

![alt text](https://blog.penjee.com/wp-content/uploads/2015/11/loop-over-python-list-animation.gif)

# Functions

**Function and Variable Naming Convention**

*   Function names should be **lowercase**, with **words separated by underscores** as necessary to improve readability.
*   Variable names follow the same convention as function names, namely **lowercase**, with **words separated by underscores** as necessary to improve readability.



*   It is ok to write quick and dirty scripts to get some job done.
*   Keep in mind that as scripts grow, you will be expected to make them adhere to this guide.


*   **What is bad?**
*user_list, moveInts, swapNums, dict_to_store_defns_of_a_word*

*  **What is good?**
*user_info, move_integers, swap_numbers, word_definitions.*




**INTERESTING READ from Columbia University(optional): if you want to become a Data Scientist**

** Style guide lowclass Python for Data Scientists **
-> https://columbia-applied-data-science.github.io/pages/lowclass-python-style-guide.html

## Functions

Functions take an input, do something with it, and then output the result. Functions can be seen as mini-programs on themselves. 

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Function_machine2.svg/220px-Function_machine2.svg.png)

In Python we have 3 types of functions;
- **Built-in Functions**. We have seen several of these already, such as the `len()`, `min()` and `print()` functions
- User Defined Functions (**UDF**'s) functions that people create themselves
- Anonymous or **Lambda functions** ( not declared with the standard `def` keyword )


watch this [Video about functions](https://www.youtube.com/watch?v=9Os0o3wzS_I)

The syntax for functions in Python is as follows. We have;

- `def statement` | function name | parameter
- body of the function 
- function calls | input an argument


Remember
- a **parameter** is a placeholder for the actual value
- an **argument** is the actual value that is passed in

![alt text](https://drive.google.com/uc?id=1hQV_c74lYUT9lSMD2dltLr_uca80gYK8)

what is the parameter here? and the argument?

In [ ]:
def euro_to_pounds(amount):
  
  euros = amount*0.90
#   print(f'{amount} euros is {euros} pounds!')
  print(str(amount) + ' euros is ' + str(euros) + 'pounds!')
      return euros
  
  
euro_to_pounds(50)

In [ ]:
# we can also create a function without input

def say_hello():
  
  print('Hi there')

say_hello()
say_hello()

Functions make your code more efficient. So if you want to execute the same code multiple times, you won't have to write the same code multiple times. In general, you should always avoid having duplicated code. It is not necessary and when having a bug you will have to remember to change it for each line you wrote the code in.

In [ ]:
name = 'Piet'

def func(n):
    print(name)
    return name

func(name)

- note that when we use `print` there are no quotes from the sting. When we use return the quotes are there. This is because `print` **does not** return the string, but displays it.  
- `print` actually returns a special value called `None`
  - None is a special value, it stands for the lack of a value
  - None doesn't show up when we type it 
- Each function call has a return value. Without the return statement however, your function will return the None value, which is not visible.



---

We can return multiple values at once.
- note that without explicitly telling which variable is which value, is is assumed that the order determines to which var it belongs.

In [ ]:
# declare a function
def multiply(i,j):
    multiplication_result = i * j
    return (multiplication_result, i, j)

# Call function
multiply(j=3,i=4)

In [ ]:
#######################################################
################### Challenge 7 #######################
#######################################################

# Create a function that takes as input the name and age from the user. 
# The function must return the age of the user + his/her name. "... is ... old!"

name = input("What is your name?")
age = int(input("What is your age?"))

def info_about_user(name, age):
    return(name + " is " + str(age) + " old! ")

info_about_user(name,age)

In [ ]:
#######################################################
################### Challenge 8 #######################
#######################################################

# Create a function that takes a number, first multiplies it with 2.71828 then squares the outcome, then times 5. Return the result.

number = int(input("Insert a number: "))
def multiplication(number):
    return(pow((number * 2.71828), 2) * 5)

multiplication(number)

In [ ]:
#######################################################
################### Challenge 9 #######################
#######################################################

# Create a function: what_should_I_drink that first asks the user if today is January or not. 
# If the answer is yes, ask the user what time of the day it is. If the answer is no, say too bad.
# Then, depending on the time of the day, return a different drink for each. (e.g. morning, afternoon, evening)

def what_should_I_drink():
    firstAnswer = input('Is today in January or not?\n')
    if firstAnswer == 'yes':
        secondAnswer = input('What time of the day it is?\n')
        if secondAnswer == 'morning':
            return('Irish coffee')
        elif secondAnswer == 'afternoon':
            return('Tea')
        elif secondAnswer == 'evening':
            return('Wine')
        elif secondAnswer == 'no':
            return('Too bad')
        else:
            return('No valid input, try again')
    else:
        return('No valid input, try again')
                        
what_should_I_drink()

In [ ]:
#######################################################
################### Challenge 10 ######################
#######################################################
#######################################################

# Create a function that has a string as input, such as - 'h sh i hello th hoi j'*- * 
# that returns the string without spaces. The function has to work for inputs from various lengths.

user_string = input('Type your string')

def string_without_spaces(user_string):
    user_string = user_string.replace(' ','')
    return user_string

string_without_spaces(user_string)

**Modules and Libraries in Python**

**Library**
*   collection of functions and methods that allows you to perform many actions without writing much code.
*   *import* statement
*   *wildcard* *


**Module**

* created by You -> we call them "user-defined modules"
* created by others or external source like PyPI.
* preinstalled (already there when you first installed executable).



Most-known & used by Data Scientists | app. 15 Python Libraries | from information extraction to deep learning modules:

*   ***Numpy***: *scientific computing*
*   ***Pandas***: *data manipulation and analysis*
*   ***Matplotlib***: *data visualization*
*   ***Open-CV***: real-time computer vision and image processing. Makes use of NumPy
*   ***PyTorch***: neural network modeling library with GUI
*   ***NLTK***: Language Processing.
*   ***PIL (Python Imaging Library)***: for image manipulation
*   ***Pillow***: derived from PIL
*   ***Beautiful Soup***: extracts info from HTML and XML.
*   ***Scrapy***. Extract data and web crawler.
*   ***SciPy***. Signal processing, optimization and statistics.
*   ***Scikit-learn***. machine learning and data mining.
*   ***Tensorflow***. Machine learning and deep learning.
*   ***Keras***. Neural networks API. Supports deep learning.
*   ***SpaCy***. Large scale extracting and analysing of textual information. Support deep learning.
*   ***Seaborn***. Also for data visualization. Also support for pandas and Numpy.
*   ***Bokeh***. Support large-scale interactivity and visualizations of real-time data sets.
*   ***Plotly***. For making publication-quality plots and graphs. Widely used in finance and geospatial industries.

In [ ]:
# Step1. Install a library (if not installed by default)
conda install [package name]

# if this does not work
pip install [package name]

In [ ]:
# Step 2.Import a library
from <module_name> import <library_name> as <preferred_name>

In [ ]:
import foo                 # foo imported and bound locally
import foo.bar.baz         # foo.bar.baz imported, foo bound locally
import foo.bar.baz as fbb  # foo.bar.baz imported and bound as fbb
from foo.bar import baz    # foo.bar.baz imported and bound as baz
from foo import attr       # foo imported and foo.attr bound as attr

In [ ]:
# example:
from math import pi
print(pi)

# math library has ceil(), round(), factorial(), trigonometric(sin, cos, tan) methods and etc. but also mathematical constants: pi, e= 2.718281, tau 

# What happens if we do:
# from math import pi as p
# print(p)

# Numpy



*   Linear Algebra Library for Python
*   Incredibly fast (as it has bindings to C libraries)
*  **superpower**: arrays . Why would you use Numpy arrays instead of lists? Read [here this awesome Stackoverflow post!](https://stackoverflow.com/questions/993984/what-are-the-advantages-of-numpy-over-regular-python-lists)

In [ ]:
import numpy as np

In [ ]:
import numpy as np

# a = np.array(1,2,3,4)    # WRONG
a = np.array([1,2,3,4])  # RIGHT

In [ ]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

In [ ]:
np.array(my_matrix)

In [ ]:
# Return evenly spaced values within a given interval.
np.arange(0,20)

In [ ]:
np.arange(0,20,2)

In [ ]:
np.zeros(3)

In [ ]:
np.zeros((5,5))

In [ ]:
np.ones(3)

In [ ]:
np.ones((3,3))

### linspace
Return evenly spaced numbers over a specified interval.

In [ ]:
# creating numeric sequence of 3 numbers from 0 to 10 
np.linspace(0,10,3)

In [ ]:
np.linspace(0,10,50)

### max,min,argmax,argmin

These are useful methods for finding max or min values. Or to find their index locations using argmin or argmax

In [ ]:
simple_array = np.array([0.23, -1, 35, 11, -44, 90.21, 0.2, -300, 300.5])

simple_array.max() # returns the max from the array.
simple_array.min() # returns the min from the array.
simple_array.argmax() # returns the indices of the maximum value.
simple_array.argmin() # returns the indices of the minimum value.

In [ ]:
dir(np.array)

### Numpy arrays operations


*   Arrays arithmetic operations
*   Arays with a scalar operations

In [ ]:
array = np.arange(0,10)
array

In [ ]:
# Addition of 2 arrays
array + array

In [ ]:
# Multiplication of 2 arrays
array * array

In [ ]:
# Subtraction between 2 arrays
array - array

In [ ]:
# Division
# Warning on division by zero, but not an error!
# Just replaced with nan
array/array

In [ ]:
# Also warning, but not an error instead infinity
1/array

In [ ]:
# Raise to the power (element-wise)
array**3

# Square the array (element-wise)
np.square(array)

# or power method
np.power(array, 2) # > this is slower than the square. power is used when we want to raise to different powers different elements in the array

In [ ]:
#Taking Square Roots
np.sqrt(array)

In [ ]:
#Calcualting exponential (e^)
np.exp(array)

In [ ]:
#######################################################
################### Challenge 11 #######################
#######################################################

# Create an array of 10 zeros

In [ ]:
#######################################################
################### Challenge 12 ######################
#######################################################

# Create an array of the integers from 10 to 50

In [ ]:
#######################################################
################### Challenge 13 ######################
#######################################################

# Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
#######################################################
################### Challenge 14 ######################
#######################################################

# Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
#######################################################
################### Challenge 15 ######################
#######################################################

# Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
#######################################################
################### Challenge 16 ######################
#######################################################

# Given the matrix below

matrix = np.arange(1,26).reshape(5,5)
matrix

# array([[ 1,  2,  3,  4,  5],
#        [ 6,  7,  8,  9, 10],
#        [11, 12, 13, 14, 15],
#        [16, 17, 18, 19, 20],
#        [21, 22, 23, 24, 25]])

# WRITE CODE  THAT REPRODUCES THE OUTPUT BELOW

# array([[12, 13, 14, 15],
#        [17, 18, 19, 20],
#        [22, 23, 24, 25]])

# Hint: look at the number of rows & columns and think about  operation that has to be applied on the initial matrix.

In [ ]:
#######################################################
################### Challenge 17 ######################
#######################################################

# Given the matrix below, print the sum of all the columns in matrix.

matrix = np.arange(1,26).reshape(5,5)
matrix

for i in range(len(matrix[0])):
    print(sum(matrix[:,i]))

# Pandas

## Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

* Introduction to Pandas
* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

### Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [ ]:
import numpy as np
import pandas as pd

# Create series

# You can convert a list,numpy array, or dictionary to a Series:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list,index=labels)

In [ ]:
pd.Series(my_list,labels)

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan']) 
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser1 + ser2

### DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [ ]:
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [ ]:
df['W']

In [ ]:
# Pass a list of column names
df[['W','Z']]

In [ ]:
type(df['W'])

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
# remove columns
df.drop('new',axis=1)

In [ ]:
# Not inplace unless specified!
df

In [ ]:
# drop rows (remove rows)
df.drop('E',axis=0)

In [ ]:
df

In [ ]:
# selecting rows
df.loc['A']

In [ ]:
# Or select based off of position instead of label 
df.iloc[2]

In [ ]:
# ** Selecting subset of rows and columns **
df.loc['B','Y']

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
df[df>0]

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

In [ ]:
# For two conditions you can use | and & with parenthesis:
df[(df['W']>0) & (df['Y'] > 1)]

### Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating. In this lecture we will discuss these 3 methods with examples.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# concatenation
pd.concat([df1,df2,df3])

pd.concat([df1,df2,df3],axis=1)

### Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

### Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

# Oakland Athletic's challenge for you

Welcome to a quick exercise for you to practice your pandas skills! During the coming weeks we will be using this dataset to build our body of Python skills. Let's get to coding!

*Fun fact: Brad Pitt played the role of Billy Beane, Oakland Athletic's general manager. Its focus is the team's analytical, evidence-based, sabermetric approach to assembling a competitive baseball team, despite Oakland's disadvantaged revenue situation. A definite must see of AI-enthusiasts.*

![alt_text](http://2.bp.blogspot.com/-L8BZ-HVVizs/ToIogdMGV-I/AAAAAAAAAsk/eVODynuBxZE/s1600/moneyball.png)

In [ ]:
# SF Salaries Exercise 
# import pandas
people = pd.read_csv('https://rotterdamai001.blob.core.windows.net/python/mlb/core/People.csv')

# ** Check the head of the DataFrame. **

# ** Use the .info() method to find out descriptive information about the baseball players.**

# What is the average weight of the baseball players? Be careful, there are missing values in this dimension of the dataset.
# Answer expected: 186.8464772243508

# ** Who is the tallest mlb baseball player that we have in our dataset? **
# Answer expected: Jon Rauch

# ** How many baseball players were born in Curacao and played at least one baseball match in the year 2018?
# Tip: Consider using the pd.to_datetime() function...
# Answer expected: 5

hall_of_fame = pd.read_csv('https://rotterdamai001.blob.core.windows.net/python/mlb/core/HallOfFame.csv')
# ** What is the average height and weight of hall of famers that played at least one match between the years 1989 and 1999?**
# Answer expected: ...