In [1]:
# import data management package
import numpy as np
import pandas as pd

# import data visualization package
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import plotly.graph_objs as go

import re

In [2]:
# read data
df = pd.read_csv('match_information.csv')
df.head()

,Unnamed: 0,gameId,gameDuration,gameVersion,platformId,season,winner,1st_baron,1st_dragon,1st_inhibitor,...,t2_baron_kills,t2_champ_kills,t2_dragon_kills,t2_inhibitor_kills,t2_riftHerald_kills,t2_tower_kills,t2_team_assists,t2_team_gold_earn,t2_team_gold_spen,t2_team_kda
0,0,5540777304,2565,11.22.406.3587,EUW1,11,2,1,1,2,...,2,52,4,5,1,11,58,89056,86000,2.619048
1,1,5540794297,1227,11.22.406.3587,EUW1,11,1,0,2,1,...,0,25,1,0,1,0,37,39261,37685,1.476190
2,2,5538104688,2003,11.22.406.3587,EUW1,11,2,1,2,2,...,0,35,4,1,0,7,53,63064,56970,3.259259
3,3,5538059134,1924,11.22.406.3587,EUW1,11,2,2,1,2,...,2,43,2,5,1,11,66,71984,63978,3.114286
4,4,5065924116,3049621,11.2.353.8505,EUW1,11,1,2,2,1,...,1,66,2,1,0,8,93,103306,96280,1.915663

Remove the first column because it won't use on the future research

In [3]:
remo = df.columns[0]
df = df.drop(columns=remo)
df.head()

,gameId,gameDuration,gameVersion,platformId,season,winner,1st_baron,1st_dragon,1st_inhibitor,1st_riftHerald,...,t2_baron_kills,t2_champ_kills,t2_dragon_kills,t2_inhibitor_kills,t2_riftHerald_kills,t2_tower_kills,t2_team_assists,t2_team_gold_earn,t2_team_gold_spen,t2_team_kda
0,5540777304,2565,11.22.406.3587,EUW1,11,2,1,1,2,1,...,2,52,4,5,1,11,58,89056,86000,2.619048
1,5540794297,1227,11.22.406.3587,EUW1,11,1,0,2,1,1,...,0,25,1,0,1,0,37,39261,37685,1.476190
2,5538104688,2003,11.22.406.3587,EUW1,11,2,1,2,2,1,...,0,35,4,1,0,7,53,63064,56970,3.259259
3,5538059134,1924,11.22.406.3587,EUW1,11,2,2,1,2,2,...,2,43,2,5,1,11,66,71984,63978,3.114286
4,5065924116,3049621,11.2.353.8505,EUW1,11,1,2,2,1,1,...,1,66,2,1,0,8,93,103306,96280,1.915663

In [4]:
df.shape

(20817, 31)

Check data type and change data type

In [5]:
df.dtypes

gameId                   int64
gameDuration             int64
gameVersion             object
platformId              object
season                   int64
winner                   int64
1st_baron                int64
1st_dragon               int64
1st_inhibitor            int64
1st_riftHerald           int64
1st_tower                int64
t1_baron_kills           int64
t1_champ_kills           int64
t1_dragon_kills          int64
t1_inhibitor_kills       int64
t1_riftHerald_kills      int64
t1_tower_kills           int64
t1_team_assists          int64
t1_team_gold_earn        int64
t1_team_gold_spen        int64
t1_team_kda            float64
t2_baron_kills           int64
t2_champ_kills           int64
t2_dragon_kills          int64
t2_inhibitor_kills       int64
t2_riftHerald_kills      int64
t2_tower_kills           int64
t2_team_assists          int64
t2_team_gold_earn        int64
t2_team_gold_spen        int64
t2_team_kda            float64
dtype: object

In [6]:
# Change data type for saving memory and future useage
for i in df:
   if df[i].dtypes == "int64":
      df[i] = df[i].astype('int32')
   elif df[i].dtypes == "float64":
      df[i] = df[i].astype('float32')

df.dtypes

gameId                   int32
gameDuration             int32
gameVersion             object
platformId              object
season                   int32
winner                   int32
1st_baron                int32
1st_dragon               int32
1st_inhibitor            int32
1st_riftHerald           int32
1st_tower                int32
t1_baron_kills           int32
t1_champ_kills           int32
t1_dragon_kills          int32
t1_inhibitor_kills       int32
t1_riftHerald_kills      int32
t1_tower_kills           int32
t1_team_assists          int32
t1_team_gold_earn        int32
t1_team_gold_spen        int32
t1_team_kda            float32
t2_baron_kills           int32
t2_champ_kills           int32
t2_dragon_kills          int32
t2_inhibitor_kills       int32
t2_riftHerald_kills      int32
t2_tower_kills           int32
t2_team_assists          int32
t2_team_gold_earn        int32
t2_team_gold_spen        int32
t2_team_kda            float32
dtype: object

Check if there is any null value in the data set, if does, remove those row

In [7]:
df.isnull().sum().sort_values(ascending=False)

gameId                 0
t1_tower_kills         0
t2_team_gold_spen      0
t2_team_gold_earn      0
t2_team_assists        0
t2_tower_kills         0
t2_riftHerald_kills    0
t2_inhibitor_kills     0
t2_dragon_kills        0
t2_champ_kills         0
t2_baron_kills         0
t1_team_kda            0
t1_team_gold_spen      0
t1_team_gold_earn      0
t1_team_assists        0
t1_riftHerald_kills    0
gameDuration           0
t1_inhibitor_kills     0
t1_dragon_kills        0
t1_champ_kills         0
t1_baron_kills         0
1st_tower              0
1st_riftHerald         0
1st_inhibitor          0
1st_dragon             0
1st_baron              0
winner                 0
season                 0
platformId             0
gameVersion            0
t2_team_kda            0
dtype: int64

Check duplicate match, and remove empty record

In [8]:
# From this funtion we find out that there are 18 record is duplicated, so we need to remove them
sta = df['gameId'].duplicated()
cou = 0

for i in sta:
    if i != False:
        cou += 1

print(cou)

1007

In [9]:
# Remove duplicated value
df = df.drop_duplicates(subset=['gameId'])

In [10]:
df.shape

(19810, 31)

In the beginning of the season 11 (before 11.20) has different game duration representation way, so I will change then as the same value.

In [11]:
lis = df['gameVersion'].value_counts().index.tolist()
new = []
old = []

for i in lis:
    if re.match(r'11.2[0-9].[0-9]+', i):
        new.append(i)
    else:
        old.append(i)

In [12]:
# After 11.20 version, GameDuration is count by second
df.loc[df['gameVersion'] == '11.22.406.3587', 'gameDuration'] = round(df['gameDuration'] / 60)
df.loc[df['gameVersion'] == '11.21.403.3002', 'gameDuration'] = round(df['gameDuration'] / 60)
df.loc[df['gameVersion'] == '11.20.400.7328', 'gameDuration'] = round(df['gameDuration'] / 60)
df.loc[df['gameVersion'] == '11.20.400.6413', 'gameDuration'] = round(df['gameDuration'] / 60)

In [13]:
# Before 11.20 version, GameDuration is count by millionsecond
for i in old:
    df.loc[df['gameVersion'] == i, 'gameDuration'] = round(df['gameDuration'] / 60000)

In [14]:
r = df[df['winner'] == 1]['gameDuration']
b = df[df['winner'] == 2]['gameDuration']

t_0 = go.Histogram(x=r, bingroup=25, name='team blue', opacity=0.9)
t_1 = go.Histogram(x=b, bingroup=25, name='team red', opacity=0.9)

layout = go.Layout(title = 'Match time')

data = [t_0, t_1]
fig = go.Figure(data, layout)
py.offline.plot(fig)

'temp-plot.html'

Based on the Graph, we find out that there are some matches are 3 minutes, because 3 minutes is the quickest way to go to the next round due to some player leave the game. This
situation will not be counted on this research, so we can remove those record. and also we find out that there is one matches is over 180 minutes, which is a rare situation, 
we can also remove this recorder.

In [15]:
# Remove those matches less than 10 mintues.
df = df[df['gameDuration'] >= 10]

In [16]:
# Remove those matches more than 60 mintues.
df = df[df['gameDuration'] <= 60]

In [17]:
r = df[df['winner'] == 1]['gameDuration']
b = df[df['winner'] == 2]['gameDuration']

t_0 = go.Histogram(x=r, bingroup=25, name='Team Blue', opacity=0.9)
t_1 = go.Histogram(x=b, bingroup=25, name='Team Red', opacity=0.9)

layout = go.Layout(title = 'Match time')

data = [t_0, t_1]
fig = go.Figure(data, layout)
py.offline.plot(fig)

'temp-plot.html'

In [18]:
df.to_csv("Match_Information_cleaned.csv", index = False)