1. Discuss string slicing and provide examples.

Ans :

String slicing is a way to access parts (or "slices") of a string using indices. In Python, strings are indexed starting from 0, which means each character has a unique position number. You can extract a substring using the slice notation:

string[start:end:step]


*   start: The starting index of the slice (inclusive).
*   end: The ending index of the slice (exclusive).
*   step: The step size, which determines how many characters to skip.


Examples

a. Basic Slicing

In [ ]:
text = "Hello, World!"
print(text[0:5])

Hello

b. Omitting start or end

If you omit the start or end indices, Python will assume you mean the start or end of the string:

In [ ]:
text = "Hello, World!"
print(text[:5])
print(text[7:])

Hello
World!

c. Negative Indices

Negative indices count from the end of the string:

In [ ]:
text = "Hello, World!"
print(text[-6:-1])

World

d. Using step

The step allows you to control the interval of characters you want to extract:

In [ ]:
text = "Hello, World!"
print(text[0:13:2])

Hlo ol!

e. Reversing a String

You can reverse a string using slicing:

In [ ]:
text = "Hello, World!"
print(text[::-1])

!dlroW ,olleH

2. Exaplain the key features of lists in Python.

Ans :

A list in Python is a versatile, ordered collection of elements that can be of any data type. Lists are one of the most commonly used data structures in Python due to their flexibility and ease of use.

The key features of lists in Python are as followed :    

a. Ordered Collection

*   Lists maintain the order of elements. Each element in a list has a specific index starting from 0 for the first item, 1 for the second, and so on.

*   This means the position of items is fixed unless you explicitly change it.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])

apple

b. Mutable (Changeable)

*   Lists are mutable, which means you can change, add, or remove elements after the list is created.

*   You can modify an element by accessing its index and assigning a new value.

In [ ]:
numbers = [1, 2, 3, 4]
numbers[2] = 10
print(numbers)

[1, 2, 10, 4]

c. Dynamic Size

Lists can grow and shrink in size as needed. You can add elements using methods like append() or extend(), and remove elements using remove(), pop(), or del.

In [ ]:
data = [10, 20, 30]
data.append(40)
print(data)

[10, 20, 30, 40]

d. Heterogeneous Elements

A list can contain elements of different data types, such as integers, strings, floats, or even other lists (nested lists).

In [ ]:
mixed_list = [1, 'hello', 3.14, [5, 6, 7]]
print(mixed_list)

[1, 'hello', 3.14, [5, 6, 7]]

e. Indexing and Slicing

You can access individual elements using their index and extract sublists (slices) using slice notation

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
print(colors[1])
print(colors[1:3])

green
['green', 'blue']

f. Built-in Functions and Methods

Python provides a wide range of built-in functions and methods to work with lists, such as:

*   len(): Returns the number of elements in a list.
*   min(), max(): Returns the minimum or maximum value.
*   sum(): Calculates the sum of numeric elements.
*   sort(): Sorts the list in ascending or descending order.
*   reverse(): Reverses the order of elements in the list.
*   count(): Counts the occurrences of a specific element.
*   index(): Returns the first index of a specified value.

In [ ]:
numbers = [5, 2, 9, 1, 5]
print(len(numbers))
print(max(numbers))
numbers.sort()
print(numbers)

5
9
[1, 2, 5, 5, 9]

g. List Comprehension

*   Python supports list comprehensions, a concise way to create lists using a single line of code.
*   It's useful for creating a new list by applying an expression to each element of an existing list.

In [ ]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

h. Nested Lists (Multidimensional Lists)

Lists can contain other lists, allowing the creation of multidimensional arrays.
This is useful for representing matrices or tables.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1])
print(matrix[1][2])

[4, 5, 6]
6

i. Iteration Over Lists

You can iterate over a list using loops, such as for or while, making it easy to process each element.

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
for name in names:
    print(name)

Alice
Bob
Charlie

j. Common List Operations

*   Concatenation: You can concatenate lists using the + operator.
*   Repetition: You can repeat a list using the * operator.
*   Membership: You can check if an item exists in a list using the in keyword.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 2)
print(3 in a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
True

3. Describe how to access, modify, and delete elements in a list with examples.

Ans :    

a. Accessing Elements in a List

You can access elements in a list using their index. In Python, indexing starts from 0 for the first element. You can also use negative indices to access elements from the end of the list.

Example

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Accessing positive indices
print(fruits[0])
print(fruits[2])

# Accessing negative indices
print(fruits[-1])
print(fruits[-3])

# Accessing a slice (sub-list)
print(fruits[1:4])

apple
cherry
elderberry
cherry
['banana', 'cherry', 'date']

b. Modifying Elements in a List

Since lists are mutable, you can change the value of any element by accessing it with its index and assigning a new value.

Example

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Modifying a single element
numbers[2] = 99
print(numbers)

# Modifying a slice of elements
numbers[1:3] = [21, 31]
print(numbers)

# Inserting elements in between by modifying a slice
numbers[2:2] = [15, 25]
print(numbers)

[10, 20, 99, 40, 50]
[10, 21, 31, 40, 50]
[10, 21, 15, 25, 31, 40, 50]

c. Deleting Elements from a List
*   del statement: Remove an element by its index.
*   remove() method: Remove the first occurrence of a specific value.
*   pop() method: Remove an element by its index and return it.
*   clear() method: Remove all elements from the list.

In [6]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# Deleting a single element by index using 'del'
del numbers[2]
print("After deleting index 2:", numbers)

# Deleting multiple elements using slicing
del numbers[1:3]
print("After deleting a slice:", numbers)

# Removing an element by value using 'remove()'
numbers.remove(50)
print("After removing 50:", numbers)

# Removing and getting the last element using 'pop()'
last_element = numbers.pop()
print("After popping the last element:", numbers)
print("Popped element:", last_element)

# 'pop(index)'
specific_element = numbers.pop(0)
print("After popping index 0:", numbers)
print("Popped element:", specific_element)

# 'clear()'
numbers.clear()
print("After clearing the list:", numbers)

After deleting index 2: [10, 20, 40, 50, 60, 70]
After deleting a slice: [10, 50, 60, 70]
After removing 50: [10, 60, 70]
After popping the last element: [10, 60]
Popped element: 70
After popping index 0: [60]
Popped element: 10
After clearing the list: []

4. Compare and contrast tuples and list with example.

Ans :

a. Definition:

*   Tuple: A tuple is an immutable sequence of elements. It is often used for data that should not change.
*   List: A list is a mutable sequence of elements, which means its contents can be modified.

b. Syntax:
*   Tuples are defined using parentheses () or by separating elements with commas.

Example:

In [8]:
my_tuple = (1, 2, 3)



*   Lists are defined using square brackets [].

Example:

In [ ]:
my_list = [1, 2, 3]

c. Mutability:


*   Tuples are immutable; once created, their elements cannot be changed.

Example:

In [10]:
my_tuple = (1, 2, 3)
# my_tuple[1] = 10  # Raises TypeError



*   Lists are mutable; their elements can be modified, added, or removed.

Example

In [11]:
my_list = [1, 2, 3]
my_list[1] = 10
print(my_list)

[1, 10, 3]

d. Methods:


*  Tuples support only a few methods, such as count() and index().

Example:

In [12]:
my_tuple = (1, 2, 3, 2)
print(my_tuple.count(2))
print(my_tuple.index(3))

2
2

* Lists provide many methods for manipulation, such as append(), remove(), pop(), sort(), and more.

Example

In [13]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

e. Performance and Memory:

* Tuples are more memory-efficient and faster than lists due to their immutability.

* Lists consume more memory and are slower since they support dynamic operations.

f. Usage:

* Use tuples when the data is fixed and should not change, such as coordinates or days of the week.

Example:

In [14]:
days = ("Monday", "Tuesday", "Wednesday")

* Use lists when the data may need to be modified, such as a shopping cart or to-do list.

Example:

In [15]:
shopping_list = ["milk", "bread", "eggs"]
shopping_list.append("butter")
print(shopping_list)

['milk', 'bread', 'eggs', 'butter']

5. Describe the key features of set and provide examples of their use.

Ans :    

A set in Python is an unordered collection of unique and immutable elements. It is particularly useful for operations involving membership tests, deduplication, and mathematical operations like unions and intersections.

Key Features:

a. Unordered Collection
* Sets do not maintain the order of elements.
* Example: {3, 1, 2} is equivalent to {1, 2, 3}.

b. Unique Elements
* A set automatically removes duplicate elements.
* Example: {1, 2, 2, 3} becomes {1, 2, 3}.

c. Mutable
* A set can be modified after creation by adding or removing elements.

d. Immutable Elements
* Elements within a set must be immutable (e.g., numbers, strings, tuples).
* Example: You can have (1, 2) in a set, but not [1, 2].

e. Efficient Membership Testing
* Checking if an element is in a set is very fast (average O(1) time complexity).

f. Mathematical Set Operations
* Supports union, intersection, difference, and symmetric difference.

g. No Indexing or Slicing
* Since sets are unordered, you cannot access elements by index.

Examples of Using Sets :    

a. Creating a Set

In [16]:
my_set = {1, 2, 3}
print(my_set)

# Using the `set()` constructor
another_set = set([4, 5, 6])
print(another_set)

{1, 2, 3}
{4, 5, 6}

b. Removing Duplicates from a List

In [17]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

c. Membership Testing

In [18]:
fruits = {"apple", "banana", "cherry"}
print("apple" in fruits)
print("grape" in fruits)

True
False

d. Adding and Removing Elements

In [19]:
my_set = {1, 2, 3}
my_set.add(4)  # Adds an element
print(my_set)

my_set.discard(2)  # Removes an element if it exists
print(my_set)

{1, 2, 3, 4}
{1, 3, 4}

e. Mathematical Operations

In [20]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union
print(set_a | set_b)

# Intersection
print(set_a & set_b)

# Difference
print(set_a - set_b)

# Symmetric Difference
print(set_a ^ set_b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

f. Frozenset

An immutable version of a set.

Example:

In [21]:
frozen = frozenset([1, 2, 3])
print(frozen)

frozenset({1, 2, 3})

6. Discuss the use cases of tuples and set in python programming.

Ans :    

Use Cases of Tuples in Python

Tuples are immutable, ordered collections that are particularly useful when you want to group related data that shouldn't change.

Cases:

a. Data Integrity
* Use tuples to store data that should remain constant throughout the program.

Example:

In [22]:
coordinates = (10.5, 20.2)  # Representing a fixed location

b. Return Multiple Values from a Function
* Functions can return multiple values conveniently using a tuple.

Example:

In [23]:
def get_user_info():
    return "Abhishek", 25  # Tuple returned

name, age = get_user_info()
print(name)
print(age)

Abhishek
25

c. Unpacking Values
* Tuples allow easy unpacking of data.

Example:

In [ ]:
data = (1, 2, 3)
a, b, c = data
print(a, b, c)

d. Using as Dictionary Keys
* Since tuples are hashable, they can be used as keys in dictionaries.

Example:

In [24]:
location = {(40.7128, -74.0060): "New York"}
print(location[(40.7128, -74.0060)])

New York

e. Efficient Iteration
* Use tuples when you need faster iteration compared to lists in scenarios where immutability is desired.

Use Cases of Sets in Python

Sets are unordered collections of unique elements. They are particularly useful for operations involving membership tests, deduplication, and mathematical operations.

Cases:

a. Removing Duplicates
* Use sets to eliminate duplicate elements from a list or collection.

Example:

In [25]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

b. Membership Testing
* Sets provide efficient membership testing with O(1) average time complexity.

Example:

In [26]:
fruits = {"apple", "banana", "cherry"}
print("apple" in fruits)

True

c. Mathematical Operations
* Perform union, intersection, difference, and symmetric difference operations.

Example:

In [27]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a | set_b)  # Union: {1, 2, 3, 4, 5}
print(set_a & set_b)  # Intersection: {3}
print(set_a - set_b)  # Difference: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

d. Finding Common or Unique Elements
* Useful in scenarios like finding common friends, shared interests, or non-overlapping data.

Example:

In [28]:
team_a = {"Alice", "Bob", "Charlie"}
team_b = {"Bob", "David", "Eve"}
common = team_a & team_b
print(common)

{'Bob'}

e. Tracking Unique Items in Large Data
* Sets are ideal for keeping track of unique values in massive datasets.

Example:

In [29]:
log_data = ["user1", "user2", "user1", "user3"]
unique_users = set(log_data)
print(unique_users)

{'user1', 'user2', 'user3'}

f. Efficient Filtering
* Use sets to filter elements based on inclusion or exclusion.

Example:

In [30]:
data = {1, 2, 3, 4, 5}
exclude = {2, 4}
filtered = data - exclude
print(filtered)

{1, 3, 5}

7. Describe how to add, modify, and delete items in a dictionary with example.

Ans :    

Adding Items to a Dictionary

To add items to a dictionary, use the key assignment operator (=) or the update() method.

Example:

In [31]:
# Initial dictionary
person = {"name": "Alice", "age": 25}

# Add a new key-value pair
person["city"] = "New York"
print(person)

# Using update() to add multiple items
person.update({"gender": "female", "profession": "Engineer"})
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'New York', 'gender': 'female', 'profession': 'Engineer'}

Modifying Items in a Dictionary

To modify the value of an existing key, reassign a new value to that key.

Example:

In [32]:
# Modify an existing key
person["age"] = 30
print(person)

# Modify multiple items using update()
person.update({"city": "Los Angeles", "profession": "Designer"})
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'gender': 'female', 'profession': 'Engineer'}
{'name': 'Alice', 'age': 30, 'city': 'Los Angeles', 'gender': 'female', 'profession': 'Designer'}

Deleting Items in a Dictionary

You can delete items using the following methods:

* del Statement: Removes a specific key-value pair.
* pop() Method: Removes a key-value pair and returns the value.
* popitem() Method: Removes and returns the last inserted key-value pair.
* clear() Method: Removes all items from the dictionary.

Example:

In [33]:
# Deleting a specific key-value pair using del
del person["gender"]
print(person)

# Deleting and retrieving a value using pop()
profession = person.pop("profession")
print(profession)
print(person)

# Deleting the last inserted key-value pair using popitem()
last_item = person.popitem()
print(last_item)
print(person)

# Clearing the dictionary
person.clear()
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Los Angeles', 'profession': 'Designer'}
Designer
{'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}
('city', 'Los Angeles')
{'name': 'Alice', 'age': 30}
{}

8. Discuss the importance of dictionary key being immutable and provide examples.

Ans :    

In Python, dictionary keys must be immutable. This restriction is crucial because dictionaries are implemented as hash tables, and the keys are hashed to determine where to store or retrieve values. If a key were mutable, its hash value could change, leading to unpredictable behavior or errors when accessing values.

Why Dictionary Keys Must Be Immutable

a. Ensures Hash Stability

* The hash value of a key is calculated when the key-value pair is added to the dictionary. For efficient lookups, the key's hash must remain consistent. Immutable keys like strings, numbers, and tuples guarantee this.

b. Prevents Data Corruption

* If a key could change after being added, the dictionary would no longer be able to locate the value associated with that key, potentially corrupting the data structure.

c. Optimizes Performance

* Dictionaries rely on hashing for fast average-case lookup times (O(1)). Mutable keys would make hashing unreliable, degrading performance and increasing complexity.

d. Avoids Logical Errors

* Allowing mutable keys could result in subtle bugs that are hard to debug, especially when keys are accidentally modified after being added

Examples of Why Keys Must Be Immutable

a. Immutable Keys Work Perfectly:
* Immutable types like strings, numbers, and tuples are valid keys because their content cannot change:

In [34]:
my_dict = {"name": "Alice", 42: "Answer", (1, 2): "Point"}
print(my_dict["name"])
print(my_dict[42])
print(my_dict[(1, 2)])

Alice
Answer
Point

b. Mutable Keys Cause Issues:

* Lists and other mutable objects cannot be used as keys:

In [35]:
key = [1, 2, 3]
my_dict = {key: "value"}  # Raises TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

* If mutable keys were allowed and modified, the hash table would fail:

In [36]:
key = [1, 2, 3]
my_dict = {}
my_dict[key] = "value"  # Suppose this worked
key.append(4)           # Changes the key

TypeError: unhashable type: 'list'

c. Hashable Tuples Are Valid Keys:

A tuple containing immutable elements works seamlessly as a dictionary key:

In [37]:
coordinates = {(40.7128, -74.0060): "New York"}
print(coordinates[(40.7128, -74.0060)])

New York