<h1 class="text-center">Python Tuples</h1>

<img src="images/python-tuple.jpg">

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and **unchangeable** .

Tuples are written with round brackets:

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuples are unchangeable** , meaning that we cannot change, add or remove items after the tuple has been created.

## Update Tuples

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [3]:
x = ("apple", "banana", "cherry")

y = list(x)

y[1] = "kiwi"

x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

1.**Convert into a list** : Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [4]:
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)

y.append("orange")

thistuple = tuple(y)

2.**Add tuple to a tuple**. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [5]:
thistuple = ("apple", "banana", "cherry")

y = ("orange",)

thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

delete the tuple completely :

In [7]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Unpacking a Tuple

In [8]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

If the number of variables is less than the number of values, you can add an <mark>*</mark> to the variable name and the values will be assigned to the variable as a list:

In [10]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [11]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry