# SET in python

In [1]:
lista = [1, 2, 3, 1, 4, 5, 2, 6, 5, 8]

set1 = set(lista) #!  Elimina i duplicati dalla lista, no ordinamento
set1

{1, 2, 3, 4, 5, 6, 8}

## Sottrazione

> Toglie dal primo gli elementi del secondo

In [2]:
set1 = {"andrea", "mario", "simone", "davide"}
set2 = {"mario", "roberto", "simone"}

print("Set sottrazione")
print(set1 - set2)
print("-" * 30)

print(set1.difference(set2))

Set sottrazione
{'andrea', 'davide'}
------------------------------
{'andrea', 'davide'}

## Unione

> Aggiunge al primo gli elementi del secondo, tutti presi una volta sola

In [3]:
set1 = {"andrea", "mario", "simone", "davide"}
set2 = {"mario", "roberto", "simone"}

print("Set unione")
print(set1 | set2)
print("-" * 30)

print(set1.union(set2))

Set unione
{'mario', 'simone', 'andrea', 'davide', 'roberto'}
------------------------------
{'mario', 'simone', 'andrea', 'davide', 'roberto'}

## Intersezione

> Formato dagli elementi presenti in entrambi i sets

In [4]:
set1 = {"andrea", "mario", "simone", "davide"}
set2 = {"mario", "roberto", "simone"}

print("Set intersezione")
print(set1 & set2)
print("-" * 30)

print(set1.intersection(set2))

Set intersezione
{'mario', 'simone'}
------------------------------
{'mario', 'simone'}

## Esclusione (Differenza Simmetrica)

> Elementi non presenti in entrambi i sets

In [5]:
set1 = {"andrea", "mario", "simone", "davide"}
set2 = {"mario", "roberto", "simone"}

print("Set esclusione")
print(set1 ^ set2)
print("-" * 30)

print(set1.symmetric_difference(set2))

Set esclusione
{'davide', 'andrea', 'roberto'}
------------------------------
{'davide', 'andrea', 'roberto'}

In [6]:
mioSet = {"uno", "due", "tre", "quattro", "cinque"}

In [7]:
mioSet.add("Francesco")
mioSet

{'Francesco', 'cinque', 'due', 'quattro', 'tre', 'uno'}

In [8]:
mioSet.remove("uno")
mioSet

{'Francesco', 'cinque', 'due', 'quattro', 'tre'}

In [9]:
mioSet.clear()
mioSet

set()

In [10]:
del mioSet
mioset

NameError: name 'mioset' is not defined