In [1]:
n=[10,20,30,50] # list is mutable
print(n)
n[1] = 45
print(n)

[10, 20, 30, 50]
[10, 45, 30, 50]

In [3]:
n=[23, 'rdscx',67,"teswz",'2'] # So to add extra element we cant add it using index, so use append function
print(n)
n[5]=23
print(n)

[23, 'rdscx', 67, 'teswz', '2']

IndexError: list assignment index out of range

In [4]:
##APPEND FUNCTION
n=[23, 'rdscx',67,"teswz",'2'] 
print(n)
n.append(1)
n.append("wrdscx")
print(n)

[23, 'rdscx', 67, 'teswz', '2']
[23, 'rdscx', 67, 'teswz', '2', 1, 'wrdscx']

In [7]:
list=[]
for i in range(1,5):
    if(i%10):
        list.append(i)
        print(list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [14]:
list=[]
for i in range(8):
    if(i/10):
        list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
list=[]
for i in range(8):
    if(i/10):
        list.append(i)
    print(list)

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [18]:
list=[]
for i in range(8):
    if(i/10):
        list.append(i)
        print(list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [20]:
list=[]
for i in range(8):
    if(i/10==0):
        list.append(i)
    print(list)

[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]

In [21]:
list=[]
for i in range(8):
    if(i/10==0):
        list.append(i)
print(list)

[0]

In [22]:
##INSERT FUNCTION
n=[1,2,3,'rt',7,"satfz"]
print(n)
n.insert (10,34)
print(n)

[1, 2, 3, 'rt', 7, 'satfz']
[1, 2, 3, 'rt', 7, 'satfz', 34]

In [24]:
## EXTEND FUNCTION
i=[1.2, 34,'syudg',34,"45","wy"] // extend function is not concatination
print(i)
u=[66,77,88]
print(u)
i.extend(u)
print(i)

[1.2, 34, 'syudg', 34, '45', 'wy']
[66, 77, 88]
[1.2, 34, 'syudg', 34, '45', 'wy', 66, 77, 88]

In [26]:
##REMOVE FUNCTION
r=['a,2',2,4,6,"ysdf",'b',1.6]
print(r)
##r.remove(3) ................gives error as 3 is not there in list 
r.remove(4)
print(r)

['a,2', 2, 4, 6, 'ysdf', 'b', 1.6]
['a,2', 2, 6, 'ysdf', 'b', 1.6]

In [28]:
y=[1,2,1,2]
print(y)
y.remove(1)
print(y)

[1, 2, 1, 2]
[2, 1, 2]

In [33]:
#POP FUNCTION
t=[1,2,3,4]
print(t)
t.pop()  # removes last element
print(t)

[1, 2, 3, 4]
[1, 2, 3]

In [38]:
## TUPLE
# its immutable , here value compulsory should end with comma
t=(10)
print(t)
type(t)

10

int

In [39]:
t=(10,)
print(t)
type(t)

(10,)

tuple

In [41]:
list=[23,"df",1.9,6]
print(list)
type(list)
t=tuple(list)
print(t)
type(t)

[23, 'df', 1.9, 6]
(23, 'df', 1.9, 6)

tuple

In [46]:
n=[1,2,3]
p=tuple(n)
print(p)
t=tuple(range(0,3,1))
print(t)
t=tuple(range(0,3,2))
print(t)

(1, 2, 3)
(0, 1, 2)
(0, 2)

In [47]:
t=(1,2,3,"rt",'y')
print(t)
o=(88,99,'right')
print(y)
c=t+o      ## concatination operator + 
print(c)

(1, 2, 3, 'rt', 'y')
[2, 1, 2]
(1, 2, 3, 'rt', 'y', 88, 99, 'right')

In [48]:
t=(10,20,30,'y')
r=t*3
print(r)

(10, 20, 30, 'y', 10, 20, 30, 'y', 10, 20, 30, 'y')

In [50]:
t=(1,2,2,3,4,555,5,3,"rdgf")
print(len(t))
#print(count(5))

9

In [55]:
t=(1,2,2,3,4,555,5,3,"rdgf")
print(t.count(2))

i=(1,2,2,3,4,555,5,3,)
print(i.count(5))

2
1

In [59]:
d=(20,4,6,7,1,2)
print(d)
d1=sorted(d)  # so while sorting tuple data is converted into list
print("sorted data:")
print(d1)
type(d1)

(20, 4, 6, 7, 1, 2)
sorted data:
[1, 2, 4, 6, 7, 20]

list

In [58]:
d2=sorted(d1,reverse =True)
print(d2)

[20, 7, 6, 4, 2, 1]

In [60]:
j=(12,25,26,'78,hgsd','u')
print(min(j)) #'<' not supported between instances of 'str' and 'int'  .....error

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
j=(12,25,26,8)
print(min(j))
print(max(j))

8
26

In [64]:
g=('a','b',3,5,)
t=(3,6,7)
print(cmp(g,t))  
# the syntax is correct here , But python 3 is not supporting cmp() function

NameError: name 'cmp' is not defined

In [66]:
## SET 
## its mutable , but it wont take duplicate data, it uses curly braces
s={1,2,4,5,3,3,4,'s','y'}  # the output will come in different order and not in same order
print(s)
type(s)

{1, 2, 3, 4, 5, 'y', 's'}

set

In [67]:
s=set(range(5))
print(s)

{0, 1, 2, 3, 4}

In [71]:
#This syntax is wrong as we need to use eval() function to take input from user rather than input for data structure
##data structure(set, tuple,list, dictionary)
s=set(input("Enter data :")) 
print(s)

Enter data :1,2,4,'y',7
{',', '2', '1', '4', 'y', "'", '7'}

In [75]:
s=eval(input("Enter data :")) 
print(s)

Enter data :{1,2,3,4,'y'}
{1, 2, 3, 4, 'y'}

In [77]:
s={1,25,3,4}
u={40,90,3}
s.update(u,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 25, 90}

In [79]:
s={'a','c',1,3,4,3}
print(s)
d=s.copy()
print(d)

{'a', 1, 'c', 3, 4}
{'a', 1, 'c', 3, 4}

In [85]:
d={4,'y','d',6,78}
print(d)
print(d.pop())  # pop() function removes first element in set
print(d)
print(d.pop())
print(d)
print(type(d))

{4, 'd', 6, 'y', 78}
4
{'d', 6, 'y', 78}
d
{6, 'y', 78}
<class 'set'>

In [86]:
d={3,5,6,7,'rsad'}
print(d)
d.remove(7)  # remove() function directly removes the specified value
#d.remove(9)  ..........this line gives error as 9 is not there in set
print(d)

{3, 5, 6, 7, 'rsad'}
{3, 5, 6, 'rsad'}

In [87]:
s={10,20,30}
print(s)
s.discard(10)
print(s)
s.discard(100) # even though 100 is not there , it removes without giving an error
print(s)

{10, 20, 30}
{20, 30}
{20, 30}

In [88]:
s={90,80,'dsfx'}
print(s)
s.clear()
print("clear() function removes all data")
print(s)

{80, 90, 'dsfx'}
clear() function removes all data
set()

In [89]:
##DICTIONARY : (Key, value)
## its immutable, here key cant be dublicate where value can be dublicated
# uses curly braces

In [91]:
d={1:'a', 5:20,9:"tds",2:2.90}
print(d)
print(type(d))

{1: 'a', 5: 20, 9: 'tds', 2: 2.9}
<class 'dict'>

In [94]:
d[400]="ANU"
print(d)
d[2]='hk'
print(d)

{1: 'a', 5: 20, 9: 'tds', 2: 'hk', 400: 'ANU'}
{1: 'a', 5: 20, 9: 'tds', 2: 'hk', 400: 'ANU'}

In [95]:
list=['A','N','U','G','R','A','H','A']
for i in range(len(list)):
    m=i
    a=''
    l=len(list)-i
    if l==0:
        l=1
    for n in range(l):
        a=a+' '
    for k in range(m):
        a=a+' '+list[i]
    print(a+' '+list[i])

         A
        N N
       U U U
      G G G G
     R R R R R
    A A A A A A
   H H H H H H H
  A A A A A A A A

In [98]:
# key always comes as string/text
## del d[key]

d={1:30,7:"wdr",6:'f',0:6}
print(d)
#del d[20]...........this gives rroe as d[20] key doesn't exist in this dictionary
#print(d)
del d[6]
print(d)
s = {1:25,6:25,8:"sfx"}   # it takes duplicate values but not duplicate keys
print(s)

{1: 30, 7: 'wdr', 6: 'f', 0: 6}
{1: 30, 7: 'wdr', 0: 6}
{1: 25, 6: 25, 8: 'sfx'}

In [99]:
s = {1:25,6:25,8:"sfx"} 
print(s)
del s   #...this gives error as del cant be used in this way
print(s)

{1: 25, 6: 25, 8: 'sfx'}

NameError: name 's' is not defined

In [112]:
u={'a':7,2:6, 'v':"hgdv"} # key value can be caracter also
print(u)
print(u.get('v'))
print(u.get(2))
print(u.get(50))

{'a': 7, 2: 6, 'v': 'hgdv'}
hgdv
6
None

In [116]:
f={1:2,'d':56,'o':"sdc",9:90}
print(f)
print(f.pop('o'))
print(f)
#print(f.pop(77))  ............if key specified in pop function doesn;t exist in dict, then will get error
print(f.popitem())   # popitem() function removes last key value pair
print(f)

{1: 2, 'd': 56, 'o': 'sdc', 9: 90}
sdc
{1: 2, 'd': 56, 9: 90}
(9, 90)
{1: 2, 'd': 56}

In [123]:
fd={1:2,'d':56,'o':"sdc",9:90,1.2:67}
print(fd)
print(fd.keys()) # this gives only key value
for k in fd.keys():
    #print("gfwc")
    print(k)
s=k
print(s)

{1: 2, 'd': 56, 'o': 'sdc', 9: 90, 1.2: 67}
dict_keys([1, 'd', 'o', 9, 1.2])
1
d
o
9
1.2
1.2

In [125]:
fd={1:2,'d':56,'o':"sdc",9:90,1.2:67}
for k,v in fd.items():
    print(k,":",v)

1 : 2
d : 56
o : sdc
9 : 90
1.2 : 67

In [132]:
p={100:"tywfshag",9:78,90:"uiui45776"}
print(p)
print(p.setdefault(82,22))
print(p)
print(p.setdefault(9,"good"))
print(p)

r= {100:"tywfshag",9:56,90:"uiui45776"}
print(r)
print(r.setdefault(9,44))
print(r)

{100: 'tywfshag', 9: 78, 90: 'uiui45776'}
22
{100: 'tywfshag', 9: 78, 90: 'uiui45776', 82: 22}
78
{100: 'tywfshag', 9: 78, 90: 'uiui45776', 82: 22}
{100: 'tywfshag', 9: 56, 90: 'uiui45776'}
56
{100: 'tywfshag', 9: 56, 90: 'uiui45776'}

In [133]:
d=eval(input("Enter data"))
print(d)

Enter data{2:34,"r":67,89:8.9}
{2: 34, 'r': 67, 89: 8.9}

In [136]:
def f():
    a=10
    print(a)
f()

10

In [137]:
Invalid : as local variable has to be defined
def f():
    print(a)
f()

NameError: name 'Invalid' is not defined

In [140]:
a=10     # global variable
def f1():
    a=77    #local variable
    print(a)
f1()

def f2():
    print(a)
    
#def function refers local variable    
# Avoid global variables and multiple functions as it not good for performance

77

In [142]:
#LAMBDA function 

#lambda  argument_list :expression
# its increases the readiability

In [146]:
s = lambda n:n*n
print(s(5))
s = lambda p : ((P+56)/2)
print(p(2))

25

TypeError: 'dict' object is not callable

In [152]:
s=lambda a,b:a+b
print(s(4,6))

10

In [156]:
s=lambda a,b,c:a if a>b else c
print(s(23,6,4))

23

In [158]:
l={0,6,7,8,6}
print(l)
print(type(l))

{0, 8, 6, 7}
<class 'set'>

In [160]:
l={0,6,7,8,6}
print(l)
print(type(l))
l1=set(filter(lambda v:v%2==0,l))
# l1=list(filter(lambda v:v%2==0,l))
# this above line will give error as given data is in set format but not in list format
print(l1)

{0, 8, 6, 7}
<class 'set'>
{0, 8, 6}

In [161]:
l=[1,2,3,4,5]
print(l)
t=list(map(lambda u:u+2,l))
print(t)

[1, 2, 3, 4, 5]

TypeError: 'list' object is not callable

In [163]:
l={1,2,3,4,5}
print(l)
t=set(map(lambda u:u+2,l))
print(t)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [164]:
from functools import *
l= [1,2,3,67,89]
r=reduce(lambda x,y:x+y,l)
print(r)

162

In [189]:
class student:
    """developed"""
    #self variable and __init__ method is compulsory
    def __init__(self,name, age):    # here __init__ methods is inbuild function to initialize object, self is inbuilt variable
        self.name=name
        self.age=age
        
    def talk(self):
        print("name :",self.name)
        print("Age :",self.age)
s1= student("Anu",23)    
s1.talk()

name : Anu
Age : 23