In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/destination.csv", usecols = ['subject','body','label'],low_memory=False)

In [3]:
df

,subject,body,label
0,Never agree to be a loser,"Buck up, your troubles caused by small dimensi...",1
1,Befriend Jenna Jameson,\nUpgrade your sex and pleasures with these te...,1
2,CNN.com Daily Top 10,>+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...,1
3,Re: svn commit: r619753 - in /spamassassin/tru...,Would anyone object to removing .so from this ...,0
4,SpecialPricesPharmMoreinfo,\nWelcomeFastShippingCustomerSupport\nhttp://7...,1
...,...,...,...
171180,Job: just for you.,\n\n\n\nWhile we may have high ...,1
171181,the reply for your request for a job place [le...,\n\n\n\nWhile we may have high ...,1
171182,"Re: [R] Me again, about the horrible documenta...","For those who are interested, I just cook a li...",0
171183,Re: [R] RODBC problem,"Hello,\n\nas I wrote I call\n\n sqlFetch(chan...",0
171184,I wanted the desk at his own laws: of the. Bu...,"Well, are implicated. When does not the stage...",1

In [4]:
df.isnull().sum()#data empty values

subject    2780
body        634
label       786
dtype: int64

In [5]:
# df is your DataFrame
missing_data = df[df.isnull().any(axis=1)]

# Display the rows with missing values
print(missing_data)

       subject                                               body label
1800       NaN  Pattern Recognition Contest (PRC)\nSender: wbl...     0
2104       NaN  \n\n\n\n\nGoing beyond the Words: Translations...     1
2352       NaN  Hi\n\nPlease do Brothers and Sisters for your ...     0
3677       NaN  Hmm!! Slight problem!\n\nI indicated a whtieli...     0
5940       NaN   Be with me and over 2.100.000 gamers playing ...     1
...        ...                                                ...   ...
170978     NaN  The aristocratic families of course and lighti...     1
171001     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1
171023     NaN  When I want us from first, chief name of unive...     1
171099     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1
171171     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1

[2937 rows x 3 columns]

In [6]:
df.dropna()

,subject,body,label
0,Never agree to be a loser,"Buck up, your troubles caused by small dimensi...",1
1,Befriend Jenna Jameson,\nUpgrade your sex and pleasures with these te...,1
2,CNN.com Daily Top 10,>+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...,1
3,Re: svn commit: r619753 - in /spamassassin/tru...,Would anyone object to removing .so from this ...,0
4,SpecialPricesPharmMoreinfo,\nWelcomeFastShippingCustomerSupport\nhttp://7...,1
...,...,...,...
171180,Job: just for you.,\n\n\n\nWhile we may have high ...,1
171181,the reply for your request for a job place [le...,\n\n\n\nWhile we may have high ...,1
171182,"Re: [R] Me again, about the horrible documenta...","For those who are interested, I just cook a li...",0
171183,Re: [R] RODBC problem,"Hello,\n\nas I wrote I call\n\n sqlFetch(chan...",0
171184,I wanted the desk at his own laws: of the. Bu...,"Well, are implicated. When does not the stage...",1

In [7]:
df.dropna(subset=['label'])

,subject,body,label
0,Never agree to be a loser,"Buck up, your troubles caused by small dimensi...",1
1,Befriend Jenna Jameson,\nUpgrade your sex and pleasures with these te...,1
2,CNN.com Daily Top 10,>+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...,1
3,Re: svn commit: r619753 - in /spamassassin/tru...,Would anyone object to removing .so from this ...,0
4,SpecialPricesPharmMoreinfo,\nWelcomeFastShippingCustomerSupport\nhttp://7...,1
...,...,...,...
171180,Job: just for you.,\n\n\n\nWhile we may have high ...,1
171181,the reply for your request for a job place [le...,\n\n\n\nWhile we may have high ...,1
171182,"Re: [R] Me again, about the horrible documenta...","For those who are interested, I just cook a li...",0
171183,Re: [R] RODBC problem,"Hello,\n\nas I wrote I call\n\n sqlFetch(chan...",0
171184,I wanted the desk at his own laws: of the. Bu...,"Well, are implicated. When does not the stage...",1

In [8]:
# Remove all rows where the 'label' column has null values
df_cleaned = df.dropna(subset=['label'])

# Adjust the display settings to show all columns in one row
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.width', 1000)  # Set a wide display width to fit all columns

# Display the cleaned DataFrame
print(df_cleaned)

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[170399 rows x 3 columns]

In [9]:
# Adjust the display settings to show all columns in one row
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.width', 1000)  # Set a wide display width to fit all columns
print(df.dropna(subset=['label']))

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[170399 rows x 3 columns]

In [10]:
df11 = df.dropna(subset=['label'])
df11.isnull().sum()

subject    2148
body          3
label         0
dtype: int64

In [11]:
df11

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[170399 rows x 3 columns]

In [12]:
# Filter the DataFrame to show only rows where the 'subject' column is empty
empty_subject_df = df11[df11['subject'].isna() | (df11['subject'] == '')]

# Display the filtered DataFrame
print(empty_subject_df)

       subject                                               body label
1800       NaN  Pattern Recognition Contest (PRC)\nSender: wbl...     0
2104       NaN  \n\n\n\n\nGoing beyond the Words: Translations...     1
2352       NaN  Hi\n\nPlease do Brothers and Sisters for your ...     0
3677       NaN  Hmm!! Slight problem!\n\nI indicated a whtieli...     0
5940       NaN   Be with me and over 2.100.000 gamers playing ...     1
...        ...                                                ...   ...
170978     NaN  The aristocratic families of course and lighti...     1
171001     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1
171023     NaN  When I want us from first, chief name of unive...     1
171099     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1
171171     NaN  for ; Tue, 11 Jul 2006 12:31:06 -0400 Received...     1

[2148 rows x 3 columns]

In [13]:
# Remove rows where 'label' or 'subject' columns are empty or NaN
df11_cleaned = df11.dropna(subset=['label', 'subject', 'body'])  # Remove NaN values
df11_cleaned = df11_cleaned[(df11_cleaned['label'] != '') & (df11_cleaned['subject'] != '') & (df11_cleaned['body'] != '')]  # Remove empty strings

# Display the cleaned DataFrame
print(df11_cleaned)

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[168248 rows x 3 columns]

In [14]:
df11_cleaned.isnull().sum()

subject    0
body       0
label      0
dtype: int64

In [15]:
# Filter the DataFrame to show only rows where the 'subject' column is empty
empty_subject_df = df11[df11['body'].isna() | (df11['body'] == '')]

# Display the filtered DataFrame
print(empty_subject_df)

                                                  subject body label
43550                 =?Big5?B?rEKq96SjrE5+fqdPtsykRn5+?=  NaN     1
45104   ������ ���� �ʸ����� �鵵�� 12,500���� �帳�ϴ�. (��...  NaN     1
101096  ++++++++++++++ ��������? ���� ���� �帮�ڽ��ϴ�. �...  NaN     1

In [16]:
finally_df = df11_cleaned.drop_duplicates()
finally_df

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[168244 rows x 3 columns]

In [17]:
final_dataset = finally_df
final_dataset

                                                  subject                                               body label
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...     1
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...     1
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...     1
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...     0
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...     1
...                                                   ...                                                ...   ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...     1
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...     1
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...     0
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...     0
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...     1

[168244 rows x 3 columns]

In [18]:
final_dataset.isnull().sum()

subject    0
body       0
label      0
dtype: int64

In [19]:
x = final_dataset[['subject','body']]
y = final_dataset['label']

In [20]:
x

                                                  subject                                               body
0                               Never agree to be a loser  Buck up, your troubles caused by small dimensi...
1                                  Befriend Jenna Jameson  \nUpgrade your sex and pleasures with these te...
2                                    CNN.com Daily Top 10  >+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...
3       Re: svn commit: r619753 - in /spamassassin/tru...  Would anyone object to removing .so from this ...
4                              SpecialPricesPharmMoreinfo  \nWelcomeFastShippingCustomerSupport\nhttp://7...
...                                                   ...                                                ...
171180                                 Job: just for you.  \n\n\n\nWhile      we  may       have    high ...
171181  the reply for your request for a job place [le...  \n\n\n\nWhile     we       may    have high   ...
171182  Re: [R] Me again, about the horrible documenta...  For those who are interested, I just cook a li...
171183                              Re: [R] RODBC problem  Hello,\n\nas I wrote I call\n\n  sqlFetch(chan...
171184  I wanted the desk at his own laws: of the.  Bu...  Well, are implicated.  When does not the stage...

[168244 rows x 2 columns]

In [21]:
y

0         1
1         1
2         1
3         0
4         1
         ..
171180    1
171181    1
171182    0
171183    0
171184    1
Name: label, Length: 168244, dtype: object

In [22]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\vspil\anaconda3\envs\new_env\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\vspil\anaconda3\envs\new_env\lib\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\vspil\anaconda3\envs\new_env\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\vspil\anaconda3\envs\new_env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vspil\anaconda3\envs\new_env\lib\site-packages (from scikit-learn) (3.5.0)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2)

In [25]:
X_train

                                                  subject                                               body
140466  Re: [R] Fwd: Re: shell.exec() on Windows, unex...  Thanks to Duncan and Gabor.\n\nFollowing from ...
97343                                              ng0510                      CACT NG sheets for Friday\n\n
138451  Cabot Wealth Advisory - It's Not Too Late To E...  May 9, 2007\n\nEditors Note:  In investing tim...
164162  Re: [cc-devel] [Tracker] Extracting Embedded L...  Jason Kivlighn wrote:\n>> Is this the old msof...
88514   Do you know how others sav on top-selling tabl...  It is a chemist-site that provides better sele...
...                                                   ...                                                ...
117381                 SUMMARY: March TC Summary - Part 1  MONTHLY GLOBAL TROPICAL CYCLONE SUMMARY       ...
75181            Ana|yst de|ivers best market p|ay repOrt  Yap Internationa|, Inc.(YPIL)\n VoIP techno|og...
4443                                      Re: relay issue  * Tim Wolak : > maps_rbl_domains = sbl.spamhau...
147857  Re: Scummvm games: software or data? [from gNe...  On Tue, 22 May 2007 18:03:57 -0400 Joey Hess w...
167824                                             Hallo!  \n\n\n\n\nHi! I am bored this evening. I am 25...

[134595 rows x 2 columns]

In [26]:
Y_train

140466    0
97343     0
138451    0
164162    0
88514     1
         ..
117381    0
75181     1
4443      0
147857    0
167824    1
Name: label, Length: 134595, dtype: object

In [27]:
X_test

                                             subject                                               body
50790                       Finest online pills here  Locate your prescription immediately!\nWe have...
90276                 No more penis enlarge ripoffs!  Finally the real thing - no more ripoffs! Enha...
105410            Re: Serial interface/ RF data link  To properly comunicate with any PC you need to...
125480                                 Re: [R] hello  francois.morneau@ifn.fr wrote: > ?as.numeric i...
19368   patch for lib/Pod/Man.pm for EBCDIC platform  Hi,\r\n\r\nHere is the patch below. Any questi...
...                                              ...                                                ...
39604                   Re: Electric car an Edsel...  Ouch.... hooooo.... Cheers, RAH --- begin forw...
109268                               Re: LEGO sensor  oops!  Thanks Dr. Martin for catching my mista...
103260                Troubles with dallas memory 2.  i have more info to that puzzle. I assembly tw...
52175                        Coral on ExxonKaty 6/01  Darren:\nENA was invoiced by Coral Energy for ...
138884                    Get out of the obese crowd  Anatrim – The very up-to-date and most excitin...

[33649 rows x 2 columns]

In [28]:
Y_test

50790     1
90276     1
105410    0
125480    0
19368     0
         ..
39604     0
109268    0
103260    0
52175     0
138884    1
Name: label, Length: 33649, dtype: object

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [56]:
from tqdm import tqdm

print("Starting Combining...")
X_train_combined = X_train['subject'] + " " + X_train['body']
X_test_combined = X_test['subject'] + " " + X_test['body']
print("Combining Completed...")

print("Starting TF-IDF vectorization...")
X_train_tfidf = vectorizer.fit_transform(X_train_combined)
X_test_tfidf = vectorizer.transform(X_test_combined)
print("TF-IDF vectorization completed.")

print("Starting Random Forest training...")
clf = RandomForestClassifier(n_estimators=100, random_state=42, verbose=1)
clf.fit(X_train_tfidf, Y_train)
print("Random Forest training completed.")

print("Making predictions...")
y_pred = clf.predict(X_test_tfidf)
print("Predictions completed.")

accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Starting Combining...
Combining Completed...
Starting TF-IDF vectorization...
TF-IDF vectorization completed.
Starting Random Forest training...

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed: 49.9min

Random Forest training completed.
Making predictions...

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    3.1s

Predictions completed.

C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Accuracy: 0.9736099141133466
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.99      0.98     17878
           1       0.99      0.95      0.97     15770
       label       0.00      0.00      0.00         1

    accuracy                           0.97     33649
   macro avg       0.65      0.65      0.65     33649
weighted avg       0.97      0.97      0.97     33649

C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [57]:
accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred, zero_division=0)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Accuracy: 0.9736099141133466
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.99      0.98     17878
           1       0.99      0.95      0.97     15770
       label       0.00      0.00      0.00         1

    accuracy                           0.97     33649
   macro avg       0.65      0.65      0.65     33649
weighted avg       0.97      0.97      0.97     33649

In [44]:
##The code below is for hyper tuning

In [46]:
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

# Set up random seed
np.random.seed(42)

# Define a reduced hyperparameter grid for faster model training
rf_grid = {
    "n_estimators": np.arange(10, 150, 50),  # Fewer values to test
    "max_depth": [None, 5, 10],              # Reduced max depth values
    "min_samples_split": np.arange(2, 10, 2),# Reduced range
    "min_samples_leaf": np.arange(1, 10, 2)  # Reduced range
}

# Set up RandomizedSearchCV with fewer iterations
rf_gd = RandomizedSearchCV(RandomForestClassifier(),
                           param_distributions=rf_grid,
                           cv=2,                 # Reduce cross-validation folds
                           n_iter=7,            # Reduce number of iterations
                           verbose=2,            # Increase verbosity to track progress
                           n_jobs=-1)            # Use all cores for parallel processing

# Combine the 'subject' and 'body' columns
print("Starting Combining...")
X_train_combined = X_train['subject'].fillna('') + " " + X_train['body'].fillna('')
X_test_combined = X_test['subject'].fillna('') + " " + X_test['body'].fillna('')
print("Combining Completed...")

# Perform TF-IDF vectorization
print("Starting TF-IDF vectorization...")
vectorizer = TfidfVectorizer(max_features=5000)  # Limit the number of features for faster processing
X_train_tfidf = vectorizer.fit_transform(X_train_combined)
X_test_tfidf = vectorizer.transform(X_test_combined)
print("TF-IDF vectorization completed.")

# Train the model
print("Starting Model training...")
rf_gd.fit(X_train_tfidf, Y_train)
print("End model training")

# Evaluate the model on the test set
print(f"Test set score: {rf_gd.score(X_test_tfidf, y_test)}")

Starting Combining...
Combining Completed...
Starting TF-IDF vectorization...
TF-IDF vectorization completed.
Starting Model training...
Fitting 2 folds for each of 7 candidates, totalling 14 fits
End model training

NameError: name 'y_test' is not defined

In [47]:
# Evaluate the model on the test set
print(f"Test set score: {rf_gd.score(X_test_tfidf, Y_test)}")

Test set score: 0.9752147166334809

In [54]:
rf_gd.best_params_
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
# Predictions
y_pred = rf_gd.predict(X_test_tfidf)

# Confusion Matrix
conf_matrix = confusion_matrix(Y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

# Classification Report (Precision, Recall, F1-Score)
print("Classification Report:")
print(classification_report(Y_test, y_pred))

# Accuracy Score
accuracy = accuracy_score(Y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

# Evaluate the model on the test set
print(f"Test set score (accuracy): {rf_gd.score(X_test_tfidf, Y_test):.4f}")

Confusion Matrix:
[[17560   340     0]
 [  493 15255     0]
 [    0     1     0]]
Classification Report:

C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vspil\anaconda3\envs\new_env\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98     17900
           1       0.98      0.97      0.97     15748
       label       0.00      0.00      0.00         1

    accuracy                           0.98     33649
   macro avg       0.65      0.65      0.65     33649
weighted avg       0.98      0.98      0.98     33649

Accuracy: 0.9752
Test set score (accuracy): 0.9752

In [70]:
from sklearn.ensemble import ExtraTreesClassifier

# Combine the 'subject' and 'body' columns
print("Starting Combining...")
X_train_combined = X_train['subject'].fillna('') + " " + X_train['body'].fillna('')
X_test_combined = X_test['subject'].fillna('') + " " + X_test['body'].fillna('')
print("Combining Completed...")

# Perform TF-IDF vectorization
print("Starting TF-IDF vectorization...")
vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train_combined)
X_test_tfidf = vectorizer.transform(X_test_combined)
print("TF-IDF vectorization completed.")

# Train the Extra Trees Classifier
print("Starting Extra Trees training...")
clf_etc = ExtraTreesClassifier(n_estimators=100, random_state=42)
clf_etc.fit(X_train_tfidf, Y_train)
print("Extra Trees training completed.")

# Make predictions
print("Making predictions...")
y_pred = clf_etc.predict(X_test_tfidf)  # Use the correct classifier (clf_etc)
print("Predictions completed.")

# Evaluate the model
accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Starting Combining...
Combining Completed...
Starting TF-IDF vectorization...
TF-IDF vectorization completed.
Starting Extra Trees training...
Extra Trees training completed.
Making predictions...
Predictions completed.
Accuracy: 0.9742340039822878
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.99      0.98     17775
           1       0.99      0.95      0.97     15874

    accuracy                           0.97     33649
   macro avg       0.98      0.97      0.97     33649
weighted avg       0.97      0.97      0.97     33649

In [71]:
y_pred

array(['1', '0', '0', ..., '0', '0', '0'], dtype=object)

In [72]:
Y_test

117599    1
150819    0
159863    0
125244    1
90262     1
         ..
46210     1
61408     0
26952     0
44907     1
117813    0
Name: label, Length: 33649, dtype: object

In [55]:
import joblib

# Assuming 'et_random' is your trained RandomizedSearchCV model
filename = 'rf_new_model.pkl'
joblib.dump(rf_gd, filename)

print(f"Model saved to {filename}")

Model saved to rf_new_model.pkl

In [30]:
# Combine the 'subject' and 'body' columns
print("Starting Combining...")
X_train_combined = X_train['subject'].fillna('') + " " + X_train['body'].fillna('')
X_test_combined = X_test['subject'].fillna('') + " " + X_test['body'].fillna('')
print("Combining Completed...")

# Perform TF-IDF vectorization
print("Starting TF-IDF vectorization...")
vectorizer = TfidfVectorizer(max_features=5000)  # Limit the number of features for faster processing
X_train_tfidf = vectorizer.fit_transform(X_train_combined)
X_test_tfidf = vectorizer.transform(X_test_combined)
print("TF-IDF vectorization completed.")

Starting Combining...
Combining Completed...
Starting TF-IDF vectorization...
TF-IDF vectorization completed.

In [32]:
import pickle
# Save the trained vectorizer to a file
with open('tfidf_vectorizer.pkl', 'wb') as file:
    pickle.dump(vectorizer, file)

print("TF-IDF vectorizer saved successfully.")

TF-IDF vectorizer saved successfully.