In [62]:
# -*- coding: utf-8 -*-
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.graph_objs as go
import numpy as np

In [63]:
data = pd.read_csv("spin_evaluation.csv").iloc[:, 1:3]

In [64]:
data.head()

   new_tech_spin  baseline_spin
0         2123.3        2142.47
1         1700.1        1690.36
2         1925.3        1919.78
3         1779.1        1589.52
4         2506.9        2710.38

In [65]:
[i for i in data.columns.values]

['new_tech_spin', 'baseline_spin']

In [66]:
df = pd.read_csv(
    'https://gist.githubusercontent.com/chriddyp/' +
    '5d1ea79569ed194d432e56108a04d188/raw/' +
    'a9f9e8076b837d541398e999dcbac2b2826a81f8/'+
    'gdp-life-exp-2007.csv')

In [67]:
df.head()

,Unnamed: 0,country,continent,population,life expectancy,gdp per capita
0,11,Afghanistan,Asia,31889923.0,43.828,974.580338
1,23,Albania,Europe,3600523.0,76.423,5937.029526
2,35,Algeria,Africa,33333216.0,72.301,6223.367465
3,47,Angola,Africa,12420476.0,42.731,4797.231267
4,59,Argentina,Americas,40301927.0,75.320,12779.379640

In [28]:
go.Scatter(
                    x=df[df['continent'] == i]['gdp per capita'],
                    y=df[df['continent'] == i]['life expectancy'],
                    text=df[df['continent'] == i]['country'],
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    name=i
                ) for i in df.continent.unique()

NameError: name 'i' is not defined

In [30]:
df.continent

0          Asia
1        Europe
2        Africa
3        Africa
4      Americas
5       Oceania
6        Europe
7          Asia
8          Asia
9        Europe
10       Africa
11     Americas
12       Europe
13       Africa
14     Americas
15       Europe
16       Africa
17       Africa
18         Asia
19       Africa
20     Americas
21       Africa
22       Africa
23     Americas
24         Asia
25     Americas
26       Africa
27       Africa
28       Africa
29     Americas
         ...
112      Africa
113        Asia
114      Europe
115      Europe
116      Africa
117      Africa
118      Europe
119        Asia
120      Africa
121      Africa
122      Europe
123      Europe
124        Asia
125        Asia
126      Africa
127        Asia
128      Africa
129    Americas
130      Africa
131      Europe
132      Africa
133      Europe
134    Americas
135    Americas
136    Americas
137        Asia
138        Asia
139        Asia
140      Africa
141      Africa
Name: continent, Length: 142, dtype: object

In [69]:
data.head()

   new_tech_spin  baseline_spin
0         2123.3        2142.47
1         1700.1        1690.36
2         1925.3        1919.78
3         1779.1        1589.52
4         2506.9        2710.38

In [73]:
data.iloc[:, 2].name

IndexError: single positional indexer is out-of-bounds

In [82]:
data['abs_errors'] = np.abs(data['baseline_spin'] - data['new_tech_spin'])
data.head()
MAE = np.mean(data['abs_errors'])
MAE

61.50049257232211

In [85]:
np.round(sum((data['new_tech_spin'] >= data['baseline_spin'] - MAE) & (data['new_tech_spin'] <= data['baseline_spin'] + MAE))/data.shape[0], 2)

0.81