In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  3.191527  0.200954  1.080424
c  0.011987  0.596088  0.551320
e -0.844024  0.527029  0.177260
f -1.875613 -0.849422 -1.021605
h -0.145425 -0.413608 -0.868977
        one       two     three
a  3.191527  0.200954  1.080424
b       NaN       NaN       NaN
c  0.011987  0.596088  0.551320
d       NaN       NaN       NaN
e -0.844024  0.527029  0.177260
f -1.875613 -0.849422 -1.021605
g       NaN       NaN       NaN
h -0.145425 -0.413608 -0.868977

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print(df)
print("Nan replaced with '0':")
print(df.fillna(0))

        one       two     three
a  0.309681 -1.539645  0.910722
b       NaN       NaN       NaN
c -1.861759 -0.179033 -1.085968
Nan replaced with '0':
        one       two     three
a  0.309681 -1.539645  0.910722
b  0.000000  0.000000  0.000000
c -1.861759 -0.179033 -1.085968

Fill NA Forward and Backward

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print('-------------------------------')
print(df.fillna(method='pad'))

        one       two     three
a -0.153003  2.481442 -0.805234
b       NaN       NaN       NaN
c -1.387223  1.068872  0.532742
d       NaN       NaN       NaN
e -0.450809 -0.299828  2.350173
f -0.501431  0.087231 -1.127073
g       NaN       NaN       NaN
h -1.008871 -0.378675  1.521046
-------------------------------
        one       two     three
a -0.153003  2.481442 -0.805234
b -0.153003  2.481442 -0.805234
c -1.387223  1.068872  0.532742
d -1.387223  1.068872  0.532742
e -0.450809 -0.299828  2.350173
f -0.501431  0.087231 -1.127073
g -0.501431  0.087231 -1.127073
h -1.008871 -0.378675  1.521046

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print('-------------------------------')
print(df.fillna(method='bfill'))

        one       two     three
a -0.534297  1.964808  0.225481
b       NaN       NaN       NaN
c -0.060359  1.597450 -0.382053
d       NaN       NaN       NaN
e  1.392304  0.859850  0.684312
f  0.602167  1.052201  1.262298
g       NaN       NaN       NaN
h -0.640651 -0.189415 -0.480010
-------------------------------
        one       two     three
a -0.534297  1.964808  0.225481
b -0.060359  1.597450 -0.382053
c -0.060359  1.597450 -0.382053
d  1.392304  0.859850  0.684312
e  1.392304  0.859850  0.684312
f  0.602167  1.052201  1.262298
g -0.640651 -0.189415 -0.480010
h -0.640651 -0.189415 -0.480010

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print(df.dropna())

        one       two     three
a -0.801945  0.290065 -0.007857
b       NaN       NaN       NaN
c  0.943234  0.147620  0.331490
d       NaN       NaN       NaN
e  0.216208  0.244392  0.107034
f  0.258148 -0.570956  0.381763
g       NaN       NaN       NaN
h  0.933080  0.244416  0.842530
        one       two     three
a -0.801945  0.290065 -0.007857
c  0.943234  0.147620  0.331490
e  0.216208  0.244392  0.107034
f  0.258148 -0.570956  0.381763
h  0.933080  0.244416  0.842530

In [ ]:
import pandas as pd
import numpy as np
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
df=pd.read_csv('/2,1 dataset titanic.csv')
df

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isnull()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

Drop the rows having no values

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
dummies= []
cols=['Pclass','Sex','Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))

Transform the eight columns

In [ ]:
titanic_dummies=pd.concat(dummies,axis=1)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Concatenate

In [ ]:
titanic_dummies = pd.concat(dummies, axis=1)

concatenate the values with data frame

In [ ]:
df=pd.concat((df,titanic_dummies), axis=1)

INTERPOLATE

In [ ]:
df['Age'] = df['Age'].interpolate()
print(df)

     PassengerId  Survived                                               Name  \
0              1         0                            Braund, Mr. Owen Harris
1              2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3         1                             Heikkinen, Miss. Laina
3              4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5         0                           Allen, Mr. William Henry
..           ...       ...                                                ...
886          887         0                              Montvila, Rev. Juozas
887          888         1                       Graham, Miss. Margaret Edith
888          889         0           Johnston, Miss. Catherine Helen "Carrie"
889          890         1                              Behr, Mr. Karl Howell
890          891         0                                Dooley, Mr. Patrick

      Age  SibSp  Parch            Ticket     Fare Cabin  1  2  3  female  \
0    22.0      1      0         A/5 21171   7.2500   NaN  0  0  1       0
1    38.0      1      0          PC 17599  71.2833   C85  1  0  0       1
2    26.0      0      0  STON/O2. 3101282   7.9250   NaN  0  0  1       1
3    35.0      1      0            113803  53.1000  C123  1  0  0       1
4    35.0      0      0            373450   8.0500   NaN  0  0  1       0
..    ...    ...    ...               ...      ...   ... .. .. ..     ...
886  27.0      0      0            211536  13.0000   NaN  0  1  0       0
887  19.0      0      0            112053  30.0000   B42  1  0  0       1
888  22.5      1      2        W./C. 6607  23.4500   NaN  0  0  1       1
889  26.0      0      0            111369  30.0000  C148  1  0  0       0
890  32.0      0      0            370376   7.7500   NaN  0  0  1       0

     male  C  Q  S
0       1  0  0  1
1       0  1  0  0
2       0  0  0  1
3       0  0  0  1
4       1  0  0  1
..    ... .. .. ..
886     1  0  0  1
887     0  0  0  1
888     0  0  0  1
889     1  1  0  0
890     1  0  1  0

[891 rows x 17 columns]

Min Max Scaler andSTANDARDIZATION

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scalar=MinMaxScaler()
print(scaler.fit(data))
print('---------')
MinMaxScaler()
print(scaler.data_max_)
print('--------')
print(scaler.transform(data))

NameError: name 'scaler' is not defined

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler

In [ ]:
data=asarray([[100,0.001],[8,0.05],[50,0.005],[88,0.007],[4,0.1]])
print(data)
scaler=StandardScaler()
scaled=scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-03]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -0.8292164 ]
 [-1.06174414  0.45659384]
 [ 0.         -0.7242523 ]
 [ 0.96062565 -0.67177025]
 [-1.16286263  1.76864512]]