@ methods
   append()
   insert()
   extend()
   remove()
   pop()
   clear()
   count()
   reverse()
   sort()
   index()
   copy()
comprehension

In [29]:
a = [1,2,3,]
print(a ,type)
names = ['alice', 'bob','charlie']
print(names,type(names))
data = ['apple',50,'mango',100,'orange',70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1] * 10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'. split())

[1, 2, 3] <class 'type'>
['alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [30]:
n = [11,12,13,14,15,16,17,18,19.20]
print('first five =' ,n[:5])
print('last five =', n[:-5])
print('last five =', n[:-1])
print('first five =', n[:0])
print('expect first  and last 2= ',n[2:-2])
print('reverse list =',n[::-1])
print('all even indexes=',n[::2])
print('all odd indexes =',n[1::2])

first five = [11, 12, 13, 14, 15]
last five = [11, 12, 13, 14]
last five = [11, 12, 13, 14, 15, 16, 17, 18]
first five = []
expect first  and last 2=  [13, 14, 15, 16, 17]
reverse list = [19.2, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes= [11, 13, 15, 17, 19.2]
all odd indexes = [12, 14, 16, 18]

In [31]:
n[5] = 100 # update
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19.2]
[200, 12, 13, 14, 15, 100, 17, 18, 19.2]

In [32]:
fruits =['apple','mango','orange']
fruits[0] = 'custred apple'
print(fruits)
fruits [1] = 'jaicfruit'
print(fruits)

['custred apple', 'mango', 'orange']
['custred apple', 'jaicfruit', 'orange']

In [33]:
movies = []
print(type(movies))
print(len(movies))
movies.append("star wars")
movies.append("kaliki")
movies.append("war")
movies.append("the core")
movies.append("mahi")
movies.append("jaumanji")
print(movies)
print(len(movies))

<class 'list'>
0
['star wars', 'kaliki', 'war', 'the core', 'mahi', 'jaumanji']
6

In [34]:
ff = ['star and furies',
      '2 fast and 2 furious',
      'fast and furious: tokyo drift',
      'fast5']
ff.append("fast and furious 6")
print(ff)
ff.insert(3, 'fast anf furious 4')

['star and furies', '2 fast and 2 furious', 'fast and furious: tokyo drift', 'fast5', 'fast and furious 6']

In [35]:
n = [1,2,3,4,5,6,7,8,9]
n.insert(3,4) #on 3rd index insert value = 4
print(n)
n.insert(4,5) # on 5th index, insert value =5
print(n)
n.insert(7,8) #on 8th index , insert value =8
print(n)

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 5, 8, 6, 7, 8, 9]

In [36]:
# adding a list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5]

In [37]:
x = [1,2,3,4,5,6,7,8,9,5,8,1,5,,3,5]
print(x.count(1))
print(x.count(2))

print(x.count(3))

SyntaxError: invalid syntax (3081512889.py, line 1)

In [ ]:
n.pop() # remove last elemnet

movies.pop()
print(movies)

In [ ]:
n.clear()
print(n)
movies.clear()
print(movies)

NameError: name 'n' is not defined

In [ ]:
names = ['vijay','sharma','rahul','akbar0']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['akbar0', 'rahul', 'sharma', 'vijay']
['vijay', 'sharma', 'rahul', 'akbar0']

In [ ]:
heroes = ['golo','naruto','luffy']
print(heroes)
luffy_idx= heroes.index('luffy')
print(luffy_idx)

['golo', 'naruto', 'luffy']
2

In [ ]:
x = [1,2,3]
y =x
z = x.copy() 
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10,15,]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 225]

In [ ]:
x = [1,2,5,8,79,5]
x2 = [i**2 for i in x]
print(x)
print(x2)

[-9, -8, -5, -2, 69, -5]
[81, 64, 25, 4, 4761, 25]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b =[i-10 for i in a]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[-9, -8, -7, -6, -5, -4, -3, -2, -1]

comprehension with condition

In [ ]:
x= [15,25,45,78,96,63]
xeven2 =[i**2 for i in x if i %2==0]
print(x)
print(xeven2)

[15, 25, 45, 78, 96, 63]
[6084, 9216]

In [ ]:
x = [2,8,6,7,9,67]
xodd2 =[i-5 for i in x if i%2==0]
print(x)
print(xodd2)

[2, 8, 6, 7, 9, 67]
[-3, 3, 1]

In [ ]:
a= [65,68,89,79,80]
b = [ chr(i) for i in a]
print(a)
print(b)

[65, 68, 89, 79, 80]
['A', 'D', 'Y', 'O', 'P']

In [ ]:
crap_list= ['a',1,2,3,'b','c','d',4,5,5,1,1,2,5,6]
clean_list =[i for i in crap_list if isinstance(i, int)]
print(crap_list)
print(clean_list)

['a', 1, 2, 3, 'b', 'c', 'd', 4, 5, 5, 1, 1, 2, 5, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 2, 5, 6]

In [ ]:
 # make all the input to a int list
nums = [int(n) for n in input().split()]
print(nums)

[1, 5, 8, 2, 63, 5, 2, 5, 6, 5, 5]

**```python
Tupple*
```*

In [40]:
a = (1,2,3,4,5)
print(a,type(a))
b = 1,2,3,4
print(b,type(b))
#single element tuple
c = (1,)

print(c)
d =(1,) *5 # tuple duplicaton
print(d)
e = tuple([1,2,3,4,5])
print(e,type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) <class 'tuple'>

In [41]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [42]:
x = (1,1,1,1,3,4,5,6,6)
print(x.count(1))
print(x.count(10))
print(x.index(4)) # find index of 4

4
0
5

**> tuple unpacking**