In [1]:
from flask import Flask, render_template, flash, request, jsonify, Markup
import matplotlib
import matplotlib.pyplot as plt
import io, os, base64
import numpy as np
import pandas as pd

In [4]:
# Current top bottom up, top up down
import numpy as np
import pandas as pd
pop_df = pd.read_csv('/home/helix/Documents/UNAIDS/Data_sources/WPP2019_PopulationByAgeSex_Medium.csv')

(1404753, 12)

,LocID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,0-4,0,5,630.044,661.578,1291.622
1,4,Afghanistan,2,Medium,1950,1950.5,5-9,5,5,516.206,487.335,1003.541
2,4,Afghanistan,2,Medium,1950,1950.5,10-14,10,5,461.378,423.326,884.704
3,4,Afghanistan,2,Medium,1950,1950.5,15-19,15,5,414.369,369.363,783.732
4,4,Afghanistan,2,Medium,1950,1950.5,20-24,20,5,374.109,318.392,692.501

In [6]:
plot_to_show = ''
selected_country = ''
country_list = ''
selected_year = ''
plot_to_show1 = ''



selected_country = "Kenya"
selected_year = 1990

y = range(0, len(pop_df_tmp))

x_male = pop_df_tmp['PopMale']

x_female = pop_df_tmp['PopFemale']

# max xlim

#max_x_scale = max(max(x_female), max(x_male))


fig, axes = plt.subplots(ncols=2, sharey=True, figsize=(12, 10))


fig.patch.set_facecolor('xkcd:Beige')

plt.figtext(.5,.9,selected_country + ": " +  str(selected_year), fontsize=15, ha='center')




axes[0].barh(y, x_male, align='center', color='lightblue')

axes[0].set(title='Males')

#axes[0].set(xlim=[0,max_x_scale])

axes[1].barh(y, x_female, align='center', color='pink')

axes[1].set(title='Females')

#axes[1].set(xlim=[0,max_x_scale])

axes[1].grid()

axes[0].set(yticks=y, yticklabels=pop_df_tmp['AgeGrp'])

axes[0].invert_xaxis()

axes[0].grid()

NameError: name 'pop_df_tmp' is not defined