# Text formating/formation/concatination

In [1]:
first name = "Muhammad"

SyntaxError: invalid syntax (945809947.py, line 1)

In [2]:
0name = 'Qasim'

SyntaxError: invalid syntax (4177511717.py, line 1)

In [3]:
student^name = "Qasim"

SyntaxError: cannot assign to operator (1629844212.py, line 1)

In [4]:
age = 30
print(age)

30

In [5]:
print(Age)

NameError: name 'Age' is not defined

# Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [6]:
student_name = "Qasim"
print(student_name)

Qasim

In [8]:
a = len("Qasim")# return function
print(a)
print(a)
print(a)

5
5
5

In [9]:
a = print("Qasim")# return function
print(a)
print(a)
print(a)

Qasim
None
None
None

In [11]:
a = print( """
Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri
""")

print(a)
print(a)
print(a)

Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri

None
None
None

# Concatination
* **+**
* variable_name.format(var1,var2,var3)
* `f'`Student name: {var1} `'`

In [19]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name 

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim

In [21]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name+"\nAge: "+age 

print(card)

TypeError: can only concatenate str (not "int") to str

In [23]:
age = 30
print(age ,type(age))

# type casting
age = str(age)
print(age ,type(age))

30 <class 'int'>
30 <class 'str'>

In [24]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name+"\nAge: "+ str(age) 

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [26]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30


card = """Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 40

"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 40

In [27]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30


card = """Institute Name: {}
Student Full Name: {} {}
Age: {}

""".format(institute_name,first_name,last_name,age)
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [28]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30


card = """Institute Name: {3}
Student Full Name: {0} {1}
Age: {2}

""".format(institute_name,first_name,last_name,age)
#              0             1         2        3
print(card)

Institute Name: 30
Student Full Name: Saylani Mass IT Training Muhammad
Age: Qasim

# with `f`

In [30]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30

card = f"""Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Age: {age}

"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [41]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30


card = """Institute Name: %s 
Student Full Name: %s %s
Age: %d
""" % (institute_name, first_name, last_name, age)
#         0              1           2         3
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [43]:
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [47]:
for  idx, i in enumerate([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [48]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: muhammad qasim
age: 30

In [52]:
print(card.casefold())# inline

institute name: saylani mass it training
student full name: muhammad qasim
age: 30

In [51]:
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [57]:
print(card)
card.count('Qasim')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

1

In [58]:
print(card)
card.count('qasim')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

0

In [60]:
print(card)
card.casefold().count('qasim')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

1

In [61]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [62]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'