In [15]:
import pandas as pd
import numpy as np
data=pd.read_csv('train.csv')

In [16]:
def clean_data(data):
    data[data=='yes']=1
    data[data=='no']=0
    data.drop('state',axis=1,inplace=True)
    data.drop('area_code',axis=1,inplace=True)
    return data

In [17]:
data=clean_data(data)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   account_length                 4250 non-null   int64
 1   international_plan             4250 non-null   object
 2   voice_mail_plan                4250 non-null   object
 3   number_vmail_messages          4250 non-null   int64
 4   total_day_minutes              4250 non-null   float64
 5   total_day_calls                4250 non-null   int64
 6   total_day_charge               4250 non-null   float64
 7   total_eve_minutes              4250 non-null   float64
 8   total_eve_calls                4250 non-null   int64
 9   total_eve_charge               4250 non-null   float64
 10  total_night_minutes            4250 non-null   float64
 11  total_night_calls              4250 non-null   int64
 12  total_night_charge             4250 non-null   float64
 13  total_intl_minutes             4250 non-null   float64
 14  total_intl_calls               4250 non-null   int64
 15  total_intl_charge              4250 non-null   float64
 16  number_customer_service_calls  4250 non-null   int64
 17  churn                          4250 non-null   object
dtypes: float64(8), int64(7), object(3)
memory usage: 597.8+ KB

In [48]:
np_data=np.array(data)

In [49]:
np_data[0]

array([107, 0, 1, 26, 161.6, 123, 27.47, 195.5, 103, 16.62, 254.4, 103,
       11.45, 13.7, 3, 3.7, 1, 0], dtype=object)

In [50]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_old=np_data[:,:-1]
X_old=scaler.fit_transform(X_old)

In [51]:
X_old[0]

array([ 0.17039882, -0.32054702,  1.67986382,  1.36685697, -0.34550964,
        1.16344948, -0.3457877 , -0.09302489,  0.14184136, -0.09249324,
        1.07000318,  0.15730891,  1.0708197 ,  1.24790134, -0.57916393,
        1.24859124, -0.42634613])

In [52]:
class PCA:
    def  __init__(self, num_components):
        self.num_components=num_components
        self.components=None
        self.mean=None
        self.variance_share=None
    def fit(self,X):
        self.mean=np.mean(X,axis=0)
        X=X-self.mean
        cov=np.cov(X.T)
        values,vectors=np.linalg.eig(cov)
        sort_idx=np.argsort(values)[::-1]
        values=values[sort_idx]
        vectors=vectors[:,sort_idx]
        self.components=vectors[:self.num_components]
        self.variance_share=values[:self.num_components]/np.sum(values)
    def transform(self,X):
        X=X-self.mean
        return np.dot(X,self.components.T)

In [47]:


X_old=np_data[:,:-1]

In [53]:
X_old=X_old.astype(float)

In [54]:
pca= PCA(num_components=4)
pca.fit(X=X_old)
X_old=pca.transform(X_old)

In [59]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()
y_old=np_data[:,-1]

In [61]:
y_old=y_old.astype(int)

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_old, y_old, test_size=0.33, random_state=42)

In [66]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [67]:
clf.score(X_test,y_test)

0.8560228082679971

In [68]:
data_test=pd.read_csv('test.csv')

In [70]:
data_test=clean_data(data_test)

In [73]:
data_test.drop('id',axis=1,inplace=True)

In [74]:
data_test

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,128,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,118,1,0,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
2,62,0,0,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4
3,93,0,0,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3
4,174,0,0,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,130,0,0,0,119.4,99,20.30,226.3,97,19.24,202.7,111,9.12,11.3,7,3.05,0
746,73,0,0,0,177.2,118,30.12,270.5,84,22.99,241.8,112,10.88,12.3,2,3.32,3
747,152,0,0,0,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,14.7,2,3.97,3
748,61,0,0,0,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,13.6,4,3.67,1
749,109,0,0,0,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,8.5,6,2.30,0

In [75]:
data_test=data_test.astype(float)

In [76]:
data_test=scaler.fit_transform(data_test)

In [80]:
pca.fit(data_test)
data_test=pca.transform(data_test)

In [82]:
output=clf.predict(data_test)

In [88]:
output.shape[0]

750

In [94]:
id=np.arange(1,output.shape[0]+1)

In [95]:
output=pd.DataFrame(output,columns=['churn'])

In [97]:
output[output==0]='no'
output[output==1]='yes'

/tmp/nix-shell.gMFMhk/ipykernel_47373/4091106419.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'no' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  output[output==0]='no'

In [99]:
output_text = pd.concat([pd.Series(id, name='id'), output], axis=1)

In [100]:
output_text.to_csv('output.csv', index=False)

      id churn
0      1    no
1      2    no
2      3    no
3      4    no
4      5    no
..   ...   ...
745  746    no
746  747    no
747  748    no
748  749    no
749  750    no

[750 rows x 2 columns]

In [84]:
output_text[output==1]='yes'
output_text[output==0]='no'

NameError: name 'output_text' is not defined

In [ ]:
data_test[]