## LIST

# Creating a List

In [1]:
# Empty list

print([])

[]

In [2]:
# 1D --> homegenous
print([1,2,3,4,5])

# 2D
print([1,2,3,[4,5]])

# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])

# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])

# Using Type Conversion
print(list('hello '))

[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o', ' ']

# Accessing items from a List

In [3]:
# Indexing

L = [1,2,3,4,5]

## positive


# slicing
L = [1,2,3,4,5,6]

print(L[0:3])

print(L[-3:-1])

print(L[-3:])


print(L[0::2])

print(L[-3:-1])

print(L[-3:-1])

print(L[-5:-2:2])

print(L[::-1])

[1, 2, 3]
[4, 5]
[4, 5, 6]
[1, 3, 5]
[4, 5]
[4, 5]
[2, 4]
[6, 5, 4, 3, 2, 1]

# Adding items to List

In [4]:
# append

L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [5]:
# extend

L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [7]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [8]:
# insert

L = [1,2,3,4,5]
L.insert(1,100)

print(L)

[1, 100, 2, 3, 4, 5]

## Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

# Deleting items from a List

In [9]:
# del
L = [1,2,3,4,5]
print(L)

del L

print(L)

[1, 2, 3, 4, 5]

NameError: name 'L' is not defined

In [10]:
L = [1,2,3,4,5]


# indexing
del L[-1]
print(L)

# slicing

del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 4]

In [11]:
# remove

L = [1,2,3,4,5,6]

L.remove(5)

print(L)

[1, 2, 3, 4, 6]

In [12]:
# pop

L = [1,2,3,4,5]
L.pop(0)

print(L)

[2, 3, 4, 5]

In [13]:
L = [1,2,3,4,5]
L.pop()

print(L)

[1, 2, 3, 4]

In [14]:
# clear

L = [1,2,3,4,5,6]

L.clear()

print(L)

[]

# Operations on Lists

*   Arithmetic
*   Membership
*   Loop

In [ ]:
# Loops

L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

for i in L1:
  print(i)
print('-'*10)
for _ in L2:
  print(_)

1
2
3
4
5
----------
1
2
3
4
[5, 6]

In [ ]:
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

# List Functions

In [ ]:
# len / min / max / sorted

L = [2,4,5,3,7,5,8,4]

print(len(L))
print(min(L))

print(max(L))

print(sorted(L))


print(sorted(L,reverse=True))

8
2
8
[2, 3, 4, 4, 5, 5, 7, 8]
[8, 7, 5, 5, 4, 4, 3, 2]

In [ ]:
# count
L= [1,2,5,3,4,2,1,5,4,9,3,1,2,4,5,3]
L.count(1)

3

In [ ]:
# index
L.index(5)

2

In [ ]:
# reverse
L= [1,2,5,3,4,2,1,5,4,9,3,1,2,4,5,3]

# permanently reverses the list
L.reverse()
print(L)

[3, 5, 4, 2, 1, 3, 9, 4, 5, 1, 2, 4, 3, 5, 2, 1]

In [ ]:
# sort (vs sorted)

# sort ---> permanently sort the list

L = [2,4,5,3,7,5,8,4]
print(L)
print(sorted(L))

print(L)

L.sort()
print(L)

[2, 4, 5, 3, 7, 5, 8, 4]
[2, 3, 4, 4, 5, 5, 7, 8]
[2, 4, 5, 3, 7, 5, 8, 4]
[2, 3, 4, 4, 5, 5, 7, 8]

In [ ]:
# copy  --> shallow

L = [2,4,5,3,7,5,8,4]
print(L)
print(id(L))

L1 = L.copy()
print(L1)

print(id(L1))

[2, 4, 5, 3, 7, 5, 8, 4]
140370946516672
[2, 4, 5, 3, 7, 5, 8, 4]
140370948133248

# List Comprehension

In [ ]:
# Add  1 to 10 numbers to a list

L = []

for i in range(1,11):
  L.append(i)
  print(i)

print(L)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Scalar multiplication of Vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

x=[]
for i in v:
  x.append(i*s)

print(x)

[-6, -9, -12]

In [ ]:
[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L=[1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p

languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension

basket = ['apple', 'guava', 'cherry', 'banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket
# and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension --->  Nested List Comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products  -->  List comprehension on 2 list together

L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# 2 ways to traverse a list

In [ ]:
# itemwise

L= [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise

L= [1,2,3,4]

for i in range(0,len(L)):
  print(i)

print('*'*10)

for i in range(0,len(L)):
  print(L[i])

0
1
2
3
**********
1
2
3
4

# Zip function

In [ ]:
# Write a program to add items of two list indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [ ]:
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7faaec6d1db0>>]