# Día 2, yay!

## Creación de carpetas y guía para el trabajo colaborativo

Antes que nada, al abrir el espacio de código se deben descargar los cambios realizados hasta el momento. Esto puede suceder vía "git pull" o yendo al control de código fuente y dando click en el botón verde de confirmación.

Luego, incorporar los cambios. En este caso, vamos a crear dentro de la carpeta "Sesión 2" una carpeta con el primer nombre y primer apellido de cada quien, sin tildes ni caracteres especiales como la "ñ". Ejemplo: "Juan Rodriguez". Una vez hecho esto, seguimos los comandos: git add ., git commit -m "Nombre_del_cambio", git push.

En el caso de que esto genere conflicto, desde el control de código fuente (tercera opción en la barra izquierda con dibujito de nodos) puede revisarse el pull que no se ha realizado y, de ser necesario, ejecutar un "pull with rebase".

## Operaciones entre datos

In [3]:
a = 3

In [4]:
b = "Hubble" #Esta variable tiene un telescopio guardado

In [5]:
#es posible sumar a + b ...

In [10]:
Int = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
c = 300000.0

In [12]:
a + c

300003.0

In [13]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
str(a) + b

'3Hubble'

In [15]:
a + c

300003.0

In [16]:
b = "Hubble"

In [17]:
a * b

'HubbleHubbleHubble'

In [18]:
parte_1 = "curso"
parte_2 = "programando"
parte_3 = "con"
parte_4 = "estrellas"

In [19]:
parte_1 + parte_2 + parte_3 + parte_4

'cursoprogramandoconestrellas'

In [20]:
parte_1 + " " + parte_2 + " " + parte_3 + " " + parte_4

'curso programando con estrellas'

Operaciones usuales

In [21]:
d = 10
e = 3

In [22]:
10 + 3

13

In [23]:
d + e

13

In [24]:
10 * 3

30

In [25]:
d * e

30

In [26]:
d**e

1000

In [27]:
d / e

3.3333333333333335

In [28]:
d // e

3

In [29]:
d % e

1

## Función print

¿Qué pasa si llamo dos variables diferentes en una misima celda de código?

In [27]:
a
b

'Hubble'

In [28]:
print(a)
print(b)

3
Hubble

In [29]:
print ("¡Hola Mundo!")

¡Hola Mundo!

In [30]:
print (a + c)

300003.0

In [31]:
print ("Hola! Esta variable b guarda un telescopio:", b )

Hola! Esta variable b guarda un telescopio: Hubble

In [32]:
print ("a:", a, ".b", b )
print(f'a: {a}, .b {b}')

a: 3 .b Hubble
a: 3, .b Hubble

In [33]:
print ('A continuación un salto de línea: \nHemos hecho un salto de línea\n Yeah!')

A continuación un salto de línea:
Hemos hecho un salto de línea
 Yeah!

In [1]:
print ("uno")
print ("dos")
print ("tres")

uno
dos
tres

In [2]:
print ("""uno 
dos
tres""")

uno
dos
tres

In [3]:
print ("uno", end="")
print ("dos", end="")
print ("tres")

unodostres

### Reto: Vaya a la carpeta Sesión 2 y abra la carpeta que tiene su nombre, a continuación cree un archivo llamado operaciones.ipynb donde escriba un código que determine si un número cualquiera es múltiplo de 2 e imprima "Es múltiplo de 2" o "No es múltiplo de 2" según sea el caso.

## Listas

In [7]:
a = 3
b = "Hubble"
c = 300000.0
my_list = [a,b,c]

In [5]:
print (my_list)

[3, 'Hubble', 300000.0]

In [6]:
type (my_list)

list

In [7]:
my_list[0]

3

In [8]:
my_list[1]

'Hubble'

In [12]:
my_list[2]

300000.0

In [9]:
my_list[3]

IndexError: list index out of range

In [10]:
my_list[-2]

'Hubble'

In [11]:
range(0,4)

range(0, 4)

In [12]:
list(range(4))

[0, 1, 2, 3]

In [13]:
list(range(3,11))

[3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
list(range(0,22,3))

[0, 3, 6, 9, 12, 15, 18, 21]

## Control de flujo

In [43]:
n=0

while(n <= 5):
    print (n)
    n = n + 1

print(n)
m = n + 1
print(n)

0
1
2
3
4
5
6
6

Depende altamente del orden de las instrucciones

In [14]:
n=0

while(n <= 5):
    n = n + 1
    print(n)

1
2
3
4
5
6

In [2]:
n

NameError: name 'n' is not defined

In [3]:
for n in range(5):
    print (n)

0
1
2
3
4

In [4]:
for n in range(5):
    print (n)
    if(n > 2):
        print ("n es mayor a 2!!")

0
1
2
3
n es mayor a 2!!
4
n es mayor a 2!!

In [5]:
# Demosle un valor definerente a n
n = -21

In [6]:
if(n<0):
    print ("n es negativo")
if(n>0):
    print ("n es positivo")
if (n==0):
    print ("n es cero")

n es negativo

Otra forma:

In [ ]:
if(n<0):
    print ("n es negativo")
elif(n>0):
    print ("n es positivo")
else:
    print ("n es cero")

In [ ]:
x = 0

while(1):
    print(x)
    x = x+1

    if(x==10):
        break

In [ ]:
for i in my_list:
    print (i)

In [ ]:
for i in my_list:
    if i == 3:
        print(i)
    elif i == "Hubble":
        print(2*telescopio)
    else:
        print(3*str(c))

**1. HACER UN CÓDIGO QUE ESCRIBA LOS PRIMEROS 20 NÚMEROS DE LA SERIE DE FIBONACCI**

1,1,2,3,5 ...

**2. ESCRIBIR UN CÓDIGO QUE RETORNE LOS NOMBRES DE LOS PLANETAS DEL SISTEMA SOLAR DE MÁS MASIVO A MENOS MASIVO**

**3. HACER UN CÓDIGO QUE ESCRIBA LOS * DE ESTA FORMA**

\* <br>
\*\* <br>
\*\*\* <br>
\*\*\*\* <br>
\*\*\*\*\* <br>
\*\*\*\*\*\* <br>
\*\*\*\*\* <br>
\*\*\*\* <br>
\*\*\* <br>
\*\* <br>
\* <br>

**4. TAREA: HACER UN CÓDIGO QUE ESCRIBA EL TRÍANGULO DE PASCAL HASTA LA QUINTA FILA**

La solución a los retos debe subirse a la carpeta Sesión 1 dentro de UN solo archivo nombrado con su primer nombre y primer apellido unidos con una raya al piso y con la extensión .ipynb. Ejemplo: Nombre_Apellido.ipynb

## for e if

In [ ]:
# FOR e IF

# Hallar números pares e impares en una lista

x = 21
y = 22

print( "x % 2 = ", x % 2 )

print( "y % 2 = ", y % 2 )

In [ ]:
if( x % 2 == 0):
    print( x, " es un número par")
if( x % 2 == 1):
    print( x, "es un número impar")
if( y % 2 == 0):
    print( x, " es un número par")
if( y % 2 == 1):
    print( x, "es un número impar")

In [ ]:
mi_lista = [2,6,8,53,889,13456,98876,37654499]

for x in mi_lista:
    if( x % 2 == 0):
        print( x, " es un número par")
    if( x % 2 == 1):
        print( x, "es un número impar")

In [ ]:
# ELSE

mi_lista = [2,6,8,53,889,13456,98876,37654499]

for x in mi_lista:
    if( x % 2 == 0):
        print( x, " es un número par")
    else:
        print( x, "es un número impar")

In [ ]:
mi_lista = [2,6,8,53,889,13456,98876,37654499]

for x in mi_lista:
    if( x % 2 == 0):
        print( x, " es un número par")
    a=1
    if( x % 2 == 1):
        print( x, "es un número impar")

In [ ]:
mi_lista = [2,6,8,53,889,13456,98876,37654499]

for x in mi_lista:
    if( x % 2 == 0):
        print( x, " es un número par")
    a=1
    else:
        print( x, "es un número impar")

## Funciones

In [1]:
def funcion(argumento):
    
    # Se hacen cálculos
    # Bla bla bla bla
    
    # devuelve un valor
    return argumento

In [ ]:
# Llamar a la función:

funcion( 3 )

In [3]:
def suma(a, b):
    c = a + b
    return c

In [ ]:
suma( 2, 4)

In [5]:
def cuadrado(a):
    resultado = a * a
    return resultado

In [ ]:
cuadrado(3)

In [10]:
def raiz(x):
    return x**0.5

In [ ]:
raiz(81)

Reto: Vamos a escribir cuatro funciones en el archivo "operaciones.ipynb" que cada uno creó. Para esto es muy importante que estén muy pendientes de editar solo su carpeta. Una función por cada operación básica: suma, resta, multiplicación y división. Puede utilizar la estructura del archivo "Ejemplo funciones.ipynb" como ayuda.

## Librerías

Las librerías son un conjunto de funciones que han sido escritas de manera previa para uso de un usuario futuro.

El archivo "operaciones.ipynb" de su carpeta puede ser convertido en una librería que tendrá las funciones suma, resta, mul y div a su disposición. Para esto debe:
 1. ir a los tres puntos al lado de "Esquema" justo encima de las celdas de código y hacer click en "exportar". 
 2. Posteriormente aceptar la opción "Script de Python", lo que abrirá una nueva pestaña que tendremos que ejecutar para que nos de la opción de cambiar el nombre y guardarla. 
 3. Este archivo quedará llamado "operaciones.py" en su carpeta.

Exploremos una librería llamada math. Para ello es necesario ir a la documentación https://docs.python.org/es/3.10/library/math.html#number-theoretic-and-representation-functions

In [12]:
import math

def raiz(x):
    return math.sqrt(x)

In [ ]:
raiz(81)

In [ ]:
suma( cuadrado(9), raiz(81))

In [ ]:
# Otras cosas que tiene la librería math
# https://docs.python.org/3/library/math.html

math.pi

In [ ]:
math.cos(0)

## Numpy y matplotlib (づ｡◕‿‿◕｡)づ

In [13]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
x = np.linspace(-3,3,21)

In [ ]:
x

In [4]:
def recta(x, m, b):
    
    y = m * x + b
    
    return y

In [5]:
y = recta(x, 1, 0)

In [ ]:
plt.plot(x,y)
plt.axis('equal')

In [ ]:
plt.scatter(x,y)

plt.axis('equal')

In [ ]:
plt.title("Una bonita recta")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, recta(x,1,0), label= "m=1, b=0")

plt.legend()
plt.axis('equal')

In [ ]:
plt.title("Varias bonitas rectas")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, recta(x,1,0), label= "m=1, b=0")
plt.plot( x, recta(x,0,0), label= "m=0, b=0")
plt.plot( x, recta(x,-2,0), label= "m=-2, b=0")


plt.legend()
plt.axis('equal')

In [ ]:
fig = plt.figure(figsize=[7,7])
plt.xlim(-3,3)
plt.ylim(-3,3)

plt.title("Varias rectas muy bonitas")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, recta(x,1,0), label= "m=1, b=0")
plt.plot( x, recta(x,0,0), label= "m=0, b=0")
plt.plot( x, recta(x,-2,0), label= "m=-2, b=0")

plt.legend()

In [ ]:
fig = plt.figure(figsize=[7,7])
plt.xlim(-3,3)
plt.ylim(-3,3)

plt.title("Varias rectas muy bonitas")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, recta(x,1,0), label= "m=1, b=0")
plt.plot( x, recta(x,1,2), label= "m=1, b=2")
plt.plot( x, recta(x,1,4), label= "m=1, b=4")

plt.legend()

In [ ]:
def cuadratica(x,a,b,c):
    y = a*x**2 + b*x + c
    return y

In [ ]:
fig = plt.figure(figsize=[7,7])
plt.xlim(-3,3)
plt.ylim(-3,3)


plt.title("Una función muy cuadrática")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, cuadratica(x,2,-1,-1), label= "$2 x^2 - x - 1$")

plt.legend()

In [ ]:
fig = plt.figure(figsize=[7,7])
plt.xlim(-3,3)
plt.ylim(-3,3)


plt.title("Muchas curvas muy cuadráticas")

plt.xlabel("eje x")
plt.ylabel("eje y");

plt.plot( x, cuadratica(x,2,-1,-1), label= "$2 x^2 - x - 1$")
plt.plot( x, cuadratica(x,-2,+1,+2), label= "$-2 x^2 + x + 2$")


plt.legend()

## Desafío

Escribir un código que utilice la ley de Wien para definir dos funciones:
1. Una que retorne la temperatura superficial de una estrella conociendo el pico de longitud de onda
2. Otra que retorne el pico de longitud de onda conociendo la temperatura superficial de la estrella. 

Subir el archivo como .py con su primer nombre y primer apellido unidos por una raya al piso a la carpeta "Programadores".