In [3]:
%pip install pandas
%pip install requests
%pip install RateMyProfessorAPI==1.3.6

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jarrettcura/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/jarrettcura/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: RateMyProfessorAPI==1.3.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.3.6)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from RateMyProfessorAPI==1.3.6) (2.31.0)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from RateMyProfessorAPI==1.3.6) (4.12.3)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from RateMyProfessorAPI==1.3.6) (5.1.0)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4->RateMyProfessorAPI==1.3.6) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->RateMyProfessorAPI==1.3.6) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->RateMyProfessorAPI==1.3.6) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->RateMyProfessorAPI==1.3.6) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->RateMyProfessorAPI==1.3.6) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import requests
import json
import time
import ratemyprofessor

In [5]:
# Dataframes for gpas of course sections - taken from prof. Wade's datasets
sp2020 = pd.read_csv('raw-data/sp2020.csv')
sp2021 = pd.read_csv('raw-data/sp2021.csv')
sp2022 = pd.read_csv('raw-data/sp2022.csv')
sp2023 = pd.read_csv('raw-data/sp2023.csv')
fa2020 = pd.read_csv('raw-data/fa2020.csv')
fa2021 = pd.read_csv('raw-data/fa2021.csv')
fa2022 = pd.read_csv('raw-data/fa2022.csv')

In [6]:
# For now, we are just concatenating these DF's. For the website, we'll run a for loop to collect datasets from the last 5 years
df = pd.concat([sp2020, sp2021, sp2022, sp2023, fa2020, fa2021, fa2022], ignore_index=True)
df

,Subject,Course,CRN,Course Title,Sched Type,A+,A,A-,B+,B,...,D+,D,D-,F,W,Average Grade,Primary Instructor,Section,Term,Course Section
0,AAS,100,30107,Intro Asian American Studies,DIS,12,12,1,0,2,...,0,0,0,1,0,3.68,"Boonsripaisal, Simon",NaN,NaN,NaN
1,AAS,100,41729,Intro Asian American Studies,DIS,5,12,4,1,4,...,0,0,0,1,0,3.51,"Boonsripaisal, Simon",NaN,NaN,NaN
2,AAS,100,43832,Intro Asian American Studies,DIS,0,8,7,3,6,...,0,0,0,0,0,3.28,"Uhall, Michael B",NaN,NaN,NaN
3,AAS,100,48232,Intro Asian American Studies,DIS,8,6,2,0,4,...,0,0,0,0,0,3.44,"Uhall, Michael B",NaN,NaN,NaN
4,AAS,100,48234,Intro Asian American Studies,DIS,5,4,3,1,4,...,1,0,1,1,0,3.00,"Kang, Yoonjung",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16506,VM,605,56271,Pathobiology I,LEC,0,37,0,0,59,...,0,2,0,0,0,2.98,"Zuckermann, Federico A",NaN,120228.0,AL1
16507,VM,607,64924,Pathobiology II,LEC,0,56,0,0,67,...,0,1,0,0,0,3.34,"Maddox, Carol W",NaN,120228.0,AL1
16508,VM,652,75872,LA Medicine and Surgery I,LEC,0,15,0,0,59,...,0,11,0,0,0,2.60,"Ridgway, Marcella D",NaN,120228.0,AL1
16509,VM,653,75873,SA Medicine and Surgery II,LEC,0,20,0,0,54,...,0,17,0,2,0,2.56,"Ridgway, Marcella D",NaN,120228.0,AL1
16510,VM,654,75874,LA Medicine and Surgery II,LEC,0,47,0,0,54,...,0,4,0,0,0,3.10,"Aldridge, Brian M",NaN,120228.0,AL1

In [27]:
subject = 'AAS'
course = 100
# How to get DF of only rows with specificed subject and course number:
AAS_sections = df[(df['Subject'] == subject) & (df['Course'] == course)]
print(AAS_sections)

      Subject  Course    CRN                  Course Title Sched Type  A+   A  \
0         AAS     100  30107  Intro Asian American Studies        DIS  12  12
1         AAS     100  41729  Intro Asian American Studies        DIS   5  12
2         AAS     100  43832  Intro Asian American Studies        DIS   0   8
3         AAS     100  48232  Intro Asian American Studies        DIS   8   6
4         AAS     100  48234  Intro Asian American Studies        DIS   5   4
5         AAS     100  50105  Intro Asian American Studies        DIS   3   6
6         AAS     100  54572  Intro Asian American Studies        DIS   3  14
7         AAS     100  51886  Intro Asian American Studies        DIS   4  15
8         AAS     100  70761  Intro Asian American Studies        LCD   3   4
9         AAS     100  70762  Intro Asian American Studies        LCD   0  17
2098      AAS     100  30107  Intro Asian American Studies         OD  14   9
2099      AAS     100  41729  Intro Asian American Studies         OD  12   8
2100      AAS     100  43832  Intro Asian American Studies         OD   0  13
2101      AAS     100  48232  Intro Asian American Studies         OD   0  11
2102      AAS     100  48234  Intro Asian American Studies         OD   1   8
2103      AAS     100  50105  Intro Asian American Studies         OD   2   4
2104      AAS     100  54572  Intro Asian American Studies         OD   2  19
2105      AAS     100  51886  Intro Asian American Studies         OD   3  19
2106      AAS     100  70761  Intro Asian American Studies         OD   3  18
2107      AAS     100  70762  Intro Asian American Studies         OD   4  16
4246      AAS     100  69781  Intro Asian American Studies        LCD   6  13
4247      AAS     100  30107  Intro Asian American Studies        DIS   0  11
4248      AAS     100  41729  Intro Asian American Studies        DIS   0  10
4249      AAS     100  43832  Intro Asian American Studies        DIS  17   8
4250      AAS     100  48234  Intro Asian American Studies         OD   0   8
4251      AAS     100  50105  Intro Asian American Studies         OD   0  11
4252      AAS     100  51886  Intro Asian American Studies        DIS   1  10
4253      AAS     100  70761  Intro Asian American Studies        DIS   0  10
4254      AAS     100  70762  Intro Asian American Studies        DIS   0  15
6543      AAS     100  41729  Intro Asian American Studies        DIS   0  11
6544      AAS     100  43832  Intro Asian American Studies        DIS   0  17
6545      AAS     100  48232  Intro Asian American Studies        DIS   0  13
8772      AAS     100  41758  Intro Asian American Studies         OD  10   9
8773      AAS     100  47100  Intro Asian American Studies         OD   2  11
8774      AAS     100  47102  Intro Asian American Studies         OD   1  16
8775      AAS     100  51248  Intro Asian American Studies         OD  15   8
8776      AAS     100  51249  Intro Asian American Studies         OD   4  14
8777      AAS     100  51932  Intro Asian American Studies         OD   1  15
8778      AAS     100  59818  Intro Asian American Studies         OD   7  11
8779      AAS     100  59819  Intro Asian American Studies         OD   4  12
8780      AAS     100  59820  Intro Asian American Studies         OD   2  14
8781      AAS     100  59821  Intro Asian American Studies         OD   7  14
11079     AAS     100  41758  Intro Asian American Studies        DIS   2  14
11080     AAS     100  47100  Intro Asian American Studies        DIS   0  15
11081     AAS     100  47102  Intro Asian American Studies         OD   7   4
11082     AAS     100  51248  Intro Asian American Studies        DIS   1  18
11083     AAS     100  51249  Intro Asian American Studies        DIS   0  16
11084     AAS     100  51932  Intro Asian American Studies         OD  10   4
11085     AAS     100  59818  Intro Asian American Studies        DIS   5   9
11086     AAS     100  59819  Intro Asian American Studies        DIS   2  14
11087     AAS     100  59820  Intro Asian American Studies        DIS   5  12
11088     AAS     100  59821  Intro Asian American Studies        DIS   7  11
13775     AAS     100  41758  Intro Asian American Studies        DIS   0  11
13776     AAS     100  47100  Intro Asian American Studies        DIS   0  12
13777     AAS     100  47102  Intro Asian American Studies        DIS   0  19
13778     AAS     100  51248  Intro Asian American Studies        DIS   2  15
13779     AAS     100  51249  Intro Asian American Studies        DIS   0  19
13780     AAS     100  59819  Intro Asian American Studies        DIS  17   4
13781     AAS     100  59820  Intro Asian American Studies        DIS   0  14
13782     AAS     100  59821  Intro Asian American Studies        DIS   0  18

       A-  B+   B  ...  D+  D  D-  F  W  Average Grade  \
0       1   0   2  ...   0  0   0  1  0           3.68
1       4   1   4  ...   0  0   0  1  0           3.51
2       7   3   6  ...   0  0   0  0  0           3.28
3       2   0   4  ...   0  0   0  0  0           3.44
4       3   1   4  ...   1  0   1  1  0           3.00
5       2   1   5  ...   0  0   0  3  0           2.91
6       0   0  11  ...   0  0   0  0  0           3.43
7       0   1   3  ...   1  0   0  1  0           3.24
8       9   5   3  ...   0  0   0  1  0           3.15
9       3   1   3  ...   0  0   0  0  0           3.53
2098    0   2   2  ...   1  0   1  0  0           3.61
2099    1   2   0  ...   0  0   0  3  0           3.37
2100    8   1   3  ...   0  1   0  1  0           3.47
2101    8   2   3  ...   0  0   0  1  0           3.53
2102    5   4   1  ...   0  0   0  2  0           3.26
2103   11   4   5  ...   0  1   0  0  0           3.47
2104    1   1   2  ...   0  0   0  1  0           3.67
2105    1   2   1  ...   0  0   0  1  0           3.64
2106    2   0   1  ...   0  1   0  0  0           3.60
2107    2   1   1  ...   0  0   0  0  0           3.65
4246    0   0   4  ...   1  1   0  0  0           3.41
4247    5   3   1  ...   1  0   0  0  0           3.44
4248    7   4   3  ...   0  0   0  2  0           3.36
4249    1   1   1  ...   0  0   0  0  0           3.93
4250    4   1   1  ...   0  0   1  3  1           2.92
4251    2   1   3  ...   0  1   0  1  0           3.30
4252    5   4   1  ...   0  0   0  0  0           3.46
4253    6   4   3  ...   0  0   0  0  0           3.47
4254    5   1   1  ...   0  0   0  0  0           3.64
6543    5   1   4  ...   0  0   0  1  0           3.53
6544    2   1   2  ...   0  0   0  0  1           3.80
6545    2   2   0  ...   0  0   0  1  0           3.48
8772    4   0   2  ...   0  1   0  1  0           3.55
8773    2   2   5  ...   0  1   0  1  0           3.28
8774    3   3   0  ...   0  0   0  2  0           3.44
8775    1   0   0  ...   0  0   0  0  0           3.76
8776    4   3   1  ...   1  0   0  1  0           3.52
8777    0   3   3  ...   1  0   0  1  0           3.31
8778    2   2   3  ...   0  0   0  2  0           3.43
8779    4   3   1  ...   0  0   0  1  0           3.49
8780    3   2   5  ...   1  0   0  0  0           3.63
8781    5   0   1  ...   0  0   0  0  0           3.83
11079   2   3   5  ...   0  0   0  0  0           3.54
11080   0   3   5  ...   0  0   0  1  0           3.39
11081   1   1   7  ...   0  1   0  1  0           3.10
11082   0   2   4  ...   0  0   0  0  0           3.74
11083   1   3   5  ...   0  0   0  0  0           3.55
11084   2   2   1  ...   0  0   0  3  0           3.15
11085   3   0   5  ...   0  0   0  3  0           3.24
11086   1   2   3  ...   0  0   0  0  0           3.51
11087   3   0   3  ...   0  0   0  0  0           3.62
11088   1   0   3  ...   0  0   0  0  0           3.64
13775   3   3   4  ...   0  0   0  0  0           3.67
13776   5   3   1  ...   0  0   0  1  0           3.50
13777   5   0   0  ...   0  0   0  0  0           3.88
13778   3   2   0  ...   0  0   0  1  0           3.72
13779   1   2   1  ...   0  0   0  1  0           3.72
13780   0   0   0  ...   0  0   0  2  1           3.65
13781   2   5   0  ...   0  0   0  1  0           3.54
13782   6   1   0  ...   0  0   0  0  0           3.89

             Primary Instructor  Section      Term  Course Section
0          Boonsripaisal, Simon      NaN       NaN             NaN
1          Boonsripaisal, Simon      NaN       NaN             NaN
2              Uhall, Michael B      NaN       NaN             NaN
3              Uhall, Michael B      NaN       NaN             NaN
4                Kang, Yoonjung      NaN       NaN             NaN
5                Kang, Yoonjung      NaN       NaN             NaN
6                 Park, Doo Jae      NaN       NaN             NaN
7                 Park, Doo Jae      NaN       NaN             NaN
8               Thomas, Merin A      NaN       NaN             NaN
9                   Lee, Sang S      NaN       NaN             NaN
2098       Boonsripaisal, Simon      AD1  120211.0             NaN
2099       Boonsripaisal, Simon      AD2  120211.0             NaN
2100            Guruparan, Akil      AD3  120211.0             NaN
2101            Guruparan, Akil      AD4  120211.0             NaN
2102             Kang, Yoonjung      AD5  120211.0             NaN
2103             Kang, Yoonjung      AD6  120211.0             NaN
2104                   Wang, Yu      AD7  120211.0             NaN
2105                   Wang, Yu      AD8  120211.0             NaN
2106        Horton, Christina M      AD9  120211.0             NaN
2107        Horton, Christina M      ADA  120211.0             NaN
4246                Lee, Sang S      NaN       NaN              AB
4247              Zheng, Reanne      NaN       NaN             AD1
4248              Zheng, Reanne      NaN       NaN             AD2
4249   Rosado-Torres, Alexander      NaN       NaN             AD3
4250                   Wang, Yu      NaN       NaN             AD5
4251                   Wang, Yu      NaN       NaN             AD6
4252         Gonzalez, Daniel A      NaN       NaN             AD8
4253    Atienza, Paul Michael L      NaN       NaN             AD9
4254    Atienza, Paul Michael L      NaN       NaN             ADA
6543              Shin, Jeongsu      NaN  120231.0             AD2
6544              Shin, Jeongsu      NaN  120231.0             AD3
6545             Lee, Sabrina Y      NaN  120231.0             AD4
8772       Boonsripaisal, Simon      NaN       NaN             NaN
8773             Kang, Yoonjung      NaN       NaN             NaN
8774                   Wang, Yu      NaN       NaN             NaN
8775       Boonsripaisal, Simon      NaN       NaN             NaN
8776             Kang, Yoonjung      NaN       NaN             NaN
8777                   Wang, Yu      NaN       NaN             NaN
8778            Guruparan, Akil      NaN       NaN             NaN
8779            Guruparan, Akil      NaN       NaN             NaN
8780        Horton, Christina M      NaN       NaN             NaN
8781        Horton, Christina M      NaN       NaN             NaN
11079             Zheng, Reanne      NaN       NaN             AD1
11080   Atienza, Paul Michael L      NaN       NaN             AD2
11081                  Wang, Yu      NaN       NaN             AD3
11082             Zheng, Reanne      NaN       NaN             AD4
11083   Atienza, Paul Michael L      NaN       NaN             AD5
11084                  Wang, Yu      NaN       NaN             AD6
11085        Gonzalez, Daniel A      NaN       NaN             AD7
11086        Gonzalez, Daniel A      NaN       NaN             AD8
11087  Rosado-Torres, Alexander      NaN       NaN             AD9
11088  Rosado-Torres, Alexander      NaN       NaN             ADA
13775             Zheng, Reanne      NaN  120228.0             AD1
13776             Zheng, Reanne      NaN  120228.0             AD2
13777             Shin, Jeongsu      NaN  120228.0             AD3
13778            Lee, Sabrina Y      NaN  120228.0             AD4
13779             Shin, Jeongsu      NaN  120228.0             AD5
13780     Mukhopadhyay, Anirban      NaN  120228.0             AD8
13781                  Wang, Yu      NaN  120228.0             AD9
13782                  Wang, Yu      NaN  120228.0             ADA

[60 rows x 24 columns]

In [7]:
# For an average GPA DF, we can collect values of certain columns as shown:
course_titles = AAS_sections['Course Title']
print(course_titles)

NameError: name 'AAS_sections' is not defined

In [8]:
# How to remove columns from DF:
columns_to_keep = ['Subject', 'Course', 'Course Title', 'Average Grade']
edited_df = df[columns_to_keep]

# Because courses are split up by sections and their respective average GPAs, we need to take the average of these GPAs as well.
# This line groups rows if they have the same subject,  course, and course title and averages the GPAs of those rows
edited_df = edited_df.groupby(['Subject', 'Course', 'Course Title'], as_index=False).agg({'Average Grade': 'mean'})
print(edited_df)

     Subject  Course                    Course Title  Average Grade
0        AAS     100    Intro Asian American Studies       3.491167
1        AAS     105        Intro to Arab Am Studies       3.700000
2        AAS     120   Intro to Asian Am Pop Culture       3.525000
3        AAS     200            U.S. Race and Empire       3.477500
4        AAS     215    US Citizenship Comparatively       3.607500
...      ...     ...                             ...            ...
3470      VM     653      SA Medicine and Surgery II       2.475000
3471      VM     654      LA Medicine and Surgery II       2.895000
3472      VM     655     SA Medicine and Surgery III       2.925000
3473      VM     656     LA Medicine and Surgery III       2.865000
3474    YDSH     320  Lit Responses to the Holocaust       3.200000

[3475 rows x 4 columns]

In [41]:
# Dataframe of gened courses. Only important data includes course, course title, and if it fulfills a certain gened requirement out of the 6
gen_ed_df = pd.read_csv('raw-data/gened-courses.csv')
gen_ed_df

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,2023,Spring,2023-sp,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,2023,Spring,2023-sp,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,2023,Spring,2023-sp,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,2023,Spring,2023-sp,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,2023,Spring,2023-sp,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...,...,...
1055,2023,Spring,2023-sp,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN
1056,2023,Spring,2023-sp,UP 330,The Modern American City,NaN,US,NaN,NaN,NaN,NaN
1057,2023,Spring,2023-sp,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN
1058,2023,Spring,2023-sp,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN
1059,2023,Spring,2023-sp,YDSH 320,Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN

In [57]:
# This merges the final average gpa DF and the gened DF so we can see a gened course, what it fulfills, and it's average GPA in one DF
merged_df = pd.merge(gen_ed_df, edited_df, on='Course Title', how='left')
print(merged_df)

      Year    Term TermYear  Course_x                           Course Title  \
0     2023  Spring  2023-sp   AAS 100           Intro Asian American Studies
1     2023  Spring  2023-sp   AAS 100           Intro Asian American Studies
2     2023  Spring  2023-sp   AAS 100           Intro Asian American Studies
3     2023  Spring  2023-sp   AAS 105  Introduction to Arab American Studies
4     2023  Spring  2023-sp   AAS 120          Intro to Asian Am Pop Culture
...    ...     ...      ...       ...                                    ...
4076  2023  Spring  2023-sp    UP 316                   Urban Informatics II
4077  2023  Spring  2023-sp    UP 330               The Modern American City
4078  2023  Spring  2023-sp  WRIT 303                   Writing Across Media
4079  2023  Spring  2023-sp  YDSH 220                    Jewish Storytelling
4080  2023  Spring  2023-sp  YDSH 320             Responses to the Holocaust

      ACP   CS  HUM  NAT   QR  SBS Subject  Course_y  Average Grade  \
0     NaN   US  NaN  NaN  NaN   SS     AAS     100.0           3.15
1     NaN   US  NaN  NaN  NaN   SS     AAS     100.0           3.53
2     NaN   US  NaN  NaN  NaN   SS     AAS     100.0           3.41
3     NaN   US  NaN  NaN  NaN  NaN     NaN       NaN            NaN
4     NaN   US  NaN  NaN  NaN  NaN     AAS     120.0           3.62
...   ...  ...  ...  ...  ...  ...     ...       ...            ...
4076  NaN  NaN  NaN  NaN  QR2  NaN      UP     316.0           3.26
4077  NaN   US  NaN  NaN  NaN  NaN      UP     330.0           2.52
4078  ACP  NaN  NaN  NaN  NaN  NaN     NaN       NaN            NaN
4079  NaN  WCC   LA  NaN  NaN  NaN     NaN       NaN            NaN
4080  NaN  WCC   LA  NaN  NaN  NaN     CWL     320.0           2.59

     Primary Instructor
0       Thomas, Merin A
1           Lee, Sang S
2           Lee, Sang S
3                   NaN
4       Tabares, Leland
...                 ...
4076        Lee, Bumsoo
4077      Yenigun, Ozge
4078                NaN
4079                NaN
4080   Harris, Rachel S

[4081 rows x 15 columns]

In [32]:
# This function takes the professor name given, in the format of the names given in the course datasets, and finds the prof's rating
school_name = "University Of Illinois at Urbana Champaign"
school = ratemyprofessor.get_school_by_name(school_name)
professor_cache = {}

def get_professor_rating(professor_name):
    if professor_name in professor_cache:
        return professor_cache[professor_name]

    if isinstance(professor_name, str):
        name_parts = professor_name.split(',')
        if len(name_parts) >= 2:
            last_name = name_parts[0].strip()
            first_name = name_parts[1].strip().split()[0]
            name = first_name + " " + last_name
        else:
            professor_cache[professor_name] = None
            return None
    else:
        professor_cache[professor_name] = None
        return None

    if school is None:
        print(f"School '{school_name}' not found.")
        return None

    try:
        professor = ratemyprofessor.get_professor_by_school_and_name(school, name)
        if professor is not None:
            rating = professor.rating
            professor_cache[professor_name] = rating
            return rating
        else:
            professor_cache[professor_name] = None
            return None
    except Exception as e:
        print(f"Error occurred for professor {professor_name}: {str(e)}")
        professor_cache[professor_name] = None
        return None

In [33]:
# Test using a single professor
fun_test = get_professor_rating("Lee, Sang")
print(fun_test)

3.5

In [34]:
remove_values = ['DIS', 'IND', 'INT', 'OD']
mask = ~df['Sched Type'].isin(remove_values)
edited_result = df.loc[mask]
columns_to_keep = ['Subject', 'Course', 'Course Title', 'Average Grade', 'Primary Instructor']
edited_df = edited_result[columns_to_keep]
edited_df

,Subject,Course,Course Title,Average Grade,Primary Instructor
8,AAS,100,Intro Asian American Studies,3.15,"Thomas, Merin A"
9,AAS,100,Intro Asian American Studies,3.53,"Lee, Sang S"
10,AAS,215,US Citizenship Comparatively,3.69,"Compoc, Kimberly M"
11,AAS,258,Muslims in America,3.91,"Rana, Junaid"
12,ABE,225,ABE Principles: Bioenvironment,3.09,"Zhang, Yuanhui"
...,...,...,...,...,...
16506,VM,605,Pathobiology I,2.98,"Zuckermann, Federico A"
16507,VM,607,Pathobiology II,3.34,"Maddox, Carol W"
16508,VM,652,LA Medicine and Surgery I,2.60,"Ridgway, Marcella D"
16509,VM,653,SA Medicine and Surgery II,2.56,"Ridgway, Marcella D"
16510,VM,654,LA Medicine and Surgery II,3.10,"Aldridge, Brian M"

In [35]:
#edited_df = edited_df.iloc[:100]
edited_df.to_csv('dataset.csv', index=False)

In [36]:
new_df = edited_df.copy()
chunk_size = 100  # Process the DataFrame in chunks of 100 rows

# Initialize an empty list to store the processed chunks
processed_chunks = []

# Iterate over the DataFrame in chunks
for chunk in pd.read_csv('dataset.csv', chunksize=chunk_size):
    # Create a copy of the chunk
    new_chunk = chunk.copy()
    
    # Apply the get_professor_rating function to the "Primary Instructor" column
    new_chunk["Professor Rating"] = new_chunk["Primary Instructor"].apply(lambda x: get_professor_rating(x))
    
    # Append the processed chunk to the list
    processed_chunks.append(new_chunk)

# Concatenate the processed chunks into a final DataFrame
final_df = pd.concat(processed_chunks, ignore_index=True)

In [37]:
final_df.to_csv('final_output.csv', index=False)

In [58]:
columns_to_keep = ['Course Title', 'ACP', 'CS', 'HUM', 'NAT', 'QR', 'SBS']
edited_gen_ed_df = gen_ed_df[columns_to_keep]
merged_df = pd.merge(edited_gen_ed_df, edited_df, on='Course Title', how='left')
merged_df = merged_df[['Subject', 'Course', 'Course Title', 'Average Grade', 'Primary Instructor', 'ACP', 'CS', 'HUM', 'NAT', 'QR', 'SBS']]
merged_df

,Subject,Course,Course Title,Average Grade,Primary Instructor,ACP,CS,HUM,NAT,QR,SBS
0,AAS,100.0,Intro Asian American Studies,3.15,"Thomas, Merin A",NaN,US,NaN,NaN,NaN,SS
1,AAS,100.0,Intro Asian American Studies,3.53,"Lee, Sang S",NaN,US,NaN,NaN,NaN,SS
2,AAS,100.0,Intro Asian American Studies,3.41,"Lee, Sang S",NaN,US,NaN,NaN,NaN,SS
3,NaN,NaN,Introduction to Arab American Studies,NaN,NaN,NaN,US,NaN,NaN,NaN,NaN
4,AAS,120.0,Intro to Asian Am Pop Culture,3.62,"Tabares, Leland",NaN,US,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4076,UP,316.0,Urban Informatics II,3.26,"Lee, Bumsoo",NaN,NaN,NaN,NaN,QR2,NaN
4077,UP,330.0,The Modern American City,2.52,"Yenigun, Ozge",NaN,US,NaN,NaN,NaN,NaN
4078,NaN,NaN,Writing Across Media,NaN,NaN,ACP,NaN,NaN,NaN,NaN,NaN
4079,NaN,NaN,Jewish Storytelling,NaN,NaN,NaN,WCC,LA,NaN,NaN,NaN
4080,CWL,320.0,Responses to the Holocaust,2.59,"Harris, Rachel S",NaN,WCC,LA,NaN,NaN,NaN

In [ ]:
merged_df.to_csv('gened_output.csv', index=False)

In [9]:
unique_subjects = edited_df['Subject'].unique()
unique_df = pd.DataFrame({'Subject': unique_subjects})
unique_df

    Subject
0       AAS
1       ABE
2      ACCY
3       ACE
4      ACES
..      ...
150     UKR
151      UP
152     VCM
153      VM
154    YDSH

[155 rows x 1 columns]

In [11]:
unique_df.to_csv('subjects.csv', index=False)