In [8]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [9]:
dataset = pd.read_csv('D:/2nd sem/Deep-learning/ICU_filtered.csv')

In [10]:
dataset.head()

,recordid,Length_of_stay,In-hospital_death,Age,Gender,Height,CCU,CSRU,SICU,DiasABP_first,...,Na_first,PaCO2_first,PaO2_first,Platelets_first,SysABP_first,WBC_first,Weight,pH_first,MechVent,UrineOutputSum
0,132539,5,0,54,0.0,NaN,0,0,1,NaN,...,137.0,NaN,NaN,221.0,NaN,11.2,NaN,NaN,0,NaN
1,132540,8,0,76,1.0,175.3,0,1,0,67.0,...,139.0,34.0,344.0,164.0,105.0,7.4,80.6,7.45,1,5.0
2,132541,19,0,44,0.0,NaN,0,0,0,81.0,...,137.0,37.0,65.0,72.0,148.0,4.2,56.7,7.51,1,14.0
3,132543,9,0,68,1.0,180.3,0,0,0,NaN,...,140.0,NaN,NaN,391.0,NaN,11.5,84.6,NaN,0,NaN
4,132545,4,0,88,0.0,NaN,0,0,0,NaN,...,140.0,NaN,NaN,109.0,NaN,3.8,NaN,NaN,0,NaN

In [11]:
dataset = dataset[dataset['In-hospital_death'] == 1]

X = dataset.drop(columns=['recordid', 'In-hospital_death'])  # Features
y = dataset['In-hospital_death']  # Target variable

# Handling missing values (if any)
X.fillna(X.mean(), inplace=True)  # Filling missing values with mean

# Scaling numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
X_scaled

array([[-5.79214756e-01,  4.94979085e-01, -1.09110686e+00, ...,
         4.43188369e-01,  6.05496545e-01, -5.90822278e-01],
       [ 1.06063341e+00, -1.37012737e+00, -1.09110686e+00, ...,
         8.46843749e-15, -1.65153709e+00,  0.00000000e+00],
       [-6.50512502e-01,  6.19319516e-01, -1.09110686e+00, ...,
         8.24572888e-01,  6.05496545e-01,  7.86551381e-01],
       ...,
       [-2.22726025e-01, -1.68097845e+00,  9.17318086e-01, ...,
         1.20595741e+00, -1.65153709e+00,  0.00000000e+00],
       [-7.93107995e-01, -2.36485082e+00,  9.17318086e-01, ...,
        -1.36838810e+00,  6.05496545e-01,  5.56989104e-01],
       [-8.01305329e-02, -2.51063499e-01,  9.17318086e-01, ...,
         8.24572888e-01,  6.05496545e-01,  5.56989104e-01]])

In [13]:
y

7       1
20      1
26      1
29      1
30      1
       ..
7817    1
7828    1
7830    1
7875    1
7877    1
Name: In-hospital_death, Length: 1122, dtype: int64

In [14]:
test_size=0.2
random_state=42
train_test_split(X, y, test_size=test_size, random_state=random_state)

[      Length_of_stay  Age  Gender      Height  CCU  CSRU  SICU  DiasABP_first  \
 7732               5   68     0.0  170.200000    0     0     0      49.000000
 6118               4   84     0.0  152.400000    0     1     0      61.217857
 1319               4   76     0.0  168.728125    0     0     1      75.000000
 7315              10   89     1.0  168.728125    0     0     1      88.000000
 7817              12   67     1.0  168.728125    1     0     0      52.000000
 ...              ...  ...     ...         ...  ...   ...   ...            ...
 3261               4   43     1.0  182.900000    0     0     1      72.000000
 908               13   84     1.0  170.200000    0     0     0      47.000000
 7357               9   55     1.0  175.300000    0     0     0      61.217857
 7707              25   67     0.0  157.500000    1     0     0      60.000000
 6085               7   76     1.0  168.728125    0     0     1      69.000000

       GCS_first  Glucose_first  ...  Na_first  PaCO2_first  PaO2_first  \
 7732        9.0          253.0  ...     143.0    57.000000   77.000000
 6118       15.0          117.0  ...     142.0    40.553388  173.391572
 1319        3.0          119.0  ...     140.0    40.000000  148.000000
 7315       13.0          150.0  ...     142.0    31.000000  100.000000
 7817        5.0          174.0  ...     145.0    39.000000  445.000000
 ...         ...            ...  ...       ...          ...         ...
 3261       12.0          103.0  ...     128.0    42.000000   69.000000
 908         3.0          213.0  ...     144.0    22.000000  179.000000
 7357       15.0          133.0  ...     140.0    40.553388  173.391572
 7707       15.0          179.0  ...     138.0    29.000000   81.000000
 6085        3.0          231.0  ...     140.0    35.000000  279.000000

       Platelets_first  SysABP_first  WBC_first     Weight  pH_first  MechVent  \
 7732             15.0    107.000000        2.9  97.600000  7.350000         1
 6118            162.0    122.550535       12.9  78.200000  7.353518         0
 1319            160.0    149.000000       10.5  80.522581  7.350000         1
 7315            160.0    176.000000        8.8  80.522581  7.480000         0
 7817            319.0     87.000000       20.1  80.522581  7.390000         1
 ...               ...           ...        ...        ...       ...       ...
 3261             75.0    139.000000        3.4  80.522581  7.570000         1
 908             205.0     95.000000       22.8  78.300000  7.540000         1
 7357            137.0    122.550535        8.5  80.522581  7.353518         0
 7707            157.0    131.000000       13.2  80.522581  7.490000         0
 6085            159.0    148.000000       11.3  80.522581  7.380000         1

       UrineOutputSum
 7732       19.000000
 6118       14.573691
 1319       18.000000
 7315       14.573691
 7817       16.000000
 ...              ...
 3261       11.000000
 908        24.000000
 7357       14.573691
 7707       14.573691
 6085       13.000000

 [897 rows x 34 columns],
       Length_of_stay  Age  Gender      Height  CCU  CSRU  SICU  DiasABP_first  \
 6869              14   75     1.0  168.728125    0     0     0      61.217857
 5831              51   44     1.0  180.300000    0     0     1      61.000000
 750               13   73     0.0  144.800000    0     0     0      40.000000
 5066              20   84     1.0  168.728125    0     0     0      40.000000
 7519               8   61     1.0  172.700000    0     0     1      69.000000
 ...              ...  ...     ...         ...  ...   ...   ...            ...
 2566              26   51     1.0  167.600000    0     0     0      73.000000
 3988               4   45     1.0  168.728125    0     0     0      61.217857
 7070              11   88     1.0  170.200000    1     0     0      57.000000
 2788               4   90     0.0  168.728125    0     0     0      61.217857
 5413               3   81     0.0  144.800000    0     0     1     102.000000

       GCS_first  Glucose_first  ...  Na_first  PaCO2_first  PaO2_first  \
 6869       14.0          176.0  ...     152.0    60.000000  164.000000
 5831        3.0          140.0  ...     143.0    48.000000  139.000000
 750        15.0          107.0  ...     130.0    47.000000   69.000000
 5066        7.0          126.0  ...     143.0    47.000000   99.000000
 7519        5.0          145.0  ...     136.0    36.000000  499.000000
 ...         ...            ...  ...       ...          ...         ...
 2566       15.0          122.0  ...     141.0    30.000000   78.000000
 3988       15.0           92.0  ...     135.0    37.000000  242.000000
 7070       13.0          121.0  ...     135.0    37.000000  131.000000
 2788       14.0          121.0  ...     150.0    40.553388  173.391572
 5413        3.0          205.0  ...     141.0    33.000000  420.000000

       Platelets_first  SysABP_first  WBC_first      Weight  pH_first  \
 6869            335.0    122.550535       24.5   63.500000  7.310000
 5831            230.0    107.000000       36.4   80.522581  7.270000
 750             556.0     70.000000       66.8  112.000000  7.210000
 5066            466.0     95.000000       15.8   72.600000  7.310000
 7519            212.0    131.000000        9.8   65.900000  7.450000
 ...               ...           ...        ...         ...       ...
 2566            295.0    152.000000       18.9   62.000000  7.400000
 3988             20.0    122.550535        3.3   80.000000  7.380000
 7070            201.0    107.000000       13.1   56.000000  7.430000
 2788            350.0    122.550535       17.8   52.200000  7.353518
 5413            239.0    192.000000       10.1   88.900000  7.060000

       MechVent  UrineOutputSum
 6869         1        2.000000
 5831         1       17.000000
 750          1       11.000000
 5066         1       14.000000
 7519         1       14.000000
 ...        ...             ...
 2566         0       14.573691
 3988         1        7.000000
 7070         0       14.573691
 2788         0       14.573691
 5413         1       17.000000

 [225 rows x 34 columns],
 7732    1
 6118    1
 1319    1
 7315    1
 7817    1
        ..
 3261    1
 908     1
 7357    1
 7707    1
 6085    1
 Name: In-hospital_death, Length: 897, dtype: int64,
 6869    1
 5831    1
 750     1
 5066    1
 7519    1
        ..
 2566    1
 3988    1
 7070    1
 2788    1
 5413    1
 Name: In-hospital_death, Length: 225, dtype: int64]

In [15]:
# parameters of autoencoder
batch_size = 256
max_epochs = 50
learning_rate = 1e-03
latent_dim = 128
hidden_dim = 256
original_dim = X_train.shape[1]

NameError: name 'X_train' is not defined