In [1]:
from modeltry import raaah, prepare_embedding, train_test_split

In [2]:
raaah()

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [1]:
from modeltry import raaah, prepare_embedding

In [12]:
df = raaah()

In [3]:
prepare_embedding(raaah())

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 6.090e+02, 6.090e+02,
        6.090e+02],
       [0.000e+00, 1.000e+00, 2.000e+00, ..., 3.121e+03, 1.392e+03,
        2.873e+03],
       [4.000e+00, 4.000e+00, 4.000e+00, ..., 5.000e+00, 5.000e+00,
        3.000e+00]])

In [12]:
prepare_embedding(raaah())

#นี่คือสั่งให้ return pd.DataFrame

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

,0,1,2,3,4,5,6,7,8,9,...,100826,100827,100828,100829,100830,100831,100832,100833,100834,100835
user,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,609.0,609.0,609.0,609.0,609.0,609.0,609.0,609.0,609.0,609.0
movie,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,1388.0,9722.0,9723.0,1390.0,1091.0,3120.0,2035.0,3121.0,1392.0,2873.0
rating,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,3.5,3.5,3.5,5.0,4.0,4.0,5.0,5.0,5.0,3.0

In [ ]:
พอมาเรียก เลยต้องเรียกแบบนี้

In [5]:
raaah()["rating"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

In [5]:
prepare_embedding(raaah()).dtype

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

dtype('O')

In [6]:
df

NameError: name 'df' is not defined

In [11]:
prepare_embedding(df)

NameError: name 'df' is not defined

In [7]:
prepare_embedding(raaah())
#สั่งให้ return pd.Series 3 อัน ที่จะเอามาใช้ คือ df["user"], df["movie"], df["rating"]

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

(0           0
 1           0
 2           0
 3           0
 4           0
          ...
 100831    609
 100832    609
 100833    609
 100834    609
 100835    609
 Name: user, Length: 100836, dtype: int64,
 0            0
 1            1
 2            2
 3            3
 4            4
           ...
 100831    3120
 100832    2035
 100833    3121
 100834    1392
 100835    2873
 Name: movie, Length: 100836, dtype: int64,
 0         4.0
 1         4.0
 2         4.0
 3         5.0
 4         5.0
          ...
 100831    4.0
 100832    5.0
 100833    5.0
 100834    5.0
 100835    3.0
 Name: rating, Length: 100836, dtype: float32)

In [6]:
train_test_split(prepare_embedding(raaah()))

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

UnboundLocalError: local variable 'df' referenced before assignment

In [3]:
train_test_split(prepare_embedding(raaah()))

Number of users: 610, Number of Movies: 9724, Min rating: 0.5, Max rating: 5.0

KeyError: "None of [Index(['user', 'movie'], dtype='object')] are in the [columns]"

In [4]:
raaah()

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [14]:
user_ids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610]

In [18]:
import numpy as np
user_ids = df["userId"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
movie_ids = df["movieId"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}
df["user"] = df["userId"].map(user2user_encoded)
df["movie"] = df["movieId"].map(movie2movie_encoded)

num_users = len(user2user_encoded)
num_movies = len(movie_encoded2movie)
df["rating"] = df["rating"].values.astype(np.float32)
# min and max ratings will be used to normalize the ratings later
min_rating = min(df["rating"])
max_rating = max(df["rating"])

In [ ]:
code ตามด้านบนนี่คือ def prepare_embedding()
แต่อยากให้ return df["user"], df["movie"], df["rating"]
เพื่อที่จะเอาไปใช้ต่อใน def train_test_split() ได้

ตอนนี้ return num_user, num_movie, min_rating, max_rating
ทั้งๆที่ก็ สร้างคอลัมน์ที่ต้องการ 3 อันนั้นไว้แล้ว

แต่ยังรีเทิร์นไม่ได้ แล้วก็หยิบไปใช้ต่อไม่ได้ด้วยเพราะเป็น pd.Series
แต่ว่า ทำไมถึงอยากจะเขียนส่วนนี้ให้เป็นฟังก์ชั่นแยกต่างหากล่ะ?
ทุกครั้งที่ user เปิด app จะต้องโหลด df ใหม่ จากดาต้าเบสทุกครั้งหรือเปล่า
ต้อง train_test_split() และ fit ใหม่ทุกครั้งหรือเปล่า

ตาม dannyibo ก็ใช่นะ เพราะต้องไปทำ NMF model ทุกที

In [5]:
df

NameError: name 'df' is not defined

In [19]:
df2 = df.sample(frac=1, random_state=42)
x = df2[["user", "movie"]].values
# Normalize the targets between 0 and 1. Makes it easy to train.
y = df2["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

In [20]:
df2

       userId  movieId  rating   timestamp  user  movie
67037     432    77866     4.5  1335139641   431   4730
42175     288      474     3.0   978465565   287    474
93850     599     4351     3.0  1498524542   598   2631
6187       42     2987     4.0   996262677    41    194
12229      75     1610     4.0  1158989841    74    727
...       ...      ...     ...         ...   ...    ...
6265       42     4005     4.0   996259059    41   1873
54886     364      141     4.0   869443367   363    524
76820     480     6867     4.0  1179163171   479   2240
860         6      981     3.0   845556567     5    712
15795     103     6711     5.0  1431957425   102   2046

[100836 rows x 6 columns]

In [19]:
x

array([[ 431, 4730],
       [ 287,  474],
       [ 598, 2631],
       ...,
       [ 479, 2240],
       [   5,  712],
       [ 102, 2046]])

In [20]:
y

array([0.88888889, 0.55555556, 0.55555556, ..., 0.77777778, 0.55555556,
       1.        ])

In [7]:
train_test_split(raaah())

KeyError: "None of [Index(['user', 'movie'], dtype='object')] are in the [columns]"

In [10]:
df

NameError: name 'df' is not defined

In [7]:
แต่พอจะเอาไปใช้ต่อใน train_test_split ก็ใช้ไม่ได้อยู่ดี เพราะ คนละ dataframe กัน

df2 = raaah().sample(frac=1, random_state=42)
x = df2[["user", "movie"]].values
# Normalize the targets between 0 and 1. Makes it easy to train.
y = df2["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

KeyError: "None of [Index(['user', 'movie'], dtype='object')] are in the [columns]"

In [4]:
ls

bin@   etc/            lib@    libx32@  opt/   run/   sys/  var/
boot/  flask_jupyter/  lib32@  media/   proc/  sbin@  tmp/
dev/   home/           lib64@  mnt/     root/  srv/   usr/