In [1]:
# set 만들기
# set은 수학의 집합과 비슷한 형태로 중복되는 데이터의 입력을 허용하지 않는 장점이 있지만 데이터를 입력하는 순서와
# 실제로 데이터가 저장되는 순서가 달라서 인덱싱과 슬라이싱을 사용할 수 없다.
# 딕셔너리 처럼 {}를 사용해서 선언하지만 key가 존재하지 않고 value만 존재한다.

In [4]:
# 빈 set 만들기
a = {}
print(a)
print(type(a))
# 빈 set을 만들어 사용하려면 반드시 생성자 함수를 이용해서 만들어야 한다.
b = set()
print(b)
print(type(b))

{}
<class 'dict'>
set()
<class 'set'>

In [5]:
a = {1, 2, 3, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [6]:
a = {1, 2, 3, 4, 1, 5, 1, 2, 5, 6, 3, 4, 1}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [13]:
# add() 메소드로 set에 데이터를 추가한다. => 데이터를 저장하는 순서와 실제 데이터가 저장되는 순서가 다르다.
a = {'홍길동'}
print(a)
a.add('임꺽정')
print(a)
a.add('장길산')
print(a)
a.add('일지매')
print(a)
a.add('손오공')
print(a)

# set은 데이터를 입력하는 순서와 실제 저장되는 순서가 달라서 인덱싱, 슬라이싱을 사용할 수 업다.
# a[1] # 에러
# a[2:5] # 에러

{'홍길동'}
{'홍길동', '임꺽정'}
{'홍길동', '임꺽정', '장길산'}
{'홍길동', '임꺽정', '장길산', '일지매'}
{'임꺽정', '일지매', '홍길동', '장길산', '손오공'}

TypeError: 'set' object is not subscriptable

In [15]:
# update() 메소드로 리스트 또는 튜플을 사용해서 set에 여러건의 데이터를 한 번에 추가시킬 수 있다.
print(a)
a.update(['크리닝', '야무치', '사탄'])
print(a)
a.update(('마인부우', '피콜로', '계왕신'))
print(a)

{'임꺽정', '일지매', '홍길동', '장길산', '손오공'}
{'임꺽정', '일지매', '사탄', '홍길동', '야무치', '크리닝', '장길산', '손오공'}
{'피콜로', '계왕신', '마인부우', '임꺽정', '일지매', '사탄', '홍길동', '야무치', '크리닝', '장길산', '손오공'}

In [16]:
# remove() 메소드로 set에 저장된 데이터를 지정해서 제거할 수 있다.
a.remove('사탄')
print(a)
a.remove('사탄') # set에 저장되지 않은 데이터를 삭제하려 했으므로 에러가 발생된다.
print(a)

{'피콜로', '계왕신', '마인부우', '임꺽정', '일지매', '홍길동', '야무치', '크리닝', '장길산', '손오공'}

KeyError: '사탄'

In [17]:
# discard() 메소드로 set에 저장된 데이터를 지정해서 제거할 수 있다.
a.discard('마인부우')
print(a)
a.discard('마인부우') # set에 저장되지 않은 데이터를 삭제하려 해도 에러가 발생되지 않는다.
print(a)

{'피콜로', '계왕신', '임꺽정', '일지매', '홍길동', '야무치', '크리닝', '장길산', '손오공'}
{'피콜로', '계왕신', '임꺽정', '일지매', '홍길동', '야무치', '크리닝', '장길산', '손오공'}

In [18]:
a.clear()
print(a)

set()

In [20]:
del a
print(a)

NameError: name 'a' is not defined

In [30]:
# 집합 연산자와 메소드
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

# 합집합
print(a.union(b))
print(a | b)

# 교집합
print(a.intersection(b))
print(a & b)

# 차집합
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

# 대칭 차집합 => 합집합 - 교집합
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{6, 7}
{6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}