In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pit
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [17]:
data = pd.read_csv("Salary_Data.csv")
data

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [18]:
x=data[['YearsExperience']]
y=data['Salary']

In [19]:
x_train,x_test,y_train,y_test=train_test.split(x,y,test_size=0,2,randam_state=42)
model=Linear Reg()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_8208/3452500408.py, line 1)

In [4]:
plt.scatter(x,y,color='blue')
plt.plot(x_test,y_pred,color='red')
plt.xlabel("yearsexperience")
plt.ylabel("salary")
plt.tittel("LinearRegression")
plt.show()

NameError: name 'plt' is not defined