# Declare a variable

In [1]:
a=[1,2,3]

In [2]:
b=[4,5,6,7,8]

In [4]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
x = (5 > 3 and 5 < 10)

print(x)

True

In [10]:
y = ('aba'=='ababb' and b==b)

print(y)

False

In [78]:
print(type(a))

<class 'list'>

In [12]:
# There are 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# false keyword
The False keyword is a Boolean value, and result of a comparison operation.
The False keyword is the same as 0 (True is the same as 1).

In [75]:
print("hello" = "hello")
print(2 in [3,4,6])
print(not 5==5)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1798560104.py, line 1)

# True keyword
The True keyword is a Boolean value, and result of a comparison operation.
The True keyword is the same as 1

In [22]:
print(3 in [3,4,6])
print(not 5==7)
print("hello"=="hello")

True
True
True

# None keyword
reprents a null value or no value at all
None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

In [26]:
x=None
print(x)
if x:
  print("Do you think None is True?")
elif x is False:
  print ("Do you think None is False?")
else:
  print("None is not True, or False, None is just None...")

None
None is not True, or False, None is just None...

# and,or,not keyword
logical operators
Logical operators are used to combine conditional statements.
#and operatorThe return value will only be True if both statements return True, otherwise it will return False.
#or keyword The return value will be True if one of the statements return True, otherwise it will return False.
#none keywordThe return value will be True if the statement(s) are not True, otherwise it will return False

In [77]:
print(5 > 3 and 5 < 10)
print(5 > 3 or 5 < 10)
print(not x==False)
x=True
print(not x)

True
True
True
False

# as keyword is used to create an alias

#import keyword is used to import modules
#from keyword is used to import only a specified section from a module.

In [71]:
import datetime as dt
x = dt.datetime.now()
print(x)
from dt import time
y= time(hour=15)
print(y)
import calendar as c
print(c.month_name[5])

2023-09-18 15:32:45.057995

ModuleNotFoundError: No module named 'dt'

In [72]:
from dt import time
y= time(hour=15)
print(y)

ModuleNotFoundError: No module named 'dt'

In [40]:
#assert keyword is used when debugging code.

In [41]:
x = "hello"
#if condition returns False, AssertionError is raised:
assert x == "goodbye", "x should be 'hello'"

AssertionError: x should be 'hello'

#break#continue
The break keyword is used to break out a for loop, or a while loop.

In [53]:
for i in range(9):
  if i >6:
    break
  print(i)

0
1
2
3
4
5
6

In [70]:
j = 0
while j < 9:
    j += 1
    if j == 3:
        continue
print(j)

9

In [65]:
#in keyword
#used to check if a value is present in a sequence (list, range, string etc.).
#The in keyword is also used to iterate through a sequence in a for loop:

SyntaxError: expected 'else' after 'if' expression (414348273.py, line 2)

In [66]:
z = ['a','b','c']
if "a" in z:
  print("yes")
for b in z:
    print(b)

yes
a
b
c

In [73]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 'UTC',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [80]:
import sys
message ="Hello"
sys.getrefcount(message)

3

In [11]:
import sys
m ="Hello"
sys.getrefcount(m)-1

1

In [14]:
import sys
me =17
sys.getrefcount(me)-1

1000002839

In [15]:
a = 100
print(id(a))

140707396951944

# User Defined inputs
#String interpolation
#Python operators

In [16]:
#input

In [156]:
a=int(input('Enter a number'))

KeyboardInterrupt: Interrupted by user

In [20]:
type(a)

int

In [157]:
#if You Want Only to fetch First character from the user input
ch=input("Enter a Character")[0]
print(ch)

Enter a Characterabc
a

In [159]:
#When You wanna Evaluate from a given expression
result=eval(input("Enter any expression"))
print(result)

Enter any expression2+6+4
12

In [21]:
#Taking a list as a input

In [35]:
d=list(input())

23,34,43,"Subha"

In [36]:
print(d)

['2', '3', ',', '3', '4', ',', '4', '3', ',', '"', 'S', 'u', 'b', 'h', 'a', '"']

In [24]:
list1=list(list())

In [25]:
print(list1)

[]

In [29]:
# For list of integers
lst1 = []
 
# For list of strings/chars
lst2 = []
 
lst1 = [int(item) for item in input("Enter \
                the list items : ").split()]
 
lst2 = [item for item in input("Enter \
                the list items : ").split()]
 
print(lst1)
print(lst2)

Enter                 the list items : 1,2,5

ValueError: invalid literal for int() with base 10: '1,2,5'

In [41]:
a=10
b="10"

In [42]:
if a==b:
    print("They are same")

In [43]:
a==int(b)

True

In [44]:
a is int(b)

True

In [45]:
c=5+5

In [46]:
a is c

True

In [47]:
a=[1,2,3]
b=a
c=a[:]

In [48]:
a==c

True

In [49]:
a is c

False

In [53]:
a=tuple(input())

1 2 0 5

In [54]:
a

('1', ' ', '2', ' ', '0', ' ', '5')

#print

In [56]:
print('Hi',end='@')
print('Abhi')

Hi@Abhi

In [75]:
print('Hi
      Abhi')
      #error cause print is an inline statement
      #so it cannot be printed

SyntaxError: unterminated string literal (detected at line 1) (1615652341.py, line 1)

In [61]:
print("""Hi
      Abhi""")

Hi
      Abhi

In [62]:
a='Hello'
print('a world')

a world

In [63]:
#Modulo '%'
#f strings
#string format
#Class template

In [64]:
##f string
a='Hello'
print(f'{a} world')

Hello world

In [68]:
print('{a1},world'.format(a1=a))

Hello,world

In [70]:
print('{},{},{}'.format(1,2,3))

1,2,3

In [78]:
print('{}'.format(1,2,3),'{}'.format(2,3),'{}'.format(a))

1 2 Hello

In [79]:
#Modulo %

In [80]:
print('%s %s'%(1.25,'Hi'))

1.25 Hi

In [81]:
print('%f %s'%(1.25,'Hi'))

1.250000 Hi

In [82]:
print('%.2f %s'%(1.25,'Hi'))

1.25 Hi

In [167]:
a = 2
b = 3
c = 10
 
print(f"({a} * {b})-{c} = {(2 * 3)-10}")

(2 * 3)-10 = -4

In [83]:
#class template

In [100]:
#declare a template
from string import Template
tmp=Template('$FirstName $LastName')
print(tmp.substitute(n1='Abhilipsa',n2='Mahapatra'))

KeyError: 'FirstName'

In [114]:
print(0.0000000010000000000000000001)

1e-09

In [115]:
-14//4

-4

In [122]:
print(+2.55)

2.55

In [125]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Tell me anything...Hello
Hmm... Hello ...Really?

In [141]:
anything1 = input("Enter a number: ")
something = anything1 ** 2.0
print(anything1, "to the power of 2 is", something)

Enter a number: 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

In [131]:
5*"2"

'22222'

In [132]:
"2"*5

'22222'

In [134]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5,end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [140]:
input_str = input("Enter elements of the list separated by space: ")  
my_list = list(map(str, input_str.split()))  
  
# Printing the list  
print("List:", my_list)

Enter elements of the list separated by space: 1 2 3 4
List: ['1', '2', '3', '4']

In [142]:
#Arithmetic Operators
+,-,*,//,%,** PEDMAS

#Comparision Operators
>,<,>=,<=,==,!=

#LogicalOperators
and,or,not

#Bitwise Operators
>>,<<

#Assignment operators
=,+=,-=,//=,**=

#Ternary Operators
if conditon then result else else's result

#identify operators & membership
is,in,is not,not in

SyntaxError: unterminated string literal (detected at line 17) (178281037.py, line 17)

In [146]:
x=5
print(x>5 and x<9)
print(x>5 or x<9)
print

False
True

In [147]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")

Enter your name: Abhi
Hello, Abhi. Nice to meet you!

In [150]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")
 
print("\nPress Enter to end the program.")
input()
print("THE END.")

Enter your name: Abhi
Hello, Abhi. Nice to meet you!

Press Enter to end the program.
"01"
THE END.

In [151]:
x = int(input())
y = int(input())
 
x = x / y
y = y / x
 
print(y)

2
4
8.0

In [ ]:
#Understanding Arithmetic Operators
a = int(input("Enter an integer value"))
b = int(input("Enter an integer value"))

# # addition
# #print ('Sum: ', a + b)  

# # subtraction
# print ('Subtraction: ', a - b)   

# # multiplication
# print ('Multiplication: ', a * b)  

# # division
# print ('Division: ', a / b) 

# # floor division
# print ('Floor Division: ', a // b)

# # modulo
# print ('Modulo: ', a % b)  
# # a to the power b
# print ('Power: ', a ** b)   
# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

In [160]:
a = int(input("Enter an integer value"))
b = int(input("Enter an integer value"))
# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

Enter an integer value5
Enter an integer value2
a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [161]:
#Understanding Logical Operators
# logical AND
print(True and True)     
print(True and False)    

# logical OR
print(True or False)     

# logical NOT
print(not True)

True
False
True
False

In [163]:
#Understanding Bitwise operators
a = int(input("Enter an integer value"))
b = int(input("Enter an integer value"))

# Print bitwise AND operation
print("a & b =", a & b)
 
# Print bitwise OR operation
print("a | b =", a | b)
 
# Print bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

Enter an integer value10
Enter an integer value4
a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [164]:
#Shift Operators
a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)
 
a = 5
b = -10
 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

In [165]:
#Identity Operators
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  

print(x2 is y2)  

print(x3 is y3)

False
True
False

In [166]:
#Membership operators
x = 'Hello world'
y = {1:'a', 2:'b'}

# check if 'H' is present in x string
print('H' in x)  # prints True

# check if 'hello' is present in x string
print('hello' not in x)  # prints True

# check if '1' key is present in y
print(1 in y)  # prints True

# check if 'a' key is present in y
print('a' in y)  # prints False

True
True
True
False

In [168]:
a='Abhi'
a='Abhi'+'lipsa'

In [169]:
print(a)

Abhilipsa

In [171]:
#String manipulation
a='0123456789'
a[:]
a[:6]

'012345'

In [241]:
#indexing
a[:-5]

'01234'

In [173]:
a[0:]

'0123456789'

In [242]:
a[::-1]

'9876543210'

In [175]:
a[::2]

'02468'

In [176]:
a[::-2]

'97531'

In [177]:
a[::3]

'0369'

In [243]:
a[:-5:-2]

'97'

In [251]:
a[-7:-8:-2]

'3'

In [179]:
#String Functions:no of characters
len(a)

10

In [181]:
a.replace('3','4')

'0124456789'

In [182]:
print(a)

0123456789

In [183]:
id(a)

1689557240752

In [184]:
id(a.replace('b','B'))

1689557240752

In [185]:
#replace func took the string as an argument and returned another a new string with the same argument

In [186]:
#Title,#capitalize

In [188]:
#count
string = 'Abhilipsa M a H A'

# count the character 'i'.
count1 = string.count('i')
print("Count of 'i': ", count1)

# Count spaces.
count2 = string.count(' ')
print("Number of spaces:", count2)

Count of 'i':  2
Number of spaces: 4

In [198]:
#split()
#Syntax:string.split(separator, maxsplit)
string = 'Welcome Abhilipsa Mahapatra'
# Splitting across the whitespace.
myList = string.split('a')
print(myList)

['Welcome Abhilips', ' M', 'h', 'p', 'tr', '']

In [204]:
#find() function
string = 'Welcome Abhilipsa Mahapatra'
index = string.find('')
print(index)

0

In [284]:
#join() function
# Syntax:"character".join(seq)
string = 'Welcome Abhilipsa Mahapatra'

# joining the above-given characters of the string with ‘,’.
string = "-".join(string.split())

print(string)

Welcome-Abhilipsa-Mahapatra

In [285]:
# removeprefix() method to remove a prefix from a string.
#Syntax:string.removeprefix('prefix')
'Welcome Abhilipsa Mahapatra'.removeprefix('Abhi')

'Welcome Abhilipsa Mahapatra'

In [220]:
#the removesuffix() method to remove a suffix from a string.
#Syntax:string.removesuffix('suffix')
'Abhilipsa Mahapatra'.removesuffix('Mahapatra')

'Abhilipsa '

In [224]:
#Syntax:string.upper
'AbhilKM'.upper()
#Syntax:string.lower
'AbhilKM'.lower()

'abhilkm'

In [227]:
'abb b;c'.title()

'Abb B;C'

In [228]:
'AbhkljahhsbGVA'.swapcase()

'aBHKLJAHHSBgva'

In [231]:
'abhilipsa mahapatra'.capitalize()

'Abhilipsa mahapatra'

In [234]:
'abhilipsa mahapatra'.islower()

True

In [237]:
'abhilipsa mahapatra'.endswith("a")

True

In [240]:
'abhilipsa mahapatra'.index('i')

3

In [253]:
'abhilipsa mahapatra'.startswith("a")

True

In [254]:
'abhilipsa mahapatra'.index("i")

3

In [292]:
string ="++++x...yz* Abhilipsa!!"
 # Removes given set of characters from left.
print(string.lstrip("+.*xyz"))

 Abhilipsa!!

In [265]:
string ="Abhilipsa ++++x...y!!z*"
 # Removes given set of characters from right.
print(string.rstrip("+.*xyz"))

Abhilipsa ++++x...y!!

In [268]:
'My name is \f Ayush'.isprintable()

False

In [269]:

name = "Ram"
age = 22
message = "My name is {0} and I am {1} years \
                    old. {1} is my favorite \
                    number.".format(name, age)
print(message)

My name is Ram and I am 22 years                     old. 22 is my favorite                     number.

In [286]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [291]:
m="Abhilipsa"
m.center(20)

'     Abhilipsa      '

In [289]:
name = "Ram"
age = 22
message = "My name is {0} and I am {1} years \
 old. {1} is my favorite \
 number.".format(name, age)
print(message)

My name is Ram and I am 22 years  old. 22 is my favorite  number.

In [299]:
s=' Hello String '
s.strip()

'Hello String'

In [300]:
#check if a number is valid phone no or not
# #conditions:13 digits
#             Should not contain anything except 0-9
#             Should start with +91

In [312]:
e=input("Enter a phone number")
if len(e)==13 and e.startswith('+91') and e[1:].isdigit():
     print('Valid Number')
else:
     print('Not a valid number')

Enter a phone number+917896467898
Valid Number

In [314]:
l1=[1,2,3,4]
l1*-2#To empty string multiply with a negative character

[]

In [316]:
l2=[[1,2,3],[[1,2],[4,5,6]]]

In [329]:
l3=[[1,2,3],[1,[2,3,[3,[4,6,[1,'X']]]],[4,5]]]

In [333]:
l3[1][2][2][2][2]

IndexError: list index out of range

In [337]:
def func1(*a):
    print(a)

In [338]:
func1(6)

(6,)

In [341]:
func1([1,2,3])

([1, 2, 3],)

In [350]:
fruits = {"apple", "2534", "banana", "cherry","2534"}

fruits.discard("2534") 

print(fruits)

{'banana', 'apple', 'cherry'}

In [349]:
# fruits = {"apple", "2534", "banana", "cherry","2534"}

fruits.remove("2534") 

print(fruits)

KeyError: '2534'

In [359]:
my_dict = {1: "Hello", (1, 2): "Hello Hi", 3: [1, 2, 3]}
my_dict

{1: 'Hello', (1, 2): 'Hello Hi', 3: [1, 2, 3]}

In [360]:
my_dict1= {1: "Hello", (1, 2): "Hello Hi", [1,3]: [1, 2, 3]}
my_dict1

TypeError: unhashable type: 'list'

In [366]:
my_dict = {1: "Hello", (1, 2): "Hello Hi", 3: [1, 2, 3],1:"Hi",
          1:"Hey"}
print(my_dict)

{1: 'Hey', (1, 2): 'Hello Hi', 3: [1, 2, 3]}

In [370]:
print(len(my_dict))
type(my_dict)

3

dict

In [372]:
my_dict[1]

'Hey'

In [376]:
import re
match=re.search(r'm m','GFG:m m')
print(match)
print(match.group)
print('Start index',match.start())
print('end index',match.end())

<re.Match object; span=(4, 7), match='m m'>
<built-in method group of re.Match object at 0x00000189680BE1C0>
Start index 4
end index 7

In [ ]:


# List

# Adding Elements to a list 
# 1>append()
# 2>insert()
# 3>extend()

# append()
 It is a built-in method used to add item at the end of a list.
 Syntax:list.append(value)
 

languages=['c','cpp','java']
languages

languages.append('python')
languages.append('ruby')
languages.append('javascript')
languages

A list as an item can be added

# insert
A built-in method to Used to add an item at an specific position
Syntax:list.insert(Position.value)
languages.append(['javascript','go'])

languages.insert(['m',4])
languages

languages.index(['javascript', 'go'],7)

#extend
A built-in method used to add all items of one list in another list.
Syntax:list1.extend(list2)

a=['a','z']
b=['b','g']
a.extend(b)

fruits = ['apple','banana','cherry']

cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
fruits


fruits.remove('cherry')

fruits

y = ['Jan','Dan','Bob','Alice','Jon','Jack']
y.sort()
print(y)


y.sort(reverse=True)
y


numbers = [10, 5, 7, 2, 1]
print("Original list contents:", numbers)  # Printing original list contents.
 
numbers[0] = 111
print("New list contents: ", numbers)  # Current list contents.

# #The pop() method removes the element at the specified position.

# Syntax:list.pop(pos)

y.pop(5)

import random
random.shuffle(y)
y

#tuples immmutable

a=()

type(a)

a=(0,1,2,3,4)

a[1]

a.replace(6,0)

# tuple with mixed datatypes
t1= (1, "Hello", 3.4)
print(t1)

In [454]:
# nested tuple
t2= ("mouse", [8, 4, 6], (1, 2, 3))
print(t2)

print(t1)

t2[0]='Hi'

('mouse', [8, 4, 6], (1, 2, 3))
(1, 'Hello', 3.4)

TypeError: 'tuple' object does not support item assignment

In [453]:
#we can have only one item here
#t2=('item1')#This is a String
t2=('item1',)#this is a tuple
t2

#Creating tupple without using braces
t3=1,2,'mn'
type(t3)

tuple

In [452]:
# We can use the type() function to know which class a variable or a value belongs to.
var1 = ("hello")
print(type(var1))  # <class 'str'>

<class 'str'>

In [451]:
# Creating a tuple having one element
var2 = ("hello",)
print(type(var2))  # <class 'tuple'>

# Parentheses is optional
var3 = "hello",
print(type(var3))  # <class 'tuple'>

<class 'tuple'>
<class 'tuple'>

In [449]:
# accessing tuple elements using indexing
t1= (1, "Hello", 3.4)

print(t1[0])    
print(t1[2])

1
3.4

In [448]:
# accessing tuple elements using negative indexing
t1= (1, "Hello", 3.4)

print(t1[-1])    
print(t1[-2])

3.4
Hello

In [447]:
#accessing tuple elements using slicing
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# elements 2nd to 4th index
print(my_tuple[1:4])  #  prints ('r', 'o', 'g')

# elements beginning to 2nd
print(my_tuple[:-7]) # prints ('p', 'r')

# elements 8th to end
print(my_tuple[7:]) # prints ('i', 'z')

# elements beginning to end
print(my_tuple[:]) # Prints ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [446]:
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
my_tuple.count('r')

2

In [445]:
# Creating tuples
my_tuple =('p', 'r', 'o', 'i', 'r', 'a', 'm', 'i', 'z')
# getting the index of 3
res=my_tuple.index('o')
print('First occurrence of o is', res)
# getting the index of 3 after 4th
# index
res=my_tuple.index('i', 4)
print('First occurrence of i after 4th index is:', res)

First occurrence of o is 2
First occurrence of i after 4th index is: 7

In [444]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'e', 'a', 'o', 'u', 'i'}

In [443]:
# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

#set_a={[1,2,3],"a"}

#set_b={{1,2,3},"a"}

set_b={{"brand": "Ford","model": "Mustang","year": 1964},"a"}

Set of mixed data types: {101, 'Hello', 'Bye', -2}

TypeError: unhashable type: 'dict'

In [438]:
# create an empty set
empty_set = set()

# create an empty dictionary
empty_dictionary = { }

# check data type of empty_set
print('Data type of empty_set:', type(empty_set))

# check data type of dictionary_set
print('Data type of empty_dictionary', type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of empty_dictionary <class 'dict'>

In [437]:
#convert into a list

a=list(a)

type(a)

q=['A',1]
max(q)

TypeError: 'int' object is not iterable

In [436]:
#max(),min() and sort() function work only with same data type

first_names = ('Simon', 'Sarah', 'Mehdi', 'Fatime')
last_names = ('Sinek', 'Smith', 'Lotfinejad', 'Lopes')
ages = (49, 55, 39, 33)
zipped = zip(first_names, last_names,ages)
print(zipped)

<zip object at 0x0000018966ABB800>

In [435]:
#list,tupple and set are primitive  data type

# Create an empty tuple,list and set without using braces

a1=set()

a1=tuple()

#set A Set in Python programming is an 
# unordered collection data type that is
# iterable, mutable and 
# has no duplicate elements. 

a1={1,2,3,3,4,4}

a1
#the multiple occurences are removed

a1={"nm",1,2,3,'a'}

a1

{1, 2, 3, 'a', 'nm'}

In [434]:
l = [None] * 10
print(len(l))

numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

10
Initial Set: {34, 12, 21, 54}

In [433]:
# using add() method
numbers.add(10)

print('Updated Set:', numbers) 

thisset = {"apple", "banana", "cherry"}

thisset.add("78")

print(thisset)

Updated Set: {10}
{'banana', '78', 'apple', 'cherry'}

In [432]:
letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

string_letters = str(letters)
lists_letters = list(letters)
tuples_letters = tuple(letters)
sets_letters = set(letters)


print("String: ", string_letters)
print() # for new line
print("Lists: ", lists_letters)
print() # for new line
print("Tuples: ", tuples_letters)
print() # for new line
print("Sets: ", sets_letters)

String:  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

Lists:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

Tuples:  ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

Sets:  {'G', 'W', 's', 'J', 'O', 'P', 'S', 'd', 'w', 'q', 'F', 'r', 'Q', 'A', 'l', 'g', 'I', 'X', 'L', 'e', 'a', 'o', 'C', 'U', 'b', 'M', 'v', 'c', 'j', 'Y', 'h', 'x', 'Z', 't', 'f', 'T', 'E', 'z', 'k', 'p', 'V', 'n', 'D', 'R', 'N', 'B', 'm', 'i', 'y', 'u', 'K', 'H'}

In [431]:
numbers = {21, 34, 54, 12}
x = numbers.clear()
print(x)
numbers

None

set()

In [430]:
#Set Difference: 
s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8} 
s1.difference(s2) 

#Symmetric difference: 
x= {1,2,4} 
y={2,5,6} 
print(x.symmetric_difference(y))

{1, 4, 5, 6}

In [429]:
s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8} 
print(s1.intersection(s2))

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.intersection(y, z)

print(result)

{4, 5}
{'c'}

# Frozen set 
is just an immutable version of a Python set object. While elements
of a set can be modified at any time, elements of the frozen set remain the same after creation.
Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. 
But like sets, it is not ordered (the elements can be set at any index).

In [411]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')
fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())
# frozensets are immutable
fSet.add('v')

The frozen set is: frozenset({'i', 'e', 'a', 'o', 'u'})
The empty frozen set is: frozenset()

AttributeError: 'frozenset' object has no attribute 'add'

In [412]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)
#Only keys are returned

The frozen set is: frozenset({'name', 'age', 'sex'})

In [415]:
#frozen set
a1=frozenset()

type(a1)

frozenset(a1)

a1.pop(2)

AttributeError: 'frozenset' object has no attribute 'pop'

In [414]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()
print(C)

# union
print(A.union(B))  

# intersection
print(A.intersection(B))

# difference
print(A.difference(B))

# symmetric_difference
print(A.symmetric_difference(B))

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

In [408]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
x.intersection_update(y)
x

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.union(y, z)

print(result)

{'a', 'e', 'g', 'b', 'd', 'f', 'c'}

In [407]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b","a"}

z = x.issubset(y)

print(z)

False
True

In [406]:
x = {"f", "e", "d", "c", "b","a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [405]:
A = {'a', 'b'}
B = {1, 2, 3}

# updates A after the items of B is added to A
A.update(B)

print(A)

#Hash Map
#Dict

d1={}

d1=dict()

# keys:Every Immutable datatypes allowed(String,float,integer)
#     values:Anything

d1={[1,2,[3,5,(7,8)]]:'(4,5,4)'}

{1, 2, 3, 'a', 'b'}

TypeError: unhashable type: 'list'

In [381]:
my_dict = {1: "Hello", (1, 2): "Hello Hi", 3: [1, 2, 3],1:"Hi",
          1:"Hey","Colour":"RED"}
my_dict[3]

[1, 2, 3]

In [382]:
my_dict.get("Colour")

'RED'

In [384]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Naples", 
  "England": "London"
}

# change the value of "Italy" key to "Rome"
country_capitals["Italy"] = "Rome"

print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}

In [385]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Naples" 
}

# add an item with "Germany" as key and "Berlin" as its value
country_capitals["Germany"] = "Berlin"

print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Naples', 'Germany': 'Berlin'}

In [387]:
country_capitals.update({"Nepal":"Kathmandu"})
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Naples', 'Germany': 'Berlin', 'Nepal': 'Kathmandu'}

In [388]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Naples" 
}

# delete item having "United States" key
del country_capitals["United States"]


print(country_capitals)

{'Italy': 'Naples'}

In [395]:
# keys for the dictionary
alphabets = {'a', 'b', 'c'}
# value for the dictionary
number = 1
# creates a dictionary with keys and values#
dictionary = dict.fromkeys(alphabets, number)
print(dictionary)

{'b': 1, 'a': 1, 'c': 1}

In [396]:
# keys for the dictionary
alphabets = {'a1', 'b1', 'c1'}
# creates a dictionary with keys and values
dictionary = dict.fromkeys(alphabets)
print(dictionary)

{'c1': None, 'b1': None, 'a1': None}

In [397]:
#The items() method returns a view object that 
#displays a list of dictionary's (key, value) tuple pairs.
marks = {'Physics':67, 'Maths':87}

print(marks.items())

dict_items([('Physics', 67), ('Maths', 87)])

In [398]:
# The keys() method extracts the keys of the dictionary 
#  and returns the list of keys as a view object
numbers = {1: 'one', 2: 'two', 3: 'three'}

# extracts the keys of the dictionary
dictionaryKeys = numbers.keys()

print(dictionaryKeys)

dict_keys([1, 2, 3])

In [399]:
# The values() method returns a view object that
# displays a list of all the values in the dictionary.

marks = {'Physics':67, 'Maths':87}

print(marks.values())

dict_values([67, 87])

In [400]:
# The pop() method removes and 
# returns an element from a dictionary having the given key.
# create a dictionary
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }

element = marks.pop('Chemistry')

print('Popped Marks:', element)

Popped Marks: 72

In [401]:
#The popitem() method removes and 
# returns the (key, value) pair from the dictionary in 
# the Last In, First Out (LIFO) order.

# Returns the latest inserted element (key,value) pair from the dictionary.
# Removes the returned element pair from the dictionary.

In [402]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

# ('salary', 3500.0) is inserted at the last, so it is removed.
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

# inserting a new element pair
person['profession'] = 'Plumber'

# now ('profession', 'Plumber') is the latest element
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

Return Value =  ('salary', 3500.0)
person =  {'name': 'Phill', 'age': 22}
Return Value =  ('profession', 'Plumber')
person =  {'name': 'Phill', 'age': 22}

In [403]:
person = {'name': 'Phill', 'age': 22}

age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

person =  {'name': 'Phill', 'age': 22}
Age =  22

In [404]:
person = {'name': 'Phill'}

# key is not in the dictionary
salary = person.setdefault('salary')
print('person = ',person)
print('salary = ',salary)

# key is not in the dictionary
# default_value is provided
age = person.setdefault('age', 22)
print('person = ',person)
print('age = ',age)

person =  {'name': 'Phill', 'salary': None}
salary =  None
person =  {'name': 'Phill', 'salary': None, 'age': 22}
age =  22

In [416]:
# 3Conditional statement

In [417]:
a=10
b=20

In [427]:
if a>b:
    print('A is greater')
else:
    print('B is greater')

B is greater

In [428]:
#Ternary Statements
print('A is equal to b' if a==b else'A is greater than B'if a>b else 'B is greater' )

B is greater

In [426]:
age=int(input('Enter the age'))
print('salary=5k' if age<23 else 'salary=10k' if age>=23 and age<30 else 'salary=20k'
      if age>=30 and age<35 else 'salary=30k' )

Enter the age30
salary=20k

In [455]:
#Loops

In [456]:
# -for
# -while

In [9]:
a=4
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [458]:
print(range(1,6))

range(1, 6)

In [460]:
l1=[1,2,3,4,5]
s1={1,2,3,4,5}
for i in range(len(s1)):
    print(i)

0
1
2
3
4

In [461]:
#Print first 50 natural nos from 1

In [464]:
for i in range(1,51):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50

In [466]:
l1=['A',1,2,3,4,5]
s1={1,2,3,4,5}
for i in l1:
    print(i)

A
1
2
3
4
5

# while condition is true:
#     logic
# else:
#     logic

In [473]:
i=10
while (i<20):
    print(i)
    i+=1
else:
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(0,50):
    if i%2==0:
        continue
    print(i)
print('x,end=' \f'')

In [487]:
for i in range(0,50):
    if i%2==0:
       break
    print(i)
print('x')

x

In [490]:
l1=[1,2,3,4,5]
for i in l1:
    print(i,l1[i])

1 2
2 3
3 4
4 5

IndexError: list index out of range

In [ ]:
if condition:
    # body of if statement
     the ternary operator in python is used to return a value based on the result of a binary condition. It takes binary value(condition) as an input, so it looks similar to an “if-else” condition block. However, it also returns a value so behaving similar to a function.

Syntax

In [8]:
from string import Template
l1=[1,2,3,4,5]
for i,value in enumerate(l1):
     #print(i,"-",value)
#       print(f'{i}-{value}')
     #print("%d - %d"%(i,value))
    #print("{}-{} ".format(i,value))
#         n = Template('$n3-$n4')
#         print(n.substitute(n3=i, n4=value))

0-1
1-2
2-3
3-4
4-5

In [2]:
num = -10
while num <= 10:
    print(num,end=' ')
    num += 1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [24]:
for i in range(-10,11):
    print(i,end=' \f')

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [59]:
#Sum of all prime numbers from 1-100
sum = 0
for num in range(2,101):
    for i in range(2, num):
        if (int(num%i) == 0):
            break;
    else:
        sum += num

print("\nSum of all prime numbers from 1-100",":", sum)

Sum of all prime numbers from 1-100 : 1060

In [35]:
n = 5

for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [38]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120

In [46]:
#Reverse
num =input("Enter an integer number having at least 2 digits: ")
if len(num)<2 or not num.isdigit():
    print("Invalid input!!Please enter an integer with at least 2 digits.")
else:
    reversed_num =int(num[::-1])
    print(f"The reversed number is: {reversed_num}")

Enter an integer number having at least 2 digits: 1
Invalid input!!Please enter an integer with at least 2 digits.

In [51]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,0,13,22,40,22,55,45,32,234,545,343,2423,4]

# Iterate through the list
for num in my_list:
    # Calculate the digit sum of the current number
    digit_sum = sum(int(digit) for digit in str(num))
    
    # Check if the digit sum is equal to 4
    if digit_sum == 4:
        print(num)
    else:
        # If the digit sum is not 4, skip to the next iteration
        continue

4
13
22
40
22
4

In [73]:
# list_1=[1, 2,3, 4, 5, 6, 7, 8, 9, 0, 13, 22,40,22,55,45,32,234,545,343,2423,4]
# sum=0
# for digit in list_1: 
#     sum+=int(digit)      
# if sum == 4:
#     print(digit)

In [155]:
i=10
while (i<20):
    print(i)
    i+=1
else:
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [66]:
sum=0
for i in range(2,101):
    for j in range(2,i):
        if (int(i%j)==0):
            break;
    else:
        sum+=i
print("\Sum of all prime numbers from 1-100",":", sum)

\Sum of all prime numbers from 1-100 : 1060

# Functions
Increase Code Readability 
Increase Code Reusability
def function_name():
    function_body

In [139]:
# Defining the function
def First_func():
    print("Hello")
#Calling the function
First_func()

Hello

In [140]:
def functionName()->int:
    return result

In [69]:
def functionName():
    return result

In [70]:
def functionName():
    pass
#here we are creating a blue print of functionName as we r not returning anything so there isn't any 
# presence of this func_name in stack or heap

In [80]:
#User defined function
#Non-parameterized function
def sum1(a1,b1):
    a=6
    b=2
    return a1+b1

In [81]:
#calling a function
sum1(2,2)

4

In [83]:
#User defined function
#Non-parameterized function
def sum2(a,b):
    a=6
    b=2
    return a+b

In [85]:
sum2(2,3)

8

In [86]:
#User defined function
#Non-parameterized function
def sum3(a,b):
    return a+b

In [88]:
sum3(2,1)

3

In [89]:
def sum4(a:int,b:int):
    return a+b

In [90]:
sum4(1,11)

12

In [110]:
def printArgs(*args):
    sum=0
    for i in args:
        sum+=int(i)
    return sum

In [111]:
printArgs(1,4,56)#it takes arguments in the form of a tuple

61

In [127]:
def dictType(kwargs):
    return kwargs

In [134]:
dictType({'a',1})

TypeError: dictType() takes 0 positional arguments but 1 was given

In [195]:
def dictType(**kwargs):
    return kwargs

In [196]:
dictType(a='Abhi',b=1,c='Yes')

{'a': 'Abhi', 'b': 1, 'c': 'Yes'}

In [143]:
squares = [x ** 2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [144]:
row = []

for i in range(8):
    row.append('WHITE_PAWN')

In [145]:
row

['WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN']

In [146]:
row = ['WHITE_PAWN' for i in range(8)]
row

['WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN',
 'WHITE_PAWN']

In [194]:
board = [['EMPTY'for i in range(8)] for j in range(8)]
board

[['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY'],
 ['EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY', 'EMPTY']]

In [150]:
temps = [[0.0 for h in range(2)] for d in range(3)]
temps

[[0.0, 0.0], [0.0, 0.0], [0.0, 0.0]]

In [151]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]
rooms

[[[False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False]],
 [[False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False]],
 [[False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False],
  [False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False,
   False]]]

In [153]:
vacancy = 0

for room_number in range(20):
    if not rooms[2][14][room_number]:
        vacancy += 1
vacancy

20

In [154]:
cubed = [num ** 3 for num in range(5)]
print(cubed)  # outputs: [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

In [159]:
table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]
 
print(table)
print(table[0][0]) 
print(table[0][3])

[[':(', ':)', ':(', ':)'], [':)', ':(', ':)', ':)'], [':(', ':)', ':)', ':('], [':)', ':)', ':)', ':(']]
:(
:)

In [160]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

[2]

In [163]:
list_1 = [1,2]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

[1, 2]

In [164]:
list_1 = [1,2]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

# Copying some part of the list.
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[1, 2]
[8, 6]

In [165]:
#bubblesort
def sort(nums):
    for i in range(len(nums)-1,0,-1):
        for j in range(i):
            if nums[j]>nums[j+1]:
                temp=nums[j]
                nums[j+1]=temp

In [172]:
l1=[1,5,7,6,44,987]
sort(l1)
print(l1)

[1, 5, 7, 7, 44, 987]

In [173]:
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ",sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

In [174]:
#Shadowing in Function
def message(number):
    print("Enter a number:", number)

number = 1234
message(1)
print(number)

Enter a number: 1
1234

In [175]:
def message(number):
    print("Enter a number:", number)

number = 1234
message(1)
print(number)

# Here parameter named number and varible number are different

Enter a number: 1
1234

In [182]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction(last_name="Skywalker",first_name="Luke")
# introduction(first_name,first_name)

Hello, my name is Luke Skywalker

In [183]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print('Sum: ',sum)

# function with no argument
def add_numbers():
    # code

SyntaxError: incomplete input (2530670871.py, line 8)

In [184]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ",sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

In [188]:
def my_function(a, b, c):
    print(a, b, c)
 
my_function(1, 2, 3)

1 2 3

In [189]:

def team(name, company):
   print(name, "is working at", company)
team(company = "Google", name = 'John')

John is working at Google

In [197]:
def dictType(**kwargs):
    return kwargs
dictType(a='Abhi',b=1,c='Yes')

{'a': 'Abhi', 'b': 1, 'c': 'Yes'}

In [191]:
def Person(**kwargs):
   for key, value in kwargs.items():
      print(key,"->", value)
Person(Name = 'Rahul', Gender = 'Male', Age = 38, City = 'Hyderabad', Mobile = 123456789)

Name -> Rahul
Gender -> Male
Age -> 38
City -> Hyderabad
Mobile -> 123456789

In [192]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [193]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [198]:
for i in (args)

SyntaxError: expected ':' (821425715.py, line 1)

In [205]:
#iterators and generators
def func(*args):
#     for i in args:
         return i
print(func(1,2,3,4))
print("call is Over")

4
call is Over

In [206]:
#iterators and generators
def func(*args):
    for i in args:
        yield(i)
print(func(1,2,3,4))

<generator object func at 0x000001FCAC12EA80>

In [207]:
for i in func(1,2,3,4):
    print(i)

1
2
3
4

In [209]:
#lambda function are also called anonymous function that are used to carry out certain tasks
x=lambda a:a+10
print(x(5))

15

In [11]:
a = lambda x, y : (x * y) 
print(a(4, 5))

20

In [10]:
def func1(firstName,lastname):
    return firstname+lastname
 

output=lambda firstname,lastname :firstname+lastname
output("Abhilipsa","Mahapatra")

20

'AbhilipsaMahapatra'

In [228]:
#define a lambda function which can take n numbers of arguments 
# and print all the arguments 

l1=lambda *n:print(n)
l1('a','b')

('a', 'b')

In [224]:
result = lambda x : f"{x} is even" if x %2==0 else f"{x} is odd"
result(5)

'5 is odd'

In [287]:
l1=lambda *n:[print (i) for i in n]
l1('a','b')

a
b

[None, None]

In [282]:
#define a lambda function which can take n numbers of arguments 
# and print all the arguments
l1=lambda *n:[[print(i)] for i in n]
a1=l1('c','d')
# a=list(l1('a','b'))

c
d

In [353]:
for i in l1:
    l1=lambda *n:print(n)
l1(1,2)

TypeError: 'function' object is not iterable

In [246]:
l2=lambda *args:print(args)
l2(1,2,3,4)

(1, 2, 3, 4)

In [312]:
#map and reduce
#map
# map(function,iterables)
def myfunc(a,b):
    return a+b
# myfunc(('a','b'),('c','d'))
x=map(myfunc,('a','b'),('c','d','i','j'))
print(x)

<map object at 0x000001FCAB379090>

In [311]:
for i in x:
    print(i)

ac
bd

In [318]:
def is_even(n):
    return n%2==0
nums=[3,2,1,4,5]
# even=list(filter(is_even,nums))
even=(is_even,nums)
print(even)

(<function is_even at 0x000001FCABECF560>, [3, 2, 1, 4, 5])

In [472]:
def is_even():
#     for i in range(1,21):
#         if(i%2==0):
#             print(i)
# is_even()
     n=list(filter(if x%2==0,range(1,21)))
is_even()

TypeError: 'bool' object is not callable

In [468]:
n=list(filter(lambda x:x%2==0,range(1,21)))
print(n)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [399]:
l1=[2,3,4,5,6,7]
def square_cube():
    square=[x**2 for x in l1]
    cube=[x**3 for x in l1]
    print("Square=",square)
    print("Cube=",cube)
square_cube()

Square= [4, 9, 16, 25, 36, 49]
cube= [8, 27, 64, 125, 216, 343]

In [434]:
l1=[2,3,4,5,6,7]
Square1=list(map(lambda x:x**2 ,l1))
cub1e=list(map(lambda x:x**3 ,l1))
print("Square=",Square1)
print("Cube=",cub1e)

Square= [4, 9, 16, 25, 36, 49]
Cube= [8, 27, 64, 125, 216, 343]

In [448]:
Original_list=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
def sort():
    newlist =sorted(Original_list,key=lambda x:['model'])
    print(newlist)
sort()

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [444]:
Original_list=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
newlist =sorted(Original_list,key=lambda x:['model'],reverse=True)
newlist

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [454]:
from datetime import datetime
def find_dtm():
    dtm=input("Enter any date and time in YYYY-MM-DD HH:MM:SS Format ")
    s=split
    op='%s/%s/%s' % (dtm.month,dtm.day,dtm.year)
    print("Extracted date:",op)
find_dtm()

Enter any date and time in YYYY-MM-DD HH:MM:SS Format 2020-01-15 09:03:32.744178

AttributeError: 'str' object has no attribute 'month'

In [502]:
dtm='2020-01-15'
YMD=dtm.split('-')
print(month)

['2020', '1', '15']

In [504]:
dtm='2020-01-15'
month=dtm.split('-',1)
print(month)

['2020', '01-15']

In [ ]:
k=lambda x:dtm.split('-'),print

In [ ]:
#     print(emp_list)

In [495]:
#5given string is numeric or not
def is_numeric():
    l2=['Subha','20','Yashish20','4555','0']
    m=filter(l2.isdigit(),l2)
print(m)
for i in m:
    print(i)

<function <lambda> at 0x000001FCAC96BBA0>

TypeError: 'function' object is not iterable

is_numeric()

In [474]:
l2=['Subha','20','Yashish20','4555','0']
l3=list(filter(lambda s:s.isdigit(),l2))
print(l3)

['20', '4555', '0']

In [518]:
dtm='2020-01-15'
x=lambda x:x.replace('-','\n')
print(x(dtm))

2020
01
15

In [519]:
x=lambda x:x.split('-')
[print(i) for i in x('2020-01-15')]

2020
01
15

[None, None, None]

In [523]:
str1='2020-01-15'
dt1 = lambda dt: [i for i in dt.split('-')]
# Extract year, month, and day using the lambda function
year, month, day = dt1(str1)
print(year)
print(month)
print(day)

2020
01
15

#Decorators 
These are special functions which take a function as an input,dectorate/modify that input function
and return another new dectorated function as an output

In [534]:
#Syntax:
def dec2(x):
    def mfunc2():
        print('Hi I am the second decorated function')
        x()
    return mfunc2()
def dec1(x):
    def mfunc1():
        print('Hi I am the first decorated function')
        x()
    return mfunc1()
@dec1
@dec2
def func():
    print('Hello I am the base/original function')

Hi I am the second decorated function
Hello I am the base/original function
Hi I am the first decorated function

TypeError: 'NoneType' object is not callable

In [5]:
# Memory utilizationn improvement ,performance improvement(Generator get one by one no need to store all the items as in list)
def mygen():
    yield 'A'
    yield 'B'
g=mygen()
print(type(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
A
B

StopIteration:

In [6]:
def my_generator(n):

    # initialize counter
    value = 0

    # loop until counter is less than n
    while value < n:

        # produce the current value of the counter
        yield value

        # increment the counter
        value += 1

# iterate over the generator object produced by my_generator
for value in my_generator(3):

    # print each value produced by generator
    print(value)

0
1
2

In [9]:
l=[x*x for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
# Example of using map, filter, and reduce in Python  
data = [1, 2, 3, 4, 5]  
  
# Using the map to apply a function to each element  
# Lambda function returns the square of x  
result1 = map(lambda x: x * 2, data)  # Result: [2, 4, 6, 8, 10]  
  
# Using the filter to filter elements based on a condition  
# Lambda function returns True for an even number  
result2 = filter(lambda x: x % 2 == 0, data)  # Result: [2, 4]  
  
# Using reduce to aggregate elements  
# Lambda function returns product of x and y  
from functools import reduce  
result3 = reduce(lambda x, y: x * y, data)  # Result: 120  
printlist((result1))
print(result2)
print(result3)

NameError: name 'printlist' is not defined

In [16]:
# Using map() to square each element of the data list  
data = [1, 2, 3, 4, 5]  
  
# Map function returns the map object  
squares = map(lambda x: x*x, data)  
  
# Iterating the elements of the squares  
for i in squares:  
    print(i, end=" ")  

# Also, we can convert the map object into a list  
squares = list(map(lambda x: x*x, data))  
print(f"Squares: {squares}")

Squares: [1, 4, 9, 16, 25]

In [17]:
def calculateSquare(n):
    return n*n


numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x00000253997AFA60>
{16, 1, 4, 9}

Generators introduce the yield statement to Python. It works a bit like return because it returns a value.

The difference is that it saves the state of the function. The next time the function is called, execution continues from where it left off, with the same variable values it had before yielding.

In [18]:
# Using filter() to filter even numbers from a list  
data = [1, 2, 3, 4, 5]  
  
# The filter function filters the even numbers from the data  
# and returns a filter object (an iterable)  
evens = filter(lambda x: x % 2 == 0, data)  
  
# Iterating the values of evens  
for i in evens:  
    print(i, end=" ")  
  
# We can convert the filter object into a list as follows:  
evens = list(filter(lambda x: x % 2 == 0, data))  
  
# Printing the evens list  
print(f"Evens = {evens}")

2 4 Evens = [2, 4]

In [19]:
# Examples to understand the reduce() function  
from functools import reduce  
  
# Function that returns the sum of two numbers  
def add(a, b):  
    return a + b  
  
# Our Iterable  
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
  
# add function is passed as the first argument, and num_list is passed as the second argument  
sum = reduce(add, num_list)  
print(f"Sum of the integers of num_list : {sum}")  
  
# Passing 10 as an initial value  
sum = reduce(add, num_list, 10)  
print(f"Sum of the integers of num_list with initial value 10 : {sum}")

Sum of the integers of num_list : 55
Sum of the integers of num_list with initial value 10 : 65

In [27]:
def outer_div(func):     # here, we are creating a function and passing the parameter  
    def inner(x,y):        # here, we are creating a function and passing the parameter  
        if(x<y):    
           x,y = y,x    
        return func(x,y)       # here, we are returning the function with the parameters  
    return inner  
# Here, the below is the syntax of generator    
@outer_div    
def divide(x,y):      # here, we are creating a function and passing the parameter   
     print(x/y)

In [14]:
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

I got decorated
I am ordinary

In [2]:
def check_prime(number):
    for divisor in range(2, int(number ** 0.5) + 1):
        if number % divisor == 0:
            return False
        return True

In [3]:
class Primes:
    def __init__(self, max):
        self.max = max
        self.number = 1

In [5]:
def __iter__(self):
    return self

In [12]:
def __next__(self): 
    self.number += 1   
    if self.number >= self.max:
        raise StopIteration    
    elif check_prime(self.number):
         return self.number     
    else: 
         return self.__next__()

In [50]:
def dec2(x):
    def mfunc2():#--->100()when mfunc2()here mfunc returns 100 now 100()is called so error so 
        returned_value=x()
        return returned_value**3
    return mfunc2
def dec1(x):
    def mfunc():
        returned_value=x()
        return returned_value**2
    return mfunc
@dec2#dec2(dec1(base()))
@dec1
def base():
    a=10
    return a

print(base())

1000000

In [27]:
def call():
    a=[1,2,3,4]
    for i in a:
        return (i)

In [28]:
print(call())

1

In [29]:
def call2():
    a=[1,2,3,4]
    for i in a:
         yield(i)

In [30]:
for i in 
print(call2())

<generator object call2 at 0x000001C62F51B920>

In [51]:
def dec3(x):
    def mfunc3():
        returned_value=x()
        return returned_value**4
    return mfunc3
def dec2(x):
    def mfunc2():#--->100()when mfunc2()here mfunc returns 100 now 100()is called so error so 
        returned_value=x()
        return returned_value**3
    return mfunc2
def dec1(x):
    def mfunc():
        returned_value=x()
        return returned_value**2
    return mfunc
@dec3#dec3(dec2(dec1(base())))
@dec2
@dec1
def base():
    a=10
    return a

print(base())

1000000000000000000000000

In [52]:
#function call without a parenthesis
def concatenate_string(*args):
	string1 = args[0]
	string2 = args[1]

	return string1 + string2

obj = concatenate_string('Hello, ', 'George')
print('Function call with Parentheses: ')
print(obj)

obj = concatenate_string
print('Function call without Parentheses: ')
print(obj)

Function call with Parentheses:
Hello, George
Function call without Parentheses:
<function concatenate_string at 0x000001C6302A1440>

In [53]:

def concatenate_string(*args):
    string1 = args[0]
    string2 = args[1]
  
    def merge_string(string1, string2):
        return string1 + string2  # string merge
     
    # executes merge_string and return the result
    return merge_string(string1, string2)
  
def function_call(function):
    string1 = 'Hello, '
    string2 = 'George'
    return function(string1, string2)
  
# passing function as argument
print(function_call(concatenate_string))

Hello, George

In [54]:
#OOPs
#Access modifiers
#Exception handling

In [76]:
#class
class HomoSapiens():
    a=10
    b=20
    def walk():
        return walk()

In [65]:
type(HomoSapiens())

__main__.HomoSapiens

In [59]:
id(HomoSapiens())

1950725086416

In [60]:
import sys
sys.getsizeof(HomoSapiens())

56

In [61]:
class Animals():
    a=4

In [63]:
sys.getsizeof(Animals())

56

In [77]:
#create a object
obj=HomoSapiens()

In [67]:
type(obj)

__main__.HomoSapiens

In [1]:
obj.b
obj.a
# obj.walk

NameError: name 'obj' is not defined

In [100]:
# class MyFirstClass():
#     a1='Hello'
#     b1='World'
#     def __init__(self):
#         self.a=a1
#         self.b=b1
#     def MFirstFunc(self):
#         return('This is my first function')


# class MyFirstClass():

#     def __init__(self):
#         self.a='Hello'
#         self.b='World'
#     def MFirstFunc(self):
#         return('This is my first function')

class MyFirstClass():
 
    def __init__(self,a1,b1):
        self.a=a1
        self.b=b1
    def MFirstFunc(self):
        return(f'{self.a},{self.b} This is my first function')

In [103]:
obj=MyFirstClass('Hello',' World!')

In [104]:
obj.MFirstFunc()

'Hello, World! This is my first function'

In [ ]:
#Access Modifiers

#Inheritance 
A child class inheritance can access all the member methods and attributes of the parent class]

# Multiple inheritance

In [110]:
class A():
    a=None
    b=None
    def __init__(self):
        self.a=a
        self.b=b
    def MyAtt(self):
        return ('This is the parent class A')

In [111]:
class B():
     def MyAtt2(self):
        return ('This is the 2ndparent class A')

In [112]:
class C(A,B):
     pass

In [113]:
obj=B()

In [114]:
obj.MyAtt2

In [105]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Creating instances of the Person class
person1 = Person("Alice", 30)
person2 = Person("Bob", 25)

In [106]:
class A:
    a=1
    b=2
    def __init__(self, c,d):
        self.c = c
        self.d = d

In [107]:
#Inheritance

In [137]:
class Parent():
    def __init__(self,a,b):
        self.a=a
        #/self.a's a is not same as a
        self.b=b

In [138]:
class Base(Parent):
    def __init__(self,a,b,c):
        super().__init__(a=4,b=5)
        self.c=c

In [139]:
obj=Base(1,2,3)

In [140]:
obj.a

4

In [141]:
obj.b

5

In [142]:
obj.c

3

In [ ]:
class Parent():
    def __init__(self,a,b):
        self.a=a
        #/self.a's a is not same as a
        self.b=b

In [143]:
class Base(Parent):
    def __init__(self,a,b,c):
        super().__init__(a=4,b=5)
        self.c=c

In [146]:
obj=Base1(1,2,3)

In [147]:
obj.a

AttributeError: 'Base1' object has no attribute 'a'

In [189]:
class Parent:
    def _init__(self):
        self.a1=4
        self.b1=4
        self.c1=4
class Base2(Parent):
    def __init__(self):
        super().__init__()

In [190]:
obj2=Base2()

In [191]:
obj2.a1

AttributeError: 'Base2' object has no attribute 'a1'

In [208]:
#multilevel inheritance
class a2:
    a=10
    b=20
class b2(a2):
    c=10
    d=20
class c2(b2):
    e=10
    f=20

In [209]:
obj=c2()

In [210]:
obj.b

20

In [214]:
class Parent:
    def __init__(self, txt):
        self.message = txt

 

    def printmessage(self):
        print(self.message)
class Child(Parent):
    def __init__(self,txt= 'Hello Welcome'):
        super().__init__(txt)

x=Child()

 

x.printmessage()

Hello Welcome

In [221]:
def dec(x):#reference is stored here
    def mfunc(a,b):
        res=x(a,b)+5
        return res
    return mfunc
@dec
def Base(a,b):
    return a+b

In [219]:
print(Base(4,5))

14

In [235]:
def dec1(x):
    def mBase(a,b):
        if a>b:
            res=a/b
        else:
            res=b/a
        return int(res)
    return mBase
@dec1
def Base(a,b):
    return mBase(a/b)

In [236]:
print(Base(10,2))

5

In [237]:
print(Base(2,3))

1

In [240]:
def dec1(x):
    def mBase(a,b):
        if b>a:
            a,b=b,a
        val=x(a,b)
        return int(val)
    return mBase
@dec1
def Base(a,b):
    return a/b

In [241]:
result=Base(10,2)
print(result)

5

In [287]:
class Abc:
    __sessionId=5#private
    _b=10#protected
    c=20
    def login(self,sessionId):
        if sessionId==self.__sessionId:
            print('Login Successful')

In [288]:
obj=Abc()

In [289]:
obj.login('mksessionId')

In [282]:
class Efg:
    x=Abc()

In [ ]:
obj=Efg()

In [333]:
# # program to illustrate access modifiers of a class
# # super class
# class Super:
#      # public data member
#     var1 = None
#      # protected data member
#     _var2 = None 
#      # private data member
#     __var3 = None     
#      # constructor
#     def __init__(self, var1, var2, var3): 
#         self.var1 = var1
#         self._var2 = var2
#         self.__var3 = var3
#          # public member function  
#     def displayPublicMembers(self):
#           # accessing public data members
#         print("Public Data Member: ", self.var1)   
#      # protected member function  
#         def _displayProtectedMembers(self):
#           # accessing protected data members
#               print("Protected Data Member: ", self._var2)
      
#      # private member function  
#         def __displayPrivateMembers(self):
#                 # accessing private data members
#                 print("Private Data Member: ", self.__var3)
#      # public member function
#         def accessPrivateMembers(self): 
#                 self.__displayPrivateMembers()         
#           # accessing private member function
# #derived class
# class Sub(Super):
#     def __init__(self, var1, var2, var3):
#         Super.__init__(self, var1, var2, var3)
#     def accessProtectedMembers(self):
#         self._displayProtectedMembers()
#         # accessing protected member functions of super class
        
        
#   #creating objects of the derived class    
# obj = Sub("Geeks", 4, "Geeks !")
 
# # calling public member functions of the class
# obj.displayPublicMembers()
# obj.accessProtectedMembers()
# obj.accessPrivateMembers()
 
# # Object can access protected member
# print("Object is accessing protected member:", obj._var2)
 
# # object can not access private member, so it will generate Attribute error
# #print(obj.__var3)

Public Data Member:  Geeks

AttributeError: 'Sub' object has no attribute '_displayProtectedMembers'

In [340]:
# program to illustrate access modifiers of a class
 
# super class
class Super:
     # public data member
     var1 = None
 
     # protected data member
     _var2 = None
      
     # private data member
     __var3 = None
     
     # constructor
     def __init__(self, var1, var2, var3): 
          self.var1 = var1
          self._var2 = var2
          self.__var3 = var3
     
    # public member function  
     def displayPublicMembers(self):
  
          # accessing public data members
          print("Public Data Member: ", self.var1)
        
     # protected member function  
     def _displayProtectedMembers(self):
  
          # accessing protected data members
          print("Protected Data Member: ", self._var2)
      
     # private member function  
     def __displayPrivateMembers(self):
          # accessing private data members
          print("Private Data Member: ", self.__var3)
 
     # public member function
     def accessPrivateMembers(self):    
           
          # accessing private member function
          self.__displayPrivateMembers()
  
# derived class
class Sub(Super):
  
      # constructor
       def __init__(self, var1, var2, var3):
                Super.__init__(self, var1, var2, var3)
           
      # public member function
       def accessProtectedMembers(self):
                 
                # accessing protected member functions of super class
                self._displayProtectedMembers()
  
# creating objects of the derived class    
obj = Sub("Geeks", 4, "Geeks !")
 
# calling public member functions of the class
obj.displayPublicMembers()
obj.accessProtectedMembers()
obj.accessPrivateMembers()
 
# Object can access protected member
print("Object is accessing protected member:", obj._var2)
 
# object can not access private member, so it will generate Attribute error
#print(obj.__var3)

Public Data Member:  Geeks
Protected Data Member:  4
Private Data Member:  Geeks !
Object is accessing protected member: 4

In [246]:
#Private Access Modifiers--->__
#Protected Access Modifiers--->_

In [247]:
class Efg(Abc):
    pass

In [248]:
obj=Efg()

In [250]:
obj.__a#can access only b,c

AttributeError: 'Efg' object has no attribute '__a'

In [351]:
# class MyClass:
# def __init__(self):
#     pass
# def sti(self):
#     return 'This class implents the __str__ functionality'

In [427]:
class MyClass:
    def __init__(self):
        pass
    def __str__(self):
        return 'This class implements the __str__ functionality'

In [428]:
obj=MyClass()

In [429]:
print(obj)

This class implements the __str__ functionality

In [357]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

In [3]:
#DocString
def login(username,password):
    """
    This is my login function that takes username and password as argument and
    please input valid username and password
    """
    return 'Success'

In [5]:
login('Abhi',123)

'Success'

In [364]:
class MyClass:
    __username='Subha'

In [365]:
obj=MyClass()

In [366]:
obj._MyClass__username

'Subha'

In [367]:
class MyClass:
    @staticmethod
    def fun(a):
        return 2000

In [368]:
obj=MyClass()

In [370]:
obj.fun()

2000

In [378]:
class MyClass:
    def __init__(self, value):
        self.value = value
 
    @staticmethod
    
    def get_max_value(x, y):
        return max(x, y)
    def get_min_value(x, y):
        return min(x, y)
    
 
# Create an instance of MyClass
obj = MyClass(10)
 
print(MyClass.get_max_value(20, 30)) 
print(MyClass.get_min_value(20, 30)) 
 
print(obj.get_max_value(10, 50))

30
20
50

In [386]:
class MyClass:

    static_var = 0
    def __init__(self):

        MyClass.static_var += 1

        self.instance_var = MyClass.static_var
obj1 = MyClass()

print(obj1.instance_var)  # Output: 1
obj2 = MyClass()

print(obj2.instance_var)  # Output: 2
print(MyClass.static_var)  # Output: 2

1
2
2

In [388]:
print(id(obj2.instance_var))

140732844315464

In [7]:
#Method Overloading
class methodoverLoading():
    def sum1(self,a,b):
        return a+b
    def sum1(self,a,b,c):
        return a+b+c
    def sum1(self,a,b,c,d):
        return a+b+c+d

In [8]:
obj=methodoverLoading()

In [9]:
obj.sum1(1,2,3)

TypeError: methodoverLoading.sum1() missing 1 required positional argument: 'd'

In [401]:
class MyClass:
    def add1(self,a,b):
        self.a=a
        self.b=b
        return a+b
class MyClass2(MyClass):
     def add1(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
        return a+b+c

In [402]:
obj=MyClass2()

In [405]:
obj.add1(2,3)

TypeError: MyClass2.add1() missing 1 required positional argument: 'c'

In [412]:
#Operator overloading
def func(a,b):
    return a+b

In [413]:
func(1,2)

3

In [414]:
func('Abhi','lipsa')

'Abhilipsa'

In [415]:
#list unpacking
t1=1,2,3,4

In [1]:
# t1
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [417]:
l1=[*t1]

In [418]:
l1

[1, 2, 3, 4]

In [420]:
a,b,c,d=[*t1]

In [425]:
a
b
c
d

4

In [1]:
b

NameError: name 'b' is not defined

In [10]:
#file#encapsulation

In [33]:
class Customer:
    def __init__(self, customer_id, name,address,phone_number):
        self.customer_id=customer_id
        self.name=name
        self.address=address
        self.phone_number=phone_number
    
    def get_customer_info(self) -> str:
        customer_info = f"Customer ID: {self.customer_id}\nName: {self.name}\nAddress: {self.address}\nPhone Number: {self.phone_number}"
        return customer_info
    
class Account:
    def __init__(self, account_number, customer, initial_balance=0.0):
        self.account_number = account_number
        self.customer = customer
        self.balance = initial_balance

    def deposit(self, amount: float) -> None:
        if amount > 0:
            self.balance += amount

    def withdraw(self, amount: float) -> bool:
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
            return True
        else:
            return False

    def get_balance(self) -> float:
        return self.balance
    
account_balance = account.get_balance(self)
print(f"Account Balance: ${account_balance}")

# Check withdrawal result
if withdrawal_result:
    print("Withdrawal successful")
else:
    print("Insufficient funds for withdrawal")
class Transaction:
    def __init__(self, transaction_id, source_account, destination_account, amount: float):
        self.transaction_id = transaction_id
        self.source_account = source_account
        self.destination_account = destination_account
        self.amount = amount
        import datetime
        self.timestamp = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

    def get_transaction_details(self) -> str:
        transaction_details = f"Transaction ID: {self.transaction_id}\n"
        transaction_details += "Source Account:\n"
        transaction_details += f"  - Account Number: {self.source_account.account_number}\n"
        transaction_details += f"  - Customer Name: {self.source_account.customer.name}\n"
        transaction_details += f"Destination Account:\n"
        transaction_details += f"  - Account Number: {self.destination_account.account_number}\n"
        transaction_details += f"  - Customer Name: {self.destination_account.customer.name}\n"
        transaction_details += f"Amount: ${self.amount:.2f}\n"
        transaction_details += f"Timestamp: {self.timestamp}"
        return transaction_details
# Create customers
customer1 = Customer("C001", "John Doe", "123 Main St", "555-1234")
customer2 = Customer("C002", "Jane Smith", "456 Elm St", "555-5678")

# Create accounts for customers
john_savings = Account("S001", customer1)
john_checking = Account("C001", customer1)
jane_savings = Account("S002", customer2)
jane_checking = Account("C002", customer2)

# Deposit $1000 into John Doe's Savings Account
john_savings.deposit(1000.0)

# Withdraw $200 from Jane Smith's Checking Account
jane_checking.withdraw(200.0)

# Perform a transfer of $300 from John Doe's Checking Account to Jane Smith's Savings Account
john_checking.transfer(jane_savings, 300.0)

# Retrieve and display the balance of all four accounts
print(john_savings)
print(john_checking)
print(jane_savings)
print(jane_checking)

# Create transaction objects
deposit_transaction = Transaction("T001", None, john_savings, 1000.0)
withdrawal_transaction = Transaction("T002", jane_checking, None, 200.0)
transfer_transaction = Transaction("T003", john_checking, jane_savings, 300.0)

# Display the details of each transaction
print(deposit_transaction)
print(withdrawal_transaction)
print(transfer_transaction)

# Display transaction history
john_savings.transactions = [deposit_transaction]
jane_checking.transactions = [withdrawal_transaction]
john_checking.transactions = [transfer_transaction]

print("\nTransaction History for John Doe's Savings Account:")
print(get_transaction_history(john_savings))

print("\nTransaction History for Jane Smith's Checking Account:")
print(get_transaction_history(jane_checking))

print("\nTransaction History for John Doe's Checking Account:")
print(get_transaction_history(john_checking))





# # Retrieve and display the balance of all four accounts
    # print(f"John Doe's Savings Account Balance: ${john_savings.balance}")
    # print(f"John Doe's Checking Account Balance: ${john_checking.balance}")
    # print(f"Jane Smith's Savings Account Balance: ${jane_savings.balance}")
    # print(f"Jane Smith's Checking Account Balance: ${jane_checking.balance}")

    # Retrieve and display balances
    print("------------Balances------------")
    print(f"John Doe's Savings Account Balance: ${john_savings.get_balance():.2f}")
    print(f"John Doe's Checking Account Balance: ${john_checking.get_balance():.2f}")
    print(f"Jane Smith's Savings Account Balance: ${jane_savings.get_balance():.2f}")
    print(f"Jane Smith's Checking Account Balance: ${jane_checking.get_balance():.2f}")

    # Retrieve and display the balance of all four accounts
    print("Balance in John Doe's Savings Account $",john_savings.balance)
    print("Balance in John Doe's Checking Account $",john_checking.balance)
    print("Balance in Jane Smith's Savings Account $",jane_savings.balance)
    print("Balance in Jane Smith's Checking Account $",jane_checking.balance)

    # # Create transaction objects
    # deposit_transaction=transaction("T001", None, john_savings, 1000.0)
    # withdrawal_transaction=transaction("T002", jane_checking, None, 200.0)
    # transfer_transaction=transaction("T003", john_checking, jane_savings, 300.0)

    # Create transaction objects
    transactions1= [
    transaction("T001", john_savings, None, 1000),
    transaction("T002", None, jane_checking, 200),
    transaction("T003", john_checking, jane_savings, 300)]


    # # Display the details of each transaction
    # print("Amount Deposited to John Doe's saving Account",deposit_transaction.amount)
    # print("Amount Withdrawn from Jane Smith's checking Account",withdrawal_transaction.amount)
    # print("Amount Transferred",transfer_transaction.amount)

    # # Display transaction history
    # john_savings.transactions = [deposit_transaction]
    # jane_checking.transactions = [withdrawal_transaction]
    # john_checking.transactions = [transfer_transaction]

    # Display transaction details
    print("\nTransaction Details:")
    for transactions in transactions1:
        print(transactions.get_transaction_details())

    # Display transaction history for Jane Smith's Savings Account
    print("\nTransaction History for Jane Smith's Savings Account:")
    jane_savings_history= transactions.get_transaction_history(jane_savings_account)
    for transaction_details in jane_savings_history:
        print(transaction_details)

NameError: name 'account' is not defined

In [1]:
import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 'UTC',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [2]:
from random import random
# produces a float number x coming from the range (0.0, 1.0) - in other words: (0.0 <= x < 1.0)
for i in range(5):
    print(random())

0.6436777235656952
0.6379648767362253
0.05131341377737031
0.28642207211038906
0.313415521260359

In [4]:
from random import random, seed
#seed() - sets the seed with the current time;
#seed(int_value) - sets the seed with the integer value int_value.
seed(0)

for i in range(5):
    print(random())

0.8444218515250481
0.7579544029403025
0.420571580830845
0.25891675029296335
0.5112747213686085

In [ ]:
#Exception
# A break in between an execution aka error
#error:A sceneraio that create the exception
# Types of error
SyntaxError

In [5]:
a='Abhi'
print(int(a))

ValueError: invalid literal for int() with base 10: 'Abhi'

In [6]:
y=0
assert y!=0

AssertionError:

In [7]:
def fib():
    for i in range(1,20):
        for j in range(i-1,20):
            return i/j

In [8]:
fib()

ZeroDivisionError: division by zero

In [9]:
#try:This block contains the lines of code that are suspected  to throw an error
#except:This block will catch the exception that try block block will throw(This is mandatory with the try block)
#Else:This block will execute when the try lock throws an error(handle the error)
#Finally:Excecutes everytime

In [21]:
try:
    for i in range(1,20):
        for j in range(i-1,20):
            print(i/j)
except Exception as e:
    print(e)
    print(sys.exc_info())

division by zero
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x000001E960A9BAC0>)

In [24]:
import sys
try:
    c=10/0
    b=int('Subha')
    
except ValueError:
    print(sys.exc_info())
    print('Cannot convert string to int')
except ZeroDivisionErrorr:
    print(sys.exc_info())
    print('Cannot divide by zero')

NameError: name 'ZeroDivisionErrorr' is not defined

In [26]:
#Exception Catching
# --Exception as e
# --sys.exc_info()
# --by using the error class' name

In [7]:
try:
    a=10
    b=int(input())
    c=a/b
except :
    print('Enter another number')
else:
    print(c)

2.5

In [3]:
def divide(x,y):
    try:
        result=x//y
    except ZeroDivisionError:
        print("Sorry!You are dividing  by zero")
    else:
        print("Yeah!Your answer is :",result)
    finally:
        print("This is always executed")
divide(3,0)

Sorry!You are dividing  by zero
This is always executed

In [5]:
def divide(x,y):
    try:
        result=x//y
    except :
        # raise Exception("Sorry!You are dividing  by zero")
        raise ZeroDivisionError("Sorry!You are dividing  by zero")
    else:
        print("Yeah!Your answer is :",result)
    finally:
        print("This is always executed")
divide(3,0)

This is always executed

ZeroDivisionError: Sorry!You are dividing  by zero

In [8]:
import logging
def divide(x,y):
    try:
        logging.info('try Block statred getting exceuted')
        result=x//y
    except :
        
        # raise Exception("Sorry!You are dividing  by zero")
        raise ZeroDivisionError("Sorry!You are dividing  by zero")
    else:
        print("Yeah!Your answer is :",result)
    finally:
        print("This is always executed")
divide(3,0)

This is always executed

ZeroDivisionError: Sorry!You are dividing  by zero

[1, 1, 1, 2]

In [31]:
try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong...")
except (ValueError, ZeroDivisionError):
    print("Too bad...")
 
print(my_list)

SyntaxError: 'break' outside loop (3647706637.py, line 3)