<a href="https://colab.research.google.com/github/abm4github/My_IITM_works/blob/main/IIT_M_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python for Data Science
##Foundational Course, IIT-M, B.Sc. in Programming and Data Science

This google colab is meant for the students of IIT-M, B.Sc. in Programming and Data Science. It is based on the syllabus of the year 2022.

Disclaimer: This is not an official notes by IIT-M, it is prepared by a student of IIT-M. Therefore the mistakes, if any in this colab are not attributed to IIT-M

##print() Statement

In [ ]:
#Let us see the different ways to use print() statement

#Using ' '
print('1+2=5')

#Using NO quotes
print(1+2)

#Using " "
print("Let's get started")

#Using ''' '''
print('''
Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \\ 
   //          Learn  |    Python       \\ 
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\\ 
 //__.....----~~~~._\ | /_.~~~~----.....__\\
====================\\|//====================
                    `---`''')

1+2=5
3
Let's get started

Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \
   //          Learn  |    Python       \
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\
 //__.....----~~~~._\ | /_.~~~~----.....__\
====================\|//====================
                    `---`

###Observations: print() statement

1. Whatever is typed in between two quotes is printed as it is in the output even if it is illogical. Here, it is printed that the sum of 1 and 2 as 5.

2. Whatever is given print() statement without quotes is calculated/ processed before it ouputs.

3. If we use single quote as a part of out sentence/statement, then double quotes are used at the start and at the end, inside a print() statement.
Example: "Adam's progeny".

4. If we want something to be printed as it is, in multiple lines we can use 3 single quotes both at the start and at the end, inside a print statement.

###Undesirable results: print() statement

In [ ]:
#As we provide NO quotes, it tried to process it, but it already received
# expression, therefore it throws an error note. (syntax)

print(1+2=3)

SyntaxError: ignored

In [ ]:
#It prints as it is without processing/calculating 1+2 as it is provided between quotes (single or double)
print("1+2")

1+2

In [ ]:
#Confused with single and double quotes: It takes 'let' as a sentence and remaining all makes no sense to it
print('Let's get started')

SyntaxError: ignored

In [ ]:
#If triple quotes replaced with double/ single quotes, it cannot print
# multiple lines especially the ones with combination of single and double quotes.
print("   
Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \\ 
   //          Learn  |    Python       \\ 
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\\ 
 //__.....----~~~~._\ | /_.~~~~----.....__\\
====================\\|//====================
                    `---`")

SyntaxError: ignored

In [ ]:
#Case sensitive: Print() != print(), the latter is correct and the former is
# incorrect as it contains P instead of p
Print('Python')

NameError: ignored

###Additional information: print() statement

*  Activity
*  Analyse/understand them on your own

In [ ]:
a = 10
print(a)
print(f'The value of a is {a}')

10
The value of a is 10

In [ ]:
print{"python"}

SyntaxError: ignored

In [ ]:
print["python"]

TypeError: ignored

In [ ]:
print<"python">

SyntaxError: ignored

In [ ]:
#new line character '\n'
print("End of Print() statement\nLet's now learn Input() statement")

End of Print() statement
Let's now learn Input() statement

##Variables and input() statement

In [ ]:
#Assigning a value to a variable directly in the code part.
a = 'z'
print(a)

e = 'Eve'
print(e)

c = '10'
print(c)

A = 10
print(A)

a1 =101
print(a1)

a_point = 100.1
print(a_point)

_space = 'CoSmOs'
print(_space)

z
Eve
10
10
101
100.1
CoSmOs

In [ ]:
# Alternate way of assigning a value to the variable 
# (through input() statement, also called dynamic inputting)
PI = input()
print (PI)

print('\n') #leaves a line space in the output

score = input("Enter your python score: ")
print (score)

3.14
3.14


Enter your python score: 100
100

###Observations: Variable and input() statement
*   We can have variables comprising uppercase and lowercase alphabets, numbers and underscore symbol: _ 
*   We can store various tpyes of values like single character(alphabet or number character), string(group of characters, sentences) and numerical values(integers, float-decimals..).
*   Variable A and variable a are NOT same (variables are case sensitive).
*   We use ' ' or " " to let know python that its a string and for number values no quotes are required unless they are a character.
*   We can take the value of the variable from output using input() statement.
*   input() statement takes values and store them as a string by default.
*   We can add strings inside input() statement.

###Undesirable results: variable and input() statement

In [ ]:
#some words are reserved in pyton that cannot be used as variables
True = 'yes'

SyntaxError: ignored

In [ ]:
#No gaps/blank space is allowed in between the name of a variable
my name = "Abdullah"

SyntaxError: ignored

In [ ]:
#eventhough we can use numbers in variable names, they cannot begin with numbers
'a' = 103

SyntaxError: ignored

In [ ]:
#No quotes are acceptable in variable name
'a1' = 10

SyntaxError: ignored

In [ ]:
#recap c = '10' and A = 100, c is string and A is an integer, they cannot be 
# added as they are of different data types
print(c+A)

TypeError: ignored

In [ ]:
#As PI is assigned a value using input() statement, it stores a string of 3.14
#'3.14' but not as 3.14, therefore we can multiply by an integer but cannot 
# add/concatenate integer to a string

print(PI * 10,"\n")
print(PI + 10)

3.143.143.143.143.143.143.143.143.143.14

TypeError: ignored

In [ ]:
#Variable name is case sensitive, pi != PI 
print(pi)

NameError: ignored

###Additional information: Variables and input() statement

In [ ]:
#input() assigned a string value called Ayyan to n
#therefore n = "Ayyan"
#In print(), we have string,name and string,name,srting, where value stored n name is called. 
# note that the string before name is closed and string, thereafter, is opened using "
name = input()
print("Hi",name)
print("Hello",name,"how are you?")

Ayyaan
Hi Ayyaan
Hello Ayyaan how are you?

In [ ]:
#Genetally input() takes value as a string, we are converting it into an integer
#besides int, we can use float, string ... 
kbc = int(input("Enter the value you have won: "))
print(kbc)
print(kbc*10)  #It will not modify the variable kbc but gives value, ten times the kbc
print(float(kbc))  #It will not modify the variable kbc

Enter the value you have won: 10000000
10000000
100000000
10000000.0

In [ ]:
#We can modify value in input() by extending it with the methods .lower()
# and .upper() to obtain lowercase and uppercase values respectively.
# we have other methods like .capitalize() to capitalize initial letter alone 
first_name = input("Enter your first name: ").upper()
last_name = input("Enter your first name: ").lower()

print('\nMy first name is' ,first_name, f'and the last name is {last_name}')
#Observe the different ways of calling the variables first_name and last_name

Enter your first name: abduLLAH
Enter your first name: Bin MOHAMMED

My first name is ABDULLAH and the last name is bin mohammed

In [ ]:
#We cannot have multiple values/literals assigned to a variable, rather 
#varaible stores the final literal provided to it.
unhealthy_drinks = 'Pepsi'
unhealthy_drinks = 'coca cola'
print(unhealthy_drinks)

coca cola

##Data Types
Variables can store data of different types, and different types can do different things.


* Text Type:	    str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

We can check data type of a variable or a value using type()

In [ ]:
print(type('python'))

<class 'str'>

In [ ]:
print(type(3))

<class 'int'>

In [ ]:
print(type(3.0))

<class 'float'>

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
list1 = ['a','A',5]
print(type(list1))

<class 'list'>

In [ ]:
dict_1 = {'a':'Apple', 'b':'Bat'}
print(type(dict_1))

<class 'dict'>

In [ ]:
#data type of value stored in a variable using input() statement is string (str)
clock_time = input("Enter the time that you usually see on outer cover of clocks: ")
print(type(clock_time))

Enter the time that you usually see on outer cover of clocks: 10:10
<class 'str'>

we can convert data type with/ without the modification of data type of a variable

In [ ]:
# variable PI store string value '3.14, is printed as a float (decimal) value
print(type(float(PI)))  #It is only converting but not modifying the variable PI

<class 'float'>

In [ ]:
#multiple data type conversion
print(type(int(float(PI))))  #string is converted into float then into an integer, only inside a print statement

<class 'int'>

In [ ]:
print(type(PI))  #It is yet a string as we stored its value using input()statement, therefore it is not modified

<class 'str'>

Different data types can do differnt things and have certain limitations

In [ ]:
#We can add/concatenate two strings using +
F_name =  input("Enter your first name: ")
L_name = input("Enter your second name: ")
print(F_name + " " + L_name)

Enter your first name: Ayman
The data type of Ayman  is <class 'str'> data type

Enter your second name: Nusayba
The data type of Nusayba  is <class 'str'> data type

Ayman Nusayba

In [ ]:
#float value can be converted into integer data type as follows
PI_floor = int(3.14)
print(PI_floor)

3

In [ ]:
#The boolean value of all the numbers and strings is 1 except the number 0 and empty string
print(bool(''))
print(bool(0))
print(bool('0'))  #its not 0 rather a non-empty string
print(bool('abc'))
print(bool(123))
print(bool(-123))

False
False
True
True
True
True

In [ ]:
print(float('3'))

3.0

In [ ]:
#integer and float data tpye can have following operations
m = 16.0
n = 5
print(m+n)
print(m-n)
print(m*n)
print(m/n)

21.0
11.0
80.0
3.2

###Observations: Data types

*  We use type() to know the data type of a variable or literal.
*  We can change a value from one data type to another if they are compatible.
*  The operations that we can apply are based on data type. e.g. we can add two strings but cannot multiply them.
*  We can compare two boolean values but cannot perform mathematical operations
*  We can perform mathematical operations on integers, float and their combination.

###Undesirable results: data types

In [ ]:
#limitation in conversion of a string into a float
#We cannot directly convert a string that has a value resembling float into an integer
PI_Floor = int(PI)

ValueError: ignored

In [ ]:
#limitation in conversion of a string into an int
#We cannot directly convert a string that has a value resembling float into an integer as it involves some computation
print(int('3.14'))

ValueError: ignored

In [ ]:
#limitation in conversion of a string into a float
#the string possess 1.41 which is a float but cannot be obtained through float
print(float('2**(1/2)'))

ValueError: ignored

In [ ]:
print(float('2**1'))

In [ ]:
#We can only add and compare two strings but cannot do other operations like *, / ...
print(F_name * L_name)

TypeError: ignored

###Additional Information: data tytpes

In [ ]:
#Modify and Assign/store
dict_2 = dict(name = 'Adam', age = 1000)  #here two variables holding different value is converted into a dictionary and stored in dict_2 
print(type(dict_2))

<class 'dict'>

In [ ]:
dict(name="John", age=36)  #only modified into dictionary but not stored in any variable

{'age': 36, 'name': 'John'}

In [ ]:
set(("apple", "banana", "cherry"))  #only modified into a set but not stored in any variable

{'apple', 'banana', 'cherry'}

In [ ]:
X = bool('ABM')  #modified string into its boolean value and stored in variable X
print(X)
print(type(X))

True
<class 'bool'>

##Operations

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

We will learn most of these as course progress, but to begin with we address a few of them

In [ ]:
# Arithmetic operators
print("Arithmetic operations on 20 and 3\n")
print('addition:',20 + 3)
print('substraction:',20 - 3)
print('multiplication:',20 * 3)
print('division:',20 / 3)
print('floor division:',20 // 3)  #gives floor value of quotient
print('modulus:',20 % 3)  #gives remainder on division of 20 by 3
print('exponentiation:',20 ** 3)  #gives the 20 raised to power 3

Arithmetic operations on 20 and 3

addition: 23
substraction: 17
multiplication: 60
division: 6.666666666666667
floor division: 6
modulus: 2
exponentiation: 8000

In [ ]:
# Python comparison operators
print(20 == 3)	 #Equal	x == y	
print(20 != 3)	 #Not equal	x != y	
print(20 > 3) 	 #Greater than	x > y	
print(20 <	3)   #Less than	x < y	
print(20 >= 3)	 #Greater than or equal to	x >= y	
print(20 <= 3)   #Lesser  than or equal to

False
True
True
False
True
False

In [ ]:
#Logical operators
print(True and True)   # and: Both needs to be true
print(True and False)  # and: Both needs to be true
print(True or True)    # or: either one or both needs to be true
print(True or False)   # or: either one or both needs to be true
print(not(True))       # It negates the boolean value
print(not(False))       # It negates the boolean value

True
False
True
True
False
True

##Strings

comparing strings

In [ ]:
#we are creating variable that are holding values of string data type
string_a1 = "a"
string_a2 = 'A'
string_2 = 'bcdefghi'

In [ ]:
string_a1 + string_2  #we can add strings

'acdefghi'

In [ ]:
string_a1 * 4  #we can multiply string with an integer

'aaaa'

In [ ]:
string_a1 < string_2  #we can compare the strings

True

In [ ]:
string_a1 == string_a2

False

In [ ]:
string_a1 > string_a2  #the comparision is not based on length of the string, rather on its occurance

True

slicing strings

In [ ]:
print(string_2)
print(string_2[0])
print(string_2[1])
print(string_2[-1])
print(string_2[0:3])

cdefghi
c
d
i
cde

###undesirable results: Strings

In [ ]:
string_a1 * 4.2  #we can multiply string with an integer

TypeError: ignored

In [ ]:
print(string_2[20]) #we cannot give a positive number exceeding "one less than its length"

IndexError: ignored

##Its end of week 1 content, Thank you.