In [1]:
#Mathematical operations with strings
print('Hello' * 2)

print('Hello' + 3)

HelloHello

TypeError: can only concatenate str (not "int") to str

In [2]:
#String literals
var = 'world'

print(f'Hello, var!')

Hello, var!

In [3]:
#String methods
my_string = 'My name is Adam.'

lower(my_string)

NameError: name 'lower' is not defined

In [4]:
#List comprehensions
my_list = [i in range(10)]

NameError: name 'i' is not defined

In [5]:
#Indexing
my_list = [1, 2, 3, 4, 5]

my_list[5]

IndexError: list index out of range

In [6]:
#Tuples
my_tuple = (True, 1, 'four')

my_tuple[0] = False

TypeError: 'tuple' object does not support item assignment

In [7]:
#Dictionaries
my_dictionary = {'name'='Adam', 'hobby'='tennis'}

SyntaxError: invalid syntax (1824221688.py, line 2)

In [8]:
#If/elif/else
my_grade = 83

if my_grade > 90
    print('A')
else:
    print('Not A')

SyntaxError: invalid syntax (2917451518.py, line 4)

In [9]:
#For loop
for i in 5:
    print(i)

TypeError: 'int' object is not iterable

In [10]:
#Nested logic
for i in my_list:
if i % 2 == 0:
    print('Even')
else:
    print('Odd')
print()

IndentationError: expected an indented block (2616432842.py, line 3)

Don't run the following cell.

In [ ]:
#While loop
my_num = 0

while my_num < 5:
    print(my_num)

In [11]:
my_num = 0

while my_num < 100:
    break
    print(my_num)
    my_num += 1

In [12]:
my_num = 0

while my_num < 100:
    my_num += 1
    if my_num % 10 == 0:
        continue
        print(f'{my_num} is a multiple of 10.')
    else:
        continue

In [13]:
#FUNctions
my_num = 5

def add_one():
    
    return my_num + 1

add_one()

6

In [14]:
my_num = 5

def add_two(x):
    
    return my_num + 2

add_two(my_num)

7

In [15]:
my_num = 4

def times_two(x):
    
    double = x * 2
    
    return double

times_two(my_num)

8

In [16]:
double

NameError: name 'double' is not defined

In [17]:
double = times_two(my_num)
double

8