# Values and Expressions

In [1]:
# Comments in Python start with the hash character - # , and extend to the end of the line
# This is a new comment

4 + 2 * 3 # Check the order of operations

10

In [2]:
(4 + 2) * 3 # Check the order of operations

18

iPython notebook shows only the last statement in each cell. To see all items in a cell, we may use the `print` **function**:

In [3]:
print(4 + 2 * 3)
print((4 + 2) * 3)

10
18

In [4]:
# Some more examples of operations
print(15 / 3)     # int / int -> float
print(20 % 3)     # gives the remainder
print(20 // 3)    # floor division - > gives the truncated quotient
print(20 // 3.0)  # return float if one of the values is float 
print(3 ** 5)     # 3 to the power of 5

5.0
2
6
6.0
243

We can split a line (if it is too long) either by enclosing the expression in brackets or by adding a \ at the end

In [7]:
9 * (8 + 6 * 5) + 7 / 3 ** 2 - 1

341.77777777777777

In [8]:
(9 * (8 + 6 * 5)    # use brackets
          + 7 / 3 ** 2 - 1)

341.77777777777777

In [9]:
9 * (8 + 6 * 5) \
      + 7 / 3 ** 2 - 1     # use backslash

341.77777777777777

Variables

In [10]:
# Assigning values to variables using using a '='
a = 50
b = 5.5
c = 3/10

Self assignment is a common operation so there is a shorthand notation:

- `a=a+b` <----> `a+=b`
- `a=a-b` <----> `a-=b`
- `a=a*b` <----> `a*=b`
- `a=a/b` <----> `a/=b`

In [11]:
# a = a+b is the same as a +=b
a = 50
a = a+b
print(a)

a = 50
a += b
print(a)

55.5
55.5

Similarly a = a - b is the same as a -= b, a = a\*b is the same as a\*=b, a = a/b is the same as a/=b

## In-built functions

In [19]:
abs(-5.0) # gives absolute value

5.0

### Importing modules

In [13]:
import math          # importing the math module
math.factorial(6)    # using the factorial function

720

In [14]:
import numpy as np # importing numpy with np as the alias, which we can use later
np.random.random() # using np to generate a random number

0.4090633846028262

In [15]:
from math import *  # this imports all contents of module
factorial(6)        # no module name

720

## Functions

In [20]:
# Define a function using 'def' followed by a function name
#In the brackets you can specify the input variable/argument. e.g. here we have one input which we have named x

def double(x):
    return 2*x # the lines in the function have to be indented

In [21]:
double(2)

4

We can also use lambda functions

In [22]:
Double = lambda x: 2*x # we write lambda followed by the argument, and then specify what the function should do
Double(2)

4

In [23]:
# defining a function to add squares of two arguments
def add_squares(x, y):
    return (x**2 + y**2)

# Using lambda notation to do the same thing
Add_squares = lambda x, y: (x**2 + y**2)

In [24]:
print(add_squares(3,4))
print(Add_squares(3,4))

25
25

**Exercise 1**

- Define a function that calculates the area of a circle, taking the radius as the input. Define it with both **def** and **lambda**, calling them area and Area, respectively.
 
- Calculate the area of a circle with radius 7 using both functions.

In [25]:
#### Write your code here
import math
def area(r):

IndentationError: expected an indented block (2868126373.py, line 4)

In [26]:
#### Write your code here
Area = lambda r:

SyntaxError: invalid syntax (2581335930.py, line 2)

- Lists allow us to store multiple items in a single variable. List items are ordered, changeable, and allow duplicate values. 
- Examples:  `[a, b, c],  [5, 2, 3, 4],  [7.5, 9.0, 2]`
- Strings are sequences of characters. Examples:  `'This is an example of a string'`

In [27]:
numbers = [1,5, 6, 8, 11, 15]
letters = ['a','b','c','d']
numbers + letters # add two lists

[1, 5, 6, 8, 11, 15, 'a', 'b', 'c', 'd']

The `len()` function gives the length of a list (number of items in the list):

In [28]:
print(len(numbers))
print(len(letters))
print(len(numbers + letters))

6
4
10

The `range` function gives an object representing a list of integers.  To get the list we can cast the range object to a list as follows:

In [29]:
print(range(5))
print(list(range(5)))
print(list(range(0, 10)))
print(list(range(0, 10, 1))) # specified increment by 1 in the third argument
print(list(range(0, 10, 2))) # specified increment by 2 in the third argument
print(list(range(10, 1, -1))) # gives descending by the use of -1

range(0, 5)
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

Other operations on lists

In [30]:
print(sum(numbers))
print(max(letters))

46
d

In [31]:
sorted([7, 1, 4, 3, 2]) # sort a list

[1, 2, 3, 4, 7]

In [32]:
words=['Abc','abc','random','aaaa','ice-cream']
sorted(words)

['Abc', 'aaaa', 'abc', 'ice-cream', 'random']

In [33]:
sorted(words, reverse=True)

['random', 'ice-cream', 'abc', 'aaaa', 'Abc']

In [34]:
sorted(words, key=len) # sorts by length of the word

['Abc', 'abc', 'aaaa', 'random', 'ice-cream']

In [35]:
words

['Abc', 'abc', 'random', 'aaaa', 'ice-cream']

Using indices in lists to access the items

In [36]:
print(numbers[3])
print(numbers[-1])
print(numbers[6])   # What happens here?

8
15

IndexError: list index out of range

In [37]:
print(numbers)
print(numbers[1:3]) # starts at second and ends at third item = index of 2 (indices start from 0)
print(numbers[2:]) # starts at 2nd index (third item) and goes till the end
print(numbers[:3]) # starts at the beginning and ends at 2nd index

[1, 5, 6, 8, 11, 15]
[5, 6]
[6, 8, 11, 15]
[1, 5, 6]

In [38]:
print(letters[1:])
print(letters[1::2])
print(numbers[::-1])
print((letters+numbers)[-1::-1])
print(numbers[1:50]) # Will we get an error here?

['b', 'c', 'd']
['b', 'd']
[15, 11, 8, 6, 5, 1]
[15, 11, 8, 6, 5, 1, 'd', 'c', 'b', 'a']
[5, 6, 8, 11, 15]

In [39]:
print(numbers)
print(numbers[::2])
print(numbers[1:5:2])

[1, 5, 6, 8, 11, 15]
[1, 6, 11]
[5, 8]

To return the index of a value within a list, we can use `list.index()` and as the input pass the value we want to search.

In [40]:
numbers.index(6)

2

Iterators

In [41]:
m = [3,4,5,6]
m_iter = iter(m)
m_iter

Run the following cell until an error is returned.

In [42]:
next(m_iter)

3

Using the `list` function will return the remaining elements of the iterable as list.

In [43]:
x = [3,4,5,6]
x_iter = iter(x)
print(next(x_iter))
list(x_iter)

3

[4, 5, 6]

Examples of functions with lists

In [44]:
def return_first_element(input_list):
    return input_list[0]

return_first_element_lambda = lambda input_list: input_list[0]

print(return_first_element(numbers))
print(return_first_element_lambda(numbers))

1
1

**Exercise 2** 

- Define the following function with both def and lambda: A function that returns the sum of the alternate elements of a list starting from the first.

```
example_func([1, 2, 3, 4, 5, 6]) ---> 9

```

In [45]:
#### Your code here - def

In [46]:
#### Your code here - lambda

Lists within lists

In [47]:
x = [[], 2, ['xy', 'dg'], [1, 2, 3, 4, 5],[2,3]] # This list has 5 items - an empty list, 2, list containing xy and dg, and two more lists with numbers/integers
len(x)

5

In [48]:
y = [['a', 'b', 'c'], 2]
print(len(y))

2

In [49]:
x[2] #accessing the item in index = 2 (third item)

['xy', 'dg']

In [50]:
x[2][0] #access first item of the third item in the list x (Third item is [xy, dg])

'xy'

In [51]:
x + y # merging two lists

[[], 2, ['xy', 'dg'], [1, 2, 3, 4, 5], [2, 3], ['a', 'b', 'c'], 2]

# Functional Operators

`map`

- Helps to apply a function to all elements of a list.
- The `map` function returns a map object, which is an **iterator**.  To get the list we can use the `list` function.

In [52]:
math.sqrt([25,36,49,64]) # Will this work?

TypeError: must be real number, not list

In [53]:
list_numbers = [25,36,49,64]
map(math.sqrt, list_numbers) # will return iterator

In [54]:
list(map(math.sqrt, list_numbers)) # will return the result of the applying the function to each element of the list

[5.0, 6.0, 7.0, 8.0]

You can apply any one-argument function, as long as the values in the list are of the type that function expects.

In [55]:
list1 = [[], ["b", "a"], [1, 2, 3, 4, 5]]
m = list(map(len, list1)) #len applied to each item in list1
print(m)

[0, 2, 5]

In [56]:
# Let's use the double function on each item of the list called numbers
list(map(double, numbers))

[2, 10, 12, 16, 22, 30]

**Exercise 3**

- Write a function to cube every element of a numeric list.
```
cube_func([1, 2, 3]) ---> [1, 8, 27]
```
- Write a function that returns the second element of every list in a nested list.
```
get_second_item([[3, 2, 4, 5], [2, 3, 4], [1, 6, 5, 9]]) ---> [2, 3, 6]
```
- Write a function that finds the total length of the lists in a nested list.
```
find_length([[1, 2, 3, 6], [2, 4, 5], [1, 6, 7, 8]]) ---> 11
```

In [57]:
#### Your code here with def

#1

In [58]:
#### Your code here with lambda

In [59]:
#### Your code here with def

#2

In [60]:
#### Your code here with lambda

In [61]:
#### Your code here with def 

#3

In [62]:
#### Your code here with lambda

## Boolean Functions

In [63]:
#or
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [64]:
#and
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [65]:
not True

False

In [66]:
True == 1

True

In [67]:
False == 0

True

In [68]:
a = b = [1,2,3]
c = [1,2,3]

In [69]:
print(a == b)
print(a == c)

True
True

In [70]:
# The is operator is different from ==
print(a is b)
print(a is c)

True
False

In [71]:
x = 6
print(x > 3 and x < 8)

True

In [72]:
print(x != -2 or x >= 10)

True

In [73]:
# Test whether a list is empty
def is_empty_list(input_list):
    return input_list == []

is_empty_list_lambda = lambda input_list: input_list == []

In [74]:
print(is_empty_list(numbers))
print(is_empty_list_lambda(numbers))
print(is_empty_list_lambda([]))

False
False
True

### `filter`

Filter extracts elements of a list satisfying some condition. The condition is given in the form of a boolean function.

The `filter` function also returns an iterator object. We can Use `list` to get the output list.

In [75]:
def not_zero(x):
    return x != 0

In [76]:
print(not_zero(1))
print(not_zero(0))

True
False

In [77]:
# Get a list of all the non-zero elements of a list
filter(not_zero, [3, 2, 0, -3, 0, -5])

In [78]:
list(filter(not_zero, [3, 2, 0, -3, 0, -5]))

[3, 2, -3, -5]

In [79]:
# Return all the non-empty lists from a nested list
def list_is_not_empty(input_list):
    return input_list != []

In [80]:
list(filter(list_is_not_empty, [[], [3, 2, 1, 4], [], [4, 5, 6], [],[[]]]))

[[3, 2, 1, 4], [4, 5, 6], [[]]]

In [81]:
list(map(return_first_element, filter(list_is_not_empty, list1)))

['b', 1]

In [82]:
list1

[[], ['b', 'a'], [1, 2, 3, 4, 5]]

**Exercise 4**

- Write a boolean function that tests whether the first two elements of a list are in increasing order.
```
func([3, 5, 4, 9]) ---> True
func([2, 2, 5, 0]) ---> False
```

- Write a function that selects from a nested list only those lists that satisfy the condition above in func:
```
func_list([[3, 5, 4, 9], [5, 5], [2, 3, 4, 5]]) 
    ---> [[3, 5, 4, 9], [2, 3, 4, 5]]
```

In [83]:
#### Your code here def and lambda

#1

In [84]:
#### Your code here def and lambda

#2

Some more examples

In [85]:
list(map(lambda x, y: x+y, [1,2,3,4], [10,20,30,40])) # [1+10, 2+20, 3+30, 4+40]

[11, 22, 33, 44]

In [86]:
list(map(lambda x, y: x[y], [[1, 2], [2, 3]], [0, 1])) # [[1, 2][0], [2, 3][1]]

[1, 3]

`zip` is a binary function that takes two lists and makes one list containing pairs of corresponding elements of the two lists.

In [87]:
a = [1, 2, 3, 4]
b = [10, 11, 12, 13]
list(zip(a, b))

[(1, 10), (2, 11), (3, 12), (4, 13)]

In [88]:
a = [1, 2, 3, 4]
b = [10, 11, 12]
list(zip(a, b))

[(1, 10), (2, 11), (3, 12)]

In [89]:
list(map(lambda p: p[0]+p[1], zip(a, b)))

[11, 13, 15]

In [90]:
a = [1, 2, 3]
b = [5, 6, 7]
c = [9, 10, 11]
list(zip(a, b, c))

[(1, 5, 9), (2, 6, 10), (3, 7, 11)]

In [91]:
list(map(lambda t: t[0]+t[1]+t[2], zip(a,b,c)))

[15, 18, 21]

In [92]:
list(map(lambda x, y, z: x+y+z, a, b, c))

[15, 18, 21]


# String operations

In [93]:
s1 = 'Hello world!'
s1

'Hello world!'

In [94]:
s2 = "Hello world!"
s2

'Hello world!'

Within a string, special symbols can be included by using escape character `(\)`. Examples are `\t` for tab and `\n` for newline.

In [95]:
print('this', 'is', 'a', 'tab', sep='\t')
print('that', 'is', 'a', 'newline', sep='\n')

this	is	a	tab
that
is
a
newline

Note that we can enclose double quotes by single quotes. But the single quotes included in a string need to be modified with escaped chatacter

In [96]:
sent = '"Isn't that," she said.'

SyntaxError: invalid syntax (3201398953.py, line 1)

The `print()` function produces a more readable output by omitting enclosing quotes as well as escaped characters and special symbols:

In [97]:
sent = '"Isn\'t that," she said.'
print(sent)

"Isn't that," she said.

If you don't want the characters prefaced by `\ ` to be interpreted as special characters, you can use raw strings by adding an `r` before the first quote:

In [98]:
print('C:\some\name')

C:\some
ame

In [99]:
len('C:\some\name')

11

Above, `\n` is interpreted as one special character. To avoid that, add `r` in front of the first quote, then `\n` become two chatacters.

In [100]:
print(r'C:\some\name')

C:\some\name

In [101]:
len(r'C:\some\name')

12

A string is normally coded in one line, but it can also be broken into multiple lines of code by adding `\ ` in the very last position of each line.

In [102]:
longquote = 'This is an example line \
that is broken into two lines'

print(longquote)

This is an example line that is broken into two lines

In [103]:
longquote = '''This is a particularly long line
that is broken into two lines'''

print(longquote)

This is a particularly long line
that is broken into two lines

Multiline quotes are often used to describe functions

In [104]:
def double(x):
    '''
    This function takes a numeric number as input and returns its double
    Parameters:
    ----------
    x: numeric numbers
    
    Returns:
    -------
    2*x
    '''
    return 2*x

In [105]:
double(2)

4

Strings are similar to lists when it comes to subscripts and slices. We can subscipt and slice, as well as use `+` to concatenate strings.
Empty space does count as a character.

In [106]:
s = 'Superman is flying'
s[1]

'u'

In [107]:
s[3:6]

'erm'

In [108]:
s + ' and so am I.'

'Superman is flying and so am I.'

Convert a string to a list of single-character strings using the function `list()`:

In [109]:
list('Superman')

['S', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [110]:
x = ['S', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

The join function

In [111]:
"".join(x)

'Superman'

In [112]:
'.'.join(x)

'S.u.p.e.r.m.a.n'

**`strip`** removes "whitespace" (spaces, tab, newlines,..., etc) from the beginning and the end f a string. Note the usage of object-oriented syntax:

In [113]:
s = '    Superman is flying    '
s.strip()

'Superman is flying'

**`split`** splits a string into a list of strings on the delimeter. By default, the delimeter consists of spaces, tabs `(\t)`, and newlines `(\n)`, but the delimeter can be given as an argument.

In [114]:
s = 'Superman is flying'
s.split()

['Superman', 'is', 'flying']

In [115]:
s1 = 'Superman,is,flying'
s1.split(',')

['Superman', 'is', 'flying']

**`join`**

In [116]:
l = ['Superman,is,flying']
' '.join(l)

'Superman,is,flying'

In [117]:
', '.join(l)

'Superman,is,flying'

**`replace`** returns a string with all occurences of one string replaced by another. For example:

In [118]:
s = 'Superman is flying, and he is learning Python'
s.replace('is','was')

'Superman was flying, and he was learning Python'

In [119]:
s.replace('is', 'was', 1) # replaces only the first occurence

'Superman was flying, and he is learning Python'

**`find`** returns the lowest index in string `s` where the substring is found. It returns -1 if no match found.

In [120]:
s = 'Superman is flying'
s.find('is')

9

In [121]:
s.find('Superman')

0

If we want to find the substring within a range:

In [122]:
s.find('a')

6

In [123]:
s.find('a', 10)

-1

**Print statements**

In [124]:
print("hello, %f!" % 2017) # prints float
print("hello, %d!" % 2017) # prints integer
print("hello, %.2f!" % 2017.1314) # prints till specified decimal places

hello, 2017.000000!
hello, 2017!
hello, 2017.13!

In [125]:
print('My name is %s and I am %d years old' % ('Mickey', 20))

My name is Mickey and I am 20 years old

In [126]:
print('My name is {0} and I am {1} years old'.format('Mickey', 25))

My name is Mickey and I am 25 years old

In [127]:
print('My name is {name} and I am {age} years old'.format(name='Mike', age=25))

My name is Mike and I am 25 years old

In [128]:
str(5.0) #casting float as string

'5.0'

In [129]:
list2 = [" abc  \n", " def", "ghi   "]
list(map(lambda s: s.strip(), list2))

['abc', 'def', 'ghi']

Here is a way to remove the strings that contain the word No:

In [130]:
# Return true if s does *not* contain 'No'
def has_no_no(s):
    return s.find('No') == -1

L = ['No rain', 'Some snow', 'No sleet']
list(filter(has_no_no, L))

['Some snow']

Case conversions:

In [131]:
'ABcd'.lower()      # convert to lowercase

'abcd'

In [132]:
'ABcd'.upper()      # convert to uppercase

'ABCD'

In [133]:
'ABcd'.swapcase()   # swap case

'abCD'

In [134]:
'aBCd abcD'.title()   # make first letters uppercase

'Abcd Abcd'

**Exercise 5**

- Write a function to find the lowest index of string `t` in each word in `s`:
```
s = 'today is a nice day'
find_char(s, 'i') ---> [-1, 0, -1, 1, -1]
```
You need to first split the string `s` and then map the `find` function.


- Use `filter` to find the strings in a list that do contain No.
```
L = ['No rain', 'Some snow', 'No sleet']
filter(has_no, L) ---> ['No rain', 'No sleet']
```

In [135]:
#### Your code here

<p><a name="sol"></a></p>
## Solutions

**Exercise 1**

In [136]:
import math
def area(r):
    return math.pi * r**2

Area = lambda r: math.pi * r**2

In [137]:
print(area(7))
print(Area(7))

153.93804002589985
153.93804002589985

**Exercise 2**

In [138]:
def sum2(L):
    return L[0] + L[1]

Sum2 = lambda L: L[0] + L[1]

def double_lis(L):
    return L + L

Double_lis = lambda L: L + L

In [139]:
print(sum2([1,2,3]))
print(double_lis([1,2,3]))

3
[1, 2, 3, 1, 2, 3]

**Exercise 3**

In [140]:
#1
def cube(x):
    return x**3
def cube_all(L):
    return list(map(cube, L))
cube_all_lambda = lambda L: list(map(cube, L))

#2
snd = lambda x: x[1]
def get_second(L):
    return list(map(snd, L))
Get_second = lambda L: list(map(snd, L))

#3
def tot_length(L):
    return sum(map(len, L))
Tot_length = lambda L: sum(map(len, L))

In [141]:
print(cube_all([1,2,3]))
print(get_second([[1,2,3],[2,3,4]]))

[1, 8, 27]
[2, 3]

**Exercise 4**

In [142]:
#1
def increasing(L):
    return L[0] < L[1]
increasing_lambda = lambda L: L[0] < L[1]

#2
def increasing_lists(L):
    return filter(increasing, L)
Increasing_lists = lambda L:  list(filter(increasing, L))

**Exercise 5**

In [143]:
# 1
def find_char(s, t):
    return list(map(lambda s: s.find(t), s.split()))

s = 'today is a nice day'
find_char(s, 'i')

# 2
has_no = lambda s: s.find('No') != -1
list(filter(has_no, L))

['No rain', 'No sleet']

In [144]:
s = 'today is a nice day'
find_char(s, 'i')

[-1, 0, -1, 1, -1]