# **AKSHIT SHARMA**
# **211435**
# **CS-34**
# **PYTHON PROGRAMMING ESSENTIALS LAB**

# **LAB 1 - 22/07/2022**

In [ ]:
print("Hello World")

Hello World

In [ ]:
a=10.12
str = "Äkshit"
print (type (str))
b=220
c=a+b #add two values
print(a, "+", b, "---> ", c)

<class 'str'>
10.12 + 220 --->  230.12

In [ ]:
a = "Akshit"
b = " Sharma"
c = a + b #conactenate two strings
print(a, "+", b, "---> ", c)

Akshit +  Sharma --->  Akshit Sharma

Assignment - WAP to add three numbers and print results.

In [ ]:
a = 14
b = 15.36
c = 75
d = a + b + c #adding three values
print(a, "+", b, "+", c, "--> ", d)

14 + 15.36 + 75 -->  104.36

Assignment - WAP to concatenate three strings and print result

In [ ]:
a = "WAP to concatenate"
b = " three strings"
c = " and print result."
d = a + b + c
print(a, "+", b, "+", c, "--> ", d)

WAP to concatenate +  three strings +  and print result. -->  WAP to concatenate three strings and print result.

In [ ]:
#Input from user and how to take input as integer.
a = int(input("Enter first number : "))
print("The datatype of the above input : ", type(a))
b = int(input("Enter second number : "))
print("The datatype of the above input : ", type(b))
c = a + b
print(a, "+", b, "---> ", c)
print("The datatype of the output : ", type(c))

Enter first number : 52
The datatype of the above input :  <class 'int'>
Enter second number : 12
The datatype of the above input :  <class 'int'>
52 + 12 --->  64
The datatype of the output :  <class 'int'>

In [ ]:
#Same program without explicit typecasting
a = (input("Enter first number : "))
print("The datatype of the above input : ", type(a))
b = (input("Enter second number : "))
print("The datatype of the above input : ", type(b))
c = a + b
print(a, "+", b, "---> ", c)
print("The datatype of the output : ", type(c))

Enter first number : 52
The datatype of the above input :  <class 'str'>
Enter second number : 12
The datatype of the above input :  <class 'str'>
52 + 12 --->  5212
The datatype of the output :  <class 'str'>

In [ ]:
#Input two strings and concatenate them
a = (input("Enter first string : "))
print("The datatype of the above input : ", type(a))
b = (input("Enter second string : "))
print("The datatype of the above input : ", type(b))
c = a + b
print(a, "+", b, "---> ", c)
print("The datatype of the output : ", type(c))

Enter first string : Akshit
The datatype of the above input :  <class 'str'>
Enter second string :  Sharma
The datatype of the above input :  <class 'str'>
Akshit +  Sharma --->  Akshit Sharma
The datatype of the output :  <class 'str'>

Assignment: WAP to add three numbers, input from user and print result

In [ ]:
#Input from user and add three numbers
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
c = int(input("Enter third number : "))
d = a + b + c
print(a, "+", b, "+", c, "---> ", d)

Enter first number : 86
Enter second number : 54
Enter third number : 12
86 + 54 + 12 --->  152

Assignment: WAP to concatenate three strings

In [ ]:
#Input from user and concatenate three strings
a = (input("Enter first string : "))
b = (input("Enter second string : "))
c = (input("Enter third string : "))
d = a + b + c
print(a, "+", b, "+", c, "---> ", d)

Enter first string : WAP to
Enter second string :  concatenate
Enter third string :  three strings
WAP to +  concatenate +  three strings --->  WAP to concatenate three strings

In [ ]:
#while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop
i=1
while i<=10:
  print(i, end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#range function
print("range(10) ---> ", list(range(10)))
print("range(0,20) ---> ", list(range(0,20)))
print("range(10,20) ---> ", list(range(10,20)))
print("range(0,20,2) ---> ", list(range(0,20,2)))
print("range(-18,-28,2) ---> ", list(range(-18,-28,2)))
print("range(-10,28,-2) ---> ", list(range(10,-28,-2)))

range(10) --->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0,20) --->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(10,20) --->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) --->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-18,-28,2) --->  []
range(-10,28,-2) --->  [10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20, -22, -24, -26]

In [ ]:
#for loop
for i in range(0,10):
  print (i)

0
1
2
3
4
5
6
7
8
9

Assignment: WAP for a simple calculator

In [ ]:
#simple calculator
print ("For addition press 1, For subtraction press 2, For divison press 3, For multiplication press 4.")
a = int(input("Enter your choice : "))
num1 = int(input("Enter the first operand :"))
num2 = int(input("Enter the second operand :"))

if a == 1:
  print(num1, "+", num2, " = ", num1+num2)

if a == 2:
  print(num1, "-", num2, " = ", num1-num2)

if a == 3:
  print(num1, "/", num2, " = ", num1/num2)

if a == 4:
  print(num1, "*", num2, " = ", num1*num2)

For addition press 1, For subtraction press 2, For divison press 3, For multiplication press 4.
Enter your choice : 4
Enter the first operand :96
Enter the second operand :024
96 * 24  =  2304

# **LAB 2 - 25/07/2022**

## Executing a collab sheet given in the classroom.

### Part - 01 : print()

In [ ]:
#hello world
print("Hello! Welcome to the course")

Hello! Welcome to the course

In [ ]:
#comments in python

# print("Hello World!")
print("hello Universe!")

hello Universe!

In [ ]:
#multiline comments

'''
print("This")
print("is")
print("how we give multi-line comment")
5 + 3
I am here
'''
print('This line')

This line

In [ ]:
#indentation in python

print("abcd")
  print("efgh")

#blank spaces have a meaning in python.

IndentationError: ignored

In [ ]:
#without indentation

print("abcd")
print("efgh")

abcd
efgh

In [ ]:
# printing more 2 more more strings
# print('This is a message I want to print')
print('This', 'is', 'a', 'course', "on", 'python')

This is a course on python

In [ ]:
#using seperator

print('This', 'is', 'a', 'course', 'on', 'python', sep=' ')

print('This', 'is', "a", 'course', 'on', 'python', sep='**')

This is a course on python
This**is**a**course**on**python

In [ ]:
#using end parameter

print('This is a course on python', end='\n') # it defaults to '\n'
print('Another message')
print('\n')

print('This is a course on python', end='---------') # it defaults to '\n'
print('Another message')
print('\n')


print('This is a course on python', end='\n\n')
print('Another message')
print('\n')


print('This is a course on python', end='     ')
print('Another message')
print('\n')

This is a course on python
Another message


This is a course on python---------Another message


This is a course on python

Another message


This is a course on python     Another message

In [ ]:
#printing string with quotes

print('It's a beautiful day')

SyntaxError: ignored

In [ ]:
# printing string with quotes (correct ways)

print("It's a beautiful day")
print("It is called 'programming'")
print('It is called "programming"')
print('\n')
# print "It is called 'programming'"
print('''"It is called 'programming'"''')

It's a beautiful day
It is called 'programming'
It is called "programming"


"It is called 'programming'"

### Part 02 - escape characters

In [ ]:
# single quote
print('It\'s a beautiful day..')
print('\n')

# new line
print('Line 1 ends here\nLine 2 starts here...')
print('\n')

# tab
print('Phrase 1 ends here\tPhrase 2 starts here...')

It's a beautiful day..


Line 1 ends here
Line 2 starts here...


Phrase 1 ends here	Phrase 2 starts here...

### **EXERCISES**

In [ ]:
'''
Q1. Display the following text:
I am here to learn \python\ programming.
'''

print('I am here to learn \python\ programming.')

I am here to learn \python\ programming.

In [ ]:
'''
Q2. Ask a user to enter his name and then print following message.
'Hi user_name, Welcome to this course!'
Eg.
Input: Sarvesh
Output: Hi Sarvesh, Welcome to this course!
'''

a = (input("Please enter your name: "))
print("Hi",a,", Welcome to this course!")

Please enter your name: Sarvesh
Hi Sarvesh , Welcome to this course!

In [ ]:
'''
Q3. Use a single print() statement to print the following string in the format shown.

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!
'''

print("Twinkle, twinkle, little star, \n   How I wonder what you are! \n     Up above the world so high, \n     Like a diamond in the sky.\nTwinkle, twinkle, little star, \n   How I wonder what you are!")

Twinkle, twinkle, little star,
   How I wonder what you are!
     Up above the world so high,
     Like a diamond in the sky.
Twinkle, twinkle, little star,
   How I wonder what you are!

## EXPERIMENTS FROM THE COURSE DESCRIPTION

In [ ]:
#Exp 1.1 - program to get the verison of python you are using.

import sys
print("Python Version :", sys.version)
print(sys.version_info)

Python Version : 3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
sys.version_info(major=3, minor=7, micro=13, releaselevel='final', serial=0)

In [ ]:
#Exp 1.2 - Write a Python program which accepts the radius of a circle from the user and compute the area.

a=int(input("Enter the radius of the circle (in cm) :"))
b=a*a*3.14
print("The area of the circle is :",b,"centimeters squared")

Enter the radius of the circle (in cm) :5
The area of the circle is : 78.5 centimeters squared

In [ ]:
#Exp 2.1 - WAP to get the current date and time

import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(str(now))

Current date and time:
2022-07-25 04:13:50.987145

In [ ]:
#Exp 2.2 -  WAP which accepts the radius of a circle from the user and compute the area.

a=int(input("Enter the radius of the circle (in m) :"))
b=a*a*3.14
print("The area of the circle is :",b,"meters squared")

Enter the radius of the circle (in m) :95
The area of the circle is : 28338.5 meters squared

In [ ]:
#Exp 3.1 - Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

a=input("Ënter your first name :")
b=input("Enter your last name :")
print("Your name in reverse order is:",b,a)

Ënter your first name :Akshit
Enter your last name :Sharma
Your name in reverse order is: Sharma Akshit

In [ ]:
#Exp 3.2 - Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"].

color_list = ["Red","Green","White" ,"Black"]
print("First color :",color_list[0])
print("Last color :",color_list[3])

First color : Red
Last color : Black

# **LAB 3 - 29/07/2022**

## Collab Sheet 3

In [ ]:
#declaring and initializing the variables

m = 64
c = 'acads'
f = 3.1416

In [ ]:
#printing the value held by 'f'

print(f)

3.1416

In [ ]:
#assign new value to the existing variable

f = 2.785
print(f)

2.785

In [ ]:
#We can even change the type

f = 'This is the third python Lab'
print(f)

This is the third python Lab

In [ ]:
#valid variable names
mcomment = """This is a doc string.
It can even span multiple lines,
Like this"""

i = 5
count = 0
Lab5 = 'python data types'
max_profit = 100
_left = False
fUnNy = 5.7

print("i =", i)
print("count =", count)
print("Lab5 = ", Lab5)
print("max_profit =", max_profit)
print("_left =", _left)
print("fUnNy =", fUnNy)
print(mcomment)

i = 5
count = 0
Lab5 =  python data types
max_profit = 100
_left = False
fUnNy = 5.7
This is a doc string.
It can even span multiple lines,
Like this

In [ ]:
# invalid variable names

# 5j = 50
# min profit = 10.4
# lab.7 = 'data science'

In [ ]:
#get a list of keywords in python

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# keywords cannot be used as a variable name. Note that 'class' is a keyword in python.

# class = 6.4

In [ ]:
#variable names are case sensitive

number = 755
numBer = 446

print(number, numBer)

755 446

In [ ]:
#Formatting output: Extra space here and there

print('The value of numBer is {} which is greater than {}. Thats it.' .format(numBer, number))

The value of numBer is 446 which is greater than 755. Thats it.

In [ ]:
# Formatted output, without unwanted space
print('The value of NumBer is {} which is greater than {}. Thats it.'.format(numBer, number))

The value of NumBer is 446 which is greater than 755. Thats it.

### Assignment statement

In [ ]:
#to assign a value to a variable, we use  '=' operator (assignment operator).

x = 10

In [ ]:
#expression on RHS is evaluated before assigning the value
b, a, c = 3, 8, 4

disc_2 = b * b - 4 * a * c
print(disc_2)

-119

In [ ]:
count = 5

count = count + 1

print(count)

6

In [ ]:
#initializing multiple variables

x , y = 556, 548
print(x, y)

556 548

In [ ]:
#incrementing both values by 1

x,y = x+1,y+1
print(x,y)

557 549

In [ ]:
#comments in python

pi = 3.14
radius = 10
diameter = 2 *radius #diameter of the circle
area = pi* radius* radius #and its area

print(diameter, area)

20 314.0

### Types

In [ ]:
#type() can be used to get the type of an object passed to it

type(500)
print(type(500))

<class 'int'>

In [ ]:
print(type(-200))

<class 'int'>

In [ ]:
print(type(3.1413))

<class 'float'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(3 != 2))

<class 'bool'>

In [ ]:
#explicit type conversion

a = int(2.5)
print(a, type(a))

2 <class 'int'>

In [ ]:
b = float(3)
print(b, type(b))

3.0 <class 'float'>

In [ ]:
a = int('73')+2
print(a, type(a))

75 <class 'int'>

In [ ]:
a = int('A')
print(a, type(a))

ValueError: ignored

In [ ]:
a = str(3.14)
print(a, type(a))

3.14 <class 'str'>

In [ ]:
#Type conversion and input

age = input('How old are you? ')
age = int(age)

How old are you? 54

In [ ]:
print('In 5 years, your age will be', age + 5)

In 5 years, your age will be 59

In [ ]:
print('The double of your age will be', age * 2)

The double of your age will be 108

In [ ]:
print('In 5 years, your age will be', int(age) + 5)

In 5 years, your age will be 59

In [ ]:
print('The double of your age will be', int(age) * 2)

The double of your age will be 108

In [ ]:
str, type  = type, str

print('The type of value 3.14 is', type(3.14))
print('The value of str(3.14) =', str(3.14))

The type of value 3.14 is 3.14
The value of str(3.14) = <class 'float'>

In [ ]:
#binary operators +, -, *, /, //, %

print(9 + 2)
print(9.1 + 2.0)
print(9 - 2)
print(9.1 - 2.0)
print(9 * 2)
print(9.1 * 2.0)
print(9 / 2)
print(9.1 / 2.0)
print(9 // 2)
print(9 % 2)

11
11.1
7
7.1
18
18.2
4.5
4.55
4
1

In [ ]:
#the // operator
print(9//4)
print(-1 // 2)
print((-1)// (-2))
print(1/-2)
print(1 // (-2))
str, type  = type, str

print('The value and type of 9 // 4.5 are {} {}'.format(9//4.5, type(9//4.5)))

2
-1
0
-0.5
-1
The value and type of 9 // 4.5 are 2.0 <class 'float'>

In [ ]:
#the % operator
print(9 % 4)
print((-1) % 2)
print((-1) % (-2))
print(1 % 0.6)
print(1 % (-2))
print(9 % 4.5)

1
1
-1
0.4
-1
0.0

In [ ]:
#Guess result of the expression below:
x = -5 * 4 // 2 * 3 + -1 * 2
print(x)

-32

## Collab Sheet 4

### Built in Data Types : Numbers

In [ ]:
num = 10
print("The number (", num, ") is of type", type(num))

num = 10.0
print("The number (", num, ") is of type", type(num))

num = 3+5j
print("The number ", num, " is of type", type(num))
print("Is the number ", num, "a complex number?", isinstance(3+5j, complex))

The number ( 10 ) is of type <class 'int'>
The number ( 10.0 ) is of type <class 'float'>
The number  (3+5j)  is of type <class 'complex'>
Is the number  (3+5j) a complex number? True

In [ ]:
#type conversion and input

age = input('How old are you? ')
print(age)
print('In 5 years, your age will be', age + 5)

How old are you? 50
50

In [ ]:
print('In 5 years, your age will be', int(age) + 5)

In 5 years, your age will be 55

### Built in Data Types : Strings

In [ ]:
#create a string variable and assign a value to it.

name = 'Niharika'
print(name)
type(name)

Niharika

str

In [ ]:
#creating another variable

another_name = "Saksham Salathia"
print(another_name)

Saksham Salathia

In [ ]:
#checking if both strings are equal

name == another_name

False

In [ ]:
#modifying 'name' to have the same value and then again compare

name = "Saksham Salathia"
name == another_name

True

In [ ]:
#string with apostrophes
name = "intro to python"
descr  = 'acad's first course'

SyntaxError: ignored

In [ ]:
#using escape character '\'

descr  = 'acad\'s first course'
print(descr)

#using double quotes

descr = "Everybody's course in Programming"
print(descr)

acad's first course
Everybody's course in Programming

In [ ]:
#len() returns length of the string

name = 'intro to python'
empty = ''
single = 'a'

print(len(name), len(empty), len(single))

15 0 1

In [ ]:
a = str(3 + 29)
print(a)
type(a)

32

str

### Operations on strings

In [ ]:
#operations on strings

first_phrase = "hello!.. "
second_phrase = "Hello! Who is this?"
third_phrase = "I won't fly paper airplanes in the class!"

print(first_phrase * 3) # repeats the string three times
print(first_phrase + second_phrase) # concatenates the two strings
print(third_phrase * 10) # repeats the string ten times

hello!.. hello!.. hello!..
hello!.. Hello! Who is this?
I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!I won't fly paper airplanes in the class!

In [ ]:
#Write a script to print third_phrase 10 times, but on a new line.
third_phrase = "I won't fly paper airplanes in the class! \n"
print(third_phrase * 10, end= '\n')

I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!
I won't fly paper airplanes in the class!

In [ ]:
#concatenate more than two strings

details = name + ', ' + descr
details

"intro to python, Everybody's course in Programming"

In [ ]:
#What would be the result of the following statement?
#second_phrase / first_phrase

c = second_phrase / first_phrase

TypeError: ignored

In [ ]:
#substring membership in strings
'z' not in 'abc'

True

In [ ]:
'ab' in 'abc'

True

In [ ]:
'z' not in 'xyz'

False

### Indexing and Slicing in Strings

In [ ]:
#indexing

name = 'Acads'
print(name[0]) # prints the first character in the string
print(name[3]) # prints the fourth character in the string

A
d

In [ ]:
#What is the result of following statements?

c = name[3]
type(c)

str

In [ ]:
print(name[-1]) # get sixth character from the right side

s

In [ ]:
#Which character will be returned by the following statement?
name[5]

IndexError: ignored

In [ ]:
print(name[-1]) # print the last character
print(name[-2]) # print the second last character

s
d

In [ ]:
#substring

#printing first three letters
print(name[:3])
#printing letters from index 1 to index 4
print(name[1:5])

Aca
cads

In [ ]:
#Can we pass slice of a string to len() method?

len(name[:3])

3

In [ ]:
#slicing the string using 0:length gives the original string

name == name[0:len(name)]

True

In [ ]:
name[:2] #String containing characters upto index 1

'Ac'

In [ ]:
name[:] #String containing all the characters

'Acads'

In [ ]:
print(name[-4:-1]) #Substring from fourth last character to the second last character from end

print(name[-4:]) #Substring from fourth last character of string

print(name[-4:4]) #Substring from fourth last character to the character at index 3

cad
cads
cad

In [ ]:
name[1:7] #Original string has only 5 characters

'cads'

In [ ]:
name[7:1]

''

In [ ]:
# Specifying a Stride in a String Slice
s = "Atul Gupta"
s[0:6:2]
#s[1:6:2]

'Au '

### Other String Functions

In [ ]:
title = 'dell inc.'

#Convert first character of the string to upper case
title.capitalize()

'Dell inc.'

In [ ]:
title = 'DELL INC.'

#Convert case of the full title string
title.casefold()

'dell inc.'

In [ ]:
#Count how many times a letter occurs in a string
title.count('L')

2

In [ ]:
#Get the position of a character in a string
title.find('C')

7

In [ ]:
#What happens if we pass a character that is not present in the string?
title.find('T')

-1

In [ ]:
#Check if the string ends with a specified value
title.endswith('inc.')

False

In [ ]:
#Modify above statement so that it returns True.
title.endswith('INC.')

True

In [ ]:
name = '1st Python Programming Course !'

name.isalnum() # checks if all characters in a string are alphaneumeric

False

In [ ]:
# lets get rid of '!'
# we replace '!' with 'nothing'
print(name)
name.replace('!', '')

1st Python Programming Course !

'1st Python Programming Course '

In [ ]:
print(name)

1st Python Programming Course !

In [ ]:
# check if all characters in the string are:
# uppercase or lowercase
# or if the string follow all rules of a title

name = 'Python Programming Course!'

print(name.isupper())

print(name.islower())

print(name.istitle())

False
False
True

In [ ]:
# join a list of elements in an iterable with a '-'

print('-'.join(['Welcome', 'to', 'this', 'course!']))

Welcome-to-this-course!

In [ ]:
string = 'atukl1'

# check if the string is an identifier (?)
string.isidentifier()

True

### Unpacking a string

In [ ]:
#Split the string at specified seperator

name.split(' ')

['Python', 'Programming', 'Course!']

In [ ]:
#Check the type of object returned by split() method.
type(name.split(' '))

list

In [ ]:
initials = 'USA'

# unpack the string to get the characters (?)
a, b, c = initials

print(a, b, c)

U S A

### Some example problems on Strings

In [ ]:
# More compact way..

txt = "Hello World"[::-1]
print(txt)

dlroW olleH

In [ ]:
# last occurance of a substring

txt = 'the the loudest word ever shouted is probably the word quiet'
substring = 'word'
index = txt.rfind(substring)
print("Last occurrence of '%s' starts at %d" % (substring, index))

Last occurrence of 'word' starts at 50

In [ ]:
#Given an odd string length, print the middle three characters

sampleStr = 'nationalist'
middleIndex = int(len(sampleStr) /2)
print("Original String is", sampleStr)
middleThree = sampleStr[middleIndex-1:middleIndex+2]
print("Middle three chars are", middleThree)

Original String is nationalist
Middle three chars are ona

# **LAB 4 - 08/08/2022**

## Implementing all string functions

In [ ]:
#https://www.w3schools.com/python/python_ref_string.asp

a = 'this is our fourth lab'
a = a.capitalize()
print(a)

This is our fourth lab

In [ ]:
#casefold

a = 'Hello Universe'
a = a.casefold()
print(a)

hello universe

In [ ]:
a = 'banana'
a = a.center(15)
print(a)

     banana

In [ ]:
x = a.count("na")
print(x)

2

In [ ]:
a = 'My Name Is Akshit'
x = a.encode()
print(x)

b'My Name Is Akshit'

In [ ]:
print(a.endswith('t'))

True

In [ ]:
a = 'H\te\tl\tl\to'
print(a)
b = a.expandtabs(2)
print(b)

H	e	l	l	o
H e l l o

In [ ]:
a = 'My Name Is Akshit'
print(a.find('Is'))

8

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 69))

For only 69.00 dollars!

In [ ]:
a = 'My Name Is Akshit'
print(a.index('Is'))

8

In [ ]:
print(a.isalnum())

False

In [ ]:
print(a.isalpha())

False

In [ ]:
print(a.isascii())

True

In [ ]:
print(a.isdecimal())

False

In [ ]:
print(a.isdigit())

False

In [ ]:
print(a.isidentifier())

False

In [ ]:
a = a.casefold()
print(a.islower())

True

In [ ]:
print(a.isnumeric())

False

In [ ]:
print(a.isprintable())

True

In [ ]:
print(a.isspace())

False

In [ ]:
print(a.istitle())
a = "My Name Is Akshit"
print(a.istitle())

False
True

In [ ]:
print(a.isupper())

False

In [ ]:
a  = ("John", "Peter", "Vicky")
a = "%".join(a)
print(a)
a  = ("John", "Peter", "Vicky")
a = " ".join(a)
print(a)

John%Peter%Vicky
John Peter Vicky

In [ ]:
a = "banana"

x = a.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
a = 'My Name Is Akshit'
print(a.lower())

my name is akshit

In [ ]:
x = "     banana     "

x = x.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
a = "My Name Is AKshit"
print(a.partition(" Is "))

('My Name', ' Is ', 'AKshit')

In [ ]:
a = "Akshit, Saksham, Niharika"
x = a.rsplit(", ")
print(x)

['Akshit', 'Saksham', 'Niharika']

In [ ]:
x = "     banana     "
x = x.rstrip()
print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
x = a.split()
print(x)

['Akshit,', 'Saksham,', 'Niharika']

In [ ]:
x = "Thank you for the music\nWelcome to the jungle"
x = x.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
a = "Akshit, Saksham, Niharika"
print(a.startswith("A"))

True

In [ ]:
x = "     banana     "
x = x.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
a = "Akshit, Saksham, Niharika"
print(a.swapcase())

aKSHIT, sAKSHAM, nIHARIKA

In [ ]:
a = 'My name is Akshit'
print(a.title())

My Name Is Akshit

In [ ]:
print(a.upper())

MY NAME IS AKSHIT

In [ ]:
#using a dictionary with ascii codes to replace 83 (S) with 80 (P):
d = {83:  80}
txt = "Hello Sam!"
print(txt.translate(d))

Hello Pam!

In [ ]:
print(a.zfill(10))

My name is Akshit

In [ ]:
print(-5.5%2.5)

2.0

# **LAB 5 - 22/08/2022**

## Variables and Expressions

In [ ]:
#expression

10+2

12

In [ ]:
#expression with multiple operators

10+2*4

18

In [ ]:
#printing the result of the expression directly

print(10+2*4)

18

In [ ]:
#assigning value of an expression to a variable

a = 10+2*4
print(a)

18

In [ ]:
#variable assigning value to another variable

b = 40
b = a
print(b)

18

In [ ]:
#changing value directly using a variable

a = a+2
print(a)

20

In [ ]:
#initializing multiple variables

a=b=c=d=e=6
print(a,b,c,d,e)

6 6 6 6 6

In [ ]:
#multiline commment

a = 8
a = a+1
b = 2
c = a+b
print(a)
print(c)

9
11

## type() function

In [ ]:
#type() function is used to get the type of an object passed to it.

type("Hello World")

str

In [ ]:
type(7.9)

float

In [ ]:
type("7.9")

str

In [ ]:
type(None)

NoneType

In [ ]:
type(print("Hello World"))

Hello World

NoneType

## print() function

In [ ]:
#printing a variable

name = 'Akshit Sharma'
age = 20
print('Your age is', age, 'years')

Your age is 20 years

In [ ]:
GPA = 9.845555

print('GPA = %.3f' % GPA)

GPA = 9.846

In [ ]:
print('Your age is %d years.' % age)

Your age is 20 years.

In [ ]:
# print(name, 'is', age, 'years old.')
print('%s is %d years old.' % (name, age))

Akshit Sharma is 20 years old.

In [ ]:
print('%s is %d years old.' % (name.split()[0], age))

Akshit is 20 years old.

## EXERCISE

In [ ]:
'''
Q1. Read radious of a circle and side of a square from user using single input() method.
Then calculate and display area of the circle and the square.

Input:
3.33 3.33

Output:
Area of circle:34.82
Area of square:11.09

Hint:
Use float() to convert string to float data type.
'''

a, b = input('Enter the value:').split()
a = float(a)
b = float(b)
area1 = a * a * 3.14
area2 = b * b
print('Area of circle: %.2f' % area1, '\nArea of square: %.2f' % area2)

Enter the value:3.33 3.33
Area of circle: 34.82
Area of square: 11.09

In [ ]:
'''
Q2. Write a program that reads names of two python files and strips the extension. The filenames are then concatenated to form a single string. The program then
prints 'True' if the newly generated string is palindrome, or prints 'False' otherwise.

Input: malay.py aLam.py

malay alam

malayalam

malayalam

Output: True
'''

a,b = input("Enter the file names :").split()
a = a.rstrip('.py')
b = b.rstrip('.py')
c = a+b
d = c[::-1]
if c==d:
  print('True')
else:
  print('False')

Enter the file names :malay.py alam.py
True

In [ ]:
'''
Q3. Write a program that reads full name as a input and returns abbreviations of the first and middle names except the last name.
Note that the abbreviations must be in capitals. Also, only the first letter in the Surname must be in higher case.

Eg.
Input: Sachin Ramesh Tendulkar

Output: S. R. Tendulkar
'''

a,b,c = input('Enter the full name (First, Middle, Last Name ) :').split()
x = a[0].capitalize()
y = b[0].capitalize()
z = c.title()
print(x,'. ',y,'. ',z)

Enter the full name (First, Middle, Last Name ) :sachin ramesh tendulkar
S .  R .  Tendulkar

In [ ]:
'''
Q4. A course instructor wants to compute overall GPA of a student based on his
performance in the whole semester. Maximum GPA is 10. To evaluate a student, the instructor follows the policy as shown below:

Exam    Maximum Marks   Weightage

Quiz 1    20               5%
Mid Sem   50               20%
Quiz 2    20               5%
End Sem   100              30%
Lab Work  100              20%
Project   50               20%

Write a program that reads marks got by a student in all 6 exams and based on the policy shown above computes the GPA.
Note: Limit the float value till two decimal points.

Input:
20 40 18 80 90 45

Output:
8.55
'''

a = float(input('Enter the marks in Quiz 1: (MM: 20) '))
a = (a/20)*100
b = float(input('Enter the marks in Mid Sem: (MM: 50) '))
b = (b/50)*100
c = float(input('Enter the marks in Quiz 2: (MM: 20) '))
c = (c/20)*100
d = float(input('Enter the marks in End Sem: (MM: 100) '))
e = float(input('Enter the marks in Lab Work: (MM: 100) '))
f = float(input('Enter the marks in Project: (MM: 50) '))
f = (f/50)*100

a = (a*5)/100
b = (b*20)/100
c = (c*5)/100
d = (d*30)/100
e = (e*20)/100
f = (f*20)/100

gpa = (a+b+c+d+e+f)/10

print('GPA = %.2f' %gpa)

Enter the marks in Quiz 1: (MM: 20) 20
Enter the marks in Mid Sem: (MM: 50) 40
Enter the marks in Quiz 2: (MM: 20) 18
Enter the marks in End Sem: (MM: 100) 80
Enter the marks in Lab Work: (MM: 100) 90
Enter the marks in Project: (MM: 50) 45
GPA = 8.55

## Today's Challenge

In [ ]:
'''
Write a program that first reads a piece of text entered by a user, and then reads a key. The program should display a frequency with which the key has occurred in the piece of text.

Input:
Can you write a whole paragraph without letter a? I wouldn't recommend it. Honestly, your sentences will sound wrong. Not just you but everyone else too will notice you are doing something weird. You will use uncommon words. It's not worth the effort involved.

you

Output:
The you count is: 1
'''

a = input('Enter the text : ')
b = input('Enter the key : ')

c = a.count(b)

print('The', b ,'count is : ',c)

Enter the text : Can you write a whole paragraph without letter a? I wouldn't recommend it. Honestly, your sentences will sound wrong. Not just you but everyone else too will notice you are doing something weird. You will use uncommon words. It's not worth the effort involved.
Enter the key : you
The you count is :  4

## Questions from the course description

In [ ]:
#Question 5 - Part 01
'''Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference.'''

a = int(input('Enter a number : '))
if a <=17 :
  print('The difference between the given number and 17 :', 17-a)
else :
  print('Since the number is greater than 17, the double of the absolute diffrence:', 2*(a-17))

Enter a number : 34
Since the number is greater than 17, the double of the absolute diffrence: 34

In [ ]:
#Question 5 - Part 02
'''Write a Python program to test whether a number is within 100 of 1000 or 2000'''

a = int(input('Enter a number : '))
if a>=900 and a<=1100 :
  print('The number is within 100 of 1000.')
elif a>=1900 and a<=2100 :
  print('The number is within 100 of 2000.')
else :
  print('Not in range')

Enter a number : 1936
The number is within 100 of 2000.

In [ ]:
#Question 5 - Part 03
'''Write a Python program to check whether a specified value is contained in a group of values'''

a = int(input('Enter a number : '))
test_data = [1, 5, 8, 3]
if a in test_data:
  print('True')
else :
  print('False')

Enter a number : -3
False

In [ ]:
#Question 6

'''Write a Python program to print all even numbers from a given numbers list in the
same order and stop the printing if any numbers that come after 237 in the sequence.'''

numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]
for i in numbers:
  if i == 237:
    break;
  elif i%2 == 0:
    print(i)

#TO-DO: USE A FILE AS AN INPUT

386
462
418
344
236
566
978
328
162
758
918

In [ ]:
#Question 7
'''Write a Python program that accepts a single integer value entered by the user. If the
value entered is less than one, the program prints nothing. If the user enters a
positive integer, n, the program prints an n×n box drawn with * characters.'''

a = int(input('Enter a number : '))
i = 0
if a < 1 :
  printf('Unable')
else :
  for i in range(a) :
    for j in range(a):
      print('*', end = ' ')
      j = j+1
    print('')
    i = i+1

Enter a number : 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
#Question 8 - Part 01
'''Write a Python program to sum of two given integers. However, if the sum is
between 15 to 20 it will return 20'''

a = int(input('Enter the first integer : '))
b = int(input('Enter the second integer : '))

sum = a+b

if sum >=15 and sum <=20:
  print('The sum is : 20')
else :
  print('The sum is :', sum)

Enter the first integer : 10
Enter the second integer : 8
The sum is : 20

In [ ]:
#Question 8 - Part 02
'''Write a Python program to compute the future
value of a specified principal amount, rate of interest, and a number of years.'''
import math
p = float(input('Enter the principal amount : '))
r = float(input('Enter the rate of interest : '))
t = float(input('Enter the number of years : '))
amt = p*(pow((1+(r/100)), t))

print('The amount after', t, 'years is : %.2f' %amt)

Enter the principal amount : 10000
Enter the rate of interest : 3.5
Enter the number of years : 7
The amount after 7.0 years is : 12722.79

# **LAB 6 - 29/08/2022**

## Collab Sheet 6

### Relational and logical operators

In [ ]:
# relational operators

print('3 > 2 is', 3 > 2)
print('3 > 3 is', 3 > 3)
print("Is 'Z' > 'a'? '", 'Z' > 'a')
print('2==3 is', 2 == 3)
print('Is car < carpet?', 'car' <= 'carpet')
print('Is CAR == car? ', 'CAR' == 'car')
print('Is car > do?', 'car' > 'do')
print('What is 5 != 10?', 5 != 10)
# Avoid mixing the Ints and Floats for comparison.
# It may give unexpected result due to approximation of Floats.
# In this case it works, but may not work for some other numbers.
print('Comparing float and int: 1.0 == 1 is {}. Try to avoid.'.format(1.0 == 1))

3 > 2 is True
3 > 3 is False
Is 'Z' > 'a'? ' False
2==3 is False
Is car < carpet? True
Is CAR == car?  False
Is car > do? False
What is 5 != 10? True
Comparing float and int: 1.0 == 1 is True. Try to avoid.

In [ ]:
# Logical Operators
print(True and (not True))
print(not True)
print(False or True)
x = not True
y = not False
print ( (not x) and not (not (x or y)))

False
False
True
True

In [ ]:
print(1 and 0)
print(1 or 0)
print(0 or 2)
print(not 1)
print(not 0)

0
1
2
False
True

In [ ]:
print ("Hello" and "Goodbye")
print ("Hello" or "Goodbye")
print (not "Hello")
print ("" or "Hello")
print ("The result is:", "" and "Hello")


'''
"Hello" and "Goodbye" - 1st check "Hello", i have to evaluate "Goodbye" :
and operator gives the last value it evaluated
'''
print ("Hello" or "Goodbye" and "Mr Amey" and "Nothing")

Goodbye
Hello
False
Hello
The result is:
Hello

### Conditional Statements

In [ ]:
# if else

x = 6
y = 10

if x < y:
  print(x)
else:
  print(y)
print('is the minimum!')

6
is the minimum!

In [ ]:
# when you have not followed proper indentation..

# if else

x = 30
y = 20

if x < y:
  print(x)
else:
  print(y)
  print('is the minimum!')

20
is the minimum!

In [ ]:
'''
Find minimum of three numbers.
'''

a, b, c = 100, 210, 30

if a <= b:
  if a <= c:
    print('min =', a)
  else:
    print('min =', c)
else:
  if b <= c:
    print('min =', b)
  else:
    print('min =', c)

min = 30

In [ ]:
# if without else

ticket_price = 100
age = int(input("Your age? "))

if age <= 15:
  ticket_price = ticket_price // 2

print('Ticket Price is: {}'.format(ticket_price))

Your age? 50
Ticket Price is: 100

### Nested If

In [ ]:
# sorting three numbers

a, b, c = 39, 40, 8

if a <= b:
  if a <=c:
    if b <= c:
      print(a, b, c)
    else:
      print(a, c, b)
  else:
    print(c, a, b)
else:
  if b <= c:
    if a <= c:
      print(b, a, c)
    else:
      print(b, c, a)
  else:
    print(c, b, a)

8 39 40

In [ ]:
# min of three numbers..again..using elif
a, b, c = 4, 6, 2

if a <= b and a <= c:
  print('min =', a)
elif b <= a and b <= c:
  print('min =', b)
else:
  print('min =', c)

min = 2

### Shortcircuit evaluation

In [ ]:
#shortcircuiting

print((10 < 2) and (3/0 != 0))
print((10 > 2) or (3/0 != 0))

False
True

### Float Values

In [ ]:
# caution about working with float

y = 0.1 * 3 # y = 0.300000004
if y != 0.3: # True
  print('Launch the missile!')
else:
  print('Lets have peace..')

Launch the missile!

In [ ]:
from decimal import Decimal
print(0.1)
print(0.3)
print(0.1*3)
input('Press Enter When ready')
print(Decimal(0.1))
print(Decimal(0.1*3))
print(Decimal(0.3))
print(Decimal(0.1*3 - 0.3))

0.1
0.3
0.30000000000000004
Press Enter When ready
0.1000000000000000055511151231257827021181583404541015625
0.3000000000000000444089209850062616169452667236328125
0.299999999999999988897769753748434595763683319091796875
5.5511151231257827021181583404541015625E-17

In [ ]:
y = 0.1 * 3 # 0.3000000000000000444089209850062616169452667236328125
# 0.3000000000000000444089209850062616169452667236328125
# 0.299999999999999988897769753748434595763683319091796875
epsilon = 0.0000001

if abs(y - 0.3) > epsilon:
  print('Launch the missile!')
else:
  print('Lets have peace..')

Lets have peace..

In [ ]:
print('What is 5 != 10?', 5 != 10)
print(5 != 10)
print (not (5 == 10))
#  !=  is not equal to operator

What is 5 != 10? True
True
True

## Collab Sheet 7

### while Loop

In [ ]:
# read value entered by a user using input() method

n = input()

8

In [ ]:
# input method returns a string object
print(type(n))

<class 'str'>

In [ ]:
# convert it into int by using int() converter
n = int(n)
print(type(n))

<class 'int'>

In [ ]:
#we can put them together..

n = int(input())

8

In [ ]:
# while loop

#printing multiplication table

i = 1

while i <= 10:
  print(n, ' X ', i, ' = ', n * i)
  i = i + 1

print('Done!')

8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80
Done!

In [ ]:
# read numbers from the user until user enters -1 and find the maximum
n = int(input())
max = n
while n != -1:
  n = int(input())
  if max < n:
    max = n
print('Maxmimum =', max)

90
80
115
-1
Maxmimum = 115

### for Loop

In [ ]:
#x = range(3, 10)
for n in range(3, 10):
  print(n)

3
4
5
6
7
8
9

In [ ]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
# print the sum of resiprocals of first 100 natural nuumbers

rsum = 0.0 # reciprocal sum

# for loop
for i in range(1, 101):
  rsum = rsum + 1.0 / i

print('The sum is', rsum)

The sum is 5.187377517639621

### Nested Loops

In [ ]:
# display a table of first 5 natural numbers

for i in range(1, 11):
  for j in range(1, 6):
    print(i * j, end=' ') # note 'end' argument
  print('\n')

1 2 3 4 5

2 4 6 8 10

3 6 9 12 15

4 8 12 16 20

5 10 15 20 25

6 12 18 24 30

7 14 21 28 35

8 16 24 32 40

9 18 27 36 45

10 20 30 40 50

In [ ]:
# print the following pattern:
# 1
# 2 3
# 3 4 5
# 4 5 6 7
# 5 6 7 8 9

for i in range(1, 6):
  for j in range(i, 2 * i):
    print(j, end=' ')
  print('\n')

1

2 3

3 4 5

4 5 6 7

5 6 7 8 9

In [ ]:
# Read 100 integer inputs from a user.
# Print the sum of inputs until a negative input is found (Excluding the negative number)
# or all 100 inputs are exhausted.

sum = 0

for i in range(100):

  value = int(input())

  if (value < 0):
    # if the number is negative, exit from the loop
    break

  sum = sum + value

print('sum =', sum)

50
42
7
9
69
-8
sum = 177

In [ ]:
# Read 5 integer inputs from a user. Print the sum of only positive inputs.

sum = 0

for i in range(5):

  value = int(input())

  if (value < 0):
    # if the number is negative, skip only this number
    continue

  sum = sum + value

print('sum =', sum)

85
69
44
-800
55
sum = 253

## Collab Sheet 8

### Practice Problems

In [ ]:
'''
Given an integer day , where 1≤𝑑𝑎𝑦≤7, print Weekday,
if the day corresponds to weekday, print Weekend otherwise.
1, 7: Weekend
2,3,4,5,6: Weekday
'''

day = int(input('Enter the day number :'))

if day == 1:
  print('Weekend')
elif day == 2:
  print('Weekday')
elif day == 3:
  print('Weekday')
elif day == 4:
  print('Weekday')
elif day == 5:
  print('Weekday')
elif day == 6:
  print('Weekday')
elif day == 7:
  print('Weekend')
else:
  print('Illegal Day Entered')

Enter the day number :5
Weekday

In [ ]:
#doing it in a better way

day = int(input('Enter the day number :'))

if day == 1 or day == 7:
  print('Weekend')
elif day ==2 or day ==3 or day ==4 or day ==5 or day ==6:
  print('Weekday')
else:
  print('Illegal Day Entered')

Enter the day number :5
Weekday

In [ ]:
#doing it in an even better way

day = int(input('Enter the day number :'))

if day == 1 or day == 7:
  print('Weekend')
elif day >1 and day<7:
  print('Weekday')
else:
  print("Illegal Day Entered")

Enter the day number :5
Weekday

In [ ]:
'''
Given a positive integer n print all the integers less than or equal to n
that are divisible by 3 or divisible by 5.
Hint: Two conditions will be used:
x <= n
(x % 3 == 0) or (x % 5 == 0)
'''

inp = int(input('Enter a positive integer: '))
for i in range(inp+1):
  if(i%3 == 0) or (i%5 == 0):
    print(i)

Enter a positive integer: 30
0
3
5
6
9
10
12
15
18
20
21
24
25
27
30

### More on Range Function

In [ ]:
range(5)

range(0, 5)

In [ ]:
type(range(5))

range

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(-10,5))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
#getting a list of all odd numbers till 20

list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#getting all even numbers till 20

list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list(range(10,-11,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10]

### Indexing in python iterables

In [ ]:
text = 'String is nothing but a sequence of characters'

In [ ]:
text[-10]

'c'

In [ ]:
len(text)

46

In [ ]:
text[45]

's'

In [ ]:
text[36]

'c'

In [ ]:
text[-1] == text[len(text) - 1]

True

### String split function

In [ ]:
sentence = 'This is a string'

sentence.split()

['This', 'is', 'a', 'string']

In [ ]:
words_list = sentence.split()

print(words_list[0])

word3 = words_list[3]
print(word3)

This
string

### Menu Driven Program

In [ ]:
while True:
    print("\nMenu:\n(A) Addition\n(S) Subtraction\n(M) Multiplication\n(D) Division\n(Q) Quit")
    choice = input("Enter your Choice: ").upper().rstrip()
    if choice=="A":
        a, b = input().split(" ")
        print('Addition:', float(a) + float(b)) #Addition: 5
    elif choice=="S":
        a, b = input().split(" ")
        print('Subtraction:', float(a) - float(b))
    elif choice=="M":
        a, b = input().split(" ")
        print('Multiplication:', float(a) * float(b))
    elif choice=="D":
        a, b = input().split(" ")
        print('Division:', float(a) / float(b))
    elif choice=="Q":
        break
    else:
        print("You have entered a wrong character. Please choose again...\n")

print("\nThank You! Visit Again!")

Menu:
(A) Addition
(S) Subtraction
(M) Multiplication
(D) Division
(Q) Quit
Enter your Choice: A
3 8
Addition: 11.0

Menu:
(A) Addition
(S) Subtraction
(M) Multiplication
(D) Division
(Q) Quit
Enter your Choice: Q

Thank You! Visit Again!

### Practice Questions

In [ ]:
'''
Q1. You have written a program to compute GPA, given marks of all six exams.
A course instructor further wants to use GPA of a student to assign grade
as follows:

    GPA      Grade

    10        E
     9+       A
     8+       B
     7+       C
     6+       D
     5.5+     Pass
     0+       Fail

Extend the program you have written yesterday to assist the instructor
in assigning grades to students. The program should read marks of all 6 exams
and then print the GPA and/or the grade, as per the case.
Follow the guidelines:
- The program should be menu-driven:
  Menu:
  (A) Compute GPA
  (B) Assign Grade
  (Q) Quit
- Read choice from the user as a letter 'A', 'B', 'Q'
- If the choice is A:
  - Read marks of all 6 exams are entered by a user at once, seperated with a single space.
  - The program should check if the marks entered for each exam are not exceeding maximum marks.
  - Compute and print the GPA.
- If the choice is B:
  - Read GPA entered by a user and print the grade.

Eg.

Menu:
(A) Compute GPA
(B) Assign Grade
(Q) Quit
Enter your Choice: A
20 20 20 70 70 50
4.1

Menu:
(A) Compute GPA
(B) Assign Grade
(Q) Quit
Enter your Choice: B
5.51
Pass

Menu:
(A) Compute GPA
(B) Assign Grade
(Q) Quit
Enter your Choice: q
'''


while True:
  print("MENU:\n(A) COMPUTE GPA\n(B) ASSIGN GRADE\n(Q) QUIT")
  a = input()

  if(a == "A" or a == "a"):
    print("ENTER THE MARKS OUT OF 10\n")
    b = int(input())
    c = int(input())
    d = int(input())
    e = int(input())
    f = int(input())
    g = int(input())

    gpa = b + c + d + e + f + g
    gpa = gpa/ 6
    print("GPA = ", gpa)
    continue

  elif a == "B" or a == "b":
    print("ENTER THE CGPA\n")
    b = float(input())
    if b == 10:
      print("E\n")
    elif b >= 9 and b < 10:
      print("A\n")
    elif b >= 8 and b < 9:
      print("B\n")
    elif b >= 7 and b < 8:
      print("C\n")
    elif b >= 6 and b < 7:
      print("D\n")
    elif b >= 5.5 and b < 6:
      print("PASS\n")
    elif b >= 0 and b < 9:
      print("FAIL\n")
    continue

  elif(a == "Q" or a == "q"):
    break

MENU:
(A) COMPUTE GPA
(B) ASSIGN GRADE
(Q) QUIT
A
ENTER THE MARKS OUT OF 10

9
8
5
10
7
6
GPA =  7.5
MENU:
(A) COMPUTE GPA
(B) ASSIGN GRADE
(Q) QUIT
B
ENTER THE CGPA

7.5
C

MENU:
(A) COMPUTE GPA
(B) ASSIGN GRADE
(Q) QUIT
Q

In [ ]:
'''
Q2. Write a program that reads number of rows and prints following pattern:


Input: 3

   1
   2    1
   4    2    1


Input: 5

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2     1

'''
import math
print("ENTER THE NUMBER OF ROWS\n")
n = int(input())

for row in range(n+1):

  for column in range(row-1, -1, -1):
    print(int(math.pow(2, column)), end = "   ")
  row = row + 1
  print("\n")

ENTER THE NUMBER OF ROWS

10


1

2   1

4   2   1

8   4   2   1

16   8   4   2   1

32   16   8   4   2   1

64   32   16   8   4   2   1

128   64   32   16   8   4   2   1

256   128   64   32   16   8   4   2   1

512   256   128   64   32   16   8   4   2   1

### Today's Challenge

In [ ]:
# get unicode of a character

letter = 'a'

ord(letter)

97

In [ ]:
ord('A')

65

In [ ]:
# get character  given a valid  unicode

chr(65)

'A'

In [ ]:
pattern = '***'


print(pattern.center(10, '-'))
print(pattern.center(10, '-'))

---***----
---***----

In [ ]:
'''
Write a program that reads a positive integer and then displays the following pattern.

Input:
3

Output:

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

Input:
5

Output:

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

'''


n=int(input())
for i in range(n-1,-1,-1):
    for j in range(i):
        print(end="--")
    for j in range(n-1,i,-1):
        print(chr(j+97),end="-")
    for j in range(i,n):
        if j != n-1:
            print(chr(j+97),end="-")
        else:
            print(chr(j+97),end="")
    for j in range(2*i):
        print(end="-")
    print()
for i in range(1,n):
    for j in range(i):
        print(end="--")
    for j in range(n-1,i,-1):
        print(chr(j+97),end="-")
    for j in range(i,n):
        if j != n-1:
            print(chr(j+97),end="-")
        else:
            print(chr(j+97),end="")
    for j in range(2*i):
        print(end="-")
    print()

12
----------------------l----------------------
--------------------l-k-l--------------------
------------------l-k-j-k-l------------------
----------------l-k-j-i-j-k-l----------------
--------------l-k-j-i-h-i-j-k-l--------------
------------l-k-j-i-h-g-h-i-j-k-l------------
----------l-k-j-i-h-g-f-g-h-i-j-k-l----------
--------l-k-j-i-h-g-f-e-f-g-h-i-j-k-l--------
------l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l------
----l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l----
--l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l--
l-k-j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j-k-l
--l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l--
----l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l----
------l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l------
--------l-k-j-i-h-g-f-e-f-g-h-i-j-k-l--------
----------l-k-j-i-h-g-f-g-h-i-j-k-l----------
------------l-k-j-i-h-g-h-i-j-k-l------------
--------------l-k-j-i-h-i-j-k-l--------------
----------------l-k-j-i-j-k-l----------------
------------------l-k-j-k-l------------------
--------------------l-k-l--------------------
----------------------l----------------------

## Python List/ Array Methods

In [ ]:
#append()

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#clear()

fruits2 = ['apple', 'banana', 'cherry']
fruits2.clear()
print(fruits2)

[]

In [ ]:
#copy()

horticulture = fruits.copy()
print(horticulture)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#count()

print(fruits.count('apple'))

1

In [ ]:
#extend()
fruits = ['apple', 'banana', 'cherry']
fruits2 = ['tomato', 'mango']
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'tomato', 'mango']

In [ ]:
#index()

print(fruits.index('tomato'))

3

In [ ]:
#insert()

fruits.insert(3, 'grapes')
print(fruits)

['apple', 'banana', 'cherry', 'grapes', 'tomato', 'mango']

In [ ]:
#pop()

fruits.pop(4)
print(fruits)

['apple', 'banana', 'cherry', 'grapes', 'mango']

In [ ]:
#remove()

fruits.remove('grapes')
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#reverse()
fruits.reverse()
print(fruits)

['mango', 'cherry', 'banana', 'apple']

In [ ]:
#sort()

fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'mango']

# **--------------------------------------------------------------------------------------**

# **LAB 7 - 12/09/2022**

## Python Dictionary Methods

In [ ]:
#clear()
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [ ]:
#copy()
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mycar = car.copy()

print(mycar)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#fromkeys()
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
#get()

print(car.get("model"))

Mustang

In [ ]:
#items()

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#keys()

print(car.keys())

dict_keys(['brand', 'model', 'year'])

In [ ]:
#pop()
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("year")
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#popitem()
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#setdefault()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [ ]:
#update()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

In [ ]:
#values()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.values())

dict_values(['Ford', 'Mustang', 1964])

## Experiments 09-14 of the course description

In [ ]:
#Exeriment 09
'''Write a Python program to create an array of 5 integers and display the array items.
Access individual element through indexes. Write a Python program to convert an
array to an ordinary list with the same items.'''

import numpy as np

a = np.array([1,2,3,4,5])
print(a)

li = a.tolist()

print(li)
type(li)

[1 2 3 4 5]
[1, 2, 3, 4, 5]

list

In [ ]:
#Experiment 10
'''Write a Python program to display all the member name of an enum class ordered by
their values. Expected Output:
Country Name ordered by Country Code: Afghanistan Algeria Angola Albania Andorra Antarctica'''

from enum import Enum

class country(Enum):
  Antarctica = 672
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244

li = list()
for i in country:
  li.append(i.value)
li.sort()

for j in li:
  for i in country:
    if j == i.value:
      print(i.name)

Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica

In [ ]:
#Experiment 11
'''Write a Python program to get all values from an enum class.
Expected output: [93, 355, 213, 376, 244, 672].'''

from enum import Enum

class country(Enum):
  Antarctica = 672
  Afghanistan = 93
  Albania = 355
  Algeria = 213
  Andorra = 376
  Angola = 244

li = list()
for i in country:
  li.append(i.value)
print(li)

[672, 93, 355, 213, 376, 244]

In [ ]:
#Experiment 12
'''Write a Python program to get an array buffer information Expected Output:
Array buffer start address in memory and number of elements.
(25855056, 2)'''

from array import array
a = array("I", (12,25,89,64,69))
print("Array buffer start address in memory and number of elements : ")
print(a.buffer_info())

Array buffer start address in memory and number of elements :
(140682131940528, 5)

In [ ]:
#Experiment 13-14
'''Write a Python program to push three items into a heap and return the smallest item
from the heap. Also Pop and return the smallest item from the heap. Expected
Output:
Items in the heap:
('V', 1)
('V', 3)
('V', 2)
The smallest item in the heap: ('V', 1)
Pop the smallest item in the heap: ('V', 2)
('V', 3)'''

# **LAB 8 - 26/09/2022**

## Experiment 15-20 from the course description

In [ ]:
#Experiment 15, 16
'''Write a function named print_big_enough that accepts two parameters, a list of
numbers and a number. The function should print, in order, all the elements in the list
that are at least as large as the second parameter.'''

def print_big_enough(li, num):
  li2 = list()
  for x in li:
    if x>=num:
      li2.append(x)
  li2.sort()
  print(li2)

p = [26,58,4,75,99,63,9,7]
q = 15
print_big_enough(p, q)

[26, 58, 63, 75, 99]

In [ ]:
#Experiment 17, 18
'''Write a function called draw_rectangle that takes a Canvas and a Rectangle as
arguments and draws a representation of the Rectangle on the Canvas. 2. Add an
attribute named color to your Rectangle objects and modify draw_rectangle so that it
uses the color attribute as the fill color. 3. Write a function called draw_point that
takes a Canvas and a Point as arguments and draws a representation of the Point on
the Canvas. 4. Define a new class called Circle with appropriate attributes and
instantiate a few Circle objects. Write a function called draw_circle that draws circles
on the canvas. 5. Write a program that draws the national flag of the India. Hint: you
can draw a polygon like this: points
= [[-150,-100], [150, 100], [150, -100]] canvas.polygon(points,
fill='saffron,white,green')'''

from tkinter import *

def draw_rectangle(canva, rect):VNCFB

In [ ]:
#Experiment 19,20
'''The datetime module provides date and time objects that are similar to the Date and
Time objects in this chapter, but they provide a rich set of methods and operators.
Read the documentation at http: // docs. python.
org/ 2/ library/ datetime. html . 1. Use the datetime module to write a
program that gets the current date and prints the day of the week. 2. Write a program
that takes a birthday as input and prints the user‟s age and the number of days, hours,
minutes and seconds until their next birthday. 3. For two people born on different
days, there is a day when one is twice as old as the other. That‟s their Double Day.
Write a program that takes two birthdays and computes their Double Day. 4. For a
little more challenge, write the more general version that computes the
day when one person is n times older than the other.'''

4