# Introduction to Python

**Python** is a
- high level, 
- general-purpose, 
- multi-paradigm, 
- interpreted, 
- dynamically typed, 
- garbage-collected 

programming language.

## Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Numbers
Numbers are *immutable* (unchangeable) values, supporting numeric operations. This section covers basic number types (integers, floating-point), as well as more advanced types (complex, decimals, and fractions).

### Literals and creation
- Intergers

In [2]:
1234

1234

In [3]:
-24

-24

In [4]:
+42

42

- Floating point

In [5]:
1.23

1.23

In [6]:
3.14e-10

3.14e-10

In [7]:
4E210

4e+210

In [8]:
1.

1.0

In [9]:
.1

0.1

- Octal, hex and binary literals for integers

In [10]:
0o177

127

In [12]:
0x9ff

2559

In [13]:
0b1111

15

- Complex numbers

In [14]:
3+4j

(3+4j)

In [15]:
3.0 + 4.0j

(3+4j)

In [16]:
3J

3j

- Module based types

In [17]:
import decimal
import fractions

In [18]:
decimal.Decimal('1.33')

Decimal('1.33')

In [19]:
fractions.Fraction(4, 3)

Fraction(4, 3)

### Operations
Number types support all number operations. In mixed-type expressions, 

Python converts operands up to the type of the “highest” type, where integer is lower than floating-point, which is lower than complex.

In [20]:
5+3, 5-3  # Add, subtract

(8, 2)

In [21]:
5*3, 5/3, 5//3, 5%3 # Multiply, devide, floor devide, remainder

(15, 1.6666666666666667, 1, 2)

In [22]:
-5, +5  # Negative, identity

(-5, 5)

In [23]:
5|3, 5&3, 5^3  # Bitwise OR, AND, exclusive OR (only for integers)

(7, 1, 6)

In [24]:
5 << 1, 3 >> 1  # Bitwise left-shift, right-shift (only for integers)

(10, 1)

In [25]:
~5  # Bitwise invert

-6

In [26]:
5**3  # x to power y

125

In [27]:
abs(-5)  # Absolute value

5

In [28]:
int(3.14)  #  Convert to integer

3

In [29]:
float(3)  # Convert to float

3.0

In [30]:
complex(3)  #  Make a complex value

(3+0j)

In [31]:
complex(3, 10)

(3+10j)

In [32]:
divmod(5, 3)  # Tuple of (x/y, x%y)

(1, 2)

In [33]:
pow(2, 4)  # Raise to a power

16

Create numbers from other objects

In [34]:
int(9.1)

9

In [35]:
int('-9')

-9

In [36]:
int('1111', 2)

15

In [38]:
int('0b1111')

ValueError: invalid literal for int() with base 10: '0b1111'

In [39]:
float(9)

9.0

In [40]:
float('1e2')

100.0

In [41]:
float('-.1')

-0.1

In [ ]:
complex(3, 4.0)

## Strings
The normal **str** string object is an *immutable* (unchangeable) sequence of characters accessed by *offset* (position). Its *characters* are code point ordinals in the underlying character set, and individual characters are string objects of length 1.
- *str* --- An immutable sequence of characters, used for all text— both ASCII and richer Unicode.
- *bytes* --- An immutable sequence of short integers, used for the byte values of binary data.
- *bytearray* --- A mutable variant of bytes.

In [42]:
type('Hello world')

str

In [43]:
type(b'Hello world')

bytes

In [44]:
type(bytearray(b'Hello world'))

bytearray

#### Literals and creation
String literals are written as a series of characters in quotes, optionally preceded with a designator character, and in all string literal forms an empty string is coded as adjacent quotes. Various built-in operations also return new strings:

In [47]:
# Single and double quotes work the same.
# Each can embed unescaped quotes of the other kind.

print('Python"s
      ', "Python's")

SyntaxError: EOL while scanning string literal (<ipython-input-47-e4f934cfe841>, line 4)

In [46]:
# Triple-quoted blocks collect multiple lines 
# of text into a single string, with end-of-line 
# markers (\n) inserted between the original quoted lines.

print("""This is a 
multiline
block""")

This is a
multiline
block

In [49]:
# Backslash escape code sequences are replaced with 
# the special-character code point values they represent

print('Python\'s\n')

SyntaxError: invalid syntax (<ipython-input-49-a2d2a51445f6>, line 4)

In [50]:
# Adjacent string constants are concatenated.

"This""is""concatenated"

'Thisisconcatenated'

In [51]:
# Raw strings: backslashes are retained literally 
# (except at the end of a string). 

r'a raw\string'

'a raw\\string'

In [52]:
# bytes string literal in Python 3.X: sequence 
# of 8-bit byte values representing raw binary data.
b'this is a bytes string'

b'this is a bytes string'

#### Operations
All string types support all *sequence operations*, plus string-specific *methods*. In addition, the str type supports string *formatting* % expressions and template substitution, and the bytearray type supports *mutable sequence operations*.
#### String formatting
In Python normal *str* strings support two different flavors of string formatting—operations that format objects according to format description strings:
 - The original expression (all Python versions), coded with the % operator: *fmt % (values)*
 - The newer method (3.0, 2.6, and later), coded with call syntax: *fmt.format(values)*

Both produce new strings based on possibly type-specific substitution codes. Their results may be displayed, or assigned to variables for later use:

In [53]:
'Example: %s, %s, %.2f' % (42, 'spam', 1/3.0)

'Example: 42, spam, 0.33'

In [54]:
'Example: %(a)s, %(b)s, %(c).2f' % {'a': 42, 'b': 'spam', 'c': 1/3.0}

'Example: 42, spam, 0.33'

In [55]:
'Example: {0}, {1}, {2:.2f}'.format(42, 'spam')

IndexError: tuple index out of range

In [56]:
'Example: {a}, {b}, {c:.2f}'.format(a=42, b='spam', c=1/3.0)

'Example: 42, spam, 0.33'

#### String Methods

In [57]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Searching methods

In [58]:
a = 'Hello world'

In [59]:
# Returns offset of the first occurrence of 
# string sub in S, between offsets start and 
# end (which default to 0 and len(S), the entire string). 
# Returns −1 if not found.

a.find('wor')

6

In [60]:
# Like find, but scans from the end (right to left).

a.rfind('wor')

6

In [62]:
# Like rfind, but raises ValueError if not found 
# instead of returning −1.

a.count('0')

0

#### Splitting and joining methods

In [63]:
# Returns a list of the words in the string S, 
# using sep as the delimiter string.

b = a.split(' ')
b

['Hello', 'world']

In [64]:
# Concatenates an iterable of strings into a 
# single string, with S added between each item.

'--'.join(b)

'Hello--world'

## List
Lists are *mutable* (changeable) *sequences* of object references accessed by *offset* (position).
#### Literals and creation
List literals are written as a comma-separated series of values enclosed in square brackets, and various operations construct lists dynamically:

In [66]:
# An empty list

[]

[]

In [67]:
# A four-item list: indexes 0 through 3
    
[0, 1, 2, 3]

[0, 1, 2, 3]

In [69]:
# Nested sublists: L[1][0] fetches 42.

['spam', [42, 3.1415], 1.23, {}][1][0]

42

In [70]:
# Creates a list of all items in any iterable, 
# by calling the type constructor function.

list('spam')

['s', 'p', 'a', 'm']

In [71]:
# Creates a list by collecting expression results 
# during iteration (list comprehension).

[x**2 for x in range(9)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

#### Operations
Operations include all sequence operations, plus all mutable sequence operations, plus the following list-specific methods, in all of which L stands for any list object.

Sequence operations:

In [72]:
1 in [1, 2, 3]  # Membership test

True

In [73]:
[1, 2] + [3, 4]  # Concatenation

[1, 2, 3, 4]

In [74]:
[1, 2] * 4  # Repetition

[1, 2, 1, 2, 1, 2, 1, 2]

In [75]:
x = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0]  # Index by offset

1

In [77]:
x[1:6], x[1:6:2]  # Slicing

([1, 2, 3, 4, 5], [1, 3, 5])

In [78]:
len(x)

10

In [79]:
min(x), max(x)

(1, 9)

In [80]:
iter(x)

Mutable sequence operations

In [81]:
x[1] = 100
x

[1, 100, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
x[2:4] = [101, 102]
x

[1, 100, 101, 102, 4, 5, 6, 7, 8, 9]

In [83]:
x[2:6:2] = [103, 104]
x

[1, 100, 103, 102, 104, 5, 6, 7, 8, 9]

In [84]:
del x[0]
x

[100, 103, 102, 104, 5, 6, 7, 8, 9]

In [85]:
del x[0:1]
x

[103, 102, 104, 5, 6, 7, 8, 9]

In [86]:
del x[0:4:2]
x

[102, 5, 6, 7, 8, 9]

List specific methods

In [87]:
x = [1, 1, 2, 3]

In [88]:
# Inserts the single object at the end of list, 
# changing the list in-place.

x.append(4)
x

[1, 1, 2, 3, 4]

In [89]:
x.append([5, 6])
x

[1, 1, 2, 3, 4, [5, 6]]

In [90]:
# Inserts each item in any iterable at the end of a list in-place

x.extend([8, 7])
x

[1, 1, 2, 3, 4, [5, 6], 8, 7]

In [91]:
# Sorts the list in-place, in ascending order by default.
x.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [92]:
# Reverses items in the list in-place. 

x.reverse()
x

[7, 8, [5, 6], 4, 3, 2, 1, 1]

In [93]:
# Returns the index of the first occurrence of object in list

x.index(8)

1

In [94]:
# Inserts single object into list at offset

x.insert(1, 100)
x

[7, 100, 8, [5, 6], 4, 3, 2, 1, 1]

In [95]:
# Returns the number of occurrences of object in list.

x.count(1)

2

In [96]:
# Deletes the first occurrence of object from the list

x.remove(1)
x

[7, 100, 8, [5, 6], 4, 3, 2, 1]

In [97]:
# Deletes and returns the last item in list.

x.pop(0)

7

In [98]:
# Deletes and returns the last item in list.

x.clear()
x

[]

### List comprehension expressions
A list literal enclosed in square brackets (\[...\]) can be a simple list of expressions or a list comprehension expression of the following form:

[expr for target1 in iterable1 if condition1]

List comprehensions construct result lists: they collect all values of expression *expr*, for each iteration of all nested for loops, for which each optional *condition* is true. The second through Nth for loops and all if parts are optional, and *expr* and each *condition* can use variables assigned by nested for loops. Names bound (assigned) inside a list comprehension are localized to the comprehension. Comprehensions may be nested arbitrarily.

Comprehensions are similar to the **map()** built-in function:

In [99]:
[ord(x) for x in 'spam']

[115, 112, 97, 109]

In [102]:
tmp = []
for x in 'spam':
    tmp.append(ord(x))
tmp

[115, 112, 97, 109]

In [103]:
list(map(ord, 'spam'))

[115, 112, 97, 109]

However, comprehensions can often avoid creating a temporary helper function:

In [104]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [105]:
list(map((lambda x: x**2), range(5)))

[0, 1, 4, 9, 16]

Comprehensions with conditions are similar to filter()

In [106]:
[x for x in range(5) if x % 2 == 0]

[0, 2, 4]

In [107]:
list(filter((lambda x: x % 2 == 0), range(5)))

[0, 2, 4]

Comprehensions with nested for loops are similar to the normal for statement:

In [109]:
[x + y for x in range(3) for y in [10, 20, 30]]

[10, 20, 30, 11, 21, 31, 12, 22, 32]

In [110]:
res = []
for x in range(3):
    for y in [10, 20, 30]:
        res.append(x+y)

In [111]:
res

[10, 20, 30, 11, 21, 31, 12, 22, 32]

#### Generator expressions
Generator expressions achieve effects similar to list comprehensions, without generating a physical list to hold all results. Generator expressions define a set of results, but do not materialize the entire list, to save memory; instead, they create a *generator object* that will return elements one by one in iteration contexts by automatically supporting the *iteration protocol* of the prior section.

In [112]:
squares = (x**2 for x in range(5))
squares

Generator expressions are comprehensions coded inside parentheses rather than square brackets, but otherwise support all list comprehension syntax. The parentheses used for a function with a single argument suffice when creating an iterable to be passed to a function:

In [113]:
sum(x**2 for x in range(5))

30

In [114]:
iter(squares) is squares

True

In [118]:
next(squares)

9

In [119]:
list(squares)

[16]

### Other comprehension expressions
See also dictionary and set comprehensions elsewhere in this book. These are similar expressions that produce dictionaries and sets all at once; they support syntax identical to list comprehensions and generator expressions, but are coded within {}, and dictionary comprehensions begin with a *key:value* expression pair:

In [120]:
[x * x for x in range(10)]  # List comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [121]:
(x * x for x in range(10))  # Generator expr

In [122]:
{x * x for x in range(10)}  # Set

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [123]:
{x: x * x for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Dictionaries
Dictionaries are *mutable* (changeable) *mappings* of object references accessed by *key* (not position). They are unordered tables that map keys to values, implemented internally as dynamically expandable hash tables.
#### Literals and creation
Dictionary literals are written as comma-separated series of *key:value* pairs inside curly braces, the **dict()** built-in supports other creation patterns, and dictionary comprehensions employ iteration. Assigning to new keys generates new entries.

Any *immutable* object can be a dictionary key (e.g., string, number, tuple), and class instances can be keys if they inherit hashing protocol methods.

In [124]:
# An empty dictionary (not a set).

{}

{}

In [126]:
# A two-item dictionary: keys 'spam' and 'eggs', values 2 and 3.

{'spam': 2, 'eggs': 3}

{'spam': 2, 'eggs': 3}

In [127]:
# Nested dictionaries: D['info'][42] fetches 1.

{'info': {42: 1, type(''): 2}, 'spam': []}

{'info': {42: 1, str: 2}, 'spam': []}

In [128]:
# Creates a dictionary by passing keyword arguments 
# to the type constructor.

dict(name='Bob', age=45, job=('mgr', 'dev'))

{'name': 'Bob', 'age': 45, 'job': ('mgr', 'dev')}

In [129]:
# Creates a dictionary by passing key/value 
# tuple pairs to the type constructor.

dict(zip('abc', [1, 2, 3]))

{'a': 1, 'b': 2, 'c': 3}

In [130]:
# Same effect as prior line: accepts any iterable of keys and values.

dict([['a', 1], ['b', 2], ['c', 3]])

{'a': 1, 'b': 2, 'c': 3}

In [131]:
# Dictionary comprehension expression 

{c.upper(): ord(c) for c in 'spam'}

{'S': 115, 'P': 112, 'A': 97, 'M': 109}

#### Operations
Operations comprise all *mapping operations*, plus dictionary-specific methods.

Some of them:

In [132]:
d = {'spam': 2, 'eggs': 3}

In [133]:
# All keys in dictionary

d.keys()

dict_keys(['spam', 'eggs'])

In [134]:
# All stored values in dictionary

d.values()

dict_values([2, 3])

In [135]:
# Tuple pairs (key, value), one for each entry in dictionary

d.items()

dict_items([('spam', 2), ('eggs', 3)])

In [136]:
# Merges all of parameter dict's entries into dictionary.

d.update({'foo': 'bar', 'spam': 10})
d

{'spam': 10, 'eggs': 3, 'foo': 'bar'}

In [138]:
d['foo']

'bar'

In [139]:
# Similar to d['foo'], by returns default value if key is not found.

d.get('foo')

'bar'

In [141]:
print(d.get('aaa'))

None

In [142]:
d.get('aaa', -1)

-1

In [143]:
# If key is in dict.keys() returns d[key] and removes it 
d.pop('foo')

'bar'

In [144]:
# d.clear()
# d.copy()

## Tuples
Tuples are *immutable* (unchangeable) *sequences* of object references accessed by *offset* (position).
### Literals and creation
Tuple literals are written as comma-separated series of values enclosed in parentheses. The enclosing parentheses can sometimes be omitted:

In [145]:
# An empty tuple

()

()

In [149]:
# A one item tuple

(0, )

(0,)

In [147]:
[1]

[1]

In [150]:
# A four-item tuple

(0, 1, 2, 3)

(0, 1, 2, 3)

In [151]:
# Another four-item tuple

0, 1, 2, 3

(0, 1, 2, 3)

In [152]:
# Nested tuples: T[1][1] fetches 'eggs'

('spam', (42, 'eggs'))

('spam', (42, 'eggs'))

In [153]:
# Creates a tuple of all items in any iterable, 
# by calling the type constructor function.

tuple('spam')

('s', 'p', 'a', 'm')

#### Operations
All sequence operations, plus the following tuple-specific methods

In [154]:
t = (1, 2, 2, 3)

In [155]:
# Returns the index of the first occurrence of object X in tuple T

t.index(3)

3

In [156]:
t.count(2)

2

## Files
The built-in open() function creates a file object, the most common interface to external files. File objects export the data transfer methods in the following sections, where file content is represented as Python strings. This is a very partial list: see Python manuals for lesser-used calls and attributes.

In [157]:
outfile = open('file1.txt', 'w')

In [158]:
outfile.write('123')

3

In [159]:
outfile.writelines(['spam\n', 'eggs\n', 'foo\n', 'bar'])

In [160]:
outfile.close()

In [161]:
!ls

123                 Downloads           Music               hs_err_pid41727.log
Applications        Lecture.ipynb       Pictures            jmeter.log
Desktop             Library             Public
Documents           Movies              file1.txt

In [165]:
with open('file1.txt', 'r') as infile:
    tmp = infile.read()
    infile.seek(0)
    tmp1 = infile.readline()
    tmp2 = infile.readlines()

In [166]:
print(tmp)
print('------------------')
print(tmp1)
print('------------------')
print(tmp2)

123spam
eggs
foo
bar
------------------
123spam

------------------
['eggs\n', 'foo\n', 'bar']

## Sets
Sets are *mutable* (changeable) and unordered collections of *unique and immutable* objects. Sets support mathematical set operations such as union and intersection. They are not sequen‐ ces (they are unordered), and not mappings (they do not map values to keys), but support iteration, and function much like value-less (or keys-only) dictionaries.
#### Literals and creation

In [167]:
# An empty set ({} is an empty dictionary).

set()

set()

In [168]:
# A four-item set: values 's', 'p', 'a', 'm' 

set('spam')

{'a', 'm', 'p', 's'}

In [169]:
# A four-item set, same as prior line

{'s', 'p', 'a', 'm'}

{'a', 'm', 'p', 's'}

In [170]:
# Sets comprehension expression

{ord(c) for c in 'spam'}

{97, 109, 112, 115}

In [171]:
# A frozen (immutable) set of 10 integers
frozenset(range(-5, 5))

frozenset({-5, -4, -3, -2, -1, 0, 1, 2, 3, 4})

#### Operations
The following documents the most prominent set operations. Most expression operators require two sets, but their method-based equivalents accept any iterable. This list is representative but not complete; see Python’s Library Reference for an exhaustive list of set expressions and methods available:

In [175]:
a = {1, 2, 3, 4, 5}
b = {-1, 0, 1, 2, 3}
c = {1, 2}

In [176]:
1 in a

True

In [177]:
a - b, a.difference(b)

({4, 5}, {4, 5})

In [178]:
a | b, a.union(b)

({-1, 0, 1, 2, 3, 4, 5}, {-1, 0, 1, 2, 3, 4, 5})

In [179]:
a & b, a.intersection(b)

({1, 2, 3}, {1, 2, 3})

In [180]:
b <= c, b.issubset(c)

(False, False)

In [181]:
a ^ b, a.symmetric_difference(b)

({-1, 0, 4, 5}, {-1, 0, 4, 5})

### Boolean type

In [182]:
True, False

(True, False)

In [183]:
bool(0), bool(100)

(False, True)

In [184]:
bool([]), bool([1, 2])

(False, True)

# Statements and Syntax
## Syntax rules
The following are the general rules for writing Python programs:
- **Control flow**. Statements execute sequentially, one after another, unless control-flow statements are used to branch elsewhere in code (e.g., if, while, for, raise, calls, etc.).

a = 1
b = 2

- **Blocks**. A nested block is delimited by indenting all of its statements by the same amount, with any number of spaces or tabs used consistently. A nested block can also appear on the same line as its statement header (following the header’s : character), if it consists of simple (noncompound) statements only. As a rule of thumb, a given block should use all tabs or all spaces for indentation. Combinations of the two are fomally analyzed by two rules: (1) a tab counts for enough spaces to move the column number to the next multiple of 8; and (2) additional inconsistency is detected by counting each tab as one space.

arr1 = []
arr2 = []
for i in range(10):
    arr1.append(i)
    arr2.append(i + 10)

- **Statements**. A statement ends at the end of a line, but can continue over multiple lines if a physical line ends with a \; an unclosed (), [], or {} pair; or an unclosed, triple-quoted string. Multiple simple statements can appear on a single line if they are separated with a semicolon (;).

for i in range(3):
    a = i \
        + 100 
    print(a)

array = [
    1,
    2,
    3
]
print(array)

for i in range(3): 
    print(i); print(i+10)

- Comments
Comments start with a # in any column (and not in a string constant) and span to the end of the line; they are ignored by the Python interpreter.

# this is a comment

- **Documentation strings**. If a function, module file, or class begins with a string literal (possibly after # comments), \_\_doc__ attribute.

In [ ]:
def f(x):
    """Increments by 10"""
    return x + 10
print(f.__doc__)

- **Whitespace**. Generally significant only to the left of code, where indentation is used to group blocks. Blank lines and spaces are otherwise ignored and optional except as token separators and within string constants.

1 +    2    ==1+2

## Name Rules
### Name format
- **Structure**. User-defined names start with a letter or underscore (_), followed by any number of letters, digits, or underscores.
- **Reserved words**. User-defined names cannot be the same as any Python re‐ served word listed
- **Case sensitivity**. User-defined names and reserved words are always case-sensitive: SPAM, spam, and Spam are different names.
- **Unused tokens**. Python does not use the characters $\$$ and ? in its syntax, although they can appear in string constants and comments. Within strings, $\$$ is special in template substitution, and $\$$ and ? are special in pattern matching.
- **Creation**. User-defined names are created by assignment but must exist when referenced (e.g., counters must be explicitly initialized to zero). See the sections “Atomic terms and dynamic typing” and “Namespace and Scope Rules”.

**Reserved words are**
*False*, *class*, *None*, *continue*, *True*, *def*, *and*, *del*, *as*, *elif*, *assert*, *else*, *break*, *except*, *finally*, *is*, *for*, *lambda*, *from*, *nonlocal*, *global*, *not*, *if*, *or*, *import*, *pass*, *in*, *raise*, *NOTE*, *return*, *try*, *while*, *with*, *yield*

## Specific Statements
### The Assignment Statement

# Basic assignment
t = 1

# Multiple-target asignment
t1 = t2 = 1

# Tuple asignment
t1, t2 = 1, 2

# Augmented asignment. Optimised version of t1 = t1 + 1
t1 += 1

# Sequence asignments
(t1, t2) = (1, 2) # or any other same-length iterable
[t1, t2] = (1, 2) # or any other same-length iterable

In [1]:
# Extended sequence asignment
t1, *t2 = 1, 2, 3, 4, 5
print(t2)

[2, 3, 4, 5]

Assignment also occurs implicitly in other contexts in Python (e.g., for loop variables and function argument passing), and some assignment statement formats apply elsewhere (e.g., sequences in for).

### The Expression Statement

expression
function([value, name=value, *name, **name ... ])
object.method([value, name=value, *name, **name ...])

Any expression can appear as a statement (e.g., on a line by itself ). Conversely, statements cannot appear in any other expression context (e.g., assignment statements have no result, and cannot be nested).

Expression statements are commonly used for calling functions and methods having no useful return value, and for interactive-mode printing. Expression statements are also the most common coding for yield expressions and Python 3.X print() built-in function calls, although both are documented as specific statements in this book.

### The if statement

if test:
    suite
[elif test:
    suite]*
[else:
    suite]

### The while Statement

while test:
    suite
[else: 
    suite]

### The for Statement

for target in iterable
    suite
[else: 
    suite]

### The pass Statement

pass

### The break Statement

break

### The continue Statement

continue

### The del Statement

del name
del name[i]
del name[i:j:k]
del name.attribute

### The def Statement

[decoration]
def name([arg, ..., arg=valye, ..., *args, **kwags])
    suite

### The return Statement

return [expression]

### The yield Statement

yield expression
yield from iterable

### The import Statement

import [package.]* module [as name]
            [, [package.]* module [as name]]*

### The from Statement

from [package.]* module import 
            [(] name [as othername]
            [, name [as othername]]* [)]
from [package.]* module import *

### The class Statement

[decoration]
class name [ ( super [, super]* [, metaclass=M] ) ]:
    suite

### The try Statement

try:
    suite
except [type [as value]]:
    suite
[except [type [as value]]:
    suite]* 
[else:
    suite] 
[finally:
    suite]

try:
    suite
finally:
    suite

### The raise Statement

raise instance [from (otherexc | None)]
raise class    [from (otherexc | None)]
raise

### The assert Statement

assert expression [, message]

### The with Statement

with expression [as variable]:
    suite
   
with expression [as variable]
        [, expression [as variable]]*:
    suite