### Day Objective
- Functions, Data Structures

### Functions
- A block of reusable code to do specific task.
- 2 types
    1. Pre-defined functions(In-built)
    2. User-defined functions

### 1. Pre-defined functions

In [2]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [4]:
-24

-24

In [5]:
abs(-24)

24

In [6]:
pow(2,3)

8

In [7]:
pow(3,2)

9

In [8]:
ord('A')

65

In [9]:
ord('$')

36

In [17]:
print(ord('0'))
print(ord('1'))
print(ord('9'))

48
49
57

In [18]:
print(chr(55))
print(chr(67))

7
C

In [11]:
print(max((100,299,78,2000,56)))
print(min((100,299,78,2000,56)))

2000
56

In [21]:
print(round(3.4))# round figure value
print(round(3.5))
print(round(3.6))

3
4
4

In [25]:
print(sorted('AndhraPradesh'))
print(sorted((1,0,24,67.9,5,600,77))) 
print(sorted((1,0,24,67.9,5,600,77), reverse = True))# decending order

['A', 'P', 'a', 'a', 'd', 'd', 'e', 'h', 'h', 'n', 'r', 'r', 's']
[0, 1, 5, 24, 67.9, 77, 600]
[600, 77, 67.9, 24, 5, 1, 0]

In [27]:
print(sum((1,3,7)))
print(len((1,3,7)))

11
3

In [29]:
print(sorted((1,0,24,67.9,5,600,77)))
print(sorted((1,0,24,67.9,5,600,77),reverse = True))# decending order

[0, 1, 5, 24, 67.9, 77, 600]
[600, 77, 67.9, 24, 5, 1, 0]

In [30]:
a = 10
b = 100
add1 = a + b
print(add1)

110

In [31]:
a2 = 20
b2 = 200
add2 = a2 + b2
print(add2)

220

### 2. User-defined functions
**Syntax**

```python
def function_name(parmeter1, parameter2,....):
    block of statement
function_name(20, 200, .....)```

In [32]:
def addition1(a3, b3):
    return a3 + b3

In [33]:
addition1

In [34]:
addition1(10,100)

110

In [35]:
addition1(20, 200)# code reusable

220

In [36]:
type(add1)

int

In [37]:
type(addition1)

function

#### Types of function arguments
1. Default argument
2. Keyword argument
3. Variable length argument
4. Keyword length argument

**1. Default argument**

In [38]:
def student_details(roll, branch, year = 2): # year is default argument
    return roll, branch, year

In [39]:
student_details('203H1A0553', 'cse')

('203H1A0553', 'cse', 2)

**2. Keyword argument**
- keyword is nothing but parameter
    - Syntax: keyword = value

In [40]:
def student_details2(roll, branch, year):
    return roll, branch, year

In [41]:
student_details2(roll = '203H1A0545', branch = 'IT', year = 2)

('203H1A0545', 'IT', 2)

**3. Variable Length Argument**
- Syntax: *argument

In [47]:
def second_years_subject(sub1, sub2, *sub3):
    return sub1, sub2, sub3

In [49]:
second_years_subject('python', 'ml', 'ai', 'iot','java', 'os','maths')

('python', 'ml', ('ai', 'iot', 'java', 'os', 'maths'))

**4. Keyword length argument**
- syntax: **argument

In [50]:
def students(branch, **year):
    return branch, year

In [51]:
students(branch = 'CSE', year = (1,2,3,4))

('CSE', {'year': (1, 2, 3, 4)})

In [52]:
def even_Odd(number):
    if number%2 == 0:
        return number
    else: 
        return False

In [54]:
even_Odd(21)

False

In [55]:
even_Odd(22)

22

In [56]:
def isPrime(number2):              # let number2 = 11
    for i in range(2,number2):     # i = 2, 3,4,5.....10
        if number2%i == 0:         # if   11%2 == 0,   11%3 == 0
            return False
        return True

In [60]:
print(isPrime(11))
print(isPrime(18))
print(isPrime(19))

True
False
True

In [64]:
for i in range(2, 100): # i = 2,3,4,5,6,....97,98, 99.
    if isPrime(i):
        print(i, end = '\t')

3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

### Data Structures in Python
- Used to collection of values with different data types
    1. List
    2. Tuple
    3. Dictionary
    4. Sets

### 1. List
- List is used to store collection of values with different data types
- Lists are orderd, indexed and **mutable**.
    - mutable means we can change/modify the list of values
- inbuilt function is 'list()'
- represented [ ]

In [65]:
# Create a List
list1 = []     # empty list
list2 = list() # empty list using in-built function

In [66]:
list1

[]

In [67]:
list2

[]

In [68]:
list3 = [10, 3.1, 45, 780, 99.9, 7]

In [74]:
print(type(list3))

# use in-built functions
print('no of values: ', len(list3))
print('Sum of values: ', sum(list3))
print('Sort in ascending order: ', sorted(list3))
print('Sort in desceding order: ', sorted(list3, reverse = True))
print('max value: ', max(list3))
print('min value: ', min(list3))

<class 'list'>
no of values:  6
Sum of values:  945.0
Sort in ascending order:  [3.1, 7, 10, 45, 99.9, 780]
Sort in desceding order:  [780, 99.9, 45, 10, 7, 3.1]
max value:  780
min value:  3.1

### Indexing and Slicing

In [75]:
list4 = ['AI', 789, 900.9, 'Data Analysis', 44, 5.4]
list4

['AI', 789, 900.9, 'Data Analysis', 44, 5.4]

In [77]:
print(list4[0])  # 1st value
print(list4[-1]) # last value

AI
5.4

In [82]:
print(list4[1:4])
print(list4[2:])# from 2nd index value onwords
# except 1st and 2nd values, it generates remaining all values

print(list4[::-1])#  reverse
print(list4[1::3])# from 1st index, it prints every 3rd values
print(list4[0::3])# from 0th index, it prints every 3rd value

[789, 900.9, 'Data Analysis']
[900.9, 'Data Analysis', 44, 5.4]
[5.4, 44, 'Data Analysis', 900.9, 789, 'AI']
[789, 44]
['AI', 'Data Analysis']

In [83]:
# List are mutable(can able to change the value, can delete the value, can add the value)
list4

['AI', 789, 900.9, 'Data Analysis', 44, 5.4]

In [85]:
list4[0] = 'Artificial Intelligence'

In [86]:
list4 # 0th index value has been changed

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 5.4]

### List methods

In [87]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**append(), extend() --> used to add values in list**

In [88]:
# append(): can add at a time one value at the end of the list

In [89]:
list4

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 5.4]

In [90]:
list4.append(999)

In [91]:
list4

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 5.4, 999]

In [92]:
# extend(): to add multiple values in list

In [93]:
list4.extend(('Python', 1, 2.2))

In [95]:
print(list4)

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 5.4, 999, 'Python', 1, 2.2]

**pop(), remove()--> used to remove the values from list**

In [96]:
list4.pop() # pop() method will remove last value by default

2.2

In [98]:
print(list4)

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 5.4, 999, 'Python', 1]

In [100]:
list4.pop(-4) #by using index value, we can remove specific value.

5.4

In [101]:
list4

['Artificial Intelligence', 789, 900.9, 'Data Analysis', 44, 999, 'Python', 1]

In [102]:
list4.remove(900.9)

In [103]:
list4

['Artificial Intelligence', 789, 'Data Analysis', 44, 999, 'Python', 1]

**count()**

In [104]:
list5 = ['a', 'b', 'a', 22, 55, 'a', 22, 89, 'a']

In [107]:
print(list5.count('a'))
print(list5.count(22))

4
2

In [108]:
list5.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

- Take a list with different datatype values.
    - if value is integer, add that value in "int_list"
    - if value is not integer, add that value in "non_int_list"

In [113]:
list6 = [12, 400, 'apssdc', 77.0, True, 'KLMCEW', 399, 27, False]
int_list = []
non_int_list = []

for i in list6:
    if type(i) == int:
        int_list.append(i)
    else:
        non_int_list.append(i)

In [114]:
print(int_list)
print(non_int_list)

[12, 400, 399, 27]
['apssdc', 77.0, True, 'KLMCEW', False]

In [110]:
type(12)

int

In [111]:
type(12) == int

True

In [112]:
type('apssdc') == int

False

### Tuple
- Tuple are used to store collection of different data type values
- Tuples are **immutable(cannot change)**
- in-built: tuple()
- represented as ( )

In [117]:
## create a tuple
tuple1 = tuple()# empty tuple

In [118]:
tuple3 = (1)
type(tuple3)

int

In [119]:
tuple4 = (1,) # for storing single value in tuple, give ","
type(tuple4)

tuple

In [120]:
tuple5 = (45, 'A', 77.9, 90)

In [122]:
print(tuple5[0])
print(tuple5[-1])

45
90

In [123]:
# tuples are immutable(we cannot able to change the values of tuple)
tuple5[0] = 400

TypeError: 'tuple' object does not support item assignment