# Task on Data Analysis Assessment

## 1. What will be the output of the following python programming

In [ ]:
def foo(x):
    x[0] = ['def'] 
    x[1] = ['abc'] 
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))

* a) Error
* b) None
* c) False
* d) True

* q is modified inside the function foo(), and since lists are mutable in Python,the changes made to q persist outside the function.
* The id(q) returns the identity of the modified list q inside the function.
* Therefore, id(q) == foo(q) is expected to be True.
* This is because the identity of the list q is indeed the same as the value returned by the foo() function, as both refer to the same modified list.

In [4]:
print(id(q) == foo(q))

True

### Correct answer is
d) True

## 2. What will be the output of the following Python code

In [ ]:
def fun():
    try:
        return 1
    finally:
        return 2
k = fun()
print(k)

* a) error,there is more than one return statement in asingle try-finally block
* b) 1
* c) 1  2
* d) 2

## Explanation
* In this code, the fun() function contains both a try block and a finally block. 
* The try block returns the value 1, and the finally block returns the value 2. 
* When a finally block is present, it will always be executed, regardless of whether an exception was raised in the try block or not.

* Since the finally block always executes, 
* the final result of the function is the value returned in the finally block (2 in this case).

* Therefore, when you call fun() and assign the result to k, the value of k will be 2.

In [5]:
def fun():
    try:
        return 1
    finally:
        return 2
k = fun()
print(k)

2

## 3. What will be the output of the following code snippet

* a)Local
* b)Global
* c) None
* d) Cannot be predicted

In [6]:
def func(): # you define a function func() that uses the global keyword to refer to the global variable value
    global value # you have a global variable value initially set to "Global".
    value = "Local" # assign it the value "Local".

value = "Global" # value is initially set to "Global."
func() # The function func() is called, which changes the value of the global variable value to "Local" using the global keyword.
print(value) # print the value of the global variable value outside the function.

Local

### Correct answer is 
a) Local

## 4) __________ exceptions are raised as a result of an error in opening a particular file

a) ValueError
b) TypeError
c) ImportError
d) IOError

a) ValueError: ValueError is generally raised when a built-in operation or function receives an argument of the correct type but an inappropriate value. It is not specifically related to file operations.

b) TypeError: TypeError occurs when an operation or function is applied to an object of an inappropriate type. Similar to ValueError, it's not directly related to file operations.

c) ImportError: ImportError is raised when there is an error in importing a module. It is not specifically related to file operations.

d) IOError: IOError, or Input/Output Error, is raised when there's an issue with input or output operations, such as opening, reading, or writing to a file. It is commonly associated with file-related errors, including problems with opening a file.

In the context of the question, when there is an error in opening a particular file, the appropriate exception to be raised is IOError. This exception indicates that there's an issue with the input/output operations involving the file, such as if the file doesn't exist or if there are permission issues.

### So, the correct answer is 
* d) IOError.

## 5) In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed

a) x = 13 // 2
b) x = int(13 / 2)
c) x = 13 % 2
d) All of the mentioned

In Python, the type of a variable is dynamically determined at runtime, and you don't need to explicitly specify types in most cases. Let's analyze the given operations:

a) x = 13 // 2: This performs integer division, and the result is 6 (the floor division of 13 by 2). The type of x will be an integer.

b) x = int(13 / 2): Here, you're explicitly converting the result of the division to an integer using the int() function. The result is 6, and the type of x will be an integer.

c) x = 13 % 2: This performs the modulus operation, and the result is 1. The type of x will be an integer.

So, all three options involve integer operations, and the type of x in all cases will be an integer.
 
 
### Therefore, the correct answer is:

d) All of the mentioned

## 6. What  will be the output  of the following pthon code

* a) IndexError
* b) NameError
* c) TypeError
* d) SyntacticalErroor

In [9]:
t[5]

NameError: name 't' is not defined

## Explanation
The expression t[5] refers to indexing an element at position 5 in a sequence t. Here are the possibilities for the given options:

a) IndexError: This error occurs when you try to access an index that is out of range for the given sequence. If t has less than 6 elements (indexing is 0-based), attempting to access t[5] will result in an IndexError.

b) NameError: This error occurs when trying to use a variable or a name that is not defined. If t is not defined before using t[5], a NameError will occur.

c) TypeError: This error occurs when an operation is applied to an object of an inappropriate type. However, indexing is not related to type errors directly.

d) SyntaxError: This error occurs due to a mistake in the syntax of the code. It is not applicable here since t[5] is syntactically correct.

### Given the context, the most appropriate option is:

b) NameError

## 7) A while loop is used for indefinite iteration.

a) Indefinite
b) Discriminant
c) Definite
d) Indeterminate

## Explanation
Here's what each term means in the context of loops:

a) Indefinite: A loop where the number of iterations is not known in advance, and the loop continues until a certain condition is met.

b) Discriminant: This term is not commonly used in the context of loops. It generally refers to a feature that distinguishes different cases.

c) Definite: A loop where the number of iterations is known in advance, and the loop continues for a specified number of times.

d) Indeterminate: This term is often used interchangeably with "indefinite" in the context of loops. It means that the exact number of iterations is not determined beforehand.

In the case of a while loop, it continues to iterate as long as a specified condition is true, making it an indefinite iteration. 

### Therefore, the correct answer is:

a) Indefinite

## 8. What will be the output  of the following Python code

* a) a b c d e f 
* b) abcdef
* c) i i i i ....
* d) Error

In [7]:
x = "abcdef"
# You didn't initialize the variable i before using it in the while loop.
while i in x: # The while loop condition is using i in x, but since i is not defined
    
    print(i, end=" ")
    
# Here's the issue:

# it will result in a NameError. Additionally, if i were defined, the condition 
# would check whether the value of i is in the string x, which might not be the intended behavior.

NameError: name 'i' is not defined

### Here's Corret answer is :
 d) Error 
* it will result in a NameError. Additionally, if i were defined, the condition 
*  would check whether the value of i is in the string x, which might not be the intended behavior.

## 9. What is main advantage of using decorators in Python  
* a) They make the code more complex 
* b) simplify the syntax of the decorated functions
* c) They reducxe the performance of the code 
* d) They provide additional security features 

### Correct option is 
b) Simplify the syntax of the decorated functions

## 10. If return statement is not used inside the function, the funtion will return 
* a) None
* b) 0
* C) Null
* d) Arbitary Value

### Correct Option is 
a) None

## 11. When a function is defined inside a class it is called as method

* a) Class
* b) Function
* c) Method
* d) Module

### Explanation

Class:

A blueprint for creating objects.

Function:

A block of reusable code.

Method:

A function associated with a class.

Module:

A file containing reusable Python code.

### Correct Option is
c) Method

## 12. Which operator is used in python to import modules from packages 
* a) .
* b) *
* c) ->
* d) &

### Correct Option is

a) .

## 13.

In [ ]:
def getMonth(m):
    if m<1 or m>12:
         raise ValueError("Invalid")
    print(m)
getMonth(6)

* a)ValueError
* b) Invalid
* c) 6
* d) ValueError('Invalid')

### Explanation

In [8]:
def getMonth(m): # Defines a function named getMonth that takes a parameter m
    if m<1 or m>12: # Checks if the value of m is less than 1 or greater than 12.
        raise ValueError("Invalid") # If the condition is true (i.e., m is not between 1 and 12), raises a ValueError with the message "Invalid."
    print(m) # If the condition is false, prints the value of m.
getMonth(6) # Calls the getMonth function with the argument 6.

# So, when you run the code with getMonth(6), it will print 6 without raising a ValueError.

6

## 14. In python programming Language syntax error is detected by _____ at ____
* a) Interpreter/Compile Time
* b) RunTime/Interpreter
* c) Interpreter/Runtime
* d) Compile time/Runtime

* In python programming Language syntax error is detected by Interpreter at Run time
* c) Interpreter/Runtime

## 15.
* a) Both book1 and book2 will have reference to two different objects of class Book
* b) id(book1) and id(book2) will have same value 
* c) It will throw an Error as multiple references to same object is not possible
* d) None of the above

In [11]:
# In the provided code, you've defined a class named Book with an __init__ method that initializes 
# an instance of the class with an author attribute. Then, 
# you create two instances of the Book class, book1 and book2.
 
class Book: # Defines a class named Book
    def __init__(self,author): # __init__ method to initialize instances with an author attribute.
            self.author=author
book1=Book("V.M.Shah") # Creates an instance of the Book class named book1 with the author set to "V.M.Shah."
book2=book1 # Creates another reference (book2) to the same object that book1 refers to. Both book1 and book2
# now point to the same instance of the Book class.

# Now, both book1 and book2 reference the same instance of the Book class, and 
# any changes made to the object through one variable will be reflected in the other.

In [12]:
id(book1)

2931650400656

In [13]:
id(book2)

2931650400656

### Correct Option is 
 b) id(book1) and id(book2) will have same value

# Data Analysis Module

## df

In [15]:
import pandas as pd

data = {
    'Date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-10', '2024-01-09', '2024-01-08']),
    'Category': ['Beverage', 'Food', 'Beverage', 'Beverage', 'Beverage', 'Food'],
    'Product': ['Cappuccino', 'Croissant', 'Espresso', 'Latte', 'Latte', 'Muffin'],
    'CustomerID': ['C004', 'C002', 'C001', 'C001', 'C003', 'C002'],
    'Quantity': [1, 2, 2, 3, 1, 1],
    'UnitPrice': [3, 2, 2, 3.5, 3.5, 2.5]
}

df = pd.DataFrame(data)

print(df)

        Date  Category     Product CustomerID  Quantity  UnitPrice
0 2024-01-01  Beverage  Cappuccino       C004         1        3.0
1 2024-01-02      Food   Croissant       C002         2        2.0
2 2024-01-03  Beverage    Espresso       C001         2        2.0
3 2024-01-10  Beverage       Latte       C001         3        3.5
4 2024-01-09  Beverage       Latte       C003         1        3.5
5 2024-01-08      Food      Muffin       C002         1        2.5

##  16. How to  Create a new column Revenue which has value equals to the Quantity * UnitPrice of the current row
* a)df['Revenue'] = df['Quantity'] * df['UnitPrice']
* b)df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=1)
* c)df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=0)
* d)df['Revenue'] = df['Quantity'] ** df['UnitPrice']

### Explanation
a)

In [17]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']
df['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

b)

In [22]:
df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=1)

In [23]:
df['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

c)

In [25]:
df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=0)

KeyError: 'Quantity'

d)

In [27]:
df['Revenue'] = df['Quantity'] ** df['UnitPrice']

In [29]:
df['Revenue'] # power so wrong

0     1.000000
1     4.000000
2     4.000000
3    46.765372
4     1.000000
5     1.000000
Name: Revenue, dtype: float64

## Correct Answers are 
a) & b)

## 17. What is the syntax to find Categorical wise revenue
* a) df.groupby('Category')['Revenue'].mean()
* b) df.groupby('Category')['Revenue'].sum()
* c) df.groupby('Category')['Revenue'].agg(np.sum)
* d) df.groupby('Category')['Revenue'].agg('sum')

### Explanation
a)

In [31]:
df.groupby('Category')['Revenue'].mean()

Category
Beverage    13.191343
Food         2.500000
Name: Revenue, dtype: float64

b)

In [32]:
df.groupby('Category')['Revenue'].sum()

Category
Beverage    52.765372
Food         5.000000
Name: Revenue, dtype: float64

In [33]:
df.groupby('Category')['Revenue'].agg(np.sum)

NameError: name 'np' is not defined

In [34]:
df.groupby('Category')['Revenue'].agg('sum')

Category
Beverage    52.765372
Food         5.000000
Name: Revenue, dtype: float64

### Correct options are 
b) & c)

### 18. To find the average quantity wrt t date and product what is the correct syntax?
* a) df.groupby(['Date', 'Product'])['Quantity'].avg()
* b) df.groupby(['Date', 'Product'])['Quantity'].mean()
* c) df.groupby(['Product', 'Date'])['Quantity'].avg()
* d) df.groupby(['Date', 'Mean'])['Quantity'].mean()

a)

In [35]:
df.groupby(['Date', 'Product'])['Quantity'].avg()

AttributeError: 'SeriesGroupBy' object has no attribute 'avg'

b)

In [36]:
df.groupby(['Date', 'Product'])['Quantity'].mean()

Date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-08  Muffin        1.0
2024-01-09  Latte         1.0
2024-01-10  Latte         3.0
Name: Quantity, dtype: float64

c)

In [37]:
df.groupby(['Product', 'Date'])['Quantity'].avg()

AttributeError: 'SeriesGroupBy' object has no attribute 'avg'

d)

In [38]:
df.groupby(['Date', 'Mean'])['Quantity'].mean()

KeyError: 'Mean'

### Correct option is
b)

### 19.Categorical wise revenue for Bevarage and Food respectively are 
* a) 28.5 , 6.0
* b) 6.0 , 27.5
* c) 28.5 ,7.0
* d) 7.0 , 28.5

In [40]:
# 19. average quantity wrt to date and product
result = df.groupby('Category')['Revenue'].sum()

print(result['Beverage'], result['Food'])

52.76537180435969 5.0

## 20. Using transform, What is the syntax to create a column which has a unitprice difference wrt its category mean

* a) df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())
* b) df.groupby('Category')('UnitPrice').transform(lambda x: x - x.mean())
* c) df.groupby['Category']['UnitPrice'].transform(lambda x: x - x.mean())
* d) df.groupby(['Category','UnitPrice']).transform(lambda x: x - x.mean())

a)

In [41]:
df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

b)

In [42]:
df.groupby('Category')('UnitPrice').transform(lambda x: x - x.mean())

TypeError: 'DataFrameGroupBy' object is not callable

c)

In [43]:
df.groupby['Category']['UnitPrice'].transform(lambda x: x - x.mean())

TypeError: 'method' object is not subscriptable

d)

In [44]:
df.groupby(['Category','UnitPrice']).transform(lambda x: x - x.mean())

TypeError: Could not convert Espresso to numeric

### Correct option is 
a)

## 21. What is the correct syntax to get data wrt 'Monday'
* a) df.groupby(df.Date.dt.day_name()).get_group('Monday')
* b) df.groupby(df.Date.dt.dayname()).get_group('Monday')
* c) df.groupby(df.Date.dt.dayofweekname()).get_group('Monday')
* d) df.groupby(df.Date.dt.day_of_weekname()).get_group('Monday')

a)

In [45]:
 df.groupby(df.Date.dt.day_name()).get_group('Monday')

        Date  Category     Product CustomerID  Quantity  UnitPrice  Revenue
0 2024-01-01  Beverage  Cappuccino       C004         1        3.0      1.0
5 2024-01-08      Food      Muffin       C002         1        2.5      1.0

b)

In [46]:
df.groupby(df.Date.dt.dayname()).get_group('Monday')

AttributeError: 'DatetimeProperties' object has no attribute 'dayname'

c)

In [47]:
df.groupby(df.Date.dt.dayofweekname()).get_group('Monday')

AttributeError: 'DatetimeProperties' object has no attribute 'dayofweekname'

d)

In [48]:
df.groupby(df.Date.dt.day_of_weekname()).get_group('Monday')

AttributeError: 'DatetimeProperties' object has no attribute 'day_of_weekname'

### Correct Option is 
a)

## 22. Which of the following statements is / are true 
* a) apply() can be applied on rows 
* b) Aplly function can't be applied on rows 
* c) Apply applies the function on the entire series at a time
* d) Apply applies the function one cell at a time 

### Correct option is
c) Apply applies the function on the entire series at a time

##  23. Which of the following statements is / are true
* a) Map applies the functionality on entire DataFrame
* b) Applymap applies the functionality on series be it ro or a column
* c) Apply and Map are vectorized applications
* d) None of the above

### The correct statement is:

c) Apply and Map are vectorized applications

In [49]:
data = {
    'Date': pd.to_datetime(['2024-01-10', '2024-01-11', '2024-01-10', '2024-01-12', '2024-01-11', '2024-01-12']),
    'Region': ['North', 'South', 'East', 'West', 'North', 'East'],
    'Salesperson': ['Ajay', 'Balu', 'Chirag', 'Ajay', 'Balu', 'Chirag'],
    'Product': ['Notebook', 'Pen', 'Notebook', 'Pen', 'Binder', 'Binder'],
    'Quantity': [5, 10, 7, 15, 20, 10],
    'UnitPrice': [12, 3, 12, 3, 5, 5]
}

df1 = pd.DataFrame(data)

df1

        Date Region Salesperson   Product  Quantity  UnitPrice
0 2024-01-10  North        Ajay  Notebook         5         12
1 2024-01-11  South        Balu       Pen        10          3
2 2024-01-10   East      Chirag  Notebook         7         12
3 2024-01-12   West        Ajay       Pen        15          3
4 2024-01-11  North        Balu    Binder        20          5
5 2024-01-12   East      Chirag    Binder        10          5

## 24. create a pivot table with index ass Nort and South and Columns as Product Where values are sum of Quantities Sold
* a) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')
* b) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
* c) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
* d) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

a)

In [50]:
df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')

Product  Binder  Notebook   Pen
Region
North      20.0       5.0   NaN
South       NaN       NaN  10.0

b)

In [51]:
df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

ValueError: Grouper for 'Product' not 1-dimensional

c)

In [52]:
df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

ValueError: Grouper for 'Product' not 1-dimensional

d)

In [53]:
 df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

ValueError: Grouper for 'Product' not 1-dimensional

### Correct answer is 
a)

## 25. Which of the following statements is/are True 
* a) .iloc method includes the last element when used for slicing
* b) .loc method doesn't includes the last element when used for slicing
* c) .loc method includes the last element and pass default integer index of rows when slicing
* d) None of above


### Correct answer is 
c)

### 26. Using a pivot table is it possible to create a multi-index dataframe ,if so what is the syntax  to have a multi index of date and region, with total product sold as values
* a) No we can't create a multiindex table using pivot table 
* b) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')
* c) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')
* d) None of these

b)

In [54]:
 df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

Product            Binder  Notebook   Pen
Date       Region
2024-01-10 East       NaN       7.0   NaN
           North      NaN       5.0   NaN
2024-01-11 North     20.0       NaN   NaN
           South      NaN       NaN  10.0
2024-01-12 East      10.0       NaN   NaN
           West       NaN       NaN  15.0

c)

In [55]:
df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')

TypeError: DataFrame.pivot_table() got an unexpected keyword argument 'agg'

### Correct answer is 
b)

## 27. What does the margins parameter in pivot_table() allows to include in the pivot table
* a) Additional margins and subtotals for rows and columns 
* b) A list  of column names to exclude from the pivot table 
* c) The number of rows and columns to skip at the beginning of the pivot table 
* d) The maximum number of rows and columns to display in the pivot table

### Correct answer is 
a)

## df2

In [57]:
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']
}

df2 = pd.DataFrame(data)

df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

## 28. If we choose to imputing missing values in Price Col by Chaining ffill() and bfill() while limiting the imputation to 1,1 respectively , how many missing values will be left post imputation
* a) 2
* b) 0
* c) 1
* d) 3

In [58]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)

In [60]:
df2

    Fruits  Price
0    apple    NaN
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple    NaN
18   grape    NaN

### Correct answer is 
d) 3

## 29. What kind of missing values handling technique is appropriate for df2
* a) Imputing Price col with Price's mean 
* b) Imputing Price col with Price's median
* c) Imputing Price col with Individual fruits Price's median 
* d) Dropping missing values

### Correct option is 
c) imputing price col with individual fruits prices median

## 30. If we choose to impute missing values in price col by with individual fruit's price's mean, how many missing values will be post imputation
* a) 2
* b) 0
* c) 1
* d) 3

In [63]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.median()))

In [64]:
df2

    Fruits  Price
0    apple  200.0
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple  200.0
18   grape   35.0

### correct answer is 
b) 0

## 31. a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]) What will be the output of a.interpolate() 
* a) [nan,1.0,2.0,2.3,2.7,3.1,3.5,4.0,5.0,7.0]
* b) [nan,1.0,2.0,2.5,2.9,3.3,3.8,4.0,5.0,7.0]
* c) [nan,1.0,2.0,2.4,2.8,3.2,3.6,4.0,5.0,7.0]
* d) Error

In [68]:
import numpy as np

In [69]:
a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7])

a.interpolate()

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

### Correct answer is 
c)

## 32. What is the use of the normalization parameter in the crosstab method of pandas 
* a) It is used to normalize values by dividing them by the total count 
* b) to add margins
* c) ther is no parameter called as normalize in crosstab
* d) Both a & c

###  Correct answer is 
a)

### df3

In [71]:
data = {
    'Age Group': ['26-35', '18-25', '18-25', '26-35', '18-25', '18-25'],
    'Favorite Color': ['Blue', 'Red', 'Red', 'Blue', 'Red', 'Blue'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Has Pet': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
}

df3 = pd.DataFrame(data)

print(df3)

  Age Group Favorite Color  Gender Has Pet
0     26-35           Blue    Male     Yes
1     18-25            Red  Female     Yes
2     18-25            Red    Male     Yes
3     26-35           Blue  Female     Yes
4     18-25            Red  Female     Yes
5     18-25           Blue  Female      No

## 33. What is the probabilty of finding a Male  and having a Pet in df3
* a)0.333
* b)0.666
* c)0.5
* d)0.1667

In [72]:
total_observations = len(df3)
male_and_has_pet = len(df3[(df3['Gender'] == 'Male') & (df3['Has Pet'] == 'Yes')])
probability = male_and_has_pet / total_observations

In [73]:
probability

0.3333333333333333

### Correct answer is
a)

## 34. What is the probabilty of finding a person having Pet given they belong to the age group 18-25 in df3 
* a) 0.25
* b) 0
* c) 0.75
* d) 1

In [75]:
age_group_18_25 = len(df3[df3['Age Group'] == '18-25'])
has_pet_and_age_group_18_25 = len(df3[(df3['Age Group'] == '18-25') & (df3['Has Pet'] == 'Yes')])
probability = has_pet_and_age_group_18_25 / age_group_18_25

print(probability)

0.75

### Correct answer is 
c)

##  35. Which distribution is appropriate for modeling the number of defects in a large batch of products
* a) Normal
* b) Binomial 
* c) Bernouli 
* d) Uniform

### Correct answer is 
b) Binomial

## 36. A survey asks participants to rate their satisfaction with product on a scale of 1 to 5 What type of data is being collected 
* a) Categorical data
* b) Ordinal data
* c) Continuous data 
* d) Discrete data

### Correct answers is 
b) Ordinal data

## 37. From given fig. in question , what kind of distribution does the data follow 
* a) Right skewed 
* b) Left skewed
* c) Normal 
* d) Uniform

### Correct answer is 
a) Right skewd

## 38. In data with outliers , what is the best measure to estimate the dispersion
* a) Standard Deviation
* b) Z-score
* c) Median Absolute Deviation
* d) Uniform


### Correct answer is 
c) Median Absolute Deviation