In [ ]:
#python For EveryOne
-----------------------------------------------------------------------------------------------
part I : python basics
01- vairables(assignment operators) + input method + casting + mathematical operators
02- comparasion operators + logical operators
03- if condition
04- every thing about List
05- every thing about tuple
06- every thing about dictionary
07- every thing about string
08- loops + nested loops
09- while loop
10- control behavior of loops (break -contiue-pass)
11- functions
12- define functions
13- calling functions
14- different between return value and none vlaue
15- types of arguments passing to function (required | default argument)
16- pass By object
17- dynamic function
18- recursion
19- Limitations of recursions
20-Anonymous/Lambda Function
21- Errors & Exceptions 
22- Raising an Exception
23- Assertion Errors 
24- Scope --> varible scope (local or global)
25- Tips and Tricks 
26- iTi Labs
---------------------------------------------------------------------------------------------------

In [2]:
#variables (mutable  |   Unmutable )
#lab1 vairables(assignment operators) + input method + casting + mathematical operators 
#--------------------------------------------------------------------------------------
#Resd 1st num
num1 = float(input('plz Enter first num :'))
#read 2nd num
num2 = input('plz enter second num :')
#convert/casting from str to float
#num1 = float(num1) #why num1 ? less variables
num2 = float(num2)
#sum
sumation = num1 + num2
print('Result of sum :',sumation)
#sub
sub = num1 - num2
print('Result of sub:' ,sub)
#multiply
multiyply=num1 * num2
print('result of multiply :',multiyply)

plz Enter first num :22
plz enter second num :11
Result of sum : 33.0
Result of sub: 11.0
result of multiply : 242.0

In [13]:
#lab2 comparasion operators + logical operators +if condition (complex)
#if condition not do any thing cannot be empty (error) so pass word under conditiion
#------------------------------------------------------------
#read age and gender 
gender = input('plz enter your gender :')
age = input('plz enter your age :')
#convert age
age = float(age)
#condition case
if gender =='m' or gender =='male' and age >= 18 : # if  age >= 18 and (gender =='m' or gender =='male') : Right
    print('male okay')
elif gender=='m' or gender=='male' and age < 18 :
    print('male no')
elif gender=='f' or gender=='female' and age >= 20 :
    print('female okay')
elif gender=='f' or gender=='female' and age < 20 :
    print("female no")
else :
    print ('invalid input')

plz enter your gender :m
plz enter your age :18
male okay

In [16]:
#lab3 if condition calculator
#what is different between if and elif
# \ is specail char \n \t \\
#-----------------------------
#read inputs
num1 = input('plz enter 1st num :')
num2 = input('plz enter 2nd num :')
#read operator
op = input ('plz enter operand :')
#convert inputs to numbers
num1=float(num1)
num2=float(num2)
#condition
if op=='+' :
    result=num1 + num2
    print('result :',result)
if op=='-' :
    result=num1 - num2
    print('result :',result)
if op=='*' or op=='x' or op=='X' :
    result=num1 * num2
    print('result :',result)
if op=='/' or op=='\\' :
    result=num1 / num2
    print('result :',result)

plz enter 1st num :10
plz enter 2nd num :10
plz enter operand :x
result : 100.0

In [27]:
#List : collection of values store in one variable 
#(every value have index number start with 0)
#what is differnt between list and array
#list :have differnt Datatypes of values in same list  | #array : have same datatypes of values in same array
#      dynamic length size                             |          fixed lenth size #cannot insert new value 
# EX:  firstlist =[1,12,5.3,44,5,'ayman','ahmed']      |#Ex:     numarray =[11,22,3,4,56,67,7] 
#---------------------------------------------------------------------------------------------------------
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
firstlist[0]

1

In [29]:
firstlist[-1] #return value

'ahmed'

In [30]:
# list [start:end] 
#end index not get it in result      
#return list
firstlist[0:4]

[1, 12, 5.3, 44]

In [31]:
firstlist[1:4]

[12, 5.3, 44]

In [32]:
firstlist[1:]

[12, 5.3, 44, 5, 'ayman', 'ahmed']

In [33]:
firstlist[:]

[1, 12, 5.3, 44, 5, 'ayman', 'ahmed']

In [34]:
firstlist[:-1]

[1, 12, 5.3, 44, 5, 'ayman']

In [72]:
#List Operation + | * | in operator for condition

names=['ahmed','mohamed','ayman']
jobs =['doc','sec','eng']
#first : + operation (cancutnate and return values in list)
names + jobs

['ahmed', 'mohamed', 'ayman', 'doc', 'sec', 'eng']

In [73]:
#second : * cannot (list * list) but can (list * 3)
names * 2

['ahmed', 'mohamed', 'ayman', 'ahmed', 'mohamed', 'ayman']

In [74]:
jobs * 2

['doc', 'sec', 'eng', 'doc', 'sec', 'eng']

In [ ]:
#third : in 
'doc' in jobs

In [ ]:
'Ayman' in names

In [ ]:
if 'ayman' in names :
    print ("ayman in this list :D")
else :
    print ("Bye")

In [35]:
#list  Update |  Insert | Delete

#first : update with any datatype value
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
firstlist[2]='mohamed'
firstlist

[1, 12, 'mohamed', 44, 5, 'ayman', 'ahmed']

In [67]:
#second :insert value
#list.insert(index,value)
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
firstlist.insert(2,'mohamed')
firstlist
firstlist.insert(-1,'mohamed')
firstlist

[1, 12, 'mohamed', 5.3, 44, 5, 'ayman', 'mohamed', 'ahmed']

In [68]:
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
lenth=len(firstlist)
firstlist.insert(lenth,'yes')
firstlist

[1, 12, 5.3, 44, 5, 'ayman', 'ahmed', 'yes']

In [75]:
#third :delete value from list
#first way
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
del(firstlist[2])
firstlist

[1, 12, 44, 5, 'ayman', 'ahmed']

In [70]:
#delete list
firstlist =[1,12,5.3,44,5,'ayman','ahmed']
del[firstlist]
firstlist

NameError: name 'firstlist' is not defined

In [76]:
#second way 
#pop() method return last value from list and delete it
firstlist.pop()

'ahmed'

In [77]:
firstlist

[1, 12, 44, 5, 'ayman']

In [78]:
#third way 
#remove(you want delete it ) method 
firstlist.remove('ayman')

In [79]:
firstlist

[1, 12, 44, 5]

In [80]:
firstlist.remove(1)
firstlist

[12, 44, 5]

In [93]:
#functions of list
numbers=[4,9.9,22,55]
namees=['mohamed','abdalla','hamza','ayman']
#1-lenth
print(len(numbers))
print(len(namees))

4
4

In [94]:
#2-minumam maxinum
print (min(numbers))
print (min(namees))

print (max(numbers))
print (max(namees))

4
abdalla
55
mohamed

In [95]:
#3-append important function add value = insert(len(numbers),value)
numbers[4]=33

IndexError: list assignment index out of range

In [96]:
numbers.append(33)
numbers

[4, 9.9, 22, 55, 33]

In [99]:
numbers.insert(len(numbers),66) # equal append
numbers

[4, 9.9, 22, 55, 33, 66]

In [100]:
#4-count function عدد تكرار قيمه داخل ليست
numbers.append(33)
numbers.count(33)

2

In [102]:
print(numbers)
numbers.count(4)

[4, 9.9, 22, 55, 33, 66, 33]

1

In [109]:
#5-extend function
names=['ahmed','mohamed','ayman']
jobs =['doc','sec','eng']
names.extend(jobs)
print(names)
#after extend names = ['ahmed', 'mohamed', 'ayman', 'doc', 'sec', 'eng'] 
#what is different between + operator and extend function
newlist = names + jobs
newlist

['ahmed', 'mohamed', 'ayman', 'doc', 'sec', 'eng']

['ahmed', 'mohamed', 'ayman', 'doc', 'sec', 'eng', 'doc', 'sec', 'eng']

In [106]:
#6-index function
names.index('mohamed')

1

In [110]:
newlist.index('doc')

3

In [111]:
newlist.count('doc')

2

In [119]:
#7-reverse function
names.reverse()

In [116]:
names

['eng', 'sec', 'doc', 'ayman', 'mohamed', 'ahmed']

In [117]:
#8-sort function
names.sort()
names

['ahmed', 'ayman', 'doc', 'eng', 'mohamed', 'sec']

In [143]:
#lab chalange
x = [1,2,3,4,5]
x[0]=x
print(x)
x[0][0].reverse()
print(x)
x[-1].insert(-1,1)
print(x[:-1])

[[...], 2, 3, 4, 5]
[5, 4, 3, 2, [...]]
[5, 4, 3, 2, 1]

In [172]:
#tuple same as list in collection of different datatypes 
#but fixed lenth size and cannot update values and cannot delete items from tuple
#why you need tuple important in functions
namesT=('ayman','mohamed','hassan',2.2,55)
print (namesT[0])
print (namesT[-1])

ayman
55

In [146]:
namesT[0]='ibrahem'

TypeError: 'tuple' object does not support item assignment

In [148]:
namesT[0:3]

('ayman', 'mohamed', 'hassan')

In [153]:
namesT[:-1]

('ayman', 'mohamed', 'hassan', 2.2)

In [176]:
#tuple operation + | * | in
numT=(11,33,33,55,4)
namesT + numT
print(numT * 2)
11 in numT

(11, 33, 33, 55, 4, 11, 33, 33, 55, 4)

True

In [173]:
#functions of tuples
print(len(namesT))
namet=('ayman', 'mohamed', 'hassan')
min(namet)

5

'ayman'

In [156]:
max(namet)

'mohamed'

In [158]:
del(namesT)
namesT

NameError: name 'namesT' is not defined

In [159]:
type(namet)

tuple

In [164]:
#convet tuple to list
namet=list(namet)
type(namet)

list

In [165]:
namet.append(500)
namet

['ayman', 'mohamed', 'hassan', 500, 500, 500]

In [167]:
namet = tuple(namet)
namet

('ayman', 'mohamed', 'hassan', 500, 500, 500)

In [3]:
#dictionary modern of list not index of value but key
#now key : value 
searchdic={'name':'ayman','age':25}
searchdic['name']

'ayman'

In [4]:
#update values
searchdic['name']='hasssan'
searchdic

{'age': 25, 'name': 'hasssan'}

In [11]:
#functions
#-delete item by key
searchdic={'name':'ayman','age':25}
del(searchdic['age'])
searchdic

{'name': 'ayman'}

In [5]:
##-delete dictionary
del(searchdic)
searchdic

In [8]:
#clear all items in dictionary
searchdic={'name':'ayman','age':25}
searchdic.clear()
searchdic

{}

In [9]:
#convert dictionary to string
searchdic={'name':'ayman','age':25}
str(searchdic)

"{'name': 'ayman', 'age': 25}"

In [12]:
#copy items in dict1 to dict2
searchdic={'name':'ayman','age':25}
dict2=searchdic.copy()
dict2

{'age': 25, 'name': 'ayman'}

In [14]:
#search by key two way
searchdic={'name':'ayman','age':25}
print (searchdic['age'])
print (searchdic.get('age'))

25
25

In [15]:
#get all values in list
searchdic={'name':'ayman','age':25}
searchdic.values()

dict_values(['ayman', 25])

In [16]:
#get all keys in list
searchdic={'name':'ayman','age':25}
searchdic.keys()

dict_keys(['name', 'age'])

In [17]:
#get every key|value in tuple inside list
searchdic={'name':'ayman','age':25}
searchdic.items()

dict_items([('name', 'ayman'), ('age', 25)])

In [21]:
#take keys from list
list1=['name','age','salary','postion']
dict1=dict.fromkeys(list1)
dict1

{'age': None, 'name': None, 'postion': None, 'salary': None}

In [27]:
#string
msg ='my name is ayman'
#get char by location
print(msg[0])
print(msg[-1])
#Slicing
print(msg[:-1])
print(msg[3:])
#special char | Escape characters  \\ \t \n >>>
msg ='my name \\ is ayman'
print(msg)
msg ='my name \t is ayman'
print(msg)
msg ='my name \n is ayman'
print(msg)
#String formating (  percentage %  + character s for string d for decimal )
msg ='my name is %s' % ('ayman')
print (msg)

name= 'mohamed'
age =25
msg ='my name is %s , %d year' % (name,age)
print (msg)
#functions
#1-replace character must use built in functions return message after change only
msg_update=msg.replace('mohamed','ayman')
print(msg_update)
#2-lenth of string
len(msg)
#3-index of char start from index
msg.index('mohamed')
print(msg_in)
#4-capital char
msg.capitalize()
#5-split return list have words in string any (sperator)
msg.split(' ')
##############################################################################################
##Note## important go to https://www.tutorialspoint.com/python/index.htm built in functions ##
##############################################################################################

m
n
my name is ayma
name is ayman
my name \ is ayman
my name 	 is ayman
my name
 is ayman
my name is ayman
my name is mohamed , 25 year
my name is ayman , 25 year
11

['my', 'name', 'is', 'mohamed', ',', '25', 'year']

In [43]:
#loops two way
#why need loops ? asumme that need print chars of string  
msg='my name is ayman'
print(msg[0])
print(msg[1]) 
print(msg[2])
print(msg[3])
print(msg[5])
#first type :for loop
# must Know Start + End + Step
#start 'm'
print(msg[0])
#End   'n'
print(msg[len(msg)-1])
#step  using range function 
num = range(10)
print(num)
num = list(num)
print (num)
number =range(2,10,2)
number = list(number)
print(number)
#----------------------------------------------------
for n in range(10) :
    print(n)
lenth=len(msg)
for s in range(lenth) :
    print(msg[s])

m
y

n
m
m
n
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
0
1
2
3
4
5
6
7
8
9
m
y

n
a
m
e

i
s

a
y
m
a
n

In [51]:
#note# you can print char without index
msg='my name is ayman'
for s in msg :
    print(s)
#for loop with list
name_list=['ahmed','ayman','mohamed']
for name in name_list :
    print(name)
#for loop with dictionary
info_dict = {'name':'ayman','age':25,'gender':'male'}
for key,value in info_dict.items():
    print(key,"........",value)

for key in info_dict.keys():
    print(key)

for value in info_dict.values():
    print(value)

m
y

n
a
m
e

i
s

a
y
m
a
n
ahmed
ayman
mohamed
name ........ ayman
age ........ 25
gender ........ male
name
age
gender
ayman
25
male

In [ ]:
#second type :while loop
#when no start no end no step cannot for loop
#for example: when user press X Quit
#while run with condition why use if Noooo while is loop run multi times not once
num = input('plz enter your number')
#convert
num = int(num)
while num !=0 :
    print('continue')

In [2]:
#nested Loop
#*****
for i in range(5):
    print('*',end='')

*****

In [5]:
#*****
#*****
for line in range(2) :             #for raws
    for i in range(5):             #for coulms
        print('*',end='')
    print('\n')

*****

*****

In [23]:
#*****
#****
#***
#**
#*
step =int(input("plz enter raw number :"))
for line in range(step) :                   #for raws
    for i in range(step):                   #for coulms
        print('*',end='')
    step=step-1
    print('\n')

plz enter raw number :10
**********

*********

********

*******

******

*****

****

***

**

*

In [25]:
#*
#**
#***
#****
#*****
step =int(input("plz enter raw number :"))
start=step-1
for line in range(step) :                   #for raws
    for i in range(step-start):                   #for coulms
        print('*',end='')
    step=step+1
    print('\n')

plz enter raw number :5
*

**

***

****

*****

In [62]:
#   *
#  ***
# *****
raws = int(input("plz enter raw number :"))
coulm = raws-1
indent=raws
for line in range(raws) :                   #for raws
    print(indent*' ',end='')
    for i in range(raws-coulm):                   #for coulms                   
        print('*',end='')    
    raws=raws+2
    indent=indent-1
    print('\n')

plz enter raw number :7
       *

      ***

     *****

    *******

   *********

  ***********

 *************

In [65]:
#10#control behavior of loops 
#1-break : Quit from loop 
#2-continue : cancel this iteration and continue next iteration
#3-pass : not do any thing 
msg ='python'
for ch in msg :
    if ch =='h' :
        break
    else :
        print(ch)
##############################################
msg ='python'
for ch in msg :
    if ch =='h' :
        continue    #cancel iteration + continue
    else :
        print(ch)
##############################################
msg ='python'
for ch in msg :
    if ch =='h' :
        pass
    else :
        print(ch)

p
y
t
p
y
t
o
n
p
y
t
o
n

In [3]:
#*****
#*****
#hello word
#*****
#*****
for line in range(2) :             #for raws
    for i in range(5):             #for coulms
        print('*',end='')
    print('\n')
print('Hello word')
for line in range(2) :             #for raws
    for i in range(5):             #for coulms
        print('*',end='')
    print('\n')
#that is problem the same code repeated in math  5+15  >>>>> 5(1+3) so need function

*****

*****

Hello word
*****

*****

In [ ]:
#11#function
'''
Functions
A function is reusable code that can be called anywhere in your program. Functions improve readability of your code:
it’s easier for someone to understand code using functions instead of long lists of instructions.
'''
#1#define
'''
The def keyword tells Python we have a piece of reusable code (A function). A program can have many functions.
'''
#2#calling

In [4]:
def print_star ():                     #define 
    for line in range(2) :             #for raws
        for i in range(5):             #for coulms
            print('*',end='')
        print('\n')

print_star()                           #function calling
print('hello world') 
print_star()                           #function calling

*****

*****

hello world
*****

*****

In [6]:
#reuse code
#*****
#*****
#*****
#hello word
#*****
#*****
def print_star (raw , col):
    for line in range(raw) :             #for raws
        for i in range(col):             #for coulms
            print('*',end='')
        print('\n')

print_star(3,5)                           #function calling #num of raw 3
print('hello world') 
print_star(2,5)                           #function calling #num of raw 2

*****

*****

*****

hello world
*****

*****

In [1]:
#3#different between return value and none vlaue
def summation(num1 , num2):
    print(num1+num2)

n1=int(input('plz enter num1 :\n'))
n2=int(input('plz enter num2 :\n'))
summation(n1,n2)

#touch difference here
summ=summation(n1,n2)
print(summ)

plz enter num1 :
22
plz enter num2 :
11
33
33
None

In [2]:
def summation(num1 , num2):
    return num1+num2

n1=int(input('plz enter num1 :\n'))
n2=int(input('plz enter num2 :\n'))
#summation(n1,n2)

#touch difference here
summ=summation(n1,n2)
print(summ)

plz enter num1 :
22
plz enter num2 :
1
23

In [ ]:
####note###
#parameter: unkown value determine based in input (like input function in 2.7)
#function can Take OR return any datatype (int float string list tuple dic)

In [3]:
#types of arguments passing to function
#1-required argument
summation(20)

TypeError: summation() takes exactly 2 arguments (1 given)

In [8]:
#2-optional |default arguments 
def print_star (col , raw =1):          #must required first
    for line in range(raw) :             #for raws
        for i in range(col):             #for coulms
            print('*',end='')
        print('\n')

print_star(5)                           #function calling #num of raw default =1
print('hello world') 
print_star(5,4)                           #function calling #num of raw 4

*****

hello world
*****

*****

*****

*****

In [12]:
def print_star (col=1 , raw =1):          
    for line in range(raw) :             #for raws
        for i in range(col):             #for coulms
            print('*',end='')
        print('\n')

print_star()                           #function calling #num of raw default =1
print('hello world') 
print_star()                           #function calling #num of raw default=1
print_star(5,2)
print_star(col=5,raw=2)

*

hello world
*

*****

*****

*****

*****

In [15]:
#5##important## pass By value VS pass BY reference
# There are books which call the strategy of Python call-by-value and others call it call-by-reference.
# You may ask yourself, what is right.
'''
Correctly speaking, Python uses a mechanism, which is known as "Call-by-Object", 
sometimes also called "Call by Object Reference" or "Call by Sharing".
'''
#explained
"""
If you pass immutable arguments like integers, strings or tuples to a function, the passing acts like call-by-value. 
The object reference is passed to the function parameters. They can't be changed within the function, 
because they can't be changed at all, i.e. they are immutable. It's different, if we pass mutable arguments. 
They are also passed by object reference, but they can be changed in place in the function. If we pass a list to a function,
we have to consider two cases: Elements of a list can be changed in place, 
i.e. the list will be changed even in the caller's scope. If a new list is assigned to the name, 
the old list will not be affected, i.e. the list in the caller's scope will remain untouched.
"""
# 
#
def changeme(myvalue):
    myvalue.append([40,50,60])
    print('values in function',myvalue)
mylist=[10,20,30]
changeme(mylist)
print('values out function',mylist)
#edit mylist also because use same version of mylist

values in function [10, 20, 30, [40, 50, 60]]
values out function [10, 20, 30, [40, 50, 60]]

In [4]:
#iam trying
def tryme(myvalue):
    myvalue=myvalue.upper()
    print('values in function',myvalue)
    
mystr='ayman'
tryme(mystr)
print('values out function',mystr)
#####################################################################################
#note# values is different because string is un mutable variable not dynamic like list

('values in function', 'AYMAN')
('values out function', 'ayman')

In [16]:
#when create new reference of variable not edit orignal (mylist)
def changeme(myvalue):
    #create new reference(overwrite old values with new value)
    myvalue =[50,60,70]
    print('values in function',myvalue)
mylist=[10,20,30]
changeme(mylist)
print('values out function',mylist)

##important## best practice when you want create new ref (overwite) do that out of function

values in function [50, 60, 70]
values out function [10, 20, 30]

In [8]:
def ref_demo(x):
    print ("x=",x," id=",id(x))
    x=42
    print ("x=",x," id=",id(x))
x=9
ref_demo(x)


#This means that Python initially behaves like call-by-reference, 
#but as soon as we are changing the value of such a variable, Python "switches" to call-by-value.

('x=', 9, ' id=', 38887912L)
('x=', 42, ' id=', 38889112L)

In [9]:
6#dynamic function in python
#(*)arguments Functions 
def doSum(*args):
    
    sum = 0   
    for i in args: 
        sum += i; 
    print(sum) 
doSum(2,6) 
doSum(2,4,5,15) 
# output: 8 
# output: 26

8
26

In [ ]:
#(**)arguments funcrions
def doSum(**kwargs):   
    for k in kwargs: 
        print(kwargs[k]) 
doSum(x = 2, y=26) # output: 2 
                     #      26

In [11]:
#*args and **kwargs in Python and difference between them
#What is *args:
#*args is used to pass multiple argument values to a function. For example , 
#following method is used to find the average of two numbers :
def find_avg(a,b):
        average = (a+b)/2
        print ("average is ",average)
find_avg(2,3)

#We can pass any two number and it will print out the average result.
#But if you want to find average of 3 numbers, do you want to write a different method for it
#Again for 4 numbers ? Ofcourse we don’t want same styled method for each cases. 
#What we want is we will pass any number of numbers to the same method and it will calculate the average. To achieve this,
#we can use ‘*args’ that allows to pass any number of arguments to a function. Following example shows how :

def find_avg(*numbers):
  sum = 0
  for i in numbers :
    sum += i
  print ("average is ",sum/(len(numbers)))
  print (numbers)
find_avg(2,3)
find_avg(2,3,4)
find_avg(1,2,3,4,5,6,7,8,9,10)

('average is ', 2)
('average is ', 2)
(2, 3)
('average is ', 3)
(2, 3, 4)
('average is ', 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
#What is **kwargs 
#So, ‘*args’ is used to pass variable arguments to a function. Similarly,
#‘**kwargs’ is used to pass variable ‘key-value’ arguments to a function. Example :
def print_values(**values):
  print (values)
print_values(one = 1, two = 2)

{'two': 2, 'one': 1}

In [13]:
#That means, it passes a dictionary as an argument. 
#As it is a dictionary, all dictionary operations can be performed. We can pass any number of key-value pairs :

def print_values(**values):
  for key, value in values.items():
    print("{} = {}".format(key,value))
print_values(one = 1,two = 2,three = 3,four = 4,five = 5)

four = 4
three = 3
five = 5
two = 2
one = 1

In [14]:
#Example to use *args and **kwargs in Function Calls :
def avg_of_two(a,b):
  print ((a+b)/2)
def avg_of_three(a,b,c):
  print ((a+b+c)/3)
var1 = (1,2)
avg_of_two(*var1)
var2 = (1,2,3)
avg_of_three(*var2)

#--------------------------

def avg_of_two(a,b):
  print ((a+b)/2)
def avg_of_three(a,b,c):
  print ((a+b+c)/3)
var1 = {'a':1,'b':2}
avg_of_two(**var1)
var2 = {'a':1,'b':2,'c':3}
avg_of_three(**var2)

1
2
1
2

In [15]:
#Using *args , **kwargs and other variables :
def show_details(a,b,*args,**kwargs):
  print("a is ",a)
  print("b is ",b)
  print("args is ",args)
  print("kwargs is ",kwargs)
show_details(1,2,3,4,5,6,7,8,9)
print("-----------")
show_details(1,2,3,4,5,6,c= 7,d = 8,e = 9)
print("-----------")

('a is ', 1)
('b is ', 2)
('args is ', (3, 4, 5, 6, 7, 8, 9))
('kwargs is ', {})
-----------
('a is ', 1)
('b is ', 2)
('args is ', (3, 4, 5, 6))
('kwargs is ', {'c': 7, 'e': 9, 'd': 8})
-----------

In [16]:
#recursion
#The adjective "recursive" originates from the Latin verb "recurrere",
#which means "to run back". And this is what a recursive definition or a recursive function does: 
#It is "running back" or returning to itself. Most people who have done some mathematics, 
# computer science or read a book about programming will have encountered the factorial, 
#which is defined in mathematical terms as 

#n! = n * (n-1)!, if n > 1 and f(1) = 1 

#definition
#Recursion is a way of programming or coding a problem, in which a function calls itself one or more times in its body.
#Usually, it is returning the return value of this function call. 
#If a function definition fulfils the condition of recursion, we call this function a recursive function.

def factorial(n):
    print("factorial has been called with n = " + str(n))
    if n == 1:
        return 1
    else:
        res = n * factorial(n-1)
        print("intermediate result for ", n, " * factorial(" ,n-1, "): ",res)
        return res  

print(factorial(5))

factorial has been called with n = 5
factorial has been called with n = 4
factorial has been called with n = 3
factorial has been called with n = 2
factorial has been called with n = 1
('intermediate result for ', 2, ' * factorial(', 1, '): ', 2)
('intermediate result for ', 3, ' * factorial(', 2, '): ', 6)
('intermediate result for ', 4, ' * factorial(', 3, '): ', 24)
('intermediate result for ', 5, ' * factorial(', 4, '): ', 120)
120

In [17]:
#adding all numbers in a list.  Without recursion, this could be:
#!/usr/bin/env python
 
def sum(list):
    sum = 0
 
    # Add every number in the list.
    for i in range(0, len(list)):
        sum = sum + list[i]
 
    # Return the sum.
    return sum
 
print(sum([5,7,3,8,10]))

33

In [18]:
#To do this recursively:
def sum(list):
   if len(list) == 1:
        return list[0]
   else:
        return list[0] + sum(list[1:])
 
print(sum([5,7,3,8,10]))

33

In [19]:
#Limitations of recursions
#-------------------------------------------------------------------
#Everytime a function calls itself and stores some memory. Thus, 
# a recursive function could hold much more memory than a traditional function.
#Python stops the function calls after a depth of 1000 calls. If you run this example:

#!/usr/bin/env python
 
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
 
print factorial(3000)

RuntimeError: maximum recursion depth exceeded

In [21]:
#You will get the error:
#RuntimeError: maximum recursion depth exceeded

 #In other programming languages, your program could simply crash.
#You can resolve this by modifying the number of recursion calls such as:

#!/usr/bin/env python
import sys
 
sys.setrecursionlimit(5000)
 
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
 
print factorial(3000)
#but keep in mind there is still a limit to the input for the factorial function. 
#For this reason, you should use recursion wisely. As you learned now for the factorial problem, 
#a recursive function is not the best solution.  
#For other problems such as traversing a directory, recursion may be a good solution.

41493596034378540855568670930866121709511191949318099176894676576975585651235319500860007652178003420075184635383617118495750871114045907794553402161068339611621037904199177522062663390179682805164719697495968842457728766097103003726111095340241127118833157738815328438929737613021106312930374401485378725446079610290429491049793888120762511625132917004641668962117590203575175488980653577868915285093782469994674699190832093511068363824287063522268544339213775150488588104036818809099292912497141900508938994404715351473154531587441509960174267875087460367974117072368747277143988920683691618503608198459718093784453523958505377611086511162363145920886108557450874513945305436213711898150847192094426374203275029996333784944014775671414680824207499914714878359669720638954670589960178569480263388767112871068004950827400717124819476386401369193544354120312786601434792549959143530120653103406625503231020738351502195103148673612338739395096551462159349015789949944072311004426924838140141455487872738045856023561583204317945953055830693351246890721246151468485308724031267967089113548982733475375756899365176396424781733462510879015743437398920492267098317033932107176343983352444576040476565400414414699479984354554597799386702839428513413188913165695310848513525094006147774047007331406541794428004436691903685469270857271701648011512057452448607968773784803660653009109815639091294110633715621540903800135058671624262333902434166628716521228590274568833504897926869369792878376894841436573866436955075473964882256222183380014600761196859217603234808467455216330411738004331144225926243690558782914907973885758784585739828695390302383837265882427654306437517757897215045071361801730051628424476294227485755627828763498767195281368913583918824499284741591683130334032199946752082914885764345863832313545205075955912062067273296951386122994658607527317884452449865348164169238844889061495850934373442889814884427321817131272533891534506581143823381205875379808605080889761753882896252933633750454549168600267229591225528854584482686655324313011353754812409561237686078007700707939541848907149467377854407528307872988103912945121929864793703451257436445581459757140822705986325165352906584571123585270211933452981105568398809884094980346185078025273038736784042169427237980464304250045030806637032760016341921442805708802430850567892108646977455139539119838636167190300278146380136932482332771595180596193069504237836082620570887209297929797429404576877338319877444685544294800321741056689423710545028870419611915072739000031642014474213323293871618029555614004602867400422885389854650328028428515122296028795741801621823236098320971441047012533067314896153236788734984553949604397050352347766211395914519270422122231426998692087463520980686224354813376194395131942868113486531562228173214976481705381846155326596187530296478601160872263640443922257601926494610916885151013143945574398303192557154162151442469122370519149097861849436150963109933639594561796593396851958605338631176324147066842257192394742531726479559749993283247279807896470753054014194090200609712674753186365525403212757757853930697530056595208207457499471898144453772248207888443335118545601568853708182892895218300139654376947286418776665762815389737340159410543681435437346134244692067070082782423645557450882556670157242752810317141640631410681384330924027281318960884813040665226169552825637183862464944295688859393846726723694199475571320546018263425731029115353532728808182773021596787088437293412117084511580629967697266601663635276959969021502122104954259567278593185516268447100374434620422003535391203738393095420695021486207390653190910821344334251497896284236198571674773848126097443055036250866354720730971298084697196537722779893160200560725058007512407494448163392214398118492748281978655178478547749198714138485042290383954090570842038137277135667703565041081780520695032136233521692740531015340921761834078817735674646749071616600653230438902639786065509005309872435445689315601329942407112295015453771521051942445512795364971214872222193729289159833001742397977592530501318837883494884232222507318816399438935627817102875432588794558857742780390717166381257903798149148445526885871629931014510733215554773264576035916184298708323237568837917135073006026738292294687081030751946020376438138677107333779312582257356435534577162804030480925785909747233413932904072239860005448269296110393640127539539899397420021925268928622564959279136369546983247314494094297494213208716963662812963846191378114609210701033012119934264941666449130310898493535366401831282683112506578386425906537197010907276429330534751297336716929415047870949241778121534979499449732358445130210029720359993576507730563696950539990891252004810120090569633144368179194247963563389102486250773367249399801723451627048850149438343735826440053481474957421328873648479589553843836378275601433377798816126854462406494134416119108952653326761627660221130879211665924379496534838030236064294981985541014311566601739518539426008673198564586684635442730180022292607589767192198367529528365158715521887698317999005853121518691037776676883654291247419826099434535671529412823837612115555686210454583810355154404953718470726363218532775486501811002621331228429860926112159573066023932077476742800909462674322138805290643067711276964013735906251051050623568241317651533030775358975134565147424167401517470720839101869989993279364910892687924739705814152855543965954222603919059265825637344676406359525838966981511983959886603683753042017990328185945569412550519066302854869533377682984600031808093822130038102214387057461181304251961916405970456035183121708151658647356556540532928411748628957082856792300053525846377061280591452035546389932127875906349627837975871352588618213252263577038396202737385324908353680497990085701522483303439525197344653342994652565236096742834550523739733902374261808871799283722285366293439240895762913154442106573609205481842139365893867715542842477275100166734357743093638948444564764377184073874379471007867151070449554657626281566137550730763768080600031844296233977808233311359787577136983012817571625671683287281511937336685789437109097748581222868126824122317272681184975207863453107495331708260153159440253645365524453587952034745213429248916644504804355352281977721981971869054884176896398782704782066126921472548618247859626434279190274503452994769367997217285165465591799471789067885687278574470084289723778234763080740919512966238346427839653865017324665850192144091694630371265581197700774682562035198318782913591013997817303635173764706714383992810291224460848320518983248348855131025539721583184931653670732273172995431750775475634748127320956655431851879586978172491721700865768098908327830838240437737974455342525688712898855513180967012497859454290609627370590659970784172738420721605576789060565167694565490120388165775861939230924362983389549857279874523398090499858467484850399509109398834210424693113617875978611803096108774362764990414655167545507613665725914993376114340243762910290384135888531312591132544849225896007184851169390193985434649415483782338302531368775990005443722332901462568184095998830522521585328599833990336595418932696680163265899358234663247080324020429791357425755498549372896192091650794671997121439832581553945835125648010889886887056882711222628734035772418424803231173027338442220604015609242079569493204943809402465562530303328824165302038006041288444384884189129393985971765670211501611340121169355535864984802941563238279447576315042685734269863116562800932164578165410411899078396210758605145091526528422433647230880469088426412525126584729134059195171754291152622002229756986927959124620964363057052133099216422258437651889193630329851223282950806126200573565554213183555838289318138795940962303792777230344423432341561603558590502324475274502630869831414125396371754413611897269158650716722308083435295578401087236027347001118786146233185439431057058483770474806035004556885020602730222256397630738939985024978155182679916994164145540329909813190506654358156657691529068908186204138444091456355291242064901717436430473455191375922914953282988151808740076733486997695322871450791584448703980405737673555777873593937891577147956023340708456392314170118392555234618119775915673385955919265270624063734277760215846511035368057963320714896942663358570375305829676608224208465464558556667889222627619990263961792637457851652540918756608543859661221944248720424960000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
#Anonymous/Lambda Function

#1#What are lambda functions in Python?
In Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Hence, anonymous functions are also called lambda functions.

#2#Syntax of Lambda Function in python

lambda arguments: expression

Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. 
Lambda functions can be used wherever function objects are required.

In [ ]:
#20#Errors & Exceptions 
                                           Errors 
                                             |
            -----------------------------------------------------------------------------------
            |                                |                                                 |
                     
    Syntax Errors                Runtime Errors(called Exceptions)                      Logical Errors 

#1#Syntax Errors
Errors that will show up if you doesn’t follow Python Syntax Rules 

print(“You missed the closing round braces ” 
print(“You missed the closing round braces ”                                          
      ^ SyntaxError: invalid syntax
      
      
#2#Runtime Errors(called Exceptions)
Errors detected during execution are called Exceptions 

print(firstname); 
NameError: name ‘firstname’ is not defined 

#Handling Exceptions Errors & Exceptions 
try:                                              Put the code that you want to run always if there is an exception or not. 
 doTry() 
except:                                           Put the code that you want to handle its exceptions 
 doExcept() 
else:                                             Handle the exception if it raised in the try clause 
 doElse() 
finally:                                           Run when code in try clause run without raising exceptions 
 doFinally() 

#3#Logical Errors

In [1]:
#ZeroDivisionError 
print(5/0)

ZeroDivisionError: integer division or modulo by zero

In [4]:
#SyntaxError
print 'ayman

SyntaxError: EOL while scanning string literal (<ipython-input-4-b5c9b1c86747>, line 1)

In [6]:
#IOError
open("imaginary.txt")

IOError: [Errno 2] No such file or directory: 'imaginary.txt'

In [ ]:
##What are exceptions in Python?
Python has many built-in exceptions which forces your program to output an error when something in it goes wrong.

When these exceptions occur, it causes the current process to stop and passes it to the calling process until it is handled.
If not handled, our program will crash.

In [8]:
##Catching Exceptions in Python
#In Python, exceptions can be handled using a try statement.

import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r)
##note##
#Here, we print the name of the exception using ex_info() function inside sys module and ask the user to try again.
#We can see that the values 'a' and '1.3' causes ValueError and '0' causes ZeroDivisionError.

('The entry is', 'a')
('Oops!', <type 'exceptions.ValueError'>, 'occured.')
Next entry.
()
('The entry is', 0)
('Oops!', <type 'exceptions.ZeroDivisionError'>, 'occured.')
Next entry.
()
('The entry is', 2)
('The reciprocal of', 2, 'is', 0)

In [4]:
#or can Know class of exception without imoprt sys module
try:
    print(5/0)
except Exception as E:
    print(E.__class__)

<type 'exceptions.ZeroDivisionError'>

In [1]:
##Catching Specific Exceptions in Python
#In the above example, we did not mention any exception in the except clause.

####This is not a good programming practice as it will catch all exceptions and handle every case in the same way.
#We can specify which exceptions an except clause will catch.

try:
   # do something
   pass

except ValueError:
   # handle ValueError exception
   pass

except (TypeError, ZeroDivisionError):
   # handle multiple exceptions
   # TypeError and ZeroDivisionError
   pass

except:
   # handle all other exceptions
   pass

#example

num = raw_input('Plz enter your num')
try:
    result = 5/int(num)
    print(result)
except ValueError:
    print('cannot convert sorry plz enter vaild value')

Plz enter your num5
1

In [2]:
num = raw_input('Plz enter your num')
try:
    result = 5/int(num)
    print(result)
except ValueError:
    print('cannot convert sorry plz enter vaild value')

Plz enter your numa
cannot convert sorry plz enter vaild value

In [3]:
num = raw_input('Plz enter your num')
try:
    result = 5/int(num)
    print(result)
except ValueError:
    print('cannot convert sorry plz enter vaild value')

Plz enter your num0

ZeroDivisionError: integer division or modulo by zero

In [4]:
num = raw_input('Plz enter your num')
try:
    result = 5/int(num)
    print(result)
except ValueError:
    print('cannot convert sorry plz enter vaild value')
except ZeroDivisionError:
    print('sorry plz enter vaild value not zero')

Plz enter your num0
sorry plz enter vaild value not zero

In [6]:
num = raw_input('Plz enter your num')
try:
    result = 5/int(num)
    print(result)
except ValueError:
    print('cannot convert sorry plz enter vaild value')
except ZeroDivisionError:
    print('sorry plz enter vaild value not zero')
except Exception as E:                               #general 
    print(E)
finally :                                            #print if exception happens or not
    print('completed')

Plz enter your num5
1
completed

In [9]:
##Raising Exceptions
#In Python programming, exceptions are raised when corresponding errors occur at run time,
#but we can forcefully raise it using the keyword raise.

#We can also optionally pass in value to the exception to clarify why that exception was raised.

try:
     a = int(input("Enter a positive integer: "))
     if a <= 0:
          raise ValueError("That is not a positive number!")
except ValueError as ve:
     print(ve)

Enter a positive integer: -1
That is not a positive number!

In [7]:
try:
     a = int(input("Enter a positive integer: "))
     if a <= 0:
          raise Exception("That is not a positive number!")
except Exception as ve:
     print(ve)

Enter a positive integer: -5
That is not a positive number!

In [11]:
def positive(a): 
    if a <= 0:
        raise Exception("That is not a positive number!")
    return a
        
a = int(input("Enter a positive integer: "))
print(positive(a))

Enter a positive integer: -1

Exception: That is not a positive number!

In [2]:
def positive(a):
    
    if a <= 0:
        raise Exception("That is not a positive number! plz enter positive number?")
    return a
        
a = int(input("Enter a positive integer: "))
try:
    print(positive(a))
except Exception as E:
    print(E)

Enter a positive integer: -3
That is not a positive number! plz enter positive number?

In [14]:
#Assertion Errors 

def printer(x):
    try:
        assert x>0 ,"x less than zero"
        print(x)
    except AssertionError as E:
        print(E)
printer(10)

10

In [15]:
def printer(x):
    try:
        assert x>0 ,"x less than zero"
        print(x)
    except AssertionError as E:
        print(E)
printer(-1)

x less than zero

In [10]:
#21#varible scope (local or global)
total =0 #this is global varible
def summ(num1 , num2):
    #this is loacl variable
    total = num1 + num2
    print('result of summation',total)
summ(10,20)
print('total out',total)

('result of summation', 30)
('total out', 0)

In [23]:
#if i want use same global varible in function use keyword : global
total =0 #this is global varible
def summ(num1 , num2):
    global total
    total = num1 + num2
    print('result of summation',total)
summ(10,20)
print('total out',total)

('result of summation', 30)
('total out', 30)

In [24]:
total =0 #this is global varible
def summ(num1 , num2):
    #this is local variable
    total = num1 + num2
   #print('result of summation',total)
    return(total)

def subt(num1 , num2):
    #this is local variable
    total = num1 - num2
    #print('result of subtract',total)
    return(total)

sumres=summ(10,20)
subres=subt(10,20)
print('total out',total)
print('sumres=',sumres)
print('subres',subres)

('total out', 0)
('sumres=', 30)
('subres', -10)

In [30]:
#22#Tips and Tricks

#1#Sequence Unpacking 
l = [1,13,3,7] 
a,b,c,d = l 
# a=1,b=13,c=3,d=7 
a,*b,c = l 
# a=1,b=[13,3],c=7 
print(b)

In [ ]:
#2#List Comprehension 
It is an easy method to construct a list

 output sequence input
    |           |
[ x**2 for x in range(10)  if x%2 == 0 ]
   |                          |
  variable              Optional Condition 

L = [ x**2 for x in range(10) if x%2 == 0 ] 
#output: [0, 4, 16, 36, 64]

In [38]:
#3#enumerate Function  
languages = ['JavaScript', 'Python', 'Java'] 
for i , l in enumerate(languages): 
 print('Element Value: ' , l) 
 print('Element Index: ' , i)

('Element Value: ', 'JavaScript')
('Element Index: ', 0)
('Element Value: ', 'Python')
('Element Index: ', 1)
('Element Value: ', 'Java')
('Element Index: ', 2)

In [39]:
#4# all & any  
L = [0,5,9,7,8] 
all(L)          #False 
any(L)          #True

True

In [8]:
#23#iTi Labs
#implement your function delete all vowels character
def Replace (string):
    for ch in string :
        if ch=='o' or ch=='i' or ch=='e' or ch =='a':
            pass 
        else :
            print(ch,end='')

In [10]:
stringIN=input('plz enter your strings :')
Replace(stringIN)

plz enter your strings :ahmeeeed
hmd

In [6]:
def Replace (list1) :
    for value in list1:
        for ch in value :
            if ch=='o' or ch=='i' or ch=='e' or ch =='a':
                pass 
            else :
                print(ch,end='')
        print("")

list1 =[]
numOfstrings = int(input('plz enter num of strings :'))
for n in range(numOfstrings):
    stringIN = input('plz enter your strings :')
    list1.append(stringIN)
Replace(list1)

plz enter num of strings :3
plz enter your strings :mobile
plz enter your strings :ahmed
plz enter your strings :mohamed
mbl
hmd
mhmd

In [31]:
#use built-in function help you (translate)
str='mobile'
trantab = str.maketrans("aieon", "     ")
print (str.translate(trantab))

m b l

In [28]:
str = "this is string example....wow!!!";
trantab = str.maketrans(dict.fromkeys('aeoiu'))
print (str.translate(trantab))

ths s strng xmpl....ww!!!

In [35]:
#lab2 ITI
def Replace (stringIN , character) :
        listindex = []
        for ch in range(len(stringIN)) :
            if stringIN[ch] == character:
                listindex.append(ch) 
            else :
                pass
        print(listindex)

stringIN = input('plz enter your strings :')
charIN = input('plz enter your char :')    
Replace(stringIN , charIN)

plz enter your strings :ayman
plz enter your char :a
[0, 3]

In [100]:
#lab LongestWord of sentece 
def LongestWord(sen): 
    table = sen.maketrans(dict.fromkeys('!@#$%^&*(){}|":?><|\~'))
    sen = sen.translate(table)
    sen =sen.split()         #sen now is list
    print(sen)
    ##########################################
    len_w={}
    for word in sen :
        len_w[len(word)]=word
    print(len_w)
    #sen = len_w.get(s)      Or
    sen=len_w[max(len_w.keys())]
    ###########################################
    ##instead of this code can use max function of list take [list,key=len]##
    return(sen)

In [101]:
LongestWord("ahm%#d moha@maed A*&^yman esmael")

['ahmd', 'mohamaed', 'Ayman', 'esmael']
{4: 'ahmd', 8: 'mohamaed', 5: 'Ayman', 6: 'esmael'}

'mohamaed'

In [91]:
#Example of max function
list1=['ahmed','mohamed','abdooooooooo']
max(list1,key=len)

'abdooooooooo'

In [2]:
#write function Max of 3 numbers
def maxOfTwonum(num1,num2):
    if num1 > num2:
        return(num1)
    else :
        return(num2)

def maxofThree(num1,num2,num3):        
    result = maxOfTwonum(num1,num2)
    fin =maxOfTwonum(result,num3)
    return(fin)

maxofThree(10,20,30)

30

In [6]:
#write function to return uniqe elements
def Unique_fun(ununique_list):
    unique=[]
    for element in ununique_list :
        if element not in unique: 
            unique.append(element)
    return(unique)

Unique_fun([1,12,4,4,1,1,3,2,3])

[1, 12, 4, 3, 2]