In [2]:
lst = [1,2,3,4]
print(type(lst))

<class 'list'>

In [3]:
lst1=[(1,2,3,4),(5,6,7,8)]

In [5]:
print(lst1[0])
print(type(lst1[0]))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#Type Conversion! - Functions - Performs operations on objects specified as parameters
list(Parameter1 / Argument1, Parameter2 / Argument2) - Convert this something to a list - list - Name of the function (Parameters)
tuple()
str()
set()
int()
float()
dict()

In [6]:
list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _HashedSeq, StackSummary, _Threads, ConvertingList, DeferredConfigList, _ymd, SList, _ImmutableLineList, FormattedText, NodeList, ...

In [12]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [14]:
a=1.5
type(a)

float

In [18]:
a=str(a)
print(type(a))
print(a[2])

<class 'str'>
5

In [19]:
a

'1.5'

In [20]:
int(a)

ValueError: invalid literal for int() with base 10: '1.5'

In [21]:
a ="     asb"
print(len(a))

8

In [24]:
None

In [27]:
fl=3.14
int(fl)

3

In [28]:
fl="3.14"
int(fl)

ValueError: invalid literal for int() with base 10: '3.14'

In [ ]:
#Decimal Literal
3.0003232
-10.0001
0000001.0000001

In [30]:
a=3.
print(type(a))
print(a)

<class 'float'>
3.0

In [31]:
# Decimal Number System - 1111111110
# Binary Number System - 0 or 1


2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0 - 8bits to gether is a 1-byte

SyntaxError: invalid decimal literal (1149074806.py, line 5)

In [32]:
sum = 0
a = 2
power = 0
sum = sum + (2**(power - Iterate))

NameError: name 'Iterate' is not defined

In [35]:
(2**7)+(2**6)+(2**5)+(2**4)+(2**3)+(2**2)+(2**1)+(2**0)

255

In [40]:
print(2**64 - 1) 
print(type(a))

18446744073709551615
<class 'int'>

In [43]:

#Data Structures
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

In [44]:
list(tuple1)

[1, 2, 3, 4, 5]

In [45]:
set(tuple1)

{1, 2, 3, 4, 5}

In [46]:
dict(tuple1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [49]:
tuple1 = (1,2,3,4)
dict(tuple1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [52]:
tuple1 = ((1,2),(3,4))
dict(tuple1)

{1: 2, 3: 4}

In [53]:
tuple1 = ((1,2,3),(4,5,6))
dict(tuple1)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [55]:
#loops
(2**7)+(2**6)+(2**5)+(2**4)+(2**3)+(2**2)+(2**1)+(2**0)
#Starting Condition
#Increment your power
#Ending Condition - Check if Ending Condition is reached or not!

255

In [ ]:
#Pseudo Code
a=2
power=0
result=0

#Iterator Module - A module which intializes Starting Condition - Increments values - Check exit conditions - Stops if met
power start with 0:
   result = result + (a**power) 
   power +1
   if (power >=7):
      exit
    else:
      loop 7 to 10

Iteration 0: Pre-Iteration power = 0 result = 0

Iteration 1: power = 1 result = 1

Iteration 2: power = 2 result = 5 

Iteration 3: power = 3 result = 13 . . . . . .

Iteration 7: power = 7 result = 255 

Iteration 7: power >= 7 Exit

In [59]:
list(range(0,100)) #This is an Iterable

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [62]:
for i in ranage (1,10):
    print (6*i)

NameError: name 'ranage' is not defined

In [64]:
for i in range (1,10): # Entry control loop, checks the condition and runs the loop if and only if the condition is met
    print (6*i)

6
12
18
24
30
36
42
48
54

In [68]:
#While Loops
i =1 #Starting Initialization
while i<10:
    print(6*i)
    i+=1

6
12
18
24
30
36
42
48
54

## Conditional Statement?

In [69]:

marks = [40,45,42,48,10] #<20 Failed call parents

read each mark in list
check it against condition
if pass ignore
if < 20 = call parents
move to next index

In [91]:
for i in marks:
    print(i,end='')
    if i <20:
        print(': call parents')
    else:
       print(': pass')

40: pass
45: pass
42: pass
48: pass
10: call parents

if :
  STATEMENT
else:
  STATEMENT #Fail Default

### if ... elif .. else

In [95]:
a = 10
if a == 20: #Checking condition "==" is equal?
    print(20)
elif a <20:
    print("Less than 20") #if - Fails - Condition
else:
     print("None of the above")

Less than 20

#### Multiple if satements

In [96]:

a = 10
if a < 20:  #Checking condition "==" is equal?
  print(20)
if a == 10:
  print("Less than 20") #if - Always check - Condition
else:
  print("None of the above")

20
Less than 20

##### Nested If

In [97]:
if a <20:
  if a <=10:
    print(a)

10

In [99]:
len(lst)
print(lst)

[1, 2, 3, 4]

In [102]:
lst = [[1,2,3,5],[2,3,4,5,6]]
for i in lst:
    print (i)
    for j in i:
        print(j)

[1, 2, 3, 5]
1
2
3
5
[2, 3, 4, 5, 6]
2
3
4
5
6

In [104]:
seta = {"apple","banana","jet"}
for i in seta:
  print(i)

apple
banana
jet

In [105]:
a = 300000000000000
for i in a:
  print(i)

TypeError: 'int' object is not iterable

In [107]:
a = 300000000000000

for i in  str(a):
  print(i)

3
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [109]:
dict1 = {"23":65,"22":55}
for i in dict1:
    print(i)
    print(dict1[i])

23
65
22
55