<a href="https://colab.research.google.com/github/Bhaskat/coding/blob/main/ACCENTURE_CODING_PREVIOUS_QUESTIONS_AND_PREPINSTA_100_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def operator(str):
  a=int(str[0])
  i=1
  while i< len(str):
      if str[i]=="A":
          a&=int(str[i+1])
      elif str[i]=="B":
          a|=int(str[i+1])
      else:
          a^=int(str[i+1])
      i+=2
  return a
str=input()
print(operator(str))

0C1A1B1C1C1B0A0
0

**Armsrong** **number**

In [ ]:
n=int(input("Enter a number"))
temp=n
sum=0
while temp>0:
  digit = temp%10
  sum += digit**3
  temp//=10
if n == sum:
    print("Armstrong")
else:
     print(" Not a Armstrong number")

Enter a number371
Armstrong

# **USING POWER

In [ ]:
num = number
digit, total_sum = 0, 0  # Renamed sum to total_sum to avoid shadowing the built-in sum() function
length = len(str(num))

for i in range(length):
    digit = int(num % 10)
    num = num // 10  # Use integer division
    total_sum += pow(digit, length)

if total_sum == number:
    print("Armstrong")
else:
    print("Not Armstrong")

TypeError: 'str' object is not callable

**Accenture question number 4**

In [ ]:
def findCount(n, arr, num, diff):
    count=0
    for i in range(n):
        if(abs(arr[i]-num)<=diff):
            count+=1
    if count:
        return count
    return 0
n=6
arr=[12,3,14,56,77,13]
num=13
diff=2
print(findCount(n, arr, num, diff))

3

**positive or negative number**

In [ ]:
n=int(input("Enter a number"))
if n > 0:
  print("the number is positive")
else:
  print("the number is negatiive")

Enter a number2
the number is positive

**Even or odd number**

In [ ]:
n=int(input("Enter a number"))
if n%2==0:
  print("even")
else:
  print("odd")

Enter a number3
odd

**sum of n natural numbers**

In [ ]:
n=8
sum=0
for i in range(n+1):
  sum+=i
print(sum)

36

FIRST N NATURAL NUMBERS

In [ ]:
n=int(input("enter a number"))
for i in range(1,n+1):
    print(i,end=" ")

enter a number5
1 2 3 4 5

In [ ]:
n =int(input("enter a number"))
for i in range(1,n+1):
  if i%2==0:
    print(i)

enter a number5
2
4

**greater among three numbers**

In [ ]:
num1=int(input("Enter a number"))
num2=int(input("Enter a number"))
num3=int(input("Enter a number"))
if(num1>=num2 and num1>=num3):
    print("num1 is greater")
elif(num2>=num1 and num2>=num3):
    print("num2 is greater")
else:
    print("num3 is grater")

Enter a number3
Enter a number1
Enter a number3
num3 is grater

In [7]:
str="abhi naya"
a=''.join(str.split())
print(a)

abhinaya

In [9]:
c="a"
for i in c:
  if(i=="a"or i=="e"or i=="i"or i=="o"or i=="u"):
    print("vowel")
  else:
    print("consonant")

vowel

In [11]:
c="b"
for i in c:
  if(i=="a"or i=="e"or i=="i"or i=="o"or i=="u"):
    print("vowel")
  elif not c.isalpha():
    print("not alphabet")
  else:
    print("consonant")

consonant

In [14]:
ch="A"
a=ord(ch)
print(a)

65

In [16]:
a=100
b=chr(a)
print(b)

d

In [17]:
str="abhinaya"
count=0
for i in str:
  count+=1
print(count)

8

In [18]:
a="abhinaya"
h=len(a)
print(h)

8

In [20]:
a="1abhi"
if a.isalpha():
  print("alpha")
else:
  print("not alpha")

not alpha

In [21]:
ch="abhi"
if "a"<ch<"b" or "A"<ch<"B":
  print("aplha")
else:
  print("not alpha")

aplha

**prime number or not**

In [ ]:
num = 15
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

Not Prime

**prime number ina range**

In [ ]:
high=int(input("Ente a number"))
low=int(input("Ente a number"))
flag=0
for i in range(low,high+1):

  if n>1:
      for i in range(2,n):
          if n%i==0:
              flag=1
              break
          if(flag==0):
             print(f"the prime of number {high},not prime:")
          else:
            print(f"the prime of number {low},prime:")

Ente a number3
Ente a number27

In [ ]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

def differenceofSum(n. m)

The function accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n.

Assumption:

n>0 and m>0
Sum lies between integral range
Example

Input
n:4
m:20
Output
90

Explanation

Sum of numbers divisible by 4 are 4 + 8 + 12 + 16 + 20 = 60
Sum of numbers not divisible by 4 are 1 +2 + 3 + 5 + 6 + 7 + 9 + 10 + 11 + 13 + 14 + 15 + 17 + 18 + 19 = 150
Difference 150 – 60 = 90
Sample Input
n:3
m:10
Sample Output
19

In [ ]:
n=int(input("Enter a number"))
m=int(input("Enter a number"))
p=0
q=0
for i in range(1,m+1):
  if(i%n==0 ):
    p+=i
  else:
   q+=i
print(abs(q-p))

Enter a number4
Enter a number20
90

You are required to implement the following Function

def LargeSmallSum(arr)

The function accepts an integers arr of size ’length’ as its arguments you are required to return the sum of second largest  element from the even positions and second smallest from the odd position of given ‘arr’

Assumption:

All array elements are unique
Treat the 0th position as even
NOTE

Return 0 if array is empty
Return 0, if array length is 3 or less than 3
Example

Input

arr:3 2 1 7 5 4

Output

7

Explanation

Second largest among even position elements(1 3 5) is 3
Second smallest among odd position element is 4
Thus output is 3+4 = 7
Sample Input

arr:1 8 0 2 3 5 6

Sample Output

8

In [ ]:
length=6
arr=[3,2,1,7,5,4]

even_arr=[]
odd_arr=[]
for i in range(length):


  if i%2==0:


    even_arr.append(arr[i])
  else:
    odd_arr.append(arr[i])
even_arr=sorted(even_arr)
odd_arr=sorted(odd_arr)

print(even_arr[len(even_arr)-2] + odd_arr[len(odd_arr)-2])

7

**sum of digits**

In [ ]:
num = input("Enter Number: ")
sum = 0

for i in num:
    sum = sum + int(i)

print(sum)

Enter Number: 1234
10

In [ ]:
num = int(input("enter a number:"))
sum = 0
for i in str(num):
    sum = sum + int(i)
    print(sum)

enter a number:1234
1
3
6
10

**reverse of a number**

In [ ]:
num=int(input("Enter a number"))
temp=num
reverse=0
while num>0:

    remainder = num % 10
    reverse = (reverse * 10 )+ remainder
    num=num//10
print(reverse)

Enter a number123
321

**Palindrom of a number**

In [ ]:
num = int(input("Enter a number"))
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Enter a number123
Not Palindrome

Int Calculate(int m, int n);

The function accepts 2 positive integer ‘m’ and ‘n’ as its arguments.You are required to calculate the sum of numbers divisible both by 3 and 5, between ‘m’ and ‘n’ both inclusive and return the same.
Note
0 < m <= n

Example

Input:

m : 12

n : 50

Output

90

Explanation:
The numbers divisible by both 3 and 5, between 12 and 50 both inclusive are {15, 30, 45} and their sum is 90.
Sample Input
m : 100
n : 160
Sample Output
510

In [ ]:
def sum(n,m):

  sum1 = 0

  for i in range(n,m + 1):
    if i % 3 == 0 and i % 5 == 0:
      sum1 += i
  return sum1
n=(int(input("enter a number")))
m=(int(input("enter a number")))
output=sum(n,m)
print(output)

enter a number12
enter a number50
90

**fibanocci series**

In [ ]:
n=int(input("ENTER A NUMBER"))
n1=0
n2=1
count=2
if n<0:
  print("enter a positive number")
elif n==0:
  print(n1)
else:
  print(n1)
  print(n2)
while count<n:
  n3=n1+n2
  print(n3)
  count+=1
  n1=n2
  n2=n3

ENTER A NUMBER5
0
1
1 2 3

**Find the Fibonacci Series up to Nth Term in Python Language**

In [ ]:
num=int(input("Enter a number"))
n1=0
n2=1
print(n1,n2, end=" ")
count=2
for i in range(2,num):
  n3=n1+n2
  print(n3,end=" ")
  count+=1
  n1=n2
  n2=n3

Enter a number6
0 1 1 2 3 5

**Factorial of a number**

In [ ]:

n=int(input("enter a number"))
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

enter a number6
1
2
6
24
120
720

**power of a number**

In [ ]:
num=int(input("enter a number"))
power=int(input("enter a number"))

a=pow(num,power)
print(a)

enter a number3
enter a number2
9

**factor of a number**

In [ ]:
n=int(input("enter a number"))

for i in range(1,n+1):
    if n%i==0:
     print(i)

enter a number3
1
3

In [ ]:
num=int(input("enter a number"))
fact=0
sum=0
temp=n

for i in range(i,num+1):
  fact=fact*i
  r=temp%10
  temp=temp//10

sum+=fact
print(sum)
if sum==n:
  print("strong number")
else:
  print("not a strong number")

enter a number4
0
not a strong number

**palindrome in a range**

In [ ]:
lower_limit=10
upper_limit=200
for i in range(lower_limit,upper_limit+1):
  original_number=i
  num=i
  rev=0
  while num>0:
    remainder=num%10
    rev=rev*10+remainder
    num=num//10
  if(original_number==rev):
     print("palindrome numbers are:",original_number)

palindrome numbers are: 11
palindrome numbers are: 22
palindrome numbers are: 33
palindrome numbers are: 44
palindrome numbers are: 55
palindrome numbers are: 66
palindrome numbers are: 77
palindrome numbers are: 88
palindrome numbers are: 99
palindrome numbers are: 101
palindrome numbers are: 111
palindrome numbers are: 121
palindrome numbers are: 131
palindrome numbers are: 141
palindrome numbers are: 151
palindrome numbers are: 161
palindrome numbers are: 171
palindrome numbers are: 181
palindrome numbers are: 191

**PERFECT SQUARE OR NOT**

In [ ]:
from math import sqrt
n=int(input("Enter a number"))
a=int(sqrt(n))
if(a*a == n):
  print("true")
else:
  print("False")

Enter a number64
true

In [ ]:
from math import sqrt
def square_root(n):
  x=int(str(n))
  if x*x ==n:
    return True
  else:
    return False

n=int(input("enter a number"))
a=square_root(n)
print(a)

enter a number84
False

**automorphic number**

In [ ]:

num=int(input())
if int(str(num**2)[-len(str(num))::])==num:


  print("yes")
else:
  print("nno")

25
yes

**harshad number or not**

In [ ]:
n=int(input())
sum=0
p=n
while p>0:
  sum+=p%10
  p=p//10
if (p%sum==0):
    print("Harshad number")
else:
    print("Not a harshad number")

10
Harshad number

In [ ]:

n=int(input())
sum=1
for i in range(2,n):
  if n%i==0:
    sum+=i
if sum>n:
    print("abundant number")
else:
    print("not a abundant number")

12
abundant number

**square star pattern**

In [ ]:
n=int(input("enetr a number"))
for i in range(n):
    for j in range(n):
        print("*" ,end=" ")
    print()

enetr a number4
* * * *
* * * *
* * * *
* * * *

In [ ]:
n=4
for i in range(n):
  for j in range(n):
      if i == 0 or i == n-1 or j == 0 or j == n-1:

          print("*", end="")
      else:
           print(" ",end="")
  print()

****
*  *
*  *
****

**rhombus**

In [ ]:
num=int(input())
for i in range(0,num):
  for j in range(1,i+1):
    print("",end=" ")
  for k in range(0,num):
    print("*",end=" ")
  print()

4
* * * *
 * * * *
  * * * *
   * * * *

In [ ]:
size=5
print("*"*size)

*****

In [ ]:
n=5
for i in range(n):
  print("*",end=" ")

* * * * *

**right angle decreasing triangle pattern**

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

**right angle increasing pattern**

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

**triangle**

In [ ]:
n=5
for i in range(n):
  for j in range(0,n-i-1):
    print(end=" ")
  for k in range(0,i+1):
    print("*", end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

**inverse triangle**

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,n-i):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

note : ikkada n,0,-1 antey start stop step ani mata antey start 5 tho stop 0 tho inka -1 decrement avuthadhi

idhi aa code oo teliyadhu kani inverse triangle lagey vundhi kani end daggara space istey ila print **avutundhi** **bold text**

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,n-i):
    print(" ",end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
def sum_of_even_odd(num):
  odd=0
  even=0
  while num>0:
    digit=num%10
    if num%2==0:
      even+=digit
    else:
      odd+=digit
      num//=10
  return max(even, odd)
num=int(input())
output=sum_of_even_odd(num)
print(output)

KeyboardInterrupt:

In [ ]:
def pyramid(n):
    # Top half of the pyramid
    for i in range(n):
        print(" " * (n - i - 1) + "* " * (i + 1))

    # Bottom half of the pyramid
    for j in range(n - 1, 0, -1):
        print(" " * (n - j) + "* " * j)

# Example usage
pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

star in A pattern

In [ ]:
for r in range(7):
  for c in range(5):
    if(c==0 or c==4 and r!=0) or (r==0 or r==3) and (c>0 and c<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
def function(n):
  esum=0
  osum=0
  while n>0:
    d=n%10
    if d%2==0:
      esum+=d
    else:
      osum+=d
      n//=10
  if(osum>esum):
    return osum
  else:
    return esum
n=int(input())
res= function(n)
print(res)

KeyboardInterrupt:

In [ ]:
def functin(n):
  sum=0
  for i in range(1,n+1):
    if n[i]>+n[i+1]:
      sum+=i

      return sum
n=int(input())
res=functin(n)
print(res)

66 67 68 69

In [ ]:
def operator(str):
  ans = ord(str[0])-ord('0')
  for i in range(1,len(str),2):
    j=i+1
    if str[i]=="A":
      ans=(ord(str[j])-ord('0')) &ans
    elif str[i]=="B":
      ans=(ord(str[j])-ord('0')) |ans
    else:
      ans=(ord(str[j])-ord('0')) ^ans
  return ans
str=input()
print(operator(str))

1A1B1C1
0

average of string

In [ ]:
def floataverage(str):
  n=len(str)
  sum=0
  for i in str :
    sum+=ord(i)
  res=sum/n
  return res
str=input()
temp=floataverage(str)
r=format(temp,".2f")
print(r)

aab
97.33

palindrome lo add cheysinavi print avutadhi

In [ ]:
def con(l):
  le=len(l)
  for i in range(le):
    le=len(l)
    if l[i]!=l[le-i-1]:
      l.insert(le-i,l[i])
    else:
      break
    s="".join(l)
    if s==s1[::-1]:
      s=s.replace(s1,"")
    return s
s1=input().strip()
l=list(s1)
print(con(l))

abcdc
abcdca

In [ ]:
def myfun():
  global x
  x="abhi"
myfun()
print("hello "  +  x)

hello  abhi

In [ ]:
a="abhi  , world"
print(len(a))

13

Sum of leaders in an array Problem Statement

The function accepts a positive integer array 'arr of size 'n' as its argument. Implement the function to find the leaders in the array and

return their sum. An element is a leader in the array if it is greater than all the elements to its right side. The rightmost element is always a leader.
It art is empty or none(in case of python), return 1

Output lies within the integer range

Example

Input

7

52 66 64 36 45 24 32

Outout

207 Explanation

Leaders of array are (06,64,45.32) sum = 66-64+45+32-207

Thus the output is 207

In [ ]:
def sum(arr,n):
    sum=0
    for i in range(n):
        for j in range(i+1,n-1):
            if (arr[i] > arr[j]):

                flag= 0
                break
        if flag==1:
            sum+=arr[i]
    sum = sum + arr[n-1]
    return(sum)
n=int(input())
arr=list(map(int,input().split()))
print(sum(arr,n))

5
10 5 20 25 30
30

In [ ]:
def fun(low,high,n):
  count=0
  low=1
  high=round(pow(n,1/3))
  while(low<=high):
    z=low*low*low+high*high*high
    if (z == n):
      count+=1
      if z>n:
        high-=1
      else:
        low+=1
        return count
n=int(input())
print(fun(low,high,n))

35 9 1

ValueError: invalid literal for int() with base 10: '35 9 1'

In [ ]:
def fun(low, high, n):
    count = 0
    low = 1
    high = round(pow(n, 1/3))
    while low <= high:
        z = low * low * low + high * high * high
        if z == n:
            count += 1
            low += 1
            high -= 1
        elif z > n:
            high -= 1
        else:
            low += 1
    return count

n = int(input("Enter a number: "))
print(fun(1, round(pow(n, 1/3)), n))

Enter a number: 35 9 1

ValueError: invalid literal for int() with base 10: '35 9 1'

Question 5[Acc - 2022]

Find Smallest Character

Problem Statement

You are given e funcion

def Smallest Character(s): The function accepts a string 's', Implement the function

the smallest English character which is not present in the atrings and return the same

Abhinaya 2024.08.14

In [ ]:
def small(s):
  freq = [0]*26
  for i in s:
    freq[ord(i)-ord('a')] +=1
  for i in range(0,26):
    if (freq[i] == 0):
      return chr(ord('a')+i)
s=input()
print(small(s))

abcd
e

idi enti antey miss ayina character ni print cheyali ippudu manam abcd ani tesukunnam manaki miss ayyindhi e so e print avuṭadhi inko example acd manaaki kiss ayindhi b appudu b print avutadhi

In [ ]:
s=input()
for i in range(97,122):
  if chr(i) not in s:
    print(chr(i))
    break

abcd
e

hcf of two numbers

In [ ]:
n1=int(input())
n2=int(input())
hcf=1
for i in range(1,min(n1,n2)):
  if n1%i==0 and n2%2==0:
    hcf=i
    print(hcf)

36
60
1
2
3
4
6
9
12
18

In [ ]:
def fun(n1,n2):
  hcf=1
  while n1!=n2:
    if n1>n2:
      return n1-=n2
    else:
      return n2-=n1
n1=int(input())
n2=int(input())
print(fun(n1,n2))

SyntaxError: invalid syntax (<ipython-input-2-6792f6d174c5>, line 5)

Question 20[Acc - 20221

Array element which has least difference with a given number Problem statement

Implement a given function,

Int leastdifference (int arr[], int length, int n): The function accepts an integer array "arr of size "length" and an integer 'n' as its arguments. Implement the function to find and return the element of the array having at least absolute difference with the given number 'n'.

Note: N>=0

In [ ]:
def diffleast(arr,length,n):
  minDiff=abs(arr[0]-n)
  minele=arr[0]
  for i in range(1,length):
    diff=abs(arr[i]-n)
    if diff <minDiff:
      minDiff=diff
      minele=arr[i]
  return minele
length = int(input())
arr =list(map(int, input().split()))
n=int(input())
print(diffleast(arr,length,n))

6
10 5 3 20 10 2
7
5

Question 21[Acc - 2022]

Nearest multiple of 10 Implement the following function

int RoundOff(int n);

The function accepts an integer 'n' as its argument. Implement multiple of 10 according to following rules:

the function to round off the given number

If unit digit of 'n' is <= 4, then round off 'n' to smaller nearest number to 'n' which is multiple of 10

If unit digit of 'n' is >= 5, then round off. 'n' to larger nearest number to 'n' which is multiple of 10.

In [ ]:
import math
def fun(n):
  r=n%10
  if r<=4:
    return math.floor (n/10)*10
  else:
    return math.ceil(n/10)*10
n=int(input())
print(fun(n))

47
50

In [ ]:
def roundoff(n):
  if n%10<=4:
    return n-n%10
  else:
    return n+10-n%10
n=int(input())
print(roundoff(n))

44
40

In [ ]:
import math
n=5.6
print(math.ceil(n))

6

Min Max in two arrays

You are required to implement the following function: int Min Maxin Two Arrays (int arr1[], int arr2], int len 1, int len2, int k):

The function accepts two integer arrays 'arr1' of length 'len1', "arr2' of length 'len2' and an integer 'k' as its arguments. Let the count of numbers greater than k in array 'arr 1' be 'x' and the count of numbers lesser than 'k' in array 'arr2' be 'y'. You are required to return

he maximum of 'x' and 'y' from the function. Assumption: 'len1', 'len2' > 0

FACE

In [ ]:
def minmax(arr1,arr2,len1,len2,k):
  count=0
  a=0
  b=0
  for i in range(len1):
    if k>arr1[i]:
      a+=1
  for i in range(len2):
    if k<arr2[i]:
     b+=1
  return max(a,b)
arr1=list(map(int,input().split()))
len1=int(input())
arr2=list(map(int,input().split()))
len2=int(input())

k=int(input())
print(minmax(arr1,arr2,len1,len2,k))

9 16 12 5 15
5
14 7 22 5 32 77
5
9
3

Write a program that accepts the function count_selection_sort_swaps(arr: List[int]) -> int that takes a array of integers 'arr' as an argument and returns the number of swaps required to sort the list in ascending order using the selection sort algorithm.

Note:The swap count should only increase when an actual swap occurs between two different elements.

Example:

Input1: arr = 64 25 12 22 11
Output2: 3

Explanation:
Initial array: [64, 25, 12, 22, 11]
1st swap: Swap 64 and 11 → [11, 25, 12, 22, 64]
2nd swap: Swap 25 and 12 → [11, 12, 25, 22, 64]
3rd swap: Swap 25 and 22 → [11, 12, 22, 25, 64]
Total swaps: 3

Input2: arr = 1 2 3 4 5
Output2: 0

Explanation:
The array is already sorted, so no swaps are required.

In [ ]:
def count_array(arr):
  n=len(arr)
  count=0
  for i in range(n):
    minindex=i
    for j in range(i+1,n):
      if arr[j]<arr[minindex]:
        minindex=j
    if minindex!=i:
      arr[i],arr[minindex]=arr[minindex],arr[i]
      count+=1
  return count
arr=list(map(int,input().split()))
print(count_array(arr))

1 2 3 4 5
0

Problem Description :
The function accepts two positive integers ‘r’ and ‘unit’ and a positive integer array ‘arr’ of size ‘n’ as its argument ‘r’ represents the number of rats present in an area, ‘unit’ is the amount of food each rat consumes and each ith element of array ‘arr’ represents the amount of food present in ‘i+1’ house number, where 0 <= i

Note:

Return -1 if the array is null
Return 0 if the total amount of food from all houses is not sufficient for all the rats.
Computed values lie within the integer range.
Example:

Input:

r: 7
unit: 2
n: 8
arr: 2 8 3 5 7 4 1 2
Output:

4

Explanation:
Total amount of food required for all rats = r * unit

= 7 * 2 = 14.

The amount of food in 1st houses = 2+8+3+5 = 18. Since, amount of food in 1st 4 houses is sufficient for all the rats. Thus, output is 4

In [ ]:

def calculate(r,unit,arr,n):
  if n==0:
    return -1
    total_food_Required=r*unit
    food_till_now=0
    house=0
    for i in range(n):
      food_till_now+=arr[i]
      if food_till_now>=total_food_Required:
        house=i+1
        break
    return house
r=int(input())
unit=int(input())
n=int(input())
arr=list(map(int,input().split()))
print(calculate(r,unit,arr,n))

7
2
8
 2 8 3 5 7 4 1 2
None

Write a Python function named remove(arr) that takes a list of integers as input and returns a new list with all duplicate elements removed, while preserving the original order of the elements.

The function should be used as follows:

Input:
The input will be a single line containing space-separated integers.
Output:
The output should be a list of integers with duplicates removed, preserving the order of their first appearance in the input list.
Explanation:
The input list [1, 2, 2, 3, 4, 4, 5] contains duplicates. The function removes the duplicates and returns [1, 2, 3, 4, 5], maintaining the order of their first appearance.

In [ ]:
def remove(arr):
  seen=[]
  for i in arr:

    if i not in seen:
      seen.append(i)
  return seen
arr=list(map(int,input().split()))
print(remove(arr))

1 2 3 4 2 3 4 7
[1, 2, 3, 4, 7]

Question 10[Acc – 20211

Number of cards


Problem statement

Arrangement of cards used for building pyramids are shown in the following image a pyramid return the number of cards . The function accepts an integer 'n' as its argument The integer 'n'denotes level of Pyramid. You are required

In [ ]:
def care(n):
  count=0
  level=1
  while(level<=n):
    count+=level*3
    level+=1
  count-=n
  return count
n=int(input())
print(care(n))

3
15

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum=i+sum
  r=(sum*3)-n
print(r)

3
15

In [ ]:
def function(n):
  if n>0:
    return(n*(3*n+1))/2
  else:
    return -1
n=int(input())
print(function(n))

2
7.0


Product Problem statement

Given two ranges (L1,R1) and (L2,R2). You need to find two numbers a and b such that (isasRi and L2sbsR2 and the product of a and b is maximum.

Input format

The input consists of a single line:

The line contains four space-separated integers denoting L1L2.R1,R2 respectively.

In [ ]:
def max(a,b):
  return a if a > b else b

L1,L2,R1,R2=map(int,input().split())
max_product=max(max(max(L1*L2,L1*R2),max(R1*L2,R1*R2)),max(L1*R1,L2*R2))
print(max_product)

4 5 6 7
42

In [ ]:
L1,L2,R1,R2=map(int,input().split())
a=(L1*L2)
b=(L2*R2)
c=(R1*L2)
d=(R1*R2)
e=max(a,b)
f=max(c,d)
print(max(e,f))

4 5 6 7
42

Given a number n = 15, write a Python program to count how many numbers between 1 and n (inclusive) have an odd number of digits. The program should print the total count of such numbers.

Input:
n = 15
Output:
The program should output 9.
Explanation:
The numbers between 1 and 15 that have an odd number of digits are: 1, 2, 3, 4, 5, 6, 7, 8, 9 (all are single-digit numbers).
The count of these numbers is 9. Hence, the output is 9.

In [ ]:
n=15
count=0
for i in range(1,16):
  digit_count=0
  num=i
  while num>0:
    digit_count+=1
    num=num//10
  if digit_count%2!=0:
      count+=1
print(count)

9

In [ ]:
def findcount(arr,length,num,diff):
  count=0
  for i in range(length):
    if(abs(arr[i]-num)<=diff):
      count+=1
  return count
length=int(input())
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(findcount(arr,length,num,diff))

6
6 12 14 56 77 13
13
2
3

In [ ]:
Implement the following Function

def differenceofSum(n. m)

The function accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n.

Assumption:

n>0 and m>0

Sum lies between integral range

Example

Input

n:4

m:20

Output 90

Explanation

Sum of numbers divisible by 4 are 4+8+12+16 + 20 = 60

Sum of numbers not divisible by 4 are 1+2+3+5

+6+7+9+10+11+13+14+15+17+18+19=

150

Difference 150-60 = 90

Sample Input

n:3

m:10

m:10

Sample Output

19

In [ ]:
n=int(input())
m=int(input())
sum=0
sum2=0
for i in range(1,m+1):
  if i%n==0:
    sum+=i
  else:
    sum2+=i
a=sum2-sum
print(a)

4
20
90

strong number
antey 145 tisukunam
adhi 1!+4!+5!=145 so idhi strong number

In [ ]:
n=int(input())
sum=0
temp=n
while temp>0:
  digit=temp%10
  fact=1
  for i in range(1,digit+1):
    fact*=i
  sum+=fact
  temp//=10
if sum==n:
  print("strong number")
else:
  print("not a strong number")

145
strong number

Replace Character

In [ ]:
def replacecharacter(s,ch1,ch2):
    temp="\0"
    s=s.replace(ch1,temp)
    s=s.replace(ch2,ch1)
    s=s.replace(temp,ch2)
    return s
s=input()
ch1=input()
ch2=input()

print(replacecharacter(s,ch1,ch2))

abc
a
c
cba

In [ ]:
string=(input())
for i in range(string):
  for j in range(string):
    if (i==j or i+j== (string)-1):
      print(string[i],end="")
    else:
      print(' ',end='')
  print()

abcde

TypeError: 'str' object cannot be interpreted as an integer

Write a program to print the following output for the given input. you can assume the string is of odd length.

Example 1:

Input: Welcomezohocorporations

Output:

Example 2:

Input: 12345

In [ ]:
string = input("Enter a string: ")
n = len(string)

for i in range(n):
    for j in range(n):
        if i == j:
            print(string[i], end="")
        elif i + j == n - 1:
            print(string[j], end="")
        else:
            print(' ', end="")
    print()

Enter a string: abcde
a   e
 b d
  c
 b d
a   e

In [ ]:
def function(arr,n,m):
  count=0
  for i in range(N):
    diff=arr[i]-n
    if(diff<m)
    count+=1
  return(diff)
arr=list(map(int,input().split()))
n,m = map(int,input().split())

In [ ]:
def rearrangement( arr, m):
  l=sorted(arr)
  i=0
  j=m-1
  for i in range(m//2):
    print(arr[i],arr[j],end=" ")
    j-=1
  if (m%2==1):
    print (arr [j])
arr=list(map(int,input().split()))
m=int(input())
print(rearrangement( arr, m))

2 20 3 30 4 40
6
2 40 20 4 3 30 None

[9:06 pm, 21/08/2024] Abhinaya❤️: Question 24[Acc - 20221

nel515

Numerological reduction Problem statement

Nammogical reduction of a nurniser is the sum of digit calculated recurniively until the resulting value is a singl You are given a function, int Find Numerological Reductice

The function accepts ir positive intiger 'n'.

Implement the function to find and return the numerological reduction of 'n Assumption n>0
input:
3541
Output
4
Explanation

3245 3+2+4+5=1414-14-5

Hence 5 is the numerological reduction of 3245

In [ ]:
n=int(input())
if (n==0):
  print(0)
if(n%9==0):
  print(9)
else:
  print(n%9)

3541
4

In [ ]:
def numerogical(n):
  while(n>=10):
    sum=0
    while(n>0 or n>9):
      sum+=n%10
      n=n//10
    n=sum
  return(n)
n=int(input())
print(numerogical(n))

3541
4

In [ ]:
n=int(input())
while(n>=10):
  sum=0
  while(n>0 or n>9):
    sum+=n%10
    n=n//10
  n=sum
print(n)

3541
4

In [ ]:
a=[1,2,3,4,5]
a.insert(2,10)
print(a)

[1, 2, 10, 3, 4, 5]

In [ ]:
a=[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

insert a number

In [ ]:
a=[1,2,3,4,5]
index=2
for i in range(len(a)):
  if(i==index):
    print("10")
    print(a[i])
  else:
    print(a[i])

1
2
10
3
4
5

palindrome or not

In [ ]:
rr = input("Enter a string: ")
n = len(arr)
i = 0
j = n - 1

is_palindrome = True

while i < j:
    if arr[i] != arr[j]:
        is_palindrome = False
        break
    i += 1
    j -= 1

if is_palindrome:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: madam
Palindrome

comparing of maximum array and give that two numbers

In [ ]:
a=[]
for _ in range(int(input("Enter number of rows: "))):
    row = list(map(int, input().split()))
    a.append(row)

n = len(a)
m = len(a[0])
for i in range(n-1):
  for j in range(m-1):
    if(max(a[i][j]>a[i+1][j+1])):
      print(a[i][j])
    else:
      print(a[i+1][j+1])

Given two integers a and b, your task is to determine the sum of the cubes of all numbers in the range from a to b,

sample test case:

Input: a = 4 b = 9

Code displays at the end

Ouput: 1989

In [ ]:
a=int(input())
b=int(input())
sum=0
for i in range(a,b+1):
  sum+=pow(i,3)
  print(sum)

4
9
64
189
405
748
1260
1989

In [ ]:
a=int(input())
b=int(input())
sum=0
for i in range(a,b+1):
  cubes=i*i*i
  sum+=cubes
  print(sum)

4
9
64
189
405
748
1260
1989

Question 1

How to Attempt

Even Odd

Jack has an array A of length N. He wants to besteh the array is even or odd. Your task is helplan find ans with labels even or odd in sequencingconting to wh

appear in the artay

Input Specification:

input1: An integer array A, representing the anayofunters

Input2: A integer N. representing the length of atay

Output Specification:

Retum a string with labels even or odd in lequince konding to whi the numbers appear in the array.

In [ ]:
concat = ""
A = [2, 3, 4]
for i in A:
    if i % 2 == 0:
        concat += "Even"
    else:
        concat += "Odd"
print(concat)

EvenOddEven

In [ ]:
A = [2,3,4]
for i in A:
  if i%2==0:
    print("Even",end="")
  else:
    print("Odd",end="")

EvenOddEven

automarphic

In [ ]:
n=int(input())
m=n*n
num=m%10
if num==n:
  print("automarphic")
else:
  print("not automarphic")

5
automarphic

abundent number antey ippudu 12 ki factor kattatamu tarwata aa factors ni sum cheystamu appudu adhi 12 kanna ekkuva vastaey adhi abudant number

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum+=i
if (sum>n):
  print("abundent")
else:
  print("not abundant")

12
abundent

In [ ]:
n = 21
sum = 0
while n > 0:
    rem = n % 10
    sum += rem
    n = n // 10
if n % sum == 0:
    print("Harshad")
else:
    print("Not Harshad")

Harshad

perfect number

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum+=i
if (sum==n):
  print("perfect")
else:
  print("not perfect")

12
not perfect

friendly pair lo two numbers tesukoni vatiki factors kadatam for ex:6 28 tisukunnam avi 6 factors + cheysey same 6 vachindhi antey antey adhi divide cheystam like 6/6 and inko number tisukoni alagey cheystam so ippudu first and second number values same  avutey adhi friendly pair

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
  if n1%i==0:
    sum1+=i
for j in range(1,n2):
  if n2%j==0:
    sum2+=j
if sum1//n1==sum2//n2:
  print("friendly pair")
else:
  print("not friendly pair")

6
28
friendly pair

perfect square

first ichina number ni square cheyali tarwata vachina nunber  ni sruare cheystey ichina number ravali for ex:25 ni root cheystey 5 vastadhi appudu 5*5 cheystey ichina number vastey adhi perfect squa

In [ ]:
n=int(input())
for i in range(1,n):
  if i*i==n:
    print("perfect square")
    break
else:
  print("not perfect square")

25
perfect square

In [ ]:
n="hello"
m="l"
count=0
for i in  n:
  if i==m:
    count+=1
print(count)

2

In [ ]:
n="abhi"
m="naya"
print(n.lower()+" "+m.upper())

abhi NAYA

operations on strings

finding vowels or not

In [ ]:
c=input()
vowels="aeiouAEIOU"
if c in vowels:
  print("vowel")
else:
  print("not vowel")

vowel

In [ ]:
c=input()
for i in c:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
    print("vowel")
  else:
    print("not vowel")

a
vowel

count of vowels and consonent

In [ ]:
ch=input()
c=0
v=0
for i in ch:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
    v+=1
  else:
    c+=1
print("vowel",v)
print("consonent",c)

abhi
vowel 2
consonent 2

printing asci numbers while giving letters

In [ ]:
a=input()
b=ord(a)
print(b)

@
64

printing asci letters while giving numbers

In [ ]:
a=int(input())
b=chr(a)
print(b)

97
a

In [ ]:
ch=input()
if('a'<=ch<='z' or 'A'<=ch<='Z'):
    print("alphabet",ch)
else:
    print("not alphabet",ch)

d
alphabet d

In [ ]:
str=input()
str1=" "
for i in str:
  if(i.isupper()):
    str1+=i.lower()
  else:
    str1+=i.upper()
print(str1)

DeVI
 dEvi

In [ ]:
n=input()
print(n.swapcase())

abhinaya
ABHINAYA

In [ ]:
str=input()
str=str[::-1]
print(str)

ayanihba
abhinaya

display calendar in python

In [ ]:
import calendar
year=2024

print(calendar.calendar(year))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

 *******
PERFECT NUMBER,
PALINDROME,
REVERSE STRING OR NUMBER,
COUNTING THE INDIVIDUAL NUMBER AND STRING OR CHARACTER.. important for accenture

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if(i==0 or i==n-1 or i+j==n-1):
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
*****
   *
  *
 *
*****

square star

In [ ]:
i=5
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if(i==0 or i==n-1 or j==0 or j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n-j):
    print("*",end=" ")
  print()

* * * * *
*
* * * * *
*
* * * * *

In [ ]:
def OperationChoices(c,a,b):
  if c==1:
    print(a+b)
  elif c==2:
    print(a-b)
  elif c==3:
     print (a*b)
  elif c==4:
     print (a/b)
c=int(input())
a=int(input())
b=int(input())
print(OperationChoices(c,a,b))

2
15
20
-5
None

In [ ]:
def Anagram(a,b):
  if sorted(a)==sorted(b):
    return("Anagram")
  else:
    return("Not Anagram")
a=input()
b=input()
print(Anagram(a,b))

listen
silent
Anagram

6. Difference Of Sum
Write a function differenceofSum(a,b) which will take two integers as
an argument. You’ve to obtain the total of all the integers ranging from
1 to n (both inclusive) that are not divisible by b. You should also return
the distinction between the sum of the integers which are not divisible
by b with the sum of the integers divisible by b?
Consider: a and b are greater than 0. i.e a>0 and b>0. And their sum
should lies between the integral range.
Sample Test Case 1:
Input:
a = 6 and b = 30
Output:
285

In [ ]:
def Difference_of_sum(a,b):
  sum1=0
  sum2=0
  while(a>0 and b>0):
      for i in range(1,b+1):
          if(i%a==0):
              sum1+=i
          else:
            sum2+=i
      result=sum2-sum1
      return result
a=int(input())
b=int(input())

print(Difference_of_sum(a,b))

6
30
285

In [ ]:
def CheckPassword(str,n):
    if n<4:
        return 0
    if str[0] == " ":
        return 0
    cap = 0
    num = 0
    for i in range(n):
        if str[i]>='A' and str[i]<='Z':
            cap += 1
        if str[i] == " " or str[i] == "/":
            return 0
        elif str[i].isdigit():
            num += 1
    if cap > 0 and num > 0:
        return 1
    else:
        return 0
str = input()
n = len(str)
print(CheckPassword(str,n))

bB1_89
1

In [ ]:
num = int(input())

for i in range(0, num):
    for j in range(i):
        print(" ", end="")
    for j in range(0, num):
        print("*", end="")
    print()

5
*****
 *****
  *****
   *****
    *****

In [ ]:
def string(str):
  reverse_word=str[::-1]
  return("".join(reverse_word))
str=input()
print(string(str))

ayanihba
abhinaya

In [ ]:
def replace_character(s,ch1,ch2):
  temp="/0"
  s=s.replace(ch1,temp)
  s=s.replace(ch2,ch1)
  s=s.replace(temp,ch2)
  return s
s=input()
ch1=input()
ch2=input()
print(replace_character(s,ch1,ch2))

tervpro
e
p
tprvero

In [ ]:
def find_count(arr,num,diff):
  count=0
  for i in range(length):
    if(abs(arr[i]-num)<=diff):
      count+=1
  return count
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(find_count(arr,num,diff))

12 3 14 56 77 13
13
2
3

In [ ]:
def calculate(r, unit, arr, n):
    if n == 0:
        return -1

    total = r * unit
    food_till_now = 0

    for house in range(n):
        food_till_now += arr[house]
        if food_till_now >= total:
            return house + 1
    if total > food_till_now:
        return 0
r = int(input())
unit = int(input())
n = int(input())
arr = list(map(int, input().split()))
print(calculate(r, unit, arr, n))

7
2
6
2 6 3 4 5 7
4

In [ ]:
def find_number(n,arr):
  count=0
  arr=[0]
  for i in range(0,n):
    if(arr[i]>arr[i+1]):
      count+=1
  return count
n=int(input())
arr=list(map(int,input().split()))
print(find_number(n,arr))

6
6 7 8 9 10 2 13

IndexError: list index out of range

idhi 4 integers tesukuntadhi danilo negative intergers ni sum cheysi print cheyali

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
nums=[a,b,c,d]
sum=0
for i in nums:
  if i<0:
    sum+=i
print(sum)

-3
-2
1
2
-5

In [ ]:
def list(arr):
  arr.sort()
  for i in arr:
    if i<0:
      return 0
    elif i>0:
      a=arr.appand[]
      a//2
      return n
arr=list(map(int,input().split()))
print(list(arr))

SyntaxError: invalid syntax (<ipython-input-5-1b5848c6168b>, line 7)

In [ ]:
def find_positive_median(arr):
    # Filter out negative elements
    positive_arr = [i for i in arr if i > 0]

    # Sort the positive elements
    positive_arr.sort()

    # If no positive elements are present, return None or a specific message
    if not positive_arr:
        return "No positive elements"

    # Calculate the median
    n = len(positive_arr)
    mid = n // 2

    # If the number of elements is odd, return the middle element
    if n % 2 != 0:
        return positive_arr[mid]
    # If the number of elements is even, return the integer median (rounded down)
    else:
        return (positive_arr[mid - 1] + positive_arr[mid]) // 2

# Input and function call
arr = list(map(int, input("Enter numbers separated by spaces: ").split()))
print(find_positive_median(arr))

Enter numbers separated by spaces: -1 2 8 7 -5 -4 5
6

In [ ]:
n=int(input())
if n>0:
      print("positive")
else:
  print("negative")

-1
negative

In [ ]:
n=int(input())
sum=0
for i in range(n+1):
  sum+=i
print(sum)

5
15

In [ ]:
n=5
for i in range(n):
  for j in range(n-j):
    print("*",end=" ")
  print()

* * * * *
*
* * * * *
*
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if( i==0  or i==n-1  or i+j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
      *
    *
  *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for j in range(n):
    print("*",end="")
  print()

*****
 *****
  *****
   *****
    *****

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for j in range(n-i):
    print("*",end="")
  print()

*****
 ****
  ***
   **
    *

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print(" ",end="")
  for j in range(n):
    print("*",end="")
  print()

     *****
    *****
   *****
  *****
 *****

In [ ]:
n=5
for i in range((n)):
  for j in range(n):
    if(i==0 or i==n-1 or j==0 or j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(2*i+1):
    print("*",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for j in range(2*(n-i)-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
a=[1,0,1]
b=all(a)
print(b)

False

In [ ]:
txt=["abhi","pramee"]
txt.insert(1,"teja")
print(txt)

['abhi', 'teja', 'pramee']

In [ ]:
txt=[ "abhi","teja"]
a=["pramee"]
txt.extend(a)
print(txt)

['abhi', 'teja', 'pramee']

In [ ]:
txt=[0,1]
b=any(txt)
print(b)

True

In [ ]:
txt=[0,1]
txt[1]=3
print(txt)

[0, 3]

In [ ]:
txt=[0,3]
txt.remove(3)
print(txt)

[0]

In [ ]:
txt=[0,1]
txt.pop()
print(txt)

[0]

In [ ]:
txt=("abhi")
a=txt.swapcase()
print(a)

ABHI

In [ ]:
txt=("abhi teja")
a=txt.capitalize()
print(a)

Abhi teja

In [ ]:
txt=("abhi teja")
a=txt.title()
print(a)

Abhi Teja

In [ ]:
txt=("abhi")
print(txt.isupper())

False

In [ ]:
txt=("abhi")
a=txt.upper()
print(a)

ABHI

In [ ]:
txt=("ABHI")
a=txt.casefold()
print(a)

abhi

In [ ]:
txt=("abhi")
a=txt.find("h")
print(a)

2