In [ ]:

a= [12,34,8,6,56,78,3,45]
for i in a:
  if((i%2==0)&(i>10)):
    print(i)

12
34
56
78

In [ ]:
n=int(input("enter the number"))
for i in range(1,n):
  for j in range(1,i+1):
    print("8",end="")
  print()

enter the number5
8
88
888
8888

In [ ]:
a= {12,34,8,6,56,78,3,45}
for i in a:
  if((i%2==0)&(i>10)):
    print(i)

34
12
78
56

In [ ]:
list1= [1,2,3,'a','b','c']
list2= [2,3,'b','c','d']
list3=[]
for i in list1:
  if i in list2:
    list3.append(i)
  print(list3)

[]
[2]
[2, 3]
[2, 3]
[2, 3, 'b']
[2, 3, 'b', 'c']

In [ ]:
a= int(input("enter the num"))
b= int(input("enter the sec num"))
def sum_1(a,b):
  s=a+b
  return s
print(sum_1(a,b))

enter the num4
enter the sec num7
11

4

In [ ]:
n= int(input("enter the num"))
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f
print(fact(n))

enter the num6
720

In [ ]:
n= int(input("nter the number"))
if((n>=18) & (n<29)):
  print('you are ele')
elif(n>30):
  print('you are young')
elif((n<10) & (n>5)):
  print('you are child')
else:
  print('you cant')

nter the number45
you are young

In [ ]:
n=int(input('enter the number'))
for i in range (1,n):
  for j in range (1,n-i):
    print(' ',end='')
  for k in range (0,i):
    print('8',end='')
  for m in range (1,i):
    print('8',end='')
  print()

enter the number6
    8
   888
  88888
 8888888
888888888

In [ ]:
list1 = [23,45,67,89,12,3,56,78,90,45,34,123,567,0,167,45,78,789]
list2=[]
maximun = max(list1)
for i in list1:
  if i<maximun:
    list2.append(i)
print(list2)

[23, 45, 67, 89, 12, 3, 56, 78, 90, 45, 34, 123, 567, 0, 167, 45, 78]

In [ ]:

list1 = [23,45,67,89,12,3,56,78,90,45,34,123,567,0,167,45,78,789]
list1.sort()
print(list1)
list2=[]
list2.append(list1)
print(list2)

[0, 3, 12, 23, 34, 45, 45, 45, 56, 67, 78, 78, 89, 90, 123, 167, 567, 789]
[[0, 3, 12, 23, 34, 45, 45, 45, 56, 67, 78, 78, 89, 90, 123, 167, 567, 789]]

In [ ]:
list1

[0, 3, 12, 23, 34, 45, 45, 45, 56, 67, 78, 78, 89, 90, 123, 167, 567, 789]

In [ ]:
n= int(input("enter the number"))
def check(n):
  if(n%2==0):
    print("even")
  else:
    print("odd")
print(check(n))

enter the number7
odd
None

In [ ]:
from re import I
arr = [34,56,78,0,23,2,111,45]
max = arr[0]
min = arr[0]
for i in arr:
  if i>max:
    max=i
  elif i<min:
    min=i
print(max)
print(min)

111
0

In [ ]:
#sorting in array
arr = [34,56,78,0,23,2,111,45]
def sorting(arr):
  n = len(arr)
  for i in range(0,n-1):
    for j in range(i+1,n):
      if ((arr[i])>(arr[j])):
        temp = arr[i]
        arr[i]= arr[j]
        arr[j]= temp
  return(arr)
print(sorting(arr))

[0, 2, 23, 34, 45, 56, 78, 111]

In [ ]:
arr = [111,111,111,111,34,56,78,0,23,2,45]
n=len(arr)
counter=0
for i in range(0,n-1):
  for j in range(i+1,n):
    if(arr[i]==arr[j]):
      counter+=1
print(counter)
print(arr[j])

6
45

In [ ]:
arr = [34,56,111,78,0,23,2,111,111,111,45]
a = []
for i in arr:
  for i in a:
    if(i==j):
      a[i] += 1
print(a[i])

IndexError: list index out of range

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
arr = [111,34,56,111,78,0,0,23,2,111,111,111,45,111]
cnt = 0
ans = 0
n = len(arr)
for i in range(0, n-1):
  cnt = 0
  if(arr[i] == -1):
    continue
  for j in range(i+1, n):
    if(arr[i]==arr[j]):
      cnt += 1
      arr[j] = -1
  if cnt:
    ans += (cnt+1)
    print(arr[i], (cnt+1))

print(ans)

111 6
0 2
8

In [ ]:
def find_pair_with_sum(arr, target):
    # Create an empty hash table (dictionary)
    seen = {}

    for num in arr:
        # Calculate the complement that we need to find
        complement = target - num

        # If the complement is already in the hash table, return the pair
        if complement in seen:
            return (complement, num)

        # Add the current number to the hash table
        seen[num] = True

    # If no pair is found, return None
    return None

# Example usage:
arr = [10, 15, 3, 7]
target = 17
pair = find_pair_with_sum(arr, target)
if pair:
    print(f"Pair found: {pair}")
else:
    print("No pair found that sums up to the target.")

Pair found: (10, 7)

In [ ]:
n = int(input("enter the number:-"))
def pattern(n):
    for i in range(1,n):
        for j in range(0,n-i):
            print(" ",end="")
        for k in range(0,i):
            print("*",end="")
        for k in range(1,i):
            print("*",end="")
        print()
    for i in range(1,n):
        for j in range(0,i):
            print(" ",end="")
        for k in range(0,n-i):
            print("*",end="")
        for k in range(1,n-i):
            print("*",end="")
        print()
    return n
print(pattern(n))

enter the number:-6
     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *
6

In [ ]:
n=1234
def count(n):
  count=0
  while(n>0):
    n=n//10
    count+=1
  return count
print(count(n))

4

In [ ]:
n= int(input("enter the number"))
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f
print(fact(n))

enter the number5
120

In [ ]:
n = input('enter the number')
def reverse(n):
  low=0
  high=len(n)-1
  s_list = list(n)
  while(low<=high):
    temp=s_list[low]
    s_list[low]=s_list[high]
    s_list[high]=temp
    low+=1
    high-=1
  return ''.join(s_list)
print(reverse(n))

enter the numbersdkf123
321fkds

In [ ]:
n = input('enter the peli')
def reverse(n):
  low=0
  high=len(n)-1
  while(low<high):
    temp=n[low]
    n[low]=n[high]
    n[high]=temp
    low+=1
    high-=1
  return n
print(reverse(n))

enter the peliskdf

TypeError: 'str' object does not support item assignment

In [ ]:
n=[3,4,6,]
print(len(n))

3

In [ ]:
n=10775
def reverse_number(n):
  rev=0
  while(n>0):
    rev=rev*10+n%10
    n=n//10
  return rev
print(reverse_number(n))

57701

In [ ]:
class operations:
  def init (self):
     self.name=["","Bob", "Rebecca", "Clint", "11231", "32/73"]

  def data(self, names):
    self.names=list(filter(lambda el:el[0].isupper() and el[1] islower().names))
    return self.name

  def display(self, result):
    length=len(".join(self.names))
    n=sorted([int(x) for x in result if x.isdigit()])
    for i in ((filter(lambda x:xlength,n))):
      return i

o=operations()
names=['Alice', 'mark Thomas', 'rebecca', 'Bob1231', '08732', 'Clint", "11231", "32173"]
result = o.data(names)
dis=o.display(result)

print(dis)

SyntaxError: unterminated string literal (detected at line 10) (<ipython-input-4-c38760b2b2de>, line 10)

In [ ]:
def first_reccurring()

SyntaxError: expected ':' (<ipython-input-1-73c2468647ee>, line 1)

In [ ]:
# prompt: vowel count

def vowel_count(s):
  count = 0
  vowels = set('aeiouAEIOU')
  for letter in s:
    if letter in vowels:
      count += 1
  return count

# Example usage:
text = "mnfjgbwsf kfqwroiqr."
num_vowels = vowel_count(text)
print("Number of vowels:", num_vowels)

Number of vowels: 2

In [ ]:
string = 'chandan'
count = {}
for char in string:
  if char in count:
    count[char] += 1
  else:
    count[char] = 1
#print(count)
#print(max(count))
for i in count:
  if count[i] == max(count.values()):
    print(i)

a
n

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'c': 3, 'd': 4, 'e': 5}


result = dict1.copy()

# Add values from dict2, summing if the key exists in both dictionaries
for key, value in dict2.items():
    if key in result:
        result[key] += value
    else:
        result[key] = value

print(result)

{'a': 1, 'b': 2, 'c': 6, 'd': 4, 'e': 5}

In [ ]:
# Function to count vowels in a name
def count_vowels(name):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in name if char in vowels)

# List of names
names = ['John', 'Alexander', 'Emily', 'Isabella', 'Michael', 'Sophia']

# Filter and display names with more than 3 vowels
result = [name for name in names if count_vowels(name) > 3]

print("Names with more than 3 vowels:", result)

Names with more than 3 vowels: ['Alexander', 'Isabella']

In [ ]:
s ="chandankumar"

char_count = {}
for char in s:
  char_count[char] = char_count.get(char,0)+1
res = ''.join([char for char in s if char_count[char] == 1])
print(res)

chdkumr

In [ ]:
a=505
b=505
def sum(a,b):
  sum_int = a+b
  return bin(sum_int)[2:]
res = sum(a,b)
print(res)

1111110010

In [ ]:
def relu(x):
    return max(0, x)

# Example usage
inputs = [-5, 0, 2, 7]
outputs = [relu(x) for x in inputs]
print("ReLU outputs:", outputs)

ReLU outputs: [0, 0, 2, 7]

In [ ]:
import re

# Regular expression for detecting age (1 to 120)
age_regex = r'\b([1-9]|[1-9][0-9]|1[01][0-9]|120)\b'

# Regular expressions for detecting dates (dd/mm/yyyy and yyyy-mm-dd)
date_regex_ddmmyyyy = r'\b(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d{4}\b'
date_regex_yyyymmdd = r'\b\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])\b'

# Example string containing ages and dates
text = """
John is 25 years old, and his birthday is on 15/08/1998.
His sister was born on 2020-05-20, and she is 4 years old.
"""

# Detecting ages
ages = re.findall(age_regex, text)
print("Detected Ages:", ages)

# Detecting dates in dd/mm/yyyy format
dates_ddmmyyyy = re.findall(date_regex_ddmmyyyy, text)
print("Detected Dates (dd/mm/yyyy):", dates_ddmmyyyy)

# Detecting dates in yyyy-mm-dd format
dates_yyyymmdd = re.findall(date_regex_yyyymmdd, text)
print("Detected Dates (yyyy-mm-dd):", dates_yyyymmdd)

Detected Ages: ['25', '15', '20', '4']
Detected Dates (dd/mm/yyyy): [('15', '08')]
Detected Dates (yyyy-mm-dd): [('05', '20')]

In [ ]:
# generator in python
# -> A generator in Python is a special type of iterator that is defined using a function containing the yield keyword.
#Unlike regular functions, which return a single value and terminate, generators return an iterable sequence of values one at a time,
#suspending execution between each yield.

def gn_demo():
  yield 'first'
  yield 'second'
  yield 'third'

gen =gn_demo()
print(next(gen))
print(next(gen))
print(next(gen))

first
second
third

In [ ]:
def sq_gen(num):
  for i in range(1,num+1):
    yield i**2

gen = sq_gen(10)
print(next(gen))
print(next(gen))

for i in gen:
  print(i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Range function in genrator
def range_gen(start,end):
  for i in range(start,end):
    yield i

gen = range_gen(5,10)
print(next(gen))
print(next(gen))

for i in gen:
  print(i)

5
6
7
8
9

In [ ]:
list_comprehention = [i**2 for i in range(1,10)]
list_comprehention

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
generator = (i**2 for i in range(1,10))
for i in generator:
  print(i)

1
4
9
16
25
36
49
64
81

In [ ]:
def gen_fib(nums):
  x=0
  y=1
  for i in range(nums):
    yield x
    x,y = y,x+y

for i in gen_fib(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

Decorator
-> It is a function in python which takes another founction as input ,add some funcnality in it and return it

In [ ]:
def my_decorator(func):
    def wrapper():
        print("Something before the function")
        func()
        print("Something after the function")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

# Output:
# Something before the function
# Hello!
# Something after the function

Something before the function
Hello!
Something after the function

*Iterator
->An iterator in Python is an object that allows you to traverse or iterate over a sequence of data (like lists, tuples, dictionaries, or custom objects). An iterator provides a mechanism to access the elements of a collection one at a time, without the need to load the entire collection into memory at once.

In [ ]:
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
iterator= iter(list)

In [ ]:
type(iterator)

list_iterator

In [ ]:
next(iterator)

1

In [ ]:
for i in iterator:
  print(i)

3
4
5

In [ ]:
try:
  print(next(iterator))
except StopIteration:
  print("iterator is empty")

2