# Session 2 - Strings and list objects

# Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

## Creating a String
In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

    For example:

In [1]:
# Single word
str='hi'
str

'hi'

In [2]:
# Entire phrase 
'this is a phrase'

'this is a phrase'

In [3]:
# We can also use double quote
"hello charan"

'hello charan'

In [4]:
# Be careful with quotes!
'I'am a student'

SyntaxError: unterminated string literal (detected at line 2) (1206568885.py, line 2)

The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [ ]:
"Now I'am using single quotes inside a string"

Now let's learn about printing strings!

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'hello world'

In [ ]:
# note that we can't output multiple strings this way
'hello 1'
'hello 2'

In [ ]:
print('hello 1')
'hello 2'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

In [ ]:
print'hi'
print'\n'

### <font color='red'>Python 3 Alert!</font>

Note that, In Python 3, print is a function and not a statement. So you would print statements like this:
print('Hello World')

If you want to use this functionality in Python2, you can import form the __future__ module. 

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [ ]:
# To use print function from Python 3 in Python 2

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [ ]:
len('charan')

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [28]:
# Assign s as a string
s='hello world'

In [29]:
#Check
s

'hello world'

In [30]:
# Print the object
print(s)

hello world

Let's start indexing!

In [31]:
# Show first element (in this case a letter)
s[0]

'h'

In [32]:
s[1]

'e'

In [33]:
s[2]

'l'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [34]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello world'

In [35]:
# Note that there is no change to the original s
s

'hello world'

In [36]:
# Grab everything UP TO the 3rd index
s[:3]

'hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [37]:
#Everything
s[:]

'hello world'

We can also use negative indexing to go backwards.

In [38]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [39]:
# Grab everything but the last letter
s[:-1]

'hello worl'

Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [40]:
# Grab everything, but go in steps size of 1
s[::1]

'hello world'

In [41]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlowrd'

In [42]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleh'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [50]:
s='Hello world'

In [51]:
# Let's try to change the first letter to 'x'
s[0]='x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [52]:
s

'Hello world'

In [53]:
# Concatenate strings!
s + 'I am  Charan'

'Hello worldI am  Charan'

In [54]:
# We can reassign s completely though!
s=s + 'I am  Charan'

In [55]:
print(s)

Hello worldI am  Charan

In [56]:

s

'Hello worldI am  Charan'

We can use the multiplication symbol to create repetition!

In [62]:
l='z'

In [63]:
l*5

'zzzzz'

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [64]:
s

'Hello worldI am  Charan'

In [65]:
# Upper Case a string
s.upper()

'HELLO WORLDI AM  CHARAN'

In [66]:
# Lower case
s.lower()

'hello worldi am  charan'

In [68]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'worldI', 'am', 'Charan']

In [69]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['Hell', ' w', 'rldI am  Charan']

There are many more methods than the ones covered here. To know more about the String functions, Visit the advanced String section.

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [70]:
'Insert another string with the curly brackets:{}'.format({'THe inserted string'})

"Insert another string with the curly brackets:{'THe inserted string'}"

## Location and Counting

In [73]:
print(s)
s.count('o')

Hello worldI am  Charan

2

In [74]:
s.find('o')

4

##Formatting
The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [76]:
s.center(40,'z')

'zzzzzzzzHello worldI am  Charanzzzzzzzzz'

expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

In [77]:
'hello\thi'.expandtabs()

'hello   hi'

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [78]:
s= 'hello'

isalnum() will return "True" if all characters in S are alphanumeric.

In [80]:
s.isalnum()

True

isalpha() wil return "True" if all characters in S are alphabetic.

In [81]:
s.isalpha()

True

islower() will return "True" if all cased characters in S are lowercase and there is
at least one cased character in S, False otherwise.

In [82]:
s.islower()

True

isspace() will return "True" if all characters in S are whitespace.

In [83]:
s.isspace()

False

istitle() will return "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [85]:
s.istitle()

False

isupper() will return "True" if all cased characters in S are uppercase and there is
at least one cased character in S, False otherwise.

In [86]:
s.isupper()

False

Another method is endswith() which is essentially same as a boolean check on s[-1]

In [88]:
s.endswith('o')

True

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [91]:
s.split('e')

['h', 'llo']

In [92]:
s.partition('e')

('h', 'e', 'llo')

In [93]:
s

'hello'

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [105]:
# Assign a list to an variable named l
l1=[1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [96]:
l=['string',2,5,'z']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [97]:
len(l)

4

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [98]:
l=['a','b','c',1,2]

In [99]:
# Grab element at index 0
l[0]

'a'

In [102]:
# Grab index 1 and everything past it
l[1:]

['b', 'c', 1, 2]

In [109]:
# Grab everything UP TO index 3
l[:3]
l[:2]

['a', 'b']

We can also use "+" to concatenate lists, just like we did for Strings.

In [106]:
l+l1

['a', 'b', 'c', 1, 2, 1, 2, 3]

Note: This doesn't actually change the original list!

In [108]:
l
l1

[1, 2, 3]

In this case, you have to reassign the list to make the permanent change.

In [111]:
# Reassign
l=l+['new item']

In [112]:
l

['a', 'b', 'c', 1, 2, 'new item', 'new item']

We can also use the * for a duplication method similar to strings:

In [115]:
# Make the list double
l=l*2

In [116]:
# Again doubling not permanent
l

['a',
 'b',
 'c',
 1,
 2,
 'new item',
 'new item',
 'a',
 'b',
 'c',
 1,
 2,
 'new item',
 'new item']

## Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)
b. They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

In [117]:
# Create a new list
l1=['a','b',1,2,]

Use the **append** method to permanently add an item to the end of a list:

In [119]:
# Append
l1.append(5)

In [120]:
# Show
l1

['a', 'b', 1, 2, 5]

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [121]:
# Pop off the 0 indexed item
l1.pop()

5

In [122]:
# Show
l1

['a', 'b', 1, 2]

In [123]:
# Assign the popped element, remember default popped index is -1
l1.pop(2)

1

In [124]:
l1

['a', 'b', 2]

In [125]:
# Show remaining list
l1

['a', 'b', 2]

Note that lists indexing will return an error if there is no element at that index. For example:

In [128]:
l1[8]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [132]:
list=['d','a','c','b',4,2,3,1]
list

['d', 'a', 'c', 'b', 4, 2, 3, 1]

In [136]:
# Use reverse to reverse order (this is permanent!)
list.reverse()

In [137]:
list

[1, 3, 2, 4, 'b', 'c', 'a', 'd']

In [141]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
list1=['d', 'a', 'c', 'b']
list1.sort()

In [142]:
list1

['a', 'b', 'c', 'd']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [143]:
# Let's make three lists
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
# Make a list of lists to form a matrix
matrix=[l1,l2,l3]

In [144]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can re-use indexing to grab elements, but now there are two levels for the index. 

a. The items in the matrix object
b. The items inside the list

In [150]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [149]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [153]:
matrix[1][2]

6

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [157]:
# Build a list comprehension by deconstructing a for loop within a []
first_col=[row[1] for row in matrix]

In [158]:
first_col

[2, 5, 8]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [159]:
l=[1,2,3]

## append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [160]:
l.append(4)
l

[1, 2, 3, 4]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [162]:
l.count(1)

1

In [163]:
l.count(5)

0

## extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [164]:
l.append([5,6])
print(l)

[1, 2, 3, 4, [5, 6]]

**extend: extends list by appending elements from the iterable**

In [166]:
l=[1,2,3,4]
l.extend([5,6])
print(l)

[1, 2, 3, 4, 5, 6]

Note how extend append each element in that iterable. That is the key difference.

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [167]:
l.index(2)

1

In [168]:
l.index(0)

ValueError: 0 is not in list

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [169]:
l

[1, 2, 3, 4, 5, 6]

In [170]:
# Place a letter at the index 2
l.insert(1,'new')

In [171]:
l

[1, 'new', 2, 3, 4, 5, 6]

## pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [174]:
a=l.pop()

In [173]:
l

[1, 'new', 2, 3, 4, 5]

In [175]:
a

5

## remove
The remove() method removes the first occurrence of a value. For example:

In [176]:
l

[1, 'new', 2, 3, 4]

In [177]:
l.remove('new')

In [178]:
l

[1, 2, 3, 4]

In [180]:
l.remove(3)

In [181]:
l

[1, 2, 4]

In [182]:
l

[1, 2, 4]

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [183]:
l.reverse()

In [184]:
l

[4, 2, 1]

## sort
sort will sort your list in place:

In [185]:
l

[4, 2, 1]

In [187]:
l.sort()

In [188]:
l

[1, 2, 4]

In [189]:
l

[1, 2, 4]