In [1]:
import pandas as pd

In [2]:
grouped

NameError: name 'grouped' is not defined

In [4]:
my_series = pd.Series(['banana', 42, True, 3.14])

In [5]:
my_series

0    banana
1        42
2      True
3      3.14
dtype: object

In [6]:
type(my_series)

pandas.core.series.Series

In [9]:
my_series = pd.Series(['banana', 42, True, 3.14], index=["string", "integer", "boolean", "float"])
my_series

string     banana
integer        42
boolean      True
float        3.14
dtype: object

In [10]:
my_series.loc[0]

KeyError: 0

In [11]:
my_series.loc['string']

'banana'

In [12]:
my_series.iloc['string']

TypeError: Cannot index by location index with a non-integer key

In [13]:
my_series.iloc[0]

'banana'

In [14]:
#.ix

In [17]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist','Statistician'],
          'Born':['1920-07-25', '1876-06-13'],
          'Died':['1958-04-16', '1937-10-16'],
          'Age':[37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Age', 'Occupation', 'Born','Died'])
scientists

                   Age    Occupation        Born        Died
Rosaline Franklin   37       Chemist  1920-07-25  1958-04-16
William Gosset      61  Statistician  1876-06-13  1937-10-16

In [18]:
{'name': 'daniel', 'lname': 'chen'}

{'name': 'daniel', 'lname': 'chen'}

In [19]:
scientists = pd.read_csv("data/scientists.csv")

In [20]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [21]:
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [25]:
scientists.Age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [26]:
ages = scientists["Age"]

In [27]:
ages.shape

(8,)

In [28]:
ages.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [29]:
ages.mean()

59.125

In [30]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [32]:
ages > ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [37]:
scientists.loc[ages > ages.mean(), :]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [39]:
scientists.loc[ages > ages.mean() and ages < 75]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [40]:
scientists.loc[ages > ages.mean() & ages < 75]

TypeError: Cannot perform 'rand_' with a dtyped [int64] array and scalar of type [bool]

In [41]:
scientists.loc[(ages > ages.mean()) & (ages < 75)]

             Name        Born        Died  Age    Occupation
1  William Gosset  1876-06-13  1937-10-16   61  Statistician
3     Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [42]:
scientists.loc[(ages > ages.mean()) & !(ages < 75)]

SyntaxError: invalid syntax (2984585451.py, line 1)

In [43]:
scientists.loc[(ages > ages.mean()) & ~(ages < 75)]

                   Name        Born        Died  Age     Occupation
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [44]:
scientists.loc[(ages > ages.mean()) & ~(ages < 75), ["Name", "Age"]]

                   Name  Age
2  Florence Nightingale   90
7          Johann Gauss   77

In [45]:
# or |

In [46]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [47]:
scientists.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [49]:
pd.to_datetime(scientists["Born"], format="%Y-%m-%d")

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [50]:
pd.to_datetime(scientists["Born"], format="%Y-%m-%d").dt.year

0    1920
1    1876
2    1820
3    1867
4    1907
5    1813
6    1912
7    1777
Name: Born, dtype: int64

In [51]:
scientists["born_year"] = pd.to_datetime(scientists["Born"], format="%Y-%m-%d").dt.year

In [52]:
scientists

,Name,Born,Died,Age,Occupation,born_year
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777

In [53]:
sub = scientists.loc[scientists.Age < 60]
sub["died_dt"] =  pd.to_datetime(scientists["Died"], format="%Y-%m-%d")

C:\Users\Danie\AppData\Local\Temp\ipykernel_26992\4174072849.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub["died_dt"] =  pd.to_datetime(scientists["Died"], format="%Y-%m-%d")

In [54]:
sub

,Name,Born,Died,Age,Occupation,born_year,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920,1958-04-16
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907,1964-04-14
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813,1858-06-16
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912,1954-06-07

In [55]:
sub = scientists.loc[scientists.Age < 60].copy()
sub["died_dt"] =  pd.to_datetime(scientists["Died"], format="%Y-%m-%d")

In [56]:
scientists.to_csv("scientsts_out.csv")

In [57]:
reload = pd.read_csv("scientsts_out.csv")

In [58]:
reload

,Unnamed: 0,Name,Born,Died,Age,Occupation,born_year
0,0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920
1,1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876
2,2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820
3,3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867
4,4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907
5,5,John Snow,1813-03-15,1858-06-16,45,Physician,1813
6,6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912
7,7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777

In [59]:
reload.columns

Index(['Unnamed: 0', 'Name', 'Born', 'Died', 'Age', 'Occupation', 'born_year'], dtype='object')

In [61]:
scientists.to_csv("scientsts_out.csv", index=False)

In [62]:
reload = pd.read_csv("scientsts_out.csv")

In [63]:
reload

,Name,Born,Died,Age,Occupation,born_year
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777