# Error
## Syntax error

In [10]:
# Syntax error: 문법 오류
if True:
    pass
else

SyntaxError: expected ':' (818395160.py, line 4)

In [4]:
# Syntax error
print('hello

SyntaxError: unterminated string literal (detected at line 2) (1225880331.py, line 2)

In [5]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

## exception

In [8]:
# zerodivision error
print(5/0)

ZeroDivisionError: division by zero

In [11]:
# name error: 선언 오류.
print(hello)

NameError: name 'hello' is not defined

In [13]:
# type error
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [21]:
# Type error
import random
random.sample([1, 2, 3, 4, 5]) # 위치인자 2개 필요한데 한개만 넣어 생긴 오류

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [23]:
random.sample([1, 2, 3, 4, 5], 1, 2, 3, 4, 5, 6,7) # 위치인자가 정해진 것 보다 많이 들어간 경우

TypeError: Random.sample() takes 3 positional arguments but 9 were given

In [25]:
# value error
int('4.5') # 10진수 자리에 소수점 들어감

ValueError: invalid literal for int() with base 10: '4.5'

In [26]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [29]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}

my_dict['melon']

KeyError: 'melon'

In [31]:
# module not found error
import pandas # 설치 안되어있거나, 가상환경이 안켜져있는 경우

ModuleNotFoundError: No module named 'pandas'

## 예외처리

```python
try:
    code
except 예외:
    code
```

In [65]:
# try가 정상적으로 작동하지 않으면 except로 작동됨.
try:
    num = int(input('숫자를 입력해주세요 : ')) # 문자형태로 데이터를 받음. 1을 받아도 글자 1로 받아진거임
    print(f'{num}의 세제곱은 {n ** 3}입니다.') # 글자 1이 저장되어 n**3 이 작동 안함
except:
    print('숫자를 입력해!')

숫자를 입력해주세요 :  4n

숫자를 입력해!

In [51]:
# 오류가 2가지인 경우
try:
    num = int(input('100을 무엇으로 나누시겠습니까?'))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError: # 0을 입력한 경우
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError: # 숫자가 아닌 값을 입력한 경우
    print('모든 수는 0으로 나눈 수 없다')

100을 무엇으로 나누시겠습니까? 3ㅡ

입력한 데이터는 숫자가 아닙니다.

In [54]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])
except IndexError as err: # as 활용
    print('out of index')
    print(err)

out of index
list index out of range

In [55]:
# else -> 예외를 일으키지 않을 때 실행되는 코드
# try 문이 다 작성되었을때 작동됨.
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('오류입니다.')
else:
    print(num ** 3)

오류입니다.

In [58]:
# finally: 예외와 상관 없이 무조건 실행됨.
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('오류입니다.')
finally:
    print('end')

오류입니다.
end

In [63]:
# 여러가지 에러 상황들
def my_div(num1, num2):
    try:
        return num1 / num2
    except (ValueError, TypeError): # 값, 형태가 잘못 들어온 오류
        return '숫자를 입력하세요'
    except ZeroDivisionError: # 0을 대입하면 안되는 나눗셈에 0이 들어간 경우
        return '0으로 나눌 수 없습니다'
    except:
        return '무엇인가 잘못되었어요'

In [61]:
print(my_div('2', 'q'))

무엇인가 잘못되었어요