# Open Questions

How to fetch all 23's from the list

mystudages = [21,43,33,23,22,34,33,43,33,23,55,43,22]

How to find the index of all 43's 

How to remove duplicates

# Types of variables

In [6]:
#Integer 
x = 5

In [7]:
type(x)

int

In [8]:
#Float 
y = 5.5

In [9]:
type(y)

float

In [10]:
#String 
customer_Name = 'John'

In [11]:
type(customer_Name)

str

In [14]:
z =x<y

In [16]:
type(z)

bool

# Python Collection DataTypes

#Lists 
#Tuples
#Dictionaries 
#Sets

In [38]:
mystudages = [21,43,33,23,22,34,33,43,33,23,55,43,22]

In [26]:
min(mystudages)

21

In [21]:
sum(mystudages)

428

In [22]:
max(mystudages)

55

In [23]:
del mystudages

In [27]:
mystudages.append(10)

In [29]:
mystudages.append(10,13,21,22,24)

TypeError: append() takes exactly one argument (5 given)

In [30]:
mystudages.append([10,13,21,22,24])

In [34]:
mystudages.extend([10,13,21,22,24])

In [36]:
mystudages.clear()

In [39]:
mystudages

[21, 43, 33, 23, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [40]:
mynewlist = mystudages.copy()

In [41]:
mynewlist

[21, 43, 33, 23, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [42]:
mystudages

[21, 43, 33, 23, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [43]:
mystudages.count(33)

3

In [48]:
mystudages.index(33)

2

In [46]:
mystudages[0]

21

In [50]:
mystudages

[21, 43, 33, 23, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [51]:
mystudages[1:8]

[43, 33, 23, 22, 34, 33, 43]

In [53]:
mystudages.insert(4,20)

In [54]:
mystudages

[21, 43, 33, 23, 20, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [55]:
mystudages.pop(3)

23

In [56]:
mystudages

[21, 43, 33, 20, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [57]:
mystudages.remove(33)

In [58]:
mystudages

[21, 43, 20, 22, 34, 33, 43, 33, 23, 55, 43, 22]

In [59]:
mystudages.reverse()

In [61]:
mystudages.sort()

In [63]:
mystudages.reverse()

In [64]:
mystudages

[55, 43, 43, 43, 34, 33, 33, 23, 22, 22, 21, 20]

In [66]:
mystudages[-1]

20

In [69]:
mystudages[-1:-6:-1]

[20, 21, 22, 22, 23]

In [70]:
mystudages[:9]

[55, 43, 43, 43, 34, 33, 33, 23, 22]

In [71]:
type(mystudages)

list

In [72]:
mylang = ['Hindi',['Hindi','English'], ['Spanish','French'],'English',['Urdu']]

In [73]:
mylang

['Hindi', ['Hindi', 'English'], ['Spanish', 'French'], 'English', ['Urdu']]

In [85]:
type(mylang[1])

list

In [80]:
mylang[1][1]

'English'

In [82]:
mystudages

[55, 43, 43, 43, 34, 33, 33, 23, 22, 22, 21, 20]

In [83]:
mystudages[-1:5:-1]

[20, 21, 22, 22, 23, 33]

In [84]:
mystudages[3:-1]

[43, 34, 33, 33, 23, 22, 22, 21]

In [98]:
mylist1 = ['A','B',7,6.5, True]

In [92]:
type(mylist1[4])

bool

In [99]:
del mylist1[0]

In [100]:
mylist1

['B', 7, 6.5, True]

In [96]:
del mylist1

In [103]:
mystudages[1:4]=[23,23,23]

In [104]:
mystudages

[55, 23, 23, 23, 34, 33, 33, 23, 22, 22, 21, 20]

In [ ]:
for i in range() {
    statement 1
    statement 2
}
statement 3

In [ ]:
for i in range():
    statement1
    statement2
statement3

In [105]:
sales = [2132,4333,2323,3333]

In [108]:
for a in sales:
    print(a)

2132
4333
2323
3333

In [111]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [115]:
for i in range(0,10,2):
    print(i)
    print('Hello')
print('Hi')

0
Hello
2
Hello
4
Hello
6
Hello
8
Hello
Hi

In [116]:
sales = [4345,5543,2324,2243]
profit=[434,545,434,223]

In [117]:
profit/sales

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [119]:
mystudages[-1:-5:-1]

[20, 21, 22, 22]

In [120]:
mystudages[-1:5:-1]

[20, 21, 22, 22, 23, 33]

In [126]:
len(mystudages)

12

In [122]:
for i,k in sales, profit:
    print i/k

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i/k)? (<ipython-input-122-a9b77902e561>, line 2)

In [124]:
sum(profit)/sum(sales)

0.11317883085437565

In [128]:
len(sales)

4

In [129]:
sales

[4345, 5543, 2324, 2243]

In [139]:
profitratio=[]

In [140]:
profitratio = []
for i in range(0,len(sales)):
    profitratio[i]=(profit[i]/sales[i])
print(profitratio)

IndexError: list assignment index out of range

In [131]:
mystudages[0]=35

In [132]:
mystudages

[35, 23, 23, 23, 34, 33, 33, 23, 22, 22, 21, 20]

In [133]:
#Tuple 
myfirsttuple = (21,43,54,34,34,32,23)

In [134]:
myfirsttuple.count(34)

2

In [137]:
myfirsttuple.index(34)

3

In [141]:
myfirsttuple[0]=30

TypeError: 'tuple' object does not support item assignment