# bool

In [1]:
# Bool 자료형 (True False 두가지 값만 갖고 있음)
print(True)
print(type(True))

True
<class 'bool'>

In [2]:
print(False)
print(type(False))

False
<class 'bool'>

In [3]:
print(1 == 2)
print(1 != 2)
print(1 < 2)
print(1 > 2)
print(1 <= 2)
print(1 >= 2)

False
True
True
False
True
False

In [4]:
# 문자형 bool - 앞일수록 작은 값 가짐
print("가" == "나")
print("가" != "나")
print("가" < "나")
print("가" > "나")

False
True
True
False

In [5]:
x=25; print(10<x<30)

True

In [6]:
x=5; print(10<x<30)

False

In [7]:
# not True = False
print(True)
print(not True)

True
False

In [8]:
x = 5
print(x < 10)
print(not x < 10)

True
False

In [9]:
# and (&, 교집합) 와 or(|, 합집합)
# 반드시 & 또는 | 사용시 ()로 묶어야함
x=25; print((10<x) & (x<30))

True

In [10]:
x=25; print((10<x) & (x>30))

False

In [11]:
x=5; print((10<x) | (x<30))

True

In [12]:
x=5; print((10<x) | (x>30))

False

## if 조건문

In [13]:
# 조건문 if문
# 조건이 1개 & 조건 만족할 때 명령어 실행
number = int(input("정수를 입력하세요>"))
if number > 0:
  print("입력한 정수값은 양수입니다.")
if number == 0:
  print("입력한 정수값은 0입니다.")
if number < 0:
  print("입력한 정수값은 음수입니다.")

정수를 입력하세요>23
입력한 정수값은 양수입니다.

In [14]:
# 짝수 홀수 구분하는 프로그램

num = int(input("숫자를 입력하세요:"))
if num % 2 == 1:
  print("홀수 입니다.")
if num % 2 == 0:
  print("짝수 입니다.")

숫자를 입력하세요:31
홀수 입니다.

In [15]:
# 짝수, 홀수 구분하는 프로그램
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1]) # 마지막 자리수만 가져오면 되는 것이기 때문
if last_no == 0 or last_no == 2 or last_no == 4 or last_no == 6 or last_no == 8:
  print("현재 입력한 숫자는 짝수입니다.")
if last_no == 1 or last_no == 3 or last_no == 5 or last_no == 7 or last_no == 9:
  print("현재 입력한 숫자는 홀수입니다.")

숫자(정수)를 입력하세요> 22
현재 입력한 숫자는 짝수입니다.

In [16]:
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  print("현재 입력한 숫자는 짝수입니다.")
if last_no % 2 == 1:
  print("현재 입력한 숫자는 홀수입니다.")

숫자(정수)를 입력하세요> 22
현재 입력한 숫자는 짝수입니다.

In [17]:
# 문자열로 냅둔 채로 in 연산자 사용했음
no = input("숫자(정수)를 입력하세요> ")
last_no = no[-1]
if last_no in "02468": #숫자로 안바꾸고 문자열 안에 있는지 없는지로 확인
  print("현재 입력한 숫자는 짝수입니다.")
if last_no in "13579":
  print("현재 입력한 숫자는 홀수입니다.")

숫자(정수)를 입력하세요> 12
현재 입력한 숫자는 짝수입니다.

## 현재 날짜 시간

In [18]:
import datetime
now = datetime.datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(type(now.hour))
print(now.minute)
print(now.second)
print(now.weekday())
#Week day 0: 월, 1: 화, 2: 수, 3: 목, 4: 금, 5: 토, 6: 일

2024-02-22 12:21:16.479432
2024
2
22
12
<class 'int'>
21
16
3

In [19]:
import datetime
now = datetime.datetime.now()
"{}년 {}월 {}일 {}시 {}분 {}초입니다.".format(now.year, now.month, now.day,
                                     now.hour, now.minute, now.second)

'2024년 2월 22일 12시 21분 19초입니다.'

In [20]:
#연습문제 계절 알려주는 프로그램 만들기
import datetime
now = datetime.datetime.now()
month = now.month
if 3<= month <=5:
  print('봄')
elif 6 <= month <= 8:
  print('여름')
elif 9 <= month <= 11:
  print('가을')
elif month ==1 or month == 2 or month ==12:
  print('겨울')

겨울

In [21]:
# 연습문제 오전, 오후 알려주는 프로그램
import datetime
now = datetime.datetime.now()
time = now.hour
if 0 <= time < 12:
  print("오전")
else:
  print("오후")

오후

In [22]:
# 교수님 answer
# 계절을 알려주는 프로그램
import datetime
now = datetime.datetime.now()
if 3 <= now.month <= 5:
  print("와 봄이야")
if 6 <= now.month <= 8:
  print("야 여름이다")
if 9 <= now.month <= 11:
  print("고독한 가을이야")
if now.month == 12 or 1 <= now.month <= 2:
  print("겨울의 왕국")

겨울의 왕국

In [23]:
# 오전 오후를 구별하는 프로그램
import datetime
now = datetime.datetime.now()
korea_hour = now.hour+9
if korea_hour < 12:
  print("현재 오전 {}시입니다. ㅠㅠ".format(korea_hour))
if korea_hour >= 12:
  print("현재 오후 {}시입니다. ^^".format(korea_hour))

현재 오후 21시입니다. ^^

## if ~ else 조건문

In [24]:
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  print("현재 입력한 숫자는 짝수입니다.")
else:
  print("현재 입력한 숫자는 홀수입니다.")

숫자(정수)를 입력하세요> 2
현재 입력한 숫자는 짝수입니다.

In [25]:
#if  elif else 실습 - 계절
import datetime
now = datetime.datetime.now()
month = now.month
if 3<= month <=5:
  print('봄')
elif 6 <= month <= 8:
  print('여름')
elif 9 <= month <= 11:
  print('가을')
else:
  print('겨울')

겨울

In [26]:
# 학점 정의 - 근데 elif 하면 앞에게 걸러지기 때문에 굳이 앞에서 걸러지는 범위는 다시 반복하지 않아도 됨.
gpa = float(input())
if 3.5 < gpa <= 4.5:
  print('A')
elif 2.5 < gpa <= 3.5:
  print('B')
elif 1.5 < gpa <= 2.5:
  print('C')
elif 0 < gpa <= 1.5:
  print('D')
else:
  print('F')

2.5
C

## if ~ elif ~ else 조건문

In [28]:
# 계절을 알려주는 프로그램
import datetime
now = datetime.datetime.now()
if 3 <= now.month <= 5:
  print("와 봄이야")
elif 6 <= now.month <= 8:
  print("야 여름이다")
elif 9 <= now.month <= 11:
  print("고독한 가을이야")
else:
  print("겨울의 왕국")

겨울의 왕국

In [29]:
# 학점을 알려주는 프로그램
# A: 3.5~4.5
# B: 2.5~3.5
# C: 1.5~2.5
# D: 0~1.5
# F: 0
score = float(input("학점을 입력하세요> "))
if 3.5 <= score <= 4.5:
  print("당신의 학점은 A입니다.")

#근데 위에서 이미 한번 걸러지니까 굳이 이렇게 안써도 되고
elif 2.5 <= score < 3.5:
  print("당신의 학점은 B입니다.")
elif 1.5 <= score < 2.5:
  print("당신의 학점은 C입니다.")
elif 0 < score < 1.5:
  print("당신의 학점은 D입니다.")
else:
  print("당신의 학점은 F입니다.")

학점을 입력하세요> 3.2
당신의 학점은 B입니다.

In [30]:
#이렇게 앞에서 걸러진건 빼고 쓰는게 컴퓨터한테 더 좋음
score = float(input("학점을 입력하세요> "))
if 3.5 <= score <= 4.5:
  print("당신의 학점은 A입니다.")
elif 2.5 <= score:
  print("당신의 학점은 B입니다.")
elif 1.5 <= score:
  print("당신의 학점은 C입니다.")
elif 0 < score:
  print("당신의 학점은 D입니다.")
else:
  print("당신의 학점은 F입니다.")

학점을 입력하세요> 1.5
당신의 학점은 C입니다.

## 조건문에 들어가면 False 로 바뀌는 값

In [31]:
# 조건문이 True일 때 아래 명령이 실행되는데 None, 0, 빈 자료형은 무조건 True가 아님!!!!!!!!
if None:
  print("None 값은 현재 True입니다.")
else:
  print("None 값은 현재 False입니다.")

None 값은 현재 False입니다.

In [32]:
if 0:
  print("0 값은 현재 True입니다.")
else:
  print("0 값은 현재 False입니다.")

0 값은 현재 False입니다.

In [33]:
if []:
  print("리스트 값은 현재 True입니다.")
else:
  print("리스트 값은 현재 False입니다.")

리스트 값은 현재 False입니다.

In [34]:
# 앞선 None, 0, 빈자료형 이외의 것들이 들어오면 무조건 True
if 1:
  print("1 값은 현재 True입니다.")
else:
  print("1 값은 현재 False입니다.")

1 값은 현재 True입니다.

## pass 키워드

In [35]:
if 4 % 2 == 0:
print("짝수")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-35-f3ef2f22c11e>, line 2)

In [36]:
if 4 % 2 == 0:
  print("짝수")

짝수

In [37]:
#pass 를 쓰면 코드를 실행했을 때 오류가 안남
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  pass
else:
  pass

숫자(정수)를 입력하세요> 2

In [38]:
#대신에 pass를 쓰면 오류가 안떠서 어디서 코드에 문제가 있는지 안보임. 그때에는 raise NotImpletmentedError를 써주면됨
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  raise NotImplementedError
else:
  raise NotImplementedError

숫자(정수)를 입력하세요> 4

NotImplementedError:

## 확인 문제

In [39]:
2+10=12
1+4=5
출력 없음

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-39-4f37c64e0274>, line 1)

In [40]:
x = 15
if x > 10 & x < 20:
  print("조건에 맞습니다.")

조건에 맞습니다.

In [41]:
x = 15
if (x > 10) & (x < 20):
  print("조건에 맞습니다.")

조건에 맞습니다.

In [42]:
1996 % 12

4

In [43]:
str_input = input("태어난 해를 입력해주세요> ")
birth_year = int(str_input) % 12

if birth_year == 0:
    print("원숭이 띠입니다.")
elif birth_year == 1:
    print("닭 띠입니다.")
elif birth_year == 2:
    print("개 띠입니다.")
elif birth_year == 3:
    print("돼지 띠입니다.")
elif birth_year == 4:
    print("쥐 띠입니다.")
elif birth_year == 5:
    print("소 띠입니다.")
elif birth_year == 6:
    print("범 띠입니다.")
elif birth_year == 7:
    print("토끼 띠입니다.")
elif birth_year == 8:
    print("용 띠입니다.")
elif birth_year == 9:
    print("뱀 띠입니다.")
elif birth_year == 10:
    print("말 띠입니다.")
elif birth_year == 11:
    print("양 띠입니다.")

태어난 해를 입력해주세요> 1998
범 띠입니다.

# 리스트

In [44]:
# 리스트 생성
list_1 = [1,2,3,4,5]
print(list_1)
# 대괄호 안의 개별값 = 요소 = 5개의 요소

[1, 2, 3, 4, 5]

In [45]:
list_2 = ["안","녕","하","세","요"]
print(list_2)

['안', '녕', '하', '세', '요']

In [46]:
list_3 = [1, 2, 3, "안", "녕", True]
print(list_3)
type(list_3[-1])

[1, 2, 3, '안', '녕', True]

bool

## 인덱싱

In [47]:
# list안에 다양한 자료형을 넣을 수 있음. 아래의 요소는 3개 있는 거임!
list_a = [[1,2,3,4], "안녕하세요", True]
print(list_a)
len(list_a)

[[1, 2, 3, 4], '안녕하세요', True]

3

In [48]:
list_a[0]

[1, 2, 3, 4]

In [49]:
list_a[1]

'안녕하세요'

In [50]:
list_a[2]

True

In [51]:
# 리스트 안의 리스트 접근 -> 개별 값을 하나씩 꺼낼 수 있음
list_a[0][2]

3

In [52]:
# 문자열 안에 있는 것도 꺼내서 쓸 수 있음!
list_a[1][2]

'하'

## 슬라이싱

In [53]:
# 인덱스 범위
# 끝번호 포함하지 않음
print(list_a[0:2])
print(list_a[0:1+1])

[[1, 2, 3, 4], '안녕하세요']
[[1, 2, 3, 4], '안녕하세요']

In [54]:
# 시작번호 생략 = 처음부터~
print(list_a[:2])
print(list_a[:1+1])

[[1, 2, 3, 4], '안녕하세요']
[[1, 2, 3, 4], '안녕하세요']

In [55]:
# 끝번호 생략 = 끝까지~
print(list_a[1:])
print(list_a[1:])

['안녕하세요', True]
['안녕하세요', True]

## 음수 인덱스

In [56]:
list_a[-1]

True

In [57]:
list_a[-2]

'안녕하세요'

In [58]:
list_a[-3]

[1, 2, 3, 4]

## 증가값

In [59]:
region = ["서울", "부산", "대구", "광주", "대전", "제주"]
region[::2] # 2 칸씩 인덱싱 (건너뛰기 2번하면 뛰기 2번째 값 출력)

['서울', '대구', '대전']

In [60]:
# 역으로 슬라이싱
# -를 하면 거꾸로 나옴
region[::-4]

['제주', '부산']

In [61]:
region[4:0:-1]

['대전', '광주', '대구', '부산']

## 리스트 요소 변경

In [62]:
list_a[2] = False
print(list_a[2])
print(list_a)

False
[[1, 2, 3, 4], '안녕하세요', False]

In [63]:
list_a[1] = "잘자요"
print(list_a[1])
print(list_a)

잘자요
[[1, 2, 3, 4], '잘자요', False]

In [64]:
# 리스트 안의 리스트도 변경 가능
list_a[0][0] = 10
print(list_a[0])
print(list_a)

[10, 2, 3, 4]
[[10, 2, 3, 4], '잘자요', False]

## IndexError

In [65]:
list_a[10] #리스트에 없는 요소를 호출하면 오류 발생

IndexError: list index out of range

In [66]:
# 3도 out of range임
print(list_a)
list_a[3]

[[10, 2, 3, 4], '잘자요', False]

IndexError: list index out of range

## 연결 vs. 추가

In [67]:
# 리스트 합치기 = 연결 +
list_1 = [1,2,3]
list_2 = [4,5,6]
print(list_1 + list_2)

[1, 2, 3, 4, 5, 6]

In [68]:
# 리스트 반복 = 반복 *
print(list_1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
# 리스트 길이
len(list_1) # 요소의 개수

3

In [70]:
# 추가 = 뒤에 추가 = 요소(개별값)
list_1.append(5)
print(list_1) # 파괴적 처리

[1, 2, 3, 5]

In [71]:
# 추가 = 중간에 추가 = 원하는 위치(인덱스 번호)에 추가 = 요소(개별값)
list_1.insert(3, 4) # 인덱스 3번 위치에 4라는 값(요소) 추가
print(list_1) # 파괴적 처리

[1, 2, 3, 4, 5]

In [72]:
# +는 리스트끼리 연결하지만 원본 변화 X
print(list_1 + list_2)
print(list_1)
print(list_2)

[1, 2, 3, 4, 5, 4, 5, 6]
[1, 2, 3, 4, 5]
[4, 5, 6]

In [73]:
# extend는 +랑 기능은 같지만 아래처럼 원본이 변화됨
#추가 = + 연결 & 파괴적 처리 = 리스트 전체 요소
list_1.extend(list_2)
print(list_1) # 파괴적 처리

[1, 2, 3, 4, 5, 4, 5, 6]

## 제거

In [74]:
# 인덱스 번호로 제거
# del 키워드 = delete
del list_1[2]
print(list_1)

[1, 2, 4, 5, 4, 5, 6]

In [75]:
del list_1[:2]
print(list_1)

[4, 5, 4, 5, 6]

In [76]:
del list_1[3:]
print(list_1)

[4, 5, 4]

In [77]:
print(list_1)

[4, 5, 4]

In [78]:
# pop 함수
list_1.pop(2)

4

In [79]:
# 값으로 제거
# remove 함수
list_1.remove(4)
print(list_1)

[5]

In [80]:
# 리스트 안의 모든 요소 제거 = 비우기 = 리스트 구조 살아있음
list_1.clear()
print(list_1)
len(list_1)

[]

0

## 정렬

In [81]:
# 오름차순
score = [75,55,40,90,100]
score.sort()
print(score)
# 내림차순
score.sort(reverse=True)
print(score)

[40, 55, 75, 90, 100]
[100, 90, 75, 55, 40]

In [82]:
# in & not in
print(75 in score)
print(0 in score)
print(75 not in score) #in으로 한다음에 not 들어가면 그 결과의 반대를 출력하는거라고 생각하면 안헷갈림
print(0 not in score)

True
False
False
True

In [83]:
print(sorted(score))
score

[40, 55, 75, 90, 100]

[100, 90, 75, 55, 40]

## 전개 연산자

In [84]:
# 1) 리스트 안에서 사용
a = [1,2,3]
b = [*a] # 비파괴적 처리 != append 함수와 다름
c = [*a, *a]
print(a);print(b);print(c)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [85]:
a = [1,2,3]
b = a.append(4)
print(type(b))
print(a)
print(b)

<class 'NoneType'>
[1, 2, 3, 4]
None

In [86]:
a = [1,2,3]
b = [*a, 4]
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [87]:
# 2) 함수에서 사용
print(a)
print(*a) #아래랑 같다고 생각하면됨
print(1,2,3,4)

[1, 2, 3]
1 2 3
1 2 3 4

## 이차원 리스트

In [88]:
언어영역 = [100,70,40,60,80]
수리영역 = [50,100,80,40,60]
과학영역 = [70,80,70,90,80]
scores = [언어영역, 수리영역, 과학영역]
scores

[[100, 70, 40, 60, 80], [50, 100, 80, 40, 60], [70, 80, 70, 90, 80]]

In [89]:
# 인덱싱
scores[0][2] # 언어영역의 C 학생의 점수

40

# 반복문

In [90]:
print(("ABC"))
print(("ABC"))
print(("ABC"))
print(("ABC"))
print(("ABC"))

ABC
ABC
ABC
ABC
ABC

In [91]:
for i in [1, 2, 3, 4, 5]:
  print(("ABC"))

ABC
ABC
ABC
ABC
ABC

## for 반복문 : 리스트와 함께 사용하기

In [92]:
# 리스트 선언
array = [1, 2, 3, 4, 5]
# 리스트에 반복문을 적용
for i in array:
    # 출력
    print(i)

1
2
3
4
5

In [93]:
conni2 = [1, 4, 7, 2]
for i in conni2:
  print(i)

1
4
7
2

## 중첩 리스트와 중첩 반복문

In [94]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    print(items)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [95]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    for item in items:
        print(item)

1
2
3
4
5
6
7
8
9

## 리스트로 반복문

In [96]:
# 리스트로 반복문
list_a = [1,2,3] # 1차원
list_b = [[1,2,3],[4,5,6]] # 2차원

In [97]:
# 3개의 요소를 가지고 있어서 3번 반복
for i in list_a:
  print(i)

1
2
3

In [98]:
# 2개의 요소를 가지고 있어서 2번 반복
# 여전히 리스트 형태로 출력
for i in list_b:
  print(i)

[1, 2, 3]
[4, 5, 6]

In [99]:
for i in list_b:
  for j in i:
    print(j)

1
2
3
4
5
6

In [100]:
list_c = [[1,2,3],[4,5,6],7]

In [101]:
for i in list_c:
  print(i)
  for j in i: # 여기서는 7 때문에 오류가 남 -> in은 str 또는 list에만 쓸 수 있어서 지금 여기서 7이 들어가면 int 이기 떄문에 오류가 남
    print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
7

TypeError: 'int' object is not iterable

In [102]:
#평활화 작업: 안의 개별값을 꺼내서 하나씩 뿌리는 작업
for i in list_c:
  if type(i) == list: #리스트면 중첩을 실행하고
    for j in i:
      print(j)
  else: #아니면 그냥 프린트하세요
    print(i)

1
2
3
4
5
6
7

In [103]:
#연습문제
numbers = [1,2,3,4,5,6,7,8,9]
output= [[],[], []]

for number in numbers:
  output[number%3-1].append(number)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## 확인 문제

In [104]:
list_a = [0,1,2,3,4,5,6,7]
list_a.extend(list_a)
print(list_a)

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [105]:
list_a = [0,1,2,3,4,5,6,7]
list_a.append(10)
print(list_a)

[0, 1, 2, 3, 4, 5, 6, 7, 10]

In [106]:
list_a = [0,1,2,3,4,5,6,7]
list_a.insert(3,0)
print(list_a)

[0, 1, 2, 0, 3, 4, 5, 6, 7]

In [107]:
list_a = [0,1,2,3,4,5,6,7]
list_a.remove(3)
print(list_a)

[0, 1, 2, 4, 5, 6, 7]

In [108]:
list_a = [0,1,2,3,4,5,6,7]
list_a.pop(3)
print(list_a)

[0, 1, 2, 4, 5, 6, 7]

In [109]:
list_a = [0,1,2,3,4,5,6,7]
list_a.clear()
print(list_a)

[]

In [110]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
    if number >= 100:
        print("- 100 이상의 수:", number)

- 100 이상의 수: 273
- 100 이상의 수: 103
- 100 이상의 수: 800

In [111]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
    if number % 2 == 1:
        print(number, "는 홀수입니다.")
    else:
        print(number, "는 짝수입니다.")

273 는 홀수입니다.
103 는 홀수입니다.
5 는 홀수입니다.
32 는 짝수입니다.
65 는 홀수입니다.
9 는 홀수입니다.
72 는 짝수입니다.
800 는 짝수입니다.
99 는 홀수입니다.

In [112]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
    print(number, "는", len(str(number)), "자릿수입니다.")

273 는 3 자릿수입니다.
103 는 3 자릿수입니다.
5 는 1 자릿수입니다.
32 는 2 자릿수입니다.
65 는 2 자릿수입니다.
9 는 1 자릿수입니다.
72 는 2 자릿수입니다.
800 는 3 자릿수입니다.
99 는 2 자릿수입니다.

In [113]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
    output[(number + 2) % 3].append(number)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [114]:
for number in numbers:
    print((number + 2) % 3)

0
1
2
0
1
2
0
1
2

In [115]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in range(0, len(numbers) // 2):
  j = i * 2 + 1
  print("i = {}, j = {}".format(i, j))
  numbers[j] = numbers[j] ** 2

print(numbers)

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]

## 딕셔너리 만들기

In [116]:
# 리스트와 딕셔너리 비교
# 딕셔너리 생성
sd_dic = {
    "이름": "정대만",
    "나이": 19,
    "키": 183,
    "몸무게": 70
}
# 리스트
sd_list = ["정대만",19,183,70]

In [117]:
# 이름 보기
print(sd_list[0])
print(sd_dic["이름"])

정대만
정대만

In [118]:
# 값
print(sd_list[1])
print(sd_dic["나이"])

19
19

In [119]:
print(sd_list[3])
print(sd_dic["몸무게"])

70
70

In [120]:
# sd_dic{"키"} <= 실수하지 말 것

## 여러 개 값을 가지는 딕셔너리

In [121]:
# 여러 개의 값을 가지는 딕셔너리 생성
bs = {
    "선수": ["채치수","정대만","송태섭","강백호","서태웅"],
    "감독": ["안감독"],
    "매니저": ["한나"]
}
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['한나']}

In [122]:
# 값 보기
bs["선수"]

['채치수', '정대만', '송태섭', '강백호', '서태웅']

In [123]:
#사전에서 리스트의 요소 꺼내기
bs["선수"][1]

'정대만'

In [124]:
# 값 변경
bs["매니저"][0] = "소연"
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연']}

In [125]:
# 새로운 키와 값 추가
# 하나의 값
bs["상대팀"] = "산왕공고"
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '상대팀': '산왕공고'}

In [126]:
# 여러 개의 값
bs["별명"] = ["고릴라", "불꽃남자"]
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '상대팀': '산왕공고', '별명': ['고릴라', '불꽃남자']}

In [127]:
# 키와 값 제거
del bs["상대팀"]
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '별명': ['고릴라', '불꽃남자']}

## KeyError

In [128]:
# 존재하지 않는 키를 사용할 때 발생
# 값 보기
bs["상대팀"]

KeyError: '상대팀'

In [129]:
# 키와 값 제거
del bs["상대팀"]

KeyError: '상대팀'

## NameError

In [130]:
# 에러 발생하는 경우
a = {이름: "강백호"}
print(a)

NameError: name '이름' is not defined

In [131]:
# 에러 수정 = 키가 문자열이면 따옴표로 묶어줘야 함
a = {"이름": "강백호"}
print(a)

{'이름': '강백호'}

## in 연산자

In [132]:
# 찾고 싶은 키
"선수" in bs

True

In [133]:
"선생님" in bs

False

In [134]:
# 딕셔너리의 키 존재 여부 알려주는 프로그램
key = input("찾고 싶은 키를 입력하세요> ")
if key in bs:
  print("존재하는 키입니다. 해당 값은 ", bs[key])
else:
  print("존재하지 않는 키입니다.")

찾고 싶은 키를 입력하세요>
존재하지 않는 키입니다.

## 값을 보여주는 함수

In [135]:
# 존재하는 키로 값 보기
bs["감독"]

['안감독']

In [136]:
# 존재하지 않는 키로 값 보기 = KeyError
bs["감독님"]

KeyError: '감독님'

In [137]:
# 존재하지 않는 키로 값 보기 = 에러 없이 결과가 없다는 내용
bs.get("감독")

['안감독']

In [138]:
value = bs.get("감독님")
print(value)

None

## 딕셔너리로 반복문

In [139]:
sd_dic = {
    "이름": "정대만",
    "나이": 19,
    "키": 183,
    "몸무게": 70
}

In [140]:
# 반복문
for i in sd_dic:
  print(i) # 키
  print(sd_dic[i]) # 값

이름
정대만
나이
19
키
183
몸무게
70

In [141]:
character = {
    "name": "정대만",
    "number": 14,
    "records": { #여기는 딕셔너리
        "three_point": 24,
        "rebound": 1
    },
    "schools": ["무석중", "북산고"] #여기는 리스트
}
for i in character:
  if type(character[i]) == dict: #딕셔너리 거르고
    for j in character[i]:
      print(character[i][j])
  elif type(character[i]) == list: #리스트 거르기
    for k in character[i]:
      print(k)
  else:
    print(character[i])

정대만
14
24
1
무석중
북산고

## 확인 문제

In [142]:
dict_a = {}
dict_a["name"] = "구름"
print(dict_a)

{'name': '구름'}

In [143]:
del dict_a["name"]
print(dict_a)

{}

In [144]:
pets = [
    {"name": "구름", "age": 5},
    {"name": "초코", "age": 3},
    {"name": "아지", "age": 1},
    {"name": "호랑이", "age": 1}
]

print("# 우리 동네 애완 동물들")
for pet in pets:
    print(pet["name"], str(pet["age"]) + "살")

# 우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [145]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

for number in numbers:
    if number in counter:
        counter[number] += 1
    else:
        counter[number] = 1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [146]:
character = {
    "name": "기사",
    "level": 12,
    "items": {
        "sword": "불꽃의검",
        "armor": "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}
for i in character:
  if type(character[i]) is dict: # 딕셔너리 안의 요소가 딕셔너리인 경우
    for j in character[i]: # j 는 딕셔너리 키
      print(j, ":", character[i][j])
  elif type(character[i]) is list: # 딕셔너리 안의 요소가 리스트인 경우
    for k in character[i]: # k 는 리스트 값
      print(i, ":", k)
  else: # 딕셔너리 안의 요소가 나머지인 경우
    print(i, ":", character[i])

name : 기사
level : 12
sword : 불꽃의검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [148]:
a = [1,2,3]
a.append(4)
print(a)
# print(b)

[1, 2, 3, 4]

In [149]:
# 혼자 스스로 마지막 문제 풀기
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword": "불꽃의 검",
        "armor": "풀플레이트"
    },
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
}

In [150]:
# 첫번째 오답
for i in character:
  if type(i) is dict:
    for j in character[i]:
      print("{} : {}".format(j, character[i][j]))
  elif type(i) is list:
    for j in character[i]:
      print("{} : {}".format(character[i], j))
  else:
    print("{} : {}".format(i, character[i]))

name : 기사
level : 12
items : {'sword': '불꽃의 검', 'armor': '풀플레이트'}
skill : ['베기', '세게 베기', '아주 세게 베기']

In [158]:
# 스스로 연구쟁이
for i in character:
  if type(character[i]) is dict: #i는 items
    for j in character[i]:
      print("{}: {}".format(j, character[i][j])) #j는 sword, armor
  elif type(character[i]) is list:
    for k in character[i]:
      print("{}: {}".format(i, k))
  else:
    print("{}: {}".format(i, character[i]))

name: 기사
level: 12
sword: 불꽃의 검
armor: 풀플레이트
skill: 베기
skill: 세게 베기
skill: 아주 세게 베기

In [159]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword": "불꽃의 검",
        "armor": "풀플레이트"
    },
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
}
for i in character:
  print("i는 " + str(i))
  print("i의 타입은 " + str(type(i)))
  print("character[i]의 타입은 " + str(type(character[i])))
  if type(character[i]) is dict:
    for j in character[i]:
      print("{} : {}".format(j, character[i][j]))
  elif type(character[i]) is list:
    for k in character[i]:
      print("{} : {}".format(i, k))
  else:
    print("{} : {}".format(i, character[i]))

i는 name
i의 타입은 <class 'str'>
character[i]의 타입은 <class 'str'>
name : 기사
i는 level
i의 타입은 <class 'str'>
character[i]의 타입은 <class 'int'>
level : 12
i는 items
i의 타입은 <class 'str'>
character[i]의 타입은 <class 'dict'>
sword : 불꽃의 검
armor : 풀플레이트
i는 skill
i의 타입은 <class 'str'>
character[i]의 타입은 <class 'list'>
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기