In [4]:
l1=[]
l2=[]
name = input("Enter the name")
course= input("Enter your course that you want to take")
l1.append(name)
l2.append(course)

print("You are sucessfully registered")

Enter the nameSatish
Enter your course that you want to takeBCA
You are sucessfully registered

In [7]:
print(l1[0])
print(l2[1])

Satish

IndexError: list index out of range

In [6]:
for i in l1:
    if(i=='Satish'):
        j=l1.index('Satish')
        print(j)

0

In [8]:
print(l1[0])
print(l2[1])

Satish

IndexError: list index out of range

In [9]:
l1

['Satish']

In [11]:
for i in l1:
    if(i=='Satish'):
        j=l1.index('Satish')
        print("the course taken by satish is",l2[j])

the course taken by satish is BCA

In [12]:
class Stud:
    def __init__(self,n,c):
        self.name=n
        self.course=c

In [13]:
R1=Stud("Varun","CSE")

In [14]:
#r1 ---> Imaginary box for varun --> Name, Course
#R1 --> name,course (Attributes)
R1.name

'Varun'

In [15]:
R1.course

'CSE'

In [16]:
R2=Stud("kabir",'Btech')

In [17]:
R2.name

'kabir'

In [18]:
R2.course

'Btech'

In [22]:
class Stud2:
    def __init__(self,n,c,d):
        self.name=n
        self.course=c
        self.address=d

In [24]:
R1=Stud("Varun","CSE","Mumbai")
R2=Stud("varun","CSE","Mumbai")

TypeError: __init__() takes 3 positional arguments but 4 were given

In [25]:
class student:
    def __init__(self,n,c):
        self.name = n
        self.course = c

In [26]:
R1 = student("Ravi", "BE")

In [27]:
R1.name

'Ravi'

In [28]:
R2.course

'Btech'

In [29]:
R1.course

'BE'

In [30]:
l1=[]
R1=student("Ravi","BE")
l1.append(R1)

In [40]:
class math1:
    def __init__(self,a,b):
        self.num1=a
        self.num2=b
        
    def sum1(self):
        return self.num1+self.num2
    
 R1 = math1(2,3)
 R2 = math1(4,3)
 R1.sum1()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [41]:
R2.sum1()

AttributeError: 'Stud' object has no attribute 'sum1'

In [48]:
l1=[]
R1=name("chiru","cse","bengaluru")
R2=name("sinchana", "cse","bengaluru")
l1.append(R1)
l1.append(R2)

for i in l1:
    print(i.name)

TypeError: 'str' object is not callable

In [43]:
type(R1)

__main__.student

In [44]:
t=10
type(t)

int

In [51]:
d=open('C:\Users\saharsh\anaconda3','untitled1')
print(d)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1775916001.py, line 1)