In [1]:
print('hi')

hi

In [2]:
a=4
b=2
print(a*b)

8

In [3]:
'gvcjhgkjh4657687'

'gvcjhgkjh4657687'

In [30]:
k=input('enter a no')
b=input('enter no2')
print(k+b)

54

In [ ]:
k

'3'

In [31]:
k=int(input('enter a no'))
b=int(input('enter no2'))
print(k+b)

9

In [ ]:
k

6

In [ ]:
k=int(input('enter a no'))
b=int(input('enter the n02'))
print(k-b)

In [ ]:
#list-[]
#tuple-()
#set-{}
# Dictionary-{}
# string-''

In [ ]:
l=[1,2,3.5,'hisham',[12,3],5]

In [ ]:
l[-1]

5

In [ ]:
l[-3]

'nisham'

In [ ]:
l=[1,4,5,6[7,2],4]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\ACER\AppData\Local\Temp\ipykernel_2096\2320242248.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  l=[1,4,5,6[7,2],4]

In [ ]:
l[3]

'nisham'

In [ ]:
c=[1,4,5,6[7,2],4]

In [ ]:
c[3]

NameError: name 'c' is not defined

In [ ]:
l=[2,4,1,3,[7,2],1 ]

In [ ]:
l[3]

3

In [ ]:
l[4]

[7, 2]

In [ ]:
l.append(10)

In [ ]:
l.extend([22,42,54,31,78])

In [ ]:
print(l)

[2, 4, 1, 3, [7, 2], 1, 10, 2, 42, 54, 22, 42, 54, 31, 78]

In [ ]:
l.insert(3,100)

In [ ]:
print(l)

[2, 4, 1, 100, 3, [7, 2], 1, 10, 2, 42, 54, 22, 42, 54, 31, 78]

In [ ]:
l.pop()

78

In [ ]:
print(l)

[2, 4, 1, 100, 3, [7, 2], 1, 10, 2, 42, 54, 22, 42, 54, 31]

In [ ]:
del l[5]

In [ ]:
print(l)

[2, 4, 1, 100, 3, 1, 10, 2, 42, 54, 22, 42, 54, 31]

In [ ]:
l.remove(54)

In [ ]:
l.sort()

In [ ]:
print(l)

[1, 1, 2, 2, 3, 4, 10, 22, 31, 42, 42, 54, 100]

In [ ]:
l=[12,3,40,2,44,55,63,62,[34,454,67],88,90,78,65,43]

In [ ]:
l[3]

2

In [ ]:
l[8]

[34, 454, 67]

In [ ]:
l.append(100)

In [ ]:
print(l)

[12, 3, 40, 2, 44, 55, 63, 62, [34, 454, 67], 88, 90, 78, 65, 43, 100]

In [ ]:
l.extend([2,8,7])

In [ ]:
print(l)

[12, 3, 40, 2, 44, 55, 63, 62, [34, 454, 67], 88, 90, 78, 65, 43, 100, 2, 8, 7]

In [ ]:
l.insert(3,56)

In [ ]:
print(l)

[12, 3, 40, 56, 2, 44, 55, 63, 62, [34, 454, 67], 88, 90, 78, 65, 43, 100, 2, 8, 7]

In [ ]:
l.clear()

In [ ]:
print(l)

[]

In [ ]:
l.index(56)

ValueError: 56 is not in list

In [ ]:
l.pop(1)

IndexError: pop from empty list

In [ ]:
print(l)

[]

In [ ]:
l.extend([22,3,4,5,55,66,34,54,32,78,90,54,32,56,12,34,56])

In [ ]:
print(l)

[22, 3, 4, 5, 55, 66, 34, 54, 32, 78, 90, 54, 32, 56, 12, 34, 56]

In [ ]:
l.index(3)

1

In [ ]:
l.pop(4)

55

In [ ]:
l.pop()

56

In [ ]:
del l[0]

In [ ]:
print(l)

[3, 4, 5, 66, 34, 54, 32, 78, 90, 54, 32, 56, 12, 34]

In [32]:
l.remove(12)

NameError: name 'l' is not defined

In [ ]:
l.sort()

In [ ]:
print(l)

In [ ]:
d=[2,5,[5,8]]

In [ ]:
d[2][0]
d[-1][-2]

5

In [ ]:
l=[1,2,3,4,56,6,7,7]
l

[1, 2, 3, 4, 56, 6, 7, 7]

In [ ]:
#:-slicing
l[3:6]

[4, 56, 6]

In [ ]:
l[1:5]

[2, 3, 4, 56]

In [ ]:
li=[]

In [ ]:
append(10,2,56,7,3)

NameError: name 'append' is not defined

In [ ]:
li.append(1,2,3,4,5)

TypeError: list.append() takes exactly one argument (5 given)

In [ ]:
li.append(1)

In [ ]:
li.append(4)

In [ ]:
li.append(23)

In [ ]:
li.append(78)

In [ ]:
li.append(43)

In [ ]:
li

[1, 4, 23, 78, 43]

In [ ]:
li=['apple','banana','orange','mango','strawberry']

In [ ]:
li

['apple', 'banana', 'orange', 'mango', 'strawberry']

In [ ]:
del li[1]

In [ ]:
li

['apple', 'orange', 'mango', 'strawberry']

In [ ]:
li=[1,2,3,4,5,[23]]

In [ ]:
li.insert(2,100)

In [ ]:
li

[1, 2, 100, 3, 4, 5, [23]]

In [ ]:
l=['car','bike','scooter']

In [ ]:
l.append('bus')

In [ ]:
l

['car', 'bike', 'scooter', 'bus']

In [ ]:
l.append('cycle')

In [ ]:
l

['car', 'bike', 'scooter', 'bus', 'cycle']

In [ ]:
l=['apple','apple','banana']
l.count('apple')

2

In [34]:
l=['dog','cat','tiger']

In [ ]:
l.index('cat')

1

In [ ]:
l=[12,23,3,44,25]

In [ ]:
l.sort()

In [ ]:
l

[3, 12, 23, 25, 44]

In [ ]:
l=['red','blue','black','white']

In [ ]:
l.reverse()

In [ ]:
l

['white', 'black', 'blue', 'red']

In [ ]:
l=['arun','abi','aman']

In [ ]:
l.clear(2)

TypeError: list.clear() takes no arguments (1 given)

In [ ]:
l

['arun', 'abi', 'aman']

In [ ]:
l.pop(2)

'aman'

In [ ]:
l

['arun', 'abi']

In [ ]:
l=[22,33,44,55,66]

In [ ]:
max(l)

66

In [ ]:
l[1]=77

0

In [ ]:
l

[22, 77, 44, 55, 66]

# Tuple

In [ ]:
t=(1,3,5,8.6,5,5,5,'fjyfdc')
type(t)

tuple

In [2]:
t(0)=55

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3226615700.py, line 1)

In [ ]:
t.index(5)

2

In [ ]:
t.count(5)

4

# SET

In [ ]:
s={44,6,22,1,3,3,6,7,6,6}
s

{1, 3, 6, 7, 22, 44}

In [ ]:
44 in s

True

In [ ]:
34 in s

False

In [ ]:
s1={2,3,4,56,6,7}
s2={6,7,8,9,4,67}

In [ ]:
s1.add(35)

In [ ]:
s1

{2, 3, 4, 6, 7, 35, 56}

In [ ]:
s1.update([34,5,67,65])

In [ ]:
s1

{2, 3, 4, 5, 6, 7, 34, 35, 56, 65, 67}

In [ ]:
s1={4,5,6}
s2={1,4,5,2}

In [ ]:
s1.union(s2)

{1, 2, 4, 5, 6}

In [ ]:
s1.intersection(s2)

{4, 5}

In [ ]:
s1.difference(s2)

{6}

In [ ]:
s2.intersection(s1)

{4, 5}

In [ ]:
s2.difference(s1)

{1, 2}

In [ ]:
s1.pop()

6

In [2]:
s2.remove(5)

NameError: name 's2' is not defined

In [ ]:
s2

{1, 2, 4}

In [ ]:
s2.clear()

In [ ]:
s2

set()

In [ ]:
del s2

In [ ]:
s2

NameError: name 's2' is not defined

In [3]:
s={1,2,3,4}

In [4]:
s

{1, 2, 3, 4}

In [5]:
s.pop()

1

In [6]:
s.remove(3)

In [7]:
s

{2, 4}

# Dictionary

In [ ]:
d={'name':'hisham','age':20}

In [ ]:
d['name']='sanjay'

In [ ]:
d['place']='clt'

In [ ]:
d

{'name': 'sanjay', 'age': 20, 'place': 'clt'}

In [ ]:
d={"name":"manu","age":20,"ph no":456789}

In [ ]:
d["name"]

'manu'

In [ ]:
d["ph no"]

456789

In [ ]:
d.items()

dict_items([('name', 'manu'), ('age', 20), ('ph no', 456789)])

In [ ]:
d.values()

dict_values(['manu', 20, 456789])

In [ ]:
d.keys()

dict_keys(['name', 'age', 'ph no'])

In [ ]:
d.update({'mark':45})

In [ ]:
d

{'name': 'manu', 'age': 20, 'ph no': 456789, 'mark': 45}

In [ ]:
d.clear()

In [ ]:
d

{}

In [ ]:
del d

In [ ]:
d

NameError: name 'd' is not defined

In [ ]:
d={'car':'bmw','no':123}

In [ ]:
d['car']='benz'

In [ ]:
d

{'car': 'benz', 'no': 123}

In [ ]:
d.update({'price':234567})

In [ ]:
d

{'car': 'benz', 'no': 123, 'price': 234567}

In [ ]:
d['car']

'benz'

In [ ]:
d['price']=56789

In [ ]:
d

{'car': 'benz', 'no': 123, 'price': 56789}

In [ ]:
d.pop('no')

123

In [ ]:
d

{'car': 'benz', 'price': 56789}

In [ ]:
del d['price']

In [ ]:
d

{'car': 'benz'}

#STRING

In [ ]:
s='hello world'

In [ ]:
s

'hello world'

In [ ]:
s.index('h')

0

In [ ]:
s[0]

'h'

In [ ]:
s[5]

' '

In [ ]:
s[2:6]

'llo '

In [ ]:
s

'hello world'

In [ ]:
s.capitalize()

'Hello world'

In [ ]:
s.isupper()

False

In [ ]:
s.islower()

True

In [ ]:
s.startswith("h")

True

In [ ]:
s.endswith('w')

False

In [1]:
a=10
if a>5:
    print("true")

true

In [6]:
if a<8:
    print("true")

In [8]:
if a<18:
    print("true")

true

In [17]:
a=10
if a>12:
    print("yes")
elif a>14: 
    print("correct")
elif a>11:
    print("greater")  
else:
    print('fail')

fail

In [3]:
age=int(input('enter the age'))
if age>20:
    print('eligible for voting')
elif age<20: 
    print('not eligible')

not eligible

In [26]:
age

34

In [8]:
mark=int(input())
if mark>=41 and mark<=50:
    print('A+')
elif mark>=31 and mark<=40:
    print('B+')
elif mark>=21 and mark<=30:
    print('C+') 
else:
    print('Fail')

A+

In [34]:
a=10
if a>1:
    if a==10:
        print('true')
else:
    print('false')

true

In [37]:
d={'name':'hisham','age':20}

In [38]:
d

{'name': 'hisham', 'age': 20}

In [47]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [46]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [48]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [49]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [50]:
s={1,2,3,4,5,6}
for i in s:
    print(i)

1
2
3
4
5
6

In [53]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [58]:
l=[1,5,22,33,14,16]
for i in l:
    if i%2==0:
        print('even',i)
    else:   
        print('odd',i)

odd 1
odd 5
even 22
odd 33
even 14
even 16

In [59]:
t=(1,2,3,4,5)

In [60]:
t

(1, 2, 3, 4, 5)

In [65]:
type(t)

tuple

In [66]:
t[0]

1

In [67]:
t[1]

2

In [68]:
t[2]

3

In [69]:
t[3]

4

In [70]:
t[4]

5

In [73]:
t

(1, 2, 3, 4, 5)

In [74]:
for i in t:
    print(i)

1
2
3
4
5

In [75]:
l=[11,22,33,44,55]
for i in l:
    print(i)

11
22
33
44
55

In [76]:
l.append(100)

In [77]:
l

[11, 22, 33, 44, 55, 100]

In [78]:
l.pop(1)

22

In [79]:
l

[11, 33, 44, 55, 100]

In [83]:
l.insert(0,100)

In [84]:
l

[100, 100, 100, 11, 33, 44, 55, 100]

In [85]:
l.extend([0,1])

In [86]:
l

[100, 100, 100, 11, 33, 44, 55, 100, 0, 1]

In [87]:
l.pop()

1

In [88]:
l

[100, 100, 100, 11, 33, 44, 55, 100, 0]

In [89]:
l.pop(0)

100

In [ ]:
a=0
while a<=10:
    print (a)
    a=a+1

In [50]:
a=1
while a<=10:
    if a%2==0:
        print('even',a)
    else :
        print('odd',a) 
    a=a+1

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [9]:
large=1
l=[1,5,2,8,34,3,2]
for i in l:
    if i>large:
        large=i
large

34

In [14]:
l

[1, 5, 2, 8, 34, 3, 2]

In [29]:
l=[32,2,8,40,5]
large=5
slarge=2
for i in l:
    if i>large:
        slarge=large
        large=i
    elif i==slarge or i>slarge:
        slarge=i
print(slarge)

32

In [30]:
153//10

15

In [31]:
153%10

3

In [10]:
12321//10

1232

In [11]:
12321%10

1

In [4]:
n=12321

temp=n
rem=0
pal=0
while n>0:
    rem=n%10
    n=n//10
    pal=pal*10+rem
if temp==pal:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [39]:
n=153
type(n)

int

In [41]:
type(str(153))

str

In [13]:
n=153
l=len(str(n))
rem=0
sum=0
temp=n
while n>0:
    rem=n%10
    n=n//10
    sum=sum+(rem**l)
if temp==sum:
    print('armstrong')
else:
    print('not armstrong')

armstrong

In [62]:
n=int(input('enter number'))
rem=0
temp=n
pal=0
while n>0:
    rem=n%10
    n=n//10
    pal=pal*10+rem
if temp==pal:
    print('palindrome')
else :
    print('not palindrome')

not palindrome

In [6]:
n=123
l=len(str(n))
temp=n
rem=0
pal=0
while n>0:

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [26]:
n=123
rem=0
sum=0
while n>0:
    rem=n%10
    n=n//10
    sum=sum+rem
print(sum)

6

In [34]:
l=[25,10,14,35]
sum=0
rem=0
for i in l:
    
print(sum)

AttributeError: 'list' object has no attribute 'sum'

In [42]:
l=[25,10,14,35]
s=0
for i in l:
    
    s=s+i
print(s)

84

In [43]:
l=[25,10,14,35]
for k in l:
    print(k)

25
10
14
35

In [44]:
for i in range(1,11):
    print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [47]:
t=(3,5,4)
for k in t:
    if k%2!=0:
        print(k)

3
5

In [51]:
l=[11,22,33,44,55]
l.append(66)

In [52]:
l

[11, 22, 33, 44, 55, 66]

In [57]:
l.extend([12,13])

In [59]:
l.pop(1)

22

In [60]:
l

[11, 44, 55, 66, 12, 13]

In [61]:
l.insert(4,100)

In [62]:
l

[11, 44, 55, 66, 100, 12, 13]

In [65]:
l.insert(3,100)

In [66]:
l

[11, 44, 55, 100, 66, 12, 13]

In [69]:
l.clear()

In [70]:
l

[]

In [72]:
l.extend([1,2,3,4,5])

In [73]:
l

[1, 2, 3, 4, 5]

In [74]:
len.l

AttributeError: 'builtin_function_or_method' object has no attribute 'l'

In [77]:
len(l)

5

In [78]:
del l

In [79]:
l

NameError: name 'l' is not defined

In [92]:
s="hisham,hi,hello world"
type(s)

str

In [81]:
s

('hisham', 'hi', 'hello world')

In [93]:
s.startswith("h")

True

In [94]:
s.endswith('e')

False

In [132]:
sk='gff6545'

In [133]:
sk.isalnum()

False

In [122]:
s.isnumeric()

False

In [125]:
st='stdrydy'

In [126]:
st.isalpha()

False

In [101]:
s.isascii()

True

In [102]:
s.find('hi')

0

In [104]:
len(s)

21

In [105]:
s.count('h')

4

In [117]:
s.replace('hi','hello')

'hellosham,hello,hello world'

In [113]:
s.capitalize()

'Hisham,hi,hello world'

In [116]:
s

'hisham,hi,hello world'

In [118]:
s.isupper()

False

In [119]:
s.islower()

True

In [120]:
s.upper()

'HISHAM,HI,HELLO WORLD'

In [121]:
s.lower()

'hisham,hi,hello world'

In [134]:
d={'name':'hisham','age':20,'place':'clt'}

In [135]:
d.items()

dict_items([('name', 'hisham'), ('age', 20), ('place', 'clt')])

In [136]:
d.values()

dict_values(['hisham', 20, 'clt'])

In [137]:
d['name']='abi'

In [138]:
d

{'name': 'abi', 'age': 20, 'place': 'clt'}

In [140]:
d.keys()

dict_keys(['name', 'age', 'place'])

In [142]:
d.update({'mark':20})

In [143]:
d

{'name': 'abi', 'age': 20, 'place': 'clt', 'mark': 20}

In [151]:
d.pop('age')

20

In [152]:
d

{'name': 'abi', 'place': 'clt', 'mark': 20}

In [153]:
d.clear()

In [154]:
d

{}

In [155]:
del d

In [5]:
n=1345
rem=0
sum=0
while n>0:
    rem=n%10
    n=n//10
    sum=sum+rem
print(sum)

13

#FUNCTIONS

In [7]:
def adding():
    print(2+5)
adding()

7

In [8]:
adding()

7

In [10]:
def adding(a,b):
    print(a+b)
adding(20,60)

80

In [12]:
adding(55,35)

90

In [15]:
def subtracting():
    print(10-7)
subtracting()

3

In [18]:
def name():
    print('hisham muhammed')
name()

hisham muhammed

In [19]:
name()

hisham muhammed

In [21]:
adding(1,3)

4

In [23]:
subtracting()

3

In [26]:
def palindrome():
    print('pal=pal*10+rem')
palindrome()

pal=pal*10+rem

In [27]:
palindrome()

pal=pal*10+rem

In [28]:
def armstrong():
    print('sum=sum+(rem**1)')
armstrong()

sum=sum+(rem**1)

In [19]:

def pal(n):
    temp=n
    rem=0
    pal=0
    while n>0:
        rem=n%10
        n=n//10
        pal=pal*10+rem
    if temp==pal:
        print("palindrome")
    else:
        print("not palindrome")  
pal(151)

palindrome

In [20]:
pal(12321)

palindrome

In [49]:
def arm(n):

    l=len(str(n))
    rem=0
    sum=0
    temp=n
    while n>0:
        rem=n%10
        n=n//10
        sum=sum+(rem**l)
    if temp==sum:
        print('armstrong')
    else:
        print('not arsmstrong')
arm(153)

armstrong

In [50]:
arm(12)

not arsmstrong

In [16]:
n=153
l=len(str(n))
rem=0
sum=0
temp=n
while n>0:
    rem=n%10
    n=n//10
    sum=sum+(rem**l)
    print(sum)
if temp==sum:
    print('armstrong')
else:
    print('not arsmstrong')

27
152
153
armstrong

In [53]:
def sum(n):
    n=456
    rem=0
    sum=0
    while n>0:
        rem=n%10
        n=n//10
        sum=sum+rem
    print(sum)
sum(n)

15

In [65]:
def sum(a,b,c):
    
    n=a+b+c
    rem=0
    sum=0
    while n>0:
        rem=n%10
        n=n//10
        sum=sum+rem
    print(sum)
sum(1,2,3)

6

In [18]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a/b)
def calcu():
    a=int(input('enter first number'))
    b=int(input('enter second number'))
    o=int(input('select operator'))
    if o==1:
        add(a,b)
    elif o==2:
        sub(a,b)
    elif o==3:
        mul(a,b)
    else:
        div(a,b)

In [19]:
calcu()

-1

In [80]:
def odd  even():
    for i in range(0,51):
        if i%2==0:
            print('even',a)
        else:
            print('odd',a)
odd  even()

SyntaxError: expected '(' (4063881699.py, line 1)

In [12]:
def fact():
    a=int(input('enter the number'))
    x=1
    if a<0:
        print('no factorial')
    elif a==1 or a==0:
        print('factorial is 1')   
    else:
        for i in range(2,a+1):
            x=x*i
        print(x) 
fact()

factorial is 1

In [81]:
def odd even():
    a=1
    while a
        if a%2==1:
            print('even',a)
        else :
            print('odd',a)
odd even()

SyntaxError: expected '(' (2005525349.py, line 1)

In [21]:
def oddeven(n):
    a=1
    while a<=n:
        if a%2==0:
            print(a)

        a=a+1 
oddeven(20)

2
4
6
8
10
12
14
16
18
20

In [2]:
def message():
    print('hi')
message()

hi

In [5]:
def message(name): 
    print('hi '+name)
message('hisham')

hi hisham

In [16]:
def sum(num1,num2):
    print(num1+num2)
sum(1,2)

3

In [15]:
def sum(a,b):
    sum=a+b
    rem=0
    sum=0
    while n>0:
        rem=n%10
        n=n//10
        sum=sum+rem
    print(sum)
sum(a,b)

NameError: name 'a' is not defined

In [16]:
def sq(num1):
    print(num1*num1)
sq(4)

16

In [19]:
def sum(n1,n2,n3,n4,n5):
    print(n1*n2*n3*n4*n5)
sum(1,2,3,4,5)

120

In [22]:
def sum(numbers):
    total=0
    for x in numbers:
        total=total+x
    return total
sum ((1,2,3,4,5) )

15

In [31]:
def mul(numbers):
    total=1
    for x in numbers:
        total=total*x
    return total
mul((1,2,3,4,5))

120

In [33]:
def largest(a,b,c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c
largest(1,2,3)

3

In [34]:
sq(5)

25

In [54]:
def unique(u):
    elements=[]
    for x in u:
        if x not in elements:
            elements.append(x)
    return elements
result=unique((3,2,2,3,5,4,4))   
print(result)

[3, 2, 5, 4]

In [94]:
def multiplication(number,limit):
    for i in range(1,limit+1):
        result=i*number

        print(i,"*",number,"=",result)   
a=int(input('enter the number'))
b=int(input('enter the limit'))  
multiplication(a,b)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15

In [135]:
a=0
b=1
print(a,b,c,d,e,f)
for i in range(0,6):
    c=a+b
    a=b
    b=c
    d=b+c
    e=c+d
    f=d+e

0 1 1 2 3 5

In [25]:
def fibonacci(a,b):
    n=int(input("enter number"))
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        print(c)
        a=b
        b=c                                                                    
fibonacci(a,b)

KeyboardInterrupt:

In [152]:
def pali(n):
    temp=n
    rem=0
    pal=0
    while n>0:
        rem=n%10
        n=n//10
        pal=pal*10+rem
    if temp==pal:
            print('palindrome')
    else:
            print('not palindrome') 
pali(121)

palindrome

In [172]:

def pali(n):
    string="malayalam"
    temp=n
    rem=0
    pal=0
    if (string==string):
            print('palindrome')
    else:
            print('not palindrome') 
pali(n)

palindrome

In [23]:
a=(input('enter string'))
a=a.lower()
reversed=a[::-1]
if a==reversed:
    print("palindrome")
else:
    print("not palindrome")

palindrome

#lambda

In [26]:
add=lambda x,y:x+y
print(add(4,4))

8

In [37]:
mul=lambda[a,b,c,d,e]:[a*a,b*b,c*c,d*d,e*e]
print(mul[1,2,3,4,5])

SyntaxError: invalid syntax (3014359820.py, line 1)

In [28]:
number=[1,2,3,4,5]
double=list(map(lambda x:x*x,number))
print(double)

[1, 4, 9, 16, 25]

In [30]:
orglist=[1,2,3,4,5,6,7,8,9,10]
evennumber=list(filter(lambda x:x%2==0,orglist))
print(evennumber)
oddnumber=list(filter(lambda x:x%2!=0,orglist))
print(oddnumber)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [32]:
l=[1,2,3,4,5,6,7,8,9,10]
square=list(map(lambda x:x*x,l))
print(square)
cube=list(map(lambda x:x*x*x,l))
print(cube)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
fibonacci=lambda n:[0,1] if n==2 else fibonacci(n-1)+[fibonacci(n-1)[-1]+fibonacci(n-1)[-2]]
n=int(input('enter number'))
result=(fibonacci(n))
print(result)

[0, 1, 1, 2, 3]

In [34]:
l=[1,2,3,4,5,6,7,8,9,10]
evennumber=len(list(filter(lambda x:x%2==0,l)))
print(evennumber)
oddnumber=len(list(filter(lambda x:x%2!=0,l)))
print(oddnumber)

5
5

In [1]:
l=[2,4,6,9,11]
mul=list(map(lambda x:x*2,l))
print(mul)

[4, 8, 12, 18, 22]

In [38]:
l=['4','12','45','7','0','100','200','-12','-500']
x=sorted(l,key=lambda x:int(x))
print(x)

['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [40]:
l=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
x=dict(map(lambda x:(x,l.count(x)),set(l)))
print(x)

{0: 2, 1: 1, 2: 2, 3: 4, 4: 2, 5: 3, 8: 2}

#recursion

In [42]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [44]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
a=int(input('enter number'))
for i in range(a):
    print (fib(i))

0
1
1
2
3

In [30]:
l=[1,2,3,4]
sum=0
for i in l:
    sum=sum+i
print(sum)

10

In [39]:
l=[1,2,3,4]
def sums(n):
    if not n:
        return 0
    else:
            return n[0]+sums(n[1:])
print(sums(l))

10

In [60]:
  l=[123]
  def total():
    rem=0
    sum=0
    while l>0:
        rem=l%10
        l=l//10
        sum=sum+rem
        
print(sum)

13

In [4]:
a=int(input('enter number'))
def total(n):
    if n<10:
        return n
    else:
        return n%10+total(n//10)
total(a)

22

In [32]:
a=['hello ','take ']
b=['dear','sir']
result=[x+y for x in a for y in b]
print(result)

['hello dear', 'hello sir', 'take dear', 'take sir']

In [19]:
a=['hisham ']
b=['muhammed']
result=[x+y for x in a for y in b]
print(result)

['hisham muhammed']

In [28]:
a=[10,20,10,30,40,40,50,10]
elements=[]
result=[elements.append(x) for x in a if x not in elements ]
print(elements)

[10, 20, 30, 40, 50]

In [9]:
rows=int(input('enter no'))
for x in range(0,rows):
    for y in range(0,x+1):
        print('* ',end='') 
    print()

*
* *
* * *
* * * *
* * * * *

In [23]:
rows=int(input('enter no'))
for x in range(rows+1,0,-1):
    for y in range(0,x-1):
        print('* ',end='') 
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
rows=int(input('enter no'))
for x in range(0,rows):
    for y in range(0,x+1):
        print(x+1 ,end=' ') 
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
rows=int(input('enter no'))
for x in range(rows+1,0,-1):
    for y in range(0,x-1):
        print(x-1,end=' ') 
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [3]:
rows=int(input('enter no'))
for x in range(1,rows):
    for y in range(1,x+1):
        print(y,end=' ') 
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
rows=int(input('enter no'))
for x in range(0,rows+1):
    for y in range(rows-x,0,-1):
        print(y,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [29]:
rows=int(input('enter no'))
for x in range(1,rows+1):
    for y in range(rows-x,0,-1):
        print(x, end=' ')
    print()

1 1 1 1 1 1
2 2 2 2 2
3 3 3 3
4 4 4
5 5
6

MODULES

In [1]:
import math
print(math.sqrt(2))

1.4142135623730951

In [2]:
import math
print(math.pow(2,3))

8.0

In [3]:
import math
print(math.factorial(4))

24

In [6]:
import math
print(math.floor(5.6))

5

In [8]:
import math
print(math.ceil(5.6))

6

In [10]:
import math
print(math.log(9))

2.1972245773362196

#OOPS

In [3]:
class Car:
    def __init__(self,name,price,color):
        self.name=name
        self.price=price
        self.color=color
    def start(self):
        print("engine started")
p1=Car("BMW",12345,"black") 
p1.start()

print(p1.name)
print(p1.price) 
print(p1.color)

engine started
BMW
12345
black

In [4]:
class Food:
    def __init__(self,name,price):
        self.name=name
        self.price=price
    def start(self):
        print("food ready")

p1=Food("pizza",200)
p1.start()
print(p1.name)
print(p1.price)

food ready
pizza
200

In [19]:
class Biodata:
    def __init__(self,name,country,DOB):
        self.name=name
        self.country
        self.DOB=DOB
    def calculateage(self):
        DOB_date=datetime.strptime(self.DOB,"%Y-%m-%d")
        year_n=datetime.now()
        age=DOB_date.year-year_n.year


a=(input("enter no"))

b=Biodata("hisham","India",2003-8-14)
print(b.Biodata(a))

AttributeError: 'Biodata' object has no attribute 'country'

In [21]:
from datetime import datetime

class Biodata:
    def __init__(self, name, country, DOB):
        self.name = name
        self.country = country
        self.DOB = DOB
    
    def calculateage(self):
        DOB_date = datetime.strptime(self.DOB, "%Y-%m-%d")
        year_n = datetime.now()
        age = year_n.year - DOB_date.year
        return age

a = input("Enter your birth date in the format YYYY-MM-DD: ")
b = Biodata("Hisham", "India", a)
print("Your age is:", b.calculateage())

Your age is: 21

In [33]:
class Calculator:
   
    def add(self,a,b):
        return a+b
    def subtract(self,a,b):
        return a-b
    def multiply(self,a,b):
        return a*b
    def divide(self,a,b):
        return a/b
        
calculator=Calculator()        
a=float(input("enter first number"))
b=float(input("enter second number"))

print("Sum:",calculator.add(a,b))
print("Difference:",calculator.subtract(a,b))
print("Product:",calculator.multiply(a,b))
print("Quotient:",calculator.divide(a,b))

Sum: 20.0
Difference: 0.0
Product: 100.0
Quotient: 1.0

In [32]:
import math

class Circle:
    
    def __init__(self,radius):
        self.radius=radius

    def area(self,radius):
        return math.pi*self.radius**2

    def perimeter(self,radius):
        return 2*math.pi*self.radius 

c=Circle(a)
a=int(input("enter radius"))

print("Area:",c.area(a))
print("Perimeter:",c.perimeter(a))

Area: 78.53981633974483
Perimeter: 31.41592653589793

In [37]:
class Person:

    def __init__(self,name,contact):
        self.name=name
        self.contact=contact

    def address(self):
        print(self.name,self.contact)


class Doctor(Person):
    pass
 
class Patient(Person):
    pass
doc1=Doctor("abi",12345)
pat1=Patient("arun",67895)
doc1.address()
pat1.address()

abi 12345
arun 67895

In [13]:
class Shape:
    def display(self):
        print("This is Shape")
        

class Rectangle(Shape):
    def display(self):
        print("This is Rectangle")

class Circle(Shape):
    def display(self):
        print("This is Circle")    

class Square(Rectangle):
    def display(Self):
        print("This is Square") 
   
square_object=Square()         
square_object.display()

rectangle_object=Rectangle()
rectangle_object.display()

circle_object=Circle()
circle_object.display()

This is Square
This is Rectangle
This is Circle

break

In [15]:
a=0
while a<=10:
        print(a)
        a+=1
        if a==5:
             break

0
1
2
3
4

continue

In [16]:
for i in range(0, 5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [17]:
count=0
while count<10:
    count=count+1
    if count==6:
        continue
    print(count)

1
2
3
4
5
7
8
9
10

In [16]:
n=int (input("enter a number"))

temp=n
rem=0
pal=0
while n>0:
    rem=n%10
    n=n//10
    pal=pal*10+rem
if temp==pal:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [11]:
n=12321

temp=n
rem=0
pal=0
while n>0:
    rem=n%10
    n=n//10
    pal=pal*10+rem
if temp==pal:
    print('palindrome')
else:
    print('not palindrome')

palindrome