# Error

## Syntax error

In [2]:
if True:
    pass
else
    pass

SyntaxError: expected ':' (2011801023.py, line 3)

In [3]:
print('hello

SyntaxError: unterminated string literal (detected at line 1) (3259792019.py, line 1)

In [4]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

## exception

In [5]:
print(5/0)

ZeroDivisionError: division by zero

In [6]:
print(hello)

NameError: name 'hello' is not defined

In [7]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [11]:
import random
random.sample([1, 2, 3, 4, 5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [12]:
random.sample([1, 2, 3, 4, 5], 1, 2, 3, 4, 5)

TypeError: Random.sample() takes 3 positional arguments but 7 were given

In [13]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [14]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [15]:
numbers[100]

IndexError: list index out of range

In [16]:
my_dict = {
    'apple': '사과',
    'banana': '바나나'
}

In [17]:
my_dict['melon']

KeyError: 'melon'

In [19]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## 예외처리

```python
try:
    code
except 예외:
    code
```

In [52]:
try:
    num = int(input('숫자를 입력해주세요 : '))
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
    # num이 str이라서 int 안 하면 출력이 안됨
except:
    print('숫자!!를 입력해주세요')

숫자를 입력해주세요 :  3

3의 세제곱은 27입니다.

In [28]:
try:
    num = int(input('100을 무엇으로 나누시겠습니까?'))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')

    # 오류상황1(ValueErro). int인데 숫자가 아닌 게 들어올 때
    # 오류상황2(ZeroDivisionError). 0으로 나눌 때
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('모든수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누시겠습니까? ㄱ

입력한 데이터는 숫자가 아닙니다.

In [30]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])

except IndexError as err:
    print('out of index')
    print(err)

out of index
list index out of range

In [34]:
try:
    numbers = [1, 2, 3]
    num = numbers[1]
except:
    print('오류입니다.')
else:
    print(num ** 3)
# else => 예외를 일으키지 않을 때 실행되는 코드 (try의 코드가 문제 없이 동작했을 때 실행)

8

In [36]:
try:
    numbers = [1, 2, 3]
    num = numbers[100]

except:
    print('오류입니다.')
finally:
    print('end')
# finally => 예외와 상관 없이 try의 모든 코드를 실행 후 `무조건` 실행

오류입니다.
end

In [51]:
def my_div(num1, num2):
    try: 
        return num1 / num2
    except (ValueError, TypeError): #소괄호로 묶어 여러 상황 나타냄
        return '숫자를 입력하세요.'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'
    except:
        return '무엇인가 잘못되었습니다.'

In [49]:
my_div(2, 0)

'0으로 나눌 수 없습니다.'

In [50]:
my_div('ㄱ', 'ㄴ')

'숫자를 입력하세요.'