In [1]:
4 % 2

0

In [2]:
4 ** 2

16

In [3]:
4 // 2

2

In [4]:
4 / 2

2.0

In [5]:
(2 + 3) ** 2 / 5

5.0

## Data Types

### Numeric

In [6]:
x = 5
type(x)

int

In [7]:
y = 2,5
type(y)

tuple

In [8]:
y = 2.5
type(y)

float

In [9]:
z = 1 + 2j
type(z)

complex

In [10]:
zz = 1 + j
type(zz)

NameError: name 'j' is not defined

In [11]:
a = 0
type(a)

int

In [13]:
n = " "
type(n)

str

In [14]:
b = 1
type(b)

int

In [15]:
c = True
type(c)

bool

In [17]:
print( type(x), type(y), type(z) )

<class 'int'> <class 'float'> <class 'complex'>

In [18]:
print(x, y, z)

5 2.5 (1+2j)

In [19]:
print(type(a))

<class 'int'>

##  Sequences
### str

In [20]:
"I'am a python instuctor."

"I'am a python instuctor."

In [21]:
'I'am a python instuctor.'

SyntaxError: unterminated string literal (detected at line 1) (529866759.py, line 1)

In [23]:
a = "Selam "
b = "Naber?"
a + b  # Concat

'Selam Naber?'

In [25]:
# string veriler immutable.
a[0]

'S'

In [27]:
# string veriler immutable.
a[0] = "A"
print(a)

TypeError: 'str' object does not support item assignment

In [26]:
a = "Selam "
a[:3]  # a'nın ilk üç indexini yazdır.

'Sel'

### list

In [28]:
l = [1, 2, 3, 4, 5]
type(l)

list

In [29]:
my_list = [1, 2, [2, 3, 4]]
print(my_list[2])

[2, 3, 4]

In [30]:
# listeler immutable değildir, değiştirilebilir.
my_list[1] = 0
my_list

[1, 0, [2, 3, 4]]

In [32]:
yeni_liste = ['Uluğbek', 'Buse', 'İbrahim']
type(yeni_liste)

list

In [33]:
yeni_liste[0]

'Uluğbek'

In [34]:
yeni_liste[0] = 'Sabina'
yeni_liste

['Sabina', 'Buse', 'İbrahim']

### tuple

In [31]:
t = (1, 2, 3)
print(type(t))

<class 'tuple'>

In [35]:
t_2 = (False, True, 2, 'Ayşe')
type(t_2)

tuple

In [36]:
l_2 = [False, True, 2, 'Ayşe']
type(l_2)

list

In [37]:
# tuple immutable, değiştirilemez.
t_2 = (False, True, 2, 'Ayşe')
t_2[0]

False

In [38]:
t_2[0] = 3
t_2

TypeError: 'tuple' object does not support item assignment

In [41]:
print(t_2[3])
print(type(t_2[3]))

Ayşe
<class 'str'>

In [42]:
t_2

(False, True, 2, 'Ayşe')

In [49]:
x = t_2[5]

IndexError: tuple index out of range

In [50]:
type(x)

int

In [51]:
l = [None, True, "false"]
type(l[0])

NoneType

In [52]:
print(2, 3, True)   # sep: str | None = " "
print('Hello')      # end: str | None = "\n" (alt satıra geçer)

2 3 True
Hello

In [54]:
print('Techhpro')
print('Education')

Techhpro
Education

In [53]:
print('Techhpro', end = ' ')
print('Education')

Techhpro Education

In [58]:
print('Selam', 'Naber?', sep=' * ')

Selam * Naber?

In [59]:
print('Selam', 'Naber?', sep='\n')

Selam
Naber?

## Type Conversion

### str()

In [60]:
sayi = 365
str_sayi = str(sayi)   # int to str
print(sayi, end = " * * * ")
print(str_sayi, end = " # # # ")
print(type(sayi), end = "\n")
print(type(str_sayi))

365 * * * 365 # # # <class 'int'>
<class 'str'>

In [61]:
str(2.5) # float to str

'2.5'

In [62]:
str(False) # boolean to str

'False'

In [63]:
print("Boolean veriler: ", False, True, sep="\n")

Boolean veriler:
False
True

In [64]:
a = 'False'
type(a)

str

In [65]:
a = False
type(a)

bool

In [66]:
a = false

type(a)

NameError: name 'false' is not defined

### int()

In [67]:
int(2.5)

2

In [68]:
int(2.9)

2

In [69]:
int('123')

123

In [72]:
x = '345'
y = int(x)
print("x'in veri tipi: ", type(x), "y'nin veri tipi: ", type(y), sep="\n")

x'in veri tipi:
<class 'str'>
y'nin veri tipi:
<class 'int'>

In [73]:
x

'345'

In [74]:
y

345

In [75]:
int('Techpro')

ValueError: invalid literal for int() with base 10: 'Techpro'

In [76]:
int(2,3)

TypeError: int() can't convert non-string with explicit base

In [79]:
type(2,3)

TypeError: type() takes 1 or 3 arguments

In [78]:
type(2.3)

float

In [77]:
int(2.3)

2

In [80]:
int(True)

1

In [81]:
int(False)

0

In [82]:
int(1+1j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [83]:
int(1j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [84]:
x, y, z = 'Python', 3.14, 9
print(x, y, z, sep="\n")

Python
3.14
9

In [85]:
print("x : ", x)
print("y : ", y)
print("z : ", z)

x :  Python
y :  3.14
z :  9

## float()

In [86]:
float(3)

3.0

In [87]:
float('3.14')

3.14

In [88]:
float(0)

0.0

In [89]:
float(5/8)

0.625

In [90]:
float('selam')

ValueError: could not convert string to float: 'selam'

In [91]:
float(True)

1.0

In [92]:
float(False)

0.0

In [93]:
int(float(True))

1

In [94]:
int(float(3))

3

### Dictionary data type

In [97]:
x = {'ad' : 'Techpro', 'soyad' : 'Education', 'yas': 6}  # key: value
type(x)

dict

In [98]:
print(x)

{'ad': 'Techpro', 'soyad': 'Education', 'yas': 6}

In [99]:
y = dict('ad' : 'Techpro', 'soyad' : 'Education', 'yas': 6)

SyntaxError: invalid syntax (3693068313.py, line 1)

In [102]:
y = dict(ad = 'Techpro', soyad = 'Education', yas = 6)
y

{'ad': 'Techpro', 'soyad': 'Education', 'yas': 6}

In [103]:
x.keys()

dict_keys(['ad', 'soyad', 'yas'])

In [104]:
x.values()

dict_values(['Techpro', 'Education', 6])

### set data type

In [109]:
a = {'Elma', 'Armut', 'Kiraz'}
print(a)  # sıralama önemli değil rasgele olarak değişir.
type(a)

{'Elma', 'Kiraz', 'Armut'}

set

In [106]:
liste = [1,2,3,3,4,4,1,5,2]
temiz_liste = set(liste)
print(liste)
print(temiz_liste) # set ile listeyi temizledik

[1, 2, 3, 3, 4, 4, 1, 5, 2]
{1, 2, 3, 4, 5}

In [107]:
type(temiz_liste) # listemiz se veri tipine dönüşmüş oldu

set

In [108]:
type(liste)

list

In [110]:
liste_2 = list(temiz_liste) # list() metodu ile set olan veri tipini tekrar liste olarak değiştirmiş olduk
print(liste_2)
print(type(liste_2))

[1, 2, 3, 4, 5]
<class 'list'>

In [111]:
liste = [11,2,30,30,4,4,1,5,2,1]  # listedeki tekralı elemanları kaldırmak istiyoruz.
temiz_liste = list(set(liste))  # Önce set() metodu ile veri tipini set yaptı, ardından list() metodu ile veri tipini tekrar listeye dönüştürdük.
print(liste)
print(temiz_liste)

[11, 2, 30, 30, 4, 4, 1, 5, 2, 1]
[1, 2, 4, 5, 11, 30]

In [112]:
set_1 = {'Zeytin', 'İncir', 'Muz'}
print(set_1)

{'Zeytin', 'Muz', 'İncir'}

## Practice

In [ ]:
(5 + 4) * (20 + 4 * 5 + 2) ** 1 * 4 + 3 + 65   # Önce siz hesaplayın sonra kodu çalıştırın

In [1]:
(5 + 4) * (20 + 4 * 5 + 2) ** 1.0 * 4 + 3 + 65   # Önce siz hesaplayın sonra kodu çalıştırın

1580.0

Yarı çapı 7 olan bir dairenin alanını bulan python kodunu yazınız.

In [2]:
#dairenin_alani = pi * r ** 2
r = 5
pi = 3.14
dairenin_alani = pi * r ** 2
print(dairenin_alani)

78.5