
# Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
#basic series in pandas

ser = pd.Series(['India', 'Sri Lanka', 'Pakisthan'])

In [3]:
ser

0        India
1    Sri Lanka
2    Pakisthan
dtype: object

In [4]:
subjects = ['Hindi', 'telugu', 'science', 'Social', 'Maths']
marks = np.array([98, 76, 66, 34, 100])

In [5]:
score = pd.Series(marks, index = subjects, name = "Ishaq's marks in 10th standard")

In [6]:
score

Hindi       98
telugu      76
science     66
Social      34
Maths      100
Name: Ishaq's marks in 10th standard, dtype: int64

In [7]:
marks = {'Hindi': [1,2,3],
        'Physics': 120
        }

In [8]:
pd.Series(marks, name='marks with dictionary')

Hindi      [1, 2, 3]
Physics          120
Name: marks with dictionary, dtype: object

## Pandas Series attributes

In [9]:
score

Hindi       98
telugu      76
science     66
Social      34
Maths      100
Name: Ishaq's marks in 10th standard, dtype: int64

In [10]:
#name

score.name

"Ishaq's marks in 10th standard"

In [11]:
#dtype

score.dtype

dtype('int64')

In [12]:
# is unique

score.is_unique

True

In [13]:
# Index
score.index

Index(['Hindi', 'telugu', 'science', 'Social', 'Maths'], dtype='object')

In [14]:
runs_series = pd.Series(np.array([12,45,34,56]))

In [15]:
runs_series.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
type(runs_series.index)

pandas.core.indexes.range.RangeIndex

In [17]:
# values
runs_series.values

array([12, 45, 34, 56])

In [18]:
marks

{'Hindi': [1, 2, 3], 'Physics': 120}

In [19]:
marks.values()

dict_values([[1, 2, 3], 120])

## Read CSV

By default read csv reads csv into data frames, to read data into series we need to squeeze the data, to use this function, give the parameter squeeze = true

In [20]:
pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/subs.csv')

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [21]:
type(pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/subs.csv'))

pandas.core.frame.DataFrame

In [22]:
subs = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/subs.csv', squeeze = True)

/var/folders/rp/2_w2b1y50nxdpmt9x9_j7nfr0000gn/T/ipykernel_1171/2673963433.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/subs.csv', squeeze = True)

In [23]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

#### as the above feature will be deprecated, we will use another method

In [24]:
df = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/subs.csv')

In [25]:
subs = df.squeeze()

In [26]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [27]:
type(subs)

pandas.core.series.Series

## Reading a series which has more than one column, but we are reading into seperate series

In [28]:
df = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/kohli_ipl.csv')

In [29]:
df

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [30]:
type(df)

pandas.core.frame.DataFrame

### read specific colums of a csv file

In [31]:
df = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/kohli_ipl.csv', index_col = 'match_no')

In [32]:
df

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [33]:
vk = df.squeeze()

In [34]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [35]:
df = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/bollywood.csv',)

In [36]:
df

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [37]:
df = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/Pandas/Pandas_DataSets/bollywood.csv', index_col = 'movie')

In [38]:
df

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
# convert data frame into sereis
movies = df.squeeze()

In [41]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Does indexes of series has duplicates -  The answer is " Yes, It can have duplicates"

In [42]:
temp = pd.Series(data = np.arange(4), index=np.array([0,0,1,1]))

In [43]:
temp

0    0
0    1
1    2
1    3
dtype: int64

In [44]:
temp.index

Int64Index([0, 0, 1, 1], dtype='int64')

In [45]:
temp.values

array([0, 1, 2, 3])

# Series Methods

In [46]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [47]:
# head  -  by default it will return first 5 rows

vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [48]:
# but we can change the behaviour
vk.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [49]:
# tail - by default it will return last 5 rows
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [50]:
# but we can change the behaviour
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [51]:
# Sample - by default it gives random one row

vk.sample()

match_no
2    23
Name: runs, dtype: int64

In [52]:
# but we can get any number of random rows
vk.sample(10)

match_no
2      23
6       9
19     16
11     10
27     16
151    39
16      2
161    41
200    41
72     35
Name: runs, dtype: int64

In [53]:
#Value Counts

In [54]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [55]:
movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [56]:
# Sort 

vk.sort_index(ascending=False)

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [57]:
# Eventhough it is sorted, vk is not updated

In [58]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [59]:
# to update these changes
vk.sort_index(ascending=False, inplace=True
             )

In [60]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [61]:
# sorting the values

vk.sort_values(ascending= True)

match_no
135      0
8        0
130      0
211      0
93       0
      ...
120    100
164    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [62]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [63]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [64]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [65]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [66]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [67]:
movies.info()

<class 'pandas.core.series.Series'>
Index: 1500 entries, Uri: The Surgical Strike to Awara Paagal Deewana
Series name: lead
Non-Null Count  Dtype
--------------  -----
1500 non-null   object
dtypes: object(1)
memory usage: 55.7+ KB

# Series Maths Methods

In [68]:
# count

vk.count()

215

In [69]:
# size count the nan values too, but count - counts only non null values

vk.size

215

In [70]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [71]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [72]:
subs.sum()

49510

In [73]:
# mean, median, variance, standard deviation

subs.mean()
subs.median()
subs.mode()
subs.std()
subs.var()

3928.1585127201556

## Describe gives all the statistical parameters

In [74]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

# indexing

In [75]:
temp1 = pd.Series([1,2,3,4])

In [76]:
temp1

0    1
1    2
2    3
3    4
dtype: int64

In [77]:
temp1[0]

1

In [78]:
# negative indexing doesn't work in series

temp[-1]

KeyError: -1

In [ ]:
movies

In [ ]:
movies.info()

In [ ]:
x = movies.index

In [ ]:
x.name

In [ ]:
x.__class__

In [ ]:
movies['Awara Paagal Deewana']

In [ ]:
movies[-1]

In [ ]:
movies[0]

In [ ]:
movies.index[0]

In [ ]:
movies.values[0]

In [ ]:
movies.index[1:3:-1]

## Slicing

In [ ]:
vk[5:16].sum()

In [ ]:
vk[::2]

In [ ]:

movies[-5:]

In [ ]:
# Fancy indexing
movies[[1,2,4,5]]

## Editing Series

In [ ]:
score

In [ ]:
score['Maths'] = 98

In [ ]:
score

In [ ]:
# adding new element

score['evs'] = 19

In [ ]:
score

In [ ]:
score[0:2] = [19,29]

In [ ]:
score

# Series with python functionalities

In [ ]:
subs

In [ ]:
# len/type/dir/soreted/max/min

print(len(subs))

In [ ]:
sorted(subs)

In [ ]:
min(subs
   )

In [ ]:
max(subs)

## Type Conversion

In [ ]:
movies

In [ ]:
x = list[movies]

In [ ]:
x

In [ ]:
y = dict[movies]

In [ ]:
y['Saathiya']

In [ ]:
vk

In [ ]:
vk.sort_index(ascending = True, inplace = True)

In [ ]:
vk

In [ ]:
list(vk)

In [ ]:
st = dict[vk]

In [ ]:
st

In [ ]:
score

In [ ]:
# Membership Operator

19 in score.values

In [ ]:
'Hindi' in score

In [ ]:
# looop

for i in movies:
    print(i)

In [ ]:
for i in movies.index:
    print(i)

In [ ]:
movies.count()

In [ ]:
vk

In [ ]:
vk[vk > 10]

In [ ]:
vk - 10

In [ ]:
vk > 50

## Boolean Indexing in Series

In [ ]:
vk

In [ ]:
vk[vk == 0].size

In [ ]:
vk[vk > 50].size

In [ ]:
subs

In [ ]:
subs[subs > 200].count()

In [ ]:
movies

In [ ]:
numMovies = movies.value_counts()

In [ ]:
numMovies

In [ ]:
numMovies[numMovies > 20]

In [ ]:
subs

In [ ]:
subs.plot()

In [ ]:
movies.value_counts().head(20).plot(kind = 'bar')

In [ ]:
movies.value_counts().head(20).plot(kind = 'pie')

### As type

In [79]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [81]:
subs.max()

396

In [82]:
import sys

In [83]:
sys.getsizeof(subs)

3064

In [84]:
subs.dtype

dtype('int64')

In [85]:
subs.min()

33

In [89]:
sys.getsizeof(subs.astype('int16'))

874

In [90]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [96]:
# between
vk.between(90, 100)

match_no
215    False
214    False
213    False
212    False
211    False
       ...
5      False
4      False
3      False
2      False
1      False
Name: runs, Length: 215, dtype: bool

In [92]:
vk[vk.between(90, 100)]

match_no
178     90
164    100
145     92
120    100
82      99
81      93
Name: runs, dtype: int64

In [97]:
# clip
vk.clip(50,100)

match_no
215    50
214    50
213    73
212    50
211    50
       ..
5      50
4      50
3      50
2      50
1      50
Name: runs, Length: 215, dtype: int64

### drop duplicates

In [98]:
temp4 = pd.Series(np.array([3,4,5,5,5,6,8,9]))

In [99]:
temp4

0    3
1    4
2    5
3    5
4    5
5    6
6    8
7    9
dtype: int64

In [101]:
temp4.drop_duplicates(keep='last', inplace = True)

In [102]:
temp4

0    3
1    4
4    5
5    6
6    8
7    9
dtype: int64

In [103]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [104]:
movies.count()

1500

In [105]:
movies.drop_duplicates().count()

566

In [108]:
movies.duplicated().sum()

934

## Handling nan or missing values

In [110]:
temp5 = pd.Series(np.array([1,2,3,np.nan, 5, np.nan, 6,np.nan]))

In [111]:
temp5

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
6    6.0
7    NaN
dtype: float64

In [112]:
temp5.count() # count is the method

5

In [114]:
temp5.size  # size is the attribute

8

In [118]:
temp5.isna()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [119]:
temp5.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [120]:
# dropna
temp5.dropna()

0    1.0
1    2.0
2    3.0
4    5.0
6    6.0
dtype: float64

In [121]:
temp5

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
6    6.0
7    NaN
dtype: float64

In [125]:
# fillna

temp5.fillna(value = 0)

0    1.0
1    2.0
2    3.0
3    0.0
4    5.0
5    0.0
6    6.0
7    0.0
dtype: float64

In [127]:
temp5.fillna(value = temp5.mean())

0    1.0
1    2.0
2    3.0
3    3.4
4    5.0
5    3.4
6    6.0
7    3.4
dtype: float64

In [130]:
# is in 

vk[vk.isin([29])]

match_no
173    29
Name: runs, dtype: int64

In [131]:
vk[vk.isin([29, 41])]

match_no
200    41
173    29
161    41
101    41
Name: runs, dtype: int64

In [134]:
# apply

#run a custom logic on a pandas series

movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [135]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [136]:
subs.apply(lambda x: 'good day' if x > 200 else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362     bad day
363     bad day
364     bad day
Name: Subscribers gained, Length: 365, dtype: object

# Copy

In [138]:
vk.sort_index(ascending=True, inplace=True)

In [139]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [140]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [141]:
temp1 = pd.Series([10,20,30,40,50], [1,2,3,4,5])

In [142]:
temp1

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [143]:
id(temp1)

5118867296

In [144]:
temp2 = temp1

In [145]:
id(temp2)

5118867296

In [146]:
temp2[1]

10

In [147]:
temp2[1] = 1

In [148]:
temp1

1     1
2    20
3    30
4    40
5    50
dtype: int64

In [149]:
temp2

1     1
2    20
3    30
4    40
5    50
dtype: int64

In [150]:
tempnum = np.array([1,2,3])

In [151]:
tempnum

array([1, 2, 3])

In [152]:
tempnum[0]

1

In [153]:
id(tempnum)

4960528208

In [154]:
tempnum1 = tempnum

In [155]:
id(tempnum1)

4960528208

In [156]:
tempnum[0] = 2

In [157]:
tempnum1

array([2, 2, 3])

In [158]:
id(tempnum
  )

4960528208

In [161]:
tempnum3 = tempnum.copy()

In [162]:
tempnum3

array([2, 2, 3])

20

In [163]:
20

20

In [164]:
id(20)

4341918608

In [165]:
x = 20

In [166]:
id(x)

4341918608

In [167]:
a = [1,2,3]

In [168]:
b = [a, 1,2 ]

In [169]:
c = (a, b, 1)

In [170]:
c

([1, 2, 3], [[1, 2, 3], 1, 2], 1)

In [171]:
class(c)

SyntaxError: invalid syntax (1925037936.py, line 1)

In [172]:
type(c)

tuple

In [173]:
c

([1, 2, 3], [[1, 2, 3], 1, 2], 1)

In [174]:
a[0] = 2

In [175]:
c

([2, 2, 3], [[2, 2, 3], 1, 2], 1)

In [176]:
a = [1,2,3]

In [177]:
c = (a, 1)

In [178]:
id(c)

5156588672

In [179]:
id(a)

5118212864

In [180]:
a[0] = 7

In [181]:
id(a)

5118212864

In [182]:
id(c)

5156588672

In [183]:
nums

NameError: name 'nums' is not defined

In [184]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [186]:
subs[1] = 30