# string

In [1]:
something = 'he's a good boy'

print(something)

SyntaxError: invalid syntax (2016864882.py, line 1)

In [50]:
string2 ='he\'s a good boy'

print(string2)

he's a good boy

In [7]:
mul_line = """this 
is 
a 
multiline 
string"""

print(mul_line)

this
is
a
multiline
string

In [8]:
#concatination

In [9]:
str1 = "hi my name "
str2 = "is talha"
str3 = str1 + str2
print(str3)

hi my name is talha

# string methods

In [13]:
name = "my name is talha"

print(name.upper())
print(name.lower())

MY NAME IS TALHA
my name is talha

In [15]:
# to know all  the string commands use 

dir(name)

In [19]:
#asking python for help 

help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [20]:
type(name)

str

# #string slicing

In [21]:
country = "my country is Pakistan"

In [22]:
print(country[0:10])

my country

In [24]:
print(country[0:-12])

my country

In [25]:
print(country[0:])

my country is Pakistan

In [26]:
print(country[:-1])

my country is Pakista

In [27]:
print(country[1])

y

# string formating aka substitution

In [29]:
my_string = "I like %s" % "Python"

my_string

'I like Python'

In [31]:
var = "cookies"
newString = "I like %s" % var
newString

'I like cookies'

In [32]:
me = "my name is %s" %name
me

'my name is my name is talha'

In [33]:
#modern way !!

print("%(lang)s is fun!" % {"lang":"Python"})

Python is fun!

In [34]:

print("%(car)s is a great car" %{"car": "Mustang"})

Mustang is a great car

In [36]:
print("%(x)s plus %(y)s equals to %(z)s" %{"x" : 1 , "y" : 2 , "z" : 3})

1 plus 2 equals to 3

In [37]:
# another way is by using format method 

# the format replaces the {} with a specified value for example ...

"Python is as simple as {0}, {1}, {2}".format("a", "b", "c")

'Python is as simple as a, b, c'

In [41]:
xy = {"x":0, "y":10}
print("Graph a point at where x={x} and y={y}".format(**xy))

Graph a point at where x=0 and y=10

# lists

In [44]:
#creating an empty list 

my_list = []

#or

#my_list = list()

In [45]:
#You can also create lists of lists like this:

my_list = [1, 2, 3]

my_list2 = ["a", "b", "c"]

my_list3 = ["a", 1, "Python", 5]

my_nested_list = [my_list, my_list2, my_list3]

print(my_nested_list)

[[1, 2, 3], ['a', 'b', 'c'], ['a', 1, 'Python', 5]]

In [46]:
# methods

In [49]:
combo_list = [3]

one_list = [4,5]

combo_list.extend(one_list)

combo_list

[3, 4, 5]

In [9]:
#sorting
sorted_list = [32,56,65,874,685,654,8]

sorted_list.sort()

sorted_list

[8, 32, 56, 65, 654, 685, 874]

In [ ]:
print(sorted_list.sort())

In this example, if we try to assign
the sorted list to a variable.

However, when you call the sort()

method on a list, it sorts the list in-
place. So if we try to assign the result

to another variable, then we'll find
out that we'll get a None object,
which is like a Null in other
languages.

Thus when we want to sort
something, just remember that we
sort them in-place and we cannot
assign it to a different variable.

In [25]:
#list in a tuple

my_tup = ([1,2,3])

my_tup

my_tup[1]

2

# dictionaries

In [10]:
#empty dictionaries

my_dict = {}

In [11]:
my_data = {"name": "talha" , "age":21 , "caste" : "pakhtoon"}

In [12]:
my_data

{'name': 'talha', 'age': 21, 'caste': 'pakhtoon'}

In [14]:
my_data["name"]

'talha'

In [16]:
my_data.keys()

dict_keys(['name', 'age', 'caste'])

In [17]:
my_data.values()

dict_values(['talha', 21, 'pakhtoon'])

In [20]:
"age" in my_data  #true or false

True

# conditionals

In [27]:
my_list = [1, 2, 3, 4]
x = 10
z = 11
if x not in my_list and z != 10:
    print("This is True!")

This is True!

In [37]:
#comparing a tuple and list 
lis = [1,2,3]

tup = (1,2,3)

xyz = "1,2,3"

if abc == cde  :
    print("its equal ")

In [38]:
print("i am test \t tab")

i am test 	 tab

loops // range

In [39]:
for numbers in range(6):
    print(numbers)

0
1
2
3
4
5

In [51]:
#my data is defined in dictionary section

for key in my_data:
    print(key)

name
age
caste

In [52]:

for values in my_data:
    print(values)

name
age
caste

the "key" and "values" are just variables here it can be anything !!

In [56]:
i = 0

while i<10:
    print(i)
    i+=1
    if(i==5):
        break

0
1
2
3
4

# comprehension

In [60]:
# lists comprehension

x = [i for i in range(10)]

In [61]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
#casting strings into integers 

a = ["1","2","3"]

int_a = [int(i) for i in a ]

print(int_a)

print(type(int_a[1]))

[1, 2, 3]
<class 'int'>

In [2]:
myname  = "hello my name is talha"

myname.strip()

'hello my name is talha'

In [4]:
txt = ",,,,,11222.....banana....444"
x = txt.strip(",1432.")  # Note: all .strip("1,234."), .strip("41,.2") etc will give same result
x

'banana'

In [72]:
#nested list 

list = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in list for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
#dicts

my_dict = {1:"dog", 2:"cat", 3:"horse"}

print( {value:key for key, value in my_dict.items()} )

{'dog': 1, 'cat': 2, 'horse': 3}

In [80]:
# set (having only unique values )

myList = [1,2,3,4,5,5,6]

mySet = set(myList)

mySet

{1, 2, 3, 4, 5, 6}

In [82]:
 #another way -> note that we used curly braces for set comprehension  
    
my_list = [1, 2, 2, 3, 4, 5, 5, 7, 8]
my_set = {x for x in my_list}
my_set

{1, 2, 3, 4, 5, 7, 8}

# exception handling

In [88]:
1/0

ZeroDivisionError: division by zero

In [89]:
try :
    1/0
except ZeroDivisionError:
    print("you cannot divide by 0")

In [92]:
# bare excepts -> it will catch all the errors (not recommended)

try : 
    1/0
except:
    print("dishkum tanra")

dishkum tanra

In [99]:
dictionary = {"a" : 1 , "b" : 2 , "c" : 3}


value = dictionary["d"]

KeyError: 'd'

In [101]:
try : 
    value = dictionary["d"]
except KeyError:
    print("the error is catched ")

the error is catched

In [103]:
my_list = [1, 2, 3, 4, 5]
try:
    my_list[6]
except IndexError:

    print("That index is not in the list!")

That index is not in the list!

In [104]:
# catching multiple errors 

my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except IndexError:
    print("This index does not exist!")
except KeyError:
    print("This key is not in the dictionary!")
except:
    print("Some other error occurred!")

This key is not in the dictionary!

In [105]:
# or we can also use ( ) to handle multiple errors 

try:
    value = my_dict["d"]
except (IndexError, KeyError):
    print("An IndexError or KeyError occurred!")

An IndexError or KeyError occurred!

In [107]:
# finally 

try:
    value = my_dict["d"]
except IndexError:
    print("An IndexError or KeyError occurred!")
finally:
    print("the finally statement will execute anyways")

the finally statement will execute anyways

KeyError: 'd'

In [111]:
# else : the try and except also has an else part

try:
    10/5
except ZeroDivisionError:
    print("zero division occured ")
else:
    print("no error occured")

no error occured

In [116]:
# bring it all together 

dict = {"a":1, "b":2, "c":3}
try:
    value = dict["a"]
except KeyError:
    print("A KeyError occured!")
else:
    print("No error occured!")
finally:
    print("The finally statement ran!")

No error occured!
The finally statement ran!

# working with files

In [3]:
x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","r") # the r in beginning represents raw string

In [7]:
# what if we donot use the raw strings 

print("C:\Users\mehmo\Desktop\Untitled Folder\test.txt")/

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2866473824.py, line 3)

In [6]:
print(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt")

C:\Users\mehmo\Desktop\Untitled Folder\test.txt

In [14]:
# reading the data 

x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","r")

data = x.read()

print(data)

x.close()

my name is talha

pakistan Zindabad

jalebi baby

affan

In [18]:
# reading a single line

x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","r")

first_line = x.readline()

print(first_line)

x.close()

['my name is talha \n', '\n', 'pakistan Zindabad\n', '\n', 'jalebi baby \n', '\n', 'affan ']

# reading all the lines 

x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","r")

first_line = x.readlines()   #!!!

print(first_line)

x.close()

In [22]:
x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","r")

for line in x :
    print(line)

this is another line

In [23]:
x = open(r"C:\Users\mehmo\Desktop\Untitled Folder\test.txt","w")

x.write("this is another line")

x.close()   # note that the old text is over written

# package and modules /

In [39]:
#method 1 
from math import sqrt,pi

sqrt(24)

4.898979485566356

In [29]:
#method 2 
import math

math.sqrt(24)

4.898979485566356

In [40]:
#importing all the modules 

from math import*

# functions

In [41]:
def empty_function():
    pass

In [64]:
def add(a=1,b=2):  # deault arguments 
    return a+b

num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))

try:
    print("total: ",add(num1,num2))    #function call
    
except TypeError:
    print("check number of arguments")
    pass

finally:
    print("\t\t THANKS")

Enter First Number : 2
Enter Second Number : 2
total:  4
		 THANKS

In [70]:
#infinite arguments

# args and kwargs are no keywords they can be anything with * and **

def many(*args, **kwargs):
    print(args)
    print(kwargs)

many(1,2,3, name="Ali" , job="Cyber Warrior")

(1, 2, 3)
{'name': 'Ali', 'job': 'Cyber Warrior'}

In [71]:
x = "talha"

dir(x)

# So what does dir(x) shows us!

# When we have a string assigned to the variable x. The dir shows us how
# many methods are there.

# There are 71 methods here!

# Normally we do not call methods that start with underscores directly so
# that reduces the total count to 38.

# This means that string is based on a class and x is an instance of that
# class!

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# intro to class

In [5]:
class vehicle:
    
    def __init__(self, color, door, tyres): #constructor
        self.color = color
        self.door = door
        self.tyres = tyres
        pass
    
    def braking(self):
        return "braking"
    
    def driving(self):
        return "driving"

____________________________________END OF PYTHON ALPHA ______________________________________________