# Basics of Python (All you need to know)

Link to Colab: https://colab.research.google.com/

## 1. Syntax

Python is easy to learn because it focuses on readability. Unlike many programming languages, Python uses indentation instead of braces to define blocks of code.

**1. How to run Python code:**

In [45]:
print("This is my first code")

This is my first code

**2. Indentation rules:**

In [48]:
# Correct indentation
if True:
  print("Correct indentation")

# Incorrect indentation
# if True:
# print("Incorrect indentation")

Correct indentation

**3. Comments:**

In [ ]:
# This is a single line comment
"""This is a
multi-line comment"""

**Exercise**

Try to print 'Hello World!'

## 2. Variables and Data Types

In Python, we don’t need to declare variable types explicitly. The type is inferred from the value we assign.

**1. Variable declaration:**

In [51]:
age = "25"

In [52]:
print(type(age))

<class 'str'>

**2. Data types:**

In [ ]:
# Integers:  int
# Floats  :  float
# Strings :  str
# Booleans:  bool

In [ ]:
age = 25
name = "Alice"
height = 5.9
is_active = True

**3. Type conversion:**

In [55]:
type(float("3.14"))

float

**4. Best Practices:**

In [6]:
# snake_case : Snake case is a naming convention that uses underscores to replace spaces between words, and writes all words in lowercase.
# Example:
"hello_world"

**Exercise**

1. What is the output of type(3.14)?
2. How do you convert a string "25" into an integer?

## 3. Basic Operators

Operators are symbols used for computations. Python supports arithmetic, comparison, and logical operators.

**1. Arithmetic operators:**

In [8]:
# + , - , * , / , % , // , **

In [61]:
a = 10
b = 3
a**b

1000

**2. Comparison operators:**

In [ ]:
# == , != , < , > , <= , >=

In [65]:
a > b

True

**3. Logical operators:**

In [ ]:
# and , or , not

In [67]:
True and True

True

**4. Compound assignment:**

In [69]:
x =10
# x = x+2
# print(x)
x += 2
print(x)

12

**Exercise**

1. What is the result of 10 % 3?
2. Write the output of 'True and False' and 'not True'.

## 4. Control Flow Statements

Control flow statements allow us to make decisions in our code. For example, if-else checks conditions, and loops repeat tasks.

**1. Conditionals:**

In [ ]:
# if , elif , else

In [70]:
num = 7
if num%2 == 0:
  print("Even")
else:
  print("Odd")

Odd

**2. Loops:**

In [ ]:
# for loop - range()

In [74]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# while loop

In [75]:
count = 0
while count<5:
  print(count)
  count += 1

0
1
2
3
4

**3. break and continue:**

In [11]:
# break:  to exit loop early
# continue: skip current iteration

In [76]:
for i in range(10):
  if i==3:
    break
  print(i)

0
1
2

In [78]:
for i in range(1,6):
  if i ==3:
    continue
  print(i)

1
2
4
5

**Exercise**

1. Write a program that prints numbers from 1 to 10 using a for loop.

## 5. Functions

Functions are reusable blocks of code. Define them using the 'def' keyword.

**1. Defining functions:**

In [84]:
# Function definition

def greet(name):
  # return f"Hello, {name}"
  return name

# Calling a function

greet("Pragya")

'Pragya'

**2. Positional and keyword arguments:**

In [87]:
def info(name, age =25):
  print("Name: ", name)
  print("Age: ", age)

info("Pragya", age = 30)

Name:  Pragya
Age:  30

**Exercise**

1. What will happen if a function doesn’t include a return statement?
2. Write a function add_numbers(a, b) that returns the sum of two numbers.

## 6. Working with Strings

Strings are sequences of characters. We can use string methods to modify and analyze text.

**1. Basic operations:**

In [88]:
sentence = "Hello World"
print(sentence)

Hello World

In [ ]:
# Concatenation       : "Hello" + "World"
# Repetition          : "Hi" * 3
# Accessing characters: s[0], slicing:  s[1:3]

In [95]:
sentence[0:5]

'Hello'

**2. String methods:**

In [ ]:
# len() , strip() , lower() , upper() , split() , join()

In [101]:
sentence = " ABC "
sentence.split()

['ABC']

**3. Escape characters:**

In [102]:
# \n (newline) , \t (tab) , etc
a = "new \nline"
print(a)

new
line

**Exercise**

1. What is the output of "Python"[1:4]?
2. Write a program that asks the user for their name and prints it in uppercase letters.

## 7. Lists and Tuples

Lists are mutable collections of items. Tuples are similar but immutable.

**1. Lists:**

In [104]:
# Create
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
fruits

['apple', 'blueberry', 'cherry']

**2. List methods:**

In [ ]:
# append() , remove() , pop() , sort()

In [106]:
fruits.remove("orange")
fruits

['apple', 'blueberry', 'cherry']

**3. Tuples:**

In [107]:
coordinates = (10,20)
coordinates

(10, 20)

**Exercise**

1. How do you access the third element of a list?
2. Create a list of five favorite fruits and print the last fruit using indexing.

## 8. Dictionaries and Sets

Dictionaries store key-value pairs. Sets are unordered collections of unique items.

**1. Dictionaries:**

In [108]:
student = {"name": "Alice",
           "age": 25}

In [109]:
student['name']

'Alice'

In [110]:
student["age"] = 27
student

{'name': 'Alice', 'age': 27}

**2. Set operations:**

In [111]:
numbers = {1,2,3,4,4}
numbers

{1, 2, 3, 4}

In [112]:
numbers.add(5)
numbers

{1, 2, 3, 4, 5}

In [14]:
# union , intersection , difference

In [120]:
a = {1,2,3}
b = {2,3,4}

a.difference(b)

{1}

**Exercise**
1. How do you add a new key-value pair to a dictionary?
2. What will len({"apple", "banana", "apple"}) return?

## 9. File Handling

Python makes it easy to read and write files. Use with open() to handle files.

**1. Reading files:**

In [123]:
with open("file.txt", "r") as file:
  print(file.read())

Write function

**2. Writing files:**

In [122]:
with open("file.txt", "w") as file:
  file.write("Write function")

## 10. Debugging and Errors

Errors are inevitable. Use try-except to handle them gracefully.

**1. Common errors:**

In [ ]:
# SyntaxError , NameError , IndexError , TypeError

**2. Using try-except:**

In [125]:
try:
  num = int(input("Enter a number"))
  print("Square is: ", num**2)
except ValueError:
  print("Please enter a valid number")

Enter a numbernew
Please enter a valid number

## (Solution to the exercise questions are given below)

1.Try to print 'Hello World!'

In [ ]:
print("Hello World!")

Hello World!

1. What is the output of type(3.14)?
2. How do you convert a string "25" into an integer?

In [ ]:
type(3.14)

float

In [ ]:
int("25")

25

1. What is the result of 10 % 3?
2. Write the output of True and False and not True.

In [ ]:
10%3

1

In [ ]:
True and False

False

In [ ]:
not True

False

Write a program that prints numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

1. What will happen if a function doesn’t include a return statement?
2. Write a function add_numbers(a, b) that returns the sum of two numbers.

In [ ]:
def function(input):
  input = input+5

function(6)

# no output

In [ ]:
def add_numbers(a, b):
  return a+b

add_numbers(3, 5)

8

1. What is the output of "Python"[1:4]?
2. Write a program that asks the user for their name and prints it in uppercase letters.

In [ ]:
"Python"[1:4]

'yth'

In [ ]:
def ask_name():
  name = input()
  print(name.upper())

ask_name()

myname
MYNAME

1. How do you access the third element of a list?
2. Create a list of five favorite fruits and print the last fruit using indexing.

In [ ]:
lis = ['a','b','c','d']
lis[2]

'c'

In [ ]:
lis = ['apple', 'banana', 'orange']
lis[-1]

'orange'

1. How do you add a new key-value pair to a dictionary?
2. What will len({"apple", "banana", "apple"}) return?

In [ ]:
dictionary = {"key1": "apple", "key2": "banana"}
print("Original dictionary :", dictionary)
print()
dictionary["key3"] = "orange"
print("Dictionary after adding a new key-value pair :", dictionary)
print()

Original dictionary : {'key1': 'apple', 'key2': 'banana'}

Dictionary after adding a new key-value pair : {'key1': 'apple', 'key2': 'banana', 'key3': 'orange'}

In [ ]:
len({"apple", "banana", "apple"})

2

Write a program that writes "Hello, Python!" to a file named output.txt.

In [ ]:
# give a try

## More Exercises

1. Write a program to calculate the area of a rectangle given its length and width.
2. Check if a number is even or odd using the modulo operator.
3. Write a program that keeps asking for user input until they type "exit".
4. Write a function to calculate the factorial of a number.
5. Write a program to count the number of vowels in a given string.
6. Write a program to sort a list of numbers in ascending order.
7. Create a dictionary to store details about a student (name, age, grade).
8. Write a program to find the union and intersection of two sets.