In [1]:
"Hello World!"

'Hello World!'

In [2]:
import math

In [3]:
average(1,3)
3*4

NameError: name 'average' is not defined

In [4]:
66/11

6.0

In [5]:
6**2

36

In [6]:
74%5

4

In [7]:
2*4+3

11

In [8]:
2*(4+3)

14

In [9]:
print(2*4)

8

This is a comment

# Heading 1
## Heading 2
### Heading 3
* Point 1
* Point 2

This is a coment without editing

In [10]:
2+4 # Addition

6

In [11]:
x = 10

In [12]:
print(x)

10

In [13]:
x = 5

In [14]:
print(x)

5

In [15]:
x = 5+2

In [16]:
print(x)

7

In [17]:
y = 7/2

In [18]:
print(y)

3.5

In [19]:
type(x)

int

In [20]:
type(y)

float

In [21]:
9x = 10

SyntaxError: invalid syntax (<ipython-input-21-f59f84827dc5>, line 1)

In [22]:
sample variable = 10

SyntaxError: invalid syntax (<ipython-input-22-7325a360121c>, line 1)

In [23]:
sample_variable = 10

In [24]:
"this is a string"

'this is a string'

In [25]:
'This is a string'

'This is a string'

In [26]:
str = "Start-Tech Academy"

In [27]:
str

'Start-Tech Academy'

In [28]:
print(str)

Start-Tech Academy

In [29]:
len(str)

18

In [30]:
str2 = str.replace("Academy", "Acad")

In [31]:
print(str2)

Start-Tech Acad

In [32]:
str2[0]

'S'

In [33]:
str2[1]

't'

In [34]:
str2[0:10]

'Start-Tech'

In [35]:
str2[-1]

'd'

In [36]:
str2[6:]

'Tech Acad'

In [37]:
str2[6:-2]

'Tech Ac'

In [38]:
str2[6:-2:2]

'Tc c'

In [39]:
str2[::-1]

'dacA hceT-tratS'

In [40]:
print(str)

Start-Tech Academy

In [41]:
print(str,str2)

Start-Tech Academy Start-Tech Acad

In [42]:
print(str + str2)

Start-Tech AcademyStart-Tech Acad

In [43]:
print("The value of x = 5, y= 10")

The value of x = 5, y= 10

In [44]:
print("The value of x = {}, y = {}".format(x,y))

The value of x = 7, y = 3.5

In [45]:
x = 5

In [46]:
y=10

## Boolean

In [47]:
bool1 = True

In [48]:
type(bool1)

bool

In [49]:
bool2 = False

## Comparison operators

In [50]:
True and False

False

In [51]:
Bool1 or Bool2

NameError: name 'Bool1' is not defined

In [52]:
bool1 or bool2

True

In [53]:
not bool1

False

In [54]:
2>1

True

In [55]:
2<1

False

In [56]:
2>=2

True

In [57]:
2>=1 and 5<3

False

In [63]:
2==3

False

In [64]:
x == 5

True

## lists

In [65]:
l1= [1,2,3,4,5]

In [66]:
type(l1)

list

In [67]:
print(l1)

[1, 2, 3, 4, 5]

In [68]:
l1[0]

1

In [69]:
l1[0:3]

[1, 2, 3]

In [70]:
l1[::2]

[1, 3, 5]

In [71]:
l2 = [1, "a", 1.0]

In [72]:
type(l2[0])

int

In [73]:
type(l2[1])

str

In [74]:
type(l2)

list

In [75]:
l3 = [l2, 1, 2.0]

In [76]:
print(l3)

[[1, 'a', 1.0], 1, 2.0]

In [77]:
type(l3[0])

list

In [78]:
l3[0][1]

'a'

In [79]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [80]:
l4 = list(range(0,10,2))

In [81]:
l4

[0, 2, 4, 6, 8]

In [82]:
l4.sort(reverse = True)

In [83]:
l4

[8, 6, 4, 2, 0]

In [84]:
l4.append(10)

In [85]:
l4

[8, 6, 4, 2, 0, 10]

In [86]:
l4[0] = 3

In [87]:
l4

[3, 6, 4, 2, 0, 10]

In [88]:
l4[1:3] = [5,7]

In [89]:
l4

[3, 5, 7, 2, 0, 10]

In [90]:
l4.insert(0, "15")

In [91]:
l4

['15', 3, 5, 7, 2, 0, 10]

In [92]:
l4.remove(3)

In [93]:
l4

['15', 5, 7, 2, 0, 10]

In [94]:
del l4[0]

In [95]:
l4

[5, 7, 2, 0, 10]

In [96]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Tuples

In [97]:
t1 = (1,2)

In [98]:
t1

(1, 2)

In [99]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [100]:
type(t1)

tuple

## Dictionary

In [101]:
d1 = {"key1": 1,
     "key2" : 2,
     "key3" : 3,}

In [102]:
d1

{'key1': 1, 'key2': 2, 'key3': 3}

In [103]:
type(d1)

dict

In [104]:
d1["key1"]

1

In [105]:
d1[0]

KeyError: 0