Errors:-



1) Syntax Error

   print('hello)
   
   
   
   
 
2) Runtime Error

   print(10/0)
   
 
 
 
 

3) Logical Error

   def sum(a,b):      
       return a-b
       
       
       
       
4) Name Error

   Print('Hello')
   
   print(hello)
   
   
   

5) Type Error

   print("2"+2)
   
   
   
   
6) Index Error

   lst=[1,2,3,4,5]
   
   lst[5]
   


7) key Error

   dct={'a':1,'b':2}
   dct[1]
   
   

8) Attribute Error

   x=10
   
   x.upper()      
   
   
   
9) Indentation Error

   a=10
   
   b=20
   
   c=10
   
   for i in range(b):
   print(i)

10) Import Error

    import default.func
    
    
11) Value Error

    int('abc')

In [1]:
# 1. Syntax

In [2]:
print("hello)

SyntaxError: unterminated string literal (detected at line 1) (2149988476.py, line 1)

In [3]:
print(20/0)

ZeroDivisionError: division by zero

In [5]:
#Logical Error
def sum(a,b):
    return a-b
print(sum(1,2))

-1

In [6]:
print(hello)

NameError: name 'hello' is not defined

In [7]:
lst=[1,2,3,4,4]
print(lst[10])

IndexError: list index out of range

In [8]:
dct={1:'a',2:'b'}
print(dct[3])

KeyError: 3

In [10]:
if 1 in dct.keys():
print(i)

IndentationError: expected an indented block after 'if' statement on line 1 (2219629416.py, line 2)

In [11]:
import sysnsyss

ModuleNotFoundError: No module named 'sysnsyss'

In [12]:
amaount = 10000
if(amaount>2999)
    print("Item approved")

SyntaxError: expected ':' (3922919587.py, line 2)

In [13]:
total = 5 - 4 # Logical Error
print("Total is:", total)  # Expected output: Total is 9 (mistakenly prints 1)

Total is: 1

In [14]:
total = "5" + 5

TypeError: can only concatenate str (not "int") to str

In [15]:
age = int("twenty")

ValueError: invalid literal for int() with base 10: 'twenty'