In [47]:
def longest_sequence(nums):
    num_set = set(nums)
    longest_seq = []
    for num in nums:
        if num-1 not in num_set:
            curr_num = num
            curr_seq = []
            while curr_num in num_set:
                curr_seq.append(curr_num)
                curr_num += 1
            if len(curr_seq) > len(longest_seq):
                longest_seq = curr_seq
            elif len(curr_seq) == len(longest_seq) and nums.index(curr_seq[0]) > nums.index(longest_seq[0]):
                longest_seq = curr_seq
    return longest_seq
l = [1, 2, 5, 6, 7, 8, 10, 11, 3, 4]
print(longest_sequence(l))

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
class Solution(object):

    def longest_str(self,s):
        st = 0
        m = 0
        d =set()
        for i,v in enumerate(s):
            if v in d and st <= d[v]:
                st = d[v]+1
            else:
                m = max(m,i-st +1)
                d[v] = i
        return m
longest_str('abcabcbb')

4

ðŸ’¡ Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the nonzero elements.
Note that you must do this in-place without making a copy of the array.

Example 1: Input: nums = [0,1,0,3,12] Output: [1,3,12,0,0]

In [17]:
nums = [0,1,0,3,12]
for i in nums:
    if i ==0:
        nums.remove(i)
        nums.append(i)
print(nums)

[1, 3, 12, 0, 0]

In [ ]:
from bs4 import BeautifulSoup
import requests 
url = 'https://blinkit.com/prn/paper-boat-swing-lush-lychee-juice/prid/480578'
r =requests.get(url)
content = r.text()

In [ ]:
l = [3,5,8,0,1,6,11,2]

In [2]:
l = [3,5,8,0,1,6,11,2]
def sorting(l):

    for i in range(len(l)):
        for j in range(i+1, len(l)):
            if l[i] > l[j]:
                l[i],l[j] = l[j],l[i]
    return l               
sorting(l)

[0, 1, 2, 3, 5, 6, 8, 11]

In [ ]:
n = [2,2,4,5,6,6]


def duplicate(n):
    dup =[]
    seen = []
    
    for i in n:
        if i in seen:
            dup.append(i) or dup.append(i+1)
            
        else:
            seen.append(i)
    
    return dup
    
duplicate(n)

In [32]:
l1 =[1,3,5,7]
l2 = [2,4,6,8,9,5,7]
l1.append(l2)
l2.remove(5)
l1

[1, 3, 5, 7, [2, 4, 6, 8, 9, 7]]

# check if from a given string words can form or not

In [18]:
def can_form_words(words,s):
    for word in words:
        s_list = list(s)  # its check each word, that item of s is avl in each word or not, as s_list inside the for loop
        for i in word:
            if i in s_list:
                s_list.remove(i)
            else:
                return False
    return True

can_form_words (['data','camp','cmd'],'datacamp')

True

In [19]:
def can_form_words(words, s):
    s_list = list(s)  # its checks all the words at a time, if any element from 's' is avl in any word then it'll not use again.
    for word in words:
        for i in word:
            if i in s_list:
                s_list.remove(i)
            else:
                return False
    return True
print(can_form_words(['data', 'camp','cmd'], 'datacamp'))

False

# If word forms then find no of Vowels in eash words

In [26]:
def can_form_word(words,s):
    
    for word in words:
        s_list = list(s)   
        for i in word:
            if i in s_list:
                s_list.remove(i)
            else:
                return False
    return True

def find_vowels_in_words(dictionary, p):
    vowels = 'aeiou'
    valid_word = []
    vowels_in_word = {}
    for w in dictionary:
        if can_form_word(w,p):
            valid_word.append(w)
            word_vowels = [char for char in w if char in vowels]
            vowels_in_word[w] = word_vowels
    return vowels_in_word
p = 'datacamp'
dictionary = ['data','camp','lack','cam']
print(find_vowels_in_words(dictionary, p))

{'data': ['a', 'a'], 'camp': ['a'], 'cam': ['a']}

In [31]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n ** 0.5)+1):
        if n % i == 0:
            return False
    return True
prime_no = []
for n in range(11,21):
    if is_prime(n):
        prime_no.append(n)
print(prime_no)

[11, 13, 17, 19]

In [4]:
import sys
import pandas as pd
print(sys.version)
print(pd.__version__)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
2.2.2

In [ ]:
**Questions usually asked by Giant Mind panel:
 
1. What is R Strip method   [strip() = Remove spaces at the beginning and at the end of the string:]
   R Strip  = Remove any white spaces at the end of the string:

2. What is Elite Function
3. What is Lambda Function
4. What is Filter Function
5. What is Pickling
6. Max No.of Vowels

In [6]:
text = 'Hello world   '
clean = text.strip()
clean

'Hello world'

# Map ( convert each elements into upper case)

In [1]:
fruits = ['apple','appy','apricot','banana']
mapped1 = list(map(lambda c : c.upper(),fruits))
mapped1

['APPLE', 'APPY', 'APRICOT', 'BANANA']

#  capitalize ( convert only first letter of each elements into upper case)

In [2]:
fruits = ['apple','appy','apricot','banana']
mapped2 = list(map(lambda c : c.capitalize(),fruits))
mapped2

['Apple', 'Appy', 'Apricot', 'Banana']

# convert only first 2 letter of each elements into upper case

In [5]:
fruits = ['apple','appy','apricot','banana']
mapped2 = list(map(lambda c : c[:2].upper() + c[2:],fruits))
mapped2

['APple', 'APpy', 'APricot', 'BAnana']

# convert only last letter of each elements into upper case

In [11]:
fruits = ['apple','appy','apricot','banana']
mapped2 = list(map(lambda c : c[:-1] +  c[-1].upper(),fruits))
mapped2

['applE', 'appY', 'apricoT', 'bananA']

In [14]:
fruits = ['apple','appy','apricot','banana']
filtered = list(filter(lambda c : c[:3] == 'app',fruits))
filtered

['apple', 'appy']

# 1) Reverse

In [11]:
def reverse (str):
    l = ''
    for i in range(len(str)-1,-1,-1):
        l+=str[i]
    return (l)
reverse('soumik')

'kimuos'

# 2) Palindrome

In [1]:
def palindrome(str):
    l = ''
    for i in range(len(str)-1,-1,-1):
        l +=str[i]
    if str ==l:
        return('palindrome')
    else:
        return('not palindrome')
palindrome('madam')

'palindrome'

# 3) Find largest

In [3]:
def largest(num):
    lar = float('-inf')
    for i in num:
        if i > lar:
            lar = i
    return lar
largest ([2,3,4,5,45,65,1,56,78,98])

98

# 5) 2nd largest

In [10]:
def second_largest(num):
    largest = float('-inf')
    sec_largest = float('-inf')
    for i in num:
        if i > largest:
            sec_largest = largest
            largest = i
        elif i > sec_largest and i != largest:
            sec_largest = i       
    return sec_largest
      
second_largest([2,3,1,7,12,9,4,8,10,11])

11

# 4) Occurence

In [3]:
def occurence(num):
    d = {}
    for i in num:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d
occurence([2,3,2,3,4,5,6,5,6,78,9,7,6])

{2: 2, 3: 2, 4: 1, 5: 2, 6: 3, 78: 1, 9: 1, 7: 1}

# Count occurrences of each character

In [1]:
def occurence(str):
    d = {}
    for i in str:
        if i in d:
            d[i] += 1
             
        else:
            d[i] = 1
    return d
occurence('anaconda')

{'a': 3, 'n': 2, 'c': 1, 'o': 1, 'd': 1}

In [29]:
def non_repeating(str):
    d = {}
    for i in str:
        d[i] = d.get(i,0) +1
    return d
non_repeating('anaconda')

{'a': 3, 'n': 2, 'c': 1, 'o': 1, 'd': 1}

In [ ]:
def occurence(num):
    d = {}
    for i in num:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d
o

# is_sorted  [incorrect / indexerror]

In [32]:
def is_sorted(n):
    for i in range(len(n)):
        if n[i] > n[i+1]:
            return False
    return True
is_sorted([2,4,6,7,8,9])

'''The error in your function is that you are iterating over the entire list with range(len(n)), which includes the last index
len(n) - 1. When i is the last index, n[i + 1] will cause an IndexError because there is no element after the last element 
in the list.

You should iterate only up to the second-to-last element using range(len(n) - 1).'''

IndexError: list index out of range

# is_sorted [corrected]

In [35]:
def is_sorted(n):
    for i in range(len(n)-1):
        if n[i] > n[i+1]:
            return False
    return True
is_sorted([3,4,5,7,9,1,3])

False

# sort the given list of no.

In [34]:
def sorting(num):
    for i in range(len(num)-1):
        for j in range(i+1,len(num)):
            if num[i] > num[j]:
                num[i],num[j]  =num[j],num[i]
    return num
sorting([3,5,2,1,6,8,9,5,6])

[1, 2, 3, 5, 5, 6, 6, 8, 9]

# 6) Duplicate

In [1]:
def duplicate(nums):
    seen = set()
    duplicates = set()
    
    for num in nums:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    
    return list(duplicates)

result = duplicate([2, 3, 2, 4, 5, 5, 3, 6, 7, 6, 8, 9])
print(result)

[2, 3, 5, 6]

# 8) Prime check

In [1]:
def is_prime(n):
    if n<=1:
        return 'not applicable'
    for i in range(2,int(n**0.5)+1):
        if n % i == 0:
            return False
    else:
        return True
is_prime(2)
#for i in range(2,int(n**0.5)+1):

True

In [5]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True     # else block is't mandatory so,here it is not used.if the num is not fall into the prvs 2 cndtn it rtrn true

prime_numbers = []

for num in range(1, 31):
    if is_prime(num):    # if is_prime  = (check the condition , if yes)
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
A prime number is a number that has no positive divisors (The number which divides a given number is the divisor) other than
1 and itself. For example, 5 is prime because it can only be divided evenly by 1 and 5.

Efficient Prime Checking
To check if a number num is prime, you need to see if there are any divisors of num other than 1 and num itself.

Key Insight: Divisor Pairs
For any given number, divisors come in pairs. For example, consider the number 36:

2 * 18 = 36
3 * 12 = 36
4 * 9 = 36
6 * 6 = 36
Notice that:

Divisors smaller than the square root of 36 , pair with divisors larger than the square root of 36.
Once you reach the square root, you don't need to check further. If num has a divisor greater than its square root,
it must also have a corresponding divisor smaller than its square root.
Practical Example
Suppose num = 36, and you want to check if it has any divisors other than 1 and itself:

Square Root Calculation:

sqrt(36) = 6
Check numbers from 2 to 6 (inclusive).
Divisor Check:

Check if 36 is divisible by 2, 3, 4, 5, and 6.
If 36 is divisible by any of these, it is not prime.
If none of these numbers divide 36, it is prime (although in this case, it isn't).

# 4) Anagram

In [10]:
def anagram(str1,str2):
    if len(str1) != len(str2):
        return ('not anagram')
    elif sorted (str1.lower()) == sorted(str2.lower()):
        return ('anagram')
    else:
        return('try again')
anagram ('listen','lsieny')

'try again'

# 7) Factorial

In [15]:
def factorial(n):
    if type(n) != int or n<0 :  # int Integers are whole numbers that can be positive, negative, or zero.
        return ('try again')     # ensure the input to factorial is an integer so, no inverted comma in = inf
    elif n==0 or n==1 :         # in largest factorial'-inf'  compares so inverted . 
        return n
    else:
        fact = n * factorial (n-1)
    return (fact)
factorial(8.9)
factorial(4)
factorial(-9)

'try ageain'

In [15]:
def factorial(n):
    if n==1:
        return n
    else:
        fact = n *  factorial(n-1)
    return (fact)
factorial (6)

720

# 6) Rverse the order of words in a given sentence.

In [16]:
def reverse_sentence(sentence):
    words = sentence.split()   # kar upr base kore split hbe , seta split('') r por hbe,
    reversed_words = words[::-1]
    reversed_sentence =' '.join(reversed_words) # kar upr base kore join hbe , seta ('').join r age hbe
    return reversed_sentence
reverse_sentence('soumik is an excellent Python Developer')

'Developer Python excellent an is soumik'

# 7) Remove vowel

In [10]:
def remove_vowel(string):
    vowels = {'a', 'e', 'i', 'o', 'u'} #The characters in the set ('a', 'e', 'i', 'o', 'u') are lowercase,set handle both uppercase and lowercase vowels uniformly.
    result = ''                         # set allows for case-insensitive  
    for char in string:                 # set() this notation is used when convert a iterable to a set.
        if char not in vowels:
            result += char
    return result

# Example usage
print(remove_vowel('ahsjeiyt'))

hsjyt

# Find vowels from str and count max no. of vowels

In [7]:
def avl_vowel(str):
    vowel = {'a','e','i','o','u'}
    str_vowel = ''
    for i in str:
        if i.lower() in vowel:
            str_vowel += i       
    return str_vowel
all_vowels = avl_vowel('soumik dAs')
print(all_vowels)
print(len(all_vowels))

ouiA
4

In [7]:
def can_form_word(word, s):
    s_list = list(s)
    for char in word:
        if char in s_list:
            s_list.remove(char)
        else:
            return False
    return True

def find_vowels_in_words(s, dictionary):
    vowels = "aeiou"
    valid_words = []
    vowels_in_words = {}

    for word in dictionary:
        if can_form_word(word, s):
            valid_words.append(word)
            word_vowels = [char for char in word if char in vowels]
            vowels_in_words[word] = word_vowels
    
    return vowels_in_words

s = "datacamp"
dictionary = ["data", "camp", "cam", "lack"]

vowels_in_valid_words = find_vowels_in_words(s, dictionary)
print(vowels_in_valid_words)

#  word_vowels = [char for char in word if char in vowels]
# word_vowels = []
# for char in word:
#     if char in vowels:
#         word_vowels.append(char)

{'data': ['a', 'a'], 'camp': ['a'], 'cam': ['a']}

# 11) Common list

In [2]:
def common_list(list1,list2):
    common = []
    for i in list1:
        if i in list2:
            common.append(i)
    return (common)
list1 = [1,3,4,5,7]
list2 = [3,1,2,6,5,7]
common_list(list1,list2)

[1, 3, 5, 7]

In [7]:
def common(num1,num2):
    s1 = set(num1)
    s2 = set(num2)
    l = s1 & s2
    print(l)
common('rina','naina')

{'a', 'n', 'i'}

# 12) Anagram

In [7]:
def anagram(str1,str2):
    if len(str1) != len(str2) :
        return ('not anagram')
    else:
        sorted(str1.lower()) == sorted(str2.lower())
        return ('anagram')
    
str1 = 'listEn'    
str2 = 'siLten'
anagram (str1,str2)

'anagram'

# 14) Fibonacci sequence

In [3]:
def fibo_series(n):
    series =[0,1]
    for i in range (2,n):
        next_term = series[-1] + series [-2]
        series.append(next_term)
    return series
fibo_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# 17) Find the intersection of two lists

In [6]:
def common (nums1,nums2):
    common_list = []
    for i in (nums1):
        if i in nums2 :
            common_list.append(i)
    return common_list

list1 = [2,3,4,5,6,0,7]
list2 = [9,7,8,5,4,3,3]
common (list1, list2)

[3, 4, 5, 7]

# Find the median of a list of numbers

In [37]:
def median(num):
    sorted_num = sorted(num)
    print(sorted_num)
    n = len(sorted_num)    
    if n % 2 == 1:
        median = sorted_num[n//2]
    else:
        n % 2 == 0
        med1 = sorted_num[n//2]
        med2 = sorted_num[n // 2 -1]
        median = (med1 + med2)/2
    return median
median([1,2,3,6,9,5,7,4,8,6])

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]
6

5.5

# First non-repeating character in a string.

In [129]:
 
def non_repeat(str1):
    for i in range(len(str1)):
        if str1[i] not in str1[i+1:]:
            return str1[i]
non_repeat('anaconda')

'c'

# All non-repeating character in a string.

In [14]:
def first_non_repeat(str):
    l = ''
    for i in range(len(str)):
        if str[i] not in str[i+1:len(str)]:
            return str[i]
        
first_non_repeat('soumikdas')

'o'

In [138]:
def non_repeat(str1):
    non_repeating_chars = []
    for i in range(len(str1)):
        if str1[i] not in str1[:i] and str1[i] not in str1[i+1:]:
            non_repeating_chars.append(str1[i])
    return non_repeating_chars
non_repeat('anaconda')

['c', 'o', 'd']

In [10]:
def div(x, y):
    try:
        result = x / y
#     except ZeroDivisionError:
#         print('Cannot divide by zero')
    except Exception as e:
        print(f'An error occurred: {e}')
    else:
        print(f'The result is: {result}')
    finally:
        print('Execution completed')

div(16, 0)
div(16, 4)

An error occurred: division by zero
Execution completed
The result is: 4.0
Execution completed

# Frozen set

In [2]:
fs = frozenset([1,2,3,4])
print('my frozen set',fs)
try:
    fs.add(3)
    fs
except AttributeError as e:
    print('error: you cant add',e)

my frozen set frozenset({1, 2, 3, 4})
error: you cant add 'frozenset' object has no attribute 'add'

# Super().

In [2]:
# super()

class A:
    def __init__(self):
        print('A init')
        super().__init__()
        
class B:
    def __init__(self):
        print('B init')
        super().__init__()
        
class C(B,A):
    def __init__(self):
        print('C init')
        super().__init__()
c = C() # here we are not calling __init__ method explicitely . ca as we create the instance of the class automatically __init__ was called 
#c.__init__()
'''Here Q may rise why super() is used in class A? cz above A there is no class, it is imp cz as I inherit class C(B,A) 
so the B class is parent of A '''

C init
B init
A init

# Global & Local :

In [3]:
#global
x = 10
def func():
    global x
    x = 20
    print(x)
func()
print(x)

20
20

In [7]:
# local
def func():
    y = 10
    print(y)
func()
print(y)

10

NameError: name 'y' is not defined

In [26]:

x= range(6)
for i in x:
    print(i)

0
1
2
3
4
5

In [117]:
class A:
    pass
    @staticmethod
    def add(x,y):
        return x+y

    @staticmethod
    def sub(x,y):
        return x-y

A.add(2,3)
A.sub(8,2)

6

# Split() by index

In [1]:
s = "datacamp"
part1, part2 = s[:4], s[4:]
print(part1, part2)

data camp

In [13]:
a = 'soumikdasutpalkumardas'
myname,sur,father,surname,title = a[:6],a[6:9],a[9:14],a[14:19],a[19:]
print(myname,sur,father,surname,title)

soumik das utpal kumar das

# To check if a given list is sorted in non-decreasing order.

In [55]:
def is_sorted(num):
    for i in range(len(num)-1):
        if num[i] > num[i+1]:
            return False
        else:
            True
is_sorted([2,3,4,3,2,3,4,5,6])

False

# To know the size/ storage

In [9]:
import sys
l =[]
print(sys.getsizeof(l))

56

In [8]:

t=()
print(sys.getsizeof(t))

40

# *args (positional) ,**kwargs

In [17]:
def func(*args,**kwargs):

        print(args)
        print(kwargs)
func(1,2,3,a = 4,b=5)

(1, 2, 3)
{'a': 4, 'b': 5}

In [24]:
from functools import reduce
r = [1,2,3,4,5]
a = reduce(lambda x,y: x+y ,r)
print(a)

15

In [28]:
f = [1,2,3,4,5]
a = list(map(lambda x: x*2 ,f))
a

[2, 4, 6, 8, 10]

# Scenario-9: Calculate the total revenue generated from purchases made by users in a specific city.

In [ ]:
total_revenue = purchases.objects.filter(city = 'New York').aggregate(total_revenue = models.Sum('amount'))['total_revenue']

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    city = models.CharField(max_length=100)
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    timestamp = models.DateTimeField(auto_now_add=True)
# SQL     
SELECT SUM(amount) AS total_revenue FROM Purchase;

In [ ]:
total_revenue = Purchase.objects.filter(user__profile__city=city).aggregate(total_revenue=models.Sum('amount'))['total_revenue']


'''['total_revenue']: Extracts the value associated with the total_revenue key from the dictionary returned by the aggregate 
method.
  user__profile__city=city: Uses double underscores (__) to follow relationships across models. This condition means that 
the query will only include purchases where the associated user's profile's city is "New York"'''

class Profile(models.Model):
    user = models.OneToOneField(User, on_delete=models.CASCADE)
    city = models.CharField(max_length=100)

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    timestamp = models.DateTimeField(auto_now_add=True)

In [ ]:
users = purchase.objects.filter(is_active = True,users__date__gt = timezone.now() - timezone.timedelta(days = 30)).distinct()

# Scenario-8: Retrieve all active users who have made a purchase in the last month.

In [ ]:
users = Users.objects.filter(is_active = True,purchase__date__gte = timezone.now() - timezone.timedelta(days = 30)).distinct()

In [ ]:
from django.utils import timezone
from datetime import timedelta
from django.contrib.auth.models import User

one_month_ago = timezone.now() - timezone.timedelta(days=30)

active_users = User.objects.filter(is_active=True, purchase__date__gte=one_month_ago).distinct()

In [ ]:
# Dj- models

from django.db import models
from django.contrib.auth.models import User
from django.utils import timezone

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    date = models.DateTimeField()
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    
    
# SQL 
SELECT DISTINCT auth_user.*
FROM auth_user
INNER JOIN purchase ON auth_user.id = purchase.user_id
WHERE auth_user.is_active = TRUE
  AND purchase.date >= NOW() - INTERVAL '30 days';

INNER JOIN purchase ON auth_user.id = purchase.user_id: Joins the auth_user table with the purchase table on the condition that
the id column in auth_user matches the user_id column in purchase. This ensures we only consider users who have made a purchase.

# Retrieve all users who have not made any purchases yet.

In [ ]:
user_not_purchased = Users.objects.filter(purchase__isnull = True)

'''purchase__isnull=True: This checks for users who do not have any related Purchase records. It will correctly return all users
who have not made any purchases.
When I mentioned "no related Purchase objects," I meant that there are no entries in the Purchase table associated with the 
particular User object. This relationship is established through a foreign key field in the Purchase model that references the 
User model.'''

from django.db import models
from django.contrib.auth.models import User

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    date = models.DateTimeField()
    amount = models.DecimalField(max_digits=10, decimal_places=2)

    # SQL
    
    SELECT auth_user.*
FROM auth_user
LEFT JOIN purchase ON auth_user.id = purchase.user_id
WHERE purchase.user_id IS NULL;

# Scenario-6: Retrieve all products sorted by their price in descending order.

In [ ]:
products = products.objects.filter(ordered_by = '-price')

In [ ]:
products_desc = Product.objects.order_by('-price')

    
    from django.db import models

class Product(models.Model):
    name = models.CharField(max_length=100)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    
    # SQL
    SELECT * FROM myapp_product ORDER BY price DESC;

# Scenario-5: Calculate the total revenue generated from all purchases.

In [ ]:
total_rev = purchase.objects.aggregate(total_rev = models.Sum('amount'))['total_rev']

In [1]:

total_revenue = Purchase.objects.aggregate(total_revenue=models.Sum('amount'))['total_revenue']

# SQL
SELECT SUM(amount) AS total_revenue FROM myapp_purchase;

SyntaxError: invalid syntax (3552856846.py, line 4)

aggregate() is a terminal clause for a QuerySet that, ***when invoked, returns a dictionary of name-value pairs**. The name is an identifier for the aggregate value; the value is the computed aggregate. The name is automatically generated from the name of the field and the aggregate function. If you want to manually specify a name for the aggregate value, you can do so by providing that name when you specify the aggregate clause:

# Scenario-4: Retrieve all users with a specific role (e.g., "admin").

In [ ]:
all_user = Users.objects.filter(role = 'admin')

# Scenario-3: Retrieve the details of the latest purchase made by a specific user.

In [ ]:

latest_purchase = purchase.objects.filter(user_name = 'ram').latest('date')

or
User_id = 1
latest_purchase = Purchase.objects.filter(user_id = User_id ) .latest('timestamp')

In [ ]:
# find emp_name who draws maximum salary ( 1st wright the inner Q, then outer Q)
 select emp_name from emp 
    where salary = select max(salary) from emp;

In [ ]:
# 2nd highest salary
 select max(salary) from emp where salary <>  select max(salary) from emp;
    
# emp_name who draws 2nd highest salary  (sub query)
select emp_name from emp where salary =
(select max(salary) from emp where salary <> select max(salary) from emp);

# useing limit

**select salary from emp order_by salary Desc limit (n-1),1;**  n= 1

diff btwn "= & in "
= when compare with one value
in compare with multiple value
 2 = 2 True
 2 = [1,2,3,4,5]  (it means if 2 is in the list or not)

In [ ]:
-- Create Employees table
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department_id INT
);

-- Create Departments table with Foreign Key
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50),
    manager_id INT,
    CONSTRAINT fk_department_employee FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
);

-- Insert sample data into Employees table
INSERT INTO employees (employee_id, first_name, last_name, department_id) VALUES
(1, 'John', 'Doe', 101),
(2, 'Jane', 'Smith', 102),
(3, 'Alice', 'Johnson', 101),
(4, 'Bob', 'Williams', 103),
(5, 'Emily', 'Brown', 102);

-- Insert sample data into Departments table
INSERT INTO departments (department_id, department_name, manager_id) VALUES
(101, 'Engineering', 1),
(102, 'Marketing', 5),
(103, 'Finance', 4);

-- Perform INNER JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.department_id;

-- Perform LEFT JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id;

-- Perform RIGHT JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.department_id;

-- Perform FULL OUTER JOIN (supported by some databases)
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
FULL OUTER JOIN departments ON employees.department_id = departments.department_id;

In [ ]:
-- DISTINCT
SELECT DISTINCT department_id FROM employees;

-- LIKE Operator
SELECT * FROM employees WHERE first_name LIKE 'J%';

-- BETWEEN Operator
SELECT * FROM employees WHERE salary BETWEEN 50000 AND 80000;

-- IN Operator
SELECT * FROM employees WHERE department_id IN (1, 2, 3);

-- NOT Operator
SELECT * FROM employees WHERE department_id NOT IN (4, 5);

-- COUNT Function
SELECT COUNT(*) FROM employees;

-- MAX and MIN Functions
SELECT MAX(salary) AS max_salary, MIN(salary) AS min_salary FROM employees;

-- AVG Function
SELECT AVG(salary) AS avg_salary FROM employees;

-- SUM Function
SELECT SUM(salary) AS total_salary FROM employees;

-- GROUP BY with HAVING
SELECT department_id, COUNT(*) as employee_count
FROM employees
GROUP BY department_id
HAVING COUNT(*) > 10;

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 22, 35, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 65000, 85000, 78000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Implement a function to reverse the order of words in a given sentence

In [3]:
def reverse_sen(sentense):
    words = sentense.split()
    reverse = words[::-1]
    merge = (' ').join(reverse)
    return(merge)
reverse_sen('I am a good boy')

'boy good a am I'

# Write a program to remove all vowels from a given string.

In [14]:
def remove_vowel(str):
    vowel = {'a','e','i','o','u'}
    no_vowel = ''
    for i in str:
        if i not in vowel:
            no_vowel += i
    return (no_vowel)
remove_vowel('anaConDa')

'nCnD'

The enumerate() function adds a counter as the key of the enumerate object.
enumerate(iterable, start)

# Write a Python program to find the intersection of two lists.

In [15]:
def intersection(list1,list2):
    common = []
    for i in list1:
        if i in list2:
            common.append(i)
    return common
intersection([1,2,3,4],[3,4,5,6])

[3, 4]

# Implement a function to check if a given list is sorted in non-decreasing order.

In [28]:
def is_sorted(nums):
    n = len(nums)
    for i in range(n-1):  #We subtract 1 from len(num) to get the index of the second-to-last element in the list.
                           #This is necessary because we will be comparing each element with the next one, and the last element does not have a next element to compare to.
        if nums[i] > nums[i+1]:
            return False
    return True
is_sorted([2,3,5,6,4,5,6,7])

False

In [31]:
def is_sorted(nums):
    for  i in range(len(nums)-1):
        if nums[i] > nums[i+1]:
            return False
    
    return True
is_sorted([2,3,5,6,4,5,6,7])

False

# Write a program to find the median of a list of numbers.

In [51]:
def median(nums):
    num = sorted(nums)
    n = len(num)
    
    if n % 2 ==1:
        num[n // 2]
    else:
        if n % 2 == 0:
            med1 = num[n//2]
            med2 = num[n-1//2]
            avg = (med1 + med2)/2
            
    
    
median([2,3,5,6,5,7,9])

In [ ]:
def sorted(num):
    sort = sorted(num)
    for i in range(len(num)-1):
        if i<i+1:

In [ ]:
Implement a function to check if a given list is sorted in non-decreasing order.

In [46]:
def is_sorted (num):
    for i in range(len(num)-1):
        if num[i] < num[i+1]:
            return True
        return False
is_sorted([7,3,5,7,8,9])

False

In [43]:
def is_sorted(nums):
    n = len(nums)
    for i in range(n-1):
        if nums[i] > nums[i+1]:
            return False
    return True
is_sorted([34,23,12,10])

False

In [54]:
def median(num):
    sort = sorted(num)
    print(sort)
    n = len(sort)
    if n % 2 == 1:
        median = sort[n//2]
    else:
        n % 2 == 0
        med1 = sort[n//2]
        med2 = sort[n//2 -1]
        median = (med1 + med2)/2
    return median
median([2,4,6,5,7,8])

[2, 4, 5, 6, 7, 8]

5.5

In [56]:
def fibonacci(n):
    series = [0,1]
    
    for i in range(2,n):
        next_term = series[-1] + series[-2]
        series.append(next_term)
    return series
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [59]:
def is_anagram(str1,str2):
    if len(str1) != len(str2):
        print('not anagram')
    elif sorted(str1) != sorted(str2):
        print('check spelling')
    else:
        print('anagram')
is_anagram('listen', 'tensik')

check spelling

In [ ]:
Write a Python program to sort a list of integers in ascending order.
def sorting(nums):
    n=len(nums)
    for i in range(n-1):
        for j in range(i+1,n):
            if nums[j]<nums[i]:
                nums[j],nums[i]=nums[i],nums[j]
    return nums

In [65]:
def sortlist(num):
    #sort = sorted(num)
    n = len(num)
    for i in range(n-1):
        for j in range(i+1,n):
            if num[j] < num[i]:
                
                num[i],num[j] = num[j],num[i]
    return num 
        
sortlist([2,3,6,7,8,5,6,7,5,4,1])

[1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8]

In [77]:
from abc import ABC, abstractmethod
class Animal:
    @abstractmethod
    def sound(self):
        pass
class Dog(Animal):
    def sound(self):
        print('dog barks')
class Cat(Animal):
    def sound(self):
        print('cat barks')        
        
dog = Dog()
cat = Cat()
dog.sound()
cat.sound()

dog barks
cat barks

In [93]:
class Animal:
    def sound(self):
        print('animal sounds')
        
class Dog(Animal):
    def sound(self):
        
        print('dog barks')
        super().sound()
class Cat(Dog):
    def sound(self):
        
        print('cat meows')
        super().sound()
class Cow(Cat):
    def sound(self):
        
        print('cow humba')
        super().sound()
cow = Cow()
cow.sound()

cow humba
cat meows
dog barks
animal sounds

In [106]:
class A:
    def __init__(self):
        super().__init__()
        print(' A init')
        
class B:
    def __init__(self):
        print(' B init')
        super().__init__()
class C(A,B):
    def __init__(self):
        
        print(' C init') 
        super().__init__()
c = C()

 C init
 B init
 A init

In [112]:
def add(x,y):
    def wrapper(func):
        return add()
    return wrapper
@add
def subtract(x,y):
    return (x-y)
@add
def multi(x,y):
    return(x*y)

TypeError: add() missing 1 required positional argument: 'y'

In [25]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Amazon Gold Box Deals page
url = "https://www.amazon.com/gp/goldbox?ref_=nav_cs_gb&deals-widget=%257B%2522version%2522%253A1%252C%2522viewIndex%2522%253A0%252C%2522presetId%2522%253A%2522F954F5F1FE84B4B875042F730CEE0354%2522%252C%2522departments%2522%253A%255B%2522172282%2522%255D%252C%2522sorting%2522%253A%2522FEATURED%2522%257D"
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find all deal items
deal_items = soup.find_all("div", class_="a-section a-spacing-medium")

# Create lists to store item details
titles = []
prices = []
discounts = []

# Loop through the deal items and extract title, price, and discount
for item in deal_items:
    title = item.find("span", class_="a-text-bold").get_text().strip()
    price = item.find("span", class_="a-offscreen").get_text().strip()
    discount_tag = item.find("span", class_="a-badge-supplementary-text")
    discount = discount_tag.get_text().strip() if discount_tag else "0%"
    
    # Convert discount percentage to numeric value
    discount_value = int(discount.strip('%').replace('+', '').replace('-', ''))

    # Check if discount is 20% or more
    if discount_value >= 20:
        titles.append(title)
        prices.append(price)
        discounts.append(discount)

# Create a DataFrame from the extracted data
data = {
    'Title': titles,
    'Price': prices,
    'Discount': discounts
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [Title, Price, Discount]
Index: []