**IMPORTANT:** Make sure the kernel is set to Python 3

---

# MATH 210 Introduction to Mathematical Computing

## January 22, 2016

Today's Agenda:

1. Built-in Functions
    * For numbers: `abs` and `round`
    * For lists and strings: `len`, `max`, `min`, `sorted`
    * For lists of numbers: `sum`
2. List Comprehensions
3. List Methods
4. Example: Sorting Algorithm
5. Exercises

Check out the Python 3 tutorial about [built-in functions](https://docs.python.org/3/library/functions.html), [list comprehensions](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions) and [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

## 1. Built-in Functions

Python has several built-in functions available for us to use with numbers, lists and strings. See the [documentation](https://docs.python.org/3/library/functions.html) for more info.

### For Numbers

For numbers (that is `int` and `float`), `abs(x)` returns the absolute value of $x$. Note that `abs(x)` is an `int` if $x$ is an `int`, and `abs(x)` is a float if $x$ is a `float`. There is also `round(x)` which returns the nearest integer (as an `int`).

In [1]:
abs(-1)

1

In [2]:
abs(-1.0)

1.0

In [3]:
abs(-3.14159)

3.14159

In [4]:
round(2.2)

2

In [5]:
round(9.9)

10

In [6]:
round(-3.3)

-3

### For Lists and Strings

For datatypes `list` and `string`, we have:

* `len(x)` returns the length of $x$
* `min(x)` returns the minimum value of $x$ (where strings are ordered alphabetically, and uppercase before lowercase)
* `max(x)` returns the maximum value
* `sorted(x)` returns the sorted list or the sorted list of characters

In [7]:
L =[9,3,4,8,5,6,7,4]

In [8]:
len(L)

8

In [9]:
min(L)

3

In [10]:
max(L)

9

In [11]:
sorted(L)

[3, 4, 4, 5, 6, 7, 8, 9]

In [12]:
my_name = 'Patrick'

In [13]:
len(my_name)

7

In [14]:
min(my_name)

'P'

In [15]:
max(my_name)

't'

In [16]:
sorted(my_name)

['P', 'a', 'c', 'i', 'k', 'r', 't']

### For Lists of Numbers

The `sum` function returns the sum of a list of numbers:

In [17]:
sum([1,2,3,4,5,6,7,8,9,10])

55

In [18]:
sum([1,4,9,16,25,36,49,64,81,100])

385

## 2. List Comprehensions

We can create a list of squares $n^2$ for $1 \leq n \leq 10$ using a for loop and the append method:

In [19]:
squares_list = []
for n in range(1,11):
    squares_list.append( n ** 2 )
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Python has a built-in syntax called a **list comprehension** which does the same thing in one beautifully succinct line:

In [20]:
squares = [ i ** 2 for i in range(1,11) ]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We can use `if` statements in our list comprehensions. For example, let's construct the list of cubes $n^3$ for $1 \leq n \leq 50$ where $n$ is a multiple of either 8 or 9.

In [21]:
[ n**3 for n in range(1,50) if (n % 9 == 0 or n % 8 == 0) ]

[512, 729, 4096, 5832, 13824, 19683, 32768, 46656, 64000, 91125, 110592]

**Example.** Use a list comprehension to create:

* a list of of length 20 where the entries alternate [1, -1, 1, -1, ... ]
* a list of cubes $n^3$ for n from 10 to 20
* a list of values $1/n$ for odd integers $n$ with $1 \leq n \leq 21$

In [22]:
[ (-1) ** n for n in range(0,20)]

[1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, -1]

In [23]:
[ n**3 for n in range(10,21) ]

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [24]:
[ 1/n for n in range(1,22,2) ]

[1.0,
 0.3333333333333333,
 0.2,
 0.14285714285714285,
 0.1111111111111111,
 0.09090909090909091,
 0.07692307692307693,
 0.06666666666666667,
 0.058823529411764705,
 0.05263157894736842,
 0.047619047619047616]

**Example.** Construct the list of primes from $1$ to $100$ using a list comprehension (and a function `is_prime` which tests if a number is prime).

In [25]:
def is_prime(n):
    "Determine if the positive integer n is a prime."
    if n <= 1:
        return False
    # Check all divisors d <= n**0.5
    for d in range(2,round( n** 0.5 ) + 1):
        if n % d == 0:
            return False
    return True

In [26]:
primes_up_to_100 = [ n for n in range(2,101) if is_prime(n) ]
print(primes_up_to_100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## 3. List Methods

In Python, an **object** is a collection of **attributes** and **methods**. Think of attributes as values associated with the object and methods as functions which can be applied to the object.

A Python list is an object and is equipped with methods. We've already seen the `append` method. Here's a few more list methods: `append`, `remove`, `count`, `index` and `sort`.

* `my_list.append(x)` appends element `x` to the end of `my_list`
* `my_list.remove(x)` removes the first occurence of the element `x` from `my_list`
* `my_list.count(x)` returns the number of occurences of the element `x` in `my_list`
* `my_list.index(x)` returns the index in `my_list` of the first occurence of the element `x`
* `my_list.sort()` sorts the items in the list

In [27]:
course_list = ['Math 210', 'Math 152', 'Math 255', 'Math 221']

In [28]:
course_list.append('Math 307')
print(course_list)

['Math 210', 'Math 152', 'Math 255', 'Math 221', 'Math 307']

In [29]:
course_list.remove('Math 152')
print(course_list)

['Math 210', 'Math 255', 'Math 221', 'Math 307']

In [30]:
course_list.append('Math 210')
print(course_list)

['Math 210', 'Math 255', 'Math 221', 'Math 307', 'Math 210']

In [31]:
course_list.count('Math 210')

2

In [32]:
course_list.remove('Math 210')
print(course_list)

['Math 255', 'Math 221', 'Math 307', 'Math 210']

In [33]:
course_list.count('Math 210')

1

In [34]:
numbers_list = [4,-1,3,-3,0,3,2]

In [35]:
numbers_list.index(3)

2

In [36]:
numbers_list.sort()
print(numbers_list)

[-3, -1, 0, 2, 3, 3, 4]

In [37]:
numbers_list.index(3)

4

## 4. Example: Sorting Algorithms

The [selection sort](https://en.wikipedia.org/wiki/Selection_sort) algorithm is one of the simplest (but least efficient) sorting algorithms. It works like this:

1. Let L be a list of numbers
2. Find the minimum in the list and call it x
3. Swap the first element in the list with x (if x is strictly smaller)
4. Repeat the steps above for the remaining list (after x)

For example, let L = [3,4,1,0,-1,4,2]. Then:

* Step 1: [-1,4,1,0,3,4,2] - Swapped -1 and 3
* Step 2: [-1,0,1,4,3,4,2] - Swapped 0 and 4
* Step 3: [-1,0,1,4,3,4,2] - Left 1 in place
* Step 4: [-1,0,1,2,3,4,4] - Swapped 2 and 4
* Step 5: [-1,0,1,2,3,4,4] - Left 3 in place
* Step 6: [-1,0,1,2,3,4,4] - Left 4 in place

Write a function called `selection_sort` which takes a list of integers and returns the sorted list using the selection sort algorithm.

In [38]:
def selection_sort(L):
    # Loop over the indices of the list
    for i in range(0,len(L)):
        # Find the minimum value in the sublist L[i:] which starts at index i
        minimum = min(L[i:])
        # Skip to the next index i if the minimum of the sublist L[i:] already occurs at index i
        if L[i] != minimum:
            # In order to swap the minimum value in L[i:] with the number L[i] at index i
            # we find the index in the sublist L[i:] at which the minimum occurs and
            # we add i because L[i:].index(minimum) returns the index in the sublist L[i:]
            min_index = L[i:].index(minimum) + i
            # Swap the value at index i with the minimum value
            L[min_index] = L[i]
            L[i] = minimum
    return L

In [39]:
selection_sort([9,8,2,-3,5,-6,0,2,7,3,9])

[-6, -3, 0, 2, 2, 3, 5, 7, 8, 9, 9]

## 5. Exercises

**Exercise.** Find the sum of all the integers $n \leq 100$ which are multiples of either 3 or 8.

**Exercise.** Compute the partial sum of $$\sum_{n=1}^{\infty} \frac{1}{n^2}$$ up to $n = 10000$. (See [Basel's Problem](https://en.wikipedia.org/wiki/Basel_problem).) Euler proved in 1734 that $$\sum_{n=1}^{\infty} \frac{1}{n^2} = \frac{\pi^2}{6}$$

**Exercise.** The Riemann zeta function $$\zeta(s) = \sum_{n=0} \frac{1}{n^s}$$ is a mysterious and beautiful function in number theory. The special values $\zeta(k)$ for $k$ odd are extremely hard (impossible?) to compute exactly. (See [Riemann zeta function](https://en.wikipedia.org/wiki/Riemann_zeta_function).)

Approximate the value $\zeta(3)$ by computing the partial sum $$\sum_{n=1}^{1000} \frac{1}{n^3}$$(This number is called [Apery's constant](https://en.wikipedia.org/wiki/Ap%C3%A9ry%27s_constant) and is known to be irrational however it is still unknown if it is transcendental.)

**Exercise.** The [bubble sort](https://en.wikipedia.org/wiki/Bubble_sort) algorithm is a simple sorting algorithm which works as follows:

* Let $L$ be a list of numbers
* Starting at the beginning of the list, compare each pair of adjacent numbers and swap them if the next number is smaller than the previous
* After the last pair is compared (and swapped if needed) return to the beginning of the list and repeat
* When a pass through the list results in no swaps, the list is sorted

For example, let L = [4,-2,3,0].

* Pass 1
    1. The list is [4,-2,3,0] and we compare 4 and -2. Since -2 is smaller, we swap [-2,4,3,0]
    2. The list is [-2,4,3,0] and we compare 4 and 3. Since 3 is smaller, we swap [-2,3,4,0]
    3. The list is [-2,3,4,0] and we compare 4 and 0. Since 0 is smaller, we swap [-2,3,0,4]
    4. We reached the end of the list and start again
* Pass 2
    1. The list is [-2,3,0,4] and we compare -2 and 3. Since 3 is larger, we leave them in place
    2. The list is [-2,3,0,4] and we compare 3 and 0. Since 0 is smaller, we swap [-2,0,3,4]
    3. The list is [-2,0,3,4] and we compare 3 and 4. Since 4 is larger, we leave them in place
    4. We reached the end of the list and start again
* Pass 3
    1. The list is [-2,0,3,4] and we compare -2 and 0. Since 0 is larger, we leave them in place
    2. The list is [-2,0,3,4] and we compare 0 and 3. Since 3 is larger, we leave them in place
    3. The list is [-2,0,3,4] and we compare 3 and 4. Since 4 is larger, we leave them in place
    4. No swaps were made in that pass therefore we end the algorithm

Write a function called `bubble_sort` which takes an list of numbers and returns the sorted list using the bubble sort algorithm.

**Exercise.** We can use nested list comprehensions to make lists of lists. For example, we can make a list of the divisors of $n$ for each $n \leq 20$.

In [40]:
[ [ d for d in range(1,n + 1) if n % d == 0 ] for n in range(1,21) ]

[[1],
 [1, 2],
 [1, 3],
 [1, 2, 4],
 [1, 5],
 [1, 2, 3, 6],
 [1, 7],
 [1, 2, 4, 8],
 [1, 3, 9],
 [1, 2, 5, 10],
 [1, 11],
 [1, 2, 3, 4, 6, 12],
 [1, 13],
 [1, 2, 7, 14],
 [1, 3, 5, 15],
 [1, 2, 4, 8, 16],
 [1, 17],
 [1, 2, 3, 6, 9, 18],
 [1, 19],
 [1, 2, 4, 5, 10, 20]]

Use the nested list comprehension above along with the built-in function `len` and the list method `count` to count the number of positive integers less than 500 that have exactly 6 divisors. **This should be a single line of Python code.** (Answer: 59)