### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load, encoding="utf-8")
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [77]:
#total Player
purchase_data["Gender"].count()
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [78]:
#Create a DataFrame
Players = pd.DataFrame({
    "Players_Totals": [780]})
Players.head()

   Players_Totals
0             780

## Purchasing Analysis (Total)

In [79]:
#Total revenue
Total_rev = purchase_data['Price'].sum()
Total_rev

2379.77

In [80]:
#Average price
price_av = purchase_data['Price'].mean()
price_av

3.050987179487176

In [81]:
#Unique Elements
element_unique = len(purchase_data['Item Name'].unique())
element_unique

179

In [82]:
#Number of Purchase
purchase = purchase_data['Purchase ID'].count()
purchase

780

In [83]:
#Create a DataFrame _Purchasing Analysis (Total)
Purchasing_Total = pd.DataFrame({
    "Number of Unique items": [179],
    "Average Price": ["3.05"],
    "Number of Purchases": ["780"],
    "Total Revenue" :["2379.77"]
    })
Purchasing_Total.head()

   Number of Unique items Average Price Number of Purchases Total Revenue
0                     179          3.05                 780       2379.77

In [84]:
#Count per each value of the column
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [85]:
Players = pd.DataFrame({
    "": ["Male","Female","Other_Non_Disclosed"],
    "Total count": [652,113,15],
        })
Players.head()

                        Total count
0                 Male          652
1               Female          113
2  Other_Non_Disclosed           15

In [86]:
#Percentage calculation
Percentage_Players = Players["Total count"]*100/(780)
Players["Percentage_Players"] = Percentage_Players
Players.head()

                        Total count  Percentage_Players
0                 Male          652           83.589744
1               Female          113           14.487179
2  Other_Non_Disclosed           15            1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [87]:
gender_smm = purchase_data.set_index("Gender")
gender_smm

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
...,...,...,...,...,...,...
Female,775,Aethedru70,21,60,Wolf,3.54
Male,776,Iral74,21,164,Exiled Doomblade,1.63
Male,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
Male,778,Sisur91,7,101,Final Critic,4.19
Male,779,Ennrian78,24,50,Dawn,4.60

In [88]:
gender_smm = purchase_data.set_index("Gender")
grouped_gender = gender_smm.groupby("Gender")
grouped_gender.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [89]:
## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [90]:
#create bins
Age_bins = [10,15,20,25,30,35,40,45]
Demographics_range = ["kid","youth","junior","young_adult",
              "middle_adult", "older_adult", "senior"]

Demographics_range = pd.cut(purchase_data["Age"], Age_bins, labels=Demographics_range)
Demographics_range.head()

0          youth
1    older_adult
2         junior
3         junior
4         junior
Name: Age, dtype: category
Categories (7, object): [kid < youth < junior < young_adult < middle_adult < older_adult < senior]

In [98]:
grouped_Demographics_range = purchase_data.groupby("Demographics_range")
grouped_Demographics_range.count()

KeyError: 'Demographics_range'

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [93]:
purchase_data_df = purchase_data.set_index("SN")
purchase_data_df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [92]:
High_value = purchase_data_df.sort_values("Item Name"), ascendenting= false
High_value.head()

SyntaxError: can't assign to function call (<ipython-input-92-a470ae52bc61>, line 1)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame