In [1]:
import sys
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

addition

In [12]:
#Addition of 2 numbers
a=2
b=3
c=a+b
print("c value is ",c)

c value is  5

In [10]:
a=5
c=a+b
print("c value is ",c)

c value is  8

In [ ]:
# prompt: am preparing for interview , explain all the important concepts with examples and programs

# **1. Data Structures**

# * Lists: Ordered, mutable sequences of elements.
my_list = [1, 2, "apple", 3.14]
print(my_list[2])  # Output: "apple"
my_list.append("banana")
print(my_list)  # Output: [1, 2, "apple", 3.14, "banana"]

# * Tuples: Ordered, immutable sequences of elements.
my_tuple = (10, 20, "orange")
print(my_tuple[0])  # Output: 10
# my_tuple[1] = 30  # This would cause an error, tuples are immutable

# * Dictionaries: Unordered collections of key-value pairs.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict["name"])  # Output: "Alice"
my_dict["profession"] = "Software Engineer"
print(my_dict)

# * Sets: Unordered collections of unique elements.
my_set = {1, 2, 3, 3, 4}  # Duplicates are automatically removed
print(my_set)  # Output: {1, 2, 3, 4}
my_set.add(5)
print(my_set)  # Output: {1, 2, 3, 4, 5}

# **2. Control Flow**

# * Conditional Statements (if, elif, else):
num = 15
if num > 10:
  print("Number is greater than 10")
elif num == 10:
  print("Number is equal to 10")
else:
  print("Number is less than 10")

# * Loops (for, while):
for i in range(5):
  print(i)  # Output: 0 1 2 3 4

count = 0
while count < 3:
  print("Count:", count)
  count += 1

# **3. Functions**

def greet(name):
  print("Hello,", name + "!")

greet("Bob")  # Output: "Hello, Bob!"

def add(x, y):
  return x + y

result = add(5, 7)
print(result)  # Output: 12

# **4. Object-Oriented Programming (OOP)**

class Dog:
  def __init__(self, name, breed):
    self.name = name
    self.breed = breed

  def bark(self):
    print("Woof!")

my_dog = Dog("Buddy", "Golden Retriever")
print(my_dog.name)  # Output: "Buddy"
my_dog.bark()  # Output: "Woof!"

# **5. Common Algorithms and Concepts**

# * Sorting Algorithms (Bubble Sort, Merge Sort, Quick Sort, etc.)
# * Searching Algorithms (Linear Search, Binary Search)
# * Recursion
# * Big O Notation (Time and Space Complexity)

# **Example: Bubble Sort**

def bubble_sort(arr):
  n = len(arr)
  for i in range(n - 1):
    for j in range(0, n - i - 1):
      if arr[j] > arr[j + 1]:
        arr[j], arr[j + 1] = arr[j + 1], arr[j]

numbers = [5, 3, 8, 6, 7, 2]
bubble_sort(numbers)
print(numbers)  # Output: [2, 3, 5, 6, 7, 8]

# **Remember to practice coding regularly and focus on understanding the underlying concepts.**
# **Good luck with your interview preparation!**

In [11]:
if a>2:
  print("a is greather than 2")

a is greather than 2

In [13]:
5%2

1

In [20]:
#Floor division
5//2

2

In [15]:
8//4

2

In [16]:
9//4

2

In [17]:
13//4

3

In [21]:
#Exponential **

2**2

4

In [23]:
d=3
e=3

if d==e:

print("d and e are equal")

IndentationError: expected an indented block after 'if' statement on line 4 (<ipython-input-23-2b61d2c6b8ac>, line 6)

In [24]:
d=3
e=3

if d==e:
    # Indent the print statement to be part of the if block
    print("d and e are equal")

d and e are equal

In [28]:
is_greater = (10 > 5)
print(is_greater)

True

In [26]:
is_greater

True

AND
A B=C
0 0 = 0

0 1= 0

1 0 =0

1 1 =1

or

0 0 = 0

0 1 =1

1 0=1

1 1 =0

In [39]:
a = input(" enter the value of a: ")
b=float(a)+5
float(b)

 enter the value of a: 4

9.0