In [3]:
import pandas as pd
states = pd.read_csv('datasets/state.csv')
states.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [5]:
import statistics

In [9]:
pop = states['Population']
pop.mean()

6162876.2999999998

In [10]:
pop.median()

4436369.5

In [ ]:
pop.