In [1]:
import sys
sys.path.append('../src')

from numbers_scraper import NumbersScraper
SCRAPER = NumbersScraper()

In [2]:
df = SCRAPER.get_table_data()
df

,0,1,2,3,4
1,12/18/2009,Avatar,"$425,000,000","$760,507,625","$2,783,918,982"
2,12/18/2015,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,058,662,225"
3,5/24/2007,Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
4,11/6/2015,Spectre,"$300,000,000","$200,074,175","$879,620,923"
5,7/20/2012,The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
6,7/2/2013,The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
7,3/9/2012,John Carter,"$275,000,000","$73,058,679","$282,778,100"
8,11/24/2010,Tangled,"$260,000,000","$200,821,936","$586,581,936"
9,5/4/2007,Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
10,5/1/2015,Avengers: Age of Ultron,"$250,000,000","$459,005,868","$1,408,218,722"
11,5/6/2016,Captain America: Civil War,"$250,000,000","$408,084,349","$1,153,304,495"
12,3/25/2016,Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$868,160,194"
13,12/14/2012,The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
14,7/15/2009,Harry Potter and the Half-Blood Prince,"$250,000,000","$301,959,197","$935,083,686"
15,12/13/2013,The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
16,12/17/2014,The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$955,119,788"
17,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"$250,000,000","$241,063,875","$1,045,663,875"
18,4/14/2017,The Fate of the Furious,"$250,000,000","$225,764,765","$1,237,444,462"
19,6/28/2006,Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
20,5/26/2017,Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$171,832,628","$785,628,907"
21,11/14/2008,Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
22,5/4/2012,The Avengers,"$225,000,000","$623,279,547","$1,519,479,547"
23,7/7/2006,Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
24,6/14/2013,Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
25,5/16/2008,The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
26,7/3/2012,The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267"
27,6/21/2017,Transformers: The Last Knight,"$217,000,000","$130,120,862","$601,120,862"
28,6/12/2015,Jurassic World,"$215,000,000","$652,198,010","$1,671,640,593"
29,5/25/2012,Men in Black 3,"$215,000,000","$179,020,854","$654,213,485"
30,6/24/2009,Transformers: Revenge of the Fallen,"$210,000,000","$402,111,870","$836,519,699"
...,...,...,...,...,...
5367,12/1/2015,Dutch Kills,"$25,000",$0,$0
5368,8/1/1991,Slacker,"$23,000","$1,227,508","$1,227,508"
5369,12/31/2014,Dry Spell,"$22,000",$0,$0
5370,12/31/2003,Flywheel,"$20,000",$0,$0
5371,1/4/2013,All Superheroes Must Die,"$20,000",$0,$0
5372,4/21/2015,The Front Man,"$20,000",$0,$0
5373,11/25/2011,The Ridges,"$17,300",$0,$0
5374,6/2/2006,The Puffy Chair,"$15,000","$194,523","$195,254"
5375,4/2/2010,Breaking Upwards,"$15,000","$115,592","$115,592"
5376,12/31/2014,Stories of Our Lives,"$15,000",$0,$0
5377,4/11/1997,Pink Flamingos,"$12,000","$413,802","$413,802"
5378,4/28/2006,Grip: A Criminal's Story,"$12,000","$1,336","$1,336"
5379,12/31/2007,Tin Can Man,"$12,000",$0,$0
5380,3/9/2001,Dayereh,"$10,000","$673,780","$673,780"
5381,4/28/2006,Clean,"$10,000","$138,711","$138,711"
5382,7/6/2001,Cure,"$10,000","$94,596","$94,596"
5383,5/28/2004,On the Down Low,"$10,000","$1,987","$1,987"
5384,4/1/1996,Bang,"$10,000",$527,$527
5385,8/14/2008,The Rise and Fall of Miss Thang,"$10,000",$401,$401
5386,5/19/2015,Family Motocross,"$10,000",$0,$0
5387,1/13/2012,Newlyweds,"$9,000","$4,584","$4,584"
5388,2/26/1993,El Mariachi,"$7,000","$2,040,920","$2,041,928"
5389,10/8/2004,Primer,"$7,000","$424,760","$841,926"
5390,5/26/2006,Cavite,"$7,000","$70,071","$71,644"
5391,1/1/2004,The Mongol King,"$7,000",$900,$900
5392,4/2/1999,Following,"$6,000","$48,482","$240,495"
5393,7/13/2005,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5394,9/29/2015,Signed Sealed Delivered,"$5,000",$0,$0
5395,9/29/2015,A Plague So Pleasant,"$1,400",$0,$0
5396,8/5/2005,My Date With Drew,"$1,100","$181,041","$181,041"

In [3]:
df_clean = SCRAPER.clean_data()
df_clean

,release_date,title,production_budget,domestic_gross,world_gross
1,2009-12-18,Avatar,425000000,760507625,2783918982
2,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2058662225
3,2007-05-24,Pirates of the Caribbean: At Worlds End,300000000,309420425,963420425
4,2015-11-06,Spectre,300000000,200074175,879620923
5,2012-07-20,The Dark Knight Rises,275000000,448139099,1084439099
6,2013-07-02,The Lone Ranger,275000000,89302115,260002115
7,2012-03-09,John Carter,275000000,73058679,282778100
8,2010-11-24,Tangled,260000000,200821936,586581936
9,2007-05-04,Spider-Man 3,258000000,336530303,894860230
10,2015-05-01,Avengers: Age of Ultron,250000000,459005868,1408218722
11,2016-05-06,Captain America: Civil War,250000000,408084349,1153304495
12,2016-03-25,Batman v Superman: Dawn of Justice,250000000,330360194,868160194
13,2012-12-14,The Hobbit: An Unexpected Journey,250000000,303003568,1017003568
14,2009-07-15,Harry Potter and the Half-Blood Prince,250000000,301959197,935083686
15,2013-12-13,The Hobbit: The Desolation of Smaug,250000000,258366855,960366855
16,2014-12-17,The Hobbit: The Battle of the Five Armies,250000000,255119788,955119788
17,2011-05-20,Pirates of the Caribbean: On Stranger Tides,250000000,241063875,1045663875
18,2017-04-14,The Fate of the Furious,250000000,225764765,1237444462
19,2006-06-28,Superman Returns,232000000,200120000,374085065
20,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000,171832628,785628907
21,2008-11-14,Quantum of Solace,230000000,169368427,591692078
22,2012-05-04,The Avengers,225000000,623279547,1519479547
23,2006-07-07,Pirates of the Caribbean: Dead Mans Chest,225000000,423315812,1066215812
24,2013-06-14,Man of Steel,225000000,291045518,667999518
25,2008-05-16,The Chronicles of Narnia: Prince Caspian,225000000,141621490,417341288
26,2012-07-03,The Amazing Spider-Man,220000000,262030663,757890267
27,2017-06-21,Transformers: The Last Knight,217000000,130120862,601120862
28,2015-06-12,Jurassic World,215000000,652198010,1671640593
29,2012-05-25,Men in Black 3,215000000,179020854,654213485
30,2009-06-24,Transformers: Revenge of the Fallen,210000000,402111870,836519699
...,...,...,...,...,...
5367,2015-12-01,Dutch Kills,25000,0,0
5368,1991-08-01,Slacker,23000,1227508,1227508
5369,2014-12-31,Dry Spell,22000,0,0
5370,2003-12-31,Flywheel,20000,0,0
5371,2013-01-04,All Superheroes Must Die,20000,0,0
5372,2015-04-21,The Front Man,20000,0,0
5373,2011-11-25,The Ridges,17300,0,0
5374,2006-06-02,The Puffy Chair,15000,194523,195254
5375,2010-04-02,Breaking Upwards,15000,115592,115592
5376,2014-12-31,Stories of Our Lives,15000,0,0
5377,1997-04-11,Pink Flamingos,12000,413802,413802
5378,2006-04-28,Grip: A Criminal's Story,12000,1336,1336
5379,2007-12-31,Tin Can Man,12000,0,0
5380,2001-03-09,Dayereh,10000,673780,673780
5381,2006-04-28,Clean,10000,138711,138711
5382,2001-07-06,Cure,10000,94596,94596
5383,2004-05-28,On the Down Low,10000,1987,1987
5384,1996-04-01,Bang,10000,527,527
5385,2008-08-14,The Rise and Fall of Miss Thang,10000,401,401
5386,2015-05-19,Family Motocross,10000,0,0
5387,2012-01-13,Newlyweds,9000,4584,4584
5388,1993-02-26,El Mariachi,7000,2040920,2041928
5389,2004-10-08,Primer,7000,424760,841926
5390,2006-05-26,Cavite,7000,70071,71644
5391,2004-01-01,The Mongol King,7000,900,900
5392,1999-04-02,Following,6000,48482,240495
5393,2005-07-13,Return to the Land of Wonders,5000,1338,1338
5394,2015-09-29,Signed Sealed Delivered,5000,0,0
5395,2015-09-29,A Plague So Pleasant,1400,0,0
5396,2005-08-05,My Date With Drew,1100,181041,181041

In [4]:
SCRAPER.upload_data_s3()