In [1]:
import pandas as pd

In [21]:
path = "data/compo_misc_capital_recipts.csv"
df=pd.read_csv(path)

In [22]:
df

,slug_name,index_name,2015-2016,2016-2017 (BE),2016-2017 (RE),2017-2018 (BE),color,unit
0,disinvestment_receipts,Disinvestment Receipts,42131.69,"36,000","40,000","46,500",#D64700,Rs. Crore
1,strategic_disinvestment,Strategic Disinvestment,...,"20,500","5,500","15,000",#40627C,Rs. Crore
2,others_(listing_of_insurance_companies),Others (Listing of Insurance Companies),...,...,...,"11,000",#D0A825,Rs. Crore
3,total,Total,42131.69,56500,45500,72500,#26393D,Rs. Crore

In [23]:
file_name= "compo_misc_capital_recipts.csv"
for index, row in enumerate(df.iterrows()):
    #rint " .. raw:: html\n"
    print '    <iframe src="../viz/visualization.html#barchart/'+file_name+'/'+row[1][0] +'" width="100%", height="500",  frameBorder="0"></iframe>\n'

    <iframe src="../viz/visualization.html#barchart/compo_misc_capital_recipts.csv/disinvestment_receipts" width="100%", height="500",  frameBorder="0"></iframe>

    <iframe src="../viz/visualization.html#barchart/compo_misc_capital_recipts.csv/strategic_disinvestment" width="100%", height="500",  frameBorder="0"></iframe>

    <iframe src="../viz/visualization.html#barchart/compo_misc_capital_recipts.csv/others_(listing_of_insurance_companies)" width="100%", height="500",  frameBorder="0"></iframe>

    <iframe src="../viz/visualization.html#barchart/compo_misc_capital_recipts.csv/total" width="100%", height="500",  frameBorder="0"></iframe>