In [8]:
import pandas as pd
# note that pd.read_csv is used because we imported pandas as pd
surveys_df = pd.read_csv("data/surveys.csv")
print(surveys_df)
type(surveys_df)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
5              6      7   16  1977        1         PF    M             14.0
6              7      7   16  1977        2         PE    F              NaN
7              8      7   16  1977        1         DM    M             37.0
8              9      7   16  1977        1         DM    F             34.0
9             10      7   16  1977        6         PF    F             20.0
10            11      7   16  1977        5         DS    F             53.0
11            12      7   16  1977        7         DM    M             38.0
12            13      7   16  1977        3         DM    M             35.0
13            14      7   16  1977        8         DM  NaN              NaN
14            15      7   16  1977        6         DM    F             36.0
15            16      7   16  1977        4         DM    F             36.0
16            17      7   16  1977        3         DS    F             48.0
17            18      7   16  1977        2         PP    M             22.0
18            19      7   16  1977        4         PF  NaN              NaN
19            20      7   17  1977       11         DS    F             48.0
20            21      7   17  1977       14         DM    F             34.0
21            22      7   17  1977       15         NL    F             31.0
22            23      7   17  1977       13         DM    M             36.0
23            24      7   17  1977       13         SH    M             21.0
24            25      7   17  1977        9         DM    M             35.0
25            26      7   17  1977       15         DM    M             31.0
26            27      7   17  1977       15         DM    M             36.0
27            28      7   17  1977       11         DM    M             38.0
28            29      7   17  1977       11         PP    M              NaN
29            30      7   17  1977       10         DS    F             52.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35519      35520     12   31  2002        9         SF  NaN             24.0
35520      35521     12   31  2002        9         DM    M             37.0
35521      35522     12   31  2002        9         DM    F             35.0
35522      35523     12   31  2002        9         DM    F             36.0
35523      35524     12   31  2002        9         PB    F             25.0
35524      35525     12   31  2002        9         OL    M             21.0
35525      35526     12   31  2002        8         OT    F             20.0
35526      35527     12   31  2002       13         DO    F             33.0
35527      35528     12   31  2002       13         US  NaN              NaN
35528      35529     12   31  2002       13         PB    F             25.0
35529      35530     12   31  2002       13         OT    F             20.0
35530      35531     12   31  2002       13         PB    F             27.0
35531      35532     12   31  2002       14         DM    F             34.0
35532      35533     12   31  2002       14         DM    F             36.0
35533      35534     12   31  2002       14         DM    M             37.0
35534      35535     12   31  2002       14         DM    M             37.0
35535      35536     12   31  2002       14         DM    F             35.0
35536      35537     12   31  2002       14         DM    F             36.0
35537      35538     12   31  2002       15         PB    F             26.0
35538      35539     12   31  2002       15         SF    M             26.0
35539      35540     12   31  2002       15         PB    F             26.0
35540      35541     12   31  2002       15         PB    F             24.0
35541      35542     12   31  2002       15         PB    F             26.0
35542      35543     12   31  2002       15         PB    F             27.0
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
...       ...
35519    36.0
35520    48.0
35521    45.0
35522    44.0
35523    27.0
35524    26.0
35525    24.0
35526    43.0
35527     NaN
35528    25.0
35529     NaN
35530     NaN
35531    43.0
35532    48.0
35533    56.0
35534    53.0
35535    42.0
35536    46.0
35537    31.0
35538    68.0
35539    23.0
35540    31.0
35541    29.0
35542    34.0
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[35549 rows x 9 columns]

pandas.core.frame.DataFrame

In [6]:
surveys_df['sex'].dtype

dtype('O')

In [9]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [10]:
print(5/9)
print(10/3)
# convert a to integer
a = 7.83
int(a)

0.5555555555555556
3.3333333333333335

7

In [11]:
# convert to float
b = 7
float(b)

7.0

In [12]:
# convert the record_id field from an integer to a float
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')
surveys_df['record_id'].dtype

dtype('float64')

In [13]:
surveys_df['weight'].mean()

42.672428212991356

In [15]:
print(len(surveys_df[pd.isnull(surveys_df.weight)]))
# how many rows have weight values?
len(surveys_df[surveys_df.weight> 0])

3266

32283

In [16]:
df1 = surveys_df.copy()
# fill all NaN values with 0
df1['weight'] = df1['weight'].fillna(0)

In [17]:
df1['weight'].mean()

38.751976145601844

In [18]:
df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())