In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
names = pd.read_csv("names_prop_by_year.csv")
boy_names = names[names["Sex"]=='M']
girl_names = names[names["Sex"]=='F']
girl_names.head()
boy_names.columns
john_occurnace = boy_names[boy_names["Name"]=="John"]
mary_occurnace = girl_names[girl_names["Name"]=="Mary"]

In [52]:
chloe_occurnace = girl_names[girl_names["Name"]=="Chloe"]
# john_occurnace = john_occurnace.sort(["Year"])
john_occurnace.head()
mary_occurnace.head()
# mary_occurnace[['Prop']] = mary_occurnace[['Prop']].astype(float)
# mary = mary_occurnace.ix[0:,['Year','Prop']]
# john = john_occurnace.ix[0:,['Year','Prop']]

      Name Sex  Count      Prop  Year
0     Mary   F   7065  0.035065  1880
2000  Mary   F   6919  0.035906  1881
3935  Mary   F   8148  0.036779  1882
6062  Mary   F   8012  0.036930  1883
8146  Mary   F   9217  0.037857  1884

In [58]:
# mary.head()
# mary.to_csv('file.csv', index=False)
# john = john_occurnace.ix[0:,['Year','Prop']]
# mary.plot()
# john.plot(color='Blue')
# plt.show()
plt.figure();
john_occurnace.plot(x="Year",y="Prop",color="Red",title='John')
plt.legend( ('John',), loc=0 )
mary_occurnace.plot(x="Year",y="Prop",color="Blue",title='Mary')
plt.legend( ('Mary',), loc=0 )
chloe_occurnace.plot(x="Year",y="Prop",color="Green",title='Chloe')
plt.legend( ('Chloe',), loc=0 )
plt.show()

In [102]:
mix = pd.merge(john_occurnace.loc[:,['Year','Prop']], mary_occurnace.loc[:,['Year','Prop']], on='Year')
mix = pd.merge(mix, chloe_occurnace.loc[:,['Year','Prop']], on='Year')
mix.columns = ['Year', 'john', 'mary','chloe']

In [108]:
mix.plot(x="Year")
plt.show()

In [105]:
mix.tail()

     Year      john      mary     chloe
129  2009  0.003175  0.000827  0.003120
130  2010  0.003130  0.000776  0.003185
131  2011  0.003023  0.000741  0.003009
132  2012  0.002906  0.000703  0.002646
133  2013  0.002935  0.000721  0.002415