**כל הזכויות שמורות לי - דר׳ אלכסנדרה ליטינסקי סימנובסקי אין לעתיק ולהשתמש בחומר ללא רשות**

# **Lab #1 - Python Introduction**

# **0 - Installation and Quick Start**

## **Installation**

Install Python (but it is probably already installed.


In Data Science, it is common to use [Anaconda](https://www.anaconda.com/products/individual-d) to download and install Python and its environment.

## **Writing Code**

Several options exists, more ore less user-friendly.

### **In the python shell**


The python shell can be launched by typing the command `python` in a terminal (this works on Linux, Mac, and Windows with PowerShell). To exit it, type `exit()`.



From the shell, you can enter Python code that will be executed on the run as you press Enter. As long as you are in the same shell, you keep your variables, but as soon as you exit it, everything is lost. It might not be the best option...

### **From a file**


You can write your code in a file and then execute it with Python. The extension of Python files is typically `.py`.

If you create a file `test.py`  (using any text editor) containing the following code:

---
~~~
a = 10
a = a + 7

print(a)
~~~
---

Then, you can run it using the command `python test.py` in a terminal from the *same folder* as the file.




This is a conveniant solution to run some code but it is probably not the best way to code.

------------------------

### Using an integrated development environment (IDE)


You can edit you Python code files with IDEs that offer debuggers, syntax checking, etc. Two popular exemples are:

* [VS Code](https://code.visualstudio.com/) which has a very good Python integration while not being restricted to it. 
* [Pycharm](https://www.jetbrains.com/pycharm/)

---
### Jupyter notebooks


[Jupyter notebooks](https://jupyter.org/) are browser-based notebooks for Julia, Python, and R, they correspond to `.ipynb` files. The main features of jupyter notebooks are:
* In-browser editing for code, with automatic syntax highlighting, indentation, and tab completion/introspection.
* The ability to execute code from the browser and plot inline.
* In-browser editing for rich text using the Markdown markup language.
* The ability to include mathematical notation within markdown cells using LaTeX, and rendered natively by MathJax.


#### **Installation** 

In a terminal, enter `python -m pip install notebook` or simply `pip install notebook`

*Note :* Anaconda directly comes with notebooks, they can be lauched from the Navigator directly.


#### **Use**

To lauch Jupyter, enter `jupyter notebook`. 

This starts a *kernel* (a process that runs and interfaces the notebook content with an (i)Python shell) and opens a tab in the *browser*. The whole interface of Jupyter notebook is *web-based* and can be accessed at the address http://localhost:8888 .

Then, you can either create a new notebook or open a notebooks (`.ipynb` file) of the current folder. 

*Note :* Closing the tab *does not terminate* the notebook, it can still be accessed at the above adress. To terminate it, use the interface (File -> Close and Halt) or in the kernel terminal type `Ctrl+C`.


#### **Remote notebook exectution**

Without any installation, you can:
* *view* notebooks using [NBViewer](https://nbviewer.jupyter.org/)
* *fully interact* with notebooks  [Google Colab](https://colab.research.google.com/)

---
#### **Interface**

Notebook documents contains the inputs and outputs of an interactive python shell as well as additional text that accompanies the code but is not meant for execution. In this way, notebook files can serve as a complete computational record of a session, interleaving executable code with explanatory text, mathematics, and representations of resulting objects. These documents are saved with the `.ipynb` extension. 

Notebooks may be exported to a range of static formats, including HTML (for example, for blog posts), LaTeX, PDF, etc. by `File->Download as`



##### **Editing notebooks**
You can modify the title (that is the file name) by clicking on it next to the jupyter logo. 
The notebooks are a succession of *cells*, that can be of four types:
* `code` for python code (as in ipython)
* `markdown` for text in Markdown formatting (see this [Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)). You may additionally use HTML and Latex math formulas.
* `raw` and `heading` are less used for raw text and titles

##### **Cells**
You can *edit* a cell by double-clicking on it.
You can *run* a cell by using the menu or typing `Ctrl+Enter` (You can also run all cells, all cells above a certain point). It if is a text cell, it will be formatted. If it is a code cell it will run as it was entered in a ipython shell, which means all previous actions, functions, variables defined, are persistent. To get a clean slate, your have to *restart the kernel* by using `Kernel->Restart`.

##### **Useful commands**

* `Tab` autocompletes
* `Shift+Tab` gives the docstring of the input function
* `?` return the help

# 1- Numbers and Variables


## Variables

In [1]:
2 + 2 + 1 # comment

5

## Variable Assignment
- Binding a variable in Python means setting a name to hold a reference to some object.
- Assignment creates references, not copies (like Java)
- A variable is created the first time it appears on the left side of an assignment expression:
    x = 3
- An object is deleted (by the garbage collector) once it becomes unreachable.
- Names in Python do not have an intrinsic type. Objects have types.
- Python determines the type of the reference automatically based on what data is assigned to it.


* when you want to assign a value to a variable you just use =
* You can use the function: type to see the type

In [37]:
# Can not start with number or special characters
name_of_var = 2
x = 2
y = 3
z = x + y

Note that the line above doesn't print the value of z. 
After an assignment, Jupyter doesn't print the result.
To view its value, add a line with the variable name:

In [38]:
z

5

In [1]:
a = 4
print(a)

4

In [3]:
a,x = 4, 9000
print(a)
print(x)

4
9000

* Variables names can contain `a-z`, `A-Z`, `0-9` and some special character as `_` but must always begin by a letter. By convention, variables names are smallcase. 


## **Types**

* Variables are *weakly typed* in python which means that their type is deduced from the context: the initialization or the types of the variables used for its computation. Observe the following example.


### **The three types of variables for today**
        1. int - integer
        2. float - non interger **Number**
        3. String - Text variable

* You can use the function: type to see the type

In [6]:
my_int = 5
my_float = 5.0
my_string = 'my_string_value'
print (f'my_int type is {type(my_int)}, my_float type is: {type(my_float)}, my_string type is : {type(my_string)}')

my_int type is <class 'int'>, my_float type is: <class 'float'>, my_string type is : <class 'str'>

In [4]:
print("Integer")
a = 3
print(a,type(a))

print("\nFloat")
b = 3.14
print(b,type(b))

print("\nComplex")
c = 3.14 + 2j
print(c,type(c))
print(c.real,type(c.real))
print(c.imag,type(c.imag))

Integer
3 <class 'int'>

Float
3.14 <class 'float'>

Complex
(3.14+2j) <class 'complex'>
3.14 <class 'float'>
2.0 <class 'float'>

This typing can lead to some variable having unwanted types, which can be resolved by *casting*

In [5]:
d = 1j*1j
print(d,type(d))
d = d.real
print(d,type(d))
d = int(d)
print(d,type(d))

(-1+0j) <class 'complex'>
-1.0 <class 'float'>
-1 <class 'int'>

In [6]:
e = 10/3
print(e,type(e))
f = (10/3)/(10/3)
print(f,type(f))
f = int((10/3)/(10/3))
print(f,type(f))

3.3333333333333335 <class 'float'>
1.0 <class 'float'>
1 <class 'int'>

**How to assign a value to a function?**
- Just put it in the () parentheses
How do you call that?
That is an **argument**

In [7]:
print('Hello World!')

Hello World!

## **Operation on numbers**

The usual operations are 
* Multiplication and Division with respecively `*` and `/`
* Exponent with `**`
* Modulo with `%`

In [7]:
print(7 * 3., type(7 * 3.))  # int x float -> float

21.0 <class 'float'>

In [8]:
print(3/2, type(3/2))  #  float in Python 3
print(3/2., type(3/2.)) # To be sure

1.5 <class 'float'>
1.5 <class 'float'>

In [9]:
print(2**10, type(2**10))

1024 <class 'int'>

In [10]:
print(8%2, type(8%2))

0 <class 'int'>

In [8]:
# int to int --> int
5 + 4

9

In [9]:
# int / int --> float
# float / float --> float
6 / 3

2.0

In [10]:
# int * int --> int
6 * 3

18

In [11]:
my_string + my_string

'my_string_valuemy_string_value'

In [12]:
my_string - my_string

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
my_string / my_string

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [14]:
my_string * my_string

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
my_string * 3

'my_string_valuemy_string_valuemy_string_value'

## **Booleans** 

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). 

It also has a placeholder object called **None**.


Boolean is the type of a variable `True` or `False` and thus are extremely useful when coding. 
* They can be obtained by comparisons  `>`, `>=` (greater, greater or égal), `<`, `<=` (smaller, smaller or equal) or membership `==` , `!=` (equality, different).
* They can be manipulated by the logical operations `and`, `not`, `or`.


<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [78]:
# Set object to be a boolean
a = True
#Show
a

True

In [79]:
not a

False

In [85]:
print('2 > 1\t', 2 > 1)   
print('2 > 2\t', 2 > 2) 
print('2 >= 2\t',2 >= 2) 
print('2 == 2\t',2 == 2) 
print('2 == 2.0',2 == 2.0) 
print('2 != 1.9',2 != 1.9)
print ('ho == bey', 'hi' == 'bye')

2 > 1	 True
2 > 2	 False
2 >= 2	 True
2 == 2	 True
2 == 2.0 True
2 != 1.9 True
ho == bey False

In [12]:
print(True and False)
print(True or True)
print(not False)

False
True
True

We can use None as a placeholder for an object that we don't want to reassign yet:

In [80]:
# None placeholder
b = None
print (b)

None

### **Null values**

- Sometimes we represent "no data" or "not applicable".  

- In Python we use the special value `None`.

- This corresponds to `Null` in Java or SQL.

In [82]:
# When we fetch the value `None` in the interactive interpreter, no result is printed out.

result = None
result

- We can check whether there is a result or not using the `is` operator:

In [83]:
result is None

True

In [84]:
x = 5
x is None

False

- Logic Operators

In [86]:
(1 > 2) and (2 < 3)

False

In [87]:
(1 > 2) or (2 < 3)

True

In [88]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## **Lists**

Lists are the base element for sequences of variables in python, they are themselves a variable type. 
* The syntax to write them is `[ ... , ... ]`
* The types of the elements may not be all the same
* The indices begin at $0$ (`l[0]` is the first element of `l`)
* Lists can be nested (lists of lists of ...)
* They are mutable, meaning the elements inside a list can be changed.

*Warning:* Another type called *tuple* with the syntax `( ... , ... )` exists in Python. It has almost the same structure than list to the notable exceptions that one cannot add or remove elements from a tuple. We will see them briefly later

In [18]:
# We just created a list of integers, but lists can actually hold different object types. For example:
l = [1, 2, 3, [4,8] , True , 2.3]
print(l, type(l))

[1, 2, 3, [4, 8], True, 2.3] <class 'list'>

In [19]:
print(l[0],type(l[0]))
print(l[3],type(l[3]))
print(l[3][1],type(l[3][1]))

1 <class 'int'>
[4, 8] <class 'list'>
8 <class 'int'>

In [20]:
print(l)
print(l[4:]) # l[4:] is l from the position 4 (included)
print(l[:5]) # l[:5] is l up to position 5 (excluded)
print(l[4:5]) # l[4:5] is l between 4 (included) and 5 (excluded) so just 4
print(l[1:6:2])  # l[1:6:2] is l between 1 (included) and 6 (excluded) by steps of 2 thus 1,3,5
print(l[::-1]) # reversed order
print(l[-1]) # last element

[1, 2, 3, [4, 8], True, 2.3]
[True, 2.3]
[1, 2, 3, [4, 8], True]
[True]
[2, [4, 8], 2.3]
[2.3, True, [4, 8], 3, 2, 1]
2.3

### **Operations on lists**

One can add, insert, remove, count, or test if a element is in a list easily

In [22]:
l.append(10)   # Add an element to l (the list is not copied, it is actually l that is modified)
print(l)

[1, 2, 3, [4, 8], True, 2.3, 10]

In [23]:
l.insert(1,'u')   # Insert an element at position 1 in l (the list is not copied, it is actually l that is modified)
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3, 10]

In [24]:
l.remove(10) # Remove the first element 10 of l 
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3]

In [25]:
print(len(l)) # length of a list
print(2 in l)  # test if 2 is in l

7
True

### **Handling lists**

Lists are *pointer*-like types. Meaning that if you write `l2=l`, you *do not copy* `l` to `l2` but rather copy the pointer so modifying one, will modify the other.

The proper way to copy list is to use the dedicated `copy` method for list variables.

In [72]:
l2 = l 
l.append('Something')
print(l,l2)

['u', 2, 3, [4, 8], True, 2.3, 'Something'] ['u', 2, 3, [4, 8], True, 2.3, 'Something']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [73]:
# Pop off the 0 indexed item
l.pop(0)

'u'

In [74]:
# show 
l

[2, 3, [4, 8], True, 2.3, 'Something']

In [75]:
# Assign the popped element. The default popped index is -1
popped_item = l.pop()

In [76]:
popped_item

'Something'

In [77]:
# Show remaining list
l

[2, 3, [4, 8], True, 2.3]

In [27]:
#l3 = list(l) # 
l3= l.copy() 
l.remove('Something')
print(l,l3)

[1, 'u', 2, 3, [4, 8], True, 2.3] [1, 'u', 2, 3, [4, 8], True, 2.3, 'Something']

You can have void lists and concatenate list by simply using the + operator, or even repeat them with * .

In [28]:
l4 = []
l5 =[4,8,10.9865]
print(l+l4+l5)
print(l5*3)

[1, 'u', 2, 3, [4, 8], True, 2.3, 4, 8, 10.9865]
[4, 8, 10.9865, 4, 8, 10.9865, 4, 8, 10.9865]

#### **Indexing and Slicing**

In [65]:
my_list = ['one','two','three',4,5]
# Grab element at index 0
my_list[0]

'one'

We can also use + to concatenate lists, just like we did for strings.

In [66]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [67]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [69]:
# Reassign
my_list = my_list + ['add new item permanently']

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

## **Tuples, Dictionaries [*] Sets**

### **Tuples**
* **Tuples** are similar to list but are created with `(...,...)` or simply comas. They cannot be changed once created.


* What is the major difference between tuples and lists?

    **Tuples are immutable!**

In [29]:
t = (1,'b',876876.908)
print(t,type(t))
print(t[0])

(1, 'b', 876876.908) <class 'tuple'>
1

In [30]:
a,b = 12,[987,98987]
u = a,b
print(a,b,u)

12 [987, 98987] (12, [987, 98987])

In [31]:
try:
    u[1] = 2
except Exception as error: 
    print(error)

'tuple' object does not support item assignment

### **Dictionaries** 
- **Dictionaries** are aimed at storing values of the form *key-value* with the syntax `{key1 : value1, ...}`

This type is often used as a return type in librairies.

In [26]:
d = {"param1" : 1.0, "param2" : True, "param3" : "red"}
print(d,type(d))

{'param1': 1.0, 'param2': True, 'param3': 'red'} <class 'dict'>

In [27]:
print(d["param1"])
d["param1"] = 2.4
print(d)

1.0
{'param1': 2.4, 'param2': True, 'param3': 'red'}

In [94]:
c = {'x1':{'x2':'hello all'}}
c['x1']['x2']

'hello all'

In [100]:
# Getting a little tricker
c = {'x1':[{'nest_key':['this is deep',['hello all']]}]}
# This was harder than I expected...
c['x1'][0]['nest_key'][1][0]

'hello all'

In [99]:
# This will be hard and annoying!
c = {'x1':[1,2,{'x2':['this is tricky',{'next_key':[1,2,['hello all']]}]}]}
# and..... 
c['x1'][2]['x2'][1]['next_key'][2][0]

'hello all'

**BOOOOOO**

Can you sort a dictionary? Why or why not?

*****
*****
*****
*****

**Answer: No! Because normal dictionaries are *mappings* not a sequence.**

### **Sets**

**Sets don't allow for duplicate items!**

- make unique to list

In [101]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## **Strings and text formatting**


* Strings are delimited with (double) quotes. They can be handled globally the same way as lists (see above).
* <tt>print</tt> displays (tuples of) variables (not necessarily strings).
* To include variable into string, it is preferable to use the <tt>format</tt> method.

In [39]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

* We can also use a function called **len()** to check the length of a string!

In [40]:
len('Hello World')

11

In [41]:
s = "test"
print(s,type(s))

test <class 'str'>

### **String Indexing**
We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called s and the walk through a few examples of indexing.

In [29]:
print(s[0]) # Show first element (in this case a letter)
print(s + "42")

t
test42

In [30]:
print(s,42)
print(s+"42")

test 42
test42

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [42]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'est'

In [43]:
# Note that there is no change to the original s
s

'test'

In [44]:
# Grab everything UP TO the 3rd index
s[:3]

'tes'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [45]:
#Everything
s[:]

'test'

We can also use negative indexing to go backwards.

In [46]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

't'

In [47]:
# Grab everything but the last letter
s[:-1]

'tes'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [49]:
# Grab everything, but go in steps size of 1
s[::1]

'test'

In [50]:
# Grab everything, but go in step sizes of 2
s[::2]

'ts'

In [51]:
# We can use this to print a string backwards
s[::-1]

'tset'

#### **String Properties**
Its important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [55]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [56]:
# We can reassign s completely though!
s = s + ' concatenate me!'

We can use the multiplication symbol to create repetition!

In [58]:
letter = 'z'
letter*10

'zzzzzzzzzz'

### **Print Formatting**

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [52]:
try:
    print(s+42)
except Exception as error: 
    print(error)

can only concatenate str (not "int") to str

The `format` method

In [53]:
print( "test {}".format(42) )

test 42

In [54]:
print( "test with an int {:d}, a float {} (or {:e} which is roughly {:.1f})".format(4 , 3.141 , 3.141 , 3.141 ))

test with an int 4, a float 3.141 (or 3.141000e+00 which is roughly 3.1)

### **Basic Built-in String methods**

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

**object.method(parameters)**

Here are some examples of built-in methods in strings:

In [60]:
# Assign s as a string
s = 'Hello World'
# We can reassign s completely though!
s = s + ' concatenate me!'
s

'Hello World concatenate me!'

In [61]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [62]:
# Lower case
s.lower()

'hello world concatenate me!'

In [63]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [64]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

# **2- Branching and Loops**


## **If, Elif, Else**

In Python, the formulation for branching is the  `if:` condition (mind the `:`) followed by an indentation of *one tab* that represents what is executed if the condition is true. **The indentation is primordial and at the core of Python.**

In [34]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [35]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [36]:
if statement1:
    if statement2: # Bad indentation!
    #print("both statement1 and statement2 are True") # Uncommenting Would cause an error
        print("here it is ok")
    print("after the previous line, here also")

here it is ok
after the previous line, here also

In [37]:
statement1 = True 

if statement1:
    print("printed if statement1 is True")
    
    
    
    print("still inside the if block")

printed if statement1 is True
still inside the if block

In [38]:
statement1 = False 

if statement1:
    print("printed if statement1 is True")
    
print("outside the if block")

outside the if block

## **For loop**

The syntax of `for` loops is `for x in something:` followed by an indentation of one tab which represents what will be executed. 

The `something` above can be of different nature: list, dictionary, etc.

In [39]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [40]:
sentence = ""
for word in ["Python", "for", "data", "Science"]:
    sentence = sentence + word + " "
print(sentence)

Python for data Science

A useful function is <tt>range</tt> which generated sequences of numbers that can be used in loops.

In [41]:
print("Range (from 0) to 4 (excluded) ")
for x in range(4): 
    print(x)   

print("Range from 2 (included) to 6 (excluded) ")
for x in range(2,6): 
    print(x)

print("Range from 1 (included) to 12 (excluded) by steps of 3 ")
for x in range(1,12,3): 
    print(x)

Range (from 0) to 4 (excluded)
0
1
2
3
Range from 2 (included) to 6 (excluded)
2
3
4
5
Range from 1 (included) to 12 (excluded) by steps of 3
1
4
7
10

If the index is needed along with the value, the function `enumerate` is useful.

In [42]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

## **While loop**

Similarly to `for` loops, the syntax is`while condition:` followed by an indentation of one tab which represents what will be executed.

In [43]:
i = 0

while i<5:
    print(i)
    i+=1

0
1
2
3
4

## **range**

In [89]:
range(5)

range(0, 5)

In [90]:
for i in range(5):
    print(i)

0
1
2
3
4

In [91]:
start = 0 #Default
stop = 20 
x = range(start,stop)
x

range(0, 20)

- Great! Notice how it went *up to* 20, but doesn't actually produce 20. Just like in indexing. What about step size? We can specify that as a third argument:

In [92]:
x = range(start,stop,2)
#Show
x

range(0, 20, 2)

In [93]:
list(range(5))

[0, 1, 2, 3, 4]

## **Try [*]**

When a command may fail, you can `try` to execute it and optionally catch the `Exception` (i.e. the error).

In [44]:
a = [1,2,3]
print(a)

try:
    a[1] = 3
    print("command ok")
except Exception as error: 
    print(error)
    
print(a) # The command went through

try:
    a[6] = 3
    print("command ok")
except Exception as error: 
    print(error)
    
print(a) # The command failed

[1, 2, 3]
command ok
[1, 3, 3]
list assignment index out of range
[1, 3, 3]

# **3- Functions**


In Python, a function is defined as  
`def function_name(function_arguments):` 

            followed by an indentation representing what is inside the function. 
(No return arguments are provided a priori)

#### **What is wrong in this function**

In [32]:
# 1. No name
def (my_number):
  return my_number

SyntaxError: invalid syntax (<ipython-input-32-46fa605cb4a4>, line 2)

In [33]:
# 2. No parentheses
# def my_function:
return my_number

SyntaxError: 'return' outside function (<ipython-input-33-024de9fa9b16>, line 3)

In [34]:
# 3. No colon
def my_function
  return my_number

SyntaxError: invalid syntax (<ipython-input-34-f59f7f6ce940>, line 2)

In [35]:
# 4. No indentation
def my_function():
return my_number

IndentationError: expected an indented block (<ipython-input-35-4a0c983cb33e>, line 3)

## **Functions**

In [45]:
def fun0():
    print("\"fun0\" just prints")

fun0()

"fun0" just prints

Docstring can be added to document the function, which will appear when calling `help`

In [46]:
def fun1(l):
    """
    Prints a list and its length
    """
    print(l, " is of length ", len(l))
    
fun1([1,'iuoiu',True])

[1, 'iuoiu', True]  is of length  3

In [47]:
help(fun1)

Help on function fun1 in module __main__:

fun1(l)
    Prints a list and its length

* *_ _main_ _* in the name of the environment where top-level code is run

## **Outputs**

`return` outputs a variable, tuple, dictionary, ...

In [48]:
def square(x):
    """
    Return x squared.
    """
    return(x ** 2)

help(square)
res = square(12)
print(res)

Help on function square in module __main__:

square(x)
    Return x squared.

144

In [49]:
def powers(x):
    """
    Return the first powers of x.
    """
    return(x ** 2, x ** 3, x ** 4)

help(powers)

Help on function powers in module __main__:

powers(x)
    Return the first powers of x.

In [50]:
res = powers(12)
print(res, type(res))

(144, 1728, 20736) <class 'tuple'>

In [51]:
two,three,four = powers(3)
print(three,type(three))

27 <class 'int'>

In [52]:
def powers_dict(x):
    """
    Return the first powers of x as a dictionary.
    """
    return{"two": x ** 2, "three": x ** 3,  "four": x ** 4}


res = powers_dict(12)
print(res, type(res))
print(res["two"],type(res["two"]))

{'two': 144, 'three': 1728, 'four': 20736} <class 'dict'>
144 <class 'int'>

## **Arguments**

It is possible to 
* Give the arguments in any order provided that you write the corresponding argument variable name
* Set defaults values to variables so that they become optional

In [53]:
def fancy_power(x, p=2, debug=False):
    """
    Here is a fancy version of power that computes the square of the argument or other powers if p is set
    """
    if debug:
        print( "\"fancy_power\" is called with x =", x, " and p =", p)
    return(x**p)

In [54]:
print(fancy_power(5))
print(fancy_power(5,p=3))

25
125

In [55]:
res = fancy_power(p=8,x=2,debug=True)
print(res)

"fancy_power" is called with x = 2  and p = 8
256

## **Lambda(), Map(), Filter() functions**

### **Lambda Expration**


Lambda functions are similar to user-defined functions but without a name. They're commonly referred to as anonymous functions.

Lambda functions are efficient whenever you want to create a function that will only contain simple expressions – that is, expressions that are usually a single line of a statement. They're also useful when you want to use the function once.

> **lambda argument(s) : expression**

**lambda** is a keyword in Python for defining the anonymous function.

**argument(s)** is a placeholder, that is a variable that will be used to hold the value you want to pass into the function expression. A lambda function can have multiple variables depending on what you want to achieve.

**expression** is the code you want to execute in the lambda function.
Notice that the anonymous function does not have a return keyword. This is because the anonymous function will automatically return the result of the expression in the function once it is executed.

**lambda's body is a single expression, not a block of statements.**


Let's look at an example of a lambda function to see how it works. We'll compare it to a regular user-defined function.

In Python, iterables include strings, lists, dictionaries, ranges, tuples, and so on. When working with iterables, you can use lambda functions in conjunction with two common functions: `filter()`and `map()`.

In [115]:
# bed style ! f - must be name of the "what the function doing"
def f(x): 
  return x * 2

f(3)

6

In [116]:
# lambda function 

lambda x: x * 3

In [117]:
# how we get back value from lambda?

multiply_by_3 = lambda x: x * 3
multiply_by_3(2)

6

**Lambda Function with if-else**

Here we are using the Max lambda function to find the maximum of two integers.

In [ ]:
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

**Lambda with Multiple Statements**

Lambda functions do not allow multiple statements, however, we can create two lambda functions and then call the other lambda function as a parameter to the first function. Let’s try to find the second maximum element using lambda.

The code defines a list of sublists called ‘List'. It uses lambda functions to sort each sublist and find the second-largest element in each sublist. The result is a list of second-largest elements, which is then printed. The output displays the second-largest element from each sublist in the original list

In [118]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

sortList = lambda x: (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression.

### **Filter()**

Filter() is used to create a list of elements for which a function returns “True”.

Syntax- filter( function that returns True, list)



"The **`filter()`** function operates on an iterable, such as a list, and applies a given function to each item in the iterable. The function should return either `True` or `False`. 

**`filter()`** then returns an iterator that yields only those items from the iterable for which the function returns `True`. In other words, it selectively filters out elements based on the evaluation of the given function. When you pass this function (along with your iterable) into **`filter()`**, you will receive back only the elements that would return `True` when passed to the function."


Filter function requires another function that contains the expression or operations that will be performed on the iterable.

**Example**
Filter all people having age more than 18, using lambda and filter() function

In [119]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))

print(adults)

[90, 59, 21, 60]

### **map()** 

The map() function takes a function and a list as input.

map() performs an operation on the entire list and return the result in a new list

Syntax- map(function/lambda, list)

The map() function in Python takes in a function and a list as an argument. The function is 
called with a lambda function and a list and a new list is returned which contains all the lambda-modified items returned by that function for each item.



You use the map() function whenever you want to modify every value in an iterable.

In [120]:
list1 = [2, 3, 4, 5]

list(map(lambda x: pow(x, 2), list1))

[4, 9, 16, 25]

**Example** Multiply all elements of a list by 2 using lambda and map() function

In [121]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

**Example** Transform all elements of a list to upper case using lambda and map() function

The code converts a list of animal names to uppercase using a lambda function and the ‘map' function. It then prints the list with the animal names in uppercase. The output displays the animal names in all uppercase letters.

In [122]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: animal.upper(), animals))

print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

# **4- Classes [*]** - Read at home - HW


Classes are at the core of *object-oriented* programming, they are used to represent an object with related **attribues**(variables) and **methods** (functions). 

They are defined as functions but with the keyword class `class my_class(object):` followed by an indentation. The definition of a class usually contains some methods:
* The first argument of a method must be `self` in auto-reference.
* Some method names have a specific meaning: 
   * `__init__`: method executed at the creation of the object
   * `__str__` : method executed to represent the object as a string for instance when the object is passed ot the function `print`

a better link will be my video 
https://www.youtube.com/watch?v=FpoCS-l1QaM&list=PLGGu4X0VPj2QnO-nJ3lTZjFY6sSffHoXj
and repo https://github.com/1shaked/year_3

https://www.youtube.com/watch?v=boEUcROx1N8

https://www.youtube.com/watch?v=mMDFXC-Y2Co

https://realpython.com/python3-object-oriented-programming/

https://www.datacamp.com/tutorial/python-oop-tutorial

https://python.swaroopch.com/oop.html

In [125]:
class Point(object): # This line defines a class named Point that inherits from the base class object
    """
    Class of a point in the 2D plane.
    """
    def __init__(self, x=0.0, y=0.0):
#This method is the constructor or initializer for the Point class.
# It is called automatically when a new instance of the class is created.        
        """
        Creation of a new point at position (x, y).
        """
        # These lines initialize the instance variables x and y with the values passed as arguments.
        # If no values are provided, default values of 0.0 are used.
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        """
        Translate the point by (dx , dy).
        This method allows the point to be 
        translated (moved) by a specified amount along the x and y axes.
        """
        self.x += dx
        self.y += dy
        
    def __str__(self):
        '''
        his method defines the string representation of a Point object. 
        It is invoked when the str() function is called on an instance of the class.
        '''
        return("Point: ({:.2f}, {:.2f})".format(self.x, self.y))

In [57]:
p1 = Point()
print(p1)

p1.translate(3,2)
print(p1)

p2 = Point(1.2,3)
print(p2)

Point: (0.00, 0.00)
Point: (3.00, 2.00)
Point: (1.20, 3.00)

# **5- Reading and writing files**



`open` returns a file object, and is most commonly used with two arguments: `open(filename, mode)`.

The first argument is a string containing the filename. The second argument is another string containing a few characters describing the way in which the file will be used (optional, 'r' will be assumed if it’s omitted.):
* 'r' when the file will only be read
* 'w' for only writing (an existing file with the same name will be erased)
* 'a' opens the file for appending; any data written to the file is automatically added to the end

`f.write(string)` writes the contents of string to the file.

In [148]:
# Open a file named 'example.txt' in write mode ('w')
# If the file doesn't exist, it will be created. If it exists, it will be overwritten.
with open('example.txt', 'w') as file:
    # Write some text to the file
    file.write('Hello, world!\n')
    file.write("This is a text file created using Python.\n")
    file.write('Writing to files in Python is easy!\n')

print("File 'example.txt' created successfully.")

File 'example.txt' created successfully.

What is the differance ???

In [ ]:
# Open the file 'example.txt' in write mode ('w')
file = open('example.txt', 'w')

# Write some text to the file
file.write('Hello, world!\n')
file.write('This is a text file created using Python.\n')
file.write('Writing to files in Python is easy!\n')

# Close the file
file.close()

print("File 'example.txt' created successfully.")

We first open the file 'example.txt' in write mode 'w'.
We write some text to the file using the write() method.
Finally, we explicitly close the file using the close() method.

The file is closed after writing to ensure that all the data is properly flushed and saved to the disk.

**Remember**, using with open() as file: is preferred as it automatically closes the file when the block is exited, ensuring proper resource management and preventing potential issues with file locks or resource leaks.


*Warning:* For the file to be actually written and being able to be opened and modified again without mistakes, it is primordial to close the file handle with `f.close()` 
or if we use `with` statement is used here to ensure that the file is properly closed after writing.


`f.read()` will read an entire file and put the pointer at the end.

In [149]:
f = open('example.txt', 'r')
f.read()

'Hello, world!\nThis is a text file created using Python.\nWriting to files in Python is easy!\n'

`f.readline()` reads a single line from the file; a newline character (\n) is left at the end of the string

In [150]:
f.readline()

''

In [65]:
f.readline()

'Made specially for this course\n'

For reading lines from a file, you can loop over the file object. This is memory efficient, fast, and leads to simple code:

# **6- Exercises**

>**Ecercises 1**

>**A.** Split the string 
>
>name= "my name is Alexandra"
>
>into a list

In [2]:
'''
code
'''
name = 'my name is Shaked'
name.split(' ')

['my', 'name', 'is', 'Shaked']

> **B.** Print variables
>
>name  = 'Alexandra'
>
>age = 35
>
>use .format() to print the fllowing string
>
> My name s Alexandra and I am 35 years old.

In [3]:
'''
code
'''
name = "Shaked"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

My name is Shaked and I am 25 years old.

> **C.**  **Filtering Words Not Starting with a Specific Letter**
>
>You're given a list of words, and you want to filter out the words that don't start with a specific letter.
>
>Write a Python function called filter_words_not_starting_with_letter(words, letter) that takes two parameters:
>
>words: A list of words.
>letter: The letter to filter words by.
>The function should return a list containing only the words from the original list that do not start with the specified letter.
>
>
>**Hint:** You can must using lambda expressions and the filter() function to filter out the words.
>
>**Example:**
>
>words = ['apple', 'banana', 'cat', 'dog', 'elephant']
>
>letter = 'b'
>
>filtered_words = filter_words_not_starting_with_letter(words, letter)
>
>print("Filtered Words:", filtered_words)
>
>
>**Output:**
>
>Filtered Words: ['cat', 'dog', 'elephant']

In [4]:
def filter_words_not_starting_with_letter(words, letter):
    return [word for word in words if word[0].lower() != letter.lower()]

# Example usage:
words = ['apple', 'banana', 'cat', 'dog', 'elephant']
letter = 'b'
filtered_words = filter_words_not_starting_with_letter(words, letter)
print("Filtered Words:", filtered_words)

Filtered Words: ['apple', 'cat', 'dog', 'elephant']

> **Exercise 2** tuple unpacking
>
>Tuples have a special quality when it comes to **for** loops. If you are iterating through a >sequence that contains tuples, the item can actually be the tuple itself, this is an example >of *tuple unpacking*. During the **for** loop we will be unpacking the tuple inside of a >sequence and we can access the individual items inside that tuple!

In [5]:
l = [(2,4),(6,8),(10,12)]

In [7]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)
2 4
6 8
10 12

In [ ]:
# or 
for (t1,t2) in l:
    print(t1, t2)

- With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many object will deliver their iterables through tuples.



> **Exercise 3:** Odd or Even
> 
> The code snippet below enable the user to enter a number. 


Check if this number is odd or even. Optionnaly, handle bad inputs (character, float, signs, etc)

In [8]:
def check_even_odd(num):
    if (type(num) != int):
        raise ValueError("The input is not an integer.")
    if num % 2 == 0 :
        return "Even"
    return "Odd"

In [12]:
num = input("Enter a number: ")
print(num)
check_even_odd(int(num))

44

'Even'

>**Exercise 4**
>
>Problem: Calculating Discount
>
>You're managing a store, and you want to implement a function to calculate the discount for >your customers based on their total purchase amount. 
>Write a function that returns one of three possible discount levels: "No Discount", "Small >Discount", or "Big Discount".
>
>The discount rules are as follows:
>- If the total purchase amount is less than or equal to $50, there's no discount.
>- If the total purchase amount is between $51 and $100 (inclusive), the discount is >considered a "Small Discount".
>- If the total purchase amount is greater than $100, the discount is considered a "Big >Discount".
>
>However, if it's the customer's birthday (encoded as a boolean value in the parameters of >the function), they are eligible for an additional $10 discount regardless of their total >purchase amount.
>
>Write a function called `calculate_discount(total_amount, is_birthday)` that takes two >parameters:
>- `total_amount`: The total purchase amount.
>- `is_birthday`: A boolean indicating if it's the customer's birthday.
>
>The function should return one of the three possible discount levels based on the rules >described above.

In [13]:
def calculate_discount(total_amount, is_birthday):
    if is_birthday:
        total_amount = total_amount - 10
    if total_amount < 50:
        return 'No discount'
    if total_amount < 100:
        return 'small discount'
    return 'big discount'

In [14]:
# Example usage:
total_amount = float(input("Enter the total purchase amount: "))
is_birthday = input("Is it the customer's birthday? (True/False): ").lower() == "true"

discount_level = calculate_discount(total_amount, is_birthday)
print("Discount Level:", discount_level)

Discount Level: No discount

# **Good Job :)**