In [1]:
type(123)

int

In [2]:
type(3.15)

float

In [3]:
print(10*7)

70

In [4]:
print('Hi,anyone')

Hi,anyone

In [5]:
a= 2023
print(a)

2023

In [6]:
b='여러분'
print(b+' 안녕하세요')

여러분 안녕하세요

In [7]:
c= '새해'
print(a,'년해도'+ c +' 복 많이 받으세요!')

2023 년해도새해 복 많이 받으세요!

In [8]:
c= '새해'
print(str(a),'년해도'+ c +' 복 많이 받으세요!')

2023 년해도새해 복 많이 받으세요!

In [9]:
c= '새해'
print(str(a),'년해도'+ c +' 복 많이 받으세요!')

2023 년해도새해 복 많이 받으세요!

# 표준입력

In [10]:
name = input('이름 입력>')

이름 입력>김철수

In [11]:
name

'김철수'

In [12]:
print(name+'님 안녕하세요!')

김철수님 안녕하세요!

In [13]:
birth = input("출생 연도>")

출생 연도>2001

In [14]:
print(2023-birth,'세 입니다.')

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [15]:
print(2023-int(birth),'세 입니다')

22 세 입니다

In [17]:
name = input('이름을 입력해주세요:')

이름을 입력해주세요:김철수

In [18]:
birth = input('출생 연도를 입력해주세요:')

출생 연도를 입력해주세요:2001

In [19]:
age = 2023-int(birth)

In [20]:
print('안녕하세요!' + name + '님!'+ str(age)+ '세입니다')

안녕하세요!김철수님!22세입니다

## 내장함수

In [ ]:
abs(-2)

In [1]:
bool('py')

True

In [2]:
for num ragne(10):
    print(num)

SyntaxError: invalid syntax (2868169858.py, line 1)

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,11):

IndentationError: expected an indented block (1334445784.py, line 1)

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in {10:'십', 20:'이십',30:'삼십'}:
    print(i)

10
20
30

In [13]:
for i in range(1,11,3):
    print(i)

1
4
7
10

## 리스트

In [6]:
day = list('월화수목금토일')
day

['월', '화', '수', '목', '금', '토', '일']

In [8]:
day[-3]

'금'

#### 슬라이싱

In [10]:
day[1:3]

['화', '수']

In [16]:
day[-4:-2]

['목', '금']

In [17]:
day[1:-1]

['화', '수', '목', '금', '토']

In [18]:
day[1:6:2]

['화', '목', '토']

In [19]:
day[-7:-1:-2]

[]

In [20]:
day[:]

['월', '화', '수', '목', '금', '토', '일']

In [21]:
day[::-1]

['일', '토', '금', '목', '수', '화', '월']

In [22]:
day[-1:-7:-2]

['일', '금', '수']

### 내장함수

In [26]:
import random
dice = random.randint(1,6)
print(dice)

5

In [27]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [28]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [30]:
test_score = [80,60,30,90]
for score in test_score:
    print(score)

80
60
30
90

In [33]:
test_name=['국어','수학','영어','과학']
for name in test_name:
    print(name)

국어
수학
영어
과학

In [37]:
if(10>0):
    print('안녕하세요!')
password = input('패스워드를 입력하시요>')
if (int(password)==12345):
    print('로그인 되었습니다!')
elif (int(password)==11111):
    print('관리자 권한입니다!')
else:
    print('비밀번호를 잘못 입력하셨습니다.')

안녕하세요!
패스워드를 입력하시요>12345
로그인 되었습니다!

####  순서 있는 리스트

In [38]:
arr1 = [1,3,5,7,9]
print(type(arr1))

<class 'list'>

In [40]:
arr2 = ['월','화','수','목','금']
print(type(arr2))

<class 'list'>

In [41]:
arr2 = ['월','화','수','목','금']
print(arr2)

['월', '화', '수', '목', '금']

In [45]:
arr2 = ['월','화','수','목','금','토']
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [47]:
arr2 = ['월','화','수','목','금','토']
print(arr2[-6])
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])

월
토
금
목
수
화

In [49]:
arr1 = [1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [50]:
arr2 = ['월','화','수','목','금','토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7