<a href="https://colab.research.google.com/github/aarash21/aarash21/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_1 = "welcoome to python"
list_1= [i for i in str_1]
list_1

['w',
 'e',
 'l',
 'c',
 'o',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [ ]:
list_2= [i for i in range(20)]
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list_3= [i for i in range(20) if i%2 ==0]
list_3

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**write a program to create a list to display numbers from 1-100 and displays those numbers as odd or even**

In [ ]:
odd= [i for i in range(101) if i%2==1 ]
even= [i for i in range(101) if i%2==0]
print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
str_num= [1,'one',2,'two',3,'three',4,'four',5,'five',6,'six',7,'seven']
list_num= [i for i in str_num if i.isdigit()]
print(list_num)

AttributeError: 'int' object has no attribute 'isdigit'

In [ ]:
str_1= "hello"
str_2= "world"
str_1= str_1 + str_2
print(str_1)

helloworld

In [ ]:
a= (1,2,3,4,5,6,)
for i in enumerate(a):
  print(i)

b= { sapid : 500125536
    dept : "socs"
    university : "upes"}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-24-c97f8ad4d60a>, line 5)

**write a program to find the largest element in a list**

In [ ]:
list1 = []

num = int(input("Enter number of elements in list: "))

for i in range(1, num + 1):
    a = int(input("Enter elements: "))
    list1.append(a)

print("Largest element is:", max(list1))

Enter number of elements in list: 2
Enter elements: 18
Enter elements: 7
Largest element is: 18

**write a python program to create a list of prime numbers from 1-100**

In [11]:
    for i in range(2,101):
    for j in range(2,101):
        if i%j == 0:
            break
        if i == j:
    print(i,end=",")

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-11-d89386753f39>, line 2)

** Write a python code to swap first and last element of list**

In [2]:
list = []
n = int(input("Enter the number of elements in list:"))
for x in range(0, n):
    element = input("Enter element:")
    list.append(element)

print("Your current list is:", list)
temp = list[0]
list[0] = list[n-1]
list[n-1] = temp
print("New list is:", list)

Enter the number of elements in list:5
Enter element:2
Enter element:4
Enter element:6
Enter element:8
Enter element:10
Your current list is: ['2', '4', '6', '8', '10']
New list is: ['10', '4', '6', '8', '2']

**write a program to remove duplicate from a list and sort in ascending order**

In [8]:
list = []
n = int(input("Enter the number of elements in list:"))
for x in range(0, n):
    element = input("Enter element:")
    list.append(element)

    list.sort()
    print(list)

Enter the number of elements in list:3
Enter element:4
['4']
Enter element:2
['2', '4']
Enter element:5
['2', '4', '5']