In [4]:
x="Aditya"
y="singh"
z=x[0]+y[0:5:1]
print(z)

Asingh

In [15]:
a=input("ENTER YOUR NAME")
print("my name is-"+a)

ENTER YOUR NAMEAditya singh
my name is-Aditya singh

In [19]:
b=int(input("ENTER YOUR AGE"))
print(a+" is "+str(b)+" year old")

ENTER YOUR AGE19
Aditya singh is 19 year old

In [16]:
print(f"{a} is {b}year old") #FORMATING

Aditya singh is 55year old

In [13]:
#.formating command

In [20]:
first,last=a.split()
print(f"{first[0]+'. '+last} is {b} year old")

A. singh is 19 year old

In [25]:
name=input("ENTER YOUR NAME")

ENTER YOUR NAME   Aditya singh

In [29]:
print(name.title())
print(name.strip())
print(name.lower())
print(name.upper())

   Aditya Singh
Aditya singh
   aditya singh
   ADITYA SINGH

In [30]:
print(len(name))
print(type(name))

15
<class 'str'>

In [33]:
a=int(input("ENTER NUMBER a:")) #INDENTATION
b=int(input("ENTER NUMBER b:"))
if a>b:
    print("A is larger")
else:
    print("B IS larger")

ENTER NUMBER a:55
ENTER NUMBER b:16
A is larger

In [40]:
num=int(input("ENTER A NUMBER="))
x2=0
if num%2==0:
    print("even")
else:
    print("odd")

ENTER A NUMBER=4
even

In [43]:
a=int(input("ENTER A NUMER"))
c=0
for i in range(2,(a//2)+1):
    if a%i==0:
    c+=1
    break
if c>=1:
    print("NOT PRIME")
else:
    print("prime")

IndentationError: expected an indented block after 'for' statement on line 3 (1027187250.py, line 4)