In [1]:
if 4 + 8 = 12
print ("Everything makes sense")

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (412419590.py, line 1)

In [4]:
if 4+8==12:
print("Everything makes sense".)

IndentationError: expected an indented block after 'if' statement on line 1 (1356329307.py, line 2)

In [7]:
if 4 + 8 == 12:
 print("Everything makes sense")

Everything makes sense

## Concatenation

In [9]:
f_name = "Muhammad" #String
l_name = "Ans" #String
age = 24 #Integer
weight = 50.6 #Float
is_student = True #Boolean

In [13]:
"Student Name of SMIT " + f_name + " " + l_name #Methond 1 using + Operator

'Student Name of SMIT Muhammad Ans'

In [14]:
# Method 2 f"" Format

f"Student Name of SMIT {f_name} {l_name}"

'Student Name of SMIT Muhammad Ans'

In [15]:
# Method 3 .format () takes variable to be concate starts 0 index

"Student Name of SMIT {0} {1}".format(f_name, l_name)

'Student Name of SMIT Muhammad Ans'

## Conditional Statements

## Syntax

if <condition>:
    <if body>
else:
    <else body>

result = "loss" #"win"/"loss"/"tie"

if result == "win":
    print("Pakistai's will celeberate)
else:
    print("Pakistai's will criticize")

In [18]:
result = "loss"

if result == "win":
    print("Pakistan Celeberate")
else:
    print("Pakistan criricise")

Pakistan criricise

### If-elif-else

In [20]:
# Example Mutiple elif

result = "tie"

if result == "win":
    print("Pakistan Celeberate")
elif result == "tie":
    print("Both Teams will get 1 point")
else:
    print("Pakistan criricise")

Both Teams will get 1 point

In [22]:
vehicle = "suzuki,toyota,honda"

In [53]:
vehicle = input("Enter your Vehicle Name")

if vehicle == "suzuki":
    print("Mehran")
elif vehicle == "toyota":
    print("Corolla")
elif vehicle == "Honda":
    print("Civic")
else:
    print("Not Found")

Enter your Vehicle Name suzuki

Mehran

In [13]:
# Example 02

species = "dog"

if species == "dog":
    status = "ok"
    kingdom = "animal"
    print("Yep its a dog of", kingdom)

Yep its a dog of animal

In [46]:
#Example 03

marks = 50

if marks >= 80:
    print("Your Grade is A+")
elif marks >= 60:
    print("Your Grade is A")
elif marks >= 50:
    print("Your Grade is B")
elif marks >= 45:
    print("Your Grade is C")
else:
    print("Your Grade is F")

Your Grade is B

In [49]:
#Example 03

marks = int(input("enter your marks"))

if marks >= 80:
    print("Your Grade is A+")
elif marks >= 60:
    print("Your Grade is A")
elif marks >= 50:
    print("Your Grade is B")
elif marks >= 45:
    print("Your Grade is C")
else:
    print("Your Grade is F")

enter your marks 85

Your Grade is A+

In [45]:
input("enter your Marks") #Input Function always written string output

enter your Marks 44

'44'

In [47]:
int(input("enter your marks"))

enter your marks 22

22

### Comparison Operators

In [54]:
95 == 80

False

In [55]:
95 != 80

True

In [56]:
95 >= 80

True

In [57]:
95 >= 80

True

In [58]:
if result = "loss":

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (251580288.py, line 1)

In [59]:
if result != "win":
    print("Better Luck Next Time")

Better Luck Next Time

In [60]:
is_fresh = True
all_available = True
price = "average" #Average, Low, High

In [61]:
is_fresh = True
all_available = True
price = "average" #Average, Low, High

score = 5

if all_available:
    score = 5
if is_fresh:
    score +=5
if price == "average":
    score += 5
print(score)

15

### Testing sets of conditions

In [15]:
# aANND => all conditons must be TRUE
# OR => one condition must be TRUE

# A B   AND   OR
# 0 0    0     0
# 1 0    0     1
# 0 1    0     1
# 1 1    1     1

# NOT => Opposite case
# 0 --> 1
# 1 --> 0

In [20]:
# AND Statement

percentage_inter = int(input("Enter Your Percentage: "))
age_limit = int(input("Enter Your Age:"))

if (percentage_inter > 60) and (age_limit >= 18):
    print("Eligible to Take admission in University")
else:
    print("Not Eligible")

Enter Your Percentage:  55
Enter Your Age: 20

Not Eligible

In [22]:
# OR Statement

percentage_inter = int(input("Enter Your Percentage: "))
age_limit = int(input("Enter Your Age:"))

if (percentage_inter >= 60) or (age_limit >= 18):
    print("Eligible to Take admission in University")
else:
    print("Not Eligible")

Enter Your Percentage:  60
Enter Your Age: 12

Eligible to Take admission in University

In [23]:
not True

False