In [66]:
x = ["apple", "Banana", "Kiwi","andy"]
for abc in x:
    print ("angela loves",abc.title())

angela loves Apple
angela loves Banana
angela loves Kiwi
angela loves Andy

In [67]:
x = ( 208974, 31, 42, 55, 26)
for h in x:
    print ("I chose", h)

I chose 208974
I chose 31
I chose 42
I chose 55
I chose 26

In [68]:
y = {103,45,43435,3,4,9384,4383,3,8384,438,733,374,3344,8374,3734,8384,3838,43848,845955,9950}
small = []
large = []
for i in y:
    if i > 8000: 
        large.append(i)
    else:
        small.append(i)
print ("large numbers are",large,"and small numbers are",small)

large numbers are [8384, 845955, 43848, 9950, 9384, 43435, 8374] and small numbers are [3, 4, 3344, 3734, 733, 4383, 103, 45, 438, 374, 3838]

In [69]:
#from y differentiate even and odd numbers
y = {103,45,43435,3,4,9384,4383,3,8384,438,733,374,3344,8374,3734,8384,3838,43848,845955,9950}
even = []
odd = []
for w in y:
    if w%2 == 0:
        even.append(w)
    else:
        odd.append(w)
print ("Even numbers are",even)
print ("Odd numbers are",odd)

Even numbers are [8384, 4, 43848, 3344, 3734, 9950, 9384, 438, 374, 8374, 3838]
Odd numbers are [3, 845955, 733, 4383, 103, 43435, 45]

In [70]:
x =  {"apple": "red", "cherry": "red", "strawberry": "red", "mango": "yellow", "tomato": "red", "kiwi": "green", "orange_expired": "yellow", "melon": "green"}
red = []
yellow = []
green = []
for a,b in x.items():
    if b == "red":
        red.append(a)
    if b == "yellow":
        yellow.append(a)
    if b == "green": 
        green.append(a)

print ("all the red foods are",red)
print ("all the yellow foods are",yellow)
print ("all the green foods are",green)

all the red foods are ['apple', 'cherry', 'strawberry', 'tomato']
all the yellow foods are ['mango', 'orange_expired']
all the green foods are ['kiwi', 'melon']

In [71]:
fruit_shapes = {'apple': 'round','banana': 'curved','orange': 'round','strawberry': 'heart-shaped','kiwi': 'oval','watermelon': 'oblong','grape': 'round','pineapple': 'oval','pear': 'bell-shaped','mango': 'oval'}
round = []
curved = []
for a,b in fruit_shapes.items():
    if b == "round":
        round.append(a)
    if b == "curved":
        curved.append(a)
print ("all the curved fruits are",curved)
print ("all the round fruits are",round)

all the curved fruits are ['banana']
all the round fruits are ['apple', 'orange', 'grape']

In [72]:
###
countries = {
    "United States": "Wealthy",
    "Switzerland": "Wealthy",
    "Singapore": "Wealthy",
    "Luxembourg": "Wealthy",
    "Norway": "Wealthy",
    "Qatar": "Wealthy",
    "Ireland": "Wealthy",
    "Denmark": "Wealthy",
    "Australia": "Wealthy",
    "Sweden": "Wealthy",
    "Democratic Republic of the Congo": "Poor",
    "Mozambique": "Poor", "Malawi": "Poor","Burundi": "Poor","Niger": "Poor","Liberia": "Poor","Madagascar": "Poor","Central African Republic": "Poor","Zimbabwe": "Poor","Eritrea": "Poor"}
poor = []
wealthy = []
for a,b in countries.items():
    if b == "Poor":
        poor.append(a)
    if b == "Wealthy":
        wealthy.append(a)
print ("all the poor countries are",poor)
print ("all the wealthy countries are",wealthy)

all the poor countries are ['Democratic Republic of the Congo', 'Mozambique', 'Malawi', 'Burundi', 'Niger', 'Liberia', 'Madagascar', 'Central African Republic', 'Zimbabwe', 'Eritrea']
all the wealthy countries are ['United States', 'Switzerland', 'Singapore', 'Luxembourg', 'Norway', 'Qatar', 'Ireland', 'Denmark', 'Australia', 'Sweden']

In [73]:
blood_pressure = [(124, 76), (103, 68), (112, 71), (130, 86), (138, 73), (118, 77), (97, 63), (132, 82), (99, 67), (119, 76), (137, 84), (124, 67), (115, 75), (105, 67), (128, 79), (92, 66), (133, 78), (96, 61), (126, 85), (108, 68), (10000000000, 0)]



# find those people who has blood pressure more than 120
# find those people who have no blood pressure less than 
high_people = []
low_people = []
for a,b in blood_pressure:
    if a > 120:
        high_people.append((a,b))
    elif b < 80:
        low_people.append((a,b))
print ("the low boold presure are",low_people)
print ("the high boold presure are",high_people)

the low boold presure are [(103, 68), (112, 71), (118, 77), (97, 63), (99, 67), (119, 76), (115, 75), (105, 67), (92, 66), (96, 61), (108, 68)]
the high boold presure are [(124, 76), (130, 86), (138, 73), (132, 82), (137, 84), (124, 67), (128, 79), (133, 78), (126, 85), (10000000000, 0)]

In [74]:
aaaa={'Johnny': 102, 'Alice': 100, 'Mikey': 104, 'Emily': 101, 'Sarah': 103, 'Mrandy': 103, 'Angelathethird' : 101, }
whyyyyyyyy=[]
# Those people who has temperature more than 102
for each in aaaa:
    if aaaa[each]>102:
        whyyyyyyyy.append(each)
        print(each)
    else:
        pass

Mikey
Sarah
Mrandy

In [75]:
### eat bananas in python
eat_bananas_in_python=print
eat_bananas_in_python("eat bananas in python")

eat bananas in python

In [76]:
x = (12121212121212111,1233,111111111,333333333333)
for each in x:
    if each%3 == 0:
        print ("It's divisible by 3",each)

It's divisible by 3 12121212121212111
It's divisible by 3 1233
It's divisible by 3 111111111
It's divisible by 3 333333333333

In [77]:
##Make a list of negative and positive numbers and differentiate negative and positive numbers in different container 
x = [-1,0,432,-324,52-12,2134,-2314,23465,-1243564,32543576,-132546,123243546,-324365476586,24356765432,-123245287468764786565354565463549782346,1,2,3,1,2,1,1,2]
pos=[]
neg=[]
zer=[]
for each in x:
    if each >0:
        pos.append(each)
    elif each <0:
        neg.append(each)
    else:
        zer.append(each)
print ("numbers that are positive are", pos)
print ("numbers that are negative are", neg)
print ("numbers that are not positive and not negative are", zer)

numbers that are positive are [432, 40, 2134, 23465, 32543576, 123243546, 24356765432, 1, 2, 3, 1, 2, 1, 1, 2]
numbers that are negative are [-1, -324, -2314, -1243564, -132546, -324365476586, -123245287468764786565354565463549782346]
numbers that are not positive and not negative are [0]

In [78]:
#### 1. Make a list of random number from 1 to 20
### 2. Make a list of those numbers which are less than 5
## 3. Make a list of those numbers which are between 5 and 15
## 4. Make a list of numbers which are more than 15
# Print all of them
x = [11, 14, 19, 8, 10, 4, 9, 6, 5, 12, 18, 16, 1, 17, 15, 7, 20, 2, 13, 3]

In [79]:
x =  10
y = 20
z = 2*y - 3*x
print (z)

10

In [80]:
x =  20
y = 30
z = 2 * y - 3 * x
print (z)

0

In [81]:
x =  40
y = 50
z = 2 * y - 3 * x
print (z)

-20

In [82]:
# how to make a function
def angelafunction(andy,andy2):
    z = 2 * andy2 - 3 * andy 
    return z

In [83]:
angelafunction (10,20)

10

In [84]:
angelafunction (20,30)

0

In [85]:
# Make a function that will take a list as input ... List of numbers 
## And the function will return only even numbers
def asdfghjkl (x):
    alleven = []
    for each in x:
        if each%2 == 0:
            alleven.append(each)
    return alleven

In [86]:
asdfghjkl([1,2,3,4,5,6,7,8,9,0,1,1,1,111111112,2,3,4,5,7,7,8,8,5,3,1,4,5,666775234542134567765432,3534665874535124])

[2,
 4,
 6,
 8,
 0,
 111111112,
 2,
 4,
 8,
 8,
 4,
 666775234542134567765432,
 3534665874535124]

In [87]:
# to find the sum, devision, and product and difference.
def qwertyuiop (x, y):
    a = x + y
    b = x - y
    c = x * y
    d = x / y
    return a,b,c,d

In [88]:
qwertyuiop (2, 20)

(22, -18, 40, 0.1)

In [89]:
def power (f,d,t):
    w = f * d
    p = w / t
    return w,p

In [90]:
power (10,21893465406,2)

(218934654060, 109467327030.0)

In [91]:
power (100,1000,10)

(100000, 10000.0)

In [92]:
# Make function which will take a list as input It will sort the list And finally it will remove 1st element
def maaaaa(number):
    number.sort()
    del(number[0])
    return(number)
maaaaa([1634635,235,153,6941,651,24674259,41,65,265,167853,2,5176,526,239,5719,327856,417603465750784683])

[41,
 65,
 153,
 235,
 239,
 265,
 526,
 651,
 5176,
 5719,
 6941,
 167853,
 327856,
 1634635,
 24674259,
 417603465750784683]

In [93]:
# make list of food, remove the first 2 elements from the list.append

def maaaaa(number):

IndentationError: expected an indented block (4038094325.py, line 3)

In [ ]:
    number.d()
    del(number[0])
    return(number)
maaaaa([1634635,235,153,6941,651,24674259,41,65,265,167853,2,5176,526,239,5719,327856,417603465750784683])

NameError: name 'number' is not defined

In [ ]:
### add two numbers and return using a funcction
def sss (a,b):
    return a + b

In [ ]:
sss (2,3)

5

In [ ]:
def aaa (a,b,c):
    return a * b * c

In [ ]:
aaa (1,2,3)

6

In [ ]:
## from list remove first two element
bbb = ["cat", "dog", "duck", "chicken", "fish"]
del bbb[0:2]
print(bbb)

['duck', 'chicken', 'fish']

In [ ]:
### we have 10kg 20kg and 40kg weight,,,,
### equal force of 10 newton is being applied
### if F = m * a.... then can you find accelration

def asdfghjkl(f,m):
    a = f / m
    return a

In [ ]:
asdfghjkl (10,10)

1.0

In [ ]:
asdfghjkl (10,20)

0.5

In [ ]:
asdfghjkl (10,40)

0.25

In [ ]:
banana = {"banana", "bananasplit", "bananapancake", "bananamilkshake", "bananacupcake"}
banana = list(banana)
print (banana[-3:-1])

['bananapancake', 'bananacupcake']

In [ ]:
# make a dictionary of andy 
asdfghjkl = {"hand":2,
"eyes":2,
"nose":1,
"leg":2,
"butt":4,
"hair":0,
"ear":3,
"mouth":5,
"brain":123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890}

for each in asdfghjkl:
    print ("andy has",asdfghjkl[each],each)

andy has 2 hand
andy has 2 eyes
andy has 1 nose
andy has 2 leg
andy has 4 butt
andy has 0 hair
andy has 3 ear
andy has 5 mouth
andy has 123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890 brain

In [ ]:
### make dictionary of your books and pages....
### my englsh book has 200 pages
## 
baaa = {"Science": 21, "Math":2, "English":213, "PE":0}
for each in baaa:
    print ("i have",baaa[each],"pages","in my",each,"book")

i have 21 pages in my Science book
i have 2 pages in my Math book
i have 213 pages in my English book
i have 0 pages in my PE book

In [ ]:
y = [1000,2000,2,3,4,5,6,7,8,9,10]
z = ["hehehehehe"]
for each in y:
    z.append(each)
print(z)

['hehehehehe', 1000, 2000, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
x = [5,10,20,30,53,4,33]
# runa for loop and print all value of x
angela = []
for each in x:
    if each >12:
        angela.append(each)
angela

[20, 30, 53, 33]

In [98]:
temps = [100,102,102.5,101.2]
for temp in temps:
    if temp > 100:
        print("Oh no, Fever!")
    elif temp < 95:
        print("Oh no, cold!")
    else:
        print("Normal")

Normal
Oh no, Fever!
Oh no, Fever!
Oh no, Fever!

In [106]:
temperature_dict = {
    "John": 98.6,
    "Emily": 99.1,
    "Michael": 97.9,
    "Sarah": 98.2,
    "David": 99.5,
    "Jessica": 98.7,
    "Christopher": 98.9,
    "Amanda": 98.4,
    "Daniel": 99.3,
    "Rachel": 98.8
}
### generate a code which will tell,,, each name and it will tell 
for each in temperature_dict:
    print("the tempreture of", each,"is", temperature_dict[each])

the tempreture of John is 98.6
the tempreture of Emily is 99.1
the tempreture of Michael is 97.9
the tempreture of Sarah is 98.2
the tempreture of David is 99.5
the tempreture of Jessica is 98.7
the tempreture of Christopher is 98.9
the tempreture of Amanda is 98.4
the tempreture of Daniel is 99.3
the tempreture of Rachel is 98.8

In [107]:
baa = {
    "John": 99,
    "Emily": 100,
    "Michael": 101,
    "Sarah": 102,
    "David": 103,
    "Jessica": 104,
    "Christopher": 100,
    "Amanda": 101,
    "Daniel": 102,
    "Rachel": 105
}
# if temper is 99 then medicine _drandy_1
# if temper is 100 then medicine _drandy_2
# if temper is 101 then medicine _drandy_3
# if temper is 102 then medicine _drandy_4
# if temper is 103 then medicine _drandy_5
# if temper is 104 then medicine _drandy_6
# if temper is 105 then meet with dr andy urgently


for each in baa:
    temperature = baa[each]
    if temperature == 99:
        print(each,"needs","medicine _drandy_1")
    elif temperature == 100:
        print(each,"needs","medicine _drandy_2")
    elif temperature == 101:
        print(each,"needs","medicine _drandy_3")
    elif temperature == 102:
        print(each,"needs","medicine _drandy_4")
    elif temperature == 103:
        print(each,"needs","medicine _drandy_6")
    else:
        print(each,"needs to eat meat with drandy")

John needs medicine _drandy_1
Emily needs medicine _drandy_2
Michael needs medicine _drandy_3
Sarah needs medicine _drandy_4
David needs medicine _drandy_6
Jessica needs to meat with drandy
Christopher needs medicine _drandy_2
Amanda needs medicine _drandy_3
Daniel needs medicine _drandy_4
Rachel needs to meat with drandy