# Module 1. Python Basics

In [1]:
# Press shift-enter to run each block

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 1.1 Basic math operations

In [3]:
# Run these basic examples on your machine
print(5+2, 5-2)
5*2
5/2
5//2 #integer division
5**2 #5 squared
5%2 #modulus

7 3

10

2.5

2

25

1

In [4]:
# Remember your order of operations (when in doubt, use parentheses)
(100 - 5 ** 3) / 5
6 + 15 % 4 
2 ** 2 + 24 // 4

-5.0

9

10

In [5]:
# Spacing can improve readability (but doesn't change the result)
6+5
6 + 5

11

11

## 1.2 Major data types (integer, float, string)

In [6]:
# major data types
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)
print(type(x))
print(type(y))

3
3
3.0
<class 'str'>
<class 'int'>

In [7]:
# Use type function to identify data types of variables (or values)
type(6)
type(6.0)
type('6.0')

int

float

str

In [8]:
# What happens when you add an int and float?
5 + 3.14
type(5 + 3.14)

8.14

float

In [9]:
# Convert to different types
int(7.99999999)
float(6)

7

6.0

In [10]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x, y, z)

1 2 3

In [11]:
# Exponents (10 to the power)
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

x, y, z

<class 'float'>
<class 'float'>
<class 'float'>

(35000.0, 120000.0, -8.77e+101)

In [12]:
# Complex numbers
# Python uses j instead of i. Remember from calculus: i-squared = -1
(2 + 3j)/(1 - 5j)

(-0.5+0.5j)

In [13]:
# Random number generation similar to RANDBETWEEN in Excel
import random
print(random.randrange(1, 1000))

832

## 1.3 Collections of Data

In [14]:
# 4 built-in data types in Python used to store collections of data, 
# List, Tuple, Set, and Dictionary, all with different qualities and usage.
# We will see these types later in Section 1.9

## 1.4 Variables

In [15]:
x = 2
x + 1

3

In [16]:
x = 3.0
x + 1

4.0

In [17]:
# Python is dynamically typed (vs. unchanging types)
y = 10
y = y - 10.0
type(y)

float

### 1.4.1 Reassigning variables in terms of themselves

In [18]:
# Auto increment/decrement/multiply
x = 3
x = x + 1
x

x = 3
x += 1
x

x = 3
x -= 1
x

x = 3
x *= 5
x

4

4

2

15

In [19]:
# Variables can not start with numbers, special characters, keywords, nor built-in types
#$&^city = "NOLA"
# Illegal variable names
#8foxes = "Polar"
#my-car = "Bugatti"
#my var = "Silver"

# Legal variable names
# Legal variable names
myvar = "All work "
_my_var = "and "
MYVAR = "no play "
myvar2 = "makes "

# Most common (and popular) variable notations (cases):  
myAwesomeVar = "Jack "      # camelCase
MyAwesomeVar = "a dull "    # PascalCase
my_awesome_var = "boy. "    # snake_case

# concatinate words (Note a space is added at the end of each word.
sentence = myvar + _my_var + MYVAR + myvar2 + myAwesomeVar + MyAwesomeVar + my_awesome_var

print(sentence)

All work and no play makes Jack a dull boy.

In [20]:
# variables cannot contain spaces between characters
best city = 'New Orleans'   # fix this

SyntaxError: invalid syntax (2185672408.py, line 2)

In [ ]:
# Avoid keywords (reserved words) when naming variables, or Python will throw an error.
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Underscores are helpful
best_city = 'New Orleans'
best_city

'New Orleans'

### 1.4.2 Declaring multiple variables (the Pythonic way)

In [ ]:
# Assignments: Multiple Values to Multiple Variables
x, y, z = 8., 5, 'cat'
x
y
z
# print(x, y, z)

8.0

5

'cat'

In [ ]:
# Assignments: One Value to Multiple Variables
x = y = z = "Diamond"
print(x, y, z)

Diamond Diamond Diamond

In [ ]:
x = "MGSC"
y = 4790
z = "is a great class!"
print(x, y, z)
#print(x + y + z) # Make this work

MGSC 4790 is a great class!

In [ ]:
# Defining a function
x = "awesome"

def myfunc():
  print("Python is " + x + x)

myfunc()

Python is awesomeawesome

In [ ]:
# Notice the scope of variables x and x
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

## 1.5 Docstrings vs. comments

In [ ]:
# This is a multi-line comment
"""
Docstrings are like comments in that nothing happens when
you execute this cell.  However, they are typically used 
when developers want to provide a description on what
a particular 'document' (e.g. program, function, class, etc.)
actually does.  These descriptions typically span
multiple lines vs. comments which typically span one line.
"""

"\nDocstrings are like comments in that nothing happens when\nyou execute this cell.  However, they are typically used \nwhen developers want to provide a description on what\na particular 'document' (e.g. program, function, class, etc.)\nactually does.  These descriptions typically span\nmultiple lines vs. comments which typically span one line.\n"

## 1.6 Strings

In [ ]:
# Single or double qoutation doesn't matter
bookstore = 'City Lights'
bookstore
bookstore = "City Lights"
bookstore

'City Lights'

'City Lights'

In [ ]:
# Be consistent!
bookstore = 'City Lights"

SyntaxError: unterminated string literal (detected at line 2) (4128461234.py, line 2)

In [ ]:
#strings with apostrophes
bookstore = 'Moe's'

SyntaxError: unterminated string literal (detected at line 2) (1748678059.py, line 2)

In [ ]:
bookstore = "Moe's"
bookstore

"Moe's"

In [ ]:
# Backslash is used for special characters (escape sequence) 
bookstore = 'Moe\'s'
bookstore

"Moe's"

### 1.6.1 Multi line strings

In [ ]:
# multy line string
haiku = """Leaves of greenish hues,
As the bright sun hugs your back,
Spring whispers its hymns."""

haiku
# Notice the escape sequences denoting the line breaks (\n)

print(haiku)
print(len(haiku))   #returns the length of the string

#no char type, a single character is simply a string with a length of 1
print(haiku[0])    # first character has the position 0
print(haiku[1])

'Leaves of greenish hues,\nAs the bright sun hugs your back,\nSpring whispers its hymns.'

Leaves of greenish hues,
As the bright sun hugs your back,
Spring whispers its hymns.
85
L
e

In [ ]:
# Get the characters from position 2 to position 15 (not included):
print(haiku[2:15])
# From starting position to position 15 (not included):
print(haiku[:15])
# you can go the other direction, as well <--  :)
print(haiku[-15:-2])
print(haiku[-15:])

aves of green
Leaves of green
pers its hymn
pers its hymns.

In [ ]:
# We can change the case of letters
print(haiku.upper())

#print(haiku.lower())

#print(haiku[2:15].upper())

LEAVES OF GREENISH HUES,
AS THE BRIGHT SUN HUGS YOUR BACK,
SPRING WHISPERS ITS HYMNS.

### 1.6.2 String concatenation

In [ ]:
greeting = 'Howdy'
print(greeting + 'Sir.')
greeting = 'Howdy '
print(greeting + 'Sir.')
print(greeting * 5)

HowdySir.
Howdy Sir.
Howdy Howdy Howdy Howdy Howdy

### 1.6.3 String interpolation

In [ ]:
greeting = 'Howdy'
print('Should we greet clients with', greeting, 'in business engagements?')

Should we greet clients with Howdy in business engagements?

In [ ]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner,age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

In [ ]:
age = 36
txt = "My name is John, I am " + str(age) + "."
print(txt)

My name is John, I am 36.

In [ ]:
age = 36
txt = "My name is John, and I am {}."
print(txt.format(age))

My name is John, and I am 36.

### 1.6.4 Built-in string functions

In [ ]:
len(greeting)

5

In [ ]:
# Use tab completion to find variables
# Type len(g then hit the tab button
# Type greeting. then hit the tab button    What is this? Emin

In [ ]:
greeting.lower()
greeting.upper()
greeting.endswith('y')
greeting.count('v')

'howdy'

'HOWDY'

True

0

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:
a = "   Python   Rules!   "
print(a.strip())

Python   Rules!

In [ ]:
# The replace() method replaces a string with another string:
a = "Python Rules!"
print(a.replace("Rules", "Fools"))

Python Fools!

In [ ]:
# The split() method splits the string into substrings if it finds instances of the separator:
print(haiku.split(" ")) # returns individual words. Notice the end of line character: "\n"

['Leaves', 'of', 'greenish', 'hues,\nAs', 'the', 'bright', 'sun', 'hugs', 'your', 'back,\nSpring', 'whispers', 'its', 'hymns.']

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt.index("are")
txt[3]
txt[:5]
txt[5:]

3

'a'

'We ar'

'e the so-called "Vikings" from the north.'

### 1.6.5 Casting

In [ ]:
type('5')
'5' + '7'
int('5') + int('7')

str

'57'

12

In [ ]:
x = 10    # int

a = float(x)    #convert from int to float:
b = int(5.0)    #convert from float to int:
c = complex(x)  #convert from int to complex:
d = str(x)      #convert from int to string:

print(a, b, c, d)

print(type(a), type(b), type(c), type(d))

10.0 5 (10+0j) 10
<class 'float'> <class 'int'> <class 'complex'> <class 'str'>

### 1.6.6 Inputs from user

In [ ]:
# Before running this cell, please save your kernel
print('What is your name?')
name = input()
print('Hello, ' + name + '.')
# If an error arises, restart the kernel

What is your name?
Hello, .

### 1.6.7 String slicing and indexing

In [ ]:
# Python starts at 0 when indexing
destination = 'New Orleans'
destination[0]
destination[1]
destination[-1]
destination[7]
destination.count('e')

'N'

'e'

's'

'e'

2

In [ ]:
# Slicing
destination[0:7]
# Caution: lower bound of slice is always included, but upper bound is not!

'New Orl'

In [ ]:
# Shortcut: omit the first numerical character to start at the beginning
destination[:10]
# Shortcut: omit the last numerical character to go to the end and use a negative to specify how many before
destination[-3:]
# Also, check this:
destination[:-3]

'New Orlean'

'ans'

'New Orle'

## 1.7 Booleans and conditionals

In [ ]:
over_18 = True
type(over_18)

bool

In [ ]:
over_21 = False
over_21

False

### 1.7.1 Logical operators

In [ ]:
over_18 and over_21
over_18 or over_21
not over_18
not over_21 or (over_21 or over_18)   # Combine logical operators
not (over_21 or (over_21 or over_18)) # Parentheses matter

False

True

False

True

False

### 1.7.2 Comparison Operators

In [ ]:
age = 20
age < 13
age >= 4
age == 20
age != 20
age >= 20 and age <= 21 # Combine with logical operators

False

True

True

False

True

In [ ]:
# Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)
print(10 <= 9)
print(10 >= 9)
print(10 != 9)
print("a" == "a")
print("A" == "a")
print("a" < "b")

True
False
False
False
True
True
True
False
True

In [ ]:
# Equivalence can take place across different data types
6 == 6.0 

# But not always
6 == '6'

# Pro tip: cast objects to be the same type before checking equivalence

True

False

In [ ]:
age = 20

# Use parentheses for clarity
(20 <= age < 30) or (30 <= age < 40)

True

### 1.7.3 Comparing strings

In [ ]:
# Alphabetical order is used to compare strings
'a' < 'c'
'Austin' > 'New Orleans'
'A' < 'a'
'1' < 'A'

True

False

True

True

In [ ]:
# blank is false, any non-zero integer is true
x = ""
y = -15

print(bool(x))
print(bool(y))

print(x is y)

print(isinstance(y, int))  #isinstance function checks the data type

False
True
False
True

### 1.7.4 Conditionals (if statements)

In [ ]:
age=20
if age < 18:
    print('You aren\'t old enough to vote.')

"""
important features of the if statement:
1) if keyword (start here)
2) everything between the if keyword and the colon (:) is the condition to be checked
3) colon(:) indicates the completion of the condition (compiler 
   then looks back to see if condition is true or false)
4) everything that follows the colon MUST be indented
"""

'\nimportant features of the if statement:\n1) if keyword (start here)\n2) everything between the if keyword and the colon (:) is the condition to be checked\n3) colon(:) indicates the completion of the condition (compiler \n   then looks back to see if condition is true or false)\n4) everything that follows the colon MUST be indented\n'

In [ ]:
# Indentation matters!! (generally can be accomplished with 4 spaces or the tab key)
age=20
if age > 18:
    print('You aren\'t old enough to vote.')

IndentationError: expected an indented block after 'if' statement on line 3 (1541751049.py, line 4)

In [ ]:
# Nested conditionals with more indentation
age=20
if age >=18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

You can vote.

### 1.7.5 Conditionals (if-else)

In [ ]:
age=20
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

### 1.7.6 Conditionals (elif)

In [ ]:
# Sort for else if
age=20
if age <= 10:
    print('Listen, learn, and have fun.')
elif age <= 19:
    print('Go fearlessly forward.')
else:
    print('Each day is magical.')

Each day is magical.

## 1.8 Loops

### 1.8.1 While loops

In [ ]:
# While loop example
i = 1 # initialize the variable
while i <= 10: # set up the condition that must be met for the loop to run
    print(i)   # specify what should be done if the condition is met
    i += 1     # increment the variable
    
# Note: you will get stuck in infinite loops.  It happens to everyone.  When this happens,
# just restart the kernel.

1
2
3
4
5
6
7
8
9
10

### 1.8.2 Breaks

In [ ]:
x=100
while x <= 1000:
    x += 1
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

 102 is the first number greater than 100 that is divisible by 17.

### 1.8.3 Exercise: The Real Estate Offer

In [ ]:
print('A one bedroom in the Bay Area is listed at $599,000.')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))

offer_accepted = False
while offer <= best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    else:
        print('We\'re sorry, you\'re offer of',offer,'has not been accepted.')
        offer += increment

A one bedroom in the Bay Area is listed at $599,000.
Enter your first offer on the house.
122222
Enter your best offer on the house.
12221
How much more do you want to offer each time?
121212

### 1.8.4 For loops

In [ ]:
for i in 'Tulane':
    print(i)

T
u
l
a
n
e

In [ ]:
for i in range(1,10):
    print(i)
# Notice the range doesn't include 10

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print(i)
# Providing only 1 argument to range uses 0 to start and gives the first 10 numbers

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11,2):
    print(i)
# The third argument is the increment

1
3
5
7
9

In [ ]:
for i in range(3,0,-1):
    print(i)
# Increments can be negative

3
2
1

In [ ]:
# Remember the sentence?

print(sentence)

All work and no play makes Jack a dull boy.

In [ ]:
# How many repeats?
for x in sentence:
  print(sentence)

All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.
All work and no play makes Jack a dull boy.

In [ ]:
# Check if a given word ("Jack", "peace") is present in the sentence:
print("Jack" in sentence)

if "Jack" in sentence:
    print("Here's Johnny")

if "peace" not in sentence:
    print("No peace found.")

### The continue keyword

In [ ]:
# Used to interrupt the instructions provided in the loop and return to the beginning of the loop
for num in range(10,100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)
    # What is the output from this loop?

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 1.9 Collections of Data

In [ ]:
# 4 built-in data types in Python used to store collections of data, 
# List, Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
# This is a summary of the data types we have seen plus additional ones
# as well as collection types
a = "Hello World"  #string
b = 20
c = 20.5
d = 1j       #complex
e = frozenset({"apple", "banana", "cherry"}) #frozenset
f = True #bool
g = b"Hello" #bytes
h = bytearray(5) #bytearray
i = memoryview(bytes(5)) #memoryview
k = None #NoneType

#collection types
l = range(6) #range
m = ["apple", "banana", "cherry"] #list
n = ("apple", "banana", "cherry") #tuple
o = {"name" : "John", "age" : 36} #dict
p = {"apple", "banana", "cherry"} #set

a

'Hello World'

### 1.9.1 List

In [ ]:
# Lists are created using square brackets. (ordered, changeable, and allow duplicates)
thislist = ["apple", "banana", "apple", "cherry", "banana", "cherry", "orange"]
print(thislist)
print(thislist[0], thislist[1], thislist[-1])
print(thislist[:3])
print(thislist[-4:-1])
print("apple" in thislist)
print("pineapple" in thislist)

In [ ]:
# Change items in a range.
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'banana', 'cherry', 'orange']

In [ ]:
# The number of itemswe replace doesn't need to be equal.
thislist[1:2] = ["blackcurrant", "watermelon", "pear"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'pear', 'watermelon', 'pear', 'watermelon', 'cherry', 'banana', 'cherry', 'orange']

In [ ]:
# insert an item
thislist.insert(2, "fig")

In [ ]:
print(thislist)

['apple', 'blackcurrant', 'fig', 'watermelon', 'pear', 'watermelon', 'pear', 'watermelon', 'cherry', 'banana', 'cherry', 'orange']

In [ ]:
# append an item
thislist.append("fig")

In [ ]:
print(thislist)

['apple', 'blackcurrant', 'fig', 'fig', 'watermelon', 'pear', 'watermelon', 'pear', 'watermelon', 'cherry', 'banana', 'cherry', 'orange', 'fig']

In [ ]:
# extend with a new list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# it doesn';'t have to extended with a list rather it can be with tuple or dictionary
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
## 1.3 Collections of Data

# 4 built-in data types in Python used to store collections of data, 
# List, Tuple, Set, and Dictionary, all with different qualities and usage.

### 1.3.1 List

# Lists are created using square brackets. (ordered, changeable, and allow duplicates)
thislist = ["apple", "banana", "apple", "cherry", "banana", "cherry", "orange"]
print(thislist)
print(thislist[0], thislist[1], thislist[-1])
print(thislist[:3])
print(thislist[-4:-1])
print("apple" in thislist)
print("pineapple" in thislist)

# Change items in a range.
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

# The number of itemswe replace doesn't need to be equal.
thislist[1:2] = ["blackcurrant", "watermelon", "pear"]
print(thislist)

# insert an item
thislist.insert(2, "fig")

print(thislist)

# append an item
thislist.append("fig")

print(thislist)

# extend with a new list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

# it doesn't have to be extended with a list rather it can be with tuple or dictionary
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
# Copy paste other collection data examples from w3schools