In [29]:
print("hello world" , 7 ,8,sep="~" ,end="009")
num = input("wht is your age?")
print("yourAGE IS" , num)

hello world~7~8009

wht is your age? 5

yourAGE IS 5

In [53]:
import math

In [54]:
def add_user(self):
    print("hello")
    print(input("what is your name?"))

In [55]:
add_user(2)

hello

what is your name? video games project

video games project

In [68]:
#explicit typecasting
a="1"
b=2
print(int(a) + b)

3

In [69]:
#implicit typecasting
c=1.8
d=7
print(c+d)

8.8

In [76]:
#user input
fruit =print( input("wghat is your favourite fruit?"  ))
x = input("give your first num ? ")
y = input("give your second num ?")
print(int(x) + int(y))

wghat is your favourite fruit? mango

mango

give your first num ?  5
give your second num ? 5

10

In [86]:
#string
name = "rohan how are you"
print("hello " + name)
#multiline string
freind = ''' ninjcndncn dchudhcfu dcuhcu 
uncudnc dcicn jdiedni 
cnudencu ''' 
print(freind)
print(name[-5])
for character in name:
    print(character)

hello rohan how are you
 ninjcndncn dchudhcfu dcuhcu
uncudnc dcicn jdiedni
cnudencu
e
r
o
h
a
n

h
o
w

a
r
e

y
o
u

In [107]:
#string slicing and operation
name = "harry gupta!!!!!"
print(name[0:])
print(len(name))
print(name[-7:-2])
nm = "harry"
print(nm[-4:-2])

harry gupta!!!!!
16
ta!!!
ar

In [124]:
#string methods in python 
print(name.upper())
print(name.lower())
print(name.rstrip("!"))
print(name.replace("harry" , "john"))
print(name.split(" "))
print(name.capitalize())
print(name.center(20))
print(name.endswith("!"))
print(name.find("ry"))
print(name.isalpha())
print(name.islower())
print(name.istitle())
print(name.title())

HARRY GUPTA!!!!!
harry gupta!!!!!
harry gupta
john gupta!!!!!
['harry', 'gupta!!!!!']
Harry gupta!!!!!
  harry gupta!!!!!
True
3
False
True
False
Harry Gupta!!!!!

In [129]:
#ifelse conditional statements
a = int(input("give me your age? "))
b = int(input("give me your age? "))
print("yayy!")
if (a>b):
    print("a is greater then b ")
else:
    print("b is greater then a ")

give me your age?  5
give me your age?  4

yayy!
a is greater then b

In [134]:
numb = int(input("enter the value of numb ? "))
if(numb < 0):
    print("number is negatuve")
elif(numb == 0):
    print("nunmber is zero")
else:
    print("number is positive")

enter the value of numb ?  5

number is positive

In [106]:
import time
t= time.strftime('%H:%M:%S')
hour = int(time.strftime('%H'))
print(hour)

if(hour>0 and hour<12):
    print("good morning sir!")
elif(hour>12 and hour<17):
    print("good afternoon sir!")
else:
    print("good nighgt sir!")

16
good afternoon sir!

In [2]:
#match
#import os

#print("hello world from .....")
#os.system("python --version")

hello world from .....

0

In [4]:
#match
x = int(input(" enter the value os x: "))

match x:
    case 0:
        print("x is zero")
    case 1:
        print("x is 4")
    case _:
        print(x)

 enter the value os x:  5

5

In [21]:
# for loops
for i in range(0,20,5):
    print(i+1)
name=input("enter your name: ")
for i in name:
    print(i)
    if (i=="G"):
        print("this is something special")
colors = ["red", "yellow", "green"]
for color in colors:
    print(color)
    for i in color:
        print(i)

1
6
11
16

enter your name:  Arpita Gupta

A
r
p
i
t
a

G
this is something special
u
p
t
a
red
r
e
d
yellow
y
e
l
l
o
w
green
g
r
e
e
n

In [1]:
#while loops
i = 0
while(i<=3):
    print(i)
    i = i+1
print("done with the loop")  
im = int(input("enter the number"))
while(im<10):
    print(im)
    im = im+1
else:
    print("it doesnt worked.")

0
1
2
3
done with the loop

enter the number 8

8
9
it doesnt worked.

In [ ]:
# do while
#do {
#loop body;
#}while(condition)

In [6]:
# break and continue
for i in range(12):
    if(i == 10):
        continue
    
    print("5 X", i+1 , "=", 5* (i+1))

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 12 = 60

In [21]:
#functions in python 
#built in function & user defined function

def mean_of_num(a, b):
    mean = (a+b)/2
    print(mean)

def is_greater(a,b):
    if(a>b):
        print("first num is greater")
    else:
        print("second num is greater")

def is_lesser(a,b):
    pass

In [22]:
mean_of_num(2,4)
is_greater(2,4)

3.0
second num is greater

In [32]:
# function arguments 1 default arguments    2 
def average(a,b=3):
    print("the average is: ", (a+b)/2)
average(7)  
def names(fname, mname="john", lname="watson"):
    print("hello",fname, mname, lname)
names("priya", "oijn" , "young")

the average is:  5.0
hello priya oijn young

In [34]:
#keyword arguments
average(b=9, a=6)
#required arguments a ki value deni hi pdegiii
#

the average is:  7.5

In [40]:
def avg(*numbers):
    sum=0
    for i in numbers:
        sum = sum+i
    return (sum/len(numbers))

c = avg(7,5,4,3,6)
print(c)

5.0

In [66]:
#list ordered collections,, multiple items in a single variable ,, mutable
l = [3,5,6]
print(type(l))
print(l)
print(l[2])
fruits = ["mango", 3 , 9.8, "harry"]
print(fruits[-3])
print(fruits)
if 3 in fruits:
    print("yes")
else:
    print("no")
if "arry" in "harry":
    print("yess")
else:
    print("no")
print(fruits[0:4:2])
# list comprehensions
lst = [i*i for i in range(10)]
print(lst)
lst1 = [i*i for i in range(10) if i%2==0]
print(lst1)

<class 'list'>
[3, 5, 6]
6
3
['mango', 3, 9.8, 'harry']
yes
yess
['mango', 9.8]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [79]:
#list methods
lst.append(88)
print(lst)
lst.sort(reverse=True)
print(lst)
print(lst.count(88))
#m=lst
#print(m)
m= lst.copy()
print(m)
print(m.insert(5 , 99))

[88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 88]
[88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]
13
[88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]
None

In [80]:
k=[8,9,7,6]
m.extend(k)
print(m)

[88, 88, 88, 88, 88, 99, 88, 88, 88, 88, 88, 88, 88, 88, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 8, 9, 7, 6]

In [91]:
#tupple    immutable    it isw a constant list     
tup = (1,4,5)
print(tup)
print(type(tup))
print(tup[0])
print(len(tup))
if 4 in tup:
    print("it is present")
else:
    print("noooo")
tup2 = tup[1:3]    
print(tup2)

(1, 4, 5)
<class 'tuple'>
1
3
it is present
(4, 5)

In [94]:
#tupple methods for doing any changes  we can chnage the tupple into the list
f = ("lichi", "apple", "soyabean")
temp = list(f)
temp.append("russia")
print(temp)
f = tuple(temp)
print(f)

['lichi', 'apple', 'soyabean', 'russia']
('lichi', 'apple', 'soyabean', 'russia')

In [103]:
tupl=(0,2,4,5,6,7,3,4,9,87,88)
c=tupl.count(88)
print(c)
j=tupl.index(3)
print(j)
j1= len(tupl)
print(j1)

1
6
11

In [107]:
# create a program capable of displaying questions to the  user like kbc
questions = []

In [111]:
#fstring
letter = " hy my name is {} and i am from {}"
country = "india"
name = "harry"
print(letter.format(name, country))
print(f" hy my name is {name} and i am from {country}")
print(type(f"{2 * 30}"))

 hy my name is harry and i am from india
 hy my name is harry and i am from india
<class 'str'>

In [113]:
#docstring below thw fucntion    pep8 it is guide line python enhancement prPOSALm write import this on cmd
def square(n):
    '''takes in a number n , returns the square of n '''
    print(n**2)
square(5)
print(square.__doc__)

25
takes in a number n , returns the square of n

In [114]:
#recursion factorial(n) = n*factorial(n-1)
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)
print(factorial(7))

5040

In [120]:
#f0 = 0
#f1 = 1
#f2 = f1 + f0
#f(n)= f(n-1) + f(n-2)
def fibonacci(n):
    if(n==0):
        return 0
    elif(n==1):
         return 1
    else:
        return fibonacci(n-1) +fibonacci(n-2)
        
fibonacci(7)

13

In [129]:
#sets in python   unorders collection   immutable    no duplicate items       
s = {2,4,6,7,5,6}
print(s)
info = {"carla" , 3 , 4, 5 , 5, 5}
print(info)
you ={}
print(type(you))
youu = set()
print(type(youu))
for value in info:
    print(value)

{2, 4, 5, 6, 7}
{3, 4, 5, 'carla'}
<class 'dict'>
<class 'set'>
3
4
5
carla

In [145]:
#set methods
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8,9}
print(s1.union(s2))
print(s1)
print(s2)
print(s1.intersection(s2))
s1.update(s2)
print(s1)
print(s2)
s3= s1.difference(s2)
print(s3)
print(s1.isdisjoint(s2))
print(s1.issuperset(s2))
s1.discard(4)
print(s1)
del s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{1, 2, 3}
False
True
{1, 2, 3, 5, 6, 7, 8, 9}

In [172]:
#dictonaries
dic = {"harry":"015" , "aryan":"016"}
print(dic)
print(dic.get("name"))
print(dic.get("015"))
print(dic.get("harry"))
print(dic.keys())
print(dic.values())
for key in dic.keys():
    print(dic[key])
for key in dic.keys():
    print(f"the value corresponding to the key {key} is {dic[key]}")    
#print(dic.items())
for key, value in dic.items():
    print(f"the value corresponding to the key {key} is {value}")

{'harry': '015', 'aryan': '016'}
None
None
015
dict_keys(['harry', 'aryan'])
dict_values(['015', '016'])
015
016
the value corresponding to the key harry is 015
the value corresponding to the key aryan is 016
the value corresponding to the key harry is 015
the value corresponding to the key aryan is 016

In [178]:
ep1 = {122: 45, 123: 56 , 124: 67 , 127: 76}
ep2 =  {872: 45, 923: 56 , 129: 67 , 128: 706}
ep1.update(ep2)
print(ep1)
empt = {}
print(empt)
ep1.pop(122)
print(ep1)

{122: 45, 123: 56, 124: 67, 127: 76, 872: 45, 923: 56, 129: 67, 128: 706}
{}
{123: 56, 124: 67, 127: 76, 872: 45, 923: 56, 129: 67, 128: 706}

In [181]:
for i in range(5):

    print(i)
    if i==4:
        break
else:
    print("sorry no i ")

0
1
2
3
4

In [10]:
a= input("enter the number : ")
print(f"multiplication table of {a} is:")
try:
    for i in range(1 , 11):
        print(f"int({a}) X {i}=", a*i+1)
except:
    print("sorry  some error occured")
print("some imp lines of code")
print("end of program")

enter the number :  3

multiplication table of 3 is:
sorry  some error occured
some imp lines of code
end of program

In [5]:
#finally keyword
try:
    age = int(input("enter your age here : "))
    print(age)
    
except ValueError:
    print("invalid value")
    
finally:
    print("try it again!!!")

enter your age here :  55

55
try it again!!!

In [14]:
# raising custom errors     built-in exceptions
a = int(input("enter the value between 5 and 9:"))

if (a<5 or a>9 or str(a!="quit")):
    raise ValueError("value should be between 5 and 9")

enter the value between 5 and 9: quit

ValueError: invalid literal for int() with base 10: 'quit'

In [23]:
user_input = input("Enter a value between 5 and 9 or write 'quit' to exit: ")

if user_input.lower() == "quit":
    print("Exiting the program.")
else:
    try:
        a = int(user_input)
        if a < 5 or a > 9:
            raise ValueError("Value should be between 5 and 9")
        
        print(f"The entered value is: {a}")
    
    except ValueError as e:
        print(e)

Enter a value between 5 and 9 or write 'quit' to exit:  quit

Exiting the program.

In [31]:
#kbc question 
questions = [
    ["which language was used to create fb ?", "python","french" , "javascript" , "php" , "none" , 4],
    ["which language was used to create fb ?", "python","french" , "javascript" , "php" , "none" , 4],
    ["which language was used to create fb ?", "python","french" , "javascript" , "php" , "none" , 4],
    ["which language was used to create fb ?", "python","french" , "javascript" , "php" , "none" , 4]
]

levels = ["1000 , 2000 , 3000 , 5000 , 10000 , 20000 , 40000 , 80000 , 160000 , 320000 "]
i = 0
for i in range(0 , len(questions) ):
    question = questions[i]
    print(f"question for rupees {levels[i]}")
    print(f"a. {question[1]}                         b. {question[2]}")
    print(f"c. {question[3]}                     d. {question[4]}")
    reply = int(input("enter your answer (1 to 4)"))
    if (reply == question[-1]):
        print(f"correct answer , you have won Rs. {levels[i]}")
        
    else:
        print("wrong answer!")
        break

question for rupees 1000 , 2000 , 3000 , 5000 , 10000 , 20000 , 40000 , 80000 , 160000 , 320000
a. python                         b. french
c. javascript                     d. php

enter your answer (1 to 4) 4

correct answer , you have won Rs. 1000 , 2000 , 3000 , 5000 , 10000 , 20000 , 40000 , 80000 , 160000 , 320000

IndexError: list index out of range

In [11]:
#shorthand if else
a = 830
b = 730
print("A") if a>b else print("=") if a == b else print("B")
print(9) if a>b else print("no")

A
9

In [22]:
#ennumerate function
'''marks= [12 , 56 , 32 , 74 , 85 , 97 , 76, 74]
index = 0
for mark in marks:
    print(mark)
    if( index == 3):
        print("harry awesome!")
    index +=1'''
marks= [12 , 56 , 32 , 74 , 85 , 97 , 76, 74]
for index, mark in enumerate(marks ,start =1):
    print(index ,mark)
    if( index == 3):
        print("harry awesome!")


fruits = ["apple" , "banana" , "kiwi"]
for index, fruit in enumerate(fruits , start =9):
    print(index , fruit)

1 12
2 56
3 32
harry awesome!
4 74
5 85
6 97
7 76
8 74
9 apple
10 banana
11 kiwi

In [1]:
# virtual environment in python 
#create a virtual environment -- python -m venv myenv
# actuvate the virtual environment     myenv\Scripts\activate.bat     if you are in powershell then use    myenv\Scripts\activate.ps1 



# requirement.txt file  pip freeze > requirement.txt    pip freeze basically gives you all the pacages installed in you venv

#pip install -r requirement.txt      it is just if you end this to anyone it can be used to download all the reqauirements needed

In [9]:
import pandas as pd
print(pd.__version__)
import math
math.floor(2.778)
math.sqrt(256)
from math import sqrt , pi
result = sqrt(9)* pi
print(result)
from math import *   # it importsw all the functions in the math module

2.2.2
9.42477796076938

In [6]:
import math as m
result = m.sqrt(9)* m.pi
print(result)


# dir is used to define each function in a module 
print(dir(m))
print(m.nan, type(m.nan))

9.42477796076938
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
nan <class 'float'>

In [8]:
#make one module name it harry  and then export it in another file using import name
def welcome():
    print("hey! welcome my freind")
print(__name__)
if __name__=="__main__":
    welcome()

__main__
hey! welcome my freind

In [10]:
import os
if(os.path.exist("data")):
    os.mkdir("data")
for i in range(0,100):
    os.mkdir(f"data/day(i+1)")
    # how to rename
os.rename(f"data/tutorial(i+1)" , f"data/tutorial (i+1)")


import os
folders = os.listdir("data")
print(folder)
for folder in folders:
    print(folder)

AttributeError: module 'ntpath' has no attribute 'exist'

15

In [42]:
words = input("enter message: ")
coding = True
if True:
    for word in words:
        if len(word)>=3:
            r1 = "dif"
            r2 = "jkr"
            stnew = r1 + words[1:] + words[0] + r2
         
            print(stnew)

print(words)

enter message:  hi how are you

hi how are you

In [44]:
words = input("enter message: ")
coding = True
if True:
    for word in words.s:
        if len(word)>=3:
            
            stnew = words[1:] + words[0] 
         
            print(stnew)

enter message:  hi how are you

i how are youh
i how are youh
i how are youh

In [46]:
stt = input("enter message")
words = st.split(" ")
coding = False
if(coding):
    nwords = []
    for word in words:
        if(len(word)>=3):
            r1 = "dsf"
            r2 = "jkr"
            stnew = r1+ word[1:] + word[0] + r2
            nwords.append(stnew)
        else:
            nwords.append(word[::-1])
     print(" ".join(nwords)) 
else:
  nwords = [] 
  for

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [62]:
# local variable and global variable

def greet(name, greetings="hello"):
    ''' here we are greeting to every entered user
    name'''
    return f"{greetings},{name}"

print(greet.__doc__) 
greet("aditya")

 here we are greeting to every entered user
    name

'hello,aditya'

In [63]:
def divide(a , b):
    try:
        return a/b
    except ZeroDivisionError:
        return "division by zero is not allowed"
divide(10,0)

'division by zero is not allowed'

In [74]:
x = 4
y = 8
print(x)
print(y)
def hello():
    x=5
    y=1
    print(x)
    print(y)
    print("hello , harry!")
    print(f"the local x is {x}")
hello()    
print(f"the global x is {x}")
print(y)

4
8
5
1
hello , harry!
the local x is 5
the global x is 4
8

In [3]:
#global varible
x = 10
def my_function():
    global x
    x = 4
    y = 5
    print(y)

my_function()
print(x)
#print(y)
# generally avoid to modifuy the global varible

5
4

In [2]:
#file i/o in python
#f = open(myfile.txt , 'r')      r read w write  a append     rb binary file
#twxt = f.read()
#print(text)
#f.close()
# if you dont want to use f.close()
#with open(myfile.txt , 'r'):
#    f.write("hey i am inside with")
# seek() tell() and other fucntions

In [ ]:
# seek() tell() and other fucntions
with open('file.txt' , 'r') as f:
    f.seek(10)
    f.truncate(5)   # to specyify the size
    print(f.tell())  # to track ourselves
    data = f.read(5) # for next 5 lines
    print(data)

In [10]:
#lambda function
#def double(x):
#    return x*2
def appl(fx, value):
    return 6 + fx(value)


#double(5)
double = lambda x: x*2
cube = lambda x: x*x*x
avg = lambda x, y: (x+y)/2
avgg = lambda x, y, z: (x+y+z)/3

print(double(5))
print(cube(5))
print(avg(2, 3))
print(avgg(2, 3, 6))
#print(appl(cube , 2))
print(appl(lambda x: x*x*x , 2))

10
125
2.5
3.6666666666666665
14

In [27]:
# map filter reduce
def cube(x):
    return x*x*x
print(cube(2))

l = [1,2,3,4,5]
#newl = []
#for i in l:
#    newl.append(cube(i)) 
newl = list(map(lambda x: x*x*x, l))   
print(newl)    
    
#FILTER
def filter_function(a):
    return a>4
    
newnewl =list( filter(filter_function , l))
print(newnewl)



#REDUCE
from functools import reduce
number = [1,2,3,4,5,6]

sum = reduce(lambda x, y: x+y , number)
print(sum)

8
[1, 8, 27, 64, 125]
[5]
21

In [34]:
#is vs ==
a = None
b = None
c = [1,2,3]
d = [1,2,3]
print(a == b)# compare the exact location of object in memory
print(a is b )# compare the value
print(c == d)
print(c is d)
#THING WHICH ARE IMMUTABLE GOES TO SAME MEMORY

True
True
True
False

In [ ]:
# SNAKE WATER GUN GAME

In [45]:
# oops progaming
# classwesz and objects 
class person:
    name = "harry"
    occupation = "Software Developer"
    networth = 10
    def info(self):
        print(f"{self.name} is an {self.occupation} ")
        
a = person()
a.name = "shubham"
a.occupation = "accountant"
b = person()
b.name = "nitika"
b.occupation = "HR"
a.info()
b.info()

shubham is an accountant
nitika is an HR

In [69]:
#constructor
# default constructor    def __init__(self)    when you dont giuve any argument
class person:
    def __init__(self, name, occupation):
        
        self.name = name
        self.occ = occupation
    

    def info(self):
        print(f"{self.name} is an {self.occ}")

a = person("divya" , "hr")
b = person("anjali" , "developer")
c = person(1 , 2)

a.info()
b.info()
c.info()

divya is an hr
anjali is an developer
1 is an 2

In [79]:
#decorators   @ syntax   they modify the function
# *args we take arguments as a tuple and **kwargs is way to take the argu,ments as a list
def greet(fx):
    def mfx(*args , **kwargs):
        print("good morning")
        fx(*args , **kwargs)
        
        print("thanks for using this function")
    return mfx


@greet
def hello():
    print("hello world")

@greet
def bye():
    print("bubyye!!")

@greet
def add(a, b):
    return a+b

hello()
bye()
print("decorate")
add(2, 3)

good morning
hello world
thanks for using this function
good morning
bubyye!!
thanks for using this function
decorate
good morning
thanks for using this function

In [85]:
# getters and setters 
class myclass:
    def __init__(self, value):
        self._value = value
    def show(self):
        print(f" vlaue is {self._value}")

    @property
    def ten_value(self):
        return 10* self._value

obj = myclass(10)
obj.show()
print(obj.ten_value)

 vlaue is 10
100