# Python programming
### Lecture 1

### Intro
Το Jupyter is an environment that allows to write code in a cell and directly obtain the command's output in a web browser as a [jupyter notebook](http://jupyter.org/).

Cells may contain code or [markdown](https://en.wikipedia.org/wiki/Markdown). [**Markdown Cheatsheet**](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).

Check also [gist](https://gist.github.com/).

### print

In [104]:
print ('smth')

kati

Single or double quotes

In [10]:
print ("hello")

hello

### Comments
Anything after ```#``` is ignored

In [1]:
# That is a comment
print ('No comment') # Another comment!

No comment

### [Mathematical operations](https://www.w3schools.com/python/gloss_python_arithmetic_operators.asp):

In [11]:
3+2

5

In [12]:
3/2

1.5

In [13]:
3//2

1

**!**

In [189]:
1/0

ZeroDivisionError: division by zero

### [Strings](https://www.w3schools.com/python/python_strings.asp)

In [14]:
"mitsos"

'mitsos'

In [15]:
'a' + 'b'

'ab'

In [16]:
'a' * 10

'aaaaaaaaaa'

In [238]:
''

''

Size of a string

In [228]:
len("abcdefg")

7

In [239]:
len('')

0

Count occurences of a string within a string

In [230]:
"zabarakatranemia".count('a')

6

In [231]:
"zabarakatranemia".count('ra')

2

In [232]:
"zabarakatranemia".count('c')

0

In [234]:
"zabarakatranemia".index('anemia')

10

In [236]:
"zabarakatranemia".index('ra') # Το "ra" υπάρχει δύο φορές αλλά επιστρέφει τη θέση της πρώτης.

4

In [237]:
"zabarakatranemia".index('c')

ValueError: substring not found

In [271]:
"Hello" "world"

'Helloworld'

In [2]:
a = "any language ذا كيور (بالإنجليزية: The Cure) هي فرقة روك إنجليزية، تم تكوينها في كرولي، غرب ساسكس عام 1976. واجهت الفرقة عِدة تغيرات؛ مع "
print (a)

any language ذا كيور (بالإنجليزية: The Cure) هي فرقة روك إنجليزية، تم تكوينها في كرولي، غرب ساسكس عام 1976. واجهت الفرقة عِدة تغيرات؛ مع

[emoji](https://unicode.org/emoji/charts/full-emoji-list.html):

In [277]:
print ("\U0001F621")

😡

### [Variables](https://www.w3schools.com/python/python_variables.asp)

In [17]:
a=3

In [18]:
a

3

In [19]:
a+a

6

In [3]:
a = 'ocean'

In [21]:
a

'mitsos'

In [22]:
a=5.55545345345234578234659823468237456928374659283746592837465923874659283745692834765928374569283476529873456

In [23]:
a

5.555453453452346

In [24]:
a = 2984375693847562938476529387456293874562938476529387465923847569238745692387465923874659238746592837465

In [25]:
a

2984375693847562938476529387456293874562938476529387465923847569238745692387465923874659238746592837465

In [27]:
a=3
b=4
print (a+b)

7

In [240]:
a=3
a = 3
a                             =                                               3

In [4]:
a=3
 a=3 # error!

IndentationError: unexpected indent (2538420688.py, line 2)

In [28]:
a="the answer is"
b=7

In [29]:
print (a,b)

the answer is 7

In [30]:
print ("this answer is", b)

this answer is 7

[string formatting](https://www.w3schools.com/python/python_string_formatting.asp)

In [31]:
c = "answer is {}".format(b)
print (c)

answer is 7

In [192]:
a = 'James'
b = 'Bond'
print ('My name is {}. {} {}.'.format(b, a, b))

My name is Bond. James Bond.

In [32]:
"abcde".upper()

'ABCDE'

In [33]:
"ABCDE".lower()

'abcde'

In [34]:
"hello world".replace('l', "QQQ")

'heQQQQQQo worQQQd'

### Indexing

In [194]:
print ("hello")

hello

**!** Indexing starts at 0!

In [195]:
"hello"[0]

'h'

In [196]:
"hello"[1]

'e'

**!**

In [197]:
"hello"[100]

IndexError: string index out of range

In [5]:
"hello"[-1]

'o'

In [6]:
"hello"[-2]

'l'

In [7]:
"hello"[-100]

IndexError: string index out of range

### Indexing spaces

In [8]:
"hello"[1:3]

'el'

In [204]:
"hello"[1:4]

'ell'

In [206]:
"hello"[0:2]

'he'

In [207]:
"hello"[:2]

'he'

In [208]:
"hello"[2:]

'llo'

### Indexing spaces with steps

In [212]:
"abcdefgij"[1:7:2]

'bdf'

In [213]:
"abcdefgij"[1:7:3]

'be'

In [215]:
"abcdefgij"[:7:3]

'adg'

In [216]:
"abcdefgij"[1::3]

'bei'

In [217]:
"abcdefgij"[::3]

'adg'

In [218]:
"abcdefgij"[1:7:]

'bcdefg'

In [219]:
"abcdefgij"[1:7:0]

ValueError: slice step cannot be zero

### Negative indexing steps.

In [220]:
"abcdefgij"[7:1:-1]

'igfedc'

In [221]:
"abcdefgij"[7:1:-2]

'ifd'

In [222]:
"abcdefgij"[7::-2]

'ifdb'

In [223]:
"abcdefgij"[::-2]

'jgeca'

In [224]:
"abcdefgij"[::-1] # Reverse a string!

'jigfedcba'

In [225]:
"ACGT"[::-1]

'TGCA'

In [45]:
a=3
"abcde"[0:a]

'abc'

### Special Characters

In [243]:
print("mitsos")

mitsos

In [244]:
print("My name is \"mitsos\"")

My name is "mitsos"

In [245]:
print('My name is "mitsos"')

My name is "mitsos"

In [248]:
print ('My name is \'Mitsos\'')

My name is 'Mitsos'

In [249]:
print ("My name is 'Mitsos'")

My name is 'Mitsos'

* New line: ```\n```
* Tab: ```\t```

In [250]:
print("Line 1\nLine 2")

Line 1
Line 2

In [251]:
print ("Col 1\tCol2")

Col 1	Col2

**Triple Quotes in Python**

In [252]:
a = '''
"Be realistic - demand the impossible!"
    Soyez réalistes, demandez l'impossible! - Anonymous graffiti, Paris 1968
'''
print(a)

"Be realistic - demand the impossible!"
    Soyez réalistes, demandez l'impossible! - Anonymous graffiti, Paris 1968

### The plus-equals operator: +=

In [135]:
a = 3
print (a)

3

In [136]:
a = a + 1
print (a)

4

In [137]:
a += 4 # a = a + 4
print (a)

8

In [138]:
a -= 1
print (a)

7

In [281]:
a = [1,2,3]
a += [5,6] # Αυτό είναι ισοδύναμο με: a = a + [5,6]
print (a)

[1, 2, 3, 5, 6]

In [165]:
a = [1,2,3,4]
a += [0,1] 
print (a)

[1, 2, 3, 4, 0, 1]

In [295]:
a = [1,2,3,4]
a.extend([0,1]) # equivalent with a += [0,1]
print (a)

[1, 2, 3, 4, 0, 1]

In [298]:
a = [1,2,3,4,5]
a.extend(8)

TypeError: 'int' object is not iterable

In [296]:
a = [1,2,3,4]
a.append([0,1])
print (a)

[1, 2, 3, 4, [0, 1]]

In [297]:
a = [1,2,3,4,5]
a.append(8)
print (a)

[1, 2, 3, 4, 5, 8]

### Python Booleans

In [2]:
a = True
a = False

In [3]:
True and True

True

In [4]:
True and False

False

In [5]:
False and True

False

In [6]:
False and False

False

In [7]:
True or True

True

In [8]:
True or False

True

In [9]:
False or True

True

In [10]:
False or False

False

In [11]:
not False

True

In [12]:
not True

False

In [13]:
False and (True or False)

False

In [14]:
True and (True or False)

True

### Combining different types

In [15]:
3+0.0

3.0

In [16]:
0 + 0.0

0.0

In [17]:
5/2

2.5

In [18]:
6/2

3.0

In [9]:
4.5 + "ocean"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [21]:
4 + True

5

In [22]:
4 * False

0

In [23]:
6 / True

6.0

In [24]:
'Ocean' * True # same as 'Ocean' * 1

'Μήτσος'

In [26]:
'Ocean' * False #  same as 'Ocean' * 0

''

###

### !

In [10]:
True + True

2

In [11]:
True + False + True

2

In [12]:
(True + False) / (True + True)

0.5

In [13]:
True * True * True * True * True * True

1

In [14]:
True * True * True * True * False * True

0

### ```and``` / ```or```

In [65]:
True and False

False

In [69]:
5 and '' and 'Ocean'

''

In [72]:
5 and 'Ocean' and 0.0

0.0

In [73]:
5 and 'Ocean' and 3.2

3.2

[short-circuit evaluation](https://en.wikipedia.org/wiki/Short-circuit_evaluation)

In [75]:
0 or 5.3 or 'Ocean'

5.3

In [76]:
0 or 5.3 or ''

5.3

In [77]:
0 or False or ''

''

### Type Conversion

* ```int``` converts to integer
* ```float``` converts to float
* ```bool``` converts to boolean
* ```str``` converts to string

Examples:

In [15]:
int('42')

42

In [16]:
int('42.4')

ValueError: invalid literal for int() with base 10: '42.4'

In [17]:
int(42.4)

42

In [18]:
int(True)

1

In [19]:
int(False)

0

In [20]:
int(42)

42

In [21]:
int('mitsos')

ValueError: invalid literal for int() with base 10: 'mitsos'

In [22]:
int('                                 42')

42

In [23]:
int('42                                  ')

42

In [24]:
int('               42                    ')

42

In [25]:
float('3.4')

3.4

In [26]:
float('3')

3.0

In [27]:
float('')

ValueError: could not convert string to float: ''

In [28]:
float('mitsos')

ValueError: could not convert string to float: 'mitsos'

In [29]:
float('3.4             ')

3.4

In [30]:
float('   3.4           ')

3.4

In [31]:
float('               3.4')

3.4

In [32]:
float(3)

3.0

In [33]:
float(3.4)

3.4

In [34]:
float(True)

1.0

In [35]:
float(False)

0.0

In [36]:
bool(2)

True

In [37]:
bool(0)

False

In [38]:
bool(3.3)

True

In [39]:
bool(0.0)

False

In [40]:
bool(0.000000000001)

True

In [41]:
bool('ocean')

True

In [42]:
bool('')

False

In [43]:
bool(' ')

True

In [44]:
bool(True)

True

In [45]:
bool(False)

False

### Help:

In [300]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [301]:
help("".count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [303]:
help([].append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end