
#  Variables

#### Variables are used to store values that we want to use later in the program that contain alphanumeric beginning in a letter or underscore and are case sensitive and unique.

In [1]:
# Can not start with number or special characters
no_of_days_in_a_year = 365
s = "hello"

In [2]:
# assign value respectively
a, b, c = 5, 3.2, "Hello"

print(( a, b, c))

(5, 3.2, 'Hello')

In [3]:
# asign same value to multiple variables
x = y = z = 1
print(x)
print(y)
print(z)

1
1
1

In [4]:
x = 2
y = 3
z = x + y
s = z
print("Sum of x + y is: ", z)

Sum of x + y is:  5

In [5]:
# unique id(memory reference) of a variable
a = 50
#print id(a)
s1 = 257
s2 = 257

print(id(s1))
print(id(s2))

2530064298800
2530064298768

In [6]:
g = "hello"

#Local Variable
def bob():
    global l
    l = "local"
    print(l)

def foo():
    return "hello"
    print(a)

#print foo()
a = foo()
print(a)
#print me   # Asking for a global variable

hello

In [7]:
# Global variable
def bob():
    global me
    me = "locally defined"   # Defined locally but declared as global
    print(me)

bob()
print(me) # Asking for a global variable

locally defined
locally defined

In [8]:
# Refer to global variable if not found locally
s = "I love New York!!!"

def f(): 
    print(s) # try to find in global scope
    
s = "I love Paris in the summer!!!" #global scope

f()

I love Paris in the summer!!!

In [9]:
# Can't use variable locally before defining it
def f(): 
    print(s) # Error
    s = "I love London!"

s = "I love Paris!" 
f()
print(s)

UnboundLocalError: local variable 's' referenced before assignment

#  Data Types

#### Data types are actually classes and variables are instance (object) of these classes.

In [10]:
a = 5
print((a, "is of type", type(a)))

(5, 'is of type', <class 'int'>)

In [11]:
a = 2.0
print((a, "is of type", type(a)))

(2.0, 'is of type', <class 'float'>)

In [12]:
a = "Grey Atom"
print((a, "is of type", type(a)))

('Grey Atom', 'is of type', <class 'str'>)

In [13]:
a = 1+2j
print((a, "is complex number?", isinstance(1+2j,complex)))

((1+2j), 'is complex number?', True)

In [14]:
a = True
print((a, "is of type", type(a)))

(True, 'is of type', <class 'bool'>)

In [15]:
a = [1, 2, 3, 4, "hello", ["a", "b"], True, False]
#print(a, "is of type", type(a))

a = None
b = None 
print(a)

None

In [16]:
a = {"institute" : "Grey Atom", "course" : "Data Science"}
print((a, "is of type", type(a)))

({'institute': 'Grey Atom', 'course': 'Data Science'}, 'is of type', <class 'dict'>)

In [17]:
#a = ("Peter", "Male", 26)
#print(a, "is of type", type(a))

l = [1,2,3,4]
m = l

#l = l.append(5)

m.append(6)

print(l)
print(m)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]

#  Data Types: Numbers

In [18]:
print(("Total Money in My Pocket: ", 10*5 + 5*100))

('Total Money in My Pocket: ', 550)

In [19]:
print(("2 to the power 4 is : ", 2 ** 4));

('2 to the power 4 is : ', 16)

In [20]:
print(("Power can also be calculated with pow(): ", pow(2, 4)))

('Power can also be calculated with pow(): ', 16)

In [21]:
print(("Is it true that 2 is less than 3? ", 2 == 3))

('Is it true that 2 is less than 3? ', False)

In [22]:
print(("Remainder of 5 divided by 2: ", 5%2))

('Remainder of 5 divided by 2: ', 1)

In [23]:
num1= 5
num2 =10

sum  = num1+num2
print (sum)

15

In [24]:
# Rounding a float value
print(("rounding a float value : ", round(2.8)));

('rounding a float value : ', 3)

In [25]:
# Absolute value
print(("absolute value of -2 is : ", abs(-2)))

('absolute value of -2 is : ', 2)

In [26]:
import math
print(type(math))

print((math.sqrt(12)))
print((math.floor(2.5)))

<class 'module'>
3.4641016151377544
2

#  Printing and Formatting

In [27]:
# print multiline
#print ("""There's something going on here.
#With the three double-quotes.""")

def f():
    """
    Very useul function
    """
    pass

In [28]:
# Concatenate differnt words
print(("Same", "message", "as before"))

('Same', 'message', 'as before')

In [29]:
my_name = "Test Python"
my_height = 5.11
is_married = True

print(("My name is: %s, My Age height is: %.2f, and it is %s that I am  married." % ( my_name, my_height, is_married)))

My name is: Test Python, My Age height is: 5.11, and it is True that I am  married.

In [30]:
num = 12
name = 'Sam'
final = 'My number is: {one}, and my name is: {two}'.format(one=num,two=name)
print(final)

My number is: 12, and my name is: Sam

In [31]:
num = 12
name = 'Sam'
print(('My number is: {}, and my name is: {}'.format(num,name)))

My number is: 12, and my name is: Sam

#  Data Types: String

#### The string type in Python represents an immutable ordered array of characters (note there is no char type).

In [32]:
str1 = 'single quotes'
print(str1)

str2 = "double quotes"
print(str2)

single quotes
double quotes

In [33]:
print ('The newline \n will not expand')

The newline
 will not expand

In [34]:
# Character can be accessed by index
string = "hello world"
print((string[0]))

h

In [35]:
# Concatenation
string = "hello world"
string = string + ' Goodbye, world';
print(string)

hello world Goodbye, world

In [36]:
# Repeat words
string = "hello world "
print((string*2))

hello world hello world

In [37]:
# unicode strings

## Substrings

In [38]:
# Substrings
s = "ग्रेएटॉम"

string = "Hello world again and again"
string[10:-23]

#print (string[6:11]) # "world"
#print (string[:5])   # "Hello"
#print (string[22:])  # "again"
#print (string[-7:-2])# "d aga"

''

In [39]:
# lenth of the string
string = "Hello world"
print((len(string)))
print(len([1,2,3,4]))

11
4

In [40]:
# Occurrences of substring in a string
string = "Hello world again and again"
print((string.count("again")))

2

In [41]:
# Split the string into array
string = "Hello,world again and again"
#print (string.split())
print(string.split(","))

['Hello', 'world again and again']

In [42]:
# Lower and Upper case
string = "Hello world"
print((string.lower()))
print((string.upper()))

hello world
HELLO WORLD

In [43]:
# startswith & endswidth(sub [,start[,end]])
string = "Hello world again and again"
print((string.startswith("Hello")))
print((string.endswith("in")))

True
True

In [44]:
# Replace
string = "Hello world again and again"
print((string.replace("again", "from India")))
string = string.replace("again", "from")

Hello world from India and from India

In [45]:
#Join
l = ['red','green','blue']
a = "-"

print(",".join(l))

red,green,blue

In [46]:
# Position of substring in string
string = "Hello world again and again"
print((string.find("again"))) #left find
print((string.rfind("again"))) # right find

12
22

In [47]:
string = "Hello world and again Hello"
#print (string.strip("Hello"))  # strip from both the side
#print (string.rstrip("Hello")) # strip only from right

print(len("  hello    ".strip()))

5

#  Conditional - IF, ELIF, ELSE

#### The if-statement tells your script,
     "If this boolean expression is True, then run the code under it, otherwise skip it.”

In [48]:
if expr1:
    #
    #
    #
    
elif expr2:
    #
    #
    #
    #
else:
    #
    #
    
a = 5
b = 4
if a > b: print ("a is greater than b");

if (a > b):
    print ("a is greater than b")
    print ("blocks are defined by indentation")
elif (a < b):
    print ("a is less than b")
else:
    print ("a is equal to b")

IndentationError: expected an indented block (<ipython-input-48-d421984bd8c7>, line 6)

#  Loop - FOR and WHILE

#### Another familiar (and useful) construct is the for loop. This executes a block of code for over a sequence of values.
e.g. for value in [1,2,3]: do something

In [49]:
d = {"a": 1, "b": 2, "c": 3, "d": [1,2,3,4]}
#print d["b"]

#d = [1,2,3,4, None]

#for k in <iterable>:
#    print k


print(list(range(10)))

#for i in range(10):
#    print "hello"
 
list(range(0, 100, 2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [50]:
# decrease by 2 until 0
x = 0
for j in range(10,0,-2):
   x = x + j
   print (x)

10
18
24
28
30

In [51]:
a = 5
b = 0
while (b < a):
   print(("b:{} is less than a:{}".format(b,a)))
   b = b+1

b:0 is less than a:5
b:1 is less than a:5
b:2 is less than a:5
b:3 is less than a:5
b:4 is less than a:5

In [52]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

## Exercise

In [53]:
# Find all the even number between 1 to 100
for num in range(100): 
    if(num % 2 == 0):
        print (num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [54]:
# Program to display the Fibonacci sequence up to n-th term where n is provided by the user

N = 10

# first two terms
num1 = 0
num2 = 1
count = 2

# check if the number of terms is valid
if N <= 0:
   print("Please enter a positive integer")
elif N == 1:
   print(("Fibonacci sequence upto",N,":"))
   print((0))
else:
   print(("Fibonacci sequence upto",N,":"))
   print (num1)
   print (num2)
   while count < N:
       next_fibonacci =  num1 + num2
       print (next_fibonacci)
       # update values
       num1 = num2
       num2 = next_fibonacci
       count += 1

('Fibonacci sequence upto', 10, ':')
0
1
1
2
3
5
8
13
21
34

#  List

#### The list type is a container that holds different objects, in a given order.

In [55]:
marks = [20, 50, 30, 80, 75,  65]

list_of_different_objects = ["Peter", 1000, 10.5]

list_of_lists = [marks, list_of_different_objects, ['red','green','blue']]

# Empty list
empty_list = []
empty_list.append(1) # add 1 to list
empty_list.append(2) # add 2 to list
empty_list.append(3) # add 3 to list
print (empty_list)

[1, 2, 3]

In [56]:
# List element can be accessed by index position like in string
marks = [20, 50, 30, 80, 75,  65]
print((marks[0]))  # 20
print((marks[2]))  # 30
print((marks[-1])) # index from last
print((marks[-4])) # index from last

20
30
65
30

In [57]:
# Nested list
nested_list = [1,2,3,[4,5,['target']]]
print((nested_list[3]))
print((nested_list[3][2]))

[4, 5, ['target']]
['target']

In [58]:
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
print((colors[1:-1]))        # ['RED', 'YELLOW']

colors[0:2] = ["PURPLE"]    # replace ['RED', 'GREEN'] with ['PURPLE']
print (colors)

['GREEN', 'BLUE']
['PURPLE', 'BLUE', 'YELLOW']

In [59]:
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
# The for-in statement makes it easy to loop over the items in a list
for item in colors:
        print (item)
        
# If you need both the index and the item, use the enumerate function
for index, item in enumerate(colors):
        print((index, item))

# Uncommon way - If you need only the index, use range and len
for index in range(len(colors)):
        print (index)

# The list object supports the iterator protocol
itr = iter(colors)
print((next(itr))) # fetch first value
print((next(itr))) # fetch second value

RED
GREEN
BLUE
YELLOW
(0, 'RED')
(1, 'GREEN')
(2, 'BLUE')
(3, 'YELLOW')
0
1
2
3
RED
GREEN

In [60]:
# Sum & Length
marks = [20, 50, 30, 80, 75,  65]

print((sum(marks)))
print((len(marks)))

TypeError: 'int' object is not callable

In [61]:
# append element at end
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
colors.append('PURPLE')
print (colors)

['RED', 'GREEN', 'BLUE', 'YELLOW', 'PURPLE']

In [62]:
# insert at given index
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
colors.insert(1,'PURPLE')
print (colors)

['RED', 'PURPLE', 'GREEN', 'BLUE', 'YELLOW']

In [ ]:
# Extend - adds the elements in list2 to the end of the list1.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print (list1)

In [ ]:
# Extend using +
level = ["beginner", "intermediate", "advanced"]
other_words = ["novice", "expert"]
print((level + other_words))

In [ ]:
# Index of an element
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
print((colors.index('BLUE')))

In [ ]:
# Remove list element
num = [1, 2, 3, 4]
num.remove(2)
print (num)

In [ ]:
# use del to remove
num = [1, 2, 3, 4]
del num[1]
print (num)

In [ ]:
# Sort in ascending order
num = [5, 2, 4, 3]
num.sort()
print (num)

In [ ]:
# Reverse list
letters = ['A', 'B', 'C', 'D']
letters.reverse()
print (letters)

In [ ]:
# pop a value
num = [10, 20, 30, 40]
x = num.pop(2)
print (x)
y = num.pop()
print (y)

In [ ]:
# check for pallindrome
list = ['a', 'b', 'c', 'b', 'a']
print((list == list[::-1]))

In [ ]:
# Remove duplicate from list
t = [1, 2, 3, 1, 2, 5, 6, 7, 8]
s = []
for i in t:
       if i not in s:
          s.append(i)
        
print (s)

In [ ]:
#Median
list = [13, 23, 11, 16, 15, 10, 26]
list.sort()
print (list)
length = len(list)
print(('Median is: ', list[int(length/2)]))

# List Comprehension

#### List comprehensions can be used to construct lists in a very natural, easy way.

In [8]:
# Generational Comprehension
l = []
for i in range(10):
    l.append(i*i)

d = {"a":1 , "b":2, "c":1 }

l = [(k, d[k]) for k in d]
print(l)

[('a', 1), ('c', 1), ('b', 2)]

In [ ]:
# List Comprehension - Cross product of two sets
colours = ["red", "green", "yellow"]
things = ["house", "car", "tree" ]
coloured_things = [ (x,y) for x in colours for y in things ]
print (coloured_things)

In [ ]:
# Convert Celsius to Fahrenheit 
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = [ ((float(9)/5)*x + 32) for x in Celsius ]
print (Fahrenheit)

#  Dict

#### Python's efficient key/value hash table structure is called a "dict".

In [ ]:
## dict[key] = value-for-that-key
institute = {}
institute['name'] = 'Grey Atom'
institute['course'] = 'Data Science'
institute['duration'] = '3 Months'
print (institute)

In [ ]:
print((institute['name']))
print((institute['course']))
print((institute['duration']))

In [15]:
# Iterating over a dict iterates over its keys.
d = {'r': 'red', 'g': 'green', 'b': 'blue', 'c': 'cyan'}
#for key in d: print (key) #for key in dict.keys(): print key

['c', 'r', 'b', 'g']
{3: 'red', 4: 'blue', 5: 'green'}

#  Set

#### A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable.

In [ ]:
# set of integers
s = {1, 2, 3, 2, 3}
print(s)

In [ ]:
# Set of different data types
s = {1.0, "Hello world", (1, 2, 3)}
print (s)

In [26]:
# Empty set
s = set([1,2,3, 1])

if "a" in {"a": 1}:
    print(True)
else:
    print(False)
    
l = [3, 3, 2, 4, 2, 10]
print(set(l))

True
set([2, 3, 4, 10])

## Exercise

In [ ]:
# find unique elements
l = [1,2,3,2,1,5,6,5,5,5]
unique = set()
for x in l:
    if x not in unique:
          unique.add(x)
print (unique)

In [ ]:
# Set of odd number up to 20
a = {x for x in range(20) if x % 2 != 0}
print (a)

In [ ]:
# Other methods
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

## Set Operations

In [ ]:
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print((A|B))
print((A.union(B)))

In [ ]:
# INTERSECTION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print((A & B))
print((A.intersection(B)))

In [ ]:
# DIFFERENCE
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print((A - B))
print((A.difference(B)))

In [ ]:
# SYMMETRIC DIFFERENCE
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print((A ^ B))
print((A.symmetric_difference(B)))

#  Tuple

#### A tuple is similar to a list. Tuples are immutable arrays of arbitrary elements. The elements of a tuple cannot be changed once it is assigned whereas in a list, elements can be changed.

In [ ]:
t = (1, 2.5, 3, "Hello World")
print (t)
t[1] = 8 # immutable
print (t)

In [ ]:
# lists to tuples and tuples to lists - zip
# The zip function in python accepts a number of sequences (such as lists or arrays) and returns a list of tuples

a = list(range(0,5))
b = list(range(5,10))
c = list(range(10,15))
sequence_of_tuples = list(zip(a, b, c))
print(sequence_of_tuples)

In [ ]:
# zip () in conjuction with * operator can be used to unzip a list
a1,b1,c1 = list(zip(*sequence_of_tuples))
print(a1)
print(b1)
print(c1)

In [ ]:
# *tuple means "treat this tuple as positional arguments to this function call."
def foo(x,y):
    print((x,y))

t = (1,2)
foo(*t)

In [ ]:
# **dict means "treat the key-value pairs in the dictionary as additional named arguments to this function call."
def foo(x,y):
    print((x,y))

d = {'x':1, 'y':2}
foo(**d)

In [ ]:
# Function signature
def foo(*x):
    print(x)

foo(1,2)

In [ ]:
# Function signature
def foo(**d):
    print(d)
foo(x=1, y=2)

In [ ]:
# Accessing Elements in a Tuple
my_tuple = ['p','e','r','m','i','t']

print((my_tuple[0]))
print((my_tuple[5]))
print((my_tuple[-2])) # from right

In [ ]:
# Slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print((my_tuple[1:4]))

# elements beginning to 2nd
# Output: ('p', 'r')
print((my_tuple[:-7]))

# elements 8th to end
# Output: ('i', 'z')
print((my_tuple[7:]))

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print((my_tuple[:]))

In [ ]:
# Deleting a Tuple
t = (1, 2.5, 3, "Hello World")
print (t)
del (t)
print (t)

In [29]:
# Iterating through a Tuple
#t = (1, 2.5, 3, "Hello World")
#for value in t:
#    print (value)

l = [1,2,3]
l[2] = 4
print(l)

[1, 2, 4]

#  Copying Object

In [ ]:
# Immutable object
x = 3 # int data type
y = x # y is pointing to x

y = 5 # change y, x should not changed - immutable

print (x)
print (y)

In [ ]:
# Mutable object
list1 = [1,2,3,4,5] # A list
list2 = list1       # list2 is pointing to the same memory location as list 1
list2.append(8)     # if list2 is changed, list1 will also change - mutable

print (list1)
print (list2)

In [ ]:
# inefficient code
container = ["A","B","C","D","E"]
string_build = ""
for data in container:
    string_build += str(data)

string_build

In [ ]:
# More efficient
"".join(container)

In [ ]:
# Copying a list
colours1 = ["red", "green"]
colours2 = colours1
colours2[1] = "blue"
colours1

In [ ]:
# Copy with the Slice Operator
colours1 = ["red", "green"]
colours2 = colours1[:]
colours2[1] = "blue"
print (colours1)
print (colours2)

In [ ]:
# Copy with the extend Operator
colours1 = ["red", "green"]
colours2= []
colours2.extend(colours1)
colours2[1] = "blue"
print (colours1)
print (colours2)

In [ ]:
# Copy with the list Operator
colours1 = ["red", "green"]
colours2= list(colours1)
colours2[1] = "blue"
print (colours1)
print (colours2)

In [ ]:
# Copy with the copy Operator
import copy
colours1 = ["red", "green"]
colours2= copy.copy(colours1)
colours2[1] = "blue"
print (colours1)
print (colours2)

In [38]:
# Deep copy
import copy

list_a = [[3, 4], [5, 6, [7, 8]]]
list_b = copy.deepcopy(list_a)

list_a[0][1] = 9 # change the first list, second list shoud not change

#print (list_a)
#print (list_b)

l = [1, 2, 3, 4, ["a", "b", "c"]]
m = copy.copy(l)

m.append(5)

l[4].append("d")

print(m)

[1, 2, 3, 4, ['a', 'b', 'c', 'd'], 5]

## Exercise - 1

In [ ]:
# Convert Celsius to Fahrenheit
# Formula: ((float(9)/5)*x + 32)

Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = [ ((float(9)/5)*x + 32) for x in Celsius ]
print (Fahrenheit)

## Exercise - 2

In [ ]:
# Find out whether a list is a palindrome

list = ['a', 'b', 'c', 'b', 'a']
print((list == list[::-1]))



# Remove duplicate from the below list

t = [1, 2, 3, 1, 2, 5, 6, 7, 8]
s = []
for i in t:
       if i not in s:
          s.append(i)
print (s)

## Exercise - 3

In [164]:
# Given this nest dictionary grab the word "hello".

d = {' k1':[1,2,3, {' tricky' :[' oh' ,' man' ,' inception' , {' target':[1,2,3,' hello']}]}]}
d[' k1'][3][' tricky'][3][' target'][3]

' hello'