LOOP 
=

In [1]:
x= 1
while x < 6:
    print(x)
    x += 1

1
2
3
4
5

In [2]:
x = 1
while x <  8:
    print('x is',x)
    x += 1
else:
    print('x is no longer < 8')

x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer < 8

In [4]:
C= 15 # initial temperature
while C < 70:
    F = ((9*C)/5) + 32
    print( C, F)
    C +=5

15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0
55 131.0
60 140.0
65 149.0

In [6]:
C= 5 # initial temperature
while C <= 80:
    K = C + 273
    print( C, K)
    C +=5

5 278
10 283
15 288
20 293
25 298
30 303
35 308
40 313
45 318
50 323
55 328
60 333
65 338
70 343
75 348
80 353

FOR LOOP
=

In [7]:
# Example with string
Language = 'PYTHON PROGRAMMING'
for l in Language:
    print(l)

P
Y
T
H
O
N

P
R
O
G
R
A
M
M
I
N
G

In [ ]:
Animals=['Dog','Goat','Cat','Fish']
for a in Animals:
    print(a)

In [1]:
import numpy as np

In [9]:
for x in range (1,30,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [14]:
for x in range(5):
    print(x)

0
1
2
3
4

NESTED LOOP
=

In [16]:
A=[1,2,3,4,5,6,7,8,9,10]
B=[5]
for a in A:
    for b in B:
        y= a * b
        print(b,'*',a,'=',y)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
N= [2,4]
M= [3,5]
o= [1,2]
for n in N:
    for m in M:
        u = n + m + o
            print(n,'+',m,'+',o,'=',u)

IndentationError: unexpected indent (3575099485.py, line 7)

BREAK
=

In [11]:
names = ['desmond','Osei','Tutu']
for name in names:
    if name == 'desmond':  
        print (name,'I have found him')
        break

desmond I have found him

In [18]:
value = int(input('Enter a whole number: '))
n = 2
print('Prime Numbers Between 1 and '+str(value))
while n <= value:
    m = 2
    count = 0
    while m <= n//2:
        if n%m == 0:
            count+=1
            break
        m+=1
    print(n) if count==0 else ''
    n+=1

Enter a whole number: 40
Prime Numbers Between 1 and 40
2
3
5
7
11
13
17
19
23
29
31
37