WEEK4 QUESTION: BUILD A PYTHON PROGRAM UTILIZING DATA STRUCTURES, CONDITIONAL STATEMENTS, AND FUNCTIONS TO SOLVE A DATA RELATED TASK

In [ ]:
#Starting with Strings
name = "Abdulwadud Abubakar Hassan"
print(name)

Abdulwadud Abubakar Hassan

Running this same code above with indenting error

In [ ]:
#Strings with indenting error
 name = "Abdulwadud Abubakar Hassan"
print(name)

IndentationError: unexpected indent (<ipython-input-6-3b18702e6e41>, line 2)

This error was due to the space before the variable 'name' which was correct in the first code run on block 5. It is paramount to ensure all the lines within the block are indented with the same number of spaces or tabs.

Trying to acess individual characters in a string

In [ ]:
# Accessing individual characters in a string
# Define a string
name = "Abdulwadud Abubakar Hassan"
print("First character:", name[0])

First character: A

In [ ]:
print("First word:", name[7])

First word: d

In [ ]:
#Slicing a string
print("Substring from index 10 to the end:", name[10:])

Substring from index 10 to the end:  Abubakar Hassan

In [ ]:
print("Substring from index 0 to the end:", name[0:10])

Substring from index 0 to the end: Abdulwadud

The above code block sliced the variable name

In [ ]:
# Checking substring existence
if "Abdilwadud" in name:
    print("'Abdilwadud' found in string.")
else:
     print("'Abdilwadud' not found in string.")

'Abdilwadud' not found in string.

the above code came with the Abdilwadud not found because of the error in spelling of Abdulwadud. To correct this will run the code again with the correct spelling

In [ ]:
# Checking substring existence
if "Abdulwadud" in name:
    print("'Abdulwadud' found in string.")
else:
     print("'Abdulwadud' not found in string.")

'Abdulwadud' found in string.

Various operations involving Integer and lists in python script.

In [ ]:
 # Integer
age = 30
print("Age:", age)

Age: 30

In [ ]:
# Integer
age = 30
age_sibling = 34
sum = age + age_sibling
print("Sum:", sum)
print("Age:", age_sibling)

Sum: 64
Age: 34

Omitting or quoting the variable sum rather than just listing it as done below will give a different output rather than the sum of the variables. It will return back the code as the input. This is displayed below

In [ ]:
#Sum of the siblings age
sum = ('age + age_sibling')
print("Sum:", sum)
type(sum)

Sum: age + age_sibling

str

In [ ]:
#Define a list
age_friends = [23,26,19,25]
names_friends =[Aliyah, Adamu,Aleena,Amrah]

NameError: name 'Aliyah' is not defined

This error was because the code does not have ' ' in the names_friends function

In [ ]:
#Define a list
age_friends = [ '23','26','19','25']
names_friends = [ 'Aliyah', 'Adamu'',Aleena','Amrah' ]

In [ ]:
print("Names_friends:", names_friends)
print("Age_friends:", age_friends)

Names_friends: ['Aliyah', 'Adamu,Aleena', 'Amrah']
Age_friends: ['23', '26', '19', '25']

In [ ]:
 # Modifying elements in a list
age_friends [2] = 30

In [ ]:
print("Age_friends:", age_friends)

Age_friends: ['23', '26', 30, '25']

In [ ]:
 # Inserting elements into a list
age_friends.insert(23, 20)
print("List after inserting 20 at index 4:", age_friends)

List after inserting 20 at index 4: ['23', '26', 30, '25', 20, 20]

In [ ]:
 # Appending elements to a list
names_friends.append('Aisha')
print("List after appending Aisha:", names_friends)

List after appending Aisha: ['Aliyah', 'Adamu,Aleena', 'Amrah', 'Aisha']

In [ ]:
# Extending a list
names_friends.extend(["Mooneyes"])
print("Names_friends after extending with ['Mooneyes']:", names_friends)

Names_friends after extending with ['Mooneyes']: ['Aliyah', 'Adamu,Aleena', 'Amrah', 'Aisha', 'Mooneyes']

REMOVING AN ELEMENT FROM A LIST

In [ ]:
# Removing elements from a list
names_friends.remove('Aisha')
print("List after removing element Aisha:", names_friends)

List after removing element Aisha: ['Aliyah', 'Adamu,Aleena', 'Amrah', 'Mooneyes']

In [ ]:
# Sorting a list
names_friends.sort()
print("Sorted list:", names_friends)

Sorted list: ['Adamu,Aleena', 'Aliyah', 'Amrah', 'Mooneyes']

In [ ]:
# Reversing a list
names_friends.reverse()
print("Reversed list:", names_friends)

Reversed list: ['Mooneyes', 'Amrah', 'Aliyah', 'Adamu,Aleena']

TUPLES: Tuples are used to store multiple items in a single variable. Tuples allow duplicate values.

In [ ]:
#Tuples
fruits = ("apple", "watremelon",  "banana", "cherry")
print(fruits)

('apple', 'watremelon', 'banana', 'cherry')

In [ ]:
# tuple including string and integer
mixed_tuple = ('Hey', 'Pretty', '@ 23')
print(mixed_tuple)

('Hey', 'Pretty', '@ 23')

In [ ]:
# tuple including string and integer
mixed_tuple = ('Hey', 'Pretty'  '@ 23')
print(mixed_tuple)

('Hey', 'Pretty@ 23')

Tuples length

In [ ]:
#tuples length
brands_cars = ('BMW', 'Audi', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(brands_cars))

Total Items: 5

In [ ]:
#Tuples to duplicate values
fruits = ("apple", "banana","watremelon",  "banana", "apple", "cherry")
print(fruits)

('apple', 'banana', 'watremelon', 'banana', 'apple', 'cherry')

Iterate Through a Tuple

In [ ]:
# iterate through the tuple
fruits = ("apple", "watremelon",  "banana", "cherry")
for fruit in fruits:
    print(fruit)

apple
watremelon
banana
cherry

The code below is to check if an item exists in the Tuple

In [ ]:
# Checking if an item is in a tuples
fruits = ("apple", "watremelon",  "banana", "cherry")

print('banana' in fruits)    # False
print('pineapple' in fruits) # True

True
False

Deleting a  Tuple
We cannot delete individual items of a tuple. But, we can delete the tuple itself using the del statement.

In [ ]:
# deleting the tuple
subject = ('maths', 'physics', 'agric', 'civic')
print(subject)

('maths', 'physics', 'agric', 'civic')

In [ ]:
del subject
print(subject)

NameError: name 'subject' is not defined

The above error occured because the variable subject has been deleted.

SETS
They are created by placing all the elements inside curly braces {}, separated by commas.
A set can have any number of items and they may be of different types (integer, float, tuple, string, etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [1]:
# create a set of integer type
student_id = {1005, 1101, 1016, 2018, 1135}
print('Student ID:', student_id)

Student ID: {2018, 1101, 1016, 1005, 1135}

In [3]:
# create a set of string type
consonant_letters = {'c', 'b', 'h', 'k', 'f'}
print('Consonant Letters:', consonant_letters)

Consonant Letters: {'b', 'c', 'f', 'h', 'k'}

In [5]:
# create a set of mixed data types
mixed_set = {'Bye', 1005, 'Nice_shirt', 'Hello'}
print('Set of mixed data types:', mixed_set)

Set of mixed data types: {'Bye', 'Hello', 'Nice_shirt', 1005}

Running this code, the output are in a different order. This is because the set has no particular order.

In [8]:
#Duplicating elements in a set
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)

{8, 2, 4, 6}

A set doesnot duplicate elements like tuples.

Add and Update Set Items in Python
Sets are mutable. However, since they are unordered, indexing has no meaning.
We cannot access or change an element of a set using indexing or slicing.

In [12]:
numbers = {2, 4, 6, 6, 2, 8}
print('Initial Set:',numbers)

Initial Set: {8, 2, 4, 6}


The add () method is used to add to a set

In [13]:
# using add() method
numbers.add(12)

print('Updated Set:', numbers)

Updated Set: {2, 4, 6, 8, 12}

Removing an Element from a Set

In [14]:
#removing elements in a set
languages = {'Hausa', 'Yoruba', 'Fulani'}
print('Initial Set:',languages)

Initial Set: {'Yoruba', 'Fulani', 'Hausa'}

In [15]:
# remove 'Java' from a set
removedValue = languages.discard('Yoruba')
print('Set after remove():', languages)

Set after remove(): {'Fulani', 'Hausa'}

Iterate Over a Set in Python

In [16]:
rounds = {"Apple", "Peach", "Mango"}

# for loop to access each rounds
for rounds in rounds:
    print(rounds)

Peach
Mango
Apple

DICTIONARIES: Dictionary is a collection of items that allows us to store data in key: value pairs inside curly brackets {}, separated by commas

In [17]:
# creating a dictionary
state_capitals = {
  "Jigawa": "Dutse",
  "Kaduna": "Kaduna",
  "Niger": "Minna"
}
# printing the dictionary
print(state_capitals)

{'Jigawa': 'Dutse', 'Kaduna': 'Kaduna', 'Niger': 'Minna'}

The state_capitals dictionary has three elements (key-value pairs), where 'Jigawa' is the key and 'Dutse' is the value assigned to it etc.

Dictionary keys must be immutable, such as tuples, strings, integers, etc. We cannot use mutable (changeable) objects such as lists as keys.

Access Dictionary Items

In [18]:
#Access to dictoinary Items/Values
state_capitals = {
  "Jigawa": "Dutse",
  "Kaduna": "Kaduna",
  "Niger": "Minna"
}
# access the value of keys
print(state_capitals["Jigawa"])    # Output: Kaduna
print(state_capitals["Kaduna"])    # Output: Kaduna

Dutse
Kaduna

Add Items to a Dictionary
We can add an item to a dictionary by assigning a value to a new key.

In [19]:
#Adding to a dictionary
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
}
# add an item with "Merlin" as key and "Lome" as its value
country_capitals["Merlin"] = "Lome"
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'Merlin': 'Lome'}

In [20]:
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
}
# delete item having "Germany" key
del country_capitals["Germany"]

print(country_capitals)

{'Canada': 'Ottawa'}

CLearing the whole element  the dictionary

In [21]:
#Deleting all element in the dictionary
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
}
# clear the dictionary
country_capitals.clear()

print(country_capitals)

{}

Changing element in a dictionary

In [23]:
country_capitals = {
  "Nigeria": "Abuja",
  "Ghana": "Accra",
  "Togo": "Senegal"
}
# change the value of "Togo" key to "Lome"
country_capitals["Togo"] = "Lome"
print(country_capitals)

{'Nigeria': 'Abuja', 'Ghana': 'Accra', 'Togo': 'Lome'}

In [24]:
#Iterate Through a Dictionary
country_capitals = {
  "Nigeria": "Abuja",
  "Ghana": "Accra",
  "Togo": "Senegal"
}

In [25]:
# print dictionary keys one by one
for country in country_capitals:
    print(country)
print()

Nigeria
Ghana
Togo

In [26]:
# print dictionary values one by one
for country in country_capitals:
    capital = country_capitals[country]
    print(capital)

Abuja
Accra
Senegal