In [1]:
print('HELLO PHYTHON')

HELLO PHYTHON

In [2]:
import sys
print("ALEEN VER")
print(sys.version)

ALEEN VER
3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [10]:

 print ("Hello, Python!") #This line print a string
print ("welcome")

Hello, Python!
welcome

In [58]:
 print  ("Hello python!")

Hello python!

In [13]:
# Integer 
44

44

In [14]:
# Float
5.1

5.1

In [15]:
# String 
"information systems"

'information systems'

In [16]:
# Verify that this is an integer 
type (2)

int

In [43]:
# Convert a string into  an integer 
int ('7')

7

In [50]:
# convert a string into an wiht error
int ('1')

1

In [42]:
 # convert an integer to a string 
    str(1.1)

IndentationError: unexpected indent (2799325231.py, line 2)

In [20]:
# value true 
True

True

In [21]:
# Addition operation expression
50-70

-20

In [27]:
#  Store value into variable 
x

80

In [28]:
# Overwrite variable with new value
x = x / 70 
x

1.1428571428571428

In [ ]:
.....................................................................................

In [29]:
# Use quotation marks for defining string 
"Aleen Tale"

'Aleen Tale'

In [30]:
# Digitals and spaces in string 
' 0 1 2 3 '

' 0 1 2 3 '

In [31]:
# special characters in string 
'@#2_#]&*^%$'

' @#2_#]&*^%$'

In [32]:
# Assing string to variable 
name = ' Aleen '
name

' Aleen '

In [36]:
# print the first element in the string 
print (name[1])

A

In [59]:
# print the first element in the string 
print(name[-5])

l

In [60]:
# Take the slice on variable name with  only index 0 to index 3 
name [0:4]

' Ale'

In [61]:
# Get every second element. The element on index 1 , 3, 5
name[::2]

' le '

In [62]:
# Concatenate two strings 
statement = name + "is the best"
statement

' Aleen is the best'

In [64]:
#print the string for 3 times 
3 * " Aleen Tale "

' Aleen Tale  Aleen Tale  Aleen Tale '

In [65]:
# concatenate string 
name = " Aleen Tale "
name = name + "is the best "
name

' Aleen Tale is the best '

In [67]:
# New line escape sequence
print (" Aleen Tale \n is the best")

 Aleen Tale
 is the best

In [68]:
print (r"Aleen Tale \ is the best")

Aleen Tale \ is the best

In [70]:
# Convert all the characters in string to upper case 
a = "thriller is the sixth studio album"
print("befor upper:", a)
b = a.upper()
print("After upper:", b)

befor upper: thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [71]:
# find the substring in the string. only the index of the first element of substring in string will be the output 
name = " Aleen Tale "
name.find('le')

2

In [ ]:
....................................................................................................................

In [75]:
# Create your first tuple 
tuplel = ("School",1,3)
tuplel

('School', 1, 3)

In [76]:
# print the type of the tuple you created
type(tuplel)

tuple

In [77]:
# print the variable on each index 
print(tuplel[0])
print(tuplel[2])

School
3

In [78]:
tuplel[-1]

3

In [81]:
tuple2 = tuplel + (" university", 10)
tuple2

('School', 1, 3, ' university', 10)

In [82]:
# slice from index 0 to index 2
tuple2[0:3]

('School', 1, 3)

In [83]:
# Get the length of tuple
len(tuple2)

5

In [94]:
# sort the tuple 
ratingssorted = sorted(Ratings)
ratingssorted

[3, 5]

In [110]:
#print the first element in the second nested tuples 
NestedT[1][2]

'i'