<a href="https://colab.research.google.com/github/Fanigoro/information-retrival/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [13]:
df.fillna(df.median(numeric_only=True), inplace=True)

In [14]:
for col in df.select_dtypes(include=['object']).columns:
df[col].fillna(df[col].mode()[0], inplace=True)

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-14-261a33f74181>, line 2)

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
for col in df.select_dtypes(include=[np.number]).columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    df = df[~((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR)))]

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_columns = df.select_dtypes(include=[np.number]).columns
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [18]:
cleaned_file_path = 'cleaned_healthcare_dataset.csv'
df.to_csv(cleaned_file_path, index=False)

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3788 entries, 249 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3788 non-null   float64
 1   gender             3788 non-null   object
 2   age                3788 non-null   float64
 3   hypertension       3788 non-null   float64
 4   heart_disease      3788 non-null   float64
 5   ever_married       3788 non-null   object
 6   work_type          3788 non-null   object
 7   Residence_type     3788 non-null   object
 8   avg_glucose_level  3788 non-null   float64
 9   bmi                3788 non-null   float64
 10  smoking_status     3788 non-null   object
 11  stroke             3788 non-null   float64
dtypes: float64(7), object(5)
memory usage: 384.7+ KB
None

In [20]:
cleaned_file_path

'cleaned_healthcare_dataset.csv'