In [4]:
fruits=["apple", "banana", "cherry"]
for fruit in fruits:
     print(fruit)

apple
banana
cherry

In [40]:
#for loop extracting list values
names=["madhav","gaurav","kakul","mayank"]
for x in names:
    print(x)

madhav
gaurav
kakul
mayank

In [41]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
#for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
#for loop in strings
for letter in "Gaurav":
    print(letter)

G
a
u
r
a
v

In [44]:
#for loop for strings
for letter in "m a d h a v ":
     print(letter)

m

a

d

h

a

v

In [45]:
#while loop
count=0
while count <6:
    print(count)
    count+=1

0
1
2
3
4
5

In [3]:
#while loop
count=0
while count<=2:
      print(count)
      count+=.3

0
0.3
0.6
0.8999999999999999
1.2
1.5
1.8

In [2]:
inpt=' '
while inpt!="exit":
    inpt=input("enter ur string")
    print("ur string is",inpt)

ur string is hello
ur string is exit

In [44]:
list=[10,23,45,3,2,56,2,13]
sum=0
for i in list:
    print(i)

10
23
45
3
2
56
2
13

In [14]:
list=[10,23,45,3,2,56,2,13]
for lists in list:
   i=lists
   sum=0
 while i<list:
    sum=sum+i
    i=i+1
   print(sum)

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [4]:
i=0
while i<=10:
   print(i)
   i=i+2

0
2
4
6
8
10

In [8]:
i=1
while i<=10:
   print(i)
   i=i+2

1
3
5
7
9

In [2]:
i=1
while i<10:
     print(i)
     i=i+1

1
2
3
4
5
6
7
8
9

In [21]:
N=int(input("no."))
i=1
sum=0
while i<N:
     sum=sum+i
     i=i+1
print(sum)

1

In [22]:
N=int(input("no."))
i=1
sum=0
while i<N*N:
     sum=sum*sum+i
     i=i+1
print(sum)

12

In [7]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [16]:
#printing odd numbers b/w 1to15number=1
while number<16:
    print(number)
    number+=2

1
3
5
7
9
11
13
15

In [18]:
#printing odd numbers b/w 1to15
for i in range(1,15,2):
    print(i)

1
3
5
7
9
11
13

In [20]:
#for printing even numbers b/w 1 to 15
for i in range(0,15,2):
    print(i)

0
2
4
6
8
10
12
14

In [21]:
#printing sum for odd

In [30]:
#printing no. of vowels and vowels preset in string
a=["a","e","i","o","u"]
b=input("Enter ur strings")
z=0
for i in b:
    if i in a:
        print(i)
        z+=1
print("no. of vowels",z)

e
o
no. of vowels 2

In [55]:
#print numbers divisible by 3 to 5 b/w 1 to 50
for i in range(51):
    if i%3==0 and i%5==0:
        print(i)

0
15
30
45

In [67]:
#find largest no. in the list
list=[2,23,45,2345,1233,23]
for i in list:
     y=list.sort()
     i+=1
print(i)

2346