<a href="https://colab.research.google.com/github/ialimustufa/python-crash-course/blob/master/Python_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Colab for the classroom

This is an "Google Colab" notebook. It's a shared document where everybody can see and make changes to the same document.

The first few problems will get us acquainted with working together;

1.Go to file in the upper left corner

2.Click Save copy in drive

3.Follow along and use your own notebook!

In [ ]:
# This is a comment
# in a code cell
# Press shift + enter to execute a cell
# Nothing will print from this cell since these are all comments

# **What is Python?**

Python is an open-source object-oriented programming language. It first 
appeared in 1991 and has become extremely popular among data scientists. StackOverflow calls it as the fastest growing programming language.

It is used for:

*   Web development
*   Software Development
*   Mathematics
*   System Scripting and Much more


# **What Python can do?**

*   Python can be used on a server to create web applications.
*   Python can be used alongside software to create workflows.
*   Python can connect to database systems. It can also read and modify files.
*   Python can be used to handle big data and perform complex mathematics.
*   Python can be used for rapid prototyping, or for production-ready software development.

# Why Learn Python?
Python’s syntax is very simple hence it's easy for the beginners to understand. The lines of code required for a task is less compared to other languages.


*  Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
*  Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
*  Python can be treated in a procedural way, an object-orientated way or a functional way.

# **Let’s look at some cool features of Python:**

1.   Simple and easy to learn
2.   Free and Open Source
3.   Portable
4.   Supports different programming paradigm
5.   Extensible

# **Python Applications:**
​
1.    Artificial Intelligence
2.    Desktop Application
3.    Automation
4.    Web Development
5.    Data Wrangling, Exploration
6.    Visualization

# **Python Setup:**

For Windows PC, search in the start bar for Python or run the following on the Command Line (cmd.exe):

```
C:\Users\Your Name>python --version
```

To check if you have python installed on a Linux or Mac, then on linux open the command line or on Mac open the Terminal and type:

```
python --version
```


---


*   If you are on Windows OS download Python by [clicking here](https://www.python.org/downloads/windows/) and now install from the setup and in the start menu type IDLE.IDLE, you can think it as an Python’s IDE to run the Python Scripts.
*  If you are on Linux/Unix-like just open the terminal and on 99% linux OS Python comes preinstalled with the OS.Just type ‘python3’ in terminal and you are ready to go.

In [ ]:
# uncomment and run this code (Rember in colab you need to ass a "!" before running linux commands)
!python --version

Python 3.7.10

# **Starting with Python**

Python is an interpreted programming language, this means that as a developer you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed.

The way to run a python file is like this on the command line:



```
C:\Users\Your Name>python helloworld.py
```
Where "helloworld.py" is the name of your python file.

Let's write our first Python file, called helloworld.py, which can be done in any text editor.


helloworld.py
```
print("Hello, World! :) ")
```
Simple as that. Save your file. Open your command line, navigate to the directory where you saved your file, and run:

```
C:\Users\Your Name>python helloworld.py
```

The output should read:



```
Hello, World! :)
```

In [ ]:
#TO-DO Print Hello World using print command!

print("")

# **Python Syntax & Indentation**

Python syntax can be executed by writing directly in the Command Line:



```
>>> print("Hello, World! :)")
Hello, World! :)
```

Or by creating a python file on the server, using the .py file extension, and running it in the Command Line:

```
C:\Users\Your Name>python myfile.py
```


**Python Indentation**


Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

Example :

In [ ]:
#indentation is imp in python below code will give you error

if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

The number of spaces is up to you as a programmer, but it has to be at least one.

In [ ]:
#Example (Generally we prefer a tab's space)

if 10 > 5:
 print("Ten is greater than Five!") 
if 10 > 5:
        print("Ten is greater than Five!") 
        print("Ten is greater than Five!")

Ten is greater than Five!
Ten is greater than Five!
Ten is greater than Five!

# **Comments:**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment, this line will not execute.

print("Yoooo!")

Yoooo!

*   Comments can be used to explain Python code.

*   Comments can be used to make the code more readable.
*   Comments can be used to prevent execution when testing code.
*   In `Colab` we have a option to comment a block using `ctrl+/`

In [ ]:
print("Comment in colab line 1")
print("Comment in colab line 2")
print("Comment in colab line 3")
print("select all the lines and then do crtl+/ to comment and again to reverse back")

Comment in colab line 1
Comment in colab line 2
Comment in colab line 3
select all the lines and then do crtl+/ to comment and again to reverse back

# **Variables in Python:**

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

In Python you don’t need to declare variables before using it, unlike other languages like Java, C etc.

# **Assigning values to a variable:**

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. 
The equal sign (=) is used to assign values to variables.

In [ ]:
x = 11 
y = "Google" 
print(x)
print(y)

11
Google

Variables do not need to be declared with any particular type and can even change type after they have been set.

In [ ]:
x = 4 # x is of type int
x = "Frost forbite" # x is now of type str
print(x)

Frost forbite

String variables can be declared either by using single or double quotes:

In [ ]:
x = "Marcus Burns"
# is the same as
x = 'Marcus Burns'
y = 10

At any point if you want to see the `type of the variable` like `int` or `str` use `type()` function.

In [ ]:
type(x) # replace "x" with "y" and see its type

str

# **Assign Value to Multiple Variables:**

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Apples", "Grapes", "Mangoes" #very useful in spliting the data
print(x)
print(y)
print(z)

Apples
Grapes
Mangoes

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Kiwi"
print(x)
print(y)
print(z)

Kiwi
Kiwi
Kiwi

# **Data Types in Python:**
Python supports various data types, these data types defines the operations possible on the variables and the storage method. 


* Text Type:	`str`
* Numeric Types:	`int, float, complex`
* Sequence Types:	`list, tuple, range`
* Mapping Type:	`dict`
* Set Types:	`set, frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes, bytearray, memoryview`

# **Getting the Data Type:**

You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

**Numeric:**

Just as expected Numeric data types store numeric values. They are immutable data types, this means that you cannot change it’s value. Python supports three different Numeric data types:

1. Integer type: It holds all the integer values i.e. all the positive and negative whole numbers, example – 10.

2. Float type: It holds the real numbers and are represented by decimal and sometimes even scientific notations with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250), example – 10.24.

3. Complex type: These are of the form a + bj, where a and b are floats and J represents the square root of -1 (which is an imaginary number), example – 10+6j.

Now you can even perform type conversion. For example, you can convert the integer value to a float value and vice-versa.

In [ ]:
x = 11    # int
y = 2.8  # float

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
# we usually use int conversion for some values in ML
a = 8.16
# Convert it into int type
b = int(a)
print(b)

8

**Strings:**

Strings are amongst the most popular data types in Python. We can create them simply by enclosing characters in quotes. Python treats single and double quotes in exactly the same fashion.

**String Methods**

Python has a set of built-in methods that you can use on strings.

* capitalize() : Converts the first character to upper case
* casefold() :	Converts string into lower case
* count() :	Returns the number of times a specified value occurs in a string
* encode()	: Returns an encoded version of the string
* find() :	Searches the string for a specified value and returns the position of where it was found
* format() :	Formats specified values in a string
* index()	: Searches the string for a specified value and returns the position of where it was found
* isdecimal() :	Returns True if all characters in the string are decimals
* isdigit() :	Returns True if all characters in the string are digits
* isidentifier() :	Returns True if the string is an identifier
* islower()	: Returns True if all characters in the string are lower case
* isnumeric()	: Returns True if all characters in the string are numeric
* isupper()	: Returns True if all characters in the string are upper case
* lower() :	Converts a string into lower case
* upper()	: Converts a string into upper case

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

In [ ]:
a = "Hello World!"
b = 'Welcome'

#operations on Strings-*

print (len(b))	        #String Length
print (a.index('e'))    #Locate a character in String
print (a[1:5])	        #Slicing
print (a[::-1])	        #Reverse a String
print (b.upper())	      #Convert the letters in a String to upper-case

#TO-DO Convert "a" to lower case 


#TO-DO print reverse of b

7
1
3
ello
!dlroW olleH
WELCOME
welcome

**List:**

You can consider the Lists as Arrays in C, but in List you can store elements of different types, but in Array all the elements should of the same type.
List is the most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets.

**List Methods**

Python has a set of built-in methods that you can use on lists.


* append() : Adds an element at the end of the list
* clear()	: Removes all the elements from the list
* copy() :	Returns a copy of the list
* count() :	Returns the number of elements with the specified value
* extend(): Add the elements of a list (or any iterable), to the end of the current list
* index()	: Returns the index of the first element with the specified value
* insert() :	Adds an element at the specified position
* pop() :	Removes the element at the specified position
* remove() :	Removes the item with the specified value
* reverse() :	Reverses the order of the list
* sort() :	Sorts the list

In [ ]:
Sports = ['Basketball', 'Cricket', 'Football', 1,5,6.0] #unlike array in c list in pyhthoin can store any data type
print(Sports)

['Basketball', 'Cricket', 'Football', 1, 5, 6.0]

## Operations on lists

In [ ]:
print (Sports[0])       #printing the value at index

Basketball

In [ ]:
#TO-DO Print first three elements using the slicing we learnt earlier

print (Sports{[:]})

In [ ]:
Sports[2]='baseball'       #replacing the value at particular index

print (Sports)

['Basketball', 'Rugby', 'baseball', 5, 6.0]

In [ ]:
del Sports[1]           #deleting a value at an index
 
print (Sports)

['Basketball', 'baseball', 5, 6.0]

In [ ]:
print (len(Sports))     #get the length of the string

4

**Negative Indexing**

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

#TO-DO Print apple using negative indexing

cherry

**Dictionary Methods**

Python has a set of built-in methods that you can use on dictionaries.

* clear() :	Removes all the elements from the dictionary
* copy()	: Returns a copy of the dictionary
* get()	: Returns the value of the specified key
* items()	: Returns a list containing a tuple for each key value pair
* keys()	: Returns a list containing the dictionary's keys
* pop()	: Removes the element with the specified key
* popitem() :	Removes the last inserted key-value pair
* update() :	Updates the dictionary with the specified key-value pairs
* values() :	Returns a list of all the values in the dictionary

In [ ]:
family = {
  "child1" : {
    "name" : "Walter White",
    "year" : 2004
  },
  "child2" : {
    "name" : "Jesse Pinkman",
    "year" : 2007
  },
  "child3" : {
    "name" : "Harvey Specter",
    "year" : 2011
  }
}

print(family)

{'child1': {'name': 'Walter White', 'year': 2004}, 'child2': {'name': 'Jesse Pinkman', 'year': 2007}, 'child3': {'name': 'Harvey Specter', 'year': 2011}}

In [ ]:
# TO-DO make a dictionay of people sitting beside you and print it

neighbor = {}

Operators in Python:

Operators are the constructs which can manipulate the values of the operands. Consider the expression 2 + 3 = 5, here 2 and 3 are operands and + is called operator.

*Types of Operators in Python: *

Arithmetic

Comparision

Logical

Assignment

Bitwise

Arithmetic Operation:

These Operators are used to perform mathematical operations like addition, subtraction etc.

In [ ]:
a = 11
b = 20
c = 0
 
c = a + b
print ( c )
 
c = a - b
print ( c )
 
c = a * b
print ( c )
 
c = a / b
print ( c )
 
c = b % a
print ( c )

a = 2
b = 3
c = a ** b
print ( c )

31
-9
220
0.55
9
8

Comparision Operation:

These Operators compare the values on either sides of them and decide the relation among them.

In [ ]:
a = 11
b = 20
result = (a == b)

print(result)

result = (a != b)

print(result)

result = ( a < b )

print(result)
 
result = ( a > b )

print(result)

result = ( a <= b )

print(result)

type(result)

False
True
True
False
True

bool

In [ ]:
result = ( a >= b)
result

False

# Logical Operators
* ( and ) to check if the LHS and RHS conditions both conditions are satisfied. Basically checking for truthy values
* ( or  ) to check if atleast one of the side satisfy the condition. Basically checking for truthy values
* ( not ) to check if the condition is not satified. Basically checking for falsy values

In [ ]:
x = True
y = False
 
print('x and y is',x and y)
 
print('x or y is',x or y)
 
print('not x is',not x)

x and y is False
x or y is True
not x is False

# **Input Output:**
Take input from the user and work with it

In [ ]:
my_age = input("Enter your age: ")

# add code here 

# end code here

add_age = my_age + 2 #It will throw an error

#lets check why?
type(my_age)

#Lets fix this;

# TO-DO Convert my_age to int using int()

Enter your age: 10

str

## Decision making and loops

In [ ]:
# don't run will throw error

if condition 1
    perform task1
else 
    perform task2

Example

Take input and see if its even or odd

In [ ]:
# TO-DO take input from the user and store in "number" variable


# TO-DO Convert it to int

# if else logic here
if (number%2 ==0):
  print("Event Number")
else:
  print("Odd Number")

Event Number

Example of 3 or more conditions

In [ ]:
# TO-DO Take input from user and store it in "number" variable


if number == 1:
    print('Task 1')
elif number == 2:   # we don't write else if we write elif here
    print('Task 2')
else:
    print('Task 3')

# **Loops:**
In general, statements are executed sequentially. The first statement in a function is executed first, followed by the second, and so on.

There may be a situation when you need to execute a block of code several number of times
A loop statement allows us to execute a statement or group of statements multiple times. 

In Python, there are three loops:

1.  While
2.  For
3.  Nested

In [ ]:
# before we go into loops understand range() function

list(range(10)) # will generate list of 10 numbers from 0-9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10)) # will start from 2 and print till 9

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#very simple loop

for temp in range(6):
    print(temp)

0
1
2
3
4
5

In [ ]:
mytask = [3,5,'Hi',8]

for temp in mytask: #you can iterate anything in For Loop
    print(temp)

3
5
Hi
8

In [ ]:
# While Loop

i = 0
while i<10:
    print('HI')
    i = i+1

HI
HI
HI
HI
HI
HI
HI
HI
HI
HI

# **Functions:**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time.

**Define a function with no arguments and no return values:**

In [ ]:
def print_text():
    print('this is text')

In [ ]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [ ]:
def print_this(x):
    print(x)

In [ ]:
# call the function
print_this(3)

3

**Define a function with one argument and one return value:**

In [ ]:
def square(x):
    return x**2
    
square(5)

25

In [ ]:
#Example

def calc(a, b, op='add'):

    if op == 'add':
        return a + b

    elif op == 'sub':
        return a - b
        
    else:
        print('valid operations are add and sub')

In [ ]:
# call the function
calc(10, 4, op='add')

14

In [ ]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [ ]:
# default for 'op' is 'add'
calc(10, 4)

14

In [ ]:
calc(10, 4, 'sub')

6

# **Anonymous Functions (Lambda Functions)**
Primarily used to temporarily define a function for use by another function.
* Anonymous
* Single use, simple 1=line function
* Throw-away functions

**Syntax :**

`lambda arguments : expression`

**Here are some single-argument Lambdas:**

In [ ]:
add10 = lambda x : x + 10
print (add10(5))

15

In [ ]:
square = lambda x : x * x
print (square(10))

100

In [ ]:
# TO-DO print even odd using Lambda function