# Class 2

Hello everyone and welcome to our second class! Based on our previous meeting we've decided to extend the number of classes related to basic programming skills, so today we continue our journey with Python :)

Our goals for today are:
1. Go over string methods;
2. Quickly remind you about conditions (if...else);
3. Understand how for and while loops work;
4. Practice a little bit :)

In order to get points for activity you should:
1. Fill in this form: https://forms.gle/y8gDMtTW11xz7o2f7
2. Participate in Yandex.Contest: https://contest.yandex.ru/contest/29618/enter/

<img src="" width=400>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Class-2" data-toc-modified-id="Class-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Class 2</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#Indexing-and-slices" data-toc-modified-id="Indexing-and-slices-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Indexing and slices</a></span></li><li><span><a href="#String-methods" data-toc-modified-id="String-methods-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>String methods</a></span></li><li><span><a href="#String-formatting" data-toc-modified-id="String-formatting-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>String formatting</a></span></li><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Problem 1</a></span></li></ul></li><li><span><a href="#Conditions-and-if-statements" data-toc-modified-id="Conditions-and-if-statements-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Conditions and if statements</a></span><ul class="toc-item"><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Problem 2</a></span></li></ul></li><li><span><a href="#While-loops" data-toc-modified-id="While-loops-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>While loops</a></span><ul class="toc-item"><li><span><a href="#Break-and-continue-operators" data-toc-modified-id="Break-and-continue-operators-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Break and continue operators</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Problem 5</a></span></li></ul></li><li><span><a href="#For-loops" data-toc-modified-id="For-loops-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>For loops</a></span></li></ul></div>

# Strings

## Indexing and slices

Let's create a string – we can use either single or double quotes, it does not matter.

In [10]:
s = 'Welcome to America!' # single quotes
print(s)

s = "Welcome to America!" # double quotes
print(s)

Welcome to America!
Welcome to America!

If you want to include quotes inside of the text you should use either single quotes outside and double inside or vice versa.

In [11]:
s = 'Welcome to "America!"' # single quotes outside and double quotes inside
print(s)

Welcome to "America!"

You can use an escape character `\` as well:

In [ ]:
s = 'Welcome to \'America!\'' # same single qoutes inside and ouside + \
print(s)

To get the number of characters use `len()` function.

In [3]:
f = 'gfhdsjk.   '

In [4]:
len(f)

11

String is a sequence, so we can use indexing to get the symbols we need. To do so, use square brackets with a number (index) inside. Indexing starts from 0.

In [5]:
print(s[0]) # first element
print(s[1]) # second element
print(s[2]) # third element
print(s[-1]) # last element
print(s[-2]) # second to last element

# previous code did not change the string
print(s)

W
e
l
"
!
Welcome to "America!"

Besides obtaining a single symbol, we can alse create slices. To do this, we need to specify borders separated by colons. The syntax may look different:

* `s[start:]` – a slice from index `start` til the end of the string
* `s[:finish]` – a slice from the first symbol of the string til the index `finish - 1`
* `s[start:finish]` – a slice from index `start` til the index `finish - 1`
* `s[::step]` – start with index 0, then index `step`, then `2 * step` and so on til the end of the string
* `s[:finish:step]` – start with index 0, then index `step`, then `2 * step` and so on til the index `finish - 1`
* `s[start::step]` – start with index `start`, then index `step`, then `2 * step` and so on til the end of the string
* `s[start:finish:step]`– start with index `start`, then index `step`, then `2 * step` and so on til the index `finish - 1`
* `s[:]` – creates a copy of a string

**`start, finish, step` must be integers!**

In [12]:
s

'Welcome to "America!"'

In [13]:
print(s[1:])
print(s[:4]) 
print(s[:]) 
print(s[:-1])
print(s[::2]) 
print(s[::-1])

elcome to "America!"
Welc
Welcome to "America!"
Welcome to "America!
Wloet Aeia"
"!aciremA" ot emocleW

String are immutable:

In [15]:
s1 = 'abcd'
s1[1]

'b'

In [16]:
s1[1] = 'f'

TypeError: 'str' object does not support item assignment

But can be concatenated or multiplied:

In [17]:
'a' + 'b'

'ab'

In [18]:
'a' * 10

'aaaaaaaaaa'

## String methods

We can check whether a substring is present in string using `in`:

In [19]:
lyrics = '''The unlocked variant of the Galaxy Z Flip was quickly sold in stores as well 
            as on Samsung’s website in the US after the launch. The company had also claimed
            that it was overwhelmed with the response it received from consumers for its second 
            foldable phone. Now, the South Korean smartphone giant says that the Galaxy Z Flip 
            will be back in stock in the US tomorrow.'''

print('smartphone' in lyrics)

True

While working with strings we will use a variety of different methods. Unlike functions, methods are called after variable name and a dot (example: `s.lower()`). Methods are functions that can be applied to a specific data type. `print()` can work with anything, therefore it's a function, while `.lower()` can only be applied to strings – it's a method which won't work with other data types.

In [20]:
news = '''The unlocked variant of the Galaxy Z Flip was quickly sold in stores as well 
            as on Samsung’s website in the US after the launch. The company had also claimed
            that it was overwhelmed with the response it received from consumers for its second 
            foldable phone. Now, the South Korean smartphone giant says that the Galaxy Z Flip 
            will be back in stock in the US tomorrow.'''


print(news.upper()) # converts to uppercase
print(news.lower()) # converts to lowercase

THE UNLOCKED VARIANT OF THE GALAXY Z FLIP WAS QUICKLY SOLD IN STORES AS WELL
            AS ON SAMSUNG’S WEBSITE IN THE US AFTER THE LAUNCH. THE COMPANY HAD ALSO CLAIMED
            THAT IT WAS OVERWHELMED WITH THE RESPONSE IT RECEIVED FROM CONSUMERS FOR ITS SECOND
            FOLDABLE PHONE. NOW, THE SOUTH KOREAN SMARTPHONE GIANT SAYS THAT THE GALAXY Z FLIP
            WILL BE BACK IN STOCK IN THE US TOMORROW.
the unlocked variant of the galaxy z flip was quickly sold in stores as well
            as on samsung’s website in the us after the launch. the company had also claimed
            that it was overwhelmed with the response it received from consumers for its second
            foldable phone. now, the south korean smartphone giant says that the galaxy z flip
            will be back in stock in the us tomorrow.

Calling a methods usually does not change the string:

In [22]:
print(news)

The unlocked variant of the Galaxy Z Flip was quickly sold in stores as well
            as on Samsung’s website in the US after the launch. The company had also claimed
            that it was overwhelmed with the response it received from consumers for its second
            foldable phone. Now, the South Korean smartphone giant says that the Galaxy Z Flip
            will be back in stock in the US tomorrow.

**find()**  
Method find()  finds the first occurrence of the specified value and returns -1 if the value is not found.

In [23]:
news.find('South')

305

In [27]:
news[305:328]

'South Korean smartphone'

In [28]:
news.find('south') # case-sensitive

-1

In [29]:
news.find('o') # first occurence

7

In [30]:
news.rfind('o') # last occurence

414

**str.replace('substr_to_replace', 'replacement')**

Will replace all substrings that are the first argument unless you specify the number of replacements in the third argument.

In [32]:
'Hello, can you hear me?'.replace(' ', '***')

'Hello,***can***you***hear***me?'

In [33]:
'Hello, can you hear me?'.replace(' ', '***', 2)

'Hello,***can***you hear me?'

Methods **str.startswith('substring')** and **str.endswith('substring')** check whether substring is in the beginning or in the end of the string respectively.

In [34]:
s = '''We the People of the United States, in Order to form a more perfect Union, 
        establish Justice, insure domestic Tranquility, provide for the common defence, 
        promote the general Welfare, and secure the Blessings of Liberty to ourselves and 
        our Posterity, do ordain and establish this Constitution for the United States of America.'''
print(s)
print(s.startswith('We'))

We the People of the United States, in Order to form a more perfect Union,
        establish Justice, insure domestic Tranquility, provide for the common defence,
        promote the general Welfare, and secure the Blessings of Liberty to ourselves and
        our Posterity, do ordain and establish this Constitution for the United States of America.
True

In [35]:
feedback = 'This place was bad.' 

if feedback.endswith('bad.'): 
    print('Client was disappointed') 
else:
    print('Client was satisfied')

Client was disappointed

What if the word is not in the end of the sentence? Let's find it!

In [36]:
feedback2 = 'This place was bad enough'

if feedback2.find('bad') != -1: 
    print('Client was disappointed') 
else:
    print('Client was satisfied')

Client was disappointed

Method **strip()** (and similar methods **lstrip()** and **rstrip()**, working on only one side of a line, removes insignificant characters (spaces, tabs, etc.) from the edges of lines. A very useful method when we collect information from the internet. Passing an argument to these methods will remove the substring.

In [37]:
print(' 135133   '.strip()) 
print('ruhse.ru'.strip('ru')) 
print('ruhse.ru'.lstrip('ru'))
print('ruhse.ru'.rstrip('ru'))

135133
hse.
hse.ru
ruhse.

In [4]:
'   \nxx\n  '.strip()

'xx'

In [5]:
'   \nxx\n  '.rstrip()

'   \nxx'

In [6]:
'   \nxx\n  '.lstrip()

'xx\n  '

**str.count('substring')** counts the number of occurencies of a substring in a string.

In [38]:
s = "Mushroooom soup" 
print(s.count("O"))
print(s.count("o")) 
print(s.count("oo")) 
print(s.count("ooo")) 
print(s.count("push"))
print(s.count("o", 4, 7)) # searching for "o" in s[4:7]
print(s.count("o", 7)) # searching for "o" in  s[7:]

0
5
2
1
0
2
3

Some methods check whether a string will fit a certain condition:

In [41]:
print('ask me a question!'.islower())

True

In [43]:
# isalpha - whether all symbols are alphabetical
print('Ask me a question'.isalpha())
print('Ask'.isalpha())

# isdigit - whether all symbols are digits
print('13242'.isdigit())

# isalnum - whether all symbols are either alphabetical or digits
print('Ask me a question!'.isalnum())
print('Ask232'.isalnum())

# islower - whether all letters are in lowercase
print('ask me a question!1'.islower())

# isupper - whether all letters are in uppercase
print('Ask me a question!'.isupper())

False
True
True
False
True
True
False

In [9]:
# title - makes every word's first letter uppercase
print('ask, hgfjdk? me a question!'.title())

# swapcase - swaps cases to the opposite
print('ask me a question!'.lower())

Ask, Hgfjdk? Me A Question!
ask me a question!

In [45]:
# capitalize - makes first letter uppercase, others lowercase
'helLo hOW aRe yOU?'.capitalize()

'Hello how are you?'

Example: a user has to create a passwords for his account. The password should contain only letters and digits.

In [47]:
password = input("Enter the password: ")

if password.isalnum() == False:
    print("The password must contain only letters and digits!")

Enter the password: aa aaa bb
The password must contain only letters and digits!

And also at least one uppercase letter:

In [48]:
password = input("Enter the password: ")

if password.isalnum() == False:
    print("The password must contain only letters and digits!")
if password.islower() == True:
    print("The password must contain at least one uppercase letter!")

Enter the password: aa bb 1
The password must contain only letters and digits!
The password must contain at least one uppercase letter!

## String formatting

Sometimes we want to put variable values inside string. Using string formatting is an easy way to do that:

In [49]:
result = "Your name: %s. Your age: %i." % ('Nastya', 24)
print(result)

Your name: Nastya. Your age: 24.

Operator % indicates the place inside the string where our variable will be stored, the letter after indicated the data type ("s" for string, "i" for integer, "f" for float).

In [50]:
print("Your name: %s. Your age: %i.") # don't lose the second part from the syntax above!

Your name: %s. Your age: %i.

If we forget to add one of the values, we will get a TypeError.

In [52]:
print("Your name: %s. Your age: %i." % ("Nastya"))

TypeError: not enough arguments for format string

And be careful with setting the data types:

In [53]:
print("Your name: %s. Your age: %i." % ('Nastya', 24))

Your name: Nastya. Your age: 24.

In [54]:
print("Ваше имя: %i. Ваш возраст: %s." % ('Nastya', 24))

TypeError: %i format: a number is required, not str

Let's look at an example with float values:

In [55]:
height = float(input("Your height (meters): "))
height

Your height (meters): 1.78

1.78

In [56]:
print("Your height: %f" % height) # f means float

Your height: 1.780000

Default option is printing 6 decimal places, but you can tune it like this (standar arithmetic rounding
will be applied):

In [58]:
print("Your height: %.2f" % height) # 2 decimal places

Your height: 1.78

In [57]:
print("Your height: %.1f " % height) # 1 decimal place

Your height: 1.8

This is not the only way to string formatting. It is a bit old. Newer versions use `str.format()` method. In Python 3.6 were introduced f-strings (formatted string literals). Check them out:

In [59]:
name = 'Ryan'
age = '27'

In [60]:
print(f"Your name: {name}. Your age: {age}. Your height: {height:.2f}") # using f-string

Your name: Ryan. Your age: 27. Your height: 1.78

In [61]:
print("Your name: {}. Your age: {}".format(name, age)) # using .format()

Your name: Ryan. Your age: 27

In [62]:
print("Your name: {}. Your age: {}. Your height: {:.2f}".format(name, age, height))

Your name: Ryan. Your age: 27. Your height: 1.78

If you point out a specific data type (.2f means float), then make sure you put variables in the correct order:

In [63]:
print("Your name: {}. Your age: {}. Your height: {:.2f}".format(age, height, name))

ValueError: Unknown format code 'f' for object of type 'str'

You can also use numeration to point out order of filling. One variable can be used multiple times.

In [64]:
print("Your name: {2}. Your age: {0}. Your height: {1:.2f}. Is that correct, {2}?".format(age,
                                                                                          height, name))

Your name: Ryan. Your age: 27. Your height: 1.78. Is that correct, Ryan?

We can also apply mathematical expressions and methods to our variables while formatting strings:

In [65]:
print(f"Your name: {name.upper()}. Your age: {2020-1988}. Your height in ft: {height * 100 / 30.48 :.2f}")

Your name: RYAN. Your age: 32. Your height in ft: 5.84

## Problem 1

From math import pi. Using various string formatting methods print following strings:

 
__Output:__  
`Value 22/7 (3.14) is an approximation of the number pi (3.1416)`  
`Value 22/7 3.142 is an approximation of the number pi 3.141592653589793`

In [66]:
import math
print(math.pi)
print('Value 22/7 (%.2f) is an approximation of the number pi (%.4f)' % (math.pi, math.pi))
print(f'Value 22/7 {math.pi:.3f} is an approximation of the number pi {math.pi}')

3.141592653589793
Value 22/7 (3.14) is an approximation of the number pi (3.1416)
Value 22/7 3.142 is an approximation of the number pi 3.141592653589793

# Conditions and if statements

**Conditions (if)** allow you to execute the code only if some logical expression is true.

Simply put, "if it is true that ... then do ...".

The simplest example of using if is to output a certain phrase by condition.

<img src="https://www.alphacodingskills.com/python/img/python-if-elif-else.png" width=700>

In [67]:
x = 1
if x == 1: 
    print('That is true!')

That is true!

In [68]:
x = int(input())
if x % 2 == 0:
    print('even')
else:
    print('odd')

8
even

In [ ]:
a = int(input())
b = int(input())

if (a < b) or (a == b): # if a <= b:
    print('a <= b')

In [70]:
x = 1
if x != 1: # False
    print('That is true!')  # nothing happens

Please note that the code inside the condition is indented with 4 spaces or tabs (it does not work in all IDEs, but everything will be fine in Jupyter).

Otherwise, the program will not understand that it refers to a condition.

In [71]:
if x == 1:
print('That is true!')

IndentationError: expected an indented block (<ipython-input-71-b1fb9bc19953>, line 2)

But what if, in the case when the condition is not true, we also want to perform some action? For this we have a keyword **else**.

In [72]:
if x != 1:
    print('That is true!')
else:
    print('That is false!')

That is false!

We figured out how to act if we have two options for action, but there may be more.

For example, let's solve a simple problem - find at least two numbers entered. Nothing new so far:

In [73]:
a = input()
b = input()
if a < b:
    min = a
else:
    min = b
print('The minimum is', min)

10
7
The minimum is 10

Now let's complicate the task by adding a third scenario - if the numbers are equal, we will print *'Equal numbers'*.

You can solve this problem using nested conditions:

In [74]:
a = input()
b = input()
if a < b: 
    print(a)
else:
    if a > b:
        print(b)
    else:
        print('Equal numbers:', a)

5
5
Equal numbers: 5

Not bad, but you can simplify this solution using the **else if (or elif)** construct, which allows you to immediately write another check if the condition is false.

This is how the solution to our problem using elif will look like:

In [75]:
a = input()
b = input()
if a < b: 
    print(a)
elif a > b: 
    print(b)
else:
    print('Equal numbers:', a)

6
6
Equal numbers: 6

## Problem 2

There is a sale at the local store:
* For all goods cheaper than 1000 rubles 15% discount
* For all products more expensive than 1000, but cheaper than 5000 rubles, a 20% discount
* For all products more expensive than 5000 rubles, a 25% discount

**Input**

Non-negative integer - product price in rubles

**Output**

Non-negative integer - discount for goods in rubles

In [76]:
price = int(input())

if price > 5000:
    print(price * 0.25)
elif price > 1000:
    print(price * 0.20)
else:
    print(price * 0.15)

7000
1750.0

# While loops

Quite often, tasks require us to execute the same type of code several times.

Writing the same lines multiple times clutters the program. **Loops** help to cope with this.

The principle of using a while loop: write a boolean expression and some code. The code will run as long as the boolean expression is true.

For example, let's print all integers from 1 to 10.

In [77]:
i = 1 
while i <= 10:
    print(i) 
    i += 1 # i = i + 1

1
2
3
4
5
6
7
8
9
10

In [5]:
# i = 1 
# while i > 0:
#     print(i) 
#     i += 1 # i = i + 1

## Break and continue operators

We can control loops execution using operators **break** and **continue**.

**Break** inside a loop allows you to interrupt its execution and immediately jump to the code that follows the loop (or terminate the program).

In this case, we can write the **else** section immediately after the loop (the syntax is the same as in the conditions).

The code written after **else** will be executed if the loop ended "naturally" (that is, it was not interrupted with break).

## Problem 3

Let's look at an example of a problem that can be solved using break.

Let the student pass 5 subjects during the session and we want to know if he has a retake

**Input format**

Up to five gardes from 1 to 10

**Output format**

If at least one of the marks is less than 4, we end the program and print 'YES' (there are retakes).
If all five grades are greater than 3, we print 'NO' (the student has closed the session without retakes)

In [78]:
i = 1
while i <= 5:
    note = int(input("Enter a grade: "))
    if note < 4:
        print('YES')
        break
    i += 1
else:
    print('NO')

Enter a grade: 6
Enter a grade: 6
Enter a grade: 6
Enter a grade: 6
Enter a grade: 6
NO

The **continue** statement allows you to immediately jump to a new iteration of the loop without executing the code that is written inside the loop below it.

Let's change the condition of the problem - now we will count the number of retakes a student has.

In [79]:
i = 1
retakes = 0
while i <= 5:
    note = int(input("Enter a grade: "))
    i += 1
    if note >= 4:
        continue
    retakes += 1
print("Number of retake:", retakes)

Enter a grade: 6
Enter a grade: 7
Enter a grade: 2
Enter a grade: 3
Enter a grade: 5
Number of retake: 2

The break and continue statements should not be overused, as it can impair the readability of the code.

For example, in the previous example, we would have done without continue:

In [80]:
i = 1
retakes = 0
while i <= 5:
    note = int(input("Enter a grade: "))
    i += 1
    if note < 4:
        retakes += 1
print("Number of retake:", retakes)

Enter a grade: 5
Enter a grade: 4
Enter a grade: 6
Enter a grade: 2
Enter a grade: 3
Number of retake: 2

## Problem 4

Jan started to run and on the first day she ran X kilometers and was exhausted. Jan set herself a goal of Y kilometers and decided to find out when she will reach it, if every day she runs 10% more distance than the previous one.

**Input format**

The program receives integers X, Y as input

**Output format**

One integer (day when Jan will run her goal)

**Examples**

**Input:**

10

21

**Output:**

9

In [81]:
x = int(input())
y = int(input())

day_count = 1
while x <= y:
    x += x*0.1
    day_count += 1
    
print(day_count)

10
21
9

## Problem 5

The interest rate on the deposit is P percent per annum, which are added to the deposit amount after a year. The contribution is X rubles Y kopecks. The fractional number of kopecks is discarded after a year. Calculate the amount of the deposit in rubles and kopecks.

**Input format**

The program receives integers P, X, Y, K as input.

**Output format**

The program should display two numbers: the amount of the deposit in K years in rubles and kopecks. The recalculation of the deposit amount (with the discarding of fractional parts of kopecks) occurs annually.

**Examples**  
Test 1  
**Input:**  
12  
179  
0  
5  

**Output:**  
315 43

Test 2  
**Input:**  
13  
179  
0  
100  

**Output:**   
36360285 50

Test 3  
**Input:**   
1  
1  
0  
1000  

**Output:**  
11881 92

In [82]:
p = 12
x = 179
y = 0
k = 1

year = 0 
end_year_amount = x * 100 + y 

while year < k:
    percent = end_year_amount * p / 100
    end_year_amount = int(end_year_amount + percent)
    year += 1 
    
print(end_year_amount // 100, end_year_amount % 100)

200 48

# For loops

In Python, a loop starts with the **for** keyword, followed by an arbitrary variable name that will hold the values of the next sequence object. The general syntax for **for ... in** in python is as follows:

**for** <variable> **in** <sequence>:

     <action>
    
**else:**

     <action>
    
The elements of the "sequence" are iterated over one by one by the "variable" of the loop; to be precise, the variable points to the elements. For each element, an “action” is performed.

<img src ="https://d33wubrfki0l68.cloudfront.net/09c51b2f33c74a58ae5ae12689b2c5441e6f6bb4/83a52/wp-content/uploads/2017/06/forloop.png" alt ="Test picture" style="width: 300px;"/>

In [83]:
# list
languages = ["C", "C++", "Perl", "Python"]
for lang in languages:
    print(lang)

C
C++
Perl
Python

In [84]:
# tuple
for lang in ("C", "C++", "Perl", "Python"):
    print(lang)

C
C++
Perl
Python

In [85]:
# set
for lang in {"C", "C++", "Perl", "Python"}:
    print(lang)

C++
C
Python
Perl

In [87]:
d = {'a': 1, 'b': 2}

In [88]:
# dictionary
for y in d: # iterates by key
    print(y)

a
b

In [21]:
for y in d.items(): # iterates by tuple, first value – key, second – key's value
    print(y)

('a', 1)
('b', 2)

In [23]:
for y in d.values(): # iterates by values
    print(y)

1
2

In [89]:
for y in 'hey, how are you?': # iterates by symbol
    print(y)

h
e
y
,

h
o
w

a
r
e

y
o
u
?

In [90]:
for y in 1000.5: # not an iterable
    print(y)

TypeError: 'float' object is not iterable

The elements of the sequence are iterated over one by one by the variable of the loop; to be precise, the variable points to the elements. For each element, an action is performed.

We should alse mention the extremely useful function **range()**. 

In simple terms, **range()** allows you to generate a range of numbers within a given range. Depending on how many arguments you pass to the function, you can decide where this series of numbers will start and end, as well as how big the difference will be between the two numbers.

There are three ways to call **range()**:

* **range(stop)** takes one argument
* **range(start, stop)** takes two arguments
* **range(start, stop, step)** takes three arguments

In fact, **range()** returns a "lazy" iterable (Yes, this is difficult now). You need to understand the following: 
* range() can be iterated over (so it is an iterable object)
* range() does not keep all its objects in memory, but retrieves them "on demand" (just like an iterator!)
* But there are a number of differences that make range() look like sequences (lists, tuples, and strings)

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
list(range(1, 12, 2))

[1, 3, 5, 7, 9, 11]

In [67]:
range(10)

range(0, 10)

In [74]:
for i in range(11):
    print(x[i])

1
2
3
4
7
49
4
23
63
28
28

In [91]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [87]:
# step can also be negative if start > finish
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [90]:
for i in range(19, 9, -1):
    print(i)

19
18
17
16
15
14
13
12
11
10