Python Assignment:

Q1 What are the types of Applications?
->1.Web Development.
  2.Game Development.
  3.Machine Learning and Artificial Intelligence.
  4.Data Science and Data Visualization.
  5.Desktop GUI.
  6.Web Scraping Applications.
  7.Business Applications.
  8.Audio and Video Applications.

Q2  What is programing?
-> Python is a high-level, general-purpose programming language.
   Its design philosophy emphasizes code readability with the use of
   significant indentation. Python. Paradigm. Multi-paradigm:
   object-oriented, procedural (imperative), functional, structured,
   reflective.

Q3 What is Python?
-> Python is a high-level, general-purpose programming language.
   Its design philosophy emphasizes code readability with the use of
   significant indentation. Python is dynamically typed and garbage-collected.
   It supports multiple programming paradigms, including structured,
   object-oriented and functional programming.

Q7 How memory is managed in Python?
-> You can classify memory management in Python in one of two ways: dynamic
  allocation or static allocation. Dynamic allocation occurs as the program is running. This means that as the program operates, it can dynamically determine where to allocate memory while reusing and releasing it.

Q8 What is the purpose continuing statement in python?
-> The continue statement in Python is used to skip the remaining code inside a
   loop for the current iteration only. Pass: The pass statement in Python is used when a statement or a condition is required to be present in the program, but we don't want any command or code to execute.

Q17 What are negative indexes and why are they used?
-> Negative indexing allows you to access elements of a sequence from the end, using negative numbers as indexes. This can be useful for getting the last few elements of a sequence, reversing a sequence.

Q25 What is List? How will you reverse a list?
-> A list in Python is a collection of items which can hold a variety of data types. Lists are ordered, mutable (changeable), and allow duplicate elements. Lists are defined by enclosing elements in square brackets ([]), with each element separated by a comma.

1.Using the reverse() Method: The reverse() method reverses the elements of the list in place. This means it modifies the original list and does not return a new list. my_list = [1, 2, 3, 4, 5] my_list.reverse() print(my_list) # Output: [5, 4, 3, 2, 1]
2.Using Slicing: Slicing can be used to create a new list that is the reverse of the original list. my_list = [1, 2, 3, 4, 5] reversed_list = my_list[::-1] print(reversed_list) # Output: [5, 4, 3, 2, 1]

Q26 How will you remove last object from a list?
-> 1: Using the pop() method without an index = my_list = [1, 2, 3, 4, 5] last_element= my_list.pop() print(my_list) print(last_element)

2: Using slicing =my_list = [1, 2, 3, 4, 5] my_list = my_list[:-1] print(my_list)

3: Using the del statement= my_list = [1, 2, 3, 4, 5] del my_list[-1] print(my_list)

Q 28 Differentiate between append () and extend () methods?
-> 1:append(another_list) adds the entire another_list as a single element to my_list.

my_list = [1, 2, 3]

another_list = [4, 5, 6]

my_list.append(another_list)

print(my_list)

Output: [1, 2, 3, [4, 5, 6]]

2: extend(another_list) adds each element of another_list individually to my_list.

my_list = [1, 2, 3]

my_list.extend(another_list)

print(my_list)

Output: [1, 2, 3, 4, 5, 6]


Q 43 What is tuple? Difference between list and tuple
-> A tuple is an immutable, ordered collection of elements in Python, defined by parentheses (). The main difference between a list and a tuple is that lists are mutable (can be modified) and are defined with square brackets [], while tuples are immutable (cannot be modified) and are defined with parentheses ().

List example
my_list = [1, 2, 3]

my_list[0] = 10

print(my_list)

Output: [10, 2, 3]

my_tuple = (1, 2, 3)
my_tuple[0] = 10

This will raise a TypeError

print(my_tuple)

Output: (1, 2, 3)

Q51 How Do You Traverse Through a Dictionary Object in Python?
->Traversing through a dictionary in Python can be done in various ways depending on what you need to access (keys, values, or key-value pairs). Here are some common methods to traverse through a dictionary:

my_dict = {'a': 1, 'b': 2, 'c': 3}

for key in my_dict:

    print("Key:", key)

for value in my_dict.values():

    print("Value:", value)

for key, value in my_dict.items():

    print("Key:", key, "Value:", value)    

Output:

Key: a
Key: b
Key: c

Value: 1
Value: 2
Value: 3

Key: a Value: 1
Key: b Value: 2
Key: c Value: 3

Q65 How Many Basic Types of Functions Are Available in Python?
-> In Python, there are two basic types of functions:

Built-in Functions:

These are functions that are pre-defined in Python and are available out-of-the-box. You don't need to import any modules to use them. Examples include print(), len(), type(), abs(), and sum().

In [ ]:
#Q4  Write a Python program to check if a number is positive, negative or zero

num=int(input("Enter a number:"))
if num>0:
    print("Positive Number")
elif num<0:
    print("Negative Number")
else:
    print("Zero")

Enter a number:7
Positive Number

In [ ]:
#Q5 Write a Python program to get the Factorial number of given numbers.

num=int(input("Enter the number"))
fact=1
for i in range(1,num+1):
    fact=fact*i
    print(fact)

Enter the number4
1
2
6
24

In [ ]:
#Q6 Write a Python program to get the Fibonacci series of given range.

num=int(input("Enter the number"))
a=0
b=1
sum=0
count=1
print("Fibonacci series:")
while(count<=num):
    print(sum)
    count=count+1
    a=b
    b=sum
    sum=a+b

Enter the number5
Fibonacci series:
0
1
1
2
3

In [ ]:
#Q9  Write python program that swap two number with temp variable and without temp variable

i=100
j=200
temp=i
i=j
j=temp
print("i=",i)
print("j=",j)

i= 200
j= 100

In [ ]:
#Q10 Write a Python program to find whether a given number is even or odd, print out an appropriate message to the user.

num=int(input("Enter the number"))
if num%2==0:
    print(" Number Is Even")
else:
    print("Number Is Odd")

Enter the number7
Number Is Odd

In [ ]:
#Q11  Write a Python program to test whether a passed letter is a vowel or not

char=input("Enter the character")
if char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
    print("Vowel")
else:
    print("Consonant")

Enter the charactere
Vowel

In [ ]:
#Q12 Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
num3=int(input("Enter the third number"))
if num1==num2 or num2==num3 or num1==num3:
    sum=0
    print("sum=",sum)
else:
    sum=num1+num2+num3
    print("sum=",sum)

Enter the first number1
Enter the second number2
Enter the third number3
sum= 6

In [ ]:
#Q13 Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
if num1==num2 or num1+num2==5 or num1-num2==5:
    print("True")
else:
    print("False")

Enter the first number2
Enter the second number3
True

In [ ]:
#Q14 Write a python program to sum of the first n positive integers

num=int(input("Enter the number"))
sum=0
for i in range(1,num+1):
    sum=sum+i
    print(sum)

Enter the number3
1
3
6

In [ ]:
#Q15 Write a Python program to calculate the length of a string.

str=input("Enter the string")
print(len(str))

Enter the stringAashka
6

In [ ]:
#Q16 Write a Python program to count the number of characters (character frequency) in a string.

str=input("Enter the string")
freq={}
for i in str:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

Enter the stringAashka shah
{'A': 1, 'a': 3, 's': 2, 'h': 3, 'k': 1, ' ': 1}

In [ ]:
# Q18 Write a Python program to count occurrences of a substring in a string.
def count_substring(main_string, sub_string):
    count = main_string.count(sub_string)
    return count

# Example usage
main_string = input("Enter a main string: ")
sub_string = input("Enter a sub string: ")

result = count_substring(main_string, sub_string)
print(f"The substring '{sub_string}' appears {result} times in the main string.")

Enter a main string: aashka shah
Enter a sub string: shah
The substring 'shah' appears 1 times in the main string.

In [ ]:
# Q19 Write a Python program to count the occurrences of each word in a given sentece
sentence = input("Enter a sentence: ")
words = sentence.split()
freq = {}

for i in words:
    i =i.lower()  # Convert the word to lowercase
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print(freq)

Enter a sentence: I am so tired to complete my assignment
{'i': 1, 'am': 1, 'so': 1, 'tired': 1, 'to': 1, 'complete': 1, 'my': 1, 'assignment': 1}

In [ ]:
# Q20 Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
def swap(string1,string2):
  combine_string=string1[:2]+string2[2:]+" "+string2[:2]+string1[2:]
  return combine_string

string1=input("Enter first string: ")
string2=input("Enter second string: ")
print(swap(string1,string2))

Enter first string: Aashka
Enter second string: Shruti
Aaruti Shshka

In [ ]:
#  Q21 Write a Python program to add 'in' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then
# add 'ly' instead if the string length of the given string is less than 3, leave it unchanged.
def add_in(string):
  if len(string)<3:
    return string
  elif string[-3:]=="ing":
    return string+"ly"
  else:
    return string+"in"

string=input("Enter a string: ")
print(add_in(string))

Enter a string: hate
hatein

In [ ]:
# Q22 Write a Python function to reverses a string if its length is a multiple of 4.
def reverse(string):
  if len(string)%4==0:
    return string[::-1]
  else:
    return string
string=input("Enter a string: ")
print(reverse(string))

Enter a string: Abhi
ihbA

In [ ]:
# Q23 Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return
# instead of the empty string.
def frist_last(string):
  if len(string)<2:
    return ""
  else:
    return string[:2]+string[-2:]

string=input("Enter a string: ")
print(frist_last(string))

Enter a string: hey
heey

In [ ]:
# Q24 Write a Python function to insert a string in the middle of a string.
string1 = input("Enter a string: ")
string2 = input("Enter a string to insert: ")
index = int(input("Enter the index to insert the string: "))
new_string=string1[:index]+string2+string1[index:]
print(new_string)

Enter a string: Ashka
Enter a string to insert: a
Enter the index to insert the string: 1
Aashka

In [ ]:
# Q27 Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?
list1=[2,33,222,14,25]
print(list1[-1])

25

In [ ]:
# Q29 Write a Python function to get the largest number, smallest num and sum of all from a list.
def large_small_sum(list):
  largest=max(list)
  smallest=min(list)
  sum=0
  for i in list:
    sum+=i
  print("Largest number:",largest)
  print("Smallest number:",smallest)
  print("Sum of all numbers:",sum)

list=[45,20,90,10]
large_small_sum(list)

Largest number: 90
Smallest number: 10
Sum of all numbers: 165

In [ ]:
# Q30 How will you compare two lists?
list1=input("Enter first list: ")
list2=input("Enter second list: ")
if list1==list2:
  print("Equal")
else:
  print("Not equal")

Enter first list: 1,2,2,4,5,
Enter second list: 1,3,5,7,
Not equal

In [ ]:
# Q31 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
def count_special_strings(strings):
    count = 0
    for s in strings:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    return count

# Example usage
string_list = ["abc", "xyz", "aba", "1221", "a"]
result = count_special_strings(string_list)
print(f"Number of special strings: {result}")

Number of special strings: 2

In [ ]:
# Q32 Write a Python program to remove duplicates from a list.

# list=[1,2,3,4,5,1,2,3,4,5]
# new_list=[]
# for i in list:
#   if i not in new_list:
#     new_list.append(i)
# print(new_list)

def remove_duplicates(lst):
  return list(set(lst))

my_list=[1,2,3,4,5,1,2,3,4,5]
print(remove_duplicates(my_list))

TypeError: 'list' object is not callable

In [ ]:
# Q33 Write a Python program to check a list is empty or not.
List=[1]
if len(List)==0:
  print("List is empty")
else:
  print("List is not empty")

List is not empty

In [ ]:
# Q34 Write a Python function that takes two lists and returns true if they have at least one common member.
def common_member(list1, list2):
    for i in list1:
        if i in list2:
            return True
    return False

# Example usage
result = common_member([1, 2, 3, 4, 5], [5, 6, 7, 8, 9])
print(result)

result = common_member([1, 2, 3, 4, 5], [6, 7, 8, 9])
print(result)

True
False

In [ ]:
# Q35 Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.
list=[]
for i in range(1,31):
  list.append(i**2)
print(list[:5])
print(list[-5:])
# squares = [i**2 for i in range(1, 31)]
# first_five = squares[:5]
# last_five = squares[-5:]
# print("First 5 elements:", first_five)
# print("Last 5 elements:", last_five)

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [ ]:
# Q36 Write a Python function that takes a list and returns a new list with unique elements of the first list.
def get_unique_elements(input_list):
unique_elements = list(set(input_list))
return unique_elements

# Example usage
example_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9, 10]
unique_list = get_unique_elements(example_list)

print("Original list:", example_list)
print("Unique elements list:", unique_list)

IndentationError: expected an indented block after function definition on line 2 (<ipython-input-27-9e70d46d0a72>, line 3)

In [ ]:
# Q37 Write a Python program to convert a list of characters into a string.
List=['x','y','z',"Aashka"]
string=" "
for i in List:
  string+=i
print(string)

 xyzAashka

In [ ]:
# Q38 Write a Python program to select an item randomly from a list.
import random
list=[1,2,3,4,5,6,7,8,9,10]
print(random.choice(list))

2

In [ ]:
# Q39 Write a Python program to find the second smallest number in a list.
list=[1,12,3,4,5,6,7,8,9,10]
list.sort()
print(list[1])

3

In [ ]:
# Q40 Write a Python program to get unique values from a list
List=[1,2,3,4,5,1,2,3,4,5]
new_list=[]
for i in List:
  if i not in new_list:
    new_list.append(i)
print("My list:",List)
print("Unique list:",new_list)

# def get_unique_elements(input_list):
#   unique_elements=list(set(input_list))
#   return unique_elements

# my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9, 10]
# unique_list = get_unique_elements(my_list)

# print(my_list)
# print(unique_list)

My list: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
Unique list: [1, 2, 3, 4, 5]

In [ ]:
# Q41 Write a Python program to check whether a list contains a sub list.
list1=[1,2,3,4,5]
list2=[2,3]
if list2 in list1:
  print("True")
else:
  print("False")

False

In [ ]:
# Q42 Write a Python program to split a list into different variables.
list=[1,2,3,4,5]
a,b,c,d,e=list
print("a:",a,"b:",b,"c:",c,"d:",d,"e:",e)

a: 1 b: 2 c: 3 d: 4 e: 5

In [ ]:
# Q44 Write a Python program to create a tuple with different data types.
my_tuple = (1, "hello", 3.14, True, [1, 2, 3], {'key': 'value'}, (5, 6))
for i in my_tuple:
  print("Elelment",i,type(i))

Elelment 1 <class 'int'>
Elelment hello <class 'str'>
Elelment 3.14 <class 'float'>
Elelment True <class 'bool'>
Elelment [1, 2, 3] <class 'list'>
Elelment {'key': 'value'} <class 'dict'>
Elelment (5, 6) <class 'tuple'>

In [ ]:
# Q45 Write a Python program to unzip a list of tuples into individual lists.

my_list = [(1, 'A'), (2, 'B'), (3, 'C')]
keys, values = zip(*my_list)
print("Keys:", keys)
print("Values:", values)

Keys: (1, 2, 3)
Values: ('A', 'B', 'C')

In [ ]:
# Q46 Write a Python program to convert a list of tuples into a dictionary.
list_of_tuple = [(1,'a'),(2,'b'),(3,'c'),(4,'d')]
new_dict = {}
for key,value in list_of_tuple:
  new_dict[key] = value
print("Dictionary",new_dict)

# list_of_typle = [(1,'a'),(2,'b'),(3,'c'),(4,'d')]
# dictionary = dict(list_of_typle)
# print(dictionary)

Dictionary {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
# Q47 How will you create a dictionary using tuples in python?
# Using a list of tuples and dictionary comprehension You can create a dictionary from a list of tuples using dictionary comprehension:
list_of_tuple = [(1,'a'),(2,'b'),(3,'c'),(4,'d')]
new_dict = {}
for key,value in list_of_tuple:
  new_dict[key] = value
print("Dictionary",new_dict)

# Using the dict() constructor
list_of_typle = [(1,'a'),(2,'b'),(3,'c'),(4,'d')]
dictionary = dict(list_of_typle)
print(dictionary)

Dictionary {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
# Q48 Write a Python script to sort (ascending and descending) a dictionary by value.
my_dict = {'apple': 10, 'orange': 5, 'banana': 8, 'grapes': 3}
sorted_dict = dict(sorted(my_dict.items()))
print("Dictionary sorted by keys:", sorted_dict)

Dictionary sorted by keys: {'apple': 10, 'banana': 8, 'grapes': 3, 'orange': 5}

In [ ]:
# Q49 Write a Python script to concatenate following dictionaries to createa new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for i in (dic1, dic2, dic3):
    dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Q50 Write a Python script to check if a given key already exists in a dictionary
dic = {'a': 1, 'b': 2, 'c': 3,}
key = 'f'
if key in dic:
    print(f"Key '{key}' exists in the dictionary.")
else:
    print("Key not exists in dictionary")

Key not exists in dictionary

In [ ]:
# Q52 How Do You Check the Presence of a Key in A Dictionary?
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'd'
if key in my_dict:
    print(f"Key '{key}' exists in the dictionary.")
else:
    print("Key not exists in dictionary")

Key not exists in dictionary

In [ ]:
# Q53 Write a Python script to print a dictionary where the keys are numbers between 1 and 15.
my_dict = {}
for i in range(1, 16):
    my_dict[i] = i**1
print(my_dict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

In [ ]:
# Q54 Write a Python program to check multiple keys exists in a dictionary.
my_dict = {'a':1,'b':2,'c':3}
keys = ['a','d']
for key in keys:
    if key in my_dict:
        print(f"Key '{key}' exists in the dictionary.")
    else:
        print(f"Key '{key}' not exists in dictionary")

Key 'a' exists in the dictionary.
Key 'd' not exists in dictionary

In [ ]:
# Q55 Write a Python script to merge two Python dictionaries
def merge_dictionaries(dict1, dict2):
  merged_dict = {**dict1, **dict2}
  return merged_dict

dic1 = {'a':1,'b':2}
dic2={'c':3,'d':4}

print("Merged_Dictionary",merge_dictionaries(dic1,dic2))

Merged_Dictionary {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Q56 Write a Python program to map two lists into a dictionary.
keys = ['Name','b','c','d']
values = ['AASHKA',2,3,4]
my_dict = dict(zip(keys,values))
print(my_dict)

{'Name': 'AASHKA', 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Q57 Write a Python program to find the highest 3 values in a dictionary.
my_dict = {'apple': 10, 'orange': 5, 'banana': 8, 'grapes': 3}
sorted_dict = sorted(my_dict.values(),reverse=True)
top_three = sorted_dict[:3]
print(my_dict)
print(top_three)

{'apple': 10, 'orange': 5, 'banana': 8, 'grapes': 3}
[10, 8, 5]

In [ ]:
# Q58 Write a Python program to combine values in python list of dictionaries.
# Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':
# 300}, o {'item': 'item1', 'amount': 750}]
# Sample data
data = [{'item': 'item1', 'amount': 400},
        {'item': 'item2', 'amount': 300},
        {'item': 'item1', 'amount': 750}]

# Initialize an empty dictionary to store combined values
combined_dict = {}

# Iterate through each dictionary in the list
for d in data:
    item = d['item']
    amount = d['amount']

    # If item already exists in combined_dict, add the amount to existing value
    if item in combined_dict:
        combined_dict[item] += amount
    else:
        combined_dict[item] = amount

# Print the combined dictionary
print("Combined values:", combined_dict)

Combined values: {'item1': 1150, 'item2': 300}

In [ ]:
# Q59 Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.
string = "Hello,world"
my_dict = {}
for i in string:
  if i in my_dict:
    my_dict[i]+=1
  else:
    my_dict[i]=1
print(my_dict)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
# Q61 Write a Python function to calculate the factorial of a number (anonnegative integer)
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Example usage
number = 4
print("The factorial of", number, "is", factorial(number))

The factorial of 4 is 24

In [ ]:
# Q62 Write a Python function to check whether a number is in a given range
def in_range(number,range_start,range_end):
  return range_start <= number <= range_end

num = 5
start = 1
end = 10
if in_range(num,start,end):
  print(f"{num} is in the range {start}-{end}.")
else:
    print(f"{num} is not in the range {start}-{end}.")

5 is in the range 1-10.

In [ ]:
# Q63 Write a Python function to check whether a number is perfect or not.
def is_perfect(number):
  if number < 1:
    return False
  sum_of_div = 0
  for i in range(1,number):
    if number % i == 0:
      sum_of_div += i
  return sum_of_div == number

num = 13
if is_perfect(num):
  print(num,'is perfect number')
else:
  print(num,'is not perfect number')

13 is not perfect number

In [ ]:
# Q64 Write a Python function that checks whether a passed string is palindrome or not
def is_palindrome(s):
  clean_string = s.replace(" ","").lower()
  return clean_string == clean_string[::-1]

string = "DAD"
if is_palindrome(string):
  print(string,'is palindrome')
else:
  print(string,'is not palindrome')

DAD is palindrome

In [ ]:
# Q66 How can you pick a random item from a list or tuple?
import random

my_list = [1, 2, 3, 4, 5]
random_item_from_list = random.choice(my_list)
print(f"Random item from list: {random_item_from_list}")

my_tuple = ('apple', 'orange', 'banana', 'grape')
random_item_from_tuple = random.choice(my_tuple)
print(f"Random item from tuple: {random_item_from_tuple}")

Random item from list: 1
Random item from tuple: banana

In [ ]:
# Q67 How can you pick a random item from a range?
import random
random_int = random.randint(1, 10)
print('random numnber',random_int)

random numnber 2

In [ ]:
# Q68 How can you get a random number in python?
import random
random_int = random.randint(1, 10)
print('random numnber',random_int)

random numnber 2

In [ ]:
# Q69 How will you set the starting value in generating random numbers?
import random

print(random.random())
print(random.randint(1, 10))
print(random.uniform(1.5, 10.5))

0.48519435376133824
10
1.6643819327719382