## ASSIGNMENT 2

### String based assignment problem

#### QUESTION 1

In [1]:
#To reverse a string
str = "I am reading a book"

In [2]:
str[::-1]

'koob a gnidaer ma I'

#### QUESTION 2

In [5]:
# To check if a string is palindrome
def isPalindrome(s) :
    return s == s[::-1]
s = "malayalam"
ans = isPalindrome(s)
if ans:
   print("Yes")
else: 
   print("No")

Yes

#### QUESTION 3

In [3]:
# To convert a string into uppercase
s = "jasmine"
s.upper()

'JASMINE'

#### QUESTION 4

In [11]:
# Convert a string into lowercase
s = "JASMINE"
s.lower()

'jasmine'

#### QUESTION 5

In [5]:
# To count number of vowels in a string
string  = input("Enter the string:")
vowels = 0
for i in string :
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels = vowels +1
        print("Number of vowels are:")
        print(vowels)

Enter the string: i am an ambivert personality

Number of vowels are:
1
Number of vowels are:
2
Number of vowels are:
3
Number of vowels are:
4
Number of vowels are:
5
Number of vowels are:
6
Number of vowels are:
7
Number of vowels are:
8
Number of vowels are:
9
Number of vowels are:
10

#### QUESTION 6

In [5]:
# Count number of consonents in a string
vowels = 0
consonants = 0
# Enter an input string
user_input = input("Enter a string : ")
string = user_input.lower()

for i in string :
    if (i == 'a' or i== 'e' or i == 'i' or i == 'o' or i == 'u' ):
            vowels = vowels+1;
else:
    consonants = consonants+1;
    print("Number of vowels:",vowels);
    print("Number of consonats:",consonants);

Enter a string :  My name is Jasmine

Number of vowels: 6
Number of consonets: 1

#### QUESTION 7

In [16]:
# To remove all the whitespaces in a string
s1 = " Hello World"

In [17]:
s1.replace(" " , "")

'HelloWorld'

#### QUESTION 8

In [21]:
# Count length of string 
string = "Jasmine"
count = 0
for i in string :
    count+=1
    print(count)

1
2
3
4
5
6
7

#### QUESTION 9

In [24]:
# Check if a string contains a specific word
string = "I am a data enthusiast"
if "data" in string :
   print("Found")
else:
   print("Not Found")

Found

#### QUESTION 10

In [9]:
# Replace a word with another word in a string
string  = "My name is Jasmine"
new_string =  string.replace("Jasmine", "Jessie")
print(new_string)

My name is Jessie

#### QUESTION 11

In [29]:
# Count the occurences of a word in a string
string = "I love apples , apples are my favourite fruit . "
x = string.count("apples")
print(x)

2

#### QUESTION 12

In [30]:
# Find the first occurence of a word in a string
string = "jennifer"
result = string.find("e")
print(result)

1

#### QUESTION 13

In [4]:
# Find the last occurence of a word in a string 
str1 = "I love listening and singing songs"
index  = str1.index("i")
print("The last index of i in the  given string is" ,index)

The last index of i in the  given string is 8

#### QUESTION 14

In [5]:
# Split a string into list of words
string = "I am studying in Panjab University "
x = string.split()
print(x)

['I', 'am', 'studying', 'in', 'Panjab', 'University']

#### QUESTION 15

In [4]:
# Join a list of words into string
text = ['Python' ,  'is' ,  'a'  ,  'fun'  ,  'language'  ]
print(' '.join(text))

Python is a fun language

#### QUESTION 16

In [6]:
# Replace whitespace with underscores
s = "I am pursuing Masters" 
x = s.replace(" ","_")
print(x)

I_am_pursuing_Masters

#### QUESTION 17

In [10]:
# Check if a string  starts with a specific word or phrase
s = "Python is fun"
print(s.startswith('Python'))

True

#### QUESTION 18

In [138]:
# Check if a string ends with a specific word or phrase
s = "Python is fun"
print(s.endswith('fun'))

True

#### QUESTION 19

In [12]:
# Convert a string into title case
s = " My hobby is reading books "
x = s.title()
print(x)

 My Hobby Is Reading Books

#### QUESTION 20

In [6]:
# Find the longest word in string
string = "I admires the nature a lot"
word_list = string.split()
longest_word = max(word_list , key = len)
print(longest_word)

admires

#### QUESTION 21

In [7]:
# Find the shortest word in string
string = "I admires the nature a lot"
word_list = string.split()
shortest_word = min(word_list , key = len)
print(shortest_word)

I

#### QUESTION 22

In [8]:
# Reverse the order of words in a string
str = " I admires nature a lot"
words = string.split()
words = list(reversed(words))
print(" ".join(words))

lot a nature the admires I

#### QUESTION 23

In [9]:
# Check if a string is alphanumeric
str = "jasmine1357"
x = str.isalnum()
print(x)

True

#### QUESTION 24

In [35]:
# Extract all the digits from a string
str = "jas45mine1357"
print("original string :" + str)
num = ""
for c in str:
    if c.isdigit():
        num = num+c
print("Extracted numbers from the list : " + num)

original string :jas45mine1357
Extracted numbers from the list : 451357

#### QUESTION 25

In [141]:
# Extract all the alphabets from the string
str = "jas45mine1357"
res  = ""
for i  in str:
    if i.isalpha():
     res = "".join([res, i])
    
print("Result:" , res)

Result: jasmine

#### QUESTION 26

In [10]:
# Count the number of uppercase letters in a string
string = "JASMine"
count  = 0 
for i in string :
    if i.isupper():
        count = count+1
print("The number of capital letters found in the string is : " , count)

The number of capital letters found in the string is :  4

#### QUESTION 27

In [11]:
# Count the number of lowercase letters in a string
string = "JasmIne"
count = 0
for i in string :
    if i.islower():
        count = count+1
print("The number of small letters found in the string are :" , count)

The number of small letters found in the string are : 5

#### QUESTION 28

In [12]:
# Swap the case of each character in a string
string  = "gEEksForGeeKs"
print(string.swapcase())

GeeKSfORgEEkS

#### QUESTION 29

In [13]:
# Remove a specific word from a string
string = "My name is jasmine"
x = string.replace("is",'')
print(x)

My name  jasmine

#### QUESTION 30

In [60]:
# Check if a string is a valid e-mail address
import re
def validate_email(email):
    if re.match(r"[^@]+@[^@]+\.[^@]+",email):
        return True
        return False

email = "jasminekaur3301@gmail.com"
if validate_email(email):
    print("Valid email address")
else :
    print("Invalid email address")

Valid email address

#### QUESTION 31

In [120]:
# Extract the username from an email address string
def extract_username(email):
    if '@' in email:
        username = email.split("@")[0]
        return username
        
email_address = "jasminekaur3301@gmail.com"
username = extract_username(email_address)
print(f"username :{username} ")

username :jasminekaur3301

#### QUESTION 32

In [117]:
# Extract the domain name from an email address string
def extract_domain(email):
    username , domain = email.split('@')
    return domain
email_address = "jasminekaur3301@gmail.com"
domain_name = extract_domain(email_address)
print(domain_name)

gmail.com

#### QUESTION 33

In [122]:
# Replace multiple spaces in a string with a single string
string = " bob   has   two    apples"
result = " " .join(string.split())
print(repr(result))

'bob has two apples'

#### QUESTION 34

In [2]:
# Check if a string is a valid URL
url = input("Enter url: ")
if not url :
    print("Empty URL , Please provide a valid URL.")
elif url.startswith("https://") and ".com" in url:
    print(f"{url} is a valid HTTPS URL with and '.com'.")
else:
    print(f"{url} does not meet the specified conditions.")

Enter url:  https://learn.pwskills.com/lesson/03rd-Sep'23-:-Operators-and-Control-flow/64f45525fe327f949ba3af84/course/Full-Stack-Data-Science-Pro/64a264076977ccc0a0e20c13

https://learn.pwskills.com/lesson/03rd-Sep'23-:-Operators-and-Control-flow/64f45525fe327f949ba3af84/course/Full-Stack-Data-Science-Pro/64a264076977ccc0a0e20c13 is a valid HTTPS URL with and '.com'.

#### QUESTION 35

In [80]:
# Extract the protocol(http or https) from a URL string 
import re

def extract_protocol(url):
    match = re.match(r'^\s*([a-zA-Z]+)\s*://' , url)
    if match:
        return match.group(1)
    else:
        return None

url = "https://www.example.com/path/to/resource"
protocol = extract_protocol(url)
print(f"The protocol of the URL is : {protocol}")

The protocol of the URL is : https

#### QUESTION 36

In [123]:
# Find the frequency of each character in a string
string  = "my name is jasmine"
res = {i : string.count(i) for i in set(string)}
print("The counts of all characters in string is :" + str(res))

The counts of all characters in string is :{'i': 2, ' ': 3, 'a': 2, 'e': 2, 's': 2, 'n': 2, 'm': 3, 'j': 1, 'y': 1}

#### QUESTION 37

In [133]:
# Remove all punctuations from a string
def remove_punctuation(input_string):
     return''.join(char for char in input_string if char.isalnum() or char.isspace())
input_text = "Hello , World! This is an example."
result = remove_punctuation(input_text)
print(result)

Hello  World This is an example

#### QUESTION 38

In [134]:
# Check if a string contains only digits
string = "12345"
string.isdigit()

True

#### QUESTION 39

In [148]:
# Check if a string contains only alphabets
string = "jasmine"
string.isalpha()

True

#### QUESTION 40

In [142]:
# Convert a string to a list of characters
s = "abc$ # 3221 "
x  = [i for i in s ] 
print(x)

['a', 'b', 'c', '$', ' ', '#', ' ', '3', '2', '2', '1', ' ']

#### QUESTION 41

In [162]:
# Check if two strings are anagrams
string1 = "listen"
string2 = "silent"
string1 = sorted(string1.lower())
string2 = sorted(string2.lower())

print("string1 after sorting" , string1)
print("string2 after sorting" , string2)
if string1==string2 :
    print("Strings are anagrams")
else:
    print("Strings are not anagrams")

string1 after sorting ['e', 'i', 'l', 'n', 's', 't']
string2 after sorting ['e', 'i', 'l', 'n', 's', 't']
Strings are anagrams

#### QUESTION 42

In [78]:
# Encode a string using a Caeser cipher
import random
def generate_substitution_key():
    alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    shuffled_alphabet = list(alphabet)
    random.shuffle(shuffled_alphabet)
    substitution_key = dict(zip(alphabet,shuffle_alphabet))
    return subtitution_key

def substitution_cipher_encode(text , substitution_key):
    encoded_text = ''.join(substitution_key.get(char,char) for char in text.upper())
    return encoded_text

original_text = "Hello , World!"
substitution_key = generate_substitution_key()
encoded_text = substitution_cipher_encode(original_text , substitution_key)
print("Original:" , original_text)
print("Encoded:" , encoded_text)

NameError: name 'shuffle_alphabet' is not defined

#### QUESTION 43

In [40]:
# Decode a Caeser cipher encoded string
# Define a function to decode a string using a Caeser cipher
def caeser_cipher_decoder(encoded_string, shift):

 # Initialise an empty string to store the decoded text
   decoded_string = ""

# Loop through each character in the input text
   for char in text:
    # Check if the character is an alphabetic character
       if char.isalpha():
           if char.islower():
       #Calculate the decoded character using the shift value
       decoded_string  += chr((ord(char) - shift - 97)%26 + 97)
           else:
               decoded_string += chr((ord(char) - shift - 65)% 26 +65)
       else:
    
    # Add the decoded character to the decoded text
           decoded_string += char
 # Return the fully decoded text
   return decoded_string

# Example input
encoded_string = "loop, zruog!"
shift = 3
# Call the ceaser_cipher_decoder function to decode the input text
decoded_string = ceaser_cipher_decoder(text,shift)
# Print the decoded text
print( decoded_string)

IndentationError: expected an indented block after 'if' statement on line 12 (14435470.py, line 14)

#### QUESTION 44

In [15]:
# Find the most frequent word in a string
from collections import Counter
text = "Hippopotamus"
print(text)

final = Counter(text)
final = max( final , key = final.get )
print("The most frequent word is  :" , final)

Hippopotamus
The most frequent word is  : p

#### QUESTION 45

In [18]:
# Find all unique words in a string
string = "geeksforgeeks"
unique = set(string)
print(unique)

{'g', 'k', 'r', 'f', 'o', 'e', 's'}

#### QUESTION 46

In [25]:
# Count the number of syllables in a string
def number_syllables(word):
    return len(word.split('-'))
print(number_syllables('beau-ti-ful'))

3

#### QUESTION 47

In [30]:
# Check if a string contains special characters
import re
def check_string(my_string):
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    if(regex.search(my_string) == None):
        print("String contains special characters.")
    else:
        print("String does not contain any special character.")

my_string = "PythonInterpreter"
print("The string is:")
print(my_string)
check_string(my_string)

The string is:
PythonInterpreter
String contains special characters.

#### QUESTION 48

In [49]:
# Remove the nth word from a string
str = " Geeksforgeeks is fun . "
n = 8
print("Modified string after removing " , n , "th character")
str = str.replace(str[n] , "" , 1)
print(str)

Modified string after removing  8 th character
 Geeksfogeeks is fun .

#### QUESTION 49

In [50]:
# Insert a word at the nth position in a string
string = "tutorialsoint"
string = "tutorials{}oint".format('p')
print(string)

tutorialspoint

#### QUESTION 50

In [19]:
# Convert a CSV string to a list of lists

def csv_string_to_list(csv_string):
  # Split the CSV string into lines
  lines = csv_string.split('\n')

  # Initialise an empty list to store the result
  result = []
    
  for line in lines:
     # Split each line into fields using comma
     fields = line.split(',')

     # Append the fields to the result list as a row
     result.append(fields)

  return result
    
# Example CSV string
csv_data = "Name , Age , Country\n John, 25 ,USA \n Alice , 30 , Canada \n Bob, 25,UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name ', ' Age ', ' Country']
[' John', ' 25 ', 'USA ']
[' Alice ', ' 30 ', ' Canada ']
[' Bob', ' 25', 'UK']

## List Based Practice Questions

#### QUESTION 1

In [62]:
# Create a list with integers from 1 to 10
num = range(1,10)
print(list(num))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### QUESTION 2

In [70]:
# Find the length of a list 
list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for element in list :
    count+=1
    print(count)

1
2
3
4
5
6
7
8
9
10

#### QUESTION 3

In [76]:
# Append an element to last of the list
list = [1,2,3,4]
list.append(5)
print(list)

[1, 2, 3, 4, 5]

#### QUESTION 4

In [3]:
# Insert an elememt at a specific index in a list
fruits = ["apple" , "sapodila" , "custard apple" ]
fruits.insert(2,"dragon fruit")
print(fruits)

['apple', 'sapodila', 'dragon fruit', 'custard apple']

#### QUESTION 5

In [6]:
# Remove an element from a list by its value
color = ["Red" , "Green" , "Yellow" , "Blue" , "Grey"]
color.remove("Red")
print(color)

['Green', 'Yellow', 'Blue', 'Grey']

#### QUESTION 6

In [5]:
# Remove an element from a list by its index
color = ["Red" , "Green" , "Yellow" , "Blue" , "Grey"]
color.pop(4)
print(color)

['Red', 'Green', 'Yellow', 'Blue']

#### QUESTION 7

In [9]:
# Check if an element exists in a list
list = [1,4,5,6,7,8,9]
for i in list :
    if(i==4):
        print("Element exists")

Element exists

#### QUESTION 8

In [11]:
# Find the index of first occurence of an element in a list
animals = ["Dog" , "Cat" , "Monkey" , "Giraffe" , "Deer"]
print(animals.index("Cat"))

1

#### QUESTION 9

In [12]:
# Count the occurrence of a element in a list
list = [8,8,4,5,6,7,8,9,8]
list.count(8)

4

#### QUESTION 10

In [16]:
# Reverse the order of elements in a list
elements = [3,5,6,7,78,899,33,98]
elements.reverse()
print(elements)

[98, 33, 899, 78, 7, 6, 5, 3]

#### QUESTION 11

In [18]:
# Sort a list in ascending order
list = [34,65,21,45,88,96,56]
list.sort()
print(list)

[21, 34, 45, 56, 65, 88, 96]

#### QUESTION 12

In [21]:
# Sort a list in descending order
list = [34,65,32,445,78,898,54]
list.sort(reverse = True)
print(list)

[898, 445, 78, 65, 54, 34, 32]

#### QUESTION 13

In [32]:
# Create a list of even numbers from 1 to 20
even_numbers = [x for x in range(1,21) if x%2 ==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### QUESTION 14

In [33]:
# Create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(0,20) if x%2==1]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### QUESTION 15

In [36]:
# Find the sum of all elements in a list
list = [2,5,6,7,89,7]
total = sum(list)
print("Sum of all elements in list:", total)

Sum of all elements in list: 116

#### QUESTION 16

In [38]:
# Find the maximum value in the list
list = [1,3,4,5,7,8,9,10]
x = max(list)
print(x)

10

#### QUESTION 17

In [39]:
# Find the minimum value in a list
list = [1,3,4,5,7,8,9,10]
x = min(list)
print(x)

1

#### QUESTION 18

In [41]:
# Create a list of squares of numbers from 1 to 10
list = [1,2,3,4,5,6,7,8,9,10]
squared_list = []
for number in list:
    squared_list.append(number**2)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### QUESTION 19

In [49]:
# Create a list of random numbers
import random
randomlist = random.sample(range( 10, 30), 5)
print(randomlist)

[26, 11, 19, 27, 16]

#### QUESTION 20

In [62]:
# Remove duplicates from a list
my_list = [1,1,2,3,2,2,4,5,6,2,1]
my_final_list = set(my_list)
print(my_final_list)

{1, 2, 3, 4, 5, 6}

#### QUESTION 21

In [67]:
# Find the common elements between two lists
color1 = ["Red" , "Green" , "Yellow" , "Blue" , "Brown"]
color2 = ["Red" , "Wine" , "Mauve" , "Brown"]
result = (set(color1)&set(color2))
print(result)

{'Red', 'Brown'}

#### QUESTION 22

In [70]:
# Find the difference between two lists
list1 = [1,8,3,4]
list2 = [1,2,6,5]
difference = (set(list1) - set(list2))
print(difference)

{8, 3, 4}

#### QUESTION 23

In [71]:
# Merge two lists
list1 = ["a","b","c","d"]
list2 = [1,2,3,4]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

#### QUESTION 24

In [74]:
# Multiply all elements in list by 2
list = [1,4,5,6,7,8,6]
new_list = [i*2 for i in list]
print(new_list)

[2, 8, 10, 12, 14, 16, 12]

#### QUESTION 25

In [77]:
# Filter out all even numbers from a list
list = [1,2,3,4,5,6]
list1 = [i for i in list if i%2==0]
print(list1)

[2, 4, 6]

#### QUESTION 26

In [11]:
# Convert a list of strings to a list of integers
list = ['1','4','3','6','7']
print([int(x) for x in list])

[1, 4, 3, 6, 7]

#### QUESTION 27

In [17]:
# Convert a list of integers into a list of stings
list = [1,12,15,21,131]
print([str(x) for x in list])

['1', '12', '15', '21', '131']

#### QUESTION 28

In [18]:
# Flatten  a nested list
list = [[1],[2,3],[4,5,6,7]]
flat_list = sum(list , [])
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

#### QUESTION 29

In [19]:
# Create a list of first ten Fibonacci numbers
a,b = 0,1
n = 10
for i in range (n):
    print(a)
    a,b = b , a+b

0
1
1
2
3
5
8
13
21
34

#### QUESTION 30

In [20]:
# Check if a list is sorted
list = [1,2,3,4,5]
print(list == sorted(list))

True

#### QUESTION 31

In [21]:
# Rotate a list to the left by 'n' positions
list = [1,4,6,7,2]
print("Original list:" + str(list))
list = list[3:] + list[:3]
print("Left rotation of list by 3: "+ str(list))

Original list:[1, 4, 6, 7, 2]
Left rotation of list by 3: [7, 2, 1, 4, 6]

#### QUESTION 32

In [22]:
# Rotate a list to the right by 'n' positions
list = [1,4,6,7,2]
print("Original list:" + str(list))
list = list[-3:] + list[:-3]
print("Right rotation of list by 3 : " + str(list))

Original list:[1, 4, 6, 7, 2]
Right rotation of list by 3 : [6, 7, 2, 1, 4]

#### QUESTION 33

In [35]:
# Create a list of prime numbers upto 50
for num in range(1,50):
    for i in range(2,num):
        if  num % i==0 :
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

#### QUESTION 34

In [37]:
# Split a list into chunks of size'n'
list = [1,2,3,4,5,6,7,8,9]
n = 3
x = [list[i:i+n] for i in range(0,len(list) , n)]
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### QUESTION 35

In [41]:
# Find the second largest number in a list
list = [10,20,4,45,99]
list.sort()
print("Second largest element is: " , sorted(list)[-2])

Second largest element is:  45

#### QUESTION 36

In [48]:
# Replace every element in a list with its square
list = [1,2,3,4,5]
for i in list :
    print(i**2)

1
4
9
16
25

#### QUESTION 37

In [49]:
# Convert a list to dictionary 
employees = ['Ramesh' , 'Mahesh' , 'Kamlesh' , 'Suresh']
names_dict = {}
for i , name in enumerate(employees):
    names_dict[i] = name

print(names_dict)

{0: 'Ramesh', 1: 'Mahesh', 2: 'Kamlesh', 3: 'Suresh'}

#### QUESTION 38

In [53]:
# Shuffle the elements of a list randomly
import random
list = [1,2,3,44,5,6,8]
random.shuffle(list)
print(list)

[8, 1, 44, 6, 3, 2, 5]

#### QUESTION 39

In [58]:
# Create a list of the first 10 factorial numbers
import math
numbers = [1,2,3,4,5,6,7,8,9,10]
factorials = [math.factorial(x) for x in numbers]
print(numbers)
print(factorials)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### QUESTION 40

In [59]:
# Check if two lists have atleast one element in common
list1 = [1,2,4,5,6,8,9]
list2 = [2,3,4,6,8,9,7]
common_elements = set(list1).intersection(list2)
print(common_elements)

{2, 4, 6, 8, 9}

#### QUESTION 41

In [62]:
# Remove all elements from a list
list = [1,2,3,4,5,6]
list.clear()
print(list)

[]

#### QUESTION 42

In [66]:
# Replace negative numbers in a list by 0
list = [-1,-2,1,-3,-5,-6,7,8]
list2 = [0 if i<0 else i for i in list]
print(list2)

[0, 0, 1, 0, 0, 0, 7, 8]

#### QUESTION 43

In [67]:
# Convert a string into a list of words
string = "My name is Jasmine"
string_to_list = string.split()
print(string_to_list)

['My', 'name', 'is', 'Jasmine']

#### QUESTION 44

In [71]:
# Convert a list of words into string
list = ['My' , 'name' , 'is' , 'Jasmine']
list_to_string = ' '.join(map(str,list))
print(list_to_string)

My name is Jasmine

#### QUESTION 45

In [84]:
# Create a list of first 'n' powers of 2
for i in range(n):
    print("2 raised to {} is {} " .format(i , 2**i))

2 raised to 0 is 1
2 raised to 1 is 2
2 raised to 2 is 4

#### QUESTION 46

In [86]:
# Find the longest string in a list of strings
list = ["my" , "name" , "is" , "jasmine"]
res = max(list , key =len)
print(res)

jasmine

#### QUESTION 47

In [87]:
# Find the shortest string in a list of strings
list = ["my" , "name" , "is" , "jasmine"]
res = min(list , key= len)
print(res)

my

#### QUESTION 48

In [92]:
# Create a list of first 'n' triangular numbers
limit = n
triangle_nums = []
num = 0

for i in range(1 , limit +1):
    num+= i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6]

#### QUESTION 49

In [94]:
# Check if a list contains another list as a subsequence
list1 = [1,2,3]
list2 = [1,2,3,4]
if all(a in list2 for a in list1):
    print("yes")

yes

#### QUESTION 50

In [98]:
# Swap two elements in a list by their indices
list = ["alice" , "bob" , "carl"]
x,y = "alice" , "carl"
i,j = list.index(x) , list.index(y)
list[i] , list[j] = list[j] , list[i]
print(list)

['carl', 'bob', 'alice']

### TUPLE BASED PRACTICE PROBLEM

#### QUESTION 1

In [6]:
# Create a tuple with integers from 1 to 5
x = tuple(range(1,6))
print(x)

(1, 2, 3, 4, 5)

#### QUESTION 2

In [7]:
# Access the third element in a tuple
tuple = (1,2,3,4,5)
tuple[3]

4

#### QUESTION 3

In [8]:
# Find the length of tuple without using length function
tuple = (12,45,65,78,98,76,55,32,22)
count = 0
for i in tuple :
    count += 1
print(count)

9

#### QUESTION 4

In [10]:
# Count the occurrences of an element in a tuple 
tuple = (12,32,12,34,54,53,12)
tuple.count(12)

3

#### QUESTION 5

In [11]:
# Find the index of the first occurrence of an element in a tuple 
tuple = (1,2,3,4,5)
print(tuple.index(3))

2

#### QUESTION 6

In [15]:
# Check if an element exists in a tuple
tuple = (1,2,3,4,6)
for i in tuple :
    if(i==4):
        print("Element exists")

Element exists

#### QUESTION 7

In [31]:
# Convert a tuple to a list
def tuple_to_list(t):
     return[x for x in t]

tuple = (11,2,3,4,5)
print(tuple_to_list(tuple))

[11, 2, 3, 4, 5]

#### QUESTION 8

In [45]:
# Convert a list to a tuple
list = [1,2,3,4,5,6]
tuple = (*list,)
print(tuple)

(1, 2, 3, 4, 5, 6)

#### QUESTION 9

In [47]:
# Unpack the elements of a tuple into variables
t = (23,5,6,77,88,90)
m,n,p,q,r,s = t
print(m)
print(n)
print(p)
print(q)
print(r)
print(s)

23
5
6
77
88
90

#### QUESTION 10

In [62]:
# Create a tuple of even numbers from 1 to 10
even_numbers = ()
for i in range (1,11):
    if i%2==0:
        even_numbers += (i,)
print(even_numbers)

(2, 4, 6, 8, 10)

#### QUESTION 11

In [67]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers = ()
for i in range (1,11):
    if i%2 !=0:
       odd_numbers += (i,)
print(odd_numbers)

(1, 3, 5, 7, 9)

#### QUESTION 12

In [54]:
# Concatenate three tuples
tuple1 = (1,3,4)
tuple2 = (2,8,6)
tuple3 = (7,5,4)
concatenated_tuple = tuple1 + tuple2 + tuple3
print(concatenated_tuple)

(1, 3, 4, 2, 8, 6, 7, 5, 4)

#### QUESTION 13

In [70]:
# Repeat a tuple three times
tuple = (1,2,3)
x = tuple*3
print(x)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### QUESTION 14

In [68]:
# Check if a tuple is empty
tuple = ()
if len(tuple) == 0:
    print("Tuple is empty")

Tuple is empty

#### QUESTION 15

In [73]:
# Create a nested tuple
tuple1 = (3,4),
tuple2 = (1,2),
nested = tuple1 + tuple2
print(nested)

((3, 4), (1, 2))

#### QUESTION 16

In [77]:
# Access the first element of a nested tuple
nested_tuple = ((1,2,3) , ('a' , 'b', 'c') , (True , False))
first_element = nested_tuple[0]
print(first_element)

(1, 2, 3)

#### QUESTION 17

In [78]:
# Create a tuple with a single element
tuple = ('apple',)
print(tuple)

('apple',)

#### QUESTION 18

In [80]:
# Compare two tuples
tuple1 = (3,2,10)
tuple2 = (3,2,10)
print(tuple1 == tuple2)

True

#### QUESTION 19

In [16]:
# Delete a tuple
tuple = (1,2,3,4,5)
del tuple 
tuple

tuple

#### QUESTION 20

In [108]:
# Slice a tuple
tuple = (21,12,65,87,96,55,45,25)
print(tuple[0:5])

(21, 12, 65, 87, 96)

#### QUESTION 21

In [109]:
# Find the maximum value in tuple
tuple = (1,2,3,4,5,6)
x = max(tuple)
print(x)

6

#### QUESTION 22

In [110]:
# Find the minimum value in tuple
tuple = (1,2,3,4,5,6)
x = min(tuple)
print(x)

1

#### QUESTION 23

In [51]:
# Convert a string to a tuple of characters
string = "New York"
tup = tuple(string )
print(tup)

('N', 'e', 'w', ' ', 'Y', 'o', 'r', 'k')

#### QUESTION 24

In [132]:
# Convert a tuple of characters to a string
tuple = ('N' , 'e' ,'w' ,'Y' , 'o' , 'r' , 'k')
result = ''.join(tuple)
print(result)

NewYork

#### QUESTION 25

In [52]:
# Create a tuple from multiple data types
tuple = ("tuplex" , "False" , "3.2" , "1")
print(tuple)

('tuplex', 'False', '3.2', '1')

#### QUESTION 26

In [68]:
# Check if two tuples are identical
tuple1 = (1,2,3)
tuple2 = (1,2,3)

if tuple1 == tuple2:
   print("The tuples are identical .")
else:
    print("The tuples are not identical.")

The tuples are identical .

#### QUESTION 27

In [70]:
# Sort the elements of a tuple
tuple = (1,2,3,4,9,6,7,1,2)
sorted_list= sorted(tuple)
print("Sorted tuple:" , sorted_list)

Sorted tuple: [1, 1, 2, 2, 3, 4, 6, 7, 9]

#### QUESTION 28

In [103]:
# Convert a tuple of integers to a tuple of strings
tuple = (1,2,3,4)
print([str(x) for x in tuple])

['1', '2', '3', '4']

#### QUESTION 29

In [107]:
# Convert a tuple of strings to a tuple of integers
tuple = ( "1" , "2" , "3" , "4")
print([int(x) for x in tuple])

[1, 2, 3, 4]

#### QUESTION 30

In [61]:
# Merge two tuples
tuple1 = (1,2,3,4,5,6)
tuple2 = (8,9,7,10,11)
tup = tuple1 + tuple2
tup

(1, 2, 3, 4, 5, 6, 8, 9, 7, 10, 11)

#### QUESTION 31

In [21]:
# Flatten a nested tuple
def flatten(args):
    try:
        iter(args)
        final = []
        for arg in args:
            final += flatten(arg)
        return tuple(final)
    except TypeError:
        return (args,)

flatten([ 1 , [2,3] , 4 , [5,6,7]])

(1, 2, 3, 4, 5, 6, 7)

#### QUESTION 32

In [27]:
# Create a tuple of the first five 5 prime numbers
def is_prime(num):
    if num<2:
        return False
    for i in range(2, int(num**0.5)+1):
        if num%i==0:
            return False
    return True

def generate_primes(count):
    primes = []
    num = 2
    while len(primes) < count:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

first_five_primes = generate_primes(5)
print(first_five_primes)

(2, 3, 5, 7, 11)

#### QUESTION 33

In [48]:
# Check if a tuple is palindrome
def reverse(text):
    return text[::-1]
def is_palindrome(text):
    return text == reverse(text)

something = input("Enter text: ")
if is_palindrome(something):
    print("It is palindrome")
else:
    print("No , it is not palindrome")

Enter text:  noon

It is palindrome

#### QUESTION 34

In [92]:
# Create a tuple of squares of numbers from 1 to 5
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
print(" The squares of numbers from 1 to 5 is : " , tup)

 The squares of numbers from 1 to 5 is :  (1, 4, 9, 16, 25)

#### QUESTION 35

In [32]:
# Filter out all the even numbers from a tuple
def filter_even_numbers(input_tuple):
    return tuple(filter(lambda x : x%2 == 0 , input_tuple))
original_tuple = (1,2,3,4,5,6,7,8,9,10,11,12)
filtered_tuple = filter_even_numbers(original_tuple)
print(filtered_tuple)

(2, 4, 6, 8, 10, 12)

#### QUESTION 36

In [33]:
# Mulitply all the elements in a tuple by 2
original_tuple = (1,2,3,4,5,6)
new_tuple = tuple(map(lambda x:x*2 , original_tuple))
print(new_tuple)

(2, 4, 6, 8, 10, 12)

#### QUESTION 37

In [34]:
# Create a tuple of random numbers
import random
random_tuple = tuple(random.randint(1,100) for _ in range(5))
print(random_tuple)

(13, 7, 54, 97, 94)

#### QUESTION 38

In [38]:
#  Check if a tuple is sorted 
def is_sorted(input_tuple):
    return all(input_tuple[i] <= input_tuple[i+1] for i in range(len(input_tuple) - 1))

sorted_tuple = (1,2,3,4,5,6)
unsorted_tuple = (5,3,6,2,7,8)

print(is_sorted(sorted_tuple))
print(is_sorted(unsorted_tuple))

True
False

#### QUESTION 39

In [112]:
# Rotate a tuple to left by 'n' positions
tuple = (1,4,6,7,2)
print("Original tuple:" + str(tuple))
tuple = tuple[3:] + tuple[:3]
print("Left rotation of tuple by 3 : " + str(tuple))

Original tuple:(1, 4, 6, 7, 2)
Left rotation of tuple by 3 : (7, 2, 1, 4, 6)

#### QUESTION 40

In [113]:
# Rotate a tuple to right by 'n' positions
tuple = (1,4,6,7,2)
print("Original tuple:" + str(tuple))
tuple = tuple[-3:] + tuple[:-3]
print("Right rotation of tuple by 3 : " + str(tuple))

Original tuple:(1, 4, 6, 7, 2)
Right rotation of tuple by 3 : (6, 7, 2, 1, 4)

#### QUESTION 41

In [42]:
# Create a tuple of the first 5 fibonacci numbers
def generate_fibonacci(count):
    fib_numbers = [0,1]
    [fib_numbers.append(fib_numbers[-1] + fib_numbers[-2]) for _ in range(count - 2)]
    return tuple(fib_numbers)

first_five_numbers = generate_fibonacci(5)
print(first_five_numbers)

(0, 1, 1, 2, 3)

#### QUESTION 42

In [44]:
# Create a tuple from user input
user_input_str = input ("Enter numbers separated by commas: ")
user_tuple = tuple(map(int , user_input_str.split(',')))
print(user_tuple)

Enter numbers separated by commas:  1,2,3,4,5

(1, 2, 3, 4, 5)

#### QUESTION 43

In [45]:
# Swap two elements in a tuple
original_tuple = (1,2,3,4,5,6)
swap_index1 , swap_index2 = 1,3
swapped_tuple = tuple(x if i not in (swap_index1 , swap_index2) else original_tuple[swap_index1 if i == swap_index2 else swap_index2] for i, x in enumerate (original_tuple))
print(swapped_tuple)

(1, 4, 3, 2, 5, 6)

#### QUESTION 44

In [128]:
# Reverse the elements of a tuple
tuple = (1,2,3,4,5)
x = tuple[::-1]
x

(5, 4, 3, 2, 1)

#### QUESTION 45

In [47]:
# Create a tuple of the first 'n' powers of 2
def generate_powers_of_two(n):
    return tuple(2**i for i in range(n))
    
first_seven_powers_of_two = generate_powers_of_two(7)
print(first_seven_powers_of_two)

(1, 2, 4, 8, 16, 32, 64)

#### QUESTION 46

In [49]:
# Find the longest string in a tuple of strings
tuple_of_strings = ('apples' , 'banana' , 'kiwi' , 'strawberry' , 'blueberry')
longest_string = max(tuple_of_strings , key = len)
print(longest_string)

strawberry

#### QUESTION 47

In [51]:
# Find the shortest string in a tuple of strings
tuple_of_strings = ('apples' , 'banana' , 'kiwi' , 'strawberry' , 'blueberry')
shortest_string = min(tuple_of_strings , key = len)
print(shortest_string)

kiwi

#### QUESTION 48

In [53]:
# Create a tuple of the first 'n' triangular numbers
def generate_triangular_numbers(n):
    return tuple(i * (i+1)// 2 for i in range (1, n+1))
    

n = 6
triangular_numbers = generate_triangular_numbers(n)
print(triangular_numbers)

(1, 3, 6, 10, 15, 21)

#### QUESTION 49

In [54]:
# Check if a tuple contains another tuple as a subsequence
def is_subsequence(sub , main):
    sub_len = len(sub)
    main_len = len(main)

    for i in range(main_len - sub_len +1):
        if main[i:i + sub_len] ==sub:
            return True

    return False

main_tuple = (1,2,3,4,5,6,7)
sub_tuple = (3,4,5)

result = is_subsequence(sub_tuple , main_tuple)
print(result)

True

#### QUESTION 50

In [55]:
# Create a tuple of alternating 1s and 0s of length 'n'
def alternating_ones_zeroes(n):
    return tuple((i%2) for i in range(n))

result_tuple = alternating_ones_zeroes(7)
print(result_tuple)

(0, 1, 0, 1, 0, 1, 0)

### SET BASED PRACTICE PROBLEMS

#### QUESTION 1

In [56]:
# Create a set with integers from 1 to 5
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

#### QUESTION 2

In [62]:
# Add an element to a set
set = {1,2,3,4,5}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

#### QUESTION 3

In [155]:
# Remove an element from a set
set = {1,2,3,4,5}
set.remove(3)
print(set)

{1, 2, 4, 5}

#### QUESTION 4

In [18]:
# Check if an element exists in a set 
set = {1,2,3,4,5,6,7}
for i in set:
    if(i==3):
        print("Element exists")

Element exists

#### QUESTION 5

In [19]:
# Find the length of a set without using the length function
set = {1,2,3,4,5,6,7}
count = 0
for i in set:
    count += 1
print(count)

7

#### QUESTION 6

In [20]:
# Clear all the elements of a set
set= {1,2,3,4,5,6,7,8}
set.clear()
set

set()

#### QUESTION 7

In [23]:
# Create a set of even numbers from 1 to 10
even_numbers = {x for x in range(1,11) if x%2==0}
print(even_numbers)

{2, 4, 6, 8, 10}

#### QUESTION 8

In [172]:
# Create a set of odd numbers from 1 to 10
odd_numbers = {x for x in range(10) if x%2==1 }
print(odd_numbers)

{1, 3, 5, 7, 9}

#### QUESTION 9

In [175]:
# Find the union of two sets
set1 = {1,2,3,4}
set2 = {2,4,5,8}
set = set1.union(set2)
print(set)

{1, 2, 3, 4, 5, 8}

#### QUESTION 10

In [176]:
# Find the intersection of two sets
set1 = {1,2,3,4}
set2 = {2,4,5,6}
set = set1.intersection(set2)
print(set)

{2, 4}

#### QUESTION 11

In [178]:
# Find the difference between two sets
A = {12,23,56,54}
B = {23,56,85,63}
C = A.difference(B)
D = B.difference(A)
print(C)
print(D)

{12, 54}
{85, 63}

#### QUESTION 12

In [179]:
# Check if a set is a subset of another set
A = {12,68,36,54,45,96,79,22,56,85}
B = {12,36,45,85,79,56}
print(B.issubset(A))

True

#### QUESTION 13

In [182]:
# Check if a set is a subset of another set
A = {12,68,36,54,45,96,79,22,56,85}
B = {12,36,45,85,79,56}
print(A.issuperset(B))

True

#### QUESTION 14

In [6]:
# Create a set from a list
list = [23,45,67,89,87,65]
my_set = set(list)
print(my_set)

{65, 67, 45, 23, 87, 89}

#### QUESTION 15

In [27]:
# Convert a set to a list
set = {23,45,67,89,98,76,54}
x = list(set)
print(x)

[98, 67, 54, 23, 89, 76, 45]

#### QUESTION 16

In [198]:
# Remove a random element from a set
set = {23,45,66,78,87,55}
set.remove(45)
print(set)

{66, 55, 87, 23, 78}

#### QUESTION 17

In [204]:
# Pop an element from a set
set = {1,3,4,5,6,7}
set.pop()
print(set)

{3, 4, 5, 6, 7}

#### QUESTION 18

In [206]:
# Check if two sets have no elements in common
A = {54,36,23,21,35,79}
B = {45,63,32,12,38,78}
are_disjoint = A.isdisjoint(B)
print(are_disjoint)

True

#### QUESTION 19

In [207]:
# Find the symmetric difference bewteen two sets
A = {1,2,3,4,5}
B = {6,7,3,9,4}
print(A.symmetric_difference(B))

{1, 2, 5, 6, 7, 9}

#### QUESTION 20

In [213]:
# Update a set with elements from another set
A = {1,2,3}
B = {6,7,8}
A.update(B)
print(A)

{1, 2, 3, 6, 7, 8}

#### QUESTION 21

In [87]:
# Create a set of first 5 prime numbers 
x = 7
for i in range ()

#### QUESTION 22

In [82]:
# Check if two sets are identical
A = {1,2,3,4}
B = {1,2,3,4}
if A == B:
    print("The sets are identical")
else :
    print("The sets are not identical")

The sets are identical

#### QUESTION 23

In [7]:
# Create a frozen set
fruits = frozenset(["apple" , "banana" , "orange"])
print(fruits)

frozenset({'apple', 'orange', 'banana'})

#### QUESTION 24

In [8]:
# Check if a set is disjoint with another
A = {54,36,23,21,35,79}
B = {45,63,32,12,38,78}
are_disjoint = A.isdisjoint(B)
print(are_disjoint)

True

#### QUESTION 25

In [9]:
# Create a set of squares of numbers from 1 to 5
squares = {x**2 for x in range(1,6)}
print(squares)

{1, 4, 9, 16, 25}

#### QUESTION 26

In [16]:
# Filter out all even numbers from a set
set = {2,5,6,3,4,8,9}
even_numbers = {num for num in set if num%2== 0}
print(even_numbers)

{8, 2, 4, 6}

#### QUESTION 27

In [17]:
# Multiply all elements in a set by 2
set = {1,4,5,6,7,8,9}
new_set = {i*2 for i in set}
print(new_set)

{2, 8, 10, 12, 14, 16, 18}

#### QUESTION 28

In [57]:
# Create a set of random numbers 
import random
random_set = set(random.sample(range(1,101),5))
print(random_set)

{3, 68, 5, 13, 31}

#### QUESTION 29

In [24]:
# Check if set is empty
set = {}
if not set:
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

#### QUESTION 30

In [58]:
# Create a nested set
nested_set = frozenset([frozenset({1,2}) , frozenset({3,4,5}) , frozenset({6})])
print(nested_set)

frozenset({frozenset({3, 4, 5}), frozenset({6}), frozenset({1, 2})})

#### QUESTION 31

In [15]:
# Remove an element from a set using the discard method
s = {12,15,63,65,54}
s.discard(12)
s

{15, 54, 63, 65}

#### QUESTION 32

In [38]:
# Compare two sets
A = {45,52,56,51,53}
B = {45,52,56,51,53}
if A == B:
   print("The sets are equal")
else:
   print("The sets are not equal")

The sets are equal

#### QUESTION 33

In [17]:
# Create a set from string
string = "Jasmine"
string = set(string)
print(string)

{'e', 's', 'i', 'J', 'm', 'n', 'a'}

#### QUESTION 34

In [60]:
# Convert a set of strings to a set of integers
string_set = {'1' , '2' , '3' , '4' , '5'}
integer_set = set(map(int,string_set))
print(string_set)

{'3', '2', '4', '1', '5'}

#### QUESTION 35

In [61]:
# Convert a set of integers to a set of strings
integer_set = {1,2,3,4,5}
string_set = set(map(str , integer_set))
print(string_set)

{'3', '2', '4', '5', '1'}

#### QUESTION 36

In [64]:
# Create a set from a tuple
def tuple_to_set(t):
    return{x for x in t}

tuple = (11,2,3,4,5)
print(tuple_to_set(tuple))

{2, 3, 4, 5, 11}

#### QUESTION 37

In [65]:
# Convert a set to a tuple
set = {1,2,3,4,5}
x = (*set,)
print(x)

(1, 2, 3, 4, 5)

#### QUESTION 38

In [46]:
# Find the maximum value in a set
s = {1,2,3,4,5}
x = max(s)
print(x)

5

#### QUESTION 39

In [45]:
# Find the minimum value in a set
s = {1,2,3,4,5}
x = min(s)
x

1

#### QUESTION 40

In [72]:
# Create a set from user input
user_input = {1,2,3,4,5}
user_input

{1, 2, 3, 4, 5}

#### QUESTION 41

In [48]:
# Check if the intersection of two sets is empty
A = {1,2,3,4,5}
B = {6,7,8,9,10}
X =  A.intersection(B)
X

set()

In [64]:
# Since the set is empty , there is no intersection between two sets

#### QUESTION 42

In [2]:
# Create a set of first five Fibonacci numbers
n = int(input("enter the number:"))

def fibonacci(n):
    a = 0
    b = 1
    count = 0

    if n<=0:
        print("You can enter only positive integer values ")
    elif n == 1:
        print(a)
    else:
        while count<n:
            print(a,end = ' ')
            c = a+b
            a = b
            b = c


            count += 1 
fibonacci(n)

enter the number: 5

0 1 1 2 3

#### QUESTION 43

In [1]:
# Remove duplicates from a list using sets 
l1 = [1,2,3,2,4,5,1]
l2 = []

for i in l1:
    if i not in l2:
        l2.append(i)

print(l2)

[1, 2, 3, 4, 5]

#### QUESTION 44

In [59]:
# Check if two set have the same elements , regardless of their count 
A = {1,2,3,4,5,6}
B = {1,2,3,4,5,6}
if A.issubset(B) or B.issubset(A) :
    print(" The sets have the same elements , regardless of their count" )
else:
    print(" The sets do not have same elements" )

 The sets have the same elements , regardless of their count

#### QUESTION 45

In [54]:
# Create a set of the first 'n' powers of 2
for i in range(n):
    print("2 raised to {} is {}" .format (i , 2**i))

2 raised to 0 is 1
2 raised to 1 is 2
2 raised to 2 is 4
2 raised to 3 is 8
2 raised to 4 is 16
2 raised to 5 is 32

#### QUESTION 46

In [47]:
# Find the common elements between a set and a list
A = {1,2,3,4}
list = [3,4,5,6]
common= A.intersection(list)
print(common)

{3, 4}

#### QUESTION 47

In [41]:
# Create a set of the first 'n' triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = { i * (i+1) // 2 for i in range(1, n+1)}
    return(triangular_numbers)

n = 6
triangular_numbers = generate_triangular_numbers(n)
print(triangular_numbers)

{1, 3, 6, 10, 15, 21}

#### QUESTION 48

In [35]:
# Check if a set contains another set as a subset
A = {1,2,3}
B = {1,2}
B.issubset(A)

True

#### QUESTION 49

In [71]:
# Create a set of alternating 1s and 0s of length 'n'
def alternating_ones_zeroes(n):
    return set((i%2) for i in range(n))

result_set = alternating_ones_zeroes(2)
print(result_set)

{0, 1}

#### QUESTION 50

In [20]:
# Merge multiple sets into one
A = {45,36,98,87,74}
B = {98,65,23,54,62}
A.update(B)
print(A)

{65, 98, 36, 74, 45, 23, 54, 87, 62}