In [2]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3449611317.py, line 1)

In [1]:
a=5
if a==3:
print("hello")

IndentationError: expected an indented block after 'if' statement on line 2 (2365281346.py, line 3)

In [4]:
import maths
math.floor(50.65)

ModuleNotFoundError: No module named 'maths'

In [5]:
data = {"name":"jeet"}
data['age']

KeyError: 'age'

In [6]:
1+"jEET"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [9]:
print(k)

NameError: name 'k' is not defined

In [10]:
ls = [2,4,5,6,7]
ls.upper()

AttributeError: 'list' object has no attribute 'upper'

In [11]:
fs = open("intro.txt","w")

In [12]:
print(fs.write("Hello Python Programming"))

24