In [ ]:
score = int(input("성적을 입력하시오: "))
if score >= 60:
            print("합격입니다.")
else:
          print("불합격입니다")
input()

성적을 입력하시오: 2
불합격입니다
5

'5'

In [ ]:
#국어, 영어, 수학의 점수를 각각 입력받는다.
#세 점수의 평균을 출력한다,
#세 점수의 평균이 80이상이면 "우수학생입니다"라는 문구를 출력한다.
korean_score = int(input("국어 점수를 입력하시오"))
english_score = int(input("영어 점수를 입력하시오"))
math_score = int(input("수학 점수를 입력하시오"))

everadge_score=(korean_score+english_score+math_score)/3
print(everadge_score)

if everadge_score>=80:
    print('"우수학생입니다."')
else :
  print('"노력하세요."')

국어 점수를 입력하시오80
영어 점수를 입력하시오90
수학 점수를 입력하시오90
86.66666666666667
"우수학생입니다."

In [ ]:
scores = [
    [60, 70, 80],
    [80, 10, 40],
    [40, 70, 90],
    [60, 50, 50]
]
#2차원 배열로 각 학생의 국어, 영어, 수학 점수를 작성하였다.
#국어 점수가 60점 이상인 학생의 수학 평균을 구하여라

In [ ]:
students = ["E10123","E31201","E40156"]
minsu = "E60134"
# 체육대회 다른학년의 같은 반은 한팀이다.
# 학번"E60134 E:초등학생 6 학년 01 반 34 출석번호
# 민수와 학생이 같은팀인지 확인하는 코드 작성

if minsu [2:4] == students[0][2:4]:
  print("같은팀")
else :
  print("다른팀")
if minsu [2:4] == students[1][2:4]:
  print("같은팀")
else :
  print("다른팀")
if minsu [2:4] == students[2][2:4]:
  print("같은팀")
else :
  print("다른팀")

같은팀
다른팀
같은팀

In [ ]:
students = ["E10123","E31201","E40156"]
minsu = "E60134"
# 체육대회 다른학년의 같은 반은 한팀이다.
# 학번"E60134 E:초등학생 6 학년 01 반 34 출석번호
# 민수와 학생이 같은팀인지 확인하는 코드 작성
for i in students :
  if minsu[2:4] == i[2:4]:
      print("같은 팀")
  else :
     print("다른 팀")

같은 팀
다른 팀
같은 팀

In [ ]:
i=1
while i <= 10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for 문을 사용해 구구단 3단
i=1
for i in range(1,10):
  print(3*i)

3
6
9
12
15
18
21
24
27

In [ ]:
# 체육대회 다른학년의 같은 반은 한팀이다.
# 학번"E60134 E:초등학생 6 학년 01 반 34 출석번호
# 민수와 학생이 같은팀인지 확인하는 코드 for 문을 사용해서 작성
students = ["E10123","E31201","E40156"]
minsu = "E60134"
team=[]
team.append(minsu)

for i in students :
  if minsu[2:4] == i[2:4]:
      print("같은 반")
      team.append(i)
  else :
     print("다른 반")
print(team)

같은 반
다른 반
같은 반
['E60134', 'E10123', 'E40156']

In [ ]:
#sring s 에 a 가 몇개 들어있는지 확인하는 코드
s="have a nice day"
count=0
for i in s :
  if i=="a":
    count+=1
print(count)

3

In [ ]:
#sring s 에 입력한영어 가 몇개 들어있는지 확인하는 코드
s="have a nice day"
count=0
data=input("영어를 입력하시오")
for i in s :
  if i==data:
    count+=1
print(count)

영어를 입력하시오a
3

In [ ]:
#1260원을 동전으로 거슬러 줄때,화폐를 최소로 줄수 있게 계산하는 코드

#거슬러줘야 하는 총 동전의 갯수를 출력한다

money = int(input("지불하는 금액을 입력하시오."))
coin=[10,50,100,500]
count=0
for i in coin:
  count += money//i
  money %= i
  print(count)

지불하는 금액을 입력하시오.1260
126
126
126
126

In [ ]:
scores = list(map(int, input("점수를 입력하세요: ").split()))

for score in scores:
        if score >= 60:
            print("합격")
        else:
            print("불합격")

점수를 입력하세요: 10 88 56 46 100
불합격
합격
불합격
불합격
합격

In [ ]:
scores = list(map(int, input("점수를 입력하세요: ").split()))

for score in scores:
        if score >= 60:
            print("합격")
        else:
            print("불합격")

점수를 입력하세요: 50 20 30 50 60
불합격
불합격
불합격
불합격
합격

In [ ]:
scores = [
    [60, 70, 80],
    [80, 10, 40],
    [40, 70, 90],
    [60, 50, 50]
]
#2차원 배열로 각 학생의 국어, 영어, 수학 점수를 작성하였다.
#국어 점수가 60점 이상인 학생의 수학 평균을 정수로 구하여라
sum_score = 0   #국어 점수가 60점 이상인 학생의 수학 점수의 합
count = 0       #국어 점수가 60점 이상인 학생의 수
for i in scores:
  #i= scores 에 대입
  #i[0]=국어성적
  #i[2]=수학성적
  if i[0] >= 60 :
    sum_score += i[2]
    count += 1
    print(sum_score,count)

80 1
120 2
170 3

In [ ]:
숫자=3.14
종류=type(숫자).__name__
print(f"{숫자}는 {종류}입니다.")

3.14는 float입니다.

In [ ]:
# 1부터 30까지 숫자를 출력하고, 각 숫지가 3의 배수인지 5의 배수인지 판별하는  예제

for i in range(1,31):
   if i % 3 == 0 and i % 5 == 0:
        print(f"{i}는 3과 5의 배수입니다.")
     elif i % 3 == 0:
        print(f"{i}는 3의 배수 입니다.")
     elif i % 5 == 0:
        print(f"{i}는 5의 배수 입니다.")
    else:
        print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)