# Python Basics

This Jupyter notebook covers the basics of Python, particularly, 1) data type, 2)data containers, 3) control flows, and 4) functions.

## 1. Python Data Type

Python has a handful of data types to store data effectively and efficiently. The followings are the data type we will cover in this course. 

- String: str()
    - 'Hello world'
- Integer: int()
    - 1, 2, 3...
- Floating-point number: float()
    - 3.141592...
- Boolean: bool() 
    - True or False

The following is a quick example of how you assign variables in Python. <br> 
Note that we did not need to declare variable types. We could just assign anything to a variable and it works. This is the power of an interpreted (as opposed to compiled) language.

In [9]:
s = 'Hello world' # String
i = 1 # Integer
f = 3.141592 # Floating point number (float)
b = True

# Print the variables and their types
print(s, type(s))
print(i, type(i))
print(f, type(f))
print(b, type(b))

Hello world <class 'str'>
1 <class 'int'>
3.141592 <class 'float'>
True <class 'bool'>

### 1.1. String

Strings are made using various kinds of (matching) quotes. Examples:

In [10]:
s1 = 'hello'
s2 = "world"
s3 = '''strings can 
also go 'over'
multiple "lines".'''

print(s1)
print(s2)
print(s3)

hello
world
strings can
also go 'over'
multiple "lines".

You can also 'add' strings using 'operator overloading', meaning that the plus sign can take on different meanings depending on the data types of the variables you are using it on.

In [11]:
print(s1 + ' ' + s2)  # note, we need the space otherwise we would get 'helloworld'

hello world

Another methods of putting strings together is called 'formatted string literals' (also called f-strings for short).

In [12]:
# Here, we assign the string directly inside of the parenthesis.
print(f'{s1} {s2}') 
# The other method is to have numeric placeholders and assign text with .format() method. 
print('{0} {1}'.format(s1, s2))

hello world
hello world

---
### *Exercise*

1. (1 point) Create two variables, called `first` and `last`, and assign your first and last name, respectively.
2. (2 point) Comebine those two variables into a new variable and make a new variable called `name`. It should have a space between your first and last name. 

---

In [13]:
# Your code here
first = 'Jinwoo'
last = 'Park'

name = first + ' ' + last
name = f'{first} {last}'

In [14]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'{first} {last}')
print(name)

assert f'{first} {last}' == name
print("Success!")

Jinwoo Park
Jinwoo Park
Success!

Strings are 'objects' in that they have 'methods'. Methods are functions that act on the particular instance of a string object. <br>
You can access the methods by putting a dot after the variable name and then the method name with parentheses (and any arguments to the method within the parentheses). <br> Methods always have to have parentheses, even if they are empty.

In [15]:
s3.upper()

'STRINGS CAN \nALSO GO \'OVER\'\nMULTIPLE "LINES".'

You may be curious about why we see the result like `'STRINGS CAN \nALSO GO \'OVER\'\nMULTIPLE "LINES".'`. A word with a backslash `\`, (e.g., `\n` or `\t`) is called escape characters, and is being used to include nonprintable characters in a string. For example, `\n` means a new line and `\t` means a tab. <br> <br>
We can remove the escape characters from displaying by using the `print()` function.

In [16]:
print(s3.upper())

STRINGS CAN
ALSO GO 'OVER'
MULTIPLE "LINES".

In [17]:
print(s3.capitalize())

Strings can
also go 'over'
multiple "lines".

One of the most useful string methods is 'split' that returns a list of the words in a string, with all of the whitespace (actual spaces, newlines, and tabs) removed. More on lists next.

In [18]:
s3.split('s')

['', 'tring', ' can \nal', 'o go \'over\'\nmultiple "line', '".']

In [19]:
# If no argument is given to the split method, it will split on whitespace.
s3.split()

['strings', 'can', 'also', 'go', "'over'", 'multiple', '"lines".']

Another common thing that is done with strings is the join method. It can be used to join a sequence of strings given a common conjunction

In [20]:
words = s3.split()
print('_'.join(words))        # Here, we are using a method directly on the string '_' itself.

strings_can_also_go_'over'_multiple_"lines".

---
### *Exercise*

3. (1 point) Create two more variables as shown below. 
```python
   course = 'GEOG457'
   semester = 'Spring 2024'
```
4. (2 points) Print a senctence `[YOUR FIRST AND LAST NAME] is taking [COURSE], [SEMESTER].`, by using f-string (formated string literals). <br>
Note that you should NOT type capital letters for course and semester, but make them with the methods of string. <br><br>
<b>Expected result: </b><br>
`Jinwoo Park is taking GEOG457, Spring 2024.`

In [21]:
# Your code here

course = 'GEOG457'
semester = 'Spring 2024'

print(f'{first} {last} is taking {course}, {semester}')

Jinwoo Park is taking GEOG457, Spring 2024

### 1.2. Numeric types (i.e., Integer and Float)

In [22]:
year = 2024  # if you assign INTEGER to a variable, the type will be an INTEGER
pi = 3.141592  # if you assign FLOAT to a variable, the type will be an FLOAT. 

print(year, type(year))
print(pi, type(pi))

2024 <class 'int'>
3.141592 <class 'float'>

In [23]:
a = 5.
print(a, type(a))

5.0 <class 'float'>

You can use the following arithmetic operator in Python. 

| Name | Operator | Example |
| --- | --- | --- |
| Addition | + | x + y |
| Subtraction | - | x - y |
| Multiplication | * | x * y |
| Division | / | x / y |
| Exponentiation | ** | x ** y |
| Floor division | // | x // y |
| Modulus | % | x % y |

In [24]:
aa = 25
bb = 3

print(f'Addition:        {aa} + {bb} = {aa + bb}') 
print(f'Subtraction:     {aa} - {bb} = {aa - bb}') 
print(f'Multiplication:  {aa} * {bb} = {aa * bb}') 
print(f'Division:        {aa} / {bb} = {aa / bb}') 
print(f'Exponentiation:  {aa} ** {bb} = {aa ** bb}') 
print(f'Quotient:        {aa} // {bb} = {aa // bb}') 
print(f'Remainder:       {aa} % {bb} = {aa % bb}')

Addition:        25 + 3 = 28
Subtraction:     25 - 3 = 22
Multiplication:  25 * 3 = 75
Division:        25 / 3 = 8.333333333333334
Exponentiation:  25 ** 3 = 15625
Quotient:        25 // 3 = 8
Remainder:       25 % 3 = 1

If you sum an integer and a float, its type will be float, regardless of the result of the sum.

In [25]:
n1 = 1
n2 = 1.0
n3 = n1 + n2

print(n1, type(n1))
print(n2, type(n2))
print(n3, type(n3))

1 <class 'int'>
1.0 <class 'float'>
2.0 <class 'float'>

You can easily change the type of numerical variables with `int()` and `float()`. <br>
Note that `int()` will only keep the integer part of float (e.g., 3.141592 -> 3).

In [26]:
# From integer to float
print(n1, type(n1))

n4 = float(n1)
print(n4, type(n4))

# From float to integer
print(pi, type(pi))

n5 = int(pi)
print(n5, type(n5))

1 <class 'int'>
1.0 <class 'float'>
3.141592 <class 'float'>
3 <class 'int'>

If you want to round the rational number, instead of just removing decimal points, use the function `round()`.

In [27]:
# round(number, digit) takes two arguments. 
# The first is the number to be rounded, the second is the number of decimals (default is 0).
print(round(pi, 1))  
print(round(pi, 2))
print(round(pi, 3))
print(round(pi, 4))
print(round(pi, 5))

3.1
3.14
3.142
3.1416
3.14159

---
### *Exercise*

5. (2 points) Calculate the perimeter and the area of a circle with a radius of 5 (You can use pi assigned in the previus cell). <br><br>
$$ C = 2 \pi r $$
$$ A = \pi r ^2 $$


6. (2 points) Assign the perimeter and the area to C and A, respectively. 

---

In [28]:
# Your code here
pi = 3.141592
r = 5

C = 2 * pi * r
A = pi * r ** 2

In [29]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'Perimeter of a circle: {C}')
print(f'Area of a circle: {A}')

assert round(C, 2) == 31.42
assert round(A, 2) == 78.54
print("Success!")

Perimeter of a circle: 31.41592
Area of a circle: 78.5398
Success!

### 1.3. Boolean 

A `Boolean` variable denotes ture or false values based on two case-sensitive keywords, `True` and `False`.

In [30]:
b1 = True
b2 = False
print(b1, b2)

True False

Note that `True` is NOT equal to `'True'`. `'True'` is a string, not a boolean.

In [31]:
print(f'Type of True: {type(True)}')
print(f'Type of "True": {type("True")}')

Type of True: <class 'bool'>
Type of "True": <class 'str'>

Each data type of Python has a representation of boolean. For example, numereical value 0 is `False`, but other numbers are `True`. In addition, empty string (e.g., `''`) is `False`, but nonempty string is `True`.

In [32]:
# Integer / Float
print(bool(0)) 
print(bool(1)) 
print(bool(-1.8))
print(bool(100))

False
True
True
True

In [33]:
# String
print(bool(''))
print(bool('Something'))
print(bool('Words'))

False
True
True

The variable type, Boolean, is usually used for testing conditions, rather than storing True and False. 
<br><br>
We can test the values of variables using different operators. These tests return a `Boolean` value. Either `True` or `False`. `False` is the same as zero, `True` is nonzero. Note that assignment `=` is different than a test of equality `==`.

In [34]:
a = 5

In [35]:
print(f'a < 99:  {a < 99}')
print(f'a > 99:  {a > 99}')
print(f'a == 5.:  {a == 5.}')

a < 99:  True
a > 99:  False
a == 5.:  True

These statements have returned "booleans", which are True and False only. These are commonly used to check for conditions within a script or function to determine the next course of action.

NOTE: booleans are NOT equivalent to a string that says "True" or "False". We can test this:

In [36]:
True == 'True'

False

There are other things that can be tested, not just mathematical equalities. For example, to test if an element is inside of a list or string (or any sequence, more on sequences below..), do

In [37]:
foo = [1, 2, 3, 4, 5 ,6] # List
5 in foo

True

In [38]:
print('this' in 'What is this?')
print('that' in 'What is this?')

True
False

## 2. Containers

- List: list()
    - [variable1, variable2, variable3...]
- Tuple: tuple()
    - (variable1, variable2, variable3...)
- Dictionary: dict()
    - {key1: value1, key2: value2, key3: value3 ...}

Often you need lists or sequences of different values (e.g., a timeseries of temperature – a list of values representing the temperature on sequential days). There are three containers in the core python language. There are a few more specialized containers (e.g., numpy arrays and pandas dataframes) for use in scientific computing that we will learn much more about later; they are very similar to the containers we will learn about here.

### 2.1. List

Lists are perhaps the most common container type. They are used for sequential data. Create them with square brackets with comma separated values within:

In [39]:
foo = [1., 2., 3, 'four', 'five', [6., 7., 8], 'nine']
type(foo)

list

Note that lists (unlike arrays, as we will later learn) can be heterogeneous. That is, the elements in the list don't have to have the same kind of data type. Here we have a list with floats, ints, strings, and even another (nested) list!

We can retrieve the individual elements of a list by 'indexing' the list. We do this with square brackets, using zero-based indexes – that is 0 is the first element – as such:

In [40]:
foo[0]

1.0

In [41]:
foo[5]  # Nested list (a list in a list)

[6.0, 7.0, 8]

In [42]:
foo[5][1]  # Python is sequential, we can access an element within an element using sequential indexing.

7.0

In [43]:
foo[-1]    # This is the way to access the last element.

'nine'

In [44]:
foo[-3]    # ...and the third to last element

'five'

In [45]:
foo[-3][2]   # we can also index strings.

'v'

We can get a sub-sequence from the list by giving a range of the data to extract. This is done by using the format

    start:stop:stride

where `start` is the first element, up to but not including the element indexed by `stop`, taking every `stride` elements. The defaluts are start at the beginning, include through the end, and include every element. 

The up-to-but-not-including part is confusing to first time Python users, but makes sense given the zero-based indexing. For example, `foo[:10]` gives the first ten elements of a sequence.

In [46]:
# create a sequence of 10 elements, starting with zero, up to but not including 10.
bar = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# or you can use function range(start, end, step) to create the same list
bar_ = list(range(0, 10, 1))
print(bar)
print(bar_)
print(bar == bar_)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
True

In [47]:
bar[2:5]

[2, 3, 4]

In [48]:
bar[:4]

[0, 1, 2, 3]

In [49]:
bar[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
bar[::2]

[0, 2, 4, 6, 8]

---
###  *Exercise*

7. (2 points) Create a list `list1` with the ragne from 0 to 9. BUT, DO NOT list off every variables (i.e., 0, 1, 2 ...)
8. (2 points) Use list indexing to obtain `[3, 4, 5]`, and save the result as `list2`. 
9. (2 points) Use list indexing to obtain `[2, 5, 8]`, and save teh result as `list3`.
---

In [51]:
# Your code here
list1 = list(range(0, 10, 1))
list2 = list1[3:6:1]
list3 = list1[2:10:3]
# list3 =

In [52]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list1 == [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
assert list2 == [3, 4, 5]
assert list3 == [2, 5, 8]

print("Success!")

Success!

In [53]:
list1 = list(range(0, 10, 1))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list1.append(10)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2.2. Tuples

Tuples (pronounced too'-puls) are sequences that can't be modified, and don't have methods. Thus, they are designed to be immutable sequences. They are created like lists, but with parentheses instead of square brackets.

In [55]:
bar = list(range(0, 10, 1))
print(bar)
bar[3] = -999
# print(bar)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
# foo = (3, 5, 7, 9)
# foo[2] = -999  # gives an assignment error. Commented so that all cells run.

In [57]:
foo[1]

2.0

### 2.3. Dictionaries

Dictionaries are used for unordered sequences that are referenced by arbitrary 'keys' instead of by a (sequential) index. Dictionaries are created using curly braces with keys and values separated by a colon, and key:value pairs separated by commas, as

In [58]:
dict_car = {
    "brand" : "Subaru",
    "model" : "Forester",
    "year"  : 2023
}
print(dict_car)

{'brand': 'Subaru', 'model': 'Forester', 'year': 2023}

Elements are referenced and assigned by keys:

In [59]:
dict_car['brand']

'Subaru'

In [60]:
dict_car['model']

'Forester'

The sets of a key and a value can be added or replaced as follows.

In [61]:
bar[3] = -999

In [62]:
# Add value with a key
dict_car['color'] = 'Black'
print(dict_car)

{'brand': 'Subaru', 'model': 'Forester', 'year': 2023, 'color': 'Black'}

In [63]:
# Replacing value with a key
print(dict_car['year'])
dict_car['year'] = list(range(2010, 2025, 1)) # [2010, 2011, 2012, 2013, ... ]
print(dict_car['year'])

2023
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [64]:
dict_car

{'brand': 'Subaru',
 'model': 'Forester',
 'year': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024],
 'color': 'Black'}

The keys and values can be extracted as lists using methods of the dictionary class.

In [65]:
dict_car.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [66]:
dict_car.values()

dict_values(['Subaru', 'Forester', [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], 'Black'])

## 3. Control Flows

- Loops
    - For loop (or for statement)
    - While loop (or while statement)

- Conditional (i.e., if statement)

### 3.1. For loop

Loops are one of the fundamental structures in programming. Loops allow you to iterate over each element in a sequence, one at a time, and do something with those elements.

*Loop syntax*: Loops have a very particular syntax in Python; this syntax is one of the most notable features to Python newcomers. The format looks like

```python
    for *element* in *sequence*:                # NOTE the colon at the end
        <some code that uses the *element*>     # the block of code that is looped over for each element
        <more code that uses the *element*>     # is indented four spaces (yes four! yes spaces!)
    
    <the code after the loop continues>         # the end of the loop is marked simply by unindented code
```
Thus, INDENTATION IS SIGNIFICNAT TO THE CODE. This was done because good coding practice (in almost all languages, C, FORTRAN, MATLAB) typically indents loops, functions, etc. Having indentation be significant saves the end of loop syntax for more compact code.

*Some important notes on indentation*  Indentation in python is typically *4 spaces*. Most programming text editors will be smart about indentation, and will also convert TABs to four spaces. Jupyter notebooks are smart about indentation, and will do the right thing, i.e., autoindent a line below a line with a trailing colon, and convert TABs to spaces.

In [67]:
for n in range(0, 11, 1):
    print(n)

0
1
2
3
4
5
6
7
8
9
10

In [68]:
# A simple example is to find the sum of the sequence 0 through 10,
sum_result = 0

for n in range(0, 11, 1):
    # sum_result += n
    sum_result = sum_result + n
    print(f'sum result from 0 to {n}: {sum_result}')
    
print(sum_result)

sum result from 0 to 0: 0
sum result from 0 to 1: 1
sum result from 0 to 2: 3
sum result from 0 to 3: 6
sum result from 0 to 4: 10
sum result from 0 to 5: 15
sum result from 0 to 6: 21
sum result from 0 to 7: 28
sum result from 0 to 8: 36
sum result from 0 to 9: 45
sum result from 0 to 10: 55
55

In [69]:
names = ['Patrick', 'Chris', 'Daniel']
for name in names:
    print(f'Welcome to the programming class, {name}!')

Welcome to the programming class, Patrick!
Welcome to the programming class, Chris!
Welcome to the programming class, Daniel!

In [70]:
# This for loop will spit out every alphabet in the string. 
for s in 'Patrick':
    print(s)

P
a
t
r
i
c
k

Sometimes you want to iterate over a sequence but you *also* want the indices of those elements. One way to do that is the `enumerate` function:
```python
    enumerate(<sequence>)
```
This returns a sequence of two element tuples, the first element in each tuple is the index, the second the element. It is commonly used in `for` loops, like

In [71]:
# If you want to get index and value over a for loop
for idx, name in enumerate(names):
    print(f'Welcome {name}, your seat is {idx}')

Welcome Patrick, your seat is 0
Welcome Chris, your seat is 1
Welcome Daniel, your seat is 2

### 3.2. While loops

The majority of loops that you will write will be `for` loops. These are loops that have a defined number of iterations, over a specified sequence. However, there may be times when it is not clear when the loop should terminate. In this case, you use a `while` loop. This has the syntax

```python
    while <condition> is True:
        <code>
```
`condition` should be something that can be evaluated when the loop is started, and the variables that determine the conditional should be modified in the loop.

This kind of loop should be use carefully — it is relatively easy to accidentally create an infinite loop, where the condition never is triggered to stop so the loop continues forever. This is especially important to avoid given that we are using shared resources in our class and a `while` loop that never ends can cause the computer the crash.

In [72]:
n = 5         # starting value
loop_count = 0 # counter
while n > 0:
    n = n - 1
        n -= 1    # subtract 1 each loop
    print(n)
    # loop_count = loop_count + 1

    # loop_count += 1
    # print(f'loop count: {loop_count} and the current n is {n}')  # look at value of n

IndentationError: unexpected indent (2080306368.py, line 5)

---
### *Exercise*

10. (3 points) Calculate how many sequential integer should be added to exceed 100,000 (i.e., from 1 to ?). You need to provide a proof of code using a while loop.

---

In [85]:
n = 0

while n < 5:
    n += 1
    
n

5

In [73]:
# Your code here

sum_result = 0
n = 0

while sum_result < 100000:
    n += 1 
    sum_result += n
    print(f'Value from 0 until {n} is {sum_result}')

print(sum_result)
print(n)

Value from 0 until 1 is 1
Value from 0 until 2 is 3
Value from 0 until 3 is 6
Value from 0 until 4 is 10
Value from 0 until 5 is 15
Value from 0 until 6 is 21
Value from 0 until 7 is 28
Value from 0 until 8 is 36
Value from 0 until 9 is 45
Value from 0 until 10 is 55
Value from 0 until 11 is 66
Value from 0 until 12 is 78
Value from 0 until 13 is 91
Value from 0 until 14 is 105
Value from 0 until 15 is 120
Value from 0 until 16 is 136
Value from 0 until 17 is 153
Value from 0 until 18 is 171
Value from 0 until 19 is 190
Value from 0 until 20 is 210
Value from 0 until 21 is 231
Value from 0 until 22 is 253
Value from 0 until 23 is 276
Value from 0 until 24 is 300
Value from 0 until 25 is 325
Value from 0 until 26 is 351
Value from 0 until 27 is 378
Value from 0 until 28 is 406
Value from 0 until 29 is 435
Value from 0 until 30 is 465
Value from 0 until 31 is 496
Value from 0 until 32 is 528
Value from 0 until 33 is 561
Value from 0 until 34 is 595
Value from 0 until 35 is 630
Value from 0 until 36 is 666
Value from 0 until 37 is 703
Value from 0 until 38 is 741
Value from 0 until 39 is 780
Value from 0 until 40 is 820
Value from 0 until 41 is 861
Value from 0 until 42 is 903
Value from 0 until 43 is 946
Value from 0 until 44 is 990
Value from 0 until 45 is 1035
Value from 0 until 46 is 1081
Value from 0 until 47 is 1128
Value from 0 until 48 is 1176
Value from 0 until 49 is 1225
Value from 0 until 50 is 1275
Value from 0 until 51 is 1326
Value from 0 until 52 is 1378
Value from 0 until 53 is 1431
Value from 0 until 54 is 1485
Value from 0 until 55 is 1540
Value from 0 until 56 is 1596
Value from 0 until 57 is 1653
Value from 0 until 58 is 1711
Value from 0 until 59 is 1770
Value from 0 until 60 is 1830
Value from 0 until 61 is 1891
Value from 0 until 62 is 1953
Value from 0 until 63 is 2016
Value from 0 until 64 is 2080
Value from 0 until 65 is 2145
Value from 0 until 66 is 2211
Value from 0 until 67 is 2278
Value from 0 until 68 is 2346
Value from 0 until 69 is 2415
Value from 0 until 70 is 2485
Value from 0 until 71 is 2556
Value from 0 until 72 is 2628
Value from 0 until 73 is 2701
Value from 0 until 74 is 2775
Value from 0 until 75 is 2850
Value from 0 until 76 is 2926
Value from 0 until 77 is 3003
Value from 0 until 78 is 3081
Value from 0 until 79 is 3160
Value from 0 until 80 is 3240
Value from 0 until 81 is 3321
Value from 0 until 82 is 3403
Value from 0 until 83 is 3486
Value from 0 until 84 is 3570
Value from 0 until 85 is 3655
Value from 0 until 86 is 3741
Value from 0 until 87 is 3828
Value from 0 until 88 is 3916
Value from 0 until 89 is 4005
Value from 0 until 90 is 4095
Value from 0 until 91 is 4186
Value from 0 until 92 is 4278
Value from 0 until 93 is 4371
Value from 0 until 94 is 4465
Value from 0 until 95 is 4560
Value from 0 until 96 is 4656
Value from 0 until 97 is 4753
Value from 0 until 98 is 4851
Value from 0 until 99 is 4950
Value from 0 until 100 is 5050
Value from 0 until 101 is 5151
Value from 0 until 102 is 5253
Value from 0 until 103 is 5356
Value from 0 until 104 is 5460
Value from 0 until 105 is 5565
Value from 0 until 106 is 5671
Value from 0 until 107 is 5778
Value from 0 until 108 is 5886
Value from 0 until 109 is 5995
Value from 0 until 110 is 6105
Value from 0 until 111 is 6216
Value from 0 until 112 is 6328
Value from 0 until 113 is 6441
Value from 0 until 114 is 6555
Value from 0 until 115 is 6670
Value from 0 until 116 is 6786
Value from 0 until 117 is 6903
Value from 0 until 118 is 7021
Value from 0 until 119 is 7140
Value from 0 until 120 is 7260
Value from 0 until 121 is 7381
Value from 0 until 122 is 7503
Value from 0 until 123 is 7626
Value from 0 until 124 is 7750
Value from 0 until 125 is 7875
Value from 0 until 126 is 8001
Value from 0 until 127 is 8128
Value from 0 until 128 is 8256
Value from 0 until 129 is 8385
Value from 0 until 130 is 8515
Value from 0 until 131 is 8646
Value from 0 until 132 is 8778
Value from 0 until 133 is 8911
Value from 0 until 134 is 9045
Value from 0 until 135 is 9180
Value from 0 until 136 is 9316
Value from 0 until 137 is 9453
Value from 0 until 138 is 9591
Value from 0 until 139 is 9730
Value from 0 until 140 is 9870
Value from 0 until 141 is 10011
Value from 0 until 142 is 10153
Value from 0 until 143 is 10296
Value from 0 until 144 is 10440
Value from 0 until 145 is 10585
Value from 0 until 146 is 10731
Value from 0 until 147 is 10878
Value from 0 until 148 is 11026
Value from 0 until 149 is 11175
Value from 0 until 150 is 11325
Value from 0 until 151 is 11476
Value from 0 until 152 is 11628
Value from 0 until 153 is 11781
Value from 0 until 154 is 11935
Value from 0 until 155 is 12090
Value from 0 until 156 is 12246
Value from 0 until 157 is 12403
Value from 0 until 158 is 12561
Value from 0 until 159 is 12720
Value from 0 until 160 is 12880
Value from 0 until 161 is 13041
Value from 0 until 162 is 13203
Value from 0 until 163 is 13366
Value from 0 until 164 is 13530
Value from 0 until 165 is 13695
Value from 0 until 166 is 13861
Value from 0 until 167 is 14028
Value from 0 until 168 is 14196
Value from 0 until 169 is 14365
Value from 0 until 170 is 14535
Value from 0 until 171 is 14706
Value from 0 until 172 is 14878
Value from 0 until 173 is 15051
Value from 0 until 174 is 15225
Value from 0 until 175 is 15400
Value from 0 until 176 is 15576
Value from 0 until 177 is 15753
Value from 0 until 178 is 15931
Value from 0 until 179 is 16110
Value from 0 until 180 is 16290
Value from 0 until 181 is 16471
Value from 0 until 182 is 16653
Value from 0 until 183 is 16836
Value from 0 until 184 is 17020
Value from 0 until 185 is 17205
Value from 0 until 186 is 17391
Value from 0 until 187 is 17578
Value from 0 until 188 is 17766
Value from 0 until 189 is 17955
Value from 0 until 190 is 18145
Value from 0 until 191 is 18336
Value from 0 until 192 is 18528
Value from 0 until 193 is 18721
Value from 0 until 194 is 18915
Value from 0 until 195 is 19110
Value from 0 until 196 is 19306
Value from 0 until 197 is 19503
Value from 0 until 198 is 19701
Value from 0 until 199 is 19900
Value from 0 until 200 is 20100
Value from 0 until 201 is 20301
Value from 0 until 202 is 20503
Value from 0 until 203 is 20706
Value from 0 until 204 is 20910
Value from 0 until 205 is 21115
Value from 0 until 206 is 21321
Value from 0 until 207 is 21528
Value from 0 until 208 is 21736
Value from 0 until 209 is 21945
Value from 0 until 210 is 22155
Value from 0 until 211 is 22366
Value from 0 until 212 is 22578
Value from 0 until 213 is 22791
Value from 0 until 214 is 23005
Value from 0 until 215 is 23220
Value from 0 until 216 is 23436
Value from 0 until 217 is 23653
Value from 0 until 218 is 23871
Value from 0 until 219 is 24090
Value from 0 until 220 is 24310
Value from 0 until 221 is 24531
Value from 0 until 222 is 24753
Value from 0 until 223 is 24976
Value from 0 until 224 is 25200
Value from 0 until 225 is 25425
Value from 0 until 226 is 25651
Value from 0 until 227 is 25878
Value from 0 until 228 is 26106
Value from 0 until 229 is 26335
Value from 0 until 230 is 26565
Value from 0 until 231 is 26796
Value from 0 until 232 is 27028
Value from 0 until 233 is 27261
Value from 0 until 234 is 27495
Value from 0 until 235 is 27730
Value from 0 until 236 is 27966
Value from 0 until 237 is 28203
Value from 0 until 238 is 28441
Value from 0 until 239 is 28680
Value from 0 until 240 is 28920
Value from 0 until 241 is 29161
Value from 0 until 242 is 29403
Value from 0 until 243 is 29646
Value from 0 until 244 is 29890
Value from 0 until 245 is 30135
Value from 0 until 246 is 30381
Value from 0 until 247 is 30628
Value from 0 until 248 is 30876
Value from 0 until 249 is 31125
Value from 0 until 250 is 31375
Value from 0 until 251 is 31626
Value from 0 until 252 is 31878
Value from 0 until 253 is 32131
Value from 0 until 254 is 32385
Value from 0 until 255 is 32640
Value from 0 until 256 is 32896
Value from 0 until 257 is 33153
Value from 0 until 258 is 33411
Value from 0 until 259 is 33670
Value from 0 until 260 is 33930
Value from 0 until 261 is 34191
Value from 0 until 262 is 34453
Value from 0 until 263 is 34716
Value from 0 until 264 is 34980
Value from 0 until 265 is 35245
Value from 0 until 266 is 35511
Value from 0 until 267 is 35778
Value from 0 until 268 is 36046
Value from 0 until 269 is 36315
Value from 0 until 270 is 36585
Value from 0 until 271 is 36856
Value from 0 until 272 is 37128
Value from 0 until 273 is 37401
Value from 0 until 274 is 37675
Value from 0 until 275 is 37950
Value from 0 until 276 is 38226
Value from 0 until 277 is 38503
Value from 0 until 278 is 38781
Value from 0 until 279 is 39060
Value from 0 until 280 is 39340
Value from 0 until 281 is 39621
Value from 0 until 282 is 39903
Value from 0 until 283 is 40186
Value from 0 until 284 is 40470
Value from 0 until 285 is 40755
Value from 0 until 286 is 41041
Value from 0 until 287 is 41328
Value from 0 until 288 is 41616
Value from 0 until 289 is 41905
Value from 0 until 290 is 42195
Value from 0 until 291 is 42486
Value from 0 until 292 is 42778
Value from 0 until 293 is 43071
Value from 0 until 294 is 43365
Value from 0 until 295 is 43660
Value from 0 until 296 is 43956
Value from 0 until 297 is 44253
Value from 0 until 298 is 44551
Value from 0 until 299 is 44850
Value from 0 until 300 is 45150
Value from 0 until 301 is 45451
Value from 0 until 302 is 45753
Value from 0 until 303 is 46056
Value from 0 until 304 is 46360
Value from 0 until 305 is 46665
Value from 0 until 306 is 46971
Value from 0 until 307 is 47278
Value from 0 until 308 is 47586
Value from 0 until 309 is 47895
Value from 0 until 310 is 48205
Value from 0 until 311 is 48516
Value from 0 until 312 is 48828
Value from 0 until 313 is 49141
Value from 0 until 314 is 49455
Value from 0 until 315 is 49770
Value from 0 until 316 is 50086
Value from 0 until 317 is 50403
Value from 0 until 318 is 50721
Value from 0 until 319 is 51040
Value from 0 until 320 is 51360
Value from 0 until 321 is 51681
Value from 0 until 322 is 52003
Value from 0 until 323 is 52326
Value from 0 until 324 is 52650
Value from 0 until 325 is 52975
Value from 0 until 326 is 53301
Value from 0 until 327 is 53628
Value from 0 until 328 is 53956
Value from 0 until 329 is 54285
Value from 0 until 330 is 54615
Value from 0 until 331 is 54946
Value from 0 until 332 is 55278
Value from 0 until 333 is 55611
Value from 0 until 334 is 55945
Value from 0 until 335 is 56280
Value from 0 until 336 is 56616
Value from 0 until 337 is 56953
Value from 0 until 338 is 57291
Value from 0 until 339 is 57630
Value from 0 until 340 is 57970
Value from 0 until 341 is 58311
Value from 0 until 342 is 58653
Value from 0 until 343 is 58996
Value from 0 until 344 is 59340
Value from 0 until 345 is 59685
Value from 0 until 346 is 60031
Value from 0 until 347 is 60378
Value from 0 until 348 is 60726
Value from 0 until 349 is 61075
Value from 0 until 350 is 61425
Value from 0 until 351 is 61776
Value from 0 until 352 is 62128
Value from 0 until 353 is 62481
Value from 0 until 354 is 62835
Value from 0 until 355 is 63190
Value from 0 until 356 is 63546
Value from 0 until 357 is 63903
Value from 0 until 358 is 64261
Value from 0 until 359 is 64620
Value from 0 until 360 is 64980
Value from 0 until 361 is 65341
Value from 0 until 362 is 65703
Value from 0 until 363 is 66066
Value from 0 until 364 is 66430
Value from 0 until 365 is 66795
Value from 0 until 366 is 67161
Value from 0 until 367 is 67528
Value from 0 until 368 is 67896
Value from 0 until 369 is 68265
Value from 0 until 370 is 68635
Value from 0 until 371 is 69006
Value from 0 until 372 is 69378
Value from 0 until 373 is 69751
Value from 0 until 374 is 70125
Value from 0 until 375 is 70500
Value from 0 until 376 is 70876
Value from 0 until 377 is 71253
Value from 0 until 378 is 71631
Value from 0 until 379 is 72010
Value from 0 until 380 is 72390
Value from 0 until 381 is 72771
Value from 0 until 382 is 73153
Value from 0 until 383 is 73536
Value from 0 until 384 is 73920
Value from 0 until 385 is 74305
Value from 0 until 386 is 74691
Value from 0 until 387 is 75078
Value from 0 until 388 is 75466
Value from 0 until 389 is 75855
Value from 0 until 390 is 76245
Value from 0 until 391 is 76636
Value from 0 until 392 is 77028
Value from 0 until 393 is 77421
Value from 0 until 394 is 77815
Value from 0 until 395 is 78210
Value from 0 until 396 is 78606
Value from 0 until 397 is 79003
Value from 0 until 398 is 79401
Value from 0 until 399 is 79800
Value from 0 until 400 is 80200
Value from 0 until 401 is 80601
Value from 0 until 402 is 81003
Value from 0 until 403 is 81406
Value from 0 until 404 is 81810
Value from 0 until 405 is 82215
Value from 0 until 406 is 82621
Value from 0 until 407 is 83028
Value from 0 until 408 is 83436
Value from 0 until 409 is 83845
Value from 0 until 410 is 84255
Value from 0 until 411 is 84666
Value from 0 until 412 is 85078
Value from 0 until 413 is 85491
Value from 0 until 414 is 85905
Value from 0 until 415 is 86320
Value from 0 until 416 is 86736
Value from 0 until 417 is 87153
Value from 0 until 418 is 87571
Value from 0 until 419 is 87990
Value from 0 until 420 is 88410
Value from 0 until 421 is 88831
Value from 0 until 422 is 89253
Value from 0 until 423 is 89676
Value from 0 until 424 is 90100
Value from 0 until 425 is 90525
Value from 0 until 426 is 90951
Value from 0 until 427 is 91378
Value from 0 until 428 is 91806
Value from 0 until 429 is 92235
Value from 0 until 430 is 92665
Value from 0 until 431 is 93096
Value from 0 until 432 is 93528
Value from 0 until 433 is 93961
Value from 0 until 434 is 94395
Value from 0 until 435 is 94830
Value from 0 until 436 is 95266
Value from 0 until 437 is 95703
Value from 0 until 438 is 96141
Value from 0 until 439 is 96580
Value from 0 until 440 is 97020
Value from 0 until 441 is 97461
Value from 0 until 442 is 97903
Value from 0 until 443 is 98346
Value from 0 until 444 is 98790
Value from 0 until 445 is 99235
Value from 0 until 446 is 99681
Value from 0 until 447 is 100128
100128
447

### 3.3. If statement
Conditionals have a similar syntax to `for` statements. Generally, conditionals look like
```python
    if <test>:
        <Code run if...>
        <...test is valid>
```
or
```python
    if <first test>:
        <Code run if...>
        <...the first test is valid>
    elif <second test>:
        <Code run if...>
        <...the second test is valid>
    else:
        <Code run if...>
        <...neither test is valid>
```

In both cases the test statements are code segments that return a boolean value, often a test for equality or inequality. The `elif` and `else` statements are always optional; both, either, or none can be included.

In [74]:
x = 2
    
if x < 20: 
    print('x is less than 20')
elif x == 20:
    print('x is equal to 20')
else:
    print('x is more than 20')

x is less than 20

In [75]:
# Example of nested if statements
# 'string'.isalpha() will determine whether the string is alphabet.
sentence = 'I would like to sort this sentence into vowels, consonants, and special characters!@#$'

consonants = []  # list for consonants
vowels = []      # list for vowels
extra = []       # list for special characters 

for char in sentence:
    # print(char)
    # print(f'Character in the loop is {char}')
    if char.isalpha():
        if char.lower() in ['a', 'e', 'i', 'o', 'u']:
            consonants.append(char.lower())
        else:
            vowels.append(char.lower())
            
    else:
        if char == ' ':
            pass
        else:
            extra.append(char.lower())

print(set(consonants))
print(set(vowels))
print(set(extra))

{'i', 'a', 'o', 'u', 'e'}
{'p', 'h', 'l', 'r', 'c', 's', 'n', 'k', 'v', 't', 'd', 'w'}
{'$', ',', '#', '@', '!'}

---
### *Exercise*

11. (3 points) Find the lowest number that can be divided into 2, 3, 5, and 7 without any remainder (Not 0). <br>
Note: You need to provide a proof of code using a for loop and an if statement. <br>
Hint: three digits <br>
Hint: You can use % operator to check the remainder. For example, 10 % 3 = 1, because 10 / 3 = 3 with remainder 1. <br><br>
12. (3 points) Create three lists (`list_2`, `list_3`, `list_extra`). Within the range from 1 to 10, two lists (`list_2` and `list_3`) contain the numbers can be divided by 2 and 3 without remainder, respectively. The other list (`list_extra`) has the numbers that CANNOT be divided by 2 and 3 without remainder. <br>
Note: You need to provide a proof of code using a for loop and an if statement. 

---

In [76]:
# Your code here (Excersise 11)

for i in range(1000):
    if (i % 2 == 0) & (i % 3 == 0) & (i % 5 == 0) & (i % 7 == 0):
        print(i)

0
210
420
630
840

In [77]:
# Your code here (Excersise 12)
list_2 = []
list_3 = []
list_extra = []

for i in range(1, 10):
    # print(i)
    
    if (i % 2 == 0) & (i % 3 != 0):
        list_2.append(i)
    elif (i % 3 == 0) & (i % 2 != 0):
        list_3.append(i)
    elif (i % 3 == 0) & (i % 2 == 0):
        list_2.append(i)
        list_3.append(i)
    else:
        list_extra.append(i)

print(list_2)
print(list_3)
print(list_extra)

[2, 4, 6, 8]
[3, 6, 9]
[1, 5, 7]

In [78]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list_2 == [2, 4, 6, 8]
assert list_3 == [3, 6, 9]
assert list_extra == [1, 5, 7]

print("Success!")

Success!

### 1.4. Other control flows: Break, Pass, Continue

In [79]:
# Example of break
number = 0

for number in range(10):
    if number > 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Out of loop

In [80]:
# Example of continue
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [81]:
# Example of pass
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

# 4. Functions

Functions are ways to create reusable blocks of code that can be run with different variable values – the input variables to the function. Functions are defined using the syntax

```python
    def <function name> (var1, var2, ...):
        <block of code...>
        <...defining the function>
        return <return variable(s)>
```
Functions can be defined at any point in the code, and called at any subsequent point.

In [86]:
def addfive(x):

    a = x + 5
    
    return a

addfive(3)

8

In [87]:
addfive(10)

15

In [88]:
def calculate_circle(r):
    '''Return the perimeter and area of a circle with the argument
    
    Input : r
            A number
    
    Output: (C, A)
            C: perimeter of a circle with radius r
            A: area of a circle with radius r
    
    '''
    pi = 3.141592
    C = 2 * pi * r
    A = pi * r ** 2
    
    return C, A

perimeter, area = calculate_circle(5)
print(f'Perimeter of a circle: {perimeter}')
print(f'Area of a circle: {area}')

Perimeter of a circle: 31.41592
Area of a circle: 78.5398

In [89]:
a = calculate_circle(5)
a

(31.41592, 78.5398)

---
### *Exercise*

13. (5 points) Write a function that takes in a list of numbers and returns two lists of numbers: the odd numbers in the list and the even numbers in the list. That is, if your function is called `odds_evens()`, it should work as follows: <br>

```python
    odds, evens = odds_evens([1,5,2,8,3,4])
    print(odds, evens)
    ([1, 5, 3], [2, 8, 4])
```
    
Note that `x % y` gives the remainder of `x/y`.

---

In [92]:
# Your code here

def odds_evens(temp_list):

    odd_list = []
    even_list = list()
    
    for i in temp_list:
        print(i)
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    
            
    return odd_list, even_list


# odds_evens([1,2,3,4])    
odds, evens = odds_evens([1, 5, 2, 8, 3, 4])

1
5
2
8
3
4

In [93]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert odds == [1, 5, 3]
assert evens == [2, 8, 4]

print("Success!")

Success!