In [ ]:
1 #INTRODUCTION TO JUPITER NOTEBOOK

3## Python is fun

In [1]:
 # INTRODUCTION TO JUPITER NOTEBOOK
you don't have to stress yourself in **creating** body, just write what you want `write`
## python is fun

##### smallest header



## Order list
1. Point one
2. Point two
3. Point three

## Unorder List
- Point one
- point two
- point three![Screenshot%2012-06-2023%2005.57.32.png](attachment:Screenshot%2012-06-2023%2005.57.32.png)

SyntaxError: invalid syntax (327246578.py, line 2)

In [1]:
pip install jupyterthemes

Collecting jupyterthemes
  Downloading jupyterthemes-0.20.0-py2.py3-none-any.whl (7.0 MB)
     ---------------------------------------- 7.0/7.0 MB 3.2 MB/s eta 0:00:00
Requirement already satisfied: notebook>=5.6.0 in c:\users\kenneth\anaconda3\lib\site-packages (from jupyterthemes) (6.4.12)
Requirement already satisfied: jupyter-core in c:\users\kenneth\anaconda3\lib\site-packages (from jupyterthemes) (4.11.1)
Collecting lesscpy>=0.11.2
  Downloading lesscpy-0.15.1-py2.py3-none-any.whl (46 kB)
     ---------------------------------------- 46.7/46.7 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\kenneth\anaconda3\lib\site-packages (from jupyterthemes) (3.5.2)
Requirement already satisfied: ipython>=5.4.1 in c:\users\kenneth\anaconda3\lib\site-packages (from jupyterthemes) (7.31.1)
Requirement already satisfied: pickleshare in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: colorama in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.5)
Requirement already satisfied: pygments in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.11.2)
Requirement already satisfied: backcall in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (63.4.1)
Requirement already satisfied: decorator in c:\users\kenneth\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 49.6/49.6 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: pillow>=6.2.0 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.9)
Requirement already satisfied: numpy>=1.17 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kenneth\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.4.2)
Requirement already satisfied: prometheus-client in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.14.1)
Requirement already satisfied: ipykernel in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.15.2)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (21.3.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: pyzmq>=17 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (23.2.0)
Requirement already satisfied: jinja2 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: ipython-genutils in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (7.3.4)
Requirement already satisfied: nbformat in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.5.0)
Requirement already satisfied: nbconvert>=5 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.4.4)
Requirement already satisfied: tornado>=6.1 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\kenneth\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.5)
Requirement already satisfied: pywin32>=1.0 in c:\users\kenneth\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (302)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\kenneth\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: entrypoints in c:\users\kenneth\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=5.6.0->jupyterthemes) (0.4)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: testpath in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: beautifulsoup4 in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (4.11.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.5.13)
Requirement already satisfied: bleach in c:\users\kenneth\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (4.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\kenneth\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (2.0.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\kenneth\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (4.16.0)
Requirement already satisfied: fastjsonschema in c:\users\kenneth\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\kenneth\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\kenneth\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->jupyterthemes) (1.16.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\kenneth\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\kenneth\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in c:\users\kenneth\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: psutil in c:\users\kenneth\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (5.9.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\kenneth\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\kenneth\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (21.4.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\kenneth\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kenneth\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=5.6.0->jupyterthemes) (2.3.1)
Requirement already satisfied: webencodings in c:\users\kenneth\anaconda3\lib\site-packages (from bleach->nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: pycparser in c:\users\kenneth\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.21)
Installing collected packages: ply, lesscpy, jupyterthemes
Successfully installed jupyterthemes-0.20.0 lesscpy-0.15.1 ply-3.11
Note: you may need to restart the kernel to use updated packages.

In [2]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [ ]:
!jt -t onedork

In [2]:
# I'm about to write my first python code
print ("Hello World, python is awesome")

Hello World, python is awesome

In [9]:
# introduce yourself, and say your fullname, occupation, and school name
Firstname ="Kenneth"
lastname = "Agbo"
occupation = "Data Scientist"
school_name = "LASOP"
print("Hello everyone my name is",Firstname, lastname,".","My job is", occupation, "and the name of my school is", school_name)

Hello everyone my name is Kenneth Agbo . My job is Data Scientist and the name of my school is LASOP

In [10]:
a = 30
b = 40
output = a+b
print("Hello dear, the sum is",output)

Hello dear, the sum is 70

In [14]:
bornyear = int(input("Enter your year of birth"))
presentyear = 2024
age = presentyear - bornyear
print("Your age is", age,"years old")

Enter your year of birth1998
Your age is 26 years old

# Variable and Identifier
- A variable is an object that occupies space on the computer memory
- Identifier is used to identify variable


## Rules For Naming Variable

- A variable name can not start with a number, though it can be find anywhere else
- A variable name can not contain any special character except underscore
- A variable name can not be joined with space, Use underscore instead
- A variable can not be named with Python reserved key words eg print, def
- note that Python is case sensitive

In [ ]:
# state your fullname, age, and your name of your school, then introduce yourself to the screen

In [15]:
num1 = input("Enter the reg number: ")
num2 = input("Enter the admission ID: ")

num1 = float(num1)
num2 = float(num2)

result = num1 + num2 

print("The sum is", result)

Enter the reg number: 5666
Enter the admission ID: 76890
The sum is 82556.0

In [16]:
num1 = float(input("Enter any number: "))
num2 = float(input("Enter another number of choice: "))
result = num1 + num2
print("The output is",result)

Enter any number: 500
Enter another number of choice: 10007
The output is 10507.0

In [17]:
type(result)

float

In [1]:
First_name = "Olaitan"
Last_name = "Kazeem"
age = 12
school = "LASOP"

print("Hello everyone, my fullname is", First_name,Last_name, "I am", age, "year olds and the name of my school is",school)

Hello everyone, my fullname is Olaitan Kazeem I am 12 year olds and the name of my school is LASOP

In [11]:

First_name = input("please enter your first name: ")
Last_name = input("please enter your last name: ")
age = input("please enter your age: ")
school = input("please what is the name of your school: ")
print("Hello everyone, my fullname is", First_name,Last_name, "I am", age, "years old and the name of my school is",school)

please enter your first name: Steven
please enter your last name: Agbo
please enter your age: 20
please what is the name of your school: LASOP
Hello everyone, my fullname is Steven Agbo I am 20 years old and the name of my school is LASOP

In [ ]:
# Note the following ; To create new cell, use "A and B" which stands for after and before. While to delete cell, use "X". Finally, to run a command, use shift key + enter

In [1]:
# print "Hello world"
print("Hello World")

Hello World

In [4]:
marital_status = input("enter your marital status")
spouse_name = input("enter your spouse's name")
date_of_marriage = input("enter your date of marriage")
first_name = input("please enter your first name")
Surname = input("enter your surname")
print("Hello Friends, My fullname is",first_name, Surname,"and I'm",marital_status, "My partner is", spouse_name,)

enter your marital statusmarried
enter your spouse's namekenneth
enter your date of marriage3rd December 2021
please enter your first nameChinenye
enter your surnameAgbo
Hello Friends, My fullname is Chinenye Agbo and I'm married My partner is kenneth

In [20]:
a = 3

In [4]:
print (a)

3

In [6]:
name1 = "Olaitan"

In [7]:
print(name1)

Olaitan

In [ ]:
first_name = "olaitan"

In [ ]:
age = 15

In [14]:
num1 = int(input("enter the first number")) 
num2 = int(input("enter the second number"))
total = num1 + num2
print("the summation of the number entered is",total)

enter the first number3
enter the second number4
the summation of the number entered is 7

# Data types in Python

In [ ]:
# Python supports various data types, including
1.Numeric data types:
    int: integer types(e.g 5,-7)
    float: floating point types (e.g 2.3, -1.5)

2. Sequence types:
    str: string type(e.g "Hello, Tomorrow")
    list: list type(e.g [1,2,3])
        
3. Set types:
    set: Unordered collection with no duplicate elements (e.g {2,7,9,})
4. Mapping type:
    dict: Dictionary type (e.g {'key': 'value'})
    
5. Boolean types:
    bool: Boolean type with values True or False

In [ ]:
data type
1. int 
2. float
3. Str
4. complex

to check data type--- use type(the variable)
e.g; W = 12   --- type(w) -- it will show that it has a str

-- to convert str to int
Use int(the variable) e.g int(w)

In [ ]:
#write python script that can ask users for their born year, then return the current age of such user

In [6]:
Born_year = int (input("Enter your birth year"))
current_year = 2024
user_age = int(current_year - Born_year)
print( "Your current age is", user_age, "years old")

Enter your birth year1989
Your current age is 35 years old

In [24]:
born_year = int (input("please enter your born year"))
age = 2023- born_year
print("Your current Age is", age)

please enter your born year2001
Your current Age is 22

#Operators In Python.
In Python, Operators are used to manipulate Operand

1. Arithmatics
2. Assignment
3. Comparision
4. Membership
5. Identity
6. Logical
7. bitwise

In [6]:
# Addition
a =3
b = 7
total = a+b
print(total)

10

In [5]:
#Subtraction
a =3
b = 7
total = a-b
print(total)

-4

In [4]:
# Division
a =10
b = 3
total = a/b
print(total)

3.3333333333333335

In [7]:
# multiplication
a =3
b = 7
total = a*b
print(total)

21

In [8]:
# power
a =3
b = 7
total = a**b
print(total)

2187

In [9]:
# modulus
a =10
b = 3
total = a%b
print(total)

1

In [20]:
ken = 21
Mario = 5
total = ken // Mario
print(total)

4

In [ ]:
# note; Modulus returns only the remainder after division. Whenever there is no remainder, it will return zero

In [25]:
# Assignment Operator
#equal sign
name = "Olaitan"

#Increament
a=4
a +=2  #increase the values of "a" with 2
print(a)

# decreament

a=4
a -=2  #decrease the values of "a" with 2

6

In [15]:
# Comparision Operator  returns a boolean result i.e True/false

#>
a = 10
b = 15
a >b

False

In [16]:
#>=
a = 10
b = 10
a >=b

True

In [17]:
# <=
a = 10
b = 15
a <= b

True

In [18]:
# ==
a = 15
b = 15
a ==b

True

In [25]:
 # !=
    
a = 15
b = 15
a !=b

False

# Membership   
(it returns a boolean result, is or is not)

In [29]:
name = "Olaitan"
name2 = "olaitan"
name in name2

False

In [22]:
name is not name2

True

# Identity
it also returns boolean result in, not in

In [23]:
name = "Olaitan"
"O" in name

True

In [24]:
name = "Olaitan"
"O" not in name

False

# Logical Operator returns boolean result

-- and or 
-- for "and", once any of the variable is false, it will return a false result(everything must be true)
-- For "or", once any of the variable is true, it will return a true result

In [26]:
a = 6
b = 8
c = 19
(a> b) and (a<b)

False

In [28]:
a = 6
b = 8
c = 19
(a> b) or (a<b)

True

In [ ]:
# Bitwise
| and &

In [32]:
a = 10
b = 4
print(a|b)

14

In [28]:
a = 6
b = 8
c = 19
(a> b) & (a<b)

False

In [29]:
a = 6
b = 8
c = 19
(a> b) | (a<b)

True

# // returns only the whole number

In [30]:
a = 5
b = 2
a/b

2.5

In [31]:
a = 5
b = 2
a//b

2

# Data type in Python

1.Mutable ; they are kind of data type that can be modified after declaration e.g
a. List (sequence type)
b. dictionary(mapping type)

2. Immutable data type; they are kind of data type that can not be modified after declaration e.g
a. number; float, int
b. str (sequence type)
c. tuple (sequence type)
d. set (set type)

#Number

In [ ]:
a = 12 #int
b = 12.5 #float

# Str is a sequence of character joined together

In [ ]:
name = "olaitan"
name1 = "olaitan"
introduction = """this is introduction to python"""

-- Note for long sequence, use triple quote just like in the example above.

# Indexing and Slicing
Indexing is the process of fetching out a character from str or any other datatype in a position
While Slicing is a process of fetching a character(s) from str or any other datatype within range of positions

## note that datatype in python has zero base index

In [5]:
introduction = """this is introduction to python"""
# Return the second o from the variables above using forward indexing
introduction[18]

'o'

In [1]:
school = "Lasop"
# Return "s"
school[2]

's'

In [7]:
introduction = """this is introduction to python"""
# Return the first third i from the variables above using backward indexing
introduction[-22]

'i'

In [8]:
introduction[8:20]

'introduction'

In [7]:
# using backward indexing return y from the variable above
introduction[-5]

'y'

In [ ]:
# Note, in forward indexing, get the index number of the given value and subtract 1 
# while in backward indexing, count from the last word and don't subtract 1 from the index number

In [8]:
# Reverse str
name = "Olaitan"
name[::-1]

'natialO'

In [8]:
name = "Kenneth"
name[::-1]

'htenneK'

In [2]:
name = "star"
name[::-1]

'rats'

variablename[startpoint:endpoint:numberofsteps]

startpoint: index no (index no starts from zero)
endpoint: position no (position no starts from 1)
number of steps: (starts by adding 1 to the difference existing in the characters under consideration)

In [10]:
introduction = """this is introduction to python"""
# return 'is intro' from  the variable above

introduction[5:13]

'is intro'

In [12]:
# return 'ction to' from  the variable above
introduction[15:23]

'ction to'

In [13]:
introduction = """this is introduction to python"""
# return 'itouto' from  the variable above
introduction[8:19:2]

'itouto'

In [ ]:
# note; since the above character, they were consistently skipping 1 character, use no of steps 2

In [18]:
introduction = """this is introduction to python"""
# return 's rcn h' from  the variable above

introduction[3::4]

's rcn h'

In [ ]:
# Note: just get the index no and no of steps required

# Str Method in Python
Str method is a function that is associated with str object

In [13]:
# strip().. remove excessive white space before and after str
#To use it, variablename then dot followed by the name of the method

name = "    tolu   "
name.strip()

'tolu'

In [14]:
name = "   Mikel    "
name.strip()

'Mikel'

In [2]:
name= "<<<tolu???////"
name

'<<<tolu???////'

In [4]:
name.strip("<").strip("/").strip("?")

'tolu'

In [21]:
# note;start by removing the starting characters or ending characters first

name.strip("/").strip("<").strip("?")

'tolu'

In [30]:
# Format


First_name = input("please enter your first name")
Last_name = input("please enter your last name")
age = input("please enter your age")
school = input("please what is the name of your school")
print("Hello everyone, my fullname is {} {} I am {} year olds and the name of my school is {}".format(First_name,Last_name,age,school))

please enter your first name Ejike
please enter your last name Agbo
please enter your age 25
please what is the name of your school LASOP
Hello everyone, my fullname is  Ejike  Agbo I am  25 year olds and the name of my school is  LASOP

In [15]:
# Find 
#note when it didn't find it, it will return -1

name = "kola"

name.find("l")

2

In [26]:
introduction = "This is introduction to python"

introduction.endswith("n")

True

In [32]:
# Endswith :: it will return boolean result
name = "Damilare"
name.endswith("e")

True

In [2]:
# Replace
var = "I love python because I can build cool AI with it"
var.replace("AI","artificial intelligent")

'I love python because I can build cool artificial intelligent with it'

In [28]:
# Split method : it will convert the type to list and you can spacify any character that you want to split with

u = "people>from>Africa>are>black>like>tolu"
u.split(">")

['people', 'from', 'Africa', 'are', 'black', 'like', 'tolu']

In [40]:
# to check the data type, rename the function to any name

d = u.split(">")

type(d)

list

# List datatype
mutable sequence datatype

In [ ]:
# list
list1 = [] # an empty list

In [ ]:
# list with elements
list2 = [23, "Kola", 23.7, 3 + 7] # one dimensional list

In [ ]:
List3 = [[2,3,4,5,7,8]]

In [ ]:
# Nested list 
list4 = [2,5,["goat","cow", 'rat"'], "Ada", "Begger", 77]

In [33]:
list2 = [23, "Kola", 23.7, 3, 7]
# Return "Kola" in list2
list2[1]

'Kola'

In [15]:
list4 = [2, 5, "goat","cow", "rat", "Ada", "Begger", 77]
# return 2, "goat", "rat", "beggar"
list4[0:7:2]

[2, 'goat', 'rat', 'Begger']

In [35]:
list5 = [2, 5, ["goat","cow", 'rat"'], "Ada", "Begger", 77]
list5[2][1]

'cow'

In [16]:
list7 = [2,77,8,4,["A", "B", "C","D"], "Z", "Y", "X"]
#Return 77, 8
list7[1:3]

[77, 8]

In [42]:
list7 = [2,77,8,4,["A", "B", "C","D"], "Z", "Y", "X"]
#Return 2, 8
list7[0:3:2]

[2, 8]

In [10]:
list7 = [2,77,8,4,["A", "B", "C","D"], "Z", "Y", "X"]
# Return "A", "C"
list7[4][0::2]

['A', 'C']

In [21]:
list7 = [2,77,8,4,["A", "B", "C","D"], "Z", "Y", "X"]
#return "Y", "X"
list7[6:8]

['Y', 'X']

In [ ]:
# List method

In [29]:
# append : is used to add new element to the end of the list
w = [1,2,3]
w.append(4)
print(w)

[1, 2, 3, 4]

In [11]:
my_list = ["Abel", "Bona", "Solomon", "Gideon"]
my_list.insert(0,"Ken")
print(my_list)

['Ken', 'Abel', 'Bona', 'Solomon', 'Gideon']

In [30]:
# Insert : is used to add new element at specified index number
e = ["Ada", "Ade", "Kemi"]
e.insert(1,"Ojo")
print(e)

['Ada', 'Ojo', 'Ade', 'Kemi']

In [31]:
# extend: is use to add list of new elemnts to list
w = [1,2,3]
e = ["Ada","Ade", "Kemi"]
e.extend(w)
print(e)

['Ada', 'Ade', 'Kemi', 1, 2, 3]

In [ ]:
Note; append will join the whole set as an element unlike extend that will list the individual elements

In [29]:
# Remove
e = ["Ada","Ade", "Kemi"]
e.remove("Ade")
print(e)

['Ada', 'Kemi']

In [30]:
# Pop : is use to remove last element or element at specified index no
e = ["Ada","Ade", "Kemi"]
e.pop()  # remove element at the end of the list
print(e)

['Ada', 'Ade']

In [32]:
e = ["Ada","Ade", "Kemi"]
e.pop(0) # remove element at index zero
print(e)

['Ada', 'Ade']

## Clear : remove all the elements of the list
e.clear()
print(e)

In [6]:
# del: is use to delete list or any other datatype
del e
print(e)

NameError: name 'e' is not defined

In [ ]:
# Join: is use to convert a list to str

In [38]:
u = ['I', 'love', 'Python']
" ".join(u)

'I love Python'

In [ ]:
# Data Modifying in List Datatype

# Call the index of the number that you wants to modify either backward/forward then = the new number

In [2]:
# Change the element 5 from the list below to five
y = [1,2,3,4,5]
y[-1] = "five"
print(y)

[1, 2, 3, 4, 'five']

In [3]:
# from the list below modify 5, goat and cow to five, elephant, and horse respectively
list4 = [2, 5, "goat","cow", "rat", "Ada", "Begger", 77]
list4[1:4]=["five", "elephant", "Horse"]
print(list4)

[2, 'five', 'elephant', 'Horse', 'rat', 'Ada', 'Begger', 77]

In [11]:
# Modify rat from the list below to rabbit
list5 = [2, 5, ["goat","cow", 'rat"'], "Ada", "Begger", 77]

list5[2][2]= "rabbit"
print(list5)

[2, 5, ['goat', 'cow', 'rabbit'], 'Ada', 'Begger', 77]

In [12]:
# Modify the Z and Y to M and N
list7 = [2,77,8,4,["A", "B", "C","D"], "Z", "Y", "X"]
list7[5:7]="M", "N"
print(list7)

[2, 77, 8, 4, ['A', 'B', 'C', 'D'], 'M', 'N', 'X']

In [ ]:
# Tuple is a immutable datatype
But elements can be added

In [16]:
tup1 = () # this is an empty tuple
tup2 =([1,2,3],5,"Olaitan", (8,7,9)) # tuple with different datatype
# from the tuple return 3 and as well as return 8
tup2[0][2]

[3]

In [18]:
tup2 =([1,2,3],5,"Olaitan", (8,7,9))
tup2[3][0]

8

In [20]:
tup3 = ("Ola", "James", "Smith")
y=tup2 + tup3
print(y)

([1, 2, 3], 5, 'Olaitan', (8, 7, 9), 'Ola', 'James', 'Smith')

# Set
it is not sequencial and it does not store a duplicate entry

In [23]:
set1 ={1,2,1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

# Dictionary
It has a key and value pair relationship

In [25]:
dict1 = {"name":"Olaitan","Age":12, "address":"New York"}

In [26]:
type(dict1)

dict

In [27]:
# Fetch out Olaitan from the dict above
dict1["name"]

'Olaitan'

In [28]:
dict1["Age"]

12

In [ ]:
# Note in dict1, name is a 'key' pointing to Olaitan likewise Age and Address. To fetch it out, call the key

In [1]:
dict1 = {"name":["Olaitan", "Sancho", "Ada", "james"],"Age":[12,34,56,23], "address":["New York", "Olowera", "Lekki", "Begger"]}

In [2]:
# Return all the address from the dicts above
dict1["address"]

['New York', 'Olowera', 'Lekki', 'Begger']

In [3]:
# Return OLowera from the dicts above
dict1["address"][1]

'Olowera'

In [41]:
dict1 = {"name":["Olaitan", "Sancho", "Ada", "james"],"Age":[12,34,56,23], "address":["New York", "Olowera", "Lekki", "Begger"]}

# Return Olaitan from the dicts above

dict1["name"][0]

'Olaitan'

In [43]:
# updating existing dictionary

dict1["salary"]= [2500,3500,6000,8000]
print(dict1)

{'name': ['Olaitan', 'Sancho', 'Ada', 'james'], 'Age': [12, 34, 56, 23], 'address': ['New York', 'Olowera', 'Lekki', 'Begger'], 'salary': [2500, 3500, 6000, 8000]}

In [44]:
# To remove a key
dict1.pop("name") 
print(dict1)

{'Age': [12, 34, 56, 23], 'address': ['New York', 'Olowera', 'Lekki', 'Begger'], 'salary': [2500, 3500, 6000, 8000]}

In [46]:
# To remove an element of a key
dict1["address"].pop(2)

'Lekki'

# CLASS EXERCISE

In [ ]:
Create a Dictionary of list
*fruit as key with the following values(apple,banana, orange)
*colour as key wih the following values(red,yellow, orange)
*number as key with the following values (1,2,3,4,5)
*cities as key with the following values ("New York", "California", "New Jersey")

In [4]:
dict4 ={'fruit': ["apple","banana","orange"],'colour': ["red","yellow", "orange"],'number': [1,2,3,4,5], 'cities': ["New York","California", "New Jersey"]}

In [5]:
# Access the second element in the "fruits" list
dict4["fruit"][1]

'banana'

In [6]:
# Retrieve the list of 'colour' from the dictionary
dict4["colour"]

['red', 'yellow', 'orange']

In [7]:
# Get the last number from the 'numbers' list
dict4["number"][4]

5

In [8]:
# Access the third city from the "cities" list
dict4["cities"][2]

'New Jersey'

In [9]:
# Change the first element in the "fruits" list to grape
dict4["fruit"][0]= "grape"
print(dict4)

{'fruit': ['grape', 'banana', 'orange'], 'colour': ['red', 'yellow', 'orange'], 'number': [1, 2, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [10]:
# Add a new colour "green" to the list of colours
dict4["colour"].append("green")
print(dict4)

{'fruit': ['grape', 'banana', 'orange'], 'colour': ['red', 'yellow', 'orange', 'green'], 'number': [1, 2, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [121]:
# Remove the second element from the "numbers" list
dict4["number"].pop(1)
print(dict4)

{'fruit': ['grape', 'banana', 'orange'], 'colour': ['red', 'yellow', 'orange', 'green'], 'number': [1, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [122]:
# Check if the key 'animal' is present in the dictionary
dict4[animal]
print(dict4)

NameError: name 'animal' is not defined

In [123]:
# Print all keys in the dictionary
dict4["fruit"],["colour"], ["number"], ["cities"]
print(dict4)

{'fruit': ['grape', 'banana', 'orange'], 'colour': ['red', 'yellow', 'orange', 'green'], 'number': [1, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [124]:
# Slice the "fruits" list to get the elements from index 1 to 2
dict4["fruit"][1:3]

['banana', 'orange']

In [125]:
# Extend the "fruits" list by adding ["grape", "watermelon"] to it
dict4["fruit"].extend(["grape","watermelon"])
print(dict4)

{'fruit': ['grape', 'banana', 'orange', 'grape', 'watermelon'], 'colour': ['red', 'yellow', 'orange', 'green'], 'number': [1, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [126]:
# Check the length of the "cities" list
cities_length =len(dict4["cities"])
print(cities_length)

3

In [127]:
# Check the length of the "number" list

number_length =len(dict4["number"])
print(number_length)

4

In [128]:
# Remove the 'colour' key and its associated list from the dictionary
dict4.pop("colour")
print(dict4)

{'fruit': ['grape', 'banana', 'orange', 'grape', 'watermelon'], 'number': [1, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey']}

In [129]:
# Create a new key 'animals' and assign it a list containing ["lion","elephant","Zebra"]
dict4["animals"] = ["lion","elephant","Zebra"]
print(dict4)

{'fruit': ['grape', 'banana', 'orange', 'grape', 'watermelon'], 'number': [1, 3, 4, 5], 'cities': ['New York', 'California', 'New Jersey'], 'animals': ['lion', 'elephant', 'Zebra']}

In [130]:
# Reverse the order of elements in the "numbers" list
dict4["number"].reverse()
print(dict4)

{'fruit': ['grape', 'banana', 'orange', 'grape', 'watermelon'], 'number': [5, 4, 3, 1], 'cities': ['New York', 'California', 'New Jersey'], 'animals': ['lion', 'elephant', 'Zebra']}

#### Control Flow in Python refers to order at which python code is been execute

1. Conditional statement
a. If
b. elif
c. else

2. Loop Statement
a. for
b. while


3. Loop control statement
a. break
b. continue

4. Error handling statement
a. try
b. except
c. finally

In [1]:
# If 
day = 25
if day == 25:
    print("merry christmas")

merry christmas

In [2]:
day = 2
if day == 25:
    print("merry christmas")
    
else:
    print("we need to wait til 25th of the month")

we need to wait til 25th of the month

In [4]:

day = 25
gender = "male"
if (day == 25) and (gender == "female"):
    print("Merry Christmas miss lagbaja")
    
elif (day == 25) and (gender == "male"):
    print("Merry Christmas Mr lagbaja")
    
elif (day <25) and (gender == "male"):
    print("Mr lagbaja, you may have to wait til 25th of the month")
    
elif (day <25) and (gender == "female"):
    print("Miss lagbaja, you may have to wait til 25th of the month")
else: 
    print("I need more data")

Merry Christmas Mr lagbaja

In [3]:
day = 25
gender = "male"
if (day == 25) and (gender == "female"):
    print("Merry Christmas miss lagbaja")
if (day == 25) and (gender == "male"):
    print("Merry Christmas Mr lagbaja")
    
if (day <25) and (gender == "male"):
    print("Mr lagbaja, you may have to wait til 25th of the month")
    
if (day <25) and (gender == "female"):
    print("Miss lagbaja, you may have to wait til 25th of the month")
else: 
    print("I need more data")

Merry Christmas Mr lagbaja
I need more data

In [ ]:
# note: If works as a single entity while the elif works as a paragraph. it sees the command as being in a single paragraph

In [1]:
age = int(input("please enter your age"))
if (age >= 18):
    print("You are an adult")
else:
    print("You are a minor")

please enter your age14
You are a minor

In [5]:
num =int(input("insert a number"))
if (num == 0):
    print("zero")
elif (num > 0):
    print("positive")
else:
    print("negative")

insert a number6
positive

In [12]:

exam_score = int(input("Please enter your exam score"))
if (exam_score > 90):
    print("A")
elif (exam_score > 80) and (exam_score <90):
    print("B")
    
elif (exam_score > 70) and (exam_score  <80):
    print("C")
elif (exam_score >60) and (exam_score  <70):
    print("D")
else: 
    print("f")

Please enter your exam score40
f

In [11]:
# Nested If
# Ensure each of the if has their own else and it will under it

In [9]:
age = int(input("please enter your age to continue"))

if age >=18:
    pvc = input("Do you have pvc?").upper()
    if pvc=="YES":
        pvc_year_no= int(input("enter the year number on your pvc"))
        if pvc_year_no <2010:
            print("Pvc expired, please visit the nearest office to redo")
        else:
            print("please enter inside to cast your vote")
    else:
        print("Oh, why, even though you are more than 18?. Please go and register for pvc")
else: 
    print("come back when you are 18")

please enter your age to continue34
Do you have pvc?yes
enter the year number on your pvc2020
please enter inside to cast your vote

In [23]:
# For 
name = "olaitan"
for char in name:
    print(char)

o
l
a
i
t
a
n

In [29]:
all_names = ["olaitan", "James", "smith","Ada","Ade", "Lukma", "Richael", "Moji", "Kazeem"]
name_with_less_char = []
name_with_more_char = []
print(name_with_less_char)

[]

In [32]:
print(name_with_more_char)

[]

In [33]:
for name in all_names:
    if len(name)>5:
        name_with_more_char.append(name)
    else:
        name_with_less_char.append(name)

In [34]:
print( name_with_less_char)

['James', 'smith', 'Ada', 'Ade', 'Lukma', 'Moji', 'James', 'smith', 'Ada', 'Ade', 'Lukma', 'Moji']

In [40]:
print( name_with_more_char)

['olaitan', 'Richael', 'Kazeem']

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [23]:
for i in range(1,10,3):
    print(i)

1
4
7

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
range(start,stop,step)
starting = index no
stop = position no
step = the difference i.e adding 1 to the diff

In [39]:
for i in range(0, 20, 3):
    print(i)

0
3
6
9
12
15
18

In [20]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [25]:
ages = range(1,21)
odd_age =[]
even_age = []
print(odd_age)

[]

In [26]:
for age in ages:
    print(age)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [27]:
for age in ages:
    if age%2 == 0:
        even_age.append(age)
    else:
        odd_age.append(age)

In [28]:
even_age

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
odd_age

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [71]:
# while

a= 5
while a<=10:
    print(f" we are inside while loop {a}")
    a+=1

 we are inside while loop 5
 we are inside while loop 6
 we are inside while loop 7
 we are inside while loop 8
 we are inside while loop 9
 we are inside while loop 10

In [1]:
count = 0
while count < 5:
    print("count is:",count)
    count += 1

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4

In [ ]:
#ramdom.seed() will make any number generated to be constant

In [2]:
import random
random.seed(42)
secret_number = random.randint(1,100)

In [31]:
secret_number

82

In [3]:
while True:
    guess_num =int(input("guess any number to win xmas chicken"))
    if guess_num==secret_number:
        print("Congratulation, you just won yourself a Nigeria chicken")
        break
    else:
        print("try again next December")

guess any number to win xmas chicken20
try again next December
guess any number to win xmas chicken56
try again next December
guess any number to win xmas chicken82
Congratulation, you just won yourself a Nigeria chicken

In [ ]:
# TO add limit the number of trial, use counter

In [33]:
counter =1
while True:
    if counter<=3:
        guess_num =int(input("guess any number to win xmas chicken"))
        if guess_num==secret_number:
                print("Congratulation, you just won yourself a Nigeria chicken")
                break
    else:
        print("try again some othertime")
        break
    counter+=1

guess any number to win xmas chicken67
guess any number to win xmas chicken667
guess any number to win xmas chicken78
try again some othertime

In [9]:
 counter =1
while True:
    guess_num =int(input("guess any number to win xmas chicken"))
    if guess_num==secret_number:
                print("Congratulation, you just won yourself a Nigeria chicken")
                break
    elif guess_num>secret_number:
                print("the guess is greater than the secret number")
    elif guess_num<secret_number:
                print("the guess number is less than the secret number")

guess any number to win xmas chicken66
the guess number is less than the secret number
guess any number to win xmas chicken90
the guess is greater than the secret number
guess any number to win xmas chicken84
the guess is greater than the secret number
guess any number to win xmas chicken82
Congratulation, you just won yourself a Nigeria chicken

# try & except:
    
# It is used together to catch the error. If there is no error, the except won't work

In [24]:
try:
    while True:
        guess_num =(input("guess any number to win xmas chicken"))
        if guess_num==secret_number:
            print("Congratulation, you just won yourself a Nigeria chicken")
            break
        elif guess_num>secret_number:
            print("the guess is greater than the secret number")
        elif guess_num<secret_number:
            print("the guess number is less than the secret number")
except:
    print("please  check your try block to fix the error")
    
print("we are trying our best")

guess any number to win xmas chicken55
please  check your try block to fix the error
we are trying our best

In [23]:
try:
    while True:
        guess_num =(input("guess any number to win xmas chicken"))
        if guess_num==secret_number:
            print("Congratulation, you just won yourself a Nigeria chicken")
            break
        elif guess_num>secret_number:
            print("the guess is greater than the secret number")
        elif guess_num<secret_number:
            print("the guess number is less than the secret number")
except:
    print("please  check your try block to fix the error")
    
finally:
    print("we are trying our best")

guess any number to win xmas chicken55
please  check your try block to fix the error
we are trying our best

# Finally is used when connecting SQL and Python and it will run whether there is error or not.
## NB: even the closing code of the database will be inside the finally command

# Continue

In [18]:
all_names = ["olaitan", "Ken", "Ayo", "James", "smith","Ada","Ade", "Lukma", "Richael", "Moji", "Kazeem"]
name_with_less_char = []
name_with_more_char = []

for name in all_names:
    if len(name)==3:
        continue
    if len(name)>5:
        name_with_more_char.append(name)
    else:
         name_with_less_char.append(name)

In [19]:
name_with_less_char

['James', 'smith', 'Lukma', 'Moji']

In [20]:
name_with_more_char

['olaitan', 'Richael', 'Kazeem']

# Function is a group of python synthax under a specific name use to perform a specific task
TYPES:
1. User defined function eg: (DRY(don't repeat yourself)
2. Python defined function
important stages-- creating and calling of function stage

In [25]:
# Creating non parameters function

def greeting():
    print("welcome to LASOP")

In [26]:
greeting()

welcome to LASOP

In [27]:
# Creating a parameter function

def add_two_number(t,o):
    total = t + o
    return total

In [28]:
add_two_number(26,40)

66

In [94]:
def olaitan():
    counter =1
    while True:
        if counter<=3:
            guess_num =int(input("guess any number to win xmas chicken"))
        if guess_num==secret_number:
            print("Congratulation, you just won yourself a Nigeria chicken")
            break
    else:
        print("try again some othertime")
        break
    counter+=1

IndentationError: expected an indented block (2013907056.py, line 10)

In [54]:
type_of_food =input("What are you ordering today?")
if type_of_food=="rice":
    plate= int(input("How many plate of rice do you want?"))
    price=1000
    total = plate*price
    print(f"You are buying {total} Naira for this order")
          
elif type_of_food=="oha soup":
        plate= int(input("How many plate of ohara do you want?"))
        price=800
        total = plate*price
        print(f"You are buying {total} Naira for this order")
elif type_of_food=="swallow":
        plate= int(input("How many plate of swallow do you want?"))
        price=1200
        total = plate*price
        print(f"You are buying {total} Naira for this order")
else:
    print("out of stock")

What are you ordering today?rice
How many plate of rice do you want?5
You are buying 5000 Naira for this order

In [74]:
def  C_restaurant():
    type_of_food =input("What are you ordering today?")
if type_of_food=="rice":
    plate= int(input("How many plate of rice do you want?"))
    price=1000
    total = plate*price
    print(f"You are buying {total} Naira for this order")
          
elif type_of_food=="oha soup":
        plate= int(input("How many plate of ohara do you want?"))
        price=800
        total = plate*price
        print(f"You are buying {total} Naira for this order")
elif type_of_food=="swallow":
        plate= int(input("How many plate of swallow do you want?"))
        price=1200
        total = plate*price
        print(f"You are buying {total} Naira for this order")
else:
    print("out of stock")

How many plate of rice do you want?rice

ValueError: invalid literal for int() with base 10: 'rice'

In [90]:
def min_to_sec(min_):
    sec=min_*60
    return sec

In [93]:
min_to_sec(45)

2700

In [ ]:
# Note for parameter function, to run it, you need to provide the parameter defined

# OOP (object Oriented Program)
It is a practice that allows us to organize our code into classes and objects for easy retrieval and reuse.
A class is a group object

In [98]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age =age
        
    def greet(self):
        print(f"my name is {self.name} I am {self.age} years old, I hereby welcome you all")
        
    def nation(self):
        print("I am from Nigeria")

In [99]:
# create first object from the class above
first_person = Human("olaitan", 12)

In [100]:
# first_person greet person
first_person.greet()

my name is olaitan I am 12 years old, I hereby welcome you all

In [112]:
class Car:
    def __init__(self, maker, model, year):
        self.maker = maker
        self.model = model
        self.year = year
        self.engine = False
        self.speed = 0
        
    def start_engine(self):
        if self.engine == False:
            print(f"the {self.maker} {self.model}{self.year} engine started!!!")
            self.engine= True
        else:
            print(f"the {self.maker} {self.model} {self.year} engine already on start mode!!!")
            
    def off_engine(self):
        if self.engine==True:
            print(f"the {self.maker} {self.model}{self.year} engine is off!!!")
            self.engine= False
        else:
             print(f"the {self.maker} {self.model}{self.year} engine is already on off mode!!!")
                
    def accelerate(self, speed):
        if self.engine==True:
            self.speed+=speed
            print(f"the {self.maker} {self.model}{self.year} is {self.speed} km/h")
            if self.speed>80:
                print("You may need to slow down a bit")
        else:
            print("please start the engine first!!!")
            
    def brake(self, brake):
        if self.speed>0:
            self.speed=brake
            print(f"the {self.maker} {self.model}{self.year} decelerated to {self.speed}")
            
    def current_speed(self):
        print(f"the current speed of {self.maker} {self.model}{self.year} {self.speed} km/h")

In [113]:
first_car = Car("Toyota","Camry", "2012")

In [116]:
first_car.start_engine()

the Toyota Camry2012 engine started!!!

In [117]:
first_car.off_engine()

the Toyota Camry2012 engine is off!!!

In [ ]:
class Human:
    def __init__(self, name, age,salary):
        self.name = name
        self.age =age
        self.salary =salary
        
    def greet(self):
        print(f"my name is {self.name} I am {self.age} years old, I earn {self.salary}")