# Programming Paradigm
## Linear Programming
## Structual/Controls Programming
## Object Orientated Programming

# Linear Programming

In [63]:
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")
print("Pakistan Zinda Bad!")

Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!
Pakistan Zinda Bad!

# Structual Programming

In [64]:
for num in range(1,11):
    print("Pakistan Zinda bad!")
    print("\tSaylani Mass IT Traning")

Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning
Pakistan Zinda bad!
	Saylani Mass IT Traning

# Controls
* If
  * Else
  * Elif
* For/While
  * Break
  * continue
  * pass
  * else
* def
* try
  * except
  * else
  * finally
* class

https://flexiple.com/python/python-reserved-words/

# if
* else
* elif
```
if logic:
   True _block_body
else:
   false_block_body```

if logic:
   True _block_body
else:
   false_block_body```

# comprehensive Style

```True_block_body if True/False else False_block_body```

In [65]:
print("Pakistan!")

print("America")

Pakistan!
America

In [66]:
if True:
    print("Pakistan")
else:
    print("America")

Pakistan

In [67]:
if False:
    print("Pakistan")
else:
    print("America")

America

In [68]:
num= int(input("enter any number:"))
print(num, type(num))

enter any number:8
8 <class 'int'>

In [69]:
num= int(input("enter any number:"))
print(num, type(num))

print(num % 2)
print(num % 2 == 0)

enter any number:8
8 <class 'int'>
0
True

In [77]:
num= int(input("enter any number:"))

if num % 2 == 0:
    print(f"the {num} is Even")
else:
    print(f"the {num} is odd")

enter any number:8
the 8 is Even

In [71]:
num= int(input("enter any number:"))

if num % 2 == 0:
    print(f"the {num} is Even")
else:
    print(f"the {num} is odd")

enter any number:8
the 8 is Even

In [78]:
per = int(input("Enter your percentage: "))

if per >= 80:95
    
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("c")
elif per >= 40:
    print("d")
elif per >= 33:
    print("E")
else:
    print("Fail")
    
print("Pakistan ZInda bad")

IndentationError: unexpected indent (435121980.py, line 5)

In [82]:
per = 66 

if False:
    print("A+")
elif False:
    print("A")
elif True:
    print("B")
elif 66>=50:
    print("C")
elif 66>=40:
    print("D")
elif 66>=33:
    print("E")
else:
    print("fail")

B

In [83]:
per = int(input("Enter your percentage: "))

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")
elif per >= 90:
    print("A++")

Enter your percentage: 95
Fail

In [84]:
True and True and True

True

In [85]:
True and False and True

False

In [86]:
per = int(input("Enter your percentage: "))

if per >= 0 and per < 33 :
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per < 60:
    print("A+")
elif per >= 90 and per < 100:
    print("A++")

Enter your percentage: 95
A++

In [87]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

if user_name == "Admin" and password == "Admin":
    print("Valid User")
else:
    print("Invalid user")

Enter User name: Admin
Enter your password: Admin
Valid User

In [88]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

if user_name == "Admin" and password == "Admin":
    print("Valid User")
else:
    print("Invalid user")

Enter User name: Admin
Enter your password: Admin
Valid User

In [89]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

if user_name == "Admin"  or user_name == "admin" and password == "Admin":
    print("Valid User")
else:
    print("Invalid user")

Enter User name: admin
Enter your password: Admin
Valid User

In [90]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

if user_name.lower() == "admin" and password == "Admin":
    print("Valid User")
else:
    print("Invalid user")

Enter User name: Admin
Enter your password: Admin
Valid User

In [91]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

print("Valid User") if user_name.lower() == "admin" and password == "Admin" else print("Invalid User")

Enter User name: admin
Enter your password: Admin
Valid User

In [92]:
user_name = input("Enter User name: ")
password = input("Enter your password: ")

if user_name.lower() == "admin":
    if password == "Admin":
        print("Valid User")
    else:
        print("Invalid user")

Enter User name: Admin
Enter your password: Admin
Valid User

# Loop

In [93]:
abc = "Pakistan"

for c in abc:
    print(c)

P
a
k
i
s
t
a
n

In [94]:
for i in ['a','b','c','d',1,2,3, 'abc', 'xyz']:
    print(i)

a
b
c
d
1
2
3
abc
xyz

In [95]:
list(enumerate(['a','b','c','d',1,2,3, 'abc', 'xyz']))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 1),
 (5, 2),
 (6, 3),
 (7, 'abc'),
 (8, 'xyz')]

In [96]:
for index, value in enumerate(['abc', 'def','ghi', 'mehmood']):
    print(value, index)

abc 0
def 1
ghi 2
mehmood 3

In [97]:
list("Pakistan")

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

# ASCII
* 0-9= 48-57
* A-Z= 65-90
* a-z = 97-122

# Dealing With ASCII
* ord
* chr

In [98]:
print(ord("A"))
print(ord("a"))
print(ord("0"))

65
97
48

In [99]:
print(chr(65))
print(chr(97))
print(chr(48))

A
a
0

In [100]:
for i in range(65,90):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [101]:
[chr(i)for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [103]:
[chr(i)for i in range(65,91)] +
[chr(i) for i in range(97,123)] +
[chr(i) for i in range(48,58)]

SyntaxError: invalid syntax (691210766.py, line 1)

In [104]:
[chr(i)for i in range(65,91)] +\
[chr(i) for i in range(97,123)] +\
[chr(i) for i in range(48,58)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [105]:
[i for i in range(65,91)]

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [106]:
[i for i in range(65,91) if i % 2 == 0]

[66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

In [107]:
[chr(i) for i in range(65,91) if i % 2 == 0]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [108]:
[chr(i) for i in range(65,91) if i % 2 != 0]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

# Loop Controls

In [109]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [110]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [111]:
data = [{'id' :1, 'name': 'Mehmood'},
       {'id' :2, 'name': 'Umar'},
       {'id' :3, 'name': 'Hunain'},]
for recod in data:
    card = """
    Saylani Mass IT Training
    Roll: {id}
    Name: {name}
    """.format_map(recod)
    print(card)

    Saylani Mass IT Training
    Roll: 1
    Name: Mehmood


    Saylani Mass IT Training
    Roll: 2
    Name: Umar


    Saylani Mass IT Training
    Roll: 3
    Name: Hunain

In [112]:
data = [{'id' :1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'},
       {'id' :2, 'name': 'Umar','u':'Asif','p':'abc123'},
       {'id' :3, 'name': 'Hunain','u':'Hamza','p':'123xyz'}]

user = input("Enter User name")
pas = input("password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break

Enter User nameMood
password279
{'id': 1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'}

In [113]:
data = [{'id' :1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'},
       {'id' :2, 'name': 'Umar','u':'Asif','p':'abc123'},
       {'id' :3, 'name': 'Hunain','u':'Hamza','p':'123xyz'}]

user = input("Enter User name")
pas = input("password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
    else:
        print("Invalid user or Password")

Enter User namemood
password279
Invalid user or Password
Invalid user or Password
Invalid user or Password

In [114]:
data = [{'id' :1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'},
       {'id' :2, 'name': 'Umar','u':'Asif','p':'abc123'},
       {'id' :3, 'name': 'Hunain','u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
    else:
        print("Invalid User or Password")

Enter user NameAsif
Passwordabc123
Invalid User or Password
{'id': 2, 'name': 'Umar', 'u': 'Asif', 'p': 'abc123'}

In [115]:
data = [{'id' :1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'},
       {'id' :2, 'name': 'Umar','u':'Asif','p':'abc123'},
       {'id' :3, 'name': 'Hunain','u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
else:
    print("Invalid User or Password")

Enter user NameAsif
Passwordabc123
{'id': 2, 'name': 'Umar', 'u': 'Asif', 'p': 'abc123'}

In [117]:
data = [{'id' :1, 'name': 'Muhammad Mehmood', 'u': 'Mood', 'p': '279'},
       {'id' :2, 'name': 'Umar','u':'Asif','p':'abc123'},
       {'id' :3, 'name': 'Hunain','u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
        
print("Invalid User or Password")

Enter user NameAsif
Passwordabc123
{'id': 2, 'name': 'Umar', 'u': 'Asif', 'p': 'abc123'}
Invalid User or Password

In [120]:
for i in range(1,11):
    if i ==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [121]:
for i in range(1,1000):
    pass

In [122]:
for i in range(1,1000):
    pass

In [123]:
if True:
    pass
else:
    pass

# While
* Counter
* Logic
* Loop Body
* increment/decrement

In [126]:
counter = 0

while counter <=10:
    print(counter,'line')
    counter += 1

0 line
1 line
2 line
3 line
4 line
5 line
6 line
7 line
8 line
9 line
10 line

In [129]:
counter = 100
while counter >=90:
    print(counter,'line')
    counter -=1

100 line
99 line
98 line
97 line
96 line
95 line
94 line
93 line
92 line
91 line
90 line

In [130]:
counter = 2023
while counter >=1910:
    print(counter, 'Year')
    counter -=1

2023 Year
2022 Year
2021 Year
2020 Year
2019 Year
2018 Year
2017 Year
2016 Year
2015 Year
2014 Year
2013 Year
2012 Year
2011 Year
2010 Year
2009 Year
2008 Year
2007 Year
2006 Year
2005 Year
2004 Year
2003 Year
2002 Year
2001 Year
2000 Year
1999 Year
1998 Year
1997 Year
1996 Year
1995 Year
1994 Year
1993 Year
1992 Year
1991 Year
1990 Year
1989 Year
1988 Year
1987 Year
1986 Year
1985 Year
1984 Year
1983 Year
1982 Year
1981 Year
1980 Year
1979 Year
1978 Year
1977 Year
1976 Year
1975 Year
1974 Year
1973 Year
1972 Year
1971 Year
1970 Year
1969 Year
1968 Year
1967 Year
1966 Year
1965 Year
1964 Year
1963 Year
1962 Year
1961 Year
1960 Year
1959 Year
1958 Year
1957 Year
1956 Year
1955 Year
1954 Year
1953 Year
1952 Year
1951 Year
1950 Year
1949 Year
1948 Year
1947 Year
1946 Year
1945 Year
1944 Year
1943 Year
1942 Year
1941 Year
1940 Year
1939 Year
1938 Year
1937 Year
1936 Year
1935 Year
1934 Year
1933 Year
1932 Year
1931 Year
1930 Year
1929 Year
1928 Year
1927 Year
1926 Year
1925 Year
1924 Year
1923 Year
1922 Year
1921 Year
1920 Year
1919 Year
1918 Year
1917 Year
1916 Year
1915 Year
1914 Year
1913 Year
1912 Year
1911 Year
1910 Year