<a href="https://colab.research.google.com/github/Mercykiminza/AI/blob/main/PYTHON_CRASHCOURSE_149013_Mercy_Kiminza_ICS_3D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Tutorial

Print command

In [ ]:
print("Hello world. My first time here!")

Hello world. My first time here!

In [ ]:
print("My school is amazing")

My school is amazing

Python Syntax
Python syntax can be executed by writing directly in the Command Line or by creating a python file on the server, using the .py file extension, and running it in the Command Line

In [ ]:
print("Hello, World!")

Hello, World!

Python Identation
refers to the spaces at the beginning of a code line.
The indentation in Python is very important.
Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 9:
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-9-a314491c53bb>, line 2)

Python will give you an error if you skip the indentation as shown above.
You have to use the same number of spaces in the same block of code, otherwise Python will give you an error.

Python Variables

variables are created when you assign a value to it otherwise not yet.

In [ ]:
x = 5
y = "Hello, World!"

Comments

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment.

In [ ]:
#This is my first comment.
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will ignore the rest of the line.
A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")#This is a comment at the end of a line

Cheers, Mate!

Multiline comments

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line

In [ ]:
#This is a comment
#written in
#more than just one line
print("This is a multiline comment!")

This is a multiline comment!

**Python Variables Explained**

Variables are containers for storing data values.

Creating Variables

A variable is created the moment you first assign a value to it.Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Casting
Used to specify the data type of a variable.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

**Get the Type**
You can get the data type of a variable with the type() function.

In [ ]:
x = 5
z = '3'
y = "John"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

String variables can be declared either by using single or double quotes

Case Sensitive

Variable names are case sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(A)
print(a)

Sally
4

**Variable names**

Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Python Variables - Assign Multiple Values**

Python allows you to assign values to multiple variables in one line.
Note: Make sure the number of variables matches the number of values, or else you will get an error.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**Unpack a collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Python - Output Variables**

print() function is often used to output variables.
In the print() function, you can output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error.

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types.

**Global Variables**

Variables that are created outside of a function are known as global variables.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global keyword

To create a global variable inside a function, you can use the global keyword.

Python Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

You can get the data type of any object by using the type() function.

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

Quotes Inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**

strings in Python are arrays of bytes representing unicode characters.
Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[2+3])
a = "Hello, World!"
print(a[1])
a = "Hello, World!"
print(a[4+3])

,
e
W

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

To check if a certain phrase or character is present in a string, we can use the keyword **in** and **not in**

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
print("free" not in txt)

True
False

**String Concatenation**

o concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

**Format Strings**

In [ ]:
#age = 36
#txt = "My name is John, I am " + age
#print(txt) #Wrong method of combining strings and numbers

#Correct methods of combining strings and numbers using format() method
age = 36
txt = f"My name is John, I am {age}" # the "f" at the front of the string literal makes this possible. it is part of the format
print(txt)

My name is John, I am 36

**Placeholders and Modifiers**

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59 #price declared
txt = f"The price is {price} dollars" #format() used with f
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars" #:2f - to display the price with 2 dp
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations.

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
price = 59
txt = f"The price is {price*20} dollars" #:2f - to display the price with 2 dp
print(txt)

The price is 1180 dollars

**Escape Characters**

To insert characters that are illegal in a string, use an escape character.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes.
'\'

In [ ]:
#txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called \"Vikings\" from the north."

Code	Result
\'	Single Quote
\\	Backslash
\n	New Line
\r	Carriage Return
\t	Tab
\b	Backspace
\f	Form Feed
\ooo	Octal value
\xhh	Hex value

**String Methods**

**Booleans**

represent one of two values: True or False.

**Python Operators**

1. Arithmetic Operators
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

2. **Assignment Operators**

Operator	Example	Same As
=	, x = 5	 x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3

Comparison Operators

Operator	Name	Example
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y

Logical operators

Operator	Description	Example
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [ ]:
x = 5

print(x > 3 and x < 10)

True

**Lists**

Lists are used to store multiple items in a single variable.

Lists are created using square brackets

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList)

['apple', 'banana', 'cherry']

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist) #Duplicate value will be printed. Possible coz lists are odered
len(thislist) #Determine length of the list

['apple', 'banana', 'cherry', 'apple', 'cherry']

5

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1) # List can be of different data types

['abc', 34, True, 40, 'male']

**Python Tuples**

Tuples are used to store multiple items in a single variable.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**Loops**

**If...else**

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**else...if**

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**while loops**

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**For loops**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**Python Arrays**

In [ ]:
cars = ["Ford", "Volvo", "BMW"]