## Time to Play with the Interactive Shell
This is one alternative to using Jupyter Notebooks

1. Open a new terminal (mac) or command prompt (windows)
2. Type <b>python</b> and press enter
3. Type <b>exit()</b> to exit the REPL

![](images/REPL.png)

## Using the Interpreter [tips]

- Language shell is good for experimenting
    - For real programs, we use scripts and maybe an IDE
- Tips:
    - Modules and scripts can be imported (e.g. import pymongo)
    - Single line expressions and methods can be run
    - Multi line expressions can be entered (… implies more input)
    - Don’t forget the spaces for multi lines.
    - Jupyter and IDEs tend to take care of indentation for you

![](images/REPL_indentation.png)

- IDE have many advantages
    - Code completions (intellisense). Jupyter and IDEs tend to take care of indentation for you
    - Go to definition
    - Code navigation
    - Quick access to multiple files within a project
    - Don’t forget the spaces for multi lines.
    - Jupyter and IDEs tend to take care of indentation for you
- IDEs are not required
    - Can use a basic text editor
    - Can use full featured editors (e.g. Emacs, Sublime Text, etc.)

# Variables and Print Statements
Variables are used to store information to be referenced and manipulated in a computer program.

- Variable Notes
    - You do not declare the type
    - Variables are not strongly-typed (but types are)
    - Discover current type via <b>type()</b>
    - Compare values with var1 == var2

In [1]:
# This is a comment
# Comments are indicated with the # character

# Assign string "Jeff" to variable name
name = "Jeff"

# Print variable name
print( name )

Jeff

## Strings
- All strings in Python 3 are Unicode and immutable
- Can be defined with
    - Double quotes
    - Single quotes
- Have escape characters similar to C++ / C#
    - However, you can treat them as 'raw' strings with r prefix

In [6]:
# This is a one line comment

# Printing Strings
print('Hello World!')

Hello World!

In [8]:
# Strings can be enclosed by ',", or """
print("Hello World!")

Hello World!

In [9]:
# \ is used as a escape character. 
# There are many special escape sequences
# Notable are: \t (tab)
#             \n (new line)

In [14]:
myvariable = """Michael's dogs \n went to the bathroom"""
print(myvariable)

Michael's dogs
 went to the bathroom

In [11]:
print("The \t is a tab")

The 	 is a tab

In [2]:
# This is a raw string. Notice the output isn't spaced
r"""The \t is a tab. Michael went This is a raw string. Notice the output isn't spaced
"""

"The \\t is a tab. Michael went This is a raw string. Notice the output isn't spaced\n"

In [3]:
multipleLineStrings = """bands which have connected them with another, and to assume among the powers of the earth,
the separate and equal station to which the Laws of Nature and of Nature's God entitle them, a decent respect to the opinions of mankind requires that they should declare the causes which impel them to the separation.  We hold these truths to be
self-evident, that all men are created equal,
that they are endowed by their Creator with certain unalienable Rights,"""

In [4]:
# Using \ to not accidently close the string by having a closing "
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

In [5]:
# Multiple line string
text="""
bands which have connected them with another, and to assume among the powers of the earth,
the separate and equal station to which the Laws of Nature and of Nature's God entitle them, a decent respect to the opinions of mankind requires that they should declare the causes which impel them to the separation.  We hold these truths to be
self-evident, that all men are created equal,
that they are endowed by their Creator with certain unalienable Rights,"""

## String Methods
Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

Most IDE's Can Show You the Methods
type variable name,  . , and then tab to see your options. 

![](images/stringMethods.png)

In [ ]:
text.

In [6]:
## Looking up documentation
# Looking up the method lower
help(text.lower)

Help on built-in function lower:

lower(...)
    S.lower() -> string

    Return a copy of the string S converted to lowercase.

## String Manipulation

In [23]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'Hello World'
print(firstVariable)

Hello World

In [24]:
# Strings have various methods you can use to manipulate strings
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

### Split Method

In [25]:
help(firstVariable.split)

Help on built-in function split:

split(...)
    S.split([sep [,maxsplit]]) -> list of strings

    Return a list of the words in the string S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are removed
    from the result.

In [26]:
firstVariable.split(' ')

['Hello', 'World']

In [26]:
# Assign the split to the variable a
a=firstVariable.split(' ')
a

['Hello', 'World']

In [25]:
' '.join(a)

'Hello World'

In [30]:
# You can also add strings together. 
"Fizz" + "Buzz"

'FizzBuzz'

## Simple Math
There are four distinct numeric types: plain integers, long integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of plain integers.

In [7]:
# Addition, add two int together
1+1

2

In [8]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [9]:
130-2

128

In [10]:
# integer division
129/2

64

In [11]:
# Multiplication
print(2*3)

6

In [12]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**4 == (2 * 2 * 2 * 2)

True

In [15]:
# Is your answer different here? 
10 / 3

3

In [16]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
10%3

1

## Booleans

- The following are considered False
    - None
    - False
    - zero of any numeric type, for example, 0, 0L, 0.0, 0j
    - any empty sequence, for example, '', (), []
    - Any empty mapping, for example, {}
    - Instances of user-defined class, if the class defines a _nonzero_() or __len__() method, with returns False
- Everything else is True

## If Statements
- Check if something is True, if it is, do it. If it is not True (False), don't do it

Comparison Operator | Function
--- | --- 
< | less than
<= | less than or equal to
> | greater than
>= | greater than or equal to
== | equal
!= | not equal

In [37]:
# Notice you have to indent after you start a if statement. 
num = 3; 
x = 3
if num == 3: 
    print(num)

3

In [38]:
# Nothing is output because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

In [39]:
num = 3
if num % 3 == 0:
    print("Fizz")

Fizz

In [40]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [41]:
if True:
    print("This was True")

This was True

In [42]:
if False: 
    print("Nothing printed")

Logical Operator | Description
--- | ---
and | If both the operands are True then condition becomes True.
or | If any of the two operands are True then condition becomes True. 
not | Used to reverse the logical (not False becomes True, not True becomes False)

In [17]:
num = 4
num > 0 and num  < 15

True

In [18]:
# both the conditions are true, so the num will be printed out
if num > 0 and num  < 15:
    print(num)

4

In [19]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num  > 15

True

In [20]:
if num > 0 or num  > 15:
    print(num)

4

In [21]:
# or will only evaluate to False if both are False
if False or False:
    print('Nothing will print out')

In [22]:
num = 10
not num < 20

False

## else statement

Must be after an if or elif statement. There can be at most one else statement. Will only be executed if all the "if" and "elif" statements above it are False.

In [23]:
num = 1
if num > 3 :
    print("Hi")

In [24]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

In [25]:
num = 4
if num > 5:
    print('hi')
else:
    pass

In [26]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

## Mini Task


1. Assign a variable <b>num</b> to an integer value.
2. Write an if else combination that will print "Your integer is even" if the integer is even. Otherwise, print "Your integer is odd".

In [27]:
num = 3
if num % 2 == 0:
    print("Your integer is even")
else: 
    print("Your integer is odd")

Your integer is odd

## elif statement

Must be after an if statement. elif statement statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.

Similar to the else, the elif statement is optional. However, unlike else, for which there can be at most one statement, there can be an arbitrary number of elif statements following an if.

In [28]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

num = 21

In [29]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

## Pass Statement
- Sometimes you want an empty block
    - Maybe you commented out some code
    - Maybe you are sketching out some structure
- The pass keyword keeps things running

In [40]:
# Doesnt Break
if True: 
    pass

In [41]:
# Error!
if True:

IndentationError: expected an indented block (<ipython-input-41-b2bce37eddef>, line 3)

## Exercise Time
### See Exercise 1) in Exercises_Session_1_2.ipynb

# For Loops

- For loops in python fundamentally work on iterable sets
- Many types are iterable
    - lists, sets, dictionaries, strings, files, classes

In [38]:
myName = "Michael"
for x in myName:
    print(x)

M
i
c
h
a
e
l

- For loops *can* use an index
    - Uses range function
    - But it's less Pythonic
    - range was considered harmful in Python 2.7 (its not in 3)

In [37]:
myName = "Michael"
for i in range(len(myName) ):
    print(myName[i])

M
i
c
h
a
e
l

In [39]:
%%time
## %%time is a magic command that says how long a cell takes to execute

for x in range(0, 10000000):
    continue

CPU times: user 699 ms, sys: 91 ms, total: 790 ms
Wall time: 793 ms

## While Loops
While loops run until a condition becomes False

In [42]:
num1 = 1
num2 = 2

while num1 < 100:
    num1 = num1 * num2
    print(num1)

2
4
8
16
32
64
128

## Lists

 |  |  |  |
--- | --- | --- | --- | ---
z =| [3, | 7, | 4, | 2]
index | 0 | 1 | 2 | 3

In [46]:
# Define a list
z = [3, 7, 4, 2]

### Accessing Values in Lists

In [47]:
# The first element of a list is at index 0
z[0]

3

In [48]:
z[2]

4

In [49]:
# Access Last Element of List 
z[-2]

4

### Slicing Lists

In [50]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [51]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [52]:
# index 1 to end of list
z[1:]

[7, 4, 2]

### Common Functions associated with Lists

In [53]:
print(min(z), max(z), len(z), sum(z))

(2, 7, 4, 16)

### Count the Number of Times a Value Occurs in a List

In [55]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Return First Index of Value
 |  |  |  |  |  |
--- | --- | --- | --- | --- | --- | ---
random_list =| [4, | 1, | 5, | 4, | 10, | 4]
index=| 0 | 1 | 2 | 3 | 4 | 5

In [56]:
random_list.index(4)

0

In [57]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [58]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

### Sort a List

In [60]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [61]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [62]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [ ]:
http://localhost:8888/notebooks/Exercises/Python3Basics_Part1.ipynb

In [4]:
dataScienceSkills = ['Python', 'R', 'SQL', 'Tableau', 'Adobe Connect']

dataEngineerSkills = ['Python', 'Java', 'C++', 'Golang']

In [5]:
dataScienceSkills[1:] + dataEngineerSkills

['R', 'SQL', 'Tableau', 'Adobe Connect', 'Python', 'Java', 'C++', 'Golang']

In [6]:
michaelSkills = ['Python']

In [7]:
# Only add skills to michaelSkills
for skill in dataScienceSkills:
    if skill in michaelSkills:
        continue
    
    michaelSkills.append(skill)

In [8]:
michaelSkills

['Python', 'R', 'SQL', 'Tableau', 'Adobe Connect']

## Mini Task

Write a program to generate and print all prime numbers less than 20.
Before starting it is important to note what a prime number is.
1. A prime number has to be a positive integer
2. Divisible by exactly 2 integers (1 and itself)
3. 1 is not a prime number

In [45]:
## Can you do more efficient solution?
for potentialPrime in range(2, 21):
    # Assume number is prime until shown it is not
    isPrime = True
    for div in range(2, potentialPrime):
        if (potentialPrime % div) == 0:
            isPrime = False
            break
    
    if isPrime: 
        print(potentialPrime)

2
3
5
7
11
13
17
19

## Lists
Lists are written in square brackets

![](day1_Lecture_images/Slide078.png)

![](day1_Lecture_images/Slide079.png)

![](day1_Lecture_images/Slide080.png)

![](day1_Lecture_images/Slide081.png)

![](day1_Lecture_images/Slide082.png)

![](day1_Lecture_images/Slide083.png)

![](day1_Lecture_images/Slide084.png)

In [6]:
skillSet = set()
thingsIdontKnow = set()

In [7]:
skillSet.add('Python')
thingsIdontKnow.add('Adobe Connect')

In [8]:
skillSet.add(1)
thingsIdontKnow.add('How to cook')

In [9]:
skillSet

{1, 'Python'}

In [194]:
thingsIdontKnow

{'Adobe Connect', 'How to cook'}

In [188]:
# cant add something mutable like a list
skillSet.add(['waffle', 'chicken'])

TypeError: unhashable type: 'list'

In [195]:
skillSet.add(thingsIdontKnow)

TypeError: unhashable type: 'set'

In [196]:
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS']) 
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [197]:
dataScientist.intersection(dataEngineer)

{'Git', 'Python', 'SQL'}

In [198]:
dataScientist.difference(dataEngineer)

{'R', 'SAS', 'Tableau'}

* strings are immutable
* lists are mutable
* sets are mutable

In [176]:
# Remove duplcate from List
print(list(set([1, 2, 3, 1, 7])))

[1, 2, 3, 7]

In [12]:
# List comprehension
def remove_duplicates(original):
    unique = []
    [unique.append(n) for n in original if n not in unique]
    return(unique)
print(remove_duplicates([1, 2, 3, 1, 7]))

[1, 2, 3, 7]

# Show sets remove duplicates better than Lists (but dont preserve order)

In [13]:
import timeit

# Approach 1: Execution time 
print(timeit.timeit('list(set([1, 2, 3, 1, 7]))', number=10000))

# Approach 2: Execution time
print(timeit.timeit('remove_duplicates([1, 2, 3, 1, 7])', globals=globals(), number=10000))

0.005944702999840956
0.009575630001563695

While we don't have massive amounts of time to go over sets, we can go over it more in detail [here](https://towardsdatascience.com/python-sets-and-set-theory-2ace093d1607)

## Dictionaries

![](day1_Lecture_images/Slide085.png)

In [14]:
myList = list(range(0, 30))

In [222]:
d = {'Monday': 1,
     'Tuesday': 2,
     'Wednesday': 3,
     'Thursday': 4, 
     'Friday': 5,
     'Saturday': 6, 
     'Sunday': 7}

# Word Count
1. String Manipulation: Remove Punctuation, make all text lower()
2. String Manipulation: Split each word into a element in a list
3. Count how many times each word occurs in a list using a dictionary

In [304]:
import re
re.sub(',|;|\.', repl = '', string = text)

'Mr Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane but as he took up his abode with the Lucases his arrival was no great inconvenience to Mrs Bennet His marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she wished they might be happy Thursday was to be the wedding day and on Wednesday Miss Lucas paid her farewell visit and when she rose to take leave Elizabeth ashamed of her mothers ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room As they went downstairs together Charlotte said'

In [317]:
# Multiple line string
text="""Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane; but as he took up his abode with the Lucases, his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching, and she was at length so far resigned as to think it inevitable, and even repeatedly to say, in an ill-natured tone, that she “wished they might be happy.” Thursday was to be the wedding day, and on Wednesday Miss Lucas paid her farewell visit; and when she rose to take leave, Elizabeth, ashamed of her mother's ungracious and reluctant good wishes, and sincerely affected herself, accompanied her out of the room. As they went downstairs together, Charlotte said:"""

In [307]:
strText = """Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane; but as he took up his abode with the Lucases, his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching, and she was at length so far resigned as to think it inevitable, and even repeatedly to say, in an ill-natured tone, that she “wished they might be happy.” Thursday was to be the wedding day, and on Wednesday Miss Lucas paid her farewell visit; and when she rose to take leave, Elizabeth, ashamed of her mother's ungracious and reluctant good wishes, and sincerely affected herself, accompanied her out of the room. As they went downstairs together, Charlotte said:"""
 
strText = strText.replace(".","").replace(",","").replace(":","").replace("“","").replace("”","").replace(";","")
 
strText = strText.lower()

In [308]:
strText

"mr collins returned into hertfordshire soon after it had been quitted by the gardiners and jane but as he took up his abode with the lucases his arrival was no great inconvenience to mrs bennet his marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she wished they might be happy thursday was to be the wedding day and on wednesday miss lucas paid her farewell visit and when she rose to take leave elizabeth ashamed of her mother's ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room as they went downstairs together charlotte said"

In [313]:
# get all unique words
setWords =set(strText.split(" "))
# setWords

In [315]:
setWords =set(strText.split(" "))
lstWords = list(strText.split(" "))
 
dictWord = dict()
 
for word in setWords:
    dictWord.update({word : lstWords.count(word)})
    
dictWord.get("the")

4

In [316]:
dictWord

{'mr': 1,
 'paid': 1,
 'wishes': 1,
 'room': 1,
 'the': 4,
 'sincerely': 1,
 'returned': 1,
 'charlotte': 1,
 'abode': 1,
 'good': 1,
 'of': 2,
 'repeatedly': 1,
 'they': 2,
 'been': 1,
 'reluctant': 1,
 'after': 1,
 'hertfordshire': 1,
 'on': 1,
 'approaching': 1,
 'no': 1,
 'rose': 1,
 'elizabeth': 1,
 'thursday': 1,
 'her': 3,
 'tone': 1,
 'happy': 1,
 'at': 1,
 'jane': 1,
 'but': 1,
 'affected': 1,
 'mrs': 1,
 'and': 7,
 'fast': 1,
 'resigned': 1,
 'it': 2,
 'lucases': 1,
 'up': 1,
 'that': 1,
 'ashamed': 1,
 'downstairs': 1,
 'take': 1,
 'was': 4,
 'day': 1,
 'his': 3,
 'said': 1,
 'accompanied': 1,
 'even': 1,
 'ungracious': 1,
 'soon': 1,
 'be': 2,
 'so': 1,
 'when': 1,
 'in': 1,
 'went': 1,
 'quitted': 1,
 'say': 1,
 'into': 1,
 'far': 1,
 'an': 1,
 'visit': 1,
 'bennet': 1,
 'inconvenience': 1,
 'out': 1,
 'she': 3,
 'inevitable': 1,
 'had': 1,
 'ill-natured': 1,
 'to': 5,
 'length': 1,
 'took': 1,
 'with': 1,
 'together': 1,
 'wedding': 1,
 'he': 1,
 'leave': 1,
 'miss': 1,
 'lucas': 1,
 'now': 1,
 'might': 1,
 'wished': 1,
 "mother's": 1,
 'by': 1,
 'think': 1,
 'arrival': 1,
 'farewell': 1,
 'wednesday': 1,
 'collins': 1,
 'as': 3,
 'marriage': 1,
 'gardiners': 1,
 'herself': 1,
 'great': 1}

In [332]:
text = re.sub(",|\.|:|;|\"|'|”|“","", text).lower()

In [333]:
text

'mr collins returned into hertfordshire soon after it had been quitted by the gardiners and jane but as he took up his abode with the lucases his arrival was no great inconvenience to mrs bennet his marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she wished they might be happy thursday was to be the wedding day and on wednesday miss lucas paid her farewell visit and when she rose to take leave elizabeth ashamed of her mothers ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room as they went downstairs together charlotte said'

In [334]:
words = text.split(" ")

In [335]:
len(words)

120

In [336]:
wordCount = dict()

In [337]:
wordCount.get('the', 0)

0

In [338]:
for word in words:    
    wordCount[word] = wordCount.get(word, 0) + 1

In [342]:
sum(wordCount.values() )

120

In [365]:
_replace_str = text.replace(',', ' ').replace('"', '').replace(':', '').replace('.', '').replace('\'', ' ').replace('-', ' ').replace(';', ' ').replace('  ', ' ').lower()
lookup_str = set()
for word in _replace_str.split(' '):    
    lookup_str.add(word)

value_cnt = 0
wordDict = {}

In [366]:
for key in lookup_str: 
    value_cnt = 0
    for word in _replace_str.split(' '):    
        if word == key:
            value_cnt  = value_cnt + 1
            #value_cnt = value_cnt + 1   
            #print(key+"  " + str(value_cnt))    
        wordDict[key] = value_cnt    
            #print(dict)

In [367]:
sum(wordDict.values())

121

In [301]:
punctuationRemove = r',.“,:”;'

In [302]:
for onePunctuation in punctuationRemove:
    text = text.replace(onePunctuation, '')

text = text.replace('\'', '')

In [303]:
text

'Mr Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane but as he took up his abode with the Lucases his arrival was no great inconvenience to Mrs Bennet His marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she wished they might be happy Thursday was to be the wedding day and on Wednesday Miss Lucas paid her farewell visit and when she rose to take leave Elizabeth ashamed of her mothers ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room As they went downstairs together Charlotte said'

In [273]:
import re 

re.sub("|;", '', text)

"Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane but as he took up his abode with the Lucases his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she “wished they might be happy.” Thursday was to be the wedding day and on Wednesday Miss Lucas paid her farewell visit and when she rose to take leave Elizabeth ashamed of her mother's ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room. As they went downstairs together Charlotte said:"

In [276]:
import re
text = re.sub(",|\.|:|;|\"|'","", text)
text

'Mr Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane but as he took up his abode with the Lucases his arrival was no great inconvenience to Mrs Bennet His marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an ill-natured tone that she “wished they might be happy” Thursday was to be the wedding day and on Wednesday Miss Lucas paid her farewell visit and when she rose to take leave Elizabeth ashamed of her mothers ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room As they went downstairs together Charlotte said'

In [274]:
text.replace(";",'')

"Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane but as he took up his abode with the Lucases, his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching, and she was at length so far resigned as to think it inevitable, and even repeatedly to say, in an ill-natured tone, that she “wished they might be happy.” Thursday was to be the wedding day, and on Wednesday Miss Lucas paid her farewell visit and when she rose to take leave, Elizabeth, ashamed of her mother's ungracious and reluctant good wishes, and sincerely affected herself, accompanied her out of the room. As they went downstairs together, Charlotte said:"

In [275]:
counter = 0 
counter = 1 + counter

In [251]:
counter += 1

In [256]:
wordDict = {'the': 12,
            'chicken': 1}

In [257]:
wordDict['the'] = wordDict.get('the', 0) + 1

In [258]:
wordDict

{'the': 1}

In [254]:
wordDict['the'] += 1

In [255]:
wordDict.get('')

{'the': 1, 'no': 0}

In [202]:
# two ways to declare a list
l = list()
l = []

In [203]:
# Both ways to declare a dictionary
d = dict()
d = {}

In [219]:
s = set()

In [218]:
type(s)

set

## Tuples

![](day1_Lecture_images/Slide043.png)

![](day1_Lecture_images/Slide086.png)

In [1]:
myDict = {('January', 'Monday'): '10'}

In [386]:
hash('chicken')

-562570305676407028

In [384]:
myDict = {['January', 'Monday']: '10'}

TypeError: unhashable type: 'list'

In [381]:
('stuff', 'stuff', 'lama')[2]

'lama'

In [377]:
# tuple unpacking
x, y = 0, 6

In [373]:
for index, food in enumerate(['chicken', 'beats', 'goat cheese', 'noodles']):
    print(index, food)

0 chicken
1 beats
2 goat cheese
3 noodles

In [369]:
mySet = {'one thing', 'stuff', 'another'}

In [370]:
mySet.add(['lama', 'chicken'])

TypeError: unhashable type: 'list'

In [368]:
myTuple = ('Stuff','Children', 'Lamas')

In [371]:
mySet.add(myTuple)

In [372]:
mySet

{('Stuff', 'Children', 'Lamas'), 'another', 'one thing', 'stuff'}

![](day1_Lecture_images/Slide045.png)

![](day1_Lecture_images/Slide046.png)

![](day1_Lecture_images/Slide047.png)

![](day1_Lecture_images/Slide048.png)

![](day1_Lecture_images/Slide049.png)

![](day1_Lecture_images/Slide050.png)

![](day1_Lecture_images/Slide052.png)

![](day1_Lecture_images/Slide053.png)

## Conda vs Pip
Pip is a Python package manager which stands for “Pip Installs Packages” that is usually coupled with virtualenv (a tool for creating isolated environments).
Most of the time (with some exceptions) there isn’t much of a difference between installing packages through conda or through pip. This is because pip packages are also installable into Conda environments.

In [ ]:
! conda install numpy
! pip install numpy

This isn’t a discussion on conda vs pip as [Jake VanderPlas covered it pretty extensively](http://jakevdp.github.io/blog/2016/08/25/conda-myths-and-misconceptions/), but why you can mostly install packages through either pip or conda.

conda environment management: https://towardsdatascience.com/environment-management-with-conda-python-2-3-b9961a8a5097

![](day1_Lecture_images/Slide054.png)

![](day1_Lecture_images/Slide055.png)

![](day1_Lecture_images/Slide056.png)

![](day1_Lecture_images/Slide057.png)

![](day1_Lecture_images/Slide058.png)

![](day1_Lecture_images/Slide059.png)

## Summary

- Python uses whitespace and colons to define blocks
- Variables do not require type definitions
- There are two types of conditionals
- Python does not have an index for loop
- Packages are imported using the import keyword
- Virtual environments allow us to work in clean envs
- With statement allows for safe use of recourse-based data

# Break
- Next up will be Basic Types. We will spend a long time on this next session.

# Working with basic types and collections

- Objectives
    - Convert between types
    - Work with collection
    - Use slice operations

# Fundamental Types

- There are a few types in Python that you must be fluent in
- These include:
    - numbers
    - strings
    - dates and times
    - collections (lists, tuples, dictionaries, sets)

# Numerical Types

- Python has deep support in the scientific computing community
    - One good reference is 10 Reasons Python Rocks for Research 
- This is due to several reasons 
    - Simplicity with generality
    - Good numerical support with NumPy
    - Scientific libraries like SciPy
- Python supports 
    - Integers (very long integers)
    - Floating point numbers
    - Complex numbers


http://docs.python.org/2.4/lib/typesnumeric.html

![](day1_Lecture_images/Slide065.png)

# Conversions between Numerical Types

- You can explicitly convert between numerical types

In [67]:
n = 14
x = float(n)
z = complex(n)
m = int(x)

In [68]:
print(x, type(x))
print(z, type(z))
print(m, type(m))

(14.0, <type 'float'>)
((14+0j), <type 'complex'>)
(14, <type 'int'>)

In [71]:
# Convert from strings to other types
n = int("14")
x = float("14.7")
z = complex("7+2j")

print(n, x, z)

(14, 14.7, (7+2j))

## Summary

- Strong support for scientific / numerical operations
- Variety of numerical types: integers, floats, and complex
- Convert between types using integer(), str(), etc.
- All strings are Unicode in Python 3
- Strings support a clean format style
- There are 4 fundamental collection types: lists, sets, dictionaries, and tuples
- Slicing allows us to work with subsets of collections

# Functions

- See how to define functions and return values
- Understand the variable scope rules of Python
- Treat functions as objects
- See how to define functions in any order
- Pass a variety of arguments to functions
- Define inline functions with lambdas
- Create light-weight classes via closures

## Defining Functions

- Functions are defined using the def keyword
    - can accept arguments (do not state the type)
    - can return values (do not state the type) 
    - can be bare functions or belong to classes (methods)

In [80]:
import random

In [81]:
def somemethod(setSize):
    r = random.randint(0, 10000)
    if r % setSize == 0:
        return "{0} is on the edge of {1}" \
            .format(r, setSize)
    else:
        return "{0} is in the middle of {1}" \
            .format(r, setSize)

In [82]:
print( somemethod( 4 ) )
# prints: 5396 is on the edge of 4

4796 is on the edge of 4

In [88]:
# Functions can return values or return None
def addtoLama(x): 
    lama.append(x)
    return(None)

def getAverage(myList): # a string return type
    total = 0
    for x in myList:
        total = x + total 
    return total / len(myList)

In [89]:
lama = []

In [90]:
addtoLama('George')

In [91]:
lama

['George']

In [92]:
ratings = [7, 6, 8, 6, 10]
average = getAverage(ratings)
print('Average: ', average)

('Average: ', 7)

## Function Variable Scope

- Variable scope is based on initialization
    - Variables initialized within a function are scoped to that function
    - Variables first used within functions are global

In [93]:
def scopeMethod(): 
    inner = 7
    print(inner) # local, prints 7

print(inner) # NameError

NameError: name 'inner' is not defined

In [94]:
outer = 6

def scopeMethod(): 
    print(outer) # global, prints 6

In [95]:
scopeMethod()

6

## Functions as Objects

- Functions can be treated as objects
    - They can be passed around (you will see this a lot if you do data analysis)

In [97]:
def strategyMethod(num, predicate):
    if predicate(num):
        print('would perform action')
    else:
        print('not happening!')

def isByThree(num):
    return num % 3 == 0

strategyMethod(6, isByThree)

# prints: would perform action

would perform action

![](day1_Lecture_images/Slide096.png)

- Functions have a lot of flexibility to accept arguments
    - positional arguments (default)
    - default values for keyword arguments

In [104]:
def positional(x, y, z=0):
    """
    This is a docstring. It is a comment used for functions and methods.
    You can learn more about it here
    Mostly useless function.
    """
    print(x, y, z)

positional(1, 2, 6)   # prints 1, 2, 6
positional(1, 2, z=6) # prints 1, 2, 6
positional(1, 2)      # prints 1, 2, 0

(1, 2, 6)
(1, 2, 6)
(1, 2, 0)

In [105]:
help(positional)

Help on function positional in module __main__:

positional(x, y, z=0)
    This is a docstring. It is a comment used for functions and methods.
    You can learn more about it here
    Mostly useless function.

![](day1_Lecture_images/Slide012.png)

## Docstrings

In [4]:
# We will learn functions later
def coolFunction(x):
    """
    This function does nothing but I need it for whatever reason
    It does something I promise. 
    """
    return(None)

coolFunction('doesnt matter')

In [5]:
help(coolFunction)

Help on function coolFunction in module __main__:

coolFunction(x)
    This function does nothing but I need it for whatever reason
    It does something I promise.