# Python Programming Language - Basics

## Table of contents
[Module 3: Literals, Variables and Operators](#operators)
[Module 4: ]()
[]()
[]()
[]()
[]()
[]()
[]()
[]()
[]()

## Module 3: Literals, Variables and Operators

### Operators

#### Arithmetic Operators

In [103]:
#addition
print("Addition: 5 + 2 =", 5 + 2) #7

#subtraction
print("Subtraction: 4 - 3 =", 4 - 3) #1

#multiplication
print("Multiplication: 4 * 3 =", 4 * 3) #12

#division
print("Division: 9 / 3 =", 9 / 3) #3.0

#floor division
print("Floor division: 10 // 3 =", 10 // 3) #3

#modulo
print("Modulo division: 3 % 2 =", 3 % 2) #1

#power
print("Power: 3 ** 3 =", 3**3) #27

Addition: 5 + 2 = 7
Subtraction: 4 - 3 = 1
Multiplication: 4 * 3 = 12
Division: 9 / 3 = 3.0
Floor division: 10 // 3 = 3
Modulo division: 3 % 2 = 1
Power: 3 ** 3 = 27

#### Assignment Operators

In [104]:
#assignment operator
x = 5
print(x) #5

#addition assignment
x += 4
print(x) #9

#subrtaction assignment
x -= 1
print(x) #8

#multiplication assignment
x *= 4
print(x) #32

#division assignment
x /= 2
print(x) #16.0

#remainder assignment
x %= 6
print(x) #4.0

#exponent assignment
x **= 2
print(x) #16.0

5
9
8
32
16.0
4.0
16.0

#### Comparison Operators

In [105]:
#is equal to
print("2 == 6", 2 == 6) #False

#not equal to
print("2 != 6", 2 != 6) #True

#greater than
print("2 > 3", 2 > 3) #False

#less than
print("2 < 3", 2 < 3) #True

#greater than or equal to
print("2 >= 3", 2 >= 3) #False

#less than or equal to
print("2 <= 2", 2 <= 2) #True

2 == 6 False
2 != 6 True
2 > 3 False
2 < 3 True
2 >= 3 False
2 <= 2 True

#### Logical Operators

In [106]:
#logical and
print("2 == 2 and 1 == 2", 2 == 2 and 1 == 2) #False

#logical or
print("2 == 2 or 1 == 2", 2 == 2 or 1 == 2) #True

#logical not
print("not 2 == 2", not 2 == 2) #False

2 == 2 and 1 == 2 False
2 == 2 or 1 == 2 True
not 2 == 2 False

#### Bitwise Operators

In [107]:
x = 4 #0000 0100
y = 10 #0000 1010
#bitwise and
print("4 & 10 =", x & y) #0000 0000 = 0

#bitwise or
print("4 | 10 =", x | y) #0000 1110 = 14

#bitwise not
print("~4 =", ~x) #1111 1011 = 

#bitwise xor
print("4 ^ 10 =", x ^ y) #0000 1110 = 14

#bitwise right shift
print("10 >> 4 =", y >> x) #0000 0000 = 0

#bitwise left shift
print("10 << 4 =", y << x) #1010 0000 = 160

4 & 10 = 0
4 | 10 = 14
~4 = -5
4 ^ 10 = 14
10 >> 4 = 0
10 << 4 = 160

#### Special Operators

In [108]:
#----- Identity Operators -----
x = 3
y = 4

#is
print(x is y) #False

#is not
print(x is not y) #True

#----- Membership Operators -----
fruits = ["apple", "banana", "pineapple", "grape"]
details = {1: "Krisha", 2: "Hritik", 2: "Isha"}

# in
print("apple" in fruits) #True
print(1 in details) #True
print("Krisha" in details) #False
print("isha" in "Krisha") #True

#not in
print("apple" not in fruits) #False
print(5 in details) #False

False
True
True
True
False
True
False
False

### Comments

In [109]:
# single line comment

"""
multi
line
comment
"""

'\nmulti\nline\ncomment\n'

### String and its operators

#### Single and double quotes

In [110]:
# string using single quote ''
print('Hi, I am Pranima Kansakar.')
print('Hi, I\'m Pranima Kansakar.')

# string using double quote ""
print("Hi, I'm Pranima Kansakar.")

Hi, I am Pranima Kansakar.
Hi, I'm Pranima Kansakar.
Hi, I'm Pranima Kansakar.

### Accessing string characters

#### Indexing

In [111]:
name = "Pranima"

#access 4th index element
print(name[4]) #i

#access 2nd last element
print(name[-2]) #m

i
m

#### Slicing

In [112]:
message = "Hello, there!"

#access characters from 1st to 4th index
print(message[1:5])

#access characters from 2nd to last index with step 2
print(message[2:-1:2])

#access character from 2nd last to 1st index element with step -2
print(message[-2:0:-2])

ello
lo hr
eet,le

Example to reverse string in python

In [113]:
#using slicing
word = "Pranima"
print("String:", word)
reversed_word = word[-1::-1]
print("Reversed string using slicing:", reversed_word)

String: Pranima
Reversed string using slicing: aminarP

In [114]:
#using indexing, join operation and for loop
word = "Pranima"
reversed_word = "" #strings are immutable, so we need another variable to store the reversed string instead of changing the original string
for i in range(len(word)): #len() method is used to find length of a string
    reversed_word = word[i] + reversed_word #join operation on strings
print(reversed_word)

aminarP

Example to capitalize the first and the last character of each word in a string

In [140]:
string = "My name is pranima kansakar i"
words = string.split(' ')

new_string = ""
for word in words:
    new_string += word[0].upper() #capitalize first character of word
    for i in range(1, len(word) - 1):
          new_string += word[i]
    new_string += word[-1].upper() #capitalize last character of word
    new_string += " "

print(string)
print(new_string)

My name is pranima kansakar i
MY NamE IS PranimA KansakaR II

### String Operations

#### Comparing two strings

In [116]:
print("hello" == "hello") #True
print("hello" == "Hello") #False

True
False

#### Joining two strings

In [117]:
f_name = "Pranima"
l_name = "Kansakar"
print(f_name + l_name)

PranimaKansakar

### Iterating through a string

In [118]:
for char in "apple":
    print(char)

a
p
p
l
e

#### Finding length of a string

In [119]:
len("hello")

5

### String membership test

In [120]:
#check if a string pranima contains a substring ra
print("ra" in "pranima") #True

True

### String Methods

In [1]:
greet = "Hello, there!"

#upper()
print(greet.upper())

#lower()
print(greet.lower())

#partition()
print(greet.partition(', '))

#replace()
print(greet.replace('Hello', 'Hi'))

#find()
print(greet.find("e"))
print(greet.find("llo"))
print(greet.find("n"))

#rstrip()
print(greet.rstrip("ll"))

#split()
print(greet.split(" "))

#startswith()
print(greet.startswith("l"))
print(greet.startswith("H"))

#isnumeric()
print(greet.isnumeric())

#index()
print(greet.index("e"))

HELLO, THERE!
hello, there!
('Hello', ', ', 'there!')
Hi, there!
1
2
-1
Hello, there!
['Hello,', 'there!']
False
True
False
1

### Escape Sequences

In [122]:
print("\\") #backslash
print('Hi I\'m Pranima.') #single quote
print("He said, \"Hello!\"") #double quote
# print("\a")
# print("\b")
# print("\f")
print("It's a lovely day\n") #ASCII Linefeed
# print("\r")
print("This is \t horizontal tab.") #ASCII Horizontal tab
# print("This is \v vertical tab") #ASCII Vertical tab
# print("\ooo")
# print("\xHH")

\
Hi I'm Pranima.
He said, "Hello!"
It's a lovely day

This is 	 horizontal tab.

### String Formatting

In [123]:
fname = "Pranima"
lname = "Kanskar"
print(f"Hello, {fname} {lname}. Nice to meet you!") 


#try with logger

Hello, Pranima Kanskar. Nice to meet you!

### Booleans and Numbers(Integers, Floats, Scientific Notations)

#### Booleans

The boolean value can be of two types only i.e. either True or False. The output <class ‘bool’> indicates the variable is a boolean data type.

In [2]:
a = True
print(type(a))
 
b = False
print(type(b))

<class 'bool'>
<class 'bool'>

##### bool() method

The bool() method returns:

- False - if argument is empty, False, 0 or None
- True - if argument is any number (besides 0), True or a string

In [5]:
s = 3 #integer
print(f"{a} -> {bool(a)}") #True

d = 3.7 #float
print(f"{d} -> {bool(d)}") #True

f = "Testing what bool() method returns." #string
print(f"{f} -> {bool(f)}") #True

g = True #boolean
print(f"{g} -> {bool(g)}") #True

3 -> True
3.7 -> True
Testing what bool() method returns. -> True
True -> True

In [6]:
s1 = 0 #zero
print(f"{s1} -> {bool(s1)}") #False

s2 = None #none
print(f"{s2} -> {bool(s2)}") #False

s3 = False
print(f"{s3} -> {bool(s3)}") #False

s4 = [] #any empty argument
print(f"{s4} -> {bool(s4)}") #False

0 -> False
None -> False
False -> False
[] -> False

#### Boolean Operators
Boolean Operations are simple arithmetic of True and False values. These values can be manipulated by the use of boolean operators which include AND, Or, and NOT. Common boolean operations are –

- or
- and
- not
- == (equivalent)
- != (not equivalent)

#### Numbers

Python supports integers, floating-point numbers and complex numbers. They are defined as int, float, and complex classes in Python.

- int - holds signed integers of non-limited length.
- float - holds floating decimal points and it's accurate up to 15 decimal places.
- complex - holds complex numbers.

In [9]:
num1 = 3 #integer
print(num1, 'is of type', type(num1))

num2 = 3.432 #float
num3 = 3e12
print(num2, 'is of type', type(num2))
print(num3, 'is of type', type(num3))

num4 = 8+4j #complex
print(num4, 'is of type', type(num4))

3 is of type <class 'int'>
3.432 is of type <class 'float'>
3000000000000.0 is of type <class 'float'>
(8+4j) is of type <class 'complex'>

#### Scientific Notations
Python displays values as scientific notation when they are bigger than 1×1015 or smaller than 1×10-4.

In [10]:
print(123456789123456789.5)
print(0.00000001)

1.2345678912345678e+17
1e-08

##### Converting scientific notation to decimal values
We can suppress scientific notation by using in f-strings.

In [16]:
value = 0.0000123
print("value without supression: ", value)
print(f"value with supression: {value:.7f}") #after decimal point, 7 digit will be displayed
                                             # f represents float
print(f"value with supression: {value:.5f}") #after decimal point, 5 digit will be displayed
print(f"value with supression: {value:f}") #after decimal point, 6 digit will be displayed

value without supression:  1.23e-05
value with supression: 0.0000123
value with supression: 0.00001
value with supression: 0.000012

##### Converting floating point values to scientific notation
We can use the f-string formatter again, using e to represent that we want the values to b expressed in scientific notation.

In [25]:
value = 345000
print("value without scientific notation: ", value)
print(f"value with scientific notation: {value:e}") #e represents scientific format
print(f"value with scientific notation: {value:.3e}") # after decimal point, only 3 digits will be displayed

value without scientific notation:  345000
value with scientific notation: 3.450000e+05
value with scientific notation: 3.450e+05

## Module 4: Input/Output Operations

### Typecasting
There are two types of type conversion in Python.

- Implicit Conversion - automatic type conversion
- Explicit Conversion - manual type conversion

#### Python Implicit Type Conversion
#### Converting integer to float
Python always converts smaller data types (integer) to larger data types (float) to avoid the loss of data.

In [1]:
int_num = 55
float_num = 88.97

sum = int_num + float_num
print(sum)
print(type(sum))

143.97
<class 'float'>

We get TypeError, if we try to add str and int.

In [3]:
int_num = 3
st = "90"
print(int_num + st)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

For such case, we use exlpicit type conversion.

#### Explicit Type Conversion (Typecasting)
We use the built-in functions like int(), float(), str(), complex(), bool(), etc to perform explicit type conversion.

Let us add an integer and a string number using typecasting.

In [5]:
int_num = 3
st_num = "30"
sum = int_num + int(st_num)
print(sum)
print(type(sum))

33
<class 'int'>

##### Int conversion

In [10]:
#float to int
print(int(12.4))

#str to int
print(int("199"))

#bool to int
print(int(True))
print(int(False))

12
199

ValueError: invalid literal for int() with base 10: '12.4'

In [11]:
print(int("12.4"))

ValueError: invalid literal for int() with base 10: '12.4'

In [12]:
print(int("sds"))

ValueError: invalid literal for int() with base 10: 'sds'

In [13]:
int("0B10110")

ValueError: invalid literal for int() with base 10: '0B10110'

In [14]:
int(3+2j)

TypeError: can't convert complex to int

##### Float conversion

In [15]:
float(12)

12.0

In [17]:
float(False)

0.0

In [18]:
float(True)

1.0

In [19]:
float("33")

33.0

In [20]:
float("we")

ValueError: could not convert string to float: 'we'

In [16]:
float(1+6j)

TypeError: can't convert complex to float

In [21]:
float("0B10101")

ValueError: could not convert string to float: '0B10101'

##### Complex conversion

In [22]:
#real part and 0 imaginary part
complex(10)

(10+0j)

In [24]:
#real and imaginary part both
complex(10, 3)

(10+3j)

In [25]:
complex(True)

(1+0j)

In [26]:
complex(False)

0j

In [30]:
complex(True, False)

(1+0j)

In [27]:
complex(23.2)

(23.2+0j)

In [28]:
complex("122")

(122+0j)

In [29]:
complex("wow")

ValueError: complex() arg is a malformed string

##### Boolean Conversion

In [31]:
bool(0)

False

In [32]:
bool(1)

True

In [33]:
bool(10)

True

In [34]:
bool(0.13332)

True

In [35]:
bool(0.0)

False

In [37]:
bool(10+6j)

True

In [38]:
bool(0+0j)

False

In [39]:
bool("Apple")

True

In [40]:
bool("")

False

##### String Conversion

In [41]:
str(10)

'10'

In [42]:
str(10.5)

'10.5'

In [43]:
str(True)

'True'

In [44]:
str(10+5j)

'(10+5j)'

### Input function

In [14]:
#simply taking an input
inp = input()
print("Your input:", inp)
print(type(inp))

hi
Your input: hi
<class 'str'>

In [5]:
#passing message while taking input
name = input("Please enter your name: ")
print(f"Your name is {name}")

Please enter your name: Pranima
Your name is Pranima

In [6]:
#taking an integer input
num = int(input("Enter a number"))
print("Your input number is:", num)

Enter a number23
Your input number is: 23

In [7]:
#separating input with spaces
p, q, r = input("Please enter any three words: ").split()
print("Three words you input were:")
print(p)
print(q)
print(r)

Please enter any three words: mouse laptop keyboard
Three words you input were:
mouse
laptop
keyboard

In [10]:
#separating input of integers
a, b, c = map(int,input("Please enter three numbers: ").split())
print("Three integers you input were:")
print(a)
print(b)
print(c)

Please enter three numbers: 2 3 4
Three integers you input were:
2
3
4

In [13]:
#multiple comma separated floating point numbers in a list
float_lists = [float(x) for x in input("Enter floating point numbers separated by comma: ").split(",")]
print(float_lists)

Enter floating point numbers separated by comma: 12.3, 34.5, 33, 24.8
[12.3, 34.5, 33.0, 24.8]

### Print function
The full syntax of the print() function, along with the default values of the parameters it takes, are shown below.

This is what print() looks like underneath the hood:

print(*object,sep=' ',end='\n',file=sys.stdout,flush= False)

Here,

- *object can be none, one, or many data values to be printed, and it can be of any data type. Objects get converted to a string before printing.
- sep is an optional parameter that specifies how more than one object are separated. The default is ' ' – a space.
- end is an optional paramater that specifies with what the line will end. By default the print call ends with a newline, with \n being the newline character.
- file is an optional paramater which is an object with a write method – it can write and append (add) the output to a file. The default is sys.stdout (or system standard output) and the output is displayed on the screen.
- flush is a boolean parameter that specifies whether the stream will be forcibly flushed or buffered. Flushed means whether the print call will immediately take affect. The default value is False (or buffered).

The print() function has no return value.

## Module 5: Data Types

### List

In [29]:
#list with strings
fruits = ["apple", "banana", "grape", "pineapple"]
print("List of strings: ", fruits)

#list with integers
numbers = [10, 20, 30, 40]
print("List of integers:", numbers)

#list with mixed data types
mixed_list = ["Pranima", 24, 3.9]
print("List of mixed data types:", mixed_list)

#empty list
empty_list = []
print("Empty list:", empty_list)

#list using list() 
llist = list()
print("Empty list using list()", llist)

llist1 = list((1, 2, 3, 4))
print("Converting tuple to list:", llist1)

List of strings:  ['apple', 'banana', 'grape', 'pineapple']
List of integers: [10, 20, 30, 40]
List of mixed data types: ['Pranima', 24, 3.9]
Empty list: []
Empty list using list() []
Converting tuple to list: [1, 2, 3, 4]

#### Accessing list members

##### Indexing and Negative Indexing

In [125]:
student_names = ["Pranima", "Krisha", "Hritik", "Ishar"]

#accessing item at index 3
print(student_names[3]) #Hritik

#accessing item at 3rd last index
print(student_names[-3]) #Krisha

Ishar
Krisha

##### Slicing

In [126]:
ages = [12, 34, 23, 7, 89, 9, 78, 5]

#accessing items from index 2 to 4
print(ages[2:5])

#items from index 4 to end
print(ages[4:])

#items from beginning to end
print(ages[:])

#items from beginning to end with step 3
print(ages[::3])

#items from end to beginning
print(ages[-1::-1])

[23, 7, 89]
[89, 9, 78, 5]
[12, 34, 23, 7, 89, 9, 78, 5]
[12, 7, 78]
[5, 78, 9, 89, 7, 23, 34, 12]

#### Iterating through a list in Python

In [38]:
armors = ('gun', 'sword', 'bomb')

# iterating through the tuple
for armor in armors:
    print(armor)

gun
sword
bomb

#### Check if an Item Exists in the Python list

In [39]:
armors = ('gun', 'sword', 'bomb')

print("gun" in armors)

True

### List methods

#### Adding items to list
append()

extend()

In [127]:
languages = ["Python", "C++", "javaScript", "Java"]
print("Original list:", languages)

#adding an item to the end of the list using append()
languages.append("Go")
print("List after appending 'Go':", languages)

#adding items of lists and other iterables to the end of the list using extend()
languages.extend(["Rust", "Ruby"])
print("List after extending with list ['Rust', 'Ruby']:", languages)

#inseting an item at the specified index using insert()

Original list: ['Python', 'C++', 'javaScript', 'Java']
List after appending 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Go']
List after extending with list ['Rust', 'Ruby']: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby']

#### Removing items from the list

##### Removing an item from the list using remove()
The remove() method removes the first matching element passed as an argument from the list. It does not return any value (returns None).

In [128]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
print("Original list:", languages)

#remove an element from the list
languages.remove("Go")
print("List after removing 'Go':", languages)

#remove an item from the list with duplicate items
# only the first matching element is removed
languages.remove("Python")
print("List after removing a duplicate item 'Python': ", languages)

#remove an item that doesn't exist
#throws ValueError exception
languages.remove("Dart")

Original list: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
List after removing 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']
List after removing a duplicate item 'Python':  ['C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']

ValueError: list.remove(x): x not in list

##### Return and remove item at given index using pop()
The pop() method remobes the item at the given index from the list and returns the removed item.

In [135]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']

#return and remove the item at index 3
print("Removed item at index 3:", languages.pop(3))
print("List after removing item at index 3", languages)

#return and remove the last item
print("Removed item:", languages.pop()) #without passing argument
print("Removed item:", languages.pop(-1)) #using negative indexing
print("List after popping two items from the last:", languages)

#remove all items from the list

Removed item at index 3: Java
List after removing item at index 3 ['Python', 'C++', 'javaScript', 'Go', 'Rust', 'Ruby', 'Python']
Removed item: Python
Removed item: Ruby
List after popping two items from the last: ['Python', 'C++', 'javaScript', 'Go', 'Rust']

##### Remove all items from the list using clear()
The clear() method removes all items from the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]

#remove all elements form the list
numbers.clear()
print(numbers)

#### Other methods

#### count()
The count() method counts the number of times the specified element appears in the list.

In [139]:
#count the occurences of 1 from the list of integers
numbers = [1, 2, 3, 4, 1, 7, 4, 2, 1]
print("Count of 1:", numbers.count(1))

#count the ocurrence of non-existent number 10 from the list
print("Count of 10:", numbers.count(10))

#count tuple and list elements inside list
eg_list = [(1, 1), [2, 4], (1, 1), [3, 2],(3,2), 7.9]

eg_string = ["asim", "pranima", "asim", "ayush"]
print("Count of (1, 1):", eg_list.count((1,1)))
print("Count of [3, 2]:", eg_list.count([3, 2]))
print(eg_string.count("asim"))

Count of 1: 3
Count of 10: 0
Count of (1, 1): 2
Count of [3, 2]: 1
2

#### sort()
By default, sort() doesn't require any extra parameters. However, it has two optional parameters:

- reverse - If True, the sorted list is reversed (or sorted in Descending order)
- key - function that serves as a key for the sort comparison

In [25]:
print("-------------------------Sorting list of numbers--------------------------")

numbers = [34, 54,23, 65, 74, 93, 15]
print("Original list of numbers:", numbers)

#sort the list in ascending order
numbers.sort()
print("Sorted list in ascending order:", numbers)

#sort the list in descending order
numbers.sort(reverse=True)
print("Sorted list in descending order:", numbers)

print("\n")

print("--------------------sorting list of strings--------------------")
#strings are sorted according to unicode
cities = ["Kathmandu", "Hetauda", "Tokyo", "biratnagar", "pokhara", "ahemdabad"]
print("Original list of strings", cities)
cities.sort()
print("Sorted list of strings in ascending order", cities)
print("\n")

print("--------------------------Sorting list of lists and tuples--------------------------")

#by default list is sorted by 1st element in the tuples/lists inside list
listoflists = [[1,2], [23, 1], [2, 12], [5, 6]]
print("Original list of lists:", listoflists)
listoflists.sort()
print("Sorted list by 2nd element", listoflists)

#sort the list of tuple or list with custom function using key
def second(ele):
    return ele[1]
listoftuples = [(1,2), (23, 1), (2, 12), (5, 6)]
print("Original list of tuples:", listoftuples)
listoftuples.sort(key=second)
print("Sorted list by 2nd element", listoftuples)
print("\n")

print("-------------------------Sorting list of dictionaries--------------------------")

#sort list of dictionary with custom function using key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]
print("Original list of employees:\n", employees)
print("\n")

def get_salary(employee):
    return employee.get("salary")

employees.sort(key=get_salary)
print("Sorted list by salary of employees:\n", employees)
print("\n")

#using lambda function to sort list of dictionary
employees.sort(key=lambda x:x.get("Name"))
print("Sorted list by name using lamba function:\n", employees)

-------------------------Sorting list of numbers--------------------------
Original list of numbers: [34, 54, 23, 65, 74, 93, 15]
Sorted list in ascending order: [15, 23, 34, 54, 65, 74, 93]
Sorted list in descending order: [93, 74, 65, 54, 34, 23, 15]


--------------------sorting list of strings--------------------
Original list of strings ['Kathmandu', 'Hetauda', 'Tokyo', 'biratnagar', 'pokhara', 'ahemdabad']
Sorted list of strings in ascending order ['Hetauda', 'Kathmandu', 'Tokyo', 'ahemdabad', 'biratnagar', 'pokhara']


--------------------------Sorting list of lists and tuples--------------------------
Original list of lists: [[1, 2], [23, 1], [2, 12], [5, 6]]
Sorted list by 2nd element [[1, 2], [2, 12], [5, 6], [23, 1]]
Original list of tuples: [(1, 2), (23, 1), (2, 12), (5, 6)]
Sorted list by 2nd element [(23, 1), (1, 2), (5, 6), (2, 12)]


-------------------------Sorting list of dictionaries--------------------------
Original list of employees:
 [{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]


Sorted list by salary of employees:
 [{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]


Sorted list by name using lamba function:
 [{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

#### copy()
copy() is used to copy a list instead of assignment operator when you need the original list unchanged when the copied list is modified.

##### Copying a list using copy()
Original list is unchanged when copied list is modified.

In [35]:
#returns the shallow copy of the list
prime_numbers = [2, 3, 5, 7]
prime_numbers1 = prime_numbers.copy()
print("Copied list:", prime_numbers1)

prime_numbers1[2] = 17
print("Original list after modifying copy", prime_numbers)

Copied list: [2, 3, 5, 7]
Original list after modifying copy [2, 3, 5, 7]

##### Copying a list using =
Original list is changed when copied list is modified.

In [36]:
even_numbers = [2, 4, 6, 8]
even_numbers1 = even_numbers
print("Copied list:", even_numbers1)
even_numbers1.append(10)
print("Original list after modifying copy", even_numbers)

Copied list: [2, 4, 6, 8]
Original list after modifying copy [2, 4, 6, 8, 10]

##### Copying a list using Slicing
Original list is unchanged when copied list is modified.

In [37]:
odd_numbers = [1, 3, 5, 7]
odd_numbers1 = odd_numbers[:]
print("Copied list:", odd_numbers1)
odd_numbers1.pop()
print("Original list after modifying copy", odd_numbers)

Copied list: [1, 3, 5, 7]
Original list after modifying copy [1, 3, 5, 7]

### List functions

#### type()

In [37]:
print(type([1, 2, 3, 4]))

<class 'list'>

#### max()

In [38]:
print(max([1, 2, 3, 4]))

4

#### min()

In [39]:
print(min([1, 2, 3, 4]))

1

#### len()

In [40]:
print(len([1, 2, 3, 4]))

4

#### list()
The list() function takes an iterable construct and turns it into a list.

In [41]:
#empty list
print(list())

#tuple into list
my_tuple = (1, 2, 3, 4)
print(list(my_tuple))

[]
[1, 2, 3, 4]

#### filter()

In [43]:
def filter_age(age):
    if age >= 18:
        return True
    else:
        return False

ages = [10, 34, 18, 20]
eligible_to_vote = filter(filter_age, ages)
print(list(eligible_to_vote))

[34, 18, 20]

### Nested List

#### List Comprehension

In [54]:
#list comprehension
n = [i for i in range(10)]
print(n)

#list comprehension for nested list
matrix = [[j for j in range(4)] for i in range(4)]
print(matrix)

#flatten matrix
flat_matrix = [element for sublist in matrix for element in sublist ]
print(flat_matrix)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
0
1
2
3
0
1
2
3
0
1
2
3
0
1
2
3

##### Program to count unique values inside a list

In [15]:
things = ["pen", "book", "copy", "pen", "charger", "wire", "wire"]

unique_count = 0
for thing in things:
    if things.count(thing) == 1:
        unique_count += 1
print(unique_count)

3

### Intro to tuples and dictionaries

In [37]:
# Empty tuple
my_tuple = ()
print("Empty tuple", my_tuple)

# Tuple having integers
my_tuple1 = (1, 2, 3)
print("Tuple of integers", my_tuple1)

# tuple with mixed datatypes
my_tuple2 = (1, "cat", 3.4)
print("Tuple of mixed data types", my_tuple2)

# nested tuple
my_tuple3 = ("dog", [8, 4, 5], (1, 2, 4))
print("Nested tuple", my_tuple3)

# string vs tuple with one element
my_string4 = ("hi")
my_tuple4 = ("hi",) #comma required for tuple
print(my_string4)
print(my_tuple4)

#tuple without paranthesis
my_tuple5 = "hi", "hello", #paranthesis is optional for tuple
print(my_tuple5)

Empty tuple ()
Tuple of integers (1, 2, 3)
Tuple of mixed data types (1, 'cat', 3.4)
Nested tuple ('dog', [8, 4, 5], (1, 2, 4))
hi
('hi',)
('hi', 'hello')

#### List vs Tuple

- Accessing tuple elements using indexing, negative indexing, and slicing is same as that in list.
- Iterating through a tuple in python is also same as that in list.
- Checking if an item exits in python tuple is also same as that in list.
- However, tuple is immutable.
- Because of immutable nature, only some list methods are applicable to tuples, which are 
    - count()
    - index().

##### Advantages of Tuple over List in Python
Since tuples are quite similar to lists, both of them are used in similar situations.

However, there are certain advantages of implementing a tuple over a list:

- We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
- Since tuples are immutable, iterating through a tuple is faster than with a list. So there is a slight performance boost.
- Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

### Dictionaries
Python dictionary is an ordered collection (starting from Python 3.7) of items. It stores elements in key/value pairs. Here, keys are unique identifiers that are associated with each value.

In [43]:
#empty dictionary
dictionary1 = {}
print("Empty dictionary", dictionary1)

#dictionary with key value pairs of string type
student1 = {
    "fname": "Pranima",
    "lname": "Kansakar",
}
print(student1)

#dictionary with key value pairs of mixed type
student2 = {
    "fname": "Pranima",
    "lname": "Kansakar",
    "age": 24,
}
print(student2)

countries = {
    1: "Nepal",
    2: "America",
    3: "Pakistan",
}
print(countries)

Empty dictionary {}
{'fname': 'Pranima', 'lname': 'Kansakar'}
{'fname': 'Pranima', 'lname': 'Kansakar', 'age': 24}
{1: 'Nepal', 2: 'America', 3: 'Pakistan'}

#### Adding elements to a dictionary

In [46]:
print("Updated dictionaries are \n")
countries[4] = "India"
print(countries)

student2["address"] = "Dallu"
print(student2)

Updated dictionaries are

{1: 'Nepal', 2: 'America', 3: 'Pakistan', 4: 'India'}
{'fname': 'Pranima', 'lname': 'Kansakar', 'age': 24, 'address': 'Dallu'}

#### Changing value of a dictionary

In [47]:
print("Updated dictionaries are \n")

countries[3] = "Canada"
print(countries)

student2["address"] = "Swayambhu"
print(student2)

Updated dictionaries are

{1: 'Nepal', 2: 'America', 3: 'Canada', 4: 'India'}
{'fname': 'Pranima', 'lname': 'Kansakar', 'age': 24, 'address': 'Swayambhu'}

#### Accessing elements fro dictionary

In [49]:
print(countries[3])
print(student2["fname"])

#accessing value of key that doesn't exist gets us an error
print(student2["phone"])

Canada
Pranima

KeyError: 'phone'

#### Removing elements from a dictionary

In [50]:
del countries[2]
print(countries)

{1: 'Nepal', 3: 'Canada', 4: 'India'}

#### Removing the whole dictionary

In [51]:
del countries
print(countries)

NameError: name 'countries' is not defined

#### Iterating through a dictionary

In [52]:
for info in student2:
    print(info, student2[info])

fname Pranima
lname Kansakar
age 24
address Swayambhu

#### Dictionary membership test
Membership tests are only for keys not for values

In [55]:
print("fname" in student2)

print("Pranima" in student2)

True
False

### Dictionary Methods

#### all()
Return True if all keys (not objects) of the dictionary are True (or if the dictionary is empty).

In [74]:
d1 = {}
print(all(d1)) #True

d2 = {False: "False", 0: "True"}
print(all(d2)) #False

d3 = {5: "True", 2: "False"}
print(all(d3)) #True

d4 = {0: "False", 2: "False"}
print(all(d4)) #False

# 0 is False
# '0' is True
d5 = {'0': 'False'}
print(all(d5)) #True

True
False
True
False
True

#### any()
Return True if any key of the dictionary is true. If the dictionary is empty, return False.

In [75]:
d1 = {}
print(any(d1)) #False

d2 = {False: "False", 0: "True"}
print(any(d2)) #False

d3 = {5: "True", 2: "False"}
print(any(d3)) #True

d4 = {0: "False", 2: "False"}
print(any(d4)) #True

# 0 is False
# '0' is True
d5 = {'0': 'False'}
print(any(d5)) #True

False
False
True
True
True

#### len()
Return the length (the number of items) in the dictionary.

In [78]:
print(len({})) #0
print(len({1: "One", 2: "Two"})) #2

0
2

#### clear()
Removes all items from the dictionary.
- del is used to delete the dictionary while clear for removing all items from dictionary.

In [86]:
cityTemperature = {"New York": 18, "Texas": 26}

print("Dictionary before clear():", cityTemperature)

# removes all the items from the dictionary
cityTemperature.clear()

print("Dictionary after clear():", cityTemperature)

Dictionary before clear(): {'New York': 18, 'Texas': 26}
Dictionary after clear(): {}

#### keys()
Returns a new object of the dictionary's keys.

In [93]:
cityTemperature = {"New York": 18, "Texas": 26}
cityTemperature.keys()

dict_keys(['New York', 'Texas'])

#### values()
Returns a new object of the dictionary's values

In [94]:
cityTemperature.values()

dict_values([18, 26])

#### copy()
The copy() method returns a copy (shallow copy) of the dictionary.
- When the copy() method is used, a new dictionary is created which is filled with a copy of the references from the original dictionary.

- When the = operator is used, a new reference to the original dictionary is created.
- similar to lists dicussed above

In [95]:
original = {1:'one', 2:'two'}
new = original.copy()

print('Orignal: ', original)
print('New: ', new)

new[3] = 'three'
print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}
Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two', 3: 'three'}

In [96]:
original = {1:'one', 2:'two'}
new = original

print('Orignal: ', original)
print('New: ', new)

new[3] = 'three'
print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}
Orignal:  {1: 'one', 2: 'two', 3: 'three'}
New:  {1: 'one', 2: 'two', 3: 'three'}

#### fromkeys()
The fromkeys() method creates a dictionary from the given sequence of keys and values.

The fromkeys() method can take two parameters:

- sequence - are the keys that can be any iterables like string, set, list, etc that is to be transformed to a dictionary.
- value (Optional) - are the values that can be of any type or any iterables like string, set, list, etc.

It returns a new dictionary with keys mapped to None if no value is provided, else to the value provided in the field.

In [106]:
#sequence and values both
keys1 = [1, 2, 3]
value1 = "num"
num_dictionary1 = dict.fromkeys(keys1, value1)
print(num_dictionary1)

#only sequence, value defaults to None
keys2 = [1, 2, 3]
num_dictionary2 = dict.fromkeys(keys2)
print(num_dictionary2)

#value of list
keys = [1, 2, 3]
value = ["one", "two", "three"]
num_dictionary = dict.fromkeys(keys, value)
print(num_dictionary)

{1: 'num', 2: 'num', 3: 'num'}
{1: None, 2: None, 3: None}
{1: ['one', 'two', 'three'], 2: ['one', 'two', 'three'], 3: ['one', 'two', 'three']}

#### get()
Syntax : dict.get(key, default=None)

Parameters: 
- key: key to be searched in the dictionary
- Value: (Optional) Value to be returned if the key is not found. The default value is None.

Returns: 
- the value for the specified key if key is in the dictionary.
- None if the key is not found and value is not specified.
- value if the key is not found and default value is specified.

In [112]:
item = {"name": "copy", "quantity": 2, "cost": 20.0}

#key and value present
print('Item:', item.get("name"))
print('Quantity:', item.get("quantity"))

#key and value absent
print('Price:', item.get("price"))

#key and value absent in dictionary but value specified
print("Price:", item.get("price", 12.0))

#using [] to access key which is missing
print(item["price"]) #key error

Item: copy
Quantity: 2
Price: None
Price: 12.0

KeyError: 'price'

#### items()
The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.

In [113]:
std = {"name": "Pranima", "age": 23, "batch": "2018"}
print(std.items())

dict_items([('name', 'Pranima'), ('age', 23), ('batch', '2018')])

#### pop()
The pop() method removes and returns an element from a dictionary having the given key.

Two parameters:

- key - key which is to be searched for removal
- default - value which is to be returned when the key is not in the dictionary

returns:

- If key is found - removed/popped element from the dictionary
- If key is not found - value specified as the second argument (default)
- If key is not found and default argument is not specified - KeyError exception is raised

In [121]:
std1 = {"name": "Pranima", "age": 23, "batch": "2018"}
print("Original:", std1)

#key is found
print("Popped value:", std1.pop("age"))
print("Dictionary after pop()", std1)

#key not found, value specified
print("Popped value:", std1.pop("height", "5 feet"))
print("Dictionary after pop()", std1)

#key not found, value not specified
print("Popped value:", std1.pop("height")) #key error

Original: {'name': 'Pranima', 'age': 23, 'batch': '2018'}
Popped value: 23
Dictionary after pop() {'name': 'Pranima', 'batch': '2018'}
Popped value: 5 feet
Dictionary after pop() {'name': 'Pranima', 'batch': '2018'}

KeyError: 'height'

#### popitem()
The popitem() method removes and returns the last element (key, value) pair inserted into the dictionary. It raises a KeyError error if the dictionary is empty.

In [1]:
std2 = {"name": "Krisha"}

print("Popped item", std2.popitem())
std2.popitem() #raises keyerror, as it is empty now

Popped item ('name', 'Krisha')

KeyError: 'popitem(): dictionary is empty'

#### setdefault()
The setdefault() method returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.

Two parameters:

- key - the key to be searched in the dictionary
- default_value (optional) - key with a value default_value is inserted to the dictionary if the key is not in the dictionary. If not provided, the default_value will be None.

In [9]:
#when key is in dictionary
product = {"name": "Sunscreen", "cost": 500}
cost = product.setdefault("cost")
print(product)
print(cost) #500

#when key is not in dictionary 
#provided default_value
product1 = {"name": "Moisturizer"}
cost1 = product1.setdefault("cost", 300)
print(product1)
print(cost1) #300

#not provided default_value
quantity1 = product1.setdefault("quantity")
print(product1)
print(quantity1) #None

{'name': 'Sunscreen', 'cost': 500}
500
{'name': 'Moisturizer', 'cost': 300}
300
{'name': 'Moisturizer', 'cost': 300, 'quantity': None}
None

#### update()
The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

It  takes either a dictionary or an iterable object of key/value pairs (generally tuples).

If update() is called without passing parameters, the dictionary remains unchanged.

It doesn't return any value (returns None).

In [18]:
#update() with another dictionary as parameter
scores = {"Team A": 5, "Team B": 8}
team_c_score = {"Team C": 7}
scores.update(team_c_score)
print(scores)

#update() with list of tuples/list as parameter
scores.update([("Team D", 7), ["Team E", 8]])
print(scores)

#update() with no parameters
scores.update()
print(scores) #unchanged dictionary

{'Team A': 5, 'Team B': 8, 'Team C': 7}
{'Team A': 5, 'Team B': 8, 'Team C': 7, 'Team D': 7, 'Team E': 8}
{'Team A': 5, 'Team B': 8, 'Team C': 7, 'Team D': 7, 'Team E': 8}

### Sets
A set is a collection of unique data. That is, elements of a set cannot be duplicate. So, we use set to store data that cannot have duplicate such as IDs.

A set is mutable and unordered.

A set can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [24]:
#set of integers
registration_numbers = {123, 124, 125, 126}
print(registration_numbers)

#set of strings
continents = {"Asia", "Africa", "Europe"}
print(continents)

#set of tuples
coordinates = {(1, 1), (1, 2), (1, 3)}
print(coordinates)

#set of mixed data types
mixed_set = {"string", 122, 123.98, (2, 3)}
print(mixed_set)

#empty set
empty_set = set()
print(type(empty_set))

#empty curly braces are used to create empty dictionary
empty_dictionary = {}
print(type(empty_dictionary))

{123, 124, 125, 126}
{'Europe', 'Asia', 'Africa'}
{(1, 1), (1, 2), (1, 3)}
{(2, 3), 'string', 123.98, 122}
<class 'set'>
<class 'dict'>

#### Duplicate items in a set

In [23]:
odd_nums = {1, 3, 5, 5, 7, 1, 9} #duplicates created
print(odd_nums) #no duplicates

{1, 3, 5, 7, 9}

#### Adding and updating set items
Set data type does not support indexing or slicing as sets are unordered.

##### add()

In [27]:
unique_nums = {55.3, 57.6, 61.0}
print("Initial set:", unique_nums)

unique_nums.add(44.8)
print("Updated set:", unique_nums)

Initial set: {57.6, 61.0, 55.3}
Updated set: {57.6, 44.8, 61.0, 55.3}

##### update()

In [29]:
things = {"dishwasher", "broom", "pen"}
stationery = ["copy", "eraser", "eraser"]

things.update(stationery)
print(things)

gadgets = {"mobile", "laptop"}
things.update(gadgets)
print(things)

{'pen', 'eraser', 'copy', 'broom', 'dishwasher'}
{'pen', 'eraser', 'laptop', 'mobile', 'copy', 'broom', 'dishwasher'}

#### Removing an element from a set

##### discard()

In [31]:
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')

print('Set after discard():', languages)

Initial Set: {'Java', 'Python', 'Swift'}
Set after discard(): {'Python', 'Swift'}

#### Iterating over a set

In [32]:
vowels = {"a", "e", "i", "o", "u"}
for v in vowels:
    print(v)

o
u
e
a
i

#### Set Operations

##### Union of two sets

In [33]:
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}

# perform union operation using |
print('Union using |:', A | B)

# perform union operation using union()
print('Union using union():', A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

##### Set Intersection

In [34]:
# first set
A = {1, 3, 5}

# second set
B = {1, 2, 3}

# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

##### Difference between two sets

In [35]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('Difference using &:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))

Difference using &: {3, 5}
Difference using difference(): {3, 5}

##### Set symmetric difference

In [36]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('using ^:', A ^ B)

# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

## Module 6: Python Flow Control

### If, Else and Elif

In [45]:
num = 2

if num%2==0: #True
    print("Divisible by 2") #code block executed

Divisible by 2

In [46]:
num1 = 3

if num1%2==0: #False
    print("Divisible by 2") #code block not executed

In [47]:
num2 = 4

if num2%2==0: #True
    print("Divisible by 2") #code block executed
else: 
    print("Indivisible by 2") #code skipped

Divisible by 2

In [48]:
num3 = 5

if num3%2==0: #False
    print("Divisible by 2") #code skipped
else:
    print("Indivisible by 2") #code executed

Indivisible by 2

In [54]:
num4 = 6

if num4>2: #True
    print("Greater than 2") #code executed
elif num4>1: #skipped
    print("Greater than 1") 
else: #skipped
    print(num4)

Greater than 2

In [55]:
num5 = 1.5

if num5>2: #False
    print("Greater than 2") #code skipped
elif num5>1: #True
    print("Greater than 1") #executed
else: #skipped
    print(num5)

Greater than 1

In [57]:
num6 = 1

if num6>2: #False
    print("Greater than 2") #code skipped
elif num6>1: #False
    print("Greater than 1") #skipped
else: #executed
    print(num4)

6

### Pass keyword
The pass statement is a null statement which can be used as a placeholder for future code.

Suppose we have a loop or a function that is not implemented yet, but we want to implement it in the future. In such cases, we can use the pass statement.

In [58]:
#using pass
if 3>2:
    pass
print("end")

end

In [59]:
#not using pass
if 3>2:
    #left to code
print("end")

IndentationError: expected an indented block (3671356695.py, line 4)

In [60]:
#using pass
def f1():
    pass
print("end")

end

In [61]:
#not using pass
def f1():
    #code left to write
print("end")

IndentationError: expected an indented block (3956210704.py, line 4)

In [62]:
class C1():
    pass
print("end")

end

### range() keyword
The range() function returns a sequence of numbers between the give range.

It returns an immutable sequence of numbers that can be easily converted to lists, tuples, sets etc.

In [65]:
print(type(range(10)))

<class 'range'>

In [66]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
print(list(range(1, 10, 3)))

[1, 4, 7]

In [70]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

The range() function is commonly used in a for loop to iterate the loop a certain number of times.

In [71]:
for i in range(3):
    print(i)

0
1
2

### While loop, while else and for loop
The for loop is usually used when the number of iterations is known. Let's take an example of counting total number of digits in a number.

In [1]:
#printing squares of numbers from 1 to 10
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

The while statement simply loops until a condition is False. An example for this is,

In [1]:
#counting the number of digits in a number
number = 209839
count = 0
while number != 0:
    number //= 10
    count += 1
print("Digit count =", count)

Digit count = 6

With the else statement after while we can run a block of code once when the condition no longer is true.

Suppose we want a user to update quantity of items already in the list and add those items not in the list in case the user wants for the grocery shopping. Use of while else for this is demonstrated below.

In [6]:
cart = [
    {"item": "pen", "qty": 5},
    {"item": "copy", "qty": 10}
]

thing = input("Enter item you want to buy:")

i = 0
while i < len(cart):
    item = cart[i]
    if item["item"] == thing:
        print(f'You have {item["qty"]} {thing} in your cart.')
        changeQty = input("Do you want to change the quantity? y/n ")
        if changeQty.lower() == "y":
            qty = int(input(f"Enter the qty for {thing}"))
            cart[i] = {"item": thing, "qty": qty}
    i = i + 1
else:
    add_item = input("Do you want to add any other item to your cart? y/n ")
    if add_item.lower() == "y":
        new_item = input("Enter new item you want: ")
        new_qty = input(f"Enter quantity for {new_item}: ")
        cart.append({"item": new_item, "qty": new_qty})
print(cart)

Enter item you want to buy:pen
You have 5 pen in your cart.
Do you want to change the quantity? y/n y
Enter the qty for pen3
Do you want to add any other item to your cart? y/n y
Enter new item you want: mouse
Enter quantity for mouse: 4
[{'item': 'pen', 'qty': 3}, {'item': 'copy', 'qty': 10}, {'item': 'mouse', 'qty': '4'}]

## Module 7: Introduction to Functions
### Creating Functions

## Module 8: File handling, Exception handling

### Reading and writing to files

A file operation takes place in the following order:
1. Open a file
2. Read or write
3. Close the file (to free the resources tied to it)

An example of file operation is shown below.

In [17]:
#creating new file in write-only mode
f1 = open("file1.txt", "w")

#writing to file using write() and writelines()
f1.write("This is file handling test text.\n")
f1.writelines(["It is a beautiful day.", "Welcome to Python world! \n"])

#closing the file
f1.close()

#### try...finally <a class="anchor" id="try...finally"></a>

In [19]:
try:
    f5 = open("file1.txt", "r")
    content5 = f5.read()
    print(content5)
    
finally:
    f5.close()

This is file handling test text.
It is a beautiful day.Welcome to Python world!

### Context Managers

#### with...open
Let us read the file created above using a better approach for closing files.

In [18]:
#with...open syntax to automatically close the file.
#opening file in read-only mode and reading the whole file
with open("file1.txt", "r") as f2:
    content2 = f2.read()
    print(content2)
    
print("-"*20, "\n")
#opening file in read-only mode and reading with readlines() method
with open("File1.txt", "r") as f3:
    content3 = f3.readlines()
    print(content3)

print("-"*20, "\n")
#opening file in read-only mode and reading with readline() method
with open("File1.txt", "r") as f4:
    print(f4.readline())

This is file handling test text.
It is a beautiful day.Welcome to Python world!

--------------------

['This is file handling test text.\n', 'It is a beautiful day.Welcome to Python world! \n']
--------------------

This is file handling test text.

### Python Exception

Errors that occur at runtime (after passing the syntax test) are called exceptions or logical errors.

Unlike errors like syntax error, compilation error, infinite recursion, etc, exceptions can be caught and handled by the program.

One common exception is __ZeroDivisionError__ which is an error caused due to division by zero.

In [2]:
print(2 / 0)

ZeroDivisionError: division by zero

There are other built-in Python exceptions such as IndexError, TypeError, NameError, ImportError, KeyError and so on. Some of them are demonstrated below.


__IndexError__

It occurs when the index of a sequence is out of range.

In [4]:
my_list = [1, 2, 3, 4]
print(my_list[4])

IndexError: list index out of range

__NameError__

It is raised when a variable is not found in local or global scope.

In [7]:
print(var1)

NameError: name 'var1' is not defined

__TypeError__

It is raised when a function or operation is applied to an object of incorrect type.

In [6]:
print("a" + 1)

TypeError: can only concatenate str (not "int") to str

### Exception Handling
It is very important to handle exceptions as we saw above they terminate the execution of the program abnormally.

#### try...except block
The try...except block is used to handle exceptions in Python.

Let us handle an example of __NameError__ exception, using try...except block.

In [15]:
try:
    print(x)
except:
    print("Variable x is not found")

Variable x is not found

#### Catching specific exceptions in python

In some situations, we might need to catch multiple exceptions for one try block. In such case catching the specific exception is important.

In [19]:
try:
    print(x[4])
except NameError:
    print("x not found")
except IndexError:
    print("Index out of range")

Index out of range

In [20]:
try:
    x = [1, 2, 3]
    print(x[4])
except NameError:
    print("x not found")
except IndexError:
    print("Index out of range")

Index out of range

#### try with else clause
In some situations, we might want to run a certain block of code if the code block inside try runs without any errors. For these cases, you can use the optional else keyword with the try statement.

An example is demonstrated below.

In [21]:
try:
    x = [1, 2, 3]
    print(x[2])
except NameError:
    print("x not found")
except IndexError:
    print("index out of range")
else:
    print(x[2]*2)

3
6

#### try...finally
In Python, the finally block is always executed no matter whether there is an exception or not.

The finally block is optional. And, for each try block, there can be only one finally block.

An example has been demonstrated above in [this section](#try...finally).

## Module 10: Basic Introduction to Classes and Objects

### Object-oriented programming
Python is a versatile programming language that allows you to use both functional and object-oriented programming paradigms. All four core aspects of a generic OOP framework are supported by Python's object-oriented programming system: encapsulation, abstraction, inheritance, and polymorphism through the use of objects and classes.

#### Objects
An object is any entity that has attributes and behaviors. For example, a parrot is an object. It has

- attributes - name, age, color, etc.
- behavior - dancing, singing, etc.

#### Class
A class is a blueprint for that object.

In [27]:
class Book:
    #constructor
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.__price = price #private attribute for encapsulation
        self.__discount = None #private attribute for encapsulation
        
    def set_discount(self, discount):
        self.__discount = discount
        
    def get_price(self):
        if self.__discount:
            return self.__price * (1 - self.__discount)
        return self.__price
        
    #to print information specific to object instance    
    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.get_price()}"
    
#inheritance
class Novel(Book):
    def __init__(self, title, quantity, author, price, pages):
        #super keyword
        super().__init__(title, quantity, author, price)
        self.pages = pages
    
    #polymorphism
    def __repr__(self):
        return f"""Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, 
        Price: {self.get_price()}, Pages: {self.pages}"""
    
    
        
class Academic(Book):
    def __init__(self, title, quantity, author, price, field):
    #super keyword
        super().__init__(title, quantity, author, price)
        self.field = field
        
    #polymorphism
    def __repr__(self):
        return f"""Book: {self.title}, Quantity: {self.quantity}, 
        Author: {self.author}, Price: {self.get_price()}, Field: {self.field}"""
    

#to demonstrate encapsulation
single_book = Book("It starts with us", 1, "Colleen Hoover", 450)
books_in_bulk = Book("It starts with us", 33, "Coleen Hoover", 450)
books_in_bulk.set_discount(0.15)

print(single_book)
print(single_book.get_price())
print()
print(books_in_bulk)
print(books_in_bulk.get_price())
print("\n", "-"*30, "\n")

#to demonstrate inheritance
novel1 = Novel("It ends with us", 12, "Colleen Hoover", 500, 600)
novel1.set_discount(0.15)

print(novel1)

academic1 = Academic("Automate boring stuff with Python", 3, "Author", 800, "IT")
academic1.set_discount(0.15)

print(academic1)

Book: It starts with us, Quantity: 1, Author: Colleen Hoover, Price: 450
450

Book: It starts with us, Quantity: 33, Author: Coleen Hoover, Price: 382.5
382.5

 ------------------------------

Book: It ends with us, Quantity: 12, Author: Colleen Hoover,
        Price: 425.0, Pages: 600
Book: Automate boring stuff with Python, Quantity: 3,
        Author: Author, Price: 680.0, Field: IT

In the above example, we have created a class called Book. If a book is bought single, no discount is applied while if books are bought in bulk, discounts are applied.

- Constructor: __init__() method
- __repr__(): to specify what the object should return


#### Encapsulation: 
Encapsulation is the process of preventing clients from accessing certain properties, which can only be accessed through specific methods.

We have used private attributes __price and __discount for encapsulation. We use getter and setter methods to access private attributes. Here, we have used set_discount() method to specify discount of 15% for books bought in bulk.

#### Inheritance
A class's ability to inherit methods and/or characteristics from another class is known as inheritance.

The subclass or child class is the class that inherits. The superclass or parent class is the class from which methods and/or attributes are inherited.

Two new classes have been added to our bookseller's sales software: a Novel class and Academic class.

We can see that regardless of whether a book is classified as novel or academic, it may have some similar attributes like title and author, as well as common methods like get_price() and set_discount(). Rewriting all that code for each new class is a waste of time, effort, and memory.

#### super keyword
The super() is used to instantiate the child class with the help of the constructor in its parent class as shown in the child classes Novel and Academic.

#### Polymorphism
Polymorphism refers to a subclass's ability to adapt a method that already exists in its superclass to meet its needs.

The Book superclass has a specific method called __repr__.

Both the Novel subclass and Academic subclass is defined with its own __repr__ special method. They will invoke their own method by suppressing the same method present in their superclass book. This is polymorphism.

#### Multiple Inheritance

In [28]:
class SuperClass1:
    def info(self):
        print("Super Class 1 method called")

class SuperClass2:
    def info(self):
        print("Super Class 2 method called")

class Derived(SuperClass1, SuperClass2):
    pass

d1 = Derived()
d1.info()

Super Class 1 method called

In this example, the Method Reolution Order (MRO) specifies that methods should be inherited from the leftmost superclass first, so info() of SuperClass1 is called rather than that of SuperClass2.

#### Abstraction
Abstraction isn't supported directly in Python. Calling a magic method, on the other hand, allows for abstraction.

If an abstract method is declared in a superclass, subclasses that inherit from the superclass must have their own implementation of the method.

A superclass's abstract method will never be called by its subclasses. But the abstraction aids in the maintenance of a similar structure across all subclasses.

#### Operator Overloading - Polymorphism

In [1]:
class complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b
 
     # adding two objects
    def __add__(self, other):
        return self.a + other.a, self.b + other.b
 
Ob1 = complex(1, 2)
Ob2 = complex(2, 3)
Ob3 = Ob1 + Ob2
print(Ob3)

(3, 5)

In the above example, we performed addition of two complex numbers using operator overloading of the magic method __add__()