# Agenda

1. String formatting
2. Conditional statement




##### String formatting 

We have variables which have some value of imp

a,b,c sum result

print(*string*)

In [54]:
a=5
b=10
sum=a+b
print(sum)

15

In [55]:
print('The result is ' + sum)     # The problem here is one is string and one is int they cannot  be concenated

TypeError: can only concatenate str (not "int") to str

In [56]:
 # Now what i can do is convert it to string
    
print('The result is ' + str(sum))

The result is 15

In [57]:
# Another example

a='ravi gurjar'
b='961073'
c=25
d=23
e=133.31

In [58]:
print('The name is'+ (a)+ 'The contact number is'+(b))  # it will be hectic

The name isravi gurjarThe contact number is961073

In [59]:
 # Indted we can write
print("the name is %s and the age is %d and the number is %i"%(a,c,b))

TypeError: %i format: a real number is required, not str

In [60]:
 # Ins ted we can write
print("the name is %s and the age is %i and the number is %s" %(a,c,b))

the name is ravi gurjar and the age is 25 and the number is 961073

In [61]:
# The above method is  also a little bit confusing so here is a new way

## Dot(.) Format

In [62]:
a='ravi gurjar'
b='961073'
c=25
d=23
e=133.31

In [63]:
print("the name is {a} and the contact number is {b} and the age is {c} and the marks are {e}" %(a=a,b=b,c=c,d=d))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4113078691.py, line 1)

In [64]:
print("the name is {a} and the contact number is {b} and the age is {c} and the marks are {e}".format(a=a,b=b,c=c,e=e))

the name is ravi gurjar and the contact number is 961073 and the age is 25 and the marks are 133.31

In [65]:
# Aother method

In [66]:
 print("the name is {0} and the contact number is {1} and the age is {2} and the marks are {3}".format(a,b,c,e))

the name is ravi gurjar and the contact number is 961073 and the age is 25 and the marks are 133.31

In [67]:
# One more
print("the name is {name} and the contact number is {cnmbr} and the age is {age} and the marks are {marks}".format(name=a,cnmbr=b,age=c,marks=e))

the name is ravi gurjar and the contact number is 961073 and the age is 25 and the marks are 133.31

In [68]:
# only one more
 print(" the name is {} and the contact number is {} and the age is {} and the marks are {} ".format(a,b,c,d))

IndentationError: unexpected indent (112880762.py, line 2)

Now the problem is the same why to use so many complicated things insted we can solve it by 
F Format

# F format

In [69]:
a='ravi gurjar'
b='961073'
c=25
d=23
e=133.31

In [70]:

print("the name is {a} and the contact number is {b} and the age is {c} and the marks are {e} ")

the name is {a} and the contact number is {b} and the age is {c} and the marks are {e}

In [71]:
# dont miss f"
print(f"the name is {a} and the contact number is {b} and the age is {c} and the marks are {e} ")

the name is ravi gurjar and the contact number is 961073 and the age is 25 and the marks are 133.31

In [72]:
# For rounding off
print(f'the number is {e:2f}')   # Do not forget(.) before 2f

the number is 133.310000

In [73]:
 print(f'the number is {e:.2f}')

the number is 133.31

In [74]:
decinumber=3243.3534534

In [75]:
print(f'The number is {decinumber:0.2f}')

The number is 3243.35

## Decision control statement

IN our real life as well as industry we faces lot of situtions where we takes decision based on some control.

*Decision control statements are those statements which controls the flow of our program*

it allows us to decide whetehr a particular part of a program should run or not.


In Python, decision control statements are used to execute different parts of code based on certain conditions. The main decision control statements in Python are:

1. **if statement:** The `if` statement is used to execute a block of code if a specified condition is true.

    ```python
    x = 10
    if x > 5:
        print("x is greater than 5")
    ```

2. **if-else statement:** The `if-else` statement is used to execute one block of code if the condition is true, and another block of code if the condition is false.

    ```python
    x = 3
    if x % 2 == 0:
        print("x is even")
    else:
        print("x is odd")
    ```

3. **if-elif-else statement:** The `if-elif-else` statement is used to check multiple conditions. It executes the code block associated with the first `if` or `elif` condition that evaluates to true, or the `else` block if none of the conditions are true.

    ```python
    score = 75
    if score >= 90:
        print("Grade: A")
    elif score >= 80:
        print("Grade: B")
    elif score >= 70:
        print("Grade: C")
    else:
        print("Grade: D")
    ```

4. **Nested if statements:** You can also use if statements within other if statements, creating nested decision structures.

    ```python
    x = 10
    if x > 5:
        if x < 15:
            print("x is between 5 and 15")
    ```

These decision control statements allow you to control the flow of your program based on different conditions, making your code more flexible and powerful.

In [76]:
# Indentation is 'tab' or four spaces, statement run only when condition is true

## WAP to take a number and to check whether it is even or odd

In [77]:
num1=int(input('give me first number'))
if num1 is == /2:
    print('even number')
if num1 is == /3:
    print('odd number')

SyntaxError: invalid syntax (2889437128.py, line 2)

In [81]:
num1=int(input('give me first number'))
if num1 %2==0:
    print('even number')
if num1 %3==0:
    print('odd number')

give me first number69
odd number

### WAP to ask user if he is hungry else order desert

In [84]:
usermood=input('are you hungry user')
if usermood == 'yes':
    print('order food')
else:
    print('order desert')

are you hungry userno
order desert

In [89]:
number=int(input('give me number ill tell you whether it is even or odd'))
remander = number %2
if (remander==0):
    print('yo, your number is even')
else:
    print('yo, your number is odd')

give me number ill tell you whether it is even or odd8758586
yo, your number is even

In [92]:
marks = 87
passingMarks = 40
if(marks > passingMarks):
    print("your result is PASS")
    print("you can eat biryani as you are pass")
else:
    print("your result is FAIL")

your result is PASS
you can eat biryani as you are pass

In [94]:
marks = 40

if(marks >= 80):
    print ("your grade is A")
    print("you can eat biryani as you are pass")
if(marks >=60 and marks <80):
    print("your grade is B")
    print("you can eat cake as you are pass")
if (marks >=50 and marks <60) :
    print("your grade is B")
    print("you can eat cafe as you are pass")
else:
    print ("your result is FAIL")

your result is FAIL

# IF ELSE IF

In [96]:
marks = 40

if(marks >= 80):
    print ("your grade is A")
    print("you can eat biryani as you are pass")
elif(marks >=60 and marks <80):
    print("your grade is B")
    print("you can eat cake as you are pass")
elif (marks >=50 and marks <60) :
    print("your grade is B")
    print("you can eat cafe as you are pass")
elif marks >=40 and marks <50:
    print('your grade is D')
else:
    print ("your result is FAIL")

your grade is D

In [97]:
marks = 69

if(marks >= 80):
    print ("your grade is A")
    print("you can eat biryani as you are pass")
elif(marks >=60 and marks <80):
    print("your grade is B")
    print("you can eat cake as you are pass")
elif (marks >=50 and marks <60) :
    print("your grade is B")
    print("you can eat cafe as you are pass")
elif marks >=40 and marks <50:
    print('your grade is D')
else:
    print ("your result is FAIL")

your grade is B
you can eat cake as you are pass

In [98]:
marks = 99

if(marks >= 80):
    print ("your grade is A")
    print("you can eat biryani as you are pass")
elif(marks >=60 and marks <80):
    print("your grade is B")
    print("you can eat cake as you are pass")
elif (marks >=50 and marks <60) :
    print("your grade is B")
    print("you can eat cafe as you are pass")
elif marks >=40 and marks <50:
    print('your grade is D')
else:
    print ("your result is FAIL")

your grade is A
you can eat biryani as you are pass

## WAP a program to take a input a cahr from a user and show below.

1.A-Z - Capital letters

2.a-z - Small letters

3.0-9 - number

4.Special characters

In [111]:
char=input()

a

In [116]:
ord(char)

97

In below code ascii value is of 'a' is '97' and if we have to find a ascii value of 'z' then we can write it as 97+26( alphabets in english and z is the last one) -1

z=97+26-1

In [124]:
char = 'A'
asciiValue = ord(char)

if(asciiValue >=97 and asciivalue <= (97+26-1)) :
    print ("small character")
elif(asciiValue>=65 and asciiValue <= (65+26-1)) :
    print ("capital letter")
elif (asciiValue >=48 and asciivalue<=48+9):
    print("its a digit")
else:
    print("its a special character")

capital letter

In [125]:
# What if the person is a vegetarian and we have only non veg biriyani

In [126]:
### Nested if statement examples

In [127]:
hungry = True
money = 200

if (hungry):
    print('you are hungry')
    if money >=400:
        print('Go to restro')
    elif money >=200 and money <400:
        print('order online')
    else:
        print('put a towel on your stomach and sleep')
        print('this is indentation')
else:
    print('you are not hungry')
    if (money)>=0:
        print('INVEST IT')
    else:
        print('sleep')

you are hungry
order online

In [128]:
hungry = True
money = 800

if (hungry):
    print('you are hungry')
    if money >=400:
        print('Go to restro')
    elif money >=200 and money <400:
        print('order online')
    else:
        print('put a towel on your stomach and sleep')
        print('this is indentation')
else:
    print('you are not hungry')
    if (money)>=0:
        print('INVEST IT')
    else:
        print('sleep')

you are hungry
Go to restro

In [129]:
hungry = True
money = 0

if (hungry):
    print('you are hungry')
    if money >=400:
        print('Go to restro')
    elif money >=200 and money <400:
        print('order online')
    else:
        print('put a towel on your stomach and sleep')
        print('this is indentation')
else:
    print('you are not hungry')
    if (money)>=0:
        print('INVEST IT')
    else:
        print('sleep')

you are hungry
put a towel on your stomach and sleep
this is indentation