In [ ]:
print('1', '2', sep='+', end='-')
print('1', '2', end='+', sep='-')

1+2-1-2+

## Functions

In [ ]:
def my_absolute(x): # user defined function
  if x >= 0:
    return x
  else:
    return (-1)*x

IndentationError: ignored

In [ ]:
y = my_absolute(3.4)
print(y)

3.4

In [ ]:
z = my_absolute(-3.4)
print(z)

3.4

In [ ]:
print(my_absolute(-99.123))

99.123

## Distance function

In [ ]:
def distance_travelled(u, t, a = 9.8):
  s = u*t + 0.5*a*t*t

  return s

res = distance_travelled(0, 1) # a is not passed
print(res)

4.9

In [ ]:
res2 = distance_travelled(0, 1, 3.72)
print(res2)

1.86

In [ ]:
def print_date(d, m, y, style=0):
    if style == 0:  # American
        print(m, '/', d, '/', y)
    elif style == 1:  # European
        print(d, '/', m, '/', y)
    else:
        print('Invalid Style')

print_date(30, 5, 2022)

5 / 30 / 2022

In [ ]:
def print_date(d=1, m=1, y=2000, style=0):
    if style == 0:  # American
        print(m, '/', d, '/', y)
    elif style == 1:  # European
        print(d, '/', m, '/', y)
    else:
        print('Invalid Style')

print_date(d=30, y=2022)
print_date(30, 1)

print_date(30, 1, style=1, y=2022) # d and m are positional,
# style and y are keyword

# print_date(30, 1, style=1, y=2022, d=29)

1 / 30 / 2022
1 / 30 / 2000
30 / 1 / 2022

## Keyword Arguments

In [ ]:
print('5', '3', '2')

5 3 2

In [ ]:
print('5', '3', '2', sep='+')

5+3+2

In [ ]:
print('5', '3', '2', '+')

5 3 2 +

In [ ]:
def print_book_description(title, author, publisher, year, version, num_pages):
  print("The book's title is:", title)
  print("The book's author is:", author)
  print("The book's publisher is:", publisher)
  print("The book's year is:", year)
  print("The book's version is:", version)
  print("The book's has these many pages:", num_pages)

print_book_description('The Lord of the Rings', 'J. R. R Tolkien',
                       'George Allen & Uwin', 1954, 1.0, 456)

The book's title is: The Lord of the Rings
The book's author is: J. R. R Tolkien
The book's publisher is: George Allen & Uwin
The book's year is: 1954
The book's version is: 1.0
The book's has these many pages: 456

In [ ]:

s = "Sahil\"s"

print(s)

Sahil"s

In [ ]:
print_book_description('J. R. R Tolkien', 'The Lord of The Rings',
                       'George Allen & Uwin', 1954, 1.0, 456)

The book's title is: J. R. R Tolkien
The book's author is: The Lord of The Rings
The book's publisher is: George Allen & Uwin
The book's year is: 1954
The book's version is: 1.0
The book's has these many pages: 456

In [ ]:
print_book_description(author='J. R. R Tolkien', title='The Lord of The Rings',
                       publisher='George Allen & Uwin',
                       year=1954,
                       version=1.0,
                       num_pages=456)

The book's title is: The Lord of The Rings
The book's author is: J. R. R Tolkien
The book's publisher is: George Allen & Uwin
The book's year is: 1954
The book's version is: 1.0
The book's has these many pages: 456

## Quiz

In [ ]:
def print_date(d=1, m=1, y=2022, s=0):
    if s == 0:  # American
        print(m, '/', d, '/', y)
    elif s == 1:  # European
        print(d, '/', m, '/', y)
    else:
        print('Invalid Style')

print_date(d=30, y=2022)

1 / 30 / 2022

## Some Important Library Functions

In [ ]:
s = abs(-1)
print(S)

NameError: ignored

In [ ]:
s = abs(-1) # in-built function, present in the default library
print(s)

1

In [ ]:
max_of_three = max(3, 1, 2)

print(max_of_three)

3

In [ ]:
res_max = max(3, 1, 2, 100, 124, 52, 35)

print(res_max)

124

In [ ]:
x = sqrt(10)
print(x)

NameError: ignored

## Math library

In [ ]:
import math

In [ ]:
print(type(math))

<class 'module'>

In [ ]:
x = math.sqrt(10)
print(x)

3.1622776601683795

In [ ]:
y = 10**(1/2)
print(y)

3.1622776601683795

In [ ]:
x = 9**2
print(x)

81

In [ ]:
z = 9**3
print(z)

729

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
print(math.ceil(9.6))

10

In [ ]:
print(math.sqrt(1001))

31.63858403911275

In [ ]:
print(math.sqrt(1332))

36.49657518178932

In [ ]:
int(36.49657518178932)

36

In [ ]:
print(36*36)

1296

In [ ]:
print(3.14*72*72)

16277.76

In [ ]:
x = 16277.76
print(math.ceil(x))

16278

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
print(math.pi * 72*72)

16286.016316209487

In [ ]:
y = 16286.016316209487
print(math.ceil(y))

16287

## Doubts

In [ ]:
def add(x, y):
  return x + y

r = add(1, 3)
z = add(2.5, 6.5)
y = add(3, 9)

print(r + z + y)

25.0

In [ ]:
1.0 == 1 # it is same as 1.0 == 1.0, automatically type conversion happens
# for 1

True

In [ ]:
-1.0 == 1

False