# PW Skills Day 1

In [1]:
print("this")

this

In [3]:
print('that')

that

# heading

In [2]:
1+3

4

In [3]:
print(1+2)

3

## This is cool

In [5]:
print('''mu name is samarth i live in bngaloire  also in khamgaon
,pune and banagleore and buldhaba''')

mu name is samarth i live in bngaloire  also in khamgaon
,pune and banagleore and buldhaba

In [6]:
print(123)

123

In [9]:
print('hi')

hi

# Formating Techinque - F String

In [10]:
name = "samarth"
print(f'My name is {name}')

My name is samarth

In [ ]:
#Formating Technique .Format Method

In [11]:
name = 'samarth'
age = 32
print('My name is {} and age{}'.format(name,age))

My name is samarth and age32

In [12]:
#Placeholder, here we have mention about the place holder
name = 'samarth'
age = 32
print('My name is {myname} and age{myage}'.format(myname=name,myage=age))

My name is samarth and age32

In [13]:
#using Index to map the variable, here it is necesary to mantain the index python index starts with 0
name = 'samarth'
age = 32
print('My name is {0} and age{1}'.format(name,age))

My name is samarth and age32

In [18]:
#practice using F- String method and 
name = 'samarth'
age = 32
degree = 'BE'
print(f'My age is {age} and I have completed degree in : {degree} with the name of {name}')

#Practice with Format String
print('\nIn Format string method - Using Index Method')
print('My age is {0} and I have completed degree in : {1} with the name of{2}'.format(age,degree,name))
#Practice with Format String - Place Holder Mapping - here you can add one more variable to assign another variable
print('\nIn Format string method - Using Index Method')
print('My age is {myage} and I have completed degree in : {edu} with the name of{nam}'.format(myage=age,edu=degree,nam=name))

My age is 32 and I have completed degree in : BE with the name of samarth

In Format string method - Using Index Method
My age is 32 and I have completed degree in : BE with the name ofsamarth

In Format string method - Using Index Method
My age is 32 and I have completed degree in : BE with the name ofsamarth

# Control Flow
#Decision Making Statements

In [21]:
if 18>=5:
    print("You can vote now")

You can vote now

In [28]:
customner_number = int(input("Please Enter a number : "))
last_number = str(customner_number).
if (int(customner_number)%3) == 0:
    print("The given number is divided by 3")
else: print("Number is not divide")

Please Enter a number : 11
Number is not divide

In [30]:
age = int(input("Input your agr :")) # Check can be applicable here itself to stop the usage

Input your agr :2

In [31]:
age = int(input('pleae inset your age : '))
if age >= 18 and age <=45:
    print("You are young blood ")

pleae inset your age : 34
You are young blood

In [5]:
pro_price = int(input("pls tell the product price"))
if pro_price >= 100:
    print('Wow 20 % discount applicable',pro_price -pro_price/100 *20 ,"is new price")
elif pro_price<= 100:
    print("there is less offer here, your product proce is",pro_price)

pls tell the product price122
Wow 20 % discount applicable 97.6 is new price

In [1]:
input("ff")

ffdd

'dd'

In [8]:
prod_cost = int(input("Pleae insert the producion cost : "))
if prod_cost > 3000:
    print("you are getting discount of 20% your new prod_cost is :",0.8*prod_cost)
elif prod_cost >= 2000 and prod_cost <= 3000:
    print('you are getting almost 30% discount',prod_cost*0.7)
elif prod_cost >= 1000 and prod_cost < 2000:
    print('40% discount')
else:
    print("No Discount Avaulbe")

Pleae insert the producion cost : 23
No Discount Avaulbe

In [9]:
'sam'.upper().lower().isalnum()

True

In [12]:
Name = ‘pwskills’

Name[0] = ‘P’

SyntaxError: invalid character '‘' (U+2018) (22824629.py, line 1)

In [13]:
1/False

ZeroDivisionError: division by zero

In [14]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [22]:
sa= 32

In [20]:
print('hw')

hw

In [18]:
#Single Statements - you can write if and else in single line Suites
val = 200
if(val>10):print("yes its working")
else:
    print('the number is not greater')

yes its working

In [23]:
print("hello world this is master")

hello world this is master

In [25]:
#Loops - inp ython
#While Loop
#For Loop
#nested loop

In [30]:
#While Loop
x =1
while x <=10:
    print("Number Matching: ",x)
    x=x+1
else:
    print("Now the date is above 10 the value need to be go out of the loop")

Number Matching:  1
Number Matching:  2
Number Matching:  3
Number Matching:  4
Number Matching:  5
Number Matching:  6
Number Matching:  7
Number Matching:  8
Number Matching:  9
Number Matching:  10
Now the date is above 10 the value need to be go out of the loop

In [32]:
#ATM machine 1000 rupee, every transaction 100 rupee what are next steps
ATM_Value = 1000
while ATM_Value >= 100:
    ATM_Value = ATM_Value - 100
    print(ATM_Value)
else:
    print("Your money is over, find a high paying job ASAP")

900
800
700
600
500
400
300
200
100
0
Your money is over, find a high paying job ASAP

In [36]:
#For Loop
fruit = ['Apple','Banana','Chiku']
for x in fruit:
    print(x)
print(fruit[0:2])

Apple
Banana
Chiku
['Apple', 'Banana']

In [39]:
roll = [1,2,3,4,5,6]
for n in roll:
    print(n,end='') # here default end is \n I am redefining that

123456

In [45]:
x = range(1,10)
for y in x:
    print(y,end='')

123456789

In [47]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [48]:
print("\rsamarth")

samarth

In [51]:
if 1 > 5 :
    break
else:
    print("Hello World")

SyntaxError: 'break' outside loop (2563135510.py, line 2)

# Loop Control System - Break, Pass and Continue

In [55]:
x = range(1,10)
for i in x:
    if i == 5:
        print("I hold the number 5")
        break
    print(i)

1
2
3
4
I hold the number 5

In [59]:
#Pass Statement
x = range(1,10)
for i in x:
    if i == 5:
        print("I hold the number 5")
        pass
    print(i)

1
2
3
4
I hold the number 5
5
6
7
8
9

In [71]:
#Continue Statement
for a in range(1,10):
    if a%2 ==0:
        continue
    print(a)

1
3
5
7
9

IndentationError: expected an indented block (927810310.py, line 3)