In [1]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

Built-in Functions:
abs, aiter, all, anext, any, ascii, bin, bool, breakpoint, bytearray, bytes, callable, chr, classmethod, compile, complex, delattr, dict, dir, divmod, enumerate, eval, exec, filter, float, format, frozenset, getattr, globals, hasattr, hash, help, hex, id, input, int, isinstance, issubclass, iter, len, list, locals, map, max, memoryview, min, next, object, oct, open, ord, pow, print, property, range, repr, reversed, round, set, setattr, slice, sorted, staticmethod, str, sum, super, tuple, type, vars, zip

### abs(x): Returns the absolute value of a number.

In [4]:
abs(-5)

5

### all(iterable): Checks if all elements in a collection are True (or if the collection is empty(empty is True)).

In [6]:
all([1,2,3,5])

True

### any(iterable): Checks if at least one element in a collection is True. False if empty.

In [8]:
any([1,2,3,0])

True

### ascii(object): Returns a string containing a printable representation of an object, escaping non-ASCII characters.
#This helps you see a "computer-friendly" version of text, especially useful for special characters.

In [9]:
ascii('caf√©')

"'caf\\xe9'"

### bin(x): Converts an integer to a binary string prefixed with "0b"
#number is represented in binary (base-2) format, which is how computers fundamentally store numbers.

In [10]:
bin(10)

'0b1010'

### bool(x): Converts a value to Boolean (True or False).
#Most non-zero numbers and non-empty collections are considered True.

In [11]:
print(bool(1))
print(bool(0))
print(bool())

True
False
False

### callable(object): Checks if an object appears to be callable (like a function)and returns True, otherwise False. 
#This tells you if something can be "called" (used like a function with parentheses).

In [12]:
callable(print)

True

In [14]:
callable('hello')

False

### chr(i): Converts an integer to its corresponding Unicode character

In [15]:
print(chr(65))  
print(chr(97))

A
a

### complex: Creates a complex number.

In [16]:
z = complex(2, 3)
print(z)

(2+3j)

### dict: Creates a dictionary

In [17]:
d = dict(name="John", age=30)
print(d)

{'name': 'John', 'age': 30}

### dir: Returns a list of valid attributes for the object

In [22]:
str='2.5'
str=int(float(str))
print(str)

2

### zip

In [46]:
a=('a','b','c')
b=('d','e','f')
print("zipped: ",tuple(zip(a,b)))

zipped:  (('a', 'd'), ('b', 'e'), ('c', 'f'))

In [51]:
for i in tuple(zip(a,b)):
    print(i[1])

d
e
f

In [53]:
a=('a','b','c')
b=('d','e','f')
li = []
for i in tuple(zip(a,b)):
    li.append(i[1])
print(li)

['d', 'e', 'f']

In [52]:
a = ('a', 'b', 'c')
b = ('d', 'e', 'f')
zipped = tuple(zip(a, b))
print("zipped: ",zipped)

second_elements = []
for i in zipped:
    second_elements.append(i[1])

print(second_elements)

zipped:  (('a', 'd'), ('b', 'e'), ('c', 'f'))
['d', 'e', 'f']

### enumerate()
when dealing with iterators, we also need to keep a count of iterations. The enumerate () method adds a counter to an iterable and returns it in the form of an enumerating object.

enumerate(iterable, start=0)

In [56]:
a = ['bread', 'milk', 'butter']
enu_a = enumerate(a)
print(list(enu_a))

enu_a = enumerate(a, 10)
print(list(enu_a))

[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [55]:
lang = ['Python', 'Java', 'JavaScript']

# enumerate the list
enumerated = enumerate(lang,3)
print(enumerated)

# convert enumerate object to list
print(list(enumerated))

<enumerate object at 0x00000259BCE970B0>
[(3, 'Python'), (4, 'Java'), (5, 'JavaScript')]

In [59]:
grocery = ['bread', 'milk', 'butter']

for i in enumerate(grocery,5):
  print(i)

print()
for count, i in enumerate(grocery):
  print(count, i)

print()
for count, i in enumerate(grocery, 100):
  print(count, i)

(5, 'bread')
(6, 'milk')
(7, 'butter')

0 bread
1 milk
2 butter

100 bread
101 milk
102 butter

In [66]:
a = ['bread', 'milk', 'butter']

enu_a = enumerate(a)

next_element = next(enu_a)

print(f"Next Element: {next_element}")

Next Element: (0, 'bread')

In [67]:
b = ['apple', 'banana', 'cherry']
for count, i in enumerate(reversed(b)):
    print(len(b) - count - 1, i)

2 cherry
1 banana
0 apple

### float
float() function converts the specified value into a floating point number.

In [73]:
num = 25

float_number = float(num)
print(float_number)

print(float("nan"))
print(float("inf"))

25.0
nan
inf

In [70]:
#print(float("abc"))
#string cannot be converted into float

### help 
used to execute the built-in help system

In [76]:
#help(list)
#help(dict)
#help(print)
#help([1, 2, 3])

In [77]:
help()

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

### input()
used to derive input from the user

In [79]:
name = input("Enter your name: ")
print(name)

Enter your name:  sree

sree

### int()
converts the specified value(string or number) into an integer number

In [31]:
print(int("123"))
print(int(3.14))

123
3

### isinstance 
Checks if an object is of a specified type.

In [35]:
x = 5
print(isinstance(x, int))
print(isinstance("hello", str))
print(isinstance("hello", int))

True
True
False

### len()
Returns the number of items in an object

In [38]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))
print(len("hello"))

5
5

### list()
Creates a list object

In [41]:
print(list(range(5)))

[0, 1, 2, 3, 4]

### map()
Applies a function to all items in an input list

In [60]:
numbers = [1, 2, 3, 4, 5]
print(list(map(lambda x: x * 2, numbers))) #converts all the numbers list to its square using lambda
#A lambda function can take any number of arguments, but can only have one expression.
#lambda arguments : expressions

[2, 4, 6, 8, 10]

In [48]:
print(list(map(str, [1, 2, 3]))) #converts a number to string

['1', '2', '3']

In [78]:
print(tuple(map(str, [1, 2, 3])))
print(set(map(str, [1, 2, 3])))
print(list(map(int, [1,2,3])))

('1', '2', '3')
{'2', '1', '3'}
[1, 2, 3]

### max()
Returns the largest item from arguments.

In [9]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers))

5

### min()
Returns the smallest item from arguments.

In [11]:
numbers = [1, 2, 3, 4, 5]
print(min(numbers))

1

### print()
Outputs to the console.

In [13]:
print("Hello, World!")

Hello, World!

In [80]:
print("Hello", "World", sep="-")  # Uses separator
print("Hello", "World", sep=":")

Hello-World
Hello:World

### range()
Generates a sequence of numbers.

In [84]:
for i in range(5):
    print(i*2)

0
2
4
6
8

In [86]:
print(list(range(2, 10, 2)))# Creates even numbers from 2 to 8
print(list(range(1,20,4)))

[2, 4, 6, 8]
[1, 5, 9, 13, 17]

### reversed()
Reverses a sequence.

In [17]:
numbers = [1, 2, 3, 4, 5]
print(list(reversed(numbers)))

[5, 4, 3, 2, 1]

In [92]:
print(''.join(reversed("hello")))

olleh

print(reversed("hello")) #use ''.join

''.join(...): This is where we construct the reversed string:
---> '' is an empty string.
---> join() is a string method that concatenates the elements of an iterable.
---> The empty string '' is used as the separator between the characters.

### round()
Rounds to nearest integer

In [19]:
print(round(3.14159, 2))

3.14

### set()
Creates a set of objects

In [21]:
my_set = set([1, 2, 2, 3, 4, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [96]:
print(set("hello"))  # Creates a set from a string

{'h', 'o', 'e', 'l'}

### sorted()
Returns a new sorted list from an iterable

In [23]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
print(sorted(numbers))

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [99]:
print(sorted("hello"))  # Sorts characters of a string

['e', 'h', 'l', 'l', 'o']

### str()
Converts an object to a string

In [102]:
print(str(3.14))  # Converts float to string

3.14

In [25]:
number = 123
print(str(number))

123

### sum()
Adds items

In [105]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

print(sum([1, 2, 3], 10))

15
16

### type()
Returns the type of an object

In [29]:
x = 5
y="string"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [110]:
print(type([1, 2, 3]))
print(type((1, 2, 3)))
print(type({1, 2, 3}))

<class 'list'>
<class 'tuple'>
<class 'set'>