In [4]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

a = 'Skills'

In [5]:
a

'Skills'

In [6]:
l=[1,2,'sk',(3+4j),43.5,True]

In [7]:
l

[1, 2, 'sk', (3+4j), 43.5, True]

In [8]:
b = 43.5

In [10]:
b

43.5

In [11]:
t= (1,2,3,(3+4j),43.5,[1,2,3,4,True])

In [12]:
t

(1, 2, 3, (3+4j), 43.5, [1, 2, 3, 4, True])

In [13]:
# ANSWER TO QUESTION 1
y= ('abc',[1,2,'sk',(3+4j),43.5,True],54.5,(1,2,3,(3+4j),43.5,[1,2,3,4,True]))

In [14]:
y

('abc',
 [1, 2, 'sk', (3+4j), 43.5, True],
 54.5,
 (1, 2, 3, (3+4j), 43.5, [1, 2, 3, 4, True]))

In [16]:
type(y)

tuple

In [18]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''


var1 = ' '

In [20]:
type(var1)

str

In [22]:
var2 = type('[ DS , ML , Python]')

In [23]:
var2

str

In [25]:
var3 = type([ 'DS' , 'ML' , 'Python' ])

In [26]:
var3

list

In [27]:
var4 = type(1.)

In [28]:
var4

float

In [29]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''
#  / divisor  ; % remainder  ; // divisor  ; ** power values
mac1 = 4/2

In [30]:
mac1

2.0

In [31]:
mac2= 4%2

In [32]:
mac2

0

In [36]:
mac3 = 12//2

In [37]:
mac3

6

In [39]:
mac4 = 2**3

In [40]:
mac4

8

In [41]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [64]:
lis = [1,2,84,237648,(9+8j),3627547.8273456,True,34,54,'subh']
for i in lis :
    print(i)
    print(type(i))
    i += 1

1
<class 'int'>
2
<class 'int'>
84
<class 'int'>
237648
<class 'int'>
(9+8j)
<class 'complex'>
3627547.8273456
<class 'float'>
True
<class 'bool'>
34
<class 'int'>
54
<class 'int'>
subh
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [103]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

i= 12
n= 3
while n<i:
    if i%n == 0:
        a=i+0:
             print(a)
            i= i+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [79]:
'''Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

'Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [80]:
range(25)

range(0, 25)

In [87]:
l = list(range(0,25))

In [100]:
for i in l:
    if l[i]%3 == 0:
        print(l[i]," ","  Divisible By 3")

0     Divisible By 3
3     Divisible By 3
6     Divisible By 3
9     Divisible By 3
12     Divisible By 3
15     Divisible By 3
18     Divisible By 3
21     Divisible By 3
24     Divisible By 3

In [2]:
'''What do you understand about mutable and immutable data types? Give examples for both showing
this property'''

'What do you understand about mutable and immutable data types? Give examples for both showing\nthis property'

In [3]:
#String type data is immutable where as List type of data are mutable type records

In [4]:
s = 'Subrat'

In [5]:
s

'Subrat'

In [9]:
s[1]

'u'

In [10]:
# but when we try to change the value for a particular index in string it doesn't allow us

In [11]:
s[1] = 'a'

TypeError: 'str' object does not support item assignment

In [12]:
#if we try to the same for a list it helps us to mutate

In [13]:
l = [1,2,3,'Subrat','skills',True]

In [14]:
l

[1, 2, 3, 'Subrat', 'skills', True]

In [15]:
l[4]

'skills'

In [16]:
l[4] = 'Tech_Skills'

In [17]:
l

[1, 2, 3, 'Subrat', 'Tech_Skills', True]

In [ ]:
# here we can make the changes to existing data in a particular index location